<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: sitemap.html 1007 2011-06-02 18:33:24Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/sitemap.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Plan du Site</h1>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h2 class="fnat">Utilitaires</h2>
								<ul class="sitemap">
									<li><a href="/utilitaire/big_red/2011">Big Red 2011</a></li>
									<li><a href="/utilitaire/trx500pg_cte_/2011">TRX500PG Canadian Trail Edition Rubicon 2011</a></li>
									<li><a href="/utilitaire/trx500_cte_se/2011">TRX500PG Canadian Trail Edition Rubicon SE 2011</a></li>
									<li><a href="/utilitaire/trx500fm_foreman/2011">TRX500FM Foreman 2011</a></li>
									<li><a href="/utilitaire/trx500fm_foreman_se/2011">TRX500FM Foreman SE 2011</a></li>
									<li><a href="/utilitaire/trx420pg_cte/2011">TRX420PG Canadian Trail Edition 2011</a></li>
									<li><a href="/utilitaire/trx420pg_cte_se/2011">TRX420PG Canadian Trail Edition SE 2011</a></li>
									<li><a href="/utilitaire/trx420fm/2011">TRX420FM 2011</a></li>
									<li><a href="/utilitaire/trx420fm_se_/2011">TRX420FM SE 2011</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Sport</h2>
								<ul class="sitemap">
									<li><a href="/sport_fr/trx250x/2011">TRX250X 2011</a></li>
									<li><a href="/sport_fr/trx90x/2011">TRX90X 2011</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Récréatifs</h2>
								<ul class="sitemap">
									<li><a href="/utilitaire/big_red/2011">Big Red 2011</a></li>
									<li><a href="/recreatifs/trx680f_rincon/2011">TRX680F Rincon 2011</a></li>
									<li><a href="/utilitaire/trx500pg_cte_/2011">TRX500PG Canadian Trail Edition Rubicon 2011</a></li>
									<li><a href="/utilitaire/trx500_cte_se/2011">TRX500PG Canadian Trail Edition Rubicon SE 2011</a></li>
									<li><a href="/utilitaire/trx420pg_cte/2011">TRX420PG Canadian Trail Edition 2011</a></li>
									<li><a href="/utilitaire/trx420pg_cte_se/2011">TRX420PG Canadian Trail Edition SE 2011</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<h2 class="fnat">L'Avantage Honda</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<ul class="sitemap">
									<li><a href="/avantage-honda">Aperçu</a></li>
									<li><a href="/avantage-honda">Pourquoi acheter un Honda?</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<h2 class="fnat">Outils d'achat</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<ul class="sitemap">
									<li><a href="/comparer">Comparer des modèles</a></li>
									<li><a href="/nouvelles">Nouvelles et événements</a></li>
									<li><a href="/offres-speciales">Offres Spéciales</a></li>
								</ul>
							</li>
							<li class="fl">
								<ul class="sitemap">
									<li><a href="/pieces-service">Pièces et Service</a></li>
											<li><a href="#">Produits commerciaux</a></li>
									<li><a href="/location-et-financement">Location et financement</a></li>
								</ul>
							</li>
							<li class="fl">
								<ul class="sitemap">
									<li><a href="/accessoires">Accessoires</a></li>
									<li><a href="/trouver-concessionaire">Trouver un concessionnaire</a></li>
									<li><a href="/construisezvotreatv">Configuration et prix</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h2 class="fnat">Location et financement</h2>
								<ul class="sitemap">
									<li><a href="/location-et-financement">Aperçu</a></li>
									<li><a href="/location-et-financement/options-de-location">Options de Location</a></li>
									<li><a href="/location-et-financement/options-de-financement">Options de Financement </a></li>
									<li><a href="/location-et-financement/demande-de-credit">Demande de Crédit</a></li>
									<li><a href="/location-et-financement/questions-frequentes">Questions Fréquemment Posées</a></li>
									<li><a href="/location-et-financement/contactez-nous">Nous Joindre</a></li>
									<li><a href="/location-et-financement/protection-de-la-vie-privee">Vie privée</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Accessoires</h2>
								<ul class="sitemap">
									<li><a href="/accessoires">Aperçu</a></li>
									<li><a href="/accessoires/trouver-des-accessoires">Recherche d'accessoires</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Pièces et Service</h2>
								<ul class="sitemap">
									<li><a href="/pieces-service">Pourquoi Choisir le Service Honda?</a></li>
									<li><a href="/pieces-service/pieces-honda-d-origine">Pièces Honda d’origine</a></li>
									<li><a href="/pieces-service/calendrier-dentretien">Calendrier d’entretien</a></li>
									<li><a href="/pieces-service/guide-de-preparation">Guide Pré-randonnée</a></li>
									<li><a href="/pieces-service/garantie">Garantie</a></li>
									<li><a href="/pieces-service/conseils-sur-le-remisage">Conseils de Remisage</a></li>
									<li><a href="/pieces-service/site-des-proprietaires">Site du Propriétaire</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h2 class="fnat">Sécurité</h2>
								<ul class="sitemap">
									<li><a href="/securite">Guide d'utilisation Sécuritaire</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Nouvelles et vénements</h2>
								<ul class="sitemap">
									<li><a href="/nouvelles">Nouvelles</a></li>
									<!--<li><a href="#">Événements ** add when events are in</a></li>-->
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Vêtements et Équipement </h2>
								<ul class="sitemap">
									<li><a href="/gear-apparel/safety-riding-apparel/fr">Vêtements de Conduite et de Sécurité</a></li>
									<li><a href="/gear-apparel/safety-riding-apparel/fr">Vêtements Pour Femmes</a></li>
									<li><a href="/gear-apparel/safety-riding-apparel/fr">Bottes et Gants de Conduite</a></li>
									<li><a href="/gear-apparel/safety-riding-apparel/fr">Vêtements Hors Route Fox/Honda</a></li>
								</ul>
							</li>
							</s
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->