<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-accessories-overview">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<img src="/_Global/img/temp/banner-accessories-placeholder.gif" alt="" />
					</div>
					<div class="content_section">
						<h1>Accessories</h1>
						<div class="fc accessories-content">
							<div class="fl accessories-content-area">
								<h2 class="small">News</h2>
								<div class="sub_section first_subsection">
									<h3>Don't be stranded by a dead battery.</h3>
									<p>In order to maintain the peak performance of your motorcycle's battery it needs to have its charge maintained. The Honda Optimate 3+ battery charger is a complete at-home 12V battery charging system that tests, maintains, and optimizes your battery's output while at the same time extending its life cycle. Let the Optimate 3+ maintain your motorcycle's battery so you can just turn the key and ride! Visit your local Honda dealer for Honda's Exclusive promotional offer on the Honda Optimate 3+. For more information on battery maintenance<nobr> <a href="/mc/parts-service-overview.html">click here</a>.</nobr></p>
								</div>
							</div>
							<div class="fr accessories-side-image">
								<img src="/_Global/img/temp/accessories-side-placeholder.gif" alt="" />
							</div>
						</div>
						<div class="accessories-footer">
							<img src="/_Global/img/temp/accessories-footer-placeholder.gif" alt="" />
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->