<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf find">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Find Accessories</h1>
						
						<div class="fc questions">
							<div class="question question1">
								<h3>Select a Category</h3>
								<select>
									<option>Select One</option>
									<option selected="selected">On Road</option>
								</select>
							</div>
							<div class="question question2">
								<h3>Select a Model</h3>
								<select>
									<option>Select One</option>
									<optgroup label="Touring">
										<option>HRX2172VKC</option>
										<option>HRX2172HXC</option>
										<option>HRX2172HMC</option>
									</optgroup>
									<optgroup label="Cruiser">
										<option selected="selected">VT1300CX FURY</option>
										<option>HRS2163SDC</option>
										<option>HRR2166PDC</option>
										<option>HRR2166VKC</option>
									</optgroup>
								</select>
							</div>
						</div>
					</div>
					<div class="fc content_section product">
						<div class="fl product_name">
							<div class="h1">VT1300CX FURY</div>
							<div class="h2">Cruiser</div>
							
							<div class="price">
								<span class="price-value"><sup>$</sup>15,499</span>
								<span class="price-label">MSRP</span>
							</div>
						</div>
						<div class="fr product_image">
							<img src="/_Global/img/temp/accessories-results-placeholder.gif" alt=""		width="300" height="199" />
						</div>
					</div>
					<div class="nb content_section">
						<div class="bar">
							<h2>VT1300CX FURY Accessories</h2>
						</div>
						
						<ul class="accessories-list">
							<li class="fc">
								<a class="item">
                                    Phasellus scelerisque nulla.<br />
                                    <q class="part-number">Part #: 123-45678-90X</q>
								</a>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc">
								<span class="item">Phasellus scelerisque nulla</span>
								<span class="price">$89.75</span>
							</li>
							<li class="fc last">
								<a href="#" class="item">Phasellus scelerisque nulla</a>
								<span class="price">$89.75</span>
							</li>
						</ul>						
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->