<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-build-price">
<!-- BEGIN: PAGE SPECIFIC STYLES -->
<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
     be moved inside <head> and after site css links. -->
<link rel="stylesheet" href="/_Global/css/sections/build-price.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/_Global/css/atv/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
<!-- END  : page SPECIFIC STYLES -->
<form>
<!--#include virtual="/shared/inc/build-price/build-it.html"-->
</form>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/build-it.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->
