<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="options">
						<div class="content_section first_section">
							<h1>Options <span>de location</span></h1>
							<p class="large">À titre de client locataire, vous ne payez qu’une partie du coût de la motocyclette, la partie que vous utilisez pendant qu’elle est en votre possession. Les taxes seront comprises dans votre versement mensuel plutôt qu’ajoutées au coût de la motocyclette. En signant un contrat de location, vous consentez à faire un versement mensuel, à maintenir en vigueur une police d’assurance adéquate, à payer les taxes et les frais d’immatriculation exigibles, et à prendre bien soin de la motocyclette pendant toute la durée de votre contrat.</p>
						</div>
						<div class="fc content_section">
							<div class="fl lease_options_lists">
								<h2 class="small">Voici les avantages de louer votre véhicule auprès de Services financiers Honda :</h2>
								<ul>
									<li>Une motocyclette neuve plus souvent : Grâce à des versements mensuels plus bas pendant une période plus courte, vous pouvez vous procurer une motocyclette neuve plus souvent.</li>
									<li>Versements mensuels bas : Les versements de location sur une motocyclette donnée sont normalement plus bas que les paiements de financement sur la même motocyclette.</li>
									<li>Location fermée : À l’échéance de votre contrat, vous pouvez choisir d’acheter la motocyclette au prix préétabli indiqué sur le contrat plus les taxes exigibles ou de la retourner sans plus d’obligations. Si vous décidez de retourner la motocyclette, il suffit que vous n’ayez pas dépassé la limite de kilométrage, que vous ayez payé toute amende exigible et que la motocyclette ne présente pas d’usure ou de détérioration excessive.</li>
									<li>Aucuns frais : Services financiers Honda n’exige aucuns frais d’administration, de résiliation anticipée, d’échéance de contrat ou de cession de véhicule.</li>
									<li>Protection automatique en cas de perte totale (GAP) : Si votre véhicule loué était impliqué dans un accident, vandalisé ou volé, il pourrait être déclaré perte totale. Pour une compagnie d’assurance, « perte totale » signifie la perte de la valeur marchande réelle moins votre franchise. Il se peut alors que la somme que vous verse votre assureur ne suffise pas à couvrir votre obligation financière. Notre location à valeur future vous protège contre une telle situation. L’écart monétaire entre le règlement que verse votre assureur et la somme de votre franchise et de l’obligation financière que stipule votre contrat est automatiquement couvert par votre assurance en cas de perte totale (GAP ou Guaranteed Asset Protection). Certaines conditions peuvent entrer en ligne de compte. Voyez votre concessionnaire pour les détails.</li>
									<li>Périodes variables</li>
									<li>Gardez plus d’argent à dépenser ou à investir</li>
								</ul>
							</div>
							<div class="fr lease_options_lists">
								<h2 class="small">Ce dont vous devez tenir compte :</h2>
								<ul>
									<li>Responsabilité d’assurer le véhicule : Vous êtes responsable de la couverture d’assurance. La couverture requise est normalement indiquée dans votre contrat de location.</li>
									<li>Acompte de location : Aucun acompte n’est exigé lorsque vous louez. Mais vous pouvez choisir de verser un acompte afin de réduire votre versement mensuel. L’acompte en cas de location ne peut dépasser 30 % du prix total du véhicule loué.</li>
									<li>Montant dû à la livraison : La plupart des contrats de location exigent un premier paiement mensuel à la livraison du véhicule. Il est constitué d’un dépôt de sécurité remboursable et de divers frais.</li>
									<li>Responsabilité d’entretien : Vous avez la responsabilité d’entretenir la motocyclette. Le calendrier d’entretien se trouve dans le manuel du propriétaire.</li>
									<li>Usure et détérioration excessives : Déterminé à la fin du contrat, p. ex. : bosses, dommages à la peinture, équipement qui n’est plus sur le véhicule, verre fissuré ou écaillé, dommages mécaniques, selle trouée, déchirée ou brûlée.</li>
									<li>Kilométrage permis : Honda Canada Finance Inc. alloue 18 000 km par année. Au moment de la signature du contrat, vous pouvez acheter des kilomètres additionnels.</li>
									<li>Prix de la motocyclette louée (prix total de la motocyclette) : C’est le prix de transaction, il sert aussi à calculer votre versement mensuel. Les taxes ne sont pas comprises dans ce prix, mais il comprend tout l’équipement, les accessoires, les frais de transport et les autres frais que facture le concessionnaire.</li>
									<li>Coût total de la transaction de location : Le coût total de location est le total des versements mensuels, plus tout acompte versé pour réduire le coût de la motocyclette, c’est-à-dire acompte en argent, véhicule laissé en échange, plus les taxes exigibles et les frais d’enregistrement et d’immatriculation de la motocyclette.</li>
									<li>Taux de location et frais : Le taux de location et les frais associés sont divulgués dans notre contrat à divulgation complète.</li>
								</ul>
							</div>
						</div>
						<div class="content_section">
							<div class="h1">Vos options à l’échéance du contrat</div>
							<h2 class="small">Option 1: Retourner votre motocyclette et en louer une neuve.</h2>
							<p>Cette option est pratique, facile et, encore mieux, vous partez de chez le concessionnaire sur une Honda toute neuve! N’oubliez pas que vous devez quand même faire inspecter votre motocyclette chez le concessionnaire dans le courant des deux derniers mois de votre contrat. Votre concessionnaire établira s’il doit vous facturer de l’usure ou de la détérioration excessive, et vous serez responsable de tout versement non fait, de tout kilométrage en excès et de toute autre obligation de fin de location stipulée dans votre contrat.</p>
							
							<div class="sub_section">
								<h2 class="small">Option 2: Acheter votre motocyclette louée.</h2>
								<p>Acheter votre Honda louée est une excellente façon de continuer à bénéficier de sa fiabilité, de sa performance, de sa valeur de revente élevée et du plaisir que vous avez à la chevaucher. Si vous décidez d’acheter votre motocyclette, vous n’avez pas à la faire inspecter ni à vous soucier de frais pour usure, détérioration ou kilométrage en excès. Pour savoir combien votre motocyclette vous coûtera, vous pouvez obtenir un prix de rachat 24 heures par jour et sept jours par semaine dans la section <a href="www.myhonda.ca">Mon financement</a> de notre site Web pour propriétaires. Ne manquez pas de demander à votre concessionnaire un prêt de Services financiers Honda pour vous aider à acheter votre moto.</p>
							</div>
							
							<div class="sub_section">
								<h2 class="small">Option 3: Retourner votre motocyclette louée au concessionnaire.</h2>
								<p>Si vous choisissez cette option, votre contrat se conclut au moment ou vous remettez la motocyclette à un concessionnaire de motocyclettes Honda. Vous devrez faire inspecter votre motocyclette chez votre concessionnaire dans le courant des deux derniers mois de votre contrat. Votre concessionnaire établira s’il doit vous facturer de l’usure ou de la détérioration excessive, et vous serez responsable de tout versement non fait, de tout kilométrage en excès et de toute autre obligation de fin de location stipulée dans votre contrat.</p>
							</div>
						</div>
						<div class="content_section">
							<p>Pour plus de renseignements sur les options qui s’offrent à vous à l’échéance de votre contrat, communiquez avec notre Lease Maturity Centre au 416 754-2323, ou sans frais au 1 800 378 5399, poste 7529 (français) ou 7528 (anglais).</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->