<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="credit">
						<div class="content_section first_section">
							<h1><span>DEMANDE DE</span> credit</h1>
							<p class="large">Vous avez choisi la motocyclette de vos rêves et l’option de financement qui vous convient le mieux. Vous êtes maintenant prêt pour l’étape suivante, la demande de crédit. Pour vous faciliter les choses, nous avons préparé un formulaire de demande de crédit que vous pouvez imprimer, remplir puis apporter chez votre concessionnaire Honda.</p>
						</div>
						<div class="content_section">
							<div class="fc credit-apps">
								<dl class="fl credit-app-column">
									<dt>Demande de crédit pour consommateurs</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr.pdf">Français</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en.pdf">Anglais</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr-quebec-only.pdf">Français</a> (Québec seulement) </dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en-quebec-only.pdf">Anglais</a> (Québec seulement)</dd>
								</dl>
								<dl class="fl credit-app-column">
									<dt>Demande de crédit pour entreprises</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr.pdf">Français</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en.pdf">Anglais</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr-quebec-only.pdf">Français</a>(Québec seulement)</dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en-quebec-only.pdf">Anglais</a> (Québec seulement)</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->