<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="faq">
						<div class="content_section first_section">
							<h1><span>QUESTIONS</span> FRÉQUENTES</h1>
							<h2>Options de location</h2>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_leasing_benefits"
								data-collapsible-active="true"
								>Quels sont les avantages de la location?</a></span></div>
							<div id="slidedown_leasing_benefits" class="sub_content">
								<h3>Survol</h3>
								<p>À titre de client locataire, vous ne payez qu’une partie du coût de la motocyclette, la partie que vous utilisez pendant qu’elle est en votre possession.  Les taxes seront comprises dans votre versement mensuel plutôt qu’ajoutées au coût de la motocyclette.  En signant un contrat de location, vous consentez à faire un versement mensuel, à maintenir en vigueur une police d’assurance adéquate, à payer les taxes et les frais d’immatriculation exigibles, et à prendre bien soin de la motocyclette pendant toute la durée de votre contrat.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_open_or_closed_lease"
								data-collapsible-active="false"
								>S’agit-il d’une location ouverte ou fermée?</a></span></div>
							<div id="slidedown_open_or_closed_lease" class="sub_content">
								<h3>Location fermée</h3>
								<p>À l’échéance de votre contrat, vous pouvez choisir d’acheter la motocyclette au prix préétabli indiqué sur le contrat plus les taxes exigibles OU de la retourner sans plus d’obligations.</p>
								<p>*La limite de kilométrage ne peut pas être dépassée (voir le contrat).<br/>
									*Toute amende a été payée.<br/>
									*Pas d’usure ou de détérioration excessive de la motocyclette</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_administration_fees"
								data-collapsible-active="false"
								>Y a-t-il des frais d’administration?</a></span></div>
							<div id="slidedown_administration_fees" class="sub_content">
								<h3>Aucuns frais</h3>
								<p>Services financiers Honda n’exige aucuns frais d’administration, de résiliation anticipée, d’échéance de contrat ou de cession de véhicule.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_written_off_or_stolen"
								data-collapsible-active="false"
								>Que se passe-t-il si ma motocyclette est une perte totale ou si elle est volée?</a></span></div>
							<div id="slidedown_written_off_or_stolen" class="sub_content">
								<h3>Protection automatique en cas de perte totale (GAP)</h3>
                                <p>Si votre motocyclette louée était impliquée dans un accident, vandalisée ou volée, elle pourrait être déclarée perte totale. Pour une compagnie d’assurance, le terme « perte totale » signifie la perte de la valeur marchande réelle moins votre franchise. Il se peut alors que la somme que vous verse votre assureur ne suffise pas à couvrir votre obligation financière. Notre location à valeur future vous protège contre une telle situation. L’écart monétaire entre le règlement que verse votre assureur et la somme de votre franchise et de l’obligation financière que stipule votre contrat est automatiquement couvert par notre assurance en cas de perte totale (GAP ou Guaranteed Asset Protection). Certaines conditions peuvent entrer en ligne de compte. Voyez votre concessionnaire pour les détails.</p>
							</div>
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_contact_info"
								data-collapsible-active="false"
								>What is your contact information?</a></span></div>
							<div id="slidedown_contact_info" class="sub_content">
                                <h3>Head Office - Ontario / Atlantic Region:</h3>
								<p>P.O. Box 4000<br/>
									Markham, Ontario<br/>
									L3R 0N1</p>
								<p><strong>Phone:</strong> (416) 754-2323 <br/>
									<strong>Toll Free:</strong> 1-800-387-5399<br/>
									<strong>Fax:</strong> 1-866-920-5586<br/>
									<strong>Email:</strong> <a href="mailto:ch_hcfi_natl_cs@ch.honda.com">ch_hcfi_natl_cs@ch.honda.com </a></p>
								<h3>Western Region:</h3>
								<p>110-13711 International Place<br/>
									Richmond, BC<br/>
									V6V 2Z8</p>
								<p><strong>Phone:</strong> (604) 278-9250<br/>
									<strong>Toll Free:</strong> 1-877-700-3552 <br/>
									<strong>Fax:</strong> : 1-888-206-9008<br/>
									<strong>Email:</strong> <a href="mailto:ch_hcfi_natl_cs@ch.honda.com">ch_hcfi_natl_cs@ch.honda.com </a></p>
								<h3>Quebec Region:</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville, Quebec<br/>
									J4B 7W1</p>
								<p><strong>Phone:</strong> (450) 641-9062<br/>
									<strong>Toll Free:</strong> 1-800-463-6374 <br/>
									<strong>Fax:</strong> 1-888-449-6252<br/>
									<strong>Email:</strong> <a href="mailto:ch_hcfi_quebec_cs@ch.honda.com">ch_hcfi_quebec_cs@ch.honda.com </a></p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_do_i_own"
								data-collapsible-active="false"
								>Do I own the Motorcycle / ATV?</a></span></div>
							<div id="slidedown_do_i_own" class="sub_content">
								<h3>Motorcycle / ATV Ownership</h3>
								<p>Once you have signed the financing terms and agreements, you can ride off the dealership lot as the registered owner of the Motorcycle or ATV.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_conventional_financing"
								data-collapsible-active="false"
								>What is conventional financing?</a></span></div>
							<div id="slidedown_conventional_financing" class="sub_content">
								<h3>Conventional Financing</h3>
								<p>With the regular finance program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
								<p>Now, try our <a href="finance-calculator.html">Finance Calculator</a> to see which option suits your needs best.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_financing_benefits"
								data-collapsible-active="false"
								>What are the benefits of financing my motorcycle or ATV?</a></span></div>
							<div id="slidedown_financing_benefits" class="sub_content">
								<h3>Overview</h3>
								<p>HFS offers highly competitive interest rates and flexible payment options. Once you have decided on your Honda model of choice, we want to make the next step of financing as simple as possible. That's why we deliver financing approvals in less than one hour, all right for your convenience within your Honda dealer.</p>
								
								<h3>The Benefits</h3>
								<p>The additional benefits of financing your Honda Motorcycle or ATV with HFS are:</p>
								<ul>
									<li>All HFS retail loans are open ended and you may pay out, or make lump sum payments at any time without penalty.</li>
									<li>Flexible financing terms up to 60 months depending on the model and amount to be financed. We have highly trained staff to assist you with any inquiries you may have at any point of your Finance Agreement. Our customer service department offers convenient hours of operation and quality service.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_payment_options"
								data-collapsible-active="false"
								>Payment Options</a></span></div>
							<div id="slidedown_payment_options" class="sub_content">
								<p>HFS offers monthly as well as bi-weekly payments for your consideration. Monthly and bi-weekly payments are set up when you sign your finance agreement and once set up with monthly payments, you will not be able to switch to bi-weekly payments or vice-versa.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_insure"
								data-collapsible-active="false"
								>Do I have to insure the Motorcycle / ATV?</a></span></div>
							<div id="slidedown_insure" class="sub_content">
								<h3>Insurance Coverage</h3>
								<p>Provincial regulations stipulate that the Motorcycle / ATV that is financed $10,000 or more must be insured.  The required coverage is outlined in your financing agreement and will be detailed by your dealer representative.</p>
							</div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_wear_tear"
								data-collapsible-active="false"
								>Am I responsible for wear and tear charges?</a></span></div>
							<div id="slidedown_wear_tear" class="sub_content">
								<h3>Excess Wear and Tear</h3>
								<p>Excess wear and tear is determined at the end of the lease. You may be responsible for paying the estimated cost to repair items such as (but not limited to) dents, paint damage, missing equipment that was part of the motorcycle at the time of delivery, cracked or broken body parts, mechanical damage, holes, tears or burns to seat.</p>
							</div>

							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_maintenance_responsible"
								data-collapsible-active="false"
								>Am I responsible for maintenance?</a></span></div>
							<div id="slidedown_maintenance_responsible" class="sub_content">
								<h3>Regular Maintenance</h3>
								<p>As the registered owner of the Motorcycle / ATV, you are responsible for the maintenance of the unit. To get the most out of your Motorcycle / ATV we strongly recommend that you follow the maintenance schedule as outlined in the Owner's Manual. Our dealers will be happy to ensure your Motorcycle / ATV is serviced and runs at peak performance.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_contact_us"
								data-collapsible-active="false"
								>Customer Service Office (Contact Us)</a></span></div>
							<div id="slidedown_contact_us" class="sub_content">
                                <h2>HFS Contact Information</h2>
								<h3>Head Office - Ontario / Atlantic and Western Region:</h3>
								<p>P.O. Box 4000<br/>
									Markham, Ontario<br/>
									L3R 0N1</p>
								<p><strong>Phone:</strong> (416)  297-5399 <br/>
									<strong>Toll Free:</strong> 1-800-387-5399<br/>
									<strong>Fax:</strong> 1-866-920-5586<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
								
								<h3>Quebec Region:</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville, Quebec<br/>
									J4B 7W1</p>
								<p><strong>Phone:</strong> (450) 641-9062<br/>
									<strong>Toll Free:</strong> 1-800-463-6374 <br/>
									<strong>Fax:</strong> 1-888-449-6252<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com </a></p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_inspection"
								data-collapsible-active="false"
								>Can my Honda Dealer perform the inspection of my motorcycle?</a></span></div>
							<div id="slidedown_inspection" class="sub_content">
								<p>Your Honda dealer will inspect your motorcycle prior to the maturity date to determine whether there is any damage that may be chargeable. Please contact your dealer to arrange an inspection or you can call our Lease Maturity Centre at 1-800-387-5399 ext 7528 (7529 French) for assistance.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_present_during_inspection"
								data-collapsible-active="false"
								>Do I have to be present during the inspection?</a></span></div>
							<div id="slidedown_present_during_inspection" class="sub_content">
								<p>Due to insurance regulations, most dealerships cannot allow you to be present in their repair shop. Your dealer will review the results of the inspection with you and inform you if there are any charges for which you will be responsible.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_what_if"
								data-collapsible-active="false"
								>What if something happens to my motorcycle between the time it's inspected and the date that I turn in the motorcycle? </a></span></div>
							<div id="slidedown_what_if" class="sub_content">
								<p>Your Motorcycle is subject to a final inspection after you turn it in, so if a condition arises after your preliminary inspection, you will still be liable for it. Sometimes damage or malfunctions can’t be detected during the inspection, or an unexpected condition arises after your motorcycle is inspected. If you receive an invoice from us for charges with which you are not familiar, please contact our Lease Maturity Centre at 1-800-387-5399 ext 7528 (7529 French) for further information.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->