<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="options">
						<div class="content_section first_section">
							<h1><span>OPTIONS</span> DE FINANCEMENT</h1>
							<p class="large">Si vous choisissez le financement, chacun de vos versements sera constitué en partie du principal et en partie de l’intérêt, cela pendant toute la durée de votre contrat de financement. Chaque versement que vous ferez augmentera la valeur nette de votre motocyclette ou VTT.</p>
							<p class="large">Lorsque vous avez choisi le modèle Honda que vous désirez, nous rendrons son financement aussi simple que possible. Par exemple, nous retournons les approbations d’emprunt en moins d’une heure sans que vous ayez à partir de chez votre concessionnaire Honda.</p>
						</div>
						<div class="content_section">
							<h2>Voici les avantages de financer votre motocyclette ou VTT chez Services financiers Honda :</h2>
							<ul>
								<li>Vous devenez propriétaire de la motocyclette ou du VTT.</li>
								<li>Tous les prêts au détail sont ouverts, vous pouvez donc rembourser entièrement l’emprunt n’importe quand sans pénalité de paiement anticipé.</li>
								<li>Méthode d’intérêt simple pour calculer les frais d’intérêt</li>
								<li>Augmentation de la valeur nette</li>
								<li>Périodes variables</li>
								<li>Lorsque tous les versements ont été faits, la motocyclette ou le VTT est à vous.</li>
							</ul>
						</div>
						<div class="content_section">
							<h2>Financement conventionnel</h2>
							<p>Grâce à notre programme régulier, vous pouvez organiser votre achat en fonction de votre budget mensuel et de vos besoins. Des versements mensuels égaux et consécutifs sont calculés en utilisant des taux d’intérêt très concurrentiels et des périodes de 24 à 60 mois selon le modèle choisi et le montant à financer. Lorsque vous avez effectué tous les versements, le solde est de zéro et l’unité est à vous.</p>
                            <p>Essayez notre <a href="finance-calculator.html">calculateur de financement</a> pour apprendre quelle option répond le mieux à vos besoins.</p>
						</div>
						<div class="content_section">
							<div class="h1">Échéance de votre contrat de financement - La suite? </div>
							<p>Lorsque vous aurez fait chacun de vos versements mensuels pendant toute la durée de votre contrat de financement, la motocyclette ou le VTT est tout à vous. Que se passe-t-il ensuite? Négocier un échange avec votre concessionnaire pourrait être une excellente façon de donner un acompte sur votre prochain modèle Honda. Vous pouvez aussi vendre votre motocyclette ou VTT à un particulier ou continuer à rouler avec pendant des années, à vous de décider. Pour d’autres renseignements sur les options qui s’offrent à vous à l’échéance de votre contrat de financement, communiquez avec notre Groupe de service à la clientèle au 416 754-2323, ou sans frais au 1 800 387-5399.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->