<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="contact">
						<div class="content_section first_section">
							<h1>Contactez-<span>nous</span></h1>
						
							<div class="sub_section">
								<h3>Siège social – Ontario / régions Atlantique et Ouest :</h3>
								<p>C.P. 4000<br/>
									Markham (Ontario)<br/>
									L3R 0N1</p>
								<p><strong>Téléphone : </strong> 416 297-5399 <br/>
									<strong>Sans frais : </strong>1 800 387-5399<br/>
									<strong>Télécopieur : </strong>1 866 920-5586<br/>
									<strong>Courriel : </strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com  </a></p>
							</div>
                            <div class="sub_section">
                                <h3>Région du Québec :</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville (Québec)br/>
									J4B 7W1</p>
								<p><strong>Téléphone :</strong> 450 641-9062<br/>
									<strong>Sans frais : </strong> 1 800 463-6374 <br/>
									<strong>Télécopieur : </strong> 1 888 449-6252<br/>
									<strong>Courriel :</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->