<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="privacy">
						<div class="content_section first_section">
							<h1>Protection de la vie privée</h1>
							<p class="large">HCFI a pris l’engagement de protéger les renseignements personnels des clients en conformité aux lois et règlements canadiens sur la protection de la vie privée.</p>
							
							<div class="fc privacy-downloads">
								<div class="fl privacy-downloads-column">
									<h3>Énoncé de HCFI sur la protection des renseignements personnels</h3>
									<a href="#" class="btn primary"><span>Download</span></a>
								</div>
								<div class="fl privacy-downloads-column">
									<h3>Online Privacy Policy</h3>
									<a href="#" class="btn primary"><span>Download</span></a>
								</div>
							</div>
						</div>
						<div class="fc content_section">
							<a target="_blank" class="fr pdf_icon" href="http://get.adobe.com/reader/?mgiToken=2QWVV75BVSGHQ"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->