<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!-- @page specific navigation for honda advantage -->
            
				<li class="menu_honda_advantage">
					<div class="top_cap pf"></div>
					<div class="content pf">
					</div>
					<div class="bottom_cap pf"></div>
				</li>
			<!-- @end-->			
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">The Honda Advantages</h1>
                        <h2>Continue the joyful experience of owning Honda product</h2>
					</div>
					<div class="content_section">
                        <p>One of the most significant advantages of owning a Honda is knowing that you have our support during the life of your Honda product. We choose our dealers with the same care we put into designing and building our quality products. Honda dealers are here to service and repair your unit as specified by the factory. Honda dealers’ highly skilled technicians use only genuine Honda parts to maintain the original level of Honda quality, and genuine Honda accessories allow you to customize your unit to suit your needs. Whether you own a Honda vehicle, motorcycle or power equipment product, remember that they are supported by the same family that built them. Whenever you need us, we are here for you to continue to enjoy any Honda product or service.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
    <div class="wrapper_bottom_cap"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->