<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="options">
						<div class="content_section first_section">
							<h1>Lease <span>Options</span></h1>
							<p class="large">As a lease customer, you pay only a portion of the motorcycle’s cost, which is the part you "use up" during the time you're riding it.  Taxes will be included in the monthly payments rather than the full cost of the motorcycle.  Signing a leasing contract means that you agree to make regular monthly payments, keep appropriate insurance, pay any taxes and licensing fees, and take good care of the motorcycle for the duration of your contract. </p>
						</div>
						<div class="fc content_section">
							<div class="fl lease_options_lists">
								<h2 class="small">The benefits of leasing your vehicle with Honda Financial Services are:</h2>
								<ul>
									<li>A new motorcycle more often: With lower monthly lease payments over a shorter period of time, you can ride a new motorcycle more often.</li>
									<li>Low monthly payments: Lease payments are traditionally lower than retail payments on the same motorcycle.</li>
									<li>Closed end lease: You can choose to purchase the motorcycle for a pre-determined price shown on your lease contract plus applicable taxes or return it without further obligation. If you decide to return your motorcycle, all you have to do is make sure you have not exceeded your kilometer limit, that any outstanding fines have been paid, and there is no excess wear and tear on the motorcycle.</li>
									<li>No Fees: Honda Financial Services has no administration, early termination, end of lease or vehicle disposal fees.</li>
									<li>Automatic GAP Protection: If your leased vehicle is involved in an accident, vandalized or stolen the vehicle may have to be written off. To insurance companies a &quot;write off&quot; means fair market value minus your deductible. Your insurance settlement may not always satisfy your monetary obligation. Our Future Value Lease offers you protection against these situations. The monetary GAP between your insurance settlement less your deductible and your lease obligation is covered automatically by our GAP (Guaranteed Asset Protection). Some conditions may apply. See your local dealer for details.</li>
									<li>Flexible terms</li>
									<li>Keep more cash to use or invest</li>
								</ul>
							</div>
							<div class="fr lease_options_lists">
								<h2 class="small">Things to be taken into consideration:</h2>
								<ul>
									<li>Insurance responsibility: You are responsible for insurance coverage. Required coverage typically is detailed in your lease agreement.</li>
									<li>Lease down payments: Down payments are not required on a lease. In a lease situation, you may choose to make a down payment in order to reduce the monthly lease payments. Down payments on lease cannot exceed 30% of the Total Lease Price.</li>
									<li>Cash due at delivery: Most lease agreements require a first monthly payment on delivery of the vehicle. A refundable security deposit and other miscellaneous fees.</li>
									<li>Maintenance responsibility: You are responsible for maintaining the motorcycle. A maintenance schedule is outlined in the owner's manual.</li>
									<li>Excessive wear and tear: Determined at end of a lease ie: dents, paint damage, missing equipment that was part of the vehicle, cracked or chipped glass, mechanical damage, holes, tears or burns to upholstery.</li>
									<li>Allowable kilometers: The yearly kilometer allowance with Honda Canada Finance Inc. is 18,000. At lease inception, you can purchase additional kilometers.</li>
									<li>Leased motorcycle price (total motorcycle price): Gives you the transaction price and is also used to calculate your lease payment. While taxes are not included in this price, it does include all equipment, accessories, freight and dealership fees.</li>
									<li>Total cost of lease transaction: The total cost of lease is the total monthly payments plus any amounts paid to reduce the cost of the motorcycle ie: cash down payment, motorcycle trade-in plus applicable taxes, motorcycle licensing and registration fees.</li>
									<li>Lease rate and charges: The lease rate and associated charges are disclosed on our full disclosure contract.</li>
								</ul>
							</div>
						</div>
						<div class="content_section">
							<div class="h1">Your Lease End Options</div>
							<h2 class="small">Option 1: Return your motorcycle and lease a new one.</h2>
							<p>This option is convenient, easy, and best of all, you get to ride off on a brand new Honda! Remember, you will still need to arrange for an inspection of your motorcycle at your dealership during the last two months of the lease. Your dealer will determine if there is any excess wear and use for which you will be charged and you will also be responsible for any outstanding payments, excess mileage, and any other end of term obligations specified in your lease agreement.</p>
							
							<div class="sub_section">
								<h2 class="small">Option 2: Purchase your leased motorcycle.</h2>
								<p>Buying your leased Honda is a great way to continue benefiting from its reliability, performance, high resale value and FUN. If you decide to buy your motorcycle, there is no need to have it inspected, since there are no excess wear and use or excess mileage charges to worry about. To find out your purchase amount, you can get a payoff quote 24 hours a day, 7 days a week through our <a href="www.myhonda.ca">Owner’s Website</a> in the My Finance section. Be sure to ask your dealer for a Honda Financial Services loan to help purchase the motorcycle.</p>
							</div>
							
							<div class="sub_section">
								<h2 class="small">Option 3: Return your leased motorcycle to the dealer.</h2>
								<p>If you select this option, your lease concludes when you turn in the motorcycle to a Honda motorcycle dealer. You will need to arrange for an inspection of your motorcycle at your dealership during the last two months of the lease. Your dealer will determine if there is any excess wear and use for which you will be charged and you will also be responsible for any outstanding payments, excess mileage, and any other end of term obligations specified in your lease agreement.</p>
							</div>
						</div>
						<div class="content_section">
							<p>For more information about your options at the end of your lease contract, please contact our Lease Maturity Centre at 416-754-2323 or toll free at 1-800-378-5399 ext 7528 English or 7529 French.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->