<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-news-events">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/news-events.css" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/news-events.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events2.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				
				<div class="content_container">
					<div class="news">
						<div class="content_section first_section">
							<h1>News</h1>
						</div>
						<div class="content_section">
							<div class="pf selection-gray-bg">
								<div class="h3">Select a Division</div>
								<select>
									<option>Select One</option>
									<option>ATVs</option>
									<option>Motorcycles</option>
								</select>
							</div>						
						</div>
						<div class="content_section">
							<h2>Sed ut perspiciatis unde eum iure reprehenderit qui Sed ut perspiciatis unde eum iure reprehenderit qui</h2>
							<h3>March 31, 2011</h3>
							<div class="event-image"><img src="/_Global/img/temp/news-events-image-placeholder.jpg" alt="" /></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris... <a href="overview.html#">Read More</a></p>
						</div>
						<div class="content_section_dotted">
							<h2>Nemo enim ipsam voluptatem Nemo enim ipsam voluptatem Nemo enim ipsam voluptatem</h2>
							<h3>March 31, 2011</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris... <a href="overview.html#">Read More</a></p>
						</div>
						<div class="content_section_dotted">
							<h2>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</h2>
							<h3>January 18, 2012</h3>
							<div class="event-image"><img src="/_Global/img/temp/news-events-image-placeholder.jpg" alt="" /></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris... <a href="overview.html#">Read More</a></p>
						</div>
						
						<div class="fc content_section np">
							<div class="pagination">
								<a href="#" class="pf page-prev">Prev</a>
								<a href="#" class="pf page active">1</a>
								<a href="#" class="pf page">2</a>
								<a href="#" class="pf page">3</a>
								<a href="#" class="pf page">4</a>
								<a href="#" class="pf page">5</a>
								<a href="#" class="page-all">View All</a>
								<a href="#" class="pf page-next">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->