<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/mc/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content overview pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Owner&#39;s site</h1>
						<p>We're committed to providing you with the ultimate Honda experience.</p>
                        <p>Honda Canada Inc. has developed the integrated My Honda/My Finance website as an exclusive owners' website designed to provide you with specific information about your vehicle including product specifications, tips, warranty and maintenance information, service history, Honda events and promotions.</p>
                        <p class="nm">In the My Finance section, you have the freedom to:</p>
                        <ul class="ps-list-bullet">
                            <li>Make online payments </li>
                            <li>Update your banking information</li>
                            <li>Update your contact information </li>
                            <li>View/print your account payout </li>
                            <li>View/print your transaction history...and much more!</li>
                        </ul>
                        <p>&raquo; So why wait?  Click <a href="#">HERE</a> to start your journey.</p>
                        <p>If you need more information or assistance about this website, talk to us at 1-888-946-6329 or visit <a href="http://www.myhonda.ca/">http://www.myhonda.ca/</a> to watch our Web Demo.</p>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->