<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="french page-parts-service">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/mc/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container_alternate">
						<div class="content_section first_section">
							<h1>why choose honda service?<span>Overview</span></h1>
							<h2 class="small">Why it's important to service your Honda Motorcycle</h2>
							<p>A well-maintained motorcycle is essential for safe, economical, and trouble-free riding. To help you properly care for your motorcycle, this page highlights some of the major maintenance components and explains how their care is important to your motorcycle’s performance and reliability. Keep your Honda motorcycle working properly by following the Honda recommended maintenance schedule and ensure all the components are at their best.</p>
							<div class="product-image">
								<a class="pf hotspot btn-tooltips"
									style="left: 285px; top: 190px;"
									data-tooltip-content-target=".hotspot-01"
									data-tooltip-class="tooltip-right"
									data-position="right bottom"
									property="act:tooltip"></a>
								<span class="hotspot-01 dn">
									<img alt="" src="/_Global/img/temp/tooltip_placeholder_img.gif" />
									<p class="heading">Engine Oil</p>
									<p>Pro Honda engine oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
									style="left: 346px; top: 190px;"
									data-tooltip-content-target=".hotspot-02"
									data-tooltip-class="tooltip-right"
									data-position="right bottom"
									property="act:tooltip"></a>
								<span class="hotspot-02 dn">
									<img alt="" src="/_Global/img/temp/tooltip_placeholder_img.gif" />
									<p class="heading">Oil Filter</p>
									<p>Genuine Honda oil filters are designed by the factory specifically for your Honda motorcycle.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
									style="left: 305px; top: 100px;"
									data-tooltip-content-target=".hotspot-03"
									data-tooltip-class="tooltip-right"
									data-position="right bottom"
									property="act:tooltip"></a>
								<span class="hotspot-03 dn">
									<p class="heading">Air Filter</p>
									<p>Use a genuine Honda air filter for the best engine performance and durability.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
									style="left: 125px; top: 160px;"
									data-tooltip-content-target=".hotspot-04"
									data-tooltip-class="tooltip-right"
									data-position="right bottom"
									property="act:tooltip"></a>
								<span class="hotspot-04 dn">
									<img alt="" src="/_Global/img/temp/tooltip_placeholder_img.gif" />
									<p class="heading">Drive Chain</p>
									<p>Pro Honda HP Chain Lube helps you keeps your drive chain lubricated so you can be on the move.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
									data-tooltip-content-target=".hotspot-05" data-tooltip-class="tooltip-right" data-position="right bottom" property="act:tooltip"
									style="left: 360px; top: 130px;"></a>
								<span class="hotspot-05 dn">
									<img alt="" src="/_Global/img/temp/tooltip_placeholder_img.gif" />
									<p class="heading">Spark Plug</p>
									<p>Start every time with a genuine Honda spark plug.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="left: 565px; top: 208px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-06"></a>
								<span class="hotspot-06 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Brakes</p>
									<p>Have the confidence to go and the power to stop - Genuine Honda brakes.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="left: 210px; top: 108px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-07"></a>
								<span class="hotspot-07 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Battery</p>
									<p>Don’t be stranded by a dead battery. Maintain your battery with the Honda Optimate 3+ battery charger.</p>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="left: 370px; top: 50px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-08"></a>
								<span class="hotspot-08 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Fuel</p>
									<p>Clean and new fuel = Better engine performance.</p>
									<div class="clr"></div>
								</span>
								<img src="/_Global/img/content/mc/parts-service/lrg_img_motorcycle.jpg" alt="" />
							</div>
						</div>
					</div>
					<!--
					<ul class="fc tabs_horizontal">
						<li class="fl first"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#engine-oil" class="selected multiline">Engine<br />Oil</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#oil-filter" class="multiline">Oil<br />Filter</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#air-filter" class="multiline">Air<br />Filter</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#drive-chain" class="multiline">Drive<br />Chain</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#spark-plug" class="multiline">Spark<br />Plug</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#brakes">Brakes</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#battery">Battery</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#fuel">Fuel</a></li>
						<li class="fl last"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#motorcycle-care" class="multiline">Motorcycle<br />Care</a></li>
					</ul>
					-->
					<ul class="fc tabs_horizontal">
						<li class="fl first"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#engine-oil" class="multiline">Huile<br />moteur</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#oil-filter" class="multiline">Filtre à<br />huile</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#air-filter" class="multiline">Filtre à<br />air</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#drive-chain" class="multiline">Chaîne<br />d’entraînement</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#spark-plug" class="">Bougie</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#brakes" class="">Freins</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#battery" class="">Batterie</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#fuel" class="">Essence</a></li>
						<li class="fl last"><a href="#" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#motorcycle-care" class="multiline selected">Propreté de<br />la motocyclette</a></li>
					</ul>
					
					<div class="content_container">
						<div class="single-product" id="engine-oil">
							<div class="h1">Engine Oil</div>
							<p>The oil filter's job is to block dirt and debris from running through your engine, and your job is to make sure the oil filter is in good condition. If the oil filter becomes clogged and blocks the flow of oil, it may cause serious mechanical issues and could result in a costly repair.</p>
							<p>Your motorcycle’s oil filter has very specific performance requirements. That is why it’s important to use a new genuine Honda oil filter that is designed for your model. Using the wrong oil filter may result in oil leaks or engine damage.</p>
							<p>We recommend that you take your motorcycle to an authorized Honda dealer to have your oil filter changed. Improper installation of the oil filter can cause serious engine damage. If you have the skills and professional tools to perform your oil filter change, your Honda dealer has the genuine Honda parts that you need. Ensure you have a proper means for disposal of the drained fluids; if not, contact your public or environmental services to find out how to safely dispose of non-recyclable wastes.</p>
							<p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="oil-filter">
							<div class="h1">Oil Filter</div>
							<p>The oil filter's job is to block dirt and debris from running through your engine, and your job is to make sure the oil filter is in good condition. If the oil filter becomes clogged and blocks the flow of oil, it may cause serious mechanical issues and could result in a costly repair. </p>
	                        <p>Your motorcycle’s oil filter has very specific performance requirements. That is why it’s important to use a new genuine Honda oil filter that is designed for your model. Using the wrong oil filter may result in oil leaks or engine damage.</p>
	                        <p>We recommend that you take your motorcycle to an authorized Honda dealer to have your oil filter changed. Improper installation of the oil filter can cause serious engine damage. If you have the skills and professional tools to perform your oil filter change, your Honda dealer has the genuine Honda parts that you need. Ensure you have a proper means for disposal of the drained fluids; if not, contact your public or environmental services to find out how to safely dispose of non-recyclable wastes.</p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="air-filter">
							<div class="h1">Air Filter</div>
							<p>A clean air filter = longer engine life and improved performance. Proper air filter maintenance as per the Honda recommended Maintenance Schedule can prevent premature engine wear or damage, expensive repairs, low engine power, poor gas mileage, and spark plug fouling. The air filter provides protection against dirt and debris entering the engine chamber and causing rapid premature engine wear. This type of damage is not covered by the Distributor’s Limited Warranty.</p>
							<p>Your motorcycle’s air cleaner is designed to meet specific performance requirements, so only use a new genuine Honda air filter made for your model. Using the wrong air cleaner may result in premature engine wear. Proper air filter maintenance is even more important for off-road vehicles. A dirty, water-soaked, worn-out, or defective air filter will allow dirt, dust, mud, and other impurities to pass into the engine. If you ride in unusually wet or dusty areas, clean/replace the air filter more frequently than specified in the Maintenance Schedule. Your Honda dealer can help you determine the correct service interval for your riding conditions.</p>
							<p>A dirty air filter will restrict air flow to the throttle body, affecting engine performance and longevity. If your throttle body is obstructed you will experience engine performance problems. Dirt intrusion through an improperly installed or poorly maintained air filter is the prominent source of dirt ingestion into the engine.</p>
							<p>Visibly inspect the air filter for tears or cracks in the foam or seams of the air cleaner and/or sub air filter. The air filter should be replaced if it is damaged. It is recommended that you take your motorcycle to an Authorized Honda dealer for air filter maintenance.</p>
							<p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="drive-chain">
							<div class="h1">Drive Chain</div>
							<p>Chains are one of the most maintenance intensive components of your motorcycle.</p>
							<p>It has to be effectively lubricated to transmit all the power from your engine to your wheel. If the chain is not properly lubricated, it will cause accelerated chain wear which will lead to excessive wear of the sprockets.</p>
							<p>The service life of the chain depends on proper lubrication and adjustment. Poor maintenance can cause premature wear or damage to the drive chain or sprockets. The drive chain should be checked, adjusted, and lubricated as part of the pre-ride inspection. Under severe usage, or when the motorcycle is ridden in unusually dusty or muddy areas, more frequent maintenance will be necessary.</p>
							<p>The manufacturer-installed lubricating grease is designed to keep out moisture and dirt away from the drive chain. We recommended that you lubricate the drive chain anytime it has rained, you have washed your motorcycle, or ridden 500 km. Also lubricate the drive chain if it appears dry or shows signs of rust. Lubricate any kinked or binding links and work them free. The recommended lubricant is Pro Honda HP Chain Lube which is designed specifically for use on O-ring chains. Commercial chain lubricants not designed for motorcycle drive chains may contain solvents which could damage the O-rings.</p>
							<p>If the chain requires adjustment, visit your authorized Honda dealer.</p>
							<p>When inspecting the drive chain adjustment, check for slack in the lower drive chain, midway between the sprockets. Drive chain slack should allow the following vertical movement by hand: 25-35mm.</p>
							<p>Check drive chain slack at several points along the chain. The slack should remain constant. If it isn’t, some links may be kinked or binding. Lubricating the chain will often eliminate binding and kinking. Inspect the front and rear wheel sprocket teeth for excessive wear or damage. If necessary, have your Honda dealer replace a worn sprocket.</p>
							<p class="nm">Inspect the drive chain for:</p>
	                        <ul class="ps-list-bullet">
	                            <li>damaged rollers</li>
	                            <li>dry or rusted links</li>
	                            <li>kinked or binding links</li>
	                            <li>excessive wear</li>
	                            <li>improper adjustment</li>
	                            <li>damaged or missing O-rings</li>
	                        </ul>
	                        <p>Inspect the drive chain for possible wear or damage. Replace the drive chain if it has damaged rollers, loose pins, or kinks that cannot be freed, visit your Honda for a replacement chain. <em>Use of a new chain with worn sprockets will cause rapid chain wear</em>.</p>
	                        <p>Genuine Honda drive chains are specifically made for your model of motorcycle and designed to complement their performance.</p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="spark-plug">
							<div class="h1">Spark Plug</div>
							<p>The spark plug is what “fires” the compressed air/fuel mixture in the engine of your ATV. Spark plugs have a limited life expectancy and that is why it’s Important to properly maintain the spark plug. A malfunctioning spark plug may cause many symptoms including hard starting, misfire, lack of power, and black exhaust smoke. </p>
	                        <p>Discard the spark plug if the electrode and insulator appear unusually cracked, chipped, fouled or burned. Check the gap of the plug to ensure proper specification and that it’s clean. An improperly tightened spark plug can damage the engine. If a plug is too loose, engine problems may occur. If a plug is too tight, the threads may be damaged. A spark plug must be tightened to a specific torque.</p>
	                        <p>Use only the Honda’s recommended type of spark plug in the recommended heat range. Using spark plugs with an improper heat range can cause engine damage. We recommended that you contact your Honda dealer and follow Honda’s recommended maintenance schedule in your owner’s manual.</p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="brakes">
							<div class="h1">Brakes</div>
							<p>Designed and engineered to meet the specific performance characteristics of your Honda motorcycle. Genuine Honda Brakes are tested under all riding conditions and must meet Honda's rigid engineering standards.</p>
	                        <p class="nm">These standards include:</p>
	                        <ul class="ps-list-bullet">
	                            <li>Stopping distance</li>
	                            <li>Wet condition stopping performance</li>
	                            <li>Fade and heat recovery</li>
	                            <li>Heat and contaminant durability</li>
	                            <li>Initial break - in performance</li>
	                            <li>Brake actuation force</li>
	                        </ul>
	                        <p>Additionally, ABS equipped motorcycles require the correct genuine brake pads and rotors to ensure proper operation of ABS.  Altering either brake pads or rotors will change the friction characteristics and subsequently compromise the ABS performance.</p>
	                        <p>Genuine Honda brakes are designed to work in conjunction with the rotors to provide optimal stopping power and maximum durability. It’s important to keep your brakes maintained and replace them before they reach their limit. If your brake pads aren’t changed when required, they can cause damage to your rotors and lead to expensive repairs.</p>
	                        <p>Brake pad wear will depend upon the severity of usage and riding conditions. The pads will wear faster in wet or muddy conditions. Inspect the pads visually during all regular service intervals to determine the pad wear. Always inspect both pads in both the right and left front brake calipers. Check the wear indicator on your brakes. If the wear indicator aligns with the reference mark, both pads must be replaced; see your Honda dealer for this replacement. Hydraulic brake systems have a small window, to check your brake fluid level. Is normal for this level to drop slightly as the pad wears, but it should always be above the minimum level, and may need to be topped-up if necessary. Is no fluid is visible in the window this may mean there a leak somewhere in the system. The brake system should not have any leaks, if you notice any leaking brake fluid, contact your Honda dealer as soon as possible.</p>
	                        <p>An important part of brake maintenance is “bleeding” your brake system, which means removing minuscule bubbles of air which can become trapped in the system. Air is more easily compressed than hydraulic brake fluid, and too much of it in the brake lines can cause a “spongy” brake feel and poor braking performance. Brake bleeding procedures should be performed by your authorized Honda dealer.</p>
	                        <p>Brake fluid is hygroscopic, which means that it absorbs water over time; this helps to prevent corrosion in the brake system. The brake fluid should be flushed and replaced every two years to ensure optimal braking performance and to prevent brake issues with brake components. Use only Honda DOT 4 Brake Fluid, as recommended by the factory. Caution: Brake fluid will damage painted surfaces immediately so great care must be taken when adding fluid.</p>
	                        <p>For more information on brake maintenance, refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="battery">
							<div class="h1">Battery</div>
							<p>It’s important to keep your motorcycle’s battery well maintained as it can cause your engine not to start. Also, a weak battery overstress other components in your motorcycle’s charging system, and over time a simple battery replacement could turn into a much more expensive and time-consuming repair. Honda Canada works together with Yuasa® battery to provide consistent electrical power and long battery life.</p>
	                        <p>Improper maintenance and charging may damage your motorcycle’s battery. We recommend using the Honda Optimate 3+ ‘smart’ battery charger for battery maintenance. These chargers can be left connected indefinitely without risking damage to the battery.</p>
	                        <p class="nm">Picture this scenario. You’re ready for that ride, you turn the key and …nothing. Your battery is dead! Canada’s winter climate poses long periods of inactivity which can often result in a drained battery. Even during the warmer months a battery can lose up to 1% of its charge daily. Don’t ride for a couple months and there you are again with a dead battery. So how can we prevent this? The Optimate 3+ is a user friendly battery charger that offers a variety of the benefits like:</p>
	                        <ul class="ps-list-bullet">
	                            <li>Complete 12V battery care at home</li>
	                            <li>Optimizes battery power and life</li>
	                            <li>24/7 automatic storage control</li>
	                            <li>Desulfates for deep discharge recovery</li>
	                            <li>Effective battery test and maintenance cycle</li>
	                            <li>Proven reliability</li>
	                        </ul>
	                        <p>The Honda Optimate 3+ battery charger helps you maintain your motorcycle’s battery so you can just turn the key and ride!</p>
	                        <p>If you plan to store your motorcycle, we recommend you use the Honda Optimate 3+ battery charger, for worry free battery maintenance. See your local Honda dealer for Honda’s Exclusive promotional offer.</p>
	                        <p>A battery not in use should be charged at least once a month.</p>
	                        <p>For more information on battery maintenance, refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="fuel">
							<div class="h1">Fuel</div>
							<p>If you compromise the use of good, clean, new gasoline you may be compromising your motorcycle performance.</p>
	                        <p>Improper fuel maintenance is the primary cause of starting difficulties and poor performance. Fuel is a volatile, unstable substance, that’s what makes it so easy to ignite, but that also means it can evaporate and “go stale”. This causes the fuel to lose its ability to burn efficiently, and can leave a gummy residue which often clogs the small passages in the carburetor, causing problems ranging from hard starting and unstable rpm to no-start conditions and more serious engine problems.</p>
	                        <p>If your motorcycle will remain in storage for longer then 30 days the use of the Pro Honda fuel stabilizer is recommended. Fuel Stabilizer increases the gasoline’s storage time and helps prevent fuel gumming which can clog up small passages in the carburetor or fuel injector and may turn into an expensive repair.</p>
	                        <p>For more information refer to your owner’s manual or speak to your local Honda dealer.</p>
						</div>
	                    <div class="single-product" id="motorcycle-care">
							<div class="h1">Motorcycle Care</div>
							<p>Frequent cleaning and polishing will keep your Honda looking newer longer.</p>
	                        <p>To clean your motorcycle, you may use:</p>
	                        <ul class="ps-list-bullet">
	                            <li>water</li>
	                            <li>a mild, neutral detergent and water</li>
	                            <li>a mild spray and wipe cleaner/polisher</li>
	                            <li>a mild spray and rinse cleaner/degreaser and water</li>
	                            <li>Avoid products that contain harsh detergents or chemical solvents that could damage the metal, paint, and plastic on your motorcycle.</li>
	                        </ul>
	                        <p>Clean your motorcycle regularly to protect surface finishes. We recommend the use of a garden hose to wash your motorcycle. High pressure washers may damage certain parts of your motorcycle. After cleaning, inspect for damage, wear, and leaks (fuel, oil and brake fluid).</p>
	                        <p>After washing your motorcycle, as a precaution, ride your motorcycle at a slow speed and apply the brakes several times. This will help dry the brakes and restore normal braking performance. If the inside of the headlight lens appears clouded immediately after washing, it should clear after a few minutes of riding. Frequent cleaning also identifies you as an owner who values his motorcycle. A clean motorcycle is also easier to inspect and service. Avoid using spray cleaner products on the tires or suspension components.</p>
	                        <p>For more information refer to your owner’s manual or speak to your local Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/mc/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div></div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->