<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/mc/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content honda-genuine-oils-chemicals pf">
				<div class="content_container" id="inner_page_content">
					<div class="content_section first_section">
						<h1>Storage Tips</h1>
						<h2 class="small">Motorcycle Storage Tips</h2>
						<div class="grouped">
							<p>If you won’t be riding for an extended period, such as during the winter, thoroughly inspect your motorcycle and correct any problem before storing it. That way, needed repairs won’t be forgotten and it will be easier to get your motorcycle running again.</p>
                            <p>Refer to the Honda Storage Guide which outlines the procedures to take in order to properly store your motorcycle. These storage procedures will reduce the deterioration that can occur during storage and ensure your motorcycle is ready to ride when you are.</p>
                            <p><a href="#">Winter storage guide PDF</a></p>
						</div>
                    </div>
                    <div class="content_section">
                        <h2 class="small">After Storing Your Honda</h2>
                        <p>When your motorcycle has been stored for an extended period of time it may require a maintenance tune up in order to be running again. Here are a few tips on what to do after your motorcycle has been stored.</p>
						<ul class="red-check">
							<li>
								<span>Uncover and clean your motorcycle. See motorcycle care page for more tips.</span>
							</li>
							<li>
								<span>If your motorcycle has been stored for more than two months without Pro Honda fuel stabilizer, ask your Honda dealer to drain and replace the fuel.</span>
							</li>
							<li>
								<span>Perform a pre-ride inspection, then test-ride your motorcycle at low speeds.</span>
							</li>
							<li>
								<span>Even if you don’t maintain your battery as recommended. The Optimate 3+ charger has a special function designed to bring almost dead batteries back to life and will indicate if the battery as to be replaced. If you used Optimate 3+ during storage just unplug it turn the key and ride!</span>
							</li>
							<li>
								<span>If your motorcycle has been stored for more than four months, change the engine oil. <br/>Before riding your motorcycle, always check the engine oil level.</span>
							</li>
						</ul>
                        <p>For more information refer to your owner’s manual or speak to your local Honda dealer on how to properly store your motorcycle.</p>
                    </div>
                    <div class="content_section">
                        <h2 class="small">The Honda Hotel</h2>
                        <p>The Honda Hotel is a service of motorcycle storage and maintenance offered by some of our participating Honda dealers.</p>
                        <p>We welcome you to the Honda Hotel. It’s the perfect place for your motorcycle to spend the off-season – being cared for as an honoured guest. Rest assured we’ll treat your Honda like family, because to us, it is!</p>
                        <p>Find out about your local Honda dealer’s storage services and ask them about all the details.</p>
                        <p><span class="fbold"> The Honda Hotel:</span> Safe, Secure and Clean.</p>
                        <p><a href="#">Honda Hotel pdf</a></p>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/mc/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->