<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/mc/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
                    <div class="accessories">
                        <div class="fc content_section first_section">
                            <div class="fl h1">Parts &amp; Accessories</div>
							<div class="province-selector fr">
								<select id="accessory_province"><option value="BC" class="95.00">British Columbia</option><option value="AB" class="95.00">Alberta</option><option value="SK" class="95.00">Saskatchewan</option><option value="MB" class="95.00">Manitoba</option><option value="ON" class="95.00">Ontario</option><option value="QC" class="95.00">Quebec</option><option value="NB" class="95.00">New Brunswick</option><option value="NS" class="95.00">Nova Scotia</option><option value="PE" class="95.00">Prince Edward Island</option><option value="NL" class="95.00">Newfoundland and Labrador</option><option value="YT" class="95.00">Yukon</option> </select>
							</div>
                        </div>

                        <div class="fc">
							<a href="#" class="fr download">Download PDF</a>
                        </div>

                        <div class="nb content_section honda_accessories_enabled">
                            <div class="flex_bar"><span>VT1300cra Accessories</span></div>
                            <div id="accessories_list" class="sub_content">
                                <ul>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item1">
                                            Phasellus scelerisque nulla.<br />
                                            <q class="part-number">Part #: 08L09-H1L-300</q>
                                        </a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item2">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item3">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item4">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item5">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item6">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item7">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item8">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item9">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image">-</div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image">-</div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->