<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/mc/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="features">
						<div class="fc content_section first_section">
							<div class="fc feature-titles-controls">
								<div class="fl h1">TRX700XX-TRX700XX <span>Features</span></div>
								<div class="fc fr accordion-controls">
									<a href="javascript:void(0)" class="fl collapse" property="act:collapsible-collapse">Collapse All</a>
									<a href="javascript:void(0)" class="fl expand" property="act:collapsible-expand">Expand All</a>
								</div>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_drivetrain"
								data-collapsible-active="true"
								>Engine/Drivetrain</a></span></div>
							<div id="slidedown_drivetrain" class="sub_content">
								<ul class="red-check">
									<li class="first">Powerful fuel-injected 1,832 cc six-cylinder engine produces smooth, effortless power while surpassing the California Air Resources Board (CARB) 2008 emissions standards</li>
									<li>Low, forward engine placement and solid engine-mounting produce excellent road handling characteristics and impressive low-speed manoeuvrability</li>
									<li>Nickalloy crankshaft bearing caps provide quiet operation throughout the engine's operating temperature range</li>
									<li>Parallel two-valve cylinder-head design utilizes direct shim-under-bucket valve actuation and requires no 1,000 km service</li>
									<li>Silent-type camshaft chains with automatic adjusters provide reliable, maintenance-free operation</li>
									<li>Two 40 mm-diameter throttle bodies deliver air to six specially designed Keihin 50-psi high-pressure programmed fuel injectors (PGM-FI). Fuel is delivered through four nozzle tips in each injector, producing an atomized fuel mixture that is highly combustible for optimum efficiency and power</li>
									<li>Electronic control unit (ECU) provides two digital 3-D fuel injection maps for each cylinder and one digital 3-D ignition map for each cylinder, creating ideal fuel mixture and spark advance settings for superb rideability. Unique knock-control sensors monitor ignition advance to improve performance throughout the entire rpm range</li>
									<li>ECU-controlled closed-loop emission control system utilizes two oxygen sensors to constantly deliver a precise air/fuel mixture, while two exhaust catalytic converters further reduce emissions of carbon monoxide, hydrocarbons and nitrogen oxides</li>
									<li>Rotary Air Control Valve (RACV) maintains precise idle control under widely varying engine loads and operating temperatures</li>
									<li>Compact water pump is mounted behind the engine and is driven directly by the crankshaft, contributing to quicker engine warm-up</li>
									<li>Engine cooling system features a series-flow coolant flow pattern that offers cold-start rideability and provides rapid engine warm-up</li>
									<li>Two side-mounted radiators enhance cooling efficiency and use low-air-pressure areas created by side cowls to draw cooling air through the radiators and beyond the rider at highway speeds</li>
									<li>Sturdy eight-plate clutch with maintenance-free hydraulic-assist</li>
									<li>Efficient stainless steel six-into-two exhaust system produces a pleasing, powerful sound</li>
									<li>Powerful 1,300-watt alternator uses a fluid-damper (viscous coupling) system to minimize alternator noise</li>
									<li>Precise-shifting five-speed transmission includes overdrive fifth</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_suspension"
								data-collapsible-active="false"
								>Chassis/Suspension</a></span></div>
							<div id="slidedown_suspension" class="sub_content">
								<ul class="red-check">
									<li class="first">Beautiful multi-box-section aluminum dual-spar frame and Pro-Arm single-sided cast aluminum swingarm set new class standards for handling</li>
									<li>The innovative aluminum frame is specifically engineered for optimum rigidity with tuned flex. This combination of rigidity and flexibility produces excellent handling, superb riding comfort and wonderful road feel</li>
									<li>Inherently smooth flat-six-cylinder engine also serves as a tuned stressed frame member. The solid engine-mounting system utilizes specially designed hangers and carefully matched mounting bolts to provide both excellent road feel and minimal engine vibration</li>
									<li>The Gold Wing Airbag's rigid Pro-Arm single-sided cast aluminum swingarm provides simplified servicing of the rear wheel and tire, while assuring optimum handling</li>
									<li>Dual full-floating 296 mm front discs with Dual-Combined Braking System three-piston calipers and a single ventilated 316 mm rear disc with one Dual-Combined Braking System three-piston caliper provide excellent braking power</li>
									<li>Honda's Dual-Combined Braking System features a second master cylinder and a three-stage proportional control valve (PCV) to couple the three-piston calipers of the dual front and single rear brake discs. Using the front brake lever activates the outer two pistons of the front right-side caliper and the centre piston of the front left-side caliper and, acting through the secondary master cylinder and an inline proportioning valve, the outer two pistons of the rear caliper. The rear brake pedal operates the centre piston of the rear brake caliper, the centre piston of the front right-side brake caliper and the outer two pistons of the front left-side caliper. A delay valve sensitive to the rider's pedal pressure smoothes front brake engagement</li>
									<li>Anti-lock Braking System (ABS) features an electric-motor-driven modulator that provides rapid and precise braking-pressure adjustments, resulting in smooth ABS operation. The system incorporates an integrated ECU, self-diagnostics with an interactive ECU test function, and automatic protection against system failure</li>
									<li>Massive 45 mm front fork houses a cartridge damper in the right leg with 120 mm (4.8 inches) of travel for a smooth yet superb ride in all road conditions</li>
									<li>Anti-dive system minimizes front fork dive when braking. The system utilizes brake fluid pressure generated in the secondary Dual-Combined Braking System master cylinder mounted on the left fork leg and is activated by input from either the front brake lever or the rear brake pedal. This application of anti-dive and Dual-Combined Braking System produces enhanced stability when manoeuvring at both low speeds and highway speeds</li>
									<li>Pro-Link-mounted rear shock provides 105 mm (4.1 inches) of plush travel for relaxed touring or sport riding</li>
									<li>Computer-controlled adjustable hydraulic rear suspension preload is easily set by the rider with push-button controls and features a two-position memory</li>
									<li>Unique driveshaft-damping system utilizes a double-pipe structure, with a rubber-bonded coating applied to the inner pipe to absorb road shock and engine torque. The long-life design simplifies rear wheel maintenance</li>
									<li>Final gearcase assembly design in the Pro-Arm eliminates wheel alignment splines and assures accurate alignment of the rear wheel after servicing</li>
									<li>Cast aluminum 18 x 3.5-inch front wheel and 16 x 5.0-inch rear wheel are lightweight and strong. Radial touring tires are specifically engineered for the Gold Wing Airbag, providing a combination of excellent traction, cornering grip and long tire life</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_touring"
								data-collapsible-active="false"
								>Touring Features</a></span></div>
							<div id="slidedown_touring" class="sub_content">
								<ul class="red-check">
									<li class="first">Honda Satellite Linked Navigation System includes a colour screen, complete Canadian and U.S. mapping with points of interest installed, voice prompting through headsets or speakers, on-screen text guidance and "pop up" menus, and easy-to-use handlebar and fairing-mounted controls. Point-of-interest information includes fuel stations, restaurants, lodging, attractions, transportation, government and emergency information and saved rider's input with home function</li>
									<li>State-of-the-art premium audio system features 80-watt per channel amplifier, six-element speaker system and a tuner with optional CD player and an auxiliary component port</li>
									<li>Five-position heated grips and five-position heated seat/backrest combination with individual rider and passenger controls for optimum comfort</li>
									<li>Foot-warming system channels engine-heated air over the rider's feet and is controlled by a fairing-mounted lever</li>
									<li>The parallel two-valve cylinder head design, together with side-mounted radiators, allows optimum ergonomics, with excellent rider foot room and a large passenger cockpit</li>
									<li>Slow-speed electric reverse system is engaged with the simple push of the thumb controls on the right handlebar</li>
									<li>Lightweight electronic cruise control system utilizes a 16-bit ECU-controlled, motor-actuated throttle mechanism</li>
									<li>The Gold Wing Airbag's aerodynamic bodywork is functional as well as beautiful, providing excellent rider wind protection while reducing the aerodynamic drag coefficient</li>
									<li>A simple yet ingenious ratcheting windshield-adjustment system provides six settings over nearly 100 mm (4 inches) of travel. Operated manually, the mechanism eliminates the weight and complexity of electric motors</li>
									<li>Adjustable and closeable windshield vent routes fresh air to the rider's face or chest</li>
									<li>A spacious trunk provides 60 litres of storage capacity with an additional 5 litres of storage available if the optional CD changer is not installed. Two full-face helmets fit easily in the trunk. The saddlebags provide 40-plus litres of storage each, resulting in a total of 147 litres of storage space</li>
									<li>The saddlebag lids feature hydraulic dampers for smooth operation</li>
									<li>Specially designed luggage features a remote-control key-lock, permitting pop-open rear trunk operation; a remote lock/unlock feature for the trunk and the saddlebags; and a horn-actuated bike locator. If remote locking is attempted while a lid is open, the emergency lights flash to alert the rider</li>
									<li>Storage pocket is located in the fairing and rear trunk for convenient, easy-access storage</li>
									<li>Soft-touch plastic elastomer provides a luxurious feel to the front console, front and rear-pocket covers, and the passenger armrests</li>
									<li>Ergonomically designed saddle with a low 740 mm ( 29.1-inch) seat height has a plush passenger seat with integral backrest and side support for all-day riding comfort</li>
									<li>Instrument cluster includes white-on-black analog displays for speedometer, tachometer, coolant temperature and fuel level, plus features adjustable backlighting and high-luminescence red pointers. Indicator/warning lights are provided for reverse, neutral, overdrive, oil pressure, fuel injection, high beam, sidestand, cruise on, cruise set and low fuel. A high-resolution LCD, housed in a separate module, is visible in all lighting conditions and displays the odometer, A/B tripmeter, ambient temperature, audio modes, CB, rear-suspension setting, trunk/saddlebag-open indicators and a clock</li>
									<li>Motorized headlight aiming system is operated by a dial switch and provides 2.5 degrees of adjustment from level</li>
									<li>Large 25-litre fuel tank houses the PGM-FI fuel pump and provides excellent long-distance cruising range</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_additional"
								data-collapsible-active="false"
								>Additional Features</a></span></div>
							<div id="slidedown_additional" class="sub_content">
								<ul class="red-check">
									<li class="first">Industry-first fully integrated rider airbag on a motorcycle. Four sensors mounted on the front fork measure the change in deceleration caused by an impact, and send that data to an ECU computer. If the ECU determines that a serious collision is in progress, it instantly instructs the airbag to deploy from a panel in the dash area</li>
									<li>The Tire Pressure Management System (TPMS) automatically reads the inflation pressure of the front and rear tires and alerts you if it detects under-inflation</li>
									<li>Headlight system features two 55-watt H7 low-beam and two 55-watt H7 high-beam bulbs with computer-designed multi-reflectors. In high-beam operation, all four bulbs produce a distinctive front lighting signature</li>
									<li>Engine and saddlebag guards help protect the bodywork in case of a tip-over</li>
									<li>Silver powder-coated finish helps ensure the aluminum frame will remain beautiful for years to come</li>
									<li>Maintenance-free features include: automatic choke, RACV automatic idle, programmed fuel injection, automatic cam-chain adjusters, sealed battery, electronic cruise control and computer-controlled hydraulic rear spring preload adjustment</li>
									<li>Handsome two-piece aluminum handlebars are lightweight and strong</li>
									<li>Adjustable brake and clutch levers</li>
									<li>Self-cancelling turn signals</li>
									<li>Fully illuminated handlebar and radio switches</li>
									<li>Extensive tool kit</li>
									<li>Dual electric spiral horns trumpet a distinctive note</li>
									<li>20-amp YTX maintenance-free battery</li>
									<li>Dual helmet locks</li>
									<li>Fold-down antenna for easy storage</li>
									<li>Padded passenger handrails</li>
									<li>Easy-to-use centrestand</li>
									<li>Convenient ignition switch/fork lock for added security</li>
									<li>3 year, unlimited mileage, freely transferable warranty; extended coverage available with Honda Plus</li>
								</ul>
							</div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->