<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>










	<div class="wrapper product_wrapper_top_cap">
			<div class="container cap_top_default pf"></div>
		</div>
		<div class="wrapper product_wrapper">
			<div class="container product_heading">
				<div class="fc header"> <!-- Add class when the discount is not present to expand the title space -->
					<div class="fl fc product_name">
						<div class="fl">
							<h1>GL 1800AD Gold Wing Airbag</h1>
							<h2>Cruiser</h2>
							<a class="pf btn-help btn-tooltips"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right-alt"
								data-tooltip-content-target="#product-type-help1"></a>
						</div>
						<div class="fl pf view-all-family">
							<a href="#" class="fnat pf view-all">
								see all VFR1200FA Models
							</a>
						<!-- <div class="vehicle-dropdown" style="position:absolute; top:-4px; left:-19px; z-index:5;">
								<div class="dropdown_button pf"></div>
								<div class="dropdown_content pf">
									<div class="dropdown_content_top pf"></div>
									<div class="dropdown_content_mid pf">
										<div class="subview">
											<table class="vehicle-list">
												<tr>
													<td class="image">
														<div>
															<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
														</div>
													</td>
													<td class="name fnat">
														<div>
															2011 VFR1200FA 2011 VFR1200FA 2011 VFR1200FA
														</div>
													</td>
													<td class="price">
														<div>
															<span class="num fnat">$18,699<span class="tiny">MSRP</span></span>
														</div>
													</td>
												</tr>
												<tr>
													<td class="image">
														<div>
															<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
														</div>
													</td>
													<td class="name fnat">
														<div>
															2011 VFR1200FA
														</div>
													</td>
													<td class="price discounted">
														<div>
															<span class="fnat discounted-price"><span>manufacturer</span><span>discounted price</span>$18,699</span>
															<span class="num fnat"><del><span class="strike"></span>$18,699</del><span class="tiny">MSRP</span></span>
														</div>
													</td>
												</tr>
												<tr>
													<td class="image">
														<div>
															<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
														</div>
													</td>
													<td class="name fnat">
														<div>
															2011 VFR1200FA
														</div>
													</td>
													<td class="price">
														<div>
															<span class="num fnat">$18,699<span class="tiny">MSRP</span></span>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="dropdown_content_bottom pf"></div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="fr fc product-price-container">
						<div class="fr large-price mdp multiline msrp">
							<div class="fc mdp">
								<a class="btn-discounted-price pf btn-help btn-tooltips fr"
		                            property="act:tooltip"
		                            data-position-my="right top"
									data-position-at="left top"
									data-position-offset="0 -20"
		                            data-tooltip-class="tooltip-left tooltip-disclaimer"
		                            data-tooltip-content-target=".hotspot-20"></a>
								<span class="price-heading fr">
									manufacturer<br />discounted price
								</span>
							</div>
							<span class="price"><sup>$</sup>12,849</span>
						</div>
						<!-- HIDDEN TO MAKE SPACE FOR PROPER DISPLAY OF CONTENT
						<div class="fr large-price mdp multiline">
							<span class="price-heading">Manufacturer<br/>
								Discounted Price</span>
							<span class="price"><sup>$</sup>7,999</span>
						</div>
						<div class="fr large-price your-price">
							<span class="price-heading">Your Price</span>
							<span class="price"><sup>$</sup>12,849</span>
						</div>-->

						<!-- +++++ Uncomment to view the discount prices +++++ -->
						<div class="fr small-price discount-price">
							<span class="price-heading">Discount</span>
							<span class="price">$2,600</span>
						</div>
						<div class="fr small-price msrp">
							<span class="price-heading wlink">
								MSRP
								<a class="pf btn-help btn-tooltips" data-tooltip-content-target="#msrp-legal" data-tooltip-class="tooltip-top-alt tooltip-msrp" data-position-my="right bottom" data-position-at="right top" data-position-offset="30 -10" property="act:tooltip"></a>
							</span>
							<del><span class="strike"></span><span class="price">$13,299</span></del>
						</div>

						<div class="clr"></div>
					</div>
					<div class="fr fc product-options-container">

						<div class="fr option colors">
							<div class="options-heading">Colour</div>
							<div class="fc fr option-items">
								<a href="#" class="active" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color black"></span></a>
								<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
								<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
								<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
								<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
							</div>
						</div>

						<div class="fr option years">
							<div class="options-heading">Model Year</div>
							<ul class="fc fr option-items">
								<li class="year">
									<span>2011</span>
								</li>
								<li class="year">
									<a href="#">2010</a>
								</li>
								<li class="year">
									<a href="#">2009</a>
								</li>
								<li class="year">
									<a href="#">2008</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="fc content"><!-- USE no-accessories class to display content properly with no accessories side box -->



					<div class="fl feature-image" style="text-align: center; width: 750px;">
						<span class="view-360"><img alt="" src="/_Global/img/content/mc/products/360-view-icon-placeholder.gif"></span>

						<!-- this is the product image -->
						<div style="width:730;height:370px;text-align:center;" class='hero-image'>
							<img id="ctl00_ctl00_ctl00_ctl00_BodyContent_wrapper_seperator_wrapper_seperator_ImageModelImage" src="/_Global/img/temp/cbr_600_rr.jpg" style="border-width:0px;" />
							<p class="tag-image-disclaimer product-legal">ABS model shown</p>
						</div>
						<div style="width:730;height:370px;text-align:center;" class="viewer-360 dn">
							<div property="honda:360"></div>
							<p class="product-legal">ABS Model Shown</p>
						</div>
					</div>
					<div class="fl feature-image hero dn"></div>

					<div class="fr top_selling">
						<h3>Top Selling Accessories</h3>

	                    <a class="btn-up btn-disabled prev"></a>
	                    <div class="accessory-carousel" property="act:carousel"
	                         data-carousel-vertical="true"
	                         data-carousel-disabled-class="btn-disabled"
	                         >
	                        <div class="items">
	                            <div>
	                                <div class="first accessory">
	                                    <a class="image btn-tooltips"
	                                        property="act:tooltip"
	                                        data-position="left top"
	                                        data-tooltip-class="tooltip-left"
	                                        data-tooltip-content-target="#product-accessories-item1">
	                                    </a>
	                                    <div class="description">
	                                        <span class="product-item">Rear Grab Bar</span>
	                                        <div class="price">
	                                            $129.95
	                                            <span>MSRP</span>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="accessory">
	                                    <a class="image btn-tooltips"
	                                        property="act:tooltip"
	                                        data-position="left top"
	                                        data-tooltip-class="tooltip-left"
	                                        data-tooltip-content-target="#product-accessories-item2">
	                                    </a>
	                                    <div class="description">
	                                        <span class="product-item">Trailerable Cover</span>
	                                        <div class="price">
	                                            $209.95
	                                            <span>MSRP</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div>
	                                <div class="first accessory">
	                                    <a class="image btn-tooltips"
	                                        property="act:tooltip"
	                                        data-position="left top"
	                                        data-tooltip-class="tooltip-left"
	                                        data-tooltip-content-target="#product-accessories-item1">
	                                    </a>
	                                    <div class="description">
	                                        <span class="product-item">Lorem Ipsum</span>
	                                        <div class="price">
	                                            $29.95
	                                            <span>MSRP</span>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="accessory">
	                                    <a class="image btn-tooltips"
	                                        property="act:tooltip"
	                                        data-position="left top"
	                                        data-tooltip-class="tooltip-left"
	                                        data-tooltip-content-target="#product-accessories-item2">
	                                    </a>
	                                    <div class="description">
	                                        <span class="product-item">Lorem Ipsum</span>
	                                        <div class="price">
	                                            $29.95
	                                            <span>MSRP</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <a class="btn-down next"></a>
	                </div>
	     		</div>
				<div class="fc footer">
					<div class="fc fl nm inner_footer_l">
						<a property="act:audio"
	                       data-audio-url=""
	                       data-audio-play-class="btn-audio-play"
	                       data-audio-stop-class="btn-audio-pause"
	                       class="fl btn secondary" href="javascript:void(0)"><span class="hearit">Hear It</span></a>
						<a class="fl btn secondary" href="#"
							property="act:popup"
							data-popup-modal="true"
							data-popup-content-target="#popup-image"
							><span class="enlarge">Enlarge</span></a>
						<span class="fl divider"></span>
						<a href="#" class="fl btn primary"><span>Build &amp; Price</span></a>
						<a href="#" class="fl btn primary"><span>Compare</span></a>
					</div>

					<p class="fr nm inner_footer_r">
						<a href="product-overview.html#">See All Motocycles</a>
						<img src="/_Global/img/content/products/btn_fb_like.gif" alt="" />
					</p>
				</div>
			</div>
		</div>
		<div class="wrapper product_wrapper_bottom_cap">
			<div class="container cap_bottom_default pf"></div>
		</div>

	<div id="product-type-help1" class="dn">
		<div class="tooltip_heading">Lorem Ipsum dolor</div>
		<p>Quisque id lorem justo. Duis nasdfasdfasfdasdf asdfasfas fdasdfafon vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
	</div>

	<div id="product-accessories-item1" class="dn">
		<div class="image"></div>
		<div class="tooltip_heading">Lorem Ipsum 1</div>
		<div class="tooltip_price"><strong>$000.00</strong></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
	</div>

	<div id="product-accessories-item2" class="dn">
		<div class="image"></div>
		<div class="tooltip_heading">Lorem Ipsum 2</div>
		<div class="tooltip_price"><strong>$000.00</strong></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
	</div>

	<div id="popup-image" class="dn">
		<div>
			<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
			<div class="pf popup-image-top-cap"></div>
			<div class="pf popup-image-content">
				<div class="popup-image-large"></div>
			</div>
			<div class="pf popup-image-bottom-cap"></div>
		</div>
	</div>

	<!-- Hotspot Begins -->
	<span class="hotspot-20 dn">
	    <p class="heading">Lorem ipsum dolor</p>
		<p>Honda’s Summer Lovin’ Event (“Offer”) applies to eligible retail purchase agreements for a limited time, while supplies last. *This Offer is validon a new (not previously registered) [Model]. Discount  of [$value] (manufacturer’s and dealer’s as applicable) is deducted from MSRP of [$value] before taxes, and available only at participating dealers. The“Your Price” value shown does not include Freight and PDI. Freight and PDI, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Offer valid from July 1, 2011 until August 31, 2011 inclusive (“Offer Period”). **Limited time financing offer on new (not previously registered) 2010 Gold Wing Airbag and Gold Wing available through Honda Financial Services until July 31, 2011,on approved credit, at 3.9% APR, for 60 months. Finance Example: 2010 GL1800AD Gold Wing Airbag with a “Your Price” of $25,499 (which includesa $6,000 Manufacturer’s and/or Dealer’s discount) financed at 3.9% APR for60 months equals $468.45 per month for 60 months. Cost of borrowing is $2,608.00 for a total obligation of $28,107.00. Freight and PDI, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Ask your dealer for details. */** All offers valid at participating Honda Motorcycle Dealers in Canada only. Dealer may sell for less. Prices/Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details. Errors and omissions excepted.</p>
	</span>
	<!-- Hotspot Ends -->












    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
                    <div class="accessories">
                        <div class="fc content_section first_section">
                            <div class="fl h1">Parts &amp; Accessories</div>
							<div class="province-selector fr">
								<select id="accessory_province"><option value="BC" class="95.00">British Columbia</option><option value="AB" class="95.00">Alberta</option><option value="SK" class="95.00">Saskatchewan</option><option value="MB" class="95.00">Manitoba</option><option value="ON" class="95.00">Ontario</option><option value="QC" class="95.00">Quebec</option><option value="NB" class="95.00">New Brunswick</option><option value="NS" class="95.00">Nova Scotia</option><option value="PE" class="95.00">Prince Edward Island</option><option value="NL" class="95.00">Newfoundland and Labrador</option><option value="YT" class="95.00">Yukon</option> </select>
							</div>
                        </div>

                        <div class="fc">
							<a href="#" class="fr download">Download PDF</a>
                        </div>

                        <div class="nb content_section honda_accessories_enabled">
                            <div class="flex_bar"><span>VT1300cra Accessories</span></div>
                            <div id="accessories_list" class="sub_content">
                                <ul>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item1">
                                            Phasellus scelerisque nulla.<br />
                                            <q class="part-number">Part #: 08L09-H1L-300</q>
                                        </a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item2">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item3">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item4">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item5">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item6">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item7">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item8">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item9">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image">-</div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image">-</div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript">
	var options360 = {
		width: 640,
		height: 378,
		images: [
			'/_Global/img/temp/360/Seq_v04_640x378_01.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_02.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_03.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_04.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_05.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_06.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_07.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_08.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_09.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_10.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_11.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_12.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_13.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_14.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_15.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_16.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_17.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_18.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_19.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_20.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_21.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_22.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_23.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_24.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_25.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_26.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_27.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_28.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_29.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_30.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_31.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_32.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_33.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_34.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_35.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_37.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_38.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_39.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_40.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_41.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_42.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_43.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_44.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_45.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_46.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_47.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_48.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_49.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_50.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_51.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_52.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_53.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_54.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_55.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_56.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_57.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_58.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_59.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_60.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_61.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_62.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_63.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_64.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_65.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_66.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_67.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_68.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_69.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_70.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_71.jpg'
			, '/_Global/img/temp/360/Seq_v04_640x378_72.jpg'
			]};
</script>
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->