<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-listing page-product-generators"> 
<div class="background_tile"> <div class="background_image">
	<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="banner">
					<img src="/_Global/img/content/mc/products/banner.jpg" alt="Honda Motorcycles" />
				</div>
				
				<div class="feature_header">
					<div class="h2">Why Buy a Honda Motorcycle?</div>
					<p>Honda has developed unique technologies and features you just can't find on any other Motorcycles.</p>
				</div>
				
				<table class="feature_box">
					<tr>
						<td class="top_cap">
							<img src="/_Global/img/content/mc/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Premier coussin gonflable pour motocyclette</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/mc/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Premier coussin gonflable pour motocyclette</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/mc/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Premier coussin gonflable pour motocyclette</p>
						</td>
					</tr>
					
					<tr>
						<td class="center_cap">
							<p>Honda offre des systèmes de freinage antiblocage en équipement de série sur un plus grand nombre de modèles de motocyclettes que tout autre fabricant.</p>
						</td>
						<td class="center_cap">
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<p>Similique sunt in culpa</p>
						</td>
					</tr>
					
					<tr>
						<td class="bottom_cap">
							<div class="btn">
								<a href="#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="#">Learn More</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<ul class="fc tabs_horizontal"> 
				<li class="fl first"><a rel="#all_motorcycles" class="selected inner_page_link" href="product-listing.html">All Motorcycles</a></li>
				<li class="fl last"><a rel="#choose_model" class="inner_page_link" href="product-listing-choose-model.html">Choose a Model</a></li>
			</ul>
			<div class="content_container overview">
				<div class="content_section first_section">
					<h1>Honda Motorcycles <span>All Models</span></h1>
				</div>
				<div class="content_section primary_section">
					<h2>Cruiser</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
					
					<div class="fc product">
						<div class="fl first product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-url="/pe/inc/product-listing-product-tooltip-detail1.html"
								data-popup-handler="rollover"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc original price">
								<del><span class="strike"></span><strong>$16,599</strong></del>
								<span>MSRP</span>
							</div>
							<div class="fc final price multiline">
								<strong>$10,599</strong>
								<span>Manufacturer<br/>
									Discounted Price</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item2"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc original price">
								<strong>$16,599</strong>
								<span>MSRP</span>
							</div>
							<div class="fc special price">
								<strong>$6,000</strong>
								<span>Discount</span>
							</div>
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>Your Price</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="left top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-right"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="left top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-right"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl first product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl first product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								></div>
							
							<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
							
							<div class="fc final price">
								<strong>$16,799</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
					</div>
					
					<div class="sub_section">
						<h2>Sport</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<h2>Touring</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<h2>Adventure</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<h2>Scooter</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<h2>Off Road</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					<div class="sub_section">
						<h2>Competition</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								
								<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
								
								<div class="fc final price">
									<strong>$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
				<div class="nb content_section compare">
					<h2>Compare Motorcycles</h2>
					<div class="fc bottom_feature_inner">
						<ul class="fc fl product">
							<li class="fc fl pf first active product-item">
								<div class="fl list-steps">1</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">VT1300CXA<br/>Fury-12</h3>
									
									<div class="fc final price">
										<strong>$16,799</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf active product-item">
								<div class="fl list-steps">2</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
									
									<div class="fc final price">
										<strong>$16,799</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf active product-item">
								<div class="fl list-steps">3</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">VT1300CXA<br/>Fury</h3>
									
									<div class="fc final price">
										<strong>$16,799</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf product-item">
								<div class="fl pf list-steps">4</div>
								
								<div class="fl product-item-inner">
									<div class="add-model">Add a Model<br />
										to Compare</div>
								</div>
							</li>
						</ul>
							
						<div class="fl recently_viewed_compare">
							<p class="np nm compare-these"><strong>Compare<br />
								these Motorcycles</strong></p>
							<a href="#" class="btn primary"><span>Compare</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<div id="toolbox_item" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$999</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$100</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove add">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Add to Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="toolbox_item2" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$16,599</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$6,000</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove remove">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Remove from Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="error_msg" class="dn">
	<div>
		<p class="heading">Error!</p>
		<p>Lorem ipsum dolor sit amet, Consectetur aconsecteturdipiscin.</p>
	</div>
</div>





<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->