<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/mc/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="gallery">
						<div class="content_section first_section main_image">
							<div class="fl h1">Gallery</div>
							<a href="#" class="fr download">Download Wallpaper</a>
							<div class="clr"></div>
							
							<!-- this is the product TEMP image -->
							<img alt="" src="/_Global/img/temp/placeholder_overview_feature.gif"	height="370" width="658" />
						</div>
						<div class="fc content_section image_thumbs">
							<div class="fl first thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
							<div class="fl thumb"></div>
							<div><!-- IE QUIRK --></div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->