<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/mc/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div id="inner_page_content" class="content_container">
                    <div class="overview">
                        <div class="content_section first_section">
                            <div class="h1">VT1300cra <span>Overview</span></div>
                            <h2>Extreme engine performance, combined with a chassis that lets you put all that power to use.</h2>
                            <p class="large">The stunning Honda VT1300cra brings the stable, confident handling that Honda Motorcycles are famous for to the big-bore IRS class. The engine is a high-tech marvel, boasting 686 cc of fuel-injected, liquid-cooled power and torque. And the chassis is even more advanced, with innovative features such as a central chain drive to the rear wheels that allows perfectly symmetrical rear A-arms and driveshafts, plus numerous other benefits. The result? Reduced wheel scrub, improved rigidity, and a much more planted feel in all conditions.</p>
                        </div>
						<div class="content_section mb30">
							<h2><img src="/_Global/img/content/products/icon_sun.png" alt="" class="pf" /> The most important thing you need to know about ATVs.</h2>
                            <p class="large">The stunning Honda TRX700XX brings the stable, confident handling that Honda ATVs are famous for to the big-bore IRS class. The engine is a high-tech marvel, boasting 686 cc of fuel-injected, liquid-cooled power and torque. And the chassis is even more advanced, with innovative features such as a central chain drive to the rear wheels that allows perfectly symmetrical rear A-arms and driveshafts, plus numerous other benefits. The result? Reduced wheel scrub, improved rigidity, and a much more planted feel in all conditions.</p>
                            <p class="why-buy-link-more"><a href="#" property="act:more-text">Read More</a></p>
                            <div id="advantage-expanded">
                            	<div class="sub_section">
	                                <h2 class="small">Mauris ultricies velit eu sem placerat faucibus</h2>
	                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tincidunt purus et rhoncus. Vivamus convallis arcu nec elit laoreet vel pharetra ipsum interdum. Sed tincidunt felis at lacus consequat vitae auctor dolor lacinia. Sed ac urna in ipsum elementum euismod at et ipsum.</p>
	                            </div>
	                            <div class="sub_section">
	                                <h2 class="small">Etiam eleifend, ante vel suscipit</h2>
	                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tincidunt purus et rhoncus. Vivamus convallis arcu nec elit laoreet vel pharetra ipsum interdum. Sed tincidunt felis at lacus consequat vitae auctor dolor lacinia. Sed ac urna in ipsum elementum euismod at et ipsum.</p>
	                            </div>
	                            <div class="sub_section">
	                                <h2 class="small">Maecenas hendrerit nisl ac facilisis rhoncus</h2>
	                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tincidunt purus et rhoncus. Vivamus convallis arcu nec elit laoreet vel pharetra ipsum interdum. Sed tincidunt felis at lacus consequat vitae auctor dolor lacinia. Sed ac urna in ipsum elementum euismod at et ipsum.</p>
	                            </div>
	                            <div class="sub_section">
	                                <h2 class="small">Mauris et varius turpis fusce porta</h2>
	                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tincidunt purus et rhoncus. Vivamus convallis arcu nec elit laoreet vel pharetra ipsum interdum. Sed tincidunt felis at lacus consequat vitae auctor dolor lacinia. Sed ac urna in ipsum elementum euismod at et ipsum.</p>
	                            </div>
								<p class="why-buy-link-less"><a href="#" property="act:less-text">Collapse</a></p>
							</div>
						</div>
						<div class="content_section nb np nm">
                            <div class="fc feature_box">
                                <div class="fl feature_box_l">
                                    <div class="watch_now_copy">
                                        <h2 class="np small">See all Honda Motorcycles videos on YouTube</h2>
                                        <p>Fusce cursus placerat magna a gravida. Duis semper luctus sodales. Donec adipiscing malesuada posuere.</p>
                                        <div class="divider"></div>
                                        <div class="btn">
                                            <a href="product-overview.html#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fr feature_box_r">
                                    <div class="btn_youtube">
                                        <a href="#">
                                            <img src="/_Global/img/content/products/btn_youtube.gif" alt="Watch now" class="pf" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_section nb recently_viewed">
                            <h2><img src="/_Global/img/content/products/icon_recent.gif" alt="" /> Recently Viewed</h2>

                            <div class="fc bottom_feature_inner">
                                <ul class="fc fl recently_viewed_product">
                                    <li class="fl nm pf product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">VT1300cra</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">VT1300cra</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">VT1300cra</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="fr recently_viewed_compare">
                                    <p class="np compare-these"><strong>Compare these Motorcycle</strong></p>
                                    <a href="product-overview.html#" class="btn primary"><span>Compare</span></a>
                                </div>
                            </div>
					    </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="http://www.jplayer.org/latest/js/jquery.jplayer.inspector.js"></script>
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->