<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: sitemap.html 1007 2011-06-02 18:33:24Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/sitemap.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Sitemap</h1>
						
						<h2 class="fnat">On Road</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h3>Sport</h3>
								<ul class="sitemap">
								</ul>
							</li>
							<li class="fl">
								<h3>Cruiser</h3>
								<ul class="sitemap">
								</ul>
							</li>
							<li class="fl">
								<h3>Touring</h3>
								<ul class="sitemap">
								</ul>
							</li>
						</ul>
						
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h3>Scooter</h3>
								<ul class="sitemap">
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<h2 class="fnat">Off-Road</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h3>Dual-Sport</h3>
								<ul class="sitemap">
								</ul>
							</li>
							<li class="fl">
								<h3>Competition</h3>
								<ul class="sitemap">
								</ul>
							</li>
							<li class="fl">
								<h3>Off-Road</h3>
								<ul class="sitemap">
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<h2 class="fnat">The Honda Advantage</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<ul class="sitemap">
									<li><a href="/honda-advantage">Overview</a></li>
									<li><a href="/honda-advantage/motorcycle">Why Buy a Honda?</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<h2 class="fnat">Shopping Tools</h2>
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<ul class="sitemap">
									<li><a href="/buildyourmotorcycle">Build &amp; Price</a></li>
									<li><a href="/compare">Compare Models</a></li>
									<li><a href="/special-offers">Special Offers</a></li>
									<li><a href="/dealerlocator">Find a Dealer</a></li>
								</ul>
							</li>
							<li class="fl">
								<ul class="sitemap">
									<li><a href="/lease-finance">Lease &amp; Finance</a></li>
									<li><a href="/gear-apparel">Gear &amp; Apparel</a></li>
									<li><a href="/parts-service-overview">Parts &amp; Service</a></li>
									<li><a href="/accessories">Accessories</a></li>
									<!--<li><a href="#">Help Me Choose</a></li>-->
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h2 class="fnat">Lease &amp; Finance</h2>
								<ul class="sitemap">
									<li><a href="/lease-finance">Overview</a></li>
									<li><a href="/lease-finance/finance-options">Finance Options</a></li>
									<li><a href="/lease-finance/credit-application">Credit Application</a></li>
									<li><a href="/lease-finance/faq">Frequently Asked Questions</a></li>
									<li><a href="/lease-finance/contact-us">Contact Us</a></li>
									<li><a href="/lease-finance/privacy">Privacy</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Safety</h2>
								<ul class="sitemap">
									<li><a href="/safety">Safety Guidelines</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">News &amp; Events</h2>
								<ul class="sitemap">
									<li><a href="/events">Events</a></li>
									<li><a href="/news">News</a></li>
									<li><a href="http://www.jrr.honda.ca" target="blank">Junior Red Riders</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="content_section">
						<ul class="fc inner_three_column_sitemap">
							<li class="fl first">
								<h2 class="fnat">Accessories</h2>
								<ul class="sitemap">
									<li><a href="/accessories">Overview</a></li>
									<li><a href="/accessories/find-accessories">Find Accessories</a></li>
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Parts &amp; Service</h2>
								<ul class="sitemap">
									<li><a href="/parts-service-overview">Why Choose Honda Service?</a></li>
									<li><a href="/parts-service/honda-genuine-parts">Honda Genuine Parts</a></li>
									<li><a href="/parts-service/maintenance-schedules">Maintenance Schedules</a></li>
									<li><a href="/parts-service/pre-ride-guide">Pre-Ride Guide</a></li>
									<li><a href="/parts-service/warranty">Warranty</a></li>
									<li><a href="/parts-service/storage-tips">Storage Tips</a></li>
									<li><a href="/parts-service/owners-website">Owner's Website</a></li>
									<!--<li><a href="#">Events ** add when events are in</a></li>-->
								</ul>
							</li>
							<li class="fl">
								<h2 class="fnat">Gear &amp; Apparel</h2>
								<ul class="sitemap">
									<li><a href="/gear-apparel/safety-riding-apparel">Safety &amp; Riding Apparel</a></li>
									<li><a href="/gear-apparel/women-apparel">Women's Apparel</a></li>
									<li><a href="/gear-apparel/riding-boots-gloves">Riding Boots &amp; Gloves</a></li>
									<li><a href="/gear-apparel/fox-honda-off-road-gear">Fox/Honda Off-Road Gear</a></li>
									<!--<li><a href="#">Events ** add when events are in</a></li>-->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->