<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-features">
		<div class="banner">
			<div class="pf hash-tag-grey">
				<span class="pf">#maCBR250R</span>
			</div>
			
			<img src="/_Global/img/content/mc/cbr/banner_special_features.jpg" alt="" />
			<a class="pf hotspot btn-tooltips"
				style="left: 230px; top: 120px;"
				data-tooltip-content-target=".hotspot-01"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-01 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_storage.jpg" />
				<div class="info">
					<p class="heading">Rangement sous la selle</p>
					<p>Protège tes objets de valeur. Tu te demandes où tu vas mettre ton cellulaire, portefeuille et verres fumés? Ne t’en fais pas. La selle du passager dissimule un compartiment verrouillable pour ces objets, ce qui ajoute à la polyvalence de la CBR250R.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 285px; top: 150px;"
				data-tooltip-content-target=".hotspot-02"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-02 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_passenger_seat.jpg" />
				<div class="info">
					<p class="heading">Selle du passager</p>
					<p>Embarque un ou une amie et pars. La selle de passager avec rail de maintien et ses repose-pieds sont là pour que tu puisses partager tes aventures avec qui tu voudras.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 385px; top: 165px;"
				data-tooltip-content-target=".hotspot-03"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-03 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_seat_height.jpg" />
				<div class="info">
					<p class="heading">Hauteur de selle</p>
					<p>Avec une hauteur de selle d’à peine 780 mm (30,5 po), la CBR250R permet à la plupart des conducteurs de toucher le sol en toute confiance aux feux rouges, et est plus confortable durant les longs parcours.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 360px; top: 240px;"
				data-tooltip-content-target=".hotspot-04"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-04 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_suspension.jpg" />
				<div class="info">
					<p class="heading">Suspension arrière Pro-Link<sup>MD</sup></p>
					<p>Une conduite sensationnelle à découvrir. La CBR250R possède une suspension arrière à monoamortisseur réglable en précontrainte qui assure une conduite douce, facile à maîtriser, lors des trajets quotidiens au travail ou durant une longue randonnée avec tes amis.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 240px; top: 315px;"
				data-tooltip-content-target=".hotspot-05"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-05 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_brakes.jpg" />
				<div class="info">
					<p class="heading">Freinage à disques et Combiné ABS</p>
					<p>Tu peux te sentir confiant en sachant que les freins hydrauliques à disques avant et arrière te procureront une puissance de freinage optimale. Pour plus de sécurité la CBR250R est aussi offerte avec le système Combiné ABS (C-ABS) pour te permettre de freiner avec confiance lorsqu’il pleut, ou lors des situations de freinage d’urgence.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 675px; top: 105px;"
				data-tooltip-content-target=".hotspot-06"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-06 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_dash.jpg" />
				<div class="info">
					<p class="heading">Instrumentation</p>
					<p>Roule avec confiance, sachant que tu disposeras des informations vitales sur ta moto chaque fois que tu tourneras la clé de contact. Conception sportive et caractéristiques de pointe sur le tableau de bord allient style et fonctionnalité.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 620px; top: 190px;"
				data-tooltip-content-target=".hotspot-07"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-07 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_fairing.jpg" />
				<div class="info">
					<p class="heading">Carénage style multicouche</p>
					<p>Carénage intégral avec pare-brise, excellent pour le confort, l’aérodynamisme et... le style.  Un autre exemple où le style et la fonction se rejoignent sur la CBR250R.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 535px; top: 245px;"
				data-tooltip-content-target=".hotspot-08"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-08 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_fuel_injection.jpg" />
				<div class="info">
					<p class="heading">Injection de carburant</p>
					<p>Elle prend en compte plusieurs variables pour assurer le bon mélange air-carburant dans les conditions du moment. Le résultat: un contrôle net et précis de l’accélérateur et une meilleure économie de carburant. Tu gagnes sur toute la ligne.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 500px; top: 285px;"
				data-tooltip-content-target=".hotspot-09"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-09 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_cb_shaft.jpg" />
				<div class="info">
					<p class="heading">Arbre d’équilibrage</p>
					<p>Tu en obtiens plus. L'arbre d'équilibrage contrarotatif te permet de profiter de la même douceur de conduite qu'une moto multicylindre... avec une monocylindre.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 495px; top: 345px;"
				data-tooltip-content-target=".hotspot-10"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-10 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_engine.jpg" />
				<div class="info">
					<p class="heading">Moteur monocylindre</p>
					<p>Lorsque tu choisis ta première moto, il est important qu'elle soit légère et facile à conduire. Et avoir moins d'arrêts à faire à la station d’essence est un vrai plus. Et c’est exactement ce que le monocylindre de la CBR250R t’offre.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<div class="bubble-container">
				<span class="pf bubble black-bubble"><span class="pf">Examine la <strong>#CBR250R</strong> et ses caracteristiques-cles.</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-features">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Pages des modèles:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#maCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Caractéristiques-clés</a></dd>
								<dd><a href="/cbr250r/360images">Vue 360 et images</a></dd>
								<dd><a href="/cbr250r/reviews">Critiques unanimes</a></dd>
								
								<dt>#faitepourmoi</dt>
								<dd><a href="/cbr250r/rgeneration">Génération R. Moto R.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Joins-toi a la Génération <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">Série de Course Honda</a></dd>
								
								<dt>#pretarouler</dt>
								<dd><a href="/cbr250r/newtoriding">Motocycliste novice?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Trouve un concessionnaire</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<h2>L’effervescence de l'innovation.</h2>
							<p>Une combinaison de style et de technologie fait de la CBR250R la moto parfaite pour toi. Tu ne veux pas te contenter de la deuxième meilleure, et Honda croit que tu ne devrais pas. Injection de carburant, freinage Combiné ABS et un carénage sans rival dans la catégorie. Vas-y et vis la passion de la CBR250R.</p>
							
							<dl class="features-list">
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/thumb_brakes.jpg" alt="" />
										<img src="/_Global/img/content/mc/cbr/stop_with_confidence_small_fr.jpg" alt="" class="stop-thumb" />
									</div>
									<div class="fl info">
										<h3>Freinage à disques et Combiné ABS</h3>
										<p>Tu peux te sentir confiant en sachant que les freins hydrauliques à disques avant et arrière te procureront une puissance de freinage optimale. Pour plus de sécurité la CBR250R est aussi offerte avec le système Combiné ABS (C-ABS) pour te permettre de freiner avec confiance lorsqu’il pleut, ou lors des situations de freinage d’urgence.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_passenger_seat.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Selle du passager</h3>
										<p>Embarque un ou une amie et pars. La selle de passager avec rail de maintien et ses repose-pieds sont là pour que tu puisses partager tes aventures avec qui tu voudras.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_seat_height.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Hauteur de selle</h3>
										<p>Avec une hauteur de selle d’à peine 780 mm (30,5 po), la CBR250R permet à la plupart des conducteurs de toucher le sol en toute confiance aux feux rouges, et est plus confortable durant les longs parcours.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_dash.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Instrumentation</h3>
										<p>Roule avec confiance, sachant que tu disposeras des informations vitales sur ta moto chaque fois que tu tourneras la clé de contact. Conception sportive et caractéristiques de pointe sur le tableau de bord allient style et fonctionnalité.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_suspension.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Suspension arrière Pro-Link<sup>MD</sup></h3>
										<p>Une conduite sensationnelle à découvrir. La CBR250R possède une suspension arrière à monoamortisseur réglable en précontrainte qui assure une conduite douce, facile à maîtriser, lors des trajets quotidiens au travail ou durant une longue randonnée avec tes amis.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_engine.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Moteur monocylindre</h3>
										<p>Lorsque tu choisis ta première moto, il est important qu'elle soit légère et facile à conduire. Et avoir moins d'arrêts à faire à la station d’essence est un vrai plus. Et c’est exactement ce que le monocylindre de la CBR250R t’offre.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_storage.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Rangement sous la selle</h3>
										<p>Protège tes objets de valeur. Tu te demandes où tu vas mettre ton cellulaire, portefeuille et verres fumés? Ne t’en fais pas. La selle du passager dissimule un compartiment verrouillable pour ces objets, ce qui ajoute à la polyvalence de la CBR250R.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_cb_shaft.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Arbre d’équilibrage</h3>
										<p>Tu en obtiens plus. L'arbre d'équilibrage contrarotatif te permet de profiter de la même douceur de conduite qu'une moto multicylindre... avec une monocylindre.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_fuel_injection.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Injection de carburant</h3>
										<p>Elle prend en compte plusieurs variables pour assurer le bon mélange air-carburant dans les conditions du moment. Le résultat: un contrôle net et précis de l’accélérateur et une meilleure économie de carburant. Tu gagnes sur toute la ligne.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_fairing.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Carénage style multicouche</h3>
										<p>Carénage intégral avec pare-brise, excellent pour le confort, l’aérodynamisme et... le style.  Un autre exemple où le style et la fonction se rejoignent sur la CBR250R.</p>
									</div>
								</dd>
							</dl>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero_fr.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->