<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section offers">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/banner-en.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/getonahonda/offers" class="main"><span>Event Offers</span></a></dd>
					<dd class="fl"><a href="/getonahonda/featured" class="main"><span>Featured Models</span></a></dd>
					<dd class="fl"><a href="/dealerlocator" class="main"><span>Find a Dealer</span></a></dd>
				</dl>
				
				<div class="offers-list">
					<dl class="fc savings-touts">
						<dd class="fl fc finance first">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-finance.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Low financing</strong> on select Honda Motorcycles. Another great reason to get your new Motorcycle during the Spring Sales Event.</p>
								<p class="small">Financing available on the CBR250R/RA and Goldwing models only.</p>
							</div>
						</dd>
						<dd class="fl fc day">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-90day.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Enjoy the first 90 days</strong><br/>
									with no payments on 2011 or 2012 CBR250R and CBR250RA motorcycles. Leaving money in your pocket during the spring months to purchase things like the perfect gear or gas to go on longer trips.</p>
							</div>
						</dd>
						<dd class="fl fc winch">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-warnwinch.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Receive a free Warn Winch</strong><br/>
									when you purchase select 2011 and 2012 Honda ATVs. Take advantage of this great offer, it is only here for a limited time.</p>
							</div>
						</dd>
					</dl>
					
					<div class="product-tabs">
						<dl class="fc atv">
							<dt class="fl first">ATVs</dt>
							<dd class="fl"><a href=""><span>Utility</span></a></dd>
							<dd class="fl"><a href=""><span>Recreational</span></a></dd>
							<dd class="fl last"><a href=""><span>Sport</span></a></dd>
						</dl>
						
						<dl class="fc mc">
							<dt class="fl">Motorcycles</dt>
							<dd class="fl multiline"><a href=""><span>Sport and<br/> Standard</span></a></dd>
							<dd class="fl"><a href=""><span>Cruiser</span></a></dd>
							<dd class="fl"><a href=""><span>Touring</span></a></dd>
							<dd class="fl"><a href=""><span>Scooter</span></a></dd>
							<dd class="fl"><a href=""><span>Dual Sport</span></a></dd>
							<dd class="fl"><a href=""><span>Competition</span></a></dd>
							<dd class="fl last"><a href=""><span>Offroad</span></a></dd>
						</dl>
					</div>
					
					<div class="product-listings">
						<div class="h2">Category Name</div>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc original price">
									<del><span class="strike"></span><strong class="fnat">$16,599</strong></del>
									<span>MSRP</span>
								</div>
								<div class="fc final price multiline">
									<strong class="fnat">$10,599</strong>
									<span>Manufacturer<br/>
										Discounted Price</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc original price">
									<strong class="fnat">$16,599</strong>
									<span>MSRP</span>
								</div>
								<div class="fc special price">
									<strong class="fnat">$6,000</strong>
									<span>Discount</span>
								</div>
								<div class="fc final price">
									<strong class="fnat">$10,599</strong>
									<span>Your Price</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
				</div>
				
				<div class="fc spring-disclaimer">
					<p>*Limited time purchase financing offer available to qualified retail customers on approved credit (O.A.C.) on 2011/2012 CBR250R/CBR250RA. Example: Selling Price for the 2011/2012 CBR250R is $4,499 financed at 1.9% APR equals $191.19 per month for 24 months. Down payment or equivalent trade may be required. Cost of borrowing is $89.56 for a total obligation of $4588.56 (including down payment). Total obligation does not include freight, PDI, taxes, license, insurance and registration. Dealers may sell for less. Offer runs from April 1, 2012 to June 30, 2012 and is subject to change or cancellation without notice.**The 2011/2012 CBR250R/CBR250RA Loyalty Offer (&quot;Offer&quot;) is valid for a limited time while quantities last. Offer only available to current Canadian Honda owners. This refers to any Canadian (no non-Canadian VINs will be accepted) Honda automobile, Honda motorcycle, Honda ATV, Honda Power Equipment or Honda Marine product purchased in Canada. Limit of one loyalty offer of $100 per Honda (other than CBR250R bought as part of and used for this promotion) owner per CBR250R purchase. Claim form along with the required supporting documents (i.e. proof of ownership, bill of sale) must be received by Honda Canada Inc. within 30 days of purchase to be eligible for this promotional offer.  †† No payments for 90 days offer applies to purchase finance offers on all 2011 CBR250R/CBR250RA models purchased and delivered by June 30, 2012. Offer available only through Honda Financial Services, on approved credit (O.A.C.). Monthly payments are deferred for 90 days. Contracts will be extended accordingly. Interest charges will begin accruing 60 days from the contract date and the purchaser will repay principal and interest monthly over the term of the contract, but not until 90 days after the contract date. ***Limited time deposit match offer of $250 (maximum) available when customers place a deposit of $250 or more on any new (not previously registered) 2011/2012 CBR250R/CBR250RA (&quot;Eligible Products&quot;). The value of the deposit match is deducted from the manufacturer's suggested retail price before taxes and can be combined with finance offers. Customer must take delivery and unit must be registered by June 30, 2012. ††† Free Warn&reg; Winch Offer valid only on select 2011/2012 Honda ATVs for a limited time only, while supplies last (Warn&reg; is a registered trademark of Warn Industries, Inc.).  All Get On A Honda Spring Sales Event (&quot;Offers&quot;) are valid from April 1, 2012 to June 30, 2012. All &quot;Offers&quot; apply to new (not previously registered) Honda Motorcycles and ATVs. All &quot;Offers&quot; are subject to change or cancellation without notice. All &quot;Offers&quot; valid at participating Honda Motorcycle or Honda Powerhouse dealers. Visit honda.ca for full details and other financing rates. &quot;Your price&quot; prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. All prices shown do not include freight, PDI, license, insurance and registration, or applicable taxes and are not applicable in Quebec. Dealer may sell for less. Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details and eligible models. Errors and omissions excepted. Actual prices and savings may vary by dealer. Prices/specifications subject to change without notice. Honda Canada reserves the right to change, extend or limit its offers at any time. At participating Honda Motorcycle or Honda Powerhouse dealers only excluding Quebec. Models and colours may not be exactly as shown. Always wear a helmet, eye protection and protective clothing, and please respect the environment when riding. Obey the law and read your owner’s manual thoroughly. Honda recommends taking a motorcycle rider training course.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->