<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-sir">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/sir.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="banner"><img src="/_Global/img/content/mc/sir/sir-header.jpg" alt="" /></div>
				
				<div class="sir-content">
					<h1>Ride into Honda for great discounts<br/>
						on select 2010 and 2011 Motorcycles.</h1>
					
					<div class="fc vehicles">
						<div class="fl vehicle-column vehicle-column-first">
							<table>
								<tr>
									<th class="first">Touring</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">GL1800AD Gold Wing Airbag 2010</td>
									<td>$31,499</td>
									<td>$5,750</td>
									<td>$25,749</td>
								</tr>
								<tr class="even">
									<td class="first">GL1800AL Gold Wing 2010</td>
									<td>$29,999</td>
									<td>$5,750</td>
									<td>$24,249</td>
								</tr>
								<tr class="odd">
									<td class="first">ST1300A 2010</td>
									<td>$19,999</td>
									<td>$1,000</td>
									<td>$18,999</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Cruiser</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">VT1300CRA Stateline 2011</td>
									<td>$13,799</td>
									<td>$500</td>
									<td>$13,299</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CSA Sabre 2011</td>
									<td>$13,899</td>
									<td>$500</td>
									<td>$13,399</td>
								</tr>
								<tr class="odd">
									<td class="first">VT1300CTA Interstate 2011</td>
									<td>$14,999</td>
									<td>$500</td>
									<td>$14,499</td>
								</tr>
								<tr class="even">
									<td class="first">VT750CA Aero 2011</td>
									<td>$9,999</td>
									<td>$600</td>
									<td>$9,399</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750C Phantom 2011</td>
									<td>$9,599</td>
									<td>$500</td>
									<td>$9,099</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CRA Stateline 2010</td>
									<td>$13,299</td>
									<td>$750</td>
									<td>$12,549</td>
								</tr>
								<tr class="odd">
									<td class="first">VT1300SA Sabre 2010</td>
									<td>$13,399</td>
									<td>$750</td>
									<td>$12,649</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CT Interstate 2010</td>
									<td>$14,449</td>
									<td>$1,000</td>
									<td>$13,449</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750CA Aero 2010</td>
									<td>$9,799</td>
									<td>$600</td>
									<td>$9,199</td>
								</tr>
								<tr class="even">
									<td class="first">VT750CA Spirit 2010</td>
									<td>$9,699</td>
									<td>$400</td>
									<td>$9,299</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750C Phantom 2010</td>
									<td>$9,099</td>
									<td>$1,050</td>
									<td>$8,049</td>
								</tr>
								<tr class="even">
									<td class="first">VT750C Spirit 2010</td>
									<td>$8,899</td>
									<td>$400</td>
									<td>$8,499</td>
								</tr>
								<tr class="odd">
									<td class="first">Shadow RS 2010</td>
									<td>$8,899</td>
									<td>$1,150</td>
									<td>$7,749</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Sport</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">CBF600SA 2011</td>
									<td>$9,999</td>
									<td>$800</td>
									<td>$9,199</td>
								</tr>
								<tr class="even">
									<td class="first">CBR1000RRA 2011</td>
									<td>$17,199</td>
									<td>$1,000</td>
									<td>$16,199</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR1000RRA Repsol 2011</td>
									<td>$17,799</td>
									<td>$1,000</td>
									<td>$16,799</td>
								</tr>
								<tr class="even">
									<td class="first">CBR125R 2011</td>
									<td>$3,499</td>
									<td>$400</td>
									<td>$3,099</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR600RRA 2011</td>
									<td>$14,599</td>
									<td>$1,000</td>
									<td>$13,599</td>
								</tr>
								<tr class="even">
									<td class="first">CBR600RR 2011</td>
									<td>$13,599</td>
									<td>$1,000</td>
									<td>$12,599</td>
								</tr>
								<tr class="odd">
									<td class="first">CBF600SA 2010</td>
									<td>$9,899</td>
									<td>$1,300</td>
									<td>$8,599</td>
								</tr>
								<tr class="even">
									<td class="first">CBR1000RRA 2010</td>
									<td>$16,399</td>
									<td>$1,000</td>
									<td>$15,399</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR600RRA 2010</td>
									<td>$13,799</td>
									<td>$1,300</td>
									<td>$12,499</td>
								</tr>
								<tr class="even">
									<td class="first">VFR1200FA 2010</td>
									<td>$18,299</td>
									<td>$2,300</td>
									<td>$15,999</td>
								</tr>
								<tr class="odd">
									<td class="first">VFR1200FA DCT 2010</td>
									<td>$19,999</td>
									<td>$2,600</td>
									<td>$17,399</td>
								</tr>
							</table>
						</div>
						<div class="fl vehicle-column">
							<table>
								<tr>
									<th class="first">Dual Sport</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">XR650L 2011</td>
									<td>$8,199</td>
									<td>$400</td>
									<td>$7,799</td>
								</tr>
								<tr class="even">
									<td class="first">CRF230L 2011</td>
									<td>$5,899</td>
									<td>$400</td>
									<td>$5,499</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Off-Road</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">CRF100F 2011</td>
									<td>$2,999</td>
									<td>$200</td>
									<td>$2,799</td>
								</tr>
								<tr class="even">
									<td class="first">CRF150F 2011</td>
									<td>$3,999</td>
									<td>$300</td>
									<td>$3,699</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF230F 2011</td>
									<td>$4,499</td>
									<td>$300</td>
									<td>$4,199</td>
								</tr>
								<tr class="even">
									<td class="first">CRF50F 2011</td>
									<td>$1,799</td>
									<td>$300</td>
									<td>$1,499</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF70F 2011</td>
									<td>$2,099</td>
									<td>$300</td>
									<td>$1,799</td>
								</tr>
								<tr class="even">
									<td class="first">CRF80F 2011</td>
									<td>$2,749</td>
									<td>$200</td>
									<td>$2,549</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF100F 2010</td>
									<td>$2,999</td>
									<td>$300</td>
									<td>$2,699</td>
								</tr>
								<tr class="even">
									<td class="first">CRF80F 2010</td>
									<td>$2,749</td>
									<td>$300</td>
									<td>$2,449</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Competition</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">CRF250R 2011</td>
									<td>$8,499</td>
									<td>$750</td>
									<td>$7,749</td>
								</tr>
								<tr class="even">
									<td class="first">CRF250X 2011</td>
									<td>$8,899</td>
									<td>$500</td>
									<td>$8,399</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF450R 2011</td>
									<td>$9,499</td>
									<td>$1,000</td>
									<td>$8,499</td>
								</tr>
								<tr class="even">
									<td class="first">CRF450X 2011</td>
									<td>$8,999</td>
									<td>$500</td>
									<td>$8,499</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF250R 2010</td>
									<td>$8,299</td>
									<td>$1,450</td>
									<td>$6,849</td>
								</tr>
								<tr class="even">
									<td class="first">CRF450R 2010</td>
									<td>$9,299</td>
									<td>$1,250</td>
									<td>$8,049</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Scooter</th>
									<th>Msrp</th>
									<th class="discount">Discount</th>
									<th class="discount">Your Price<br/>After Discount</th>
								</tr>
								<tr class="odd">
									<td class="first">SH150i 2010</td>
									<td>$4,999</td>
									<td>$200</td>
									<td>$4,799</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="fc footer-area">
						<div class="fl links">
							<div class="find-a-dealer"><a href="/dealerlocator">Click here to find a dealer</a></div>
						</div>
						<div class="fr logo">
							<a href="http://motorcycle.honda.ca"><img src="/_Global/img/content/mc/sir/honda-logo.gif" alt="" /></a>
						</div>
					</div>
					<div class="legal">
						<p>Shift Into Red event ("Offer") applies to eligible retail purchase agreements for a limited time, while supplies last. This Offer is valid on select new (not previously registered) 2010 and 2011 Honda Motorcycles. Discounts (manufacturer's and dealer˙s as applicable) are deducted from MSRP before taxes, and available only at participating dealers and on select models only and vary from $200 to $5,750 depending on model. "Your Price" values shown do not include Freight and P.D.I.  Freight and P.D.I, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Offer valid from September 1, 2011 until November 30, 2011 inclusive on motorcycles only. Ask your dealer for details. All offers valid at participating Honda Motorcycle Dealers, excluding Québec. Dealer may sell for less. Prices/Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details and eligible models. Errors and omissions excepted.</p>
					</div>
					<div class="fc legal">
						<p class="fl">&copy;2011 Honda Canada, Inc. All information contained herein applies to Canadian motorcycles.</p>
						<ul class="fr fc legal-links">
							<li class="first"><a href="/terms">Terms and Conditions</a></li>
							<li><a href="/privacy">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->