<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-race-series">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-black">
				<span class="pf">#faitepourmoi</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_race_series_fr.png" alt="" class="pf" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf">Ressentez la passion avec <strong>#CBR250<em>R</em></strong></span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-race-series">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Pages des modèles:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#maCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Caractéristiques-clés</a></dd>
								<dd><a href="/cbr250r/360images">Vue 360 et images</a></dd>
								<dd><a href="/cbr250r/reviews">Critiques unanimes</a></dd>
								
								<dt>#faitepourmoi</dt>
								<dd><a href="/cbr250r/rgeneration">Génération R. Moto R.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Joins-toi a la Génération <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">Série de Course Honda</a></dd>
								
								<dt>#pretarouler</dt>
								<dd><a href="/cbr250r/newtoriding">Motocycliste novice?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Trouve un concessionnaire</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="intro">
								<div class="heading">La série de course CBR250R</div>
								<img src="/_Global/img/content/mc/cbr/race_series_cup.png" class="fr pf" alt="" />
								<p>La série de course CBR250R est un moyen pour les conducteurs de mettre leur moto et de se mettre eux-mêmes à l’essai. Vous pouvez faire partie de la communauté de la course Honda; que ce soit sur circuit, dans les estrades ou sur le Web, conducteurs et spectateurs peuvent partager leurs expériences avec les autres conducteurs de CBR250R et faire partie d'un sport excitant où l'inspiration est bien présente.</p>
								<p>C'est une occasion que vous ne voulez pas manquer. Soyez de la partie -- si vous avez entre 15 et 25 ans, possédez une CBR250R, contactez <a href="mailto:kimberly_moore@ch.honda.com">kimberly_moore@ch.honda.com</a> ou consultez <a href="http://CSBK.com">CSBK.com</a> pour les détails complets.</p>
							</div>
							<div class="fc get-involved">
								<div class="fl">
									<img src="/_Global/img/content/mc/cbr/cbr_side_profile.png" class="pf" alt="" />
								</div>
								<dl class="fr">
									<dt>Façons de participer:</dt>
									<dd class="pf">Suivre la série en ligne</dd>
									<dd class="pf">Aller voir un évennément</dd>
									<dd class="pf">Participer à une école de pilotage</dd>
									<dd class="pf">Participer à la série</dd>
								</dl>
							</div>
							<div class="pf racing-corporation">
								<div class="pf bottom-cap">
									<div class="pf content-area">
										<div class="heading">Honda Racing Corporation</div>
										<p>HRC est l'esprit même des motos sportives Honda. Avec une focalisation sur l'amélioration du sport et de ses conducteurs, HRC travaille avec Honda à livrer les meilleures motos appuyées par une performance éprouvée sur la piste. Pour en savoir plus à propos de <a href="#">HRC</a>.</p>
									</div>
								</div>
							</div>
							<dl class="link-group">
								<dt>Race Series Links:</dt>
								<dd class="pf"><a href="#">Règlements des séries</a></dd>
								<dd class="pf"><a href="#">Championnat Canadien de Superbike</a></dd>
								<dd class="pf"><a href="#">Honda Racing</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero_fr.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->