<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-sir">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/sir.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="banner"><img src="/_Global/img/content/mc/sir/sir-header-fr.jpg" alt="" /></div>
				
				<div class="sir-content">
					<h1>Roulez avec Honda, vers de vraies aubaines<br/>
						sur des motocyclettes 2010 et 2011 sélectionnées.</h1>
					<div class="vehicles">
						<div class="fc">
							<div class="fl vehicle-box topleft-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2010-vt750rs.jpg" alt="" /></div>
								<p>2010 VT750RS<br/>
									Rabais: <span>$1 150</span></p>
							</div>
							<div class="fl vehicle-box topright-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2010-vt1300ct.jpg" alt="" /></div>
								<p>2010 VT1300CT Interstate<br/>
									Rabais: <span>$1 000</span></p>
							</div>
						</div>
						<div class="fc">
							<div class="fl vehicle-box bottomleft-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2011-cbr600rr.jpg" alt="" /></div>
								<p>2011 CBR600RR<br/>
									Rabais: <span>$1 000</span></p>
							</div>
							<div class="fl vehicle-box bottomright-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2011-crf450r.jpg" alt="" /></div>
								<p>2011 CRF450R<br/>
									Rabais: <span>$1 000</span></p>
							</div>
						</div>
					</div>
					<div class="fc footer-area">
						<div class="fl links">
							<div class="more-deals"><a href="updates-shift-into-red-deals-fr.html" class="btn primary"><span>Liste complète ici &raquo;</span></a></div>
							<div class="find-a-dealer"><a href="/trouver-concessionaire">CLIQUER ICI POUR TROUVER UN CONCESSIONNAIRE</a></div>
						</div>
						<div class="fr logo">
							<a href="http://motorcycle.honda.ca/francais"><img src="/_Global/img/content/mc/sir/honda-logo.gif" alt="" /></a>
						</div>
					</div>
					<div class="legal">
						<p>L'offre de l'Événement Passez au Rouge de Honda ("Offre") s'applique à des contrats de vente au détail admissibles, pour un temps limité et jusqu'à épuisement des stocks. Cette offre s'applique à une sélection de motocyclettes Honda 2010 et 2011 neuves (jamais enregistrées auparavant). Les rabais du fabricant et du concessionnaire (s'il y a lieu) sont déduits du “Prix de détail suggéré par le fabricant” (PDSF) avant les taxes et sont disponibles chez les concessionnaires participants seulement, sur des modèles sélectionnés seulement, et varient de 200 $ à 5 750 $ selon le modèle. Les mentions "Votre Prix" indiquées ici incluent le transport et la préparation, les frais applicables,  et les frais d’administration du concessionnaire. Les taxes applicables, l’immatriculation, et les assurances ne sont pas inclus. L'offre est valide du 1er septembre 2011 au 30 novembre 2011 inclusivement, sur des motocyclettes seulement. Demandez les détails à votre concessionnaire. Toutes ces offres sont valides chez les concessionnaires participants de motocyclettes Honda au Québec. Le concessionnaire peut vendre à prix moindre. Les prix/offres sont sujets à changements ou prolongations sans préavis. Une commande ou un échange entre concessionnaires peut être requis. Informez-vous des détails et des modèles admissibles chez votre concessionnaire ou en visitant honda.ca. Sauf erreur ou omission.</p>
					</div>
					<div class="fc legal">
						<p class="fl">&copy;2011 Honda Canada, Inc. Toute information présentée ici s'appliquent à des motocyclettes Canadiennes.</p>
						<ul class="fr fc legal-links">
							<li class="first"><a href="/termes">Termes et conditions</a></li>
							<li><a href="/confidentialite">Politique de confidentialité</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->