<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-home">
		<div class="banner">
			<div class="pf hash-tag-red">
				<span class="pf">#Rgeneration</span>
			</div>
			
			<img class="target-image-view" src="/_Global/img/content/mc/cbr/banner-home.jpg" alt="" />
			<dl class="fc colours">
				<dt class="fl">Pick Colour</dt>
				<dd class="fl selected"><a class="thumb-swatch" href="javascript:void(0)" data-target=".target-image-view" data-url="/_Global/img/content/mc/cbr/banner-home.jpg"><img src="/_Global/img/content/mc/cbr/swatch_black.gif" alt="" /></a></dd>
				<dd class="fl"><a class="thumb-swatch" href="javascript:void(0)" data-target=".target-image-view" data-url="/_Global/img/content/mc/cbr/swatch_red.gif"><img src="/_Global/img/content/mc/cbr/swatch_red.gif" alt="" /></a></dd>
			</dl>
			<div class="bubble-container">
				<span class="pf bubble red-bubble"><span class="pf">#myCBR250R #fitsmylife <strong>&amp; makes me</strong> #feelalive</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-home">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fl cbr-nav">
						<div class="cbr-logo"><a href="/cbr250r"></a></div>
						<p>Model Pages:<br/>
							<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
						
						<div class="pf cbr-nav-topcap"></div>
						<dl>
							<dt class="first">#myCBR250R</dt>
							<dd><a href="/cbr250r/keyfeatures">Key Features</a></dd>
							<dd><a href="/cbr250r/360images">360&deg; View &amp; Images</a></dd>
							<dd><a href="/cbr250r/reviews">Raving Reviews</a></dd>
							
							<dt>#fitsmylife</dt>
							<dd><a href="/cbr250r/rgeneration">R Generation. R Bike.</a></dd>
							<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Join R Generation <span></span></a></dd>
							<dd><a href="/cbr250r/raceseries">CBR250R Race Series</a></dd>
							
							<dt>#readytoride</dt>
							<dd><a href="/cbr250r/newtoriding">New to riding?</a></dd>
							<dd><a href="/honda-powerhouse-dealers">Find a Dealer near you</a></dd>
						</dl>
						<div class="pf cbr-nav-bottomcap"></div>
					</div>
					<div class="fr content_section first_section">
						<p>The CBR250R is built for you. You live for freedom and adventure. You know what you want and you aren't afraid to go for it. You deserve a bike that delivers innovative technology and sweet style at a price you can afford. The CBR250R IS the bike that fits your life.</p>
						<img src="/_Global/img/content/mc/cbr/home-motorcycles.jpg" alt="" />
						<div class="experience-box">
							<div class="fc experience">
								<div class="fl experience-logo"><img src="/_Global/img/content/mc/cbr/stop_with_confidence.jpg" alt="" /></div>
								<div class="fr experience-copy"><p class="small">The CBR250RA is the only bike in its class to offer a combined anti-lock braking system. <a href="">Learn More</a>.</p></div>
							</div>
							
							<ul class="cbr-btn-multi">
								<li class="first"><a href="/cbr250r/rgeneration">Experience R Generation...</a></li>
								<li class="last"><a href="/cbr250r/360images">Check out R Bike...</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="fc content_container">
					<div class="content_section first_section">
						<div class="ready-to-ride">
							<div class="ready-heading"><em>R</em> u <strong>#readytoride</strong>?</div>
							<p>It's time to experience your next adventure. On your own or with friends, the CBR250R gives you the freedom to explore with confidence and style. Stand out in a crowd. Get noticed. Your time is now, R u ready?</p>
							<a href="/cbr250r/newtoriding/" class="cbr-btn-single"><span class="inner">Your adventure awaits...</span></a>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<script type="text/javascript" src="/_Global/js/sections/mc/promos/cbr250r-relaunch.js"></script>
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->