<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-sir">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/sir.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="banner"><img src="/_Global/img/content/mc/sir/sir-header-fr.jpg" alt="" /></div>
				
				<div class="sir-content">
					<h1>Roulez avec Honda, vers de vraies aubaines<br/>
						sur des motocyclettes 2010 et 2011 sélectionnées.</h1>
					
					<div class="fc vehicles">
						<div class="fl vehicle-column vehicle-column-first">
							<table>
								<tr>
									<th class="first">Tourisme</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">GL1800AD Gold Wing Airbag 2010</td>
									<td>32 199 $</td>
									<td>5 750 $</td>
									<td>26 449 $</td>
								</tr>
								<tr class="even">
									<td class="first">GL1800AL Gold Wing 2010</td>
									<td>30 699 $</td>
									<td>5 750 $</td>
									<td>24 949 $</td>
								</tr>
								<tr class="odd">
									<td class="first">ST1300A 2010</td>
									<td>20 699 $</td>
									<td>1 000 $</td>
									<td>19 699 $</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Cruiser</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">VT1300CRA Stateline 2011</td>
									<td>14 499 $</td>
									<td>500 $</td>
									<td>13 999 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CSA Sabre 2011</td>
									<td>14 599 $</td>
									<td>500 $</td>
									<td>14 099 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VT1300CTA Interstate 2011</td>
									<td>15 699 $</td>
									<td>500 $</td>
									<td>15 199 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT750CA Aero 2011</td>
									<td>10 399 $</td>
									<td>600 $</td>
									<td>9 799 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750C Phantom 2011</td>
									<td>9 999 $</td>
									<td>500 $</td>
									<td>9 499 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CRA Stateline 2010</td>
									<td>13 999 $</td>
									<td>750 $</td>
									<td>13 249 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VT1300SA Sabre 2010</td>
									<td>14 099 $</td>
									<td>750 $</td>
									<td>13 349 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT1300CT Interstate 2010</td>
									<td>15 149 $</td>
									<td>1 000 $</td>
									<td>14 149 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750CA Aero 2010</td>
									<td>10 199 $</td>
									<td>600 $</td>
									<td>9 599 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT750CA Spirit 2010</td>
									<td>10 099 $</td>
									<td>400 $</td>
									<td>9 699 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VT750C Phantom 2010</td>
									<td>9 499 $</td>
									<td>1 050 $</td>
									<td>8 449 $</td>
								</tr>
								<tr class="even">
									<td class="first">VT750C Spirit 2010</td>
									<td>9 299 $</td>
									<td>400 $</td>
									<td>8 899 $</td>
								</tr>
								<tr class="odd">
									<td class="first">Shadow RS 2010</td>
									<td>9 299 $</td>
									<td>1 150 $</td>
									<td>8 149 $</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Sport</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">CBF600SA 2011</td>
									<td>10 399 $</td>
									<td>800 $</td>
									<td>9 599 $</td>
								</tr>
								<tr class="even">
									<td class="first">CBR1000RRA 2011</td>
									<td>17 699 $</td>
									<td>1 000 $</td>
									<td>16 699 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR1000RRA Repsol 2011</td>
									<td>18 299 $</td>
									<td>1 000 $</td>
									<td>17 299 $</td>
								</tr>
								<tr class="even">
									<td class="first">CBR125R 2011</td>
									<td>3 699 $</td>
									<td>400 $</td>
									<td>3 299 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR600RRA 2011</td>
									<td>14 999 $</td>
									<td>1 000 $</td>
									<td>13 999 $</td>
								</tr>
								<tr class="even">
									<td class="first">CBR600RR 2011</td>
									<td>13 999 $</td>
									<td>1 000 $</td>
									<td>12 999 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CBF600SA 2010</td>
									<td>10 299 $</td>
									<td>1 300 $</td>
									<td>8 999 $</td>
								</tr>
								<tr class="even">
									<td class="first">CBR1000RRA 2010</td>
									<td>16 899 $</td>
									<td>1 000 $</td>
									<td>15 899 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CBR600RRA 2010</td>
									<td>14 199 $</td>
									<td>1 300 $</td>
									<td>12 899 $</td>
								</tr>
								<tr class="even">
									<td class="first">VFR1200FA 2010</td>
									<td>18 799 $</td>
									<td>2 300 $</td>
									<td>16 499 $</td>
								</tr>
								<tr class="odd">
									<td class="first">VFR1200FA DCT 2010</td>
									<td>20 499 $</td>
									<td>2 600 $</td>
									<td>17 899 $</td>
								</tr>
							</table>
						</div>
						<div class="fl vehicle-column">
							<table>
								<tr>
									<th class="first">Double Usage</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">XR650L 2011</td>
									<td>8 599 $</td>
									<td>400 $</td>
									<td>8 199 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF230L 2011</td>
									<td>6 199 $</td>
									<td>400 $</td>
									<td>5 799 $</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Hors Route</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">CRF100F 2011</td>
									<td>3 199 $</td>
									<td>200 $</td>
									<td>2 999 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF150F 2011</td>
									<td>4 199 $</td>
									<td>300 $</td>
									<td>3 899 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF230F 2011</td>
									<td>4 799 $</td>
									<td>300 $</td>
									<td>4 499 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF50F 2011</td>
									<td>1 999 $</td>
									<td>300 $</td>
									<td>1 699 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF70F 2011</td>
									<td>2 299 $</td>
									<td>300 $</td>
									<td>1 999 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF80F 2011</td>
									<td>2 949 $</td>
									<td>200 $</td>
									<td>2 749 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF100F 2010</td>
									<td>3 199 $</td>
									<td>300 $</td>
									<td>2 899 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF80F 2010</td>
									<td>2 949 $</td>
									<td>300 $</td>
									<td>2 649 $</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">COMPÉTITION</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">CRF250R 2011</td>
									<td>8 799 $</td>
									<td>750 $</td>
									<td>8 049 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF250X 2011</td>
									<td>9 199 $</td>
									<td>500 $</td>
									<td>8 699 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF450R 2011</td>
									<td>9 899 $</td>
									<td>1 000 $</td>
									<td>8 899 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF450X 2011</td>
									<td>9 399 $</td>
									<td>500 $</td>
									<td>8 899 $</td>
								</tr>
								<tr class="odd">
									<td class="first">CRF250R 2010</td>
									<td>8 599 $</td>
									<td>1 450 $</td>
									<td>7 149 $</td>
								</tr>
								<tr class="even">
									<td class="first">CRF450R 2010</td>
									<td>9 699 $</td>
									<td>1 250 $</td>
									<td>8 449 $</td>
								</tr>
							</table>
							
							<table>
								<tr>
									<th class="first">Scooter</th>
									<th>PDSF</th>
									<th class="discount">Rabais</th>
									<th class="discount">Votre Prix</th>
								</tr>
								<tr class="odd">
									<td class="first">SH150i 2010</td>
									<td>5 199 $</td>
									<td>200 $</td>
									<td>4 999 $</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="fc footer-area">
						<div class="fl links">
							<div class="find-a-dealer"><a href="/trouver-concessionaire">CLIQUER ICI POUR TROUVER UN CONCESSIONNAIRE</a></div>
						</div>
						<div class="fr logo">
							<a href="http://motorcycle.honda.ca/francais"><img src="/_Global/img/content/mc/sir/honda-logo.gif" alt="" /></a>
						</div>
					</div>
					<div class="legal">
						<p>L'offre de l'Événement Passez au Rouge de Honda ("Offre") s'applique à des contrats de vente au détail admissibles, pour un temps limité et jusqu'à épuisement des stocks. Cette offre s'applique à une sélection de motocyclettes Honda 2010 et 2011 neuves (jamais enregistrées auparavant). Les rabais du fabricant et du concessionnaire (s'il y a lieu) sont déduits du “Prix de détail suggéré par le fabricant” (PDSF) avant les taxes et sont disponibles chez les concessionnaires participants seulement, sur des modèles sélectionnés seulement, et varient de 200 $ à 5 750 $ selon le modèle. Les mentions "Votre Prix" indiquées ici incluent le transport et la préparation, les frais applicables,  et les frais d’administration du concessionnaire. Les taxes applicables, l’immatriculation, et les assurances ne sont pas inclus. L'offre est valide du 1er septembre 2011 au 30 novembre 2011 inclusivement, sur des motocyclettes seulement. Demandez les détails à votre concessionnaire. Toutes ces offres sont valides chez les concessionnaires participants de motocyclettes Honda au Québec. Le concessionnaire peut vendre à prix moindre. Les prix/offres sont sujets à changements ou prolongations sans préavis. Une commande ou un échange entre concessionnaires peut être requis. Informez-vous des détails et des modèles admissibles chez votre concessionnaire ou en visitant honda.ca. Sauf erreur ou omission.</p>
					</div>
					<div class="fc legal">
						<p class="fl">&copy;2011 Honda Canada, Inc. Toute information présentée ici s'appliquent à des motocyclettes Canadiennes.</p>
						<ul class="fr fc legal-links">
							<li class="first"><a href="/termes">Termes et conditions</a></li>
							<li><a href="/confidentialite">Politique de confidentialité</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->