<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-sir">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/sir.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="banner"><img src="/_Global/img/content/mc/sir/sir-header.jpg" alt="" /></div>
				
				<div class="sir-content">
					<h1>Ride into Honda for great discounts<br/>
						on select 2010 and 2011 Motorcycles.</h1>
					<div class="vehicles">
						<div class="fc">
							<div class="fl vehicle-box topleft-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2010-vt750rs.jpg" alt="" /></div>
								<p>2010 VT750RS<br/>
									Discount: <span>$1,150</span></p>
							</div>
							<div class="fl vehicle-box topright-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2010-vt1300ct.jpg" alt="" /></div>
								<p>2010 VT1300CT Interstate<br/>
									Discount: <span>$1,000</span></p>
							</div>
						</div>
						<div class="fc">
							<div class="fl vehicle-box bottomleft-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2011-cbr600rr.jpg" alt="" /></div>
								<p>2011 CBR600RR<br/>
									Discount: <span>$1,000</span></p>
							</div>
							<div class="fl vehicle-box bottomright-box">
								<div class="vehicle-image"><img src="/_Global/img/content/mc/sir/2011-crf450r.jpg" alt="" /></div>
								<p>2011 CRF450R<br/>
									Discount: <span>$1,000</span></p>
							</div>
						</div>
					</div>
					<div class="fc footer-area">
						<div class="fl links">
							<div class="more-deals"><a href="updates-shift-into-red-deals.html" class="btn primary"><span>More deals this way &raquo;</span></a></div>
							<div class="find-a-dealer"><a href="/dealerlocator">Click here to find a dealer</a></div>
						</div>
						<div class="fr logo">
							<a href="http://motorcycle.honda.ca"><img src="/_Global/img/content/mc/sir/honda-logo.gif" alt="" /></a>
						</div>
					</div>
					<div class="legal">
						<p>Shift Into Red event ("Offer") applies to eligible retail purchase agreements for a limited time, while supplies last. This Offer is valid on select new (not previously registered) 2010 and 2011 Honda Motorcycles. Discounts (manufacturer's and dealer˙s as applicable) are deducted from MSRP before taxes, and available only at participating dealers and on select models only and vary from $200 to $5,750 depending on model. "Your Price" values shown do not include Freight and P.D.I.  Freight and P.D.I, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Offer valid from September 1, 2011 until November 30, 2011 inclusive on motorcycles only. Ask your dealer for details. All offers valid at participating Honda Motorcycle Dealers, excluding Québec. Dealer may sell for less. Prices/Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details and eligible models. Errors and omissions excepted.</p>
					</div>
					<div class="fc legal">
						<p class="fl">&copy;2011 Honda Canada, Inc. All information contained herein applies to Canadian motorcycles.</p>
						<ul class="fr fc legal-links">
							<li class="first"><a href="/terms">Terms and Conditions</a></li>
							<li><a href="/privacy">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->