<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page french">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/fr/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section offers">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/banner-fr.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/parsenhonda/offres" class="main"><span>Offres de L'événement</span></a></dd>
					<dd class="fl"><a href="/parsenhonda/envedette" class="main"><span>Modèles en Vedette</span></a></dd>
					<dd class="fl multiline"><a href="/trouver-concessionaire" class="main"><span>Trouver un<br/>Consessionanaire</span></a></dd>
				</dl>
				
				<div class="offers-list">
					<dl class="fc savings-touts">
						<dd class="fl fc finance first">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-finance-fr.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Bas taux de financement</strong> sur des motocyclettes Honda sélectionnées. Une autre excellente raison de vous procurer votre nouvelle motocyclette durant l’Événement de Vente du printemps.</p>
							</div>
						</dd>
						<dd class="fl fc day">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-90day-fr.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Profitez des 90 premiers jours</strong> sans paiement à effectuer sur les motocyclettes CBR250R et CBR250RA, 2011 ou 2012, et gardez votre argent durant les mois du printemps afin de vous procurer l’équipement rêvé ou couvrir les frais de carburant et prolonger vos randonnées.</p>
							</div>
						</dd>
						<dd class="fl fc winch">
							<div class="fl image"><img src="/_Global/img/content/mc/spring-sales/offers-text-warnwinch-fr.png" class="pf" alt="" /></div>
							<div class="fl info">
								<p><strong>Recevez un treuil Warn<sup>MD</sup> gratuit</strong> à l’achat d’un VTT Honda 2011 et 2012 sélectionné. Profitez de cette excellente offre, disponible pour un temps limité seulement.</p>
							</div>
						</dd>
					</dl>
					
					<div class="product-tabs">
						<dl class="fc atv">
							<dt class="fl first">VTT</dt>
							<dd class="fl"><a href=""><span>Utilitaire</span></a></dd>
							<dd class="fl"><a href=""><span>Récréatif</span></a></dd>
							<dd class="fl last"><a href=""><span>Sport</span></a></dd>
						</dl>
						
						<dl class="fc mc">
							<dt class="fl">motocyclettes</dt>
							<dd class="fl multiline"><a href=""><span>Sport and<br/> Standard</span></a></dd>
							<dd class="fl"><a href=""><span>Cruiser</span></a></dd>
							<dd class="fl"><a href=""><span>Tourisme</span></a></dd>
							<dd class="fl"><a href=""><span>Scooter</span></a></dd>
							<dd class="fl"><a href=""><span>Double Useage</span></a></dd>
							<dd class="fl"><a href=""><span>compètition</span></a></dd>
							<dd class="fl last"><a href=""><span>Hors Route</span></a></dd>
						</dl>
					</div>
					
					<div class="product-listings">
						<div class="h2">Category Name</div>
						
						<div class="fc product">
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc original price">
									<del><span class="strike"></span><strong class="fnat">$16,599</strong></del>
									<span>MSRP</span>
								</div>
								<div class="fc final price multiline">
									<strong class="fnat">$10,599</strong>
									<span>Manufacturer<br/>
										Discounted Price</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc original price">
									<strong class="fnat">$16,599</strong>
									<span>MSRP</span>
								</div>
								<div class="fc special price">
									<strong class="fnat">$6,000</strong>
									<span>Discount</span>
								</div>
								<div class="fc final price">
									<strong class="fnat">$10,599</strong>
									<span>Your Price</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="fnat year">2010</div>
								
								<div class="product-image"></div>
								
								<h3 class="fnat price-heading">CBR125R</h3>
								
								<div class="fc final price">
									<strong class="fnat">$16,799</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
				</div>
				
				<div class="fc spring-disclaimer">
					<p>*Offre de financement d’une durée limitée disponible sur approbation de crédit pour les acheteurs au détail admissibles de CBR250R ou CBR250RA 2011 ou 2012. Exemple: Le prix de vente d'une CBR250R 2011 ou 2012 est de 4 xxx $ (incluant xxx $ de transport et préparation) financé à au taux annuel de 1,9 % équivaut à des mensualités de xxx,xx $ par mois sur 24 mois. Un acompte ou échange équivalent peut être exigé. Le coût d’emprunt est de xx,xx $, pour une obligation totale de x xxx,xx $ (incluant l'acompte). L’obligation totale ne comprend pas les taxes, l’immatriculation, les assurances et l’enregistrement. Les concessionnaires peuvent vendre à prix moindre. L'offre est en vigueur du 1er avril 2012 au 30 juin 2012 et peut être modifiée ou annulée sans préavis. †† L'offre de paiement reporté pendant 90 jours s'applique aux offres de financement à l'achat sur toute CBR250R ou CBR250RA 2011, achetée et livrée au 30 juin 2012. L’offre est valide uniquement sur le financement fourni par les Services Financiers Honda et sujette à une approbation de crédit (O.A.C.). Les paiements mensuels sont reportés de 90 jours. Le contrat de financement sera prolongé en conséquence. L’intérêt commence à courir 60 jours suivant la date du contrat et l’acheteur rembourse le capital et l’intérêt durant le terme du contrat, mais pas avant 90 jours suivant la date du contrat. ††† L’offre de treuil WarnMD gratuit est valide sur des VTT Honda 2011 et 2012 sélectionnés seulement, pour une durée limitée, dans la limite des stocks. (WarnMD est une marque déposée de Warn Industries, inc.).  Les offres de l'événement de vente du printemps Pars en Honda  (“Offres”) sont en vigueur du 1er avril 2012 au 30 juin 2012. Toutes les « offres » s'appliquent à des motocyclettes et des VTT Honda (“produits admissibles”) neufs (jamais enregistrés auparavant). Toutes les « offres » peuvent être modifiées ou annulées sans préavis. Toutes les « offres » sont valides chez les concessionnaires de motocyclettes Honda ou les concessionnaires Centre Honda participants. Visitez honda.ca pour connaître tous les détails et les autres taux de financement. Les mentions “Votre prix” indiquées incluent un rabais qui est déduit du prix de vente avant les taxes. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables et sont uniquement applicables au Québec. Le concessionnaire peut vendre à prix moindre. L’offre peut être modifiée ou prolongée sans préavis. Une commande ou un échange entre concessionnaires pourrait être requis. Voir le concessionnaire ou honda.ca pour connaître tous les détails et les modèles admissibles. Sauf erreur ou omission. Les économies réalisées peuvent varier selon le concessionnaire. Prix/caractéristiques techniques modifiables sans préavis. Honda Canada se réserve le droit de modifier, prolonger ou limiter ses offres en tout temps. Chez les concessionnaires de motocyclettes Honda ou les concessionnaires Centre Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement des illustrations. Portez toujours un casque, de la protection pour les yeux et des vêtements protecteurs appropriés et veuillez respecter l'environnement lorsque vous circulez. Conformez-vous aux lois en vigueur et lisez attentivement votre manuel du propriétaire. Honda recommande de suivre un cours de conduite de motocyclette.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->