<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-black">
				<span class="pf">#fitsmylife</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_generation.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf">An experience that <strong>#fitsmylife</strong></span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-generation">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href=""></a></div>
							<p>Model Pages:<br/>
								<a href="">CBR250R</a> | <a href="">CBR250RA</a></p>
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="">Key Features</a></dd>
								<dd><a href="">360&deg; View &amp; Images</a></dd>
								<dd><a href="">Raving Reviews</a></dd>

								<dt>#fitsmylife</dt>
								<dd><a href="">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="">Join R Generation <span></span></a></dd>
								<dd><a href="">CBR250R Race Series</a></dd>

								<dt>#readytoride</dt>
								<dd><a href="">New to riding?</a></dd>
								<dd><a href="">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="heading-primary"><span>R</span> Generation.</div>
							<dl>
								<dd class="fc">
									<div class="fl">
										<div class="title">#feelalive</div>
										<p>Discover freedom. Once you feel the thrill of the open air, you won’t want to travel any other way. Welcome to the world on two wheels.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_01.png" class="pf" alt="" />
									</div>
								</dd>
								<dd class="fc">
									<div class="fl">
										<div class="title">#sharethelove</div>
										<p>Adventures aren’t complete until they’re shared - epic stories, must-see pics or a simple post. Riding doesn’t have to be a solo sport, grab a friend and get out there.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_02.png" class="pf" alt="" />
									</div>
								</dd>
								<dd class="fc">
									<div class="fl">
										<div class="title">#gotyourback</div>
										<p>You’ve got connections. Learn more about your bike through other riders offering advice, tips and so much more. Like us on <a href="#">Facebook</a> and get connected with R Generation.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_03.png" class="pf" alt="" />
									</div>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="pf content_container_alt">
					<div class="content-col">
						<div class="heading-primary"><span>R</span> Bike.</div>
						<dl>
							<dd class="fc">
								<div class="fl">
									<div class="title">#superstylin</div>
									<p>If you’re a new rider, we know the value of not looking like one. Fairings protect your legs from the elements, two colour options give you choice and overall the CBR250R mimics its more powerful siblings. Don’t sacrifice style for function ever again.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_04.png" class="pf" alt="" />
								</div>
							</dd>
							<dd class="fc">
								<div class="fl">
									<div class="title">#confidenceboost</div>
									<p>Confidence is key but so is comfort. The low seat height makes the stop-and-go easier when out and about and the available C- ABS helps you stop with confidence.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_05.png" class="pf" alt="" />
								</div>
							</dd>
							<dd class="fc">
								<div class="fl">
									<div class="title">#sweetdeal</div>
									<p>Work hard, play harder. The CBR250R is fuel-efficient and comes at a sweet price of $4,499. Not to mention, the CBR250RA is the only bike in its class with C- ABS at $4,999. Now these are awesome deals.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_06.png" class="pf" alt="" />
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->