<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-gallery">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-red">
				<span class="pf">#myCBR250R</span>
			</div>
			<a href="" class="pf gallery-buttons gallery-prev"></a>
			<a href="" class="pf gallery-buttons gallery-next"></a>
			
			<img src="/_Global/img/content/mc/cbr/temp-360-image.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble"><span class="pf">Check out the <strong>#CBR250R</strong> 360 view and images</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-gallery">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Model Pages:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Key Features</a></dd>
								<dd><a href="/cbr250r/360images">360&deg; View &amp; Images</a></dd>
								<dd><a href="/cbr250r/reviews">Raving Reviews</a></dd>
								
								<dt>#fitsmylife</dt>
								<dd><a href="/cbr250r/rgeneration">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Join R Generation <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">CBR250R Race Series</a></dd>
								
								<dt>#readytoride</dt>
								<dd><a href="/cbr250r/newtoriding">New to riding?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="content_section first_section">
								<ul class="buttons">
									<li class="fl first"><a class="fnat" href="" property="act:flash-target" data-target=".gallery .viewer" data-url="/path/to/flash" data-width="950" data-height="400"><span>360 View</span></a></li>
									<li class="fl"><a class="fnat" href=""><span>Gallery</span></a></li>
									<li class="fl"><a class="fnat" href=""><span>Wallpapers</span></a></li>
								</ul>
							</div>
							<div class="nm content_section">
								<ul class="fc gallery">
									<li class="fl first"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-01.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-02.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-03.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-04.jpg" alt="" /></a></li>
									
									<li class="fl first"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-05.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-06.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-07.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-08.jpg" alt="" /></a></li>
									
									<li class="fl first"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-09.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-10.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-11.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-12.jpg" alt="" /></a></li>
									
									<li class="fl first"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-13.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-14.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-15.jpg" alt="" /></a></li>
									<li class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/gallery-item-16.jpg" alt="" /></a></li>
								</ul>
							</div>
							<div class="content_section">
								<h2>Wallpapers</h2>
								<div class="fc wallpapers">
									<div class="fl classic-wallpapers">
										<h3><span>Classic</span></h3>
										<dl class="fc">
											<dd class="fl first">
												<a href="" class="wallpaper-image"><img src="/_Global/img/content/mc/cbr/wallpaper-classic-01.jpg" alt="" /></a>
												<ul>
													<li><a href="">1024 x 768</a></li>
													<li><a href="">1280 x 960</a></li>
													<li><a href="">1600 x 1200</a></li>
													<li><a href="">1920 x 1200</a></li>
												</ul>
											</dd>
											<dd class="fl">
												<a href="" class="wallpaper-image"><img src="/_Global/img/content/mc/cbr/wallpaper-classic-02.jpg" alt="" /></a>
												<ul>
													<li><a href="">1024 x 768</a></li>
													<li><a href="">1280 x 960</a></li>
													<li><a href="">1600 x 1200</a></li>
													<li><a href="">1920 x 1200</a></li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="fl mobile-wallpapers">
										<h3><span>Mobile</span></h3>
										<dl class="fc">
											<dd class="fl first">
												<a href="" class="wallpaper-image"><img src="/_Global/img/content/mc/cbr/wallpaper-mobile-01.jpg" alt="" /></a>
												<ul>
													<li><a href="">iPhone</a></li>
													<li><a href="">Android</a></li>
												</ul>
											</dd>
											<dd class="fl">
												<a href="" class="wallpaper-image"><img src="/_Global/img/content/mc/cbr/wallpaper-mobile-02.jpg" alt="" /></a>
												<ul>
													<li><a href="">iPhone</a></li>
													<li><a href="">Android</a></li>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->