<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page french">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/fr/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section splash">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/splash-banner-fr.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/parsenhonda/offres" class="main"><span>Offres de L'événement</span></a></dd>
					<dd class="fl"><a href="/parsenhonda/envedette" class="main"><span>Modèles en Vedette</span></a></dd>
					<dd class="fl multiline"><a href="/trouver-concessionaire" class="main"><span>Trouver un<br/>Consessionanaire</span></a></dd>
				</dl>
				
				<div class="fc splash-copy">
					<div class="fl copy">
						<div class="h2">C'est Le Temps De Partir En Honda!</div>
						<p class="large">Pour un temps limité, profitez <a href="/parsenhonda/offres">d'offres exceptionnelles</a> sur des motocyclettes et VTT Honda sélectionnés grâce à l’Événement de Vente du printemps Pars en Honda. Partez en Honda et demeurez avec Honda grâce à une gamme de modèles convenant à tous les types de conducteurs.</p>
					</div>
					<div class="fr payment-options">
						<img src="/_Global/img/content/mc/spring-sales/splash-finance-fr.jpg" alt="" />
					</div>
				</div>
				
				<dl class="fc mini-touts">
					<dd class="fl first"><a href="/parsenhonda/envedette#cbr250r"><img src="/_Global/img/content/mc/spring-sales/tout_cbr250r_fr.jpg" alt="" /></a></dd>
					<dd class="fl"><a href="/parsenhonda/envedette#trx500fm"><img src="/_Global/img/content/mc/spring-sales/tout_trx500fm_fr.jpg" alt="" /></a></dd>
					<dd class="fl"><a href="/parsenhonda/envedette#shadowrs"><img src="/_Global/img/content/mc/spring-sales/tout_shadowrs_fr.jpg" alt="" /></a></dd>
				</dl>
				
				<div class="fc spring-disclaimer">
					<p>*Offre de financement d’une durée limitée disponible sur approbation de crédit pour les acheteurs au détail admissibles de CBR250R ou CBR250RA 2011 ou 2012. Exemple: Le prix de vente d'une CBR250R 2011 ou 2012 est de 4 xxx $ (incluant xxx $ de transport et préparation) financé à au taux annuel de 1,9 % équivaut à des mensualités de xxx,xx $ par mois sur 24 mois. Un acompte ou échange équivalent peut être exigé. Le coût d’emprunt est de xx,xx $, pour une obligation totale de x xxx,xx $ (incluant l'acompte). L’obligation totale ne comprend pas les taxes, l’immatriculation, les assurances et l’enregistrement. Les concessionnaires peuvent vendre à prix moindre. L'offre est en vigueur du 1er avril 2012 au 30 juin 2012 et peut être modifiée ou annulée sans préavis. † L'offre de paiement reporté pendant 90 jours s'applique aux offres de financement à l'achat sur toute CBR250R ou CBR250RA 2011, achetée et livrée au 30 juin 2012. L’offre est valide uniquement sur le financement fourni par les Services Financiers Honda et sujette à une approbation de crédit (O.A.C.). Les paiements mensuels sont reportés de 90 jours. Le contrat de financement sera prolongé en conséquence. L’intérêt commence à courir 60 jours suivant la date du contrat et l’acheteur rembourse le capital et l’intérêt durant le terme du contrat, mais pas avant 90 jours suivant la date du contrat.Les mentions “Votre prix” indiquées incluent un rabais qui est déduit du prix de vente avant les taxes. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables et sont uniquement applicables au Québec. Le concessionnaire peut vendre à prix moindre. L’offre peut être modifiée ou prolongée sans préavis. Une commande ou un échange entre concessionnaires pourrait être requis. Voir le concessionnaire ou honda.ca pour connaître tous les détails et les modèles admissibles. Sauf erreur ou omission. Les économies réalisées peuvent varier selon le concessionnaire. Prix/caractéristiques techniques modifiables sans préavis. Honda Canada se réserve le droit de modifier, prolonger ou limiter ses offres en tout temps. Chez les concessionnaires de motocyclettes Honda ou les concessionnaires Centre Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement des illustrations. Portez toujours un casque, de la protection pour les yeux et des vêtements protecteurs appropriés et veuillez respecter l'environnement lorsque vous circulez. Conformez-vous aux lois en vigueur et lisez attentivement votre manuel du propriétaire. Honda recommande de suivre un cours de conduite de motocyclette. Les offres de l'événement de vente du printemps Pars en Honda  (“Offres”) sont en vigueur du 1er avril 2012 au 30 juin 2012. Toutes les « offres » s'appliquent à des motocyclettes et des VTT Honda (“produits admissibles”) neufs (jamais enregistrés auparavant). Toutes les « offres » peuvent être modifiées ou annulées sans préavis. Toutes les « offres » sont valides chez les concessionnaires de motocyclettes Honda ou les concessionnaires Centre Honda participants. Visitez honda.ca pour connaître tous les détails et les autres taux de financement.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->