<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section splash">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/splash-banner-en.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/getonahonda/offers" class="main"><span>Event Offers</span></a></dd>
					<dd class="fl"><a href="/getonahonda/featured" class="main"><span>Featured Models</span></a></dd>
					<dd class="fl"><a href="/dealerlocator" class="main"><span>Find a Dealer</span></a></dd>
				</dl>
				
				<div class="fc splash-copy">
					<div class="fl copy">
						<div class="h2">Now is the Time to Get On and Get Out.</div>
						<p class="large">For a limited time receive <a href="/getonahonda/offers">exceptional deals</a> on select Honda motorcycles and ATVs with the Get On A Honda Spring Sales Event. Start on a Honda and Stay on a Honda with a line-up of models to fit every rider.</p>
					</div>
					<div class="fr payment-options">
						<img src="/_Global/img/content/mc/spring-sales/splash-finance.jpg" alt="" />
					</div>
				</div>
				
				<dl class="fc mini-touts">
					<dd class="fl first"><a href="/getonahonda/featured#cbr250r"><img src="/_Global/img/content/mc/spring-sales/tout_cbr250r.jpg" alt="" /></a></dd>
					<dd class="fl"><a href="/getonahonda/featured#trx500fm"><img src="/_Global/img/content/mc/spring-sales/tout_trx500fm.jpg" alt="" /></a></dd>
					<dd class="fl"><a href="/getonahonda/featured#shadowrs"><img src="/_Global/img/content/mc/spring-sales/tout_shadowrs.jpg" alt="" /></a></dd>
				</dl>
				
				<div class="fc spring-disclaimer">
					<p>*Limited time purchase financing offer available to qualified retail customers on approved credit (O.A.C.) on 2011/2012 CBR250R/CBR250RA. Example: Selling Price for the 2011/2012 CBR250R is $4,499
						financed at 1.9% APR equals $191.19 per month for 24 months. Down payment or equivalent trade may be required. Cost of borrowing is $89.56 for a total obligation of $4588.56 (including down
						payment). Total obligation does not include freight, PDI, taxes, license, insurance and registration. Dealers may sell for less. Offer runs from April 1, 2012 to June 30, 2012 and is subject to
						change or cancellation without notice. † No payments for 90 days offer applies to purchase finance offers on all 2011 CBR250R/CBR250RA models purchased and delivered by June 30, 2012. Offer
						available only through Honda Financial Services, on approved credit (O.A.C.). Monthly payments are deferred for 90 days. Contracts will be extended accordingly. Interest charges will begin accruing
						60 days from the contract date and the purchaser will repay principal and interest monthly over the term of the contract, but not until 90 days after the contract date. &quot;Your price&quot;
						prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. All prices shown do not include freight, PDI, license, insurance and registration,
						or applicable taxes and are not applicable in Quebec. Dealer may sell for less. Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca
						for full details and eligible models. Errors and omissions excepted. Actual prices and savings may vary by dealer. Prices/specifications subject to change without notice. Honda Canada reserves the
						right to change, extend or limit its offers at any time. At participating Honda Motorcycle or Honda Powerhouse dealers only excluding Quebec. Models and colours may not be exactly as shown. Always
						wear a helmet, eye protection and protective clothing, and please respect the environment when riding. Obey the law and read your owner’s manual thoroughly. Honda recommends taking a motorcycle
						rider training course. .). All Get On A Honda Spring Sales Event (&quot;Offers&quot;) are valid from April 1, 2012 to June 30, 2012. All &quot;Offers&quot; apply to new (not previously registered)
						Honda Motorcycles and ATVs. All &quot;Offers&quot; are subject to change or cancellation without notice. All &quot;Offers&quot; valid at participating Honda Motorcycle or Honda Powerhouse dealers.
						Visit honda.ca for full details and other financing rates.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->