<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-red">
				<span class="pf">#readytoride</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_ready_to_ride.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf"><strong>#feelalive</strong> it’s so easy to get started</span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-new-riding">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Model Pages:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Key Features</a></dd>
								<dd><a href="/cbr250r/360images">360&deg; View &amp; Images</a></dd>
								<dd><a href="/cbr250r/reviews">Raving Reviews</a></dd>
								
								<dt>#fitsmylife</dt>
								<dd><a href="/cbr250r/rgeneration">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Join R Generation <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">CBR250R Race Series</a></dd>
								
								<dt>#readytoride</dt>
								<dd><a href="/cbr250r/newtoriding">New to riding?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="pf training-guide">
								<dl class="pf">
									<dd class="pf">
										<div class="pf">
											<span class="heading">Your adventure starts with training.</span>
											<p>Start by taking a rider training course. You’ll learn how to ride a motorcycle by experienced riders, you’ll get  tips from your instructors and meet other new riders. You may also be eligible for a discount on your insurance. Talk about a win-win!</p>
										</div>
									</dd>
									<dd class="pf">
										<div class="pf">
											<span class="heading">Then get your licence.</span>
											<p>Once you get your licence, you’re on your way to freedom.  Check out the local listings in your area to find a government license office near you. Good luck!</p>
										</div>
									</dd>
									<dd class="pf get-yours">
										<div class="pf">
											<span class="heading">Get your CBR250R.</span>
											<p>The moment has come. The CBR250R  is the bike for you. Pick the colour. Set the pick up date. U R now almost ready to ride!! <a href="#">Find a local Honda dealer in your area</a>.</p>
										</div>
									</dd>
									<dd class="pf">
										<div class="pf">
											<span class="heading">Don’t forget gear.</span>
											<p>It’s time to add the swagger. DOT Helmet, armoured gloves, padded jacket. Who says safe is boring –  personalize your experience, show your personality. Go into your local Honda dealer to make sure you get fitted correctly.  </p>
										</div>
									</dd>
									<dd class="pf share-experience">
										<div class="pf">
											<span class="heading">Share the experience.</span>
											<p>Now that you’re out there, share what you’re doing. Update your FB status, tweet about your latest ride  or share your pics on the <a href="#">CBR250R wall</a>. We want to know what you’re up to - and so does the #RGeneration community.</p>
										</div>
									</dd>
								</dl>
								<div class="pf bottom-cap"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->