<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-black">
				<span class="pf">#faitepourmoi</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_generation_fr.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf">Une expérience qui est <strong>#faitpourmoi</strong></span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-generation">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Pages des modèles:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#maCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Caractéristiques-clés</a></dd>
								<dd><a href="/cbr250r/360images">Vue 360 et images</a></dd>
								<dd><a href="/cbr250r/reviews">Critiques unanimes</a></dd>
								
								<dt>#faitepourmoi</dt>
								<dd><a href="/cbr250r/rgeneration">Génération R. Moto R.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Joins-toi a la Génération <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">Série de Course Honda</a></dd>
								
								<dt>#pretarouler</dt>
								<dd><a href="/cbr250r/newtoriding">Motocycliste novice?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Trouve un concessionnaire</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="heading-primary">Génération <span>R</span>.</div>
							<dl>
								<dd class="fc">
									<div class="fl">
										<div class="title">#gouterlaliberté</div>
										<p>Découvre la liberté. Une fois que tu auras gouté à l'exaltation de rouler à l'air libre, tu ne voudras plus voyager autrement. Bienvenue dans l’univers des deux-roues.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_01.png" class="pf" alt="" />
									</div>
								</dd>
								<dd class="fc">
									<div class="fl">
										<div class="title">#partagetapassion</div>
										<p>Les aventures ne sont pas complètes tant qu’elles ne sont pas partagées - histoires épiques, photos à voir absolument ou un simple commentaire. Rouler n'est pas seulement un sport solitaire, appelle un ami et va rouler avec lui.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_02.png" class="pf" alt="" />
									</div>
								</dd>
								<dd class="fc">
									<div class="fl">
										<div class="title">#joinstoianous</div>
										<p>Tu as des connexions. Apprends-en plus sur ta moto grâce aux conseils d'autres conducteurs, en partageant trucs et astuces et beaucoup plus encore. Aime-nous sur <a href="http://facebook.com">Facebook</a> et branche-toi avec la Génération R.</p>
									</div>
									<div class="fr">
										<img src="/_Global/img/content/mc/cbr/generation_thumb_03.png" class="pf" alt="" />
									</div>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="pf content_container_alt">
					<div class="content-col">
						<div class="heading-primary">Notre CBR250<span>R</span>.</div>
						<dl>
							<dd class="fc">
								<div class="fl">
									<div class="title">#superstyle</div>
									<p>Si vous êtes nouveau, nous savons que vous ne désirez pas en avoir l'air. Le carénage protège vos jambes des éléments, deux choix de couleurs vous sont offerts et, d'une façon générale, le nom de la CBR250R imite ses frères plus puissants. Ne sacrifiez plus jamais le style pour la fonction.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_04.png" class="pf" alt="" />
								</div>
							</dd>
							<dd class="fc">
								<div class="fl">
									<div class="title">#confianceaccrue</div>
									<p>La confiance est la clé, mais le confort aussi. La faible hauteur de selle facilite les arrêts et les départs durant les sorties et le système Combiné ABS facultatif vous permet de freiner en toute confiance.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_05.png" class="pf" alt="" />
								</div>
							</dd>
							<dd class="fc">
								<div class="fl">
									<div class="title">#vraiebonneaffaire</div>
									<p>Travaille fort, joue encore plus fort. La CBR250R est économique en essence et se vend au prix raisonnable de 4 499 $. Sans compter que la CBR250RA est la seule moto de sa catégorie avec système Combiné ABS à 4 999 $. Ce sont, pour dire le moins, de vraies bonnes affaires.</p>
								</div>
								<div class="fr">
									<img src="/_Global/img/content/mc/cbr/generation_thumb_06.png" class="pf" alt="" />
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero_fr.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->