<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section featured">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/banner-en.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/getonahonda/offers" class="main"><span>Event Offers</span></a></dd>
					<dd class="fl"><a href="/getonahonda/featured" class="main"><span>Featured Models</span></a></dd>
					<dd class="fl"><a href="/dealerlocator" class="main"><span>Find a Dealer</span></a></dd>
				</dl>
				
				<div class="featured-section"><a href="http://motorcycle.honda.ca/sport/cbr250r" name="cbr250r"><img src="/_Global/img/content/mc/spring-sales/featured-cbr250r.jpg" alt="" /></a></div>
				<div class="featured-section"><a href="http://atv.honda.ca/utility/trx500fm_foreman" name="trx500fm"><img src="/_Global/img/content/mc/spring-sales/featured-trx500fm.jpg" alt="" /></a></div>
				<div class="featured-section featured-section-last"><a href="http://motorcycle.honda.ca/cruiser/shadow_rs" name="shadowrs"><img src="/_Global/img/content/mc/spring-sales/featured-shadowrs.jpg" alt="" /></a></div>
				
				<div class="fc spring-disclaimer">
					<p>*Limited time deposit match offer of $250 (maximum) available when customers place a deposit of $250 or more on any new (not previously registered) 2011/2012 CBR250R/CBR250RA (&quot;Eligible Products&quot;). The value of the deposit match is deducted from the manufacturer's suggested retail price before taxes and can be combined with finance offers. Customer must take delivery and unit must be registered by June 30, 2012.  **The 2011/2012 CBR250R/CBR250RA Loyalty Offer (&quot;Offer&quot;) is valid for a limited time while quantities last. Offer only available to current Canadian Honda owners. This refers to any Canadian (no non-Canadian VINs will be accepted) Honda automobile, Honda motorcycle, Honda ATV, Honda Power Equipment or Honda Marine product purchased in Canada. Limit of one loyalty offer of $100 per Honda (other than CBR250R bought as part of and used for this promotion) owner per CBR250R purchase. Claim form along with the required supporting documents (i.e. proof of ownership, bill of sale) must be received by Honda Canada Inc. within 30 days of purchase to be eligible for this promotional offer. † Limited time purchase financing offer available to qualified retail customers on approved credit (O.A.C.) on 2011/2012 CBR250R/CBR250RA. Example: Selling Price for the 2011/2012 CBR250R is $4,499 financed at 1.9% APR equals $191.19 per month for 24 months. Down payment or equivalent trade may be required. Cost of borrowing is $89.56 for a total obligation of $4588.56 (including down payment). Total obligation does not include freight, PDI, taxes, license, insurance and registration. Dealers may sell for less. Offer runs from April 1, 2012 to June 30, 2012 and is subject to change or cancellation without notice. &quot;Your price&quot; prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. All prices shown do not include freight, PDI, license, insurance and registration, or applicable taxes and are not applicable in Quebec. Dealer may sell for less. Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details and eligible models. Errors and omissions excepted. Actual prices and savings may vary by dealer. Prices/specifications subject to change without notice. Honda Canada reserves the right to change, extend or limit its offers at any time. At participating Honda Motorcycle or Honda Powerhouse dealers only excluding Quebec. Models and colours may not be exactly as shown. Always wear a helmet, eye protection and protective clothing, and please respect the environment when riding. Obey the law and read your owner's manual thoroughly. Honda recommends taking a motorcycle rider training course.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->