<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-reviews">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-grey">
				<span class="pf">#myCBR250R</span>
			</div>
			
			<img src="/_Global/img/content/mc/cbr/banner_reviews.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble red-bubble red-rev-bubble"><span class="pf">Critics? the <strong>#CBR250R</strong> can handle 'em ;)</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-reviews">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Model Pages:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Key Features</a></dd>
								<dd><a href="/cbr250r/360images">360&deg; View &amp; Images</a></dd>
								<dd><a href="/cbr250r/reviews">Raving Reviews</a></dd>
								
								<dt>#fitsmylife</dt>
								<dd><a href="/cbr250r/rgeneration">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Join R Generation <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">CBR250R Race Series</a></dd>
								
								<dt>#readytoride</dt>
								<dd><a href="/cbr250r/newtoriding">New to riding?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<dl class="reviews-list">
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_01.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;...An Attractively designed, well-engineered bike with fun performance and nimble handling.&quot;</p>
										<p><a href="http://motorcycles.about.com/od/honda/fr/2011-Honda-CBR250r-Review.htm" target="_blank">- Basem Wasef, About.com Motorcycles</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_02.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;I wish I had a bike this cool when I was starting out.&quot;</p>
										<p><a href="http://www.motorcycle.com/manufacturer/honda/2011-honda-cbr250r-90227.html" target="_blank">- Jeff Cobb, Motorcycle.com</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_03.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;...The best thing to happen to motorcycling in North America in a decade.&quot;</p>
										<p><a href="http://hellforleathermagazine.com/2011/01/found-the-missing-link/#more-13507" target="_blank">- Hell For Leather Magazine</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_04.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;It's fun. It's affordable. And it's capable.&quot;</p>
										<p><a href="http://www.cyclenews.com/articles/bike-tests/2010/12/20/first-ride-honda-cbr250r" target="_blank">- Paul Carruthers, CycleNews.com</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_05.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;...Marks a new chapter in the sports bike era at Honda Canada...&quot;</p>
										<p><a href="http://www.moto123.com/motorcycle-reviews/article,2011-Honda-CBR250R-Road-and.spy?artid=130049&pg=1" target="_blank">- Pascal Bastien, Moto123.com</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_06.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;...Whiz-bang-for-the-buck CBR250R sportbike.&quot;</p>
										<p><a href="http://www.cycleworld.com/2010/12/17/2011-honda-cbr250r-first-ride/" target="_blank">- Don Canet, Cycle World</a></p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/review_thumb_07.gif" alt="" />
									</div>
									<div class="fl info">
										<p>&quot;...I was smiling in my helmet, revelling in the buttery smoothness of the single-cylinder engine and the suspension's excellent ride quality.&quot;</p>
										<p><a href="http://www.cyclecanadaweb.com/articles/9989/" target="_blank">- Don Canet, Cycle World</a></p>
									</div>
								</dd>
							</dl>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->