<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-home">
		<div class="banner">
			<div class="pf hash-tag-red">
				<span class="pf">#generationR</span>
			</div>
			
			<img src="/_Global/img/content/mc/cbr/banner-home-red-fr.jpg" alt="" />
			<dl class="fc colours">
				<dt class="fl">Choix de couleur</dt>
				<dd class="fl"><a href=""><img src="/_Global/img/content/mc/cbr/swatch_black.gif" alt="" /></a></dd>
				<dd class="fl selected"><a href=""><img src="/_Global/img/content/mc/cbr/swatch_red.gif" alt="" /></a></dd>
			</dl>
			<div class="bubble-container">
				<span class="pf bubble red-bubble"><span class="pf">#maCBR250R <strong>qui est</strong> #faitepourmoi <strong>et me donne le</strong> #goutdeliberte</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-home">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fl cbr-nav">
						<div class="cbr-logo"><a href="/cbr250r"></a></div>
						<p>Pages des modèles:<br/>
							<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
						
						<div class="pf cbr-nav-topcap"></div>
						<dl>
							<dt class="first">#maCBR250R</dt>
							<dd><a href="/cbr250r/keyfeatures">Caractéristiques-clés</a></dd>
							<dd><a href="/cbr250r/360images">Vue 360 et images</a></dd>
							<dd><a href="/cbr250r/reviews">Critiques unanimes</a></dd>
							
							<dt>#faitepourmoi</dt>
							<dd><a href="/cbr250r/rgeneration">Génération R. Moto R.</a></dd>
							<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Joins-toi a la Génération <span></span></a></dd>
							<dd><a href="/cbr250r/raceseries">Série de Course Honda</a></dd>
							
							<dt>#pretarouler</dt>
							<dd><a href="/cbr250r/newtoriding">Motocycliste novice?</a></dd>
							<dd><a href="/honda-powerhouse-dealers">Trouve un concessionnaire</a></dd>
						</dl>
						<div class="pf cbr-nav-bottomcap"></div>
					</div>
					<div class="fr content_section first_section">
						<p>La CBR250R est faite pour toi. Tu vis pour la liberté et l'aventure. Tu sais que ce que tu veux et tu n'as pas peur de t'impliquer. Tu mérites une moto qui t'offre une technologie novatrice, d'un style qui te plaît, à un prix qui est dans tes moyens. La CBR250R EST la moto parfaite pour toi.</p>
						<img src="/_Global/img/content/mc/cbr/home-motorcycles.jpg" alt="" />
						<div class="experience-box">
							<div class="fc experience">
								<div class="fl experience-logo"><img src="/_Global/img/content/mc/cbr/stop_with_confidence_fr.jpg" alt="" /></div>
								<div class="fr experience-copy"><p class="small">La CBR250RA est la seule de sa catégorie à offrir un système de freinage combiné antiblocage. <a href="">En savoir plus</a>.</p></div>
							</div>
							
							<ul class="cbr-btn-multi">
								<li class="first"><a href="/cbr250r/rgeneration">Découvre la Génération R ...</a></li>
								<li class="last"><a href="/cbr250r/360images">Examine la CBR ...</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="fc content_container">
					<div class="content_section first_section">
						<div class="ready-to-ride">
							<div class="ready-heading">Es-tu <strong>#pretarouler</strong>?</div>
							<p>C'est le temps de vivre ta prochaine aventure, seul ou avec des amis; la CBR250R te donne la liberté d'explorer avec confiance et style. Démarque-toi. Fais-toi remarquer. Ton temps, c'est maintenant, Es-tu prêt?</p>
							<a href="/cbr250r/newtoriding/" class="cbr-btn-single"><span class="inner">Ton aventure t'attend...</span></a>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero_fr.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->