<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-race-series">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-black">
				<span class="pf">#fitsmylife</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_race_series.png" alt="" class="pf" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf">Feel the rush with <strong>#CBRracing</strong></span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-race-series">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href=""></a></div>
							<p>Model Pages:<br/>
								<a href="">CBR250R</a> | <a href="">CBR250RA</a></p>
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="">Key Features</a></dd>
								<dd><a href="">360&deg; View &amp; Images</a></dd>
								<dd><a href="">Raving Reviews</a></dd>

								<dt>#fitsmylife</dt>
								<dd><a href="">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="">Join R Generation <span></span></a></dd>
								<dd><a href="">CBR250R Race Series</a></dd>

								<dt>#readytoride</dt>
								<dd><a href="">New to riding?</a></dd>
								<dd><a href="">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="intro">
								<div class="heading">The CBR250R Race Series</div>
								<img src="/_Global/img/content/mc/cbr/race_series_cup.png" class="fr pf" alt="" />
								<p>The CBR250R Race Series is a way for riders to put their bikes and themselves to the test. You can be part of the Honda racing community whether on the track, in the stands or following on the web  riders and spectators alike can share experiences with other CBR250R ridersbe a part of an exciting sport where inspiration happens.</p>
								<p>This is an opportunity you don’t want to miss. Take part in the action -- if you are between 15 and 25, own a CBR250R contact <a href="mailto:kimberly_moore@ch.honda.com">kimberly_moore@ch.honda.com</a> or check out <a href="http://CSBK.com">CSBK.com</a> for the full details.</p>
							</div>
							<div class="fc get-involved">
								<div class="fl">
									<img src="/_Global/img/content/mc/cbr/cbr_side_profile.png" class="pf" alt="" />
								</div>
								<dl class="fr">
									<dt>Ways to Get Involved:</dt>
									<dd class="pf">Follow the series online</dd>
									<dd class="pf">Check out an event</dd>
									<dd class="pf">Attend a Competition Riding School</dd>
									<dd class="pf">Enter the Series</dd>
								</dl>
							</div>
							<div class="pf racing-corporation">
								<div class="pf bottom-cap">
									<div class="pf content-area">
										<div class="heading">Honda Racing Corporation</div>
										<p>HRC is the spirit of Honda sport bikes. With a focus on improving the sport and its riders, HRC works with Honda to deliver the best bikes backed by track-proven performance. Learn more <a href="#">about HRC</a>.</p>
									</div>
								</div>
							</div>
							<dl class="link-group">
								<dt>Race Series Links:</dt>
								<dd class="pf"><a href="#">Race Series Rules</a></dd>
								<dd class="pf"><a href="#">Canadian Superbike Championship</a></dd>
								<dd class="pf"><a href="#">Honda Racing</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->