<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page french">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/mc/sections/spring-sales.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/fr/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container spring-sales">
			<div class="content_section featured">
				<div class="banner"><img src="/_Global/img/content/mc/spring-sales/banner-fr.jpg" alt="" /></div>
				
				<dl class="fc spring-nav">
					<dd class="fl first"><a href="/parsenhonda/offres" class="main"><span>Offres de L'événement</span></a></dd>
					<dd class="fl"><a href="/parsenhonda/envedette" class="main"><span>Modèles en Vedette</span></a></dd>
					<dd class="fl multiline"><a href="/trouver-concessionaire" class="main"><span>Trouver un<br/>Consessionanaire</span></a></dd>
				</dl>
				
				<div class="featured-section"><a href="http://motorcycle.honda.ca/sport_fr/cbr250r" name="cbr250r"><img src="/_Global/img/content/mc/spring-sales/featured-cbr250r-fr.jpg" alt="" /></a></div>
				<div class="featured-section"><a href="http://atv.honda.ca/utilitaire/trx500fm_foreman" name="trx500fm"><img src="/_Global/img/content/mc/spring-sales/featured-trx500fm-fr.jpg" alt="" /></a></div>
				<div class="featured-section featured-section-last"><a href="http://motorcycle.honda.ca/cruiser_fr/shadow_rs" name="shadowrs"><img src="/_Global/img/content/mc/spring-sales/featured-shadowrs-fr.jpg" alt="" /></a></div>
				
				<div class="fc spring-disclaimer">
					<p>*Offre d’acompte égalé jusqu’à concurrence de 250 $ est disponible pour une durée limitée lorsqu’un client donne un acompte de 250 $ ou plus sur toute CBR250R ou CBR250RA 2011 ou 2012 (“produits admissibles”) neuve (jamais enregistrée auparavant). La valeur de l’acompte égalé est déduite du prix de vente avant les taxes et peut être combinée avec les offres de financement. Le client doit avoir pris livraison de l’unité et celle-ci doit avoir été enregistrée au 30 juin 2012. **L’Offre Fidélité sur les CBR250R et CBR250RA 2011/2012 (“l'Offre”) est valide pour une durée limitée ou jusqu’à épuisement des stocks. Offre valide seulement pour les propriétaires canadiens actuels de produit Honda. “Produit Honda” signifie toute automobile ou motocyclette Honda, tout VTT, Produit Mécanique Honda ou produit Honda Marine acheté au Canada (aucun NIV non canadien ne sera accepté). Limite d'une offre fidélité de 100 $ par propriétaire de produit Honda (autre que la CBR250R achetée dans le cadre de la présente promotion) et par achat de CBR250R. Le formulaire de réclamation et les pièces justificatives (c.-à-d., preuve de propriété, contrat de vente) doivent être reçus par Honda Canada Inc. dans les 30 jours de l’achat pour que la réclamation soit valide. † Limited time purchase financing offer available to qualified retail customers on approved credit (O.A.C.) on 2011/2012 CBR250R/CBR250RA. Example: Selling Price for the 2011/2012 CBR250R is $4,499 financed at 1.9% APR equals $191.19 per month for 24 months. Down payment or equivalent trade may be required. Cost of borrowing is $89.56 for a total obligation of $4588.56 (including down payment). Total obligation does not include freight, PDI, taxes, license, insurance and registration. Dealers may sell for less. Offer runs from April 1, 2012 to June 30, 2012 and is subject to change or cancellation without notice. Les mentions “Votre prix” indiquées incluent un rabais qui est déduit du prix de vente avant les taxes. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables et sont uniquement applicables au Québec. Le concessionnaire peut vendre à prix moindre. L’offre peut être modifiée ou prolongée sans préavis. Une commande ou un échange entre concessionnaires pourrait être requis. Voir le concessionnaire ou honda.ca pour connaître tous les détails et les modèles admissibles. Sauf erreur ou omission. Les économies réalisées peuvent varier selon le concessionnaire. Prix/caractéristiques techniques modifiables sans préavis. Honda Canada se réserve le droit de modifier, prolonger ou limiter ses offres en tout temps. Chez les concessionnaires de motocyclettes Honda ou les concessionnaires Centre Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement des illustrations. Portez toujours un casque, de la protection pour les yeux et des vêtements protecteurs appropriés et veuillez respecter l'environnement lorsque vous circulez. Conformez-vous aux lois en vigueur et lisez attentivement votre manuel du propriétaire. Honda recommande de suivre un cours de conduite de motocyclette.</p>
				</div>
			</div>
			
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->