<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="banner bubble-floating">
			<div class="pf hash-tag-red">
				<span class="pf">#pretarouler</span>
			</div>
			<img src="/_Global/img/content/mc/cbr/banner_ready_to_ride_fr.jpg" alt="" />
			<div class="bubble-container">
				<span class="pf bubble white-bubble">
					<span class="pf"><strong>#goutelaliberté</strong> c’est si facile de commencer</span>
				</span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-new-riding">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container_alt">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Pages des modèles:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#maCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Caractéristiques-clés</a></dd>
								<dd><a href="/cbr250r/360images">Vue 360 et images</a></dd>
								<dd><a href="/cbr250r/reviews">Critiques unanimes</a></dd>
								
								<dt>#faitepourmoi</dt>
								<dd><a href="/cbr250r/rgeneration">Génération R. Moto R.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Joins-toi a la Génération <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">Série de Course Honda</a></dd>
								
								<dt>#pretarouler</dt>
								<dd><a href="/cbr250r/newtoriding">Motocycliste novice?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Trouve un concessionnaire</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<div class="pf training-guide">
								<dl class="pf">
									<dd class="pf">
										<div class="pf">
											<span class="heading">Votre aventure commence avec la formation.</span>
											<p>Commencez par un cours de conduite. Vous apprendrez comment conduire une motocyclette, recevrez des conseils très pertinents de vos instructeurs, rencontrerez de nouveaux motocyclistes ET vous pourriez être admissible à un escompte sur votre assurance. Y'a pas plus gagnant gagnant!</p>
										</div>
									</dd>
									<dd class="pf">
										<div class="pf">
											<span class="heading">Ensuite, obtenez votre permis de conduire.</span>
											<p>Une fois que tu l'as, tu es sur la voie de la liberté. Consulte les annuaires locaux de ta région pour savoir où se trouve un bureau d'immatriculation près de chez toi. Bonne chance!</p>
										</div>
									</dd>
									<dd class="pf get-yours">
										<div class="pf">
											<span class="heading">Achète ta CBR250R.</span>
											<p>Le moment est venu. La CBR250R est la moto pour toi. Choisis la couleur. Fixe la date de livraison. Tu es presque prêt à rouler!! <a href="#">Trouve un concessionnaire Honda dans ton coin</a>.</p>
										</div>
									</dd>
									<dd class="pf">
										<div class="pf">
											<span class="heading">N'oublie pas l'équipement.</span>
											<p>C'est le temps d'ajouter un peu d'éclat. Casque DOT, gants renforcés, veste de moto protectrice. Qui dit que la sécurité doit être terne? – Personnalise ton expérience, affiche ta personnalité; Va chez ton concessionnaire Honda local et assure-toi de t'équiper correctement.</p>
										</div>
									</dd>
									<dd class="pf share-experience">
										<div class="pf">
											<span class="heading">Partage ton expérience.</span>
											<p>À présent que tu es rendu là, partage ce que tu fais. Mets ton statut FB à jour, parle de ta dernière randonnée sur tweeter ou partage tes images sur le mur de la <a href="">CBR250R</a>. On veut savoir ce qui se passe avec toi – la communauté #GenerationR aussi.</p>
										</div>
									</dd>
								</dl>
								<div class="pf bottom-cap"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="fc content_container">
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero_fr.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->