<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="cbr-page">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/mc/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/mc/sections/cbr.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/mc/inc/header.html"-->

	<div class="wrapper_extended cbr-features">
		<div class="banner">
			<div class="pf hash-tag-grey">
				<span class="pf">#myCBR250R</span>
			</div>
			
			<img src="/_Global/img/content/mc/cbr/banner_special_features.jpg" alt="" />
			<a class="pf hotspot btn-tooltips"
				style="left: 230px; top: 120px;"
				data-tooltip-content-target=".hotspot-01"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-01 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_storage.jpg" />
				<div class="info">
					<p class="heading">Underseat Storage</p>
					<p>Protect your valuables. Wonder where you're going to put your cell phone, wallet, sun glasses, don't worry  passenger seat covers a lockable compartment that will hold these items for you simply adding to the CBR250R's versatility.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 285px; top: 150px;"
				data-tooltip-content-target=".hotspot-02"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-02 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_passenger_seat.jpg" />
				<div class="info">
					<p class="heading">Passenger Seat</p>
					<p>Grab a friend and go. The passenger ready seat features a grab rail and standard passenger footpegs so you can share your adventures with a friend.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 385px; top: 165px;"
				data-tooltip-content-target=".hotspot-03"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-03 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_seat_height.jpg" />
				<div class="info">
					<p class="heading">Seat Height</p>
					<p>The CBR250R has a 30.5&quot; seat height allowing most riders to reach the ground giving you confidence when coming to a stop and making it more comfortable during longer trips.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 360px; top: 240px;"
				data-tooltip-content-target=".hotspot-04"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-04 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_suspension.jpg" />
				<div class="info">
					<p class="heading">Pro-Link&reg; Rear Suspension</p>
					<p>Experience a great ride. The CBR250R has a single-shock pre-load adjustable rear suspension to provide a smooth ride that's easy to handle whether you're commuting to work or on that long road trip with your friends.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 240px; top: 315px;"
				data-tooltip-content-target=".hotspot-05"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-05 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_brakes.jpg" />
				<div class="info">
					<p class="heading">Disc Brakes and Combined ABS</p>
					<p>You can feel confident knowing the front and rear hydraulic disc brakess will provide you optimum stopping. For added security the CBR250R is also available with Combined ABS (C-ABS) giving you additional confidence when riding in the rain or in those quick-stop braking situations.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 675px; top: 105px;"
				data-tooltip-content-target=".hotspot-06"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-06 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_dash.jpg" />
				<div class="info">
					<p class="heading">Dash</p>
					<p>Ride with confidence, knowing your bike gives you a reading of your bike's vitals each time you turn on the ignition. The sporty design and hi-tech features on the dash provide style and functionality.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 620px; top: 190px;"
				data-tooltip-content-target=".hotspot-07"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-07 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_fairing.jpg" />
				<div class="info">
					<p class="heading">Layered Style Fairing</p>
					<p>Stylish full fairing with windscreen makes for excellent rider comfort and aerodynamics. Another example of style meets functionality on the CBR250R.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 535px; top: 245px;"
				data-tooltip-content-target=".hotspot-08"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-08 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_fuel_injection.jpg" />
				<div class="info">
					<p class="heading">Fuel Injection</p>
					<p>Monitors several variables to ensure the correct fuel mixture for the current riding conditions. The result is crisp throttle control and improved fuel economy. A win-win for you.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 500px; top: 285px;"
				data-tooltip-content-target=".hotspot-09"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-09 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_cb_shaft.jpg" />
				<div class="info">
					<p class="heading">Counterbalance Shaft</p>
					<p>Get more out of your bike. The counterbalance shaft allows you to experience the smooth ride of a multi-cylinder bike with just a single-cylinder.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<a class="pf hotspot btn-tooltips"
				style="left: 495px; top: 345px;"
				data-tooltip-content-target=".hotspot-10"
				data-tooltip-class="tooltip-right"
				data-position="right bottom"
				property="act:tooltip"></a>
			<span class="hotspot-10 dn">
				<img alt="" src="/_Global/img/content/mc/cbr/thumb_engine.jpg" />
				<div class="info">
					<p class="heading">Single Cylinder Engine</p>
					<p>When deciding on your first bike, it is important that it's lightweight and easy to ride. Having to make less stops at the gas station is a great bonus. That's exactly what the CBR250Rs single-cylinder engine offers.</p>
				</div>
				<div class="clr"></div>
			</span>
			
			<div class="bubble-container">
				<span class="pf bubble black-bubble"><span class="pf">Check out the <strong>#CBR250R</strong> key features</span></span>
			</div>
		</div>
	</div>
	<div class="wrapper cbr-features">
		<div class="container pf">
			<div class="fc">
				<div class="fc content_container">
					<div class="fc content-wrapper">
						<div class="fl cbr-nav">
							<div class="cbr-logo"><a href="/cbr250r"></a></div>
							<p>Model Pages:<br/>
								<a href="/sport/cbr250r">CBR250R</a> | <a href="/sport/cbr250ra">CBR250RA</a></p>
							
							<div class="pf cbr-nav-topcap"></div>
							<dl>
								<dt class="first">#myCBR250R</dt>
								<dd><a href="/cbr250r/keyfeatures">Key Features</a></dd>
								<dd><a href="/cbr250r/360images">360&deg; View &amp; Images</a></dd>
								<dd><a href="/cbr250r/reviews">Raving Reviews</a></dd>
								
								<dt>#fitsmylife</dt>
								<dd><a href="/cbr250r/rgeneration">R Generation. R Bike.</a></dd>
								<dd class="fb-logo"><a href="http://www.facebook.com/hondapowersportscanada" target="_blank">Join R Generation <span></span></a></dd>
								<dd><a href="/cbr250r/raceseries">CBR250R Race Series</a></dd>
								
								<dt>#readytoride</dt>
								<dd><a href="/cbr250r/newtoriding">New to riding?</a></dd>
								<dd><a href="/honda-powerhouse-dealers">Find a Dealer near you</a></dd>
							</dl>
							<div class="pf cbr-nav-bottomcap"></div>
						</div>
						<div class="fr content-col">
							<h2>The thrill of innovation.</h2>
							<p>A blend of style and technology makes the CBR250R the perfect bike for you wouldn't think of settling for 2nd best, and Honda believes you shouldn't have to. Fuel injection, Combined-ABS brakes and a body like no other in its class. Get out there and experience the thrill of the CBR250R.</p>
							
							<dl class="features-list">
								<dd class="fc">
									<div class="fl image">
										<img src="/_Global/img/content/mc/cbr/thumb_brakes.jpg" alt="" />
										<img src="/_Global/img/content/mc/cbr/stop_with_confidence_small.jpg" alt="" class="stop-thumb" />
									</div>
									<div class="fl info">
										<h3>Disc Brakes and Combined ABS</h3>
										<p>You can feel confident knowing the front and rear hydraulic disc brakess will provide you optimum stopping. For added security the CBR250R is also available with Combined ABS (C-ABS) giving you additional confidence when riding in the rain or in those quick-stop braking situations.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_passenger_seat.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Passenger Seat</h3>
										<p>Grab a friend and go. The passenger ready seat features a grab rail and standard passenger footpegs so you can share your adventures with a friend.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_seat_height.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Seat Height</h3>
										<p>The CBR250R has a 30.5&quot; seat height allowing most riders to reach the ground giving you confidence when coming to a stop and making it more comfortable during longer trips.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_dash.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Dash</h3>
										<p>Ride with confidence, knowing your bike gives you a reading of your bike's vitals each time you turn on the ignition. The sporty design and hi-tech features on the dash provide style and functionality.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_suspension.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Pro-Link&reg; Rear Suspension</h3>
										<p>Experience a great ride. The CBR250R has a single-shock pre-load adjustable rear suspension to provide a smooth ride that's easy to handle whether you're commuting to work or on that long road trip with your friends.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_engine.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Single Cylinder Engine</h3>
										<p>When deciding on your first bike, it is important that it's lightweight and easy to ride. Having to make less stops at the gas station is a great bonus. That's exactly what the CBR250Rs single-cylinder engine offers.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_storage.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Underseat Storage</h3>
										<p>Protect your valuables. Wonder where you're going to put your cell phone, wallet, sun glasses, don't worry  passenger seat covers a lockable compartment that will hold these items for you simply adding to the CBR250R's versatility.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_cb_shaft.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Counter Balance Shaft</h3>
										<p>Get more out of your bike. The counterbalance shaft allows you to experience the smooth ride of a multi-cylinder bike with just a single-cylinder.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_fuel_injection.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Fuel Injection</h3>
										<p>Monitors several variables to ensure the correct fuel mixture for the current riding conditions. The result is crisp throttle control and improved fuel economy. A win-win for you.</p>
									</div>
								</dd>
								<dd class="fc">
									<div class="fl image"><img src="/_Global/img/content/mc/cbr/thumb_fairing.jpg" alt="" /></div>
									<div class="fl info">
										<h3>Layered Style Fairing</h3>
										<p>Stylish full fairing with windscreen makes for excellent rider comfort and aerodynamics. Another example of style meets functionality on the CBR250R.</p>
									</div>
								</dd>
							</dl>
						</div>
					</div>
					<div class="pf footer-wrapper">
						<dl class="fc pf footer-container">
							<dd class="fl facebook">
								<img src="/_Global/img/content/mc/cbr/temp_facebook_plugin.jpg" alt="" />
							</dd>
							<dd class="fl twitter">
								<div class="heading">
									@HondaCanada
								</div>
								<dl>
									<dd>
										<a href="#">@HondaCanada</a> How does the CBR250R fit your life? Let us know. <a href="#">#fitsmylife</a>
									</dd>
									<dd>
										<a href="#">@HondaCanada</a> Have you sat on a <a href="#">#cbr250R</a> today? It’s spring, what are you waiting for?! <a href="#">#readytoride</a>
									</dd>
								</dl>
							</dd>
							<dd class="fl generation">
								<a href="#">
									<img src="/_Global/img/content/mc/cbr/footer_generation_hero.png" class="pf" alt="" />
								</a>
							</dd>
						</dl>
						<div class="pf footer-corner-graphic"></div>
					</div>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>

</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->