/* Visual Fixes Styles */

.wrapper_columns .widgets li{margin-top:10px;}
.tabs_horizontal{padding-top:10px;}
.wrapper_top_cap{background:url(../../img/layout/cap_top_col1_col3_alt.png) center 0 no-repeat;}
.wrapper_bottom_cap{background:url(../../img/layout/cap_bottom_col1_col3_alt.png) center 0 no-repeat;}
.wrapper_columns .widgets li .top_cap{background:url(../../img/layout/cap_middle_col1_alt.png) 0 0 no-repeat;}
.wrapper_columns .widgets li.buttons{padding-top:5px;}
.wrapper_columns .widgets li .content{padding:12px 11px 0 18px;}

.wrapper_top_cap{background:url(../../img/layout/cap_top_col1_col3_ie.png) center 0 no-repeat\9;}
.wrapper_bottom_cap{background:url(../../img/layout/cap_bottom_col1_col3_ie.png) center 0 no-repeat\9;}

/* @end */
/* Global Styles */

html{background:#727678;}
body{background:#727678 url("../../img/layout/engine/main_bg.gif") 0 0 repeat-x;}

#feature_area .container{margin:0 auto; width:950px; padding-bottom:6px; padding-top:4px;}

p.em{font-size:16px; line-height:24px;}

.col-2-full dd{width:440px; margin-left:40px;}
.col-2-full dd.first{margin-left:0;}

ul.list-primary{margin-left:20px;}
ul.list-primary li{list-style-type:disc; color:#e72530; font-size:12px; font-family:verdana, arial, sans-serif; line-height:18px; padding-top:16px; font-weight:bold;}
ul.list-primary li span{color:#333;}

/* @end */
/* Navigation Styles */

#primary_nav,
#primary_nav li{height:41px;}
#primary_nav li a.full_separator,
#primary_nav li a{padding-left:21px; padding-right:21px; padding-bottom:11px;}
#primary_nav li a.btn-last{background:url("../../img/layout/menu_primary_right_cap.png") right 0 no-repeat; padding-left:18px; padding-right:17px;}

#search { margin-left: 10px; }

* html #main_menu #primary_nav li a{padding-left:21px !important; padding-right:21px !important; padding-bottom:11px;}
* html #main_menu #primary_nav li a.btn-last{padding-left:24px !important; padding-right:24px !important;}
* + html #main_menu #primary_nav li a{padding-left:21px !important; padding-right:21px !important; padding-bottom:11px;}
* + html #main_menu #primary_nav li a.btn-last{padding-left:24px !important; padding-right:24px !important;}

.french #primary_nav li a{padding-left:17px; padding-right:17px; padding-bottom:11px;}
.french #primary_nav li a.btn-last{padding-left:21px; padding-right:22px;}

* html .french #main_menu #primary_nav li a.btn-last{padding-left:28px !important; padding-right:27px !important; padding-top:7px !important;}
* + html .french #main_menu #primary_nav li a.btn-last{padding-left:29px !important; padding-right:29px !important; padding-top:7px !important;}

.secondary_nav a{margin-right:10px;}

.car_box .dropdown_button_right{padding-left:8px; padding-right:17px;}

.french .car_box .dropdown_button_right{padding-left:4px; padding-right:13px;}

* html .french .car_box .dropdown_button_right{padding-left:8px !important; padding-right:17px !important;}
* + html .french .car_box .dropdown_button_right{padding-left:8px !important; padding-right:17px !important;}

.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .content p,
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy h3 { background: url("../../img/content/landing/dotted_dark_grey_border_h.gif") 0 bottom repeat-x; }
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .button a { cursor: pointer; }
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .button a:hover .text { background: url("../../img/content/landing/dotted_blue_border_h.gif") repeat-x scroll left bottom; border: 1px solid red; border: 0; /*background: none; border-bottom: 1px dotted #0D9BE4;*/ margin-right: 10px; padding: 0; }

* + html .nav-ddctr .buttons { display: inline;width: auto;zoom: 1;}

/* @end */
/* @group navigation drop down menu */

.navigation-dropdown .content_section .why-buy .heading{color:#c4c4c4;}
.navigation-dropdown .content_section .why-buy .button a .text{color:#0d9be4;}

.navigation-dropdown .series .series-item p,
.navigation-dropdown .series-popup .series-item p { letter-spacing: 0; }
.french .navigation-dropdown .series .series-item p,
.french .navigation-dropdown .series-popup .series-item p { letter-spacing: -0.1em; }

.navigation-dropdown .product-item .product-copy { width: 315px; }

.navigation-dropdown .buttons a.btn { text-transform: uppercase; }

/* @end */
/* Product Specifications Styles */

.section-header a.btn{margin-top:10px; margin-bottom:20px;}
* html .section-header a.btn{margin-top:3px; margin-bottom:20px;}
* + html .section-header a.btn{margin-bottom:20px;}

dl.inner-two-col{margin-bottom:20px;}
dl.inner-two-col dd{width:320px;}

.spec-diagrams p{margin:20px 0 0;}
.spec-diagrams .img-container{margin-bottom:20px;}

.background_image{margin-bottom:20px;}

/* @end */
/* Distributors Page Styles */

.flex_bar{margin-bottom:10px;}
.flex_bar span{zoom:1;}
.dropdown-content{margin:10px 0 20px 0; border-top:1px solid #d6d6d6; padding-top:20px;}
.dropdown-content-first{border-top:0; padding-top:0;}

* html .dropdown-content{padding-top:10px;}
* html .dropdown-content-first{margin-top:0;}

.company-information{width:284px; font-family:"verdana", arial, sans-serif; line-height:16px; color:#424242; font-size:11px;}
.company-information .company-name{font-size:16px; color:#1b1b1b; font-weight:bold; margin-bottom:14px;}
.company-information .company-address{margin-bottom:14px;}
.company-information ul{}
.company-information ul li{}

.google-map{width:340px; height:175px; margin-left:27px; position:relative;z-index:0;}
.google-map .cap-top,
.google-map .cap-bottom,
.google-map .cap-left,
.google-map .cap-right{position:absolute; font-size:1px;z-index:1;}
.google-map .cap-top{width:340px; height:4px; background:url("../../img/layout/google_map_top_cap.png") 0 0 no-repeat; top:0; left:0;}
.google-map .cap-bottom{width:340px; height:4px; background:url("../../img/layout/google_map_bottom_cap.png") 0 0 no-repeat; bottom:0; left:0;}
.google-map .cap-left{width:4px; height:167px; background:url("../../img/layout/google_map_left_cap.png") 0 0 no-repeat; top:4px; left:0;}
.google-map .map-item { width: 340px; height: 175px; cursor: pointer;z-index:0;}

.primary-schedule{font-size:10px; color:#565656;}
.primary-schedule span{display:block;}
.primary-schedule td span{border-bottom:1px dotted #d7d7d7; padding:7px 0;}
.primary-schedule td:nth-child(1) span{padding-right:30px; font-weight:bold;}
.primary-schedule td:nth-child(2) span{background:#f1f1f1; padding-left:16px; padding-right:16px;}
.primary-schedule tr:nth-child(1) td:nth-child(2){background:url("../../img/layout/table_top_right_cap.gif") right 0 no-repeat;}
.primary-schedule tr:nth-child(1) td:nth-child(2) span{background:url("../../img/layout/table_top_left_cap.png") 0 0 no-repeat;}
.primary-schedule tr:last-child td span{border-bottom:1px solid #d7d7d7;}
* + html .french .car_box .dropdown_button_right{padding-left:8px !important; padding-right:17px !important;}

/* @end */
/* @group Navigation Dropdowns */

#logo, .header_logo { background: url("../../img/layout/honda_logo_engines_en.jpg") no-repeat scroll left 24px transparent; width: 110px; }
.french #logo, .french .header_logo { background: url("../../img/layout/honda_logo_engines_fr.jpg") no-repeat scroll left 24px transparent; width: 110px; }

/* @end */
/* @group Footer */

#footer .sub_footer_nav .copyright,
#footer .sub_footer_nav_landing .copyright,
#footer dt{color:#fff;}
#footer .sub_footer_nav ul li a,
#footer .sub_footer_nav_landing ul li a,
#footer dd a{color:#dedede;}

/* @end */
/* Popup */
.toolbox-top-alt .dropdown_content_mid { width: 340px; }
/* @end */

* + html body .page-product-listing.french .compare .product .list-steps{margin-top:32px;}