<div class="survey">
    <img class="dib" src="/_Global/img/layout/survey/survey-logo.png" />
    <h2 class='fnat'>Êtes-vous satisfait?</h2>
    <p>
        Avez-vous quelques minutes pour participer à un sondage<br />
        à propos de votre expérience sur honda.ca?
    </p>
    <div class="buttons">
        <a href="javascript:openSurvey()" class="btn primary first btn-survey"><span>Participer au sondage</span></a>
        <a href="javascript:openLater()" class="btn primary btn-cancel"><span>non merci</span></a>
    </div>
</div>
