/* @group Gear and Apparel - ALL */
.page-gear-apparel .content .product { padding-top: 25px; }
.page-gear-apparel .content .product .product-item { margin-left: 70px; width: 170px; }
.page-gear-apparel .content .product .first { margin-left: 0; }
.page-gear-apparel .content .product .product-item a { display: block; }
.page-gear-apparel .content .product .product-item .product-image { text-align: center; }
.page-gear-apparel .content .product .product-item .price-heading { margin-bottom: 2px; text-align: center; }
.page-gear-apparel .content .product .product-item .price { color: #7C7C7C; margin-bottom: 2px; text-align: center; }
.page-gear-apparel .content .product .product-item .price strong { font-size: 14px; }
.page-gear-apparel .content .product .product-item .price span { font-size: 8px; text-transform: uppercase; }

.page-gear-apparel .wrapper_columns .widgets .menu-apparel .content { padding-bottom: 0; }

* html .page-gear-apparel .content .product .product-item { margin-left: 55px; }
/** html .page-gear-apparel .content .product .first { margin-left: 15px; }*/
/* @end */

/* @group Gear and Apparel Overview */
.page-gear-apparel .content .overview .product { margin-top: 40px; }
.page-gear-apparel .content .overview .product .first { margin-left: 20px; }
.page-gear-apparel .content .overview .product .product-item .product-image { height: 145px; }

* html .page-gear-apparel .content .overview .product { margin-top: 0; padding-top: 40px; }
* + html .page-gear-apparel .content .overview .product { margin-top: 0; padding-top: 40px; }
/* @end */

/* @group Gear and Apparel Results */
.page-gear-apparel .content .top-pagination { border-bottom: 1px solid #DEDEDE; width: 705px; }
.page-gear-apparel .content .top-pagination .pagination { border-top: 1px solid #DEDEDE; }
.page-gear-apparel .content .bottom-pagination { border-top: 1px solid #DEDEDE; margin-top: 25px; padding-top: 0; width: 705px; }

.page-gear-apparel .content .results .product { margin-top: 50px; }
.page-gear-apparel .content .results .product .first { margin-left: 30px; }
.page-gear-apparel .content .product .product-item .product-image { height: 120px; }

.page-gear-apparel .tooltip-right-alt .tooltip_arrow { display: none; left: -25px; top: 45px; }
.page-gear-apparel .tooltip-right-alt .tooltip_content { left: -11px; top: 0; width: 308px; }

.page-gear-apparel .tooltip-left-alt .tooltip_arrow { display: none; right: -33px; top: 45px; }
.page-gear-apparel .tooltip-left-alt .tooltip_content { right: -19px; top: 0; width: 308px; }

.page-gear-apparel .tooltip-right-alt-bottom .tooltip_arrow { display: none; left: -25px; bottom: 65px; top: auto; }
.page-gear-apparel .tooltip-left-alt-bottom .tooltip_arrow { display: none; right: -33px; bottom: 65px; top: auto; }

.page-gear-apparel .tooltip_content_top { background: url("/_Global/img/content/mc/gear-apparel/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; width: 308px; }
.page-gear-apparel .tooltip_content_mid { background: url("/_Global/img/content/mc/gear-apparel/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 5px 13px 5px; zoom: 1; }
.page-gear-apparel .tooltip_content_bottom { background: url("/_Global/img/content/mc/gear-apparel/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; width: 308px; }

.page-gear-apparel .tooltip_content_mid .desc { padding: 0 10px; }
.page-gear-apparel .tooltip_content_mid .desc h3 { line-height: 15px; margin: 20px 0 5px; }
.page-gear-apparel .tooltip_content_mid .desc .options { margin-bottom: 25px; }
.page-gear-apparel .tooltip_content_mid .desc .options .options-size { margin-bottom: 10px; }
.page-gear-apparel .tooltip_content_mid .desc .options p { color: #424242; font-size: 11px; }
.page-gear-apparel .tooltip_content_mid .desc .options strong { color: #424242; }
.page-gear-apparel .tooltip_content_mid .desc .price { color: #7C7C7C; font-size: 14px; margin-bottom: 20px; text-align: left; }
.page-gear-apparel .tooltip_content_mid .desc .price strong { color: #8F8F8F; }
.page-gear-apparel .tooltip_content_mid .desc .price span { font-size: 8px; text-transform: uppercase; }
.page-gear-apparel .tooltip_content_mid .desc ul { padding-left: 13px; }
.page-gear-apparel .tooltip_content_mid .desc ul li { color: #424242; font-size: 11px; list-style: disc outside none; margin-bottom: 10px; line-height: 13px; }

* html .page-gear-apparel .content .results .product { margin-top: 0; padding-top: 50px; }
* + html .page-gear-apparel .content .results .product { margin-top: 0; padding-top: 50px; }
/* @end */