/* Lease & Finance - Options and FAQ */
.page-lease .options .content_section ul, .page-lease .faq .content_section ul { margin-bottom: 20px; margin-left: 15px; }
.page-lease .options .content_section li, .page-lease .faq .content_section li { color: #424242; font-size: 11px; line-height: 16px; list-style: disc outside none; padding-left: 5px; }

.page-lease .options .content_section .lease_options_lists { width: 305px; }
.page-lease .options .content_section .lease_options_lists h2.small { height: 35px; }
.french .options .content_section .lease_options_lists h2.small { height: 55px; }

/* Finance - Payment Calculator */
.page-lease .calculator .content_section p { color: #696969; }

.page-lease .calculator #finance-calculator .select-lists { margin-bottom: 15px; }
.page-lease .calculator #finance-calculator .select-list-left { margin-right: 20px; }
.page-lease .calculator #finance-calculator .select-lists label { color: #333333; display: block; font-size: 11px; font-weight: bold; margin-bottom: 10px; }
.page-lease .calculator #finance-calculator .select-lists select { font-size: 11px; }
.page-lease .calculator #finance-calculator .select-lists #calc-vehicle { width: 435px; }

.page-lease .calculator #finance-calculator .tabs_horizontal_fixed { margin: 0 0 20px 0; }
.page-lease .calculator #finance-calculator .tabs_horizontal_fixed li { width: 218px; }

.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate { width: 658px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate td { height: 68px; vertical-align: middle; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .first { background: url("/_Global/img/content/finance/top_pc_l_cap.gif") no-repeat scroll 0 0 transparent; width: 4px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .last { background: url("/_Global/img/content/finance/top_pc_r_cap.gif") no-repeat scroll 0 0 transparent; width: 4px; }

.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate td div { background: url("/_Global/img/content/finance/dotted_grey_border_v.gif") repeat-y scroll 0 0 transparent; height: 35px; padding: 7px 20px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate td span { color: #333333; line-height: 20px; padding: 0; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate td strong { color: #E72530; font-size: 14px; font-weight: bold; }

.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency { width: 75px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency div { background: url("/_Global/img/content/finance/circle_grey.png") no-repeat scroll 0 0 transparent; height: 30px; margin: 0 5px 0 20px; padding: 4px 0 0; text-align: center; width: 34px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency span { color: #FFFFFF; font-size: 22px; font-weight: bold; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .button span { color: #FFFFFF; display: inline; line-height: 1; padding: 5px 12px 2px 0; }

.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .col1 { width: 140px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 { width: 100px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .col3 { width: 170px; }

.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart th span, .page-lease #finance-calculator .tbl_payment_calculator_chart td span { line-height: normal; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart td.first { font-size: 10px; font-weight: bold; width: 400px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart th.last { font-size: 10px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart .text_field { padding: 11px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart .text_field .input_box { margin-top: 0; padding: 0 0 0 6px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart input { line-height: 22px; width: 75px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart select { font-size: 13px; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_chart .highlight { color: #E72530; font-weight: bold; }

.page-lease .calculator #finance-calculator .include_options { color: #151515; font-size: 10px; }
.page-lease .calculator #finance-calculator .include_options input { margin-right: 10px; }

* html .page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency div { background: url("/_Global/img/content/finance/circle_grey.gif") no-repeat scroll 0 0 transparent; }


/* Lease & Finance - Credit Application */
.page-lease .credit .content_section .credit-app-column { width: 325px; }
.page-lease .credit .content_section .credit-app-column dt { color: #1B1B1B; font-weight: bold; margin-bottom: 10px; }
.page-lease .credit .content_section .credit-app-column dd { color: #424242; font-size: 11px; line-height: 16px; margin-bottom: 5px; }
.page-lease .credit .content_section .credit-app-column dd a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; padding-bottom: 3px; }

/* Lease & Finance - Privacy */
.page-lease .privacy .content_section .privacy-downloads { margin-bottom: 20px; }
.page-lease .privacy .content_section .privacy-downloads-column { width: 325px; }
.page-lease .privacy .content_section a.pdf_icon { background: url("/_Global/img/layout/icon_small_acrobat_reader.gif") 0 0 no-repeat; display: block; height: 35px; width: 81px; }
.page-lease .privacy .content_section a.pdf_icon:hover { background-position:0 -35px; }


/* @group payment calculator */
.page-lease .calculator .finance-only .tabs_horizontal_fixed li { width: 328px !important; }
.page-lease .calculator .finance-only .tabs_horizontal_fixed li.lease { display: none; }
.page-lease .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 div { height: 72px; }
.page-lease .calculator .finance-only .tbl_payment_calculator_recalculate .col2 div { height: 35px !important; }
.page-lease .calculator .finance-only .tbl_payment_calculator_recalculate .col2 .lease { display: none; }

.financial_summary .type div { width: 455px; }
.financial_summary .value div { width: 190px; }
.financial_summary tr.grouped td { background-image: none; }
.financial_summary tr.grouped_item td { background-image: none; }
.financial_summary tr.grouped_item td .bold { font-weight: normal; }
.financial_summary tr.grouped_item td span { padding-top: 2px; padding-bottom: 2px; font-size: 10px; }
.financial_summary tr.grouped_item td .bold span { background-image: url(../img/layout/column_list_gray.gif); background-repeat: no-repeat; background-position: 10px 8px; padding-left: 20px; }
.financial_summary tr.bottom td span { padding-bottom: 11px; }


/* @end */

