/*---------------------------
    MC specific styles
---------------------------*/
/* MC / tabs_horizontal */
.page-parts-service .overview .tabs_horizontal { background: none; margin: 0 1px; }
.page-parts-service .overview .tabs_horizontal li a { padding: 11px 13px 0; }
.page-parts-service .overview .tabs_horizontal li a.multiline { height: 37px; text-align: center; }

.french .overview .tabs_horizontal { background: none; /*margin: 0 15px;*/ margin: 0; }
.french .overview .tabs_horizontal li a { font-size: 11px; height: 26px; /*padding: 11px 14px 0;*/ padding: 14px 11px 0 !important;}
.french .overview .tabs_horizontal li a.multiline { height: 32px; padding: 8px 11px 0 !important; }

/* MC / bullet points */
ul.ps-list-normal { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0; }
ul.ps-list-normal li { list-style: none; margin-left: 0px; line-height: 16px; }
ul.ps-list-bullet { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0; }
ul.ps-list-bullet li { list-style: disc outside none; margin-left: 15px; line-height: 16px; }
ul.ps-list-number { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0;  }
ul.ps-list-number li { list-style: decimal outside none; margin-left: 24px; line-height: 16px; }

.page-parts-service .genuine-oils-chemicals .content_section ul.red-check li { list-style: none; margin-left: 0px;}

/* @IE */
* html .page-parts-service .overview .tabs_horizontal li a { padding: 13px 13px 0; }
* html .page-parts-service .overview .tabs_horizontal li.first a.selected { background-position: left -40px !important; }
* html .page-parts-service .overview .tabs_horizontal li.first a { background-position: left 0px !important; }
* + html .page-parts-service .overview .tabs_horizontal li a { padding: 13px 13px 0; }
* + html .page-parts-service .overview .tabs_horizontal li.first a.selected { background-position: left -40px !important; }
* + html .page-parts-service .overview .tabs_horizontal li.first a { background-position: left 0px !important; }
/* @end */

/*-----------------------------------
    Carried on from MC parts&service
------------------------------------*/
/* @ flyout menu for Genuine Oils & Chemicals */
.dropdown_container .second_nav.genuine-oils-submenu li.first { margin-top: 11px; }
.dropdown_container .second_nav.genuine-oils-submenu li.fly-category { background: url("/_Global/img/layout/bg_menu_border.gif") repeat-x scroll left top transparent; color: #151515; display: block; font-size: 11px; font-weight: normal; line-height: 16px; padding: 11px 0 0 0; margin: 0; }
.dropdown_container .second_nav.genuine-oils-submenu li.af-fly-category a { padding: 5px 0 11px; background: none; }
.dropdown_container .second_nav.genuine-oils-submenu a.dd_button { color: #D90124; }
.dropdown_container .second_nav.warranty-submenu li.first { color: green; height: 25px !important; }
/* @end*/

/* @sub-menu for Genuine Oils & Chemicals */
.page-parts-service .genuine-oils-chemicals .first_section .sub_section { padding-bottom: 21px; zoom: 1; display: block; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category { float: left; height: 55px; padding: 0px 15px 0 15px; margin: 0; border-right: 1px solid #ccc; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category.first { padding-left: 0; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category.last { border-right: none; padding-right: 0; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category h3 { display: block; text-transform: uppercase; font-size: 14px; margin-bottom: 10px; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category h3 a { color: #1B1B1B; }

.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd { float: left;  width: 74px; padding: 0 5px 0 13px; line-height: 10px; font-weight: bold; font-size: 12px; text-transform: uppercase; border-right: 1px solid #ccc; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd.last { border-right: none; padding-right: 0; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd a { color: #7C7C7C; }
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd a:hover,
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd a.selected,
.page-parts-service .genuine-oils-chemicals .first_section .sub_section .category h3.selected { color: #E72530 !important;}

.page-parts-service .genuine-oils-chemicals p.heading_large_special { margin-bottom: 0; font-weight: bold; font-size: 12px;  color : #1b1b1b; }
.page-parts-service .genuine-oils-chemicals .red-check li { font-weight: bold; font-size: 12px; color: #424242; background: url("/_Global/img/layout/dark/dotted_border.png") left bottom repeat-x; border-bottom: 0; }

/* @end */

/* @pagination */
.page-parts-service .content .top-pagination { border-bottom: 1px solid #DEDEDE; margin-top: 20px; margin-bottom: 20px; }
.page-parts-service .content .top-pagination .pagination { border-top: 1px solid #DEDEDE; }
.page-parts-service .content .bottom-pagination { border-top: 1px solid #DEDEDE; margin-top: 25px; padding-top: 0; }
.page-parts-service .content .product { margin-top: 50px;  }
.page-parts-service .content .first { margin-top: 0; }
.page-parts-service .content .product .product-item { width: 160px; margin-left: 75px; }
.page-parts-service .content .product .first { margin-left: 25px; }
.page-parts-service .content .product .product-item a { display: block; }
.page-parts-service .content .product .product-item .product-image { height: 130px; text-align: center; }
.page-parts-service .content .product .product-item .price-heading { margin-bottom: 2px; text-align: center; text-transform: capitalize; }
.page-parts-service .content .product .product-item .price { color: #7C7C7C; margin-bottom: 2px; text-align: center; }
.page-parts-service .content .product .product-item .price strong,
.page-parts-service .tooltip-right-alt .tooltip_content_mid .desc .price strong { font-size: 14px; }
.page-parts-service .content .product .product-item .price span,
.page-parts-service .tooltip-right-alt .tooltip_content_mid .desc .price span { font-size: 8px; text-transform: uppercase; }
/* @end */

/* @ overlay for product listing - left version */
.page-parts-service .tooltip-left-alt .tooltip_content { right: -27px;  top: 0; width: 307px; }
.page-parts-service .tooltip-left-alt .tooltip_arrow { display: none; right: -41px; top: 45px; }
/* @ end */


/* @ overlay for product listing */
.page-parts-service .tooltip-right .tooltip_content { width: 305px; }
.page-parts-service .tooltip-left .tooltip_content { width: 305px; }
.page-parts-service .tooltip-left .tooltip_arrow { display: none; left: 291px; }
.page-parts-service .tooltip-left .tooltip_content p { color: #727272; }

.page-parts-service .tooltip-right-alt .tooltip_content { left: -23px; top: 0; width: 307px; }
.page-parts-service .tooltip-right-alt .tooltip_arrow { display: none; left: -37px; top: 45px; }
.page-parts-service .tooltip-right-alt-bottom .tooltip_arrow { bottom: 65px; display: none; top: auto; }
.page-parts-service .tooltip-left-alt-bottom .tooltip_arrow { bottom: 65px; display: none; top: auto; }

.page-parts-service .tooltip_content_top { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; width: 307px;  }
.page-parts-service .tooltip_content_mid { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 5px 13px 15px; text-align: center; zoom: 1; }
.page-parts-service .tooltip_content_bottom { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; width: 307px; }

.page-parts-service .tooltip_content_mid .desc { padding: 0 8px 0 10px; text-align: left; }
.page-parts-service .tooltip_content_mid .desc h3 { margin-top: 20px; line-height: 15px;  }
.page-parts-service .tooltip_content_mid .desc .price { color: #7C7C7C; margin-bottom: 10px; text-align: left; }
.page-parts-service .tooltip_content_mid .desc ul  { padding-left: 8px; }
.page-parts-service .tooltip_content_mid .desc ul li { list-style: disc outside none; margin-bottom: 10px; line-height: 15px; font-size: 11px; color: #424242; }
/* @ end */

/* @ page specific styles */
.page-parts-service .overview #left_nav li.first, .left_nav li.first { background: none; }
.page-parts-service .overview .content_container_alternate { padding: 18px 30px 0; }
.page-parts-service .overview .content_section.first_section h1 span { margin-bottom: 0;}
.page-parts-service .overview .content_section.first_section h2.small { padding-bottom: 10px; }

.page-parts-service .overview .product-image { position: relative; margin: 50px 0 47px 0; }
.page-parts-service .overview .product-image a.hotspot { background: url("/_Global/img/layout/hotspot.png") no-repeat scroll 0 0 transparent; display: block; height: 22px; position: absolute; width: 22px; z-index: 10; }

.page-parts-service .maintenance .content_section .find_schedule { margin: 31px 0; }
.page-parts-service .maintenance .content_section .find_schedule .question { float: left; width: 177px; height: 90px; margin-right: 27px; padding: 25px 0 0 22px; background: url("/_Global/img/content/mc/parts-service/find_schedule.png") no-repeat scroll left top transparent; }
.page-parts-service .maintenance .content_section .find_schedule .question select { width: 158px; 	z-index: 500;  }
.page-parts-service .maintenance .content_section .find_schedule .question.last { margin-right: 0px; }
.page-parts-service .maintenance .recommended .model { display: block; }
.page-parts-service .maintenance .recommended .model .model_pic { background-color: #CCCCCC; display: block; float: left; height: 170px; width: 300px; }
.page-parts-service .maintenance .recommended .model .model_detail { float: left; margin-left: 10px; width: 298px; }
.page-parts-service .maintenance .recommended .model .model_detail .h1 { margin-bottom: 0; font-size: 23px; color: #545454; text-transform:none; margin-top: 0px; line-height: 23px;}
.page-parts-service .maintenance .recommended .model .model_detail h2 { padding-bottom: 10px; line-height: 13px; font-size: 14px; text-transform: none; }
*   html .page-parts-service .maintenance .recommended .model .model_detail h2 { font-size: 12px; line-height: 21px;}
* + html .page-parts-service .maintenance .recommended .model .model_detail h2 { font-size: 12px; line-height: 21px;}
.page-parts-service .maintenance .recommended .model .model_detail h3 { color: #7c7c7c; margin-bottom: 1px; font-weight: bold; font-size: 11px; }
.page-parts-service .maintenance .recommended .model .model_detail .large-price .price { color: #1B1B1B; font-size: 38px; letter-spacing: -2px; position: relative; top: -13px; }
.page-parts-service .maintenance .recommended .model .model_detail .large-price sup { position: relative; top: 13px; }
.page-parts-service .maintenance .recommended .model .model_detail .large-price .price-heading { color: #7C7C7C; padding-left: 7px; position: relative; top: 4px; }

.page-parts-service .maintenance .recommended .model .model_detail .dl_wrapper {width: 100%; float:left}
.page-parts-service .maintenance .recommended .model .model_detail .dl_small { background: url("/_Global/img/layout/icon_downloads_small.png"); width: 24px; height: 24px; }

*   html .page-parts-service .maintenance .recommended .model .model_detail .large-price .price { font-size: 30px; font-weight: bold; line-height: 55px; }
*   html .page-parts-service .maintenance .recommended .model .model_detail .large-price sup { top: 10px; }
*   html .page-parts-service .maintenance .recommended .model .model_detail .large-price .price-heading { font-size: 10px; font-weight: bold; top: 6px; }

* + html .page-parts-service .maintenance .recommended .model .model_detail .large-price .price { font-size: 30px; font-weight: bold; line-height: 55px; }
* + html .page-parts-service .maintenance .recommended .model .model_detail .large-price sup { top: 10px; }
* + html .page-parts-service .maintenance .recommended .model .model_detail .large-price .price-heading { font-size: 10px; font-weight: bold; top: 6px; }

.page-parts-service .maintenance .recommended .model .model_detail .model_detail_top { margin-bottom: 10px; }
.page-parts-service .maintenance .recommended .model .model_detail .model_detail_top .h1 { color: #000000; }
.page-parts-service .maintenance .recommended .model .model_detail { margin-left: 30px}


.page-parts-service .warranty .content_section h2,
.page-parts-service .warranty .content_section_dotted h2 { padding-bottom: 8px; color: #1b1b1b; }
.page-parts-service .warranty .content_section strong,
.page-parts-service .warranty .content_section_dotted strong { color: #727272; }

.page-parts-service .genuine-oils-chemicals h2.alternate { width: 445px; }
.page-parts-service .accordion-controls { margin-top: 6px; }
.page-parts-service .genuine-oils-chemicals .flex_bar { margin-bottom: 15px; }
/* @ end */

/* @IE */
* + html .page-parts-service .genuine-oils-chemicals .first_section .sub_section .category h3 { font-family: verdana, arial, sans-serif; font-size: 11px; }
* + html .page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd { letter-spacing: 0.05em; line-height: 12px; font-size: 7.1pt; }
* + html .page-parts-service .maintenance .content_container .recommended .model .model_detail .h1 { font-size: 20px; }
* + html .page-parts-service .maintenance .content_section.first_section .find_schedule { margin: 48px 0 25px 0; }
* html .page-parts-service .genuine-oils-chemicals .first_section .sub_section { padding-bottom: 15px; }
* html .page-parts-service .genuine-oils-chemicals .first_section .sub_section .category h3 { font-family: verdana, arial, sans-serif; font-size: 11px; }
* html .page-parts-service .genuine-oils-chemicals .first_section .sub_section .category dl dd { letter-spacing: 0.05em; line-height: 12px; font-size: 7.1pt;}
* html .page-parts-service .maintenance .content_container .recommended .model .model_detail .h1 { font-size: 20px; }
* html .page-parts-service .maintenance .content_section.first_section .find_schedule { margin: 43px 0 25px 0; }
* html .page-parts-service .genuine-oils-chemicals .content .product .product-item { margin-left: 55px; }
* html .page-parts-service .genuine-oils-chemicals .content .product .first { margin-left: 15px; }
/* @ end */