/* Product - All Pages */
.page-product-details .product_heading h1{color: #151515; max-width:214px;  font-size:30px; line-height:1px; margin:8px 0 4px 0;}
.page-product-details .product_heading .expanded-name h1{max-width:388px;}
* + html .page-product-details .product_heading .expanded-name h1{max-width:368px;}
* html .page-product-details .product_heading .expanded-name h1{width:368px;}
.page-product-details .product_name{width:auto;}
* + html .page-product-details .product_heading h1{line-height:24px; font-size:22px; margin-bottom:10px; max-width:220px;}
* html .page-product-details .product_heading h1{line-height:24px; font-size:22px; margin-bottom:10px; width:220px;}

.page-product-details .product_wrapper, .page-product-details .product_wrapper_top_cap { margin-bottom: 0; }

.page-product-details .product_wrapper_top_cap, .page-product-details .product_wrapper_bottom_cap { background: none; font-size: 1px; height: 10px; overflow: hidden; zoom: 1; }
.page-product-details .product_wrapper_top_cap .cap_top_default { background: url("/_Global/img/layout/atv/cap_top_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }
.page-product-details .product_wrapper_bottom_cap .cap_bottom_default { background: url("/_Global/img/layout/atv/cap_bottom_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }

.page-product-details .product_wrapper .product_heading .header, .page-product-details .product_wrapper .product_heading .footer { background: #F4F4F4; }

.page-product-details .product_wrapper .product-options-container .option { margin-right:25px; text-align: right; }
* + html .page-product-details .product_wrapper .product-options-container .option {margin-right:28px !important;}
.page-product-details .product_wrapper .product-options-container .option .options-heading { color: #545454; padding: 7px 0 10px; text-transform: uppercase; }

.page-product-details .product_wrapper .product-options-container .years{width:148px;}
* + html .page-product-details .product_wrapper .product-options-container .years{width:132px !important;}
* html .page-product-details .product_wrapper .product-options-container .years{width:132px !important;}
.page-product-details .product_wrapper .product-options-container .years .year { border-left: 1px solid #C4C4C4; display:inline; font-size: 25px; height: 25px; line-height: 19px; margin-left: 4px; margin-top: 2px; display:inline-block; width:65px;}
* + html .page-product-details .product_wrapper .product-options-container .years .year{font-size:18px !important; width:60px; float:left;}
* html .page-product-details .product_wrapper .product-options-container .years .year{font-size:18px !important; width:60px; float:left;}
.page-product-details .product_wrapper .product-options-container .years .year:nth-child(odd){border-left: none; margin-left: 0; padding: 0;}
.page-product-details .product_wrapper .product-options-container .years .year span { color: #151515; }
.page-product-details .product_wrapper .product-options-container .years .year a { color: #C4C4C4; }

.page-product-details .product_wrapper .product-options-container .colors{width:94px;}
* + html .page-product-details .product_wrapper .product-options-container .colors{width:94px !important; margin-right:0 !important;}
* html .page-product-details .product_wrapper .product-options-container .colors{width:94px !important; margin-right:0 !important;}
.page-product-details .product_wrapper .product-options-container .colors a { float: right; margin:0 6px 4px 0; padding: 3px; }
.page-product-details .product_wrapper .product-options-container .colors .active,
.page-product-details .product_wrapper .product-options-container .colors a:hover { border: 1px solid #D6D6D6; padding: 2px; }
.page-product-details .product_wrapper .product-options-container .colors .first {}
.page-product-details .product_wrapper .product-options-container .colors a:nth-child(3n+1){margin-right:0;}

.page-product-details .product_wrapper .product-options-container .colors .color { display: block; height: 20px; width: 20px; }
.page-product-details .product_wrapper .product-options-container .colors .black { background: #000000; }
.page-product-details .product_wrapper .product-options-container .colors .red { background: #5F1924; }

.page-product-details .product_wrapper .product-price-container { width: auto; }

.page-product-details .product_wrapper .product-price-container .small-price { margin-right: 20px; overflow: hidden; }

.page-product-details .product-price-container .small-price .coming-soon { text-align: right; font-size: 16px; color: Black; }

.page-product-details .product_wrapper .product-price-container .price-heading { font-size: 12px !important; padding: 7px 0 4px; }
* html .page-product-details .product_wrapper .product-price-container .price-heading{display:inline; zoom:1;}
* html .page-product-details .product-price-container .small-price del .price{top:-11px !important;}
* html .page-product-details .product-price-container .small-price .wlink{position:relative; top:-3px;}
.page-product-details .product_wrapper .product-price-container .large-price { overflow: hidden; }
* html .page-product-details .product_wrapper .product-price-container .large-price { width: 140px; }

.page-product-details .product_wrapper .product-price-container .large-price.msrp .price { top: -18px; top: -15px\9;  *top: -6px; _top: -6px;}
.page-product-details .product_heading .mdp .btn-help{*top:2px !important;}
.page-product-details .product-price-container .large-price .price sup { top: 14px; top: 12px\9; }
@media screen and (-webkit-min-device-pixel-ratio:0){
	.page-product-details .product_wrapper .product-price-container .large-price.msrp .price { top: -11px; }
	.page-product-details .product-price-container .large-price .price sup { top: 7px; }
}


.page-product-details .product_wrapper .product-price-container .multiline .price-heading { font-size: 10px !important; padding: 0 0 4px; }

.page-product-details del { top: -2px; }
.page-product-details del:before { top: 15px; }
.page-product-details .strike { top: 15px; }

.page-product-details .product_heading .no-accessories .feature-image { margin: 0 96px; }

.page-product-details .product_wrapper .product_heading .footer .btn { margin: 0 10px 0 0; }
.page-product-details .product_wrapper .product_heading .footer .divider { margin: 0 10px 0 0; }

.page-product-details .tabs_horizontal li a { padding: 11px 25px 0; }

.page-product-details .content_container .province-selector { margin-top: 12px; }
.page-product-details .content_container .download { background: url("/_Global/img/layout/dl_icon.gif") no-repeat scroll 0 0 transparent; color: #A9A9A9; font-size: 14px; font-weight: bold; height: 20px; line-height: 16px; margin-top: 12px; padding-left: 30px; text-transform: uppercase; }

/* Product - Overview */
.page-product-details .content_container h2 { text-transform: none; }
.page-product-details .content_container .overview .first_section h2 { color: #E72530; }

.page-product-details .content_container .overview .feature_box { background: url("/_Global/img/content/mc/products/feature_box_mc.jpg") no-repeat scroll left top transparent; padding: 0 25px 22px; }
.page-product-details .content_container .overview .feature_box .btn { background: url("/_Global/img/content/mc/products/arrow_grey_r.gif") no-repeat scroll right 5px transparent; }
.page-product-details .content_container .overview .feature_box .btn a,
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy h2.small,
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy p { color: #7C7C7C; }
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy .divider { background: url("/_Global/img/content/mc/products/bevel_grey_border_h.gif") repeat-x scroll left top transparent; }

.page-product-details .content_container .overview .recently_viewed h2 { text-transform: uppercase; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product { margin: 0 0 0 43px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .image { height: 75px; width: 150px; background-color: transparent; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare { padding: 20px 0 66px 25px; }

/* Product - Features */
.page-product-details .content_container .features .accordion-controls { margin-top: 25px; }
.page-product-details .content_container .features .h1 { width: 450px; }
.page-product-details .content_container .features .flex_bar { margin-bottom: 0; margin-top: 10px; }
.page-product-details .content_container .features ul.red-check { margin-bottom: 10px; margin-top: 0; }
.page-product-details .content_container .features ul.red-check li { font-weight: normal; }
.page-product-details .content_container .features .sub_content li { border-bottom: 1px solid #DEDEDE; font-size: 11px; line-height: 18px; padding: 12px 0; }
.page-product-details .content_container .features .sub_content li:last-child { border-bottom: 0; }

/* Product - Gallery */
.page-product-details .content_container .gallery .image_thumbs { margin-top: 15px; padding-top: 0; }
.page-product-details .content_container .gallery .image_thumbs .thumb { background: #F6F6F6; height: 90px; margin: 15px 0 0 15px; width: 153px; }
.page-product-details .content_container .gallery .image_thumbs .first { margin-left: 0; }

/* Product - Specifications */
.page-product-details .content_container .specs .specs_chart { border-bottom: none; }

/* Product - Accessories */
.page-product-details .content_container .accessories .sub_content span { color: #696969; }

.page-product-details .content_container .accessories .accordion-controls { margin-bottom: 25px; }

.page-product-details .tooltip-left .tooltip_arrow { display: none; /*top: 60px;*/ }
.page-product-details .tooltip-left .tooltip_content_mid p { color: #727272; font-size: 10px; }

.page-product-details .tooltip-right .tooltip_arrow { display: none; }
.page-product-details .tooltip-right .tooltip_content_mid p { color: #727272; font-size: 10px; }

/* @IE Specific Styles */

* html .page-product-details .product_wrapper .product-options-container { width: 260px; }
* + html .page-product-details .product_wrapper .product-options-container { width: 260px; }

* html .page-product-details .product_wrapper .product-options-container .option { display: inline; margin: 0; width: 50%; }
* + html .page-product-details .product_wrapper .product-options-container .option { margin: 0; width: 50%; }

* html .page-product-details .product_wrapper .product-options-container .years .option-items { width: 150px; }

* html .page-product-details .product_wrapper .product-options-container .options-heading { font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; padding: 5px 0 13px !important; }
* + html .page-product-details .product_wrapper .product-options-container .options-heading { font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; padding: 5px 0 13px !important; }
* html .page-product-details .product_wrapper .product-options-container .years .year { display: inline; font-size: 20px; font-weight: bold; line-height: 23px; margin-left: 9px; margin-top: 2px; padding-left: 9px; }
* + html .page-product-details .product_wrapper .product-options-container .years .year { font-size: 20px; font-weight: bold; line-height: 23px; margin-left: 11px; margin-top: 2px; }

* html .page-product-details .product_wrapper .product-price-container { width: 310px; zoom:1;}
* html .page-product-details .product_wrapper .expanded-name .product-price-container { width: 160px; zoom:1;}
* + html .page-product-details .product_wrapper .product-price-container { width: 320px; }
* + html .page-product-details .product_wrapper .expanded-name .product-price-container { width: 160px; }

* html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }
* + html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }

* html .page-product-details del { top: 8px; }
* html .page-product-details .strike { top: 8px; }

/* ie 6 & 7 styles */
* html .page-product-details .product-price-container .small-price del * { top: -2px; }

* html .page-product-details .product_heading .no-accessories .feature-image { margin: 0 0 0 50px; }
/* @IE */

/* Vehicle overview new dropout */

.view-all-family{width:104px; background:url("../../../img/layout/mc/dropdown_arrow_red.png") 0 4px no-repeat; margin-top:8px; position:relative; margin-left:10px;}
.view-all-family a.view-all{font-size:12px; color:#4f4f4f; line-height:12px; padding-left:34px; display:block; width:70px;text-transform:uppercase;}
.french .view-all-family a.view-all { width: 80px; }
.vehicle-dropdown { position: absolute; }
.vehicle-dropdown .dropdown_button{width:42px; height:36px; background:url("../../../img/layout/mc/tooltip_arrow.png") 0 0 no-repeat; position:relative; left:10px; top:2px; top: 3px\9; *top: 7px; z-index: 1; }
.vehicle-dropdown .dropdown_content { position: relative; top: 0; top: 1px\9; *top: 5px; }
.vehicle-dropdown .dropdown_button .dropdown_button_right { display: none; }
.vehicle-dropdown .dropdown_content_top,
.vehicle-dropdown .dropdown_content_bottom{width:407px; padding:0; margin:0; font-size:1px;}
.vehicle-dropdown .dropdown_content_top{background:url("../../../img/layout/mc/modal_top_cap.png") 0 0 no-repeat; height:9px;}
.vehicle-dropdown .dropdown_content_mid{background:url("../../../img/layout/mc/modal_bg.png") 0 0 repeat-y; width:383px; padding:6px 0 8px 24px;}
.vehicle-dropdown .dropdown_content_bottom{background:url("../../../img/layout/mc/modal_bottom_cap.png") 0 0 no-repeat; height:9px;}
.vehicle-dropdown .dropdown_content_mid .subview{width:360px;}

.vehicle-dropdown .dropdown_content_mid .vehicle-list { width: 100%; }
.vehicle-dropdown .dropdown_content_mid .vehicle-list tr{min-height:105px;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td{border-bottom:1px solid #dedede; height:105px; vertical-align:middle;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list tr:last-child td{border-bottom:0;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td div{padding:10px 0;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.image { width: 50px; }
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.name{padding-left:24px; padding-right:12px; font-size:17px; font-weight:bold; color:#545454; width:142px;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.name a { color: #424242; }
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.price{text-align:right;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{font-size:18px; color:#1b1b1b; font-weight:bold; position:relative; height:20px; padding-top:2px; display:block;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.tiny{position:absolute; top:-6px; right:0; font-size:11px; color:#7c7c7c; text-transform:uppercase; font-weight:normal;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price{margin-bottom:8px; display:block; font-size:25px; font-weight:bold; line-height:26px;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price span{font-size:11px; color:#7c7c7c; text-transform:uppercase; line-height:10px; display:block; height:10px; font-weight:normal;}
.vehicle-dropdown .dropdown_content_mid .vehicle-list td.discounted span.num{color:#545454;}

* html .page-product-details .product_wrapper .product-price-container{zoom:1;}
* html .page-product-details .product_wrapper .product-options-container{zoom:1;}
* html .page-product-details .product_wrapper .product-options-container .option{margin-right:16px;}
* html .page-product-details .product_wrapper .product-options-container .years{zoom:1;}
* html .page-product-details .product_wrapper .product-options-container .colors{zoom:1;}
* html .page-product-details .product_wrapper .product-options-container .years .year{width:42px;}
* html .page-product-details .product_wrapper .product-options-container .years .options-heading{zoom:1; position:relative; right:-14px;}
* html .page-product-details .product_wrapper .product-price-container .small-price {zoom:1; margin-right:10px;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.name{font-size:12px !important;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{padding-top:4px;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.tiny{font-size:8px !important;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price{font-size:20px; line-height:20px;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price span{font-size:8px !important;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.name{font-size:14px;}
* html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{font-size:14px; background-position:0 2px;}
* html .french .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{background-position:right 2px;}
* html .tooltip-disclaimer .tooltip_content_top{font-size:1px;}
* html .view-all-family a.view-all{font-size:10px;}

* + html .vehicle-dropdown { z-index: 15; }
* + html .view-all-family{zoom:1; z-index:10;}
* + html .view-all-family .vehicle-tooltip{zoom:1;}
* + html .view-all-family a.view-all{font-size:10px;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.name{font-size:14px;}
* + html .french .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{background-position:right 2px;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{font-size:14px; background-position:0 2px;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.name{font-size:12px !important;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.num{padding-top:4px;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.tiny{font-size:8px !important;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price{font-size:20px; line-height:20px;}
* + html .vehicle-dropdown .dropdown_content_mid .vehicle-list td.price span.discounted-price span{font-size:8px !important;}