/* @group ALL PAGES */
.spring-sales { padding: 6px 15px 10px; }

.spring-sales .banner { margin-bottom: 25px; height: 317px; width: 950px; }

.spring-sales .content_section { border-top: 0; margin-top: 0; padding: 0 0 20px; }

.spring-sales .spring-nav { height: 40px; margin: 0 auto 35px; width: 565px; }
.spring-sales .spring-nav dd { margin-left: 15px; }
.spring-sales .spring-nav dd.first { margin-left: 0 !important; }
.spring-sales .spring-nav dd a.main { background: url("/_Global/img/content/mc/spring-sales/grey-btn.gif") no-repeat scroll 0 0 transparent; display: block; height: 26px; padding-top: 14px; text-align: center; width: 178px; }
.spring-sales .spring-nav dd a.active,
.spring-sales .spring-nav dd a.main:hover { background: url("/_Global/img/content/mc/spring-sales/grey-btn.gif") no-repeat scroll 0 -40px transparent; }
.spring-sales .spring-nav dd a.main span { color: #FFFFFF; font-family: Arial; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.spring-sales .spring-nav dd.multiline a { height: 33px; padding-top: 7px; }
.spring-sales .large { color: #777777; font-size: 15px; }

.spring-sales .spring-disclaimer { padding: 0 25px; }
.spring-sales .spring-disclaimer p { color: #757779; font-size: 9px; font-weight: 8px; line-height: 11px; margin: 0; text-align: justify; }

/* @end */
/* @group Splash */

.spring-sales .splash .banner { height: 552px; width: 958px; }

.spring-sales .splash.rockthered .banner { height:auto; width: 958px; }
* html .spring-sales .splash .banner { margin-left: 6px; }

.spring-sales .splash .h2 { color: #010101; font-size: 18px; font-weight: bold; margin-bottom: 15px; }

.spring-sales .splash .splash-copy { margin-bottom: 50px; }
.spring-sales .splash .copy { margin-left: 25px; width: 560px; }
.spring-sales .splash .payment-options { margin-right: 15px; }

.spring-sales .splash .mini-touts { margin-bottom: 30px; }
.spring-sales .splash .mini-touts dd { margin-left: 11px; }
.spring-sales .splash .mini-touts dd.first { margin-left: 0; }

/* @end */
/* @group Event Offers */

.spring-sales .offers .offers-list { background: url("/_Global/img/content/mc/spring-sales/bg-offers.jpg") no-repeat scroll 0 0 transparent; min-height: 700px; padding-top: 35px; }
.spring-sales .offers .offers-list .savings-touts { margin: 0 15px 30px; }
* html .spring-sales .offers .offers-list .savings-touts { padding: 0 15px; }
.spring-sales .offers .offers-list .savings-touts dd { border-left: 1px solid #DEDEDE; margin-left: 15px; padding-left: 20px; width: 282px; }
.spring-sales .offers .offers-list .savings-touts dd.first { border-left: 0; margin-left: 0; padding-left: 0; }
.spring-sales .offers .offers-list .savings-touts dd .image { margin-right: 15px; }
.spring-sales .offers .offers-list .savings-touts dd.finance .info { width: 155px; }
.french .spring-sales .offers .offers-list .savings-touts dd.finance .info { width: 162px; }
.spring-sales .offers .offers-list .savings-touts dd.day .info { width: 210px; }
.french .spring-sales .offers .offers-list .savings-touts dd.day .info { width: 205px; }
.spring-sales .offers .offers-list .savings-touts dd.winch .info { width: 171px; }
.french .spring-sales .offers .offers-list .savings-touts dd.winch .info { width: 161px; }
.spring-sales .offers .offers-list .savings-touts dd .info p { color: #777777; font-size: 12px; line-height: normal; margin-bottom: 5px; }
.spring-sales .offers .offers-list .savings-touts dd .info p.small { color: #999999; font-family: Helvetica, Arial, sans-serif; font-size: 10px; }

.spring-sales .offers .product-tabs { margin-bottom: 25px; }
.spring-sales .offers .product-tabs dl { font-family: Helvetica, Arial, sans-serif; margin: 0 auto 10px; }
.spring-sales .offers .product-tabs dt,
.spring-sales .offers .product-tabs dd { color: #777777; font-size: 11px; font-weight: bold; text-align: center; text-transform: uppercase; }
.spring-sales .offers .product-tabs dt { background: url("/_Global/img/content/mc/spring-sales/offers-categories-left-cap.gif") no-repeat scroll 0 0 #F4F4F4; height: 25px; padding-left: 10px; padding-right: 10px; padding-top: 15px; }
.spring-sales .offers .product-tabs dd { background-color: #F4F4F4; }
.spring-sales .offers .product-tabs dd.last { background: url("/_Global/img/content/mc/spring-sales/offers-categories-right-cap.gif") no-repeat scroll right 0 #F4F4F4; }
.spring-sales .offers .product-tabs dd a { color: #4C9AFB; display: block; height: 35px; padding-top: 5px; text-decoration: underline; }
.spring-sales .offers .product-tabs dd a:hover { text-decoration: none; }
.spring-sales .offers .product-tabs dd a span { border-left: 1px solid #DEDEDE; display: block; height: 20px; padding: 10px 10px 0; width: 88px; }
.spring-sales .offers .product-tabs dd.multiline { line-height: 15px; }
.spring-sales .offers .product-tabs dd.multiline a span { height: 30px; padding-top: 0; }

* html .spring-sales .offers .product-tabs dd a { display: inline-block; }
* html .spring-sales .offers .product-tabs dd a span { display: inline-block; }

.spring-sales .offers .product-tabs dl.atv { width: 545px; }
.spring-sales .offers .product-tabs dl.atv dt { width: 150px; }

.spring-sales .offers .product-tabs dl.mc { width: 940px; }
.spring-sales .offers .product-tabs dl.mc dt { width: 155px; }

.spring-sales .offers .product-listings { margin: 0 15px; }
.spring-sales .offers .product-listings .h2 { border-bottom: 1px solid #F1F1F1; color: #E72530; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; margin-bottom: 40px; padding-bottom: 10px; text-transform: uppercase; }

.spring-sales .offers .product-listings .product .product-item { margin-left: 30px; padding-bottom: 45px; width: 150px; zoom: 1; }
.spring-sales .offers .product-listings .product .first { clear: left; margin-left: 0 !important; }

.spring-sales .offers .product-listings .product .product-image { cursor: pointer; height: 125px; margin: 0 0 15px; width: 125px; }
.spring-sales .offers .product-listings .product .product-image a { display: block; }

.spring-sales .offers .product-listings .product .price-heading { color: #545454; font-size: 17px; margin-bottom: 2px; }
.spring-sales .offers .product-listings .product .price-heading a { color: #545454; }
.spring-sales .offers .product-listings .product .year { color: #545454; font-size: 17px; font-weight: bold; }
.spring-sales .offers .product-listings .product .price { color: #7C7C7C; margin-bottom: 2px; text-transform: uppercase; }
.spring-sales .offers .product-listings .product .price strong { float: left; font-size: 16px; margin-right: 5px; }
.spring-sales .offers .product-listings .product .price span { font-size: 8px; }

.spring-sales .offers .product-listings .product .original strong { color: #C4C4C4; }
.spring-sales .offers .product-listings .product .final strong { color: #8F8F8F; }
.spring-sales .offers .product-listings .product .special strong { color: #9ACF5B; }

.spring-sales .offers .product-listings .product .multiline span { line-height: normal; }

.spring-sales .offers .product-listings .product .price del { float: left; margin-right: 5px; }
.spring-sales .offers .product-listings .product .price del:before { top: 10px; }
.spring-sales .offers .product-listings .product .price del strong { margin-right: 0; }
.spring-sales .offers .product-listings .product .price .strike { top: 10px; }
/* ie 6 & 7 styles */
*   html .spring-sales .offers .product-listings .product .price-heading { font-size: 14px; }
*   html .spring-sales .offers .product-listings .product .year { font-size: 14px; }
*   html .spring-sales .offers .product-listings .product .price strong { font-size: 13px; }
*   html .spring-sales .offers .product-listings .product .price .strike { top: 8px; }

* + html .spring-sales .offers .product-listings .product .price-heading { font-size: 14px; }
* + html .spring-sales .offers .product-listings .product .year { font-size: 14px; }
* + html .spring-sales .offers .product-listings .product .price strong { font-size: 13px; }
* + html .spring-sales .offers .product-listings .product .price .strike { top: 8px; }

/* @end */
/* @group Featured Models */

.spring-sales .featured .featured-section { background: url("/_Global/img/content/mc/spring-sales/divider.gif") no-repeat scroll 0 bottom transparent; padding-bottom: 25px; margin-bottom: 30px; zoom: 1; }
.spring-sales .featured .featured-section-last { background: none; }

/* @end */