.page-commerical-product .content_section.first_section h1 { margin-bottom: 10px; }
.page-commerical-product .content_section.first_section p.large { line-height: 24px; width: 750px; }
.page-commerical-product .content_section { display: block; xborder: 1px solid green; }

.page-commerical-product ul.commercial-touts { margin-top: 15px; }
.page-commerical-product ul.commercial-touts li { margin-left: 68px; width: 261px; }
.page-commerical-product ul.commercial-touts li.first { margin: 0; }

.page-commerical-product ul.commercial-touts li img { margin-bottom: 15px; }
.page-commerical-product ul.commercial-touts li .tout-content { height: 160px; }
.page-commerical-product ul.commercial-touts li h3 { color: #1B1B1B; font-size: 18px; margin-bottom: 0; text-transform: uppercase; }
.page-commerical-product ul.commercial-touts li .features li { width: auto; }

* html .page-commerical-product ul.commercial-touts li { width: 240px; }

.page-commerical-product.french ul.commercial-touts li .tout-content { height: 180px; }

p sup, li sup { top: 0; }