@import url(model-selector.css);
.wrapper_top_cap { background: url("/_Global/img/layout/cap_top_default.png") no-repeat scroll center 0 transparent; }
.wrapper_bottom_cap { background: url("/_Global/img/layout/cap_bottom_default.png") no-repeat scroll center 0 transparent; }
.page-compare-results .sub_content { margin-top: -1px; padding: 0; }
.page-compare-results .tbl_compare_result tr.first.top th.name span { padding-top: 111px; text-align: center; text-transform: uppercase; }
.page-compare-results .tbl_compare_result tr.top th.compare div.tag-trim-details { min-height: 225px; }
.page-compare-results .tbl_compare_result tr.top th.compare .product_image { height: 250px; }

.flex_bar { margin: 10px auto 0; width: 938px; }
.flex_bar.first { margin-top: 35px; }