.page-find-a-dealer .phd_only {  }
.page-find-a-dealer .phd_only label { display: block; float: left; line-height: 14px; margin-left: 5px; vertical-align: text-top; width: 205px; }
.page-find-a-dealer .phd_only input { float: left; margin: 0; }

.page-find-a-dealer-results .powerhouse_dealer,
.page-find-a-dealer-results .exclusive_honda_dealer { background-position: 0 5px; padding-top: 3px; }
.page-find-a-dealer-results .tbl td span { padding-left: 9px; }

.page-find-a-dealer-results .show_phd_only label.phd_only input { margin: 0; }
.page-find-a-dealer-results .show_phd_only label.phd_only label { margin-left: 10px; vertical-align: text-top; }