﻿/* @group model selector override */
div.dropdown_container.model-selector-right select { width: 165px; }
div.dropdown_container.model-selector select { width: 165px; }
.compare-selector .first { padding-right: 20px; }
.french .compare-selector .first { padding-right: 10px; }
div.dropdown_container.model-selector-right div.selection_wrap div.item .product-image { height:125px; width:85px; }

/* @end */