#powerup-container { margin: 0 auto; padding: 0 25px; }

#powerup-banner { padding: 0 15px 15px; }

#powerup-header { height: 610px; margin: 0; padding: 0 5px 15px; }
#powerup-header img { height: 610px; width: 760px; }

#powerup-leader { padding: 0 25px; }
#powerup-leader > div > .powerup-header { color: #231F20; font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: normal; margin: 5px 0; padding: 0; font-style: italic; }
#powerup-leader > div > .powerup-header strong { color: #023D84; font-style: normal; }
#powerup-leader > div > h2 { display: block; height: 30px; margin-left:25px; width: 440px; }
#powerup-leader > div > p { color: #666666; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; }

#powerup-leader > .powerup-info { padding: 0 0 25px; width: 620px; }
#powerup-leader > .powerup-findadealer a { background: url("/_Global/img/content/marine/powerup/english/button.findadealer.png") no-repeat scroll 0 0 transparent; display: block; height: 48px; margin-top: 15px; width: 176px; }
.french #powerup-leader > .powerup-findadealer a { background: url("/_Global/img/content/marine/powerup/french/button.findadealer.png") no-repeat scroll 0 0 transparent; display: block; height: 48px; margin-top: 15px; width: 176px; }

.powerup-body { margin-bottom: 60px; }
.powerup-body > h2 { height: 73px; overflow: hidden; padding: 0; }
.powerup-body > div.powerup-content { background: url('/_Global/img/content/marine/powerup/english/bg.body.png') repeat-y top center; min-height: 350px; padding-bottom: 15px; }
.powerup-body > div.powerup-body-footer { background: url('/_Global/img/content/marine/powerup/english/bg.body.footer.png') no-repeat top center; height: 10px; }

.powerup-body > div.powerup-content .powerup-sidebar { display: block; padding: 10px 0 0 1px; width: 245px; }
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content		{display:block;padding-left:23px;width:200px;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content	h3	{font:14px "arial","helvetica","sans-serif";color:#023f88;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content	p	{font:12px "arial","helvetica","sans-serif";color:#848484;padding:0px;margin:0px;padding:5px 0px;padding-top:10px;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content	a	{font:12px "arial","helvetica","sans-serif";color:#848484;text-decoration:underline;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content	h2	{font:33px "arial","helvetica","sans-serif";color:#ed1b2f;padding:0px;margin:0px;font-weight:bolder;padding:5px 0px;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content	h4	{font:18px "arial","helvetica","sans-serif";color:#ed1b2f;padding:0px;margin:0px;font-weight:bolder;padding:2px 0px;}
.powerup-body > div.powerup-content .powerup-sidebar .powerup-sidebar-content  hr	{display:block;height:0px;border:none;color:#ddd;background:#ddd;padding:0px;margin:10px 0px;border-bottom:1px solid #ddd;}


.powerup-body > div.powerup-content .powerup-pricetable { display: block; padding: 15px 15px 0 0; }
.powerup-body > div.powerup-content .powerup-pricetable table {padding:0px;margin:0px;border:none;}
.powerup-body > div.powerup-content .powerup-pricetable table tr {padding:0px;margin:0px;border:none;}
.powerup-body > div.powerup-content .powerup-pricetable table tr td				{ color:#7f8d9d; padding:10px;border-right:1px solid #fff;border-bottom:1px solid #fff;background:#ebf2f7;font-size: 13px; font-family: Arial, Helvetica, sans-serif; }
.powerup-body > div.powerup-content .powerup-pricetable table tr:nth-child(even) td		{background:#f5faff;}

.powerup-body > div.powerup-content .powerup-pricetable table tr td a { font-size: 13px; font-weight: Arial, Helvetica, sans-serif; color:#7f8d9d;text-decoration:underline;margin:0px;padding:0px;}
.powerup-body > div.powerup-content .powerup-pricetable table tr td em { color: #023F88; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.powerup-body > div.powerup-content .powerup-pricetable table tr td span {font:12px "arial","helvetica","sans-serif","verdana";color:#7f8d9d;margin:0px;padding:0px;}
.powerup-body > div.powerup-content .powerup-pricetable table tr td span.new {font:9px "arial","helvetica","sans-serif","verdana";color:#023f88;font-weight:bold;font-style:italic;margin:0px;padding:0px;}
.powerup-body > div.powerup-content .powerup-pricetable table tr td span.powerup-price-red {font:15px "arial","helvetica","sans-serif","verdana";color:#ed1b2f;font-weight:bolder;}

.powerup-body > div.powerup-content .powerup-pricetable table tr:first-child		{padding:0px;margin:0px;height:45px;overflow:hidden;}
.powerup-body > div.powerup-content .powerup-pricetable table tr:first-child td	{padding:0px;margin:0px;height:45px;overflow:hidden;}

div.powerup-featured { background: url("/_Global/img/content/marine/powerup/english/featuredportabledeal.png") no-repeat top left; color: #023F88; display: block; font-size: 15px; font-weight: Arial, Helvetica, sans-serif; font-style:italic; font-weight:bold; height: 14px; margin-bottom: 40px; padding: 20px 0 20px 20px; width: 211px; }

#powerup-disclaimer { color: #999999; font-size: 11px; font-family: Arial, helvetica, sans-serif; line-height: 17px; margin: 0; padding: 0 20px 15px; }
#powerup-disclaimer strong { color: #000000; }

div.powerup-clear { clear: both; }


* html #powerup-leader div .powerup-header { color: #231F20; font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: normal; margin: 5px 0; padding: 0; font-style: italic; }
* html #powerup-leader div .powerup-header strong { color: #023D84; font-style: normal; }
* html #powerup-leader div h2 { display: block; height: 30px; margin-left:25px; width: 440px; }
* html #powerup-leader div p { color: #666666; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; }

* html #powerup-leader .powerup-info { padding: 0 0 25px; width: 620px; }
* html #powerup-leader .powerup-findadealer a { background: url("/_Global/img/content/marine/powerup/english/button.findadealer.png") no-repeat scroll 0 0 transparent; display: block; height: 48px; margin-top: 15px; width: 176px; }
* html .french #powerup-leader .powerup-findadealer a { background: url("/_Global/img/content/marine/powerup/french/button.findadealer.png") no-repeat scroll 0 0 transparent; display: block; height: 48px; margin-top: 15px; width: 176px; }

* html .powerup-body h2 { height: 73px; overflow: hidden; padding: 0; }
* html .powerup-body div.powerup-content { background: url('/_Global/img/content/marine/powerup/english/bg.body.png') repeat-y top center; min-height: 350px; padding-bottom: 15px; }
* html .powerup-body div.powerup-body-footer { background: url('/_Global/img/content/marine/powerup/english/bg.body.footer.png') no-repeat top center; height: 10px; }

* html .powerup-body div.powerup-content .powerup-sidebar { display: block; padding: 10px 0 0 1px; width: 245px; }
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content		{display:block;padding-left:23px;width:200px;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content	h3	{font:14px "arial","helvetica","sans-serif";color:#023f88;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content	p	{font:12px "arial","helvetica","sans-serif";color:#848484;padding:0px;margin:0px;padding:5px 0px;padding-top:10px;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content	a	{font:12px "arial","helvetica","sans-serif";color:#848484;text-decoration:underline;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content	h2	{font:33px "arial","helvetica","sans-serif";color:#ed1b2f;padding:0px;margin:0px;font-weight:bolder;padding:5px 0px;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content	h4	{font:18px "arial","helvetica","sans-serif";color:#ed1b2f;padding:0px;margin:0px;font-weight:bolder;padding:2px 0px;}
* html .powerup-body div.powerup-content .powerup-sidebar .powerup-sidebar-content hr	{display:block;height:0px;border:none;color:#ddd;background:#ddd;padding:0px;margin:10px 0px;border-bottom:1px solid #ddd;}

* html .powerup-body div.powerup-content .powerup-pricetable { display: block; padding: 15px 15px 0 0; }
* html .powerup-body div.powerup-content .powerup-pricetable table {padding:0px;margin:0px;border:none;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr {padding:0px;margin:0px;border:none;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr td				{ color:#7f8d9d; padding:10px;border-right:1px solid #fff;border-bottom:1px solid #fff;background:#ebf2f7;font-size: 13px; font-family: Arial, Helvetica, sans-serif; }
* html .powerup-body div.powerup-content .powerup-pricetable table tr td a { font-size: 13px; font-weight: Arial, Helvetica, sans-serif; color:#7f8d9d;text-decoration:underline;margin:0px;padding:0px;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr td em { color: #023F88; font-size: 11px; font-weight: bold; text-transform: uppercase; }
* html .powerup-body div.powerup-content .powerup-pricetable table tr td span {font:12px "arial","helvetica","sans-serif","verdana";color:#7f8d9d;margin:0px;padding:0px;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr td span.new {font:9px "arial","helvetica","sans-serif","verdana";color:#023f88;font-weight:bold;font-style:italic;margin:0px;padding:0px;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr td span.powerup-price-red {font:15px "arial","helvetica","sans-serif","verdana";color:#ed1b2f;font-weight:bolder;}
* html .powerup-body div.powerup-content .powerup-pricetable table tr td.table-header	{padding:0px;margin:0px;height:45px;overflow:hidden;}