.wrapper_top_cap { background: url("/_Global/img/layout/cap_top_default.png") no-repeat scroll center 0 transparent;}
.wrapper_bottom_cap { background: url("/_Global/img/layout/cap_bottom_default.png") no-repeat scroll center 0 transparent;}
.page-compare-results .content_section.first_section h1 span.lowercase { font-size: 28px!important; }
.page-compare-results div.dropdown_container.model-selector-right div.selection_wrap div.item .product-image {height: auto;}