.page-current-offers-provincial-landing h2 { font-size: 22px; margin-top: 5px; padding-bottom: 25px; text-transform: uppercase; }
.page-current-offers-provincial-landing .first_national_offers_section { margin-top: 50px; }
.page-current-offers-provincial-landing .content_section_dotted { margin-top: 25px; }

* html .page-current-offers-provincial-landing h2 { font-size: 18px; }
* + html .page-current-offers-provincial-landing h2 { font-size: 18px; }