/* Product - All Pages */
.page-product-details .product_heading h1 { color: #151515; line-height: 32px; }

.page-product-details .product_wrapper, .page-product-details .product_wrapper_top_cap { margin-bottom: 0; width: 1000px; }

.page-product-details .product_wrapper_top_cap, .page-product-details .product_wrapper_bottom_cap { background: none; font-size: 1px; height: 10px; overflow: hidden; width: 1000px; zoom: 1; }
.page-product-details .product_wrapper_top_cap .cap_top_default { background: url("/_Global/img/layout/atv/cap_top_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }
.page-product-details .product_wrapper_bottom_cap .cap_bottom_default { background: url("/_Global/img/layout/atv/cap_bottom_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }

.page-product-details .product_wrapper .product_heading .header, .page-product-details .product_wrapper .product_heading .footer { background: #F4F4F4; }

.page-product-details .product_wrapper .product_name { width: 375px; }

* html .page-product-details .product_wrapper .product_name { width: 245px !important;}
* + html .page-product-details .product_wrapper .product_name { width: 245px !important;}
* html .page-product-details .product_wrapper .product-options-container { width: 310px !important; }
* + html .page-product-details .product_wrapper .product-options-container { width: 310px !important; }

.page-product-details .product_wrapper .product-options-container .option { margin: 0 60px 0 0; text-align: right; }
.page-product-details .product_wrapper .product-options-container .option .options-heading { color: #545454; padding: 7px 0 10px; text-transform: uppercase; }

.page-product-details .product_wrapper .product-options-container .years .year { border-left: 1px solid #C4C4C4; float: left; font-size: 25px; height: 25px; line-height: 19px; margin-left: 9px; padding-left: 11px; }
.page-product-details .product_wrapper .product-options-container .years .first { border-left: none; margin-left: 0; padding: 0; }
.page-product-details .product_wrapper .product-options-container .years .year span { color: #151515; }
.page-product-details .product_wrapper .product-options-container .years .year a { color: #C4C4C4; }


.page-product-details .product_wrapper .product-options-container .colors a { float: left; margin-left: 8px; padding: 3px; }
.page-product-details .product_wrapper .product-options-container .colors .active,
.page-product-details .product_wrapper .product-options-container .colors a:hover { border: 1px solid #D6D6D6; padding: 2px; }
.page-product-details .product_wrapper .product-options-container .colors .first { margin-left: 0; }

.page-product-details .product_wrapper .product-options-container .colors .color { display: block; height: 20px; width: 20px; }
.page-product-details .product_wrapper .product-options-container .colors .black { background: #000000; }
.page-product-details .product_wrapper .product-options-container .colors .red { background: #D22636; }

.page-product-details .product_wrapper .product-price-container { width: auto; }

.page-product-details .product_wrapper .product-price-container .small-price { margin-right: 20px; }

.page-product-details .product_wrapper .product-price-container .price-heading { font-size: 12px !important; padding: 7px 0 4px; }
.page-product-details .product_wrapper .product-price-container .large-price.msrp .price { top: -10px; }

.page-product-details .product_wrapper .product-price-container .multiline .price-heading { font-size: 10px !important; padding: 0 0 4px; }

.page-product-details del { top: -2px; }
.page-product-details del:before { top: 15px; }
.page-product-details .strike { top: 15px; }

.page-product-details .product_heading .content .feature-image { width: 750px; text-align: center; }
.page-product-details .product_heading .content .feature-image .product-legal { color: #7C7C7C; font-size: 10px; margin: 30px 0 0; text-align: left; }
.page-product-details .product_heading .content .feature-image .view-360 { position: absolute; right: 15px; top: 0; z-index: 10; }
.page-product-details .product_heading .no-accessories .feature-image { margin: 0 96px; }

.page-product-details .product_wrapper .product_heading .footer .btn { margin: 0 10px 0 0; }
.page-product-details .product_wrapper .product_heading .footer .divider { margin: 0 10px 0 0; }

.page-product-details .tabs_horizontal li a { padding: 11px 25px 0; }

.page-product-details .content_container .province-selector { margin-top: 12px; }
.page-product-details .content_container .download { background: url("/_Global/img/layout/dl_icon.gif") no-repeat scroll 0 0 transparent; color: #A9A9A9; font-size: 14px; font-weight: bold; height: 20px; line-height: 16px; margin-top: 12px; padding-left: 30px; text-transform: uppercase; }

/* Product - Overview */
.page-product-details .content_container h2 { text-transform: none; }
.page-product-details .content_container h2.small { text-transform: none; }
.page-product-details .content_container .overview .first_section h2 { color: #E72530; }

.page-product-details .content_container .overview .feature_box { background: url("/_Global/img/content/atv/products/feature_box_atv.jpg") no-repeat scroll left top transparent; }
.page-product-details .content_container .overview .feature_box .feature_box_inner_l .watch_now_copy .divider { background: url("/_Global/img/content/atv/products/bevel_brown_border_h.gif") repeat-x scroll left top transparent; }

.page-product-details .content_container .overview .recently_viewed h2 { text-transform: uppercase; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product { margin: 0 0 0 43px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .image { height: 100px; width: 150px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare { padding: 36px 0 50px 25px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description { width: 150px; }

/* Product - Features */
.page-product-details .content_container .features .flex_bar { margin-bottom: 0; margin-top: 10px; }
.page-product-details .content_container .features ul.red-check { margin-bottom: 10px; margin-top: 0; }
.page-product-details .content_container .features ul.red-check li { font-weight: normal; }

.page-product-details .content_container .features .h1 { margin-bottom: 0; }

.page-product-details .content_container .features h2 { padding-bottom: 26px; }
.page-product-details .content_container .features h2.small { padding-bottom: 0; }

.page-product-details .content_container .features .sub_content ul { margin: 0 0 20px; }
.page-product-details .content_container .features .sub_content li { border-bottom: 1px solid #DEDEDE; font-size: 11px; line-height: 18px; padding: 12px 0; }
.page-product-details .content_container .features .sub_content a { color: #333333; width: 550px; }

/* Product - Gallery */
.page-product-details .content_container .gallery .image_thumbs { margin-top: 15px; padding-top: 0; }
.page-product-details .content_container .gallery .image_thumbs .thumb { background: #F6F6F6; height: 90px; margin: 15px 0 0 15px; width: 153px; }
.page-product-details .content_container .gallery .image_thumbs .first { margin-left: 0; }

/* Product - Specifications */
.page-product-details .content_container .specs .specs_chart { border-bottom: none; }
.page-product-details .content_container .specs .specs_chart th {text-transform:uppercase;}
.page-product-details .content_container .specs .specs_chart td {text-transform:none;}

/* Product - Accessories */
.page-product-details .content_container .accessories .sub_content span { color: #696969; }

.page-product-details .tooltip-left .tooltip_arrow { top: 60px; display: none; }
.page-product-details .tooltip-left .tooltip_content { top: 40px; }
.page-product-details .tooltip-left .tooltip_content_mid .tooltip_price span { font-size: 10px; }
.page-product-details .tooltip-right .tooltip_arrow { display: none; }
.page-product-details .tooltip-right .tooltip_content_mid .tooltip_price span { font-size: 10px; }

/* @IE Specific Styles */
* html .page-product-details .product_wrapper .product_name { width: 400px; }
* + html .page-product-details .product_wrapper .product_name { width: 400px; }

/** html .page-product-details .product_wrapper .product-options-container { width: 300px; }
* + html .page-product-details .product_wrapper .product-options-container { width: 300px; }*/

* html .page-product-details .product_wrapper .product-options-container .option { display: inline; margin: 0; width: 50%; }
* + html .page-product-details .product_wrapper .product-options-container .option { margin: 0; width: 50%; }

* html .page-product-details .product_wrapper .product-options-container .years .option-items { width: 150px; }

* html .page-product-details .product_wrapper .product-options-container .options-heading { font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; padding: 5px 0 13px !important; }
* + html .page-product-details .product_wrapper .product-options-container .options-heading { font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; padding: 5px 0 13px !important; }
* html .page-product-details .product_wrapper .product-options-container .years .year { display: inline; font-size: 20px; font-weight: bold; line-height: 23px; margin-left: 9px; margin-top: 2px; padding-left: 9px; }
* + html .page-product-details .product_wrapper .product-options-container .years .year { font-size: 20px; font-weight: bold; line-height: 23px; margin-left: 11px; margin-top: 2px; }

* html .page-product-details .product_wrapper .product-price-container { width: 340px; }
* + html .page-product-details .product_wrapper .product-price-container { width: 340px; }

* html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }
* + html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }

* html .page-product-details del { top: 8px; }
* html .page-product-details .strike { top: 8px; }

/* ie 6 & 7 styles */
* html .page-product-details .product-price-container .small-price del * { top: -2px; }

* html .page-product-details .product_heading .no-accessories .feature-image { margin: 0 0 0 50px; }
/* @IE */