.page-safety .pdf-list { margin-bottom: 20px; }
.page-safety .pdf-list li { font-size: 11px; line-height: 15px; list-style: disc outside none; margin-left: 15px; }

.page-safety .pdf-list a:hover { border-bottom: 1px dotted #0d9be4;}
.page-safety .sub_content li a:hover { border-bottom: 1px dotted #0d9be4;}

.page-safety .accordion-controls { margin-bottom: 10px; }

/* (IE) Safety */
* html .page-safety .pdf-list a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }
* html .page-safety .sub_content li a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }

* html .page-safety .accordion-controls { margin-bottom: -10px; }
* + html .page-safety .accordion-controls { margin-bottom: -10px; }
/* @IE */