/* @group Layout */
/*.cap_top_columns {height:5px;background:url(../../img/layout/cap_top_col1_col3.gif) 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }*/
/*.cap_top_columns_right {height:5px;background:url(../../img/layout/cap_top_col3_col1.gif) 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }*/
/*.cap_bottom_columns {height:6px;background: url(../../img/layout/cap_bottom_col1_col3.gif) left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }*/
/*.cap_bottom_columns_right {height:6px;background: url(../../img/layout/cap_bottom_col3_col1.png) left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }*/
/*.cap_middle_columns {width:256px;height:31px;background:url(../../img/layout/cap_middle_col1.gif) 0 0 no-repeat;}*/
/* @end */
/* @group Sidebar Widgets */

/* .wrapper_nobg .widgets a.primary span {padding:6px 12px 1px 0px;} */
/* .wrapper_nobg .widgets a.secondary span {padding:6px 12px 1px 0px;} */

.wrapper_columns .widgets li{margin-top:10px;  margin-bottom: 15px;}

.wrapper_columns .widgets li h4{color:#696969;}
.wrapper_columns .widgets li.consider .product{padding-left:39px; padding-top:15px;}
.wrapper_columns .widgets li.consider .product .product_name{font-size:17px; color:#424242; font-weight:bold; text-transform:uppercase; padding-top:10px; display:block;}
.wrapper_columns .widgets li.consider .product .product_price{font-size:14px; font-weight:bold; font-family:verdana, sans-serif; color:#7c7c7c; text-transform:uppercase;}
.wrapper_columns .widgets li.consider .product .product_price span{text-transform:uppercase; font-size:8px; color:#696969; font-weight:normal; padding-left:5px;}

.wrapper_columns .widgets li.find-a-dealer ul.search_options label {display:block;font-size:12px;color:#151515;text-transform:uppercase;line-height:12px;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special {background:url(../../img/layout/bg_input_special.png) no-repeat;width:112px;height:23px;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special input {margin:4px 0 0 4px;width:53px;border:0px;outline:none;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special a {margin-left:10px;padding:4px 0;width:40px;text-align:center;display:block;text-transform:uppercase;text-decoration:none;color:white;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .button {margin-left:8px;height:23px;width:auto;white-space:nowrap;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.search_sub_header label {font-weight:bold; font-size:12px; color:#9acf5b; text-transform:capitalize !important;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.region label{padding-top:6px;}
.wrapper_columns .widgets li.find-a-dealer .input_box .input { height: 23px; }
.wrapper_columns .widgets li.find-a-dealer .input_box .input input { background: none; height: 21px; border-right: 0; }
.wrapper_columns .widgets li.find-a-dealer .input_box a.btn {display:inline-block;height:20px; background: url(../../img/layout/btn_secondary_right.gif) no-repeat right top;padding:5px 10px 0 ;}
.wrapper_columns .widgets li.find-a-dealer .input_box a.btn:hover {background-position:right -27px !important;}
.wrapper_columns .widgets li.find-a-dealer .input_box .small_loader {position:absolute;right:6px;top:4px;display:none;}

.wrapper_columns .widgets li.cities_nearby h4{padding-bottom:10px;}

.wrapper_columns .widgets li.powerhouse_dealers{font-family:verdana, arial, sans-serif;}
.wrapper_columns .widgets li.powerhouse_dealers p.heading{font-size:12px; margin-top:14px;}
.wrapper_columns .widgets li.powerhouse_dealers .content{padding:16px; width:220px;}

.wrapper_columns .widgets li.powerhouse-dealers-alternate{}
.wrapper_columns .widgets li.powerhouse-dealers-alternate p.heading{padding-left:10px; margin-top:10px; padding-bottom:0; font-size:12px;}
.wrapper_columns .widgets li.powerhouse-dealers-alternate .content{padding: 25px 0 6px 16px;}

.wrapper_columns .widgets li.accessories{}
.wrapper_columns .widgets li.accessories p.heading{padding-left:10px; margin-top:10px; padding-bottom:0; font-size:12px;}
.wrapper_columns .widgets li.accessories .content{padding: 25px 0 6px 16px; }

.wrapper_columns .widgets li.gear{}
.wrapper_columns .widgets li.gear p.heading{padding-left:10px; margin-top:10px; padding-bottom:0; font-size:12px;}
.wrapper_columns .widgets li.gear .content{padding: 25px 0 6px 16px; }


/* @end */
/* @group 2 column layout */

.wrapper_columns{margin-bottom:0;}
.wrapper_columns .widgets{width:254px; font-family:verdana, arial, sans-serif;}
.wrapper_columns .widgets li:first-child{margin-top:0 !important;}
.wrapper_columns .widgets li{margin-top:13px;}
.wrapper_columns .widgets li .top_cap{width:254px; height:10px; font-size:1px; background:url(../../img/layout/widget_top_cap.png) 0 0 no-repeat;}
.wrapper_columns .widgets li .bottom_cap{width:254px; height:10px; background:url(../../img/layout/widget_bottom_cap.png) 0 0 no-repeat;}
.wrapper_columns .widgets li .content{width:223px; padding:16px 11px 0 18px;/*16px 11px 12px 18px*/ background:url(../../img/layout/widget_content.png) 0 0 repeat-y;}
.wrapper_columns .widgets li .content .reviews p{padding-bottom:0;}
.wrapper_columns .widgets li.buttons .content{width:219px; padding:5px 16px; background:url(../../img/layout/widget_content.png) 0 0 repeat-y;}
.wrapper_columns .widgets li.buttons .content a{margin-top:12px; padding:0; text-align:center; display:block;}
.wrapper_columns .widgets li.buttons .content a span{display:block;}
.wrapper_columns .widgets li.buttons .content a.first{margin-top:0;}

.wrapper_columns .content_box{width:718px; padding:0;}
.wrapper_columns .content_box .top_cap{width:718px; height:10px; font-size:1px; background:url(../../img/layout/content_top_bg.png) 0 0 no-repeat;}
.wrapper_columns .content_box .bottom_cap{width:718px; height:10px; background:url(../../img/layout/content_bottom_bg.png) 0 0 no-repeat;}
.wrapper_columns .content_box .content{width:718px; padding:0; background:url(../../img/layout/content_middle_bg.png) 0 0 repeat-y;}

.wrapper_columns .widgets li.honda-dealerships h4{padding-bottom:15px; padding-left:5px;}

/* @end */

/* ---------------------------------------------------------- */

#left_nav li, .left_nav li { background: url("/_Global/img/layout/dark/dotted_border.png") repeat-x scroll 0 0 transparent; border: none; display: block; height:auto; margin: 0; padding: 0; width: 218px; }
#left_nav li a, .left_nav li a{padding-bottom:12px !important; padding-left:10px; line-height:16px;}
#left_nav li.first, .left_nav li.first { background: none; }
#left_nav li.selected, .left_nav li.selected{ background: #eaeaea url("/_Global/img/layout/sidebar_menu_top_bg.gif") 0 0 no-repeat; left: -6px; padding-left: 0; width: 230px; }
#left_nav li.selected a, .left_nav li.selected a{ background: url("/_Global/img/layout/sidebar_menu_bottom_bg.gif") 0 bottom no-repeat; padding-left: 16px; }

.wrapper_columns .widgets li .top_cap{display:none;}
.wrapper_columns .widgets li .bottom_cap{display:none;}
.wrapper_columns .content_box .top_cap{display:none;}
.wrapper_columns .content_box .bottom_cap{display:none;}

.wrapper_columns .widgets li.buttons .content,
.wrapper_columns .widgets li .content{background:url("/_Global/img/layout/dark/widget_divider.gif") center 0 no-repeat;}
.wrapper_columns .widgets li:first-child .content{background:none;}
.wrapper_columns .widgets li.first{background:none;}

.wrapper_columns .content_box .content{background:none;}
.wrapper_columns {background:url("/_Global/img/layout/dark/content_bg.png") center 0 repeat-y;}

.wrapper_top_cap{width:984px; height:10px; background:url("/_Global/img/layout/dark/content_top_cap.png") center 0 no-repeat; margin:0 auto;}
.wrapper_bottom_cap{width:984px; height:10px; background:url("/_Global/img/layout/dark/content_bottom_cap.png") center 0 no-repeat; margin:0 auto 15px;}

.left_nav .second_nav li.selected a { padding-left: 6px; }

/* @group Tabs */
.tabs_horizontal { margin: 0 15px; padding-top: 6px; }
/* @end */

/* @group Menu */
.left_nav .dropdown_button { background: url("../../img/layout/dropout_top.png") no-repeat scroll 0 0 transparent; left: -230px; padding-left: 0; top: -1px !important; width: 244px; }
.left_nav .dropdown_button_right { background: url("../../img/layout/dropout_bottom.png") no-repeat scroll 0 bottom transparent; height: auto; line-height: 16px; padding: 5px 0 10px; width: 244px; }
.left_nav .dropdown_button a { background: url("../../img/layout/dropout_mid.png") repeat-y scroll 0 0 transparent; padding: 9px 0 6px 14px; }
.left_nav .dropdown_content { left: -235px !important; top: -2px !important; }
.left_nav .second_nav li { left: -6px !important; }
#left_nav li, .left_nav li { width: auto; }
/* @end */

#sub_header {padding:8px 7px 0 0; clear:right;}
#header{position:relative;}
.logo{position:absolute; bottom:68px;}

/* @group AODA Logo */

.aoda-logo{margin:10px 4px 4px 0;}
.aoda-logo:hover{border:0;}

/* @end */

/* @group dark style menu items */
/*#left_nav li, .left_nav li { border-top:1px solid #d6d6d6; }
#left_nav li.selected, .left_nav li.selected { background: url("/_Global/img/layout/dark/bg_left_nav_on.png") no-repeat scroll 0 0 transparent; padding-left: 16px; width: 210px; }*/
/* @end */

.wrapper_columns .widgets li.consider .price-disclaimer {margin-top: 30px; padding-left:25px}
.wrapper_columns .widgets li.consider .price-disclaimer span {color: #7C7C7C; font-size: 10px;}
