<!--googleon: index-->
<div class="fr content_box">
    <div class="top_cap pf"></div>
    <div class="content pf">
        <ul class="fc tabs_horizontal">
            <li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="2col.html">Overview</a></li>
            <li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
            <li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="abc.html">Accessories</a></li>
        </ul>
        <div class="content_container" id="inner_page_content">
            <!-- For pages containing inner page content area, any content-specific class names should go in here within #inner_page_content -->
            <div class="example-2col-class-name">
                <div class="content_section first_section">
                    <h1>Testing <span>Heading</span></h1>
                    <p class="large">Large Paragraph Text</p>
                </div>
                <div class="content_section">
                    <h2>Sub Heading h2</h2>
                    <p>Section</p>
                    <div class="sub_section">
                        <h3>Sub Heading H3</h3>
                        <p>Sub Section</p>
                    </div>
                </div>
                <div class="content_section">
                    <h2 class="small">Sub Heading h2 Small</h2>
                    <p>Section</p>
                    <p><a href="#" class="btn primary"><span>Primary Button</span></a></p>
                    <p><a href="#" class="btn secondary"><span>Secondary Button</span></a></p>
                    <p><a href="#" class="btn secondary"><span class="enlarge">Enlarge Button</span></a></p>
                    <p><a href="#" class="btn secondary"><span class="hearit">Hear It Button</span></a></p>
                </div>
                <div class="content_section">
                    <h2 class="small">Reusable JavaScript Widgets</h2>
                    <h3>Tooltips</h3>
                    <p>
                        Tooltip with default style and a message:
                        <a class="btn-help pf"
                           property="act:tooltip"
                           data-tooltip-class="tooltip-bottom"
                           data-position="right bottom"
                           data-tooltip-content="Simple tooltip message."></a>
                    </p>
                    <p>
                        Tooltip with default style and a content target:
                        <a class="btn-help pf"
                           property="act:tooltip"
                           data-tooltip-class=""
                           data-tooltip-content-target="#tooltip-content-1234"></a>
                        <span id="tooltip-content-1234" class="dn">
                            Tooltip content
                        </span>
                    </p>
                    <p>
                        Tooltip box that drops out to the right:
                        <a class="pf btn-help btn-tooltips"
                            property="act:tooltip"
                            data-position="right bottom"
                            data-tooltip-class="tooltip-right"
                            data-tooltip-content-target=".hotspot-01"></a>
                        <span class="hotspot-01 dn">
                            Tooltip Content
                        </span>
                    </p>
                    <p>
                        Tooltip box that drops out to the right with an alternate style:
                        <a class="btn-help pf"
                           property="act:tooltip"
                           data-tooltip-class="tooltip-right-alt"
                           data-position="right bottom"
                           data-tooltip-content-target="#tooltip-content-1234a"></a>
                        <span id="tooltip-content-1234a" class="dn">
                            Tooltip content
                        </span>
                    </p>
                    <p>
                        Tooltip box that drops out to the left:
                        <a class="pf btn-help btn-tooltips"
                            property="act:tooltip"
                            data-position="left top"
                            data-tooltip-class="tooltip-left"
                            data-tooltip-content-target=".hotspot-02"></a>
                        <span class="hotspot-02 dn">
                            Tooltip Content
                        </span>
                    </p>
                    <p>
                        Tooltip box that drops out to the top with an alternate style:
                        <a class="btn-help pf"
                           property="act:tooltip"
                           data-tooltip-class="tooltip-top-alt"
                           data-position="right top"
                           data-tooltip-content-target="#tooltip-content-1234b"></a>
                        <span id="tooltip-content-1234b" class="dn">
                            Tooltip content
                        </span>
                    </p>
                    <p>
                        Tooltip box that drops out to the top with an error style:
                        <a class="btn-help pf"
                           property="act:tooltip"
                           data-tooltip-class="tooltip-top-error"
                           data-position="right top"
                           data-tooltip-content-target="#tooltip-content-1234c"></a>
                        <div id="tooltip-content-1234c" class="dn">
                            <p class="heading">Error!</p>
                            <p>Lorem ipsum dolor sit amet, Consectetur aconsecteturdipiscin.</p>
                        </div>
                    </p>
                    <h3>Select boxes</h3>
                    <p>
                        Button style select box:
                        <select property="act:fieldselect"
                                data-fieldselect-button-class="btn secondary"
                                data-fieldselect-button-hover-class="btn-hover"
                                data-fieldselect-pane-class="field-select-right">
                            <option value="">Select</option>
                            <option rel="ab" value="1">Alberta</option>
                            <option rel="bc" value="2">British Columbia</option>
                        </select>
                    </p>
                    <p>
                        dropdown style select box:
                        <select property="act:fieldselect"
                                data-fieldselect-button-class="pf"
                                data-fieldselect-flexible-width="true"
                                data-fieldselect-pane-class="field-select-dropdown">
                            <option value="">Select</option>
                            <option rel="ab" value="1">Alberta</option>
                            <option rel="bc" value="2">British Columbia</option>
                            <option rel="pe" value="3">Prince Edward Island</option>
                        </select>
                    </p>  
                    <h3>Scroll view</h3>
                    <p>
                        Scroll pane:<br />
                        Drag the handle or use mousewheel to scroll the content.<br />
                        <!--
                        Please refer to _Global/css/example.css for individual scroll view styles
                        -->

                        <div property="act:scrollview" class="example-simple-scroll" data-scrollview-type="vertical">
                            <div class="subview">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt augue id mi cursus consequat. Morbi ultrices pulvinar imperdiet. Nullam in tortor vel massa scelerisque molestie sed eget mauris. Quisque ac neque nibh, ut blandit eros. Sed velit massa, tristique viverra iaculis in, ornare id quam. Duis nibh sapien, vulputate quis auctor vel, mollis eu justo. Praesent sem libero, vehicula tincidunt iaculis id, sodales in ipsum. Nulla congue nibh ac ante tempus in molestie sem mollis. Sed vitae mollis elit. Sed sollicitudin dapibus leo sed eleifend. Morbi blandit leo ut massa lobortis dictum. Mauris ut mattis leo. Sed magna purus, tristique et convallis in, consectetur eu massa. Proin at metus eu lacus porttitor consectetur vitae nec neque. Mauris consectetur tincidunt varius. Nunc sed ipsum neque, ac ullamcorper odio.</p>
                                <p>Morbi risus augue, semper vitae dapibus sit amet, faucibus et justo. Suspendisse ut libero at magna vulputate porttitor. Nullam scelerisque euismod urna, ultricies adipiscing dui malesuada et. Praesent quam risus, tincidunt congue cursus et, porttitor egestas ipsum. In ornare euismod sagittis. Suspendisse ut tortor risus, ut dignissim risus. Nulla accumsan adipiscing placerat. Fusce mattis aliquam velit, luctus elementum neque interdum at. Pellentesque sit amet luctus turpis. Cras ornare, velit eu tincidunt congue, arcu lectus ultrices libero, ac vulputate felis urna at dolor. Aenean in magna metus. Vivamus porta dolor id dui luctus ac auctor nunc malesuada. Ut tincidunt porta dolor sed sagittis. Quisque aliquet adipiscing lacus, et elementum augue feugiat ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam condimentum, turpis sed suscipit dictum, libero ipsum adipiscing arcu, quis sollicitudin purus dolor in enim. Vestibulum varius luctus dui, quis mollis dui dapibus vitae. Nulla facilisi.</p>
                                <p>Proin a augue ante. Morbi varius tristique purus. Maecenas convallis pellentesque mi at vestibulum. Mauris porttitor enim mi, at auctor magna. Sed iaculis porta dui id mattis. Nunc eget posuere lectus. Mauris id lorem velit, sit amet aliquam dui. Maecenas elementum nulla non nulla scelerisque feugiat facilisis arcu porta. Pellentesque convallis justo ut felis consectetur faucibus. Sed imperdiet, turpis auctor egestas vehicula, augue enim porttitor arcu, vel porta erat est eget velit. Ut et consequat dolor. Praesent pulvinar augue id quam fermentum adipiscing. Curabitur in lacus tortor. Aliquam at mi ac magna volutpat mollis vitae et dui. Cras et libero eget augue fringilla auctor ac interdum felis. Sed nisi sapien, malesuada in iaculis vel, auctor a lorem. Phasellus et lorem sit amet nulla congue eleifend dictum eu nisl. Pellentesque dui justo, lobortis non auctor ut, iaculis et tortor.</p>
                                <p>Morbi quam massa, aliquam et ornare quis, tempus non mi. Phasellus id sapien quis urna mollis volutpat sed vel urna. Aenean scelerisque nisi nec tortor fermentum in placerat massa rhoncus. Praesent eu tellus magna, id fringilla felis. Donec ac ligula at justo semper bibendum eget interdum nulla. Duis suscipit volutpat odio a consequat. Phasellus diam nunc, eleifend vitae feugiat id, interdum in purus. Fusce condimentum orci nec lorem pharetra ut ornare purus tempor. Nullam laoreet urna varius enim molestie sit amet tempor sem mollis. Vestibulum eros magna, ornare sit amet ornare at, tincidunt ac orci.</p>
                                <p>Nunc ultrices vestibulum facilisis. Praesent sit amet mi a justo lacinia lobortis. Phasellus at urna urna, ultricies tristique ligula. Nulla vehicula arcu et nisl placerat id commodo libero facilisis. Nunc commodo, justo sit amet ultricies mattis, orci nisl ultrices metus, condimentum pellentesque orci nibh bibendum velit. Maecenas convallis augue vitae nisi vestibulum molestie. Phasellus sed dictum sapien. Phasellus tincidunt tempus odio, eget pulvinar lorem accumsan nec. Praesent sollicitudin dictum orci non blandit. Mauris quis augue a nisi imperdiet iaculis. Vestibulum purus lacus, bibendum ac aliquet et, facilisis ut enim. Vestibulum in arcu id arcu malesuada hendrerit. Nunc semper, metus id convallis mattis, erat nisl malesuada metus, a malesuada est eros at nibh. Proin a luctus justo. Donec vulputate libero non lorem blandit lobortis.</p>
                            </div>
                        </div>
                    </p>

                    <h3>Flex bar content</h3>
                    <p>
                        Flexbar Dropout:<br />
                        <div class="fc accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
						
                        <div class="flex_bar"><span><a href="javascript:void(0);"
                                                       property="act:collapsible"
                                                       data-collapsible-target="#slidedown_drivetrain"
                                                       data-collapsible-active="false"
                                                       >Drivetrain</a></span></div>
                        <div id="slidedown_drivetrain" class="sub_content">
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                            Flexbar Content<br />
                        </div>
                    </p>

                    <h3>Popups</h3>
                    <p>
                        Toolbox Popup:
                        <div style="width: 50px; height: 50px; background-color: red; cursor: pointer;"
                             property="act:popup"
                             data-position="right top"
                             data-popup-modal="false"
                             data-popup-content-target="#popup_content"
                             ></div>
                        <div id="popup_content" class="dn">
                            <div>Test Content</div>
                        </div>
                    </p>
                    <p>
                        Toolbox Popup with content url:
                        <div style="width: 50px; height: 50px; background-color: red; cursor: pointer;"
                             property="act:popup"
                             data-position="right top"
                             data-popup-modal="false"
                             data-popup-content-url="resources/modal-form.html"
                             ></div>
                    </p>
                    <p>
                        Modal Popup:
                        <div style="width: 50px; height: 50px; background-color: red; cursor: pointer;"
                             property="act:popup"
                             data-popup-modal="true"
                             data-popup-content-target="#popup_form"
                             ></div>
                        <div id="popup_form" class="dn">
                            <div>Popup Form</div>
                        </div>
                    </p>
                    <p>
                        Modal Popup with content url:
                        <div style="width: 50px; height: 50px; background-color: red; cursor: pointer;"
                             property="act:popup"
                             data-popup-modal="true"
                             data-popup-content-url="resources/modal-form.html"
                             ></div>
                    </p>

                    <h3>Edit Mode</h3>
                    <div style="height: 100px;">
                        <a href="2col.html#" class="edit-button editable-pane edit-button-saved"
                           rel="#53de241c-b4d2-4a96-9b83-2df84e93d4b1" href="2col.html#"
                           style="position: absolute; z-index: 20000;"></a>

                        <div id="53de241c-b4d2-4a96-9b83-2df84e93d4b1" class="dn">
                            <ul class="operations">
                                <li><a title="Edit Content" href="2col.html#"
                                       onclick="editCmsElement('Edit', 'ContentPointer','53de241c-b4d2-4a96-9b83-2df84e93d4b1','/parts-service/why-choose-honda','/parts-service/why-choose-honda');">
                                    Edit</a></li>
                                <li><a title="Undo Change" href="2col.html#"
                                       onclick="editCmsElement('UndoContent','ContentPointer','53de241c-b4d2-4a96-9b83-2df84e93d4b1','/parts-service/why-choose-honda');">
                                    Undo</a></li>
                                <li><a title="Submit Content" href="2col.html#"
                                       onclick="editCmsElement('SubmitContent','ContentPointer','53de241c-b4d2-4a96-9b83-2df84e93d4b1','/parts-service/why-choose-honda');">
                                    Submit</a></li>
                                <li><a title="View Versions" href="2col.html#"
                                       onclick="editCmsElement('ViewVersionContent','ContentPointer','53de241c-b4d2-4a96-9b83-2df84e93d4b1','/parts-service/why-choose-honda');">
                                    View Versions</a></li>
                                <li><a title="View Versions" href="2col.html#"
                                       onclick="viewTextDifference('53de241c-b4d2-4a96-9b83-2df84e93d4b1', 'ContentPointer');">
                                    View Text Difference</a></li>
                            </ul>
                            <div class="status">
                                Status:Saved
                                by
                                cmsadmin
                                on
                                3/2/2011 4:34:55 PM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_cap pf"></div>
</div>
<!--googleoff:index-->