<!--googleoff:index-->
<div class="wrapper nmb nmt">
	<div id="header">
		<ul id="language" class="fc">
			<li class="fr first"><a href="header.html#">Français</a></li>
			<li class="fr"><a href="header.html#">Back to Honda.ca</a></li>
			<li class="fr"><a href="header.html#">Honda Canada</a></li>
		</ul>
		<div class="fl">
			<a id="logo" href="header.html#"></a>
		</div>
		<div class="fr" id="sub_header">
			<div id="search" class="dd_button fr">
				<input type="search" name="search" value="" placeholder="Search" />
				<a href="header.html#" class="clear dn"></a>
			</div>
			<ul id="secondary_nav" class="fr">
				<li class="fl first"><a href="header.html#">find a dealer</a></li>
				<li class="fl"><a href="header.html#">finance</a></li>
				<li class="fl"><a href="header.html#">accessories</a></li>
				<li class="fl"><a href="header.html#">parts &amp; service</a></li>
				<li class="fl"><a href="header.html#">safety</a></li>
				<li class="fl"><a href="header.html#">news &amp; events</a></li>
			</ul>
			<div class="clrfix"></div>
		</div>
		<div class="clrfix"></div>
		<div id="main_menu">
			<ul id="primary_nav">
				<li class="fl first"><a data-url="/pe/landing-generators.html" data-dropdown-content-target="#generators_list" href="#">Generators</a></li>
				<li class="fl"><a data-url="/pe/landing-lawnmowers.html" data-dropdown-content-target="#lawnmowers_list" href="#">Lawnmowers</a></li>
				<li class="fl"><a data-url="/pe/landing-waterpumps.html" data-dropdown-content-target="#waterpumps_list" href="#">Water Pumps</a></li>
				<li class="fl"><a data-url="/pe/landing-snowblowers.html" data-dropdown-content-target="#snowblowers_list" href="#">Snowblowers</a></li>
				<li class="fl"><a data-url="/pe/landing-tillers.html" data-dropdown-content-target="#tillers_list" href="#">Tillers</a></li>
				<li class="fl"><a data-url="/pe/landing-trimmers.html" data-dropdown-content-target="#trimmers_list" href="#" class="full_seperator">Trimmers</a></li>
				<li class="fl alternate"><a href="header.html#">Why Honda?</a></li>
				<li class="fl alternate"><a href="header.html#" class="last_seperator">Special Offers</a></li>
				<li class="last"><a id="shopping_dropdown" data-dropdown-content-target="#shopping_list" href="header.html#">Shopping Tools</a></li>
			</ul>
			<div class="clrfix"></div>
		</div>
	</div>
</div>
<!--
<div class="dropdown_container car_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 480px;">
	<div class="dropdown_button pf" style="left: 0px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#cars_list" id="cars_dropdown" class="ffgc">
				Generators
			</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="cars_list_container">
                Insert Content Here
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->
<!-- bottom dropdown contains a 1px issue when the pf is added. -->
<!--
<div class="dropdown_container car_box truck_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 473px;">
	<div class="dropdown_button pf" style="left: 109px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#trucks_list" id="trucks_dropdown" class="ffgc">Lawnmowers</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="trucks_list_container">
				Testing
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->