<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="/_Global/js/core/selectivizr-1.0.3b.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="/_Global/js/core/libpngfix.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
<script type="text/javascript">
    var __hsite = 'automotive';
    var require = {
        baseUrl: '/_Global/js',
        paths: {
            'i18n': 'ext/require/i18n',
            'order': 'ext/require/order',
            'commonlib': 'ext/commonlib',
            'ui': 'ext/ui',
            'tools': 'ext/tools'
        }
    };
</script>
<script src="/_Global/js/core/require-jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/_Global/js/core/cufon.js"></script>

<!-- This logic has to be rewritten in implementation -->
<script type="text/javascript">
    var fsc = document.createElement('script');
    if ($('body').hasClass('french')) {
        fsc.src = "/_Global/js/fonts/fr/fonts.js";
    }
    else {
        fsc.src = "/_Global/js/fonts/en/fonts.js";
    }

    $('head').append(fsc);
</script>

<script src="/_Global/js/app.js" type="text/javascript" charset="utf-8"></script>
