<!--googleoff:index-->
<div class="wrapper nmb nmt">
	<div id="header">
		<ul id="language" class="fc">
			<li class="fr first"><a href="header.html#">English</a></li>
			<li class="fr"><a href="header.html#">Retour Honda.ca</a></li>
			<li class="fr"><a href="header.html#">Honda Canada</a></li>
		</ul>
		<div class="fl">
			<a id="logo" href="header.html#"></a>
		</div>
		<div class="fr" id="sub_header">
			<div id="search" class="dd_button fr">
				<input type="search" name="search" value="" placeholder="Search" />
				<a href="header.html#" class="clear dn"></a>
			</div>
			<ul id="secondary_nav" class="fr">
				<li class="fl multiline first"><a href="header.html#">trouver un<br />concessionnaire</a></li>
				<li class="fl"><a href="header.html#">finance</a></li>
				<li class="fl"><a href="header.html#">accessoires</a></li>
				<li class="fl multiline"><a href="header.html#">piéces et<br />service</a></li>
				<li class="fl"><a href="header.html#">sécurité</a></li>
				<li class="fl multiline"><a href="header.html#">news et<br />événements</a></li>
			</ul>
			<div class="clrfix"></div>
		</div>
		<div class="clrfix"></div>
		<div id="main_menu">
			<ul id="primary_nav" class="fc">
				<li class="fl first"><a data-url="/pe/landing-generators.html" data-dropdown-content-target="#generators_list" href="#">tondeuses</a></li>
				<li class="fl"><a data-url="/pe/landing-lawnmowers.html" data-dropdown-content-target="#lawnmowers_list" href="#" class="multiline">taille-bordures/<br />broussailles</a></li>
				<li class="fl"><a data-url="/pe/landing-waterpumps.html" data-dropdown-content-target="#waterpumps_list" href="#">motoculteurs</a></li>
				<li class="fl"><a data-url="/pe/landing-snowblowers.html" data-dropdown-content-target="#snowblowers_list" href="#" class="multiline">souffleuses<br />à neige</a></li>
				<li class="fl"><a data-url="/pe/landing-tillers.html" data-dropdown-content-target="#tillers_list" href="#">génératrices</a></li>
				<li class="fl"><a data-url="/pe/landing-trimmers.html" data-dropdown-content-target="#trimmers_list" href="#" class="full_seperator">motopompes à eau</a></li>
				<li class="fl alternate"><a href="header.html#" class="multiline">pourquoi<br />honda?</a></li>
				<li class="fl alternate"><a href="header.html#" class="multiline last_seperator">offres<br />spéciales</a></li>
				<li class="last"><a id="shopping_dropdown" data-dropdown-content-target="#shopping_list" href="header.html#">achat</a></li>
			</ul>
		</div>
	</div>
</div>
<!--
<div class="dropdown_container car_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 480px;">
	<div class="dropdown_button pf" style="left: 0px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#cars_list" id="cars_dropdown" class="ffgc">
				Generators
			</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="cars_list_container">
                Insert Content Here
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->
<!-- bottom dropdown contains a 1px issue when the pf is added. -->
<!--
<div class="dropdown_container car_box truck_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 473px;">
	<div class="dropdown_button pf" style="left: 109px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#trucks_list" id="trucks_dropdown" class="ffgc">Lawnmowers</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="trucks_list_container">
				Testing
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->