.has-edit-button { position: relative; min-height: 30px; border: 2px dashed red; z-index: 3; zoom: 1; }
/*.edit-button { position: absolute !important; background: url(../img/layout/btn_edit.png) no-repeat left top !important; width: 35px !important; height: 23px !important; display: block; cursor: pointer !important; top: 0 !important; right: 10px !important; }
.edit-button-approved { background-image: url(../img/layout/btn_edit_approved.png) !important; }
.edit-button-rejected { background-image: url(../img/layout/btn_edit_rejected.png) !important; }
.edit-button-submitted { background-image: url(../img/layout/btn_edit_submitted.png) !important; }*/
.edit-menu { position: absolute; width: 150px; z-index: 30000; }
.edit-menu .dropdown_button { display: none; }
.edit-menu .dropdown_content {}
.edit-menu .dropdown_content_top {
	background-color: #464646;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	height: 3px;
}
.edit-menu .dropdown_content_mid {
	background-color: #464646;
	color: white;
	font-size: 9px;
}
.edit-menu .operations { padding: 9px 12px;}
.edit-menu .operations li { padding-top: 12px; }
.edit-menu .operations li.first { padding-top: 0; }
.edit-menu .status { color: #fa9130; font-style: italic; background-color: #3d3d3d; padding: 12px; font-weight: bold; }
.edit-menu a { color: white; }
.edit-menu .dropdown_content_mid {
}
.edit-menu .dropdown_content_bottom_l {
	background-color: #3d3d3d;
	height: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-radius: 0 0 3px 3px;
}
.edit-button { display: block; position: absolute !important; background: url(/Cms/Images/Console/btn_edit.png) no-repeat left top !important; width: 35px !important; height: 23px !important; display: none; cursor: pointer !important; top: 0 !important; right: 10px !important; }
.has-edit-button .edit-button { display: block; }
.edit-button-approved { background-image: url(/Cms/Images/Console/btn_edit_approved.png) !important; }
.edit-button-rejected { background-image: url(/Cms/Images/Console/btn_edit_rejected.png) !important; }
.edit-button-submitted { background-image: url(/Cms/Images/Console/btn_edit_submitted.png) !important; }
.edit-button-oldversion { background-image: url(/Cms/Images/Console/btn_edit_oldversion.png) !important; }


/*
 *	CSS for CMS Authoring Console
 *	____________________________________________________________________
 */

body 
{}

div#cms_divControlPanel
{
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	width:980px;
	font-size:16px;
	/*font-family:Segoe UI, Tahoma, Trebuchet MS;*/
	
	-moz-border-radius-topleft:8px; /* top left corner */
	-moz-border-radius-topright:8px; /* top right corner */
	-webkit-border-top-left-radius:8px; /* top left corner */
	-webkit-border-top-right-radius:8px; /* top right corner */
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

div#cms_divControlPanel span.SubHead
{
	font-weight:normal;
	font-variant:normal;
	font-size:12px;
}

div#cms_divHeader
{
	vertical-align:middle;
	padding-left:4px;
	padding-right:4px;
	font-size:12px;
	height:30px;
}

div#cms_divLogo
{
	margin: 4px 50px 0px 8px;
}

div#cms_divHeaderCommands
{
	margin-right:20px;
	margin-top:6px;
}

div#cms_divHeaderCommands select,
div#cms_divHeaderCommands div input[type='text']
{
	border:1px solid #ccc;
}

div#cms_divHeaderCommands span#notAccessible
{
	color:#ff0000;
	font-weight:bold;
	font-size:11px;
}

div#cms_divHeaderCommands a.CommandButton
{
	min-width:60px;
}

div#cms_divLogo,
div#cms_divModeSelect,
div#cms_divHeaderCommands
{
	display:inline-block;
	float:left;
	line-height:16px;
}

/*
 * Get the goddamn radio buttons to line up with the labels
 */
div#cms_divModeSelect span label input[type="radio"],
div#cms_divModeSelect span label span,
div#cms_divModeSelect span#cms_lblMode 
{
	vertical-align:middle;
}

div#cms_divTitle
{
	float:right;
	padding:9px 16px 0 6px;
	color: #dd0000;
	font-size:14px;
	font-weight:bold;
}

div#cms_divVisibility
{
	float:right;
	margin:6px 8px 0 8px;
}

/* ========== Command Button area ========== */

div#cms_divCommandButtons
{
	padding:0 1px 1px 1px;
	border-bottom:1px solid #000;
	height:67px;
}

div#cms_divPageFunctions,
div#cms_divCommonTasks
{
	float:left;
	text-align: center; 
	vertical-align: middle; 
}

div#cms_divPageFunctions
{
	width: 47%; 
}
div#cms_divCommonTasks
{
	width: 52%;
}

div#cms_divPageFunctionButtons,
div#cms_divCommonTaskButtons
{
	margin: 2px auto 2px auto;
}

/* --- Button Container --- */

div.buttonContainer a.CommandButton,
div.buttonContainer a.CommandButtonDisabled
{
	display:inline-block;
		
	margin:0;
	padding:1px 2px 4px 2px;

	border: 1px solid Gray; 
	
	border-radius: 4px;
	moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor:pointer;

	font-size: 0.6875em;
	font-weight: normal;
	font-family:Segoe UI, Tahoma, Trebuchet MS;

	text-decoration:none;
	text-align:center;
}

div.buttonContainer a.CommandButton,
div.buttonContainer a.CommandButton:visited,
div.buttonContainer a.CommandButton:focus
{
	color: #000;
	background:  #bbb; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c0c0c0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #ccc); /* for firefox 3.6+ */ 	
}

div.buttonContainer a.CommandButton span,
div.buttonContainer a.CommandButtonDisabled span
{
	display:inline-block;
	width:100%;
}

div.buttonContainer a.CommandButton img,
div.buttonContainer a.CommandButtonDisabled img
{
	margin: 3px auto 1px auto;
    padding:0;
    border:none;
    
	width:24px;
	height:24px;
}

div.buttonContainer a.CommandButton:focus
{
	color:Blue;
}

div.buttonContainer a.CommandButton:hover
{
	background: #ddd;  
	border: 1px solid #ff0000; 
	
	font-weight:bold;
}

div.buttonContainer a.CommandButton:active
{
	border: 1px solid #29447E;
	background: #eee;  /*  for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #eee); /* for firefox 3.6+ */ 
	
	font-weight:bold;
}

/* disabled */

div.buttonContainer a.CommandButtonDisabled,
div.buttonContainer a.CommandButtonDisabled:visited,
div.buttonContainer a.CommandButtonDisabled:focus,
div.buttonContainer a.CommandButtonDisabled:active,
div.buttonContainer a.CommandButtonDisabled:hover
{
	color: #a0a0a0;
	background:  #dbdbdb; 
	font-weight:normal;
}


/* --- Specific button overrides --- */

div#cms_divCommandButtons a.CommandButton,
div#cms_divCommandButtons a.CommandButtonDisabled
{
	width:60px;
}

div#cms_divVisibility a.CommandButton img
{
	width:7px;
	height:8px;
}

div#cms_divHeaderCommands a.CommandButton
{
	margin-right:2px;
	padding:1px 8px 1px 8px;
	font-size:11px;
}

div#cms_divHeaderCommands a.CommandButton:active,
div#cms_divHeaderCommands a.CommandButton:hover
{
	font-weight:normal;
}

/* Header Info bar */

div#cms_divHeaderInfo
{
	background-color:#909090 ;
	color:#fff;
	
	font-size:11px;
	padding:2px 8px 2px 8px;
	border-bottom:1px solid #fff;
}

div#cms_divHeaderInfo span#buildNumber,
div#cms_divHeaderInfo span#mainUrl
{
	display:inline-block;
	float:left;
	margin-right:16px;
}

div#cms_divHeaderInfo span#buildNumber label
{
	font-weight:bold;
}

div#cms_divHeaderInfo span#loginInfo
{
	display:inline-block;
	float:right;
}

div#cms_divHeaderInfo span#loginInfo span#userName
{
	font-weight:bold;
}

div#cms_divHeaderInfo a,
div#cms_divHeaderInfo a:link
{
    color: #ffffff;
    text-decoration: none;
}
div#cms_divHeaderInfo a:visited
{
    color:#ffffff;
}

div#cms_divHeaderInfo a:hover
{
    color:#FFD700;
    text-decoration: underline;
}

div#cms_divHeaderInfo a:active
{
    color:#FF0000;
    font-weight:bold;
}


/** publish ticker **/   
#cms_divControlPanel 
{
    padding-bottom: 10px;
}
#publishTicker {
    border: 1px solid #999;
	border-radius: 8px;
    background: #fafafa;
	padding: 5px 10px;
    margin: 10px 10px 0px 10px;
}
#publishTicker h1 {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    padding: 0;
    margin: 0;
    width: 180px;
    margin: auto;
}
.tickerDialog {
    position: absolute !important;
    z-index: 30000 !important;
    margin-top: 200px;
    background: #fff;
}
#ui-dialog-title-tickerDetails {
    display: none;
}
.tickerDialog .ui-dialog-titlebar 
{
    border: 1px solid #999;
    border-bottom: none;
}
.tickerDialog .ui-dialog-titlebar-close {
    float: right;
    margin: 10px;
}
.tickerDialog .ui-dialog-content {	
	border: 1px solid #999;
    border-top: none;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	padding: 15px;
}
#tickerDetails {
    /*border: 1px solid #ccc;*/
    max-height: 400px !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 14px;
    padding: 10px;
}
.schedule {
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	margin: 10px 0px;
	border: 2px solid lightsteelblue;
	border-radius: 8px;
	padding: 10px;
}
.schedule .title {
	font-size: 12px;
	float: left;
    width:500px;
    font-weight: bold;
    color: #222;
}

#recentPublish{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 14px;
}

.btn_abortPublish:link, .btn_abortPublish:visited, .btn_abortPublish:active,
.gotoPage:link, .gotoPage:visited, .gotoPage:active {
	display: inline-block;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	color: #222;
	padding: 3px 4px;
	background: -ms-linear-gradient(#fff 0%, #efefef 100%);
	font-size: 11px;
	text-decoration: none;
	margin-left: 10px;
	background-color: #efefef;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#efefef)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffffff, #efefef); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffffff, #efefef); /* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffffff, #efefef); /* IE 10 */
	background: -o-linear-gradient(top, #ffffff, #efefef); /* Opera 11.10+ */
    !width: 95px;
}
.btn_abortPublish:hover, .btn_abortPublish:focus,
.gotoPage:hover, .gotoPage:focus {
	color: #1972aa;
	outline: none;
}
.btn_abortPublish:hover {
	background: #ededed;
}
.btn_abortPublish img {
	border: none;
	outline: none;
	float: left;
	margin-right: 5px;
}
.btn_abortPublish 
{
    clear: right;
    float: right;
    margin-top: 10px;
}
.gotoPage 
{
    float: right;
}
.media {
	clear: left;
	padding: 10px 0px 0px 10px;
	font-size: 12px;
}
.mediaItem {
	display: block;
	padding: 2px;
	color: #333 !important;
}
.mediaItem a 
{
    color: #333 !important;
}

/* Loading GIF */
#pt_loading {
    display: block;
    width: 30px;
    margin: 20px auto;
}
#pt_loading img {
    width: 70px;
}







