#popup-form-updates { width: 658px; }

#popup-form-updates .popup-form-top-cap { background: url("../../img/layout/form_top_cap.png") no-repeat scroll left top transparent; height: 15px; }
#popup-form-updates .popup-form-content { background: url("../../img/layout/form_bottom_cap.png") no-repeat scroll left bottom transparent; padding: 10px 35px 35px; zoom: 1; }

#popup-form-updates .required-fields-note { color: #696969; font-size: 10px; }

#popup-form-updates h2 { font-size: 22px; padding-bottom: 10px; text-transform: uppercase; }
#popup-form-updates h3 { margin-bottom:0; padding-bottom: 15px; }
#popup-form-updates p.header { color: #333333; margin: 0 0 10px; width: 375px; }
#popup-form-updates p.footer { color: #696969; font-size: 10px; margin: 20px 0 0; }

#popup-form-updates .form { border-bottom: 1px solid #D6D6D6; border-top: 1px solid #D6D6D6; }
#popup-form-updates .form label { font-size: 10px; }

#popup-form-updates .form .checkboxes { border-bottom: 1px solid #D6D6D6; padding: 20px 0; }
#popup-form-updates .form .checkboxes .ib { display: inline-block; }
#popup-form-updates .form .textboxes { padding: 20px 0 5px 0; }
#popup-form-updates .form .textboxes label { display: block; font-weight: bold; padding-bottom: 10px; }

#popup-form-updates .form .fieldrows { padding-bottom: 15px; }
#popup-form-updates .form .long-field { width: 230px; }
#popup-form-updates .form .short-field { width: 128px; }

#popup-form-updates .form .long-field input { width: 209px; }
#popup-form-updates .form .short-field select { width: 125px; }
#popup-form-updates .form .short-field input { width: 75px; }

#popup-form-updates .form .short-field .submit { margin-top: 15px; }

.field-err-msg { color: #D90124; font-size: 10px; margin: 10px 0 0 0; }