/* $Id: layout.css 40543 2015-02-18 14:54:27Z angela.li $ */

/* @group Shortcuts */
 
.fl {float:left}
.fr {float:right}
.br {margin-bottom:20px;}
.clr {clear:both}
.clrfix {clear:both;height:0;width:0;min-height:0;visibility:hidden;overflow:hidden;display:block;}
.dn {display:none;}
.di {display:inline}
.db {display:block}
.dib {display: inline-block;}
.hand {cursor:pointer}
.zne {z-index: -1 !important;}
.zi {z-index:1 !important;}
.z2 {z-index:2 !important;}
.z3 {z-index:3 !important;}
.rel {position:relative !important;}
.abs {position:absolute !important;}
.tac {text-align:center;}
.vam {vertical-align:middle;}
.nb {border:0 !important;}
.nbg { background: none !important; }
.np {padding:0 !important;}
.npl{padding-left:0 !important;}
.npr{padding-right:0 !important;}
.nm {margin:0 !important;}
.nmt {margin-top: 0 !important;}
.nmb {margin-bottom: 0 !important; }
.nbac {background:none !important;}
.top_margin {margin-top:20px !important;}
.bottom_margin {margin-bottom:20px !important;}
.top_bottom_margin {margin:20px 0 !important;}
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb30 {margin-bottom: 30px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.fbold { font-weight: bold; }
ul.tight{margin-bottom:8px !important;}

input.field-error, select.field-error, textarea.field-error { background-color: #fbe5e9; }

.field-err-msg { padding-top: 3px; font-size: 10px; color: red; }

/* @end */
/* @group Tags */

html { display: none; background: #f2f2f2 center top; }
.cufon {}
cufon {}
html.cufon-ready { display: block; }
* + html { display: block; }
* html { display: block; }
object { display:block ; }
/* @end */


body {background:#f2f2f2 center top; width: auto; font-family:verdana, sans-serif !important; font-size:12px; }
a { text-decoration: none; color: #0d9be4; }
p a:hover { border-bottom: 1px dotted #0d9be4; padding-bottom: 3px; }
.dropout-heading a:hover { border-bottom: 1px dotted #0d9be4; padding-bottom: 3px; }
a .text { padding-bottom: 3px; }
a .text:hover { border-bottom: 1px dotted #0d9be4; }

p {color:#424242;font-size:11px;line-height:16px;margin-bottom: 20px; }
p.mid { font-size: 14px; line-height: 24px; }
.grouped { margin-bottom: 20px; }
.grouped p { margin-bottom: 10px; }
.grouped p.large{margin-bottom:11px;}
.grouped { margin-bottom: 20px; }
p.large {color:#424242;font-size:16px;line-height:22px;margin-bottom:16px;}
p.heading{font-size:11px; color:#424242; font-weight:bold; padding-bottom:8px; margin-bottom: 0; }
p.heading_large{font-size:12px; color:#1b1b1b; font-weight:bold; margin-bottom: 0; padding-bottom:10px;}
h1, .h1 {color:#151515;font-size:38px;font-weight:bold;text-transform:uppercase;margin-bottom:20px; line-height:34px; font-family:verdana, arial, sans-serif;}
h1 span, .h1 span {color:#b7b7b7;}
h2 {color:#e72530;font-weight:bold;font-size:18px;padding-bottom:12px; line-height:24px;}
h2.small {color:#e72530;font-weight:bold;font-size:12px;padding-bottom:4px; line-height:18px; font-family:verdana, sans-serif;}
h2.alt{color:#151515;}
h3{font-weight:bold; font-size:12px; color:#1b1b1b; font-family:verdana, sans-serif; margin-bottom:10px;}
h4 {color:#e72530;font-weight:bold;font-size:22px;padding-bottom:20px; line-height:18px; text-transform:uppercase;}
h4 span{position:relative; top:-8px; display:block; height:20px; margin-top:4px;}
p sup, li sup { font-size: 8px; position: relative; top: 3px; }
p.large sup { font-size: 9px; top: 2px; }
.small-sub-heading{font-size:12px; color:#696969; text-transform:uppercase;}
.notes {font-size:10px; line-height:16px;color:#696969;padding-bottom:24px; font-family:verdana, arial, sans-serif;}
.disclaimer{}
.disclaimer p { color: #696969; font-size: 10px; }

/* @end */
/* @group Buttons */

a.btn{text-decoration:none; color:white;font-size:12px;line-height:13px;text-transform:uppercase;overflow:hidden;cursor: pointer; width:auto; border-bottom: 0 !important; }
a.btn span{min-width: 0; display:inline-block; height:19px;padding:4px 12px 0 0;margin-left:12px;line-height:1;overflow:hidden;}
a.btn:hover, a.btn-hover {background-position: 0 -27px !important;}
a.btn:hover span, a.btn-hover span { background-position: right -27px !important;}

a.primary{background:url(../../img/layout/btn_primary_left.gif) left top no-repeat;display:inline-block; height:26px; padding:0 0 0 12px;}
a.primary span {background:url(../../img/layout/btn_primary_right.gif) right top no-repeat;float:left; display:inline;margin:0px; padding:5px 12px 2px 0px; white-space:nowrap;}

a.primary-png{background:url(../../img/layout/btn_primary_left.png) left top no-repeat;display:inline-block; height:26px; padding:0 0 0 12px;}
a.primary-png span{background:url(../../img/layout/btn_primary_right.png) right top no-repeat;float:left; display:inline;margin:0px; padding:6px 12px 2px 0px; white-space:nowrap;}

a.secondary {background:url(../../img/layout/btn_secondary_left.png) left top no-repeat;display:inline-block; height:26px ; padding:0 0 0 12px;}
a.secondary span {background:url(../../img/layout/btn_secondary_right.gif) right top no-repeat; float:left; display:inline; margin:0px; padding:5px 12px 2px 0px; white-space:nowrap;}
a.secondary span.enlarge{background:url(../../img/layout/btn_secondary_right_enlarge.gif) right 0 no-repeat; padding:5px 28px 2px 0;}
a.btn-audio span {background:url(../../img/layout/btn_secondary_right_audio.gif) right 0 no-repeat; padding:5px 28px 2px 0;}
a.btn-audio-playing { background:url(../../img/layout/btn_primary_left.gif) left top no-repeat; }
a.btn-audio-playing span { background-image: url(../../img/layout/btn_secondary_right_audio_alt.gif); }

a.secondary_large { background: url(../../img/layout/btn_secondary_left_large.png) left top no-repeat; display: inline-block; font-size: 14px; font-weight: bold; height: 42px; padding: 0 0 0 12px; text-transform: uppercase;width: auto;line-height: 1;overflow: hidden;}
a.secondary_large span { background: url(../../img/layout/btn_secondary_right_large.png) right top no-repeat; display: inline-block; height: 36px; margin: 0px; padding: 4px 12px 2px 0px; white-space: nowrap;overflow: hidden;cursor: pointer;}

a.secondary_large:hover { background-position: left -42px !important; }
a.secondary_large:hover span { background-position: right -42px !important; }

a.btn_large {width:222px; font-weight: bold; cursor:pointer; display: inline-block; text-decoration: none; color: white; font-size: 14px; line-height: 1; text-transform: uppercase; overflow: hidden; height: 42px !important; background: url(../../img/layout/btn_brochure.png) left top no-repeat transparent; padding: 0;}
a.btn_large:hover, a.btn_large_hover { background-position: left -41px; }
a.btn_large span.updates,
a.btn_large span.downloads{padding:0; position:relative; top:-10px; padding-left:5px;}

a.btn_large span.multiline { width: 145px; text-align: left; top: -3px !important; }

a.btn_large span{display:inline-block !important;}
a.btn_large span img{margin-top:6px;}

a.btn-help { background: url("../../img/layout/btn_question.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; vertical-align: middle; width: 16px; cursor: pointer; }
a.btn-help:hover { background: url("../../img/layout/btn_question.png") no-repeat scroll -24px 0 transparent; }

a.dl-icon{background:url(../../img/layout/dl_icon.gif) 0 0 no-repeat; padding-left:30px; height:20px; padding-top:2px; display:block;}
a.dl-icon:hover{border:none;}

a.refresh{background:url(../../img/layout/refresh_icon.png) 0 -16px no-repeat !important; padding-left:20px; padding-bottom:4px; padding-top:1px; font-size:11px;}
a.refresh:hover{background-position:0 0 !important;}

/* @end */
/* @group Structure */

.wrapper {width:1000px;background:url(../../img/layout/bg_wrapper_col4.png) repeat-y center top transparent; margin:0 auto 20px; }
.wrapper_top_cap { overflow: hidden; }
.wrapper_bottom_cap { overflow: hidden; }
.wrapper_homepage {width:1000px;background:url(../../img/layout/bg_wrapper_col4.png) repeat-y center top;margin:0 auto;}
.iframe_wrapper { overflow: hidden; width: 986px;}
.iframe_column_right { overflow: hidden; width: 645px; text-align:left; }
.wrapper_overlay { position: relative; z-index: 0; }
.wrapper_empty{width:980px; margin:0 auto;background:#fff;}
.wrapper_columns {width:984px; margin:0 auto 15px; background:none;}
.wrapper_extended {width:1000px;background:url(../../img/layout/bg_wrapper_col4.png) 7px 0px repeat-y;margin:0 auto 20px;}
.container {width:980px;margin:0 auto;}
.inner_container {padding:9px 20px 13px;}
.inner_container_civic_hybrid {padding:9px 20px 5px; background:url(../../img/layout/civic_hybrid_overlay_footer.gif) top left no-repeat;}
.inner_container_cr-v {padding:9px 20px 5px; background:url(../../img/layout/crv_image_overlay.gif) right 69px no-repeat;}
.content_container {padding:18px 30px 28px;}

.top-container .content_container { margin-bottom: 0; padding-bottom: 0; }

.bottom-container { background: #F4F4F4; border-top: 1px solid #DEDEDE; position: relative; }
.bottom-container .content_container { padding-bottom: 22px; padding-top: 0; }
* + html .bottom-container .content_container { padding-bottom: 21px; }

.wrapper_overlay .wrapper { /* z-index: -2; */}
.wrapper_overlay .cap_bottom_default { z-index: -2; }

.wide_three_column li { width: 308px; margin-left: 13px; }
.wide_three_column li.first { margin-left: 0; }
.wide_three_column li.clr { display: block; width: 0; height: 0; }
.wide_three_column li img { margin-bottom: 10px; }
.wide_three_column li p a { display: block; margin-top: 3px; }
.wide_three_column li p a:last-child { text-decoration: none; border-bottom: 0; }
.wide_three_column .cap { background: url(../../img/layout/cap_top_wide_three_column.gif) no-repeat left top transparent; width: auto; height: 4px; }
.wide_three_column .cap_bottom { background-image: url(../../img/layout/cap_bottom_wide_three_column.gif); }
.wide_three_column .form_item { margin: 0; padding: 0 0 14px; width: 200px; }
.wide_three_column .form_item .input_box { margin-top: 0; }
.wide_three_column label { font-size: 11px; color: #333333;}
.wide_three_column label.head { font-size: 14px; font-weight: bold; font-size: 13px;}

.content_section{border-top:1px solid #dedede; padding-top:20px; margin-top:20px;}
.content_section_dotted{background: url(../../img/layout/content_section_dotted.gif) 0 0 repeat-x; zoom: 1; padding-top:23px; margin:0;}
.content_section_milestones{border-top:1px solid #dedede; padding-top:23px; margin-top:23px;}
.content_section h3 { line-height: 17px; }
.content_container .image_right { margin-left: 25px; }
.content_container .image_left { margin-right: 25px; }
.content_container .passage_right { width: 485px; }
.first_section{margin:0; padding:0; border:0;}
.content_subsection{margin-top:20px;}
.content_subsection .inner_three_column {margin-top:0;}
.first{margin-top:0;}

.sub_section_dotted {background: url(../../img/layout/content_section_dotted.gif) 0 0 repeat-x; zoom: 1; padding-top:23px; margin:0;}

.top_buttons { margin-top: 10px; }

.img_rounded_corners{width:340px; height:205px; background:url(../../img/layout/img_rounded_corners.png) 0 0 no-repeat;}

dl.inner-three-col{}
dl.inner-three-col dd{width:200px; margin-left:26px;}
dl.inner-three-col dd.first{margin-left:0;}

.single-col-4 .first{margin-left:0 !important;}
.single-col-4 .item-outer{display:inline-block; width:200px; margin-left:35px; vertical-align:top;}

.single-col-5 .first{margin-left:0 !important;}
.single-col-5 .item-outer{display:inline-block; width:150px; margin-left:38px; vertical-align:top;}

/* @end */
/* @group Headers */

.flex_bar { margin-bottom: 10px; padding: 0 0 0 12px; font-size: 15px; color: #E72530; font-weight: bold; background: url(../../img/layout/h2_bar_left.gif) left top no-repeat; }
.flex_bar select { text-transform: none; }
.flex_bar span { text-transform: uppercase; padding: 7px 12px 7px 0; display: block; background: url(../../img/layout/h2_bar_right.gif) right top no-repeat; vertical-align: middle; }
.flex_bar span .open { display: inline-block; padding: 1px 12px 6px 28px; font-size:12px; background: url(../../img/layout/h2_bar_arrow_open.png) 0 0 no-repeat; color: #E72530; height:12px;}
.flex_bar span a { display: block; height: 20px; line-height: 15px; padding-left: 28px; background: url(../../img/layout/h2_bar_arrow_normal.png) 0 0 no-repeat; color: #E72530; }
.flex_bar span a:hover { border-bottom: none; background-image: url(../../img/layout/h2_bar_arrow_active_open.png); }
.flex_bar span a.commonlib-collapsible-active { background-image: url(../../img/layout/h2_bar_arrow_open.png); }
.flex_bar span a.commonlib-collapsible-hover { background-image: url(../../img/layout/h2_bar_arrow_active.png); }
.flex_bar span a.commonlib-collapsible-hover.commonlib-collapsible-active { background-image: url(../../img/layout/h2_bar_arrow_active_open.png); }

.flex_bar_large { background-image: url("/_Global/img/layout/h2_bar_left_large.gif"); }
.flex_bar_large span { background-image: url("/_Global/img/layout/h2_bar_right_large.gif"); }
.flex_bar_large span a { height: 36px; }

.commonlib-collapsible-hover .flex_bar span a { background-image: url(../../img/layout/h2_bar_arrow_active.png); }
.commonlib-collapsible-active .flex_bar span a { background-image: url(../../img/layout/h2_bar_arrow_open.png); }
.commonlib-collapsible-hover.commonlib-collapsible-active .flex_bar span a { background-image: url(../../img/layout/h2_bar_arrow_active_open.png); }

.flex_bar_alt { margin-bottom: 10px; padding: 0 0 0 12px; height: 31px; font-weight: bold; background: url(../../img/layout/h2_bar_left.gif) left top no-repeat; }
.flex_bar_alt select { text-transform: none; }
.flex_bar_alt span { padding: 6px 12px 6px 0; line-height:17px; height: 19px; display: block; background: url(../../img/layout/h2_bar_right.gif) right top no-repeat; vertical-align: middle; }
.flex_bar_alt span a{font-size:11px; color:#0d9be4; font-weight:normal; display:inline-block; padding:0 0 0 20px; background-position:0 1px; margin-top:3px;}

.sub_content{padding-top:5px;}

/* @end */
/* @group Navigation Dropdowns */

#header, #home_header {padding:0 25px 10px;width:950px;}
#language {width: auto; height:29px;padding-right:10px; padding-top:15px;}
#language a {display:block;color:#8f8f8f;font-size:13px; padding-bottom:2px;}
#language a:hover{color:#424242;}
#language li{border-right:1px solid #dedede; padding-right:7px; padding-left:7px;}
#language li.first{border:0; padding-right:0;}

#logo, .header_logo {margin-left:10px;display:block;width:89px;height:56px;text-decoration:none;background:url(../../img/layout/honda_logo.gif) 0 11px no-repeat;}

#search {position:relative;background:url(../../img/layout/bg_search_field.gif) no-repeat;width:174px;height:25px;}
#search input {margin:5px 4px 4px 10px;width:135px;border:0;outline:none;color:#333;font-size:11px;background:transparent; -webkit-appearance: textfield; -moz-apperance: textfield; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
#search .clear {position:absolute;top:4px;right:4px;width:15px;height:15px;/*background:url(../../img/layout/icon_close.gif) no-repeat;*/}

#sub_header {height:26px;width:800px;padding:30px 7px 0 0;}

#main_menu { margin-top: 19px; }
#primary_nav {background:url("../../img/layout/bg_primary_navigation.gif");position:relative;height:42px;width:950px;margin:0;list-style-type:none;list-style-position:outside;overflow:hidden;}
#primary_nav li { background:url(../../img/layout/bg_primary_navigation.gif) -7px top no-repeat;height:42px; text-align:center;}
#primary_nav li.alternate {background:url(../../img/layout/primary_nav_alternate.gif) 0 0 repeat-x;height:40px;}
#primary_nav li.first {background-position:left top;}
#primary_nav li.last a {background:url(../../img/layout/primary_nav_red.png) 100% 0 no-repeat; color:#fff; }
#primary_nav li.last a:hover{background-position:100% -42px;}
#primary_nav li a.last_separator{display:block;padding:13px 16px 13px 16px;text-decoration:none;font-weight:bold;text-transform:uppercase;font-size:14px;color:white;background:url(../../img/layout/primary_nav_last_divider.gif) right top no-repeat;}
#primary_nav li a.full_separator{display:block;padding:13px 16px 13px 16px;text-decoration:none;font-weight:bold;text-transform:uppercase;font-size:14px;color:white;background:url(../../img/layout/pn_separator_full.png) right top no-repeat;}
#primary_nav li a {display:block;padding:13px 16px 10px 16px; line-height:15px; text-decoration:none;font-weight:bold;text-transform:uppercase;font-size:14px;color:white;background:url(../../img/layout/pn_separator.png) right 5px no-repeat;}
#primary_nav li.clr {background:none;}
#primary_nav li a:hover {color:#b6b6b6;}
#primary_nav li.first:hover {}
/*#primary_nav li.last:hover {background-position:right bottom;}*/
#primary_nav li.last a:hover {color:#fff;}
#primary_nav li a.multiline {padding:9px 16px 3px 16px; line-height:10px;}
#primary_nav li.last a{padding-left:0; padding-right:0; padding-bottom: 11px;}

* html #primary_nav li.last a { padding-bottom: 0;}

#secondary_nav {margin-top:7px; margin-right:5px;}
#secondary_nav li {white-space: nowrap;}
#secondary_nav li a {border-left:1px solid #d6d6d6; color: #8f8f8f; display: inline-block; font-family:arial, sans-serif; padding:0 8px !important;font-size:13px;text-transform:uppercase; text-align: center; /*height:12px; display:inline;*/}
#secondary_nav li a:hover {color:#e72530;}
#secondary_nav li.first a {border-left:none;}
* html #secondary_nav li {font-weight:bold;}
* + html #secondary_nav li {font-weight:bold;}

#left_nav {display:block;margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;}
#left_nav li, .left_nav li {display:block;padding:0 5px 0; border-top:1px solid #d6d6d6;height:38px;margin:0 5px;}
#left_nav li.first, .left_nav li.first {border:0px;}
#left_nav li a, .left_nav li a, .left_nav .dropdown_button a {display:block;color:#151515; font-size:11px; font-weight:bold;padding-top: 13px;padding-bottom:2px;}
#left_nav li a:hover, #left_nav li a.hover, .left_nav li a:hover, .left_nav li a.hover, .left_nav .dropdown_button_right a.hover {color:#d90124;}
#left_nav li.selected, .left_nav li.selected {background:transparent url(../../img/layout/bg_left_nav_on.gif) left top no-repeat; border:0; position:relative; top:3px; margin:0; padding-left:10px;}
#left_nav li.selected a, .left_nav li.selected a {color:#d90124;}

.left_nav .dropdown_button a { padding-left: 0px; }
.left_nav .dropdown_button_right { padding-top: 5px; padding-left: 4px;}
.left_nav .second_nav li { display: inline; padding: 0; border-top: 0; height: auto; margin: auto; }
.left_nav .second_nav li a { display: block; color: #151515; font-size: 11px; line-height: 16px; padding: 11px 0; background: url(../../img/layout/bg_menu_border.gif) left top repeat-x transparent; font-weight: normal; }
.left_nav .second_nav li.first a { background-image: none; padding-top: 0; }
.left_nav .second_nav li.last a { padding-bottom: 0; }
.left_nav .second_nav li a:hover { color: #d90124; }
.left_nav .second_nav li.selected a { color: #d90124; }

.large-inner-menu{}
.large-inner-menu li{height:48px; border-left:1px solid #fcfcfc; border-right:1px solid #c5c5c5; text-align:center; background:url(../../img/layout/large_sub_menu_bg.png) 0 0 repeat-x;}
.large-inner-menu li.first{border-left:0; background:url(../../img/layout/large_sub_menu_bg_left.png) left 0 repeat-x;}
.large-inner-menu li.last{border-right:0; background:url(../../img/layout/large_sub_menu_bg_right.png) right 0 repeat-x;}
.large-inner-menu li a{font-size:11px; color:#666666; text-transform:uppercase; display:block; height:34px; padding-top:13px; line-height:0; font-weight:bold;}
.large-inner-menu li a:hover{color:#e72530;}
.large-inner-menu li.active{background-position:0 -48px;}
.large-inner-menu li.last.active{background-position:right -48px;}
.large-inner-menu li.active a{color:#fff;}

/* @end */
/* @group primary nav dropdowns */

.car_box { z-index: 700; width: 961px; position: absolute; }
.car_box .dropdown_button { float: left; display: inline-block; height: 47px; width: auto; position: relative; top: -57px; z-index: 800; background: url(../../img/layout/btn_car_overlay_button_leftmost.png) left top no-repeat transparent; padding-left: 12px; margin-left:6px; overflow: hidden; }
.car_box .dropdown_button_right { height: 64px; display: inline-block; background: url(../../img/layout/btn_car_overlay_button_right.png) right top no-repeat transparent; padding-right: 13px; }
.car_box .dropdown_button_right a { display: inline-block; color: #d90124; font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 12px 0 13px 0; text-align: center; }
.car_box .dropdown_button_right a.multiline { padding: 8px 2px 13px; line-height: 10px; }
.car_box .dropdown_button_right a:hover { color: #d90124; }
.car_box .dropdown_content { float: left; left:6px; width: 961px; position: relative; z-index: 700; top: -61px; }
.car_box .dropdown_content_top { height: 9px; width: 955px; background: url(../../img/layout/btn_car_overlay_top_alt.png) right top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }
.car_box .dropdown_content_mid { background:url(../../img/layout/btn_car_overlay_mid.png) left top repeat-y transparent; padding: 4px 4px 0; width: 940px; margin: 0;}
.car_box .dropdown_content_bottom { width: 951px; height: 11px; background: url(../../img/layout/btn_car_grey_overlay_bottom.png) no-repeat scroll left top transparent; margin: 0; padding: 0; overflow: hidden; }

.truck_box .dropdown_button_right a { display: inline-block; color: #d90124; font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 12px 0 13px 3px; } /* This is needed for all inner dropdown tabs to give the left hand side some padding */
.truck_box .dropdown_content { float: left; left:13px; width: 961px; position: relative; z-index: 800; top: -76px; }

.truck_box .dropdown_button { background: url(../../img/layout/btn_car_overlay_button_left.png) left top no-repeat transparent; }
.hybrid_box .dropdown_button { background: url(../../img/layout/btn_car_overlay_button_left.png) left top no-repeat transparent; }
.truck_box .dropdown_content_top, .hybrid_box .dropdown_content_top { background-image: url(../../img/layout/btn_car_overlay_top.png); }

.cars_list_container span.vehicle_btn,
.hybrids_list_container span.vehicle_btn,
.trucks_list_container span.vehicle_btn{margin-bottom:25px !important; padding:0 7px;}
.cars_list_container .vehicle_list,
.hybrids_list_container .vehicle_list,
.trucks_list_container .vehicle_list{text-align:center;}
.cars_list_container .vehicle_list .vehicle_btn,
.hybrids_list_container .vehicle_list .vehicle_btn,
.trucks_list_container .vehicle_list .vehicle_btn{width:165px; display:inline-block; margin:0 auto;}

.shopping_box { z-index: 700; width: 369px; position: absolute; }
.shopping_box .dropdown_button { display: inline-block; position: relative; background: url(../../img/layout/btn_car_overlay_button_left.png) no-repeat left top transparent; height: 59px; top: -59px; padding-left: 12px; right: 2px; float: right; z-index: 800; }
.shopping_box .dropdown_button_right { display: inline-block; background: url(../../img/layout/btn_car_overlay_button_rightmost.png) no-repeat right top transparent; height: 64px; padding-right: 12px; }
.shopping_box .dropdown_button_right a { text-align: center; display: inline-block; color: #d90124; font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 12px 0 13px 2px; }
.shopping_box .dropdown_button_right a:hover { color: #d90124; }
.shopping_box .dropdown_content { float: right; width: 369px; position: relative; z-index: 700; top: -73px; }
.shopping_box .dropdown_content_top { height: 9px; width: 366px; background: url(../../img/layout/btn_shopping_overlay_top.png) 1px top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }

.shopping_box .dropdown_content_mid { width: 336px; padding: 13px 15px 2px; background: url(../../img/layout/btn_shopping_overlay_mid.png) left top repeat-y transparent; margin: 0; }
.shopping_box .dropdown_content_bottom { width: 366px; height: 11px; background: url(../../img/layout/btn_shopping_overlay_bottom.png) left top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }

/* @end */
/* @group navigation drop down menu */

.navigation-dropdown .first_section { position: relative; top: -9px; }

.navigation-dropdown .content_section { overflow: hidden; }
.navigation-dropdown .content_section .right-boxes { border-left: 1px solid #DEDEDE; width: 695px; height: 381px; }
.navigation-dropdown .content_section .right-boxes .subview { padding-bottom: 15px; }
.navigation-dropdown .content_section .why-buy { height: 361px; padding: 20px 25px 0; width: 184px; }
.navigation-dropdown .content_section .series { height: 366px; padding: 11px 9px 0 15px; position: relative; width: 210px; }
.navigation-dropdown .content_section .products { border-left: 1px solid #DEDEDE; float: left; width: 460px; height: 381px; }
.navigation-dropdown .content_section .products .subview {  padding: 0 25px 15px 15px; position: absolute; }
.navigation-dropdown .content_section .one-col .products { border-left: none; float: none; width: 100%; }
.navigation-dropdown .content_section .why-buy{background: url("../../img/layout/dropdown_blank_tile.png") no-repeat scroll top left transparent;}

.navigation-dropdown .content_section .why-buy .heading { background: url("../../img/content/landing/dotted_dark_grey_border_h.gif") repeat-x scroll left bottom transparent; color: #FFFFFF; font-size: 21px; font-weight: bold; line-height: 16px; margin-bottom: 12px; padding-bottom: 15px; text-align: left; text-transform: uppercase; }
.navigation-dropdown .content_section .why-buy .content { margin-bottom: 12px; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/landing/dotted_dark_grey_border_h.gif") repeat-x scroll left bottom transparent; font-size: 11px; margin-bottom: 0; padding-bottom: 15px; }
.navigation-dropdown .content_section .why-buy .button a { color: #FFFFFF; font-size: 11px; }
.navigation-dropdown .content_section .why-buy .button a .text:hover{border-bottom:0;}
.navigation-dropdown .content_section .why-buy .button span { display: block; float: left; }
.navigation-dropdown .content_section .why-buy .button .text { line-height: 19px; padding-right: 10px; }
/*.navigation-dropdown .content_section .why-buy .button .image { background: url("../../img/content/landing/circle_arrow_l.png") no-repeat scroll left top transparent; height: 24px; width: 24px; } */
.navigation-dropdown .content_section .why-buy .button a .image { background: url("../../img/layout/arrow_circle_right.png") no-repeat scroll left top transparent; height: 22px; width: 22px; }
.navigation-dropdown .content_section .why-buy .button a:hover .image { background-position: 0 -22px; }

.navigation-dropdown .generator .content_section .why-buy .button a { color: #726E6E !important; }

.navigation-dropdown .see-all { border-bottom: 1px solid #DEDEDE; }
.navigation-dropdown .see-all p { font-size: 11px !important; margin-bottom: 11px !important; padding-bottom: 0px !important; }
.navigation-dropdown .see-all p a:hover { background: url("../../img/content/landing/dotted_blue_border_h.gif") repeat-x scroll left bottom; border: 0; padding-bottom: 3px; }


.navigation-dropdown .one-col .see-all { padding: 6px 0; }
.navigation-dropdown .one-col .see-all p { margin-bottom: 0 !important; }

.navigation-dropdown .series .series-item { border-bottom: 1px solid #DEDEDE; cursor: pointer; min-height: 82px; position: relative; }
.navigation-dropdown .series .series-item:last-child { border-bottom: 0; }
.navigation-dropdown .series .series-item .heading { color: #1B1B1B; font-size: 11px; font-weight: bold; margin-bottom: 8px; padding-top: 12px; text-align: left; }
.navigation-dropdown .series .series-item p { font-size: 10px; letter-spacing: -0.1em; line-height: 15px; margin-bottom: 0; padding-bottom: 6px !important; }

.navigation-dropdown .series-popup .series-item { background: url("../../img/content/landing/item_selected.png") no-repeat scroll left top transparent; cursor: pointer; height: 80px; left: -22px; padding: 14px 28px 0 22px; position: relative; top: -2px; width: 210px; z-index: 1000; }
.navigation-dropdown .series-popup .series-item .heading { color: #E72530; font-size: 11px; font-weight: bold; margin-bottom: 8px; text-align: left; }
.navigation-dropdown .series-popup .series-item p { color: #E72530; font-size: 10px !important; letter-spacing: -0.1em; line-height: 15px !important; margin-bottom: 0 !important; padding-bottom: 0px !important; width: 210px; }

.navigation-dropdown .product-item { border-bottom: 1px solid #DEDEDE; min-height: 85px; padding: 15px 0; }
.navigation-dropdown .product-item:last-child { border-bottom: 0; }

.navigation-dropdown .product-item .image { height: 85px; width: 85px; }

.navigation-dropdown .product-item .product-copy { margin-left: 20px; width: 185px; }
.navigation-dropdown .one-col .product-item .product-copy { width: 375px; }
.navigation-dropdown .product-item .heading { font-size: 16px; font-weight: bold; line-height: 13px; text-align: left; }
.navigation-dropdown .product-item .heading a { color: #545454; }
.navigation-dropdown .product-item p { font-size: 10px !important; line-height: 15px !important; margin: 0 !important; padding: 0 !important; }

.navigation-dropdown .product-item .product-pricing { width: 130px; text-align: right; }
.navigation-dropdown .product-item .product-pricing .price-heading { color: #7C7C7C; font-size: 10px; text-align: right; text-transform: uppercase; }
.navigation-dropdown .product-item .product-pricing .price { text-align: right; }

.navigation-dropdown .product-item .product-pricing .small-price span { display: block; }
.navigation-dropdown del:before { top: 12px !important; }
.navigation-dropdown .strike { top: 12px !important; }
.navigation-dropdown .product-item .product-pricing .small-price .price { color: #696969; font-size: 18px; line-height: 15px; position: relative; z-index: 0; }
.navigation-dropdown .product-item .product-pricing .small-price .coming-soon { text-align: right; font-size: 16px; color: #000; }

.navigation-dropdown .right-boxes .ldr { width: 450px; float: left; }

.navigation-dropdown .product-item .product-pricing .large-price { display: block; height: 56px; }
.navigation-dropdown .product-item .product-pricing .large-price span { display: block; position: relative; top: -4px; }
.navigation-dropdown .product-item .product-pricing .large-price .price { color: #1B1B1B; font-size: 40px; line-height: 18px; position: relative; top: -14px; letter-spacing:-2px; }
.navigation-dropdown .product-item .product-pricing .large-price .price sup { font-size: 24px; position: relative; top: 10px; margin-right:2px; }

.navigation-dropdown .buttons a.btn { text-transform: none; }

.car_box .target-ctr { height: 372px; }
.car_box .nav-ddctr { height: 438px; }
.car_box .right-boxes .commonlib-scrollview-pane-v { height: 357px; }
.car_box .right-boxes .commonlib-scrollview-pane-v .commonlib-scrollview-pane-inner { height: 353px; }
.car_box .right-boxes .commonlib-scrollview-pane-h { display: none; }

.car_box .footer_section { background-color: #F4F4F4; text-align: right; padding: 7px 10px 0 0; height: 64px; margin-top: 0; }

.car_box .footer_section .copy { margin-right: 10px; text-align: right; }
.car_box .footer_section .copy p { color: #696969; font-size: 11px !important; line-height: 30px !important; margin-bottom: 0 !important; }

* html .buttons { width: 390px; }
* + html .buttons { width: 390px; }

.car_box .footer_section .btn { float: right; margin-top: 3px; }
.car_box .footer_section .divider { background: url("../../img/content/landing/dotted_grey_border_v.gif") repeat-y scroll top left transparent; float: right; height: 32px; margin-left: 9px; padding-left: 9px; width: 1px; }
.car_box .footer_section .first { border: none; }

/* ie 6 & 7 styles */
* + html .navigation-dropdown .product-item .product-pricing .small-price del > * { top: 12px; }
*   html .navigation-dropdown .product-item .product-pricing .small-price del * { top: 10px; }

/* @end */
/* @group sub menu alternate */

ul.sub-menu-alt{ display: inline-block; margin-bottom: 14px; }
ul.sub-menu-alt li{ background: url(../../img/layout/sub_menu_alt_spacer.gif) 0 center no-repeat; display: inline-block; margin-left: 12px; padding: 0 0 10px 12px;}
ul.sub-menu-alt li a{ color: #7c7c7c; font-size: 14px; font-weight: bold; text-transform: uppercase; }
ul.sub-menu-alt li a.active,
ul.sub-menu-alt li a:hover{ color: #E72530; }
ul.sub-menu-alt li.first{ background: none; margin-left: 0; padding-left: 0; }

/* @end */
/* @group shopping tools */

.shopping_list_container dl { width: 165px; }
.shopping_list_container dd { font-size: 13px; margin: 10px 0 0 0; padding: 10px 0 0 40px; background-position: left 10px; background-repeat:no-repeat; line-height: auto; height: 32px; border-top: 1px solid #dadada; position: static; }
.shopping_list_container dd.first { margin-top: 0; border-top: 0; padding-top: 0; background-position: left top; }
.shopping_list_container dd.compare-models { background-image: url(../../img/layout/icon_st_compare_models.gif); }
.shopping_list_container dd.help-me-choose { background-image: url(../../img/layout/icon_st_help_me_choose.gif); }
.shopping_list_container dd.news-events { background: url(../../img/layout/icon_st_news_events.gif) left 14px no-repeat;}
.shopping_list_container dd.accessories { background-image: url(../../img/layout/icon_st_accessories.gif); }
.shopping_list_container dd.parts-service { background: url(../../img/layout/icon_st_parts_service.gif) left 13px no-repeat; }
.shopping_list_container dd.find_a_dealer { background-image: url(../../img/layout/icon_st_find_dealer.gif); }
.shopping_list_container dd.lease-finance { background: url(../../img/layout/icon_st_finance.gif) left 12px no-repeat; }
.shopping_list_container dd.special-offers { background-image: url(../../img/layout/icon_st_special_offers.gif); }
.shopping_list_container dd.commercial-products { background-image: url(../../img/layout/icon_st_commercial_products.gif); }
.shopping_list_container dd.events { background-image: url(../../img/layout/icon_events.gif); }
.shopping_list_container dd.gear-apparel { background: url(../../img/layout/icon_gear_apparel.gif) left 13px no-repeat; }
.shopping_list_container dd.build-honda { background-image: url(../../img/layout/icon_build_your_honda.gif); }
.shopping_list_container dd a { display: table-cell; vertical-align: middle; color: #7c7c7c; margin: 0; height: 40px; width: 130px; padding: 0 0 0 0; background-image: none; text-transform: uppercase; }

.shopping_list_container dd.compare-models a:hover{color:#e72530;}
.shopping_list_container dd.help-me-choose a:hover{color:#e72530;}
.shopping_list_container dd.news-events a:hover{color:#e72530;}
.shopping_list_container dd.accessories a:hover{color:#8f8f8f;}
.shopping_list_container dd.parts-service a:hover{color:#8f8f8f;}
.shopping_list_container dd.find_a_dealer a:hover{color:#9acf5b;}
.shopping_list_container dd.lease-finance a:hover{color:#e72530;}
.shopping_list_container dd.special-offers a:hover{color:#ffc343;}
.shopping_list_container dd.commercial-products a:hover{color:#ffa943;}
.shopping_list_container dd.gear-apparel a:hover{color:#E72530;}
.shopping_list_container dd.build-honda a:hover{color:#E72530;}

/* For IEs */
.shopping_list_container dd.compare-models a.hover{color:#e72530;}
.shopping_list_container dd.help-me-choose a.hover{color:#e72530;}
.shopping_list_container dd.news-events a.hover{color:#e72530;}
.shopping_list_container dd.accessories a.hover{color:#8f8f8f;}
.shopping_list_container dd.parts-service a.hover{color:#8f8f8f;}
.shopping_list_container dd.find_a_dealer a.hover{color:#9acf5b;}
.shopping_list_container dd.lease-finance a.hover{color:#e72530;}
.shopping_list_container dd.special-offers a.hover{color:#ffc343;}
.shopping_list_container dd.commercial-products a.hover{color:#ffa943;}
.shopping_list_container dd.gear-apparel a.hover{color:#E72530;}
.shopping_list_container dd.build-honda a.hover{color:#E72530;}

.shopping_list_container dd cufon { top: -3px; }

.dropdown_msrp{font-size:8px; color:#696969; font-family: Verdana, sans-serif; font-weight:normal;}

/* @end */
/* @group Field Select dropdowns */

.field-select-wrapper { padding-right: 30px; height:25px; background:url(../../img/layout/field-select.png) right -30px no-repeat; display:inline-block; cursor: pointer; text-transform: uppercase; color: #fff; font-size: 12px; overflow: hidden; }
.field-select-inner { min-width: 125px; height: 25px; background: url(../../img/layout/field-select.png) 0 0 no-repeat transparent; display: block; padding: 5px 12px 0; line-height: 1; }
.field-select-wrapper:hover{background-position:right -90px; }
.field-select-wrapper-hover{background-position:right -90px;}
.field-select-wrapper:hover .field-select-inner { background-position: 0 -60px; }
.field-select-wrapper-hover .field-select-inner { background-position: 0 -60px; }

/*
.field-select-right { z-index: 4; width: 420px; position: absolute; }
.field-select-right .dropdown_button { position: relative; float: left; z-index: 900; padding-left: 18px; margin-top: 30px; top: -38px; height: 41px; left: -8px; background: url(../../img/layout/btn_select_overlay_left.png) left top no-repeat transparent; }
.field-select-right .dropdown_button_right { padding: 8px 2px 0 0; display: inline-block; height: 41px; background: url(../../img/layout/btn_select_overlay_right.png) right top no-repeat transparent; }
.field-select-right .dropdown_button .dd_button { position: relative; left: -10px; }
.field-select-right .dropdown_content { position: relative; float: left; z-index: 800; left: -11px; top: -38px; }
.field-select-right .dropdown_content_top { background: url(../../img/layout/btn_select_overlay_top.png) left top no-repeat transparent; height: 11px; width: 188px; margin: 0; padding: 0; overflow: hidden; }
.field-select-right .dropdown_content_mid { background: url(../../img/layout/btn_select_overlay_middle.png) left top repeat-y transparent; width: 148px; padding: 9px 20px; margin: 0; }
.field-select-right .dropdown_content_bottom { background: url(../../img/layout/btn_select_overlay_bottom.png) left top no-repeat transparent; width: 188px; height: 11px; margin: 0; padding: 0; overflow: hidden; }
*/
/* @end */

/* @Button style select box // updated by mina on 11.03.16 */
.field-select-right { z-index: 4; width: 420px; position: absolute; top: 5px; left: 5px;  }
.field-select-right .dropdown_button { position: relative; float: left; z-index: 900; top: -8px; left: -10px;  height: 43px;  margin-top: 0; padding-left: 10px; background: url(../../img/layout/btn_select_overlay_left.png) left top no-repeat transparent; }
.field-select-right .dropdown_button_right { padding: 8px 2px 0 0; display: inline-block; height: 43px; background: url(../../img/layout/btn_select_overlay_right.png) right top no-repeat transparent; }
.field-select-right .dropdown_button .dd_button { position: relative;  }
.field-select-right .dropdown_content { position: relative; float: left; z-index: 800; left: -14px; top: -8px; width: 204px; }
.field-select-right .dropdown_content_top { background: url(../../img/layout/btn_select_overlay_top.png) right top no-repeat transparent; width: 204px; height: 9px; margin: 0; padding: 0; overflow: hidden; }
.field-select-right .dropdown_content_mid { background: url(../../img/layout/btn_select_overlay_middle.png) left top repeat-y transparent; width: 168px; padding: 9px 18px; margin: 0; }
.field-select-right .dropdown_content_mid dt { margin-bottom: 15px; font-weight: bold; font-size: 12px; color: #333; }
.field-select-right .dropdown_content_mid dd { padding-bottom: 6px; font-size: 11px; }
.field-select-right .dropdown_content_mid dd a:hover { border-bottom: 1px dotted #0D9BE4; }
.field-select-right .dropdown_content_bottom { background: url(../../img/layout/btn_select_overlay_bottom.png) left top no-repeat transparent; width: 204px; height: 10px; margin: 0; padding: 0; overflow: hidden; }
/* @end*/

/* @Dropdown style select box // updated by mina on 11.03.17 */
.field-select-dropdown {  z-index: 4;  width: auto;  position: absolute;  top: 5px;  left: 5px;  }
.field-select-dropdown .dropdown_button {  position: relative;  overflow: hidden; zoom: 1; z-index: 900;  top: -8px;  left: -10px; height: 42px;   margin-top: 0; padding: 0 0 0 10px; background: url(../../img/layout/btn_select_dd_overlay_button.png) left top no-repeat transparent; }
.field-select-dropdown .dropdown_button_right { padding: 8px  8px 0 0 ;  display: block; height: 34px;  background: url(../../img/layout/btn_select_dd_overlay_button_r.png) right top no-repeat transparent;  white-space: nowrap; }
.field-select-dropdown .dropdown_button .dd_button { position: relative;  display: block;}
.field-select-dropdown .dropdown_content { position: relative; z-index: 800;  width: auto;  white-space: nowrap; top: -8px; left: -10px; }
.field-select-dropdown .dropdown_content_top_l,
.field-select-dropdown .dropdown_content_top_r { display: none; margin: 0 ; padding: 0 ; } 
.field-select-dropdown .dropdown_content_mid_l { margin: 0; padding: 0 0 0 12px; display: block; zoom: 1; overflow: hidden; background: url(../../img/layout/btn_select_dd_overlay_mid_l.png) left top repeat-y transparent; }
.field-select-dropdown .dropdown_content_mid_r { background: url(../../img/layout/btn_select_dd_overlay_mid_r.png) right top repeat-y transparent; 	 padding: 3px 18px 5px 6px;  zoom: 1; margin: 0; display: block; }
.field-select-dropdown .dropdown_content_mid_r dt { display: none; }
.field-select-dropdown .dropdown_content_mid_r dd { margin-bottom: 6px; font-size: 11px; }
.field-select-dropdown .dropdown_content_mid_r dd a { color: #333; }
.field-select-dropdown .dropdown_content_bottom_l { background: url(../../img/layout/btn_select_dd_overlay_bottom.png) left top no-repeat transparent;  display: block; height: 10px;  margin: 0;  padding: 0 0 0 12px;  overflow: hidden; }
.field-select-dropdown .dropdown_content_bottom_r { background: url(../../img/layout/btn_select_dd_overlay_bottom_r.png) right top no-repeat transparent;  height: 10px; }
* + html .field-select-dropdown .dropdown_button_right .field-select-inner { width: auto; height: 25px !important; display: block; }
* html .field-select-dropdown .dropdown_button_right .field-select-inner { width: auto; height: 25px !important; display: block;  }
/* @end */

/* @group scrollview */
.commonlib-scrollview-pane { display: block; zoom: 1; }

.commonlib-scrollview-pane-v { background: url("../../img/layout/scrollbar-bg-bottom-cap.gif") no-repeat scroll left bottom transparent; display: block; height: 650px; margin: 10px 0; width: 20px; padding-bottom: 4px; }
.commonlib-scrollview-pane-v .commonlib-scrollview-pane-inner { background: url("../../img/layout/scrollbar-bg-top-cap.gif") no-repeat scroll left top transparent; display: block; height: 642px; padding: 4px 2px 0; position: relative; width: 16px; }
.commonlib-scrollview-pane-h { background: url("../../img/layout/scrollbar-bg-right-cap.gif") no-repeat scroll right top transparent; display: block; height: 20px; margin: 0 10px; width: 350px; }
.commonlib-scrollview-pane-h .commonlib-scrollview-pane-inner { background: url("../../img/layout/scrollbar-bg-left-cap.gif") no-repeat scroll left top transparent; display: block; height: 16px; position: relative; width: 342px; padding: 3px 0 1px 4px; }

.commonlib-scrollview-handle { background: url("../../img/layout/scrollview-handle.png") right top no-repeat transparent; display: block; overflow: hidden; cursor: pointer; zoom: 1; }
.commonlib-scrollview-handle-v { width: 16px; height: 50px; background-position: 0 0; }
.commonlib-scrollview-handle-v-hover { background-position: -20px 0; }
.commonlib-scrollview-handle-h { width: 50px; height: 16px; background-position: 0 -60px; }
.commonlib-scrollview-handle-h-hover { background-position: 0 -80px; }
/* @end */
/* @group Tooltips */

.tooltip_container { position: absolute; }
.btn-tooltips { cursor: pointer; }

.tooltip_container .tooltip_content_mid .tooltip_heading { color: #1B1B1B; font-weight: bold; padding-bottom: 12px; }
.tooltip_container .tooltip_content_mid p { color: #333333; font-size: 10px; margin: 0; }
.tooltip_container .tooltip_content_mid .img-wrapper { display: block; text-align: center; margin-bottom:15px; }
.tooltip_container .tooltip_content_mid .image { margin-bottom: 20px; }

.tooltip_arrow { background: none left top no-repeat transparent; height: 0; overflow: hidden; margin: 0; padding: 0; width: 0; }
.tooltip-bottom { position: absolute; z-index: 5; width: 315px; }
.tooltip-bottom .tooltip_content { position: relative; left: -42px; overflow: hidden; }
.tooltip-bottom .tooltip_content_top { width: 315px; height: 18px; overflow: hidden; background: url(../../img/layout/bg_tooltip_bottom_top.png) left top no-repeat transparent; }
.tooltip-bottom .tooltip_content_mid { width: 288px; background: url(../../img/layout/bg_tooltip_bottom_mid.png) left top repeat-y transparent; padding: 5px 13px 5px 14px; overflow: hidden; }
.tooltip-bottom .tooltip_content_bottom { width: 315px; height: 9px; overflow: hidden; background: url(../../img/layout/bg_tooltip_bottom_bottom.png) left top no-repeat transparent; }

.tooltip-right .tooltip_content { position: relative; left: 19px; top: 75px; width: 285px; z-index: 1000; padding-right:5px;}
.tooltip-right .tooltip_content p.heading{padding-bottom:2px; color:#727272;}
.tooltip-right .tooltip_content p{color:#727272; padding-bottom:10px;}
.tooltip-right .tooltip_content a{font-size:11px;}
/*.tooltip-right .tooltip_content img{margin-bottom:14px;}*/
.tooltip-right .tooltip_arrow { background: url("../../img/layout/tooltip_arrow_left.png") no-repeat scroll left top transparent; height: 28px; left: 5px; position: absolute; top: -22px; width: 18px; z-index: 1001; }
.tooltip-right .tooltip_content{top:-36px; left:14px;}
.tooltip-right .tooltip_content_top { background: url("../../img/layout/tooltip_right_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 330px; }
.tooltip-right .tooltip_content_mid { background: url("../../img/layout/tooltip_right_mid_bg.png") repeat-y scroll left top transparent; padding:11px 17px; zoom: 1; }
.tooltip-right .tooltip_content_bottom { background: url("../../img/layout/tooltip_right_bottom_cap.png") no-repeat scroll left top transparent; height: 8px; width: 330px; }

.tooltip-right-alt .tooltip_content { position: relative; left: 19px; top: -38px; width: 330px; z-index: 1000; }
.tooltip-right-alt .tooltip_arrow { background: url("../../img/layout/tooltip_alt_arrow_left.png") no-repeat scroll left top transparent; height: 28px; left: 5px; position: absolute; top: -23px; width: 18px; z-index: 1001; }
.tooltip-right-alt .tooltip_content_top { background: url("../../img/layout/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 330px; }
.tooltip-right-alt .tooltip_content_mid { background: url("../../img/layout/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 15px 25px; zoom: 1; }
.tooltip-right-alt .tooltip_content_bottom { background: url("../../img/layout/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; height: 8px; width: 330px; }
.tooltip-right-alt ul { list-style: disc inside none; margin-top: 10px; }
.tooltip-right-alt ul li { color: #333333; font-size: 10px; line-height: 14px; }

.tooltip-left-alt .tooltip_content { position: relative; right: 19px; top: -38px; width: 330px; z-index: 1000; }
.tooltip-left-alt .tooltip_arrow { background: url("../../img/layout/tooltip_alt_arrow_right.png") no-repeat scroll left top transparent; height: 28px; right: -32px; position: absolute; top: -23px; width: 18px; z-index: 1001; }
.tooltip-left-alt .tooltip_content_top { background: url("../../img/layout/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 330px; }
.tooltip-left-alt .tooltip_content_mid { background: url("../../img/layout/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 15px 25px; zoom: 1; }
.tooltip-left-alt .tooltip_content_bottom { background: url("../../img/layout/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; height: 8px; width: 330px; }

.tooltip-left .tooltip_content { position: relative; left: -12px; top: 35px; width: 288px; z-index: 1000; }
.tooltip-left .tooltip_arrow { background: url("../../img/layout/tooltip_arrow_right.png") no-repeat scroll left top transparent; height: 27px; left: 270px; top: 45px; position: absolute; width: 14px; z-index: 1001; }
.tooltip-left .tooltip_content_top { background: url("../../img/layout/tooltip_right_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 288px; }
.tooltip-left .tooltip_content_mid { background: url("../../img/layout/tooltip_right_mid_bg.png") repeat-y scroll left top transparent; padding: 10px 19px; zoom: 1; }
.tooltip-left .tooltip_content_bottom { background: url("../../img/layout/tooltip_right_bottom_cap.png") no-repeat scroll left top transparent; height: 8px; width: 288px; }

.tooltip-top-alt .tooltip_content { position: relative; left: -45px; bottom: 2px; width: 330px; z-index: 1000; }
.tooltip-top-alt .tooltip_arrow { background: url("../../img/layout/tooltip_alt_arrow_down.png") no-repeat scroll left top transparent; bottom: -10px; height: 15px; left: -19px; position: absolute; width: 22px; z-index: 1001; }
.tooltip-top-alt .tooltip_content_top { background: url("../../img/layout/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 330px; }
.tooltip-top-alt .tooltip_content_mid { background: url("../../img/layout/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 15px 25px; zoom: 1; }
.tooltip-top-alt .tooltip_content_bottom { background: url("../../img/layout/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; height: 8px; width: 330px; }

.tooltip-top-error { z-index: 1000; }
.tooltip-top-error .tooltip_content { bottom: -10px; left: -55px; position: relative; width: 235px; z-index: 1000; }
.tooltip-top-error .tooltip_content_top { background: url("../../img/layout/error_popup_top_cap.png") no-repeat scroll left bottom transparent; height: 8px; width: 235px; }
.tooltip-top-error .tooltip_content_mid { background: url("../../img/layout/error_popup_mid_bg.png") repeat-y scroll left top transparent; padding: 10px 20px; zoom: 1; }
.tooltip-top-error .tooltip_content_bottom { background: url("../../img/layout/error_popup_bottom_cap.png") no-repeat scroll left top transparent; height: 20px; width: 235px; }
.tooltip-top-error .tooltip_content_mid p { color: #fff; font-size: 10px; margin-bottom: 0; }
.tooltip-top-error .tooltip_content_mid .heading { font-size: 11px; font-weight: bold; }

.toolbox-top-alt { width: 410px;-webkit-transform: translate3d(0,0,0); }
.toolbox-top-alt .dropdown_content { position: relative; z-index: 1000; }

.toolbox-left .dropdown_content { left: -130px; }
.toolbox-right .dropdown_content { right: -130px; }
.toolbox-center .dropdown_content { right: 270px; }

.toolbox-left .dropdown_content_bottom { background: url("../../img/layout/popup_left_bottom_cap.png") no-repeat scroll 0 0 transparent; }
.toolbox-right .dropdown_content_bottom { background: url("../../img/layout/popup_right_bottom_cap.png") no-repeat scroll 0 0 transparent; }
.toolbox-center .dropdown_content_bottom { background: url("../../img/layout/popup_center_bottom_cap.png") no-repeat scroll 0 0 transparent; }

.toolbox-top-alt .dropdown_content_top { background: url("../../img/layout/popup_top_cap.png") no-repeat scroll left bottom transparent; height: 9px; }
.toolbox-top-alt .dropdown_content_mid { background: url("../../img/layout/popup_mid_bg.png") repeat-y scroll 0 0 transparent; padding: 26px 35px; zoom: 1; }
.toolbox-top-alt .dropdown_content_bottom { height: 20px; }

.toolbox-small{width:304px;}

.toolbox-small .dropdown_content{position:relative; z-index:1000;}
.toolbox-small .dropdown_content_top { background: url("../../img/layout/popup_top_cap_small.png") no-repeat scroll left bottom transparent; height: 9px; }
.toolbox-small .dropdown_content_mid { background: url("../../img/layout/popup_mid_bg_small.png") repeat-y scroll 0 0 transparent; padding: 16px 26px; zoom:1; width:251px;}
.toolbox-small .dropdown_content_bottom { height: 20px; }

.toolbox-small-left .dropdown_content{left:-114px;}
.toolbox-small-right .dropdown_content{right:-114px;}
.toolbox-small-center .dropdown_content{right:208px;}

.toolbox-small-left .dropdown_content_bottom { background: url("../../img/layout/popup_left_bottom_cap_small.png") no-repeat scroll 0 0 transparent; }
.toolbox-small-right .dropdown_content_bottom { background: url("../../img/layout/popup_right_bottom_cap_small.png") no-repeat scroll 0 0 transparent; }
.toolbox-small-center .dropdown_content_bottom { background: url("../../img/layout/popup_center_bottom_cap_small.png") no-repeat scroll 0 0 transparent; }

/* @end */
/* @group Popups */
.commonlib-popup { position: absolute; }
.commonlib-popup .popup-close { position: absolute; right: 15px; top: 15px; }

* html .commonlib-popup .popup-close { right: 15px; top: 25px; }

/* Popup Image */
/*.commonlib-popup { height: auto; width: auto; }*/
.commonlib-popup .popup-image-content { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #FFFFFF; padding: 50px; }
.commonlib-popup .popup-image-content .popup-image-prev a { background: url("/_Global/img/layout/popup_prev.png") no-repeat scroll 0 0 transparent; display: block; height: 35px; left: 30px; margin-top: -17px; position: absolute; top: 50%; width: 24px; }
.commonlib-popup .popup-image-content .popup-image-prev a:hover { background-position: 0 -35px; }
.commonlib-popup .popup-image-content .popup-image-next a { background: url("/_Global/img/layout/popup_next.png") no-repeat scroll 0 0 transparent; display: block; height: 35px; margin-top: -17px; position: absolute; right: 30px; top: 50%; width: 24px; }
.commonlib-popup .popup-image-content .popup-image-next a:hover { background-position: 0 -35px; }
.commonlib-popup .popup-image-large { height: auto; width: auto; }

/* @end */
/* @group Layout */
.cap_bottom_feature_area {height:6px;background:url(../../img/layout/cap_bottom_feature_area.gif) 7px center bottom no-repeat; bottom: -6px; position: relative; }
.cap_top_default {height:5px ;background:transparent url(../../img/layout/cap_top_default.png) center top no-repeat;position:relative; top:-5px; margin: 0; font-size:1px; }
.cap_bottom_default {height: 6px;background:url(../../img/layout/cap_bottom_default.png) center bottom no-repeat transparent; padding: 0;position: relative; bottom: -6px; margin: 0; padding: 0; font-size:1px;}
.wrapper_extended .cap_bottom_default { background-position: 7px bottom;}

.cap_bottom_grey { background: url("/_Global/img/layout/cap_bottom_long_grey.png") no-repeat scroll center bottom transparent; bottom: 0; margin: 0 auto 22px; width: 1000px; }
/* @end */
/* @group Header icons */

.wrapper_columns .widgets li.find-a-dealer h4{color:#9bd05d; background:url(../../img/layout/icon_find_a_dealer.png) 0 0 no-repeat; font-size: 20px; padding-left:40px; padding-top:3px; padding-bottom:25px;}
.french .wrapper_columns .widgets li.find-a-dealer h4{color:#9bd05d; background:url(../../img/layout/icon_find_a_dealer.png) 0 10px no-repeat; font-size: 20px; padding-bottom: 15px; padding-left: 40px; padding-top: 3px; }
* + html .french .wrapper_columns .widgets li.find-a-dealer h4{font-size:16px;}
* html .french .wrapper_columns .widgets li.find-a-dealer h4{font-size:16px;}
.wrapper_columns .widgets li.parts-service h4{color:#8f8f8f; background:url(../../img/layout/icon_parts_service.png) 0 1px no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.safety h4{color:#fa972d; background:url(../../img/layout/icon_safety.png) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.consider h4{color:#5d6c88; background:url(../../img/layout/icon_consider.png) 4px 0 no-repeat; padding-bottom: 5px; padding-left:39px;}
.wrapper_columns .widgets li.consider h4 span{height: auto;}
.wrapper_columns .widgets li.reviews h4{color:#53c4ff; background:url(../../img/layout/icon_reviews.png) 0 1px no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.finance h4{color:#FFA445; background:url(../../img/layout/icon_financing.png) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.reviews p{padding-bottom:10px;}
.wrapper_columns .widgets li.reviews p.author{color:#696969; font-size:10px; padding-bottom:20px;}
.wrapper_columns .widgets li.reviews p.author a{color:#696969; text-decoration:none;}
.wrapper_columns .widgets li.menu-parts-service h4{color:#c4c4c4; background:url(../../img/layout/parts-services-menu-icon.png) 0 0 no-repeat; padding-left:40px; padding-top:2px;}
.wrapper_columns .widgets li.measurements h4{color:#E72530; background:url(../../img/layout/icon_measurement.png) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.menu-finance h4{color:#E72530; background: url("../../img/layout/icon_financing_red.png") no-repeat scroll 0 0 transparent;/*background:url(../../img/layout/icon_st_finance.gif) 0 0 no-repeat;*/ padding-left:40px;}
.wrapper_columns .widgets li.menu-accessories h4{color:#C4C4C4; background:url(../../img/layout/icon_accessories.gif) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.menu-apparel h4{color:#E72530; background:url(../../img/layout/icon_apparel.png) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.menu-lease h4{color:#FFA943; background:url(../../img/layout/icon_financing.png) 0 0 no-repeat; padding-left:40px;}
.wrapper_columns .widgets li.menu-advantage h4.sun_icon{ padding: 0 0 20px 40px; color: #53c4ff; background: url(../../img/layout/icon_sun.gif) 5px 6px no-repeat; }

/* @end */
/* @group Product Pricings */

.wrapper_columns .product .price { color: #7C7C7C; margin-bottom: 2px; text-transform: uppercase; }
.wrapper_columns .product .coming-soon {}
.wrapper_columns .product .price strong { font-size: 16px; margin-right: 5px; }
.wrapper_columns .product .price span { font-size: 8px; }

.wrapper_columns .product .original strong { color: #C4C4C4; }
.wrapper_columns .product .final strong { color: #8F8F8F; }
.wrapper_columns .product .special strong { color: #9ACF5B; }

.wrapper_columns .product .price del { float: left; margin-right: 5px; }
.wrapper_columns .product .price del:before { top: 12px; }
.wrapper_columns .product .price del strong { margin-right: 0; }
.wrapper_columns .product .price .strike { top: 12px; }
/* ie 6 & 7 styles */
* + html .wrapper_columns .product .price .strike { top: 8px; }
*   html .wrapper_columns .product .price .strike { top: 8px; }

/* @end */
/* @group Form Styles */

.input_box {position:relative;background:url(../../img/layout/txt_box_left.gif) no-repeat;height:25px;padding-left:6px;display:block;clear:both;margin-top:8px; zoom:1;}
.input_box input, .input_box .input {margin:0;height:23px; border:0;background:url(../../img/layout/bg_text_box.gif) repeat-x left top;border-right:1px solid #d6d6d6; }
.err_input_box { background-image: url(../../img/layout/err_txt_box_left.gif);}
.err_input_box input, .err_input_box .input { background-image: url(../../img/layout/err_bg_text_box.gif); border-right:1px solid #f2a6b3;}

.input-box-large{}
.input-box-large .field{display:inline-block;}
.input-box-large .field input{background:#fff url(../../img/layout/btn_secondary_input_large.png) 0 0 no-repeat; border:1px solid #dedede; height:14px; color:#424242; padding:12px;}
.input-box-large .submit{display:inline-block;}

/* @end */
/* @group Tabs */

.extended_tabs {background:url(../../img/layout/bg_tab_horzontal.gif) 0 0 no-repeat;height:40px;border-bottom:1px solid #c5c5c5;}
.tabs_horizontal {padding-top:7px; margin:0 18px; background:url(../../img/layout/sub_nav_divider.gif) 0 100% repeat-x;}
.tabs_horizontal li {zoom:1;border-bottom:1px solid #c5c5c5;background:url(../../img/layout/tabs_horizontal_separator.gif) right top no-repeat;padding-right:2px;}
.tabs_horizontal li a {font-family:Arial,sans-serif;height:29px;padding:11px 20px 0 20px;display:inline-block;font-size:14px;font-weight:bold;color:#424242;text-transform:uppercase;background:url(../../img/layout/bg_tab_horzontal.gif) -10px 0 no-repeat;}
.tabs_horizontal .dd a {font-family:Arial,sans-serif;height:29px;padding:11px 5px 0 5px;display:inline-block;font-size:14px;font-weight:bold;color:#424242;text-transform:uppercase;background:url(../../img/layout/bg_tab_horzontal.gif) -10px 0 no-repeat;}
.tabs_horizontal .dd {zoom:1;}
.tabs_horizontal li a:hover {color:#d90124;}
.tabs_horizontal li.first a {background-position:0 0; text-align:center;}
.tabs_horizontal li.first a.selected {background-position:left bottom;}
.tabs_horizontal li a.selected {background-position:-10px bottom;color:white;}
.tabs_horizontal li a.multiline{padding-top:3px !important; padding-bottom:8px;}
.tabs_horizontal li.last {padding-right:0;}
.tabs_horizontal li.last a {background-position:right top;}
.tabs_horizontal li.last a.selected {background-position:right bottom;}
.tabs_horizontal li.clr {border-bottom:0;background:none;height:auto !important;padding:5px 0;}
.tabs_horizontal .tabs_horizontal {text-align:center;width:645px;padding:5px 0;margin: 0 auto;border-bottom:1px solid #c5c5c5;}
.tabs_horizontal .dd {display:inline-block;}
.tabs_horizontal .dd a {padding-top:10px;padding-bottom:10px;color:#7c7c7c;display:inline-block;background:none;height:auto;line-height:0 !important;}
.tabs_horizontal .dd a.selected { color: #424242; }
.tabs_horizontal .dd a:hover { color: #d90124; }

.tab_container {padding:29px 38px;}
.tab_container h1 {font-size:38px;}
.tab_container h2 {font-size:16px;margin-bottom:30px;}
.tab_container p {font-size:16px;line-height:22px;padding-bottom:20px;}

.tabs_horizontal_fixed{margin-left:18px;}
.tabs_horizontal_fixed li {zoom:1;border-bottom:1px solid #c5c5c5;background:url(../../img/layout/tabs_horizontal_separator.gif) right top no-repeat;padding-right:2px; width:112px;}
.tabs_horizontal_fixed li a {font-family:Arial,sans-serif;height:29px;padding:11px 10px 0 10px; text-align:center; display:block;font-size:14px;font-weight:bold;color:#424242;text-transform:uppercase;background:url(../../img/layout/bg_tab_horzontal.gif) -10px 0 no-repeat;}
.tabs_horizontal_fixed li a.multiline{padding-top:3px !important; padding-bottom:8px;}
.tabs_horizontal_fixed .dd a {height:29px;padding:11px 5px 0 5px;display:inline-block;font-size:14px;font-weight:bold;color:#424242;text-transform:uppercase;background:url(../../img/layout/bg_tab_horzontal.gif) -10px 0 no-repeat;}
.tabs_horizontal_fixed .dd {zoom:1;}
.tabs_horizontal_fixed li a:hover {color:#d90124;}
.tabs_horizontal_fixed li.first a {background-position:0 0; text-align:center;}
.tabs_horizontal_fixed li.first a.selected {background-position:left bottom;}
.tabs_horizontal_fixed li a.selected {background-position:-10px bottom;color:white;}
.tabs_horizontal_fixed li.last {padding-right:0;}
.tabs_horizontal_fixed li.last a {background-position:right top;}
.tabs_horizontal_fixed li.last a.selected {background-position:right bottom;}
.tabs_horizontal_fixed li.clr {border-bottom:0;background:none;height:auto !important;padding:5px 0;}
.tabs_horizontal_fixed .tabs_horizontal_fixed {text-align:center;width:645px;padding:5px 0;margin: 0 auto;border-bottom:1px solid #c5c5c5;}
.tabs_horizontal_fixed .dd {display:inline-block;}
.tabs_horizontal_fixed .dd a {font-family:Arial,sans-serif;padding-top:10px;padding-bottom:10px;color:#7c7c7c;display:inline-block;background:none;height:auto;line-height:0 !important;}
.tabs_horizontal_fixed .dd a.selected { color: #424242; }
.tabs_horizontal_fixed .dd a:hover { color: #d90124; }

/* @end */
/* @input Form Styles styles */

.input_tiny {width:15px;}
.input_xxsmall { width: 40px; }
.input_extra_small, .input_xsmall {width:50px;}
.input_smaller {width:75px;}
.input_small {width:100px;}
.input_medium {width:150px;}
.input_large {width:200px;}
.input_xlarge {width:250px;}
.input_xxlarge {width:300px;}
.input_xxxlarge {width:370px;}

.textarea {width:347px;background:url(../../img/layout/textarea_middle.gif) repeat-y;border-bottom:1px solid #d6d6d6;}
.textarea textarea {margin:0;border:0;width:347px;background:url(../../img/layout/textarea_top.gif) no-repeat;max-width:347px;height:50px;}
.checkbox {margin:0; padding:0; vertical-align:middle;}

/* @end */
/* @group Expandable Boxes */

.primary-box{position:relative; background:#f6f6f6; padding:20px;}
.primary-box span.top-left{display: block; overflow: hidden; position:absolute; top:0; left:0; width:6px; height:6px; background:url(../../img/layout/graywall_top_left.gif) 0 0 no-repeat;}
.primary-box span.top-right{display: block; overflow: hidden; position:absolute; top:0; right:0; width:6px; height:6px; background:url(../../img/layout/graywall_top_right.gif) right 0 no-repeat;}
.primary-box span.bottom-left{display: block; overflow: hidden; position:absolute; bottom:0; left:0; width:6px; height:6px; background:url(../../img/layout/graywall_bottom_left.gif) 0 0 no-repeat;}
.primary-box span.bottom-right{display: block; overflow: hidden; position:absolute; bottom:0; right:0; width:6px; height:6px; background:url(../../img/layout/graywall_bottom_right.gif) right 0 no-repeat;}

/* @end */
/* @group Pagination */

.pagination { font-size: 10px; font-weight: bold; height: 50px; position: relative; text-align: center; text-transform: uppercase; }
.pagination a { color: #7C7C7C; }
.pagination .page { color: #7c7c7c; display: inline-block; font-size: 11px; font-weight: bold; height: 24px; line-height: 22px; position: relative; top: 15px; width: 24px; }
.pagination .page-prev { background: url("/_Global/img/layout/page_prev.png") no-repeat scroll 0 7px transparent; display: inline-block; height: 24px; left: 0; line-height: 22px; margin-left: 10px; padding-left: 15px; position: absolute; text-align: left; top: 15px; width: 58px; }
.pagination .page-next { background: url("/_Global/img/layout/page_next.png") no-repeat scroll right 7px transparent; display: inline-block; height: 24px; line-height: 22px; margin-right: 10px; padding-right: 15px; position: absolute; right: 0; text-align: right; top: 15px; width: 58px; }
.pagination .page-prev:hover { background: url("/_Global/img/layout/page_prev.png") no-repeat scroll left 7px transparent; }
.pagination .page-next:hover { background: url("/_Global/img/layout/page_next.png") no-repeat scroll right 7px transparent; }
.pagination a:hover, .pagination .active { background: url("/_Global/img/layout/page_grey_circle_outline.png") no-repeat scroll 0 -1px transparent; color: #E72530; }
.pagination .page-all { background: url("/_Global/img/layout/vertical_dotted_divider.gif") repeat-y scroll 0 0 transparent; display: inline-block; height: 18px; margin-left: 3px; padding-left: 12px; padding-top: 5px; position: relative; top: 15px; zoom: 1; }
.pagination .page-all:hover { background: url("/_Global/img/layout/vertical_dotted_divider.gif") repeat-y scroll 0 0 transparent; }

* html .pagination a:hover, * html .pagination a.active { background-position: 0 0; }
* html .pagination .page-prev { top: 20px; }
* html .pagination .page-next { top: 20px; }
* html .pagination .page-all { top: 20px; }
* + html .pagination a:hover, * + html .pagination a.active { background-position: 0 0; }
* + html .pagination .page-prev { top: 20px; }
* + html .pagination .page-next { top: 20px; }
* + html .pagination .page-all { top: 20px; }


.content_container.search_container { padding-bottom: 13px; }
.section.pagination_section { padding-top: 20px; }

.pagination .page_numbers li { margin-left: 3px; }
.pagination .page_nubmers li.first { margin-left: 0; }

/* @group pagination */
.pagination .prev_next_btns { margin: 0 6px; }
.pagination a.prev { width: 58px; height: 24px; display: inline-block; background: url(../../img/layout/page_prev.png) 0 7px no-repeat transparent; }
.pagination a.next { width: 57px; height: 24px; display: inline-block; background: url(../../img/layout/page_next.png) right 7px no-repeat transparent; }
.pagination a.prev:hover {background-position: left 7px;}
.pagination a.next:hover { background-position: right 7px; }
.pagination .page_numbers li { margin-left: 3px; }
.pagination .page_nubmers li.first { margin-left: 0; }
.pagination .page_numbers a { display: inline-block; height: 24px; width: 24px; vertical-align: middle; text-align: center; font-size: 11px; line-height: 22px; font-weight: bold; color: #7c7c7c; padding: 0; margin: 0; }
.pagination .page_numbers a.selected { background:url(../../img/layout/page_grey_circle_outline.png) left top no-repeat transparent; color: #e72530; }
.pagination .page_numbers a:hover { background:url(../../img/layout/page_grey_circle_outline.png) left top no-repeat transparent; } 
/* @end */

/* @end */
/* @group Accordion Controls */

.accordion-controls a { color: #696969; font-size: 8px; font-weight: bold; line-height: 14px; padding: 0 13px 0 0; text-transform: uppercase; }
.accordion-controls a.collapse { background: url("../../img/content/products/btn_expand_collapse.gif") no-repeat scroll right 3px transparent; }
.accordion-controls a.expand { background: url("../../img/content/products/btn_expand_collapse.gif") no-repeat scroll right -35px transparent; border-left: 1px solid #DEDEDE; margin: 0 0 0 10px; padding-left: 10px; }
.accordion-controls a.collapse:hover { background-position: right -16px; }
.accordion-controls a.expand:hover { background-position: right -54px; }

/* @end */
/* @group Slider Controls */

.sliders-box-group { background: url("/_Global/img/layout/sliders_bg.png") no-repeat scroll left top transparent; height: 125px; margin-bottom: 30px; width: 922px; }
.sliders-box-group .sliders-box { border-left: 1px solid #FAFAFA; border-right: 1px solid #C5C5C5; float: left; height: 120px; }
.sliders-box-group-of-5 .sliders-box { width: 182px; }
.sliders-box-group-of-4 .sliders-box { width: 228px; }
.sliders-box-group-of-3 .sliders-box { width: 305px; }
.sliders-box-group-of-2 .sliders-box { width: 458px; }
.sliders-box-group .first { border-left: none; }
.sliders-box-group .last { border-right: none; }

.sliders-box-group .sliders-box h3 { color: #424242; display: inline-block; font-size: 14px; line-height: 16px; margin: 15px 7px 0 20px; text-transform: uppercase; }

.sliders-box-group .sliders-box .slider-controls { margin: 5px 15px 0 20px; }
.sliders-box-group .sliders-box .slider-controls .slider-controls-cap-left { background: url("/_Global/img/layout/slider_ctrl_bg_cap_l.png") no-repeat scroll left top transparent; float: left; height: 10px; width: 10px; }
.sliders-box-group .sliders-box .slider-controls .slider-controls-cap-right { background: url("/_Global/img/layout/slider_ctrl_bg_cap_r.png") no-repeat scroll left top transparent; float: left; height: 10px; width: 11px; }
.sliders-box-group .sliders-box .slider-controls .slider-controls-inner { background: url("/_Global/img/layout/slider_ctrl_bg.png") repeat-x scroll left top transparent; float: left; height: 10px; width: 121px; position: relative; }
.sliders-box-group .range-sliders-box .slider-controls { margin-top: 20px; }

.sliders-box-group .sliders-box .slider-controls .ui-slider-range { background: url("/_Global/img/layout/slider_green_bar.png") repeat-x scroll left top transparent; height: 5px; position: relative; top: 3px; z-index: 0; }
.sliders-box-group .sliders-box .slider-controls .ui-slider-handle { background: url("/_Global/img/layout/slider_grip_slider.png") no-repeat scroll left top transparent; display: block; height: 18px; position: absolute; width: 14px; z-index: 1; margin-left: -7px; margin-top: -18px; }

.sliders-box-group .sliders-box .labels { margin: 10px 20px 0; width: 142px; }
.sliders-box-group .sliders-box .labels span { color: #7C7C7C; font-size: 12px; text-transform: uppercase; }

.sliders-box-group .sliders-box .field label { color: #7C7C7C; font-size: 11px; line-height: 15px; margin: 1px 0 0; text-transform: uppercase; }
.sliders-box-group .sliders-box .field input { float: left; margin-left: 0; margin-right: 5px; }

* html .sliders-box-group .sliders-box h3 { font-size: 11px; display: inline; margin: 15px 5px 0 20px; }
* + html .sliders-box-group .sliders-box h3 { font-size: 11px; display: inline; margin: 15px 5px 0 20px; }

* html .sliders-box-group .sliders-box .slider-controls .slider-controls-cap-left,
* html .sliders-box-group .sliders-box .slider-controls .slider-controls-cap-right { zoom: 1; }

* html .sliders-box-group .sliders-box .slider-controls .ui-slider-range { font-size: 1px; }

* html .sliders-box-group .sliders-box .labels { margin-top: 0; }

* html .sliders-box-group .sliders-box .labels span { font-size: 10px; font-weight: bold; }
* + html .sliders-box-group .sliders-box .labels span { font-size: 10px; font-weight: bold; }

* html .sliders-box-group .sliders-box .field label { font-size: 9px; font-weight: bold; line-height: 12px; }
* + html .sliders-box-group .sliders-box .field label { font-size: 9px; font-weight: bold; line-height: 12px; }

/* @end */
/* @group Table */

.tbl { margin-bottom: 20px; }
.tbl th, .tbl td { font-size: 11px; padding: 0; text-align: left; border-collapse: collapse; }
.tbl th.odd, .tbl td.odd { background-color: #fff; }
.tbl th.even, .tbl td.even { background-color: #f4f4f4; }
.tbl th { font-weight: bold; color: #696969; }
.tbl td { color: #151515; }
.tbl td em {color:#696969;padding-left:2px;}
.tbl td.first { font-weight: bold; }
.tbl th span, .tbl td span { padding: 11px; display: block; line-height: 14px; }
.tbl th.sort a {padding-right:12px;display: inline-block !important;/*background:url(../../img/layout/arrow_sort.png) right 4px no-repeat;*/color:#696969;}
.tbl th.desc a {background-image:url(../../img/layout/arrow_sort_desc.png);background-position:right 5px;}
.tbl th.asc a {background-image:url(../../img/layout/arrow_sort_asc.png);}

.tbl th.first span, .tbl td.first span { padding-left: 2px; }
.tbl td { padding-top: 1px; background:url(../../img/layout/tbl_cell_border.gif) left top repeat-x transparent; }
.tbl tr.first td, .tbl tr:first-child td { padding-top: 0; background-image: none; }
.tbl td.first em { font-weight: normal; font-style: normal; }
/*.tbl tr.top th.even div, .tbl tr.top td.even div {
	background-image: url(../../img/layout/rc4_tl.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.tbl tr.top th.even span, .tbl tr.top td.even span {
	background-image: url(../../img/layout/rc4_tr.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.tbl tr.bottom td.even div {
	background-image: url(../../img/layout/rc4_bl.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.tbl tr.bottom td.even span {
	background-image: url(../../img/layout/rc4_br.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}*/

.tbl td .input { padding: 9px 13px; }
.tbl td .input .input_box { margin-top: 0; vertical-align: middle; display: inline-block; }


.specs_outer_container { margin-bottom: 20px; }
.specs_container {width: 620px; overflow: hidden; }
.tbl_specs { }
.tbl_specs tr td, .tbl_specs tr td div { width: 88px; vertical-align: middle; }
.tbl_specs th span, .tbl_specs td span { padding: 11px 10px; }
.tbl_specs tr td.first, .tbl_specs tr td.first div { width: 187px; }
.tbl_specs tr td .check_red { padding: 0; margin: 0; display: inline-block; width: 14px; height: 13px; background: url(../../img/layout/red_tick.gif) left top no-repeat; }

.tbl_warranty tr td { width: 90px; vertical-align: middle; }
.tbl_warranty tr td.first { width: 220px;}

#sort_province tr td, #sort_province_api tr td{vertical-align:middle;}
#sort_province_api tr td .extraspan { padding: 1px;line-height: 12px;}
.cities_nearby .cityName { text-transform: uppercase;}

/* @end */
/* @group Table Extended */

.proximity .name { width: 160px; }
.proximity .address { width: 170px; }
.proximity .phone { width: 110px; }
.proximity .city { width: 110px; }
.proximity .distance { width: 90px; }

.province .name { width: 210px; }
.province .address { width: 205px; }
.province .phone { width: 110px; }
.province .city { width: 115px; }
.province .select img { margin-top: 4px; margin-right: 8px; display: block; }
.province a {color:#696969;}

.hours { width: 195px; margin-right: 30px; }
.hours td { color: #333333; }
.hours td.first { font-weight: normal; }
.hours.last { margin-right: 0; }
.hours .day { width: 95px; }
.hours .time { width: 90px;}

/* @end */
/* @group List styles */

ul.red-check{background:url(../../img/layout/white_dotted_divider.gif) 0 bottom repeat-x; padding-bottom:10px;}
ul.red-check li{background:url(../../img/layout/white_dotted_divider.gif) 0 0 repeat-x; font-family:verdana, sans-serif; color:#424242; font-weight:bold; font-size:11px; line-height:17px; padding:12px 0;}
ul.red-check li span{background:url(../../img/layout/red_check.gif) 0 4px no-repeat; padding-left:20px; display:block;}
ul.red-check li.first {background: none;}


/* @end */
/* @group Header styles */

.bar { text-align: left; margin-bottom: 10px; padding: 8px 12px 10px; height:15px; font-size: 11px; color: #d90124; font-weight: bold; background: url(../../img/layout/h2_bar_bg.gif) no-repeat left top #fff; text-transform: uppercase; }
.bar h2 {/*font-size: 11px;*/ font-size: 15px; line-height: 13px; padding: 0; margin: 0;}
.bar .check_container{font-size:11px; color:#333; font-weight:normal; text-transform:capitalize;}
.bar .check_container .check_type{line-height:16px; margin-right:10px;}
.bar .check_container .check_box{padding-top:1px;}
.bar .check_container .check_box input{margin:0; padding:0;}
.half_bar { background: url(../../img/layout/h2_half_bar_bg.gif) no-repeat left top #fff; }
  /*cd*/
* html .bar h2 { font-size: 12px; line-height: 16px; }
* + html .bar h2 { font-size: 12px; line-height: 16px; }

/* @end */
/* @group Color Options */

.colors a { float: left; margin-left: 8px; padding: 3px; }
.colors .active,
.colors a:hover { border: 1px solid #D6D6D6; padding: 2px; }
.colors .first { margin-left: 0; }
.colors span { display: block; height: 20px; width: 20px; }

/* @end */
/* @group Footer */

.footer_padding{padding:0 0 9px 0;}
.footer_container{width:100%;background:#060606 url(../../img/layout/footer_bg_tile.gif) top left repeat-x;padding:105px 0 0 0;margin:-38px 0 0 0;}
#footer {font-size:11px;color:#726e6e; padding-top:10px;}
#footer ul {margin:0 15px 15px;}
#footer ul li {width:145px;margin-left:15px;}
#footer ul li.first {margin-left:0;}
#footer ul li.clr {width:auto;margin:0;}
#footer dt {font-weight:bold;line-height:15px;margin-bottom:17px; }
#footer dd {margin-bottom:7px;}
#footer dd a {color:#726e6e;}
#footer a:hover {border-bottom:1px dotted #726e6e;}
#footer .sub_footer_nav {border-top:1px solid #ccc;padding:27px 15px;}
#footer .sub_footer_nav_landing {padding:0 15px 25px;}
#footer .sub_footer_nav ul,
#footer .sub_footer_nav_landing ul {padding:0;margin:0;}
#footer .sub_footer_nav ul li,
#footer .sub_footer_nav_landing ul li {display:inline;padding-left:20px;margin:0;}
#footer .sub_footer_nav ul li.first,
#footer .sub_footer_nav_landing ul li.first {padding-left:0;}
#footer .sub_footer_nav ul li a,
#footer .sub_footer_nav_landing ul li a {color:#726e6e;}
#footer .sub_footer_nav .copyright,
#footer .sub_footer_nav_landing .copyright{width:600px; line-height:18px;}

/* @end */
/* @group Search box */
/* Autocomplete
----------------------------------*/
.loader_small { background-image: url(../../img/layout/loader_small.gif) !important; background-position: right center !important; background-repeat: no-repeat !important; width: 16px; height: 16px; display: inline-block; }
.loader_small_gray { background-image: url(../../img/layout/loader_small_gray.gif) !important; background-position: right center !important; background-repeat: no-repeat !important; width: 16px; height: 16px; display: inline-block; }
.ui-autocomplete { position: absolute; cursor: default; }
.autocomplete-loading { background-image: url(../../img/layout/loader_small.gif) !important; background-position: right center !important; background-repeat: no-repeat !important; }

/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 0;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	
	display: block;
}
.ui-menu .ui-menu-item a {
	padding: 0; margin: 0;
	text-decoration:none;
	display:block;
	zoom:1;
	color: #333;
	font-size: 11px;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	background-color: #e2e2e2;
}


/* city dropdown in the dealer page */
.dropdown_dealer_city {
	width: 211px;
	background: url(../../img/layout/btn_overlay_autocomplete_bottom.png) left bottom no-repeat transparent;
	padding-bottom: 12px;
}
.dropdown_dealer_city .ui-menu-item {
	width: 211px;
	background: url(../../img/layout/btn_overlay_autocomplete_mid.png) right top repeat-y transparent;
}
.dropdown_dealer_city .ui-menu-item a {
	margin:0 6px 0 4px;
	padding: 10px;
}
.dropdown_dealer_city .ui-menu-item a.ui-state-hover,
.dropdown_dealer_city .ui-menu-item a.ui-state-active {
	background-color: #e2e2e2;
}

.dropdown_dealer_city_sidebar {
	width: 165px;
	background-image: url(../../img/layout/btn_overlay_sidebar_autocomplete_bottom.png);
}
.dropdown_dealer_city_sidebar .ui-menu-item {
	width: 165px;
	background-image: url(../../img/layout/btn_overlay_sidebar_autocomplete_mid.png);
}
.search_box { width: 344px; }
.search_box .search-box-cap-top {
	width: 344px;
	background: url(../../img/layout/btn_overlay_search_top.png) left top no-repeat transparent;
	padding: 0;
	margin: 0;
	height: 48px;
	float: left;
	clear: left;
}
.search_box .ui-menu-item, .search_box .search-box-group, .search_box .search-box-button {
	width: 344px;
	background: url(../../img/layout/btn_overlay_search_mid.png) left top repeat-y transparent;
	padding: 0;
	margin: 0;
	clear: left;
	float: left;
}
.search_box .ui-menu-item {
	width: 296px;
	padding: 0 19px;
}
.search_box .search-box-button {
	width: 316px;
	padding: 9px 14px 5px;
}
.search_box .search-box-button a.btn { display: block; }
.search_box .search-box-button a.btn span { display: block; width: 282px; text-align: center; }

.search_box .search-box-cap-bottom {
	width: 344px;
	background: url(../../img/layout/btn_overlay_search_bottom.png) left top no-repeat transparent;
	padding: 0;
	margin: 0;
	height: 11px;
	float: left;
	clear: left;
}
.search_box .ui-menu-item a {
	padding: 4px 5px 5px;
	width: 286px;
	display: block;
}
.search_box .ui-menu-item a.ui-state-hover,
.search_box .ui-menu-item a.ui-state-active {
	background: url(../../img/layout/bg_result_item.gif) left top no-repeat transparent;
}
/* @group Search */
.search_box .h5a { font-weight: bold; font-size: 12px; color: #d90124; border-bottom: 1px solid #d6d6d6; margin: 0 34px 10px 24px; padding: 12px 0 8px; }
.search_box .h6 { font-weight: bold; font-size: 11px; margin-bottom: 10px; }
.search_box .image { margin-right: 10px; }
.search_box .content { width: 186px; }
.search_box .content p { font-size: 10px; padding-bottom: 0; }
/* @end */

/* @group Questions Box */
.questions .question { float: left; width: 220px; height: 85px; padding: 30px 0px 0px 92px; }
.questions select { width: 158px; height: 20px; font-size: 11px;}
.questions .question1 { background: url("../../img/layout/selection1.gif") top left no-repeat; margin-left: 7px; }
.questions .question2 { margin-left: 23px; background: url("../../img/layout/selection2.gif") top left no-repeat; }
/* @end */

/* @group Menu */

.menu_box { z-index: 700; width: 460px; position: absolute; }
.menu_box .dropdown_button { left: -220px; top: -5px; float: left; width: 236px; display: block; height: 51px; position: relative; z-index: 800; background: url(../../img/layout/btn_menu_overlay_button.png) left -1px no-repeat transparent; padding-left: 8px; }
.menu_box .dropdown_button_right { height: 51px; width: 236px; display: inline-block; background: url(../../img/layout/btn_menu_overlay_button_right.png) right top no-repeat transparent; }
.menu_box .dropdown_content { float: left; left: -221px; top: -4px; width: 211px; position: relative; z-index: 700; }
.menu_box .dropdown_content_top { height: 9px; width: 211px; background: url(../../img/layout/btn_menu_overlay_top.png) left top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }
.menu_box .dropdown_content_mid { width: 163px; background: url(../../img/layout/btn_menu_overlay_mid.png) left top repeat-y transparent; padding: 5px 23px 0 25px; margin: 0; }
.menu_box .dropdown_content_bottom { width: 211px; height: 10px; background: url(../../img/layout/btn_menu_overlay_bottom.png) left top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }
/* @end */


/* @Downloads button by mina on 11.03.15*/
.brochure-flyout .dropdown_button { position: absolute; width: 8px; height: 57px; left: -220px !important; top: -5px !important; background: url("../../img/layout/btn_download_overlay_button.png") left top no-repeat transparent; }
* html .brochure-flyout .dropdown_button { top: -5px; left: -248px; }
.brochure-flyout .dropdown_button_right { width: 240px; height: 57px; padding-top: 7px; background: url("../../img/layout/btn_download_overlay_button_r.png") right top no-repeat transparent; }
.brochure-flyout .dropdown_button_right a.btn_large { width: 221px; text-align:center; }
.brochure-flyout .dropdown_content { position: absolute; top: -5px !important; left: 24px !important; width: 324px; }
.brochure-flyout .dropdown_content .dropdown_content_top { width: 324px; height: 10px; background: url("../../img/layout/btn_download_overlay_top.png") right top no-repeat transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid { width: 290px; height: auto; padding: 5px 0 15px 34px; background: url("../../img/layout/btn_download_overlay_mid.png") right top repeat-y transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid ul li { width: 260px; padding: 15px 0; color: #333333; background: url("../../img/layout/tbl_cell_border.gif") repeat-x scroll left bottom transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid ul li.last { background: url("../../img/layout/line_model_selector.gif") repeat-x scroll left bottom transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid h3 { margin-bottom: 5px; font-size: 11px; color: #333; }
.brochure-flyout .dropdown_content .dropdown_content_mid h3.first { color: #FF0000; }
.brochure-flyout .dropdown_content .dropdown_content_mid a { font-size: 11px; }
.brochure-flyout .dropdown_content .dropdown_content_mid a.get_adobe_reader { display: block; float: right; width: 81px; height: 35px; margin: 20px 31px 0 0 ; background: url("../../img/layout/icon_small_acrobat_reader_trasparent.png") top left no-repeat !important; padding-bottom: 0 !important;}
.french .brochure-flyout .dropdown_content .dropdown_content_mid a.get_adobe_reader { background: url("../../img/layout/icon_small_acrobat_reader_fr_grey.png") 0 0 no-repeat !important; display: block; height: 35px; width: 100px;padding-bottom: 0 !important; }
* html .dropdown_container.brochure-flyout .dropdown_content .dropdown_content_mid a.get_adobe_reader { margin: 20px 12px 0 0  ; }
.brochure-flyout .dropdown_content .dropdown_content_bottom { width: 324px; height: 11px; background: url("../../img/layout/btn_download_overlay_bottom.png") right top no-repeat transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid ul li { width: 260px; padding-bottom: 15px; color: #1B1B1B; background: url("../../img/layout/tbl_cell_border.gif") repeat-x scroll left bottom transparent; }
.brochure-flyout .dropdown_content .dropdown_content_mid ul li.last { background: url("../../img/layout/line_model_selector.gif") repeat-x scroll left bottom transparent; }
/* @end */

.first_section .file-selector p.heading { color: #1b1b1b; }
.first_section .file-selector select { display: block; margin-bottom: 30px; }


/* @Updates on downloads button by mina on 11.03.15*/

.menu_box .dropdown_container {
	border: 1px solid red;
}
/* @end */

/* @group Coming soon updates 2011-09-23 */
.coming-soon { text-transform: uppercase !important; }
/* @end */

/* @group AJAX Load */
.bg_loader { background: url(../../img/layout/loader_default.gif) center center no-repeat transparent; }
.loader_container { text-align: center; margin: 30px 0; }
.loader_default { width: 32px; height: 32px; margin: auto; display: inline-block; }
.loader_gray { width: 32px; height: 32px; margin: auto; display: inline-block; background-image: url(../../img/layout/loader-gray.gif); }
.loader-overlay {
    background: url(../../img/layout/loader-rev.gif) no-repeat center center #000 !important;
    position: absolute;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90)
    opacity: 0.9;
    z-index: 39999;
}

/* @end */

/* @group tout rotator */
.toutrotator { -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; width: 950px;margin: 0 auto; }
.toutrotator .toutrotator-stage { width: 950px;margin: 0 auto; overflow: hidden;}
.toutrotator .toutrotator-controls { display: block; margin-top: 8px; height: 10px; text-align:center; line-height: 10px; }
.toutrotator .toutrotator-nav { display: inline-block; vertical-align: top; height: 10px; line-height: 10px; }
.toutrotator .toutrotator-nav-outer { display: inline-block; vertical-align: top; padding-top: 1px; height: 10px; line-height: 10px; }
.toutrotator .toutrotator-nav-inner { display: inline-block; vertical-align: top; height: 10px; line-height: 10px; }
.toutrotator .toutrotator-nav-item { vertical-align: top; cursor: pointer; display: inline-block; width: 8px; height: 8px; margin-left: 5px; margin-right: 5px;   background: url(../../img/layout/tout_nav_empty_min.png) left top no-repeat; }
.toutrotator .toutrotator-nav-item-active { background: url(../../img/layout/tout_nav_full_min.png) left top no-repeat; }
.toutrotator .toutrotator-progress { vertical-align: top; text-align: left; background: #ccc; display: inline-block; width: 60px; height: 3px; line-height: 3px; border-top: 1px solid #aaa; border-bottom: 1px solid #eee; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.toutrotator .toutrotator-progress-outer { display: inline-block; vertical-align: top; padding-top: 3px; margin-left: 5px; padding-left: 10px; height: 8px; border-left: 1px solid #ccc; }
.toutrotator .toutrotator-progress-inner { display: inline-block; height: 3px; background: #7f7f7f; line-height: 3px; padding: 0; vertical-align: top; }
/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) 
{
  .toutrotator .toutrotator-nav-item { background-image: url(../../img/layout/tout_nav_empty.png);background-size: 8px 8px;}
  .toutrotator .toutrotator-nav-item-active { background-image: url(../../img/layout/tout_nav_full.png);background-size: 8px 8px;}
}
/* @end */

/* @end */
/* @group strike through styles */
del:before { display: block; content:""; position: relative; border: 1px solid red; z-index: 2; }
del { display: inline-block; text-decoration: none; position: static; border-top: 0; }
/* @end */
/* float clear fix */

.fc:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

.content_section.footer_section .price-disclaimer {margin-bottom: 7px; margin-top: 2px; padding-bottom:0px; }
.content_section.footer_section .price-disclaimer span {color: #7C7C7C; font-size: 10px;}

/* @end */

