/* @group Shortcuts */

.fl {float:left}
.fr {float:right}
.br {margin-bottom:20px;}
.clr {clear:both}
.clrfix {clear:both;height:0;width:0;min-height:0;visibility:hidden;overflow:hidden;display:block;}
.dn {display:none;}
.di {display:inline}
.db {display:block}
.dib {display: inline-block;}
.hand {cursor:pointer}
.zne {z-index: -1 !important;}
.zi {z-index:1 !important;}
.z2 {z-index:2 !important;}
.z3 {z-index:3 !important;}
.rel {position:relative !important;}
.abs {position:absolute !important;}
.tac {text-align:center;}
.vam {vertical-align:middle;}
.nb {border:0 !important;}
.nbg { background: none !important; }
.np {padding:0 !important;}
.npl{padding-left:0 !important;}
.npr{padding-right:0 !important;}
.nm {margin:0 !important;}
.nmt {margin-top: 0 !important;}
.nmb {margin-bottom: 0 !important; }
.nbac {background:none !important;}
.top_margin {margin-top:20px !important;}
.bottom_margin {margin-bottom:20px !important;}
.top_bottom_margin {margin:20px 0 !important;}
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb30 {margin-bottom: 30px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
ul.tight{margin-bottom:8px !important;}
input.field-error, select.field-error, textarea.field-error {background-color: #fbe5e9;}
img {border: 0px;}

body { width: 10.6in; }

/* @end */
/* @group Printable Sellsheets */

.sellsheets-print * { font-family: Helvetica, Arial, sans-serif; }
.sellsheets-print .sellsheets-content-container { margin: 0 auto; padding: 0.4in 0 0 0; width: 100%; }

.sellsheets-print #header { border-bottom: 1px solid #000000; margin-bottom: 15px; padding-bottom: 15px; position: relative; width: 100%; margin-left: auto; margin-right: auto; }
.sellsheets-print #header .h1 { font-size: 24px; font-weight: bold; line-height: 30px; width: 425px; }
.sellsheets-print #header .logo { position: absolute; bottom: 19px; right: 0; }

.sellsheets-print #hero { padding-bottom: 25px; width: 100%; margin: 0 auto; }
.sellsheets-print #hero .vehicle-feaures { list-style: disc outside none; padding-left: 20px; width: 2.8in; }

.sellsheets-print #hero .vehicle-feaures li { font-size: 12px; line-height: 17px; margin-bottom: 5px; }
.sellsheets-print #hero .vehicle-image { text-align: center; width: 4.35in; }

.sellsheets-print #specs-bar { width: 100%; background-color: #F20000; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; margin-bottom: 10px; padding: 5px 0; text-transform: uppercase; }
.sellsheets-print #specs-bar .inner { padding: 0 5px; }

.sellsheets-print #content { margin-bottom: 0.1in; }
.sellsheets-print #content .specs-tables { width: 100%; }
.sellsheets-print #content .specs-tables table { width: 100%; }
.sellsheets-print #content .specs-tables table th { text-align: left; }
.sellsheets-print #content .specs-tables table th,
.sellsheets-print #content .specs-tables table td { font-size: 12px; line-height: 14px; padding: 8px; }
.sellsheets-print #content .specs-tables table tr.even th,
.sellsheets-print #content .specs-tables table tr.even td { background-color: #F1F1F1; }
.sellsheets-print #content .specs-tables .left-table { width: 49%; }
.sellsheets-print #content .specs-tables .right-table { width: 49%; }

.sellsheets-print #dynamic-footer { margin-bottom: 0.1in; }
.sellsheets-print #static-footer {  }
.sellsheets-print .footer { font-size: 10px; line-height: 1.2; }

/* @end */
/* float clear fix */

.fc:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

/* @end */