
/* Video Player Position */
.hero_video_showcase .mejs-honda{margin: 0 auto;}


/* Video Player Styles */
.mejs-honda .mejs-overlay-button{display: none;}
.mejs-honda .mejs-controls{background: yellow; height: 44px; background: url(../../img/content/videoplayer/left-cap.png) no-repeat; }
.mejs-honda .mejs-controls-wrap{background: url(../../img/content/videoplayer/right-cap.png) top right no-repeat; display: block; height: 32px; padding: 6px 0;  margin-left:11px; padding-right: 11px;   }
.mejs-honda .mejs-controls-wrap .mejs-time-rail{width:300px; }
.mejs-honda .mejs-controls .mejs-button button {width: 22px; height: 21px; background-repeat: no-repeat; background-position: 0 0; margin: 6px 5px; outline: none; }
.mejs-honda .mejs-controls .mejs-button button:hover {background-position: 0 -32px; }
.mejs-honda .mejs-controls .mejs-play button {background-image: url(../../img/content/videoplayer/btn-play.png); }
.mejs-honda .mejs-controls .mejs-pause button {background-image: url(../../img/content/videoplayer/btn-pause.png); }
.mejs-honda .mejs-controls .mejs-mute button {background-image: url(../../img/content/videoplayer/btn-mute.png); }
.mejs-honda .mejs-controls .mejs-unmute button {background-image: url(../../img/content/videoplayer/btn-unmute.png); }
.mejs-honda .mejs-controls .mejs-volume-button .mejs-volume-slider{margin-left: 3px;}
.mejs-honda .mejs-controls .mejs-fullscreen-button button {background-image: url(../../img/content/videoplayer/btn-fullscreen.png); }
.mejs-honda .mejs-controls .mejs-selector-button button {background-image: url(../../img/content/videoplayer/btn-selector.png); }

.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-total{border: 1px solid #c0c0c0; background: none;}
.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #cbe7b4;
	background: rgba(203,231,180,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(203,231,180,0.8)), to(rgba(221,240,201,0.8)));
	background: -webkit-linear-gradient(top, rgba(203,231,180,0.8), rgba(221,240,201,0.8));
	background: -moz-linear-gradient(top, rgba(203,231,180,0.8), rgba(221,240,201,0.8));
	background: -o-linear-gradient(top, rgba(203,231,180,0.8), rgba(221,240,201,0.8));
	background: -ms-linear-gradient(top, rgba(203,231,180,0.8), rgba(221,240,201,0.8));
	background: linear-gradient(rgba(203,231,180,0.8), rgba(221,240,201,0.8));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#cbe7b4,endColorstr=#ddf0c9);
}
.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #8bca51;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139,202,81,0.9)), to(rgba(185,223,151,0.8)));
	background: -webkit-linear-gradient(top, rgba(185,223,151,0.9), rgba(139,202,81,0.8));
	background: -moz-linear-gradient(top, rgba(185,223,151,0.9), rgba(139,202,81,0.8));
	background: -o-linear-gradient(top, rgba(185,223,151,0.9), rgba(139,202,81,0.8));
	background: -ms-linear-gradient(top, rgba(185,223,151,0.9), rgba(139,202,81,0.8));
	background: linear-gradient(rgba(185,223,151,0.9), rgba(139,202,81,0.8));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#b9df97,endColorstr=#8bca51);
}
.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-handle{display: block; background: url(../../img/content/videoplayer/btn-handle.png) 0 0 no-repeat; border: none; width: 26px; height: 14px; border-radius: 0;/* margin-left: 20px;*/}
.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-handle:hover{background: url(../../img/content/videoplayer/btn-handle.png) 0 -21px no-repeat; }
.mejs-honda .mejs-controls .mejs-time-rail .mejs-time-float {display: none!important;}

.mejs-honda .mejs-controls .mejs-share-button {	width:76px;	}
.mejs-honda .mejs-controls .mejs-share-button button{ background-image: url(../../img/content/videoplayer/btn-share-en.png); width:76px;}
.french .mejs-honda .mejs-controls .mejs-share-button button{ background-image: url(../../img/content/videoplayer/btn-share-fr.png); }

/* Video Share Overlay Styles */
/*.mejs-honda .mejs-overlay-share-background{	background: black;	opacity:0.4;}*/
.mejs-honda .mejs-overlay-share { width: 400px!important; left:50%; top: 100px; margin-left: -200px; background: url('../../img/content/videoplayer/share-bg-left.png') no-repeat; }
.mejs-honda .mejs-overlay-share-inner { height: 166px; margin-left:10px; padding-right: 10px; text-align: center; background: url('../../img/content/videoplayer/share-bg-right.png') top right no-repeat; }

.mejs-honda .mejs-overlay-share h3{color: #eee; padding: 30px 0 0; margin: 0 auto; font-size:22px; }
.mejs-honda .mejs-overlay-share p{color: #aaa; padding: 10px 30px;  font-size:16px;}
.mejs-honda .mejs-overlay-share .share_url_wrap{ margin: 15px 30px; background: url('../../img/content/videoplayer/share-url-bg-left.png') no-repeat; }
.mejs-honda .mejs-overlay-share .share_url_wrap .share_url { font-size: 12px; line-height: 32px; margin-left:10px; padding-right: 10px; text-align: center; background: url('../../img/content/videoplayer/share-url-bg-right.png') top right no-repeat; }
.mejs-honda .mejs-overlay-share a.close{display:block; position: absolute; top:3px; right:3px; width:33px; height:33px; background-image: url('../../img/content/videoplayer/share-btn-close.png'); background-repeat:  no-repeat; background-position: 0 0; }
.mejs-honda .mejs-overlay-share a.close:hover{background-position: 0 -50px;}

/* Video Selector Styles */
.mejs-honda .mejs-overlay-selector-background{background-image: url(../../img/content/videoplayer/bg-selector.png); position: absolute;left:0; top: auto; bottom:44px; width:100%; }

.mejs-honda .mejs-overlay-selector{}
.mejs-honda .mejs-overlay-selector a.browse{cursor: pointer; width: 20px; height: 30px; position: absolute; bottom:95px; background-position: 0 0; background-repeat: no-repeat; }
.mejs-honda .mejs-overlay-selector a.browse:hover{background-position: 0 -44px; }
.mejs-honda .mejs-overlay-selector a.disabled{display:none;}
.mejs-honda .mejs-overlay-selector a.next{right: 25px; background-image: url(../../img/content/videoplayer/btn-scroll-right.png);}
.mejs-honda .mejs-overlay-selector a.prev{left: 25px; background-image: url(../../img/content/videoplayer/btn-scroll-left.png);}

.mejs-honda .mejs-overlay-selector .slider-wrap{position: absolute; overflow: hidden; bottom: 65px; left: 50px; width: 595px; /*border: 1px solid red; */}
.mejs-honda .mejs-overlay-selector .slider-wrap ul{position: relative;  width: 10000px; margin:0; padding: 0;}
.mejs-honda .mejs-overlay-selector .slider-wrap ul li{display: block; float: left; width: 115px; padding: 2px; /*border: 1px solid blue;*/}
.mejs-honda .mejs-overlay-selector .slider-wrap ul li a{color: white;	font-weight: bold;font-size: 11px; display: block; }
.mejs-honda .mejs-overlay-selector .slider-wrap ul li a img{opacity:0.85;}
.mejs-honda .mejs-overlay-selector .slider-wrap ul li a:hover img,
.mejs-honda .mejs-overlay-selector .slider-wrap ul li a.active img{opacity:1;}
#feature_area .mejs-honda .mejs-overlay-selector .slider-wrap ul li a img {margin:0!important}
.mejs-honda .mejs-overlay-selector .slider-wrap ul li a .title{display: block; text-align: left; margin-top: 5px;}

