@import url(model-selector.css); 
/* @group Find a Compare Landing */
.page-compare-landing{}
.page-compare-landing h1{margin-bottom:5px;}
.page-compare-landing h2{margin-bottom:0;}
.page-compare-landing .content_container{padding:18px 30px 16px;}

.page-compare-landing dl.compare-products{margin:0 90px 0;}
.page-compare-landing dl.compare-products dd{width:160px; margin-top:20px; margin-left:130px;}
.page-compare-landing dl.compare-products dd.first{margin-left:0}
.page-compare-landing dl.compare-products dd p{font-size:14px; color:#0d9be4; font-weight:bold; margin-top:20px;}

* + html .page-compare-landing h1{margin-bottom:16px;}

* html .page-compare-landing h1{margin-bottom:16px;}

/* @end */

/* @group Compare Tool Compare Your Honda Results */
.compare_result_container { margin: 5px auto; }
.compare_result_container .tabs_horizontal { width: 950px; margin: 0 0 20px 0; }
.compare_result_container .tabs_horizontal li.selected { border-bottom: 1px solid #fff; }
.compare_result_container .tabs_horizontal li a { text-align: center; width: 134px; padding: 10px 0 1px 0; display:block;font-weight:bold;background:url(../../img/layout/bg_tab_horizontal_alt.gif) -10px 0 no-repeat; color: #333333; }
.compare_result_container .tabs_horizontal li a:hover { color:#d90124; }
.compare_result_container .tabs_horizontal li a.selected { background-position: -10px bottom; }
.compare_result_container .tabs_horizontal li a.selected:hover { color: #333333; }
.compare_result_container .tabs_horizontal li.first a { background-position: left top; }
.compare_result_container .tabs_horizontal li.first a.selected { background-position: left bottom; }
.compare_result_container .tabs_horizontal li.last a { background-position: right top; }
.compare_result_container .tabs_horizontal li.last a.selected { background-position: right bottom; }

.tooltip_compare_result p { padding-bottom: 10px; }

.compare_container{width:700px; line-height:16px; font-size:11px; color:#424242; margin-top:14px;}
.compare_container .col{width:200px; padding:3px 15px; margin-bottom: 15px; }
.compare_container a,
.compare_container a:hover{color:#424242;}

/* @end */

/* @group Find a Compare Results */

/* @group updates on 11.05.16 */
.page-compare-results .price-heading { color: #545454; font-size: 17px; margin-bottom: 2px; }
.page-compare-results .price-heading a { color: #545454; }
.page-compare-results .price { color: #7C7C7C; text-transform: uppercase; line-height: 12px; }
.page-compare-results .coming-soon { text-transform: none; }
.page-compare-results .price strong { float: left; font-size: 16px; margin-right: 5px; }
.page-compare-results .price span { font-size: 8px; font-weight: normal; }
.page-compare-results .original strong { color: #C4C4C4; }
.page-compare-results .final strong { color: #8F8F8F; font-size: 17px; font-weight: bold; }
.page-compare-results .special strong { color: #9ACF5B; font-size: 17px; font-weight: bold; }
.page-compare-results .multiline span { line-height: normal; }
.page-compare-results .price del { float: left; margin-right: 5px; }
.page-compare-results .price del:before { top: 12px; }
.page-compare-results .price del strong { margin-right: 0; }
.page-compare-results .price .strike { top: 12px; }
/* @end */

.page-compare-results h1{margin-left:28px;}
.page-compare-results .content_container{padding:18px 0 15px;}
.page-compare-results .tbl{margin:0 15px 0; width:auto;}
.page-compare-results .tbl tr.solid-divider{border-bottom:1px solid #dedede;}
.page-compare-results .tbl tr.solid-divider td{background-image:none !important;}
.page-compare-results .tbl tr.solid-divider td.differences-icon{background:url(../../img/content/compare/compare_dot.gif) 9px center no-repeat !important; padding-left:26px; font-weight:normal; color:#696969; font-size:10px;}

.page-compare-results .choose_your_trim {width:60px;height:258px;}
.page-compare-results .choose_trim_bg {background:url(../../img/content/compare/choose_your_trim_bg.gif) 0 0 repeat-y; zoom:1; position:relative; width:110px;}
.page-compare-results .choose_trim_arrow {background:url(../../img/content/compare/choose_your_model_arrow.gif) left center no-repeat; position:relative; zoom:1;}
.page-compare-results .choose_trim_bg .top_cap {width:40px; height:6px; position:absolute; top:0; left:0; background:url(../../img/content/compare/choose_your_trim_top_cap.gif) 0 0 no-repeat;}
.page-compare-results .choose_trim_bg .bottom_cap {width:40px; height:6px; position:absolute; bottom:0; left:0; background: url(../../img/content/compare/choose_your_trim_bottom_cap.gif) left bottom no-repeat; zoom:1;}

/* @end */


/* @Table Contents */
.page-compare-results .tbl_compare_result tr.first th { vertical-align: top; }
.page-compare-results .tbl_compare_result span { padding: 0; }
.page-compare-results .tbl_compare_result tr td { width: 165px; padding: 14px ; }
.page-compare-results .tbl_compare_result tr td.odd.spacer { width: 15px; padding: 0; }
.page-compare-results .tbl_compare_result tr.first th .top_corners { width: 195px; height: 4px; margin-bottom: 7px; overflow: hidden ;}
.page-compare-results div.top_corners div.tl, 
.page-compare-results div.top_corners div.tr { width: 4px; height: 4px; }
.page-compare-results div.top_corners div.tl { float: left; background: url(../../img/layout/rc_tl.gif) top left no-repeat; }
.page-compare-results div.top_corners div.tr { float: right; background: url(../../img/layout/rc_tr.gif) top left no-repeat; }

.page-compare-results .tbl_compare_result td.first { padding: 0;  font-size: 8pt ; }
.page-compare-results .tbl_compare_result tr.first.top th { border-bottom: 1px solid #ccc; }
.page-compare-results .tbl_compare_result tr.first.top th.name { width: 130px; height: 283px; background: url(../../img/content/compare/choose_your_model_bg.gif) top left no-repeat; }
.page-compare-results .tbl_compare_result tr.first.top th.name span { line-height: 10px; color: #fff; font-size: 10px; display:block; width: 38px; padding-top: 110px; padding-left: 8px; }
.page-compare-results .tbl_compare_result tr.first.top th.spacer { width: 15px; }

/*.page-compare-results .tbl_compare_result tr.top th.compare { position: relative; } */
.page-compare-results .tbl_compare_result tr.top th.compare.even div.model { border: 1px solid #F4F4F4;}
/*.page-compare-results .tbl_compare_result tr.top th.compare div.model { padding: 0 11px 0 14px ; float: none;}*/
.page-compare-results .tbl_compare_result tr.top th.compare.odd div.model span { float: none; font-size: 17px;  }
.page-compare-results .tbl_compare_result tr.top th.compare.odd div.model .year { display: block; }
.page-compare-results .tbl_compare_result tr.top th.compare div.model span { float: left; font-size: 17px; display: inline; width: 150px; }
.page-compare-results .tbl_compare_result tr.top th.compare div.model a.close { float: right; display: block; width: 15px;
	height: 15px; background: url(../../img/layout/btn_close.png) 0 0 no-repeat; }
.page-compare-results .tbl_compare_result tr.top th.compare div.model a.close:hover { background: url(../../img/layout/btn_close.png) -22px 0 no-repeat; }

.page-compare-results .tbl_compare_result tr.top th.compare.odd { padding: 15px 0 0 0; }
/*.page-compare-results .tbl_compare_result tr.top th.compare.odd div.model { padding: 0 11px 0 14px; }*/
.page-compare-results .tbl_compare_result tr.top th.compare div.tag-trim-details { padding: 0 11px 15px 14px; min-height: 332px; position: relative; }

.page-compare-results .tbl_compare_result tr.top th.compare span.price { float: left; padding: 1px 6px 0 0; font-size: 17px; font-weight: bold; color: #8f8f8f;  }
.page-compare-results .tbl_compare_result tr.top th.compare span.tag-text-msrp { float: left; padding: 4px 0 0 0; font-weight: normal; font-size: 8px !important; color: #7c7c7c; }
.page-compare-results .tbl_compare_result tr.top th.compare .original strong { padding: 2px 0 0 0; font-weight: normal; font-size: 17px;  }

.page-compare-results .tbl_compare_result tr.top th.compare .product_image {  width: 150px; height: 150px; margin: 11px 0 18px 20px; }
.page-compare-results .tbl_compare_result tr.top th.compare .change_btn { padding-left: 29px; position: absolute; bottom: 10px; }
.page-compare-results .tbl_compare_result tr.top th.compare .change_btn a.btn span { padding: 4px 12px 0 0; height: 22px; display: inline-block; float: none; }

.page-compare-results .tbl_compare_result tr.note td { border-bottom: 1px solid #ccc; }
.page-compare-results .tbl_compare_result tr.note td.note { width: auto; padding: 14px 0 14px 45px; color: #696969; background: url(../../img/content/compare/compare_indicates.gif) 0 12px no-repeat;  }
.page-compare-results .tbl_compare_result tr.differences td { background-color: #fff6e1; }
.page-compare-results .tbl_compare_result tr.differences td.even { background-color: #f6edd8; }
.page-compare-results .tbl_compare_result td.first.odd { padding: 11px 0; }
.page-compare-results .tbl_compare_result td.first.odd p { margin-bottom: 0 ; padding-left: 11px; font-size: 12px;}
.page-compare-results .tbl_compare_result td.first.odd p a { cursor: pointer; font-size: 10px; }
.page-compare-results .tbl_compare_result td.odd span, .page-compare-results .tbl_compare_result td.even span { font-size: 10px; }
.page-compare-results .tbl_compare_result td.first.odd div  { cursor: pointer; }
/* @end */

/* @Popups for Select A Model */
.page-compare-results .tooltip-right-alt h3{ font-size: 11px !important; }
.page-compare-results .tooltip-right-alt p { line-height: 14px; font-size: 10px !important; }
.page-compare-results div.popup_wrap { margin: 139px 0 0 40px; }
.french div.popup_wrap { margin: 139px 0 0 10px; }
.page-compare-results div.popup_wrap a.btn span { padding: 4px 12px 0 0; height: 22px; display: inline-block; float: none; }
.page-compare-results th.first + th .popup_wrap { margin-top: 128px; }
.page-compare-results .tbl_compare_result .price-disclaimer {padding-top: 10px;}

/* @IEs */
* html .page-compare-results div.selection_wrap div.item h3.price-heading { font-size: 11px;  }
* + html .page-compare-results div.selection_wrap div.item h3.price-heading { font-size: 11px;  }
* html .page-compare-results div.selection_wrap div.item .fc.final.price strong {  font-size: 10px;  }
* + html .page-compare-results div.selection_wrap div.item .fc.final.price strong {  font-size: 10px;  }

* html .page-compare-results .price strong { font-size: 13px; }
* html .page-compare-results .original span.price { font-size: 12px; }
* + html .page-compare-results .price strong { font-size: 13px; }
* + html .page-compare-results .original span.price { font-size: 12px; }

* html .page-compare-results .tbl_compare_result tr.top th.compare div.tag-trim-details {  padding: 0 11px 15px 14px; height: 332px; position: relative;}
* + html .page-compare-results .tbl_compare_result tr.top th.compare div.tag-trim-details {  padding: 0 11px 15px 14px; height: 332px; position: relative; }

* html .page-compare-results .tbl_compare_result tr.top th.compare .original strong { font-weight: bold; font-size: 13px; }
* + html .page-compare-results .tbl_compare_result tr.top th.compare .original strong { font-weight: bold;  font-size: 13px; }

* html .page-compare-results .tag-trim-details .model {  display: block; height: 10px;  }

* html .page-compare-results .tbl_compare_result td.first.odd p a { font-size: 10px; }
* + html .page-compare-results .tbl_compare_result td.first.odd p a { font-size: 10px; }
* html .page-compare-results div.dropdown_container.model-selector .dropdown_button.pf .dropdown_button_right {  padding: 8px 8px 8px 0 ; }
* + html .page-compare-results div.dropdown_container.model-selector .dropdown_button.pf .dropdown_button_right {  padding: 8px 8px 8px 0 ; }

* html .page-compare-results .tbl_compare_result tr.first.top th.compare div.model span {  font-weight: bold; font-size: 14px;  }
* + html .page-compare-results .tbl_compare_result tr.first.top th.compare div.model span {  font-weight: bold; font-size: 14px;  }
* html .page-compare-results .tbl_compare_result tr.first.top th.compare.odd div.model span {  font-weight: bold; font-size: 14px;  }
* + html .page-compare-results .tbl_compare_result tr.first.top th.compare.odd div.model span {  font-weight: bold; font-size: 14px;  }


* html .page-compare-results .tbl_compare_result tr.first.top th.compare span.price {  font-size: 14px;  }
* + html .page-compare-results .tbl_compare_result tr.first.top th.compare span.price {  font-size: 14px;  }


/* @end */

