/* @group Font Families */

html { -webkit-font-smoothing: antialiased; }

@font-face {
    font-family: 'NationalRegular';
    src: url('./fonts/nationalregular.eot');
    src: url('./fonts/nationalregular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nationalregular.woff') format('woff'),
         url('./fonts/nationalregular.ttf') format('truetype'),
         url('./fonts/nationalregular.svg#national-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NationalRegular';
    src: url('./fonts/nationalsemibold.eot');
    src: url('./fonts/nationalsemibold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nationalsemibold.woff') format('woff'),
         url('./fonts/nationalsemibold.ttf') format('truetype'),
         url('./fonts/nationalsemibold.svg#national-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NationalBold';
    src: url('./fonts/nationalsemibold.eot');
    src: url('./fonts/nationalsemibold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nationalsemibold.woff') format('woff'),
         url('./fonts/nationalsemibold.ttf') format('truetype'),
         url('./fonts/nationalsemibold.svg#national-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NationalExtrabold';
    src: url('./fonts/nationalextrabold.eot');
    src: url('./fonts/nationalextrabold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nationalextrabold.woff') format('woff'),
         url('./fonts/nationalextrabold.ttf') format('truetype'),
         url('./fonts/nationalextrabold.svg#national-extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NationalSemibold';
    src: url('./fonts/nationalsemibold.eot');
    src: url('./fonts/nationalsemibold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nationalsemibold.woff') format('woff'),
         url('./fonts/nationalsemibold.ttf') format('truetype'),
         url('./fonts/nationalsemibold.svg#national-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskCondSmBd';
    src: url('./fonts/FoundersGrotCond-Semibold.eot');
    src: url('./fonts/FoundersGrotCond-Semibold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/FoundersGrotCond-Semibold.woff') format('woff'),
         url('./fonts/FoundersGrotCond-Semibold.ttf') format('truetype'),
         url('./fonts/FoundersGrotCond-Semibold.svg#foundersgroteskcondsmbd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskCondMed';
    src: url('./fonts/FoundersGrotCond-Medium.eot');
    src: url('./fonts/FoundersGrotCond-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/FoundersGrotCond-Medium.woff') format('woff'),
         url('./fonts/FoundersGrotCond-Medium.ttf') format('truetype'),
         url('./fonts/FoundersGrotCond-Medium.svg#foundersgroteskcondmed') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ffsb{font-family:'FoundersGroteskCondSmBd', arial, sans-serif; font-weight:normal;}
.ffm{font-family:'FoundersGroteskCondMed', arial, sans-serif; font-weight:normal;}

.fnat{font-family:'NationalRegular', arial, sans-serif; font-weight:normal;}
.fnatb{font-family:'NationalBold', arial, sans-serif; font-weight:normal;}
.fnatsb{font-family:'NationalSemibold', arial , sans-serif; font-weight:normal;}
.fnateb{font-family:'NationalExtrabold', arial, sans-serif; font-weight:normal;}

.ie6 .fnatb,
.ie6 .fnatsb,
.ie6 .fnateb{font-weight:bold;}

/* @end */
/* @group reset styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body{line-height: 1;}
sup, sub{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
:focus{outline: 0;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse; border-spacing: 0;}
a{text-decoration:none; cursor:pointer; color:#0d9be4; cursor:pointer;border-bottom: 1px solid transparent; }
.link-primary:hover{border-bottom:1px dotted #0D9BE4;}

/* @end */
/* @group float clear fix */

.fc:after{content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden;}
.clr{clear:both;height:0;width:0;min-height:0;visibility:hidden;overflow:hidden;display:block;}
* html .fc { height: 1%;}
* + html .fc { display: inline-block; }

/* @end */
/* @group Shortcuts */

.fl {float:left}
.fr {float:right}
.dn {display:none;}
.np {padding:0 !important;}
.npl{padding-left:0 !important;}
.npr{padding-right:0 !important;}
.nm {margin:0 !important;}
.nmt {margin-top: 0 !important;}
.nmb {margin-bottom: 0 !important; }

/* @end */
/* @group Layout */

body{background:#c7c7c7;font-family:Verdana, Geneva, sans-serif;font-size:12px; overflow-x: hidden; }
h1, .h1 { color:#151515;font-size:38px;font-weight:bold;text-transform:uppercase;margin-bottom:25px;}
p { color: #424242; font-size: 11px; line-height: 16px; padding-bottom: 20px;}


h2, .h2 {
    color: #D90124;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 20px;
}

.cap_bottom_feature_area {height:6px;background:url("../../img/error/cap_bottom_feature_area.gif") 7px bottom no-repeat; bottom: -6px; position: relative; }
.cap_top_default {height:5px ;background:transparent url("../../img/error/cap_top_default.png") 0 0 no-repeat;position:relative; top:-5px; margin: 0; font-size:1px; }
.cap_bottom_default {height: 6px;background:url("../../img/error/cap_bottom_default.png") left bottom no-repeat transparent; padding: 0;position: relative; bottom: -6px; margin: 0; padding: 0; font-size:1px;}
.cap_top_columns {height:5px;background:url("../../img/error/cap_top_col1_col3.gif") 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }
.cap_top_columns_right {height:5px;background:url("../../img/error/cap_top_col3_col1.gif") 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }
.cap_bottom_columns {height:6px;background: url("../../img/error/cap_bottom_col1_col3.png") left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }
.cap_bottom_columns_right {height:6px;background: url("../../img/error/cap_bottom_col3_col1.png") left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }
.cap_middle_columns {width:256px;height:31px;background:url("../../img/error/cap_middle_col1.gif") 0 0 no-repeat;}
.wrapper_extended .cap_bottom_default { background-position: 7px bottom;}

/* @end */
/* @group Structure */

.wrapper {width:986px;background:url("../../img/error/bg_wrapper_col4.png") repeat-y;margin:0 auto 22px;}
.wrapper_homepage {width:986px;background:url("../../img/error/bg_wrapper_col4.png") repeat-y;margin:0 auto;}
.container { margin: 0 auto; position: relative; width: 980px; }
.content_container {padding: 22px 180px 28px;}

/* @end */
/* @group Header */

#header, #home_header {padding:0 18px 5px; width:950px; position:relative; margin:0 auto;}

.logo { width: 157px; }
#logo_homepage {margin-left:10px;display:block;width:157px;height:52px; background:url("../../img/error/honda_logo_homepage.gif") 0 10px no-repeat;}
.french #logo_homepage {background-image:url("../../img/error/honda_logo_homepage_fr.gif");}

#sub_header{height:26px; width:800px; clear:right; margin-bottom:9px;}
#sub_header #search{position:relative;background:url("../../img/error/bg_search_field.png") no-repeat;width:174px;height:23px; padding-top:2px; margin-left:14px;}
#sub_header #search input{margin:3px 4px 4px 10px;width:135px;border:0;outline:none;color:#333;font-size:11px;background:transparent;}
#sub_header #search .clear{position:absolute;top:4px;right:4px;width:15px;height:15px;background:url("../../img/error/icon_close.gif") no-repeat;}

#secondary_nav li{display:inline; font-size:0; margin-left:13px;}
#secondary_nav li:first-child{margin-left:0;}

.tertiary-nav{margin:10px 2px 9px 0;}
.tertiary-nav #language,
.tertiary-nav #social-links{display:inline-block; vertical-align:top;}
.tertiary-nav #language a{display:block; color:#8f8f8f; font-size:13px;}
.tertiary-nav #language a:hover{color:#424242;}
.tertiary-nav #language li{border-left:1px solid #dedede; padding:0 7px 3px;}
.tertiary-nav #language li:first-child{border:0; padding-left:0;}
.tertiary-nav #language li:last-child{padding-right:0;}
.tertiary-nav #social-links{margin-left:8px;}
.tertiary-nav #social-links li{margin-left:5px;}
.lt-ie7 .tertiary-nav #language,
.lt-ie7 .tertiary-nav #social-links{display:inline; zoom:1;}

#language {width: auto; height:29px;padding-right:10px; padding-top:15px;}
.ie7 #language { width: 300px; }
#language a {display:block;color:#8f8f8f;font-size:13px; padding-bottom:2px;}
#language a:hover{color:#424242;}
#language li{border-right:1px solid #dedede; padding-right:7px; padding-left:7px;}
#language li.first{border:0; padding-right:0;}

/* @end */
/* @group Menu */

.homepage_menu{padding-bottom:15px;}
.homepage_menu ul{ margin-left: 20px; width: 950px; }
.homepage_menu ul li a{ display: block; height: 80px; width: 117px; }
.homepage_menu ul li.honda a{ background: url(../../img/error/homepage_nav_logos.gif) 0 0 no-repeat; width: 117px; }
.homepage_menu ul li.acura a{ background: url(../../img/error/homepage_nav_logos.gif) -117px 0 no-repeat; }
.homepage_menu ul li.honda_power_equipment a{ background: url(../../img/error/homepage_nav_logos.gif) -236px 0 no-repeat;}
.homepage_menu ul li.honda_motorcycles a{ background: url(../../img/error/homepage_nav_logos.gif) -355px 0 no-repeat;}
.homepage_menu ul li.honda_atvs a{ background: url(../../img/error/homepage_nav_logos.gif) -474px 0 no-repeat;}
.homepage_menu ul li.honda_sidebyside a{ background: url(../../img/error/homepage_nav_logos.gif) -593px 0 no-repeat;}
.homepage_menu ul li.honda_marine a{ background: url(../../img/error/homepage_nav_logos.gif) -712px 0 no-repeat;}
.homepage_menu ul li.honda_engines a{ background: url(../../img/error/homepage_nav_logos.gif) -831px 0 no-repeat; width: 119px; }

.homepage_dropout{position:relative; margin:0; padding:0;}
.homepage_dropout a{font-size:14px; font-weight:bold; color:#696969; display:block; background:url("../../img/error/list_dropout_up.gif") 0 0 no-repeat; padding-left:37px; margin-left:10px; padding-bottom:3px;}
.homepage_dropout a:hover, .homepage_dropout a.selected {background-position:0 -20px; color:#696969;}
.homepage_dropout a span{color:#b7b7b7;}

.dropout_list{width:906px; position:absolute; top:-457px; left:18px; height:408px; padding:20px 22px; background:url("../../img/error/homepage_dropout_bg.png") 0 0 no-repeat; z-index: 100; }
.dropout_list a{background:none; padding:0; margin:0; font-weight:normal; font-size:11px; color:white; line-height:16px; display:inline;}
.dropout_list a:hover{color:#0d9be4;}
.dropout_list ul li{width:141px; margin-right:10px;}
.dropout_list ul li.last{width:131px; padding-left:10px;}
.dropout_list dl{margin-bottom:15px;}
.dropout_list dl dt{font-weight:bold; color:white; font-size:11px; padding-bottom:2px;}

.tout_nav{width:950px; margin-left:25px; text-align:center;}

/* @ roll overs */
/* @group dropdown box */
.corp_landing_box { margin-top: 1px; margin-left: 1px; z-index: 700; }
/*.corp_landing_box { margin-top: 3px; z-index: 700; }
.corp_landing_honda { margin-left: 3px; }
.corp_landing_acura { margin-left: 4px; }
.corp_landing_honda_power_equipment { margin-left: 3px; }
.corp_landing_honda_motorcycles { margin-left: 2px; }
.corp_landing_honda_atvs { margin-left: 5px; }
.corp_landing_honda_marine { margin-left: 4px; }
.corp_landing_honda_engines { margin-left: 2px; }*/

.corp_landing_box .corp_landing_honda_engines { margin-left: 1px; }
.corp_landing_box .dropdown_button { width: 117px; height: 73px; overflow-y: hidden; cursor: pointer; }
.corp_landing_box .dropdown_content { width: 117px; position: relative; z-index: 700; top: 0; overflow: hidden; }
.corp_landing_box .dropdown_content_mid { background: url("../../img/error/btn_corp_landing_mid.png") repeat-y left top transparent; width: 117px; }
.corp_landing_box .dropdown_content_bottom { background: url("../../img/error/btn_corp_landing_bottom.png") repeat-y left top transparent; height: 10px; overflow: hidden; width: 135px; }
.corp_landing_box .img_thumb { border-bottom: 1px solid #DEDEDE; margin: 0 5px; padding: 0 7px 10px; }

.corp_landing_honda .dropdown_button { background: url("../../img/error/landing_dd_honda.png") no-repeat scroll 0 0 transparent; }
.corp_landing_acura .dropdown_button { background: url("../../img/error/landing_dd_acura.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_power_equipment .dropdown_button { background: url("../../img/error/landing_dd_honda_power_equipment.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_motorcycles .dropdown_button { background: url("../../img/error/landing_dd_honda_motorcycles.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_atvs .dropdown_button { background: url("../../img/error/landing_dd_honda_atv.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_sidebyside .dropdown_button { background: url("../../img/error/landing_dd_honda_sidebyside.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_marine .dropdown_button { background: url("../../img/error/landing_dd_honda_marine.png") no-repeat scroll 0 0 transparent; }
.corp_landing_honda_engines .dropdown_button { background: url("../../img/error/landing_dd_honda_engines.png") no-repeat scroll 0 0 transparent; }

.landing_menu .h6 { text-align: center; text-transform: uppercase; font-size: 18px; color: #424242; padding-bottom: 12px; margin-bottom: 12px; border-bottom: 1px solid #dedede; font-weight: bold; }
.landing_menu .h6 a { color: #424242; }
.landing_menu ul { margin-top: 9px; padding: 0 10px 7px 10px !important; }
.landing_menu li { font-size: 10px; line-height: 11px; margin-bottom: 5px;}
.landing_menu li.first { font-weight: bold; }
.landing_menu li a { color: #424242; }
.landing_menu img { margin-top: 10px; }

.menu_box { z-index: 700; width: 440px; }
.menu_box .dropdown_button { left: -216px; float: left; width: 216px; display: block; height: 51px; position: relative; z-index: 800; background: url(../../img/error/btn_menu_overlay_button.png) left top no-repeat transparent; padding-left: 8px; }
.menu_box .dropdown_button_right { height: 51px; width: 216px; display: inline-block; background: url(../../img/error/btn_menu_overlay_button_right.png) right top no-repeat transparent; }
.menu_box .dropdown_button a { visibility: hidden; }
.menu_box .dropdown_content { float: left; left: -217px; width: 211px; position: relative; z-index: 700; }
.menu_box .dropdown_content_top { height: 9px; width: 211px; background: url(../../img/error/btn_menu_overlay_top.png) left top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }
.menu_box .dropdown_content_mid { width: 163px; background: url(../../img/error/btn_menu_overlay_mid.png) left top repeat-y transparent; padding: 7px 23px 15px 25px; margin: 0; }
.menu_box .dropdown_content_bottom { width: 211px; height: 10px; background: url(../../img/error/btn_menu_overlay_bottom.png) left top no-repeat transparent; margin: 0; padding: 0; overflow: hidden; }

input.dropdown_autocomplete { font-weight: bold; }

.french .homepage_menu ul li.honda a{ background: url(../../img/error/homepage_nav_logos_fr.gif) 0 0 no-repeat; width: 117px; }
.french .homepage_menu ul li.acura a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -117px 0 no-repeat; }
.french .homepage_menu ul li.honda_power_equipment a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -236px 0 no-repeat;}
.french .homepage_menu ul li.honda_motorcycles a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -355px 0 no-repeat;}
.french .homepage_menu ul li.honda_atvs a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -474px 0 no-repeat;}
.french .homepage_menu ul li.honda_sidebyside a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -593px 0 no-repeat;}
.french .homepage_menu ul li.honda_marine a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -712px 0 no-repeat;}
.french .homepage_menu ul li.honda_engines a{ background: url(../../img/error/homepage_nav_logos_fr.gif) -831px 0 no-repeat; width: 117px; }

.french .corp_landing_honda_power_equipment .dropdown_button { background: url("../../img/error/landing_dd_honda_power_equipment_fr.png") no-repeat scroll 0 0 transparent; }
.french .corp_landing_honda_motorcycles .dropdown_button { background: url("../../img/error/landing_dd_honda_motorcycles_fr.png") no-repeat scroll 0 0 transparent; }
.french .corp_landing_honda_atvs .dropdown_button { background: url("../../img/error/landing_dd_honda_atv_fr.png") no-repeat scroll 0 0 transparent; }
.french .corp_landing_honda_engines .dropdown_button { background: url("../../img/error/landing_dd_honda_engines_fr.png") no-repeat scroll 0 0 transparent; }
.french .corp_landing_honda_sidebyside .dropdown_button { background: url("/_Global/img/error/landing_dd_honda_sidebyside_fr.png") no-repeat scroll 0 0 transparent; }

/* @group js misc */

.dd_content { display: none; }

.dropdown_list { color: #000; }
.dropdown_list dt { font-weight: bold; font-size: 12px; margin-bottom: 15px; }
.dropdown_list dd { font-weight: normal; font-size: 11px; line-height: 11px; margin-top: 8px; }
.dropdown_list a { color: #000; }
.dropdown_list a:hover { border-bottom: 1px dotted #000; }

.tooltip { display: none; }
.tooltip_text { font-weight: normal; text-transform: none; font-size: 10px; line-height: 14px; color: #696969; }

a.tooltip_button { color: inherit; }

/* @end */
/* @group Sections */

.section { border-top: 1px solid #d6d6d6; padding-top: 30px; margin-top: 30px; }
.section.first { border-top: 0; padding-top: 0; margin-top: 0; }

/* @end */
/* @group Honda Canada Contents*/

#canada_contents{margin-bottom:22px;}
#canada_contents .container { padding:0; }

/* @end */
/* @group footer */

#footer{font-size:11px; color:#424242;}
#footer a:hover{border-bottom:1px dotted #726e6e;}

#footer .col-6{margin:0 15px 21px;}
#footer .col-6 .col{width:145px;margin-left:15px;}
#footer .col-6 .col:first-child{margin-left:0;}
.lt-ie7 #footer .col-6{zoom:1;}

#footer .col-6 li.heading{font-weight:bold;margin-bottom:13px;}
#footer .col-6 li{margin-bottom:5px;}
#footer .col-6 li a{color:#424242;}

#footer .sub_footer_nav{border-top:1px solid #848484; padding:29px 15px;}
#footer .sub_footer_nav_landing{padding:0 15px 25px;}
#footer .sub_footer_nav ul,
#footer .sub_footer_nav_landing ul{padding:0;margin:0;}
#footer .sub_footer_nav ul li,
#footer .sub_footer_nav_landing ul li{display:inline;padding-left:20px;margin:0;}
#footer .sub_footer_nav ul li.first,
#footer .sub_footer_nav_landing ul li.first{padding-left:0;}
#footer .sub_footer_nav ul li a,
#footer .sub_footer_nav_landing ul li a{color:#726e6e;}
#footer .sub_footer_nav .copyright,
#footer .sub_footer_nav_landing .copyright{line-height:18px;}
.lt-ie7 #footer .sub_footer_nav{zoom:1;}

/* @end */