/* @group Find a Dealer Landing */

.page-find-a-dealer h1{margin-bottom:12px;}
.page-find-a-dealer h2.search-options{font-weight:bold;font-size:22px;padding-bottom:30px; line-height:18px; text-transform:uppercase; color:#9bd05d; background:url("/_Global/img/layout/icon_st_find_dealer.gif") 0 0 no-repeat; padding-left:40px; padding-top:3px; display:inline-block;}

.page-find-a-dealer .content_container{padding:18px 30px 14px;}

.page-find-a-dealer .powerhouse-dealers{padding-top:30px;}
.page-find-a-dealer .powerhouse-dealers .powerhouse-building{width:200px; margin-right:40px;}
.page-find-a-dealer .powerhouse-dealers .powerhouse-logo{width:90px; margin-left:70px;}
.page-find-a-dealer .powerhouse-dealers .content{width:460px;}

.page-find-a-dealer dl.search-options{}
.page-find-a-dealer dl.search-options dd{text-align:left;}
.page-find-a-dealer dl.search-options dd.postal-code{padding:30px 0 0 44px; width:240px;}
.page-find-a-dealer dl.search-options dd.city{width:239px; padding:30px 0 0 32px;}
.page-find-a-dealer dl.search-options dd.region{width:247px; padding:30px 0 0 36px;}
.page-find-a-dealer dl.search-options dd.region p.heading{margin-bottom:8px;}
.page-find-a-dealer dl.search-options dd.divider{width:41px; height:180px; background:url(../../img/content/find-a-dealer/or-divider.gif) 0 0 no-repeat;}
.page-find-a-dealer dl.search-options dd p.heading{padding-bottom:5px;}
.page-find-a-dealer dl.search-options dd .input_box{margin-bottom:15px;}
.page-find-a-dealer dl.search-options dd .input_box input {height:19px;padding-top: 5px;}

.page-find-a-dealer .primary-box { height: 180px; margin: 0 auto 30px; padding: 0; width: 605px; }
.page-find-a-dealer .primary-box .search_button_area { margin-bottom: 15px; }

label.phd_only { font-size: 10px; font-weight: bold; }

* + html .page-find-a-dealer dl.search-options dd .input_box{margin-bottom:15px; background-position:0 1px; height:36px;}
* + html .page-find-a-dealer h2.search-options{font-size:16px; font-family:arial, sans-serif; padding-top:7px;}

* html .page-find-a-dealer dl.search-options dd .input_box{margin-bottom:15px; background-position:0 1px; height:26px;}
* html .page-find-a-dealer h2.search-options{font-size:16px; font-family:arial, sans-serif; padding-top:7px;}

/* @end */
/* @group Find a Dealer Results */

.show_phd_only { margin: 15px 5px 20px 0; text-align: right; }

/* @group Maps */

.gmap_result_list { position: relative; width: 658px; height: 356px; margin-bottom: 20px; }
.gmap_result_list .bg_t { position: absolute; top: 0; left: 0; z-index: 9; width: 657px; height: 3px; background: url(../../img/layout/bg_map_large_top.png) left top no-repeat transparent; overflow: hidden; }
.gmap_result_list .bg_l { position: absolute; top: 3px; left: 0; z-index: 9; width: 3px; height: 342px; background: url(../../img/layout/bg_map_large_l.png) left top repeat-y transparent; overflow: hidden; }
.gmap_result_list .bg_r { position: absolute; top: 10px; right: 0; z-index: 9; width: 3px; height: 342px; background: none left top repeat-y transparent; overflow: hidden; }
.gmap_result_list .bg_bl { position: absolute; bottom: 0; left: 0; z-index: 9; width: 3px; height: 3px; background: url(../../img/layout/bg_map_large_bl.png) left top no-repeat transparent; overflow: hidden; }
.gmap_result_list .bg_br { position: absolute; bottom: 0; right: 0; z-index: 9; width: 3px; height: 3px; background: url(../../img/layout/bg_map_large_br.png) left top no-repeat transparent; overflow: hidden; }

.gmap_result_list #gmap { zoom: 1; width: 645px; height: 355px; }
.gmap_result_detail { position: relative; width: 340px; height: 195px; margin: 0 20px 20px 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.gmap_result_detail .bg { position: absolute; z-index: 9; width: 340px; height: 195px; background: url(../../img/content/find-a-dealer/bg_map_small.png) left top no-repeat transparent; display: none; }
.gmap_result_detail #gmap { position: absolute; z-index: 5; width: 340px; height: 195px; }

/* @end  */

.page-find-a-dealer-results .notes{padding-bottom:0;}
.page-find-a-dealer-results .powerhouse_dealer{display:block; color:#e72530; text-transform:uppercase; background:url(../../img/layout/icon_powerhouse_star.gif) 0 1px no-repeat; padding-left:13px; font-size:11px; font-weight:bold;}
.page-find-a-dealer-results .exclusive_honda_dealer{display:block; color:#7c7c7c; text-transform:uppercase; background:url(../../img/layout/icon_exclusive_star.gif) 0 1px no-repeat; padding-left:13px; font-size:11px; font-weight:bold;}
.page-find-a-dealer-results .province { border-bottom: 1px solid #DEDEDE; }
.page-find-a-dealer-results .province tr.first th { border-bottom: 1px solid #DEDEDE; }
.page-find-a-dealer-results .province td.first, .page-find-a-dealer-results .province td.first a { color: #1B1B1B; }

/* @end */
/* @group Find a Dealer Details 1 */

.page-find-a-dealer-details-1{font-family:verdana, sans-serif;}
.page-find-a-dealer-details-1 h2{text-transform:uppercase;}
.page-find-a-dealer-details-1 p.heading{font-size:12px; font-family:verdana, sans-serif; color:#1b1b1b;}
.page-find-a-dealer-details-1 .address-info{margin-bottom:20px;}
.page-find-a-dealer-details-1 .address .img_rounded_corners{margin-right:30px;}
.page-find-a-dealer-details-1 .address .copy{position:relative; width:286px;}
.page-find-a-dealer-details-1 .address .copy .powerhouse-logo{/*position:absolute; top:0; right:0;*/ height: 50px; margin-bottom: 10px; width: 46px; background:url(../../img/content/find-a-dealer/logo_honda_powerhouse.gif) 0 0 no-repeat;}
.french .address .copy .powerhouse-logo{background:url(../../img/content/find-a-dealer/logo_honda_powerhouse_fr.gif) 0 0 no-repeat; height: 52px;}
.page-find-a-dealer-details-1 .directions .directions-copy{width:250px;}
.page-find-a-dealer-details-1 .directions{margin-bottom:20px;}

.page-find-a-dealer-details-1 dl.product-lines{margin-bottom:30px;}
.page-find-a-dealer-details-1 dl.product-lines dd{padding-left:35px; margin-top:15px; zoom:1;}
.page-find-a-dealer-details-1 dl.product-lines dd.first{margin-top:0;}
.page-find-a-dealer-details-1 dl.product-lines dd.power-equipment{background:url(../../img/content/find-a-dealer/icon_power_equipment.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines dd.motorcycles{background:url(../../img/content/find-a-dealer/icon_motorcycles.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines dd.atvs{background:url(../../img/content/find-a-dealer/icon_atvs.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines dd.sxs{background:url(../../img/content/find-a-dealer/icon_sxss.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines dd.authorized{background:url(../../img/content/find-a-dealer/icon_authorized.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines dd.marine{background:url(../../img/content/find-a-dealer/icon_marine.gif) 0 center no-repeat;}
.page-find-a-dealer-details-1 dl.product-lines p.heading{padding-bottom:0;}
.page-find-a-dealer-details-1 dl.product-lines p{padding-bottom:0;}

.page-find-a-dealer-details-1 .about-this-dealer{margin-bottom:10px;}
.page-find-a-dealer-details-1 .about-this-dealer .image{width:200px; height:100px; margin-right:30px;}
.page-find-a-dealer-details-1 .about-this-dealer .content{width:416px; background:none;}

.page-find-a-dealer-details-1 .hours_section table.first{margin-left:0px !important;}
.page-find-a-dealer-details-1 .hours_section table.hours{width:185px; margin-right:0;}
.page-find-a-dealer-details-1 .hours_section .tbl{border-bottom:1px solid #dedede;}
.page-find-a-dealer-details-1 .hours_section .tbl td span{font-size:10px !important;}
.page-find-a-dealer-details-1 .hours_section .tbl td.first{padding-left:0; font-weight:bold; color:#696969;}
.page-find-a-dealer-details-1 .hours_section .tbl td.even{text-align:center;}
.page-find-a-dealer-details-1 .hours_section .tbl td { background-position:left top; }
.page-find-a-dealer-details-1 .hours_section .tbl tr:first-child td{background-position:left -1px;}
.page-find-a-dealer-details-1 .hours_section .subsection{margin-left:35px; overflow:hidden; width:196px;}
/*.page-find-a-dealer-details-1 .hours_section .subsection{margin-left:45px; width: 185px; overflow: hidden; }*/

.page-find-a-dealer-details-1 p.contact_info{padding-bottom:0;}

/* @end */

/* @group Find a Dealer Powerhouse */

.page-find-a-dealer-powerhouse .find-dealer-widget-insert { background: url("/_Global/img/content/find-a-dealer/widget-insert.gif") no-repeat scroll 0 0 transparent; padding: 20px 20px 2px 20px; width: 260px; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert-cap { background: url("/_Global/img/content/find-a-dealer/widget-insert-cap.gif") no-repeat scroll 0 0 transparent;; height: 20px; width: 300px; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert h4{ background: url("/_Global/img/layout/icon_find_a_dealer.png") no-repeat scroll 0 5px transparent; color: #9bd05d; margin-top: -5px; padding: 0 0 0 40px; }
.french .page-find-a-dealer-powerhouse .find-dealer-widget-insert h4{ background: url("/_Global/img/layout/icon_find_a_dealer.png") no-repeat scroll 0 5px transparent; color: #9bd05d; margin-top: -5px; padding: 0 0 0 40px; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options label { color: #151515; display: block; font-size: 12px; line-height: 12px; text-transform: uppercase; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options .input_special {background:url(../../img/layout/bg_input_special.png) no-repeat;width:112px;height:23px;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options .input_special input {margin:4px 0 0 4px;width:53px;border:0px;outline:none;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options .input_special a {margin-left:10px;padding:4px 0;width:40px;text-align:center;display:block;text-transform:uppercase;text-decoration:none;color:white;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options .button {margin-left:8px;height:23px;width:auto;white-space:nowrap;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options li { margin-top: 13px; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options li.search_sub_header label {font-weight:bold; font-size:12px; color:#9acf5b; text-transform:capitalize !important;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options li.region label{padding-top:6px;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert .input_box .input { height: 23px; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert .input_box .input input { background: none; height: 21px; border-right: 0; }
.page-find-a-dealer-powerhouse .find-dealer-widget-insert .input_box a.btn {display:inline-block;height:20px; background: url(../../img/layout/btn_secondary_right.gif) no-repeat right top;padding:5px 10px 0 ;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert .input_box a.btn:hover {background-position:right -27px !important;}
.page-find-a-dealer-powerhouse .find-dealer-widget-insert .input_box .small_loader {position:absolute;right:6px;top:4px;display:none;}

* html .page-find-a-dealer-powerhouse .find-dealer-widget-insert h4 { font-size: 17px; padding-bottom: 10px; }
* html .page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options label { font-size: 10px; font-weight: bold; }
* + html .page-find-a-dealer-powerhouse .find-dealer-widget-insert h4 { font-size: 17px; padding-bottom: 10px; }
* + html .page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options label { font-size: 10px; font-weight: bold; }

* html .page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options li { margin-top: 10px; }
* + html .page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options li { margin-top: 15px; }
* + html .page-find-a-dealer-powerhouse .find-dealer-widget-insert ul.search_options { margin-top: -5px; }

.page-find-a-dealer-powerhouse .mb10 {
	margin-bottom: 10px;
}
.page-find-a-dealer-powerhouse p a {
	cursor: pointer;
}
.page-find-a-dealer-powerhouse p.download {
	line-height: 30px;
	padding-left: 30px;
	background: url(../../img/content/find-a-dealer/icon_download.gif) 0 7px no-repeat;
}
/*.page-find-a-dealer-powerhouse .content_section {
	padding-bottom: 27px;
}*/
.page-find-a-dealer-powerhouse .content_section.top_graphic {
	padding-top: 0;
	margin-top: -15px;
	border-top: none;
}
.page-find-a-dealer-powerhouse .powerhouse_section {
	padding-top: 26px;
    position: relative;
    z-index: 0;
	/*background: url(../../img/content/find-a-dealer/find_a_dealer_map.gif) right top no-repeat;*/
}
.page-find-a-dealer-powerhouse .powerhouse_section .map-button {
    position: relative;
    z-index: 4;
}
.page-find-a-dealer-powerhouse .powerhouse_section #canada_map {
    position: absolute;
    z-index: 2;
    width: 387px;
    height: 319px;
    top: 0;
    right: 0;
}
.page-find-a-dealer-powerhouse .powerhouse_section .content_section.left,

.page-find-a-dealer-powerhouse .powerhouse_section .content_section.left {
	border: 0;
	float: left;
	margin-top: 0;
	padding-top: 0;
	width: 580px;
}

/*.page-find-a-dealer-powerhouse .powerhouse_section .content_section.btn { border-top: none; float: right; padding-top: 0px; width: 140px; }*/
.page-find-a-dealer-powerhouse .powerhouse_section .content_section.btn a.secondary_large { font-size: 12px; }
.page-find-a-dealer-powerhouse .powerhouse_section .content_section.btn a.secondary_large span { height: 33px; padding-top: 7px; white-space: normal; text-align: center; }

.page-find-a-dealer-powerhouse .powerhouse_section .content_section.left .top_narrow {
	width: 540px;
	padding-bottom: 26px;
}
.page-find-a-dealer-powerhouse .powerhouse_section .what_set_us_apart h3 {
	float: left;
	width: 124px;
	margin-right: 41px;
	padding-left: 40px;	
}
.page-find-a-dealer-powerhouse .powerhouse_section .what_set_us_apart h3.one {
	background: url(../../img/content/find-a-dealer/what_sets_us_part1.gif) 0 0 no-repeat;
}
.page-find-a-dealer-powerhouse .powerhouse_section .what_set_us_apart h3.two {
	background: url(../../img/content/find-a-dealer/what_sets_us_part2.gif) 0 0 no-repeat;
}
.page-find-a-dealer-powerhouse .powerhouse_section .what_set_us_apart h3.three {
	margin-right: 0px;
	background: url(../../img/content/find-a-dealer/what_sets_us_part3.gif) 0 0 no-repeat;
}

.page-find-a-dealer-powerhouse .content_section .sub_section .col {
	float: left;
	width: 290px;
	margin-left: 25px;
}
.page-find-a-dealer-powerhouse .content_section .sub_section .col.first {
	margin: 0;
}
.page-find-a-dealer-powerhouse .content_section .sub_section.honda_hotel {
	float: left;
	width: 420px;
	/*height: 140px;*/
	padding: 16px 0 0 195px;
	background: url(../../img/content/find-a-dealer/honda_hotel.jpg) 0 16px no-repeat;
}
.page-find-a-dealer-powerhouse .content_section .sub_section.powerhouse_special_offer {
	float: right;
	width: 154px;
	/*height: 140px;*/
	padding: 16px 0 0 100px;
	background: url(../../img/content/find-a-dealer/special_offer.gif) 0 30px no-repeat;
}
.page-find-a-dealer-powerhouse .content_section .sub_section img {
	margin-bottom: 19px;
}
.page-find-a-dealer-powerhouse .content_section .sub_section ul li {
	color:#424242;font-size:11px;line-height:16px;
	 list-style: disc outside none;
}
.page-find-a-dealer-powerhouse .content_section .sub_section ul {
	padding: 0 0 5px 14px;
}
/* @end */

.dealer_popup { width: 295px; min-height: 70px; }
.dealer_popup .h6 { font-weight: bold; line-height: 16px; font-size: 12px; }
.dealer_popup .copy { width: 175px; }
.dealer_popup .image { width: 90px; }
.dealer_popup .address { line-height: 16px; }
.dealer_popup .phone { margin-top: 8px; }
.dealer_popup .website { margin-top: 8px; }










