/* Help Me Choose - Landing Page */
.page-help-me-choose-landing .content_container .first_section h1 { margin-bottom: 10px; text-align: center; }
.page-help-me-choose-landing .content_container .first_section h2 { text-align: center; }

.page-help-me-choose-landing .content_section .product_categories { margin: 0 0 40px; padding: 0 0 0 60px; }
.page-help-me-choose-landing .content_section .product_categories .item { margin: 0 0 0 160px; text-align: center; }
.page-help-me-choose-landing .content_section .product_categories .image { height: 160px; margin: 0 0 15px; width: 160px; }
.page-help-me-choose-landing .content_section .product_categories h2.small { padding: 0; }

/* Help Me Choose - Questions */
.page-help-me-choose-question .wrapper { margin-bottom: 0; }
.page-help-me-choose-question .question-panel { position: relative; }
.page-help-me-choose-question .question-panel .center-container { visibility: hidden; }
.page-help-me-choose-question .question-panel .bottom-container { visibility: hidden; }
.page-help-me-choose-question .question-panel .loader_container {position: absolute;top: 0;left: 50%;width: 980px;z-index: 1;background-color: white;margin: 0 0 0 -490px;height: 0;padding: 0;}

.page-help-me-choose-question .top-container { border-bottom: 1px solid #DEDEDE;}
.page-help-me-choose-question .top-container .content_container { padding: 18px 30px 0; }

.page-help-me-choose-question .top-container .subheading-box { background: url("/_Global/img/content/help-me-choose/circle_red.png") no-repeat scroll left 5px transparent; margin: 0 0 30px; }
.page-help-me-choose-question .top-container .subheading-box .question-number { color: #FFFFFF; font-size: 18px; font-weight: bold; height: 35px; margin: 10px 25px 0 0; text-align: center; width: 35px; }
.page-help-me-choose-question .top-container .subheading-box h2 { padding: 0 0 5px; }
.page-help-me-choose-question .top-container .subheading-box p { padding: 0; }

.page-help-me-choose-question .center-container .content_container { padding: 0; }
.page-help-me-choose-question .center-container .questions .item { border-left: 1px solid #DEDEDE; padding: 25px 0 28px; text-align: center; }
.page-help-me-choose-question .center-container .questions .item .notes { display: block;text-align: left;font-size: 11px;}
.page-help-me-choose-question .center-container .questions .image { background: #ABABAB; cursor: pointer; display: block; height: 200px; margin: 0 auto 20px; }
.page-help-me-choose-question .center-container .questions .heading { color: #1B1B1B; cursor: pointer; font-size: 14px; font-weight: bold; line-height: 18px; }
.page-help-me-choose-question .center-container .questions p { cursor: pointer; font-size: 11px; padding: 0; }
.page-help-me-choose-question .center-container .questions .hover .heading { color: #E72530; }
.page-help-me-choose-question .center-container .questions .hover p { color: #E72530; }

.page-help-me-choose-question .cols-2question .questions .item { width: 245px;padding-left: 122px;padding-right: 122px; }
.page-help-me-choose-question .cols-2question .questions .hover { background: url("/_Global/img/content/help-me-choose/checkmark_medium.png") no-repeat scroll 375px 10px transparent; }
.page-help-me-choose-question .cols-2question .questions .image { width: 245px; }

.page-help-me-choose-question .cols-3question .questions .item { width: 245px;padding-left: 40px;padding-right: 40px;}
.page-help-me-choose-question .cols-3question .questions .hover { background: url("/_Global/img/content/help-me-choose/checkmark_medium.png") no-repeat scroll 295px 10px transparent; }
.page-help-me-choose-question .cols-3question .questions .image { width: 245px; }

.page-help-me-choose-question .cols-4question .questions .item { width: 244px; }
.page-help-me-choose-question .cols-4question .questions .hover { background: url("/_Global/img/content/help-me-choose/checkmark_medium.png") no-repeat scroll 215px 10px transparent; }
.page-help-me-choose-question .cols-4question .questions .image { width: 175px; }

.page-help-me-choose-question .cols-5question .questions .item { width: 195px; }
.page-help-me-choose-question .cols-5question .questions .hover { background: url("/_Global/img/content/help-me-choose/checkmark_medium.png") no-repeat scroll 165px 10px transparent; }
.page-help-me-choose-question .cols-5question .questions .image { width: 135px; }

.page-help-me-choose-question .bottom-container { background: #F4F4F4; border-top: 1px solid #DEDEDE; }
.page-help-me-choose-question .bottom-container .content_container { padding-bottom: 22px; padding-top: 0; }
.page-help-me-choose-question .bottom-container .content_container .content_section { padding-top: 46px; }

.page-help-me-choose-question .wizard-progress { margin: 3px 0 0; }
.page-help-me-choose-question .wizard-progress .wizard-progress-cap-right { background: url("/_Global/img/content/help-me-choose/progress_bar_cap_r.png") no-repeat scroll left top transparent; float: left; height: 10px; width: 5px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-bar { background: url("/_Global/img/content/help-me-choose/progress_bar.png") repeat-x scroll left top transparent; float: left; height: 10px; padding: 0 0 0 3px; width: 57px; }

.page-help-me-choose-question .wizard-progress-count { position: relative; }
.page-help-me-choose-question .wizard-progress-count .wizard-progress-number { color: #7C7C7C; height: 24px; padding: 5px 0 0; position: absolute; text-align: center; top: 8px; width: 24px; }

.page-help-me-choose-question .wizard-progress-count .number1 { left: 50px; }
.page-help-me-choose-question .wizard-progress-count .number2 { left: 118px; }
.page-help-me-choose-question .wizard-progress-count .number3 { left: 186px; }
.page-help-me-choose-question .wizard-progress-count .number4 { left: 252px; }
.page-help-me-choose-question .wizard-progress-count .number5 { left: 320px; }
.page-help-me-choose-question .wizard-progress-count .number6 { left: 387px; }
.page-help-me-choose-question .wizard-progress-count .number7 { left: 445px; }
.page-help-me-choose-question .wizard-progress-count .active { background: url("/_Global/img/content/help-me-choose/grey_circle_outline.png") no-repeat scroll 0 0 transparent; color: #E72530; }

.page-help-me-choose-question .wizard-progress .green-bar-cap-left { background: url("/_Global/img/content/help-me-choose/green_bar_cap_l.png") no-repeat scroll left top transparent; float: left; height: 5px; position: relative; top: 2px; width: 2px; }
.page-help-me-choose-question .wizard-progress .green-bar-cap-right { background: url("/_Global/img/content/help-me-choose/green_bar_cap_r.png") no-repeat scroll left top transparent; float: left; height: 5px; position: relative; top: 2px; width: 2px; }
.page-help-me-choose-question .wizard-progress .green-bar { background: url("/_Global/img/content/help-me-choose/green_bar.png") repeat-x scroll left top transparent; float: left; height: 5px; position: relative; top: 2px; width: 53px; }

.page-help-me-choose-question .wizard-progress .wizard-progress-1 { width: 57px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-2 { width: 124px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-3 { width: 192px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-4 { width: 259px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-5 { width: 327px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-6 { width: 394px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-7 { width: 452px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-8 { width: 519px; }

.page-help-me-choose-question .wizard-progress .green-bar-1 { width: 55px; }
.page-help-me-choose-question .wizard-progress .green-bar-2 { width: 122px; }
.page-help-me-choose-question .wizard-progress .green-bar-3 { width: 190px; }
.page-help-me-choose-question .wizard-progress .green-bar-4 { width: 257px; }
.page-help-me-choose-question .wizard-progress .green-bar-5 { width: 325px; }
.page-help-me-choose-question .wizard-progress .green-bar-6 { width: 392px; }
.page-help-me-choose-question .wizard-progress .green-bar-7 { width: 450px; }
.page-help-me-choose-question .wizard-progress .green-bar-8 { width: 515px; }

.page-help-me-choose-question .wizard-progress .wizard-progress-1 .green-bar-1 { width: 53px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-2 .green-bar-2 { width: 120px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-3 .green-bar-3 { width: 188px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-4 .green-bar-4 { width: 255px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-5 .green-bar-5 { width: 323px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-6 .green-bar-6 { width: 390px; }
.page-help-me-choose-question .wizard-progress .wizard-progress-7 .green-bar-7 { width: 448px; }

.page-help-me-choose-question .pagination-controls .btn { float: left; margin: 9px 0 0; }
.page-help-me-choose-question .pagination-controls .btn a { color: #696969; font-weight: bold; text-transform: uppercase; }
.page-help-me-choose-question .pagination-controls .divider { background: url("/_Global/img/content/help-me-choose/dotted_grey_border_v.gif") repeat-y scroll center top transparent; float: left; height: 31px; padding: 0 20px; width: 1px; }
.page-help-me-choose-question .pagination-controls .prev { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left 1px transparent; }
.page-help-me-choose-question .pagination-controls .prev a { padding: 0 0 0 13px; }
.page-help-me-choose-question .pagination-controls .next { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -47px transparent; }
.page-help-me-choose-question .pagination-controls .next a { padding: 0 13px 0 0; }

.page-help-me-choose-question .pagination-controls .prev-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left -15px transparent; }
.page-help-me-choose-question .pagination-controls .prev-hover a { color: #E72530; }
.page-help-me-choose-question .pagination-controls .next-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -63px transparent; }
.page-help-me-choose-question .pagination-controls .next-hover a { color: #E72530; }

.page-help-me-choose-question .cap_bottom_grey { height: 10px; background: url("/_Global/img/content/help-me-choose/cap_bottom_long_grey.png") no-repeat scroll center bottom transparent; bottom: 0; margin: 0 auto; width: 1000px; }

.page-help-me-choose-question .questions a.item input[type="radio"] { display: none; }

/* Help Me Choose - Results */
.page-help-me-choose-results .top-container { border-bottom: 1px solid #DEDEDE; }
.page-help-me-choose-results .top-container .content_container { padding: 18px 30px 0; }

.page-help-me-choose-results .top-container .subheading-box { background: url("/_Global/img/content/help-me-choose/checkmark_large.png") no-repeat scroll left 5px transparent; margin: 0 0 30px; padding: 0 0 0 60px; }
.page-help-me-choose-results .top-container .subheading-box h2 { padding: 0 0 5px; }
.page-help-me-choose-results .top-container .subheading-box p { padding: 0; }

.page-help-me-choose-results .top-container .results_compare { background: url("/_Global/img/content/products/dotted_grey_border_v.gif") repeat-y scroll left top transparent; margin: 28px 0 0; padding: 0 0 0 25px; width: 75px; }
.page-help-me-choose-results .top-container .results_compare .compare-these { margin-bottom: 15px; }
.page-help-me-choose-results .top-container .results_compare p { font-size: 10px; padding: 0; }
.page-help-me-choose-results .top-container .results_compare .btn { margin: 0 0 5px;}
.page-help-me-choose-results .top-container .results_header { width: 810px; }

.page-help-me-choose-results .center-container .content_container { padding: 7px 0 0; }
.page-help-me-choose-results .center-container .content_container .cols-0results { padding-left: 0; }
.page-help-me-choose-results .center-container .content_container .cols-1results { padding-left: 390px; }
.page-help-me-choose-results .center-container .content_container .cols-2results { padding-left: 200px; }
.page-help-me-choose-results .center-container .content_container .cols-3results { padding-left: 30px; }

.page-help-me-choose-results .center-container .result { float: left; margin: 0 0 0 100px; width: 240px; }
.page-help-me-choose-results .center-container .first { margin: 0 !important; }
.page-help-me-choose-results .center-container .result .image { height: 240px; margin: 0 0 20px; width: 240px; }
.page-help-me-choose-results .center-container .result .product_name .h1, .page-help-me-choose-results .center-container .result .product_name .h1 a { color: #545454; font-size: 30px; margin: 0; }
.page-help-me-choose-results .center-container .result .product_name .h2 { color: #E72530; font-weight: bold; text-transform: uppercase; }
.page-help-me-choose-results .center-container .result .divider { background: url("/_Global/img/content/products/dotted_grey_border_h.gif") repeat-x scroll left top transparent; font-size: 1px; height: 1px; margin: 0 0 15px; }

/* Help Me Choose - Prices */
.page-help-me-choose-results .center-container .result .product-prices .price { text-transform: uppercase; }
.page-help-me-choose-results .center-container .result .product-prices .price sup { position: relative; }
.page-help-me-choose-results .center-container .result .product-prices .price span { color: #7C7C7C; font-size: 11px; position: relative; }

.page-help-me-choose-results .center-container .result .product-prices .original strong { color: #C4C4C4; font-size: 26px; }
.page-help-me-choose-results .center-container .result .product-prices .original sup { font-size: 20px; top: 10px; }
.page-help-me-choose-results .center-container .result .product-prices .original span { top: -9px; }
.page-help-me-choose-results .center-container .result .product-prices .special strong { color: #9ACF5B; font-size: 26px; }
.page-help-me-choose-results .center-container .result .product-prices .special sup { font-size: 20px; top: 10px; }
.page-help-me-choose-results .center-container .result .product-prices .special span { top: -9px; }
.page-help-me-choose-results .center-container .result .product-prices .final { margin: 0 0 20px; }
.page-help-me-choose-results .center-container .result .product-prices .final strong { font-size: 32px; }
.page-help-me-choose-results .center-container .result .product-prices .final sup { font-size: 24px; top: 11px; }
.page-help-me-choose-results .center-container .result .product-prices .final span { top: -15px; }

.page-help-me-choose-results .center-container .result .product-prices .price del { margin-right: 5px; }
.page-help-me-choose-results .center-container .result .product-prices .price del:before { top: 23px; }
.page-help-me-choose-results .center-container .result .product-prices .price del strong { margin-right: 0; }
.page-help-me-choose-results .center-container .result .product-prices .price .strike { top: 23px; }

.page-help-me-choose-results .center-container .result .price-disclaimer { padding-bottom: 20px; }
.page-help-me-choose-results .center-container .result .price-disclaimer span{color: #7C7C7C;font-size: 10px;}

.first_section h2.small{font-size:14px;}

.msg-error span{display:inline-block; background:url("/_Global/img/layout/icon_error_x.png") 0 0 no-repeat; height:27px; padding:8px 0 0 44px; margin:0 auto;}
.msg-error-lrg{padding:200px 0; text-align:center; font-weight:bold; color:#7c7c7c; font-size:23px;}

.no-matches{}
.no-matches .subheading-box{background:url("/_Global/img/layout/icon_error_x.png") 0 0 no-repeat !important; padding-left:50px; zoom:1;}
* + html .no-matches .subheading-box p{margin-bottom:0;}

/* @IE Specific Styles */
* html .page-help-me-choose-question .top-container .subheading-box .question-number { font-size: 14px; margin-top: 14px; }
* + html .page-help-me-choose-question .top-container .subheading-box .question-number { font-size: 14px; margin-top: 14px; }

* + html .page-help-me-choose-question .bottom-container .content_container { padding-bottom: 21px; }

* html .page-help-me-choose-question .wizard-progress { font-size: 1px; }

* html .page-help-me-choose-question .wizard-progress-count .wizard-progress-number { font-size: 10px; padding: 7px 0 0; }
* + html .page-help-me-choose-question .wizard-progress-count .wizard-progress-number { font-size: 10px; padding: 7px 0 0; }

* html .page-help-me-choose-question .pagination-controls .btn a { font-size: 10px; }
* html .page-help-me-choose-question .pagination-controls .prev { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left 2px transparent; padding-top: 2px; }
* html .page-help-me-choose-question .pagination-controls .next { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -46px transparent; padding-top: 2px; }
* html .page-help-me-choose-question .pagination-controls .prev-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left -14px transparent; }
* html .page-help-me-choose-question .pagination-controls .next-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -62px transparent; }

* + html .page-help-me-choose-question .pagination-controls .btn a { font-size: 10px; }
* + html .page-help-me-choose-question .pagination-controls .prev { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left 2px transparent; padding-top: 2px; }
* + html .page-help-me-choose-question .pagination-controls .next { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -46px transparent; padding-top: 2px; }
* + html .page-help-me-choose-question .pagination-controls .prev-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll left -14px transparent; }
* + html .page-help-me-choose-question .pagination-controls .next-hover { background: url("/_Global/img/content/help-me-choose/arrows.png") no-repeat scroll right -62px transparent; }


* html .page-help-me-choose-results .top-container .results_header { width: 800px; }
* + html .page-help-me-choose-results .top-container .subheading-box { zoom: 1; }


* html .page-help-me-choose-results .center-container .result .product_name .h1 { font-size: 26px; margin: 27px 0 4px; font-family: arial, sans-serif !important;}
* html .page-help-me-choose-results .center-container .result .product_name .h2 { font-size: 11px; margin: 0 0 11px; font-family: arial, sans-serif;}
* html .page-help-me-choose-results .center-container .result .product-prices .price { line-height: normal; margin: 0 0 5px; }
* html .page-help-me-choose-results .center-container .result .product-prices .price .strike { top: 15px; }
* html .page-help-me-choose-results .center-container .result .product-prices .original strong { font-size: 22px; font-family: arial, sans-serif;}
* html .page-help-me-choose-results .center-container .result .product-prices .original sup { font-size: 16px; top: -1px; }
* html .page-help-me-choose-results .center-container .result .product-prices .original span { font-size: 9px; font-weight: bold; top: -9px; }
* html .page-help-me-choose-results .center-container .result .product-prices .special strong { font-size: 22px; font-family: arial, sans-serif;}
* html .page-help-me-choose-results .center-container .result .product-prices .special sup { font-size: 16px; top: -1px; }
* html .page-help-me-choose-results .center-container .result .product-prices .special span { font-size: 9px; font-weight: bold; top: -9px; }
* html .page-help-me-choose-results .center-container .result .product-prices .final { margin-bottom: 15px; }
* html .page-help-me-choose-results .center-container .result .product-prices .final strong { font-size: 28px; font-family: arial, sans-serif;}
* html .page-help-me-choose-results .center-container .result .product-prices .final sup { font-size: 24px; top: -1px; }
* html .page-help-me-choose-results .center-container .result .product-prices .final span { font-size: 9px; font-weight: bold; top: -17px; }

* + html .page-help-me-choose-results .center-container .result .product_name .h1 { font-size: 26px; margin: 27px 0 4px; font-family: arial, sans-serif !important; }
* + html .page-help-me-choose-results .center-container .result .product_name .h2 { font-size: 11px; margin: 0 0 11px; font-family: arial, sans-serif; }
* + html .page-help-me-choose-results .center-container .result .product-prices .price { line-height: normal; margin: 0 0 5px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .price .strike { top: 15px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .original strong { font-size: 22px; font-family: arial, sans-serif; }
* + html .page-help-me-choose-results .center-container .result .product-prices .original sup { font-size: 16px; top: -1px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .original span { font-size: 8px; font-weight: bold; top: -9px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .special strong { font-size: 22px; font-family: arial, sans-serif; }
* + html .page-help-me-choose-results .center-container .result .product-prices .special sup { font-size: 16px; top: -1px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .special span { font-size: 8px; font-weight: bold; top: -9px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .final { margin-bottom: 15px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .final strong { font-size: 28px; font-family: arial, sans-serif; }
* + html .page-help-me-choose-results .center-container .result .product-prices .final sup { font-size: 24px; top: -1px; }
* + html .page-help-me-choose-results .center-container .result .product-prices .final span { font-size: 8px; font-weight: bold; top: -17px; }