.page-honda-advantage h2.white { text-transform: uppercase; font-size: 29px; color: #fff; }
.page-honda-advantage .mb10 { margin-bottom: 10px; }
.page-honda-advantage .large-list li { color: #424242; font-size: 14px; line-height: 22px; list-style: disc inside; }

.page-honda-advantage .slideshow_player_support { text-align: center; height: 180px; }
.page-honda-advantage .slideshow_player_support object { height: 180px; margin: 0 auto; width: 950px; display: block; }

.page-honda-advantage .toutrotator { text-align: center; height: 180px; }

#feature_area .container .honda_advantage_top_flash_banner { padding: 5px 15px; }
.page-honda-advantage .the_honda_advantage_box { text-align: center;  margin-bottom: 48px; }
.page-honda-advantage .the_honda_advantage_box p { font-size: 14px; line-height: 26px; padding-bottom: 0; color: #fff; }
.page-honda-advantage .the_honda_advantage_box .bluebox_top_cap { width: 657px; height: 42px; background: url(../../img/content/honda-advantage/bluebox_top_cap.png) 0 0 no-repeat; }
.page-honda-advantage .the_honda_advantage_box .bluebox_bottom_cap { width: 657px; height: 6px; background: url(../../img/content/honda-advantage/bluebox_bottom_cap.png) 0 0 no-repeat; }
.page-honda-advantage .the_honda_advantage_box .bluebox_content { width: 569px; padding: 28px 44px 34px 44px; background: url(../../img/content/honda-advantage/bluebox_content.png) 0 0 repeat-y; }

.page-honda-advantage dl.the_honda_advantage_categories{margin-bottom:25px;}
.page-honda-advantage dl.the_honda_advantage_categories dd{width:164px; margin-left:82px; margin-top:30px; text-align:center;}
.page-honda-advantage dl.the_honda_advantage_categories dd a span{font-weight:bold; margin-top:20px; font-size:14px;}
.page-honda-advantage dl.the_honda_advantage_categories dd a span.image{margin-top:0;}
.page-honda-advantage dl.the_honda_advantage_categories dd span{display:block;}
.page-honda-advantage dl.the_honda_advantage_categories dd.first{margin-left:0;}

.page-honda-advantage .h4_sun_icon{ background: url("/_Global/img/layout/icon_sun.gif") left 8px no-repeat; color: #53C4ff; font-size: 22px; font-weight: bold; padding: 5px 0 20px 40px; text-transform: uppercase; zoom: 1; }
.page-honda-advantage .blue { color: #53c4ff; font-weight: 200; font-size: 18px; padding-bottom: 5px; text-transform: ; }

.page-honda-advantage #feature_area .container{margin:0 auto 5px;}

* html .page-honda-advantage h2.white { font-size: 23px; }
* + html .page-honda-advantage h2.white { font-size: 23px; }