/* @group */

.page-landing #feature_area{text-align:center;}
.page-landing #feature_area .hero { width: 950px; margin: 0 auto; }
.page-landing #feature_area .hero object { width: 950px; height: 355px; }
.page-landing .landing-heading{font-size:14px; font-weight:bold; text-transform:uppercase;}
.page-landing .landing-heading .commercial-products{color:#ffa943; display:block; background:url(../../img/content/landing/icon_commercial_products.gif) 0 2px no-repeat; height:20px; padding:6px 0 0 28px; margin:0 0 8px 26px;}
.page-landing .landing-heading .commercial-products a {color:#ffa943 !important; }

/*new - copied from Honda.ca*/
.page-landing .news-events dd, 
.page-landing dl.landing-touts dd{margin-left:10px;}
.page-landing dl.landing-touts dd a.small-tout{width:230px; height:131px;}
.page-landing dl.landing-touts dd p{width:230px; margin-top:5px;}
.page-landing .news-events dd:first-child,
.page-landing dl.landing-touts dd:first-child{margin-left:0;}
/*end new - copied from Honda.ca*/

.page-landing .round-corners-big {position:absolute;margin-left: 23px; display: block;}
.page-landing .round-corners-small {position:absolute; margin-left: 0px; display: block; width:230px; height:131px;}

.page-landing .wide_three_column p{margin-bottom:0; padding-bottom:0;}
.page-landing .wide_three_column a,
.page-landing .wide_three_column p.find-out-more{margin-top:5px;}
.page-landing .wide_three_column p.find-out-more a{display:inline;}
/*.page-landing .wide_three_column p.find-out-more a:hover{border-bottom:1px dotted #0D9BE4;}*/
.page-landing .wide_three_column p.find-out-more a:hover{background: url(../../img/layout/dotted_link_underline.gif) 0 bottom repeat-x;}
.page-landing .content_container{padding:5px 15px;}
.page-landing p.heading{padding-bottom:10px;}
.page-landing p.heading a{color:#1b1b1b; font-size:12px;}
.page-landing p.heading a:hover { border-bottom: 0px; padding-bottom: 0; }

.page-landing .wide_three_column li p a:hover { padding-bottom: 0; }

.page-landing .content-area-wrapper .web_properties { margin:5px 0 3px; }
.page-landing .content-area-wrapper .web_properties li { border-right: 1px solid #ddd; display:block; }
.page-landing .content-area-wrapper .web_properties li.last { border:0; }
/* same footer as hondaauto */
.page-landing .content-area-wrapper .web_properties li a { display:block; width:119px; height:80px; }

.page-landing .content-area-wrapper .web_properties li.honda a { background: url(../../img/content/landing/footer_logos.png) 0 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.acura a { background: url(../../img/content/landing/footer_logos.png) scroll -120px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_power_equipment a { background: url(../../img/content/landing/footer_logos.png) scroll -237px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.mc a { background: url(../../img/content/landing/footer_logos.png) scroll -355px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.atvs a { background: url(../../img/content/landing/footer_logos.png) scroll -475px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.sxs a { background: url(../../img/content/landing/footer_logos.png) scroll -595px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_marine a { background: url(../../img/content/landing/footer_logos.png) scroll -715px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_engines a { background: url(../../img/content/landing/footer_logos.png) scroll -835px 0 no-repeat; }


.page-landing .content-area-wrapper .web_properties li a:hover { background-image: url(../../img/content/landing/footer_logos_hover.png); }

/* @end*/
.page-landing .content-area-wrapper .content_container { padding:0;   }

.page-landing .navigation-dropdown .content_container .right-boxes { height: auto; overflow: auto; }
.page-landing .navigation-dropdown .content_container .products { height: auto; }

* + html .page-landing .landing-heading{font-size:11px; font-weight:bold; text-transform:uppercase;}
* + html .page-landing .landing-heading .commercial-products{padding:7px 0 0 28px;}
* + html .page-landing .wide_three_column a{margin-top:8px;}

* html .page-landing .landing-heading{font-size:11px; font-weight:bold; text-transform:uppercase;}
* html .page-landing .landing-heading .commercial-products{padding:7px 0 0 28px;}
* html .page-landing .wide_three_column a{margin-top:10px;}

/* @end */

