/*--@Typography--*/
.page-news-events-news .content_section_dotted h3,
.page-news-events-show-info .content_section_dotted h3 { line-height: 17px; }


.page-news-events-overview .content_section .item h2.small { color: #E72530; }
.page-news-events-overview .content_section h2,
.page-news-events-overview .content_section_dotted h2,
.page-news-events-news .content_section h2 ,
.page-news-events-news .content_section_dotted h2 {
	color: #000;
}

.page-news-events-overview .content_section h3,
.page-news-events-overview .content_section_dotted h3,
.page-news-events-news .content_section h3,
.page-news-events-news .content_section_dotted h3,
.page-news-events-show-info .content_section.info .col h3,
.page-news-events-show-info .content_section_dotted .col h3,
.page-news-events-show-info h3.nmb {
	color: #7c7c7c;
}
.page-news-events-news .content_section h3,
.page-news-events-news .content_section_dotted h3 ,
.page-news-events-overview .content_section_dotted h3{
	margin-bottom: 20px;
}
 
.page-news-events-overview .content_section .item .desc h2.small {
	padding-bottom: 7px;
}
.page-news-events-overview .content_section .item .desc p {
	margin-bottom: 9px;
}

.page-news-events-overview .content_section h2,
.page-news-events-news .content_section_dotted h2 {
	padding: 10px 0;
}

.page-news-events-news .content_section h2 {
	padding-bottom: 10px;
}
.page-news-events-news .content_section_dotted h2 ,
.page-news-events-overview .content_section_dotted h2{
	padding: 0 0 7px;
}

.page-news-events-overview .content_section p a.btn,
.page-news-events-news .content_section p a.btn {
	margin-top: 5px;
}

.page-news-events-overview .content_section .info-msg,
.page-news-events-news .content_section .info-msg,
.page-news-events-show-info .content_section .info-msg { color: #E72530; font-size: 12px; font-weight: bold; }
/*--@end--*/

/*--@ menu-news-events --*/
.menu-news-events .content h4 {
    padding: 4px 0 20px 41px;
    color: #D90124 !important;
    background: url("/_Global/img/layout/icon_events.gif") top left no-repeat;
}

/*--@end--*/

/*--@Overview--*/
.page-news-events-overview .content_section { 
	display: block;
}
.page-news-events-overview .content_section .item {  
	margin-bottom: 15px;
}
.page-news-events-overview .content_section .item .desc {
	display: inline-block;
	float: left;
	width: 454px;
	padding-left: 30px;
}
.page-news-events-overview .content_section .item.last {
	margin-bottom: 18px;
}
.page-news-events-overview .content_section .item .thumb {
	float: left;
	width: 170px;
	height: 100px;
	margin-top: 10px;
	background-color: #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.page-news-events-overview .content_section.second_section {
	padding-top: 51px ;	
}

/*--News--*/
.page-news-events-news .bottom-pagination { margin-top: 55px; }

* html .page-news-events-news .bottom-pagination { margin-top: 35px; }
* + html .page-news-events-news .bottom-pagination { margin-top: 35px; }

/*--Come Ride With Us--*/
/*--Trade Show--*/
.questions { padding: 40px 0; }

.page-news-events-overview .content_section .pic,
.page-news-events-news .content_section .pic,
.page-news-events-news .content_section_dotted .pic,
.page-news-events-show-info .content_section_dotted .pic{
	width: 655px;
	height: 185px;
	margin: 20px 0;
	background-color: #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.page-news-events-show-info .content_section .pic {
	margin-bottom: 30px ;
}

.page-news-events-show-info .content_section.info .col,
.page-news-events-show-info .content_section_dotted .col {
	float: left;
	width: 230px;
}

/* @I Wanna Ride */
.iwannaride .toutrotator,
.iwannaride .content_container .first_section .tout_slideshow,
.toutrotator .toutrotator-stage { width: 655px; height:205px;overflow: hidden;}
.iwannaride .content_container .first_section .tout_slideshow { margin-bottom:20px;}
.iwannaride .content_container h2 { color:#e72530; margin-top:0px; padding-top:0px;}
.iwannaride .content_container .item { margin-bottom: 15px;}
.iwannaride .content_container .item .thumb { float: left;width: 198px;height: 114px;margin-right: 20px;}
.iwannaride .content_container .item .desc{float: left;width: 427px;}
.iwannaride .content_container .item .desc .small { color:#151515;}



/* @End */