@import url(model-selector.css);

/* Products - All Sections */
.page-product-listing .cap_bottom_grey  { margin: 0 auto !important; }
/*.page-product-listing .wrapper { margin: 0 auto; }*/

.page-product-listing #feature_area .container { padding: 0 18px 20px; width: 950px; }

.page-product-listing #feature_area .banner { margin: 0 0 21px; }

.page-product-listing #feature_area .feature_header { padding: 0 13px;}
.page-product-listing #feature_area .feature_header .h2 { color: #53C4FF; font-size: 22px; font-weight: bold; padding-bottom: 3px; text-transform: uppercase; }
.page-product-listing #feature_area .feature_header p { font-size: 12px; }

/* @group Feature Box */

.page-product-listing #feature_area .feature_box { margin: 0 0 0 15px; }
.page-product-listing #feature_area .feature_box .top_cap {  background: url("/_Global/img/content/products/feature_box_blue_t.jpg") no-repeat scroll left top transparent; padding: 0 32px 0 20px; width: 220px; vertical-align: top; }
.page-product-listing #feature_area .feature_box .center_cap  { background: url("/_Global/img/content/products/feature_box_blue_c.jpg") repeat-y scroll left bottom transparent; padding: 0 32px 0 20px; width: 220px; vertical-align: top; }
.page-product-listing #feature_area .feature_box .bottom_cap { background: url("/_Global/img/content/products/feature_box_blue_b.jpg") no-repeat scroll left bottom transparent; padding: 5px 32px 20px 20px; width: 220px; vertical-align: top; }
.page-product-listing #feature_area .feature_box .divider { background: url("/_Global/img/content/products/dotted_white_border_h.gif") repeat-x scroll left top transparent; font-size: 1px; height: 1px; padding: 11px 0 0 0;}
.page-product-listing #feature_area .feature_box .heading { width: 170px; font-size: 15px; padding: 11px 0 30px; text-transform: uppercase; }
.page-product-listing #feature_area .feature_box p { color: #FFFFFF; padding-bottom: 0; }
.page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/products/arrow_white_r.gif") no-repeat scroll right 5px transparent; display: inline; float: right; padding: 3px 15px 0 0; }
.page-product-listing #feature_area .feature_box .btn a { color: #FFFFFF; font-size: 9px; font-weight: bold; }
.page-product-listing #feature_area .feature_box .btn a:hover { padding-bottom: 3px; background: url("/_Global/img/content/products/dotted_white_border_h.gif") repeat-x left bottom transparent; }

/* @end */

.page-product-listing .top-container .content_container { padding-bottom: 0; }

.page-product-listing .content_section h2 { font-size: 22px; padding: 0 0 6px; text-transform: uppercase; }
.page-product-listing .content_section p { font-size: 12px; margin-bottom: 30px; }

.page-product-listing .product .product-item { zoom: 1; }
.page-product-listing .product .first { clear: left; margin-left: 0 !important; }

.page-product-listing .product .product-image { cursor: pointer; height: 125px; margin: 0 0 15px; width: 125px; }
.page-product-listing .product .product-image a { display: block; }

.page-product-listing .product .price-heading { color: #545454; font-size: 17px; margin-bottom: 2px; }
.page-product-listing .product .price-heading a { color: #545454; }
.page-product-listing .product .price { color: #7C7C7C; margin-bottom: 2px; text-transform: uppercase; }
.page-product-listing .product .price strong { float: left; font-size: 16px; margin-right: 5px; }
.page-product-listing .product .price span { font-size: 8px; }

.page-product-listing .product .original strong { color: #C4C4C4; }
.page-product-listing .product .final strong { color: #8F8F8F; }
.page-product-listing .product .special strong { color: #9ACF5B; }

.page-product-listing .product .multiline span { line-height: normal; }

.page-product-listing .product .price del { float: left; margin-right: 5px; }
.page-product-listing .product .price del:before { top: 10px; }
.page-product-listing .product .price del strong { margin-right: 0; }
.page-product-listing .product .price .strike { top: 10px; }
/* ie 6 & 7 styles */
* + html .page-product-listing .product .price .strike { top: 8px; }
*   html .page-product-listing .product .price .strike { top: 8px; }

.page-product-listing .product p { color: #424242; font-size: 10px; line-height: 16px; padding: 3px 0 0; }

.page-product-listing .bottom-container .product .price-heading { font-size: 16px; width: 105px; }

/* Products - Overview */
.page-product-listing .overview .primary_section { padding-top: 15px; }
.page-product-listing .overview .content_section .sub_section { border-top: 1px solid #DEDEDE; padding-top: 15px; }

.page-product-listing .overview .product .product-item { margin-left: 30px; padding-bottom: 45px; width: 160px; }

/* Products - Choose a Model */
.page-product-listing .choose .primary_section { border: none; padding-top: 0; }

.page-product-listing .choose .product { padding-bottom: 13px; }
.page-product-listing .choose .product .product-item { margin-left: 34px; padding-bottom: 24px; width: 125px; }

/* Products - Compare Box */
.page-product-listing .compare { padding-top: 0; margin-top: 10px; }

.page-product-listing .compare h2 { padding: 15px 0 12px; }

.page-product-listing .compare .product { margin: 11px 0 0; }
.page-product-listing .compare .product .product-item { background: url("/_Global/img/content/products/circle_grey.png") no-repeat scroll left 5px transparent; margin: 0 0 0 15px; width: 176px; }
.page-product-listing .compare .product .active { background: url("/_Global/img/content/products/circle_red.png") no-repeat scroll left 5px transparent; }

.page-product-listing .compare .product .list-steps { color: #FFFFFF; font-size: 18px; font-weight: bold; height: 24px; margin: 7px 13px 0 0; text-align: center; width: 26px; }
.page-product-listing .compare .product .product-item-inner { padding: 0; width: 110px; }

.page-product-listing .compare .product .btn-remove { background: url("/_Global/img/content/products/circle_x.png") no-repeat scroll 0 0 transparent; height: 16px; width: 16px; }
.page-product-listing .compare .product .btn-remove:hover { background: url("/_Global/img/content/products/circle_x.png") no-repeat scroll -22px 0 transparent; }

.page-product-listing .compare .product .add-model { color: #C4C4C4; font-size: 16px; font-weight: bold; margin-bottom: 2px; text-transform: uppercase; line-height: 12px; }
.page-product-listing .compare .product .buttons { margin-top: 10px; width: 115px; }

.page-product-listing.french .compare .product .product-item { background-position: left 30px; }
.page-product-listing.french .compare .product .list-steps { margin-top: 32px; }
.page-product-listing.french .compare .product .buttons { margin-top: 5px; }
.page-product-listing.french .compare .product .buttons a { background: url("../../img/layout/btn_secondary_left_large.png") no-repeat scroll left top transparent; height: 42px; position: relative; }
.page-product-listing.french .compare .product .buttons a span { background: url("../../img/layout/btn_secondary_right_large.png") no-repeat scroll right top transparent; height: 35px; padding: 7px 12px 0 0; text-align: center; }
.page-product-listing.french .compare .product .buttons a:hover { background-position: left -42px !important; }
.page-product-listing.french .compare .product .buttons a:hover span { background-position: right -42px !important; }

.page-product-listing.french .model-selector .dropdown_button a,
.page-product-listing.french .model-selector-right .dropdown_button a { background: url("../../img/layout/btn_secondary_left_large.png") no-repeat scroll left -42px transparent; height: 42px; position: relative; }
.page-product-listing.french .model-selector .dropdown_button a span,
.page-product-listing.french .model-selector-right .dropdown_button a span { background: url("../../img/layout/btn_secondary_right_large.png") no-repeat scroll right -42px transparent; height: 35px; padding: 7px 12px 0 0; text-align: center; }
.page-product-listing.french .model-selector .dropdown_button a.btn-hover,
.page-product-listing.french .model-selector-right .dropdown_button a.btn-hover { background-position: left -42px !important; }
.page-product-listing.french .model-selector .dropdown_button a.btn-hover span,
.page-product-listing.french .model-selector-right .dropdown_button a.btn-hover span { background-position: right -42px !important; }

.page-product-listing .compare .recently_viewed_compare { width: 110px; background: url("/_Global/img/content/products/dotted_grey_border_v.gif") repeat-y scroll left top transparent; padding: 0 2px 0 58px; }
.page-product-listing .compare .recently_viewed_compare p { font-size: 10px; }
.page-product-listing .compare .recently_viewed_compare .primary { margin-top: 5px; }
.page-product-listing.french .compare .recently_viewed_compare { padding: 0 2px 10px 58px; }

/* Products - Bottom Compare field */
.page-product-listing .bottom_feature_inner ul li { position: relative;  }
.page-product-listing .bottom_feature_inner h3.price-heading { float:left;  }
.page-product-listing .bottom_feature_inner a.btn-remove { float:left; margin: 3px 0 0 5px; }
.page-product-listing .bottom_feature_inner .product-item { width: 185px; margin: 0 !important;}
.page-product-listing .bottom_feature_inner .product-item .product-item-inner{ width: 132px; }
.page-product-listing .bottom_feature_inner .price span.tag-text-msrp { float: left; padding-top: 8px;}
.page-product-listing .bottom_feature_inner .multiline span.tag-text-msrp { padding-top: 0px;}
/* @end */

/* Products - Tooltips */
.page-product-listing .toolbox-top-alt { z-index: 20; }

.page-product-listing .toolbox-top-alt .popup-top { margin: 0 0 10px; }
.page-product-listing .toolbox-top-alt .popup-content { border-bottom: 1px solid #DEDEDE; border-top: 1px solid #DEDEDE; padding: 25px 0; }
.page-product-listing .toolbox-top-alt .popup-bottom { margin: 15px 0 0 0; }

.page-product-listing .toolbox-top-alt .popup-top .h1 { width: 200px; color: #545454; font-size: 30px; line-height: 1; margin-bottom: 7px; position: relative; text-transform: none; top: -13px; }
.page-product-listing .toolbox-top-alt .popup-top .product-image { cursor: pointer; height: 125px; width: 125px; }

.page-product-listing .toolbox-top-alt .popup-top .prices { position: relative; top: -13px;}

.page-product-listing .toolbox-top-alt .popup-content h3 { font-weight: bold; margin: 0 0 15px; }
.page-product-listing .toolbox-top-alt .popup-content li { color: #424242; font-size: 11px; line-height: 18px; list-style: disc outside none; margin: 0 0 0 15px; }

.page-product-listing .toolbox-top-alt .price-heading { color: #7C7C7C; font-size: 12px; padding: 0 0 0 10px; position: relative; text-transform: uppercase; }
.page-product-listing .toolbox-top-alt .price, .page-product-listing .toolbox-top-alt .price-heading, .page-product-listing .toolbox-top-alt del { float: left; }

.page-product-listing .toolbox-top-alt .small-price { font-size: 18px; }
.page-product-listing .toolbox-top-alt .small-price .price-heading { top: 3px; }
.page-product-listing .toolbox-top-alt .small-price .price { position: relative; }
.page-product-listing .toolbox-top-alt .msrp .price { color: #7C7C7C; }
.page-product-listing .toolbox-top-alt .msrp .coming-soon { color: Black; }
.page-product-listing .toolbox-top-alt .discount .price { color: #9ACF5B; }
.page-product-listing .toolbox-top-alt .small-price del:before { top: 10px; }
.page-product-listing .toolbox-top-alt .small-price .strike { top: 10px; }

.page-product-listing .toolbox-top-alt .large-price .price-heading { top: 4px; }
.page-product-listing .toolbox-top-alt .large-price .price { color: #1B1B1B; font-size: 38px; position: relative; top: -13px; }
.page-product-listing .toolbox-top-alt .large-price sup { position: relative; top: 13px; }

.page-product-listing .toolbox-top-alt .view-details { background: url("/_Global/img/content/products/dotted_grey_border_v.gif") repeat-y scroll right top transparent; padding: 0 20px 0 0; }

.page-product-listing .toolbox-top-alt .compare-add-remove { height: 30px; padding: 0 23px 0 15px; }
.page-product-listing .toolbox-top-alt .add { background: url("/_Global/img/content/products/circle_cross.png") no-repeat scroll right 6px transparent; }
.page-product-listing .toolbox-top-alt .add:hover, .page-product-listing .toolbox-top-alt .add-hover { background: url("/_Global/img/content/products/circle_cross.png") no-repeat scroll right -49px transparent; }
.page-product-listing .toolbox-top-alt .remove { background: url("/_Global/img/content/products/circle_dash.png") no-repeat scroll right 6px transparent; }
.page-product-listing .toolbox-top-alt .remove:hover, .page-product-listing .toolbox-top-alt .remove-hover { background: url("/_Global/img/content/products/circle_dash.png") no-repeat scroll right -49px transparent; }
.page-product-listing .toolbox-top-alt .compare-add-remove a { font-size: 11px; line-height: 26px; }
.page-product-listing .toolbox-top-alt .compare-add-remove a.hover,
.page-product-listing .toolbox-top-alt .compare-add-remove a:hover { border-bottom: 1px dotted #0D9BE4; }

.page-product-listing .price-disclaimer { padding-bottom: 30px; }
.page-product-listing .price-disclaimer span{color: #7C7C7C;font-size: 10px;}
.page-product-listing .toolbox-top-alt .price-disclaimer { padding-top: 12px;padding-bottom: 0px; }

* html .page-product-listing .toolbox-top-alt .compare-add-remove a.hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }
* + html .page-product-listing .toolbox-top-alt .compare-add-remove a.hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }

/* @IE Specific Styles */
* html .page-product-listing .content_section h2 { font-size: 18px; }
* + html .page-product-listing .content_section h2 { font-size: 18px; padding-bottom: 11px; }

* html .page-product-listing #feature_area .feature_box .heading { font-size: 12px; line-height: 17px; }
* + html .page-product-listing #feature_area .feature_box .heading { font-size: 12px; line-height: 17px; }

* html .page-product-listing .product .price-heading { font-family: Arial, sans-serif; font-size: 14px; }
* + html .page-product-listing .product .price-heading { font-family: Arial, sans-serif; font-size: 14px; }

* html .page-product-listing .product .price strong { font-family: Arial, sans-serif; font-size: 14px; }
* + html .page-product-listing .product .price strong { font-family: Arial, sans-serif; font-size: 14px; }

* html .page-product-listing .product p { padding: 0; }
* + html .page-product-listing .product p { padding: 0; }

* html .page-product-listing .product .price span { color: #1B1B1B; }

* html .page-product-listing .toolbox-top-alt .add { background: url("/_Global/img/content/products/circle_cross.gif") no-repeat scroll right 6px transparent; }
* + html .page-product-listing .toolbox-top-alt .add { background: url("/_Global/img/content/products/circle_cross.gif") no-repeat scroll right 6px transparent; }
* html .page-product-listing .toolbox-top-alt .add-hover { background-position: right -49px; }
* + html .page-product-listing .toolbox-top-alt .add-hover { background-position: right -49px; }

* html .page-product-listing .toolbox-top-alt .remove { background: url("/_Global/img/content/products/circle_dash.gif") no-repeat scroll right 6px transparent; }
* + html .page-product-listing .toolbox-top-alt .remove { background: url("/_Global/img/content/products/circle_dash.gif") no-repeat scroll right 6px transparent; }
* html .page-product-listing .toolbox-top-alt .remove-hover { background-position: right -49px; }
* + html .page-product-listing .toolbox-top-alt .remove-hover { background-position: right -49px; }

/* (IE) Products - Choose a Model */
* html .page-product-listing .choose .first_section { margin-bottom: 15px; padding-top: 6px; }
* + html .page-product-listing .choose .first_section { margin-bottom: 15px; padding-top: 6px; }

/* (IE) Products - Compare Box */
* html .page-product-listing .compare .product .product-item { margin: 0; width: 180px; }
* html .page-product-listing .compare .product .product-item-inner { padding: 0; width: 115px; }

* html .page-product-listing .bottom-container .product .price-heading { font-size: 14px; }
* + html .page-product-listing .bottom-container .product .price-heading { font-size: 14px; }

* html .page-product-listing .compare .product .list-steps { font-family: Arial, sans-serif; font-size: 16px; margin: 10px 13px 0 0; }
* + html .page-product-listing .compare .product .list-steps { font-family: Arial, sans-serif; font-size: 16px; margin: 11px 13px 0 0; }
* html .page-product-listing .compare .product .add-model { font-size: 11px; }
* + html .page-product-listing .compare .product .add-model { font-size: 11px; }

* html .page-product-listing.french .compare .product .list-steps { height: 20px; margin-top: 42px !important; padding-top: 4px; }
* + html .page-product-listing.french .compare .product .list-steps { height: 20px; margin-top: 32px !important; padding-top: 4px; }

* html .page-product-listing.french .compare .product .buttons a span { line-height: 13px; }
* + html .page-product-listing.french .compare .product .buttons a span { line-height: 13px; }
* html .page-product-listing.french .dropdown_container .dropdown_button a span { line-height: 13px; }
* + html .page-product-listing.french .dropdown_container .dropdown_button a span { line-height: 13px; }

* + html .page-product-listing .compare .recently_viewed_compare { padding-bottom: 1px; }
* html .page-product-listing .bottom_feature_inner .price span.tag-text-msrp { padding-top: 3px;}
* + html .page-product-listing .bottom_feature_inner .price span.tag-text-msrp { padding-top: 3px;}


/* (IE) Products - Tooltips */
* html .page-product-listing .tooltip_container .tooltip_content { top: -9px; }

* html .page-product-listing .toolbox-top-alt .product-title-price { width: 205px; }

* html .page-product-listing .toolbox-top-alt .popup-top .h1 { font-size: 24px; padding-bottom: 13px; position: static; }
* + html .page-product-listing .toolbox-top-alt .popup-top .h1 { font-size: 24px; top: -6px; }

* html .page-product-listing .toolbox-top-alt .popup-top .prices { position: static; }
* + html .page-product-listing .toolbox-top-alt .popup-top .prices { position: relative; top: 0; }

* html .page-product-listing .toolbox-top-alt .popup-top { margin: 0 0 30px; }
* + html .page-product-listing .toolbox-top-alt .popup-top { margin: 0 0 30px; }

* html .page-product-listing .toolbox-top-alt .price-heading { font-size: 9px; font-weight: bold; }
* + html .page-product-listing .toolbox-top-alt .price-heading { font-size: 9px; font-weight: bold; }

* html .page-product-listing .toolbox-top-alt .large-price .price-heading { line-height: 13px; top: 1px; }
* + html .page-product-listing .toolbox-top-alt .large-price .price-heading { line-height: 13px; top: 1px; }

* html .page-product-listing .toolbox-top-alt .large-price sup { top: 8px; }
* + html .page-product-listing .toolbox-top-alt .large-price sup { top: 8px; }

* html .page-product-listing .toolbox-top-alt .small-price .price { font-family: Arial, sans-serif;  font-size: 16px; font-weight: bold; line-height: normal; }
* + html .page-product-listing .toolbox-top-alt .small-price .price { font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: normal; }

* html .page-product-listing .toolbox-top-alt .large-price .price { font-family: Arial, sans-serif; letter-spacing: 0; font-size: 30px; font-weight: bold; line-height: 46px; }
* + html .page-product-listing .toolbox-top-alt .large-price .price { font-family: Arial, sans-serif; letter-spacing: 0; font-size: 32px; font-weight: bold; line-height: 46px; }

* html .page-product-listing .toolbox-top-alt .small-price del:before { top: 10px; }
* + html .page-product-listing .toolbox-top-alt .small-price del:before { top: 10px; }

* html .page-product-listing .toolbox-top-alt .small-price .strike { top: 10px; }
* + html .page-product-listing .toolbox-top-alt .small-price .strike { top: 10px; }

/* (IE) Products - Overview */
* html .page-product-listing .overview .product { padding-bottom: 4px; }
* + html .page-product-listing .overview .product { padding-bottom: 4px; }

/* @IE */

.toolbox-top-alt { position: absolute; }

.page-product-listing .split-message { padding-bottom: 58px; }
.page-product-listing .split-message .main { width: 390px; padding: 100px 50px 0; }
.page-product-listing .split-message .main .h2 { font-size: 18px; font-weight: bold; color: #e72530; margin-bottom: 10px; line-height: 23px; }
.page-product-listing .split-message .main p { font-size: 16px; color: #424242; line-height: 24px; }
.page-product-listing .split-message .aside { width: 320px; padding: 0 60px 0 48px; border-left: 1px solid #d0d0d0; }
.page-product-listing .split-message .aside .h3 { font-size: 12px; font-weight: bold; line-height: 16px; margin-bottom: 12px; color: #1b1b2b; }
.page-product-listing .split-message .aside p { font-size: 11px; line-height: 15px; color: #424242; margin-bottom: 12px; }


.french .dropdown_container.model-selector .dropdown_content,
.french .dropdown_container.model-selector-right .dropdown_content { margin-top: 0; position: relative; top: -13px; }
.french .dropdown_container.model-selector .dropdown_button,
.french .dropdown_container.model-selector-right .dropdown_button { top: -54px; }
.french .dropdown_container.model-selector .dropdown_button a,
.french .dropdown_container.model-selector-right .dropdown_button a {background-position: left -42px !important;}
.french .dropdown_container.model-selector .dropdown_button a span,
.french .dropdown_container.model-selector-right .dropdown_button a span  { background-position: right -42px !important; }

