/* @group Search Results */
.search_container .leading { font-size: 12px; color: #1b1b1b; }
.search_input { text-align: center; padding: 20px 0 0 100px; margin: 0 0 20px; display: block; height: 43px; }
.search_input .input_box {margin-right: 10px; margin-top: 0; }
.search_input input { font-size: 11px; color: #424242; line-height: 20px; vertical-align: middle; }

.featured_search_results { padding-top: 20px; margin-top:20px;}
.featured_search_results .inner_three_column li { width: 190px; margin-left: 30px; }
.featured_search_results .inner_three_column li.first { margin-left: 0; }
.featured_search_results .inner_three_column img { margin-bottom: 15px; }
.featured_search_results .inner_three_column .heading { font-weight: bold; font-size: 14px;color:#00abe8;margin-bottom:20px;}
.featured_search_results .inner_three_column p.excerpt { font-size: 11px; color: #424242; }
.featured_search_results .read_more a {font-size:11px;}

.search_results li { margin-bottom: 30px; }
.search_results .heading { font-size: 12px; font-weight:bold; margin-bottom: 12px; }
.search_results p { font-size: 11px; line-height: 18px; padding-bottom: 10px; color: #424242; }
.search_results .url { font-size: 10px;font-weight:bold; }
.search_results .url a { color: #7c7c7c; }
/* @end */