#container { padding: 0; width: 7in; }
table input,
table select { border: 0; }
.text-container input { border: 0; border-bottom: 1px solid #000000; }
#dealers-info .address input { margin-top: 20px; width: 600px; }
#approval-form input { border: 0; border-bottom: 1px solid #000000; }
#approval-form .conditions input { width: 585px; }
ul.form-options { display: none; }