/* @group Shortcuts */
 
.fl { float: left; }
.fr { float: right; }
.br { margin-bottom: 20px; }
.clr { clear: both; }
.clrfix { clear: both; display: block; height: 0; min-height: 0; overflow: hidden; visibility: hidden; width: 0; }
.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.nb { border: 0 !important; }
.np { padding: 0 !important; }
.nm { margin: 0 !important; }

/* @end */
/* @group Page Formatting and Layout */

#container { position: relative; padding: .25in; width: 6.5in; }
#container * { font-family: Helvetica, Arial, sans-serif; }

p { font-size: 13px; line-height: 15px; margin-bottom: 25px; }

#claim-id { margin-bottom: 20px; text-align: right; }
#claim-id .label { font-size: 13px; vertical-align: top; }
#claim-id .field { font-size: 20px; font-weight: bold; }

#division-logo { margin-bottom: 40px; text-align: center; }

p.intro-header { font-size: 16px; line-height: 18px; text-align: center; text-transform: uppercase; }
p.header { font-weight: bold; text-transform: uppercase; }

/* @end */
/* @group Form Layout */

.text-container,
.check-container,
.select-container { padding-bottom: 20px; }
label { font-size: 13px; line-height: 15px; }
input { margin: 0; }
.text-container label { padding-right: 5px; }
* html .text-container label { vertical-align: top; }
.text-container input {  }
.check-container label { vertical-align: middle; }
.check-container input { padding: 0; vertical-align: middle; }
.select-container label { display: block; padding-right: 5px; }
.select-container select {  }

/* @end */
/* @group Dealer Info */

#dealers-info .label { width: 109px; }
#dealers-info .label p { font-weight: bold; }
#dealers-info .dealer-codes { width: 515px; padding-bottom: 25px; }
#dealers-info .dealer-codes .text-container { padding: 0 10px 10px 0; }
#dealers-info .dealer-codes .atv-container { padding-right: 0; }
#dealers-info .dealer-codes .phd-container { padding-right: 0; }
#dealers-info .dealer-codes label { display: block; padding-right: 0; width: 55px; }
#dealers-info .dealer-codes input { width: 100px; }

#dealers-info #dealer_name { margin-right: 15px; width: 329px; }
#dealers-info #dealer_date { width: 110px; }
#dealers-info .address input { margin-top: 20px; width: 540px; }
#dealers-info .address input.first { margin-top: 0; }
#dealers-info #dealer_city { margin-right: 15px; width: 161px; }
#dealers-info #dealer_prov { margin-right: 15px; width: 161px; }
#dealers-info #dealer_postal { width: 55px; }
#dealers-info #dealer_contact-name { margin-right: 15px; width: 175px; }
#dealers-info #dealer_email { width: 195px; }
#dealers-info #dealer_phone,
#dealers-info #dealer_fax { width: 115px; }

/* @end */
/* @group Products Info and Table */

#products-info { margin-bottom: 20px; }
#products-info table { border-collapse: collapse; width: 100%; }
#products-info table th,
#products-info table td { border: 1px solid #000000; font-size: 11px; }
#products-info table th { padding: 8px 2px; }
#products-info table td { padding: 2px; }

#products-info table .product-type { width: 94px; }
#products-info table .product-type select { width: 90px; }
#products-info table .media-type { width: 164px; }
#products-info table .media-type select { width: 160px; }
#products-info table .app-number { width: 103px; }
#products-info table .app-number input { width: 99px; }
#products-info table .date { width: 94px; }
#products-info table .date input { width: 90px; }
#products-info table .cost { width: 64px; }
#products-info table .cost input { width: 60px; }
#products-info table .hci { width: 74px; }
#products-info table .hci input { width: 70px; }

#products-info table tr.totals td.cost-type { width: 267px; text-align: right; }
#products-info table tr.totals td.cost-type span { font-size: 11px; padding-right: 20px; text-transform: uppercase; }
#products-info table tr.totals td.cost-type span.grand-total { font-weight: bold; }

#products-info table .description { width: 195px; }
#products-info table .description input { width: 191px; }
#products-info table .dates { width: 104px; }
#products-info table .dates input { width: 100px; }
#products-info table .products { width: 232px; }
#products-info table .products input { width: 228px; }

#products-info p.signature { margin-top: 20px; }
#products-info p.signature span { border-bottom: 1px solid #000000; display: inline-block; height: 11px; margin-left: 10px; vertical-align: bottom; width: 350px; }

#products-info li { font-size: 13px; line-height: 15px; list-style: disc outside none; margin-left: 15px; padding: 0 0 5px 5px; }

/* @end */
/* @group Claim Checklist */

#claim-checklist .checklist-section { margin-bottom: 25px; }
#claim-checklist p { margin-bottom: 0; }
#claim-checklist p.header { padding-bottom: 7px; }
#claim-checklist .check-container { padding-bottom: 15px; }
#claim-checklist .check-container label { display: block; margin-left: 15px; width: 589px; }

/* @end */
/* @group Approval Form */

#approval-form { margin-top: 75px; }
#approval-form input { background-color: #F2F2F2; border: 1px solid #999999; }
#approval-form .conditions input { margin-top: 20px; width: 534px; }
#approval-form .conditions input.first { margin-top: 0; }
#approval-form #approved-by { width: 275px; }

/* @end */
/* @group Notes */

#notes { margin-bottom: 40px; }
#notes p { font-size: 11px; font-weight: bold; line-height: 13px; margin-bottom: 10px; }

/* @end */
/* @group Submit Areas */

#submit-area { margin-bottom: 60px; }
#submit-area p { font-size: 11px; line-height: 13px; margin-bottom: 0; }
#submit-area p.header { color: #FF3333; }
#submit-area p.approval { border-top: 3px solid #000000; font-weight: bold; margin-top: 50px; width: 295px; }
#submit-area p.zone-approval { margin-right: 34px; }

ul.form-options { margin-bottom: 45px; }
ul.form-options li { padding-bottom: 15px; }

/* @end */

/* float clear fix */

.fc:after{
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}
.fc{ display: inline-block; }
* html .fc {height: 1%;}
.fc { display: block; }