	<div class="wrapper product_wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container product_heading">
			<div class="fc header">
				<div class="fl product_name">
					<h1>HRX2172hxc</h1>
					<h2>PREMIUM RESIDENTIAL SERIES</h2>
					<a class="pf btn-help btn-tooltips"
						property="act:tooltip"
						data-position="right bottom"
						data-tooltip-class="tooltip-right-alt"
						data-tooltip-content-target="#product-type-help1"></a>
				</div>
				<div class="fr product-price-container">
					<div class="fr large-price msrp">
						<span class="price-heading">MSRP</span>
						<span class="price"><sup>$</sup>899</span>
					</div>
					<div class="fr large-price mdp multiline">
						<span class="price-heading">Manufacturer<br/>
							Discounted Price</span>
						<span class="price"><sup>$</sup>899</span>
					</div>
					<!-- HIDDEN TO MAKE SPACE FOR PROPER DISPLAY OF CONTENT
					<div class="fr large-price your-price">
						<span class="price-heading">Your Price</span>
						<span class="price"><sup>$</sup>899</span>
					</div>-->
					<div class="fr small-price discount-price">
						<span class="price-heading">Discount</span>
						<span class="price">$100</span>
					</div>
					<div class="fr small-price msrp">
						<span class="price-heading">MSRP</span>
						<del><span class="strike"></span><span class="price">$999</span></del>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="fc content"><!-- USE no-accessories class to display content properly with no accessories side box -->
				<div class="fc pf badge new-product">
					<img src="/_Global/img/content/products/icon_sun_invert.png" alt="" class="fl pf" />
					<p class="fl heading">Lorem ipsum new product.</p>
				</div>
				
				<div class="pf badge background" id="promo-badge">
					<div class="pf badge_top"></div>
					<div class="fc pf badge_bg">
						<img src="/_Global/img/content/products/icon_money_tag.png" alt="" class="fl pf" />
						<div class="fl fc inner_badge_content">
							<p class="heading">Get a charge out of this</p>
							<p class="fl badge_copy">Now receive a <strong>$250</strong> combined manufacturer's and dealer's discount.</p>
							<p class="badge_link"><a href="product-overview.html#">See Details</a></p>
						</div>
						<a class="fr pf btn-close" property="act:close" data-close-target="#promo-badge" href="javascript:void(0)"></a>
					</div>
					<div class="pf badge_bottom"></div>
				</div>
				
				<div class="pf badge background" style="display:none;">
					<div class="pf badge_top"></div>
					<div class="fc pf badge_bg">
						<img src="/_Global/img/content/products/icon_money_tag.png" alt="" class="fl pf" />
						<div class="fl fc inner_badge_content">
							<p class="heading">Power Surge</p>
							<p class="badge_copy">Now receive a <strong>$250</strong> combined manufacturer's and dealer's discount.</p>
						</div>
						<a class="fr pf btn-close" href="product-overview.html#"></a>
					</div>
					<div class="pf badge_bottom"></div>
				</div>
				
				<div class="fl feature-image">
                    <!-- BEGIN: place hot spots here -->
                    <a class="pf hotspot btn-tooltips"
                       style="top: 62px; left: 157px;"
                       property="act:tooltip"
                       data-position="right bottom"
                       data-tooltip-class="tooltip-right tooltip-feature"
                       data-tooltip-content-target=".hotspot-01"></a>
                    <span class="hotspot-01 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                        style="top: 250px; left: 175px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right tooltip-feature"
                        data-tooltip-content-target=".hotspot-02"></a>
                    <span class="hotspot-02 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                        style="top: 242px; left: 240px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right tooltip-feature"
                        data-tooltip-content-target=".hotspot-03"></a>
                    <span class="hotspot-03 dn">
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                       style="top: 285px; left: 320px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right tooltip-feature"
                        data-tooltip-content-target=".hotspot-04"></a>
                    <span class="hotspot-04 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <!-- this is the product image -->
                    <img src="/_Global/img/content/products/product_image_sample.jpg" alt="" />
				</div>
				
				<div class="fl features">
					<div class="primary-box">
						<span class="top-left"></span>
						<span class="top-right"></span>
						<span class="bottom-left"></span>
						<span class="bottom-right"></span>
						
						<h3>Features</h3>
						<ul>
							<li>Honda GCV190 OHC engine</li>
							<li>Roto-Stop&reg; blade stop system for safety and convenience</li>
							<li>Hydrostatic infinitely variable transmission</li>
							<li>Versamow<sup>TM</sup> System</li>
						</ul>
						
						<h3>Uses</h3>
						<ul>
							<li>Residential lawn mowing</li>
						</ul>
					</div>
				</div>				
				
				<div class="fl top_selling">
					<h3>Top Selling Accessories</h3>

                    <a class="btn-up btn-disabled prev"></a>
                    <div class="accessory-carousel" property="act:carousel"
                         data-carousel-vertical="true"
                         data-carousel-disabled-class="btn-disabled"
                         >
                        <div class="items">
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-down next"></a>
                </div>
     		</div>
			<div class="fc footer">
				<p class="fc fl nm inner_footer_l">
                    <a class="fl btn secondary" href="product-overview.html#"
						property="act:popup"
						data-popup-modal="true"
						data-popup-content-target="#popup-image"
						><span class="enlarge">Enlarge</span></a>
					<span class="fl divider"></span>
					<a href="product-overview.html#" class="fl btn primary"><span>Compare</span></a>
				</p>
				
				<p class="fr nm inner_footer_r">
					<a href="product-overview.html#">See All Lawnmowers</a>
					<img src="/_Global/img/content/products/btn_fb_like.gif" alt="" />
				</p>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>

<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>