.background_wrapper { padding-top:20px; }

/*--@ honda-advantage --*/
.page-honda-advantage .background_tile { background: url(/_Global/img/content/honda-advantage/background_tile.jpg) bottom left repeat-x ; }
.page-honda-advantage .background_image { background: url(/_Global/img/content/honda-advantage/background_image.jpg) bottom center no-repeat ; border-bottom: 1px solid #4b712a; }
.page-honda-advantage .background_wrapper { background-color: #4b712a; }

/*--@ product-listing / lawnmowers --*/
.page-product-lawnmowers .background_tile { background: url(/_Global/img/content/honda-advantage/background_tile.jpg) bottom left repeat-x ; }
.page-product-lawnmowers .background_image { background: url(/_Global/img/content/honda-advantage/background_image.jpg) bottom center no-repeat ; border-bottom: 1px solid #4b712a; }
.page-product-lawnmowers .background_wrapper { background-color: #4b712a; }
.page-product-tondeuses .background_tile { background: url(/_Global/img/content/honda-advantage/background_tile.jpg) bottom left repeat-x ; }
.page-product-tondeuses .background_image { background: url(/_Global/img/content/honda-advantage/background_image.jpg) bottom center no-repeat ; border-bottom: 1px solid #4b712a; }
.page-product-tondeuses .background_wrapper { background-color: #4b712a; }

/*--@ product-listing / generators --*/
.page-product-generators .background_tile { background: url(/_Global/img/content/products/background_tile_generators.jpg) bottom left repeat-x ; }
.page-product-generators .background_image { background: url(/_Global/img/content/products/background_image_generators.jpg) bottom center no-repeat ; border-bottom: 1px solid #7d7756; }
.page-product-generators  .background_wrapper { background-color: #7d7756; }
.page-product-generatrices .background_tile { background: url(/_Global/img/content/products/background_tile_generators.jpg) bottom left repeat-x ; }
.page-product-generatrices .background_image { background: url(/_Global/img/content/products/background_image_generators.jpg) bottom center no-repeat ; border-bottom: 1px solid #7d7756; }
.page-product-generatrices  .background_wrapper { background-color: #7d7756; }

/*--@ product-listing / water-pumps --*/
.page-product-water-pumps .background_tile { background: url(/_Global/img/content/products/background_tile_water_pumps.jpg) bottom left repeat-x ; }
.page-product-water-pumps .background_image { background: url(/_Global/img/content/products/background_image_water_pumps.jpg) bottom center no-repeat ; border-bottom: 1px solid #00D0DE; }
.page-product-water-pumps  .background_wrapper { background-color: #00d0de; }
.page-product-waterpumps .background_tile { background: url(/_Global/img/content/products/background_tile_water_pumps.jpg) bottom left repeat-x ; }
.page-product-waterpumps .background_image { background: url(/_Global/img/content/products/background_image_water_pumps.jpg) bottom center no-repeat ; border-bottom: 1px solid #00D0DE; }
.page-product-waterpumps  .background_wrapper { background-color: #00d0de; }
.page-product-motopompes-a-eau .background_tile { background: url(/_Global/img/content/products/background_tile_water_pumps.jpg) bottom left repeat-x ; }
.page-product-motopompes-a-eau .background_image { background: url(/_Global/img/content/products/background_image_water_pumps.jpg) bottom center no-repeat ; border-bottom: 1px solid #00D0DE; }
.page-product-motopompes-a-eau  .background_wrapper { background-color: #00d0de; }

/*--@ product-listing / snowblowers --*/
.page-product-souffleuses-a-neige .background_tile { background: url(/_Global/img/content/products/background_tile_snowblowers.jpg) bottom left repeat-x ; }
.page-product-souffleuses-a-neige .background_image { background: url(/_Global/img/content/products/background_image_snowblowers.jpg) bottom center no-repeat ; border-bottom: 1px solid #fff; }
.page-product-souffleuses-a-neige  .background_wrapper { background-color: #fff; }
.page-product-snowblowers .background_tile { background: url(/_Global/img/content/products/background_tile_snowblowers.jpg) bottom left repeat-x ; }
.page-product-snowblowers .background_image { background: url(/_Global/img/content/products/background_image_snowblowers.jpg) bottom center no-repeat ; border-bottom: 1px solid #fff; }
.page-product-snowblowers  .background_wrapper { background-color: #fff; }

/*--@ product-listing / tillers --*/
.page-product-tillers .background_tile { background: url(/_Global/img/content/products/background_tile_tillers.jpg) bottom left repeat-x ; }
.page-product-tillers .background_image { background: url(/_Global/img/content/products/background_image_tillers.jpg) bottom center no-repeat ; border-bottom: 1px solid #44351c; }
.page-product-tillers  .background_wrapper { background-color: #44351c; }
.page-product-motoculteurs .background_tile { background: url(/_Global/img/content/products/background_tile_tillers.jpg) bottom left repeat-x ; }
.page-product-motoculteurs .background_image { background: url(/_Global/img/content/products/background_image_tillers.jpg) bottom center no-repeat ; border-bottom: 1px solid #44351c; }
.page-product-motoculteurs  .background_wrapper { background-color: #44351c; }

/*--@ product-listing / trimmers --*/
.page-product-trimmers .background_tile { background: url(/_Global/img/content/products/background_tile_trimmers.jpg) bottom left repeat-x ; }
.page-product-trimmers .background_image { background: url(/_Global/img/content/products/background_image_trimmers.jpg) bottom center no-repeat ;border-bottom: 1px solid #afd659; }
.page-product-trimmers  .background_wrapper { background-color: #afd659; }
.page-product-taille-borduresbroussailles .background_tile { background: url(/_Global/img/content/products/background_tile_trimmers.jpg) bottom left repeat-x ; }
.page-product-taille-borduresbroussailles .background_image { background: url(/_Global/img/content/products/background_image_trimmers.jpg) bottom center no-repeat ;border-bottom: 1px solid #afd659; }
.page-product-taille-borduresbroussailles  .background_wrapper { background-color: #afd659; }


/*--@ footer font color --*/
.page-product-lawnmowers  .background_wrapper .container #footer,
.page-product-lawnmowers  .background_wrapper .container #footer a ,
.page-product-generators  .background_wrapper .container #footer,
.page-product-generators  .background_wrapper .container #footer a ,
.page-product-water-pumps  .background_wrapper .container #footer,
.page-product-water-pumps  .background_wrapper .container #footer a,
.page-product-waterpumps  .background_wrapper .container #footer,
.page-product-waterpumps  .background_wrapper .container #footer a,
.page-product-tillers  .background_wrapper .container #footer,
.page-product-tillers  .background_wrapper .container #footer a ,
.page-product-trimmers  .background_wrapper .container #footer,
.page-product-trimmers  .background_wrapper .container #footer a,
.page-product-tondeuses  .background_wrapper .container #footer,
.page-product-tondeuses  .background_wrapper .container #footer a ,
.page-product-generatrices  .background_wrapper .container #footer,
.page-product-generatrices  .background_wrapper .container #footer a ,
.page-product-water-pumps  .background_wrapper .container #footer,
.page-product-water-pumps  .background_wrapper .container #footer a,
.page-product-waterpumps  .background_wrapper .container #footer,
.page-product-waterpumps  .background_wrapper .container #footer a,
.page-product-tillers  .background_wrapper .container #footer,
.page-product-tillers  .background_wrapper .container #footer a ,
.page-product-trimmers  .background_wrapper .container #footer,
.page-product-trimmers  .background_wrapper .container #footer a,
.page-honda-advantage .background_wrapper .container #footer,
.page-honda-advantage .background_wrapper .container #footer a{ color: #fff !important;}


/*--@ footer divider color --*/
.page-product-generators .background_wrapper .container #footer .sub_footer_nav ,
.page-product-water-pumps .background_wrapper .container #footer .sub_footer_nav ,
.page-product-waterpumps .background_wrapper .container #footer .sub_footer_nav ,
.page-product-water-tillers .background_wrapper .container #footer .sub_footer_nav ,
.page-product-trimmers .background_wrapper .container #footer .sub_footer_nav,
.page-product-tillers .background_wrapper .container #footer .sub_footer_nav
.page-product-generatrices .background_wrapper .container #footer .sub_footer_nav ,
.page-product-motopompes-a-eau .background_wrapper .container #footer .sub_footer_nav ,
.page-product-taille-borduresbroussailles .background_wrapper .container #footer .sub_footer_nav,
.page-product-motoculteurs .background_wrapper .container #footer .sub_footer_nav{ border-top: 1px solid #fff !important; }


.page-honda-advantage .background_wrapper .container #footer .sub_footer_nav { border-top: 1px solid #a7ba96; }