/** TODO why are these in the common layout? They should be moved to PE layout. **/
.navigation-dropdown .generator .content_section .why-buy { background: url("../../img/content/landing/landing_generators.png") no-repeat scroll top left transparent; }
.navigation-dropdown .lawnmower .content_section .why-buy { background: url("../../img/content/landing/landing_lawnmowers.png") no-repeat scroll top left transparent; }
.navigation-dropdown .waterpump .content_section .why-buy { background: url("../../img/content/landing/landing_waterpumps.png") no-repeat scroll top left transparent; }
.navigation-dropdown .snowblower .content_section .why-buy { background: url("../../img/content/landing/landing_snowblowers.png") no-repeat scroll top left transparent; }
.navigation-dropdown .tiller .content_section .why-buy { background: url("../../img/content/landing/landing_tillers.png") no-repeat scroll top left transparent; }
.navigation-dropdown .trimmer .content_section .why-buy { background: url("../../img/content/landing/landing_trimmers.png") no-repeat scroll top left transparent; }
.car_box .buttons { display: inline; }