﻿.page-news-events .events .questions { padding: 17px 0 40px; }
.page-news-events .events .questions .h3 { color: #1B1B1B; font-family: verdana, sans-serif; font-size: 12px; font-weight: bold; line-height: 17px; margin-bottom: 10px; }
* html .page-news-events .questions .events .question1 { margin-left: 0; }
* html .page-news-events .questions .events .question2 { margin-left: 15px; }

.page-news-events .events .event-type { color: #565656; font-weight: 12px; margin-bottom: 10px; text-transform: uppercase; }
* html .page-news-events .events .event-type { font-size: 10px; font-weight: bold; }
* + html .page-news-events .events .event-type { font-size: 10px; font-weight: bold; }

.page-news-events .news .selection-gray-bg { background: url("/_Global/img/content/atv/news-events/division-gray-bg.png") repeat scroll 0 0 transparent; height: 105px; margin-bottom: 30px; text-align: center; }
.page-news-events .news .selection-gray-bg .h3 { color: #1B1B1B; font-family: verdana, sans-serif; font-size: 12px; font-weight: bold; line-height: 17px; margin-bottom: 10px; padding-top: 25px; }

.page-news-events .news .content_section h2, .page-news-events .news .content_section_dotted h2 { color: #000000; padding-bottom: 10px; }
.page-news-events .news h3 { color: #7C7C7C; margin-bottom: 25px; }

.page-news-events .title_section .download { margin-top: 10px; }

* html .page-news-events .title_section { height: 50px; }
* + html .page-news-events .title_section { height: 50px; }
* html .page-news-events .title_section .download { margin-top: 6px; }
* + html .page-news-events .title_section .download { margin-top: 6px; }

.page-news-events .event-image { margin-bottom: 20px; }

.page-news-events .event-item { margin-bottom: 20px; }
.page-news-events .event-item .event-item-col { width: 175px; }
.page-news-events .event-item dt { color: #1B1B1B; font-weight: bold; font-size: 12px; line-height: 16px; }
.page-news-events .event-item dd { color: #424242; font-size: 11px; line-height: 16px; }

.page-news-events .article .content_section .item h2.small { color: #E72530; }
.page-news-events .article .content_section h2,
.page-news-events .article .content_section_dotted h2 { color: #000; }
.page-news-events .article .content_section h2 { padding: 10px 0; }
.page-news-events .article .content_section_dotted h2 { padding: 0 0 7px; }

.page-news-events .article .content_section h3,
.page-news-events .article .content_section_dotted h3 { color: #7c7c7c; margin-bottom: 25px; }
 
.page-news-events .article .content_section .pic { margin-bottom: 25px; }

.page-news-events .article .content_section .info-msg { color: #E72530; font-size: 12px; font-weight: bold; }

.page-news-events .buttons { margin-bottom: 25px; }
.page-news-events .buttons .first { margin-right: 10px; }

.page-news-events .boxes .box { background: url("/_Global/img/content/pe/news-events/news-select-box.gif") top left no-repeat; float: left; height: 85px; margin-left: 17px; padding-top: 25px; }
.page-news-events .boxes .first { margin: 0; }
.page-news-events .boxes .h3 { color: #1B1B1B; font-family: verdana,sans-serif; font-size: 12px; font-weight: bold; line-height: 17px; margin-bottom: 10px; }
.page-news-events .boxes select { font-size: 11px; height: 20px; width: 158px; }

.page-news-events .three-boxes { margin-bottom: 30px; }
.page-news-events .three-boxes .box { width: 183px; padding: 30px 0 0 22px; }

.french .boxes .box { height: 105px; }
.french .boxes .h3 { height: 35px; }
.french .three-boxes .box { padding-top: 20px; }

.page-news-events p a:hover { border-bottom: 1px dotted #0d9be4;}