#header, #home_header{padding:0 18px 8px !important;}

#autoshow{padding: 19px 34px; min-height: 700px; height: auto !important; height: 700px; }
#autoshow h1{margin-bottom:20px;}
         
#autoshow .autoshow_header{padding-bottom:25px;}
#autoshow .autoshow_header .header_info{width:272px;}
         
#autoshow .content_section{padding-bottom:25px;}
#autoshow .event_img_sm{}
#autoshow .event_img_lg{}
#autoshow .autoshow_info{text-align:left; width:577px;}

dl.header_collage{margin-bottom:26px;}
dl.header_collage dd{padding-left:11px;}
dl.header_collage dd.first{padding-left:0;}

dl.col2_promo{}
dl.col2_promo dd{width:455px;}
dl.col2_promo dd.first{width:435px; padding-right:20px;}

dl.autoshow_info{width:100% !important;}
dl.autoshow_info dd{padding-right:70px; width:200px;}
dl.autoshow_info dd.last{padding-right:0; width:300px;}
dl.autoshow_info .heading{font-weight:bold; font-size:12px; color:#333; margin-bottom:10px;}
dl.autoshow_info p{padding-bottom:0 !important;}

.autoshow_menu{width:910px; height:41px; margin-bottom:26px;}
.autoshow_menu .tabs_horizontal{width:778px; margin:0;}
.autoshow_menu .tabs_horizontal li.first a{padding-top:12px;}
.autoshow_menu .tabs_horizontal li a{width:128px; height:28px; text-align:center; padding:12px 0 0 0; line-height:12px !important;}
.autoshow_menu .tabs_horizontal li a span.multiline{display:block; position:relative; top:-7px; width: 125px;}

* html .autoshow_menu .tabs_horizontal li.first a{padding-top:16px;}
* + html .autoshow_menu .tabs_horizontal li.first a{padding-top:16px;}
* html .autoshow_menu .tabs_horizontal li a{width:128px; height:24px; text-align:center; padding:16px 0 0 0;}
* + html .autoshow_menu .tabs_horizontal li a{width:128px; height:24px; text-align:center; padding:16px 0 0 0;}
* html .autoshow_menu .tabs_horizontal li a span.multiline{position:relative; top:0;}
* + html .autoshow_menu .tabs_horizontal li a span.multiline{position:relative; top:0;}

.autoshow-landing #autoshow { min-height: 0; }

a.square_btn_grey{height:27px; background:url(../../img/layout/square_btn_grey_left.gif) 0 0 no-repeat; padding-left:15px; display:inline-block; text-transform:uppercase; color:#fff; font-weight:bold;}
a.square_btn_grey span{height:22px; display:inline-block; background:url(../../img/layout/square_btn_grey_right.gif) right 0 no-repeat; padding-right:15px; padding-top:5px;}
a.square_btn{height:27px; background:url(../img/layout/square_btn_left.gif) 0 0 no-repeat; padding-left:15px; display:inline-block; text-transform:uppercase; color:#fff; font-weight:bold;}
a.square_btn span{height:22px; display:inline-block; background:url(../../img/layout/square_btn_right.gif) right 0 no-repeat; padding-right:15px; padding-top:5px;}
a.square_btn:hover,
a.square_btn_grey:hover{background-position:0 -27px;}
a.square_btn_grey:hover span,
a.square_btn:hover span{background-position:right -27px;}


.gray_wall{position:relative; background:#f6f6f6; padding:20px;}
.gray_wall span.top_left{display: block; overflow: hidden; position:absolute; top:0; left:0; width:6px; height:6px; background:url(../../img/layout/graywall_top_left.gif) 0 0 no-repeat;}
.gray_wall span.top_right{display: block; overflow: hidden; position:absolute; top:0; right:0; width:6px; height:6px; background:url(../../img/layout/graywall_top_right.gif) 0 0 no-repeat;}
.gray_wall span.bottom_left{display: block; overflow: hidden; position:absolute; bottom:0; left:0; width:6px; height:6px; background:url(../../img/layout/graywall_bottom_left.gif) 0 0 no-repeat;}
.gray_wall span.bottom_right{display: block; overflow: hidden; position:absolute; bottom:0; right:0; width:6px; height:6px; background:url(../../img/layout/graywall_bottom_right.gif) 0 0 no-repeat;}
/*
.gray_wall_divider{background:url(../img/layout/dotted_divider_gray.gif) 0 0 repeat-x; height:1px; font-size:0; margin:18px 0 18px 0;}
.gray_wall ul.three_col{}
.gray_wall ul.three_col li.first{margin-left:0;}
.gray_wall ul.three_col li{width:185px; margin-left:12px;}

.gray_wall ul.img_description li{background:url(../img/layout/dotted_divider_gray.gif) 0 0 repeat-x; padding-top:20px; margin-top:20px; min-height:66px;}
.gray_wall ul.img_description li.first{margin-bottom:20px; background:none; padding:0; margin:0;}
.gray_wall ul.img_description li .image_honda{width:134px; height:66px; margin-right:22px; background:url(../img/layout/gray_honda_logo.gif) center no-repeat;}
.gray_wall ul.img_description li .image_pdf{width:134px; height:66px; margin-right:22px; background:url(../img/layout/gray_pdf_icon.gif) center no-repeat;}
.gray_wall ul.img_description li .description{width:427px;}
.gray_wall ul.img_description li .date{font-size:10px; color:#7c7c7c;}
.gray_wall ul.img_description li p{padding-bottom:14px;}
.gray_wall ul.img_description li .file_size{background:url(../img/layout/black_grey_bullet.gif) 0 50% no-repeat; padding-left:11px; margin-left:5px; font-size:12px; color:#1b1b1b;}
*/

h2, .h2 {color:#d90124;font-weight:bold;font-size:14px;padding-bottom:20px; line-height:18px;}
h2.em {font-size:18px;}
p.em {font-size:16px;line-height:22px;color:#333;}

.citytab_outer {margin-top: -4px;}
.citytab_outer2 {margin-top: -10px;}
.citytab_inner {font-size:8px;margin-top: -4px;}
