<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: accessories-find.html 14918 2011-05-17 18:59:37Z minanakamura $ -->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="find">
					<div class="content_container">
						<div class="content_section first_section">
							<h1>Find Accessories</h1>
							
							<div class="fc questions">
								<div class="question question1">
									<h3>Select a Category</h3>
									<select>
										<option>Select One</option>
										<option>Lawnmowers</option>
									</select>
								</div>
								<div class="question question2">
									<h3>Select a Model</h3>
									<select>
										<option>Select One</option>
										<optgroup label="Premium Residential HRX" style="font-style:normal;">
											<option>HRX2172VKC</option>
											<option>HRX2172HXC</option>
											<option>HRX2172HMC</option>
										</optgroup>
										<optgroup label="Residential HRX" style="font-style:normal;">
											<option>HRS2164PDC</option>
											<option>HRS2163SDC</option>
											<option>HRR2166PDC</option>
											<option>HRR2166VKC</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->