<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: accessories-results.html 15704 2011-10-26 15:26:27Z felix.huang $ -->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="find">
					<div class="content_container">
						<div class="content_section first_section">
							<h1>Find Accessories</h1>
							
							<div class="fc questions">
								<div class="question question1">
									<h3>Select a Category</h3>
									<select>
										<option>Select One</option>
										<option>Lawnmowers</option>
									</select>
								</div>
								<div class="question question2">
									<h3>Select a Model</h3>
									<select>
										<option>Select One</option>
										<optgroup label="Premium Residential HRX">
											<option>HRX2172VKC</option>
											<option>HRX2172HXC</option>
											<option>HRX2172HMC</option>
										</optgroup>
										<optgroup label="Residential HRX">
											<option>HRS2164PDC</option>
											<option>HRS2163SDC</option>
											<option>HRR2166PDC</option>
											<option>HRR2166VKC</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="fc content_section product">
							<div class="fl product_name">
								<div class="h1">hrx2172vkc</div>
								<div class="h2">Residential</div>
								
								<div class="price">
									<span class="price-value"><sup>$</sup>999</span>
									<span class="price-label">MSRP</span>
								</div>
							</div>
							<div class="fr product_image">
								<img src="/_Global/img/temp/accessories-results-placeholder.gif" alt="" />
							</div>
						</div>
						<div class="nb content_section">
							<div class="bar">
								<h2>hrx2172vkc accessories</h2>
							</div>
							
							<ul class="accessories-list">
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item1">
                                        Phasellus scelerisque nulla.<br />
                                        <q class="part-number">Part #: 123-45678-90X</q>
                                    </a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item2">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item3">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item4">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item5">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item6">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item7">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
								<li class="fc">
									<a class="fl item"
									property="act:tooltip"
									data-position="right bottom"
									data-position-collision="fit none"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target="#accessories-item8">Phasellus scelerisque nulla.</a>
									<span class="price">$89.75</span>
								</li>
							</ul>						
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 1</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 2</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item3" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 3</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item4" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 4</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item5" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 5</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item6" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 6</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item7" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 7</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<div id="accessories-item8" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 8</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->