<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: accessories-overview.html 14935 2011-05-18 20:04:13Z minanakamura $ -->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container">
						<div class="content_section first_section">
							<img src="/_Global/img/temp/banner-accessories-placeholder.gif" alt="" />
						</div>
                        <div class="content_section">
                            <h1>Genuine Honda Accessories</h1>
                            <h3>Why choose genuine Honda accessories</h3>
                            <p>Customization is about making a statement. It's a personal declaration of freedom. Freedom to hit the road in a style that is all your own. Let genuine Honda accessories help you define that style. Whether you are fond of chrome or leather, like to be noticed or prefer understatement, the possibilities are endless. It's time to turn your imagination into reality. </p>
                            <p>We strongly recommend that you use only genuine Honda accessories that have been specifically designed and tested for your motorcycle. Because Honda cannot test all other accessories, you must be personally responsible for proper selection, installation, and use of non-Honda accessories, as they may void your warranty under certain conditions. Check with your Honda dealer for assistance.</p>
                            <p>Honda is synonymous with quality and performance. Whether you own a vehicle, motorcycle, ATV, or a product from our power equipment or marine line-ups, chances are you bought the Honda based on our reputation. Genuine Honda accessories are no different. In fact, they are the only accessories that have been approved by the engineers who originally designed your Honda. This ensures that not only will they look great but they'll fit right too. Chrome, leather, windshields… we've got what you're looking for. Let your imagination run wild.</p>
                        </div>
						<div class="content_section_dotted">
							<div class="fc accessories-content">
								<div class="fl accessories-content-area">
									<h2 class="small">News</h2>
									<div class="sub_section first_subsection">
										<h3>Get ready for spring!</h3>
										<p>Your power equipment unit may require a tune-up after it has been in storage for the winter. Whether you need an oil change, a spark plug or a replacement air filter, your Honda dealer is the place of choice to get your spring tune-up done right. Get the most out of your power equipment this season and visit your Honda dealer for a spring tune-up.</p>
									</div>
	                                <!--<div class="sub_section_dotted">
										<h3>Get ready for spring!</h3>
										<p>Aenean tempor sem vitae arcu fringilla porttitor. Phasellus at velit metus. Ut consequat erat suscipit lorem sodales sed varius justo.</p>
									</div>-->
								</div>
								<div class="fr accessories-side-image">
									<img src="/_Global/img/content/pe/accessories/snowblower_poster_en.png" alt="" />
								</div>
							</div>
							<div class="accessories-footer">
								<img src="/_Global/img/content/pe/accessories/pe_accessory.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->