<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-compare-landing">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/compare.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="page-find-a-dealer">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="content_section first_section tac">
					<h1>compare power equipment</h1>
					<h2 class="search-options">Mauris sollicitudin elementum lectus id placerat nam ligula erat.</h2>
					<dl class="fc compare-products">
						<dd class="fl first">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Generators</p>
							</a>
						</dd>
						<dd class="fl">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Lawnmowers</p>
							</a>
						</dd>
						<dd class="fl">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Water Pumps</p>
							</a>
						</dd>
					</dl>
					<dl class="fc compare-products">
						<dd class="fl first">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Snowblowers</p>
							</a>
						</dd>
						<dd class="fl">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Tillers</p>
							</a>
						</dd>
						<dd class="fl">
							<a href="compare-landing.html#">
								<img src="/_Global/img/temp/compare_thumbnail_placeholder.gif" alt="" />
								<p>Trimmers</p>
							</a>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->