<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-compare-results">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/compare.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="page-find-a-dealer">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="content_section first_section" id="CompareApp">
					<h1>Compare <span>Lawnmowers</span></h1>
					<table class="tbl tbl_compare_result" border="0">
						<thead>
				 			<tr class="first top">
								<th class="first odd name">
									<div><span>Choisir modèle</span></div>
								</th>
					 			<th class="odd compare" data-index="2">
                                     <!--
                                     <div class="popup_wrap">
                                         <a href="#" class="btn secondary"
                                             data-popup-class="model-selector-right"
                                             data-popup-content-url="/pe/resources/compare-popup-template.html"
                                             data-position-my="left top"
                                             data-position-at="left bottom"
                                             data-popup-hanger="true"
                                             data-compare-behavior="add"
                                             property="compare:model-selector"><span>Select a Model</span></a>
                                     </div>
									<div class="tag-trim-details dn">-->
										<!--<div class="model">-->
											<!--<span class="tag-trim-name">rx700xx</span>-->
										<!--</div>-->
										<!--<span class="price tag-price">$10,599</span>-->
										<!--<span class="msrp tag-text-msrp">MSRP</span>-->
										<!--<div class="clr"></div>-->
										<!--<div class="product_image">-->
											<!--<img class="tag-thumbnail" src="/_Global/img/content/compare/product_image_sample.gif"/>-->
										<!--</div>-->
										<!--<div class="change_btn">-->
                                            <!--<a href="#" class="btn secondary"-->
                                                <!--data-popup-class="model-selector-right"-->
                                                <!--data-position-my="left top"-->
                                                <!--data-position-at="left bottom"-->
                                                <!--data-popup-content-url="/pe/resources/compare-popup-template.html"-->
                                                <!--data-popup-hanger="true"-->
                                                <!--data-compare-behavior="replace"-->
                                                <!--property="compare:model-selector"><span>Change</span></a>-->
										<!--</div>-->
									<!--</div>-->
                                    <div class="tag-trim-details dn" style="display: block;">
                                        <div class="model">
                                            <span class="tag-trim-name"><cufon class="cufon cufon-canvas" alt="HRX2172HMC" style="width: 104px; height: 17px;"><canvas width="111" height="16" style="width: 111px; height: 16px; top: 2px; left: -1px;"></canvas><cufontext>HRX2172HMC</cufontext></cufon></span>
                                        </div>
                                        <div class="tag-no-discount">
                                            <span class="price tag-price">$10,599</span>
                                            <span class="msrp tag-text-msrp">MSRP</span>
                                        </div>
                                        <div class="tag-has-discount dn">
                                            <div class="fc original price">
                                                <del><span class="strike"></span><strong class="tag-price">$999</strong></del>
                                                <!--<del><span class="price tag-price"><cufon class="cufon cufon-canvas" alt="$1,199" style="width: 47px; height: 17px;"><canvas width="54" height="16" style="width: 54px; height: 16px; top: 2px; left: -1px;"></canvas><cufontext>$1,199</cufontext></cufon></span></del>-->
                                                <span class="msrp tag-text-msrp">MSRP</span>
                                            </div>
                                            <div class="fc special price">
                                                 <strong class="tag-discount">$100</strong>
                                                 <span class="tag-text-discount">Discount</span>
                                            </div>
                                            <div class="fc final price">
                                                 <strong class="tag-final-price">$899</strong>
                                                 <span class="tag-text-final-price">Your Price</span>
                                            </div>
                                        </div>
                                        <div class="clr"></div>
                                        <div class="product_image">
                                            <img src="/_Global/img/content/compare/sample.png" class="tag-thumbnail">
                                        </div>
                                        <div class="change_btn">
                                            <a property="compare:model-selector" data-compare-behavior="replace" data-popup-hanger="true" data-popup-content-url="/service/ComparePopUpSelector.aspx?ModelFamilyUrl=lawnmowers&amp;L=en" data-position-at="left bottom" data-position-my="left top" data-popup-class="model-selector-right" class="btn secondary delayed" href="javascript:void(0)" style=""><span><cufon class="cufon cufon-canvas" alt="Change" style="width: 46px; height: 12px;"><canvas width="52" height="11" style="width: 52px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>Change</cufontext></cufon></span></a>
                                        </div>
							        </div>
								</th>
								<th class="odd spacer"></th>
								<th class="even compare" data-index="4">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
                                    <div class="tag-trim-details dn">
                                        <div class="model">
                                            <span class="tag-trim-name">rx700xx</span>
                                            <a href="#" class="close"></a>
                                            <div class="clr"></div>
                                        </div>
                                        <span class="price tag-price">$10,599</span>
                                        <span class="msrp tag-text-msrp">MSRP</span>
                                        <div class="clr"></div>
                                        <div class="product_image">
                                            <img class="tag-thumbnail" src="/_Global/img/content/compare/product_image_sample.gif"/>
                                        </div>
                                        <div class="change_btn">
                                            <a href="#" class="btn secondary"
                                                data-popup-class="model-selector"
                                                data-popup-content-url="/pe/resources/compare-popup-template.html"
                                                data-popup-hanger="true"
                                                data-compare-behavior="replace"
                                                property="compare:model-selector"><span>Change</span></a>
                                        </div>
                                    </div>
                                    <div class="popup_wrap">
                                        <a href="#" class="btn secondary"
                                            data-popup-class="model-selector"
                                            data-popup-content-url="/pe/resources/compare-popup-template.html"
                                            data-popup-hanger="true"
                                            data-compare-behavior="add"
                                            property="compare:model-selector"><span>Select a Model</span></a>
                                    </div>
								</th>
								<th class="odd spacer"></th>
								<th class="even compare" data-index="6">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
                                    <div class="tag-trim-details dn">
                                        <div class="model">
                                            <span class="tag-trim-name">rx700xx</span>
                                            <a href="#" class="close"></a>
                                            <div class="clr"></div>
                                        </div>
                                        <span class="price tag-price">$10,599</span>
                                        <span class="msrp tag-text-msrp">MSRP</span>
                                        <div class="clr"></div>
                                        <div class="product_image">
                                            <img class="tag-thumbnail" src="/_Global/img/content/compare/product_image_sample.gif"/>
                                        </div>
                                        <div class="change_btn">
                                            <a href="#" class="btn secondary"
                                                data-popup-class="model-selector"
                                                data-popup-content-url="/pe/resources/compare-popup-template.html"
                                                data-popup-hanger="true"
                                                data-compare-behavior="replace"
                                                property="compare:model-selector"><span>Change</span></a>
                                        </div>
                                    </div>
                                    <div class="popup_wrap">
                                        <a href="#" class="btn secondary"
                                            data-popup-class="model-selector"
                                            data-popup-content-url="/pe/resources/compare-popup-template.html"
                                            data-popup-hanger="true"
                                            data-compare-behavior="add"
                                            property="compare:model-selector"><span>Select a Model</span></a>
                                    </div>
								</th>

<!-- DEV -->
<!--
<div class="dropdown_container pf model-selector commonlib-popup" style="display: block; top: 333px; left: -90px;"><div class="dropdown_button pf"><span class="dropdown_button_right pf"><a property="compare:model-selector" data-compare-behavior="replace" data-popup-hanger="true" data-popup-content-url="/pe/resources/compare-popup-template.html" data-popup-class="model-selector" class="btn secondary dropdown-widget-clone dd_button btn-hover" href="#"><span><cufon class="cufon cufon-canvas" alt="Change" style="width: 46px; height: 12px;"><canvas width="52" height="11" style="width: 52px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>Change</cufontext></cufon></span></a></span></div><div class="dropdown_content pf"><div class="dropdown_content_top pf"></div><div class="dropdown_content_mid pf"><div>
        <h3>Select Series</h3>
        <select property="compare:series-selector">
            <option value="/pe/resources/compare-popup-template.html">Premium Residential HRX</option>
            <option value="/pe/resources/compare-popup-template.html">Premium Series</option>
            <option value="/pe/resources/compare-popup-template.html">IZY Compact Series</option>
            <option value="/pe/resources/compare-popup-template.html">Commercial Series</option>
        </select>
        <div class="line"></div>
        <div class="selection_wrap">
            <div class="scrollview" style="position: relative; overflow: hidden;">
                <div class="subview" style="width: 500px; position: relative;">
                    <div data-trim-id="rx700xx_1" class="item">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading"><cufon class="cufon cufon-canvas" alt="rx700xx_1" style="width: 63px; height: 14px;"><canvas width="72" height="13" style="width: 72px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>rx700xx_1</cufontext></cufon></h3>
                        <div class="fc final price">
                            <strong><cufon class="cufon cufon-canvas" alt="$999" style="width: 33px; height: 14px;"><canvas width="38" height="13" style="width: 38px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>$999</cufontext></cufon></strong>
                            <span><cufon class="cufon cufon-canvas" alt="MSRP" style="width: 23px; height: 9px;"><canvas width="27" height="9" style="width: 27px; height: 9px; top: 1px; left: -1px;"></canvas><cufontext>MSRP</cufontext></cufon></span>
                        </div>
                    </div>
                    <div data-trim-id="rx700xx_2" class="item">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading"><cufon class="cufon cufon-canvas" alt="rx700xx_2" style="width: 65px; height: 14px;"><canvas width="72" height="13" style="width: 72px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>rx700xx_2</cufontext></cufon></h3>
                        <div class="fc final price">
                            <strong><cufon class="cufon cufon-canvas" alt="$999" style="width: 33px; height: 14px;"><canvas width="38" height="13" style="width: 38px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>$999</cufontext></cufon></strong>
                            <span><cufon class="cufon cufon-canvas" alt="MSRP" style="width: 23px; height: 9px;"><canvas width="27" height="9" style="width: 27px; height: 9px; top: 1px; left: -1px;"></canvas><cufontext>MSRP</cufontext></cufon></span>
                        </div>
                    </div>
                    <div data-trim-id="rx700xx_3" class="item">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading"><cufon class="cufon cufon-canvas" alt="rx700xx_3" style="width: 65px; height: 14px;"><canvas width="72" height="13" style="width: 72px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>rx700xx_3</cufontext></cufon></h3>
                        <div class="fc final price">
                            <strong><cufon class="cufon cufon-canvas" alt="$999" style="width: 33px; height: 14px;"><canvas width="38" height="13" style="width: 38px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>$999</cufontext></cufon></strong>
                            <span><cufon class="cufon cufon-canvas" alt="MSRP" style="width: 23px; height: 9px;"><canvas width="27" height="9" style="width: 27px; height: 9px; top: 1px; left: -1px;"></canvas><cufontext>MSRP</cufontext></cufon></span>
                        </div>
                    </div>
                    <div data-trim-id="rx700xx_4" class="item">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading"><cufon class="cufon cufon-canvas" alt="rx700xx_4" style="width: 66px; height: 14px;"><canvas width="72" height="13" style="width: 72px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>rx700xx_4</cufontext></cufon></h3>
                        <div class="fc final price">
                            <strong><cufon class="cufon cufon-canvas" alt="$999" style="width: 33px; height: 14px;"><canvas width="38" height="13" style="width: 38px; height: 13px; top: 2px; left: -1px;"></canvas><cufontext>$999</cufontext></cufon></strong>
                            <span><cufon class="cufon cufon-canvas" alt="MSRP" style="width: 23px; height: 9px;"><canvas width="27" height="9" style="width: 27px; height: 9px; top: 1px; left: -1px;"></canvas><cufontext>MSRP</cufontext></cufon></span>
                        </div>
                    </div>
                </div>
            <span class="commonlib-scrollview-pane commonlib-scrollview-pane-v" style="position: absolute; top: 0px; right: 0px;"><span class="commonlib-scrollview-pane-inner"><a class="commonlib-scrollview-handle commonlib-scrollview-handle-v" style="position: relative;"></a></span></span><span class="commonlib-scrollview-pane commonlib-scrollview-pane-h" style="position: absolute; bottom: 0px; left: 0px;"><span class="commonlib-scrollview-pane-inner"><a class="commonlib-scrollview-handle commonlib-scrollview-handle-h ui-draggable" style="position: relative;"></a></span></span></div>
        </div>
    </div>
</div><div class="dropdown_content_bottom pf"></div></div></div>
-->
<!-- END/DEV -->


								<!-- FIXME &nbsp; hack to prevent gray area -->
								<th class="odd spacer"></th>
								<th class="last even compare" data-index="8">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
                                    <div class="tag-trim-details dn">
                                        <div class="model">
                                            <span class="tag-trim-name">rx700xx</span>
                                            <a href="#" class="close"></a>
                                            <div class="clr"></div>
                                        </div>
                                        <span class="price tag-price">$10,599</span>
                                        <span class="msrp tag-text-msrp">MSRP</span>
                                        <div class="clr"></div>
                                        <div class="product_image">
                                            <img class="tag-thumbnail" src="/_Global/img/content/compare/product_image_sample.gif"/>
                                        </div>
                                        <div class="change_btn">
                                            <a href="#" class="btn secondary"
                                                data-popup-class="model-selector"
                                                data-popup-content-url="/pe/resources/compare-popup-template.html"
                                                data-popup-hanger="true"
                                                data-compare-behavior="replace"
                                                property="compare:model-selector"><span>Change</span></a>
                                        </div>
                                    </div>
									<div class="popup_wrap">
										<a href="#" class="btn secondary"
											data-popup-class="model-selector"
                                            data-popup-content-url="/pe/resources/compare-popup-template.html"
											data-popup-hanger="true"
                                            data-compare-behavior="add"
											property="compare:model-selector"><span>Select a Model</span></a>
									</div>
								</th>							
							</tr>
						</thead>
						<tbody>
							<tr class="first note">
								<td class="note" colspan="2"><div><span>Indicates differences between models.</span></div></td>								
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span></span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span></span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
                            
                            <tr class="tmpl dn">
                                <td class="first odd">
                                    <div>
                                        <p>
                                            <a class="tag-spec-label" property="act:tooltip"
                                               data-tooltip-class="tooltip-right-alt"
                                               data-position="right bottom"
                                               data-tooltip-content-target=""></a>
                                            <div class="tag-tooltip dn">
                                                Tooltip content
                                            </div>
                                        </p>
                                    </div>
                                </td>
                                <td class="odd"><div><span></span></div></td>
                                <td class="odd spacer"><div><span></span></div></td>
                                <td class="even"><div><span></span></div></td>
                                <td class="odd spacer"><div><span></span></div></td>
                                <td class="even"><div><span></span></div></td>
                                <td class="odd spacer"><div><span></span></div></td>
                                <td class="even"><div><span>&nbsp;</span></div></td>
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        <div class="cap_bottom_default pf"></div>
    </div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/compare.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->