<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-current-offers-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/current-offers.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/special-offers/landing.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/sections/current-offers-map.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->