<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-options.html 14582 2011-04-06 19:39:22Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="options">
						<div class="content_section first_section">
							<h1>Finance <span>Options</span></h1>
							<p class="large">As a finance customer, throughout the term of your finance contract, your payments will consist of part principal and part finance charges. Each payment you make increases the amount of equity you've built up in your Power Equipment.</p>
							<p class="large">Once you've decided on your Honda, we want to make financing it as simple as possible. That's why we deliver financing approvals in less than one hour in the convenience of your local Honda dealer.</p>
						</div>
						<div class="content_section">
							<h2>Financing Options</h2>
							<div class="grouped">
								<p>As a finance customer, throughout the term of your finance contract, your payments will consist of part principal and part interest. Each payment you make increases the amount of equity you've built up in your Power Equipment.</p>
								<p>Once you've decided on your Honda, we want to make financing it as simple as possible. That's why we deliver financing approvals in less than one hour in the convenience of your local Honda dealer.</p>
							</div>
						</div>
						<div class="content_section">
							<h2>The benefits of financing your Power Equipment with Honda Financial Services are:</h2>
							<ul>
								<li>You are the owner of the Power Equipment.</li>
								<li>All retail loans are open and you may pay out the finance contract at any time without prepayment penalties.</li>
								<li>Simple interest method to calculate interest charges.</li>
								<li>Build equity.</li>
								<li>Flexible Terms.</li>
								<li>Once all the payments have been made, you own the unit.</li>
							</ul>
						</div>
						<div class="content_section">
							<h2>Conventional Finance</h2>
							<div class="grouped">
								<p>With the regular program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
								<p>Try our <a href="finance-calculator.html">Finance Calculator</a> to see which option suits your needs best.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->