<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-overview.html 14500 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="overview">
						<div class="content_section first_section">
							<p><img src="/_Global/img/content/finance/banner-financial.jpg" alt="Finance" /></p>
							<h1>Finance <span>Overview</span></h1>
							<p class="large">Honda Canada Finance Inc. (HCFI), o/a Honda Financial Services, was established in 1987 to provide financing and leasing options for Canadian consumers. We offer financing and leasing options for Honda and Acura automobiles, motorcycles, ATV and power equipment through Honda dealers across Canada.</p>
							<p class="large">At Honda Financial Services, our goal is to always ensure your complete satisfaction. If you should ever have any questions or concerns regarding your account or vehicle financial options, please feel free to <a href="http://www.honda.ca/lease-and-finance/contactus">contact us</a>.</p>
							<p class="large">We offer competitive rates and flexible terms and we are your preferred financing and leasing partner available at all Honda dealerships.</p>
							<p class="large"><strong>We make it easier to make it yours!</strong></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->