<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-privacy.html 14500 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="privacy">
						<div class="content_section first_section">
							<h1>Privacy</h1>
							<p class="large">HCFI is committed to protecting the privacy of your personal information by complying with Canadian privacy laws and regulations.</p>
	
							<div class="fc privacy-downloads">
								<div class="fl privacy-downloads-column">
									<h3>HCFI Privacy Fact Statement</h3>
									<a href="finance-privacy.html#" class="btn primary"><span>Download</span></a>
								</div>
								<div class="fl privacy-downloads-column">
									<h3>Online Privacy Policy</h3>
									<a href="finance-privacy.html#" class="btn primary"><span>Download</span></a>
								</div>
							</div>
						</div>
						<div class="fc content_section">
							<a target="_blank" class="fr pdf_icon" href="http://get.adobe.com/reader/?mgiToken=2QWVV75BVSGHQ"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->