<!--#include file="inc/application_top.html"-->
<!-- $Id: 2col.html 310 2011-03-10 02:23:46Z yuxhuang $ -->
<body class="page-honda-canada">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/common/forms.css" />
	<link rel="stylesheet" href="/_Global/css/sections/example.css" />
    <link rel="stylesheet" href="/_Global/css/common/honda-canada.css" />
	<!-- END  : page SPECIFIC STYLES -->
    <!--#include file="inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container" id="inner_page_content">
                    <!-- For pages containing inner page content area, any content-specific class names should go in here within #inner_page_content -->
                    <div class="example-2col-class-name">
                        <div class="content_section first_section">
                            <h1>Honda <span>Content</span></h1>
                            <h2>Duis volutpat aliquet justo, ac varius velit imperdiet.</h2>
                            <p class="large">Integer vel tempus nibh. Aliquam ultrices pellentesque faucibus. Fusce aliquam tempor leo, sit amet pellentesque risus consequat vel. Curabitur a nisi ut erat dictum eleifend. Ut eget sapien a metus posuere placerat. Praesent non enim ac nisl mattis varius quis in turpis. Nunc tempor dui et nisi eleifend ac tristique lorem convallis. Curabitur ut neque vitae ligula viverra tempor at sagittis nulla. Fusce feugiat elementum interdum. Vestibulum aliquam, elit sed tristique dapibus, erat purus varius ipsum, eu consectetur nunc est condimentum lectus. </p>
                        	<p class="large">Integer vel tempus nibh. Aliquam ultrices pellentesque faucibus. Fusce aliquam tempor leo, sit amet pellentesque risus consequat vel. Curabitur a nisi ut erat dictum eleifend. Ut eget sapien a metus posuere placerat. Praesent non enim ac nisl mattis varius quis in turpis. Nunc tempor dui et nisi eleifend ac tristique lorem convallis. Curabitur ut neque vitae ligula viverra tempor at sagittis nulla. Fusce feugiat elementum interdum. Vestibulum aliquam, elit sed tristique dapibus, erat purus varius ipsum, eu consectetur nunc est condimentum lectus. </p>
                        </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include file="inc/widgets/menu-example.html"-->
        </ul>
	</div>
<!--#include file="inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include file="inc/application_bottom.html"-->