<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage page-product-lawnmowers">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
    <!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Lawnmower?</h1>
						<p class="large">Every Honda lawnmower features a reliable 4-stroke engine that delivers smooth, quiet performance. Plus, all Honda lawnmowers meet or exceed EPA (Environmental Protection Agency) and CARB (California Air Resources Board) emissions standards.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Honda Advantage Technologies</div>
						<p class="large">At Honda, innovation isn't just a buzzword. Innovation is the driving force behind every product we engineer. We take mowing your lawn as seriously as you do, which is why Honda has developed unique technologies and features you just can't find on any other mower.</p>
						<h2 class="blue">NeXite<sup>TM</sup> Deck</h2>
						<p class="large">Exclusive to Honda's HRX mowers, NeXite<sup>TM</sup> was developed to resist dents, rust and corrosion. NeXite has similar strength and impact resistance to polymer materials commonly found in football helmets and car bumpers, where it's critical to have a strong, yet lightweight material. Durable and easy to clean, the NeXite deck is the ideal mower deck.</p>
						<h2 class="blue">RotoStop<sup>TM</sup> Blade Stop System</h2>
						<p class="large">This advanced system stops and starts the blade rotation while the engine keeps running. This saves you time by eliminating the need for engine restarts when you empty the bag, cross gravel paths or move obstacles out of your way.</p>
						<h2 class="blue">QuadraCut<sup>TM</sup> and MicroCut<sup>TM</sup></h2>
						<p class="large">Only Honda lawnmowers feature the twin-blade, QuadraCut<sup>TM</sup> mowing system, which provides four cutting surfaces to produce ultrafine clippings for better mulching and increased bag capacity. Smaller clippings decompose more quickly, adding valuable nutrients to your lawn. The Honda MicroCut<sup>TM</sup> twin-blade system, designed exclusively to work with the HRX Series decks, produces even finer clippings to further enhance cutting efficiency.</p>
						<h2 class="blue">Hydrostatic Transmission</h2>
						<p class="large">Honda’s select HRX and HRR series models feature infinitely variable hydrostatic drive transmission with Adjustable Smart Drive&reg;, which allows you to walk at your own pace while easily adjusting ground speed to match mowing conditions. Forward and reverse motion, and acceleration and deceleration are freely controlled with a single lever.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->