<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage page-product-trimmers">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Trimmer?</h1>
						<p class="large">Every Honda trimmer features a reliable 4-stroke engine that delivers smooth, quiet performance. All Honda trimmers meet or exceed EPA (Environmental Protection Agency) and CARB (California Air Resources Board) emissions standards. Plus, Honda trimmers are designed to operate efficiently at less than full throttle, which means they'll use even less fuel and create less noise than a trimmer operated at full throttle.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Honda Advantage Technologies</div>
						<p class="large">Each Honda trimmer is built using cutting-edge technology and innovation you just won’t find anywhere else. For example, Honda trimmers have exclusive ergonomic elements in their design, which allow for comfortable operation during prolonged use. And each Honda trimmer is built to be durable and reliable. After all, we have a legendary reputation of unsurpassed quality and performance to live up to each time you start up your Honda trimmer.</p>
						<h2 class="blue">4-Stroke Engines</h2>
						<p class="large">Honda trimmers are powered by Honda’s GX25 and GX35 mini 4-stroke engines, which are among the lightest and quietest 4-stroke engines on the market today. But don’t let their small size fool you: these easy starting engines perform even in the toughest conditions.</p>
						<p class="large">Honda trimmer engines are easier to maintain since they use regular gas that doesn’t require mixing with oil. And Honda trimmers have fewer emissions than a comparable 2-stroke trimmer.</p>
						<p class="large">Plus Honda trimmers are 360&deg; inclinable, which means they can be operated and stored in any position - even upside down - without spillage or stalling.</p>
						<h2 class="blue">QuietLine<sup>TM</sup></h2>
						<p class="large">Honda offers Quiet Line<sup>TM</sup> standard on all our models. This premium line reduces the noise level by another 5 decibels. And because Honda trimmers offer strong low-end torque, you can do many jobs at partial throttle, reducing noise levels even further.</p>
						<h2 class="blue">Flexible Steel Cable Drive-Shaft</h2>
						<p class="large">Honda’s flexible steel cable shaft is lighter, stronger and offers increased durability and superior shock absorption. It has a longer life than a solid shaft, and offers the strongest torsional strength in the industry. It’s much easier to service. And the flex shaft offers all of these benefits without increasing vibration or operator fatigue.</p>
						<h2 class="blue">Easy to Start</h2>
						<p class="large">There’s a reason Honda engines are renowned for easy starting, they use 4-stroke engine. With our superior design, Honda trimmers are incredibly easy to start! No hassle, no fuss. Just a quick, consistent, easy start.</p>
						<h2 class="blue">Additional Accessory Trimmer Heads</h2>
						<p class="large">A commercial-quality string trimmer head for use in all types of grass comes standard on all Honda trimmers. Depending on your needs, your Honda trimmer can be operated with a string cutting head or heavy-duty steel brush-cutting head when used with the appropriate optional accessories and equipment. Honda trimmer accessories not only help you keep your yard looking its best, they also help you work safely around the yard. All trimmers can use any of the four available cutting heads:</p>
						<ul class="large-list">
							<li>Manual Feed - Easily adjustable, spring-loaded twin .095" lines deliver a polished cut. Standard on HHT35SUKCT model.</li>
							<li>Semi-matic - A quick, simple tap on a flat surface supplies two .095" lines for light jobs. Standard on HHT25SLTC, HHT25SUT4C and HHT35SLTCT models.</li>
							<li>Semi-pro - Pro-grade semi-matic head dispenses two .095" lines with a quick tap (Optional).</li>
							<li>Pro-tap - Heavy-duty head feeds two .105" lines with tap on a flat surface (Optional).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->