<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage page-product-generators">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Generator?</h1>
						<p class="large">Honda generators are powered by 4-stroke Honda engines that don't mix oil and gas. This offers many advantages, including cleaner and quieter operation, fewer fill ups, reduced ownership costs and lower emissions.</p>
						<p class="large">Our latest inverter models are smaller, lighter and quieter than ever before, and many Honda generators produce voltage that is smoother and more consistent than commercially available power sources.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">honda advantage technologies</div>
						<p class="large">Today, Honda generators are at work around the world — from equatorial jungles to research posts north of the Arctic Circle. Over 30 years of power-equipment development by Honda engineers have given rise to a varied line of hard-working generators with exclusive technologies and features.</p>
						<h2 class="blue">CSA Approved</h2>
						<p class="large">All Honda Generators meet or exceed CSA (Canadian Standards Association) safety and EPA (Environmental Protection Agency) emissions standards. Not all manufacturers of portable generators can make this claim.</p>
						<h2 class="blue">Cold Climate Technology</h2>
						<p class="large">Honda's industry leading &quot;Cold Climate Technology&quot; is specifically designed for our cold Canadian winters. Our exclusive breather heater system helps keep the crankcase ventilation tube free of ice formation and helps prevent generator shutdown.</p>
						<h2 class="blue">Super Quiet</h2>
						<p class="large">Honda's Super Quiet portable generators feature exhaust and muffler technology that give them lower noise ratings within the 49-58-decibel level (dBA) ranges, so you'll never have to worry about disturbing your neighbours – or your own peace and quiet.</p>
						<h2 class="blue">Dual Voltage Selection</h2>
						<p class="large">Honda's high-output generators offer the best in electrical standby power and are available in 5000 to 7000-watt categories. The dual voltage inverter configuration allows you to power up appliances that require 120 or 240 volts.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>
	<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->