<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />

	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div id="inner_page_content" class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda?</h1>
						<p class="large">For over 50 years, Honda engines have carried a worldwide reputation for superior design, reliability and unsurpassed quality construction.</p>
						<p class="large">As an innovator in engine and power equipment technology, Honda takes its responsibility to both its customers and the environment seriously.</p>
						<p class="large">That's why Honda power equipment products - generators, lawnmowers, water pumps, snowblowers, tillers and trimmers – are powered by reliable, fuel-efficient 4-stroke Honda engines.</p>
					</div>
					<div class="content_section">
						<div class="the_honda_advantage_box">
							<div class="bluebox_top_cap"></div>
							<div class="bluebox_content">
								<h2 class="white">The Honda Advantage</h2>
								<p>There are several advantages to owning Honda power equipment products. First, they are easier to start and they don’t mix oil and gasoline, which makes them cleaner to handle and operate. They are fuel efficient, which means fewer fill ups and lower emissions. Plus, they provide quiet operation, ease-of-use, durability and dependability and reduced ownership costs.</p>
								<p>One of the most significant advantages is knowing that you can continue the joyful experience of owning a Honda product with our support over its lifetime.</p>
								<p>Honda has an extensive Canada-wide dealership network. We choose our dealers with the same care we put into designing and building our quality products. Honda dealers are here to service and repair your unit as specified by the factory.</p>
								<p>Our highly skilled dealers use only Honda Genuine Parts to maintain the original level of Honda quality, and Honda Genuine Accessories allow you to customize your unit to suit your needs.</p>
								<p>Whether you own a Honda vehicle, motorcycle or power equipment product, remember that they are supported by the same family that built them. Whenever you need us, we are here for you to continue to enjoy any Honda product or service.</p>
							</div>
							<div class="bluebox_bottom_cap"></div>
						</div>
						
						<div class="h1 mb10">the honda advantage</div>
						<!--<h2>Continue the joyful experience of owning Honda product</h2>-->
						<p class="large">One of the most significant advantages of owning a Honda is knowing that you have our support during the life of your Honda product. We choose our dealers with the same care we put into designing and building our quality products. Honda dealers are here to service and repair your unit as specified by the factory. Honda dealers’ highly skilled technicians use only genuine Honda parts to maintain the original level of Honda quality, and genuine Honda accessories allow you to customize your unit to suit your needs. Whether you own a Honda vehicle, motorcycle or power equipment product, remember that they are supported by the same family that built them. Whenever you need us, we are here for you to continue to enjoy any Honda product or service.</p>
						
						<dl class="fc the_honda_advantage_categories">
							<dd class="fl first">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_generators.jpg" alt="" /></span>
									<span>Generators</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_lawnmowers.jpg" alt="" /></span>
									<span>Lawnmowers</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_water_pumps.jpg" alt="" /></span>
									<span>Water Pumps</span>
								</a>
							</dd>
							<dd class="fl first">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_snowblowers.jpg" alt="" /></span>
									<span>Snowblowers</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_tillers.jpg" alt="" /></span>
									<span>Tillers</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="#">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_trimmers.jpg" alt="" /></span>
									<span>Trimmers</span>
								</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->