<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage .page-product-snowblowers">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Snowblower?</h1>
						<p class="large">Powered by reliable Honda 4-stroke engines that don't mix oil and gas, our dual-stage and single-stage snowblowers are exceptionally quiet, efficient and easy to use. They start reliably in cold weather and provide proven power for clearing even the heaviest snow.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Honda Advantage Technologies</div>
						<p class="large">Honda has been making state-of-the-art snowblowers since 1981. During this time our engineers have continued to create a full range of innovative features that make snow clearing smoother, cleaner and easier. These advanced technologies are what make Honda snowblowers renowned worldwide.</p>
						<h2 class="blue">Honda Track Drive</h2>
						<p class="large">The Honda dual track drive system makes for superior traction through practically any snow condition. Our track drive snowblowers feature pliable, low-temperature rubber tracks with sure-gripping cleats that support the snowblower’s weight and provide solid traction. That means it’s the best machine for clearing interlocking stone driveways and sidewalks, steep inclines and steps since the auger glides over the surface. Honda’s tried-and-true dual track drive is available on the widest range of models, from the powerful HS724TA to the top-of-the-line HS1132TAS series.</p>
						<p class="large">(Available on HSM1336iC Hybrid, HS1132TC/TCS, HS928TC/TCD, HS724TC/TCD, HS622TC/TCD models)</p>
						<h2 class="blue">Hydrostatic<sup>TM</sup> Transmission Control</h2>
						<p class="large">Control of forward and reverse speed is simplicity itself with Honda’s hydrostatic transmission – standard on HS724, HS928 and HS1132 series snowblowers. A single lever (operated with one hand) accurately adjusts ground speed without affecting auger rotation speed. The farther you move the lever, the faster your Honda snowblower moves – push forward to move ahead; pull back for reverse. Infinitely variable speed means it’s easy to set the pace for every snow condition and personal preference.</p>
						<p class="large">(Available on all models except HS520, HS621 and HS622)</p>
						<h2 class="blue">Electric Chute Joystick Control</h2>
						<p class="large">You can control the height and direction of the snow discharge through the remote chute with the touch of a finger by moving the convenient electric chute joystick control up and down, left and right.</p>
						<p class="large">(Available on TCD and Hybrid models only)</p>
						<h2 class="blue">120 Volt Starting System</h2>
						<p class="large">For those who prefer an electric starter to a recoil starter the HS520CS, HS621CS, HS622TCS and HS1132TCS models come with a standard 120-volt AC electric starter to make the job even easier. Just plug in an extension cord, push a button, unplug and go.</p>
						<p class="large">Honda electric start snowblowers also have an oversized recoil grip for easy starting when an electric outlet is not convenient.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->