<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage page-product-tillers">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />

	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Tiller?</h1>
						<p class="large">Honda tillers are powered by 4-stroke engines that don't mix oil and gas and that run clean enough to pass or exceed all CARB and EPA emission standards. Honda's tillers are smooth running and exceptionally quiet, and our tine designs make short work of tough jobs. A single pass with a Honda tiller will comfortably leave behind just what you want - fully conditioned soil that's at its best.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Honda Advantage Technologies</div>
						<p class="large">You might notice that Honda tillers don't look quite like most others. That's because we believe the best can always be improved upon. Each Honda tiller is built using cutting-edge technology and innovation you just won’t find anywhere else. We've proven that tillers can be powerful without being noisy, overweight and cumbersome. All you have to do is try one to see and feel the difference.</p>
						<h2 class="blue">Dual Element Air Filtration System</h2>
						<p class="large">This high-quality, premium air filter protects the tiller from its dusty work environment. The FR800C model features Honda's &quot;Cyclone&quot; air filter, which extends filter service interval and provides extra protection in extreme dust conditions.</p>
						<h2 class="blue">Commercial Grade Transmission</h2>
						<p class="large">Thanks to a significantly lighter engine, heavy-duty commercial-grade components have been added without compromising the unit’s overall portability. These include a commercial grade transmission with a heavy-duty drive gear, a front engine guard for added protection and our exclusive Honda-designed hybrid digging/cultivating tines.</p>
						<h2 class="blue">Tilling Widths</h2>
						<p class="large">There are 7 Honda tiller models with tilling widths ranging from 15 cm (6&quot;) to 92 cm (36&quot;). Our smallest, the FG110K1C mini tiller has a 23 cm (9&quot;) tilling width, which is perfect for working in smaller gardens. Its outer tines can be removed to create an impressively narrow 6-inch (15 cm) tilling width for tight spaces. The F501 mid-tine tillers range from 60 cm (24&quot;) to 92 cm (36&quot;), making them ideal for tackling large residential lots. Each of the FR rear-tine tillers has a 51 cm (20&quot;) tilling width.</p>
						<h2 class="blue">Rear Tine ARS<sup>TM</sup> Active Rotary System</h2>
						<p class="large">The Active Rotary System featured exclusively on the FR650C model includes Honda’s patented co-axial counter-rotating tine drive system, where each tine is balanced with a tine rotating in the opposite direction. The action works just like a powerful mixer made for soil, resulting in optimum soil texture with minimum effort.</p>
						<h2 class="blue">Handle Height Adjustment</h2>
						<p class="large">Honda’s mid-tine tillers have a 3-position handle height adjustment feature and its rear-tine tillers offer both 3-position and 4-position handle height adjustment. Lightweight and easy to operate, the adjustable handle height provides more comfort while you work. The F220C mid-tine model also features fold-down handles so it will fit easily into your trunk.</p>
						<p class="large">(3-Position Handle Height Adjustment on F220C, F501K2C1, F501K2C2, FR600C; 4-Position Handle Height Adjustment on FRC800C; Folding Handle is standard on FG110K1C and F220C)</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->