<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage page-product-water-pumps">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->			
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Why Buy a Honda Water Pump?</h1>
						<p class="large">Water generally prefers to take its own course, but a portable Honda water pump has the superior power and high-pumping pressure to persuade it to go where you want it to — whether to irrigate a garden, empty a pool or quickly empty a flooded basement. When you need help to bail you out of trouble, you can be sure that you have a pump that will go with the flow.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Honda Advantage Technologies</div>
						<p class="large">Inside each Honda water pump are high-tech features developed during more than 20 years of innovation. State-of-the-art, durable construction, high-power engines and lightweight for easy portability - they all add up to superior pumping performance.</p>
						<h2 class="blue">Complete Lineup</h2>
						<p class="large">No two jobs are the same, so Honda offers a complete line of water pumps to assist you with everything from garden irrigation and pool maintenance to heavy-duty drainage work on the job site – that’s more choice than our competitors offer. So, whether it is a transfer, trash or high-pressure pump, Honda has a water pump to meet your exact needs.</p>
						<h2 class="blue">Commercial Grade Honda Engine</h2>
						<p class="large">At the heart of every Honda water pump is a dependable, fuel-efficient, Honda 4-stroke engine, with our proven overhead-valve design to deliver more pumping power and up to 25% better fuel efficiency over comparable side-valve engines. All Honda pumps use commercial-grade Honda GX series engines that run on gasoline and have large mufflers for quiet operation.</p>
						<h2 class="blue">Impeller Construction</h2>
						<p class="large">Honda water pumps adhere to the highest standards of quality in every aspect of their design. Rugged, cast-iron impellers and mechanical seals ensure years of reliable service, and they also contribute to a Honda pump's ability to maintain maximum discharge capacity.</p>
						<h2 class="blue">Large Accessory Lineup</h2>
						<p class="large">Honda’s Water Pumps also have a wide range of accessories available for use including multiple types and lengths of hoses, garden hose adapters, nozzle kits, strainers and rings as well as various clamp sets and coupling parts. Honda has the accessories you need to get the job done.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->