<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-landing">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="page">
	<div class="wrapper_extended">
		<div class="landing-heading"><span class="commercial-products">Commercial Products</span></div>
		<div id="feature_area">
			<div class="hero slideshow_player_support">
				<object width="950" height="400" id="flash_917739302" type="application/x-shockwave-flash" data="/_Global/swf/honda_slideShow.swf">
					<param value="flash" name="type"><param value="9" name="hashVersion"><param value="xml_location=/_Global/assets/slideshow/xml/slideShowData.xml&amp;debug=browser" name="flashvars">
					<param value="allowScriptAccess=sameDomain&amp;allowNetworking=all&amp;wmode=transparent&amp;quality=high&amp;play=true&amp;loop=false&amp;menu=false&amp;scale=showall&amp;bgcolor=#ffffff" name="params">
					<param value="/_Global/swf/honda_slideShow.swf" name="movie">
					<param value="opaque" name="wmode">
				</object>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<ul class="wide_three_column fc">
					<li class="first fl">
						<div class="content">
							<a href="landing.html#">
								<img src="/_Global/img/temp/homepage_tout_placeholders.gif" alt="">
							</a>
							<p class="heading">
								<a title="2011 Honda Accord Updates" href="http://honda.ca/news/2011-honda-accord-updates">2011 Honda Accord Updates</a>
							</p>
							<p>Updates for the 2011 Accord Sedan and Coupe include enhanced efficiency and styling.<br><a title="2011 Honda Accord Updates" href="http://honda.ca/news/2011-honda-accord-updates">Find out More</a></p>
						</div>
					</li>
					<li class="fl">
						<div class="content">
							<a href="landing.html#">
								<img src="/_Global/img/temp/homepage_tout_placeholders.gif" alt="">
							</a>
							<p class="heading">
								<a title="Join Honda on Facebook" href="http://www.facebook.com/hondacanada">Join Honda on Facebook</a>
							</p>
							<p>Follow Honda Canada on Faceboook for the latest news, events and updates.<br><a title="Join Honda on Facebook" href="http://www.facebook.com/hondacanada">Find out More</a></p>
						</div>
					</li>
					<li class="fl">
						<div class="content">
							<a href="landing.html#">
								<img src="/_Global/img/temp/homepage_tout_placeholders.gif" alt="">
							</a>
							<p class="heading">
								<a title="Honda Parts and Service" href="http://honda.ca/parts-accessories/parts/tires">Honda Parts and Service</a>
							</p>
							<p>Your Honda Dealer is the best place to buy your tires.<br><a title="Honda Parts and Service" href="http://honda.ca/parts-accessories/parts/tires">Find out More</a></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper content-area-wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">

			<div class="content_container">
				<ul class="fc web_properties">
                    <li class="fl honda"><a href="landing.html#"></a></li>
					<li class="fl acura"><a href="landing.html#"></a></li>
                    <li class="fl mc"><a href="landing.html#"></a></li>
					<li class="fl atvs"><a href="landing.html#"></a></li>
					<li class="fl honda_marine"><a href="landing.html#"></a></li>
					<li class="fl last honda_engines"><a href="landing.html#"></a></li>
				</ul>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->