<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: 2col.html 137 2011-02-22 21:00:34Z yuxhuang $ -->
<body class="page-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" />
	<!-- END  : page SPECIFIC STYLES -->
<div class="wrapper dropdown_container navigation-dropdown">
	<div class="cap_top_default pf"></div>
	<div class="container pf tiller">
		<div class="content_container">
			<div class="fc content_section first_section">
				<div class="fl why-buy">
					<div class="heading">Why Buy a Honda Tiller?</div>
					<div class="content">
						<p>Powered by efficient 4-stroke engines, Honda's tillers make short work of tough jobs. </p>
					</div>
					<div class="button">
						<a href="#">
							<span class="text">Learn More</span>
							<span class="pf image"></span>
						</a>
					</div>
				</div>
				<div class="fl right-boxes">
                    <div class="fc subview">
                        <div class="fl series">
                            <div class="see-all">
                                <p><a href="#">See All Tillers</a></p>
                            </div>

                            <div class="series-item">
                                <div class="heading">Premium Residential HRX</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>

                            <div class="series-item">
                                <div class="heading">Premium Series</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>

                            <div class="series-item">
                                <div class="heading">IZY Comapact Series</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>

                            <div class="series-item">
                                <div class="heading">Commercial</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="products">
                            <div class="subview">
                                <div class="fc first product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>13,099</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">Manufacturer<br/>
                                                Discounted Price</span>
                                            <span class="price"><sup>$</sup>10,099</span>
                                        </div>
                                        <div class="small-price">
                                            <span class="price-heading">MSRP</span>
                                            <del><span class="strike"></span><span class="price">$13,599</span></del>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>13,099</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>13,099</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">Manufacturer<br/>
                                                Discounted Price</span>
                                            <span class="price"><sup>$</sup>10,099</span>
                                        </div>
                                        <div class="small-price">
                                            <span class="price-heading">MSRP</span>
                                            <del><span class="strike"></span><span class="price">$13,599</span></del>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">EU1000ikc2</a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit; donec aliquam elit et.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>13,099</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
    <!--#include virtual="/shared/inc/scripts.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->