<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-news-events-news">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/news-events.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/news-events/news1.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->