<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-lawnmowers-overview.html 14662 2011-04-15 14:21:25Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="product-overview">
					<div class="content_container_alternate">
						<div class="content_section first_section tac">
							<ul class="sub-menu-alt">
								<li class="first"><a href="/parts-service/generators">Generators</a></li>
								<li><a href="/parts-service/lawnmowers" class="active">Lawnmowers</a></li>
								<li><a href="/parts-service/water-pumps">Water Pumps</a></li>
								<li><a href="/parts-service/snowblowers">Snowblowers</a></li>
								<li><a href="/parts-service/tillers">Tillers</a></li>
								<li><a href="/parts-service/trimmers">Trimmers</a></li>
							</ul>
						</div>
						<div class="content_section">
							<h1>Lawnmower Service</h1>
							<h2 class="small">Why it's important to service your Honda lawnmower</h2>
							<p>Power products are designed to undertake difficult tasks. Proper maintenance and service is critical to ensure reliable performance and a long lasting product. Follow the recommended maintenance schedule in the Owner’s Manual, and make sure you use genuine Honda parts if you want to maintain your product yourself.</p>
							<div class="flex_bar"><span><a href="javascript:void(0);"
														   class="pf"
	                                                       property="act:collapsible"
	                                                       data-collapsible-target="#slidedown_drivetrain"
														   data-collapsible-active="false"
	                                                       >Before Each Use</a></span></div>
							<div id="slidedown_drivetrain" class="sub_content">
								<p>For your safety, and to maximize the service life of your lawnmower, it is very important to perform a pre-operation check before every use. Get familiar with the Safety Warnings and Cautions in the Owner’s manual. Always check your unit with the engine OFF and the spark plug cap removed. If you find a problem, have your authorized Honda dealer correct the issue before you operate the lawnmower.</p>
								<p>Improper maintenance or failure to correct a problem before operating your lawnmower could cause a malfunction which may cause serious injuries.</p>
								<p class="heading_alternate">Before each use</p>
								<ul class="red-check">
									<li><span>Examine the blades for sharpness and check for damage</span></li>
									<li><span>Ensure the blade bolt is secure and properly torqued</span></li>
									<li><span>Verify that the rear shield is intact (if the lawnmower has one)</span></li>
									<li><span>Check the grass bag system for wear or deterioration</span></li>
									<li><span>Verify that the oil level is correct</span></li>
									<li><span>Inspect the air filter for dirt and debris</span></li>
								</ul>
								<p>After each use the lawnmower must be cleaned thoroughly before being stored.</p>
								<p>Refer to your maintenance schedule included in your owner's manual for any additional information on what service should be performed on your Honda lawnmower.</p>
							</div>
							<div class="product-image">
								<a class="pf hotspot btn-tooltips"
	                               style="top: 170px; left: 315px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-fuel"></a>
								<span class="hotspot-fuel dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_fuelpump.png" alt="" />
									<p class="heading">Fuel</p>
									<p>Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your lawnmower’s fuel system.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 200px; left: 224px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-grassbag"></a>
								<span class="hotspot-grassbag dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_grassbag.png" alt="" />
									<p class="heading">Grass Bag</p>
									<p>Genuine Honda replacement grass bags provide better grass holding capacity. Click here to find out more about the maintenance of your lawnmower’s grass bag.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 210px; left: 380px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-engineoil"></a>
								<span class="hotspot-engineoil dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_engine_oil.png" alt="" />
									<p class="heading">Engine Oil</p>
									<p>Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about your lawnmower’s engine oil.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 250px; left: 415px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-sparkplug"></a>
								<span class="hotspot-sparkplug dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_sparkplug.png" alt="" />
									<p class="heading">Spark Plug</p>
									<p>Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your lawnmower’s spark plug.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 250px; left: 360px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-airfilter"></a>
								<span class="hotspot-airfilter dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_airfilter.png" alt="" />
									<p class="heading">Air Filter</p>
									<p>Use a genuine Honda air filter for the best engine performance and durability. Click here to find out more about the maintenance of your lawnmower’s air filter.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 300px; left: 325px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-blades"></a>
								<span class="hotspot-blades dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_blade.png" alt="" />
									<p class="heading">Blades</p>
									<p>Genuine Honda replacement blades are made specifically for your lawnmower. Click here to find out how to maintain your lawnmower’s cutting blades.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<img src="/_Global/img/content/pe/parts-service/lrg_lawnmower.jpg" alt="" />
							</div>
						</div>
					</div>
					<ul class="fc tabs_horizontal_fixed"> 
						<li class="fl first"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#blades">Blades</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active="false" data-collapsible-active-class="selected" data-collapsible-target="#grass-bag">Grass Bag</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active="false" data-collapsible-active-class="selected" data-collapsible-target="#engine-oil">Engine Oil</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active="false" data-collapsible-active-class="selected" data-collapsible-target="#air-filter">Air Filter</a></li>
						<li class="fl"><a href="#" property="act:tabs" data-collapsible-active="false" data-collapsible-active-class="selected" data-collapsible-target="#spark-plug">Spark Plug</a></li>
						<li class="fl last"><a href="#" property="act:tabs" data-collapsible-active="false" data-collapsible-active-class="selected" data-collapsible-target="#fuel">Fuel</a></li>
					</ul>
					<div class="content_container">
						<div class="single-product" id="blades">
							<div class="h1">Blades</div>
							<p class="heading_large">Genuine Honda replacement blades are made specifically for your lawnmower. Click here to find out how to maintain your lawnmower’s cutting blades.</p>
							<p>A sharper blade equals faster and better grass cutting quality. When your lawnmower blades are worn, it could slow your grass cutting process as well as tear the grass instead of cutting it.</p>
							<p>Genuine Honda lawnmower blades are equipped with a sharpening limit indicator that tells you when the blades require replacement in order to maintain the same cutting quality, and to avoid weakening the blade. Also replace the blade if there are any signs of cracks or pitting.</p>
							<p>Excess mower vibration and engine starting problems may be experienced if the blade is damaged or unbalanced. These symptoms can also occur if your blade bolts or the control cables require adjustment. If you do not have the required tools or knowledge to perform your own maintenance, it is recommended to bring your lawnmower to your local Honda dealer for adjustment or to have your blade sharpened.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="grass-bag">
							<div class="h1">Grass Bag</div>
							<p class="heading_large">Genuine Honda replacement grass bags provide better grass holding capacity. Click here to find out more about the maintenance of your lawnmower’s grass bag.</p>
							<p>If your lawnmower is equipped with a grass bag, it is important to clean and wash the grass bag in order to maintain its quality and performance. Blocked mesh will prevent the grass from entering the bag, therefore, resulting in poor efficiency. The way the grass bag works is that it needs to breath in order to suck the grass clippings from the blades into the grass bag.</p>
							<p>To clean the bag, we recommend washing it using water directed from the outside towards the inside of the bag. Do not wash using a high pressure water or steam jet as it may damage the bag. It is important to allow the grass bag to completely dry before the next use. If the bag is damp, it will become clogged very quickly. Grass bags can also become inefficient when they are full or when they have a hole, making the grass collection longer and less efficient. If it’s clogged (not breathing) you may have to stop your lawnmower more frequently resulting in a longer grass cutting process.</p>
							<p>The grass bag tends to wear even under normal operating conditions. Objects struck by the blade may be thrown into the grass bag, causing damage or tears in the fabric.</p>
							<p>Regularly check that it is not frayed or torn. Always replace a damaged bag with a genuine Honda replacement grass bag. Maintaining and keeping your grass bag in good condition will result in higher grass holding capacity for the bag.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="engine-oil">
							<div class="h1">Engine Oil</div>
							<p class="heading_large">Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about your lawnmower’s engine oil.</p>
							<p>Oil changes are a major factor that can affect the performance and service life of your Honda. Oil is responsible for lubricating and protecting internal engine components subject to extreme pressure. It is important to check the level of your engine oil to ensure it’s not running low. Before each use, check the engine oil level with the engine stopped, and with the unit on a level surface.</p>
							<p>Engine oil can become contaminated with dirt during improper installation or maintenance, that’s why it is preferable to have your oil change performed by an authorized Honda Dealer who will use genuine Honda power equipment engine oil.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="air-filter">
							<div class="h1">Air Filter</div>
							<p class="heading_large">Use a genuine Honda air filter for the best engine performance and durability. Click here to find out more about the maintenance of your lawnmower’s air filter.</p>
							<p>A clean air filter = longer engine life and improved performance. The air filter protects against dirt and debris from entering the engine chamber, which can cause premature engine wear. This type of damage is not covered by the Distributor’s Limited Warranty.</p>
							<p>A dirty air filter will restrict air flow to the carburetor, affecting engine performance and durability. If your carburetor is obstructed you will experience engine problems. If you operate the mower in very dusty conditions, clean and/or replace the air filter more often than specified in the Maintenance Schedule.</p>
							<p>The air filter should be inspected as recommended in the owner’s manual. For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="spark-plug">
							<div class="h1">Spark Plug</div>
							<p class="heading_large">Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your lawnmower’s spark plug.</p>
							<p>The spark plug is what &quot;fires&quot; the engine of your lawnmower. A malfunctioning spark plug may cause many symptoms including hard starting, misfire, lack of power, and black exhaust smoke. The spark plug should be inspected for cracks or chips. Visit your Honda dealer for a replacement spark plug.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="fuel">
							<div class="h1">Fuel</div>
							<p class="heading_large">Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your lawnmower’s fuel system.</p>
							<p>Improper fuel maintenance is the primary cause of starting difficulties and poor performance. Fuel is a volatile, unstable substance, that’s what makes it so easy to ignite, but that also means it can evaporate and “go stale”. This causes the fuel to lose its ability to burn efficiently, and can leave a gummy residue which often clogs the small passages in the carburetor, causing problems ranging from hard starting and unstable rpm to no-start conditions and more serious engine problems. Depending on conditions, fuel can deteriorate in as little as 30 to 60 days. This can be prevented somewhat by adding fuel stabilizer to you fuel system, but it is also a good idea to drain the carburetor. The fuel tank and/or fuel filter also require periodic inspection for rust and other forms of contamination, and the fuel lines should be checked to signs of cracking due to ageing, and replaced if necessary.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->