<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-lawnmowers-overview.html 513 2011-03-28 20:56:00Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="product-overview">
					<div class="content_container_alternate">
						<div class="content_section first_section tac">
							<ul class="sub-menu-alt">
								<li class="first"><a href="/parts-service/generators">Generators</a></li>
								<li><a href="/parts-service/lawnmowers">Lawnmowers</a></li>
								<li><a href="/parts-service/water-pumps">Water Pumps</a></li>
								<li><a href="/parts-service/snowblowers" class="active">Snowblowers</a></li>
								<li><a href="/parts-service/tillers">Tillers</a></li>
								<li><a href="/parts-service/trimmers">Trimmers</a></li>
							</ul>
						</div>
						<div class="content_section">
							<h1>Snowblowers Service</h1>
							<h2 class="small">Why it's important to service your Honda snowblower</h2>
							<p>Power products are designed to undertake difficult tasks. Proper maintenance and service is critical to ensure reliable performance and a long lasting product. Follow the recommended maintenance schedule in the Owner’s Manual, and make sure you use genuine Honda parts if you want to maintain your product yourself.</p>
							<div class="flex_bar"><span><a href="javascript:void(0);"
														   class="pf"
	                                                       property="act:collapsible"
	                                                       data-collapsible-target="#slidedown_drivetrain"
														   data-collapsible-active="false"
	                                                       >Before Each Use</a></span></div>
							<div id="slidedown_drivetrain" class="sub_content">
								<p>For your safety, and to maximize the service life of your snowblower, it is very important to perform a pre-operation check before every use. Get familiar with the Safety Warnings and Cautions in the Owner’s manual. Always check your unit with the engine OFF and the spark plug cap removed. If you find a problem, have your authorized Honda dealer correct the issue before you operate the snowblower.</p>
								<p>Improper maintenance or failure to correct a problem before operating your snowblower could cause a malfunction which may cause serious injuries. Look around the engine for signs of oil or gasoline leaks.</p>
								<p>If you see any damaged parts contact your local Honda dealer, as those parts should be replaced.</p>
								<p class="heading_alternate">Before each use</p>
								<ul class="red-check">
									<li><span>Examine the auger and blower bolts</span></li>
									<li><span>Check your battery electrolyte level, if applicable</span></li>
									<li><span>Check your engine, transmission, and rotary oil level</span></li>
									<li><span>Check the fuel level</span></li>
									<li><span>Look around the engine for signs of oil or gasoline leaks</span></li>
								</ul>
								<p>Refer to your maintenance schedule included in your owner’s manual for any additional information on what service should be performed on your Honda snowblower.</p>
							</div>
							<div class="product-image">
								<a class="pf hotspot btn-tooltips"
	                               style="top: 120px; left: 365px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-fuel"></a>
								<span class="hotspot-fuel dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_fuelpump.png" alt="" />
									<p class="heading">Fuel</p>
									<p>Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your snowblower’s fuel system.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 155px; left: 370px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-sparkplug"></a>
								<span class="hotspot-sparkplug dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_sparkplug.png" alt="" />
									<p class="heading">Spark Plug</p>
									<p>Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your snowblower’s spark plug.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 190px; left: 370px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-engineoil"></a>
								<span class="hotspot-engineoil dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_engine_oil.png" alt="" />
									<p class="heading">Engine Oil</p>
									<p>Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about the maintenance of your snowblower’s engine oil.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 260px; left: 290px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-auger"></a>
								<span class="hotspot-auger dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_auger.gif" alt="" />
									<p class="heading">Auger</p>
									<p>Check the auger, housing, and shear bolts for a worry free snow removal operation. Click here to find out more about the maintenance of your snowblower’s auger.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 320px; left: 330px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-skidplates"></a>
								<span class="hotspot-skidplates dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_skidplates.gif" alt="" />
									<p class="heading">Skid Plates</p>
									<p>Use genuine Honda skid plates to protect your snowblower and asphalt from scraps. Click here to find out more about the maintenance of your snowblower’s skid plates.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<img src="/_Global/img/content/pe/parts-service/lrg_snowblower.jpg" alt="" />
							</div>
						</div>
					</div>
					<ul class="fc tabs_horizontal"> 
						<li class="fl first"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#engine-oil">Engine Oil</a></li>
						<li class="fl"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#spark-plug">Spark Plug</a></li>
						<li class="fl"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#auger">Auger</a></li>
						<li class="fl"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#skid-plates">Skid Plates</a></li>
						<li class="fl last"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#fuel">Fuel</a></li>
					</ul>
					<div class="content_container">
						<div class="single-product" id="engine-oil">
							<div class="h1">Engine Oil</div>
							<p class="heading_large">Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about the maintenance of your snowblower’s engine oil.</p>
							<p>Oil changes are a major factor that can affect the performance and service life of your Honda. Oil is responsible for lubricating and protecting internal engine components subject to extreme pressure. It is important to check the level of your engine oil to ensure it’s not running low. Before each use, check the engine oil level with the engine stopped, and with the unit on a level surface.</p>
							<p>Engine oil can become contaminated with dirt during improper installation or maintenance, that’s why it is preferable to have your oil change performed by an authorized Honda Dealer who will use genuine Honda power equipment engine oil.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="spark-plug">
							<div class="h1">Spark Plug</div>
							<p class="heading_large">Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your snowblower’s spark plug.</p>
							<p>The spark plug is what &quot;fires&quot; the engine of your snowblower. A malfunctioning spark plug may cause many symptoms including hard starting, misfire, lack of power, and black exhaust smoke. The spark plug should be inspected for cracks or chips. Visit your Honda dealer for a replacement spark plug.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="auger">
							<div class="h1">Auger</div>
							<p class="heading_large">Check the auger, housing, and shear bolts for a worry free snow removal operation. Click here to find out more about the maintenance of your snowblower’s auger.</p>
							<p>Check the auger, housing, blower and shear bolts for signs of damage or other faults. If any of the shear bolts is broken, replace them with the one provided with the snowblower. Additional shear bolts and nuts are available at your authorized Honda dealer. Using regular fasteners or non-genuine Honda shear bolts can result in severe damage to the snow blower’s auger and related parts. Check that the auger and blower lock bolts are fastened every year before first operation.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="skid-plates">
							<div class="h1">Skid Plates</div>
							<p class="heading_large">Use genuine Honda skid plates to protect your snowblower and asphalt from scraps. Click here to find out more about the maintenance of your snowblower’s skid plates.</p>
							<p>The role of the skid plates is to raise the blower housing from the floor protecting it from scraps. If your skid plates are worn out they will scrap the ground and ruin your asphalt. The skid plates should be check and adjusted if necessary before each use and every year before first operation.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="fuel">
							<div class="h1">Fuel</div>
							<p class="heading_large">Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your snowblower’s fuel system.</p>
							<p>It is recommended that the fuel tank should be cleaned every year as impurities in fuel tank and/or fuel filter, water in gas tank and in carburetor may result in starting difficultly of loss of power. The fuel lines should also be checked for cracks and stiffness, and replaced if necessary.</p>
							<p>If you experience difficulties starting your snowblower, stalling shortly after being started, black exhaust smoke or high fuel consumption, it may be caused by a fuel or fuel line problem. Fuel is important part of proper maintenance as today’s fuels don’t have a very long storage life. Gasoline that sits in a float bowl or partially filled gas tank for as little as 30 to 60 days can cause your unit to have starting problems. Warm weather also causes fuel to &quot;go stale&quot;. Maintenance of the fuel tank or fuel lines should be carried our by an authorized Honda dealer.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->