<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-honda-genuine-oils-chemicals.html 14913 2011-05-17 16:59:06Z minanakamura $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="genuine-oils-chemicals">
						<div class="content_section first_section">
							<p><img src="/_Global/img/content/pe/parts-service/pe_honda_genuine_oils_chemicals.png" alt="" /></p>
							<h1>Honda Genuine Oils and Chemicals</h1>
							<h2 class="small">Why Use genuine Honda oils and chemicals</h2>
							<div class="grouped">
								<p>Honda builds its power equipment to the toughest engineering standards in the world, formulating its oils &amp; chemicals to those same high standards and thereby maintaining your power equipment at peak performance.</p>
								<p>You bought a Honda because of its quality, performance and reliability. Why not match the finest product you can own with the finest oils &amp; chemicals on the market. Don't settle for an imitation when you can buy the original.</p>
								<p>Genuine Honda oils and chemicals are available exclusively at your local Honda dealer.</p>
							</div>
							<div class="fc fr accordion-controls">
							    <a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							    <a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
                            </div>
                            <div class="clr"></div>
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_engineOil"
															data-collapsible-active="true"
															>Engine Oil 5W-30 10W-30 10W-40 20W-50</a></span></div>
							<div id="slidedown_engineOil" class="sub_content">
								<ul class="red-check">
									<li class="first">Provides protection from corrosion and reduces engine wear</li>
									<li>Fights formation of sludge and other engine deposits</li>
									<li>Excellent low temperature fluidity eases cold starting</li>
									<li>Superior resistance from high temperature thermal breakdown</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_engineDegreaser"
															data-collapsible-active="false"
															>Engine Degreaser</a></span></div>
							<div id="slidedown_engineDegreaser" class="sub_content">
								<ul class="red-check">
									<li class="first">Heavy-duty cleaner that cuts through tough oil and grease build up on exterior engine surfaces</li>
									<li>Can also be used on industrial equipment, lawn and garden equipment and marine equipment</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_fuelStabilizer"
															data-collapsible-active="false"
															>Fuel Stabilizer</a></span></div>
							<div id="slidedown_fuelStabilizer" class="sub_content">
								<ul class="red-check">
									<li class="first">Prevents the formation of fuel gum and varnish throughout the entire fuel system</li>
									<li>Absorbs moisture to protect against fuel system corrosion</li>
									<li>Ensures quick start-ups after storage</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_hypoidGear"
															data-collapsible-active="false"
															>SAE 80W90 Hypoid Gear Oil</a></span></div>
							<div id="slidedown_hypoidGear" class="sub_content">
								<ul class="red-check">
									<li class="first">Recommended for use in manual transmissions, steering gears and differentials where API GL-% lubricant is specified</li>
									<li>Contains extreme-pressure additives ensuring full gear protection</li>
									<li>Offers excellent performance in applications calling for API GL-4 and GL-3 products</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_lithiumDielectricGrease"
															data-collapsible-active="false"
															>Lithium Dielectric Grease</a></span></div>
							<div id="slidedown_lithiumDielectricGrease" class="sub_content">
								<ul class="red-check">
									<li class="first">White grease used to pack electrical connectors for moisture and corrosion protection</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_hydrostaticFluid"
															data-collapsible-active="false"
															>Hydrostatic Fluid</a></span></div>
							<div id="slidedown_hydrostaticFluid" class="sub_content">
								<ul class="red-check">
									<li class="first">Designed specifically for Honda hydrostatic transmissions</li>
									<li>Provides maximum transfer of power and maximum efficiency</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_rustPenetrant"
															data-collapsible-active="false"
															>Rust Penetrant</a></span></div>
							<div id="slidedown_rustPenetrant" class="sub_content">
								<ul class="red-check">
									<li class="first">General purpose lubricant and penetrant</li>
									<li>Lubricates parts that are tight and binding, repels moisture from surfaces</li>
									<li>Penetrates and helps loosen rusted fasteners</li>
									<li>Leaves a thin lubricating film that protects against wear and corrosion</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_ignitionMoistureSpray"
															data-collapsible-active="false"
															>Ignition Moisture Spray</a></span></div>
							<div id="slidedown_ignitionMoistureSpray" class="sub_content">
								<ul class="red-check">
									<li class="first">Can be applied to wet components to repel moisture</li>
									<li>Safeguards against moisture build-up due to condensation</li>
									<li>Apply to ignition components including spark plug wires, distributor caps and ignition coils</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_whiteLithiumGrease"
															data-collapsible-active="false"
															>White Lithium Grease</a></span></div>
							<div id="slidedown_whiteLithiumGrease" class="sub_content">
								<ul class="red-check">
									<li class="first">Special solvents allow for deep penetration</li>
									<li>Sets up quickly to a thick coating</li>
									<li>Protects against moisture and corrosion</li>
									<li>Use on metal hinges, pivots and sliding mechanisms</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_carburetorCleaner"
															data-collapsible-active="false"
															>Carburetor Cleaner</a></span></div>
							<div id="slidedown_carburetorCleaner" class="sub_content">
								<ul class="red-check">
									<li class="first">For on- and off-vehicle carburetor repair</li>
									<li>Quickly penetrates and dissolves varnish, gum and carbon buildup</li>
									<li>Cleans jets, throttle valves and choke linkage</li>
									<li>100% free of chlorinated solvents</li>
									<li>Oxygen sensor &amp; catalytic converter safe</li>
									<li>Does not contain lead, silicone or phosphorus</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->