<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-overview.html 14610 2011-04-11 22:12:13Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div id="inner_page_content" class="content_container">
					<div class="overview">
						<div class="content_section first_section">
							<h1>Why Choose Honda Service?</h1>
	                        <div class="grouped">
	                            <p>Keeping your Honda in healthy is an imperative part of maintaining the quality, reliability, and performance of your power equipment.</p>
	                            <p>We choose our Dealers with the same care as we put into building our product. Leave your product with the people who are most familiar and aware of the level of performance expected from a Honda. You can trust that only high quality Honda Genuine Parts are used, so your Honda will perform at the expected level.</p>
	                        </div>
						</div>
						<div class="content_section">
							<h2 class="alternate">Select your power equipment product for detailed Honda service information</h2>
							<dl class="fc parts-service-products">
								<dd class="fl first">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_generators.jpg" alt="" /></span>
										<span>Generators</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_lawnmowers.jpg" alt="" /></span>
										<span>Lawnmowers</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_water_pumps.jpg" alt="" /></span>
										<span>Water Pumps</span>
									</a>
								</dd>
								<dd class="fl first">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_snowblowers.jpg" alt="" /></span>
										<span>Snowblowers</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_tillers.jpg" alt="" /></span>
										<span>Tillers</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="#">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_trimmers.jpg" alt="" /></span>
										<span>Trimmers</span>
									</a>
								</dd>
							</dl>
						</div>
						<div class="content_section">
							<h2>Honda Service provides the following advantages:</h2>
							<ul class="red-check">
								<li><span>Our Honda genuine Parts, oils and chemicals are factory approved and are tested to one of the highest standards in the industry.</span></li>
								<li><span>Our Honda dealers use only Honda Genuine Parts</span></li>
								<li><span>Technicians are trained to factory standards</span></li>
								<li><span>The latest technical information is at the finger tips of our technicians through Honda communication system</span></li>
								<li><span>Our dealers are supported by our Tech-line and Quality Engineering teams at Honda Canada Inc.</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->