<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-transport-tips.html 14652 2011-04-13 19:41:44Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container" id="inner_page_content">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/pe/parts-service/pe_transport_tips.png" alt="" /></p>
						<h1>Transport Tips</h1>
						<h2 class="small">How to safely transport your Power Equipment</h2>
						<div class="grouped">
							<p>What you need to know before transporting your Power Equipment</p>
							<p>Whether it’s for service, repair, or to land a helping hand, transporting your power equipment can be tricky. If you require to transport your power equipment unit for any reason, there are a few precautions that should be taken to ensure your safety.</p>
						</div>
						
						<ul class="red-check">
							<li>
								<span>Always turn the ignition switch to the stop (O) position. Make sure the fuel cap is securely tightened.</span>
							</li>
							<li>
								<span>If the engine has been running, allow it to cool for at least 15 min before loading the power equipment on the transport vehicle.</span>
							</li>
							<li>
								<span>In most cases keeping your power equipment unit in its natural operation position (standing up) is best to prevent any spillage.</span>
							</li>
							<li>
								<span>No matter what the product you must turn the fuel valve to the off position before transporting. If the fuel valve (TAP) is left on, bouncing during transportation causes fuel to slip past the needle and seat in the carburetor. This fuel could then travel into the intake port and cylinder causing problems such as, hard starting, oil dilution and hydraulic lock.</span>
							</li>
							<li>
								<span>To prevent your engine from accidentally starting, it is also preferable to remove the spark plug cap before transporting anywhere.</span>
							</li>
						</ul>
						
						<p>For more specific tips on how your can safely transport your power equipment products, please refer to your owner’s manual or contact your local Honda dealer.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->