<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-lawnmowers-overview.html 513 2011-03-28 20:56:00Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="product-overview">
					<div class="content_container_alternate">
						<div class="content_section first_section tac">
							<ul class="sub-menu-alt">
								<li class="first"><a href="/parts-service/generators">Generators</a></li>
								<li><a href="/parts-service/lawnmowers">Lawnmowers</a></li>
								<li><a href="/parts-service/water-pumps" class="active">Water Pumps</a></li>
								<li><a href="/parts-service/snowblowers">Snowblowers</a></li>
								<li><a href="/parts-service/tillers">Tillers</a></li>
								<li><a href="/parts-service/trimmers">Trimmers</a></li>
							</ul>
						</div>
						<div class="content_section">
							<h1>Water Pumps Service</h1>
							<h2 class="small">Why it’s important to service your Honda water pump</h2>
							<p>Power products are designed to undertake difficult tasks. Proper maintenance and service is critical to ensure reliable performance and a long lasting product. Follow the recommended maintenance schedule in the Owner’s Manual, and make sure you use genuine Honda parts if you want to maintain your product yourself.</p>
							<div class="flex_bar"><span><a href="javascript:void(0);"
														   class="pf"
	                                                       property="act:collapsible"
	                                                       data-collapsible-target="#slidedown_drivetrain"
														   data-collapsible-active="false"
	                                                       >Before Each Use</a></span></div>
							<div id="slidedown_drivetrain" class="sub_content">
								<p>For your safety, and to maximize the service life of your water pump, it is very important to perform a pre-operation check before every use. Get familiar with the Safety Warnings and Cautions in the Owner’s manual. Always check your unit with the engine OFF and the spark plug cap removed. If you find a problem, have your authorized Honda dealer correct the issue before you operate the water pump.</p>
								<p>Improper maintenance or failure to correct a problem before operating your water pump could cause a malfunction which may cause serious injuries.</p>
								
								<p class="heading_alternate">Before each use</p>
								<ul class="red-check">
									<li><span>Ensure the strainer is installed at the end of the suction hose (optional parts)</span></li>
									<li><span>Examine the air filter</span></li>
									<li><span>Check your engine oil level</span></li>
									<li><span>Check the fuel level</span></li>
									<li><span>Ensure the pump has priming water</span></li>
								</ul>
								<p>Refer to your maintenance schedule included in your owner’s manual for any additional information on what service should be performed on your Honda water pump.</p>
							</div>
							<div class="product-image">
								<a class="pf hotspot btn-tooltips"
	                               style="top: 90px; left: 270px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-airfilter"></a>
								<span class="hotspot-airfilter dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_airfilter.png" alt="" />
									<p class="heading">Air Filter</p>
									<p>Use a genuine Honda air filter for the best engine performance and durability. Click here to find out more about the maintenance of your water pump air filter’s.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 80px; left: 310px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-sparkplug"></a>
								<span class="hotspot-sparkplug dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_sparkplug.png" alt="" />
									<p class="heading">Spark Plug</p>
									<p>Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your water pump’s spark plug.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 110px; left: 350px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-fuel"></a>
								<span class="hotspot-fuel dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_fuelpump.png" alt="" />
									<p class="heading">Fuel</p>
									<p>Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your water pump’s fuel system.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 245px; left: 400px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-engineoil"></a>
								<span class="hotspot-engineoil dn">
									<img src="/_Global/img/content/pe/parts-service/tooltip_engine_oil.png" alt="" />
									<p class="heading">Engine Oil</p>
									<p>Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about your water pump’s engine oil.</p>
									<a href="#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<img src="/_Global/img/content/pe/parts-service/lrg_water_pump.jpg" alt="" />
							</div>
						</div>
					</div>
					<ul class="fc tabs_horizontal"> 
						<li class="fl first"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="true" data-collapsible-target="#engine-oil">Engine Oil</a></li>
						<li class="fl"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#air-filter">Air Filter</a></li>
						<li class="fl"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#spark-plug">Spark Plug</a></li>
						<li class="fl last"><a href="#" class="selected" property="act:tabs" data-collapsible-active-class="selected" data-collapsible-active="false" data-collapsible-target="#fuel">Fuel</a></li>
					</ul>
					<div class="content_container">
						<div class="single-product" id="engine-oil">
							<div class="h1">Engine Oil</div>
							<p class="heading_large">Genuine Honda power equipment oil is made specifically for your Honda engine, and is essential for the best engine performance and reliability. Click here to find out more about your water pump’s engine oil.</p>
							<p>Oil changes are a major factor that can affect the performance and service life of your Honda. Oil is responsible for lubricating and protecting internal engine components subject to extreme pressure. It is important to check the level of your engine oil to ensure it’s not running low. Before each use, check the engine oil level with the engine stopped, and with the unit on a level surface.</p>
							<p>Engine oil can become contaminated with dirt during improper installation or maintenance, that’s why it is preferable to have your oil change performed by an authorized Honda Dealer who will use genuine Honda power equipment engine oil.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="air-filter">
							<div class="h1">Air Filter</div>
							<p class="heading_large">Use a genuine Honda air filter for the best engine performance and durability. Click here to find out more about the maintenance of your water pump air filter’s.</p>
							<p>A clean air filter = longer engine life and improved performance. The air filter protects against dirt and debris from entering the engine chamber, which can cause premature engine wear. This type of damage is not covered by the Distributor’s Limited Warranty.</p>
							<p>A dirty air filter will restrict air flow to the carburetor, affecting engine performance and durability. If your carburetor is obstructed you will experience engine problems. If you operate the pump in very dusty conditions, clean and/or replace the air filter more often than specified in the Maintenance Schedule.</p>
							<p>The air filter should be inspected as recommended in the owner’s manual. For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="spark-plug">
							<div class="h1">Spark Plug</div>
							<p class="heading_large">Start every time with a genuine Honda spark plug. Click here to find out more about the maintenance of your water pump’s spark plug.</p>
							<p>The spark plug is what &quot;fires&quot; the engine of your water pump. A malfunctioning spark plug may cause many symptoms including hard starting, misfire, lack of power, and black exhaust smoke. The spark plug should be inspected for cracks or chips. Visit your Honda dealer for a replacement spark plug.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
						<div class="single-product" id="fuel">
							<div class="h1">Fuel</div>
							<p class="heading_large">Clean and new fuel = Better engine performance and reliability. Click here to find out more about the maintenance of your water pump’s fuel system.</p>
							<p>Improper fuel maintenance is the primary cause of starting difficulties and poor performance. Fuel is a volatile, unstable substance, that’s what makes it so easy to ignite, but that also means it can evaporate and “go stale”. This causes the fuel to lose its ability to burn efficiently, and can leave a gummy residue which often clogs the small passages in the carburetor, causing problems ranging from hard starting and unstable rpm to no-start conditions and more serious engine problems. Depending on conditions, fuel can deteriorate in as little as 30 to 60 days. This can be prevented somewhat by adding fuel stabilizer to you fuel system, but it is also a good idea to drain the carburetor. The fuel tank and/or fuel filter also require periodic inspection for rust and other forms of contamination, and the fuel lines should be checked to signs of cracking due to ageing, and replaced if necessary.</p>
							<p>For more information refer to your owner's manual or speak to your Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->