<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-honda-genuine-parts.html 14652 2011-04-13 19:41:44Z mperry $ -->
<body class="page-parts-service-honda-genuine-parts">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/pe/parts-service/pe_honda_genuine_parts.png" alt="" /></p>
						<h1>honda genuine parts</h1>
						<h2 class="small">Built for your Honda</h2>
						<div class="grouped">
							<p>Keeping your Honda healthy is an imperative part of maintaining the quality, reliability, and performance of your power equipment. These attributes have come to define Honda product, and are also reflected in the parts from which they are built.</p>
							<p>Genuine Honda parts are made for your Honda. They maintain the quality, reliability and performance of your product. When the time comes for you to service, repair, or enhance your Honda, don't settle for an imitation. Only Genuine Honda parts can maintain the original operating specifications of your Honda and offer a perfect fit and finish every time. Let our trained Honda technicians keep your Honda healthy with genuine Honda parts.</p>
						</div>
					</div>
					<div class="content_section">
						<h2 class="small">Keep your Honda a Honda by choosing genuine Honda parts.</h2>
						<dl class="fc inner-three-col">
							<dd class="fl first">
								<p class="heading_large">Quality</p>
								<p><strong>Honda’s best quality.</strong><br />The core of Honda quality exists in every part of your power equipment. Genuine Honda parts are manufactured to strict quality standards for an exact fit and precise operation. When you choose Genuine Honda parts, you can count on the highest quality standards imposed by Honda engineers.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Reliability</p>
								<p><strong>Rely on your Honda.</strong><br />Only Genuine Honda parts are supported by Honda nationwide. Each part works in conjunction with other parts to produce a single output. Many non-genuine parts may claim to be reliable, but they are not produced to meet Honda's engineering and material specifications. Compromise one part and you may unknowingly compromise a whole system.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Performance</p>
								<p><strong>Don’t comprise performance.</strong><br />By choosing Genuine Honda parts, you won't compromise your unit’s performance and safety. Each Genuine Honda part is precisely designed and rigorously tested at Honda’s R&amp;D facilities. This process helps ensure that each part will function at its optimum performance level while providing the durability and reliability that you expect from your Honda.</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->