<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-storage-tips.html 14652 2011-04-13 19:41:44Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container" id="inner_page_content">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/pe/parts-service/pe_storage_tips.png" alt="" /></p>
						<h1>Storage Tips</h1>
						<h2 class="small">How to safely store your Power Equipment</h2>
						<div class="grouped">
							<p>What you need to know about storing your Power Equipment</p>
							<p>Many power equipment products spend an extended periods of time in rest, which is why it is important to adopt proper storage techniques to ensure a smooth awakening.</p>
							<p>Here are a few tips to assist you in properly caring for your Power Equipment:</p>
						</div>
						
						<ul class="red-check">
							<li>
								<span>Keep it clean and dry: Whether it’s grass under the deck, mud, or melted snow</span>
							</li>
							<li>
								<span>Draining the fuel tank and the carburetor</span>
							</li>
							<li>
								<span>Change the engine oil</span>
							</li>
							<li>
								<span>Coat all surfaces liable to rust with a thin film of oil</span>
							</li>
							<li>
								<span>Store in the standard operation position</span>
							</li>
							<li>
								<span>Keep it in an area is free of excessive humidity and dust</span>
							</li>
							<li>
								<span>Protect it from dust and debris with a specific power equipment cover</span>
							</li>
							<li>
								<span>If equipped, keep the battery on a tender</span>
							</li>
						</ul>
						
						<div class="grouped">
							<p>Fuel is also an important part of proper storage as today’s fuels don’t have a very long storage life. Gasoline that sits in a float bowl or partially filled gas tank for as little as 30 to 60 days can cause your unit to have starting problem. Warm weather also causes fuel to &quot;go stale&quot;. Make sure you follow these steps to ensure you prevent storage-related starting problem.</p>
							<p>The most basic storage tip is turn off the fuel pet-cock whenever a piece of equipment is not in use. Storage of more than 30 days requires additional measures such as the use of Honda gasoline Conditioner to help keep the fuel fresh. When adding fuel stabilizer, fill the gas tank with fresh gasoline. If only partially filled, air in the tank will promote fuel deterioration during storage. If you keep a container of gasoline for refueling, be sure that it contains only fresh gasoline. Add fuel stabilizer following the manufacturer’s instructions. After adding a fuel stabilizer, it is also recommended to run the engine outdoors for 10 minutes, before proceeding with the storage. If the product will stay in storage for more than 60 days, completely drain the carburetor bowl and the fuel tank.</p>
							<p>Maintaining the original performance of your power equipment will largely depend on the care you provide it right now. Refer to your owner’s manual for additional storage information specific to your model. Always remember that your local Honda dealer is there to assist you with any questions of concerns you may have about storing your power equipment.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->