<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt-active"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<div class="details-heading">
					<img src="/_Global/img/content/pe/power-event/contest_details.jpg" alt="" />
				</div>
			</div>
			<div class="content_section">
				<table class="win-container">
					<tr>
						<td>
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/you_could_win.jpg" alt="" />
							</a>
						</td>
						<td>
							<p class="intro">Enter now for a chance to win all the models above or 1 of 5 secondary Honda Power Equipment prizes.</p>
							<p>No purchase necessary. Contest ends at 11:59 p.m. ET July 31/12. Open to age of majority legal residents of Canada. One grand prize consisting of: (i) Water Pump (WB20XT2C); (ii) Generator (EU2000KC2); (iii) Tiller (F220C); (iv) Trimmer (HHT25SLTC); and (v) Lawnmower (HRS2164PDC); collectively with an ARV of $4,075.  Five (5) Secondary Prizes, as follows:  (i) Water Pump (WB20XT2C - ARV: $539); (ii) Generator (EU2000KC2 - ARV: $1,449); (iii) Tiller (F220C - ARV: $1,009); (iv) Trimmer (HHT25SLTC - ARV: $539); and (v) Lawnmower (HRS2164PDC - ARV: $539). Odds of winning depend on number of eligible entries received. Skill-testing question required. <a href="#">Click here</a> for full rules.</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->