<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<div class="legendary-engine">
					<p class="intro">
						<span>MOTEUR LÉGENDAIRE</span>
						Construire un moteur légendaire ne tient pas du hasard. Honda possède 50 années d’expérience en conception de moteurs et est devenu le plus important constructeur de moteurs au monde. Convoités par certains et imités par d’autres, les moteurs 4-temps Honda d’origine, puissants, efficaces et silencieux, sont les seuls qui soient parfaitement conçus pour vos Produits Mécaniques Honda. De là, nous avons construit chacun des Produits Mécaniques Honda de façon à être tout aussi avancés, durables et fiables que nos moteurs. De sorte que lorsque vous achetez un Produit Mécanique 100 % Honda, vous obtenez l’innovation Honda à 100 %.
					</p>
					<p class="legendary-products">
						<span>PRODUITS MÉCANIQUES. REDÉFINIS.</span>
						Les ingénieurs Honda ont repoussé les limites dans chacune des catégories de nos Produits Mécaniques Honda.<br />
						Chacun d’eux étant défini par des technologies exclusives conçues pour surclasser la compétition. Chacun d’eux construit autour d’un moteur Honda.
					</p>
					<dl class="fc legendary-links">
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_lawnmowers_fr.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_trimmers_fr.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_tillers_fr.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_generators_fr.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_water_pumps_fr.png" class="pf" alt="" />
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->