<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_generators.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt-active"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_01.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Thrive in Canadian Winters</p>
								<p>With Honda’s Cold Climate Technology™ on every generator, our exclusive breather heater system helps prevent generator shutdown in freezing conditions so you don’t get left out in the cold.<br />(On all models.) </p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_02.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Full Power With 120 or 240 Voltage</p>
								<p>Get full power from a Honda dual-voltage generator.  While some others provide only half the maximum output at 120 or 240 voltage when using both, Honda’s impressive Voltage Selector technology allows as much or as little power as is required at either voltage, up to the maximum rated output of your generator. Asking the most of your generator shouldn’t be a special request.<br />(On EU6500is1C and EM5000S3C models.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_03.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Power Sophisticated Electronics</p>
								<p>Honda was first to develop generators able to power sensitive electronics. Inverter technology regulates surges of raw power and smoothes them out to the same high-quality electricity as outlets from your home. The inverter models range from 1,000 to 6,500 watts to power everything from a laptop to a cottage. No wonder remarkable engineering is Honda’s forte.<br />(On all EU models.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_generators.jpg" class="pf" alt="" />
						<p>It begins with a great Honda engine. One sought after and even used by some of our competitors. From there we designed a generator to work with our engine for unprecedented performance. A Honda generator is a treat to the ears, operating in a refined manner so all you notice is quality. Yet other features deserve to be heard, like the ease of portability: from a lightweight model at only thirteen kilograms, to wheel kits or handles on many models. It’s 100% genuine Honda quality, found only in 100% Honda Power Equipment. Available from a full network of Honda Power Equipment dealers for expert care.</p>
						<a href="#" class="btn-secondary-alt"><span>FIND OUT MORE<br />ABOUT Honda ENGINES</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							ALL MODELS:
						</td>
						<td>
							Powered by a quiet, efficient, easy-to-start Honda 4-stroke engine • Reduced noise and increased efficiency with Eco-Throttle™ on inverter models • If oil drops below a safe operating level, the engine automatically shuts down with Oil Alert™ System • Protected from overload with circuit breaker on each outlet • Meet Canadian Standards Association (CSA) certification
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $100</span>
							<span class="price-current">Now Only $999</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EU1000iKC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU1000iKC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Lightweight and portable at only 13.2 kg (29 lb), perfect for cottage, camping, or boating</li>
								<li>Inverter technology and 1,000 watts of power, suitable for sensitive electronics</li>
								<li>Quiet operation at 52-57 dB(A) (normal speech is 60 dB(A))</li>
								<li>Provides up to 4 hours of continuous power at maximum rated output, or up to 8 hours at 25% output on a single tank of gas</li>
								<li>Parallel-connect capability with another EU1000iKC2 to produce 2,000 watts (optional parallel connection cable required)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $100</span>
							<span class="price-current">Now Only $1,299</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EU2000KC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU2000KC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Light and easy to transport, perfect for marine shore power, camping or home standby power</li>
								<li>Inverter technology and 2,000 watts of power, suitable for sensitive electronics and many small household appliances </li>
								<li>Quiet operation at 53-59 dB(A) (normal speech is 60 dB(A))</li>
								<li>Provides up to 4 hours of continuous power at maximum rated output, or up to 10.5 hours at 25% output on a single tank of gas</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $150</span>
							<span class="price-current">Now Only $2,399</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EU3000isC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU3000isC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Great for RVing – will even power a 13,500 BTU/h air conditioner</li>
								<li>Inverter technology and 3,000 watts of power, suitable for sensitive electronics and many larger household appliances</li>
								<li>One of the quietest generators on the market, 48-58 dB(A) (normal speech is 60 dB(A))</li>
								<li>Convenient electric start and backup recoil start</li>
								<li>13-litre fuel tank provides up to 7.2 hours of continuous power at maximum rated output, or up to 20 hours at 25% output </li>
								<li>Easy transportation with optional 4-wheel kit</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
					</dl>
					<dl class="fc products">
						<dd class="fl">
							<span class="price-current">Now Only $4,799</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EU6500is1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU6500is1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Most powerful inverter generator, produces 6,500 watts, perfect for a variety of tasks at home, workor outdoor events, and for cottage or homebackup power</li>
								<li>Dual-voltage configuration</li>
								<li>16.5-litre fuel tank provides up to 4.6 hours of continuous power at maximum rated output,or up to 14.5 hours at 25% output </li>
								<li>Quiet operation at 60 dB(A) equal tonormal speech</li>
								<li>Easy transportation with rugged wheels andfolding handle</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Now Only $2,799</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EM5000S3C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EM5000S3C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perfect for home backup or commercial usage with convenient 12 VDC electric start and manual recoil start as backup</li>
								<li>5,000 watts of power in dual-voltage configuration</li>
								<li>Exclusive Intelligent Auto Voltage Regulation (iAVR) offers stable power delivery and increased wattage of 7,000 watts for 10 seconds forreactive power </li>
								<li>24-litre fuel tank provides up to 8.1 hours of continuous power at maximum rated output,or up to 11.2 hours at 50% output</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Now Only $899</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">EP2500CX1</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EP2500CX1.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Produces 2,500 watts of power suitable for most sump pumps, furnace motors and fridges during emergency use  </li>
								<li>14.5-litre fuel tank, larger than most of the competition, provides up to 10.2 hours of continuous power at maximum rated output, or up to 15.3 hours at 50% output</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>See the entire model lineup <a href="#">click here</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->