<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_lawnmowers_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt-active"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_thumb_01_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">ELLE S’ADAPTE À VOTRE RYTHME OU AUX CONDITIONS</p>
								<p>La tondeuse imite votre pas ou s’adapte aux conditions de tonte par une vitesse parfaitement variable. La commande Smart DriveMC vous accorde le contrôle complet de la vitesse au bout de vos doigts. C’est si facile que la vitesse peut être contrôlée avec un pouce seulement. Vraiment impressionnant. (Sur les modèles HRR2168VKC/VYC.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_thumb_02_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">EXIGEZ PLUS, ENSACHEZ MOINS</p>
								<p>Tondre votre pelouse peut se faire pratiquement sans effort. Grâce à notre système avancé de lames jumelles, l’herbe est coupée deux fois, mieux, en fragments plus petits qui occupent moins d’espace dans le sac, ou se décomposent plus rapidement si vous déchiquetez. Seule Honda, avec les systèmes exclusifs Quadra-CutMC et MicroCutMC, vous offre cet avantage des lames jumelles. (Sur les modèles HRR et HRX. En option sur le modèle HRS.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_thumb_03_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">“OPTIONS” INCLUSES DE SÉRIE</p>
								<p>Vous avez tout, sans accessoires additionnels avec le système VersamowMC: la polyvalence de déchiqueter, ensacher, broyer des feuilles ou éjection à l’arrière. Vous pouvez déchiqueter et ensacher simultanément, distribuant une partie des brins d’herbe dans le sac et une partie sur le sol, en sélectionnant l’une des huit positions préréglées. Vous pouvez facilement changer les réglages, à votre gré ou selon les conditions. (Sur les modèles HRX.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_lawnmowers_fr.jpg" class="pf" alt="" />
						<p>Ça commence avec un excellent moteur Honda. Un moteur convoité et même utilisé par quelques-uns de nos concurrents. De là, nous avons conçu une tondeuse pour travailler de concert avec notre moteur et offrir une performance sans précédent. Avec une construction robuste partout, depuis les roues sur des essieux complets sur plusieurs modèles pour plus de solidité, jusqu’aux ponts de coupe en polymère NeXiteMC sur les HRX qui ne subiront ni rouille ni corrosion. C’est de la qualité Honda d’origine à 100 % qui n’existe que sur les Produits Mécaniques Honda à 100 %. Disponible auprès d’un réseau complet de concessionnaires experts en Produits Mécaniques Honda.</p>
						<a href="#" class="btn-secondary-alt"><span>Apprenez-en plus<br />sure les moteur Honda</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							Tous les modèles:
						</td>
						<td>
							Actionnés par des moteurs 4-temps Honda, silencieux, efficaces et faciles à démarrer • Permet de tondre plus près des clôtures ou des piscines avec un pont de coupe conçu pour excéder la largeur des roues • Des brins d’herbe plus fins sont produits par le pont de coupe plus profond, qui leur permet de recirculer et d’être coupés à plusieurs reprises
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 140 $</span>
							<span class="price-current">Maintenant seulement 399 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRS2164PDC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrs2164pdc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Parfaite pour le déchiquetage de petites pelouses; excellente manoeuvrabilité dans les endroits restreins et les virages serrés en raison de sa légèreté</li>
								<li>Modèle à pousser, éjection latérale, pont robuste</li>
								<li>Lame de déchiquetage ou système optionnel Quadra-CutMC à lames jumelles</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 100 $</span>
							<span class="price-current">Maintenant seulement 539 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRR2168PKC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216pkc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Ensachage ou déchiquetage – parfaite pour de plus petites pelouses</li>
								<li>Modèle à pousser, sac arrière de grande capacité, pont robuste de 21 po (53 cm) en acier</li>
								<li>Quadra-CutMC à lames jumelles</li>
								<li>3-en-1 complet: ensachage, déchiquetage à lames jumelles ou éjection arrière</li>
								<li>Démarrage une étape avec le système d’étrangleur automatique (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 80 $</span>
							<span class="price-current">Maintenant seulement 659 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRR2168VKC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216vkc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Permet de tondre de plus grandes pelouses avec moins d’effort</li>
								<li>Pont robuste de 21 po (53 cm) en acier</li>
								<li>Automotrice avec transmission à vitesse variable et commande Smart DriveMC</li>
								<li>Quadra-CutMC à lames jumelles</li>
								<li>3-dans-1 complet: ensachage, déchiquetage à lames jumelles ou éjection arrière </li>
								<li>Démarrage une étape avec le système d’étrangleur automatique (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 80 $</span>
							<span class="price-current">Maintenant seulement 759 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRR2168VYC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216vyc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Permet de tondre de grandes pelouses avec moins d’effort</li>
								<li>Pont robuste de 21 po (53 cm) en acier</li>
								<li>Automotrice avec transmission à vitesse variable et commande Smart DriveMC</li>
								<li>Quadra-CutMC à lames jumelles</li>
								<li>3-en-1: ensachage, déchiquetage à lames jumelles ou éjection arrière</li>
								<li>Démarrage facile avec le système d’étrangleur automatique (ACS)</li>
								<li>Traversez aisément les allées et videz le sac sans avoir à redémarrer le moteur à chaque fois avec le système de frein de lame Roto-StopMC</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 150 $</span>
							<span class="price-current">Maintenant seulement 989 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRX2173HYC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrx217hyc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>La polyvalence ultime en matière de coupe de gazon, sans accessoires additionnels avec le système VersamowMC</li>
								<li>Pont de coupe robuste de 21 po (53 cm) en polymère NeXiteMC</li>
								<li>Automotrice avec transmission hydrostatique à vitesse variable, adaptée aux besoins de l’utilisateur avec 9 préréglages</li>
								<li>Brins d’herbe ultra-fins avec le système MicroCutMC à lames jumelles décalées</li>
								<li>Traversez aisément les allées et videz le sac sans avoir à redémarrer le moteur à chaque fois avec le système de frein de lame Roto-StopMC</li>
								<li>Démarrage facile avec le système d’étrangleur automatique (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 150 $</span>
							<span class="price-current">Maintenant seulement 1 089 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HRX2173HZC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrx217hzc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Démarrage électrique 12 VCC pratique et sans effort</li>
								<li>La polyvalence ultime en matière de coupe de gazon, sans accessoires additionnels avec le système VersamowMC</li>
								<li>Pont de coupe robuste de 21 po (53 cm) en polymère NeXiteMC</li>
								<li>Automotrice avec transmission hydrostatique à vitesse variable, adaptée aux besoins de l’utilisateur avec 9 préréglages</li>
								<li>Brins d’herbe ultra-fins avec le système MicroCutMC à lames jumelles décalées</li>
								<li>Traversez aisément les allées et videz le sac sans avoir à redémarrer le moteur à chaque fois avec le système de frein de lame Roto-StopMC</li>
								<li>Démarrage facile avec le système d’étrangleur automatique (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>Voyez la gamme complète des modèles <a href="#">cliquez ici</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->