<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt-active"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<div class="details-heading">
					<img src="/_Global/img/content/pe/power-event/contest_details.jpg" alt="" />
				</div>
			</div>
			<div class="content_section">
				<table class="win-container">
					<tr>
						<td>
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/you_could_win_fr.jpg" alt="" />
							</a>
						</td>
						<td>
							<p class="intro">Inscrivez-vous maintenant et courez la chance gagner l’ensemble des modèles ci-dessus ou 1 des 5 prix secondaires de produits mécaniques Honda. Voyez les détails en ligne.</p>
							<p>Aucun achat requis. Le concours se termine le 31 juillet 2012 à 23 h 59 HNE et est ouvert aux résidents légaux du Canada qui ont atteint l’âge de la majorité. Un grand prix disponible à gagner, consistant en: (i) une Pompe à eau WB20XT2C; (ii) une Génératrice EU2000KC2; (iii) un Motoculteur F220C; (iv) un Taille-bordure (HHT25SLTC); et (v) une Tondeuse (HRS2164PDC), pour une valeur au détail approximative (VDA) collective de 4075$, transport et préparation compris; et cinq (5) prix secondaires disponibles: (i) Pompe à eau (WB20XT2C – VDA: 539$); (ii) Génératrice (EU2000KC2 – VDA 1449$); (iii) Motoculteur (F220C – VDA: 1009$); (iv) Taille-bordure (HHT25SLTC – VDA: 539$); et (v) Tondeuse (HRS2164PDC - VDA 539$). Chances de gagner dépendent du nombre de participations admissibles reçues. Question règlementaire d’arithmétique requise. Pour le règlement complet, <a href="#">cliquez ici</a>.</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->