<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_lawnmowers.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt-active"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_smart_drive.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Adapt to Pace or Mowing Conditions</p>
								<p>The lawnmower imitates your pace or adapts to mowing conditions with truly variable speeds. Pressing on the Smart Drive™ control gives you complete command of speed at your fingertips. It’s so easy that the speed can be controlled with only a thumb. Impressive indeed.<br />(On HRR2168VKC/VYC models.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_twin_blade_system.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Demand More and Bag Less</p>
								<p>Mowing your lawn can be virtually effortless. With our state-of-the art twin-blade system, grass is cut twice for a better cut and smaller clippings, meaning the bag holds more, or if mulching, the clippings decompose faster. With our exclusive Quadra-Cut™ and MicroCut™ systems, Honda has the only lawnmowers that give you this twin-blade advantage.<br />(On HRR and HRX models. Optional on HRS model.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/lawnmowers_versamow_system.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">The “Options” are Standard</p>
								<p>You get it all without additional accessories with the Versamow System™. It offers versatility to mulch, bag, shred leaves or discharge from the rear. Furthermore, it can simultaneously bag and mulch, sending some clippings to the bag and some to the ground, through one of eight pre-set ratios. You can easily change settings to suit the task at hand. (On HRX models.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_lawnmowers.jpg" class="pf" alt="" />
						<p>It begins with a great Honda engine. One sought after and even used by some of our competitors. From there, we designed a lawnmower to work with our engine for unprecedented performance. With sturdy construction throughout, from wheels on a full axle on many models for better strength to a NeXite™ polymer deck on HRX models that won’t rust or corrode. It’s 100% genuine Honda quality, found only in 100% Honda Power Equipment. Available from a full network of Honda Power Equipment dealers for expert care.</p>
						<a href="#" class="btn-secondary-alt"><span>FIND OUT MORE<br />ABOUT Honda ENGINES</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							ALL MODELS:
						</td>
						<td>
							Powered by a quiet, efficient, easy-to-start Honda four-stroke engine • Allow closer mowing along fences and pools, with a deck specifically designed with inset wheels • Produce finer clippings with a higher deck that allows them to re-circulate so they are cut multiple times
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $130</span>
							<span class="price-current">Now Only $369</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRS2164PDC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrs2164pdc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perfect for mulching small lawns with great manoeuvrability in tight spaces and sharp corners due to its light weight</li>
								<li>Push-type, side-discharge, heavy-duty 21 in.(53 cm) steel deck</li>
								<li>Mulching blade or optional Quadra-Cut&trade; twin-blade system</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $100</span>
							<span class="price-current">Now Only $499</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRR2168PKC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216pkc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Bag or mulch – perfect for smaller lawns </li>
								<li>Push-type, large-capacity rear bag, heavy-duty21 in. (53 cm) steel deck</li>
								<li>Quadra-Cut&trade; twin-blade system</li>
								<li>Complete 3-in-1: bagging, twin-blade mulching or rear-discharge</li>
								<li>One-step starting with Automatic ChokeSystem (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $80</span>
							<span class="price-current">Now Only $619</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRR2168VKC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216vkc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Cut large lawns with less effort</li>
								<li>Heavy-duty 21 in. (53 cm) steel deck</li>
								<li>Self-propelled with variable-speed transmission and Smart Drive&trade; control </li>
								<li>Quadra-Cut&trade; twin-blade system</li>
								<li>Complete 3-in-1: bagging, twin-blade mulching or rear-discharge  </li>
								<li>One-step starting with Automatic ChokeSystem (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
					</dl>
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $80</span>
							<span class="price-current">Now Only $719</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRR2168VYC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrr216vyc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Cut large lawns with less effort</li>
								<li>Heavy-duty 21 in. (53 cm) steel deck</li>
								<li>Self-propelled with variable-speed transmission and Smart Drive™ control</li>
								<li>Quadra-Cut&trade; twin-blade system</li>
								<li>Complete 3-in-1: bagging, twin-blade mulching or rear-discharge</li>
								<li>Easy starting with Automatic Choke System (ACS)</li>
								<li>Easily cross pathways and empty the bag without having to re-start the engine every time with Roto-Stop&trade; blade stop system</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $150</span>
							<span class="price-current">Now Only $949</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRX2173HYC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrx217hyc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>The ultimate in mowing versatility without additional accessories with Versamow System&trade;</li>
								<li>Heavy-duty 21 in. (53 cm) NeXite&trade; polymer deck</li>
								<li>Self-propelled with hydrostatic variable-speed transmission giving customized speed through9 pre-sets</li>
								<li>Ultra-small clippings from the MicroCut&trade; offset twin-blade system</li>
								<li>Easily cross pathways and empty the bag without having to re-start the engine every time with Roto-Stop&trade; blade stop system</li>
								<li>Easy starting with Automatic Choke System (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $150</span>
							<span class="price-current">Now Only $1,049</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HRX2173HZC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/lawnmower_hrx217hzc.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Equipped with a convenient and effortless 12 VDC electric start</li>
								<li>The ultimate in mowing versatility without additional accessories with Versamow System&trade;</li>
								<li>Heavy-duty 21 in. (53 cm) NeXite&trade; polymer deck</li>
								<li>Self-propelled with hydrostatic variable-speed transmission giving customized speed through 9 pre-sets</li>
								<li>Ultra-small clippings from the MicroCut&trade; offset twin-blade system</li>
								<li>Easily cross pathways and empty the bagwithout having to re-start the engine every time with Roto-Stop&trade; blade stop system</li>
								<li>Easy starting with Automatic Choke System (ACS)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>See the entire model lineup <a href="#">click here</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->