<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<div class="disclaimer-page">
					<p class="heading">This contest is open to canadian residents only and is GOVERNED by canadian law </p>
					<dl>
						<dt>1. CONTEST PERIOD:</dt>
						<dd>The Power Event, Win the Cover Contest (the “Contest”) begins on March 7, 2012 at 12:00 a.m. Eastern Time (“ET”) and ends on July 31, 2012 at 11:59 p.m. ET (the “Contest Period”).  </dd>
						<dt>2. ELIGIBILITY:</dt>
						<dd>Contest is open to all legal residents of Canada who have reached the age of majority in their province/territory of residence at the time of entry, except employees, representatives or agents (and those with whom such persons are domiciled, whether related or not) of Honda Canada Inc. (the “Sponsor”), its parent companies, subsidiaries, affiliates, dealers, prize suppliers and advertising/promotion agencies (collectively, the “Contest Parties”).   </dd>
						<dt>3. HOW TO ENTER:</dt>
						<dd>No purchase necessary.  To enter, go to honda.ca/power, honda.ca/powerevent, honda.ca/power2012 , honda.ca/pe (collectively, the  “Website”) and follow the on-screen instructions to obtain the Official Contest Entry Form (the “Entry Form”).  Fully complete the Entry Form with all required information, which requires you to: (i) enter your full name, complete mailing address (including postal code), valid email address, telephone number and language preference and (ii) signify your agreement that you have read and agree to be legally bound by the terms and conditions of these Official Rules and Regulations (the “Rules”).   Once you have fully completed the Entry Form with all required information, click the “submit” button to complete your entry (the “Entry”).  To be eligible, your Entry must be received within the Contest Period.  All eligible Entries received during the Contest Period will be entered into the random prize draw (see Rule 5).  </dd>
						<dd>There is a limit of one (1) Entry per person/email address permitted during the Contest Period.  For greater certainty, you can only use one (1) email address to enter the Contest.  If it is discovered that any person has attempted to: (i) obtain more than one (1) Entry per person/email address during the Contest Period; and/or (ii) use (or attempt to use) multiple names, identities and/or more than one (1) email address to enter the Contest; then (in the sole and absolute discretion of the Sponsor) he/she may be disqualified from the Contest and all of his/her Entries voided.  Your Entry will be rejected if (in the sole and absolute discretion of the Sponsor) the Entry Form is not fully completed with all required information and submitted during the Contest Period.  Use (or attempted use) of multiple names, identities, email addresses and/or any automated, macro, script, robotic or other systems(s) or program(s) to enter or otherwise participate in or disrupt this Contest is prohibited and is grounds for disqualification by the Sponsor. The Releasees (defined below) are not responsible for late, lost, misdirected, delayed, incomplete or incompatible Entries (all of which are void).     </dd>
						<dd>All Entries are subject to verification at any time.  The Sponsor reserves the right, in its sole and absolute discretion, to require proof of identity and/or eligibility (in a form acceptable to the Sponsor – including, without limitation, government issued photo identification) to participate in this Contest.  Failure to provide such proof to the satisfaction of the Sponsor in a timely manner may result in disqualification.  The sole determinant of the time for the purposes of a valid Entry in this Contest will be the Contest server machine(s).</dd>
						<dt>4. THE PRIZES AND APPROXIMATE RETAIL VALUE:</dt>
						<dd>GRAND PRIZE: There will be one (1) Grand Prize available to be won consisting of one (1) of each of the following products (the “Products”): (i) Water Pump (WB20XT2C); (ii) Generator (EU2000KC2); (iii) Tiller (F220C); (iv) Trimmer (HHT25SLTC); and (v) Lawnmower (HRS2164PDC); collectively with an approximate retail value (“ARV”) of $4,075 (collectively, the “Grand Prize”).  SECONDARY PRIZES: There will be five (5) Secondary Prizes available to be won, as follows:  (i) Water Pump (WB20XT2C – ARV: $539.); (ii) Generator (EU2000KC2 - $1,449); (iii) Tiller (F220C – ARV: $1,009); (iv) Trimmer (HHT25SLTC – ARV: $539); and (v) Lawnmower (HRS2164PDC - $539) – each a “Secondary Prize(s)”). </dd>
						<dd>The “Grand Prize” and “Secondary Prizes” are collectively referred to as “Prize(s)”.  Each Prize will include freight and PDI, as well as any other dealer fees and charges related to the applicable Products themselves.  Each Prize must be accepted as awarded and is not transferable, assignable or convertible to cash (except as may be specifically permitted by Sponsor in its sole and absolute discretion).  No substitutions except at Sponsor’s option. Sponsor reserves the right, in its sole and absolute discretion, to substitute a Prize or a component thereof with a prize of equal or greater value, including, without limitation, but at Sponsor’s sole and absolute discretion, a cash award. Each Prize will only be awarded to the person whose verifiable full name and valid email address appears on the Entry Form. Without limiting the generality of the foregoing, the following general conditions apply to all Prizes: (i) colour and other specifics of the applicable Product(s) that form part of the applicable Prize will be at the sole discretion of the Sponsor; (ii) manufacturer’s warranty applies to the applicable Product(s) that form part of the applicable Prize; (iii) upon notification, each Prize winner will be required to personally take delivery of the Prize within 6 – 8 weeks from a Honda Power Equipment Dealer within Canada reasonably close to the Prize winner’s place of residence in Canada as designated by Sponsor, in its sole discretion and present adequate personal identification (otherwise the applicable Prize will be forfeited in its entireity and will not be awarded in this Contest); (iv) each Prize winner is solely responsible for all expenses that are not included in the applicable Prize description above; and (v) each Prize winner is solely responsible for all costs not expressly described herein including, without limitation, costs associated with pick-up or delivery of the applicable Prize, registration, insurance and/or fuel/gas.   </dd>
						<dt>5. RANDOM PRIZE DRAW AND WINNER SELECTION:</dt>
						<dd>On August 1, 2012 (the “Draw Date”) in Brantford, Ontario at approximately 2:00 p.m. ET, one (1) eligible entrant (for the Grand Prize) and five (5) eligible entrants (each for a Secondary Prize) will be selected by random draw from among all eligible Entries received during the Contest Period. For greater certainty, the first eligible entrant drawn will be eligible to win the Grand Prize (subject to compliance with these Rules).  The next five (5) eligible entrants drawn will each be eligible to win a Secondary Prize (subject to compliance with these Rules).  Secondary Prizes will be drawn in the order listed above in Rule 4.  The odds of winning depend on the number of eligible Entries received during the Contest Period.  </dd>
						<dd>The Sponsor or its designated representative will make a minimum 3 attempts to contact each selected entrant by telephone or email (using the information provided on the Entry Form) within 10 business days of the Draw Date.  If a selected entrant cannot be contacted within 10 business days of the Draw Date, or if there is a return of any notification as undeliverable; then he/she will be disqualified (and will forfeit all rights to the applicable Prize) and the Sponsor reserves the right, in its sole and absolute discretion, to randomly select an alternate eligible entrant from among the remaining eligible Entries (in which case the foregoing provisions of this section shall apply to such new selected entrant).  </dd>
						<dd>Before being declared A CONFIRMED PRIZE winner, each selected entrant will be required to: (a) correctly answer a mathematical skill-testing question without mechanical or other aid; and (b) sign and return within 10 business days of notification the Sponsor’s declaration and release form, which (among other things): (i) confirms compliance with these Rules; (ii) acknowledges acceptance of the applicable Prize as awarded; (iii) releases the Contest Parties and each of their respective officers, directors, agents, representatives, successors and assigns (collectively, the “Releasees”) from any and all liability in connection with this Contest, his/her participation therein and/or the awarding and use/misuse of the applicable Prize or any portion thereof; and (iv) agrees to the publication, reproduction and/or other use of his/her name, address, voice, statements about the Contest and/or photograph or other likeness without further notice or compensation, in any publicity or advertisement carried out by or on behalf of the Sponsor in any manner whatsoever, including print, broadcast or the internet.  If a selected entrant: (a) fails to correctly answer the skill-testing question; (b) fails to return the properly executed Contest documents within the specified time; and/or (c) cannot accept the applicable Prize for any reason; then he/she will be disqualified (and will forfeit all rights to the applicable Prize) and the Sponsor reserves the right, in its sole and absolute discretion, to randomly select an alternate eligible entrant from among the remaining eligible Entries (in which case the foregoing provisions of this section shall apply to such new selected entrant).  </dd>
						<dt>6. GENERAL CONDITIONS:</dt>
						<dd>All Entries become the property of the Sponsor. This Contest is subject to all applicable federal, provincial and municipal laws.  The decisions of the Sponsor with respect to all aspects of this Contest are final and binding on all entrants without right of appeal, including, without limitation, any decisions regarding the eligibility/disqualification of Entries and/or entrants.  By participating in this Contest, you are agreeing to be legally bound by the terms and conditions of these Rules.</dd>
						<dd>The Releasees will not be liable for: (i) any failure of the Website during the Contest; (ii) any technical malfunction or other problems relating to the telephone network or lines, computer on-line systems, servers, access providers, computer equipment or software; (iii) the failure of any Entry to be received for any reason, including, but not limited to, technical problems or traffic congestion on the Internet or at any website; (iv) any injury or damage to an entrant’s or any other person’s computer or other device related to or resulting from participating in the Contest; and/or (v) any combination of the above. </dd>
						<dd>In the event of a dispute regarding who submitted an Entry, Entries will be deemed to have been submitted by the authorized account holder of the email address submitted at the time of entry.  “Authorized account holder” is defined as the person who is assigned an email address by an internet provider, online service provider, or other organization (e.g. business, educational institute, etc.) that is responsible for assigning email addresses for the domain associated with the submitted email address. An entrant may be required to provide proof (in a form acceptable to the Sponsor – including, without limitation, government issued photo identification) that he/she is the authorized account holder of the email address associated with the selected Entry.</dd>
						<dd>The Sponsor reserves the right, subject only to the approval of the Régie des alcools, des courses et des jeux (the “Régie”) in Quebec, to withdraw, amend or suspend this Contest (or to amend these Rules) in any way, in the event of an error, technical problem, computer virus, bugs, tampering, unauthorized intervention, fraud, technical failure or any other cause beyond the reasonable control of the Sponsor that interferes with the proper conduct of this Contest as contemplated by these Rules.  Any attempt to deliberately damage any website or to undermine the legitimate operation of this Contest in any way (as determined by Sponsor in its sole and absolute discretion) is a violation of criminal and civil laws and should such an attempt be made, the Sponsor reserves the right to seek remedies and damages to the fullest extent permitted by law.  The Sponsor, with the consent of the Régie, reserves the right to cancel, amend or suspend this Contest, or to amend these Rules, without prior notice or obligation, in the event of any accident, printing, administrative, or other error of any kind, or for any other reason. </dd>
						<dd>For Quebec residents:  Any litigation respecting the conduct or organization of a publicity contest may be submitted to the Régie des alcools, des courses et des jeux for a ruling.  Any litigation respecting the awarding of the prize may be submitted to the Régie only for the purpose of helping the parties reach a settlement. </dd>
						<dd>By entering this Contest, each entrant expressly consents to the Sponsor, its agents and/or representatives, storing, sharing and using the personal information submitted with his/her Entry only for the purpose of administering the Contest and in accordance with Sponsor’s privacy policy (available at: http://www.honda.ca/privacy), unless the entrant otherwise agrees.</dd>
						<dd>The Sponsor reserves the right, in its sole and absolute discretion, and without prior notice, to adjust any of the dates and/or timeframes stipulated in these Rules, to the extent necessary, for purposes of verifying compliance by any entrant or Entry with these Rules, or as a result of any technical or other problems, or in light of any other circumstances which, in the opinion of the Sponsor, in its sole and absolute discretion, affect the proper administration of the Contest as contemplated in these Rules, or for any other reason.</dd>
						<dd>In the event of any discrepancy or inconsistency between the terms and conditions of these English Rules and disclosures or other statements contained in any Contest-related materials, including, but not limited to: the Entry Form, Website, French version of these Rules, and/or point of sale, television, print or online advertising; the terms and conditions of these English Rules shall prevail, govern and control.</dd>
					</dl>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->