<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_trimmers.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt-active"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/trimmers_thumb_01.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Trim Anywhere. Even Upside Down.</p>
								<p>Rather than a 2-stroke engine, Honda developed a 4-stroke engine that has the ability to rotate the 360º required for trimming. This means there is no mixing of gas and oil, leading to no smoke and less smell. That’s Honda efficiency.<br />(On all models.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/trimmers_thumb_02.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Built to Last</p>
								<p>A typical steel driveshaft can break or fracture when it hits an obstacle. So Honda engineers developed a series of cables and twisted them together to create our exclusive Flexible Multi-Strand Steel Cable. It reduces vibration and absorbs the shock of an impact when the blade hits an obstacle, like a knot in a small tree or shrubbery. Intelligence goes into every element of a Honda trimmer.<br />(On all models.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_trimmers.jpg" class="pf" alt="" />
						<p>It begins with a great Honda engine. One sought after and even used by some of our competitors. From there, we designed a trimmer to work with our engine for unprecedented performance. With the four-stroke engine, our trimmers offer easy starts. All models include Honda Quiet Line which reduces noise by 5 dB(A), a Honda invention, and example of how we consistently improve the standard of lawn care. It's 100% Honda quality, only found in 100% Honda Power Equipment. Available from a full network of Honda Power Equipment dealers for expert care.</p>
						<a href="#" class="btn-secondary-alt"><span>FIND OUT MORE<br />ABOUT Honda ENGINES</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							ALL MODELS:
						</td>
						<td>
							Powered by a quiet, efficient, easy-to-start Honda 4-stroke engine • Multi-strand drivecable helps absorb vibration and impact • Quiet line reduces noise levels by 5 dB(A)
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd>
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $100</span>
							<span class="price-current">Now Only $399</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HHT25SLTC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/trimmer_HHT25SLTC.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perfect for jobs around the home because it’s powerful and lightweight</li>
								<li>Includes Semi-Matic (tap-and-go) trimmer head, shoulder harness and protective goggles</li>
							</ul>
							<ul class="product-warranty">
								<li>24-MONTh, Non-commercial use/</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a>.</p>
						</dd>
						<dd>
							<span class="filler-box"></span>
							<span class="price-current">Great Every Day Value $639</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">HHT35SUKCT</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/trimmer_HHT35SUKCT.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Versatile and heavy-duty for tough trimming needs </li>
								<li>Maximum comfort and precise control with bike-type handlebar </li>
								<li>Includes manual line feed head and brush-cutting blade with blade guard and mounting hardware, as well as professional double-loop harness and protective goggles</li>
							</ul>
							<ul class="product-warranty">
								<li>24-MONTh, Non-commercial use/</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a>.</p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>See the entire model lineup <a href="#">click here</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->