<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<div class="legendary-engine">
					<p class="intro">
						<span>A Legendary Engine</span>
						Building a legendary engine is no accident. Honda has 50 years of experience designing engines and has become the largest engine manufacturer in the world. While some covet and others imitate, only genuine Honda offers a powerful, efficient and quiet 4-stroke engine designed perfectly for your Honda Power Equipment. From there, we’ve built Honda Power Equipment models to be just as advanced, durable and reliable as our engines. So when you buy 100% Honda Power Equipment, you know you’re getting 100% Honda innovation.
					</p>
					<p class="legendary-products">
						<span>Power Equipment. Redefined.</span>
						Honda engineers have pushed boundaries in every category of our Honda Power Equipment.<br />
						Each defined by exclusive technologies designed to outperform the competition.<br />
						Each with a Honda engine at its heart.
					</p>
					<dl class="fc legendary-links">
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_lawnmowers_en.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_trimmers_en.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_tillers_en.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_generators_en.png" class="pf" alt="" />
							</a>
						</dd>
						<dd class="fl">
							<a href="#">
								<img src="/_Global/img/content/pe/power-event/thumb_water_pumps_en.png" class="pf" alt="" />
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->