<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_trimmers_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt-active"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/trimmers_thumb_01_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">TRAVAILLEZ OÙ VOUS VOULEZ. MÊME À L’ENVERS.</p>
								<p>Plutôt qu’utiliser un moteur 2-temps, Honda a mis au point un moteur 4-temps capable de fonctionner sur 360 degrés, dans n’importe quelle position requise pour tailler. De plus, il n’y a pas de mélange essence-huile, donc, pas de fumée et moins d’odeurs. C’est de l’efficacité Honda. (Sur tous les modèles.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/trimmers_thumb_02_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">ARBRE D’ENTRAÎNEMENT EN CÂBLE D’ACIER MULTIBRIN</p>
								<p>Un arbre d'entraînement typique en acier peut se casser ou se fracturer en heurtant un obstacle. Alors, les ingénieurs Honda ont mis au point un arbre d'entraînement fait de câble d’acier multibrin flexible qui est plus léger et plus résistant qu'un arbre rigide, avec une plus longue durée de vie et la plus grande force de torsion de l'industrie. Il réduit les vibrations et absorbe le choc lorsque la lame heurte un obstacle, comme un nœud dans un petit arbre ou un massif d'arbustes. Une preuve de plus que l’intelligence se trouve dans chaque élément d'un taille-bordure Honda. (Sur tous les modèles.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_trimmers_fr.jpg" class="pf" alt="" />
						<p>Ça commence avec un excellent moteur Honda. Un moteur convoité et même utilisé par quelques-uns de nos concurrents. De là, nous avons conçu un taille-bordure pour travailler de concert avec notre moteur et offrir une performance sans précédent. Le seul taille-bordure doté d’un moteur quatre-temps qui offre des démarrages faciles en tout temps. Tous les modèles sont munis de fil de coupe silencieux Honda qui réduit les émissions sonores de 5 dB(A), une invention Honda et un exemple de notre façon d’améliorer constamment la norme en matière d’entretien et de soin de pelouse. C’est la qualité Honda à 100 % qui n’existe que sur les Produits Mécaniques Honda à 100%.</p>
						<a href="#" class="btn-secondary-alt"><span>Apprenez-en plus<br />sure les moteur Honda</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							Tous les modèles:
						</td>
						<td>
							Actionnés par des moteurs 4-temps Honda, silencieux, efficaces et faciles à démarrer  • Arbres d’entraînement à câble multibrin aidant à absorber les vibrations et les chocs • Fil nylon silencieux réduisant le niveau de bruit de 5 dB(A)
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd>
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 100 $</span>
							<span class="price-current">Maintenant seulement 439 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HHT25SLTC</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/trimmer_HHT25SLTC.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Parfait pour les travaux autour de la maison en raison de sa puissance et de sa légèreté</li>
								<li>Tête à déroulement semi-automatique du fil, harnais à l’épaule et lunettes protectrices sont inclus</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd>
							<span class="filler-box"></span>
							<span class="price-current">Maintenant seulement 679 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">HHT35SUKCT</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/trimmer_HHT35SUKCT_fr.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Polyvalent et très robuste, pour les tâches de débroussaillage exigeantes </li>
								<li>Maximum de confort et contrôle précis avec les poignées de type guido</li>
								<li>Comprend, tête à commande manuelle, lame-scie pour broussailles avec protecteur de lame et matériel de montage en plus du harnais professionnel double boucle et des lunettes protectrices</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>Voyez la gamme complète des modèles <a href="#">cliquez ici</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->