<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_tillers.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt-active"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/tillers_thumb_01.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Till Without Interruption</p>
								<p>When tilling, a lot of dust can be kicked up and clog the filter. With air filters specific to each model, Honda accommodates each tiller’s individual needs. This translates to less maintenance over time, which means less overall cost to you. So Honda thought of all the details, for performance without interruption.</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/tillers_thumb_02.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Groundbreaking Performance</p>
								<p>Each Honda tiller is built with advanced features that allow you to customize your tilling experience. With the adjustable depth bar you can change the tilling depth quickly and easily, with no extra tools or accessories. Meanwhile, the handles can be adjusted up or down to create a comfortable operating height, no matter how tall you are. A Honda tiller offers optimum comfort and simplicity.</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_tillers.jpg" class="pf" alt="" />
						<p>It begins with a great Honda engine. One sought after and even used by some of our competitors. From there, we designed a tiller to work with our engine for unprecedented performance. The lineup includes a range of models from compact to large, so if you need to till attentively within one inch of plants in a narrow garden or get the job done faster with a 36-inch tilling width in a large vegetable garden, there’s an ideal tiller for you. It's 100% Honda quality, only found in 100% Honda Power Equipment. Available from a full network of Honda Power Equipment dealers for expert care.</p>
						<a href="#" class="btn-secondary-alt"><span>FIND OUT MORE<br />ABOUT Honda ENGINES</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							ALL MODELS:
						</td>
						<td>
							Powered by a quiet, efficient, easy-to-start Honda 4-stroke engine • Commercial-grade with a range of models for every need
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd>
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $130</span>
							<span class="price-current">Now Only $449</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">FG110K1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/tillers_FG110K1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perfect for smaller gardens, raised beds and narrow rows</li>
								<li>Lightweight, ultra-compact with 15.2 or 23 cm (6 or 9 in.) tilling widths </li>
								<li>Versatile with 4 optional attachments: walkway edger, lawn dethatcher, digging tines, and lawn aerator </li>
								<li>Easy transportation with folding handles, carrying handle and wheels</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
						<dd>
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $170</span>
							<span class="price-current">Now Only $799</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">F220C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/tillers_F220C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perfect for backyard flowerbeds, suburban vegetable gardens and taking to the cottage</li>
								<li>54.5 cm (21.5 in.) tilling width</li>
								<li>Easy transportation with foldable handles and retractable front wheel</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>See the entire model lineup <a href="#">click here</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->