<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_waterpumps.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>Lawnmowers</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>Generators</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>Trimmers</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>Tillers</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt-active"><span>Water Pumps</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>Contest Details</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/waterpumps_thumb_01.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Full Range of Power</p>
								<p>The extensive Honda water pump lineup allows you to choose the right pump for thetask at hand, from emptying a pool to fighting a fire. The lineup includes Transfer, Deluxe Transfer, High Pressure and Trash pumps. Each is equipped with a commercial-grade engine that make the pumps easy to use, durable and dependable – both around the home and on the job. With Honda, you can accomplish anything.</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/waterpumps_thumb_02.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">Every Detail Covered</p>
								<p>Honda water pumps have rubber mounts installed between the engine and the aluminum frame to help absorb vibration. Available on Transfer Deluxe and Trash Pumps, the high-performance rubber mounts ensure a smooth-running engine to keep the unit from shifting, reduce stress and wear, and provide quiet operation. Honda thought of all the details, for exceptional performance.</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_waterpumps.jpg" class="pf" alt="" />
						<p>It begins with a great Honda engine. One sought after and even used by some of our competitors. From there we designed water pumps to work with our engine for unprecedented performance. The extensive Honda water pump lineup allows you to choose the right pump for the task at hand, from emptying a pool to fighting a fire. They offer commercial-grade engines and are easily portable, with aluminum housing and handles on small models. Choose a pump that knows how to get the job done. It's 100% Honda quality, found only in 100% Honda Power Equipment. Available from a full network of Honda Power Equipment dealers for expert care.</p>
						<a href="#" class="btn-secondary-alt"><span>FIND OUT MORE<br />ABOUT Honda ENGINES</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							ALL MODELS:
						</td>
						<td>
							Powered by a quiet, efficient, easy-to-start Honda 4-stroke engine • Self-priming design • If oil drops below a safe operating level, the engine automatically shuts down with Oil Alert&trade; System
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">For a limited time</span>
							<span class="price-save">Save $100</span>
							<span class="price-current">Now Only $419</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">WX10K1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WX10K1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Very portable for pool maintenance, filling water tanks at the cottage and small drainage jobs</li>
								<li>Moves up to 140 litres (31 Imp. gal.) per minute through 25.4 mm (1 in.) suction and discharge ports and can use garden hose for discharge </li>
								<li>Lightweight and compact, only 6.1 kg (13.4 lb)</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a>.</p>
						</dd>
						<dd class="fl">
							<span class="price-current">Great Every Day Value $789</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">WH15XK2C1</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WH15XK2C1.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Perform a multitude of duties, from water transfer to irrigation, with this commercial-grade, high-output, high-pressure pump</li>
								<li>Designed to use with a fire hose nozzle for spraying further distances or irrigation</li>
								<li>Moves up to 400 litres (88 Imp. gal.) perminute through 38 mm (1.5 in.) suction and discharge ports</li>
								<li>Convenient carrying handle and hose strainer</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a>.</p>
						</dd>
						<dd class="fl">
							<span class="price-current">Great Every Day Value $499</span>
							<span class="freight">PLUS FREIGHT AND P.D.I.</span>
							<span class="model">WB20XT2C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WB20XT2C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Commercial-grade engine for moredemanding tasks</li>
								<li>Moves up to 600 litres (132 Imp. gal.) per minute through 50 mm (2 in.) suction and discharge ports</li>
								<li>Full-frame construction with anti-vibration mounting system helps prevent sinking intosoft ground</li>
							</ul>
							<ul class="product-warranty">
								<li>36-MONTh, Non-commercial use</li>
								<li>12-MONTh, commercial use</li>
								<li>distributor’s WARRANTY</li>
							</ul>
							<p class="product-specs">To see full product specs <a href="#">click here</a>.</p>
						</dd>
					</dl>
				</div>
				<div class="info-text">Rinse water pump with fresh water after moving pool.</div>
				<div class="lineup">
					<p>See the entire model lineup <a href="#">click here</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and PDI, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer. Promotional prices in effect until April 30, 2012. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer for full details.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->