<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_tillers_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt-active"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/tillers_thumb_01_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">LABOUREZ SANS INTERRUPTION</p>
								<p>Lorsque vous labourez, cela peut soulever beaucoup de poussière et obstruer le filtre. Avec des filtres à air spécifiques pour chacun des modèles, Honda répond aux besoins particuliers de chaque motoculteur. Ceci contribue au fil du temps, à réduire l’entretien requis et les frais relatifs pour vous. Ainsi, Honda a pensé à tous détails pour éviter que la performance ne s’arrête.</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/tillers_thumb_02_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">UNE PERFORMANCE SANS PRÉCÉDENT</p>
								<p>Chaque motoculteur Honda est doté de caractéristiques avancées qui vous permettent de personnaliser votre configuration de labourage en fonction de vos besoins. Avec la barre de profondeur réglable rapidement et facilement, vous pouvez changer la profondeur de labourage sans outils ni accessoires. Par surcroît, les poignées peuvent être réglées vers le haut ou vers le bas pour obtenir une position de travail accordée à votre taille. Un motoculteur Honda offre donc une simplicité et un confort optimaux.</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_tillers_fr.jpg" class="pf" alt="" />
						<p>Ça commence avec un excellent moteur Honda. Un moteur convoité et même utilisé par quelques-uns de nos concurrents. De là, nous avons conçu un motoculteur pour travailler de concert avec notre moteur et offrir une performance sans précédent. La gamme inclut un éventail de modèles allant du format compact aux formats grands et larges; ainsi, que vous ayez à labourer avec soin à moins d'un pouce des plants dans un jardin étroit ou à faire le travail plus rapidement avec une largeur de labourage de 36 pouces dans un grand potager, nous avons un motoculteur idéal pour vous; C’est la qualité Honda à 100 % qui n’existe que sur les Produits Mécaniques Honda à 100%.</p>
						<a href="#" class="btn-secondary-alt"><span>Apprenez-en plus<br />sure les moteur Honda</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							Tous les modèles:
						</td>
						<td>
							Actionnés par des moteurs 4-temps Honda, silencieux, efficace et facile à démarrer • Qualité commerciale, avec une gamme de modèles pour tous les besoins
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd>
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 130 $</span>
							<span class="price-current">Maintenant seulement 489 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">FG110K1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/tillers_FG110K1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Parfait pour de petits jardins, les plates-bandes et les rangs étroits</li>
								<li>Léger et ultra compact; largeurs de labourage de 15,2 ou 23 cm (6 ou 9 po)</li>
								<li>Polyvalent avec 4 accessoires optionnels: taille-bordures, déchaumeur, fourchons creuseurs et aérateur de gazon</li>
								<li>Transport facile avec poignées repliables, poignée de transport et roues</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd>
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 170 $</span>
							<span class="price-current">Maintenant seulement 839 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">F220C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/tillers_F220C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Parfait pour les plates-bandes, les parterres, les potagers de banlieue et le transport jusqu’au chalet</li>
								<li>Largeur de labourage 54,5 cm (21,5 po)</li>
								<li>Transport facile avec le guidon repliable et la roue avant escamotable</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>Voyez la gamme complète des modèles <a href="#">cliquez ici</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->