<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_contest_details_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<div class="disclaimer-page">
					<p class="heading">Concours « VOUS POURRIEZ GAGNER TOUT CECI » CE CONCOURS N’EST CONÇU QUE POUR LES RÉSIDENTS DU CANADA ET EST RÉGI PAR LES LOIS CANADIENNES.</p>
					<dl>
						<dt>1. PÉRIODE DU CONCOURS</dt>
						<dd>Le concours de promotion VOUS POURRIEZ GAGNER TOUT CECI (le «concours») débute le 7 mars 2012 à 00 h 00 (heure de l’Est - «HE») et prend fin le 31 juillet 2012 à 23 h 59 (HE) (la «période du concours»).</dd>
						<dt>2. ADMISSIBILITÉ</dt>
						<dd>Le concours s’adresse à toute personne résidant légalement au Canada et qui a atteint l’âge de la majorité dans sa province ou son territoire de résidence à la date de sa participation, à l’exception des employés, représentants ou agents (et des personnes avec qui ils sont domiciliés, qu’ils aient un lien de famille ou non) de Honda Canada Inc. (le «commanditaire»), de ses sociétés mères, filiales, sociétés affiliées, concessionnaires, fournisseurs des prix et agences de publicité et de promotion (collectivement appelés les «parties au concours»).</dd>
						<dt>3. POUR PARTICIPER</dt>
						<dd>SANS OBLIGATION D’ACHAT.  Pour participer, visitez honda.ca/power, honda.ca/powerevent, www.honda.ca/power2012 ou www.honda.ca/pe (collectivement, le «site Web») et suivez les directives indiquées à l’écran pour faire apparaître le formulaire officiel de participation au concours (le «formulaire de participation»).  Remplissez entièrement le formulaire pour lequel on vous demande : (i) d’indiquer vos prénom, nom de famille, adresse postale complète (avec code postal), adresse courriel valable, numéro de téléphone et langue de préférence; et (ii) d’indiquer que vous avez lu et acceptez d’être lié légalement par les conditions du présent règlement officiel (le «règlement»).  Lorsque vous avez entièrement rempli le formulaire de participation, cliquez sur le bouton «ENVOYER» pour envoyer officiellement la participation (la «participation»).  Pour pouvoir participer au concours, la participation doit être reçue pendant la période du concours.  Toutes les participations valables reçues pendant la période du concours seront prises en compte lors du tirage au sort du prix (voir règle 5).</dd>
						<dd>Limite d’une (1) participation par personne et par adresse courriel permise pendant la période du concours.  Pour être plus précis, vous ne devez utiliser qu’une (1) seule adresse courriel pour participer au concours.  S’il est découvert que vous avez tenté : (i) d’obtenir plus d’une (1) participation par personne/adresse courriel pendant la période du concours ou (ii) d’utiliser plusieurs noms ou identités ou plus d’une (1) adresse courriel pour participer au concours, vous pourrez (à la seule discrétion absolue du commanditaire) être disqualifié du concours et toutes vos participations seront annulées.  Votre participation sera refusée si (à la seule discrétion absolue du commanditaire) le formulaire de participation n’est pas entièrement rempli avec tous les renseignements demandés et envoyé pendant la période du concours.  Toute utilisation (ou tentative d’utilisation) de plusieurs noms, identités, adresses courriel, ou d’un ou de plusieurs systèmes ou programmes automatisés, macros, scripts, robotisés ou autres pour s’inscrire ou participer d’une façon quelconque ou pour gêner la bonne marche du présent concours est interdite et peut entraîner une disqualification par le commanditaire.  Les renonciataires (définis ci-dessous) n’assument aucune responsabilité quant à toute participation en retard, perdue, égarée, retardée, incomplète ou incompatible (toutes ces participations sont considérées nulles).</dd>
						<dd>Toute participation peut à tout moment faire l’objet d’une vérification.  Le commanditaire se réserve le droit, à sa seule discrétion absolue, de demander une preuve d’identité et/ou d’admissibilité (sous une forme acceptée par le commanditaire, y compris, mais sans s’y limiter, une pièce d’identité avec photo émise par les autorités), à toute personne participant à ce concours.  Ne pas fournir ladite preuve en temps utile peut entraîner la disqualification de la participation, à la satisfaction du commanditaire  Le seul déterminant de la date et de l’heure pour qu’une participation soit valable pour le présent concours sera le ou les ordinateurs du serveur du commanditaire.</dd>
						<dt>4. PRIX ET VALEURS AU DÉTAIL APPROXIMATIVES</dt>
						<dd>GRAND PRIX : Un (1) grand prix sera attribué; il consiste en un exemplaire de chacun des produits suivants (les «produits») : (i) pompe à eau (WB20XT2C); (ii) génératrice (EU2000KC2); (iii) rotoculteur (F220C); (iv) taille-bordures (HHT25SLTC); et (v) tondeuse (HRS2164PDC), d’une valeur au détail collective approximative («VDA») de 4 075 $ (collectivement appelé le «grand prix»).</dd>
						<dd>DEUXIÈMES PRIX : Cinq (5) deuxièmes prix seront attribués, de la façon suivante : (i) pompe à eau (WB20XT2C - VDA de 539 $); (ii) génératrice (EU2000KC2 - VDA de 1 449 $); (iii) rotoculteur (F220C - VDA de 1 009 $); (iv) taille-bordures (HHT25SLTC - VDA de 539 $); et (v) tondeuse (HRS2164PDC - VDA de 539 $), chacun considéré comme un «deuxième prix».</dd>
						<dd>Le «grand prix» et les «deuxièmes prix» sont collectivement appelés le ou les «prix».  Chaque prix comprend les frais de préparation avant livraison et le transport, ainsi que tous les frais du concessionnaire et autres frais applicables aux produits eux-mêmes.  Chaque prix doit être accepté tel qu’attribué et ne peut être transféré, ni cédé, ni échangé contre des espèces (sauf avec la permission spécifique et à la seule discrétion absolue du commanditaire).  Aucune substitution, sauf à la discrétion du commanditaire.  Le commanditaire se réserve le droit, à sa seule discrétion absolue, de remplacer le prix ou l’une de ses parties par un prix d’une valeur égale ou supérieure, y compris, mais sans s’y limiter, et à la seule discrétion du commanditaire, par un équivalent en espèces.  Chaque prix ne sera attribué qu’à la personne dont le nom entier et l’adresse courriel en vigueur vérifiable apparaissent sur le formulaire de participation.  Sans limiter l’aspect général de ce qui précède, les conditions générales suivantes s’appliquent à chaque prix : (i) la couleur et les autres particularités du ou des produits qui font partie de chaque prix sont à la seule discrétion du commanditaire; (ii) la garantie du fabricant s’applique au(x) produit(s) qui font partie de chaque prix; (iii) à la suite de l’avis à chaque gagnant d’un prix, il lui est demandé de venir personnellement, dans les 6 à 8 semaines de l’avis, prendre livraison de son prix chez le concessionnaire canadien de produits mécaniques Honda qui est raisonnablement le plus proche du domicile de chaque gagnant au Canada, tel que déterminé par le commanditaire à sa seule discrétion, et en présentant une pièce d’identité personnelle valable (sinon, le prix concerné est abandonné dans sa totalité et ne sera pas attribué pour le présent concours); (iv) le gagnant de chaque prix est le seul responsable de tous les frais non inclus dans la description de chaque prix ci-dessus; et (v) le gagnant de chaque prix est le seul responsable de tous les coûts non indiqués explicitement dans le présent règlement, y compris, mais sans s’y limiter, les coûts associés à la prise en charge ou à la livraison du prix concerné, les frais d’enregistrement, l’assurance et le carburant.</dd>
						<dt>5. TIRAGE AU SORT DES PRIX ET SÉLECTION DES GAGNANTS</dt>
						<dd>Le 1er aout 2012 (la «date du tirage») à Brantford (Ontario) à environ 14 h 00 (HE), un (1) participant admissible au grand prix et cinq (5) participants admissibles aux deuxièmes prix seront sélectionnés par tirage au sort parmi toutes les participations valables reçues pendant la période du concours.  Pour être plus précis, le premier participant admissible tiré au sort gagne le grand prix (sous réserve de son respect du présent règlement).  Les cinq participants admissibles tirés au sort par la suite gagnent un deuxième prix (sous réserve de leur respect du présent règlement).  Les deuxièmes prix seront tirés dans l’ordre des prix indiqué à la règle 4 ci-dessus.  Les chances d’être sélectionné dépendent du nombre de participations valables reçues pendant la période du concours.</dd>
						<dd>Le commanditaire ou son représentant désigné essaiera au maximum trois (3) fois de contacter chacun des participants sélectionnés par téléphone ou par courriel (en utilisant les renseignements fournis sur le bulletin de participation) dans les dix (10) jours ouvrables suivant la date du tirage.  Si l’un des participants sélectionnés ne peut être contacté dans les dix (10) jours ouvrables suivant la date du tirage, ou au cas où un avis est renvoyé comme étant non distribuable, le participant sélectionné est alors disqualifié (et renonce à tous ses droits quant au prix concerné) et le commanditaire se réserve le droit, à sa seule discrétion absolue, de sélectionner au hasard un autre participant admissible parmi les participations valables restantes (auquel cas les conditions du présent article s’appliquent au nouveau participant sélectionné).</dd>
						<dd>AVANT D’ÊTRE DÉCLARÉ GAGNANT CONFIRMÉ D’UN PRIX, chaque participant sélectionné doit : (i) répondre correctement à une question subsidiaire d’arithmétique sans aide mécanique ou autre; et (b) signer et envoyer dans les dix (10) jours ouvrables suivant l’avis fourni par le commanditaire la déclaration de décharge pour (entre autres) : (i) confirmer son respect du présent règlement; (ii) reconnaître l’acceptation du prix tel qu’il est attribué; (iii) décharger les parties au concours ainsi que chacun de leurs responsables, directeurs, agents, représentants, successeurs et ayants droit respectifs (collectivement appelés les «renonciataires») de toute responsabilité concernant le présent concours, sa participation audit concours ainsi que l’attribution et la bonne ou la mauvaise utilisation du prix ou de toute partie du prix; et (iv) consentir à la publication, à la reproduction ou à toute autre utilisation de ses nom, adresse, voix, déclarations au sujet du concours et de sa photo ou de son image, sans autre avis ni compensation, dans toute publicité ou annonce présentée par le commanditaire ou en son nom, de quelque manière que ce soit, y compris imprimée, diffusée ou sur l’Internet.  Si un participant sélectionné : (a) ne répond pas correctement à la question subsidiaire d’arithmétique, (b) ne renvoie pas les formulaires du concours dûment signés dans le délai indiqué, ou (c) ne peut accepter le prix pour une raison quelconque, il est disqualifié (et renonce à tous ses droits quant au prix concerné) et le commanditaire se réserve le droit, à sa seule discrétion absolue, de tirer au hasard le bulletin d’un autre participant admissible parmi les participations valables restantes (auquel cas les conditions du présent article s’appliquent au nouveau participant sélectionné).</dd>
						<dt>6. CONDITIONS GÉNÉRALES</dt>
						<dd>Toutes les participations deviennent la propriété du commanditaire.  Le présent concours est soumis à toutes les lois fédérales, provinciales et municipales en vigueur.  Les décisions du commanditaire concernant tous les aspects du présent concours sont définitives, obligatoires et sans droit d’appel quant à tous les participants, y compris, mais sans s’y limiter, toute décision concernant l’admissibilité et la disqualification des participants et des participations.  En participant au présent concours, vous acceptez d’être lié légalement par le présent règlement officiel.</dd>
						<dd>Les renonciataires ne seront tenus responsables : (i) d’aucune défaillance du site Web pendant la période du concours; (ii) d’aucune défaillance technique ni d’aucun autre problème concernant les réseaux ou les lignes téléphoniques, les systèmes informatiques en ligne, serveurs, fournisseurs d’accès, matériel informatique et logiciels; (iii) d’aucune absence de réception d’une participation pour quelque raison que ce soit, y compris, mais sans s’y limiter, tout problème technique ou de congestion de trafic sur l’Internet ou d’un site Web; (iv) d’aucune blessure corporelle ni d’aucuns dégâts matériels à l’ordinateur d’aucun participant ni d’aucune autre personne par rapport à ou résultant de la participation au présent concours; et (iv) ni d’aucune combinaison des facteurs qui précèdent.</dd>
						<dd>En cas de différend concernant l’identité de la personne qui a soumis une participation, les participations seront considérées comme ayant été soumises par le détenteur autorisé du compte de l’adresse courriel soumise au moment de la participation.  Le «détenteur autorisé du compte» est défini comme étant la personne à laquelle est assignée une adresse courriel par un fournisseur d’accès à l’Internet, un fournisseur de services en ligne ou toute autre organisation (par ex. commerce, établissement d’enseignement...) responsable d’assigner des adresses courriel pour le domaine associé à l’adresse courriel soumise.  Il peut être demandé à tout participant de fournir la preuve (sous une forme acceptée par le commanditaire, y compris, mais sans s’y limiter, une pièce d’identité avec photo émise par les autorités), qu’il est bien le détenteur autorisé du compte associé à l’adresse courriel soumise avec la participation sélectionnée.</dd>
						<dd>Sous réserve de l’approbation de la Régie des alcools, des courses et des jeux du Québec (la «Régie»), le commanditaire se réserve le droit d’annuler, de modifier ou d’interrompre le présent concours (ou d’en modifier le présent règlement) d’une manière quelconque, au cas où une erreur, un problème technique, un virus informatique, un bogue, une tentative d’altération, une intervention non autorisée, une fraude, une défaillance technique ou toute autre cause indépendante de la volonté du commanditaire altérerait la bonne conduite du présent concours conformément au présent règlement.  Toute tentative d’endommager de façon délibérée tout site Web ou de gêner le fonctionnement légitime du présent concours de façon quelconque (selon la détermination du commanditaire, à sa seule discrétion absolue) est une violation des lois civiles et pénales; en cas d’une telle tentative, le commanditaire se réserve le droit de réclamer des dommages-intérêts dans les mesures maximales permises par la loi.  Sous réserve de l’approbation de la Régie, le commanditaire se réserve le droit d’annuler, de modifier ou d’interrompre le présent concours ou d’en modifier le présent règlement, sans préavis ni obligation quelconque, en cas d’accident, d’erreur d’impression, administrative ou autre de tous genres, ou pour toute autre raison quelconque.</dd>
						<dd>Personnes résidant au Québec : Tout différend concernant l’organisation et la façon dont est mené un concours publicitaire peut être soumis à la Régie des alcools, des courses et des jeux du Québec afin qu’il soit tranché.  Tout différend concernant l’attribution d’un prix peut être soumis à la Régie uniquement aux fins d’aider les parties à le régler.</dd>
						<dd>En participant au présent concours, chaque participant consent de façon explicite à ce que le commanditaire ou ses agents ou ses représentants stockent, partagent et utilisent les renseignements personnels soumis pour la participation au concours dans le seul but de gérer le concours et conformément à la politique du commanditaire relative à la protection de la vie privée (disponible sur http://www.honda.ca/privacy), à moins que le participant n’accepte autrement.</dd>
						<dd>Le commanditaire se réserve le droit, à sa seule discrétion absolue et sans préavis, de modifier les dates ou les périodes stipulées dans le présent règlement, dans la mesure nécessaire, à des fins de vérification de la conformité au présent règlement d’un participant ou d’une participation, ou à la suite d’un problème technique ou autre, ou en présence d’autres circonstances qui, de l’avis du commanditaire et à sa seule discrétion absolue, entraveraient la bonne gestion du concours conformément au présent règlement, ou pour toute autre raison.</dd>
						<dd>En cas de différence ou de manque de cohérence entre les conditions du présent règlement et dans les communications ou autres déclarations contenues dans d’autres matériels concernant le présent concours, y compris, mais sans s’y limiter, sur le formulaire de participation au concours, sur le site Web, dans la présente version en français du présent règlement, ou sur le point de vente, ou dans la publicité à la télévision, imprimée ou sur l’Internet, les conditions de la version anglaise du présent règlement font autorité et prévalent.</dd>
					</dl>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->