<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_waterpumps_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt-active"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/waterpumps_thumb_01_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">UNE GAMME COMPLÈTE DE PUISSANCE</p>
								<p>La vaste gamme des pompes à eau Honda vous permet de choisir la meilleure pompe pour faire le travail, depuis le vidage d’une piscine jusqu’à la lutte contre un incendie. La gamme comprend des pompes de transfert, de transfert de luxe, à haute pression, et de vidange. Chacune est équipée d’un moteur robuste à usage commercial qui rend les pompes faciles à utiliser, durables et fiables, que leur utilisation soit résidentielle ou professionnelle. Avec Honda, vous pouvez pratiquement tout accomplir.</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/waterpumps_thumb_02_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">UNE GAMME COMPLÈTE D'OPTIONS</p>
								<p>Les pompes à eau Honda ont des supports en caoutchouc installés entre l'unité et le cadre d’aluminium pour réduire les vibrations. Équipant les pompes de transfert de luxe et les pompes de vidange, nos supports de caoutchouc à rendement élevé minimisent les vibrations pour contribuer à maintenir la pompe en place, réduire le stress et l’usure, tout en favorisant un fonctionnement silencieux. Honda a pensé à tous détails afin d’offrir une performance exceptionnelle.</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_waterpumps_fr.jpg" class="pf" alt="" />
						<p>Ça commence avec un excellent moteur Honda. Un moteur convoité et même utilisé par certains de nos concurrents. De là, nous avons conçu des pompes à eau pour travailler de concert avec notre moteur et offrir une performance sans précédent. La vaste gamme des pompes à eau Honda vous permet de choisir la meilleure pompe pour faire le travail, depuis le vidage d’une piscine jusqu’à la lutte contre un incendie. Elles sont équipées de moteurs Honda de qualité commerciale et sont facilement transportables avec des boîtiers en aluminium et des poignées sur les petits modèles. Choisissez une pompe qui saura faire le travail. C’est la qualité Honda à 100 % que l’on retrouve sur les Produits Mécaniques Honda à 100 %. Disponibles auprès d’un réseau complet de concessionnaires experts des Produits Mécaniques Honda.</p>
						<a href="#" class="btn-secondary-alt"><span>Apprenez-en plus<br />sure les moteur Honda</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							Tous les modèles:
						</td>
						<td>
							Entraînés par des moteurs 4-temps Honda, silencieux, efficaces et faciles à démarrer • Conception à autoamorçage • Si l’huile baisse sous le niveau sécuritaire de fonctionnement, le système Oil AlertMC coupe automatiquement le moteur
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 100 $</span>
							<span class="price-current">Maintenant seulement 459 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">WX10K1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WX10K1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Facile à transporter pour l’entretien de piscine, remplissage de réservoirs d'eau au chalet et petits travaux de drainage</li>
								<li>Déplace jusqu’à 140 litres (31 gal. Imp.) par minute par des orifices d'aspiration et de sortie de 25,4 mm (1 po) et peut raccorder un boyau de jardin à la sortie</li>
								<li>Légère et compacte, seulement 6,1 kg (13,4 lb)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Maintenant seulement 829 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">WH15XK2C1</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WH15XK2C1.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Effectuez une multitude de tâches, allant du transfert d'eau à l’irrigation avec cette pompe haut débit et haute pression de catégorie commerciale</li>
								<li>Conçue pour l’utilisation avec gicleur de tuyau d’incendie, pour pulvériser sur plus grande distance ou pour l’irrigation</li>
								<li>Déplace jusqu’à 400 litres (88 gal. Imp.) par minute par des orifices d’aspiration et de sortie de 38 mm (1,5 po)</li>
								<li>Poignée de transport pratique et crépine de tuyau</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Maintenant seulement 539 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">WB20XT2C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/waterpump_WB20XT2C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Moteur de catégorie commerciale pour les tâches plus exigeantes</li>
								<li>Déplace jusqu’à 600 litres (132 gal. Imp) par minute par des orifices d’aspiration et de sortie de 50 mm (2 po)</li>
								<li>Cadre complet avec système de montage antivibrations contribuant à éviter qu’elle s'enfonce dans un sol mou</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>Voyez la gamme complète des modèles <a href="#">cliquez ici</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->