<!--#include virtual="/shared/inc/application_top.html"-->
<body class="power-event french">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/power_event.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="header">
					<img src="/_Global/img/content/pe/power-event/header_generators_fr.jpg" alt="" />
					<div class="header-nav-container">
						<ul class="fc header-nav">
							<li><a href="power_event_lawnmowers.html" class="btn-primary-alt"><span>TONDEUSES</span></a></li>
							<li><a href="power_event_generators.html" class="btn-primary-alt-active"><span>GÉNÉATRICES</span></a></li>
							<li><a href="power_event_trimmers.html" class="btn-primary-alt"><span>TAILLE-BORDURES</span></a></li>
							<li><a href="power_event_tillers.html" class="btn-primary-alt"><span>MOTOCULTEURS</span></a></li>
							<li><a href="power_event_water_pumps.html" class="btn-primary-alt"><span>POMPES À EAU</span></a></li>
							<li><a href="power_event_contest_details.html" class="btn-primary-alt"><span>DÉTAILS DU CONCOURS</span></a></li>
						</ul>
					</div>
				</div>
				<dl class="fc col-2">
					<dd class="fl">
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_01_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">ELLE EXCELLE DANS LES HIVERS CANADIENS </p>
								<p>Avec la technologie pour climat froid Cold Climate TechnologyMC de Honda sur chaque génératrice, notre système exclusif de chauffage du tube de ventilation du carter contribue à prévenir les arrêts de génératrice et à ne pas vous laisser tomber par grand froid. (Sur tous les modèles.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_02_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">PLEINE PUISSANCE À 120 OU 240 VOLTS</p>
								<p>Obtenez toute la puissance d’une génératrice Honda à double tension. Alors que certaines autres procurent seulement la moitié du rendement maximal à 120 ou 240 volts en utilisant les deux tensions, l’impressionnante technologie de Sélecteur de tension Honda alloue autant ou aussi peu de puissance que ce qui est requis à chacune des tensions, jusqu’au rendement maximum de votre génératrice. Obtenir le plein potentiel de votre génératrice ne devrait pas être une option. (Sur les modèles EU6500is1C et EM5000S3C.)</p>
							</div>
						</div>
						<div class="fc product-features">
							<div class="fl thumbnail">
								<img src="/_Global/img/content/pe/power-event/generators_thumb_03_fr.jpg" class="pf" alt="" />
							</div>
							<div class="fr description">
								<p class="heading">POUR ALIMENTER LES APPAREILS ÉLECTRONIQUES SOPHISTIQUÉS</p>
								<p>Honda a été la première à développer des génératrices capables d’alimenter les appareils électroniques sensibles. Avec la technologie Inverter, les brusques pointes de tension sont contrôlées et régularisées à la même uniformité que vos prises de courant à la maison. La série Inverter s'étend de 1 000 à 6 500 watts pour alimenter pratiquement tout, de l’ordinateur portable jusqu’aux chalets les plus énergivores. Pas étonnant qu’une ingénierie remarquable soit le point fort de Honda. (Sur tous nos modèles EU.)</p>
							</div>
						</div>
					</dd>
					<dd class="fr honda-great">
						<img src="/_Global/img/content/pe/power-event/100_honda_generators_fr.jpg" class="pf" alt="" />
						<p>Ça commence avec un excellent moteur Honda. Un moteur convoité et même utilisé par certains de nos concurrents. De là, nous avons conçu une génératrice pour travailler de concert avec notre moteur et offrir une performance sans précédent. Les génératrices Honda sont douces à l’oreille et fonctionnent de façon si raffinée que c’est la qualité avant tout que vous remarquez. D'autres caractéristiques méritent aussi d'être citées. Des caractéristiques comme leur portabilité: du modèle léger à treize kilos seulement, aux ensembles de roues et de poignées sur plusieurs modèles. C'est de la qualité Honda authentique à 100 % qui n’existe que sur les Produits Mécaniques Honda à 100 %. Disponible auprès d’un réseau complet de concessionnaires experts en Produits Mécaniques Honda.</p>
						<a href="#" class="btn-secondary-alt"><span>Apprenez-en plus<br />sure les moteur Honda</span></a>
					</dd>
				</dl>
				<table class="all-models">
					<tr>
						<td>
							Tous les modèles:
						</td>
						<td>
							Actionnés par des moteurs 4-temps Honda, silencieux, efficaces et faciles à démarrer • Niveau sonore réduit et efficacité accrue avec Eco-ThrottleMC sur modèles Inverter • Système Oil AlertMC coupant le moteur automatiquement si l’huile baisse sous un niveau sécuritaire de fonctionnement • Protégés contre les surcharges par un disjoncteur sur chacune des prises • Conforme à la certification canadienne CSA (Association canadienne de normalisation)
						</td>
					</tr>
				</table>
				<div class="product-list">
					<dl class="fc products">
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 100 $</span>
							<span class="price-current">Maintenant seulement 1 049 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EU1000iKC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU1000iKC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Légère et portable à 13,2 kg (29 lb) seulement; parfaite pour le chalet, le camping ou les activités nautiques</li>
								<li>Technologie Inverter et 1 000 watts de courant convenant aux appareils électroniques sensibles</li>
								<li>Fonctionnement silencieux, de 52 à 57 dB(A); une simple conversation produit 60 dB(A)</li>
								<li>Jusqu’à 4 heures de fonctionnement continu à charge nominale maximale ou jusqu'à 8 heures à 25 % de charge sur un seul réservoir</li>
								<li>Capacité de connexion avec une autre EU 1000iKC2 pour produire 2 000 watts (câble optionnel de branchement en parallèle requis)</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 100 $</span>
							<span class="price-current">Maintenant seulement 1 349 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EU2000KC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU2000KC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
							   <li>Légère et facile à transporter, parfaite pour l’alimentation électrique à quai, au camping ou d'urgence à la maison</li>
							   <li>Technologie Inverter et 2 000 watts de courant convenant aux appareils électroniques sensibles et à plusieurs petits électroménagers</li>
							   <li>Fonctionnement silencieux, 53 à 59 dB(A); une simple conversation produit 60 dB(A)</li>
							   <li>Jusqu’à 4 heures de fonctionnement continu à charge nominale maximale ou jusqu’à 10,5 heures à 25 % de charge sur un seul reservoir</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="limited-time">Pour un temps limité</span>
							<span class="price-save">Épargnez 150 $</span>
							<span class="price-current">Maintenant seulement 2 449 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EU3000isC2</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU3000isC2.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
							   <li>Excellente pour les VR – alimentera même un climatiseur de 13 500 BTU/h</li>
							   <li>Technologie Inverter et 3 000 watts de courant convenant aux appareils électroniques sensibles et à bon nombre de plus gros électroménagers</li>
							   <li>Une des plus silencieuses sur le marché, 48 à 58 dB(A); une simple conversation produit 60 dB(A)</li>
							   <li>Démarrage électrique pratique et démarreur auxiliaire à rappel</li>
							   <li>Réservoir de 13 litres allouant jusqu'à 7,2 heures de fonctionnement continu à charge nominale maximale ou jusqu'à 20 heures à 25 % de charge </li>
							   <li>Transport facile avec la trousse de 4 roues en option</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
					<dl class="fc products">
						<dd class="fl">
							<span class="price-current">Maintenant seulement 4 849 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EU6500is1C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EU6500is1C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
							  <li>La plus puissante génératrice Inverter avec 6 500 watts, parfaite pour diverses tâches à la maison, au travail, à des événements extérieurs, au chalet ou l’alimentation d’urgence à la maison</li>
							  <li>Configuration bi-tension</li>
							  <li>Réservoir à essence de 16,5 litres allouant jusqu’à 4,6 heures de fonctionnement continu à charge nominale maximale ou jusqu'à 14 heures à 25 % de charge</li>
							  <li>Fonctionnement silencieux de 60 dB(A) égal à une simple conversation</li>
							  <li>Transport facile avec les roues robustes et la poignée rabattable</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Maintenant seulement 2 849 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EM5000S3C</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EM5000S3C.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Parfaite comme source de courant d’appoint ou usage commercial avec le démarrage électrique pratique 12 VCC et le démarrage d’appoint manuel à rappel</li>
								<li>5 000 watts de puissance en configuration bitension</li>
								<li>Régulateur automatique de tension intelligent (iAVR) exclusif qui procure un courant stable et une puissance accrue à 7 000 watts durant 10 secondes, pour la puissance réactive </li>
								<li>Réservoir à essence de 24 litres allouant jusqu’à 8,1 heures de fonctionnement continu à charge nominale maximale ou jusqu'à 11,2 heures à 50% de charge</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
						<dd class="fl">
							<span class="price-current">Maintenant seulement 949 $</span>
							<span class="freight">Transport et préparation inclus</span>
							<span class="model">EP2500CX1</span>
							<div class="product-image">
								<img src="/_Global/img/content/pe/power-event/generator_EP2500CX1.png" class="pf" alt="" />
							</div>
							<ul class="product-features">
								<li>Produit 2 500 watts de courant convenant à la plupart des pompes de puisard, moteurs de fournaise ou réfrigérateurs en utilisation d’urgence</li>
								<li>Réservoir de 14,5 litres, plus grand que la plupart des modèles concurrents, procurant jusqu’à 10,2 heures de fonctionnement continu à charge nominale maximale ou jusqu’à 15,3 heures à 50% de charge</li>
							</ul>
							<ul class="product-warranty">
								<li>GARANTIE DU DISTRIBUTEUR DE</li>
								<li>36 MOIS EN USAGE NON-COMMERCIAL,</li>
								<li>12 MOIS EN USAGE COMMERCIAL</li>
							</ul>
							<p class="product-specs">Voir les caractéristiques completes du produit <a href="#">cliquez ici</a></p>
						</dd>
					</dl>
				</div>
				<div class="lineup">
					<p>Voyez la gamme complète des modèles <a href="#">cliquez ici</a></p>
				</div>
			</div>
			<div class="fc content_section footer">
				<div class="fl disclaimer">
					<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués incluent les frais de transport et de préparation mais n'incluent pas les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de détail avant les taxes. Les économies réalisées peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 avril 2012. Prix/caractéristiques techniques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Chez les concessionnaires de Produits Mécaniques Honda participants du Québec seulement. Les modèles et les couleurs peuvent différer légèrement. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda pour les détails complets.</p>
				</div>
				<div class="fr find-a-dealer">
					<a href="#">
						<img src="/_Global/img/content/pe/power-event/btn_find_dealer_fr.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->