<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/pe/inc/product-features.html"-->
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf ">
				<ul class="fc tabs_horizontal"> 
                    <li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
                    <li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-specs.html">Specifications</a></li>
                    <li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
                    <div class="specs">
                        <div class="content_section first_section">
                            <div class="h1">Specifications</div>

                            <table class="specs_chart">
                                <tr class="first">
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr>
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                                <tr class="last">
                                    <th><a href="product-specs.html#">Engine Type</a></th>
                                    <td>Sed ut perspiciatis</td>
                                </tr>
                            </table>

                            <h2><img src="/_Global/img/layout/icon_measurement.png" alt="" class="pf" /> Measurement</h2>

                            <div class="fc download_pdf">
                                <div class="fl download_copy">
                                    <p><strong>Ut sagittis tincidunt dictum maecenas ut tellus diam vitae</strong><br/>
                                    Onec commodo, mauris vitae aliquam hendrerit, nunc arcu facilisis eros, at vulputate erat...</p>
                                </div>
                                <div class="fr download_button">
                                    <a href="product-specs.html#" class="btn primary"><span>Download PDF</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="content_section">
                            <div class="h1">Warranty</div>
                            <h2 class="small">Standard Warranty</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae quae aperiam eaque <a href="product-specs.html#">distributor's warranty info sheet</a> or visit our <a href="product-specs.html#">Warranty section</a>.</p>

                            <div class="sub_section">
                                <h2 class="small">Honda Plus extended Warranty</h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explica <a href="product-specs.html#">Warranty section</a>.</p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/parts_service.html"-->
            <!--#include virtual="/shared/inc/widgets/safety.html"-->
            <!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
            <!--#include virtual="/shared/inc/widgets/reviews.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->