<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/pe/layout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/pe/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/parts_service.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/reviews.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div id="inner_page_content" class="content_container">
                    <div class="overview">
                        <div class="content_section first_section">
                            <div class="h1">Overview</div>
                            <p class="large">The 4-in-1 Honda HRX2172HXC has the unique Versamow<sup>TM</sup> System that can simultaneously distribute grass clippings to both the bag and the ground. The HRX2172HXC features a powerful, Honda GCV190, overhead cam engine, Roto-Stop&reg; blade stop system that stops and starts the blade rotation while the engine keeps running, and a variable-speed hydrostatic transmission. It can also be changed from bagging to mulching, rear discharge and leaf shredding in seconds, without tools or additional parts.</p>
                            <p class="small">Find out where you can buy a Honda Lawnmower</p>
                            <p><a href="product-overview.html#" class="btn secondary"><span>Find a Dealer</span></a></p>
                        </div>
                        <div class="content_section mb30">
                            <h2><img src="/_Global/img/content/products/icon_sun.png" alt="" class="pf" /> Why Buy a Honda Lawnmower?</h2>
                            <p class="large">Every Honda lawnmower features a reliable 4-stroke engine that delivers smooth, quiet performance. Plus, all Honda lawnmowers meet or exceed EPA (Environmental Protection Agency) and CARB (California Air Resources Board) emissions standards.</p>
							<p class="why-buy-link-more"><a href="#advantage-expanded" property="act:more-text">Read More</a></p>
                            
							<div id="advantage-expanded">
								<div class="sub_section">
									<h2 class="small">Honda Advantage Technologies</h2>
									<p>At Honda, innovation isn't just a buzzword. Innovation is the driving force behind every product we engineer. We take mowing your lawn as seriously as you do, which is why Honda has developed unique technologies and features you just can't find on any other mower.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">NeXite<sup>TM</sup> Deck</h2>
									<p>Exclusive to Honda's HRX mowers, NeXite<sup>TM</sup> was developed to resist dents, rust and corrosion. NeXite has similar strength and impact resistance to polymer materials commonly found in football helmets and car bumpers, where it's critical to have a strong, yet lightweight material. Durable and easy to clean, the NeXite deck is the ideal mower deck.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">RotoStop<sup>TM</sup> Blade Stop System</h2>
									<p>This advanced system stops and starts the blade rotation while the engine keeps running. This saves you time by eliminating the need for engine restarts when you empty the bag, cross gravel paths or move obstacles out of your way.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">QuadraCut<sup>TM</sup> and MicroCut<sup>TM</sup></h2>
									<p>Only Honda lawnmowers feature the twin-blade, QuadraCut<sup>TM</sup> mowing system, which provides four cutting surfaces to produce ultrafine clippings for better mulching and increased bag capacity. Smaller clippings decompose more quickly, adding valuable nutrients to your lawn. The Honda MicroCut<sup>TM</sup> twin-blade system, designed exclusively to work with the HRX Series decks, produces even finer clippings to further enhance cutting efficiency.</p>
									<ul class="overview-list">
										<li>Manual Feed - Easily adjustable, spring-loaded twin .095" lines deliver a polished cut. Standard on HHT35SUKCT model.</li>
										<li>Semi-matic - A quick, simple tap on a flat surface supplies two .095" lines for light jobs. Standard on HHT25SLTC, HHT25SUT4C and HHT35SLTCT models.</li>
										<li>Semi-pro - Pro-grade semi-matic head dispenses two .095" lines with a quick tap (Optional).</li>
										<li>Pro-tap - Heavy-duty head feeds two .105" lines with tap on a flat surface (Optional).</li>
									</ul>
								</div>
								
								<p class="why-buy-link-less"><a href="#advantage-expanded" property="act:less-text">Collapse</a></p>
							</div>
						</div>
						<div class="content_section nb np nm">
                            <div class="fc feature_box">
                                <div class="fl feature_box_l">
                                    <div class="watch_now_copy">
                                        <h2 class="np small">See all Honda Power Equipment videos on YouTube</h2>
                                        <p>Fusce cursus placerat magna a gravida. Duis semper luctus sodales. Donec adipiscing malesuada posuere.</p>
                                        <div class="divider"></div>
                                        <div class="btn">
                                            <a href="product-overview.html#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fr feature_box_r">
                                    <div class="btn_youtube">
                                        <a href="#">
                                            <img src="/_Global/img/content/products/btn_youtube.gif" alt="Watch now" class="pf" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_section nb recently_viewed">
                            <h2><img src="/_Global/img/content/products/icon_recent.gif" alt="" /> Recently Viewed</h2>

                            <div class="fc bottom_feature_inner">
                                <ul class="fc fl recently_viewed_product">
                                    <li class="fl nm pf product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">hrx2172hxc</a></h3>
                                            <div class="price">
                                                $999
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">hrx2172hxc</a></h3>
                                            <div class="price">
                                                $999
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">hrx2172hxc111 Camoflauge</a></h3>
                                            <div class="price">
                                                $999
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="fr recently_viewed_compare">
                                    <p class="np compare-these"><strong>Compare these Lawnmowers</strong></p>
                                    <a href="product-overview.html#" class="btn primary"><span>Compare</span></a>
                                </div>
                            </div>
					    </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn" style="display:block;">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<!--<div class="pf popup-image-top-l-cap">
			<div class="fr pf popup-image-top-r-cap"></div>
		</div>-->
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<!--<div class="pf popup-image-bottom-l-cap">
			<div class="pf popup-image-bottom-r-cap"></div>
	</div>-->
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->