<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-product-listing">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="banner">
					<img src="/_Global/img/content/products/banner_lawnmowers.jpg" alt="Lawnmowers" />
				</div>
				
				<div class="feature_header">
					<div class="h2">Why Buy a Honda Lawnmower?</div>
					<p>Honda has developed unique technologies and features you just can't find on any other Lawnmower.</p>
				</div>
				
				<table class="feature_box">
					<tr>
						<td class="top_cap">
							<img src="/_Global/img/content/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
					</tr>
					
					<tr>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
					</tr>
					
					<tr>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<ul class="fc tabs_horizontal"> 
				<li class="fl first"><a rel="#all_lawnmowers" class="inner_page_link" href="product-listing.html">All Lawnmowers</a></li>
				<li class="fl last"><a rel="#choose_model" class="selected inner_page_link" href="product-listing-choose-model.html">Choose a Model</a></li>
			</ul>
			<div class="content_container choose">
				<div class="fc content_section first_section">
					<h1 class="fl">Honda Lawnmowers</h1>
					
					<p class="fr"><a href="javascript:void(0)" class="btn secondary filter-reset"><span>Reset</span></a></p>
				</div>
				<div class="content_section primary_section" id="ChooseModel">
                <!-- filter area implementation:
                data-filter: the name of the filter used in the product items
                data-filter-name: the name used in the input radio boxes
                data-filter-type: range or radio (default)
                -->
					<div class="fc pf sliders-box-group sliders-box-group-of-5">
						<div class="first sliders-box filter-control"
                             property="honda:model-filter"
                             data-filter="value-1"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Transmission</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help1"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="1" />
                                    <label for="check1">Push</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="2" />
                                    <label for="check1">Single Speed</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="3" />
                                    <label for="check1">Variable</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="4" />
                                    <label for="check2">Hydrostatic</label>
                                </div>
							</div>
						</div>
						<div class="sliders-box"
                             property="honda:model-filter"
                             data-filter="value-2"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Mulching System</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help2"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="mulching_system_1" type="radio" name="mulching_system" value="1" />
                                    <label for="mulching_system_1">Standard</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="mulching_system" value="2" />
                                    <label for="check1">QuadraCut<sup>TM</sup></label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="mulching_system" value="3" />
                                    <label for="check1">MicroCut<sup>TM</sup></label>
                                </div>
							</div>
						</div>
						<div class="sliders-box"
                             property="honda:model-filter"
                             data-filter="value-3"
                             data-filter-default-value=""
                             data-filter-type="radio">
							<h3>Deck Type</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help3"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input type="radio" name="deck_type" value="1" />
                                    <label for="check1">Side Discharge</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="deck_type" value="2" />
                                    <label for="check1">Rear Bag</label>
                                </div>
							</div>
						</div>
						<div class="sliders-box range-sliders-box"
                             property="honda:model-filter"
                             data-filter="value-4"
                             data-filter-min="35"
                             data-filter-type="range"
                             data-filter-max="61">
							<h3>Bag Capacity</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help4"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">35 Litres</span>
								<span class="fr">61 Litres</span>
							</div>
						</div>
						<div class="last sliders-box"
                             property="honda:model-filter"
                             data-filter="value-5"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Deck Material</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help5"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="deck_material_1" type="radio" name="deck_material" value="1" />
                                    <label for="deck_material_1">Steel</label>
                                </div>
                                <div class="fc field">
                                    <input id="deck_material_2" type="radio" name="deck_material" value="0" />
                                    <label for="deck_material_2">Nexite<sup>TM</sup></label>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="fc pf sliders-box-group sliders-box-group-of-4">
						<div class="first sliders-box filter-control"
                             property="honda:model-filter"
                             data-filter="value-1"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Transmission</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help1"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="1" />
                                    <label for="check1">Push</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="2" />
                                    <label for="check1">Single Speed</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="3" />
                                    <label for="check1">Variable</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="4" />
                                    <label for="check2">Hydrostatic</label>
                                </div>
							</div>
						</div>
						<div class="sliders-box"
                             property="honda:model-filter"
                             data-filter="value-2"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Mulching System</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help2"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="mulching_system_1" type="radio" name="mulching_system" value="1" />
                                    <label for="mulching_system_1">Standard</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="mulching_system" value="2" />
                                    <label for="check1">QuadraCut<sup>TM</sup></label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="mulching_system" value="3" />
                                    <label for="check1">MicroCut<sup>TM</sup></label>
                                </div>
							</div>
						</div>
						<div class="sliders-box range-sliders-box"
                             property="honda:model-filter"
                             data-filter="value-4"
                             data-filter-min="35"
                             data-filter-type="range"
                             data-filter-max="61">
							<h3>Bag Capacity</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help4"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">35 Litres</span>
								<span class="fr">61 Litres</span>
							</div>
						</div>
						<div class="last sliders-box"
                             property="honda:model-filter"
                             data-filter="value-5"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Deck Material</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help5"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="deck_material_1" type="radio" name="deck_material" value="1" />
                                    <label for="deck_material_1">Steel</label>
                                </div>
                                <div class="fc field">
                                    <input id="deck_material_2" type="radio" name="deck_material" value="0" />
                                    <label for="deck_material_2">Nexite<sup>TM</sup></label>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="fc pf sliders-box-group sliders-box-group-of-3">
						<div class="first sliders-box filter-control"
                             property="honda:model-filter"
                             data-filter="value-1"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Transmission</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help1"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="1" />
                                    <label for="check1">Push</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="2" />
                                    <label for="check1">Single Speed</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="3" />
                                    <label for="check1">Variable</label>
                                </div>
                                <div class="fc field">
                                    <input type="radio" name="transmission" value="4" />
                                    <label for="check2">Hydrostatic</label>
                                </div>
							</div>
						</div>
						<div class="sliders-box range-sliders-box"
                             property="honda:model-filter"
                             data-filter="value-4"
                             data-filter-min="35"
                             data-filter-type="range"
                             data-filter-max="61">
							<h3>Bag Capacity</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help4"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">35 Litres</span>
								<span class="fr">61 Litres</span>
							</div>
						</div>
						<div class="last sliders-box"
                             property="honda:model-filter"
                             data-filter="value-5"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Deck Material</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help5"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="deck_material_1" type="radio" name="deck_material" value="1" />
                                    <label for="deck_material_1">Steel</label>
                                </div>
                                <div class="fc field">
                                    <input id="deck_material_2" type="radio" name="deck_material" value="0" />
                                    <label for="deck_material_2">Nexite<sup>TM</sup></label>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="fc pf sliders-box-group sliders-box-group-of-2">
						<div class="sliders-box range-sliders-box"
                             property="honda:model-filter"
                             data-filter="value-4"
                             data-filter-min="35"
                             data-filter-type="range"
                             data-filter-max="61">
							<h3>Bag Capacity</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help4"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">35 Litres</span>
								<span class="fr">61 Litres</span>
							</div>
						</div>
						<div class="last sliders-box"
                             property="honda:model-filter"
                             data-filter="value-5"
                             data-filter-type="radio"
                             data-filter-default-value="">
							<h3>Deck Material</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help5"></a>
							
							<div class="fc slider-controls">
                                <div class="fc field">
                                    <input id="deck_material_1" type="radio" name="deck_material" value="1" />
                                    <label for="deck_material_1">Steel</label>
                                </div>
                                <div class="fc field">
                                    <input id="deck_material_2" type="radio" name="deck_material" value="0" />
                                    <label for="deck_material_2">Nexite<sup>TM</sup></label>
                                </div>
							</div>
						</div>
					</div>
					
					<div class="fc product">
                    <!-- product listing area implementation:
                    data-filter-value-1: value of the filter area
                    data-filter-value-2: value of the filter area
                    data-filter-value-3: value of the filter area
                    data-filter-value-4: value of the filter area
                    data-filter-value-5: value of the filter area

                    value-x should match what is specified in the filter area.
                    -->
                        <div
                                data-filter-value-1="1"
                                data-filter-value-2="2"
                                data-filter-value-3="2"
                                data-filter-value-4="35"
                                data-filter-value-5="1"
                                class="fl first product-item">
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-1"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip.html"
                                data-popup-handler="rollover"
                                ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading"><a href="#">hrx2172hxc</a></h3>

                            <div class="fc original price">
                                <del><span class="strike"></span><strong>$999</strong></del>
                                <span>MSRP</span>
                            </div>
                            <div class="fc final price multiline">
                                <strong>$899</strong>
                                <span>Manufacturer<br/>
                                    Discounted Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="2"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="40"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-2"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="3"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="45"
                             data-filter-value-5="1"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-3"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="4"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="50"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-4"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="1"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="55"
                             data-filter-value-5="1"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-5"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="2"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="60"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-6"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-right"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item first"
                             data-filter-value-1="3"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="35"
                             data-filter-value-5="1"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-7"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="4"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="40"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-8"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="1"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="45"
                             data-filter-value-5="1"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-9"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="2"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="50"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-a"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="3"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="55"
                             data-filter-value-5="1"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-b"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
                        <div class="fl product-item"
                             data-filter-value-1="4"
                             data-filter-value-2="2"
                             data-filter-value-3="2"
                             data-filter-value-4="60"
                             data-filter-value-5="0"
                                >
                            <div class="product-image"
                                property="act:popup"
                                data-id="model-c"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-top-alt toolbox-left"
                                data-popup-content-url="inc/product-listing-product-tooltip-detail1.html"
                                data-popup-handler="rollover"
                                    ><a href="#" rel="nofollow"><img src="" width="125" height="125" /></a></div>

                            <h3 class="price-heading">hrx2172hxc</h3>

                            <div class="fc original price">
                                <strong>$999</strong>
                                <span>MSRP</span>
                            </div>
                            <div class="fc special price">
                                <strong>$100</strong>
                                <span>Discount</span>
                            </div>
                            <div class="fc final price">
                                <strong>$899</strong>
                                <span>Your Price</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div><!-- IE QUIRK --></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
                <div class="nb content_section compare" id="CompareWidget">
                    <h2>Compare Lawnmowers</h2>
                    <div class="fc bottom_feature_inner">
                        <ul class="fc fl product">
                            <li class="fc fl pf first product-item">
                                <div class="fl list-steps">1</div>

                                <div class="fl product-item-inner">
                                    <div class="add-model">Add a Model<br />
                                        to Compare</div>
                                    <h3 class="price-heading dn">hrx2172hxc-12</h3>

                                    <div class="final price dn">
                                        <strong class="tag-price">$1099</strong>
                                        <span class="tag-text-msrp">MSRP</span>
                                    </div>
                                </div>

                                <a class="fl pf btn-remove dn" href="product-listing.html#"></a>
                            </li>
                            <li class="fc fl pf product-item">
                                <div class="fl list-steps">2</div>

                                <div class="fl product-item-inner">
                                    <div class="add-model">Add a Model<br />
                                        to Compare</div>
                                    <h3 class="price-heading dn">hrx2172hxc Camo</h3>

                                    <div class="final price dn">
                                        <strong class="tag-price">$1099</strong>
                                        <span class="tag-text-msrp">MSRP</span>
                                    </div>
                                </div>

                                <a class="fl pf btn-remove dn" href="product-listing.html#"></a>
                            </li>
                            <li class="fc fl pf product-item">
                                <div class="fl list-steps">3</div>

                                <div class="fl product-item-inner">
                                    <div class="add-model">Add a Model<br />
                                        to Compare</div>
                                    <h3 class="price-heading dn">hrx2172hxc Hybrid</h3>

                                    <div class="final price dn">
                                        <strong class="tag-price">$1099</strong>
                                        <span class="tag-text-msrp">MSRP</span>
                                    </div>
                                </div>

                                <a class="fl pf btn-remove dn" href="product-listing.html#"></a>
                            </li>
                            <li class="fc fl pf product-item">
                                <div class="fl pf list-steps">4</div>

                                <div class="fl product-item-inner">
                                    <div class="add-model">Add a Model<br />
                                        to Compare</div>
                                    <h3 class="price-heading dn">hrx2172hxc Hybrid</h3>

                                    <div class="final price dn">
                                        <strong class="tag-price">$1099</strong>
                                        <span class="tag-text-msrp">MSRP</span>
                                    </div>
                                </div>
                                <a class="fl pf btn-remove dn" href="product-listing.html#"></a>
                            </li>
                        </ul>

                        <div class="fl recently_viewed_compare">
                            <p class="np nm compare-these"><strong>Compare<br />
                                these Lawnmowers</strong></p>
                            <a href="product-listing.html#" class="btn primary btn-submit"><span>Compare</span></a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<div id="product-sliders-help1" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [1]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help2" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [2]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help3" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [3]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help4" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [4]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help5" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [5]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-listing.js"></script>
<script type="text/javascript" src="/_Global/js/sections/choose-model.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->