<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/pe/inc/product-features.html"-->
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
                    <li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
                    <li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
                    <li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-accessories.html">Accessories</a></li>
				</ul>
				<div class="content_container" id="inner_page_content">
                    <div class="accessories">
						<div class="fc content_section first_section">
                            <div class="fl h1">Accessories</div>
							<div class="province-selector fr">
								<select id="accessory_province"><option value="BC" class="95.00">British Columbia</option><option value="AB" class="95.00">Alberta</option><option value="SK" class="95.00">Saskatchewan</option><option value="MB" class="95.00">Manitoba</option><option value="ON" class="95.00">Ontario</option><option value="QC" class="95.00">Quebec</option><option value="NB" class="95.00">New Brunswick</option><option value="NS" class="95.00">Nova Scotia</option><option value="PE" class="95.00">Prince Edward Island</option><option value="NL" class="95.00">Newfoundland and Labrador</option><option value="YT" class="95.00">Yukon</option> </select>
							</div>
                        </div>

                        <div class="fc accordion-controls">
                            <a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Expand All</a>
                            <a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Collapse All</a>
                        </div>

                        <div class="nb content_section honda_accessories_enabled">
                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#accessories_list"
                                data-collapsible-active="true"
                                >Lorem Ipsum</a></span></div>
                            <div id="accessories_list" class="sub_content">
                                <ul>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item1">
                                            Phasellus scelerisque nulla.<br />
                                            <q class="part-number">Part #: 123-45678-90X</q>
                                        </a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item2">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item3">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item4">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item5">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item6">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item7">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item8">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                    <li class="fc">
                                    	<a class="fl btn-tooltips"
                                        property="act:tooltip"
                                        data-position="right bottom"
                                        data-position-collision="fit none"
                                        data-tooltip-class="tooltip-right"
                                        data-tooltip-content-target="#product-accessories-item9">Phasellus scelerisque nulla.</a>
                                        <span class="fr">$89.75</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#slidedown2"
                                data-collapsible-active="false"
                                >Lorem Ipsum</a></span></div>
                            <div id="slidedown2" class="sub_content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Quisque a aliquet sapien. Donec ultricies ornare tortor ut condimentum. Nunc ac ante ut libero eleifend.</li>
                                    <li>Donec vulputate iaculis mattis. Etiam viverra nulla nec urna tempus tempus. Nunc blandit dignissim.</li>
                                    <li>Aliquam erat volutpat. Curabitur bibendum fringilla turpis.</li>
                                    <li>Nunc eget purus neque, et mollis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Donec neque sapien, imperdiet nec dictum sit amet, consectetur ut dui.</li>
                                    <li>Sed semper dictum pharetra. Nullam pulvinar risus et massa faucibus eu vestibulum ante dapibus.</li>
                                    <li>Sed ut dignissim purus. Aenean et quam eget sapien hendrerit rutrum consectetur id lectus.</li>
                                    <li>Phasellus quis neque magna, eu iaculis metus.</li>
                                </ul>
                            </div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#slidedown3"
                                data-collapsible-active="false"
                                >Lorem Ipsum</a></span></div>
                            <div id="slidedown3" class="sub_content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Quisque a aliquet sapien. Donec ultricies ornare tortor ut condimentum. Nunc ac ante ut libero eleifend.</li>
                                    <li>Donec vulputate iaculis mattis. Etiam viverra nulla nec urna tempus tempus. Nunc blandit dignissim.</li>
                                    <li>Aliquam erat volutpat. Curabitur bibendum fringilla turpis.</li>
                                    <li>Nunc eget purus neque, et mollis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Donec neque sapien, imperdiet nec dictum sit amet, consectetur ut dui.</li>
                                    <li>Sed semper dictum pharetra. Nullam pulvinar risus et massa faucibus eu vestibulum ante dapibus.</li>
                                    <li>Sed ut dignissim purus. Aenean et quam eget sapien hendrerit rutrum consectetur id lectus.</li>
                                    <li>Phasellus quis neque magna, eu iaculis metus.</li>
                                </ul>
                            </div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#slidedown4"
                                data-collapsible-active="false"
                                >Lorem Ipsum</a></span></div>
                            <div id="slidedown4" class="sub_content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Quisque a aliquet sapien. Donec ultricies ornare tortor ut condimentum. Nunc ac ante ut libero eleifend.</li>
                                    <li>Donec vulputate iaculis mattis. Etiam viverra nulla nec urna tempus tempus. Nunc blandit dignissim.</li>
                                    <li>Aliquam erat volutpat. Curabitur bibendum fringilla turpis.</li>
                                    <li>Nunc eget purus neque, et mollis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Donec neque sapien, imperdiet nec dictum sit amet, consectetur ut dui.</li>
                                    <li>Sed semper dictum pharetra. Nullam pulvinar risus et massa faucibus eu vestibulum ante dapibus.</li>
                                    <li>Sed ut dignissim purus. Aenean et quam eget sapien hendrerit rutrum consectetur id lectus.</li>
                                    <li>Phasellus quis neque magna, eu iaculis metus.</li>
                                </ul>
                            </div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#slidedown5"
                                data-collapsible-active="false"
                                >Lorem Ipsum</a></span></div>
                            <div id="slidedown5" class="sub_content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Quisque a aliquet sapien. Donec ultricies ornare tortor ut condimentum. Nunc ac ante ut libero eleifend.</li>
                                    <li>Donec vulputate iaculis mattis. Etiam viverra nulla nec urna tempus tempus. Nunc blandit dignissim.</li>
                                    <li>Aliquam erat volutpat. Curabitur bibendum fringilla turpis.</li>
                                    <li>Nunc eget purus neque, et mollis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Donec neque sapien, imperdiet nec dictum sit amet, consectetur ut dui.</li>
                                    <li>Sed semper dictum pharetra. Nullam pulvinar risus et massa faucibus eu vestibulum ante dapibus.</li>
                                    <li>Sed ut dignissim purus. Aenean et quam eget sapien hendrerit rutrum consectetur id lectus.</li>
                                    <li>Phasellus quis neque magna, eu iaculis metus.</li>
                                </ul>
                            </div>

                            <div class="flex_bar"><span><a href="javascript:void(0);"
                                property="act:collapsible"
                                data-collapsible-target="#slidedown6"
                                data-collapsible-active="false"
                                >Lorem Ipsum</a></span></div>
                            <div id="slidedown6" class="sub_content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Quisque a aliquet sapien. Donec ultricies ornare tortor ut condimentum. Nunc ac ante ut libero eleifend.</li>
                                    <li>Donec vulputate iaculis mattis. Etiam viverra nulla nec urna tempus tempus. Nunc blandit dignissim.</li>
                                    <li>Aliquam erat volutpat. Curabitur bibendum fringilla turpis.</li>
                                    <li>Nunc eget purus neque, et mollis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Donec neque sapien, imperdiet nec dictum sit amet, consectetur ut dui.</li>
                                    <li>Sed semper dictum pharetra. Nullam pulvinar risus et massa faucibus eu vestibulum ante dapibus.</li>
                                    <li>Sed ut dignissim purus. Aenean et quam eget sapien hendrerit rutrum consectetur id lectus.</li>
                                    <li>Phasellus quis neque magna, eu iaculis metus.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="disclaimer">
                            <p>The listed (MSRP) prices do not include installation cost. Contact your Honda dealer for details.</p>
                        </div>
                        <div class="disclaimer">
                            <p>Les prix (PDSF) indiqués n'incluent pas les frais d'installation. Veuillez communiquer avec votre concessionnaire Honda afin d'obtenir tous les détails.</p>
                        </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/parts_service.html"-->
            <!--#include virtual="/shared/inc/widgets/safety.html"-->
            <!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
            <!--#include virtual="/shared/inc/widgets/reviews.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 1</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 2</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item3" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 3</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item4" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 4</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item5" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 5</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item6" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 6</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item7" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 7</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item8" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 8</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item9" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading"><strong>Lorem Ipsum 9</strong></div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->