<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-overview.html 14688 2011-04-21 22:01:35Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.png" alt="Safety" /></p>
					</div>
					<div class="content_section">
						<h1>Safety Guidelines <span>Overview</span></h1>
						<h2>Power Equipment maintenance safety information</h2>
						<div class="grouped">
							<p>Before using any power equipment, you should perform a routine check to ensure major components are in good working condition and nothing is damaged. If you see any signs of damage contact your authorizer Honda dealer for assistance.</p>
							<p>If this is the first time you are using your power equipment, please read your owner’s manual. Even if you have operated a similar power products in the past, take time to become familiar with the controls and handling.</p>
						</div>
					</div>
					<div class="content_section">
						<dl class="fc safety-products">
							<dd class="fl first">
								<a href="safety-generators.html">
									<span class="image"><img src="/_Global/img/content/safety/overview_generators.jpg" alt="Generators" /></span>
									<span>Generators</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="safety-lawnmowers.html">
									<span class="image"><img src="/_Global/img/content/safety/overview_lawnmowers.jpg" alt="Lawnmowers" /></span>
									<span>Lawnmowers</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="safety-snowblowers.html">
									<span class="image"><img src="/_Global/img/content/safety/overview_snowblowers.jpg" alt="Snowblowers" /></span>
									<span>Snowblowers</span>
								</a>
							</dd>
							<dd class="fl first">
								<a href="safety-tillers.html">
									<span class="image"><img src="/_Global/img/content/safety/overview_tillers.jpg" alt="Tillers" /></span>
									<span>Tillers</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="safety-trimmers.html">
									<span class="image"><img src="/_Global/img/content/safety/overview_trimmers.jpg" alt="Trimmers" /></span>
									<span>Trimmers</span>
								</a>
							</dd>
						</dl>
					</div>
					<div class="content_section">
						<h2>Maintenance Safety</h2>
						<div class="grouped">
							<p>To help you properly care for your Power Equipment, follow the recommended maintenance schedule included in your owner’s manual which has simple routine inspection procedure and simple maintenance procedures using hand tools. Other service tasks that are more complex, or require special tools, are best handled by professionals and should be performed by a factory trained Honda technician at an authorized Honda dealer.</p>
							<p>Maintaining your power equipment as indicated in your owners’ manuals is one of most important safety precautions. We recommend that you bring your power equipment products to an authorized Honda dealer for all your maintenance needs. However if you decide to perform some of the maintenance yourself, our Honda dealers carry a full line of Genuine Honda parts to suit all your requirements.</p>
							<p>Always make sure the engine is off before you begin any maintenance or repairs. This will eliminate several potential hazards</p>
							
							<ul class="red-check">
								<li><span>Carbon monoxide poisoning from engine exhaust. Be sure there is adequate ventilation whenever you operate the engine.</span></li>
								<li><span>Burns from hot parts. Let the engine and exhaust system cool before touching.</span></li>
								<li><span>Injury from moving parts. Do not run the engine unless instructed to do so.</span></li>
							</ul>
							
							<p>Read all instructions before you begin, and be careful when working around gasoline. Use only non-flammable solvent, not gasoline, to clean parts. Keep any flames or sparks away from all fuel-related parts.</p>
							<p>The maintenance schedule included in your owners’ manual applies to normal operating conditions. If you operate your power equipment under severe conditions, such as sustained high load or high-temperature operation, or use it in unusually wet or dusty conditions, consult your Honda dealer for recommendations applicable to your individual needs and use.</p>
							<p>Remember that your authorized Honda servicing dealer knows your power equipment best and is fully equipped to maintain and repair it.</p>
							<p>To ensure the best quality and reliability, use only new, genuine Honda parts and chemicals.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->