<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-lawnmowers.html 14594 2011-04-07 19:39:20Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Designing a Safer Lawnmower</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">RotoStop<sup>TM</sup> Blade Stop System</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Zone Start Safety System</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Variable Speed Transmission (allows use of the lawnmower at the speed most safe and comfortable for each individual operator)</span>
							</li>
						</ul>
					</div>
					<div class="fc content_section">
						<h1>Safety Guidelines <span>Lawnmowers</span></h1>
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>A Few Words About Safety</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Your safety, and the safety of others, is very important.</li>
								<li>This information alerts you to potential harards that could hurt you or others.</li>
								<li>Of course, it is not practical or possible to warn you about all the hazards associated with operating or maintaining your Honda lawnmower. You must use your own good judgement.</li>
								<li>Your safety is your responsibility. A little time spent in preparation will significantly reduce your risk of injury.</li>
								<li>Read and understand your owner's manual.</li>
								<li>Know what the controls do and how to operate them.</li>
								<li>Familiarize yourself with your lawnmower and its operation before you begin using it.</li>
								<li>Know how to quickly shut off your Honda lawnmower in case of emergency.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Keep Your Lawnmower In Safe Operating Condition</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Check your lawnmower condition before each use</li>
								<li><strong>Maintenance and repairs</strong>
									<ul>
										<li>The engine exhausts carbon monoxide, be sure there is adequate ventilation whenever you operate the engine.</li>
										<li>Hot parts may cause burns, let the engine and exhaust cool before touching.</li>
										<li>Moving parts may cause injury, stop the lawnmower before you proceed with any maintenance or repair.</li>
									</ul>
								</li>
								<li><strong>Charging the battery</strong> (HRX2172HMC ONLY)
									<ul>
										<li>Charge the battery in a dry, well-ventilated area where the temperature is moderate.</li>
										<li>A battery can explode if you do not follow the correct procedure, seriously injuring anyone nearby.</li>
										<li>Keep all sparks, open flames, and smoking materials away from the battery.</li>
										<li>Battery posts, terminals and related accessories contain lead and lead compounds. <em>Wash your hands after handling</em>.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Keep Yourself Safe</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Know how to stop your lawn mower quickly. Understand the operation of all controls.</li>
								<li><strong>Avoid Rotating Blades</strong>
									<ul>
										<li>Rotating blades can cause serious cuts and even amputate fingers, hands, toes, or feet.</li>
										<li>Keep away from the mower deck whenever the engine is running.</li>
										<li>If you need to adjust the cutting height, or work around the deck for any other reason, always shut off the engine.</li>
										<li>Wear heavy gloves and disconnect the spark plug cap when you need to clean the mower deck or handle the blades.</li>
									</ul>
								</li>
								<li><strong>Keep Shields In Place</strong>
									<ul>
										<li>Guards and shields are designed to protect you from being hit by thrown objects and from hot engine parts and moving components.</li>
									</ul>
								</li>
								<li><strong>Wear Protective Clothing</strong>
									<ul>
										<li>Wearing protective clothing will reduce your risk of injury.</li>
										<li>Long pants and eye protection reduce the risk of injuries from thrown objects.</li>
										<li>Sturdy shoes with aggressive soles will help protect your feet and give you better traction on slopes or uneven ground.</li>
									</ul>
								</li>
								<li><strong>Refuel with Care</strong>
									<ul>
										<li>Gasoline is extremely flammable and gasoline vapor can explode.</li>
										<li>Use only a nonflammable solvent, not gasoline, to clean parts.</li>
										<li>Refuel only outdoors, in a well-ventilated area, with the engine OFF.</li>
										<li>Never smoke near gasoline, and keep other flames and sparks away.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Keep Safety of Others In Mind</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first"><strong>Check/Clear Mowing Area</strong>
									<ul>
										<li>Always inspect the area before operating the lawn mower.</li>
										<li>Check the condition of the grass. Adjust your lawn mower ground speed and mowing swath accordingly.</li>
										<li>Mower blades can throw rocks and other objects with enough force to cause serious injury.</li>
										<li>Remove all sticks, stones, pieces of wire, nails, wires, cords and other loose objects.</li>
										<li>Never operate the blades over gravel.</li>
									</ul>
								</li>
								<li><strong>People and Pets</strong>
									<ul>
										<li>People and animals near the work area can move into your lawn mower's path or into a position where they could be struck by thrown objects.</li>
										<li>Clear the area of people, especially children and pets. Their safety is your responsibility.</li>
									</ul>
								</li>
								<li><strong>Turn Engine Off When Not Mowing</strong>
									<ul>
										<li>If you need to leave the mower for any reason, even just to inspect the lawn ahead, always turn the engine OFF.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Important Message to Parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>Your children's safety is very important</strong>
									<ul>
										<li>Lawn mowers are tools, not toys. As with any equipment, bad judgments can result in serious injuries.</li>
										<li>You can help prevent accidents by making good decisions about if, when, and how your child operates this equipment.</li>
									</ul>
								</li>
								<li><strong>Child's age is not the only factor</strong>
									<ul>
										<li>The first question you'll need to ask is whether your child is capable of operating your Honda mower safely.</li>
										<li>Physically, a child must be LARGE ENOUGH AND STRONG ENOUGH to easily start your mower and control its direction.</li>
										<li>The child also needs enough size, strength, and coordination to comfortably reach and operate the controls.</li>
									</ul>
								</li>
								<li><strong>Child's maturity and responsibility</strong>
									<ul>
										<li>Anyone who takes unnecessary risks and doesn't obey rules should not operate your lawn mower.</li>
									</ul>
								</li>
								<li><strong>Carefully read the owner's manual with your child</strong>
									<ul>
										<li>Make sure your child wears sturdy shoes and other protective clothing when operating or handling your lawn mower.</li>
									</ul>
								</li>
								<li><strong>Good adult supervision</strong>
									<ul>
										<li>Walk with your child during the first few minutes of mowing.</li>
										<li>An adult should also be present during refueling and maintenance.</li>
										<li>In fact, it's up to the adult owner to make sure that the Honda lawn mower is properly maintained and kept in safe operating condition.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Occasional User</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Before you ask anyone to operate your lawn mower, you need to determine whether the person is old enough, large enough, and strong enough to safely handle and control the mower.</li>
								<li>If you decide to let someone else use your lawn mower, make sure the occasional user reads and understands all instructions and warnings in the owner's manual and on the labels before operating the lawn mower.</li>
								<li>Allow adequate time for hands-on training, and personally supervise practice sessions until you feel sure the person is ready to operate the machine.</li>
								<li>Also be sure the person wears proper clothing and have eye protection and any other gear that may be required by local ordinances or your insurance company.</li>
								<li>Remember, too, that you are responsible for keeping the Honda lawn mower properly maintained and in safe operating condition.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->