<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-snowblowers.html 14514 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Designing a Safer Snowblower</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Separate drive and auger clutches &ndash; separates motion of machine and blowing of snow for more control and safer use</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Variable Speed Hydrostatic Transmission (on certain models) &ndash; allows use of the snowblower at the speed most safe and comfortable for each individual operator</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Snow Drop Bar &ndash; allows operator to safely and easily dislodge snow from clogged chute</span>
							</li>
						</ul>
					</div>
					<div class="fc content_section">
						<h1>Safety Guidelines <span>Snowblowers</span></h1>
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>A Few Words About Safety</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Your safety, and the safety of others, is very important.</li>
								<li>This information alerts you to potential hazards that could hurt you or others.</li>
								<li>Of course, it is not practical or possible to warn you about all the hazards associated with operating or maintaining your Honda snowblower. You must use your own good judgment.</li>
								<li>Your safety is your responsibility. A little time spent in preparation will significantly reduce your risk of injury.</li>
								<li>Read and understand your owner's manual.</li>
								<li>Know what the controls do and how to operate them.</li>
								<li>Familiarize yourself with your snow blower and its operation before you begin using it.</li>
								<li>Know how to quickly shut off your Honda snowblower in case of an emergency.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Keep Your Snow Blower In Safe Operating Condition</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Inspect the snowblower before operating it.</li>
								<li>Repair any damage and correct any malfunction before operation.</li>
								<li>Always make a pre-operation check before you start the engine. You may prevent accident or equipment damage.</li>
								<li>Honda snowblowers are designed to give safe and dependable service if operated according to instructions. Read and understand this Owner's Manual before operating the snowblower. Failure to do so could result in personal injury or equipment damage.</li>
								<li>If you hit an obstacle while operating the snowblower, stop the engine immediately, and check for damage. Damaged equipment may increase the possibility of injury during operation.</li>
								<li>Never run the engine in an enclosed or confined area. Exhaust contains poisonous carbon monoxide gas; exposure can cause loss of consciousness and may lead to death.</li>
								<li>The muffler becomes very hot during operation and remains hot for a while after stopping the engine. Be careful not to touch the muffler while it is hot. Let the engine cool before storing the snow blower indoors.</li>
								<li>Stop the engine and let it cool before operating covers for inspection and other services.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Keep Yourself Safe</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Do not use the snowblower when visibility is poor. Under conditions of poor visibility, there is a greater risk of striking an obstacle or causing injury.</li>
								<li>To avoid overturning, be careful when changing the direction of the snowblower while operating it on a slope.</li>
								<li>The snowblower may overturn on steep slopes if left unattended, causing injury to the operator or bystanders.</li>
								<li>Do not use the snowblower to remove snow from roofs.</li>
								<li>Never use the snowblower to clear snow from a gravel road or driveway, as rocks may be picked up and ejected. They may cause injury to bystanders.</li>
								<li>To avoid tipping the snow blower over, stay off slopes too steep for safe operation. The risk of snowblower upset is even higher when the surface is loose, wet or uneven.</li>
								<li>Gasoline is extremely flammable and is explosive under certain conditions.</li>
								<li>Do not smoke or allow flames or sparks in the area where the engine is refueled or where gasoline is stored.</li>
								<li>Do not overfill the fuel tank (there should be no fuel in the filler neck). After refueling, make sure the tank cap is closed properly and securely.</li>
								<li>Refuel in a well-ventilated area with the engine stopped.</li>
								<li>Carefully check the area before backing the snowblower up or while working in reverse.</li>
								<li>Know how to stop the snowblower quickly, and understand the operation of all controls.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_otherssafety"
							data-collapsible-active="false"
							>Keep Safety of Others In Mind</a></span></div>
						<div id="slidedown_otherssafety" class="sub_content">
							<ul>
								<li class="first">Children and pets must be kept away from the area of operation to avoid injury from flying debris and contact with the snowblower.</li>
								<li>Before operating the snowblower, inspect the area in which you are going to clear snow. Remove debris and other obstacles the snowblower might strike or throw, as that may cause injury or damage to the snowblower.</li>
								<li>Never use the snowblower to clear snow from a gravel road or driveway, as rocks may be picked up and ejected. They may cause injury to bystanders.</li>
								<li>Adjust the snow discharge chute to avoid hitting the operator, bystanders, windows, and other objects with ejected snow. Stay clear of the snow discharge chute while the engine is running.</li>
								<li>Never permit anyone to operate the snowblower without proper instruction. If people or pets suddenly appear in front of the snowblower while it is in operation, immediately release the auger and drive clutch levers to stop the snowblower and avoid possible injury from rotating auger blades.</li>
								<li>If the snow discharge chute becomes clogged, stop the engine and use a snowdrop bar or a wooden stick to unclog it. Never put your hand into the snow discharge chute while the engine is running; serious personal injury could result.</li>
								<li>For your safety and the safety of others, do not operate the snowblower during darkness if it is not equipped with a headlight.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Important Message to Parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>Your children's safety is very important</strong>
									<ul>
										<li>Snowblowers are tools, not toys. As with any equipment, bad judgments can result in serious injuries.</li>
										<li>You can help prevent accidents by making good decisions about if, when, and how your child operates this equipment.</li>
									</ul>
								</li>
								<li><strong>Child's age is not the only factor</strong>
									<ul>
										<li>The first question you'll need to ask is whether your child is capable of operating this Honda snowblower safely.</li>
										<li>Physically, a child must be LARGE ENOUGH AND STRONG ENOUGH to easily start the snowblower and control its direction.</li>
										<li>The child also needs enough size, strength, and coordination to comfortably reach and operate the controls.</li>
									</ul>
								</li>
								<li><strong>Child's maturity and responsibility</strong>
									<ul>
										<li>Anyone who takes unnecessary risks and doesn't obey rules should not operate your snowblower.</li>
									</ul>
								</li>
								<li><strong>Carefully read the owner's manual with your child</strong>
									<ul>
										<li>Make sure your child wears sturdy boots and other warm protective clothing when operating or handling your snowblower.</li>
									</ul>
								</li>
								<li><strong>Good adult supervision</strong>
									<ul>
										<li>Walk with your child during the first few minutes of blowing snow.</li>
										<li>An adult should also be present during refueling and maintenance.</li>
										<li>In fact, it's up to the adult owner to make sure that the Honda snowblower is properly maintained and kept in safe operating condition.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Occasional User</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Before you ask anyone to operate your snowblower, you need to determine whether the person is old enough, large enough, and strong enough to safely handle and control your Honda snowblower.</li>
								<li>If you decide to let someone else use your Honda snowblower, make sure the occasional user reads and understands all instructions and warnings in your owner's manual and on the labels before operating your Honda snowblower.</li>
								<li>Allow adequate time for hands-on training, and personally supervise practice sessions until you feel sure the person is ready to operate the machine.</li>
								<li>Also be sure the person wears proper clothing and have eye protection and any other gear that may be required by local ordinances or your insurance company.</li>
								<li>Remember, too, that you are responsible for keeping the snowblower properly maintained and in safe operating condition.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->