<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-generators.html 14594 2011-04-07 19:39:20Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Designing a Safer Generator</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">CSA Approved (not all manufacturers are)</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">GFCI &ndash; Ground Fault Circuit Interrupter</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Super Quiet &ndash; EU Series; safer for hearing.</span>
							</li>
						</ul>
					</div>
					<div class="fc content_section">
						<h1>Safety Guidelines <span>Generators</span></h1>
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>A Few Words About Safety</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Your safety, and the safety of others, is very important.</li>
								<li>This information alerts you to potential hazards that could hurt you or others.</li>
								<li>Of course, it is not practical or possible to warn you about all the hazards associated with operating or maintaining your Honda generator. You must use your own good judgment.</li>
								<li>Your safety is your responsibility. A little time spent in preparation will significantly reduce your risk of injury.</li>
								<li>Read and understand your owner's manual.</li>
								<li>Know what the controls do and how to operate them.</li>
								<li>Familiarize yourself with your Honda generator and its operation before you begin using it.</li>
								<li>Know how to quickly shut off your Honda generator in case of an emergency.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Keep Your Generator In Safe Operating Condition</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Read and understand the owner's manual before operating the generator. Failure to do so could result in personal injury or equipment damage.</li>
								<li>Always make a pre-operation inspection before you start the engine. You may prevent accident or equipment damage.</li>
								<li>All Honda generators are CSA certified. Never modify your generator. CSA certification requires the generator to be operated in its original condition only.</li>
								<li>Operate the generator on a level surface</li>
								<li>Do not connect an extension to the exhaust pipe.</li>
								<li>Connections for standby power to a building's electrical system must be made by a qualified electrician and must comply with all applicable laws and electrical codes.</li>
								<li>Improper connections can allow electrical current from the generator to back feed into the utility lines. Such back feed may electrocute utility company workers or others who contact the lines during a power outage, and when utility power is restored, the generator may explode, burn, or cause fires in the building's electrical system.</li>
								<li>Use an approved isolation/transfer switch to ensure that either grid or generator electricity (but never both) feed the panel at one time.</li>
								<li>When an extension cable is required, be sure to use a tough rubber sheathed flexible cable (IEC 245 or equivalent).</li>
								<li>Limit length of extension cables; 60 m for cables of 1.5, mm<sup>2</sup> and 100 m for cables of 2.5 mm<sup>2</sup>.  Long extension cables will lower usable power due to resistance in the extension cable.</li>
								<li>Never overload your Honda generator. Learn beforehand how much electrical power is necessary for your household essentials for start-up and continuous running. A handy equation to remember is: Watts = Volts x Amps. For example, you know that your furnace motor runs on 120 volts AC and it draws 20 amps during start up. So, 120 volts x 20 amps is 2400 watts. Consequently, you would require a 2500 watt generator just to run your furnace motor. If you are unsure of your electrical power requirements, consult a certified electrician. [SEE WATTAGE CALCULATOR]</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Keep Yourself Safe</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Know how to stop the generator quickly and understand operation of all the controls. Never permit anyone operate the generator without proper instructions.</li>
								<li>An external ground strap should be connected from the external ground terminal on the generator to a steel peg driven well into the ground.</li>
								<li>Never operate a generator inside your house, garage, basement or an enclosure of any kind because its carbon monoxide exhaust fumes are deadly.</li>
								<li>Honda generators should not be operated in the rain or snow.</li>
								<li>Position your generator outside but close to the house or household panel while maintaining a minimum clearance of one meter (3 feet) on all sides of the generator.</li>
								<li>The generator is a potential source of electrical shocks when misused. Before refueling, shut the generator off and check the engine oil level. Use a proper funnel to eliminate fuel spillage. Never run the generator with the fuel cap removed or restart the generator if fuel has been spilled while refueling. Ensure the generator is free (dry) of any spilled fuel before restarting it.</li>
								<li>Keep away from cigarette, smoke and sparks when refueling the generator. Always refuel in a well-ventilated location.</li>
								<li>Fuel should be safely stored in an approved container at least ten meters (32.8 feet) away from the generator and/or 10 meters (32.8 feet) away from any open flame.</li>
								<li>Do not operate the generator while it is on a vehicle.</li>
								<li>Avoid a place exposed to direct sunlight when putting the generator on a vehicle. If the generator is left in an enclosed vehicle for many hours, high temperature inside the vehicle could cause fuel to vaporize resulting in a possible explosion.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Keep Safety of Others In Mind</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">Keep children and pets away from the generator when it is in operation.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_dc_receptacle"
							data-collapsible-active="false"
							>Using the DC Receptacle to Charge 12V Automobile-Type Only</a></span></div>
						<div id="slidedown_dc_receptacle" class="sub_content">
							<ul>
								<li class="first">The DC receptacle may be used for charging 12-volt automotive-type batteries only.</li>
								<li>In DC operation, turn the eco throttle switch to the OFF position.</li>
								<li>To prevent the possibility of creating a spark near the battery:
									<ul>
										<li><strong>Connect</strong> charging cables first to the generator, then to the battery.</li>
										<li><strong>Disconnect</strong> cables first at the battery, then at the generator.</li>
									</ul>
								</li>
								<li>Before connecting charging cables to a battery that is installed in a vehicle, disconnect the vehicles grounded battery cable. Reconnect the vehicle's grounded battery cable after the charging cables are removed.  This procedure will prevent the possibility of a short circuit and sparks if you make accidental contact between a battery terminal and the vehicle's frame or body.</li>
								<li>Do not attempt to start an automobile engine with the generator still connected to the battery. The generator may be damaged.</li>
								<li>Connect the positive battery terminal to the positive charging cord. Do not reverse the charging cables, or serious damage to the generator and/or battery may occur.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_wattage"
							data-collapsible-active="false"
							>Generator Wattage Calculator</a></span></div>
						<div id="slidedown_wattage" class="sub_content">
							<ul>
								<li class="first">Depending on how you will use your generator, there are different categories to meet your needs. This can include recreation, home standby and construction.</li>
								<li>Honda also offers Inverter Generators. Inverter generators are smaller and lighter as power is created electronically and not through a conventional alternator. Inverter power offers the cleanest power output, ideal for sensitive electronic devices.</li>
								<li>If you want a generator for home standby, for example, if you want to run your refrigerator, you'll need at least 2500 watts or more. And if you want to use a transfer switch so that power can go directly into your home, you'll want a generator with at least 3000 watts.</li>
								<li>You'll also need to consider the maximum and rated power of the generator. This is important depending on what items you want to run off of your generator. Items such as toaster, lamps, and coffee makers are resistive, or constant loads and their total load can be calculated at amps x 1. Items such as saws and drills are reactive loads and while the running load may be small, the starting load should be calculated at running amps x 3. Remember, after the initial start less power is required for actual operation.</li>
								<li>Always remember that simple power management will allow a smaller generator to do a big job. Very seldom are all tools or appliances operating simultaneously.</li>
								<li>When calculating power requirements, consider the starting requirements are only for the initial start and then additional tools may be operated in addition.</li>
								<li>If you are unsure about your electrical power requirements, consult a certified electrician.</li>
								<li>Remember Ohm's Law from High School Physics?</li>
							</ul>
							<table class="conversion-chart">
								<tr>
									<td class="unit"><span>Watts</span></td>
									<td class="equal">=</td>
									<td class="equation"><span>Volts</span> x <span>Amps</span></td>
								</tr>
								<tr>
									<td class="unit"><span>Amps</span></td>
									<td class="equal">=</td>
									<td class="equation"><span>Watts</span> / <span>Volts</span></td>
								</tr>
								<tr>
									<td class="unit"><span>Volts</span></td>
									<td class="equal">=</td>
									<td class="equation"><span>Watts</span> / <span>Amps</span></td>
								</tr>
							</table>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#general_guide"
							data-collapsible-active="false"
							>Here Is a General Guide</a></span></div>
						<div id="general_guide" class="sub_content">
							<p class="conversion-reminder">Average Wattage Requirement Guide<br/>
								(Amps X Volts = Watts)</p>
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Household</th>
									<th class="spacer"></th>
									<th>Running Wattage Requirements</th>
									<th class="spacer"></th>
									<th>Starting Wattage Required</th>
								</tr>
								<tr>
									<td class="item-header">Coffee Maker</td>
									<td class="spacer"></td>
									<td>1750</td>
									<td class="spacer"></td>
									<td>1750</td>
								</tr>
								<tr>
									<td class="item-header">Dishwasher</td>
									<td class="spacer"></td>
									<td>1450</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">Electric Fry Pan</td>
									<td class="spacer"></td>
									<td>1300</td>
									<td class="spacer"></td>
									<td>1300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Electric Range</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">6-inch element</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">8-inch element</td>
									<td class="spacer"></td>
									<td>2100</td>
									<td class="spacer"></td>
									<td>2100</td>
								</tr>
								<tr>
									<td class="item-header">Microwave Oven - 625 watts</td>
									<td class="spacer"></td>
									<td>625</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
								<tr>
									<td class="item-header">Refrigerator or Freezer</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>2200</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Toaster</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">2-slice</td>
									<td class="spacer"></td>
									<td>1050</td>
									<td class="spacer"></td>
									<td>1050</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">4-slice</td>
									<td class="spacer"></td>
									<td>1650</td>
									<td class="spacer"></td>
									<td>1650</td>
								</tr>
								<tr>
									<td class="item-header">Automatic Clothes Washer</td>
									<td class="spacer"></td>
									<td>1150</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Clothes Dryer</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Electric</td>
									<td class="spacer"></td>
									<td>5750</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Gas</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">Dehumidifier</td>
									<td class="spacer"></td>
									<td>650</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
								<tr>
									<td class="item-header">Electric Blanket (queen size)</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Furnace Fan, gas or fuel oil</th>
									<th class="spacer"></th>
									<th>Running Wattage Requirements</th>
									<th class="spacer"></th>
									<th>Starting Wattage Required</th>
								</tr>
								<tr>
									<td class="item-header">1/8 Horsepower</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">1/6 Horsepower</td>
									<td class="spacer"></td>
									<td>750</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr>
									<td class="item-header">1/4 Horsepower</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">1/3 Horsepower</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">1/2 Horsepower</td>
									<td class="spacer"></td>
									<td>1200</td>
									<td class="spacer"></td>
									<td>2500</td>
								</tr>
								<tr>
									<td class="item-header">Hair dryers</td>
									<td class="spacer"></td>
									<td>300-1500</td>
									<td class="spacer"></td>
									<td>300-1500</td>
								</tr>
								<tr>
									<td class="item-header">Clothes iron</td>
									<td class="spacer"></td>
									<td>1200</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
								<tr>
									<td class="item-header">Lights</td>
									<td class="spacer"></td>
									<td>As indicated</td>
									<td class="spacer"></td>
									<td>As indicated</td>
								</tr>
								<tr>
									<td class="item-header">Radio</td>
									<td class="spacer"></td>
									<td>50-200</td>
									<td class="spacer"></td>
									<td>50-200</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Sump Pump</th>
									<th class="spacer"></th>
									<th>Running Wattage Requirements</th>
									<th class="spacer"></th>
									<th>Starting Wattage Required</th>
								</tr>
								<tr>
									<td class="item-header">1/3 Horsepower</td>
									<td class="spacer"></td>
									<td>750</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr>
									<td class="item-header">1/2 Horsepower</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2100</td>
								</tr>
								<tr>
									<td class="item-header">1 Horsepower</td>
									<td class="spacer"></td>
									<td>2300</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr>
									<td class="item-header">Colour television</td>
									<td class="spacer"></td>
									<td>300</td>
									<td class="spacer"></td>
									<td>300</td>
								</tr>
								<tr>
									<td class="item-header">VCR</td>
									<td class="spacer"></td>
									<td>50</td>
									<td class="spacer"></td>
									<td>50</td>
								</tr>
								<tr>
									<td class="item-header">Computer</td>
									<td class="spacer"></td>
									<td>150</td>
									<td class="spacer"></td>
									<td>150</td>
								</tr>
								<tr>
									<td class="item-header">Modem</td>
									<td class="spacer"></td>
									<td>25</td>
									<td class="spacer"></td>
									<td>25</td>
								</tr>
								<tr>
									<td class="item-header">Printer</td>
									<td class="spacer"></td>
									<td>100</td>
									<td class="spacer"></td>
									<td>100</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Vacuum cleaner</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">upright</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">canister</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Garage door opener</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/4 hp</td>
									<td class="spacer"></td>
									<td>550</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">1/3 hp</td>
									<td class="spacer"></td>
									<td>725</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Central Air Conditioner</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">10,000 BTU</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>2200</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">20,000 BTU</td>
									<td class="spacer"></td>
									<td>2500</td>
									<td class="spacer"></td>
									<td>3300</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">24,000 BTU</td>
									<td class="spacer"></td>
									<td>3800</td>
									<td class="spacer"></td>
									<td>4950</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">40,000 BTU</td>
									<td class="spacer"></td>
									<td>6000</td>
									<td class="spacer"></td>
									<td>7800</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Contractor</th>
									<th class="spacer"></th>
									<th>Running Wattage Requirements</th>
									<th class="spacer"></th>
									<th>Starting Wattage Required</th>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Air Compressor</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/2 hp</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2000</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1 hp</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1 1/2 hp</td>
									<td class="spacer"></td>
									<td>2200</td>
									<td class="spacer"></td>
									<td>6000</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">2 hp</td>
									<td class="spacer"></td>
									<td>6000</td>
									<td class="spacer"></td>
									<td>7800</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Bench Grinder</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">6-inch</td>
									<td class="spacer"></td>
									<td>720</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">8-inch</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>2500</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">10-inch</td>
									<td class="spacer"></td>
									<td>1600</td>
									<td class="spacer"></td>
									<td>3600</td>
								</tr>
								<tr>
									<td class="item-header">Electric Cultivator – 1/3 hp</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr>
									<td class="item-header">Electric hedge trimmer – 18-inch</td>
									<td class="spacer"></td>
									<td>400</td>
									<td class="spacer"></td>
									<td>550</td>
								</tr>
								<tr>
									<td class="item-header">Electric grass trimmer</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>650</td>
								</tr>
								<tr>
									<td class="item-header">Drum mixer, 1/4 hp</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr>
									<td class="item-header">Flood lights, mercury halogen</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Floor polisher</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">16-inch, 3/4 hp</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>3100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">20-inch, 1 hp</td>
									<td class="spacer"></td>
									<td>1600</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Hand drill</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/4 inch</td>
									<td class="spacer"></td>
									<td>350</td>
									<td class="spacer"></td>
									<td>350</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">3/8 inch</td>
									<td class="spacer"></td>
									<td>400</td>
									<td class="spacer"></td>
									<td>400</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">1/2 inch</td>
									<td class="spacer"></td>
									<td>600</td>
									<td class="spacer"></td>
									<td>600</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Submersible</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Water pump 400 gp</td>
									<td class="spacer"></td>
									<td>200</td>
									<td class="spacer"></td>
									<td>400</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Centrifugal type</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>650</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Wet and dry vacuum</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1.7 hp</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>900</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">2.5 hp</td>
									<td class="spacer"></td>
									<td>1300</td>
									<td class="spacer"></td>
									<td>1300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Saws</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Worm drive (chop saw)</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>2600</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Band saw</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Circular saw</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">6 1/2 inch</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">7 1/4 inch</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">8 1/4 inch</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Electric chain saw</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">12 inch, 1 1/2 hp</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">14 inch, 2 hp</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Table saw</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1.7 hp</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">2.5 hp</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Electric welders</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">70 amp</td>
									<td class="spacer"></td>
									<td>2800</td>
									<td class="spacer"></td>
									<td>2800</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">100 amp</td>
									<td class="spacer"></td>
									<td>3600</td>
									<td class="spacer"></td>
									<td>3600</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">200 amp</td>
									<td class="spacer"></td>
									<td>9000</td>
									<td class="spacer"></td>
									<td>9000</td>
								</tr>
								<tr>
									<td class="item-header">Kango hammer</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Farm Equipment</th>
									<th class="spacer"></th>
									<th>Running Wattage Requirements</th>
									<th class="spacer"></th>
									<th>Starting Wattage Required</th>
								</tr>
								<tr>
									<td class="item-header">Electric Fence, 25 miles</td>
									<td class="spacer"></td>
									<td>250</td>
									<td class="spacer"></td>
									<td>250</td>
								</tr>
								<tr>
									<td class="item-header">Stock tank de-icer</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">Grain cleaner</td>
									<td class="spacer"></td>
									<td>650</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">Portable conveyer, 1/2 hp</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2400</td>
								</tr>
								<tr>
									<td class="item-header">Grain elevator, 3/4 hp</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr>
									<td class="item-header">Milk Cooler</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr>
									<td class="item-header">Mixer, 3 1/2 cubic feet, 3/4 hp</td>
									<td class="spacer"></td>
									<td>2800</td>
									<td class="spacer"></td>
									<td>7700</td>
								</tr>
								<tr>
									<td class="item-header">Milking machine, 2 hp</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->