<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-trimmers.html 14514 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Designing a Safer Trimmer</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Zone Start Safety System &ndash; Requires double trigger engagement to start, thereby reducing possibility of accidental start</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Ultra Quiet Operation &ndash; Our trimmers are 4-stroke which means there are inherently more quiet than 2-stroke trimmers but the use of QuietLine<sup>TM</sup> trimmer line also reduces sound level by 5db. Safer for hearing.</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Trimmer Guard &ndash; plus any included or accessory blade also has a guard</span>
							</li>
						</ul>
					</div>
					<div class="fc content_section">
						<h1>Safety Guidelines <span>Trimmers</span></h1>
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>A Few Words About Safety</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Your safety, and the safety of others, is very important.</li>
								<li>This information alerts you to potential hazards that could hurt you or others.</li>
								<li>Of course, it is not practical or possible to warn you about all the hazards associated with operating or maintaining a Honda trimmer. You must use your own good judgment.</li>
								<li>Your safety is your responsibility. A little time spent in preparation will significantly reduce your risk of injury.</li>
								<li>Read and understand this manual.</li>
								<li>Know what the controls do and how to operate them.</li>
								<li>Familiarize yourself with your Honda trimmer and its operation before you begin using it.</li>
								<li>Know how to quickly shut off your Honda trimmer in case of an emergency.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Keep Your Trimmer/Cutter In Safe Operating Condition</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Honda trimmer/brush cutters are designed to cut grass, weeds, brush, and/or wood if equipped with an appropriate cutting attachment. Other uses can result in injury to the operator or damage to the trimmer and other property.</li>
								<li>If you stop trimming or cutting for any reason, even to clean off the cutting attachment, always shut off the engine.</li>
								<li>Read the manual before operating the trimmer. Understand how to use all the controls and obey all warnings.</li>
								<li>The cutting attachment should be examined for looseness, cracks, broken parts, or excessive wear. Tighten or replace as needed before operating the trimmer.</li>
								<li>Always perform a pre-operation inspection before each operation, and correct any problem.</li>
								<li>Improper assembly can cause an unsafe condition that can lead to serious injury or death. Follow the procedures and precautions in the assembly instructions carefully.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Keep Yourself Safe</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">The most frequent injuries associated with string trimmers are eye injuries caused by thrown debris. Always wear safety glasses or goggles that meet the ANSI Z87.1 rating whenever you use the trimmer.</li>
								<li>The operator must wear hearing protectors when using this trimmer. Hearing protectors will protect the operator's ears from noise damage.</li>
								<li>Wearing protective clothing also reduces the risk and severity of injury from thrown debris or contact with the cutting attachment. Wear the trimmer harness, gloves, a long-sleeved shirt, long pants, and sturdy boots with nonslip soles. Once again, do not forget to wear eye protection.</li>
								<li>A spinning cutting blade can cut through your clothes and skin just as easily as it cuts through grass and dirt. Keep all parts of your body away from a spinning cutting attachment.</li>
								<li>Even after the engine has stopped, the cutting attachment will spin for several seconds. Do not touch it until it has stopped spinning, or you may get cut.</li>
								<li>Gasoline is highly flammable and explosive.</li>
								<li>You can be burned or seriously injured when handling fuel.</li>
								<li>Stop the engine and keep heat, sparks, and flame away.</li>
								<li>Handle fuel only outdoors. Wipe up spills immediately.</li>
								<li>Move at least 10 feet (3 meters) away from the fueling source and site before starting the engine.</li>
								<li>The harness keeps the trimmer away you’re your body, lowering your chances of being cut by the trimmer's blade or cutting line.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Keep Safety of Others In Mind</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">These Honda trimmers are intended for use by gardening professionals. Never allow children to operate the trimmer.</li>
								<li>Most accidents can be prevented if you follow all instructions in the owner’s manual and on the trimmer.</li>
								<li>To prevent injury to others, keep people at least 50 feet (15 meters) away from the working area during operation.</li>
								<li>Objects thrown by the trimmer can cause serious injury. Before operating the trimmer, carefully inspect the area and remove any broken glass, pieces of wire, and other loose objects.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_modifications"
							data-collapsible-active="false"
							>Attachment &amp; Modifications</a></span></div>
						<div id="slidedown_modifications" class="sub_content">
							<ul>
								<li class="first"><strong>Attachments</strong>
									<ul>
										<li>Non-Honda attachments are usually designed for universal applications.</li>
										<li>Although aftermarket attachments may fit on your trimmer, they may not meet factory specifications and could make your trimmer unsafe.</li>
									</ul>
								</li>
								<li><strong>Modifications</strong>
									<ul>
										<li>Do not remove the debris shield or modify your trimmer in any way that would alter its design or operation. This could make your trimmer unsafe.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Important Message to Parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>Your children's safety is very important</strong>
									<ul>
										<li>Trimmers are tools, not toys. As with any equipment, bad judgments can result in serious injuries.</li>
										<li>You can help prevent accidents by making good decisions about if, when, and how your child operates this equipment.</li>
									</ul>
								</li>
								<li><strong>Child's age is not the only factor</strong>
									<ul>
										<li>The first question you'll need to ask is whether your child is capable of operating your Honda trimmer safely.</li>
										<li>Physically, a child must be LARGE ENOUGH AND STRONG ENOUGH to easily start your trimmer and control its direction.</li>
										<li>The child also needs enough size, strength, and coordination to comfortably reach and operate the controls.</li>
									</ul>
								</li>
								<li><strong>Child's maturity and responsibility</strong>
									<ul>
										<li>Anyone who takes unnecessary risks and doesn't obey rules should not operate your trimmer.</li>
									</ul>
								</li>
								<li><strong>Carefully read the owner's manual with your child</strong>
									<ul>
										<li>Make sure your child wears sturdy shoes and other protective clothing when operating or handling your trimmer.</li>
									</ul>
								</li>
								<li><strong>Good adult supervision</strong>
									<ul>
										<li>Walk with your child during the first few minutes of using your trimmer.</li>
										<li>An adult should also be present during refueling and maintenance.</li>
										<li>In fact, it's up to the adult owner to make sure that the Honda trimmer is properly maintained and kept in safe operating condition.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Occasional User</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Before you ask anyone to operate your trimmer, you need to determine whether the person is old enough, large enough, and strong enough to safely handle and control your Honda trimmer.</li>
								<li>If you decide to let someone else use your Honda trimmer, make sure the occasional user reads and understands all instructions and warnings in your owner's manual and on the labels before operating the Honda trimmer.</li>
								<li>Allow adequate time for hands-on training, and personally supervise practice sessions until you feel sure the person is ready to operate your trimmer.</li>
								<li>Also be sure the person wears proper clothing and have eye protection and any other gear that may be required by local ordinances or your insurance company.</li>
								<li>Remember, too, that you are responsible for keeping the Honda trimmer properly maintained and in safe operating condition.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->