<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-tillers.html 14514 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Designing a Safer Tiller</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Zone Start Safety System</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Automatic engine or tine shut off with handle release</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">ARS<sup>TM</sup> (Active Rotary System) available on the FR650C – two sets of counter-rotating tines allowing for more safely controlled use with less forward bucking motion</span>
							</li>
						</ul>
					</div>
					<div class="fc content_section">
						<h1>Safety Guidelines <span>Tillers</span></h1>
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>A Few Words About Safety</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Your safety, and the safety of others, is very important.</li>
								<li>This information alerts you to potential hazards that could hurt you or others.</li>
								<li>Of course, it is not practical or possible to warn you about all the hazards associated with operating or maintaining a Honda tiller. You must use your own good judgment.</li>
								<li>Your safety is your responsibility. A little time spent in preparation will significantly reduce your risk of injury.</li>
								<li>Read and understand your owner's manual.</li>
								<li>Know what the controls do and how to operate them.</li>
								<li>Familiarize yourself with your Honda tiller and its operation before you begin using it.</li>
								<li>Know how to quickly shut off your Honda tiller in case of an emergency.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Keep Your Tiller In Safe Operating Condition</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Keep the tiller in good operating condition. Operating a tiller in poor or questionable condition could result in serious injury.</li>
								<li>Always perform a pre-operation inspection before each operation, and correct any problem.</li>
								<li>Be sure the safety covers (tine covers, fan cover and recoil starter cover) are in places.</li>
								<li>Make sure the engine is off before you begin any maintenance or repairs. This will eliminate several potential hazards like carbon monoxide poisoning from engine exhaust, burns from hot parts and injuries from moving parts.</li>
								<li>Read the owner's manual carefully. Be familiar with the controls and their proper use of the tiller.</li>
								<li>Use the tiller for the purpose it is intended that is, cultivating the soil. Any other use could be dangerous or damage the equipment, especially never use it to cultivate soil containing rocks, stones, wires and any other hard materials.</li>
								<li>Before each use, visually inspect the tiller including parts for any wear, damage and looseness. If necessary, replace the damaged parts as an assembly.</li>
								<li>Start the engine carefully according to the instructions in this manual, keeping your feet away from the tines.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Keep Yourself Safe</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Know how to stop the engine and tines quickly in case of emergency. Understand the use of all controls. Keep a firm hold on the handlebars. They may tend to lift during clutch engagement.</li>
								<li>Keep your hands and feet away from the tines while the engine is running.</li>
								<li>Wear sturdy, full-coverage footwear. Operating this tiller barefoot or with open toe shoes or sandals increases your risk of injury.</li>
								<li>Dress sensibly. Loose clothing may get caught in moving parts, increasing your risk of injury.</li>
								<li>Be alert. Operating this tiller when you are tired, ill or under the influence of alcohol or drugs may result in serious injury.</li>
								<li>Avoid operating the tiller at night or in a bad weather of poor visibility, because there is much possibility of accident.</li>
								<li>Walk, never run during operation.</li>
								<li>When taking backward steps during operation, pay special attention to people and obstacles behind the operator.</li>
								<li>Never store the tiller with gasoline in the tank inside a building where fumes may reach an open flame, spark or high temperature source.</li>
								<li>Allow the engine to cool before storing in any enclosure.</li>
								<li>Move at least 3 meters (10 feet) away from the fueling source location before starting the engine.</li>
								<li>Refuel only outdoors, in a well-ventilated area, with the engine off. Never smoke near gasoline, and keep other flames and sparks away. Always store gasoline in an approved container.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Keep Safety of Others In Mind</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">Keep children indoors and supervised at all times when any outdoors power equipment is being used nearby.</li>
								<li>Clear the area of children, bystanders, and pets. Keep all children, bystanders, and pets at least 50 feet (15 meters) away from where the tiller is being operated.</li>
								<li>If anyone approaches you while you are operating the tiller, release the throttle lever and stop the engine.</li>
								<li>Never allow children or people unfamiliar with this owner's manual to use the tiller. Allowing anyone to operate this tiller without proper instruction may result in injury.</li>
								<li>Keep in mind that the owner or user is responsible for accidents or damage, occurring to other people or their property.</li>
								<li>In the event of hire use, be sure that operational explanations are given in the presence of the user.</li>
								<li>Keep all persons and pets away from the tilling area.</li>
								<li>To reduce the fire hazard, keep the tiller especially the engine, muffler and the gasoline storage area free of grass, leaves, or excessive grease.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Important Message to Parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>Your children's safety is very important</strong>
									<ul>
										<li>Tillers are tools, not toys. As with any equipment, bad judgments can result in serious injuries.</li>
										<li>You can help prevent accidents by making good decisions about if, when, and how your child operates this equipment.</li>
									</ul>
								</li>
								<li><strong>Child's age is not the only factor</strong>
									<ul>
										<li>The first question you'll need to ask is whether your child is capable of operating your Honda tiller safely.</li>
										<li>Physically, a child must be LARGE ENOUGH AND STRONG ENOUGH to easily start your tiller and control its direction.</li>
										<li>The child also needs enough size, strength, and coordination to comfortably reach and operate the controls.</li>
									</ul>
								</li>
								<li><strong>Child's maturity and responsibility</strong>
									<ul>
										<li>Anyone who takes unnecessary risks and doesn't obey rules should not operate your tiller.</li>
									</ul>
								</li>
								<li><strong>Carefully read the owner's manual with your child</strong>
									<ul>
										<li>Make sure your child wears sturdy shoes and other protective clothing when operating or handling your tiller.</li>
									</ul>
								</li>
								<li><strong>Good adult supervision</strong>
									<ul>
										<li>Walk with your child during the first few minutes of using your tiller.</li>
										<li>An adult should also be present during refueling and maintenance.</li>
										<li>In fact, it's up to the adult owner to make sure that the Honda tiller is properly maintained and kept in safe operating condition.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Occasional User</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Before you ask anyone to operate your tiller, you need to determine whether the person is old enough, large enough, and strong enough to safely handle and control your Honda tiller.</li>
								<li>If you decide to let someone else use your Honda tiller, make sure the occasional user reads and understands all instructions and warnings in your owner's manual and on the labels before operating the Honda tiller.</li>
								<li>Allow adequate time for hands-on training, and personally supervise practice sessions until you feel sure the person is ready to operate your tiller.</li>
								<li>Also be sure the person wears proper clothing and have eye protection and any other gear that may be required by local ordinances or your insurance company.</li>
								<li>Remember, too, that you are responsible for keeping the Honda tiller properly maintained and in safe operating condition.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->