<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa">
			<div class="content_section bwa-splash">
				<div class="bwa-banner" property="act:flash" data-url="/_Global/swf/bwa/bwa_tout_en.swf" data-width="950" data-height="542"></div>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features.html" class="fl first main"><span>Features &amp; Benefits</span></a>
					<a href="updates-bwa-allmodels.html" class="fl main"><span>Great Deals</span></a>
					<!--<a href="#" class="fl main"><span>Technology Video</span></a>-->
					<a href="/snowblowers/choose-a-model" class="fl main"><span>Model Selector Tool</span></a>
				</div>
				
				<div class="fc splash-touts">
					<div class="fl tout-feature-benefits"><a href="updates-bwa-features.html"><img src="/_Global/img/content/pe/bwa/touts-features-benefits.jpg" alt="" /></a></div>
					<div class="fl tout-see-all"><a href="/generators"><img src="/_Global/img/content/pe/bwa/touts-see-all.jpg" alt="" /></a></div>
					<div class="fl touts-model-dealer">
						<div class="tout-model-selector"><img src="/_Global/img/content/pe/bwa/touts-model-selector.jpg" alt="" /></div>
						<div class="tout-find-dealer"><a href="/dealerlocator"><img src="/_Global/img/content/pe/bwa/touts-find-dealer.jpg" alt="" /></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->