<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa">
			<div class="content_section first_section">
				<div class="bwa-banner">
					<img src="/_Global/img/content/pe/bwa/banner-allmodels.jpg" alt="" />
				</div>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features.html" class="fl first main"><span>Features &amp; Benefits</span></a>
					<a href="updates-bwa-allmodels.html" class="fl main active"><span>Great Deals</span></a>
					<!--<a href="#" class="fl main"><span>Technology Video</span></a>-->
					<a href="/snowblowers/choose-a-model" class="fl main"><span>Model Selector Tool</span></a>
				</div>
			</div>
			
			<div class="fc content_section">
				<div class="bwa-product-column first-product">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $130</div>
						<div class="h2-small">Now Only $769</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS520C2</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs520.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS520 Series</div>
						<ul>
							<li>Great for smaller driveways and sidewalks - clears a 20-inch width.</li>
							<li>Lightweight and manoeuvrable, easy to transport and store.</li>
							<li>Blow away up to 29 metric tons of snow per hour* with the single-stage auger.</li>
							<li>Semi-self-propelled to ease pushing.</li>
							<li>Easy-start, powerful GC160 Honda engine.</li>
						</ul>
						
						<p>Also available with 120 VAC electric start - HS520KCS2 Save $130. Now Only $969<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">24-month, Non-commercial use/<br/>
							12-month, commercial use manufacturer’s WARRANTY</p>
						
						<p class="full-specs"><a href="/snowblowers/hs520c2" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $130</div>
						<div class="h2-small">Now Only $1,169</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS621C</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs621.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS621 Series</div>
						<ul>
							<li>Ideal for city homes - clears a 21-inch width.</li>
							<li>Blow away up to 33 metric tons of snow per hour* with the single-stage auger.</li>
							<li>Semi-self-propelled to ease pushing.</li>
							<li>Put snow where you want it with the easy one-hand chute adjustment.</li>
							<li>Easy-start, ultra robust GX160K1 Honda engine.</li>
						</ul>
						
						<p>Also available with 120 VAC electric start - HS621CS Save $130. Now Only $1,369<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs621c" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $130</div>
						<div class="h2-small">Now Only $1,869</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS622TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs622.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS622 Series</div>
						<ul>
							<li>Perfect for steep city driveways with track drive - clears a 22-inch width.</li>
							<li>Blow away up to 37 metric tons of snow per hour* with the dual-stage auger/impeller.</li>
							<li>2 forward-speed gear-drive transmission with reverse.</li>
							<li>Easy-start, ultra robust GX160K1 Honda engine.</li>
						</ul>
						
						<p>Also available with 120 VAC electric start and work light - HS622TCS Save $130. Now Only $2,069<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs622tc" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $250</div>
						<div class="h2-small">Now Only $2,749</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS724TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs724.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS724 Series</div>
						<ul>
							<li>Equal to almost any snow clearing task.</li>
							<li>Blow away up to 42 metric tons of snow per hour* with the dual-stage auger/impeller.</li>
							<li>Clear a 24-inch width and get great traction with track drive.</li>
							<li>Easy speed control with variable speed hydrostatic transmission.</li>
							<li>Easy, hydraulic assist auger height adjustment control.</li>
							<li>Easy-start, ultra robust GX200 Honda engine.</li>
						</ul>
						
						<p>Also available with 12 VDC electric start and electric chute with joystick control HS724TCD Save $250. Now Only $3,349<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs724tc" target="_blank">See full product specs</a></p>
					</div>
				</div>
			</div>
			
			<div class="fc content_section">
				<div class="bwa-product-column first-product">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $300</div>
						<div class="h2-small">Now Only $2,699</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS928WC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs928wc.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS928WC</div>
						<ul>
							<li>Perfect for flat surfaces and offers greater manoeuvrability in tight spots with wheel drive.</li>
							<li>Blow away up to 50 metric tons of snow per hour* with the dual-stage auger/impeller.</li>
							<li>Clear a 28-inch width.</li>
							<li>Easy speed control with the variable speed hydrostatic transmission.</li>
							<li>Easy-start, ultra robust GX270 Honda engine.</li>
							<li>Optional work light (sold separately)</li>
						</ul>
						
						<p>Also available with 120 VAC electric start - HS520KCS2 Save $130. Now Only $969<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs928wc" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $300</div>
						<div class="h2-small">Now Only $3,099</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS928TC</div>
					</div>
					
					<div class="product-image">
						<span>HS928TCD<br/>Model Shown†</span>
						<img src="/_Global/img/content/pe/bwa/model_hs928tcd.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS928TC/TCD</div>
						<ul>
							<li>Ideal for large areas, heavy snow conditions or commercial applications.</li>
							<li>Blow away up to 50 metric tons of snow per hour* with the dual-stage auger/impeller.</li>
							<li>Clear a 28-inch width and get great traction with track drive.</li>
							<li>Easy speed control with variable speed hydrostatic transmission.</li>
							<li>Easy, hydraulic assist auger height adjustment control.</li>
							<li>Easy-start, ultra robust GX270 Honda engine.</li>
						</ul>
						
						<p>Also available with 12 VDC electric start and electric chute with joystick control HS928TCD Save $300. Now Only $3,699<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs928tcd" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $300</div>
						<div class="h2-small">Now Only $3,499</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HS1132TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs1132tc.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS1132 Series</div>
						<ul>
							<li>Our ultimate snowblower for large areas, heavy snow conditions or commercial applications.</li>
							<li>Blow away up to 65 metric tons of snow per hour* with the dual-stage auger/impeller.</li>
							<li>Clear a 32-inch width and get great traction with track drive.</li>
							<li>Easy speed control with variable speed hydrostatic transmission.</li>
							<li>Easy, hydraulic assist auger height adjustment control.</li>
							<li>Easy-start, ultra robust GX340 Honda engine.</li>
						</ul>
						
						<p>Also available with 120 VAC electric start - HS1132TCS Save $300. Now Only $3,799<br/>
							PLUS FREIGHT AND P.D.I.</p>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hs1132tc" target="_blank">See full product specs</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">For a limited time</div>
						<div class="h2-large">Save $400</div>
						<div class="h2-small">Now Only $7,899</div>
						<div class="small-size">Plus Frieght and P.D.I.</div>
						<div class="large-size">HSM1336iC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hsm1336ic.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HSM1336iC HYBRID</div>
						<ul>
							<li>Be the envy of your neighbours with hybrid efficiency.</li>
							<li>Blow away up to 83 metric tons of snow per hour* and throw it up to 19 metres* with the dual-stage auger/impeller.</li>
							<li>Clear a 36-inch width and steer easily with independent track controls.</li>
							<li>Move the snowblower without running the engine, since the twin variable speed electric motor powers the track and the engine powers the auger**.</li>
							<li>Ease-of-use with the electric auger height adjustment control and joystick controlled chute.</li>
							<li>Easy-start, 24 VDC electric start, ultra robust GX390 Honda engine.</li>
						</ul>
						
						<p class="usage-disclaimer">36-month, Non-commercial use/<br/>
							36-month, commercial use manufacturer's warranty</p>
						
						<p class="full-specs"><a href="/snowblowers/hsm1336ic_hybrid" target="_blank">See full product specs</a></p>
					</div>
				</div>
			</div>
			
			<div class="fc content_section finders">
				<div class="fl model-selector-tool">
					<a href="/snowblowers/choose-a-model" class="second"><span>Model Selector Tool</span></a>
				</div>
				<div class="fl find-your-match-copy">
					<p>Find your perfect match from our extensive lineup of snowblowers with Honda's model selector tool.</p>
				</div>
				<div class="fl find-a-dealer">
					<a href="/dealerlocator"><img src="/_Global/img/content/pe/bwa/find-a-dealer-btn.gif" alt="Find a Dealer" /></a>
				</div>
			</div>
			
			<div class="content_section disclaimer">
				<p>*Varies with snow conditions. ** Maximum 3 minutes without the engine running.</p>
				<p>Offers apply to eligible retail purchase agreements for a limited time, while supplies last. All prices shown do not include freight and P.D.I. or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Now Only" prices shown include a discount that is deducted from the manufacturer’s suggested retail price before taxes. Actual savings may vary by dealer.  Promotional prices in effect until November 30, 2011. Prices/specifications subject to change without notice. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment dealers only. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment dealer or honda.ca/blowwinteraway for full details.</p>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->