<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa bwa-fr">
			<div class="content_section bwa-splash">
				<div class="bwa-banner" property="act:flash" data-url="/_Global/swf/bwa/bwa_tout_en.swf" data-width="950" data-height="542"></div>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features-fr.html" class="fl first main multiline"><span>Caractéristiques<br/>et avantages</span></a>
					<a href="updates-bwa-allmodels-fr.html" class="fl main multiline"><span>Offres<br/>exceptionnelles</span></a>
					<!--<a href="#" class="fl main multiline"><span>Vidéo de<br/>technologie</span></a>-->
					<a href="/souffleuses-a-neige/choisir-un-modele" class="fl main multiline"><span>Outil de sélection<br/>de modèles</span></a>
				</div>
				
				<div class="fc splash-touts">
					<div class="fl tout-feature-benefits"><a href="updates-bwa-features-fr.html"><img src="/_Global/img/content/pe/bwa/touts-features-benefits-fr.jpg" alt="" /></a></div>
					<div class="fl tout-see-all"><a href="/generatrices"><img src="/_Global/img/content/pe/bwa/touts-see-all-fr.jpg" alt="" /></a></div>
					<div class="fl touts-model-dealer">
						<div class="tout-model-selector"><img src="/_Global/img/content/pe/bwa/touts-model-selector-fr.jpg" alt="" /></div>
						<div class="tout-find-dealer"><a href="/trouver-concessionaire"><img src="/_Global/img/content/pe/bwa/touts-find-dealer-fr.jpg" alt="" /></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->