<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa bwa-fr">
			<div class="content_section first_section">
				<div class="bwa-banner">
					<img src="/_Global/img/content/pe/bwa/banner-features-fr.jpg" alt="" />
				</div>
				
				<div class="fc feature-info-area">
					<div class="fl feature-tooltips">
						<a class="pf hotspot btn-tooltips" style="left: 75px; top: 105px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-01"></a>
						<span class="hotspot-01 dn">
							<p>Passez aisément d’une surface à une autre, de votre entrée au trottoir puis à votre entrée, avec le réglage de la hauteur de la tarière à assistance hydraulique.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 165px; top: 70px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-02"></a>
						<span class="hotspot-02 dn">
							<p>Commandes faciles de l’éjecteur, pour diriger en mouvement la neige vers le haut, vers le bas, vers la droite ou vers la gauche (un éjecteur motorisé à commande électrique par joystick exclusif est disponible sur une sélection de modèles).</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 200px; top: 125px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-03"></a>
						<span class="hotspot-03 dn">
							<p>Commandes faciles à atteindre.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 255px; top: 75px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-04"></a>
						<span class="hotspot-04 dn">
							<p>Travaillez à un rythme confortable, adapté à votre pas et aux conditions de neige avec la transmission hydrostatique. Contrôlée par un seul levier, elle permet des passages avant arrière doux et rapides, et un réglage facile et plus précis de la vitesse.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 340px; top: 200px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-05"></a>
						<span class="hotspot-05 dn">
							<p>Phare de travail pour le déneigement en soirée ou tôt le matin.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 385px; top: 150px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-06"></a>
						<span class="hotspot-06 dn">
							<p>Durabilité avec le boîtier de tarière et l’éjecteur entièrement en acier.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 240px; top: 275px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-07"></a>
						<span class="hotspot-07 dn">
							<p>Tous les modèles, même à une phase, bénéficient de moteurs 4-temps Honda, efficaces et faciles à démarrer.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 175px; top: 465px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-08"></a>
						<span class="hotspot-08 dn">
							<p>L’entraînement à chenilles offre une traction supérieure. En s’agrippant au sol, elles offrent plus de facilité à monter et descendre les pentes.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 540px; top: 295px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-09"></a>
						<span class="hotspot-09 dn">
							<p>Durabilité avec le boîtier de tarière et l’éjecteur entièrement en aciere.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 490px; top: 405px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-10"></a>
						<span class="hotspot-10 dn">
							<p>Faites face aux dures conditions de neige avec la tarière/turbine à deux phases. La tarière dentelée à haute résistance coupe dans la neige glacée et tassée que la turbine évacue rapidement par l’éjecteur.</p>
						</span>
						
						<img src="/_Global/img/content/pe/bwa/tooltip-image.jpg" alt="" />
					</div>
					<div class="fr">
						<div class="bwa-info">
							<p>Depuis plus de 50 ans, les moteurs Honda sont reconnus à travers le monde pour leur conception supérieure, leur fiabilité et leur qualité de construction insurpassées.</p>
							<p>Depuis 1981, nous fabriquons des souffleuses à neige, et les moteurs Honda sont au coeur de chacune d’entre elles.</p>
							<p>Lorsque vous achetez une souffleuse à neige Honda, vous savez que vous achetez la fiabilité, la facilité d’utilisation, une puissance éprouvée pour déblayer la neige lourde et l’innovation Honda.</p>
							
							<div class="honda-advantage-button">
								<a href="/avantage-honda" class="btn primary"><span>EN SAVOIR PLUS</span></a>
							</div>
						</div>
						
						<a href="/trouver-concessionaire"><img src="/_Global/img/content/pe/bwa/find-a-dealer-btn-fr.gif" alt="Soyez pr&ecirc;t. Trouver un concessionnaire" /></a>
					</div>
				</div>
			</div>
			
			<div class="fc content_section">
				<p class="large">Appui d’un réseau de plus de 300 concessionnaires à travers le Canada,<br/>offrant un service de qualité par des techniciens Honda et des Pièces et Accessoires Honda d’origine.</p>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features-fr.html" class="fl first main multiline active"><span>Caractéristiques<br/>et avantages</span></a>
					<a href="updates-bwa-allmodels-fr.html" class="fl main multiline"><span>Offres<br/>exceptionnelles</span></a>
					<!--<a href="#" class="fl main multiline"><span>Vidéo de<br/>technologie</span></a>-->
					<a href="/souffleuses-a-neige/choisir-un-modele" class="fl main multiline"><span>Outil de sélection<br/>de modèles</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->