<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa bwa-fr">
			<div class="content_section first_section">
				<div class="bwa-banner">
					<img src="/_Global/img/content/pe/bwa/banner-allmodels-fr.jpg" alt="" />
				</div>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features-fr.html" class="fl first main multiline"><span>Caractéristiques<br/>et avantages</span></a>
					<a href="updates-bwa-allmodels-fr.html" class="fl main multiline active"><span>Offres<br/>exceptionnelles</span></a>
					<!--<a href="#" class="fl main multiline"><span>Vidéo de<br/>technologie</span></a>-->
					<a href="/souffleuses-a-neige/choisir-un-modele" class="fl main multiline"><span>Outil de sélection<br/>de modèles</span></a>
				</div>
			</div>
			
			<div class="fc content_section">
				<div class="bwa-product-column first-product">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 130 $</div>
						<div class="h2-small">Maintenant seulement 869 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS520C2</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs520.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">Série HS520</div>
						<ul>
							<li>Parfaite pour les petites entrées et les trottoirs - déblaie 20 pouces de largeur</li>
							<li>Légère et maniable, facile à transporter et à ranger</li>
							<li>Dégage jusqu’à 29 tonnes métriques de neige à l’heure* avec la tarière à une phase</li>
							<li>Semi autopropulsée pour faciliter l’avancement</li>
							<li>Puissant moteur Honda GC160 facile à démarrere</li>
						</ul>
						
						<p>Aussi offerte avec démarrage électrique 120 VCAHS520KCS2 Épargnez 130 $ - Maintenant seulement 1 069 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							24 MOIS EN UTILISATION NON COMMERCIALE<br/>
							12 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs520c2" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 130 $</div>
						<div class="h2-small">Maintenant seulement 1 269 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS621C</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs621.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">Série HS621</div>
						<ul>
							<li>Idéale pour la maison en ville - déblaie une voie de 21 pouces</li>
							<li>Dégage jusqu’à 33 tonnes métriques de neige à l’heure* avec la tarière à une phase</li>
							<li>Semi autopropulsée pour faciliter l’avancement</li>
							<li>Dirigez facilement la neige où vous voulez avec le réglage de l’éjecteur facile à une main</li>
							<li>Moteur ultra robuste Honda GX160K1, facile à démarrer</li>
						</ul>
						
						<p>Aussi offerte avec démarrage électrique 120 VCAHS621CS - Épargnez 130 $ - Maintenant seulement 1 469 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs621c" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 130 $</div>
						<div class="h2-small">Maintenant seulement 1 969 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS622TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs622.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">Série HS622</div>
						<ul>
							<li>Entraînement à chenilles idéal pour les entrées urbaines à forte pente - déblaie une voie de 22 pouces</li>
							<li>Dégage jusqu’à 37 tonnes métriques de neige à l’heure* avec la tarière/turbine à deux phases</li>
							<li>Transmission à engrenages 2 vitesses avant et marche arrière</li>
							<li>Moteur ultra robuste Honda GX160K1, facile à démarrer</li>
						</ul>
						
						<p>Aussi offerte avec démarrage électrique 120 VCA et phare - HS622TCS Épargnez 130 $ - Maintenant seulement 2 169 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs622tc" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 250 $</div>
						<div class="h2-small">Maintenant seulement 2 849 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS724TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs724.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">Série HS724</div>
						<ul>
							<li>À la hauteur de presque toutes les tâches de déneigement</li>
							<li>Dégage jusqu’à 42 tonnes métriques de neige à l’heure* avec la tarière/turbine à deux phases</li>
							<li>Déblayez une voie de 24 pouces et profitez de l’excellente traction de l’entraînement à chenilles</li>
							<li>Réglage facile de la vitesse avec la transmission hydrostatique à vitesse variable</li>
							<li>Ajustement facile de la hauteur de la tarière avec l’assistance hydraulique</li>
							<li>Moteur ultra robuste Honda GX200, facile à démarrer</li>
						</ul>
						
						<p>Aussi offerte avec démarrage électrique 12 VCC et éjecteur motorisé commandé par joystick - HS724TCD - Épargnez 250 $ - Maintenant seulement 3 449 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs724tc" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
			</div>
			
			<div class="fc content_section">
				<div class="bwa-product-column first-product">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 300 $</div>
						<div class="h2-small">Maintenant seulement 2 799 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS928WC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs928wc.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS928WC</div>
						<ul>
							<li>Parfaite pour les surfaces planes, elle offre plus de manoeuvrabilité dans les endroits exigus avec ses roues motrices</li>
							<li>Dégage jusqu’à 50 tonnes métriques de neige à l’heure* avec la tarière/turbine à deux phases</li>
							<li>Déblaie une voie de 28 pouces</li>
							<li>Réglage facile de la vitesse avec la transmission hydrostatique à vitesse variable</li>
							<li>Moteur ultra robuste Honda GX270, facile à démarrer</li>
							<li>Phare de travail en option (vendu séparément)</li>
						</ul>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs928wc" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 300 $</div>
						<div class="h2-small">Maintenant seulement 3 199 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS928TC</div>
					</div>
					
					<div class="product-image">
						<span>Modèle HS928TCD<br/>montré†</span>
						<img src="/_Global/img/content/pe/bwa/model_hs928tcd.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HS928TC/TCD</div>
						<ul>
							<li>Idéale pour les grandes surfaces, la neige abondante et les applications commerciales</li>
							<li>Dégage jusqu’à 50 tonnes métriques de neige à l’heure* avec la tarière/turbine à deux phases</li>
							<li>Déblayez une voie de 28 pouces et profitez de l’excellente traction de l’entraînement à chenilles</li>
							<li>Réglage facile de la vitesse avec la transmission hydrostatique à vitesse variable</li>
							<li>Ajustement facile de la hauteur de la tarière avec l’assistance hydraulique</li>
							<li>Moteur ultra robuste Honda GX270, facile à démarrer</li>
						</ul>
						
						<p>&dagger;Aussi offerte avec démarrage électrique 12 VCC et éjecteur motorisé commandé par joystick - HS928TCD - Épargnez 300 $ - Maintenant seulement 3 799 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs928tcd" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 300 $</div>
						<div class="h2-small">Maintenant seulement 3 599 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HS1132TC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hs1132tc.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">Série HS1132</div>
						<ul>
							<li>Notre souffleuse à neige ultime pour les grandes surfaces, la neige abondante et les applications commerciales</li>
							<li>Dégage jusqu’à 65 tonnes métriques de neige à l’heure* avec la tarière/turbine à deux phases</li>
							<li>Déblayez une voie de 32 pouces et profitez de l’excellente traction de l’entraînement à chenilles</li>
							<li>Réglage facile de la vitesse avec la transmission hydrostatique à vitesse variable</li>
							<li>Ajustement facile de la hauteur de la tarière avec l’assistance hydraulique</li>
							<li>Moteur ultra robuste Honda GX340, facile à démarrer</li>
						</ul>
						
						<p>Aussi offerte avec démarrage électrique 120 VCA - HS1132TCS - Épargnez 300 $ - Maintenant seulement 3 899 $ transport et préparation inclus.</p>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hs1132tc" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
				
				<div class="bwa-product-column">
					<div class="product-header">
						<div class="mid-size">Pour un temps limité</div>
						<div class="h2-large">Épargnez 400 $</div>
						<div class="h2-small">Maintenant seulement 7 999 $</div>
						<div class="small-size">Transport et préparation inclus.</div>
						<div class="large-size">HSM1336iC</div>
					</div>
					
					<div class="product-image">
						<img src="/_Global/img/content/pe/bwa/model_hsm1336ic.jpg" alt="" />
					</div>
					
					<div class="product-desc">
						<div class="h2-mid">HSM1336iC HYBRID</div>
						<ul>
							<li>Faites l’envie de vos voisins avec l’efficacité du système hybride</li>
							<li>Dégage jusqu’à 83 tonnes métriques de neige à l’heure* et projette la neige jusqu’à 19 mètres de distance* avec la tarière/turbine à deux phases</li>
							<li>Déblayez une voie de 36 pouces et profitez de la facilité de conduite avec les commandes indépendantes des chenilles</li>
							<li>Déplacez la souffleuse sans mettre le moteur en marche, avec les deux moteurs électriques à vitesse variable qui entraînent les chenilles et le moteur GX390 qui propulse exclusivement la tarière**</li>
							<li>Facilité et confort d’utilisation avec le réglage de la hauteur de la tarière à commande électrique et l’éjecteur motorisé commandé par joystick</li>
							<li>Démarrage électrique facile à 24 VCC, moteur ultra robuste Honda GX390</li>
						</ul>
						
						<p class="usage-disclaimer">Garantie du fabricant:<br/>
							36 MOIS EN UTILISATION NON COMMERCIALE<br/>
							36 MOIS EN UTILISATION COMMERCIALE</p>
						
						<p class="full-specs"><a href="/souffleuses-a-neige/hsm1336ic_hybrid" target="_blank">Voir la fiche complète du produit</a></p>
					</div>
				</div>
			</div>
		
			<div class="fc content_section finders">
				<div class="fl model-selector-tool">
					<a href="/souffleuses-a-neige/choisir-un-modele" class="second"><span>Outil de sélection de modèles</span></a>
				</div>
				<div class="fl find-your-match-copy">
					<p>Trouvez celle qui vous conviendra parfaitement parmi notre vaste gamme de souffleuses à neige, avec l’outil sélecteur de modèles Honda.</p>
				</div>
				<div class="fl find-a-dealer">
					<a href="/trouver-concessionaire"><img src="/_Global/img/content/pe/bwa/find-a-dealer-btn-fr.gif" alt="Soyez pr&ecirc;t. Trouver un concessionnaire" /></a>
				</div>
			</div>
			
			<div class="content_section disclaimer">
				<p>*Varie selon les conditions de neige. **Maximum de 3 minutes avec le moteur arrêté.</p>
				<p>Les offres s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Les prix indiqués n’incluent pas les frais de transport et de préparation, ni les taxes de vente applicables. Le concessionnaire peut vendre à prix moindre. Les prix “Maintenant seulement” indiqués incluent un rabais qui est déduit du prix de detail suggéré par le fabricant avant les taxes. Les économies réelles peuvent varier selon le concessionnaire. Prix promotionnels en vigueur jusqu’au 30 novembre 2011. Prix/caractéristiques modifiables sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire.</p>
				<p>Chez les concessionnaires participants de Produits Mécaniques Honda du Canada seulement. Les modèles et les couleurs peuvent différer. Sauf erreurs et omissions. Voyez votre concessionnaire de Produits Mécaniques Honda ou honda.ca/degagezvousdelhiver pour les détails complets.</p>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->