<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/pe/sections/bwa.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container bwa">
			<div class="content_section first_section">
				<div class="bwa-banner">
					<img src="/_Global/img/content/pe/bwa/banner-features.jpg" alt="" />
				</div>
				
				<div class="fc feature-info-area">
					<div class="fl feature-tooltips">
						<a class="pf hotspot btn-tooltips" style="left: 75px; top: 105px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-01"></a>
						<span class="hotspot-01 dn">
							<p>Go from one surface to another with the hydraulic assist auger height adjustment. Move from your driveway, to your sidewalk and back, with ease.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 165px; top: 70px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-02"></a>
						<span class="hotspot-02 dn">
							<p>Direct snow discharge up, down, or side-to-side on the go with the easy chute control. (An electric chute with exclusive joystick control is available on select models.)</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 200px; top: 125px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-03"></a>
						<span class="hotspot-03 dn">
							<p>Easy to reach controls.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 255px; top: 75px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-04"></a>
						<span class="hotspot-04 dn">
							<p>Set a comfortable pace and match snow conditions with the hydrostatic transmission. It's controlled by a single lever, enables quick switching between forward and reverse, and allows easy and precise speed adjustment.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 340px; top: 200px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-05"></a>
						<span class="hotspot-05 dn">
							<p>Work light for evening and early morning clearing.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 385px; top: 150px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-06"></a>
						<span class="hotspot-06 dn">
							<p>Durability with the steel auger housing and chute.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 240px; top: 275px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-07"></a>
						<span class="hotspot-07 dn">
							<p>All models, even our single-stage, are powered by an easy-start, efficient 4-stroke Honda engine.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 175px; top: 465px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-08"></a>
						<span class="hotspot-08 dn">
							<p>Superior traction with track drive. By gripping the ground, it makes moving up and down inclines easier.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 540px; top: 295px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-09"></a>
						<span class="hotspot-09 dn">
							<p>Durability with the steel auger housing and chute.</p>
						</span>
						
						<a class="pf hotspot btn-tooltips" style="left: 490px; top: 405px;" property="act:tooltip" data-position="right bottom" data-tooltip-class="tooltip-right" data-tooltip-content-target=".hotspot-10"></a>
						<span class="hotspot-10 dn">
							<p>Handles tough snow conditions with the dual-stage auger and impeller. The heavy-duty serrated auger breaks up icy, hard packed snow and the impeller sends it quickly up the chute.</p>
						</span>
						
						<img src="/_Global/img/content/pe/bwa/tooltip-image.jpg" alt="" />
					</div>
					<div class="fr">
						<div class="bwa-info">
							<p>For over 50 years, Honda engines have been known the world over for their superior design, reliability and unsurpassed quality construction.</p>
							<p>Since 1981, we've been making snowblowers and Honda engines are at the heart of every Honda snowblower.</p>
							<p>When you buy a Honda snowblower, you know you’re buying reliability, ease of use, proven power for heavy snow clearing, and Honda innovation.</p>
							
							<div class="honda-advantage-button">
								<a href="/honda-advantage" class="btn primary"><span>Find Out More</span></a>
							</div>
						</div>
						
						<a href="/dealerlocator"><img src="/_Global/img/content/pe/bwa/find-a-dealer-btn.gif" alt="Find a Dealer" /></a>
					</div>
				</div>
			</div>
			
			<div class="fc content_section">
				<p class="large">Backed by a network of over 300 dealers across Canada,<br/>offering service by Honda technicians and Genuine Honda Parts and Accessories.</p>
				
				<div class="fc bwa-nav">
					<a href="updates-bwa-features.html" class="fl first main active"><span>Features &amp; Benefits</span></a>
					<a href="updates-bwa-allmodels.html" class="fl main"><span>Great Deals</span></a>
					<!--<a href="#" class="fl main"><span>Technology Video</span></a>-->
					<a href="/snowblowers/choose-a-model" class="fl main"><span>Model Selector Tool</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->