.cbr-page h2 { color: #000000; font-family: Helvetica,Arial,sans-serif; font-size: 22px; line-height: 32px; padding-bottom: 5px; }
.cbr-page p { color: #424242; font-size: 16px; line-height: 24px; margin-bottom: 16px; }
.cbr-page p.small { font-size: 11px; }
.cbr-page p.disclaimer { color: #000000 !important; font-size: 12px !important; font-style: italic !important; line-height: 17px !important; margin-top: 12px !important; }
.cbr-page a:hover { padding-bottom: 0; }

.cbr-page .content_container { padding: 18px 45px 28px; }
.cbr-page .content_container_alt { padding: 18px 0 0; }
.cbr-page .content_container_alt .content_section { width: 730px; }
.cbr-page .wrapper_extended { margin-bottom: 0; }

.cbr-page .banner { margin: 0 auto; padding-bottom: 10px; position: relative; width: 946px; }
.cbr-page .banner a.hotspot { background: url("/_Global/img/layout/hotspot.png") no-repeat scroll 0 0 transparent; display: block; height: 22px; position: absolute; width: 22px; z-index: 10; }
.cbr-page .banner a.btn-tooltips { cursor: pointer; }

.cbr-page .hash-tag-grey,
.cbr-page .hash-tag-black,
.cbr-page .hash-tag-red{padding-left:12px; position:absolute; top:32px; right:24px;}

.cbr-page .hash-tag-grey span,
.cbr-page .hash-tag-black span,
.cbr-page .hash-tag-red span{padding:0 14px 0 4px; display:block; line-height:25px; }

.cbr-page .hash-tag-red{background:url("/_Global/img/content/mc/cbr/btn_hash_red_left.png") 0 0 no-repeat;}
.cbr-page .hash-tag-red span{background:url("/_Global/img/content/mc/cbr/btn_hash_red_right.png") right bottom no-repeat; color:#e24245;}
.cbr-page .hash-tag-grey{background:url("/_Global/img/content/mc/cbr/btn_hash_grey_left.png") 0 0 no-repeat;}
.cbr-page .hash-tag-grey span{background:url("/_Global/img/content/mc/cbr/btn_hash_grey_right.png") right bottom no-repeat; color:#aaa;}
.cbr-page .hash-tag-black{background:url("/_Global/img/content/mc/cbr/btn_hash_black_left.png") 0 0 no-repeat;}
.cbr-page .hash-tag-black span{background:url("/_Global/img/content/mc/cbr/btn_hash_black_right.png") right bottom no-repeat; color:#fff;}

* html .cbr-page .hash-tag-red span{display:inline; zoom:1; height:25px; line-height:23px;}
* html .cbr-page .hash-tag-grey span{display:inline; zoom:1; height:25px; line-height:23px;}
* html .cbr-page .hash-tag-black span{display:inline; zoom:1; height:25px; line-height:23px;}

.cbr-page .tooltip-right .tooltip_content .info { margin-top: 5px; }
.cbr-page .tooltip-right .tooltip_content p { color: #424242; line-height: 16px; margin-bottom: 0; padding-bottom: 0; }

.cbr-page .bubble-container { margin: 0 auto; padding-top: 5px; text-align: center; }
.cbr-page .bubble { display: inline-block; padding-left: 55px; }
.cbr-page .bubble span { display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: bold; height: 61px; line-height: 60px; padding-right: 40px; }
.cbr-page .bubble strong { font-weight: 700; }
.cbr-page .bubble strong em {  }

.cbr-page .bubble-floating { background: #fff; padding-bottom: 66px; }
.cbr-page .bubble-floating .bubble-container { position: absolute; bottom:40px; left:0; width:946px;}

.cbr-page .red-bubble { background: url("/_Global/img/content/mc/cbr/bubble-red-cap-left.png") no-repeat scroll 0 0 transparent; }
.cbr-page .red-bubble span { background: url("/_Global/img/content/mc/cbr/bubble-red-cap-right.png") no-repeat scroll right 0 transparent; color: #FFFFFF; text-shadow: -1px -1px 0 #93494E; }
.cbr-page .red-bubble strong { color: #F8ED24; }
.cbr-page .red-rev-bubble span { color: #F8ED24; }
.cbr-page .red-rev-bubble strong { color: #FFFFFF; }
.cbr-page .white-bubble { background: url("/_Global/img/content/mc/cbr/bubble-white-cap-left.png") no-repeat scroll 0 0 transparent; }
.cbr-page .white-bubble span { background: url("/_Global/img/content/mc/cbr/bubble-white-cap-right.png") no-repeat scroll right 0 transparent; color: #777777; text-shadow: -1px -1px 0 #FFFFFF; }
.cbr-page .white-bubble strong { color: #000000; }
.cbr-page .black-bubble { background: url("/_Global/img/content/mc/cbr/bubble-black-cap-left.png") no-repeat scroll 0 0 transparent; }
.cbr-page .black-bubble span { background: url("/_Global/img/content/mc/cbr/bubble-black-cap-right.png") no-repeat scroll right 0 transparent; color: #BBBBBB; text-shadow: -1px 1px 0 #000000; }
.cbr-page .black-bubble strong { color: #FFFFFF; }

.cbr-page a.cbr-btn-single { background: url("/_Global/img/content/mc/cbr/btn-cbr-single-left.gif") no-repeat scroll 0 0 transparent; cursor: hand; display: inline-block; }
.cbr-page a.cbr-btn-single .inner { background: url("/_Global/img/content/mc/cbr/btn-cbr-single-right.gif") no-repeat scroll right 0 transparent; color: #0087CB; display: inline-block; font-size: 16px; font-style: italic; font-weight: bold; height: 53px; line-height: 52px; margin-left: 45px; padding: 0 30px 0 0; }
.cbr-page a.cbr-btn-single:hover .inner { color: #000000; }

.cbr-page ul.cbr-btn-multi { width: 586px; }
.cbr-page ul.cbr-btn-multi li { background: url("/_Global/img/content/mc/cbr/btn-cbr-multi-bg.gif") repeat-y scroll 0 0 transparent; border-bottom: 1px solid #D3E3F6; color: #0087CB; }
.cbr-page ul.cbr-btn-multi li.first { background: url("/_Global/img/content/mc/cbr/btn-cbr-multi-top.gif") no-repeat scroll 0 0 transparent; }
.cbr-page ul.cbr-btn-multi li.last { background: url("/_Global/img/content/mc/cbr/btn-cbr-multi-bottom.gif") no-repeat scroll 0 0 transparent; border: 0; }
.cbr-page ul.cbr-btn-multi li a { background: url("/_Global/img/content/mc/cbr/cbr_btn_arrow.gif") no-repeat scroll 20px 20px transparent; display: block; font-size: 16px; font-style: italic; font-weight: bold; padding: 18px 0 18px 40px; }
.cbr-page ul.cbr-btn-multi li a:hover { color: #000000; }

.cbr-page .buttons { height: 40px; margin: 0 auto; width: 610px; }
.cbr-page .buttons li { background: url("/_Global/img/content/mc/cbr/bg_feature_btn.png"); height: 40px; margin-left: 15px; width: 178px; }
.cbr-page .buttons li.first { margin-left: 0; }
.cbr-page .buttons li a { background: url("/_Global/img/content/mc/cbr/feature_btn_blank.png") no-repeat; color: #FFFFFF; display: block; font-size: 14px; font-weight: bold; height: 28px; padding-top: 12px; overflow: hidden; text-align: center; text-transform: uppercase; width: 178px; }
.cbr-page .buttons li.multi a { background: url("/_Global/img/content/mc/cbr/feature_btn_blank.png") no-repeat; color: #FFFFFF; display: block; font-size: 14px; font-weight: bold; height: 28px; padding-bottom: 9px !important; padding-top: 3px !important; overflow: hidden; text-align: center; text-transform: uppercase; width: 178px; }
.cbr-page .buttons li a:hover { background-position: 0 -40px; }
.cbr-page .buttons li a.selected { background-position: 0 -80px; }
.cbr-page .buttons li.optional a { background: none; height: 40px; padding-top: 0; }
.cbr-page .buttons li.optional a:hover img { margin-top: -40px; }
.cbr-page .buttons li.optional a.selected img { margin-top: -80px; }

/* @end */
/* @group Navigation */

.cbr-page .cbr-nav { width: 206px; }
.cbr-page .cbr-nav p { color: #999999; font-size: 10px; line-height: normal; }
.cbr-page .cbr-nav p a { color: #999999; text-decoration: underline; }
.cbr-page .cbr-nav p a:hover { border: 0; text-decoration: none; }
.cbr-page .cbr-nav .cbr-logo { margin-bottom: 15px; }
.cbr-page .cbr-nav .cbr-logo a { background: url("/_Global/img/content/mc/cbr/cbr_logo.png") no-repeat scroll 0 top transparent; display: block; height: 38px; width: 181px; }
.cbr-page .cbr-nav .cbr-logo a:hover { background: url("/_Global/img/content/mc/cbr/cbr_logo.png") no-repeat scroll 0 bottom transparent; }
.cbr-page .cbr-nav .cbr-nav-topcap { background: url("/_Global/img/content/mc/cbr/cbr_nav_top_cap.png") no-repeat scroll 0 0 transparent; height: 15px; }
.cbr-page .cbr-nav .cbr-nav-bottomcap { background: url("/_Global/img/content/mc/cbr/cbr_nav_bottom_cap.png") no-repeat scroll 0 0 transparent; height: 14px; }
.cbr-page .cbr-nav dl { background: url("/_Global/img/content/mc/cbr/cbr_nav_bg.png") repeat-y scroll 0 0 transparent; border-bottom: 1px solid #DDDDDD; }
.cbr-page .cbr-nav dl dt { border-top: 1px solid #DDDDDD; color: #B60B0E; font-family: Helvetica, Arial; font-size: 16px; font-weight: bold; height: 30px; padding: 15px 10px 0 15px; }
.cbr-page .cbr-nav dl dt.first { border-top: 0; padding-top: 0; }
.cbr-page .cbr-nav dl dd { background: url("/_Global/img/content/mc/cbr/cbr_nav_arrow_bg.png") repeat-x scroll 0 0 #F5F5F5; border-top: 1px solid #DDDDDD; font-size: 12px; line-height: 17px; margin: 0 1px; position: relative; }
.cbr-page .cbr-nav dl dd a { background: url("/_Global/img/content/mc/cbr/cbr_nav_arrow.gif") no-repeat scroll 25px 14px transparent; color: #666666; display: block; padding: 10px 10px 10px 45px; }
.cbr-page .cbr-nav dl dd a:hover { color: #000000; }
.cbr-page .cbr-nav dl dd.fb-logo { padding-right: 35px; }
.cbr-page .cbr-nav dl dd.fb-logo span { background: url("/_Global/img/content/mc/cbr/fb-logo.gif") no-repeat scroll 0 0 transparent; height: 19px; position: absolute; right: 9px; top: 9px; width: 19px; }
.cbr-page.french .cbr-nav dl dd.fb-logo span { left: 18px; }

/* @end */
/* @group Home Page */

.cbr-page .cbr-home .banner { width: 950px; }
.cbr-page .cbr-home .banner .colours { bottom: 110px; left: 205px; position: absolute; }
.cbr-page .cbr-home .banner .colours dt { color: #666666; font-size: 10px; height: 26px; line-height: 26px; text-transform: uppercase; }
.cbr-page .cbr-home .banner .colours dd a { border: 1px solid #FFFFFF; display: block; height: 22px; margin-left: 7px; padding: 2px; width: 23px; }
.cbr-page .cbr-home .banner .colours dd.selected a,
.cbr-page .cbr-home .banner .colours dd a:hover { border: 1px solid #E6E6E6; }
.cbr-page .cbr-home .content_container_alt .first_section p { margin-bottom: 45px; padding: 0 60px 0 60px; }
.cbr-page .cbr-home .cbr-nav { padding-left: 44px; }
.cbr-page .cbr-home .content_container .first_section { border-top: 0; }
.cbr-page .cbr-home .experience-box { margin-top: 15px; padding-left: 60px; width: 586px; }
.cbr-page .cbr-home .experience { border-top: 2px solid #E7E7E7; padding-bottom: 20px; }
.cbr-page .cbr-home .experience-logo { padding: 10px 0; text-align: center; width: 175px; }
.cbr-page .cbr-home .experience-copy { border-left: 2px solid #E7E7E7; width: 400px; }
.cbr-page .cbr-home .content_container_alt .experience-copy p { line-height: 16px; margin: 0; padding: 20px; }
.cbr-page .cbr-home .ready-to-ride { background: url("/_Global/img/content/mc/cbr/home-ready-to-ride.jpg") no-repeat scroll 0 0 transparent; height: 207px; padding: 50px 310px 50px 50px; width: 535px; }
.cbr-page .cbr-home .ready-to-ride .ready-heading { font-family: Helvetica, Arial; font-size: 36px; margin-bottom: 15px; }
.cbr-page .cbr-home .ready-to-ride .ready-heading em { font-weight: bold; }
.cbr-page .cbr-home .ready-to-ride .ready-heading strong { color: #E2242E; }

/* @end */
/* @group Generation */

.cbr-generation .content_container:first-child{margin-bottom:0; padding-bottom:10px;}
.cbr-generation .content-col{width:624px;}
.cbr-generation .heading-primary{font-size: 78px; color:#000; font-weight:bold; letter-spacing:-6px; line-height:75px; margin-bottom:44px;}
.cbr-generation .heading-primary span{color:#df242c; font-style:italic;}
.cbr-generation .content-col dd{margin-bottom:10px;}
.cbr-generation .content-col dd .fl{width:464px;}
.cbr-generation .content-col dd .fr{padding-top:16px;}
.cbr-generation .content-col dd .title{font-family:arial, sans-serif; font-size:24px; color:#df242c; font-weight:bold; margin-bottom:16px;}

.cbr-generation .content_container_alt{background:url("/_Global/img/content/mc/cbr/cbr_front_profile.png") 0 0 no-repeat; padding:110px 0 0 310px;}

* html .cbr-generation .heading-primary{line-height:60px;}

* + html .cbr-generation .heading-primary{line-height:60px;}

/* @end */
/* @group Race Series */

.cbr-race-series .banner { padding-left: 14px; width: 966px; }

.cbr-race-series .content_container_alt{margin:0 78px 0 44px;}
.cbr-race-series .content-col{width:600px;}

.cbr-race-series .heading{font-family:arial, sans-serif; color:#df242c; font-weight:bold; font-size:24px; margin-bottom:20px;}
.cbr-race-series p{font-size:16px; color:#414141; font-family:verdana, arial, sans-serif; line-height:22px;}

.cbr-race-series .intro img{margin:0 0 20px 40px; display:block;}

.cbr-race-series .get-involved{margin:20px 0;}
.cbr-race-series .get-involved dt{font-size:18px; color:#000; font-weight:bold; font-family:arial, sans-serif; margin-bottom:30px;}
.cbr-race-series .get-involved dd{width:245px; border-bottom:1px solid #e1e0e0; background:url("/_Global/img/content/mc/cbr/icon_check.png") 0 center no-repeat; font-size:12px; color:#414141; padding-left:30px; line-height:34px;}

.cbr-race-series .racing-corporation{background:url("/_Global/img/content/mc/cbr/box_primary_top_cap.png") 0 0 no-repeat; padding-top:11px; margin:40px 0 0 0;}
.cbr-race-series .racing-corporation .bottom-cap{background:url("/_Global/img/content/mc/cbr/box_primary_bottom_cap.png") 0 bottom no-repeat; padding:18px 44px 14px 37px;}
.cbr-race-series .racing-corporation .content-area{background:url("/_Global/img/content/mc/cbr/logo_honda_racing.png") 0 center no-repeat; padding-left:156px;}
.cbr-race-series .racing-corporation .heading{font-family:verdana, arial, sans-serif; color:#010000; font-size:12px; font-weight:bold; margin:0 0 6px 0;}
.cbr-race-series .racing-corporation p{font-size:12px; color:#414141; line-height:17px;}

.cbr-race-series dl.link-group{margin:40px 0 0 0;}
.cbr-race-series dl.link-group dt{font-size:18px; color:#000; font-family:arial, sans-serif; font-weight:bold; margin-bottom:24px;}
.cbr-race-series dl.link-group dd{background:url("/_Global/img/content/mc/cbr/icon_bullet.png") 0 6px no-repeat; padding-left:16px; margin-left:10px;}
.cbr-race-series dl.link-group dd a{font-size:16px; font-family:verdana, arial, sans-serif; color:#0087cb; text-decoration:underline; margin-bottom:14px; display:block;}
.cbr-race-series dl.link-group dd a:hover{margin:0 0 14px 0; padding:0;}

* html .cbr-race-series .get-involved dd{zoom:1;}
* html .cbr-race-series .racing-corporation .bottom-cap{zoom:1;}
* html .cbr-race-series .racing-corporation .content-area{zoom:1;}

* + html .cbr-race-series .racing-corporation .bottom-cap{zoom:1;}
* + html .cbr-race-series .racing-corporation .content-area{zoom:1;}

/* @end */
/* @group New to Riding */

.cbr-new-riding .cbr-nav{padding-top:10px;}
.cbr-new-riding .content_container_alt{padding:0 0 0 43px;}
.cbr-new-riding .content_container{padding-top:0;}

.cbr-new-riding .training-guide{background:url("/_Global/img/content/mc/cbr/training_guide_top_cap.png") 0 0 no-repeat; padding-top:15px; width:655px; margin:0 20px 60px 0;}
.cbr-new-riding .training-guide .bottom-cap{width:655px; height:11px; background:url("/_Global/img/content/mc/cbr/training_guide_bottom_cap.png") 0 0 no-repeat;}
.cbr-new-riding .training-guide dl{background:url("/_Global/img/content/mc/cbr/training_guide_mid_pattern.png") 0 0 repeat-y;}
.cbr-new-riding .training-guide dd{padding:0 0 0 26px; margin:0 10px 0 4px; width:615px; background:url("/_Global/img/content/mc/cbr/training_guide_gradient_bg.gif") 0 bottom repeat-x;}
.cbr-new-riding .training-guide dd div{background:url("/_Global/img/content/mc/cbr/training_guide_stich_pattern.png") 0 0 no-repeat; padding:47px 60px 40px 43px;}
.cbr-new-riding .training-guide dd div .heading{font-size:24px; font-weight:bold; color:#414141; display:block; margin-bottom:20px; font-family:arial, sans-serif !important;}
.cbr-new-riding .training-guide dd div p{margin:0; font-size:16px; color:#414141; line-height:22px; font-family:verdana, arial, sans-serif;}
.cbr-new-riding .training-guide dd:first-child .heading{color:#54893d;}
.cbr-new-riding .training-guide dd:first-child div{padding-top:33px; background-position:0 -14px;}
.cbr-new-riding .training-guide dd.get-yours{background:url("/_Global/img/content/mc/cbr/training_guide_get_cbr.gif") right bottom no-repeat;}
.cbr-new-riding .training-guide dd.get-yours div{padding-right:252px;}
.cbr-new-riding .training-guide dd.get-yours .heading{color:#df242d;}
.cbr-new-riding .training-guide dd.share-experience{background:url("/_Global/img/content/mc/cbr/training_guide_share_bg.gif") right bottom no-repeat;}
.cbr-new-riding .training-guide dd.share-experience div{padding-right:256px; padding-bottom:100px;}

* html .cbr-new-riding .training-guide dd{zoom:1;}
* html .cbr-new-riding .training-guide dd div{zoom:1;}

* + html .cbr-new-riding .training-guide dd div{zoom:1;}

/* @end */
/* @group Special Features */

.cbr-page .cbr-features { position: relative; top: -8px; }
.cbr-page .cbr-features .banner { padding-bottom: 0; width: 980px; }

.cbr-page .cbr-features .content-col { padding-right: 15px; width: 610px; }
.cbr-page .cbr-features .content-col p { color: #000000; }

.cbr-page .cbr-features .content-col .features-list { border-bottom: 1px solid #DDDDDD; }
.cbr-page .cbr-features .content-col .features-list dd { border-top: 1px solid #DDDDDD; padding: 20px 0; }
.cbr-page .cbr-features .content-col .features-list .image { width: 112px; }
.cbr-page .cbr-features .content-col .features-list .image .stop-thumb { margin-top: 10px; }
.cbr-page .cbr-features .content-col .features-list .info { margin-left: 23px; width: 475px; }
.cbr-page .cbr-features .content-col .features-list .info h3 { color: #414141; font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin-bottom: 5px; }
.cbr-page .cbr-features .content-col .features-list .info p { color: #414141; line-height: 22px; margin-bottom: 0; }

/* @end */
/* @group Galleries */

.cbr-page .cbr-gallery a.gallery-buttons { display: block; height: 50px; position: absolute; top: 210px; width: 50px; }
.cbr-page .cbr-gallery a.gallery-buttons:hover { background-position: 0 -50px; }
.cbr-page .cbr-gallery a.gallery-prev { background: url("/_Global/img/content/mc/cbr/gallery-prev.png") no-repeat scroll 0 0 transparent; left: 10px; }
.cbr-page .cbr-gallery a.gallery-next { background: url("/_Global/img/content/mc/cbr/gallery-next.png") no-repeat scroll 0 0 transparent; right: 10px; }

.cbr-page .cbr-gallery .bubble-floating .bubble-container { bottom: 20px; }
.cbr-page .cbr-gallery .content-col .first_section { padding-bottom: 45px; }
.cbr-page .cbr-gallery .content-col .content_section { width: 610px; }
.cbr-page .cbr-gallery .gallery li { margin: 0 0 12px 12px; }
.cbr-page .cbr-gallery .gallery li.first { margin-left: 0; }

.cbr-page .cbr-gallery .wallpapers { padding-bottom: 20px; }
.cbr-page .cbr-gallery .wallpapers h3 { color: #414141; font-size: 16px; }
.cbr-page .cbr-gallery .wallpapers .classic-wallpapers { width: 264px; }
.cbr-page .cbr-gallery .wallpapers .classic-wallpapers h3 span { background: url("/_Global/img/content/mc/cbr/icon-classic.gif") no-repeat scroll right 4px transparent; padding-right: 20px; }
.cbr-page .cbr-gallery .wallpapers .mobile-wallpapers { margin-left: 50px; width: 264px; }
.cbr-page .cbr-gallery .wallpapers .mobile-wallpapers h3 span { background: url("/_Global/img/content/mc/cbr/icon-mobile.gif") no-repeat scroll right 4px transparent; padding-right: 20px; }

.cbr-page .cbr-gallery .wallpapers dl dd { margin-left: 8px; }
.cbr-page .cbr-gallery .wallpapers dl dd.first { margin-left: 0; }
.cbr-page .cbr-gallery .wallpapers dl dd ul { margin-top: 12px; }
.cbr-page .cbr-gallery .wallpapers dl dd ul li { color: #0D9BE4; line-height: 15px; list-style: disc inside none; margin-left: 5px; }
.cbr-page .cbr-gallery .wallpapers dl dd a.wallpaper-image { border: 1px solid #FFFFFF; display: block;}
.cbr-page .cbr-gallery .wallpapers dl dd a.wallpaper-image:hover { border: 1px solid #000000; }
.cbr-page .cbr-gallery .wallpapers .classic-wallpapers dl dd a.wallpaper-image { height: 93px; width: 126px; }
.cbr-page .cbr-gallery .wallpapers .mobile-wallpapers dl dd a.wallpaper-image { height: 96px; width: 126px; }

/* @end */
/* @group Reviews */

.cbr-page .cbr-reviews .banner { padding-bottom: 25px; width: 980px; }
.cbr-page .cbr-reviews .bubble-floating .bubble-container { bottom: 30px; }
.cbr-page .cbr-reviews .content-col { padding: 20px 0 10px; width: 615px; }
.cbr-page .cbr-reviews .content-col .reviews-list { border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; }
.cbr-page .cbr-reviews .content-col .reviews-list dd { background: url("/_Global/img/content/mc/cbr/reviews_bg.jpg") repeat-x scroll 0 0 #FFFFFF; border-top: 1px solid #DDDDDD; padding: 18px; }
.cbr-page .cbr-reviews .content-col .reviews-list .image { height: 66px; width: 66px; }
.cbr-page .cbr-reviews .content-col .reviews-list .info { margin-left: 30px; width: 480px; }
.cbr-page .cbr-reviews .content-col .reviews-list .info h3 { color: #414141; font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin-bottom: 5px; }
.cbr-page .cbr-reviews .content-col .reviews-list .info p { color: #414141; line-height: 22px; margin-bottom: 0; }
.cbr-page .cbr-reviews .content-col .reviews-list .info p a { font-size: 12px; }

/* @end */
/* @group Footer */

.cbr-page .footer-wrapper{background:url("/_Global/img/content/mc/cbr/footer_container_top_cap.png") 0 0 no-repeat; margin-top:34px; padding-top:14px; width:884px; margin:26px auto 0; position:relative;}
.cbr-page .footer-container{background:url("/_Global/img/content/mc/cbr/footer_container_bottom_cap.png") 0 bottom no-repeat; padding:14px 31px 28px;}

.cbr-page .facebook{width:233px;}
.cbr-page .twitter{width:218px; height:217px; overflow:hidden; margin:0 28px 0 42px; z-index:20; position:relative;}
.cbr-page .twitter .heading{background:url("/_Global/img/content/mc/cbr/icon_twitter.gif") 0 0 no-repeat; padding:9px 0 0 58px; height:33px; font-family:verdana, arial, sans-serif; color:#0087cb; font-size:16px; margin-bottom:13px;}
.cbr-page .twitter dd{border-top:1px solid #ddd; padding:14px 0; font-size:12px; color:#414141; line-height:16px;}
.cbr-page .generation{width:301px; z-index:20; position:relative;}

.cbr-page .footer-corner-graphic{width:642px; height:135px; position:absolute; bottom:-37px; right:-48px; background:url("/_Global/img/content/mc/cbr/footer_corner_graphic.png") 0 0 no-repeat; z-index:10;}

* html .cbr-page .footer-wrapper{z-index:20;}
* html .cbr-page .footer-corner-graphic{right:-51px; bottom:-38px;}

* + html .cbr-page .footer-wrapper{z-index:20;}

/* @end */

.cbr-page .gallery .viewer { width: 946px;height: 450px; }

/* @twitter */
.twtr-bd p { font-family: Verdana, sans-serif; font-size: 11px; line-height: 16px; }
.twtr-widget .twtr-tweet { border-bottom: none !important; border-top: 1px solid #DDDDDD; }
.twtr-widget .twtr-tweet .twtr-tweet-wrap { padding: 9px 0; }