@import url(model-selector.css);
/* Products - All Sections */
.page-product-listing .bottom-container { margin-bottom: -6px; }
.page-product-listing .cap_bottom_grey { bottom: -6px; }

.page-product-listing #feature_area .feature_header { padding: 0 17px; }
.page-product-listing #feature_area .feature_header .h2 { color: #E72530; }
.page-product-listing #feature_area .feature_header p { margin-bottom: 15px; padding-bottom: 0px; }

.page-product-listing #feature_area .feature_box { margin: 0 0 0 17px; }
.page-product-listing #feature_area .feature_box .top_cap { background: url("/_Global/img/content/mc/products/feature_box_silver_t.png") no-repeat scroll left top transparent; height: 106px; padding: 0 36px 0 20px; width: 255px; }
.page-product-listing #feature_area .feature_box .center_cap { background: url("/_Global/img/content/mc/products/feature_box_silver_c.png") no-repeat scroll left bottom transparent; height: 79px; padding: 0 36px 0 20px; width: 255px; }
.page-product-listing #feature_area .feature_box .bottom_cap { background: url("/_Global/img/content/mc/products/feature_box_silver_b.png") no-repeat scroll left bottom transparent; height: 37px; padding: 0 36px 0 20px; width: 255px; }

.page-product-listing #feature_area .feature_box .heading { padding-bottom: 0; width: auto; }
.page-product-listing #feature_area .feature_box .divider { background: url("/_Global/img/content/mc/products/bevel_grey_border_h.gif") repeat-x scroll left top transparent; }
.page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/mc/products/arrow_grey_r.gif") no-repeat scroll right 5px transparent; }
.page-product-listing #feature_area .feature_box .btn a,
.page-product-listing #feature_area .feature_box p { color: #7C7C7C; margin-bottom: 0; }
.page-product-listing #feature_area .feature_box .btn a:hover { background: url("/_Global/img/content/products/dotted_grey_border_h.gif") repeat-x left bottom transparent; }

.page-product-listing #feature_area .feature_box .center_cap p { padding-top: 10px; }
.page-product-listing #feature_area .feature_box .bottom_cap p { padding-bottom: 10px; }

.page-product-listing .product .year{font-size:17px; color:#545454; font-weight:bold;}
.page-product-listing .product .product-image { height: 75px; width: 150px; }

.page-product-listing .choose .product .product-item { margin-left: 42px; width: 150px; }

.page-product-listing .toolbox-top-alt .popup-top .product-image { height: 75px; width: 150px; }

.page-product-listing .choose .product .product-item { margin-left: 42px; width: 150px; }
.page-product-listing .choose .all-products-steps { overflow: hidden; }
.page-product-listing .choose .all-products-steps li { background: url("/_Global/img/content/products/circle_red.png") no-repeat scroll left top transparent; padding-bottom: 18px; }
.page-product-listing .choose .all-products-steps li .counter { color: #FFFFFF; display: block; float: left; font-size: 18px; height: 26px; line-height: 22px; text-align: center; width: 26px; }
.page-product-listing .choose .all-products-steps li .list-copy { float: left; font-size: 22px; font-weight: bold; margin-left: 15px; }
.page-product-listing .choose .categories { height: 27px; margin-left: 16px; padding: 3px 0 0 0; }
.page-product-listing .choose .categories li { background: none; border-left: 1px solid #DEDEDE; float: left; font-size: 22px; font-weight: bold; line-height: 16px; margin-left: 10px; padding: 0 0 0 10px; text-transform: uppercase; }
.page-product-listing .choose .categories li.first { border-left: 0; margin-left: 0; padding-left: 0; }
.page-product-listing .choose .categories li a { color: #000000; }
.page-product-listing .choose .categories li a:hover, .page-product-listing .choose .categories li.active a { color: #E72530 !important; }

*   html .page-product-listing .choose .all-products-steps { width: 825px; }
*   html .page-product-listing .choose .all-products-steps li .counter { font-size: 14px; font-weight: bold; line-height: 24px; }
*   html .page-product-listing .choose .all-products-steps li .list-copy { font-size: 17px; line-height: 22px; }
*   html .page-product-listing .choose .categories { padding-top: 1px; }
*   html .page-product-listing .choose .categories li { font-size: 17px; line-height: 22px; }
* + html .page-product-listing .choose .all-products-steps li .counter { font-size: 14px; font-weight: bold; line-height: 24px; }
* + html .page-product-listing .choose .all-products-steps li .list-copy { font-size: 17px; line-height: 22px; }
* + html .page-product-listing .choose .categories { padding-top: 1px; }
* + html .page-product-listing .choose .categories li { font-size: 17px; line-height: 22px; }

.page-product-listing .choose .reset-button { margin-top: 48px; }
*   html .page-product-listing .choose .reset-button { text-align: right; width: 70px; }

.page-product-listing .compare .product { margin: 0; }
.page-product-listing .compare .product .product-item { background: url("/_Global/img/content/products/circle_grey.png") no-repeat scroll left 30px transparent; margin: 0 0 0 15px; }
.page-product-listing .compare .product .active { background: url("/_Global/img/content/products/circle_red.png") no-repeat scroll left 30px transparent; }
.page-product-listing .compare .product .list-steps { margin: 32px 13px 0 0; }
.page-product-listing .bottom_feature_inner .active .product-item-inner { padding-top: 25px; }
.page-product-listing .bottom_feature_inner .price span.tag-text-msrp { padding-top: 4px;}

.page-product-listing .toolbox-top-alt .popup-top .product-image { background: none; width: 150px; }

.page-product-listing .toolbox-top-alt .popup-top .h1 { width: 190px;}

.page-product-listing .toolbox-top-alt .large-price .price { letter-spacing: -2px; }

.page-product-listing .toolbox-top-alt .price-heading{ padding-left: 7px; }

.page-product-listing .choose-model-placeholder { height: 248px; text-align: center; padding-top: 200px; font-size: 22px; font-weight: bold; color: #8f8f8f; border-top: 1px solid #dedede; }

.toolbox-top-alt { width: 410px; }

/* Products - Choose model all */
.page-product-listing .choose-model-all { position: relative; z-index: 0; /*top: -40px;*/ }
.page-product-listing .choose-model-all h1 { display: none; }
.page-product-listing .choose-model-all .first_section p { margin-bottom: 15px; }
.page-product-listing .choose-model-all .primary_section { margin-top: 0; }
