.content_container { padding: 6px 15px 28px; }

.banner { margin-bottom: 40px; text-align: center; }

.sir-content { margin: 0 auto; width:840px; }

.sir-content h1 { color: #999999; font-size: 28px; text-align: center; text-transform: none; }
.sir-content .vehicles { margin-bottom: 30px; }
.sir-content .vehicle-box { height: 270px; width: 389px; }
.sir-content .topleft-box { border-bottom: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; }
.sir-content .topright-box { border-bottom: 1px solid #E5E5E5; }
.sir-content .bottomleft-box { border-right: 1px solid #E5E5E5; padding-top: 25px; }
.sir-content .bottomright-box { padding-top: 25px; }

.sir-content .vehicles .vehicle-column { width: 402px; }
.sir-content .vehicles .vehicle-column-first { margin-right: 15px; }
.sir-content .vehicles .vehicle-column table { border-collapse: separate; border-spacing: 2px; margin-bottom: 20px; width: 100%; }
.sir-content .vehicles .vehicle-column table th,
.sir-content .vehicles .vehicle-column table td { color: #666666; font-size: 9px; padding: 3px; vertical-align: bottom; }
.sir-content .vehicles .vehicle-column table th.first,
.sir-content .vehicles .vehicle-column table td.first { width: 180px; }
.sir-content .vehicles .vehicle-column table th { text-align: left; text-transform: uppercase; }
.sir-content .vehicles .vehicle-column table th.first { color: #000000; font-size: 11px; }
.sir-content .vehicles .vehicle-column table th.discount { color: #E11837; }
.sir-content .vehicles .vehicle-column table tr.odd td { background-color: #D4D4D4; }
.sir-content .vehicles .vehicle-column table tr.even td { background-color: #E7E7E7; }

.sir-content .vehicle-box .vehicle-image { height: 210px; text-align: center; }
.sir-content .vehicle-box p { color: #999999; font-family: Helvetica, Arial, sans-serif; font-size: 17px; font-weight: bold; line-height: 20px; margin-left: 25px; }
.sir-content .vehicle-box p span { color: #E11837; }

.sir-content .footer-area { height: 93px; margin-bottom: 22px; position: relative; }
.sir-content .footer-area .links { bottom: 0; position: absolute; width: 675px; }
.sir-content .footer-area .links .more-deals { margin-left: 95px; padding-bottom: 40px; text-align: center; }
.sir-content .footer-area .links .find-a-dealer a { color: #8A8A8A; font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; text-transform: uppercase; }
.sir-content .footer-area .links .find-a-dealer a:hover { color: #CCCCCC; }
.sir-content .footer-area .logo { bottom: 2px; position: absolute; right: 0; }

.sir-content .legal { border-top: 1px solid #E11837; margin-top: 15px; padding-top: 15px; }
.sir-content .legal p { color: #323232; font-size: 9px; line-height: 12px; padding-bottom: 0; }
.sir-content .legal .legal-links li { float: left; }
.sir-content .legal .legal-links li a { border-left: 1px solid #323232; color: #E11837; font-size: 9px; line-height: 12px; margin-left: 5px; padding-left: 5px; }
.sir-content .legal .legal-links li a:hover { color: #E17D8D; }
.sir-content .legal .legal-links li.first a { border-left: 0; }