body{background:#b4b4b4 url("../../img/layout/mc/body_bg.gif") 0 0 repeat-x;}
#footer,
#footer a{color:#fff !important;}
#footer .sub_footer_nav{border-top:1px solid #A4A4A4;}
#logo, .header_logo { width: 245px; height: 64px; background: url("../../img/layout/honda_logo_mc.gif") no-repeat scroll 0 0 transparent !important; }
.french #logo, .french .header_logo { background-image: url("../../img/layout/honda_logo_mc_fr.gif") !important; width: 270px; }
#sub_header { width: 650px; padding: 8px 7px 0 0; }

.french .brochure-flyout .dropdown_button_right a.btn_large { padding: 0 0 0 31px; width: 190px; }

#popup-image .popup-image-content { padding: 10px; }

.navigation-dropdown .product-item .image { height: 90px; width: 150px; }
.navigation-dropdown .product-item .product-copy { margin-left: 10px; width: 130px; }
.navigation-dropdown .product-item .product-pricing { width: 130px; }
.navigation-dropdown .product-item .product-pricing .small-price { margin-top: 15px; }

.navigation-dropdown .generator .content_section .why-buy { background: url("../../img/content/mc/landing/landing_generators.png") no-repeat scroll left top transparent; }
.navigation-dropdown .generator .content_section .why-buy .heading { color: #c4c4c4; background: url("../../img/content/mc/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/mc/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .generator .content_section .why-buy .button a .text { color: #0d9be4;  }

.navigation-dropdown .content_section .why-buy .heading { color: #c4c4c4; background: url("../../img/content/mc/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .button a:hover { border: none; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/mc/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .button a:hover .text { border-bottom: 1px dotted #0D9BE4; color: #0D9BE4; margin-right: 10px; padding-right: 0; }

.navigation-dropdown .product-item { height: auto; }
.navigation-dropdown .product-item .image { width: 90px; }
.navigation-dropdown .product-item .product-copy { width: 180px; }
.navigation-dropdown .dropdown_button .dropdown_button_right a { background-image: none !important; }

#primary_nav li a { padding-left: 28px; padding-right: 28px; }
#primary_nav li.last a { padding-left: 0; padding-right: 0; }
* html #main_menu #primary_nav li a { padding-left: 28px !important; padding-right: 28px !important; }
* html #main_menu #primary_nav li.last a { padding-left: 0 !important; padding-right: 0 !important; }
* + html #main_menu #primary_nav li a { padding-left: 28px !important; padding-right: 28px !important; }
* + html #main_menu #primary_nav li.last a { padding-left: 0 !important; padding-right: 0 !important; }

.car_box .dropdown_button_right a { padding-left: 12px; padding-right: 12px; }
.french #primary_nav li a { padding-left: 28px; padding-right: 28px; }
.french #primary_nav li.last a { padding-left: 0; padding-right: 0; }
.french .car_box .dropdown_button_right a { padding-left: 12px; padding-right: 12px; }

/* Dropdown nav background images */

.french .car_box .content_section .why-buy{background:url("../../img/layout/mc/honda.ca_mc_advantage_ONRoad_FR_R2.png") 0 0 no-repeat;} /* On Road FR */
.french .hybrid_box .content_section .why-buy{background:url("../../img/layout/mc/honda.ca_mc_advantage_OFFRoad_FR_R2.png") 0 0 no-repeat;} /* Off Road FR */
.car_box .content_section .why-buy{background:url("../../img/layout/mc/honda.ca_mc_advantage_ONRoad_EN_R2.png") 0 0 no-repeat;} /* On Road EN */
.hybrid_box .content_section .why-buy{background:url("../../img/layout/mc/honda.ca_mc_advantage_OFFRoad_EN_R2.png") 0 0 no-repeat;} /* Off Road EN */

.navigation-dropdown .content_section .why-buy .content p{background:url("../../img/layout/mc/dropdown_divider.gif") 0 bottom repeat-x; /*line-height:14px;*/}
.navigation-dropdown .content_section .why-buy .heading{background:url("../../img/layout/mc/dropdown_divider.gif") 0 bottom repeat-x; color:#7a7a7a;}

.car_box .dropdown_button{background:url("../../img/layout/mc/btn_car_overlay_button_leftmost.png") 0 0 no-repeat;}
.car_box .dropdown_button_right{background:url("../../img/layout/mc/btn_car_overlay_button_right.png") right 0 no-repeat;}

/* @group tooltip disclaimer */

.tooltip-disclaimer { z-index: 20; }
.tooltip-disclaimer .tooltip_arrow{background:url("../../img/layout/tooltip_alt_arrow.png") 0 0 no-repeat; width:18px; height:25px; left:394px; top:15px !important;}
.tooltip-disclaimer .tooltip_content_top,
.tooltip-disclaimer .tooltip_content_bottom,
.tooltip-disclaimer .tooltip_content{width:410px;top:0 !important;overflow:hidden;}
.tooltip-disclaimer .tooltip_content_top{background:url("../../img/layout/tooltip_gray_top_cap.png") 0 0 no-repeat;}
.tooltip-disclaimer .tooltip_content_mid{background:url("../../img/layout/tooltip_gray_middle_bg.png") 0 0 repeat-y; padding-right:40px; width:372px;}
.tooltip-disclaimer .tooltip_content_mid p{font-size:9px !important; color:#424242; line-height:13px;}
.tooltip-disclaimer .tooltip_content_mid p.heading{font-size:12px !important; color:#242424; font-family:verdana, arial, sans-serif; margin-bottom:10px;}
.tooltip-disclaimer .tooltip_content_bottom{background:url("../../img/layout/tooltip_gray_bottom_cap.png") 0 0 no-repeat;}

.tooltip_content_mid .image {text-align: center;}

/* Letter Spacing Improvement */

.french.page-product-listing .product .price del,
.french.page-product-listing .product .special strong,
.french.page-product-listing .product .final strong{letter-spacing:-1px;}

.french.page-accessories .find .product .product_name .price-value{letter-spacing:-2px;}

.page-product-listing .product .price del,
.page-product-listing .product .special strong,
.page-product-listing .product .final strong{letter-spacing:-1px;}

.wrapper_columns .product .price del strong,
.wrapper_columns .product .special strong,
.wrapper_columns .product .final strong{letter-spacing:-1px;}

.page-accessories .find .product .product_name .price-value{letter-spacing:-2px;}

.page-product-details .product_wrapper .product-price-container .price-heading{height:14px;}
.page-product-details .product_wrapper .product-price-container .mdp .price-heading{height:24px;}
.page-product-details .product_wrapper .product-price-container .mdp{padding-top:1px;}