/* @group General */

h2.small { font-size: 14px; padding-bottom: 15px; }
.accessories-tout { margin-top: 10px; }
.page-accessories h3 { line-height: 15px; }
.page-accessories .find .product .product_name .price-value { letter-spacing: -2px; }
.page-accessories .find .product .product_name .price-value sup { font-size: 24px; margin-right: 2px; }

/* @end */

/* @group Results Specific */

.page-accessories .find .accessories-list a { color: #1b1b1b;}
.page-accessories .find .accessories-list a:hover { color: #e72530; }

/* @end */

/* @group Tooltip */
/*
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_heading { color: #1b1b1b }
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_price { color: #8f8f8f; font-size: 14px; margin-top: 3px; }
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_price span { color: #7c7c7c; font-size: 10px; font-weight: bold;}
*/
.page-accessories .tooltip-right .tooltip_content { /*top: -50px;*/ top: 0; left: 0; }
.page-accessories .tooltip-right .tooltip_arrow { display: none; }
.page-accessories .tooltip-right .tooltip_content_mid .image { height: auto; margin: 0 0 16px ; width: 250px; }
.page-accessories .tooltip-right .tooltip_content_mid p { color: #545454; font-size: 10px; line-height: 15px; padding-bottom: 0; }
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_heading,
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_price { color: #545454; font-size: 12px; line-height: 14px; padding-bottom: 2px; }
.page-accessories .tooltip-right .tooltip_content_mid ul { color: #424242; font-size: 11px; list-style: disc outside none; }
.page-accessories .tooltip-right .tooltip_content_mid ul li { margin: 7px 0 7px 15px; line-height:16px; }


/*.tooltip-right .tooltip_content { width: 304px; }
.tooltip-right .tooltip_content_mid { padding: 4px 12px; background: url("../../../img/content/marine/accessories/marine_tooltip_middle.png") repeat-y scroll left top; }
.tooltip-right .tooltip_content_mid .image { padding-left: 0; }
.tooltip-right .tooltip_content_top { background: url("../../../img/content/marine/accessories/marine_tooltip_top_cap.png") no-repeat scroll left top; }
.tooltip-right .tooltip_content_bottom { background: url("../../../img/content/marine/accessories/marine_tooltip_bottom_cap.png") no-repeat scroll left bottom; height: 7px; }*/
/* @end */

.page-accessories .find .product .product_name .price { top: -6px; }
.page-accessories .find .product .product_name .small-price { top: 0; }
.page-accessories .find .product .product_name .small-price .price-label { top: 3px;vertical-align: top; }
.page-accessories .find .product .product_name .small-price .price-value { position: relative; font-size: 18px;vertical-align: top;}
.page-accessories .find .product .product_name .msrp .price-value { color: #7C7C7C; }
.page-accessories .find .product .product_name .discount .price-value { color: #9ACF5B; }
.page-accessories .find .product .product_name .small-price del:before { top: 14px; }
.page-accessories .find .product .product_name .small-price .strike { top: 12px; }

* + html .page-accessories .find .product .product_name .msrp { margin-top: 3px; }
* + html .page-accessories .find .product .product_name .small-price .price-value { font-size: 14px;letter-spacing: normal;}
