.page-current-offers-provincial-landing h2 { font-size: 22px; margin-top: 5px; padding-bottom: 25px; }

.page-current-offers-details .info { width: 460px; }
.page-current-offers-details .info p { line-height: 17px; }
.page-current-offers-details .image { width: 400px; }

*   html .page-current-offers-details h1 { padding-bottom: 20px; }
* + html .page-current-offers-details h1 { padding-bottom: 20px; }