/* @group General Finance Styles */

h2 { font-size: 14px; line-height: 18px; padding-bottom: 7px; }
h2.h2-black { color:#1b1b1b; padding-top: 7px; }
.finance-tout { background: url('../../../img/content/finance/finance_tout.jpg') top left no-repeat; width:651px; height:180px; margin: 11px 0 19px 0;}
.content_section { padding-top: 25px; margin-top: 25px; }
.content_section.first_section { padding-top: 7px; margin-top: 7px; }
.navigation-dropdown .content_section.first_section { margin: 0 !important; padding: 0 !important; }

/* @end */

/* @group Privacy Specific */

.privacy-downloads { padding-top: 16px; }

/* @end */

/* @group Credit Application Specific */

.page-finance .credit .content_section .credit-app-column { margin-top: 19px; }
.page-finance .credit .content_section .credit-app-column dt { margin-bottom: 18px; }
.page-finance .credit .content_section .credit-app-column dd a:hover { background: url("../../../img/content/landing/dotted_blue_border_h.gif") repeat-x scroll left bottom; padding-bottom: 3px; }

/* @end */

/* @group Payment Calculator Specific */

.page-finance .calculator #finance-calculator .tbl th.even,
.page-finance .calculator #finance-calculator .tbl td.even { width: 150px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate td { height: 113px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .first { background: url('../../../img/content/finance/top_pc_l_cap_tall.gif') no-repeat scroll 0 0 transparent; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .first { background: url('../../../img/content/finance/top_pc_r_cap_tall.gif') no-repeat scroll 0 0 transparent; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 { vertical-align: top;}
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 div { height: 83px; padding: 15px 20px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col3 { width: 100px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 .pc-finance { margin-top: 10px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .button div { padding-left: 65px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart { width: 658px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .top .last span { margin-top: 15px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .additional-km { padding: 8px 11px 0 11px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .additional-km span { padding: 5px 0 15px 0;}
/* @end */

/* @group FAQ Specific */

.page-finance .accordion-controls { margin-bottom: 15px; }
.page-finance .faq h2.alternate{ color: #1B1B1B; }
.page-finance .faq h2.fl { width: 430px; }
.page-finance .faq { color: #727272; font-size: 11px; line-height: 14px; }
.page-finance .faq dt { font-weight: bold; }
.page-finance .faq dt.first { color: #1B1B1B; margin-bottom: 10px; }
.page-finance .faq dd { margin-bottom: 25px; }
.page-finance .faq p.h3 { color: #1B1B1B; font-size: 12px; font-weight: bold; margin-bottom: 20px; }
.page-finance .faq p.plus-heading { color: #727272; font-size: 12px; font-weight: bold; margin-bottom: 4px; }
.page-finance .faq p.plus-copy { color: #424242; line-height: 14px; margin-bottom: 25px; }
.page-finance .faq .sub_content { background: url("../../../img/content/parts-service/dotted_grey_border_h.gif") repeat-x scroll left bottom transparent; border-bottom: none; padding-bottom: 0; zoom: 1; }
.page-finance .faq .sub_content_inner { padding-top: 8px; padding-bottom: 25px; padding-top: 20px; }
.page-finance .faq .active { margin-bottom: 15px; background: url("../../../img/content/parts-service/flexbar_alt_top_cap.gif") no-repeat scroll left top transparent; }
.page-finance .faq .active .sub_content_inner { background: url("../../../img/content/parts-service/flexbar_alt_bottom_cap.gif") no-repeat scroll left bottom transparent; padding-bottom: 25px; /*padding-top: 10px;*/ }
*   html .page-finance .faq .active .sub_content_inner { zoom: 1; }
* + html .page-finance .faq .active .sub_content_inner { zoom: 1; }

.page-finance .faq .sub_content .alternate { background: none; margin-bottom: 0; padding: 0 0 0 12px; }
.page-finance .faq .active .alternate { padding-bottom: 5px; }
.page-finance .faq .sub_content .alternate span { background: none; text-transform: none; }
.page-finance .faq .sub_content .alternate span a { color: #1B1B1B; font-size: 12px; padding-left: 48px; }
.page-finance .faq .active .alternate span a { color: #E72530; }
.page-finance .faq .sub_content p { margin-bottom: 10px; padding: 0 40px 0 60px; }
.page-finance .faq .sub_content ul { padding: 0 40px 0 60px; }
.page-finance ul.red-check { margin-bottom: 20px; }

.page-finance .faq dl.contact-info { width: 650px; }
.page-finance .faq dl.contact-info dd { width: 325px; }
.page-finance .faq dl.contact-info dd h3,
.page-finance .faq dl.contact-info dd p { padding: 0 40px 0 60px; }

/* @end */