﻿.page-landing .wide_three_column li p.heading a { background: none; display: inline; }
.page-landing .wide_three_column li p a:hover { padding-bottom: 3px; }

*   html .page-landing .wide_three_column p.find-out-more:hover { line-height: 1; }
*   html .page-landing .wide_three_column p.find-out-more a { line-height: 1; padding-bottom: 5px; zoom: 1; }
*   html .page-landing .wide_three_column p.find-out-more a:hover { padding-bottom: 5px; }
* + html .page-landing .wide_three_column p.find-out-more:hover { line-height: 1; }
* + html .page-landing .wide_three_column p.find-out-more a { line-height: 1; padding-bottom: 5px; zoom: 1; }
* + html .page-landing .wide_three_column p.find-out-more a:hover { padding-bottom: 5px; }