.page-parts-service h2.small { font-size: 14px; padding-bottom: 10px; }
.page-parts-service .content_container_alternate h3 { font-size: 14px; }
.page-parts-service h3.large { font-size: 18px; }

.page-parts-service .content_container_alternate { padding: 18px 30px 0; }

.page-parts-service .sub_section { background: url("/_Global/img/layout/white_dotted_divider.gif") repeat-x scroll 0 0 transparent; margin-top: 30px; padding-top: 30px; }

.page-parts-service .content_container strong { color: #7B7B7B; }

.page-parts-service .warranty h3.large { margin-bottom: 25px; }
*   html .page-parts-service .warranty h3.large { padding-bottom: 25px; width: 450px; }
* + html .page-parts-service .warranty h3.large { padding-bottom: 25px; }

.page-parts-service ul.red-check { background: url("/_Global/img/layout/dark/dotted_border.png") repeat-x scroll left top transparent; }
.page-parts-service ul.red-check li { background: url("/_Global/img/layout/dark/dotted_border.png") repeat-x scroll left bottom transparent; border: 0; font-weight: bold; }

.page-parts-service .warranty .active { padding-bottom: 5px; }

.page-parts-service .choosing_parts_sections h2.small { padding-bottom: 2px; }

/* @pagination */
.page-parts-service .content .top-pagination { border-bottom: 1px solid #DEDEDE; margin-top: 20px; margin-bottom: 20px; }
.page-parts-service .content .top-pagination .pagination { border-top: 1px solid #DEDEDE; }
.page-parts-service .content .bottom-pagination { border-top: 1px solid #DEDEDE; margin-top: 25px; padding-top: 0; }
.page-parts-service .content .product { margin-top: 35px;  }
.page-parts-service .content .first { margin-top: 0; }
.page-parts-service .content .product .product-item { width: 160px; margin-left: 75px; }
.page-parts-service .content .product .first { margin-left: 10px; }
* html .page-parts-service .content .product .first { margin-left: 10px; }
.page-parts-service .content .product .product-item a { display: block; }
.page-parts-service .content .product .product-item .product-image { height: auto; text-align: center; }
.page-parts-service .content .product .product-item .price-heading { margin-bottom: 2px; text-align: center; text-transform: capitalize; }
.french.page-parts-service .content .product .product-item .price-heading { text-transform: none; }
.page-parts-service .content .product .product-item .price { color: #7C7C7C; margin-bottom: 2px; text-align: center; }
.page-parts-service .content .product .product-item .price strong,
.page-parts-service .tooltip-right-alt .tooltip_content_mid .desc .price strong { font-size: 14px; }
.page-parts-service .content .product .product-item .price span,
.page-parts-service .tooltip-right-alt .tooltip_content_mid .desc .price span { font-size: 8px; text-transform: uppercase; }
/* @end */

/* @IE */
* html .page-parts-service .overview .tabs_horizontal li a { padding: 13px 13px 0; }
* html .page-parts-service .overview .tabs_horizontal li.first a.selected { background-position: left -40px !important; }
* html .page-parts-service .overview .tabs_horizontal li.first a { background-position: left 0px !important; }
* + html .page-parts-service .overview .tabs_horizontal li a { padding: 13px 13px 0; }
* + html .page-parts-service .overview .tabs_horizontal li.first a.selected { background-position: left -40px !important; }
* + html .page-parts-service .overview .tabs_horizontal li.first a { background-position: left 0px !important; }
/* @end */

/* @ overlay for product listing - left version */
.page-parts-service .tooltip-left-alt .tooltip_content { right: -27px;  top: 0; width: 307px; }
.page-parts-service .tooltip-left-alt .tooltip_arrow { display: none; right: -41px; top: 45px; }
/* @ end */

/* @ overlay for product listing */
.page-parts-service .tooltip-right .tooltip_content { width: 305px; }
.page-parts-service .tooltip-left .tooltip_content { width: 305px; }
.page-parts-service .tooltip-left .tooltip_arrow { left: 291px; }
.page-parts-service .tooltip-left .tooltip_content p { color: #727272; }

.page-parts-service .tooltip-right-alt .tooltip_content { left: -23px; top: 0; width: 307px; }
.page-parts-service .tooltip-right-alt .tooltip_arrow { display: none; left: -37px; top: 45px; }
.page-parts-service .tooltip-right-alt-bottom .tooltip_arrow { bottom: 65px; top: auto; }
.page-parts-service .tooltip-left-alt-bottom .tooltip_arrow { bottom: 65px; top: auto; }

.page-parts-service .tooltip_content_top { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_top_cap.png") no-repeat scroll left bottom transparent; width: 307px;  }
.page-parts-service .tooltip_content_mid { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_mid_bg.png") repeat-y scroll left top transparent; padding: 5px 13px 15px; zoom: 1; }
.page-parts-service .tooltip_content_bottom { background: url("/_Global/img/content/mc/parts-service/tooltip_alt_bottom_cap.png") no-repeat scroll left top transparent; width: 307px; }

.page-parts-service .tooltip_content_mid .desc { padding: 0 8px 0 10px; }
.page-parts-service .tooltip_content_mid .desc h3 { margin-bottom: 5px; margin-top: 20px; line-height: 15px; }
.page-parts-service .tooltip_content_mid .desc .part-number { color: #1B1B1B; font-weight: bold; }
.page-parts-service .tooltip_content_mid .desc .price { color: #7C7C7C; margin-bottom: 10px; text-align: left; }
.page-parts-service .tooltip_content_mid .desc ul  { padding-left: 13px; }
.page-parts-service .tooltip_content_mid .desc ul li { list-style: disc outside none; margin-bottom: 10px; line-height: 15px; font-size: 11px; color: #424242; }
.page-parts-service .tooltip_content_mid .image { text-align: center; }

/* @ end */