/* Product - All Pages */
.page-product-details .product_heading h1 { color: #151515; line-height: 32px; }
.page-product-details .product_heading .content { padding: 27px 29px 0; }
.page-product-details .product_heading .accessory-carousel { height: 303px; }

.page-product-details .product_wrapper, .page-product-details .product_wrapper_top_cap { margin-bottom: 0; width: 1000px; }

.page-product-details .product_wrapper_top_cap, .page-product-details .product_wrapper_bottom_cap { background: none; font-size: 1px; height: 10px; overflow: hidden; width: 1000px; zoom: 1; }
.page-product-details .product_wrapper_top_cap .cap_top_default { background: url("/_Global/img/layout/marine/cap_top_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }
.page-product-details .product_wrapper_bottom_cap .cap_bottom_default { background: url("/_Global/img/layout/marine/cap_bottom_grey.png") no-repeat scroll center 0 transparent; height: 10px; position: static; top: 0; width: 1000px; }

.page-product-details .product_wrapper .product_heading .header, .page-product-details .product_wrapper .product_heading .footer { background: #F4F4F4; }

.page-product-details .product_wrapper .product_name { width: 375px; }

.page-product-details .product_heading .content .top_selling .image {  background: none repeat scroll 0 0 #FFFFFF; } 
.page-product-details .product_heading .content .top_selling .accessory { padding-top: 11px;margin-top: 11px; }
.page-product-details .product_heading .content .top_selling .first { padding-top: 0;margin-top: 0; }

* html .page-product-details .product_wrapper .product_name { width: 245px !important; }
* + html .page-product-details .product_wrapper .product_name { width: 245px !important; }
* html .page-product-details .product_wrapper .product-options-container { width: 310px !important; }
* + html .page-product-details .product_wrapper .product-options-container { width: 310px !important; }

.page-product-details .product_wrapper .product-options-container .option { margin: 0 60px 0 0; text-align: right; }
.page-product-details .product_wrapper .product-options-container .option .options-heading { color: #545454; padding: 7px 0 10px; text-transform: uppercase; }

.page-product-details .product_wrapper .product-options-container .years .year { border-left: 1px solid #C4C4C4; float: left; font-size: 25px; height: 25px; line-height: 19px; margin-left: 9px; padding-left: 11px; }
.page-product-details .product_wrapper .product-options-container .years .first { border-left: none; margin-left: 0; padding: 0; }
.page-product-details .product_wrapper .product-options-container .years .year span { color: #151515; }
.page-product-details .product_wrapper .product-options-container .years .year a { color: #C4C4C4; }

.page-product-details .product_wrapper .product-options-container .colors a { float: left; margin-left: 8px; padding: 3px; }
.page-product-details .product_wrapper .product-options-container .colors .active,
.page-product-details .product_wrapper .product-options-container .colors a:hover { border: 1px solid #D6D6D6; padding: 2px; }
.page-product-details .product_wrapper .product-options-container .colors .first { margin-left: 0; }

.page-product-details .product_wrapper .product-options-container .colors .color { display: block; height: 20px; width: 20px; }
.page-product-details .product_wrapper .product-options-container .colors .black { background: #000000; }
.page-product-details .product_wrapper .product-options-container .colors .red { background: #D22636; }

.page-product-details .product_wrapper .product-price-container { width: auto; }

.page-product-details .product_wrapper .product-price-container .small-price { margin-right: 20px; }

.page-product-details .product_wrapper .product-price-container .price-heading { font-size: 12px !important; padding: 7px 0 4px; }
.page-product-details .product_wrapper .product-price-container .large-price.msrp .price { top: -10px; }

.page-product-details .product_wrapper .product-price-container .multiline .price-heading { font-size: 10px !important; padding: 0 0 4px; }

.page-product-details .product_wrapper .product-price-container .discount-price .price { padding-top: 3px; }

.page-product-details del { top: -2px; }
.page-product-details del:before { top: 15px; }
.page-product-details .strike { top: 15px; }

.page-product-details .product_heading .content .feature-image { width: 780px; text-align: center;overflow: hidden;margin-right: 0; }
.page-product-details .product_heading .content .feature-image .product-legal { color: #7C7C7C; font-size: 10px; margin: 30px 0 0; text-align: left; }
.page-product-details .product_heading .content .feature-image .view-360 { position: absolute; right: 15px; top: 0; z-index: 10; }
.page-product-details .product_heading .no-accessories .feature-image { margin: 0 96px; }

.page-product-details .tabs_horizontal li a { padding: 11px 25px 0; }

.page-product-details .content_container .province-selector { margin-top: 12px; }
.page-product-details .content_container .download { background: url("/_Global/img/layout/dl_icon.gif") no-repeat scroll 0 0 transparent; color: #A9A9A9; font-size: 14px; font-weight: bold; height: 20px; line-height: 16px; margin-top: 12px; padding-left: 30px; text-transform: uppercase; }
.page-product-details .content_container .download:hover { color: #696969; }

/* Product - Overview */
.page-product-details .content_container h2 { font-size: 22px; }
.page-product-details .content_container h2.small { font-size: 12px; text-transform: none; }
.page-product-details .content_container .overview .first_section h2 { color: #E72530; }

.page-product-details .content_container .overview .configuration_section dl { margin: 0 0 15px 2px; }
.page-product-details .content_container .overview .configuration_section dd { margin-top: 10px; }
.page-product-details .content_container .overview .configuration_section dd.first { margin-top: 0; }
.page-product-details .content_container .overview .configuration_section dd .top-cap { background: url("/_Global/img/content/marine/products/config_price_cap_top.gif") no-repeat scroll 0 0 transparent; height: 4px; }
.page-product-details .content_container .overview .configuration_section dd .bottom-cap { background: url("/_Global/img/content/marine/products/config_price_cap_bottom.gif") no-repeat scroll 0 0 transparent; height: 4px; }
.page-product-details .content_container .overview .configuration_section dd .config-container { background-color: #F4F4F4; padding: 0 20px 17px; width: 615px; } 
.page-product-details .content_container .overview .configuration_section dd .product-info { padding: 17px 20px 0 0; width: 280px; }
.page-product-details .content_container .overview .configuration_section dd .product-info .header { color: #151515; font-size: 14px; font-weight: bold; line-height: 15px; padding-bottom: 7px; }
.page-product-details .content_container .overview .configuration_section dd .product-info .info { color: #333333; font-size: 11px; line-height: 16px; }
.page-product-details .content_container .overview .configuration_section dd .product-info .info sup { line-height: 5px; }
.page-product-details .content_container .overview .configuration_section dd .product-price-container { padding-top: 7px; width: 308px; }
.page-product-details .content_container .overview .configuration_section dd .product-price-container .discount-price .price { padding-top: 3px; }
.page-product-details .content_container .overview .configuration_section p { color: #696969; font-size: 10px; line-height: 14px; }

.page-product-details .content_container .overview .recently_viewed h2 { font-size: 18px; text-transform: uppercase; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product { width: 500px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product { margin: 0 0 0 43px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .image { background-color: transparent; height: 115px; width: 80px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare { padding: 36px 0 50px 25px; width: 130px; }

/* Product - Features */
.page-product-details .content_container .features .sub_content { border-top: 1px solid #D5D5D5; }
.page-product-details .content_container .features .h1 { margin-bottom: 0; }
.page-product-details .content_container .features h2 { font-size: 14px; line-height: normal; padding: 30px 0 0; text-transform: none; }
.page-product-details .content_container .features dl { margin-top: 20px; padding-bottom: 35px; }
.page-product-details .content_container .features dt { background: url("/_Global/img/layout/white_dotted_divider.gif") repeat-x scroll 0 0 transparent; color: #1B1B1B; font-size: 12px; font-weight: bold; line-height: 16px; margin-top: 15px; padding-top: 15px; }
.page-product-details .content_container .features dd { color: #424242; font-size: 11px; line-height: 16px; }

/* Product - Specifications */
.page-product-details .content_container .specs .feature-titles-controls { margin-bottom: 25px; }
.page-product-details .content_container .specs .feature-titles-controls .h1 { margin: 0; }

.page-product-details .content_container .specs .sub_content { padding-top: 0; }
.page-product-details .content_container .specs table { margin: 0 0 30px 5px; width: 645px; }
.page-product-details .content_container .specs th { border-bottom: 1px solid #D6D6D6; color: #1B1B1B; font-size: 12px; font-weight: normal; height: 35px; padding-left: 5px; text-align: left; vertical-align: middle; width: 240px; }
.page-product-details .content_container .specs td { border-bottom: 1px solid #D6D6D6; color: #565656; font-size: 12px; height: 35px; padding-left: 5px; vertical-align: middle; }

/* Product - Accessories */
.page-product-details .content_container .accessories .h1 { margin-bottom: 20px; }

/*.page-product-details .content_container .accessories table { margin: 0 0 30px 5px; width: 645px; }
.page-product-details .content_container .accessories th { border-bottom: 1px solid #D6D6D6; font-size: 12px; font-weight: normal; height: 35px; padding-left: 5px; text-align: left; vertical-align: middle; }
.page-product-details .content_container .accessories td { border-bottom: 1px solid #D6D6D6; color: #565656; font-size: 12px; height: 35px; padding-right: 5px; text-align: right; vertical-align: middle; }
.page-product-details .content_container .accessories tr:hover td { color: #E72530; }*/

.page-product-details .content_container .accessories .sub_content a { color: #1B1B1B; }
.page-product-details .content_container .accessories .sub_content a:hover { color: #E72530; font-weight: bold; }

.page-product-details .content_container .accessories .oils-and-chem-tout { background: url("/_Global/img/content/marine/products/oils-and-chem-tout.png") no-repeat scroll 0 0 transparent; height: 65px; padding: 25px; }
.page-product-details .content_container .accessories .oils-and-chem-tout .header { color: #FFFFFF; font-size: 22px; margin-bottom: 10px; }
.page-product-details .content_container .accessories .oils-and-chem-tout .header span { font-weight: bold; text-transform: uppercase; }

*   html .page-product-details .content_container .accessories .h1 { padding-bottom: 20px; }
* + html .page-product-details .content_container .accessories .h1 { padding-bottom: 20px; }
*   html .page-product-details .content_container .accessories .oils-and-chem-tout .header { font-size: 18px; margin-bottom: 20px; }
* + html .page-product-details .content_container .accessories .oils-and-chem-tout .header { font-size: 18px; margin-bottom: 20px; }

.page-product-details .tooltip-left .tooltip_arrow { top: 60px; display: none; }
.page-product-details .tooltip-left .tooltip_content { top: 40px; }
.page-product-details .tooltip-left .tooltip_content_mid .tooltip_price span { font-size: 10px; }
.page-product-details .tooltip-right .tooltip_arrow { display: none; }
.page-product-details .tooltip-right .tooltip_content_mid .tooltip_price span { font-size: 10px; }
.page-product-details .facebook-container { margin-top: 4px; }
.page-product-details .tooltip_content_mid .tooltip_price span {font-weight: bold; }
.page-product-details .tooltip-right .tooltip_content_mid p { padding-bottom: 15px; }
.page-product-details .tooltip-right .tooltip_content_mid p:last-child { padding-bottom: 0; }

.page-product-details #popup-form-updates p.header { width: 450px; }

.page-product-details.french .product_heading .content .top_selling .accessory .product-item { text-transform: none; }

/* @group Left Drop Menu */

.brochure-flyout .dropdown_content .dropdown_content_mid a:hover{ color:#696969; }

/* @end */


/* @IE Specific Styles */
* html .page-product-details .product_heading .content { height: 420px; padding-bottom: 0; }
* + html .page-product-details .product_heading .content { padding-bottom: 0; }
* html .page-product-details .product_heading .footer { margin-top: 0; }

* html .page-product-details .content_container .overview .configuration_section dd .top-cap { font-size: 1px; }
* html .page-product-details .content_container .overview .configuration_section dd .bottom-cap { font-size: 1px; }

* html .page-product-details .content_container .overview .configuration_section dd .product-price-container .discount-price .price { padding-top: 0; }
* + html .page-product-details .content_container .overview .configuration_section dd .product-price-container .discount-price .price { padding-top: 0; }

* html .page-product-details .product_wrapper .product_name { width: 400px; }
* + html .page-product-details .product_wrapper .product_name { width: 400px; }

* html .page-product-details .product_wrapper .product-price-container { width: 340px; }
* + html .page-product-details .product_wrapper .product-price-container { width: 340px; }

* html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }
* + html .page-product-details .product_wrapper .product-price-container .price-heading { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold; padding: 5px 0 12px; }

* html .page-product-details del { top: 8px; }
* html .page-product-details .strike { top: 8px; }

/* ie 6 & 7 styles */
* html .page-product-details .product-price-container .small-price del * { top: -2px; }
* html .page-product-details .product-price-container .small-price del .price { top: -10px; }

* html .page-product-details .product_heading .no-accessories .feature-image { margin: 0 0 0 50px; }
/* @IE */
