@import url(model-selector.css);
/* Products - All Sections */
.page-product-listing .bottom-container { margin-bottom: -6px; }
.page-product-listing .cap_bottom_grey { bottom: -6px; }

.page-product-listing #feature_area .feature_header { padding: 0 17px; }
.page-product-listing #feature_area .feature_header .h2 { color: #E72530; }
.page-product-listing #feature_area .feature_header p { margin-bottom: 15px; padding-bottom: 0px; }

.page-product-listing #feature_area .feature_box { margin: 0 0 0 17px; }
.page-product-listing #feature_area .feature_box .top_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_t.png") no-repeat scroll left top transparent; height: 139px; padding: 0 36px 0 20px; width: 255px; }
.page-product-listing #feature_area .feature_box .center_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_c.png") no-repeat scroll left top transparent; height: 46px; padding: 0 36px 0 20px; width: 255px; }
.page-product-listing #feature_area .feature_box .bottom_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_b.png") no-repeat scroll left bottom transparent; height: 37px; padding: 0 36px 0 20px; width: 255px; }

* html .page-product-listing #feature_area .feature_box .top_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_t_ie6.png") no-repeat scroll left top transparent; }
* html .page-product-listing #feature_area .feature_box .center_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_c_ie6.png") no-repeat scroll left top transparent; }
* html .page-product-listing #feature_area .feature_box .bottom_cap { background: url("/_Global/img/content/marine/products/feature_box_gray_b_ie6.png") no-repeat scroll left bottom transparent; }

.page-product-listing #feature_area .feature_box .heading { color: #424242; padding-bottom: 0; padding-top: 60px; width: auto; }
.page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/marine/products/arrow_dk_grey_r.png") no-repeat scroll right 5px transparent; padding-bottom: 1px; }
*   html .page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/marine/products/arrow_dk_grey_r.png") no-repeat scroll right 2px transparent; }
* + html .page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/marine/products/arrow_dk_grey_r.png") no-repeat scroll right 2px transparent; }
.page-product-listing #feature_area .feature_box .btn a { color: #7C7C7C; margin-bottom: 0;}
.page-product-listing #feature_area .feature_box p { color: #696969; margin-bottom: 0; }
.page-product-listing #feature_area .feature_box .btn a:hover { background: url("/_Global/img/content/marine/products/dotted_grey_border_h.gif") repeat-x left bottom transparent; }

.page-product-listing #feature_area .feature_box .center_cap p { padding-bottom: 10px; padding-top: 10px; }
.page-product-listing #feature_area .feature_box .bottom_cap p { padding-bottom: 10px; }

.page-product-listing .standards { background: url("/_Global/img/content/marine/products/enviro-leaf.png") no-repeat scroll 0 0 transparent; font-size: 11px; line-height: 16px; margin-top: 5px; padding-left: 30px; width: 180px; }
.page-product-listing .blue {color: #0D9BE4;}
*   html .page-product-listing .standards { margin-top: 0; }
* + html .page-product-listing .standards { margin-top: 0; }

.page-product-listing .categories { height: 27px; padding: 10px 0 30px; }
.page-product-listing .categories li { background: none; border-left: 1px solid #DEDEDE; float: left; font-size: 22px; font-weight: bold; line-height: 16px; margin-left: 10px; padding: 0 0 0 10px; text-transform: uppercase; }
*   html .page-product-listing .categories li { line-height: 18px; }
* + html .page-product-listing .categories li { line-height: 18px; }
.page-product-listing .categories li.first { border-left: 0; margin-left: 0; padding-left: 0; }
.page-product-listing .categories li a { color: #000000; }
.page-product-listing .categories li a:hover, .page-product-listing .categories li.active a { color: #E72530 !important; }

.page-product-listing .product { margin-bottom: 30px; }
.page-product-listing .overview .product .product-item { margin-left: 10px; width: 145px; }
.page-product-listing .product .product-image { height: 125px; width: 90px; }
.page-product-listing .product .price-heading { text-transform: uppercase; }

.page-product-listing .content_section h2 span { font-weight: normal; }

.page-product-listing .content_section p { color: #424242; font-size: 14px; line-height: 19px; }

.page-product-listing .compare .product { margin: 0; }
.page-product-listing .compare .product .product-item { background: url("/_Global/img/content/products/circle_grey.png") no-repeat scroll left 40px transparent; width: 186px; }
.page-product-listing .compare .product .active { background: url("/_Global/img/content/products/circle_red.png") no-repeat scroll left 40px transparent; }
.page-product-listing .compare .product .list-steps { line-height: 14px; margin: 0 13px 0 0; padding-top: 42px; }
*   html .page-product-listing .compare .product .list-steps { padding-top: 36px; }
* + html .page-product-listing .compare .product .list-steps { padding-top: 36px; }
.french .compare .product .list-steps { margin-top: 32px; padding-top: 0; }
.page-product-listing .compare .product .add-model { font-size: 12px; line-height: 14px; }
.page-product-listing .bottom_feature_inner .active .product-item-inner { margin-top: 25px; }
.page-product-listing .bottom_feature_inner .price span.tag-text-msrp { padding-top: 4px;}
.page-product-listing .bottom_feature_inner h3.price-heading { float: left; margin: 6px 0 0; }
.page-product-listing .bottom_feature_inner a.btn-remove { float: left; margin: 8px 0 0 5px; }

.page-product-listing .compare .recently_viewed_compare { height: 70px; padding: 0 0 0 60px; width: 115px; }

.page-product-listing .toolbox-top-alt .popup-top .product-image { background: none; height: 125px; width: 90px; }
.page-product-listing .toolbox-top-alt .popup-top .h1 { text-transform: uppercase; width: 190px; }
.page-product-listing .toolbox-top-alt .compare-add-remove a:hover { background: url("/_Global/img/content/landing/dotted_blue_border_h.gif") repeat-x scroll left bottom; border: 0; padding-bottom: 3px; }

/* @end */
/* Products - Overview */

.page-product-listing .overview h1 { margin-bottom: 0; }
.page-product-listing .overview .content_section h2 { padding-bottom: 30px; }
*   html .page-product-listing .overview .content_section h2 { padding-bottom: 30px; }
* + html .page-product-listing .overview .content_section h2 { padding-bottom: 30px; }

/* @end */
/* Products - Applications */

.page-product-listing .applications h2 { padding-bottom: 15px; text-transform: none; }
*   html .page-product-listing .listing .content_section h2 { padding-bottom: 15px; }
* + html .page-product-listing .listing .content_section h2 { padding-bottom: 15px; }
.page-product-listing .applications .header-titles { width: 750px; }
.page-product-listing .applications .header-titles p { font-size: 16px; line-height: 26px; margin-bottom: 0; }
.page-product-listing .applications .btn-print-pdf { margin-top: 10px; }
*   html .page-product-listing .applications .btn-print-pdf { margin-top: 5px; }
* + html .page-product-listing .applications .btn-print-pdf { margin-top: 5px; }

.page-product-listing .applications .applications_table tr.title-columns td { padding: 0; }
.page-product-listing .applications .applications_table tr.first th,
.page-product-listing .applications .applications_table tr.first td { border: 0; }
.page-product-listing .applications .applications_table th { border-top: 1px solid #D6D6D6; font-size: 11px; padding: 20px 10px; text-align: left; width: 125px; }
.page-product-listing .applications .applications_table th a { color: #424242; }
.page-product-listing .applications .applications_table th a:hover { color: #E72530; }
.page-product-listing .applications .applications_table th.type { background-color: #B6B6B6; border: 0; color: #000000; padding: 10px; text-transform: uppercase; width: auto; }
.page-product-listing .applications .applications_table td { border-top: 1px solid #D6D6D6; font-size: 11px; padding: 20px 10px; text-align: center; width: 71px; }
.page-product-listing .applications .applications_table td.odd { background-color: #F6F6F6; }

.page-product-listing .applications .useful-links-box { padding-bottom: 30px; width: 450px; }
.page-product-listing .applications .useful-links-box h3 { color: #333333; font-size: 14px; margin-bottom: 5px; }
.page-product-listing .applications .useful-links-box p { font-size: 11px; margin-bottom: 5px; }
.page-product-listing .applications .useful-links-box a { font-size: 11px; }

/* @end */
/* Products - Compare */

.page-product-listing .bottom-container .product .price-heading { font-size: 20px; width: auto; }
.page-product-listing .bottom-container .product .price { width: 95px; }
* html .page-product-listing .product .price { width: 85px; }
.page-product-listing .bottom_feature_inner a.btn-remove { margin: 9px 0 0 10px; float:right; }
.page-product-listing .bottom-container .bottom_feature_inner .price-heading { width: 105px; }

/* @end */
