<li class="accessories">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<a href="accessories.html#">
			<img src="/_Global/img/layout/accessories-sidebar-img.gif" alt="" />
		</a>
		<p class="heading">Parts &amp; Service</p>
	</div>
	<div class="bottom_cap pf"></div>
</li>