<li class="cities_nearby">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Cities Nearby</h4>
		<ul id="left_nav">
			<li class="first"><a href="cities_nearby.html#">Scarborough</a></li>
			<li><a href="cities_nearby.html#">Pickering</a></li>
			<li><a href="cities_nearby.html#">Toronto</a></li>
			<li><a href="cities_nearby.html#">Markham</a></li>
			<li><a href="cities_nearby.html#">Thornhill</a></li>
			<li><a href="cities_nearby.html#">Burlington</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>