<li class="buttons">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<a class="btn_large first" property="act:menu" data-menu-type="brochure" data-menu-class="brochure-flyout"
            data-menu-content-target="#download-brochure">
			<span><img src="/_Global/img/layout/icon_downloads.png" class="pf" alt="" /></span>
			<span class="downloads">Downloads</span>
		</a>
		<a class="btn_large"
			property="act:popup act:ajaxform"
			data-popup-modal="true"
			data-popup-content-target="#popup-form-updates"
            data-ajaxform-trigger="form"
			>
			<span><img src="/_Global/img/layout/icon_updates.png" class="pf" alt="" /></span>
			<span class="updates">Sign Up For Updates</span>
		</a>
        <a class="btn_large"
			property="act:popup act:ajaxform"
			data-popup-modal="true"
			data-popup-content-target="#popup-form-updates"
            data-ajaxform-trigger="form"
			>
			<span><img src="/_Global/img/layout/icon_updates.png" class="pf" alt="" /></span>
			<span class="updates multiline">INSCRIVEZ-VOUS POUR LES MISES À JOUR</span>
		</a>
	</div>
	<div class="bottom_cap pf"></div>
	<div id="download-brochure" class="dn">
		<div>
            <ul>
                <li><h3>Info Sheets</h3><a href="#">Download PDF </a></li>
                <li><h3>Brochure</h3><a href="#">Download PDF </a></li>
                <li><h3>Safety Guidelines</h3><a href="#">Download PDF </a></li>
                <li><h3>Attachments &amp; Accessories Brochure</h3><a href="#">Download PDF </a></li>
                <li><h3>Measurement & Conversion Chart</h3><a href="#">Download PDF </a></li>
                <li><h3>Batteries &amp; Accessories</h3><a href="#">Download PDF </a></li>
                <li class="last"><h3>Oils &amp; Chemicals</h3><a href="#">Download PDF </a></li>
            </ul>
            <a href="#" class="get_adobe_reader"></a>
            <div class="clr"></div>
		</div>
	</div>

	<div id="popup-form-updates" class="dn">
		<div>
			<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
			<div class="pf popup-form-top-cap"></div>
			<div class="pf popup-form-content">
				<h2>Sign Up For Updates</h2>
				<p class="header">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos.</p>
				
				<form action="" method="get" class="form">
					<div class="checkboxes">
						<h3>Please select at least one of the following:</h3>
                        <div class="ib">
                            <input type="checkbox" value="Lawnmowers"> <label>Lawnmowers</label>
                        </div>
                        <div class="ib">
                            <input type="checkbox" value="Trimmers"> <label>Trimmers</label>
                        </div>
                        <div class="ib">
						    <input type="checkbox" value="Tillers"> <label>Tillers</label>
                        </div>
                        <div class="ib">
                            <input type="checkbox" value="Snowblowers"> <label>Snowblowers</label>
                        </div>
                        <div class="ib">
    						<input type="checkbox" value="Generators"> <label>Generators</label>
                        </div>
                        <div class="ib">
    						<input type="checkbox" value="Water pumps"> <label>Water pumps</label>
                        </div>
					</div>
					
					<div class="textboxes">
						<div class="fc">
							<h3 class="fl">Please enter your information:</h3>
							<span class="fr required-fields-note">*Required fields</span>
						</div>
						
						<div class="fc fieldrows">
							<div class="fl long-field">
								<label>*First Name:</label>
								<input type="text" id="f_name" name="f_name" value="" />
							</div>
							<div class="fl long-field">
								<label>Address:</label>
								<input type="text" id="address1" name="address1" value="" />
							</div>
							<div class="fl short-field">
								<label>Province:</label>
								<select id="province" name="province">
									<option value="">Please Select</option>
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="fc fieldrows">
							<div class="fl long-field">
								<label>*Last Name:</label>
								<input type="text" id="l_name" name="l_name" value="" />
							</div>
							<div class="fl long-field">
								<label>Address (cont'd):</label>
								<input type="text" id="address2" name="address2" value="" />
							</div>
							<div class="fl short-field">
								<label>*Postal Code:</label>
								<input type="text" id="postal" name="postal" value="" />
							</div>
						</div>
						<div class="fc fieldrows">
							<div class="fl long-field">
								<label>*E-mail Address:</label>
								<input type="text" id="email" name="email" value="" />
							</div>
							<div class="fl long-field">
								<label>City:</label>
								<input type="text" id="city" name="city" value="" />
							</div>
							<div class="fl short-field">
								<a href="javascript:void(0)" data-role="ajaxform-button" class="btn primary submit"><span>Submit</span></a>
							</div>
						</div>
					</div>
				</form>
				
				<p class="footer">If you'd like more information on our respect for your privacy as our online guest, see our <a href="download_updates.html#">privacy policy</a>.</p>
			</div>
		</div>
	</div>

</li>