			<li class="buttons">
				<div class="content pf">
					<a class="btn_large first" property="act:menu" data-menu-type="brochure" data-menu-class="brochure-flyout"
						data-menu-content-target="#download-brochure">
						<span><img src="/_Global/img/layout/icon_downloads.png" class="pf" alt="" /></span>
						<span class="downloads">Downloads</span>
					</a>
				</div>
				
				<div id="download-brochure" class="dn">
					<div>
						<ul>
							<li><h3>Title</h3><a href="#">Download PDF </a></li>
							<li><h3>Title</h3><a href="#">Download PDF </a></li>
						</ul>
						<a href="#" class="get_adobe_reader"></a>
						<div class="clr"></div>
					</div>
				</div>
			</li>