<li class="find-a-dealer">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Find a Dealer</h4>
		<ul class="search_options">
		    <li class="search_sub_header"><label>Search Options</label></li>
			<li class="postal_code">
				<label class="fl">Postal Code</label>
				<div class="fl input_box">
					<input class="fl input_extra_small" type="text" maxlength="7" name="postal_code" value="" />
					<a class="fl btn" href="find_dealer.html#">go</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<li class="city">
				<label class="fl">City</label>
				<div class="fl input_box">
					<input class="fl input_medium dropdown_autocomplete_city dropdown_autocomplete_city_sidebar" type="text" maxlength="20" name="city" value="" />
					<a class="fl btn" href="find_dealer.html#">go</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<!--<li class="prov">
				<label class="fl">Province</label>
				<a class="btn fl secondary" href="#"><span>Select</span></a>
				<div class="clr"></div>
			</li>-->
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>