<li class="gear">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<a href="accessories.html#">
			<img src="/_Global/img/layout/gear-sidebar-img.png" alt="" />
		</a>
		<p class="heading">Honda Gear</p>
	</div>
	<div class="bottom_cap pf"></div>
</li>