<li class="finance">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Finance</h4>
		<p>Find out how Honda Finance can help you get your <strong>vehicle name</strong>.</p>
		<a href="#" class="btn primary"><span>Learn More</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>
