<li class="measurements">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">MEASUREMENTS</h4>
		<p>Use our handy Measurements and Conversion Chart to help you select the right Honda product for your needs.</p>
		<a href="/pe/resources/Honda_Measurement_Conversion_En.pdf" class="btn primary"><span>Download PDF</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>