<li class="menu-lease">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Lease &amp; Finance</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="lease-overview.html">Overview</a></li>
			<li><a href="lease-options.html">Lease Options</a></li>
			<li><a href="lease-finance-options.html">Finance Options</a></li>
			<li><a href="lease-calculator.html">Payment Calculator</a></li>
			<li><a href="lease-credit.html">Credit Application</a></li>
			<li class="selected"><a href="lease-faq.html">Frequently Asked Questions Testing</a></li>
			<li><a href="lease-contact.html">Contact Us</a></li>
			<li><a href="lease-privacy.html">Privacy</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>