<li class="menu-advantage">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="sun_icon">honda<br/>advantage</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="honda-advantage-overview.html">Why Buy a Honda?</a></li>
			<li><a href="honda-advantage-generators.html">Why Buy a Honda Generator?</a></li>
			<li><a href="honda-advantage-lawnmower.html">Why Buy a Honda Lawnmower?</a></li>
			<li><a href="honda-advantage-water-pumps.html">Why Buy a Honda Water Pump?</a></li>
			<li><a href="honda-advantage-snowblowers.html">Why Buy a Honda Snowblower?</a></li>
			<li><a href="honda-advantage-tillers.html">Why Buy a Honda Tiller?</a></li>
			<li><a href="honda-advantage-trimmers.html">Why Buy a Honda Trimmer?</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>