<li class="menu-news-events">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">News &amp; Events</h4>
		<ul id="left_nav">
			<li class="first"><a href="events-overview.html">Events</a></li>
			<li class="selected"><a href="news-overview.html">News</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>