<li class="menu">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Menu Example</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="menu-example.html#">Item 1</a></li>
			<li><a href="menu-example.html#">Item 2</a></li>
			<li><a href="menu-example.html#">Item 3 (Selected)</a></li>
			<li><a href="menu-example.html#" property="act:menu" data-menu-class="left_nav" data-menu-content-target="#item-4-submenu">Item 4 This is a long test to see what will</a></li>
			<li><a href="menu-example.html#">Item 5</a></li>
			<li><a href="menu-example.html#">Item 6</a></li>
		</ul>
	</div>
    <div id="item-4-submenu" class="dn">
        <ul class="second_nav">
            <li class="first"><a href="menu-example.html#">Item 1</a></li>
            <li><a href="menu-example.html#">Item 2</a></li>
            <li class="selected"><a href="menu-example.html#">Item 3 (Selected)</a></li>
        </ul>
    </div>
	<div class="bottom_cap pf"></div>
</li>