<li class="menu menu-parts-service">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Parts &amp; Service</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="#">Why Choose Honda Service</a></li>
			<li><a href="#">Honda Genuine Parts</a></li>
			<li><a href="#">Honda Genuine Oils &amp; Chemicals</a></li>
			<li><a href="#" property="act:menu" data-menu-class="left_nav" data-menu-content-target="#warranty-submenu">Warranty Test With Long Menu Blah</a></li>
			<li><a href="#">Storage Tips</a></li>
			<li><a href="#">Transport Tips</a></li>
		</ul>
	</div>
	<div id="warranty-submenu" class="dn">
		<ul class="second_nav">
			<li class="first selected"><a href="#">Warranty</a></li>
			<li><a href="#">Frequently Asked Questions</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>