<li class="menu-apparel">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Gear &amp; Apparel</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="#">Overview</a></li>
			<li><a href="#">Safety &amp; Riding Apparel</a></li>
			<li><a href="#">Women's Apparel</a></li>
			<li><a href="#">Riding Boots &amp; Gloves</a></li>
			<li><a href="#">Motorcycle Helmets</a></li>
			<li><a href="#">Gold Wing Collection</a></li>
			<li><a href="#">Honda Casual Wear</a></li>
			<li><a href="#">Fox/Honda Off-Road Gear</a></li>
			<li><a href="#">Kid's Apparel</a></li>
			<li><a href="#">Honda Backpacks</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>