<li class="menu-news-events">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">news &amp; events</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="news-events-overview.html">Overview</a></li>
			<li><a href="news-events-trade-show.html">Trade Shows</a></li>
			<li><a href="news-events-outdoor-events.html">Outdoor Events</a></li>
			<li><a href="news-events-come-ride-with-us.html">Come Ride With Us</a></li>
			<li><a href="news-events-news1.html">News</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>