<li class="parts-service">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">service &amp; warranty</h4>
		<p class="heading">Ut sagittis tincidunt dictum maecenas ut tellus diam vitae</p>
		<p>Onec commodo, mauris vitae aliquam hendrerit, nunc arcu facilisis eros, at vulputate erat...</p>
		<a href="parts_service.html#" class="btn primary"><span>Learn More</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>