<link rel="stylesheet" href="/_Global/css/marine/sections/current-offers.css" type="text/css" media="screen"/>
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<div class="fc">
					<h1 class="fl">Special Offers</h1>
					<a class="fr btn secondary" href=""><span>View All Special Offers</span></a>
				</div>
				
				<img src="/_Global/img/temp/special-offers-details-heading.gif" alt="" />
			</div>
			<div class="fc content_section primary_section">
				<div class="fl info">
					<h2>Toronto, February 18-27</h2>
					<p>Sed nec velit a arcu laoreet dictum. Etiam porttitor metus eget nisi bibendum et ultrices felis interdum. Suspendisse mattis vulputate varius. Quisque gravida commodo tincidunt. Sed ipsum turpis, laoreet eu bibendum ac, imperdiet vel ipsum. Integer lectus turpis, rhoncus nec pretium a, placerat eu lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit imperdiet consequat. Nullam euismod, est vitae feugiat tincidunt, magna ipsum vehicula diam, eget sodales nunc nisi ut mi.</p>
				</div>
				<div class="fr image">
					<img src="/_Global/img/temp/special-offers-details-image.gif" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
  