<!-- $Id: landing.html 14366 2011-03-11 22:57:24Z yuxhuang $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
<div class="page">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="fc content_section first_section">
					<div class="fl special-offers-info">
						<div class="special-offers">
							<h1>Special Offers</h1>
							<h2 class="small">Sed ut perspiciatis unde omnis istester</h2>
							<p>Rluptatem accusantium doloremque laudantium.</p>
						</div>
						<div class="current-offers">
							<h2 class="small">View Current Offers:</h2>
							<select property="act:fieldselect"
                                    data-fieldselect-button-class="pf"
                                    data-fieldselect-pane-class="field-select-right">
                                <option value="">Select Your Region</option>
                                <option rel="ab" value="1">Alberta</option>
                                <option rel="bc" value="2">British Columbia</option>
                                <option rel="pe" value="3">Prince Edward Island</option>
                            </select>
						</div>
					</div>
					<div class="fr current_offers_map" id="canada_map">
					</div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
