<!-- $Id: provincial-landing.html 1189 2011-06-17 19:37:47Z mperry $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Special Offers</h1>
					</div>
					<div class="np content_section">
						<h2>Alberta Offers</h2>
						<p class="heading_large">Unfortunately, we have no special offers<br/>
							at this time. Please check back soon.</p>
					</div>
					<div class="np content_section first_national_offers_section">
						<h2>National Offers</h2>
						<p class="heading_large">Unfortunately, we have no special offers<br/>
							at this time. Please check back soon.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/special-offers.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
