@import url(model-selector.css);
.wrapper_top_cap { background: url("/_Global/img/layout/cap_top_default.png") no-repeat scroll center 0 transparent; }
.wrapper_bottom_cap { background: url("/_Global/img/layout/cap_bottom_default.png") no-repeat scroll center 0 transparent; }
.page-compare-results .tbl_compare_result tr.top th.compare div.tag-trim-details { min-height: 225px; }

.page-compare-results .disclaimer {color: #696969;margin: 15px 15px 0; }
.page-compare-results .disclaimer p:last-child { margin-bottom: 0; }
.page-compare-results .disclaimer-content { display: none; }