/* Honda Advantage Page Styles */

p.large{width:720px;}
h3{font-weight:bold !important; line-height:20px;}
h2.icon-advantage{padding-top:2px; color:#53c4ff; text-transform:uppercase; padding-left:40px; background:url("/_Global/img/layout/icon_advantage.png") no-repeat scroll 0 0 transparent; margin-bottom:10px;}

/*.col-2-full{margin:30px 0 0 0;}*/
.col-2-full dd p{font-size:16px; line-height:24px;}
.col-2-full dd h3{font-size:18px; color:#53c4ff; font-family:'verdana', arial, sans-serif; font-weight:normal; line-height:24px; margin-bottom:8px; padding-top:15px;}

#feature_area .container{margin:0 auto; width:950px; padding-bottom:6px; padding-top:4px;}
#feature_area .container .header{}

table.engine-technology{margin:40px 0 50px;}
table.engine-technology a{color:#424242;}
table.engine-technology a:hover{color:#e72530;}
table.engine-technology tr th{text-align:left; font-weight:bold; font-size:22px; color:#e72530; line-height:16px; padding:10px 20px; border-bottom:1px dotted #b9b9b9;}
table.engine-technology tr th:nth-child(1){padding-left:0;}
table.engine-technology tr td:nth-child(1){font-weight:bold; padding-left:0; width:436px; border-right:1px dotted #b9b9b9;}
table.engine-technology tr td:nth-child(2){border-right:1px dotted #b9b9b9;}
table.engine-technology tr td:nth-child(2){width:290px;}
table.engine-technology tr td:nth-child(2),
table.engine-technology tr td:nth-child(3){background:#f6f6f6;}
table.engine-technology td{padding:16px 20px; font-size:11px; color:#424242; font-family:verdana, arial, sans-serif; border-bottom:1px dotted #b9b9b9; line-height:16px; vertical-align: top;}

.tooltip-right .tooltip_arrow { display: none; }
.tooltip-right .tooltip_content { top: 0; }
* html .tooltip-right .tooltip_content { top: 0 !important; }

@-moz-document url-prefix() {
	table.engine-technology{margin:20px 0 30px;}
}

* html table.engine-technology tr th{font-size:18px;}
* + html table.engine-technology tr th{font-size:18px;}

/* @end */