﻿/* @group model selector override */
div.dropdown_container.model-selector-right select { width: 165px; }
div.dropdown_container.model-selector select { width: 165px; }
.compare-selector .first { padding-right: 20px; }
.french .compare-selector .first { padding-right: 10px; }
/* @end */