﻿<%@ Page Language="C#" AutoEventWireup="true" ContentType="text/plain" %>
<%
    // clear the cache from the default cache manager
    Microsoft.Practices.EnterpriseLibrary.Caching.CacheFactory.GetCacheManager().Flush();
 %>ok