/* @group Power Event */

.power-event .content_container{padding:6px 15px 15px 15px;}

.power-event a.btn-primary-alt-active,
.power-event a.btn-primary-alt{background:url("../../../img/content/pe/power-event/btn_primary_left.png") 0 0 no-repeat; padding-left:10px; display:inline-block;}
.french .power-event a.btn-primary-alt-active,
.french .power-event a.btn-primary-alt{padding-left:5px;}
.power-event a.btn-primary-alt-active span,
.power-event a.btn-primary-alt span{background:url("../../../img/content/pe/power-event/btn_primary_right.png") right 0 no-repeat; height:27px; display:block; padding:14px 34px 0 24px; font-size:12px; text-transform:uppercase; color:#fff;}
.french .header-nav a.btn-primary-alt-active span,
.french .header-nav a.btn-primary-alt span{padding-left:15px; padding-right:25px;}
.power-event a.btn-secondary-alt{background:url("../../../img/content/pe/power-event/btn_secondary_left.png") 0 0 no-repeat; padding-left:10px; display:inline-block;}
.power-event a.btn-secondary-alt span{background:url("../../../img/content/pe/power-event/btn_secondary_right.png") right 0 no-repeat; height:24px; display:block; padding:12px 30px 0 20px; font-size:12px; color:#fff;}

.power-event a.btn-primary-alt-active,
.power-event a.btn-primary-alt:hover{background-position:0 -41px;}
.power-event a.btn-primary-alt-active span,
.power-event a.btn-primary-alt:hover span{background-position:right -41px;}
.power-event a.btn-secondary-alt:hover{background-position:0 -36px;}
.power-event a.btn-secondary-alt:hover span{background-position:right -36px;}

.power-event .header{position:relative;}
.power-event .header-nav-container{text-align:center; margin:10px 0 30px;}
.power-event .header a.btn-secondary-alt{position:absolute; top:328px; right:293px;}
.french .header a.btn-secondary-alt{right:312px;}

.power-event ul.header-nav{margin:0 auto;}
.power-event ul.header-nav li{display:inline;}
.power-event ul.header-nav li:first-child a{margin-left:0;}

.footer{padding:35px 20px 0;}
.footer .disclaimer{width:594px;}
.footer .disclaimer p{font-size:10px; color:#979797; line-height:1; line-height:12px;}
.footer .find-a-dealer{width:280px;}

dl.col-2{width:910px; margin:0 auto;}
dl.col-2 dd{width:278px;}
dl.col-2 dd.honda-great p{line-height:15px; font-size:11px; text-align:justify;}
dl.col-2 dd:first-child{width:594px;}
dl.col-2 dd p{margin:12px 0 18px; color:#858585;}
dl.col-2 a.btn-secondary-alt{margin-left:57px;}
dl.col-2 a.btn-secondary-alt span{font-size:10px; padding:6px 16px 6px 6px; line-height:11px; text-align:center;}

.product-features{margin-top:14px;}
.product-features:first-child{margin-top:0;}
.product-features .thumbnail{width:106px;}
.product-features .description{width:450px;}
.product-features .description p{margin:0; padding:0; line-height:16px; font-size:12px;}
.product-features .description p.heading{font-weight:bold; color:#dd1836; text-transform:uppercase; margin-top:10px; margin-bottom:4px; line-height:14px;}

.all-models{border-top:1px solid #a3a6a7; border-bottom:1px solid #a3a6a7; margin-top:30px;}
.all-models td{width:650px; padding:18px 12px; font-size:13px; color:#585f65; font-weight:bold; line-height:18px; vertical-align:middle;}
.all-models td:first-child{width:212px; text-align:center; font-size:22px; color:#585f65; font-weight:bold; line-height:1; font-family:arial, sans-serif; text-transform:uppercase;}
.french .all-models td:first-child{width:252px; text-align:center; font-size:22px; color:#585f65; font-weight:bold; line-height:1; font-family:arial, sans-serif; text-transform:uppercase;}

.product-list{width:910px; margin:38px auto 0;}
.product-list dl{margin-top:34px; padding-top:34px; border-top:1px solid #c9cacb; text-align:center;}
.product-list dl.first-product-list,
.product-list dl:first-child{margin-top:0; padding-top:0; border-top:0;}
.product-list dd{width:280px; margin-left:35px; vertical-align:top; display:inline-block; text-align:left;}
.product-list dd:first-child{margin-left:0;}
.product-list dd span{display:block;}
.product-list dd span.limited-time{font-size:12px; color:#7d7d7d;}
.product-list dd span.price-save{font-size:30px; color:#e61937; font-weight:bold; margin:8px 0 4px;}
.product-list dd span.price-current{font-size:16px; color:#e61937; font-weight:bold;}
.product-list dd span.freight{font-size:12px; color:#7d7d7d; text-transform:uppercase; margin:4px 0;}
.product-list dd span.filler-box{height:55px;}
.product-list dd span.model{font-size:15px; color:#7d7d7d; font-weight:bold; margin-bottom:10px;}
.product-list dd .product-image{margin-bottom:10px; text-align:center;}

.product-list dd ul.product-features{font-size:12px; color:#7d7d7d; margin:0 0 12px 20px;}
.product-list dd ul.product-features li{padding-bottom:5px; list-style-type:disc; line-height:15px;}
.product-list dd ul.product-warranty{background:#979797; padding:6px 10px; margin-bottom:20px;}
.product-list dd ul.product-warranty li{font-size:9px; text-transform:uppercase; color:#fff; line-height:12px;}

p.product-specs{font-size:12px; color:#7d7d7d; font-weight:bold; margin:0; padding:0;}
p.product-specs a{border-bottom:1px solid #7d7d7d; color:#7d7d7d;}
p.product-specs a:hover{padding:0; border-bottom:1px solid #7d7d7d;}

.lineup p{font-size:15px; color:#e31f29; font-weight:bold; line-height:1; margin:22px 0 0 20px;}
.lineup p a{color:#e31f29; border-bottom:1px solid #e31f29;}
.lineup p a:hover{line-height:1; padding:0; border-bottom:1px solid #e31f29;}

.info-text{font-family:arial, sans-serif; color:#7d7d7d; font-size:11px; margin:20px 0 0 20px;}

.legendary-engine{background:url("../../../img/content/pe/power-event/legendary_engine.jpg") 0 0 no-repeat; padding:0 0 0 414px; min-height:430px;}
.legendary-engine p.intro{width:460px; margin:0 0 30px 36px; padding-top:20px;}
.legendary-engine p.intro span{font-size:18px; color:#dd1836; display:block; margin-bottom:2px; text-transform:uppercase;}

.legendary-links{margin-top:30px;}
.legendary-links dd{margin-left:20px;}
.legendary-links dd:first-child{margin-left:40px;}
.french .legendary-links dd{margin-left:16px;}
.french .legendary-links dd:first-child{margin-left:30px;}

p.legendary-products{text-align:center; margin-bottom:28px; font-size:10px; color:#5f686d; font-weight:bold;}
p.legendary-products span{display:block; font-weight:normal; font-size:14px;}
p.legendary-products img{margin-top:28px;}

.disclaimer-page{width:900px; margin-left:20px;}
.disclaimer-page .heading{text-align:center; font-size:19px; color:#7d7d7d; line-height:21px; margin-bottom:16px; text-transform:uppercase;}
.disclaimer-page dt{font-size:14px; color:#7d7d7d; font-weight:bold; margin-bottom:4px;}
.disclaimer-page dd{margin-bottom:20px; font-size:11px; color:#7d7d7d; line-height:16px;}

.details-heading{border-bottom: 1px solid #c9cacb; margin-bottom:20px; text-align:center;}

.win-container{width:882px; margin-left:20px;}
.win-container td{width:584px;}
.win-container td p.intro{font-size:17px; color:#dd1836; line-height:20px; text-transform:uppercase; margin-bottom:6px;}
.win-container td p{font-size:10px; color:#7d7d7d; line-height:12px; margin-bottom:0;}
.win-container td:first-child{width:264px; text-align:right; vertical-align:middle; padding-right:40px;}
.french .win-container td:nth-child(2){padding-right:0;}
.win-container td:nth-child(2){padding-right:100px;}
.win-container p a{color:#dd1836; border-bottom:1px solid #dd1836;}
.win-container p a:hover{border-bottom:1px solid #dd1836; padding:0;}

/* @end */
/* @group IE Fixes */

* html .power-event a.btn-primary-alt{display:inline;}
* html .power-event a.btn-primary-alt-active{display:inline;}
* html .power-event a.btn-primary-alt span{display:inline; zoom:1;}
* html .power-event a.btn-primary-alt-active span{display:inline; zoom:1;}
* html .power-event a.btn-secondary-alt{display:inline;}
* html .power-event a.btn-secondary-alt span{display:inline; zoom:1;}
* html .power-event .header-nav-container a.btn-secondary-alt{right:308px;}

* html .legendary-engine{height:430px;}

* html .product-list dd{display:inline; zoom:1;}

* + html .product-list dd{display:inline; zoom:1;}
* + html .power-event .header{zoom:1;}
* + html .power-event ul.header-nav{zoom:1;}

/* @end */