<li class="menu-finance">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Finance</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="finance-overview.html">Overview</a></li>
			<li><a href="finance-options.html">Finance Options</a></li>
			<li><a href="finance-calculator.html">Payment Calculator</a></li>
			<li><a href="finance-credit.html">Credit Application</a></li>
			<li><a href="finance-faq.html">Frequently Asked Questions</a></li>
			<li><a href="finance-contact.html">Contact Us</a></li>
			<li><a href="finance-privacy.html">Privacy</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>