<li class="powerhouse-dealers-alternate">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<a href="powerhouse_dealers_alternate.html#">
			<img src="/_Global/img/layout/powerhouse-dealers-sidebar-img.gif" alt="" />
		</a>
		<p class="heading">Honda Powerhouse Dealers</p>
	</div>
	<div class="bottom_cap pf"></div>
</li>