<li class="reviews">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Reviews</h4>
		<dl>
			<dd>
				<p class="heading">Ut sagittis tincidunt dictum maecenas ut tellus diam vitae</p>
				<p>Onec commodo, mauris vitae aliquam hendrerit, nunc arcu facilisis eros, at vulputate erat... <a href="reviews.html#">Read More</a></p>
				<p class="author"><a href="reviews.html#">Motortrend.com</a></p>
				<a href="reviews.html#" class="btn primary"><span>Read More Reviews</span></a>
			</dd>
		</dl>
	</div>
	<div class="bottom_cap pf"></div>
</li>