<li class="special-offers">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Special Offers</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="special-offers.html#">Alberta</a></li>
			<li><a href="special-offers.html#">British Columbia</a></li>
			<li><a href="special-offers.html#">Manitoba</a></li>
			<li><a href="special-offers.html#">New Brunswick</a></li>
			<li><a href="special-offers.html#">Newfondland &amp; Labrador</a></li>
			<li><a href="special-offers.html#">Northwest Terrirories</a></li>
			<li><a href="special-offers.html#">Nova Scotia</a></li>
			<li><a href="special-offers.html#">Nunavut</a></li>
			<li><a href="special-offers.html#">Prince Edward Island</a></li>
			<li><a href="special-offers.html#">Quebec</a></li>
			<li><a href="special-offers.html#">Saskatchewan</a></li>
			<li><a href="special-offers.html#">Yukon</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>