<div class="background_wrapper">
	<div class="container">
		<div id="footer">
			<ul class="fc">
				<li class="fl first">
					<dl>
						<dt>Honda Family</dt>
						<dd><a href="http://www.acura.ca/">Acura</a></dd>
						<dd><a href="http://honda.ca/MCPE/Motorcycle/default?L=E">Motorcycles &amp; ATVs</a></dd>
						<dd><a href="http://honda.ca/HMarine/default?L=E">Marine</a></dd>
						<dd><a href="http://honda.ca/HPower/default?L=E">Power Equipment</a></dd>
						<dd><a href="http://honda.ca/enginesEng/default.htm">Engines</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Honda Automotive</dt>
						<dd><a href="/fit">Fit</a></dd>
						<dd><a href="/civic_coupe">Civic Coupe</a></dd>
						<dd><a href="/civic_sedan">Civic Sedan</a></dd>
						<dd><a href="/civic_hybrid">Civic Hybrid</a></dd>
						<dd><a href="/insight">Insight</a></dd>
						<dd><a href="/crz">CR-Z</a></dd>
						<dd><a href="/accord_coupe">Accord Coupe</a></dd>
						<dd><a href="/accord_sedan">Accord Sedan</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>&nbsp;</dt>
						<dd><a href="/accord_crosstour">Accord Crosstour</a></dd>
						<dd><a href="/crv">CR-V</a></dd>
						<dd><a href="/element">Element</a></dd>
						<dd><a href="/element">Pilot</a></dd>
						<dd><a href="/odyssey">Odyssey</a></dd>
						<dd><a href="/ridgeline">Ridgeline</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Shopping Tools</dt>
						<dd><a href="/buildyourhonda">Build Your Honda</a></dd>
						<dd><a href="/compare">Compare Vehicles</a></dd>
						<dd><a href="/inventory/search?L=E">Certified Used</a></dd>
						<dd><a href="/special-offers">Special Offers</a></dd>
						<dd><a href="/dealerlocator">Find a Dealer</a></dd>
						<dd><a href="/lease-and-finance">Lease &amp; Finance</a></dd>
						<dd><a href="/parts-accessories/parts">Parts &amp; Accessories</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Owners</dt>
						<dd><a href="/owners/honda-services/express-service">Express Service</a></dd>
						<dd><a href="/owners/faqs">FAQs</a></dd>
						<dd><a href="/owners/honda-services">Honda Service</a></dd>
						<dd><a href="/owners/website">Owners Website</a></dd>
						<dd><a href="/apparel">Apparel</a></dd>
						<dd><a href="/owners/warranty">Warranty</a></dd>
						<dd><a href="/recalls">Vehicle Recall</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Our Company</dt>
						<dd><a href="/innovation">Innovation</a></dd>
						<dd><a href="/environment">Environment</a></dd>
						<dd><a href="/honda-in-canada">Honda in Canada</a></dd>
						<dd><a href="/honda-in-canada/foundation">Foundation</a></dd>
						<dd><a href="/honda-in-canada/marketing-sponsorship">Sponsorship</a></dd>
						<dd><a href="/privacy">Privacy Policy</a></dd>
						<dd><a href="/contact_us">Contact Us</a></dd>
					</dl>
				</li>
			</ul>
			<div class="fc sub_footer_nav">
				<div class="fl copyright"><strong>&copy; 2011 Honda Canada, Inc.</strong>  All information contained herein applies to Canadian vehicles only.</div>
				<ul class="fr">
					<li class="first"><a href="footer.html#">Terms &amp; Conditions</a></li>
					<li><a href="footer.html#">Privacy Policy</a></li>
					<li><a href="footer.html#">Site Map</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- begin: dropdown of generators box -->
	<div id="generators_list" class="dn">
		<div class="nav-ddctr">
			<div class="target-ctr generator"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Generators</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Generators</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which generator is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of generators box -->
	
	<!-- begin: dropdown of lawnmowers box -->
	<div id="lawnmowers_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr lawnmower"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Lawnmowers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Lawnmowers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which lawnmower is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of lawnmowers box -->
	
	<!-- begin: dropdown of waterpumps box -->
	<div id="waterpumps_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr waterpump"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Water Pumps</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Water Pumps</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which water pump is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of waterpumps box -->
	
	<!-- begin: dropdown of snowblowers box -->
	<div id="snowblowers_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr snowblower"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Snowblowers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Snowblowers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which snowblower is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of snowblowers box -->
	
	<!-- begin: dropdown of tillers box -->
	<div id="tillers_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr tiller"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Tillers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Tillers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which tiller is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of tillers box -->
	
	<!-- begin: dropdown of trimmers box -->
	<div id="trimmers_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr trimmer"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="#" class="btn primary"><span>See All Trimmers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Compare Trimmers</span></a>
					<div class="divider"></div>
					<a href="#" class="btn primary"><span>Help Me Choose</span></a>
				</div>
				<div class="fr copy">
					<p>Not sure which trimmer is right for you?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: dropdown of trimmers box -->

    <!-- begin: dropdown of shopping box -->
    <div id="shopping_list" class="dn">
        <div class="shopping_list_container fc">
            <dl class="fc fl">
                <dd class="compare-models first"><a href="footer.html#"><span>Compare Models</span></a></dd>
                <dd class="help-me-choose"><a href="footer.html#"><span>Help Me Choose</span></a></dd>
                <dd class="news-events"><a href="footer.html#"><span>News &amp; Events</span></a></dd>
                <dd class="accessories"><a href="footer.html#"><span>Accessories</span></a></dd>
                <dd class="parts-service"><a href="footer.html#"><span>Parts &amp; Service</span></a></dd>
            </dl>
            <dl class="fc fl">
                <dd class="find_a_dealer first"><a href="footer.html#"><span>Find A Dealer</span></a></dd>
                <dd class="lease-finance"><a href="footer.html#"><span>Finance</span></a></dd>
                <dd class="special-offers"><a href="footer.html#"><span>Special Offers</span></a></dd>
                <dd class="commercial-products"><a href="footer.html#"><span>Commercial Products</span></a></dd>
                <dd class=""></dd>
            </dl>
        </div>
    </div>
    <!-- end: dropdown of shopping box -->
    <!--#include virtual="/shared/inc/scripts.html"-->
</div>