<!--googleoff:index-->
<div class="wrapper nmb nmt">
	<div id="header">
		<ul id="language" class="fc">
			<li class="fr first"><a href="header.html#">Français</a></li>
			<li class="fr"><a href="header.html#">Back to Honda.ca</a></li>
			<li class="fr"><a href="header.html#">Honda Canada</a></li>
		</ul>
		<div class="fl">
			<a id="logo" href="header.html#"></a>
		</div>
		<div class="fr" id="sub_header">
			<div id="search" class="dd_button fr">
				<input type="search" name="search" value="" placeholder="Search" />
				<a href="header.html#" class="clear dn"></a>
			</div>
			<ul id="secondary_nav" class="fr">
				<li class="fl first"><a href="header.html#">find a dealer</a></li>
				<li class="fl"><a href="header.html#">lease &amp; finance</a></li>
				<li class="fl"><a href="header.html#">safety</a></li>
				<li class="fl"><a href="header.html#">news &amp; events</a></li>
			</ul>
			<div class="clrfix"></div>
		</div>
		<div class="clrfix"></div>

    <!--French navigation -->
        <!--
        <div id="main_menu">
            <ul id="primary_nav">
                <li class="fl first"><a class="" data-dropdown-content-target="#utility_list" data-url="/dropdown/utility" href="/utility">utilitaire</a></li>
                <li class="fl"><a class="" data-dropdown-content-target="#sport_list" data-url="/dropdown/sport" href="/sport">sport</a></li>
                <li class="fl"><a class="full_seperator" data-dropdown-content-target="#recreation_list" data-url="/dropdown/recreation" href="/recreation">loisirs</a></li>
                <li class="fl alternate"><a href="##">pourquoi honda?</a></li>
                <li class="fl alternate"><a href="#/accessories">accessoires</a></li>
                <li class="fl alternate"><a class="multiline" href="/parts-service-overview">pieces ét <br/>service</a></li>
                <li class="fl alternate"><a class="last_seperator multiline" href="/parts-service-overview">offres <br/>spéciales</a></li>
                <li class="last"><a href="#" data-dropdown-content-target="#shopping_list" id="shopping_dropdown">outils d’achat</a></li>
            </ul>
            <div class="clrfix"></div>
        </div>
        -->
    <!--end / French navigation -->
		
        <div id="main_menu">
            <ul id="primary_nav">
                <li class="fl first"><a class="" data-dropdown-content-target="#utility_list" data-dropdown-class="utility-nav" data-url="landing-utility.html" href="/utility">Utilitaire</a></li>
                <li class="fl"><a class="" data-dropdown-content-target="#recreation_list" data-dropdown-class="recreation-nav" data-url="landing-utility.html" href="/recreation">Recreatif</a></li>
				<li class="fl"><a class="full_seperator" data-dropdown-content-target="#sport_list" data-dropdown-class="sport-nav" data-url="landing-utility.html" href="/sport">Sport</a></li>
                <li class="fl alternate"><a href="##">Why Honda?</a></li>
                <li class="fl alternate"><a href="#/accessories">ACCESSORIES</a></li>
                <li class="fl alternate"><a href="/parts-service-overview">PARTS &amp; SERVICE</a></li>
                <li class="fl alternate"><a class="last_seperator" href="/parts-service-overview">SPECIAL OFFERS</a></li>
                <li class="last"><a href="#" data-dropdown-content-target="#shopping_list" id="shopping_dropdown">Shopping Tools</a></li>
            </ul>
            <div class="clrfix"></div>
        </div>
	</div>
</div>
<!--<li class="fl alternate"><a class="nav_spacer" href="##"></a></li>-->
<!--
<div class="dropdown_container car_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 480px;">
	<div class="dropdown_button pf" style="left: 0px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#cars_list" id="cars_dropdown" class="ffgc">
				Generators
			</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="cars_list_container">
                Insert Content Here
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->
<!-- bottom dropdown contains a 1px issue when the pf is added. -->
<!--
<div class="dropdown_container car_box truck_box" style="display: block; z-index: 30000; position: absolute; top: 164px; left: 473px;">
	<div class="dropdown_button pf" style="left: 109px;">
		<span class="dropdown_button_right pf">
			<a href="#" rel="#trucks_list" id="trucks_dropdown" class="ffgc">Lawnmowers</a>
		</span>
	</div>
	<div class="dropdown_content" style="display: block;">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf">
			<div class="trucks_list_container">
				Testing
			</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>
-->