/* ALL PAGES */
.bwa { padding: 6px 15px 10px; }

.bwa .bwa-banner { margin-bottom: 15px; }
.bwa .bwa-splash .bwa-banner { width: 950px; height: 542px; }

.bwa .bwa-nav { height: 40px; margin: 0 auto; width: 565px; }

.bwa a.primary span { font-size: 14px; height: 21px; padding-top: 3px; }

.bwa a.main { background: url("/_Global/img/content/pe/bwa/bwa-btn.gif") no-repeat scroll 0 0 transparent; display: block; height: 26px; margin-left: 15px; padding-top: 14px; text-align: center; width: 178px; }
.bwa a.first { margin-left: 0 !important; }
.bwa a.active, .bwa a.main:hover { background: url("/_Global/img/content/pe/bwa/bwa-btn.gif") no-repeat scroll 0 -40px transparent; }
.bwa a.main span { color: #FFFFFF; font-family: Arial; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.bwa a.multiline { height: 33px; padding-top: 7px; }

.bwa a.second { background: url("/_Global/img/content/pe/bwa/bwa-btn-secondary.gif") no-repeat scroll 0 0 transparent; display: block; height: 27px; padding-top: 15px; text-align: center; width: 198px; }
.bwa a.second span { color: #FFFFFF; font-family: Arial; font-size: 12px; font-weight: bold; text-transform: uppercase; }

/* Splash Page */
.bwa .bwa-splash { border-bottom: 1px solid #DEDEDE; border-top: none; margin-top: 0; padding-bottom: 20px; padding-top: 0; }

.bwa .splash-touts { padding-top: 15px; }
.bwa .splash-touts .tout-see-all { padding: 0 15px; }
.bwa .splash-touts .tout-model-selector { padding-bottom: 15px; }

/* Features Page */
.bwa p.large { text-align: center; }

.bwa .feature-info-area { position: relative; top: -40px; }

.bwa .feature-tooltips { padding-top: 10px; position: relative; text-align: center; width: 660px; }
.bwa .feature-tooltips a.hotspot { background: url("/_Global/img/layout/hotspot.png") no-repeat scroll 0 0 transparent; display: block; height: 22px; position: absolute; width: 22px; z-index: 1; }
.tooltip_container .tooltip_content p { padding-bottom: 0; }

.bwa .bwa-info { background: url("/_Global/img/content/pe/bwa/bg-info.jpg") no-repeat scroll center top transparent; height: 425px; margin-bottom: 10px; padding: 45px 20px 30px; width: 240px; }
.bwa .bwa-info p { color: #898989; font-family: Arial; font-size: 15px; font-weight: bold; line-height: 21px; text-align: center; }

.bwa .bwa-info .honda-advantage-button { padding-top: 45px; text-align: center; }

/* All Models Page */
.bwa .bwa-product-column { float: left; font-family: Arial; margin-left: 43px; width: 205px; }
.bwa .first-product { margin-left: 0 !important; }

.bwa .product-header { margin-bottom: 15px; }

.bwa .product-header .h2-large { color: #E21A3C; font-size: 42px; line-height: 46px; font-weight: bold; }
.bwa .product-header .h2-small { color: #E21A3C; font-size: 19px; line-height: 24px; font-weight: bold; }

.bwa .product-header .small-size { color: #7D7D7D; font-size: 9px; line-height: 15px; text-transform: uppercase; }
.bwa .product-header .mid-size { color: #7D7D7D; font-size: 13px; line-height: 19px; }
.bwa .product-header .large-size { color: #7D7D7D; font-size: 17px; line-height: 25px; text-transform: uppercase; }

.bwa .product-image { height: 205px; margin-bottom: 15px; position: relative; text-align: center; }
.bwa .product-image span { bottom: 0; color: #7D7D7D; font-size: 9px; left: 5px; position: absolute; text-align: left; }

.bwa .product-desc .h2-mid { color: #E21A3C; font-size: 13px; margin-bottom: 7px; text-transform: uppercase; }

.bwa .product-desc ul { margin-bottom: 10px; }
.bwa .product-desc li { color: #7D7D7D; font-size: 11px; line-height: 14px; list-style: disc outside none; margin-left: 15px; padding-bottom: 4px; }

.bwa .product-desc p { color: #7D7D7D; font-size: 9px; line-height: 12px; margin-bottom: 10px; }
.bwa .product-desc p.usage-disclaimer { background-color: #979797; color: #FFFFFF; font-size: 9px; line-height: 10px; margin-bottom: 10px; padding: 1px 4px; text-transform: uppercase; }
.bwa .product-desc p.full-specs { font-size: 10px; font-weight: bold; text-align: right; }
.bwa .product-desc p.full-specs a { color: #7D7D7D; text-decoration: underline; }
.bwa .product-desc p.full-specs a:hover { background: none; border: none; text-decoration: none; }

.bwa .finders { padding-top: 10px; }
.bwa .model-selector-tool { padding-top: 14px; width: 200px; }
.bwa .find-your-match-copy { margin-left: 25px; padding-top: 14px; width: 380px; }
.bwa .find-your-match-copy p { color: #61696D; font-family: Arial; font-size: 16px; font-weight: bold; line-height: 20px; margin-bottom: 0; padding-top: 2px; }
.bwa .find-a-dealer { margin-left: 40px; }

.bwa .disclaimer { margin-top: 10px; }
.bwa .disclaimer p { color: #979797; font-size: 9px; line-height: 13px; margin-bottom: 8px; }

/* Features Page (French) */
.bwa-fr .bwa-info { height: 450px; padding: 20px 20px 30px; }
.bwa-fr .bwa-info .honda-advantage-button { padding-top: 0;  }

/* All Models Page (French) */
.bwa-fr .bwa-product-column { margin-left: 25px; width: 218px; }
.bwa-fr .product-header .h2-large { font-size: 28px; line-height: 34px; }
.bwa-fr .product-header .h2-small { font-size: 15px; line-height: 20px; }
.bwa-fr .product-desc p.full-specs { font-size: 9px; }
.bwa-fr .model-selector-tool a.second span { text-transform: none; }
.bwa-fr .find-your-match-copy { padding-top: 0; }

/* IE */
*   html .bwa a.primary span { height: 23px; padding-top: 5px; }	/* IE6 Fix */
* + html .bwa a.primary span { height: 23px; padding-top: 5px; }	/* IE7 Fix */