<!-- $Id: come-ride-with-us.html 14825 2011-05-10 16:05:52Z mperry $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<div class="pic">
							<img src="/_Global/img/content/news-events/graphic1.jpg" alt="News and Events - Come Ride With Us"  title="News and Events - Come Ride With Us"/>
						</div>
					</div>
					<div class="content_section">
						<h1>come ride with us</h1>
						<p class="large">Open your sense's to the exhilaration of a Honda motorcycle by joining us fora ride this summer. Our friendly and educated staff will be traveling throughout Canada to showcase our new motorcycle model line up at various Honda dealers. Come Ride With Us staff first ensures you understand the features of our motorcycles and how they will enhance your riding experience. Then we'll match your riding skills and preference to a new bike and head out for a scenic road tour, introducing you to the joy of riding a Honda.</p>
						<p class="large">If you're a newly licensed motorcyclists or have been away from motorcycling for some time, Honda Canada wants you to come out and join as well. A Come Ride With Us staff member will gladly work with you to refresh your skills before leading you out on a comfortable, controlled road ride. You'll have an opportunity to talk with experienced motorcyclists and get helpful tips on observation skills, motorcycle maintenance and a variety of other motorcycle related topics.</p>
						<div class="mb30"></div>
					</div>
					<div class="content_section questions">
						<div class="question question1">
							<h3>Select a Division</h3>
							<select>
								<option>Motorcycles</option>
							</select>
						</div>
						<div class="question question2">
							<h3>Select a Division</h3>
							<select>
								<option>Select One</option>
								<option>Alberta</option>
								<option>British Columbia</option>
								<option>Manitobae</option>
								<option>New Brunswick</option>
								<option>Newfoundland</option>
								<option>Nova Scotia</option>
								<option>Ontario</option>
							</select>
						</div>
						<div class="clr"></div>
					</div>
					<div class="content_section info">
						<h2>Toronto Motorcycle Show <br />Salon de la moto de Toronto</h2>
						<h3>December 10 – December 11</h3>
						<div class="col">
							<h3 class="nmb">Address</h3>
							<p>Metro Toronto Convention Centre <br />North Building, 255 Front St. West, <br />Toronto, Ontario</p>
						</div>
						<div class="col">
							<h3 class="nmb">Date &amp; Time</h3>
							<p>Friday, Dec. 10: 10am – 10pm <br />Saturday, Dec. 11: 10am – 8pm</p>
						</div>
						<div class="clr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.<a href="http://www.torontomotorcycleshow.ca/">http://www.torontomotorcycleshow.ca/</a></p>
						<p class="info-msg">Sorry, there are no further Outdoor events currently planned in this province.<br />Please check surrounding areas for upcoming events.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
