<!-- $Id: news2.html 14550 2011-03-31 18:34:25Z minanakamura $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="fl">NEWS</h1>
						<p class="fr"><a href="news2.html#" class="btn secondary"><span>View all</span></a></p>
						<div class="clr"></div>
					</div>
					<div class="content_section">
						<h2>Nulla scelerisque euismod luctus.Etiam porta dictum ligula eu commodo. Proin ligula risus, semper id porttitor in, auctor at augue.</h2>
						<h3>March 31, 2011</h3>
						<div class="pic">
						</div>
						<div class="grouped">
							<p>Etiam porta dictum ligula eu commodo. Proin ligula risus, semper id porttitor in, auctor at augue. Donec rhoncus mi sed tortor sollicitudin ac imperdiet justo tempor. Donec est leo, vestibulum eget ornare quis, hendrerit vel enim. Sed in mi sed elit rhoncus porta. Donec commodo hendrerit nisl, eu fermentum ligula facilisis posuere. Suspendisse ligula enim, imperdiet non viverra sit amet, luctus a neque. Nunc venenatis ligula quis ligula mollis sagittis iaculis tellus ultrices. Vestibulum tristique consequat venenatis. Mauris dapibus porta arcu, non pretium velit fringilla quis. Nunc volutpat venenatis feugiat. Integer commodo porttitor sapien, vitae ultrices massa rutrum quis. Cras feugiat magna id libero dictum ac dignissim diam tincidunt. Nam pellentesque nisi sed sapien luctus molestie.</p>
							<p>Vivamus eu enim justo, nec adipiscing nisl. Vivamus sapien urna, auctor a sollicitudin et, porttitor id augue. Morbi hendrerit rhoncus arcu eget bibendum. Nunc id auctor urna. Donec lacinia, velit non vehicula mollis, tortor turpis porta quam, sit amet laoreet dui erat non justo. Nunc commodo pellentesque augue vitae lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at mauris ac mauris facilisis mollis. In semper fringilla elementum. Fusce facilisis diam in mi pretium adipiscing. Etiam gravida, orci vitae luctus commodo, orci arcu sodales tortor, sit amet congue felis lacus vel orci. Ut nec felis eget felis accumsan pharetra vel vel arcu. Etiam sollicitudin risus in velit iaculis aliquet. Etiam sit amet elit purus, in molestie est. Sed vestibulum, neque vitae sodales venenatis, leo tellus blandit odio, sed dignissim leo felis eu enim.</p>
							<p>Nam pellentesque, sem vitae cursus feugiat, ligula nisi laoreet lacus, congue imperdiet felis lacus id lorem. Nunc risus tortor, scelerisque ac venenatis a, ultricies eu ante. Proin vestibulum lacus lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur mollis aliquam orci. Sed vestibulum metus quis leo consequat id feugiat eros semper. Quisque accumsan imperdiet augue, in sollicitudin risus scelerisque at. Phasellus eu justo elit. Aliquam erat volutpat. Etiam tempor euismod accumsan. Sed sit amet magna sed orci interdum mollis. Duis iaculis mattis orci, ac fringilla nunc adipiscing quis. Donec eros dui, convallis eu imperdiet vitae, condimentum vel felis. Aliquam ac tortor sit amet neque mattis ullamcorper at et erat. Donec condimentum mi vel lorem imperdiet luctus commodo lacus auctor. Praesent semper ante id neque hendrerit blandit. Quisque a nunc felis. Maecenas ut erat at elit venenatis vestibulum. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
