<!-- $Id: news1.html 14550 2011-03-31 18:34:25Z minanakamura $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="fl">NEWS</h1>
						<div class="clr"></div>
					</div>
					<div class="content_section">
						<h2>Nulla scelerisque euismod luctus</h2>
						<h3>March 31, 2011</h3>
						<div class="pic">
						</div>
						<div class="grouped">
							<p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreetacinia. Class aptent taciti sociosqu ad litora torquenter per conubia nostra, per inceptos himenaeos. … <a href="news1.html#">Read More</a></p>
						</div>
					</div>
					<div class="content_section_dotted">
						<h2>Sed ut perspiciatis unde eum iure reprehenderit qui</h2>
						<h3>March 31, 2011</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="news1.html#">Read More</a></p>
					</div>		
					<div class="content_section_dotted">
						<h2>Nemo enim ipsam voluptatem</h2>
						<h3>February 1, 2011</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco …<a href="news1.html#">Read More</a></p>
					</div>	
					<div class="content_section_dotted">
						<h2>Quis autem vel eum iure reprehenderit qui ina voluptate velit esse quam nihil molestiae consequatur</h2>
						<h3>February 1, 2011</h3>
						<div class="pic"></div>
						<p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptent taciti sociosqu ad litora torquenter per conubia nostra, per inceptos … <a href="a">Read More</a></p>
					</div>
					
					<div class="np content_section bottom-pagination">
						<div class="fc pagination">
							<a href="#" class="fl pf page-prev">Prev</a>
							
							<div class="fl fc page-numbers">
								<a href="#" class="pf page active">1</a>
								<a href="#" class="pf page">2</a>
								<a href="#" class="pf page">3</a>
								<a href="#" class="pf page">4</a>
								<a href="#" class="pf page">5</a>
							</div>
							
							<a href="#" class="fl pf page-next">Next</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
