<!-- $Id: outdoor-events.html 14550 2011-03-31 18:34:25Z minanakamura $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>outdoor events</h1>
						<p class="large">The all new Honda Technology Trailer is constantly on the move showcasing Honda's state-of-the-art products. See when the trailer will be making an appearance at an event near you.</p>
					</div>
					<div class="content_section questions">
						<div class="question question1">
							<h3>Select a Division</h3>
							<select>
								<option>Motorcycles</option>
							</select>
						</div>
						<div class="question question2">
							<h3>Select a Division</h3>
							<select>
								<option>Select One</option>
								<option>Alberta</option>
								<option>British Columbia</option>
								<option>Manitobae</option>
								<option>New Brunswick</option>
								<option>Newfoundland</option>
								<option>Nova Scotia</option>
								<option>Ontario</option>
							</select>
						</div>
						<div class="clr"></div>
					</div>
					<div class="content_section info">
						<h2>Toronto Motorcycle Show <br />Salon de la moto de Toronto</h2>
						<h3>December 10 – December 11</h3>
						<div class="col">
							<h3 class="nmb">Address</h3>
							<p>Metro Toronto Convention Centre <br />North Building, 255 Front St. West, <br />Toronto, Ontario</p>
						</div>
						<div class="col">
							<h3 class="nmb">Date &amp; Time</h3>
							<p>Friday, Dec. 10: 10am – 10pm <br />Saturday, Dec. 11: 10am – 8pm</p>
						</div>
						<div class="clr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.<a href="http://www.torontomotorcycleshow.ca/">http://www.torontomotorcycleshow.ca/</a></p>
					</div>
					<div class="content_section_dotted">
						<h2>Lorem Ipsum<br />Consectetur adipisicing elit</h2>
						<h3>January 10</h3>
						<div class="col">
							<h3 class="nmb">Address</h3>
							<p>Metro Toronto Convention Centre <br />North Building, 255 Front St. West, <br />Toronto, Ontario</p>
						</div>
						<div class="col">
							<h3 class="nmb">Date &amp; Time</h3>
							<p>Friday, Dec. 10: 10am – 10pm <br />Saturday, Dec. 11: 10am – 8pm</p>
						</div>
						<div class="clr"></div>
					</div>		
					<div class="content_section_dotted">
						<h2>Quis autem vel eum iure reprehenderit qui in <br />ea voluptate velit esse quam nihil molestiae consequatur<br />Quis autem vel eum iure reprehenderit qui in</h2>
						<h3>March 31, 2011</h3>
						<div class="pic">
						</div>
						<div class="col">
							<h3 class="nmb">Address</h3>
							<p>Metro Toronto Convention Centre <br />North Building, 255 Front St. West, <br />Toronto, Ontario</p>
						</div>
						<div class="col">
							<h3 class="nmb">Date &amp; Time</h3>
							<p>Friday, Dec. 10: 10am – 10pm <br />Saturday, Dec. 11: 10am – 8pm</p>
						</div>
						<div class="clr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.<a href="http://www.torontomotorcycleshow.ca/">http://www.torontomotorcycleshow.ca/</a></p>

					</div>				
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
