<!-- $Id: overview.html 14550 2011-03-31 18:34:25Z minanakamura $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				
				<div class="content_container">
					<div class="content_section first_section">
						<h1>overview</h1>
					</div>
					<div class="content_section">
						<div class="item">
							<div class="thumb">
							</div>
							<div class="desc">
								<h2 class="small">Trade Shows Sed ut perspiciatis unde eum iure Sed ut perspiciatis unde eum iure</h2>
								<p>Is a specifically designed program to teach kids from ages 6 – 12 years old the fundamentals of off-road riding. Honda Canada supplies all the safety gear and motorcycles for this program. It is a four hour session at a cost of $125 per child. For more information please visit www.jrr.ca and become a member of the Junior Red Riders club.</p>
								<p><a href="overview.html#">View Trade Shows</a></p>
								
							</div>
							<div class="clr"></div>
						</div>
						<div class="item">
							<div class="thumb">
							</div>
							<div class="desc">
								<h2 class="small">Outdoor Events</h2>
								<p>The all new Honda Technology Trailer is constantly on the move showcasing Honda's state-of-the-art products. See when the trailer will be making an appearance at an event near you.</p>
								<p><a href="overview.html#">View Out Door Events</a></p>
								
							</div>
							<div class="clr"></div>
						</div>
						<div class="item">
							<div class="thumb">
							</div>
							<div class="desc">
								<h2 class="small">Come Ride With Us</h2>
								<p>Open your sense's to the exhilaration of a Honda motorcycle by joining us for a ride this summer. Our friendly and educated staff will be traveling throughout Canada to showcase our new motorcycle model line up at various Honda dealers.</p>
								<p><a href="overview.html#">Learn More</a></p>
								
							</div>
							<div class="clr"></div>
						</div>
						<div class="item last">
							<div class="thumb">
							</div>
							<div class="desc">
								<h2 class="small">Jr. Red Riders</h2>
								<p>Is a specifically designed program to teach kids from ages 6 – 12 years old the fundamentals of off-road riding. Honda Canada supplies all the safety gear and motorcycles for this program. It is a four hour session at a cost of $125 per child. For more information please visit <a href="overview.html#">www.jrr.ca</a> and become a member of the Junior Red Riders club.</p>
							</div>
							<div class="clr"></div>
						</div>						
					</div>
					<div class="content_section">
						<div class="h1 fl">news</div>
						<p class="fr"><a href="overview.html#" class="btn secondary"><span>View all</span></a></p>
						<div class="clr"></div>
						<h2>Sed ut perspiciatis unde eum iure reprehenderit qui Sed ut perspiciatis unde eum iure reprehenderit qui</h2>
						<h3>March 31, 2011</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="overview.html#">Read More</a></p>
					</div>
					<div class="content_section_dotted">
						<h2>Nemo enim ipsam voluptatem Nemo enim ipsam voluptatem Nemo enim ipsam voluptatem</h2>
						<h3>March 31, 2011</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="overview.html#">Read More</a></p>
					</div>
					<div class="content_section_dotted">
						<h2>Nemo enim ipsam voluptatem</h2>
						<h3>March 31, 2011</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="overview.html#">Read More</a></p>
					</div>
					
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
