    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper nmb">
		<div class="cap_top_default pf"></div>
        <div id="match_details">
            <div class="container top-container">
                <div class="content_container">
                    <div class="content_section first_section">
                        <h1>Build Your Honda</h1>
                    </div>
                    <div class="content_section">
                        <div class="postal-box tac">
                            <p><strong>Postal code: </strong>M5T 1X4</p><a href="#" class="pf refresh">Change</a>
                        </div>
                        <div class="fc flex_bar_alt">
                            <span>
                                <div class="fl pf change-category">Category<q> : Sport</q></div>
                                <a href="#" class="pf fr refresh blank">Change</a>
                            </span>
                        </div>
                        <div class="fc flex_bar_alt">
                            <span>
                                <div class="fl pf change-category">Model<q> : cbr600rr</q></div>
                                <a href="#" class="pf fr refresh blank">Change</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="model-details-content">
                    <div class="product-container">
                        <div class="fc product-heading">
                            <div class="fl">
                                <div class="fl product-details">
                                    <div class="fl product_name">
                                        <h1>VT1300cra</h1>
                                        <h2>Cruiser</h2>
                                        <input type="hidden" id="ModelExportKey" value="civic_coupe" />
                                        <a class="btn-help pf"
                                           property="act:tooltip"
                                           data-tooltip-class="tooltip-right-alt"
                                           data-position="right bottom"
                                           data-tooltip-content-target="#tooltip-content-1234a"></a>
                                        <span id="tooltip-content-1234a" class="dn">
                                            Tooltip content
                                        </span>
                                    </div>
                                    <div class="fr model-years">
                                        <p class="fr">Model Year</p>
                                        <div class="clr"></div>
                                        <dl class="fc">
                                            <dd class="fr"><a href="javascript:void(0)" data-model-year-key="2010" class="active tag-model-year">2010</a></dd>
                                            <dd class="fr"><a href="javascript:void(0)" data-model-year-key="2009" class="tag-model-year">2009</a></dd>
                                            <dd class="fr first"><a href="javascript:void(0)" data-model-year-key="2008" class="tag-model-year">2008</a></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="fr product-price" style="z-index:3">
                                    <div class="finance-dropout" id="financial-panel">
                                        <div class="finance-heading">
                                            <dl class="fc "> <!-- Set this to active on rollover -->
                                                <dd class="fl cash-purchase">
                                                    <p class="title">Cash Purchase</p>
                                                    <p class="price tag-cash-purchase-value"></p>
                                                </dd>
                                                <dd class="fl lease-finance">
                                                    <p class="title">Finance</p>
                                                    <p class="price tag-finance-value"></p>
                                                    <p class="title">Lease</p>
                                                    <p class="price tag-lease-value"></p>
                                                </dd>
                                                <dd class="fl msrp">
                                                    <p class="title">MSRP</p>
                                                    <p class="price tag-msrp-value"></p>
                                                </dd>
                                                <dd class="fl details"></dd>
                                            </dl>
                                        </div>

                                        <div class="finance-body dn">
                                            <div class="top">
                                                <table>
                                                    <tr class="small">
                                                        <th class="col1"></th>
                                                        <th class="col2">Lease</th>
                                                        <th class="col3">Finance</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Down Payment</td>
                                                        <td class="col2"><input type="text" name="down_payment_lease" value="$0" id="tag-lease-down-payment"></td>
                                                        <td class="col3"><input type="text" name="down_payment_finance" value="$0" id="tag-finance-down-payment"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Additional Kms</td>
                                                        <td class="col2"><input type="text" name="additional_kms_lease" value="0/$0.08" id="tag-lease-additional-km"></td>
                                                        <td class="col3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Term By Months</td>
                                                        <td class="col2">
                                                            <select name="term_lease" id="tag-lease-term-options">
                                                                <option value="option1">48</option>
                                                            </select>
                                                        </td>
                                                        <td class="col3">
                                                            <select name="term_finance" id="tag-finance-term-options">
                                                                <option value="option1">60</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Est. Balance</td>
                                                        <td class="col2" id="tag-lease-est-balance"></td>
                                                        <td class="col3" id="tag-finance-est-balance"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">APR</td>
                                                        <td class="col2" id="tag-lease-apr"></td>
                                                        <td class="col3" id="tag-finance-apr"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Rate Period</td>
                                                        <td class="col2" id="tag-lease-rate-period"></td>
                                                        <td class="col3" id="tag-finance-rate-period"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Annual KM Allowance</td>
                                                        <td class="col2" id="tag-lease-annual-km"></td>
                                                        <td class="col3" id="tag-finance-annual-km"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Additional KMs</td>
                                                        <td class="col2">$0.00</td>
                                                        <td class="col3" id="tag-finance-additional-km"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Buyout</td>
                                                        <td class="col2" id="tag-lease-buyout"></td>
                                                        <td class="col3" id="tag-finance-buyout"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Monthly Payment</td>
                                                        <td class="col2" id="tag-lease-monthly-payment"></td>
                                                        <td class="col3" id="tag-finance-monthly-payment"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Amount Due on Delivery</td>
                                                        <td class="col2" id="tag-lease-amount-due"></td>
                                                        <td class="col3" id="tag-finance-amount-due"></td>
                                                    </tr>
                                                </table>
                                                <!--
                                                <table class="finance-only">
                                                    <tr class="small">
                                                        <th class="col1"></th>
                                                        <th class="col3">Finance</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Down Payment</td>
                                                        <td class="col3"><input type="text" name="down_payment_finance" value="$0" id="down_payment_finance"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Term By Months</td>
                                                        <td class="col3">
                                                            <select name="term_finance" id="term_finance">
                                                                <option value="option1">60</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Est. Balance</td>
                                                        <td class="col3">$12,999.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">APR</td>
                                                        <td class="col3">0.9%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Rate Period</td>
                                                        <td class="col3">3/1/2011 to 3/31/2011</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Monthly Payment</td>
                                                        <td class="col3">$168.48</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col1">Amount Due on Delivery</td>
                                                        <td class="col3">$0.00</td>
                                                    </tr>
                                                </table>
                                                -->
                                                <div class="taxes">
                                                    <input type=checkbox name="taxes" id="tag-include-fees" />
                                                    <p><label for="tag-include-fees">Include taxes, levies, fees, freight and delivery on payments.<br />
                                                        MSRP and cash purchase will include freight and PDI.</label></p>
                                                </div>
                                            </div>
                                            <div class="fc bottom">
                                                <div class="fl disclaimer">
                                                    <a data-tooltip-content-target="#tooltip-content-1234b" data-position="right top" data-tooltip-class="tooltip-top-alt" property="act:tooltip" class="btn-help pf"></a>
                                                    <span class="dn" id="tooltip-content-1234b">
                                                        Prices shown are suggested retail prices only. Actual costs may vary depending on region, market rate, etc. Dealers are free to set their own selling prices. Prices shown do not include taxes.
                                                    </span>
                                                    <p>legal disclosure <span>please read</span></p>
                                                </div>
                                                <a href="javascript:void(0)" class="recalculate fr btn primary-png"><span>Recalculate</span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fc product-body">
                        <div class="fl product-information">
                            <div class="product-image">
                                <img src="/_Global/img/temp/cbr_600_rr.jpg" alt="" />
                            </div>
                            <div class="colors">
                                <div class="small-sub-heading">Colour</div>
                                <a href="javascript:void(0)" rel="/path/to" class="first"><span><img src="/_Global/img/temp/color_chip_green.jpg" alt="" /></span></a>
                                <a href="javascript:void(0)" rel="/path/to"><span><img src="/_Global/img/temp/color_chip_grey.jpg" alt="" /></span></a>
                                <a href="javascript:void(0)" rel="/path/to" class="active"><span><img src="/_Global/img/temp/color_chip_red.gif" alt="" /></span></a>
                            </div>
                            <div class="image-controls">
                                <a href="" class="btn secondary"><span class="hearit">Hear It</span></a>
                                <a href="" class="btn secondary"><span class="enlarge">Enlarge</span></a>
                            </div>
                        </div>
                        <div class="fr product-content" id="match_summary">
                            <ul class="fc large-inner-menu">
                                <li class="fl pf first active"><span><a href="javascript:void(0)" data-content-target="#sum-accessory-list">your<br />accessories</a></span></li>
                                <li class="fl pf"><a href="javascript:void(0)" data-content-target="#sum-finance-summary">finance<br />summary</a></li>
                                <li class="fl pf"><a href="javascript:void(0)" data-content-target="#sum-lease-summary">lease<br />summary</a></li>
                                <li class="fl pf last"><span><a href="javascript:void(0)" data-content-target="#sum-warranty">warranty<br />information</a></span></li>
                            </ul>

                            <div id="sum-accessory-list" class="sum-content">
                                <div class="subview"></div>
                            </div>

                            <div id="sum-finance-summary" class="sum-content dn" data-scrollview-type="vertical">
                                <div class="subview"></div>
                            </div>

                            <div id="sum-lease-summary" class="sum-content dn">
                                <div class="subview"></div>
                            </div>

                            <div id="sum-warranty" class="sum-content dn">
                                <div class="subview">
                                    <div id="match_warranty" data-match-warranty-url="/mc/resources/warranty.js"></div>
                                    <div class="content-section">
                                        <div data-scrollview-type="vertical">
                                            <div class="subview">
                                                <p class="heading">Honda Plus</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat ac metus iaculis accumsan quis vitae nisl. Integer imperdiet urna at lectus interdum at interdum elit vestibulum. Sed hendrerit nibh non diam luctus sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus dui, ultrices in porta in, tristique interdum felis.</p>
                                                <p>Phasellus eget urna risus, quis tristique nisi. Fusce venenatis egestas condimentum. Proin congue imperdiet velit, tincidunt tincidunt enim vulputate.</p>
                                                <p class="Disclaimer">Prices shown are suggested retail prices only. Actual costs may vary depending on region, market rate, etc. Dealers are free to set their own selling prices. Prices shown do not include taxes.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accessories-slider" id="match_accessory"
                        data-honda-match-accessory-url="/mc/resources/build-it-accessories.js">
                        <div class="heading-info">
                            <h2 class="small alt">cbr600rr accessories</h2>
                            <select class="tag-acc-list accessories" style="display:inline;">
                            </select>
                        </div>
                        <dl class="dn">
                            <dd id="acc-item-template"
                                data-position="right top"
                                data-popup-modal="false"
                                data-popup-class="toolbox-small toolbox-small-center">

                                <div class="check"></div>
                                <img class="tag-acc-thumbnail" src="" alt="" />
                                <p class="name tag-acc-name"></p>
                                <p class="price"><span class="tag-acc-price"></span> <span class="msrp">msrp</span></p>

                                <div class="dn tag-acc-popup">
                                    <div>
                                        <div class="product-image"><img class="tag-acc-image" src="" alt="" /></div>
                                        <p class="product-id tag-acc-part-number"></p>
                                        <p class="product-name tag-acc-name"></p>
                                        <p class="product-price tag-acc-price"></p>
                                        <p class="product-description tag-acc-desc"></p>
                                    </div>
                                    <div class="fc">
                                        <a href="javascript:void(0)" class="btn-add fl btn delayed primary"><span>add to your atv</span></a>
                                        <a href="javascript:void(0)" style="display:none" class="btn-remove fl delayed btn primary"><span>remove from your atv</span></a>
                                        <a href="javascript:void(0)" class="btn-close fr btn secondary delayed"><span>Close</span></a>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <div class="accessories-container" data-scrollview-type="horizontal" data-scrollview-delayed="false">
                            <div class="accessories-inner-container tag-acc-container subview">
                            </div>
                        </div>
                    </div>

	<div id="popup-create-brochure" class="commonlib-popup">
		<a class="popup-close close" href="javascript:void(0)"><img class="pf" alt="Popup Close" src="/_Global/img/layout/popup_close.png"></a>

		<div class="pf popup_form_content_top"></div>
		<div class="pf popup_form_content_mid">
			<div class="popup-form-content">
				<div class="content-area">
					<div class="h2">Create your own brochure</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam venenatis pulvinar.</p>
				</div>
				<div class="content-area">
					<div class="h3">What do we call you?</div>
					<div class="input_box name-field"><input type="text" name="name" value="" id="name" /></div>

					<div class="h3">Postal Code:</div>
					<div class="input_box postal-field"><input type="text" name="postal" value="" id="postal" /></div>

					<div class="h3">Select your dealer:</div>
					<table class="dealers">
						<tr>
							<th>Centre Honda</th>
							<td>3526 Lakeshore Blvd. West</td>
							<td class="right">416-364-1116</td>
						</tr>
						<tr class="active">
							<th>Lakeshore Honda</th>
							<td>3526 Lakeshore Blvd. West</td>
							<td class="right">416-364-1116</td>
						</tr>
						<tr>
							<th>Centre Honda</th>
							<td>3526 Lakeshore Blvd. West</td>
							<td class="right">416-364-1116</td>
						</tr>
					</table>

					<div class="pf select-another-city">
						<a href="#">Select another city</a>
					</div>
				</div>

				<div class="fc btn-right">
					<a href="#" class="fr btn primary"><span>Create Your Brochure</span></a>
				</div>
			</div>
		</div>
		<div class="pf popup_form_content_bottom"></div>
	</div>

	<div id="popup-send-to-friend" class="commonlib-popup">
		<a class="popup-close close" href="javascript:void(0)"><img class="pf" alt="Popup Close" src="/_Global/img/layout/popup_close.png"></a>

		<div class="pf popup_form_content_top"></div>
		<div class="pf popup_form_content_mid">
			<div class="popup-form-content">
				<div class="content-area">
					<div class="h2">Send to a friend</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam venenatis pulvinar.</p>
				</div>
				<div class="content-area">
					<div class="h3">From:</div>
					<div class="input_box from-field"><input type="text" name="from" value="" id="from" /></div>

					<div class="h3">To:</div>
					<div class="input_box to-field"><input type="text" name="to" value="" id="to" /></div>

					<div class="h3">E-mail address:</div>
					<div class="input_box email-field"><input type="text" name="email" value="" id="email" /></div>
				</div>

				<div class="fc btn-right">
					<a href="#" class="btn primary"><span>Send Your Brochure</span></a>
				</div>
			</div>
		</div>
		<div class="pf popup_form_content_bottom"></div>
	</div>

	<div id="popup-thanks" class="commonlib-popup">
		<a class="popup-close close" href="javascript:void(0)"><img class="pf" alt="Popup Close" src="/_Global/img/layout/popup_close.png"></a>

		<div class="pf popup_form_content_top"></div>
		<div class="pf popup_form_content_mid">
			<div class="popup-form-content">
				<div class="content-area">
					<div class="h2">Thanks!</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam venenatis pulvinar.</p>
				</div>

				<div class="btn-center">
					<a href="#" class="btn secondary"><span>Close</span></a>
				</div>
			</div>
		</div>
		<div class="pf popup_form_content_bottom"></div>
	</div>
                </div>
            </div>
            <div class="fc container bottom-container">
                <a href="#" class="fl btn secondary"><span>Start Over</span></a>
                <a href="#" class="fr btn primary"><span>Send to a Friend</span></a>
                <a href="#" class="fr btn primary"><span>Find a Dealer</span></a>
                <div class="fr choice">what would you like to do now?</div>
            </div>
        </div>
	</div>
    <div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
    
<!--#include virtual="/shared/inc/footer.html"-->
