<div class="background_tile">
<div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
    <div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper" id="build-it">
    <div class="cap_top_default pf"></div>
    <div id="build-it-loader" class="loader-disabled"></div>
    <div id="match_start"></div>
    <div id="match_landing" class="dn">
        <div class="container">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Build Your Honda</h1>
                </div>
                <div class="content_section tac">
                    <div class="landing_map">
                        <h2>Please enter your postal code to begin:</h2>
                        <div class="input-box-large">
                            <div class="field"><input type="text" class="match_postal" name="postal" id="postal" /></div><!--
                            --><div class="submit"><a href="javascript:void(0)" class="pf secondary_large submit"><span>Go</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cap_bottom_default pf"></div>
    </div>
    <div id="match_category" class="dn">
        <div class="container">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Build Your Honda</h1>
                </div>
                <div class="content_section">
                    <div class="postal-box tac">
                        <p><strong>Postal code: </strong><span class="tag-postal-code"></span></p><a href="javascript:void(0)" class="pf refresh prev btn-nav" name="landing">Change</a>
                    </div>
                    <div class="flex_bar"><span class="open"><div class="open">Choose a Category</div></span></div>
                    <div class="first single-col-4">
                        <div class="row-first">
                            <div class="first item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Touring</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="pf item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Cruiser</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Sport</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Adventure</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="first item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Touring</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Cruiser</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Sport</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                            <div class="item-outer" data-category-key="touring">
                                <div class="item-container">
                                    <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                    <p class="heading">Adventure</p>
                                    <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cap_bottom_default pf"></div>
    </div>
    <div id="match_choose_model" class="dn"
         data-honda-match-choose-model-url="/mc/resources/build-it-choose-model.html"
         data-honda-match-choose-model-container-selector=".model-content">
        <div class="container">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Build Your Honda</h1>
                </div>
                <div class="content_section page-product-listing">
                    <div class="postal-box tac">
                        <p><strong>Postal code: </strong><span class="tag-postal-code"></span></p><a href="javascript:void(0)" class="pf refresh btn-nav" name="landing">Change</a>
                    </div>
                    <div class="fc flex_bar_alt">
                        <span>
                            <div class="fl change-category">Category<q> : <ins class="tag-category-name"></ins></q></div>
                            <a href="javascript:void(0)" class="pf fr refresh blank btn-nav" name="category">Change</a>
                        </span>
                    </div>
                    <div class="flex_bar"><span class="open"><div class="open">Choose a Model</div></span></div>
                    <div class="model-content choose" id="ChooseModel">
                    </div>
                </div>
            </div>
        </div>
        <div class="cap_bottom_default pf"></div>
    </div>
    <div id="match_details" class="dn"
         data-honda-match-details-url="/mc/build-price-accessories.html"
         data-honda-match-details-content-selector=".model-details-content"
         data-honda-match-details-container-selector=".model-details-content">
        <div class="container top-container">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Build Your Honda</h1>
                </div>
                <div class="content_section">
                    <div class="postal-box tac">
                        <p><strong>Postal code: </strong><span class="tag-postal-code"></span></p><a href="javascript:void(0)" class="pf refresh btn-nav" name="landing">Change</a>
                    </div>
                    <div class="fc flex_bar_alt">
                        <span>
                            <div class="fl pf change-category">Category<q> : <ins class="tag-category-name"></ins></q></div>
                            <a href="javascript:void(0)" class="pf fr refresh blank btn-nav" name="category">Change</a>
                        </span>
                    </div>
                    <div class="fc flex_bar_alt">
                        <span>
                            <div class="fl pf change-category">Model<q> : <ins class="tag-model-name"></ins></q></div>
                            <a href="javascript:void(0)" class="pf fr refresh blank btn-nav" name="choose_model">Change</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="model-details-content">
            </div>
        </div>
        <div class="fc container bottom-container">
            <a href="javascript:void(0)" class="fl btn secondary btn-nav" name="landing"><span>Start Over</span></a>
            <a href="#" class="fr btn primary"><span>Send to a Friend</span></a>
            <a href="#" class="fr btn primary btn-find-a-dealer"><span>Find a Dealer</span></a>
            <div class="fr choice">what would you like to do now?</div>
        </div>
        <div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
    </div>
</div>
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
<script type="text/javascript" src="/_Global/js/sections/build-it.js"></script>