    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
        <div id="match_category">
            <div class="container">
                <div class="content_container">
                    <div class="content_section first_section">
                        <h1>Build Your Honda</h1>
                    </div>
                    <div class="content_section">
                        <div class="postal-box tac">
                            <p><strong>Postal code: </strong>M5T 1X4</p><a href="#" class="pf refresh">Change</a>
                        </div>
                        <div class="flex_bar"><span class="open"><div class="open">Choose a Category</div></span></div>
                        <div class="first single-col-4">
                            <div class="row-first">
                                <div class="first item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Touring</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="pf item-container-active">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Cruiser</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Sport</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Adventure</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="first item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Touring</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Cruiser</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Sport</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                                <div class="item-outer">
                                    <div class="item-container">
                                        <img src="/_Global/img/temp/mc-categories-img.gif" alt="" />
                                        <p class="heading">Adventure</p>
                                        <p>Phasellus scelerisque nulla non massa mattis at pretium augue aliquet maecenas quis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cap_bottom_default pf"></div>
        </div>
	</div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
