    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
        <div id="match_choose_model">
        <div class="container">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Build Your Honda</h1>
                </div>
                <div class="content_section">
                    <div class="postal-box tac">
                        <p><strong>Postal code: </strong>M5T 1X4</p><a href="#" class="pf refresh">Change</a>
                    </div>
                    <div class="fc flex_bar_alt">
                        <span>
                            <div class="fl change-category">Category<q> : Sport</q></div>
                            <a href="#" class="pf fr refresh blank">Change</a>
                        </span>
                    </div>
                    <div class="flex_bar"><span class="open"><div class="open">Choose a Model</div></span></div>
                    <div class="fc pf sliders-box-group">
                        <div class="first sliders-box">
                            <h3>Displacement (CC)</h3>
                            <a class="pf btn-help"
                                property="act:tooltip"
                                data-position="right top"
                                data-tooltip-class="tooltip-top-alt"
                                data-tooltip-content-target="#product-sliders-help1"></a>

                            <div class="fc slider-controls">
                                <div class="pf slider-controls-cap-left"></div>
                                <div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                </div>
                                <div class="pf slider-controls-cap-right"></div>
                            </div>

                            <div class="fc labels">
                                <span class="fl">Left</span>
                                <span class="fr">Right</span>
                            </div>
                        </div>
                        <div class="sliders-box">
                            <h3>Displacement (CC)</h3>
                            <a class="pf btn-help"
                                property="act:tooltip"
                                data-position="right top"
                                data-tooltip-class="tooltip-top-alt"
                                data-tooltip-content-target="#product-sliders-help2"></a>

                            <div class="fc slider-controls">
                                <div class="pf slider-controls-cap-left"></div>
                                <div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                </div>
                                <div class="pf slider-controls-cap-right"></div>
                            </div>

                            <div class="fc labels">
                                <span class="fl">Left</span>
                                <span class="fr">Right</span>
                            </div>
                        </div>
                        <div class="sliders-box">
                            <h3>Displacement (CC)</h3>
                            <a class="pf btn-help"
                                property="act:tooltip"
                                data-position="right top"
                                data-tooltip-class="tooltip-top-alt"
                                data-tooltip-content-target="#product-sliders-help3"></a>

                            <div class="fc slider-controls">
                                <div class="pf slider-controls-cap-left"></div>
                                <div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                </div>
                                <div class="pf slider-controls-cap-right"></div>
                            </div>

                            <div class="fc labels">
                                <span class="fl">Left</span>
                                <span class="fr">Right</span>
                            </div>
                        </div>
                        <div class="sliders-box">
                            <h3>Displacement (CC)</h3>
                            <a class="pf btn-help"
                                property="act:tooltip"
                                data-position="right top"
                                data-tooltip-class="tooltip-top-alt"
                                data-tooltip-content-target="#product-sliders-help4"></a>

                            <div class="fc slider-controls">
                                <div class="pf slider-controls-cap-left"></div>
                                <div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                    <a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
                                </div>
                                <div class="pf slider-controls-cap-right"></div>
                            </div>

                            <div class="fc labels">
                                <span class="fl">Left</span>
                                <span class="fr">Right</span>
                            </div>
                        </div>
                        <div class="last sliders-box">
                            <h3>Tortor</h3>
                            <a class="pf btn-help"
                                property="act:tooltip"
                                data-position="right top"
                                data-tooltip-class="tooltip-top-alt"
                                data-tooltip-content-target="#product-sliders-help5"></a>

                            <div class="fc slider-controls">
                                <div class="field">
                                    <input type="checkbox" name="check1" value="Lorem-One" id="check1" checked="checked" />
                                    <label for="check1">Lorem<br />
                                        One</label>
                                </div>

                                <div class="field">
                                    <input type="checkbox" name="check2" value="Lorem-Two" id="check2" />
                                    <label for="check2">Lorem<br />
                                        Two</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-col-5">
                        <div class="item-outer first first-row">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer first-row">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer first-row">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer first-row">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer first-row">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="first item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer">
                            <div class="pf item-container-active">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="first item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                        <div class="item-outer">
                            <div class="item-container">
                                <img src="/_Global/img/temp/build-price-small-thumb.gif" alt="" />
                                <p class="heading">vfr1200fa</p>
                                <p>$18,299<span>MSRP</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cap_bottom_default pf"></div>
        </div>
	</div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
