	<div class="container">
		<div id="footer">
			<ul class="fc">
				<li class="fl first">
					<dl>
						<dt>Honda Family</dt>
						<dd><a href="http://www.honda.ca">Honda Automotive</a></dd>
						<dd><a href="http://www.acura.ca">Acura</a></dd>
						<dd><a href="http://powerequipment.honda.ca">Power Equipment</a></dd>
						<dd><a href="http://motorcycle.honda.ca">Motorcycles</a></dd>
						<dd><a href="http://atv.honda.ca">ATVs</a></dd>
						<dd><a href="http://engine.honda.ca">Engines</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Honda Engines</dt>
						<dd><a href="">Portables</a></dd>
						<dd><a href="">Mid-Range</a></dd>
						<dd><a href="">Large</a></dd>
						<dd><a href="">All Models</a></dd>
					</dl>
				</li>
				<li class="fl"><dl><dt>&nbsp;</dt></dl></li>
				<li class="fl"><dl><dt>&nbsp;</dt></dl></li>
				<li class="fl">
					<dl>
						<dt>Shopping Tools</dt>
						<dd><a href="">Compare Models</a></dd>
						<dd><a href="">News &amp; Events</a></dd>
						<dd><a href="">Accessories</a></dd>
						<dd><a href="">Parts &amp; Service</a></dd>
						<dd><a href="">Find a Dealer</a></dd>
						<dd><a href="">Finance</a></dd>
						<dd><a href="">Special Offers</a></dd>
						<dd><a href="">Commercial Products</a></dd>
					</dl>
				</li>
				<li class="fl">
					<dl>
						<dt>Our Company</dt>
						<dd><a href="">Innovation</a></dd>
						<dd><a href="">Environment</a></dd>
						<dd><a href="">Honda in Canada</a></dd>
						<dd><a href="">Foundation</a></dd>
						<dd><a href="">Sponsorship</a></dd>
						<dd><a href="">News</a></dd>
						<dd><a href="">Honda Worldwide</a></dd>
						<dd><a href="">Careers</a></dd>
						<dd><a href="">Contact Us</a></dd>
					</dl>
				</li>
			</ul>
			<div class="fc sub_footer_nav">
				<div class="fl copyright"><strong>&#169; 2012 Honda Canada, Inc.</strong> All information contained herein applies to Canadian vehicles only.</div>
				<ul class="fr">
					<li class="first"><a href="footer.html#">Terms &amp; Conditions</a></li>
					<li><a href="footer.html#">Privacy Policy</a></li>
					<li><a href="footer.html#">Site Map</a></li>
				</ul>
			</div>
		</div>
	</div>

    <!-- end: dropdown of truck box -->

    <div id="onroad_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr"></div>
			<div class="fc content_section footer_section">
				<div class="fr fc buttons">
					<a href="/allmotorcycle" class="btn primary"><span>SEE ALL MOTORCYCLES</span></a>
					<div class="divider"></div>
					<a href="/compare" class="btn primary"><span>COMPARE MODELS</span></a>
					<div class="divider"></div>

				</div>
				<div class="fr copy">
					<p>Not sure which motorcycle is right for you?</p>
				</div>
			</div>
		</div>
	</div>

    <div id="offroad_list" class="dn">
		<div class="nav-ddctr">
            <div class="target-ctr"></div>
			<div class="fc content_section footer_section">

				<div class="fr fc buttons">
					<a href="/allmotorcycle" class="btn primary"><span>SEE ALL MOTORCYCLES</span></a>

					<div class="divider"></div>
					<a href="/compare" class="btn primary"><span>COMPARE MODELS</span></a>
					<div class="divider"></div>

				</div>
				<div class="fr copy">

					<p>Not sure which motorcycle is right for you?</p>

				</div>
			</div>
		</div>
	</div>

<!--#include virtual="/shared/inc/scripts.html"-->