<!--googleoff:index-->
<div class="wrapper nmb nmt">
	<div id="header">
		<ul id="language" class="fc">
			<li class="fr first"><a href="">Fran&#231;ais</a></li>
			<li class="fr"><a href="">Back to Honda.ca</a></li>
			<li class="fr"><a href="">Honda Canada</a></li>
		</ul>
		<div class="fl">
			<a id="logo" href=""></a>
		</div>
		<div class="fr" id="sub_header">
			<div id="search" class="dd_button fr">
				<input type="search" name="search" value="" placeholder="Search" />
				<a href="" class="clear dn"></a>
			</div>
			
			<ul class="fr fc" id="secondary_nav">
				<li class="fl first"><a href="">Find a Dealer</a></li>
				<li class="fl"><a href="">Finance</a></li>
				<li class="fl"><a href="">Safety</a></li>
				<li class="fl"><a href="">News &amp; Events</a></li>
			</ul>
			<!--
			<ul class="fr fc" id="secondary_nav">
				<li class="fl first"><a href="">TROUVER UN CONCESSIONNAIRE</a></li>
				<li class="fl"><a href="">FINANCEMENT</a></li>
				<li class="fl"><a href="">SÉCURITÉ</a></li>
				<li class="fl"><a href="">NOUVELLES ET ÉVÉNEMENTS</a></li>
			</ul>
			-->
			<div class="clrfix"></div>
		</div>
		<div class="clrfix"></div>		
        <div id="main_menu">
			<ul id="primary_nav">
				<li class='fl first'><a data-dropdown-content-target='#portables_list' data-url='/engine/resources/dropdown.html' href='#'>Portables</a></li>
				<li class='fl'><a data-dropdown-content-target='#midrange_list' data-url='/engine/resources/dropdown.html' href='#'>Mid-Range</a></li>
				<li class='fl'><a data-dropdown-content-target='#largemotors_list' data-url='/engine/resources/dropdown.html' class="full_separator" href='#'>Large Motors</a></li>
				<li class="fl alternate"><a href="">Why Honda?</a></li>
				<li class="fl alternate"><a href="">Accessories</a></li>
				<li class="fl alternate"><a href="">Parts &amp; Service</a></li>
				<li class="fl alternate"><a class="full_separator" href="">Special Offers</a></li>
				<li class="last"><a id="shopping_dropdown" data-dropdown-content-target="#shopping_list" href="">Shopping Tools</a></li>
			</ul>
			<!--
			<ul id="primary_nav">
				<li class='fl first'><a data-dropdown-content-target='#portables_list' data-url='/engine/resources/dropdown.html' href='#'>Portables</a></li>
				<li class='fl'><a data-dropdown-content-target='#midrange_list' data-url='/engine/resources/dropdown.html' href='#'>INTERMÉDIAIRES</a></li>
				<li class='fl'><a data-dropdown-content-target='#largemotors_list' data-url='/engine/resources/dropdown.html' class="full_separator" href='#'>GRANDE PUISSANCE</a></li>
				<li class="fl alternate"><a href="">Pourquoi Honda?</a></li>
				<li class="fl alternate"><a href="">Accessoires</a></li>
				<li class="fl alternate"><a href="">PIÈCES ET SERVICE</a></li>
				<li class="fl alternate"><a class="full_separator" href="">OFFRES SPÉCIALES</a></li>
				<li class="last"><a id="shopping_dropdown" data-dropdown-content-target="#shopping_list" href="">ACHATS</a></li>
			</ul>
			-->
            <div class="clrfix"></div>
        </div>
        
        <div class="landing-heading"><span class="commercial-products"><a href="">Commercial Products</a></span></div>
	</div>
</div>