	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">BF2.3</div>

				<div class="prices">
					<!-- EXAMPLE 1 -->
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$999</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$100</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Your Price</span>
					</div>
					
					<!-- EXAMPLE 2 -->
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$999</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image"></div>
		</div>

		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>

        <div class="fc popup-bottom compare-buttons">
            <div class="fl view-details">
                <a href="" class="btn primary"><span>View Details</span></a>
            </div>
            <div class="fl pf compare-add-remove add">
                <a href="javascript:void(0)" data-id="model-2" data-item-title="gx270">Add to Compare</a>
            </div>
            <div class="fl pf compare-add-remove remove dn">
                <a href="javascript:void(0)" data-id="model-2">Remove from Compare</a>
            </div>
        </div>
	</div>