	<div class="wrapper product_wrapper_top_cap">
		<div class="container cap_top_default pf"></div>
	</div>
	<div class="wrapper product_wrapper">
		<div class="container product_heading">
			<div class="fc header">
				<div class="fl product_name">
					<h1>BF50</h1>
					<h2>Horizontal Shaft</h2>
					<a class="pf btn-help btn-tooltips"
						property="act:tooltip"
						data-position="right bottom"
						data-tooltip-class="tooltip-right-alt"
						data-tooltip-content-target="#product-type-help1"></a>
				</div>
				<div class="fr fc product-price-container">
					<div class="fr large-price msrp">
						<span class="price-heading">MSRP</span>
						<span class="price"><sup>$</sup>7,599</span>
					</div>
					<!-- HIDDEN TO MAKE SPACE FOR PROPER DISPLAY OF CONTENT
					<div class="fr large-price your-price">
						<span class="price-heading">Your Price</span>
						<span class="price"><sup>$</sup>10,999</span>
					</div>-->
					<div class="fr small-price discount-price">
						<span class="price-heading">Discount</span>
						<span class="price">$2,600</span>
					</div>
					<div class="fr small-price msrp">
						<span class="price-heading">MSRP
							<a class="pf btn-help btn-tooltips"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right-alt"
								data-tooltip-content-target="#product-type-help1"></a>
						</span>
						<del><span class="strike"></span><span class="price">$10,499</span></del>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="fc content"><!-- USE no-accessories class to display content properly with no accessories side box -->
				<div class="fl feature-image">                    
                    <!-- this is the product image -->
					<img alt="" src="/_Global/img/content/marine/products/product_image_sample_marine.jpg" />
				</div>			
				
				<div class="fr top_selling">
					<h3>Featured Accessories</h3>

                    <a class="btn-up btn-disabled prev"></a>
                    <div class="accessory-carousel" property="act:carousel"
                         data-carousel-vertical="true"
                         data-carousel-disabled-class="btn-disabled"
                         >
                        <div class="items">
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">04101-ZW9-000-Fuel Hose Assemblies BF9.9-BF130</span>
                                        <div class="price">
                                            $108.85
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">06178-ZW1-030GH-30 GPH Racor Fuel/Water Separator Assembly</span>
                                        <div class="price">
                                            $91.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-down next"></a>
                </div>
     		</div>
			<div class="fc footer">
				<p class="fc fl nm inner_footer_l">
					<a class="fl btn secondary" href="#"
						property="act:popup"
						data-popup-modal="true"
						data-popup-content-target="#popup-image"
						><span class="enlarge">Enlarge</span></a>
					<span class="fl divider"></span>
					<a href="#" class="fl btn primary"><span>Compare</span></a>
				</p>
				
				<p class="fr nm inner_footer_r">
					<a href="product-overview.html#">See All Outboard Motors</a>
					<img src="/_Global/img/content/products/btn_fb_like.gif" alt="" />
				</p>
			</div>
		</div>
	</div>
	<div class="wrapper product_wrapper_bottom_cap">
		<div class="container cap_bottom_default pf"></div>
	</div>

<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>