<li class="find-a-dealer">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Trouver Un Concessionnaire</h4>
		<ul class="search_options">
		    <li class="search_sub_header"><label>Options de recherche</label></li>
			<li class="postal_code">
				<label class="fl">Code Postal</label>
				<div class="fl input_box">
					<input class="fl input_extra_small" type="text" maxlength="7" name="postal_code" value="" />
					<a class="fl btn" href="find_dealer.html#">go</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<li class="city">
				<label class="fl">Ville</label>
				<div class="fl input_box">
					<input class="fl input_medium dropdown_autocomplete_city dropdown_autocomplete_city_sidebar" type="text" maxlength="20" name="city" value="" />
					<a class="fl btn" href="find_dealer.html#">go</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<li class="region">
				<label class="fl">Région</label>
				<div class="fl button">
                    <select property="act:fieldselect"
                            data-fieldselect-button-class="btn secondary"
                            data-fieldselect-button-hover-class="btn-hover"
                            data-fieldselect-pane-class="field-select-right">
                        <option value="">Choisir</option>
                        <option rel="ab" value="1">Alberta</option>
                        <option rel="bc" value="2">British Columbia</option>
                    </select>
				</div>
				<div class="clr"></div>
			</li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>