<li class="measurements">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">MESURES</h4>
		<p>Notre pratique table de mesures et conversion vous aidera à choisir le produit Honda qui répond le mieux à vos besoins.</p>
		<a href="/pe/resources/Honda_Measurement_Conversion_Fr.pdf" class="btn primary"><span>Télécharger PDF</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>