<li class="menu menu-parts-service">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Parts &amp; Service</h4>
		<ul id="left_nav">
			<li class="first"><a href="#">Pourquoi choisir le service Honda?</a></li>
			<li><a href="#">Pièces Honda d’origine</a></li>
			<li class="selected"><a href="#">Huiles et produits chimiques Honda d’origine</a></li>
			<li><a href="#" property="act:menu" data-menu-class="left_nav" data-menu-content-target="#warranty-submenu">Garantie</a></li>
			<li><a href="#">Conseils sur le remisage</a></li>
			<li><a href="#">Conseils sur le transport</a></li>
		</ul>
	</div>
	<div id="warranty-submenu" class="dn">
		<ul class="second_nav">
			<li class="first selected"><a href="#">Garantie</a></li>
			<li><a href="#">Frequently Asked Questions</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>