<li class="menu-accessories">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Accessoires</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="accessories-overview.html">Survol</a></li>
			<li><a href="accessories-find.html">Find Accessories</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>