<li class="menu-finance">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Finance</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="finance-overview.html">Survol</a></li>
			<li><a href="finance-options.html">Options de financement</a></li>
			<li><a href="finance-calculator.html">Calculateur de versements</a></li>
			<li><a href="finance-credit.html">Demande de crédit</a></li>
			<li><a href="finance-faq.html">Questions fréquentes</a></li>
			<li><a href="finance-contact.html">Contactez-nous</a></li>
			<li><a href="finance-privacy.html">Protection de la vie privée</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>