<li class="menu-advantage">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="sun_icon">Les avantages<br/>Honda</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="honda-advantage-overview.html">Why Honda?</a></li>
			<li><a href="honda-advantage-generators.html">Why Honda: Generators</a></li>
			<li><a href="honda-advantage-lawnmower.html">Why Honda: Lawnmowers</a></li>
			<li><a href="honda-advantage-water-pumps.html">Why Honda: Water Pumps</a></li>
			<li><a href="honda-advantage-snowblowers.html">Why Honda: Snowblowers</a></li>
			<li><a href="honda-advantage-tillers.html">Why Honda: Tillers</a></li>
			<li><a href="honda-advantage-trimmers.html">Why Honda: Trimmers</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>