<li class="measurements">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Measurements</h4>
		<p class="heading">Ut sagittis tincidunt dictum maecenas ut tellus diam vitae</p>
		<p>Onec commodo, mauris vitae aliquam hendrerit, nunc arcu facilisis eros, at vulputate erat...</p>
		<a href="measurements.html#" class="btn primary"><span>Download PDF</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>