<li class="menu menu-parts-service">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4 class="pf">Parts &amp; Service</h4>
		<ul id="left_nav">
			<li class="first"><a href="parts-service-overview.html">Why Choose Honda Service</a></li>
			<li><a href="parts-service-honda-genuine-parts.html">Honda Genuine Parts</a></li>
			<li class="selected"><a href="parts-service-honda-genuine-oils-chemicals.html" property="act:menu" data-menu-class="left_nav" data-menu-content-target="#genuine-oils-submenu">Honda Genuine Oils &amp; Chemicals</a></li>
			<li><a href="parts-service-maintenance-schedules.html">Maintenance Schedules</a></li>
			<li><a href="parts-service-pre-ride.html">Pre-ride Guide</a></li>
			<li><a href="parts-service-warranty.html" property="act:menu" data-menu-class="left_nav" data-menu-content-target="#warranty-submenu">Warranty</a></li>
			<li><a href="parts-service-storage-tips.html">Storage Tips</a></li>
			<li><a href="parts-service-owners-site.html">Owner’s Website</a></li>
		</ul>
	</div>

	<div id="warranty-submenu" class="dn">
		<ul class="second_nav">
			<li class="first selected"><a href="#">Warranty</a></li>
			<li><a href="#">Frequently Asked Questions</a></li>
		</ul>
	</div>

	<div id="genuine-oils-submenu" class="dn">
		<ul class="second_nav genuine-oils-submenu">
			<li class="first"><a href="#">Overview</a></li>
			<li class="fly-category"><span class="fbold">Genuine Honda Fluids</span></li>
			<li class="af-fly-category"><a href="#">Oils and Lubricants</a></li>
			<li><a href="#">Cleaners and Polish</a></li><li><a href="#">Service and Maintenance</a></li>
			<li class="fly-category"><span class="fbold">Pro Honda Fluids</span></li>
			<li class="af-fly-category"><a href="#">Oils and Lubricants</a></li>
			<li><a href="#">Cleaners and Polish</a></li>
			<li><a href="#">Service and Maintenance</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>
