/* Visual Fixes Styles */

.wrapper_columns .widgets li{margin-top:10px;}
.tabs_horizontal{padding-top:10px;}
.wrapper_columns .widgets li .top_cap{background:url(../../img/layout/cap_middle_col1_alt.png) 0 0 no-repeat;}
.wrapper_columns .widgets li.buttons{padding-top:5px;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.prov label{line-height:22px; margin-right:10px;}
.wrapper_columns .widgets li .content{padding:12px 11px 0 18px;}
.wrapper_columns .widgets li.menu-accessories h4 {background: url("../../img/layout/marine/icon_accessories.png") no-repeat scroll 0 0 transparent;}

/* @end */
/* Global Styles */

html{background-color:#727678;}
body{background:url("../../img/layout/marine/main_bg.gif") 0 0 repeat-x #2A4C5D;}

#feature_area .container{margin:0 auto; width:950px; padding-bottom:6px; padding-top:4px;}

p.em{font-size:16px; line-height:24px;}

.col-2-full dd{width:440px; margin-left:40px;}
.col-2-full dd.first{margin-left:0;}

ul.list-primary{margin-left:20px;}
ul.list-primary li{list-style-type:disc; color:#e72530; font-size:12px; font-family:verdana, arial, sans-serif; line-height:18px; padding-top:16px; font-weight:bold;}
ul.list-primary li span{color:#333;}

ul.features { margin-left: 20px; }
ul.features li { color: #F3403F !important; list-style: disc outside none; margin: 0 0 10px 0 !important; padding-left: 10px !important; }
ul.features li span { color: #424242 !important; font-size: 11px; line-height: 16px;}

/* @end */
/* Navigation Styles */

#primary_nav,
#primary_nav li{height:41px;}
#primary_nav li a.full_separator,
#primary_nav li a{padding-left:20px; padding-right:20px; padding-bottom:11px;}
#primary_nav li a.btn-last{background:url("../../img/layout/menu_primary_right_cap.png") right 0 no-repeat; padding-left:18px; padding-right:17px;}

#search { margin-left: 10px; }

* html #main_menu #primary_nav li a{padding-left:19px !important; padding-right:19px !important; padding-bottom:11px;}
* html #main_menu #primary_nav li a.btn-last{padding-left:24px !important; padding-right:24px !important;}
* + html #main_menu #primary_nav li a{padding-left:19px !important; padding-right:19px !important; padding-bottom:11px;}
* + html #main_menu #primary_nav li a.btn-last{padding-left:24px !important; padding-right:24px !important;}

* + html .french #main_menu #primary_nav li a { padding-left: 16px !important;padding-right: 16px !important; }

.french #primary_nav li a{padding-left:17px; padding-right:17px; padding-bottom:11px;}
.french #primary_nav li.last a { padding-left: 0;padding-right: 0; }
.french #primary_nav li a.btn-last{padding-left:21px; padding-right:22px;}

* html .french #main_menu #primary_nav li a.btn-last{padding-left:28px !important; padding-right:27px !important; padding-top:7px !important;}
* + html .french #main_menu #primary_nav li a.btn-last{padding-left:28px !important; padding-right:27px !important; padding-top:7px !important;}

.secondary_nav a{margin-right:10px;}
.french #secondary_nav { margin-top:7px; }
.french #secondary_nav li a { line-height:14px; height:14px; }

.car_box .dropdown_button { background: url("../../img/layout/marine/btn_car_overlay_button_leftmost.png") no-repeat scroll left top transparent; }
.car_box .dropdown_button_right{background: url("../../img/layout/marine/btn_car_overlay_button_right.png") no-repeat scroll right top transparent; padding-left:6px; padding-right:16px;}
.french .car_box .dropdown_button_right{padding-left:3px; padding-right:12px;}

.hybrid_box .dropdown_button { background: url("../../img/layout/marine/btn_car_overlay_button_left.png") no-repeat scroll left top transparent; }

.car_box .dropdown_button_right a,
.car_box .dropdown_button_right a:hover { color: #FFFFFF; }

* + html .car_box .dropdown_button_right { padding-left: 5px !important;padding-right: 16px !important; }

* html .french .car_box .dropdown_button_right{padding-left:2px !important; padding-right:14px !important;}
* + html .french .car_box .dropdown_button_right{padding-left:2px !important; padding-right:14px !important;}

.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .content p,
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy h3 { background: url("../../img/content/marine/landing/dotted_grey_border_h.gif") 0 bottom repeat-x; }
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .button a { cursor: pointer; }
.car_box .dropdown_content .dropdown_content_mid .content_section .why-buy .button a:hover .text { background: url("../../img/content/marine/landing/dotted_grey_border_h.gif") repeat-x scroll left bottom; border: 1px solid red; border: 0; margin-right: 10px; padding: 0; }

#header { padding: 0 25px 5px; }
#header .logo { top: 20px; }
#header .landing-heading { font-size: 14px; font-weight: bold; margin-top: 10px; text-transform: uppercase; }
#header .landing-heading .commercial-products { background:url("/_Global/img/layout/marine/icon_commercial_products.gif") 1px 2px no-repeat; color: #FFA943; display: block; height: 20px; padding: 6px 0 0 28px; margin: 0; }
#header .landing-heading .commercial-products a { color: #FFA943 !important; }

/* @end */
/* @group navigation drop down menu */

.navigation-dropdown .content_section .why-buy { background: url("/_Global/img/content/marine/landing/landing_marine.jpg") no-repeat scroll left top transparent; padding: 20px 24px 0; width: 186px; }
.navigation-dropdown .content_section .why-buy .heading { background: url("../../img/content/marine/landing/dotted_grey_border_h.gif") 0 bottom repeat-x; color: #FFFFFF; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/marine/landing/dotted_grey_border_h.gif") 0 bottom repeat-x; color: #FFFFFF; }
.navigation-dropdown .content_section .why-buy .button a .text { color: #FFFFFF; }

.navigation-dropdown .see-all { margin-bottom: 10px; }
.navigation-dropdown .content_section .series p { color: #424242; font-size: 11px; line-height: 16px; }
.navigation-dropdown .content_section .series p.heading { color: #1B1B1B; font-size: 12px; font-weight: bold; margin-bottom: 0 !important; padding-bottom: 10px; }
.navigation-dropdown .content_section .series li { color: #424242; font-size: 11px; line-height: 16px; list-style: disc inside none; }

.navigation-dropdown .content_section .products { height: 381px !important; } /* MAY REMOVE IF THIS INTERFERES WITH INTEGRATION LAYOUT */

.navigation-dropdown .buttons a.btn { text-transform: uppercase; }
* + html .navigation-dropdown .buttons { width: auto; }

/* @end */
/* Product Specifications Styles */

.section-header a.btn{margin-top:10px; margin-bottom:20px;}
* html .section-header a.btn{margin-top:3px; margin-bottom:20px;}
* + html .section-header a.btn{margin-bottom:20px;}

dl.inner-two-col{margin-bottom:20px;}
dl.inner-two-col dd{width:320px;}

.spec-diagrams p{margin:20px 0 0;}
.spec-diagrams .img-container{margin-bottom:20px;}

.background_image{margin-bottom:20px;}

/* @end */
/* Distributors Page Styles */

.flex_bar span{zoom:1;}
.dropdown-content{margin:10px 0 20px 0; border-top:1px solid #d6d6d6; padding-top:20px;}
.dropdown-content-first{border-top:0; padding-top:0;}

* html .dropdown-content{padding-top:10px;}
* html .dropdown-content-first{margin-top:0;}

.company-information{width:284px; font-family:"verdana", arial, sans-serif; line-height:16px; color:#424242; font-size:11px;}
.company-information .company-name{font-size:16px; color:#1b1b1b; font-weight:bold; margin-bottom:14px;}
.company-information .company-address{margin-bottom:14px;}
.company-information ul{}
.company-information ul li{}

.google-map{width:340px; height:175px; margin-left:27px; position:relative;z-index:0;}
.google-map .cap-top,
.google-map .cap-bottom,
.google-map .cap-left,
.google-map .cap-right{position:absolute; font-size:1px;z-index:1;}
.google-map .cap-top{width:340px; height:4px; background:url("../../img/layout/google_map_top_cap.png") 0 0 no-repeat; top:0; left:0;}
.google-map .cap-bottom{width:340px; height:4px; background:url("../../img/layout/google_map_bottom_cap.png") 0 0 no-repeat; bottom:0; left:0;}
.google-map .cap-left{width:4px; height:167px; background:url("../../img/layout/google_map_left_cap.png") 0 0 no-repeat; top:4px; left:0;}
.google-map .map-item { width: 340px; height: 175px; cursor: pointer;z-index:0;}

.primary-schedule{font-size:10px; color:#565656;}
.primary-schedule span{display:block;}
.primary-schedule td span{border-bottom:1px dotted #d7d7d7; padding:7px 0;}
.primary-schedule td:nth-child(1) span{padding-right:30px; font-weight:bold;}
.primary-schedule td:nth-child(2) span{background:#f1f1f1; padding-left:16px; padding-right:16px;}
.primary-schedule tr:nth-child(1) td:nth-child(2){background:url("../../img/layout/table_top_right_cap.gif") right 0 no-repeat;}
.primary-schedule tr:nth-child(1) td:nth-child(2) span{background:url("../../img/layout/table_top_left_cap.png") 0 0 no-repeat;}
.primary-schedule tr:last-child td span{border-bottom:1px solid #d7d7d7;}

/* @end */
/* @group Navigation Dropdowns */

#logo, .header_logo { background: url("../../img/layout/honda_logo_marines.jpg") no-repeat scroll left top transparent !important; height: 31px; width: 119px; }
.french #logo, .french .header_logo { background: url("../../img/layout/honda_logo_marines_fr.jpg") no-repeat scroll left top transparent !important; height: 31px; width: 119px; }
.shopping_list_container dd.accessories { background-image: url("../../img/layout/marine/icon_accessories.png"); }

/* @end */
/* @group Left Navigation */

.left_nav .dropdown_button a:hover { color: #D90124; }

/* @end */
/* @group Footer */

#footer .sub_footer_nav .copyright,
#footer .sub_footer_nav_landing .copyright,
#footer dt{color:#fff;}
#footer .sub_footer_nav ul li a,
#footer .sub_footer_nav_landing ul li a,
#footer dd a{color:#dedede;}

/* @end */
/* Popup */
.toolbox-top-alt .dropdown_content_mid { width: 340px; }

.page-accessories .tooltip-right .tooltip_content_top,
.page-accessories .tooltip-right .tooltip_content_bottom { width: 284px; }
.page-accessories .tooltip-right .tooltip_content_mid { width: 250px; }
/* @end */
