html{background:url(../../img/layout/dark/background_tile.gif) 0 0 repeat-x #81756b;}
body{background:url("../../img/layout/dark/background_img.gif") center 0 no-repeat;}
#footer{padding-top: 5px;}
#footer dt{color:#FFFFFF;}
#footer a{color:#DDD8D3 !important;}
#footer a:hover{border-bottom:1px dotted #DDD8D3;}
/** html #footer a:hover{background:url("/_Global/img/layout/dotted_link_footer_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom:0 none !important;}*/
#footer .sub_footer_nav{border-top:1px solid #6c6259;color: #FFFFFF;}
#footer .sub_footer_nav a{color: #FFFFFF !important;}
#logo, .header_logo { width: 152px; height: 64px; background: url("../../img/layout/honda_logo_atv.gif") no-repeat scroll 0 0 transparent !important; }
.french #logo, .french .header_logo { background-image: url("../../img/layout/honda_logo_atv_fr.gif") !important; }
#sub_header { width: 665px; padding: 8px 7px 0 0; }

.wrapper_columns .widgets li .content { padding: 16px 11px 0 27px; width: 215px; }
* html .wrapper_columns .widgets li .content { overflow: hidden; }
#left_nav li.selected, .left_nav li.selected { left: -15px; }
#left_nav li a, .left_nav li a { padding-left: 0; }

#popup-image { height: auto; width: auto; }
#popup-image .popup-image-large { height: auto; width: auto; }
#popup-image .popup-image-content { padding: 10px; }

.navigation-dropdown .generator .content_section .why-buy { background: url("../../img/content/atv/landing/landing_generators.png") no-repeat scroll left top transparent; }
.navigation-dropdown .generator .content_section .why-buy .heading { color: #c4c4c4; background: url("../../img/content/atv/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/atv/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; color:#fff;}
.navigation-dropdown .generator .content_section .why-buy .button a .text { color: #0d9be4; cursor:pointer;  }
.navigation-dropdown .generator .content_section .right-boxes ul { padding: 0 0 5px 14px; }
.navigation-dropdown .generator .content_section .right-boxes ul li { list-style: disc outside none;  color: #424242; font-size: 10px; line-height: 16px; }

.navigation-dropdown .series .series-item-alt { border-top: 1px solid #DEDEDE; cursor: pointer; min-height: 55px; padding-top: 15px; position: relative; }
.navigation-dropdown .series .series-item-alt .heading { color: #1B1B1B; font-size: 13px; font-weight: bold; margin-bottom: 10px; }

.navigation-dropdown .content_section .why-buy { background: url("../../img/content/atv/landing/landing_generators.png") no-repeat scroll left top transparent; }
.navigation-dropdown .content_section .why-buy .heading { color: #c4c4c4; background: url("../../img/content/atv/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .content p { background: url("../../img/content/atv/landing/dotted_grey_border_h.png") repeat-x scroll left bottom; }
.navigation-dropdown .content_section .why-buy .button a .text { color: #0d9be4; cursor:pointer;  }
.navigation-dropdown .content_section .right-boxes ul { padding: 0 0 5px 14px; }
.navigation-dropdown .content_section .right-boxes ul li { list-style: disc outside none;  color: #424242; font-size: 10px; line-height: 16px; }
.navigation-dropdown .series .series-item-alt p { font-size: 10px; margin-bottom: 14px; }

.navigation-dropdown .generator .content_section .right-boxes ul { padding: 0 0 5px 16px; }

.navigation-dropdown .product-item { padding: 15px 0; height:auto;}
.navigation-dropdown .product-item:last-child { border-bottom: 0; }
.navigation-dropdown .product-item .image { height: 89px; width: 150px; }
.navigation-dropdown .product-item .product-copy { width: 195px; }
.navigation-dropdown .one-col .product-item .product-copy { width: 340px; }
.navigation-dropdown .product-item .product-pricing { width: 140px; }

.navigation-dropdown .content_section .products .subview { padding-bottom: 15px; }

.sliders-box-group { background: url("/_Global/img/layout/atv/sliders_bg_tall.png") no-repeat scroll left top transparent; height: 165px; }
.sliders-box-group .sliders-box { height: 160px; }

#primary_nav li a { padding: 13px 21px 10px; }
#primary_nav li a.full_seperator { padding: 13px 21px 10px; }
#primary_nav li.alternate a { padding: 13px 14px 10px; }
#primary_nav li.alternate a.nav_spacer { display:block; width: 80px; height: 40px; }
#primary_nav li.last a { padding-bottom: 11px; padding-left: 25px; padding-right: 0px; }

* html #primary_nav li a { padding-left: 21px !important; padding-right: 21px !important; }
* + html #primary_nav li a { padding-left: 21px !important; padding-right: 21px !important; }
* html #primary_nav li a.full_seperator { padding-left: 21px !important; padding-right: 21px !important; }
* + html #primary_nav li a.full_seperator { padding-left: 21px !important; padding-right: 21px !important; }
* html #primary_nav li.alternate a { padding-left: 14px !important; padding-right: 14px !important; }
* + html #primary_nav li.alternate a { padding-left: 14px !important; padding-right: 14px !important; }
* html #primary_nav li.last { background: url("../../img/layout/primary_nav_red.png") no-repeat scroll 100% 0 transparent; zoom: 1; }
* html #primary_nav li.last a { display:block; padding-left: 0px !important; padding-right: 0px !important; background-image: none; }
* html #primary_nav li.alternate a.nav_spacer { width: 106px; }

 * + html #primary_nav li.alternate a.nav_spacer { width: 125px; }

/* New ATV Dropouts */

.recreation-nav .dropdown_button,
.sport-nav .dropdown_button,
.utility-nav .dropdown_button{background:url("../../img/layout/atv/alt_tabs_left.png") 0 0 no-repeat;}
.utility-nav .dropdown_button{background:url("../../img/layout/atv/alt_tabs_left_first.png") 0 0 no-repeat;}

.recreation-nav .dropdown_button_right,
.sport-nav .dropdown_button_right,
.utility-nav .dropdown_button_right{background:url("../../img/layout/atv/alt_tabs_right.png") right 0 no-repeat;}

.utility-nav .dropdown_content .dropdown_content_mid .content_section .why-buy{background: url("../../img/layout/atv/atv_utility_img.png") 0 0 no-repeat;}
.sport-nav .dropdown_content .dropdown_content_mid .content_section .why-buy{background: url("../../img/layout/atv/atv_sport_img.png") 0 0 no-repeat;}
.recreation-nav .dropdown_content .dropdown_content_mid .content_section .why-buy{background: url("../../img/layout/atv/atv_recreation_img.png") 0 0 no-repeat;}

.sport-nav .dropdown_content_top{background:url("../../img/layout/btn_car_overlay_top_en.png") 0 0 no-repeat;}
* + html .sport-nav .dropdown_content_top{background:url("../../img/layout/btn_car_overlay_top.png") 0 0 no-repeat;}

.sport-nav .content_section .right-boxes{border-left:0;}

.utility-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .content p,
.sport-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .content p,
.recreation-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .content p,
.utility-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .heading,
.sport-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .heading,
.recreation-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .heading{background:url("../../img/layout/atv/why_buy_divider.png") 0 bottom no-repeat;}
.utility-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .button a .text,
.sport-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .button a .text,
.recreation-nav .dropdown_content .dropdown_content_mid .content_section .why-buy .button a .text{font-weight:bold;}

.utility-nav .dropdown_button_right a:hover,
.utility-nav .dropdown_button_right a,
.sport-nav .dropdown_button_right a:hover,
.sport-nav .dropdown_button_right a{color:#fff; padding:10px 4px 0 4px;}
.recreation-nav .dropdown_button_right a:hover,
.recreation-nav .dropdown_button_right a{color:#fff; padding:10px 0 0 2px;}

.dropout-heading{margin-top:14px;}
.dropout-heading a{font-size:11px;}
.dropout-heading dl{border-top:1px solid #dedede; margin-right:4px; border-bottom:1px solid #dedede; margin-top:10px;}
* + html .dropout-heading dl{padding-bottom:10px;}
.dropout-heading dl dd{width:292px; border-right:0; padding:0 20px; margin:10px 0;}
.dropout-heading dl dd.first{border-right:1px solid #dedede; padding-left:0;}
.dropout-heading dl p{margin:0; font-size:10px; color:#424242; font-family:verdana, arial, sans-serif;}
.dropout-heading dl p.heading{padding-bottom:2px; font-weight:bold; color:#1b1b1b; font-size:12px; text-align: left; }