﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="tabMenu.ascx.cs" Inherits="Marine.Web._Global.Controls.tabMenu" %>
<%@ Import Namespace="Navantis.Honda.CMS.Client.Elements" %>
<%@ Register Src="~/Cms/Console/ElementControlCompaq.ascx" TagPrefix="uc" TagName="ElementControl" %>

<uc:ElementControl runat="server" ID="ElementControl1" />
<asp:PlaceHolder runat="server" ID="pltabmenu"></asp:PlaceHolder>
