.fall-excursions { padding: 6px 15px 28px; }

.fall-excursions h1 { font-size: 22px; line-height: normal; text-align: center; }
.fall-excursions h2 { font-family: Arial, sans-serif; font-size: 24px; }
.fall-excursions h2 sup { font-size: 12px; }
.fall-excursions h3 { color: #898989; font-family: Arial, sans-serif; font-size: 17px; font-weight: bold; }

.fall-excursions .two-content-columns { margin: 0 30px; }
.fall-excursions .two-content-columns .column { width: 445px; }
.fall-excursions .two-content-columns .column h2 { text-transform: uppercase; }

.fall-excursions .two-content-columns .product { font-family: Arial, sans-serif; font-weight: bold; margin-bottom: 25px; text-transform: uppercase; }
.fall-excursions .two-content-columns .product .product-thumb { width: 260px; }
.fall-excursions .two-content-columns .product .product-info { margin-left: 7px; margin-top: 50px; }

.fall-excursions .two-content-columns .product .product-info .discount-header { color: #8A8A8A; font-size: 12px; }
.fall-excursions .two-content-columns .product .product-info .discount-price { color: #E21A3C; font-size: 34px; }
.fall-excursions .two-content-columns .product .product-info .discount-footer { color: #8A8A8A; font-size: 20px; margin-bottom: 8px; }
.fall-excursions .two-content-columns .product .product-info .your-price-header { color: #E21A3C; font-size: 16px; }
.fall-excursions .two-content-columns .product .product-info .your-price { color: #E21A3C; font-size: 30px; }

.fall-excursions .two-content-columns .product .product-name { color: #898989; font-size: 9px; line-height: 12px; padding-top: 10px; }

.fall-excursions .two-content-columns .more-great-deals-copy table { border-bottom: 7px solid #8D8D8D; width: 420px; }
.fall-excursions .two-content-columns .more-great-deals-copy table th { background-color: #8D8D8D; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 10px; line-height: 22px; text-transform: uppercase; }
.fall-excursions .two-content-columns .more-great-deals-copy table td { border-left: 1px solid #8D8D8D; border-top: 1px solid #8D8D8D; color: #8D8D8D; font-family: Arial, sans-serif; font-size: 14px; padding: 5px; vertical-align: middle; }
.fall-excursions .two-content-columns .more-great-deals-copy table td.model { border-left: none; font-size: 11px; width: 125px; }
.fall-excursions .two-content-columns .more-great-deals-copy table td.honda-plus { font-size: 11px; }
.fall-excursions .two-content-columns .more-great-deals-copy table td.important,
.fall-excursions .two-content-columns .more-great-deals-copy table td .important { color: #D8303B; font-weight: bold; }

.fall-excursions .two-content-columns .innovation-copy p { color: #8A8788; font-size: 11px; text-align: justify; }
.fall-excursions .two-content-columns .innovation-copy p.large { font-size: 16px; line-height: 24px; margin-bottom: 25px; }

.fall-excursions .footer { margin: 0 30px; padding-bottom: 15px; }
.fall-excursions .footer .footer-finddealer { padding-top: 45px; }
.fall-excursions .footer .footer-finddealer .find-a-dealer a { color: #8A8A8A; font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; text-transform: uppercase; }
.fall-excursions .footer .footer-finddealer .find-a-dealer a:hover { color: #666666; border: none; }
.fall-excursions .footer .footer-logos img { margin-left: 45px; }

.fall-excursions .disclaimer { margin: 0 30px 15px; padding-top: 15px; }
.fall-excursions .disclaimer p { font-size: 9px; line-height: 13px; margin-bottom: 0; }

*   html .fall-excursions h1 { font-family: Arial, sans-serif; font-size: 18px; }
* + html .fall-excursions h1 { font-family: Arial, sans-serif; font-size: 18px; }
*   html .fall-excursions h2 sup { position: relative; top: -8px; }
* + html .fall-excursions h2 sup { position: relative; top: -8px; }