/* Products - All Sections */
.page-product-listing #feature_area .feature_header .h2 { color: #E72530; }
.page-product-listing #feature_area .feature_header p { margin-bottom: 15px; padding-bottom: 0px; }

.page-product-listing #feature_area .feature_box{background:url("/_Global/img/content/atv/products/feature_box_bg.gif") 0 0 repeat;}
.page-product-listing #feature_area .feature_box .top_cap { background:none; padding-bottom:20px; }
.page-product-listing #feature_area .feature_box .center_cap  { background:none; padding-bottom:20px; }
.page-product-listing #feature_area .feature_box .bottom_cap { background:url("/_Global/img/content/atv/products/feature_box_bg_bottom_cap.png") 0 bottom no-repeat; padding: 2px 32px 20px 20px; }

.page-product-listing #feature_area .feature_box .heading { padding: 11px 0 0; }
.page-product-listing #feature_area .feature_box .divider { background: url("/_Global/img/content/atv/products/bevel_brown_border_h.gif") repeat-x scroll left top transparent; }
.page-product-listing #feature_area .feature_box p { color: #EDEDED; margin-bottom: 0; }
.page-product-listing #feature_area .feature_box .btn a { color: #A39891; }

.page-product-listing #feature_area .feature_box .btn { background: url("/_Global/img/content/atv/products/arrow_brown_r.gif") no-repeat scroll right 5px transparent; }

.page-product-listing .product .product-image { height: 100px; width: 150px; }

.page-product-listing .choose .product .product-item { margin-left: 42px; width: 150px; }
.page-product-listing .choose .all-products-steps { overflow: hidden; }
.page-product-listing .choose .all-products-steps li { background: url("/_Global/img/content/products/circle_red.png") no-repeat scroll left top transparent; padding-bottom: 18px; }
.page-product-listing .choose .all-products-steps li .counter { color: #FFFFFF; display: block; float: left; font-size: 18px; height: 26px; line-height: 22px; text-align: center; width: 26px; }
.page-product-listing .choose .all-products-steps li .list-copy { float: left; font-size: 22px; font-weight: bold; margin-left: 15px; }
.page-product-listing .choose .categories { background: url("/_Global/img/content/products/dotted_grey_border_v.gif") repeat-y scroll left top transparent; height: 27px; margin-left: 20px; padding: 3px 0 0 20px; }
.page-product-listing .choose .categories li { background: none; border-left: 1px solid #DEDEDE; float: left; font-size: 22px; font-weight: bold; line-height: 16px; margin-left: 15px; padding: 0 0 0 15px; text-transform: uppercase; }
.page-product-listing .choose .categories li.first { border-left: 0; margin-left: 0; padding-left: 0; }
.page-product-listing .choose .categories li a { color: #000000; }
.page-product-listing .choose .categories li a:hover, .page-product-listing .choose .categories li.active a { color: #E72530 !important; }

*   html .page-product-listing .choose .all-products-steps { width: 825px; }
*   html .page-product-listing .choose .all-products-steps li .counter { font-size: 14px; font-weight: bold; line-height: 24px; }
*   html .page-product-listing .choose .all-products-steps li .list-copy { font-size: 17px; line-height: 22px; }
*   html .page-product-listing .choose .categories { padding-top: 1px; }
*   html .page-product-listing .choose .categories li { font-size: 17px; line-height: 22px; }
* + html .page-product-listing .choose .all-products-steps li .counter { font-size: 14px; font-weight: bold; line-height: 24px; }
* + html .page-product-listing .choose .all-products-steps li .list-copy { font-size: 17px; line-height: 22px; }
* + html .page-product-listing .choose .categories { padding-top: 1px; }
* + html .page-product-listing .choose .categories li { font-size: 17px; line-height: 22px; }

.page-product-listing .choose .reset-button { margin-top: 48px; }
*   html .page-product-listing .choose .reset-button { text-align: right; width: 70px; }

.page-product-listing .toolbox-top-alt .popup-top .product-image { background: none; width: 150px; }

.page-product-listing .toolbox-top-alt .popup-top .h1 { width: 190px;}

.page-product-listing .toolbox-top-alt .large-price .price { letter-spacing: -2px; }

.page-product-listing .toolbox-top-alt .price-heading{ padding-left: 7px; }

.page-product-listing .choose-model-placeholder { height: 248px; text-align: center; padding-top: 200px; font-size: 22px; font-weight: bold; color: #8f8f8f; border-top: 1px solid #dedede; }

/* Products - Choose model all */
.page-product-listing .choose-model-all { position: relative; z-index: 0; top: -60px; margin-bottom: -60px; }
.page-product-listing .choose-model-all h1 { display: none; }
.page-product-listing .choose-model-all .first_section p { margin-bottom: 15px; }

.page-product-listing .bottom_feature_inner .price span.tag-text-msrp {padding-top: 4px;}
