/* @group Shortcuts */

.fl {float:left}
.fr {float:right}
.br {margin-bottom:20px;}
.clr {clear:both}
.clrfix {clear:both;height:0;width:0;min-height:0;visibility:hidden;overflow:hidden;display:block;}
.dn {display:none;}
.di {display:inline}
.db {display:block}
.dib {display: inline-block;}
.hand {cursor:pointer}
.zne {z-index: -1 !important;}
.zi {z-index:1 !important;}
.z2 {z-index:2 !important;}
.z3 {z-index:3 !important;}
.rel {position:relative !important;}
.abs {position:absolute !important;}
.tac {text-align:center;}
.vam {vertical-align:middle;}
.nb {border:0 !important;}
.nbg { background: none !important; }
.np {padding:0 !important;}
.npl{padding-left:0 !important;}
.npr{padding-right:0 !important;}
.nm {margin:0 !important;}
.nmt {margin-top: 0 !important;}
.nmb {margin-bottom: 0 !important; }
.nbac {background:none !important;}
.top_margin {margin-top:20px !important;}
.bottom_margin {margin-bottom:20px !important;}
.top_bottom_margin {margin:20px 0 !important;}
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb30 {margin-bottom: 30px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.fbold { font-weight: bold; }
ul.tight{margin-bottom:8px !important;}
input.field-error, select.field-error, textarea.field-error { background-color: #fbe5e9; }
img {border: 0px;}

/* @end */

/* @group Product Specs Printable */

.page-product-specs-print * { font-family: Verdana, Arial, sans-serif; }
.page-product-specs-print .page-product-specs-content-container { margin: 0 auto; padding-bottom: 30px; width: 655px; }

.page-product-specs-print .product-header { margin-bottom: 45px; padding-top: 50px; zoom: 1; }
.page-product-specs-print .product-header .product-left-col { padding-top: 10px; width: 465px; }
.page-product-specs-print .product-header .product-image { width: 177px;}

.page-product-specs-print .product-header .product-name { font-size: 30px; font-weight: bold; line-height: 42px; }
/**   html .page-product-specs-print .product-header .product-name { font-size: 30px; line-height: 38px; }
* + html .page-product-specs-print .product-header .product-name { font-size: 30px; line-height: 38px; }*/

.page-product-specs-print .product-header .product-name span { color: #808080; text-transform: uppercase; }
.page-product-specs-print .product-header .honda-logo { background: url("/_Global/img/layout/honda_logo_atv.gif") no-repeat scroll 0 0 transparent; height: 64px; margin-bottom: 30px; width: 245px; }
.page-product-specs-print .product-header .honda-logo-french { background: url("/_Global/img/layout/honda_logo_atv_fr.gif") no-repeat scroll 0 0 transparent; height: 64px; margin-bottom: 30px; width: 270px; }

.page-product-specs-print .specs_chart { border-bottom: 1px solid #DEDEDE; border-collapse: collapse; border-spacing: 0; margin: 0 0 30px; width: 100%; }
.page-product-specs-print .specs_chart th, .page-product-specs-print .specs_chart td { font-size: 11px; height: 48px; vertical-align: middle; }
.page-product-specs-print .specs_chart th { background: url("/_Global/img/content/atv/specs-print/dotted_grey_border_h.gif") repeat-x scroll 0 0 transparent; color: #00ABE8; text-align: left; width: 280px; }
.page-product-specs-print .specs_chart td { background: url("/_Global/img/content/atv/specs-print/dotted_grey_border_h.gif") repeat-x scroll 0 0 #F4F4F4; color: #242424; padding: 0 0 0 20px; text-transform: uppercase; }

.page-product-specs-print p { color: #696969; font-size: 10px; line-height: 16px; }
/* @end */

/* float clear fix */

.fc:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

/* @end */

/* @Accessories */
.flex_bar {background: url("/_Global/img/layout/h2_bar_left.gif") no-repeat scroll left top transparent;color: #D90124;font-size: 11px;font-weight: bold;margin-bottom: 10px;padding: 0 0 0 12px;}
.flex_bar span {background: url("/_Global/img/layout/h2_bar_right.gif") no-repeat scroll right top transparent; display: block;line-height: 17px; padding: 6px 12px 6px 0;text-transform: uppercase;vertical-align: middle;}
.flex_bar span a {background: url("/_Global/img/layout/h2_bar_arrow_normal.png") no-repeat scroll 0 0 transparent;color: #D90124;display: block;line-height: 18px;padding-left: 28px;text-decoration: none;}
.sub_content {padding-top: 5px;}
.sub_content ul {margin: 0 0 20px;list-style: none outside none;}
.sub_content li {border-bottom: 1px solid #DEDEDE;font-size: 11px;line-height: 18px;padding: 12px 0;}
.sub_content li .part-number { font-size: 11px; line-height: 11px; color: #727272; }

/* @End */
