<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: accessories-overview.html 546 2011-04-04 15:14:02Z mperry $ -->
<body class="page-accessories-overview">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<img src="/_Global/img/temp/banner-accessories-placeholder.gif" alt="" />
					</div>
					<div class="content_section">
						<h1>Accessories</h1>
						<div class="fc accessories-content">
							<div class="fl accessories-content-area">
								<h2 class="small">Nouvelles</h2>
								<div class="sub_section first_subsection">
									<h3>Préparez-vous au printemps!</h3>
									<p>Après son remisage d’hiver, il se peut que votre produit mécanique ait besoin d’une bonne mise au point. Que vous ayez besoin d’une vidange d’huile, d’une nouvelle bougie ou d’un filtre à air, votre concessionnaire est l’endroit de prédilection pour une mise au point du printemps efficace. Tirez le meilleur de votre produit mécanique cet été en visitant votre concessionnaire Honda pour une mise au point du printemps.</p>
								</div>
							</div>
							<div class="fr accessories-side-image">
								<img src="/_Global/img/content/pe/accessories/snowblower_poster_fr.png" alt="" />
							</div>
						</div>
						<div class="accessories-footer">
							<img src="/_Global/img/content/pe/accessories/pe_accessory_fr.png" alt="" />
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->