<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-faq.html 483 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf faq">
				<div class="content_container">
					<div class="faq">
						<div class="content_section first_section">
							<h1>Questions fréquentes</h1>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_contact_info"
								data-collapsible-active="true"
								>What is your contact information?</a></span></div>
							<div id="slidedown_contact_info" class="sub_content">
								<h3>Head Office - Ontario / Atlantic and Western Region:</h3>
								<p>P.O. Box 4000<br/>
									Markham, Ontario<br/>
									L3R 0N1</p>
								<p><strong>Phone:</strong> (416) 297-5399<br/>
									<strong>Toll Free:</strong> 1-800-387-5399<br/>
									<strong>Fax:</strong> 1-866-920-5586<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
							
								<h3>Quebec Region:</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville, Quebec<br/>
									J4B 7W1</p>
								<p><strong>Phone:</strong> (450) 641-9062<br/>
									<strong>Toll Free:</strong> 1-800-463-6374<br/>
									<strong>Fax:</strong> 1-888-449-6252<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_own_pe"
								data-collapsible-active="false"
								>Do I own the Power Equipment?</a></span></div>
							<div id="slidedown_own_pe" class="sub_content">
								<h3>Power Equipment Ownership</h3>
								<p>Once you have signed the financing terms and agreements, you can drive off the dealership lot as the registered owner of the Power Equipment unit.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_conventional_financing"
								data-collapsible-active="false"
								>What is conventional financing?</a></span></div>
							<div id="slidedown_conventional_financing" class="sub_content">
								<h3>Conventional Financing</h3>
								<p>With the regular finance program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
								<p>Now, try our <a href="finance-calculator.html">Finance Calculator</a> to see which option suits your needs best.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_benefits_of_financing"
								data-collapsible-active="false"
								>What are the benefits of financing my Power Equipment with HFS?</a></span></div>
							<div id="slidedown_benefits_of_financing" class="sub_content">
								<h3>Overview:</h3>
								<p>HFS offers highly competitive interest rates and flexible payment options. Once you have decided on your Honda model of choice, we want to make the next step of financing as simple as possible. That's why we deliver financing approvals in less than one hour, all right for your convenience within your Honda dealer.</p>
								
								<h3>The Benefits</h3>
								<p>The additional benefits of financing your Honda Power Equipment with HFS are:</p>
								<ul>
									<li>All HFS retail loans are open ended and you may pay out, or make lump sum payments at any time without penalty.</li>
									<li>Flexible financing terms up to 60 months depending on the model and amount to be financed. We have highly trained staff to assist you with any inquiries you may have at any point of your Finance Agreement. Our customer service department offers convenient hours of operation and quality service.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_payment_options"
								data-collapsible-active="false"
								>Payment Options</a></span></div>
							<div id="slidedown_payment_options" class="sub_content">
								<p>HFS offers monthly as well as bi-weekly payments for your consideration. Monthly and bi-weekly payments are set up when you sign your finance agreement and once set up with monthly payments, you will not be able to switch to bi-weekly payments or vice-versa.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_insure"
								data-collapsible-active="false"
								>Do I have to insure the Power Equipment?</a></span></div>
							<div id="slidedown_insure" class="sub_content">
								<h3>Insurance Coverage</h3>
								<p>HFS does not require you insure your Power Equipment unit.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_responsible_for_maintenance"
								data-collapsible-active="false"
								>Am I responsible for maintenance?</a></span></div>
							<div id="slidedown_responsible_for_maintenance" class="sub_content">
								<h3>Regular Maintenance</h3>
								<p>As the registered owner of the Power Equipment unit, you are responsible for the maintenance of the unit. To get the most out of your Power Equipment unit, we strongly recommend that you follow the maintenance schedule as outlined in the Owner's Manual. Our dealers will be happy to ensure your Power Equipment unit is serviced and runs at peak performance.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_contact_us"
								data-collapsible-active="false"
								>Customer Service Office (Contact Us)</a></span></div>
							<div id="slidedown_contact_us" class="sub_content">
								<h3>Head Office - Ontario / Atlantic Region:</h3>
								<p>P.O. Box 4000<br/>
									Markham, Ontario<br/>
									L3R 0N1</p>
								<p><strong>Phone:</strong> (416) 754-2323<br/>
									<strong>Toll Free:</strong> 1-800-387-5399<br/>
									<strong>Fax:</strong> 1-866-920-5586<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
								
								<h3>Western Region:</h3>
								<p>110-13711 International Place<br/>
									Richmond, BC<br/>
									V6V 2Z8</p>
								<p><strong>Toll Free:</strong> 1-800-387-5399<br/>
									<strong>Fax:</strong> 1-866-920-5586<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
							
								<h3>Quebec Region:</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville, Quebec<br/>
									J4B 7W1</p>
								<p><strong>Phone:</strong> (450) 641-9062<br/>
									<strong>Toll Free:</strong> 1-800-463-6374<br/>
									<strong>Fax:</strong> 1-888-449-6252<br/>
									<strong>Email:</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com"> hcfi_quebec_branch_cs@ch.honda.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->