<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-credit.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="credit">
						<div class="content_section first_section">
							<h1>Demande de crédit</h1>
							<p class="large">Vous avez choisi le produit mécanique de vos rêves et l’option de financement qui vous convient le mieux. Vous êtes maintenant prêt pour l’étape suivante, la demande de crédit. Pour vous faciliter les choses, nous avons préparé un formulaire de demande de crédit que vous pouvez imprimer, remplir puis apporter chez votre concessionnaire Honda.</p>
						</div>
						<div class="content_section">
							<div class="fc credit-apps">
								<dl class="fl credit-app-column">
									<dt>Demande de crédit pour consommateurs</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr.pdf">Français</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en.pdf">Anglais</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr-quebec-only.pdf">Français</a> (Québec seulement)</dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en-quebec-only.pdf">Anglais</a> (Québec seulement)</dd>
								</dl>
								<dl class="fl credit-app-column">
									<dt>Demande de crédit pour entreprises</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr.pdf">Français</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en.pdf">Anglais</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr-quebec-only.pdf">Français</a> (Québec seulement)</dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en-quebec-only.pdf">Anglais</a> (Québec seulement)</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->