<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-contact.html 483 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="contact">
						<div class="content_section first_section">
							<h1>Contactez-nous</h1>
						
							<div class="sub_section">
								<h3>Siège social – Ontario / régions Atlantique et Ouest :</h3>
								<p>C.P. 4000<br/>
									Markham (Ontario)<br/>
									L3R 0N1</p>
								<p><strong>Téléphone :</strong> (416) 297-5399<br/>
									<strong>Sans frais :</strong> 1-800-387-5399<br/>
									<strong>Télécopieur :</strong> 1-866-920-5586<br/>
									<strong>Courriel :</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
							</div>
							<div class="sub_section">
								<h3>Région du Québec :</h3>
								<p>1750, rue Eiffel<br/>
									Boucherville (Québec)<br/>
									J4B 7W1</p>
								<p><strong>Téléphone :</strong> (450) 641-9062<br/>
									<strong>Sans frais :</strong> 1-800-463-6374<br/>
									<strong>Télécopieur :</strong> 1-888-449-6252<br/>
									<strong>Courriel :</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->