<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-options.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="options">
						<div class="content_section first_section">
							<h1>Options de financement</h1>
							<p class="large">Si vous choisissez le financement, chacun de vos versements sera constitué en partie du principal et en partie des frais de financement. Chaque versement que vous ferez augmentera la valeur nette de votre produit mécanique.</p>
							<p class="large">Lorsque vous avez choisi le modèle Honda que vous désirez, nous rendrons son financement aussi simple que possible. Par exemple, nous retournons les approbations d’emprunt en moins d’une heure sans que vous ayez à partir de chez votre concessionnaire Honda.</p>
						</div>
						<div class="content_section">
							<h2>Options de financement</h2>
							<div class="grouped">
								<p>Si vous choisissez le financement, chacun de vos versements sera constitué en partie du principal et en partie de l’intérêt. Chaque versement que vous ferez augmentera la valeur nette de votre produit mécanique.</p>
								<p>Lorsque vous avez choisi le modèle Honda que vous désirez, nous rendrons son financement aussi simple que possible. Par exemple, nous retournons les approbations d’emprunt en moins d’une heure sans que vous ayez à partir de chez votre concessionnaire Honda.</p>
							</div>
						</div>
						<div class="content_section">
							<h2>Voici les avantages de financer votre produit mécanique chez Services financiers Honda :</h2>
							<ul>
								<li>Vous devenez propriétaire du produit mécanique</li>
								<li>Tous les prêts au détail sont ouverts, vous pouvez donc rembourser entièrement l’emprunt n’importe quand sans pénalité de paiement anticipé.</li>
								<li>Méthode d’intérêt simple pour calculer les frais d’intérêt</li>
								<li>Augmentation de la valeur nette</li>
								<li>Périodes variables</li>
								<li>Lorsque tous les versements ont été faits, l’unité est à vous.</li>
							</ul>
						</div>
						<div class="content_section">
							<h2>Financement conventionnel</h2>
							<div class="grouped">
								<p>Grâce à notre programme régulier, vous pouvez organiser votre achat en fonction de votre budget mensuel et de vos besoins. Des versements mensuels égaux et consécutifs sont calculés en utilisant des taux d’intérêt très concurrentiels et des périodes de 24 à 60 mois selon le modèle choisi et le montant à financer. Lorsque vous avez effectué tous les versements, le solde est de zéro et l’unité est à vous.</p>
								<p>Essayez notre <a href="finance-calculator.html">calculateur de financement</a> pour apprendre quelle option répond le mieux à vos besoins.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->