<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-overview.html 483 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="overview">
						<div class="content_section first_section">
							<p><img src="/_Global/img/content/finance/banner-financial.jpg" alt="Survol" /></p>
							<h1>Survol</h1>
							<p class="large">Honda Canada Finance Inc. (HCFI), ou Services financiers Honda, a été fondée en 1987 afin d’offrir des options de financement et de location aux consommateurs canadiens. Nous offrons donc des options de financement et de location applicables aux automobiles Honda et Acura ainsi qu’aux motocyclettes, aux VTT et aux produits mécaniques par le biais des concessionnaires Honda de tout le Canada.</p>
							<p class="large">L’objectif de Services financiers Honda est de toujours vous donner une satisfaction complète. Si vous avez des questions ou des inquiétudes à propos de votre compte ou des options financières applicables à votre véhicule, n’hésitez pas à <a href="http://www.honda.ca/lease-and-finance/contactus">communiquer avec nous</a>.</p>
							<p class="large">Nos taux de financement et de location sont concurrentiels, nos périodes sont variables et nos services sont offerts chez tout concessionnaire Honda, ce qui fait de nous votre partenaire financier de préférence.</p>
							<p class="large"><strong>Nous facilitons la réalisation de vos rêves!</strong></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->