<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: finance-calculator.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="calculator">
						<div class="content_section first_section">
							<h1>Calculateur de versements</h1>
							<form action="" id="finance-calculator" method="get">
								<div class="fc select-lists">
									<div class="fl select-list-left">
										<label for="calc-vehicle">Select Honda Vehicle:</label>
										<select name="calc-vehicle" id="calc-vehicle">
											<option value="">Please Select</option>
											<option value="2010 Accord Coupe EX Automatic Transmission" selected>2010 Accord Coupe EX Automatic Transmission</option>
										</select>
									</div>
									<div class="fl select-list-right">
										<label for="calc-prov">Select Your Province:</label>
										<select name="calc-prov" id="calc-prov">
											<option value="">Please Select</option>
											<option value="Alberta">Alberta</option>
											<option value="British Columbia">British Columbia</option>
											<option value="Manitoba">Manitoba</option>
											<option value="New Brunswick">New Brunswick</option>
											<option value="Newfoundland &amp; Labrador">Newfoundland &amp; Labrador</option>
											<option value="Northwest Territories">Northwest Territories</option>
											<option value="Nova Scotia">Nova Scotia</option>
											<option value="Nunavut">Nunavut</option>
											<option value="Ontario">Ontario</option>
											<option value="Prince Edward Island">Prince Edward Island</option>
											<option value="Quebec">Quebec</option>
											<option value="Saskatchewan">Saskatchewan</option>
											<option value="Yukon">Yukon</option>
										</select>
									</div>
								</div>
								
								<table class="tbl tbl_payment_calculator_recalculate">
									<tbody>
										<tr class="first">
											<td class="first"></td>
											<td class="currency even"><div class="pf">
												<span>$</span>
											</div></td>
											<td class="col1 even"><div>
												<span>Cash Purchase</span>
												<strong>$15,990</strong>
											</div></td>
											<td class="col2 even"><div>
												<span>Finance</span>
												<strong>$388</strong>
											</div></td>
											<td class="col3 even"><div>
												<span>MSRP</span>
												<strong>$15,990</strong>
											</div></td>
											<td class="button even">
												<a href="#" class="btn primary"><span>Recalculate</span></a>
											</td>
											<td class="last"></td>
										</tr>
									</tbody>
								</table>
								
								<ul class="fc tabs_horizontal_fixed">
									<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="#">Finance Options</a></li>
									<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="#">Finance Summary</a></li>
								</ul>
								
								<table class="tbl tbl_payment_calculator_chart">
									<thead>
										<tr class="first top">
											<th class="first odd name"><div><span>
												
											</span></div></th>						
											<th class="odd spacer"><div><span></span></div></th>
											<th class="last even"><div><span>
												Finance
											</span></div></th>
											<!-- FIXME &nbsp; hack to prevent gray area -->						
										</tr>
									</thead>
									<tbody>
										<tr class="first">
											<td class="first odd"><div><span>
												Down Payment*
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div class="fc text_field"><span class="fl input_box">
												<input type="text" name="down_payment" value="$0" id="down_payment" />
											</span></div></td>
										</tr>
										<tr>
											<td class="first odd"><div><span>
												Term by Months
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div><span>
												<select name="term_by_months" id="term_by_months">
													<option value="60">60</option>
												</select>
											</span></div></td>
										</tr>
										<tr>
											<td class="first odd"><div><span>
												Est Balance**
											</span></div></td>
											<td class="odd spacer"><div><span>
												
											</span></div></td>
											<td class="last even"><div><span>
												$15,990
											</span></div></td>
										</tr>
										<tr>
											<td class="first odd"><div><span>
												APR
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div><span>
												2.9%
											</span></div></td>
										</tr>
										<tr>
											<td class="first odd"><div><span>
												Monthly Payment
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div><span>
												$428.35
											</span></div></td>
										</tr>
										<tr>
											<td class="first odd"><div><span>
												Amount Due at Delivery
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div><span class="highlight">
												$412.24
											</span></div></td>
										</tr>
										<tr class="last bottom">
											<td class="first odd"><div><span>
												Rate Period
											</span></div></td>
											<td class="odd spacer"><div><span></span></div></td>
											<td class="last even"><div><span>
												Mon, 28 Feb 2011 - Thu, 31 Mar 2011
											</span></div></td>
										</tr>
									</tbody>
								</table>
								
								<p class="include_options"><input class="fl" type="checkbox" name="include_options" value="" id="include_options" />
									Include Taxes, Levis, Fees, Freight and Delivery on payments. MSRP and Cash Purchase will include Freight and PDI.</p>
							</form>
						</div>
						<div class="content_section">
							<p>* Le solde à financer comprend les taxes.</p>
							<p>Bien que nous ayons fait notre possible pour assurer l’exactitude de tous les renseignements donnés sur les versements, ceux-ci peuvent changer. Une vérification finale des versements estimés sera effectuée au moment de l’achat.</p>
						</div>
						<div class="content_section">
							<p>Les renseignements que vous indiquez dans le calculateur de location/financement ne seront pas recueillis ou conservés par Honda Canada Finance Inc., ou fournis à toute autre entreprise. <a href="http://www.honda.ca/_Global/pdf/paymentcalculator/HCFI%20Privacy%20Fact%20Statement%20En.pdf">Consultez l’énoncé de protection des renseignements personnels de HCFI</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/fr/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->