<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/pe/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter une génératrice Honda?</h1>
						<p class="large">Les génératrices Honda sont alimentées par des moteurs quatre temps efficaces, faciles à démarrer et silencieux. Cela procure de nombreux avantages, comme un fonctionnement plus silencieux et propre, moins de dégâts ainsi que des coûts d’entretien et des émissions plus faibles.</p>
						<p class="large">Nos derniers modèles Inverter sont plus petits, légers et silencieux que jamais, et de nombreuses génératrices Honda procurent un voltage plus constant que toutes les autres sources d’énergie commerciales.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Aujourd'hui, les génératrices Honda sont au travail partout de par le monde, des jungles équatoriales jusqu'à l'intérieur du Cercle Arctique. Avec plus de trente années consacrées au développement des produits mécaniques, les ingénieurs Honda ont su mettre au point une gamme aussi complète que diversifiée de génératrices robustes et infatigables, avec des technologies et des caractéristiques exclusives.</p>
						<h2 class="blue">Approuvées CSA</h2>
						<p class="large">Toutes les génératrices Honda respectent ou surpassent les normes CSA (Association canadienne de normalisation) et les normes d’émissions de l’EPA (Environmental Protection Agency). Tous les fabricants de génératrices portables ne peuvent pas en dire autant.</p>
						<h2 class="blue">Technologie pour climats froids Cold Climate</h2>
						<p class="large">La technologie pour climats froids Cold Climate de Honda a été spécifiquement mise au point pour les hivers canadiens. Notre système exclusif de chauffage du tube de ventilation du carter contribue à éviter la formation de glace dans le tube et les pannes de génératrices.</p>
						<h2 class="blue">Fonctionnement silencieux</h2>
						<p class="large">Les génératrices portables super silencieuses de Honda possèdent une technologie d’échappement et de pot d’échappement qui assure des sons moins forts, dans les 48 à 60 décibels, alors vous n’aurez jamais peur de déranger vos voisins... ou votre propre tranquillité.</p>
						<h2 class="blue">Sélection double tension</h2>
						<p class="large">Ces génératrices Honda à forte puissance offrent ce qu’il y a de mieux en matière de puissance électrique de secours, et sont offertes dans la catégorie 5 000 à 6 500 watts. La configuration Inverter à double tension permet d’alimenter en électricité des appareils qui requièrent des tensions de 120 ou 240 volts.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->