<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter un taille-bordure/broussaille Honda?</h1>
						<p class="large">Chaque taille-bordure/broussaille Honda possède un moteur à quatre temps fiable, économe et facile à démarrer, qui procure des performances constantes et silencieuses. Les taille-bordures/broussailles Honda sont conformes aux normes sur les émissions de l'EPA (Environmental Protection Agency) et de la CARB (California Air Resource Board) ou les dépassent. De plus, les taille-bordures/broussailles Honda sont conçus pour fonctionner efficacement sans utiliser la puissance maximale. Ainsi, ils dépensent moins de carburant et sont moins bruyants qu'un taille-bordure/broussaille fonctionnant à plein régime.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Chaque taille-bordure/broussaille Honda est conçu à partir de technologies et d'innovations de pointe que vous ne trouverez nulle part ailleurs. Par exemple, les taille-bordures/broussailles Honda possèdent des éléments ergonomiques exclusifs, ce qui permet de les utiliser en tout confort pendant une longue période. Et ils sont tous conçus pour être durables et fiables. Après tout, nous avons une réputation légendaire de qualité et de performance incomparables à défendre, chaque fois que vous démarrez votre taille-bordure/broussaille.</p>
						<h2 class="blue">Moteur à quatre temps</h2>
						<p class="large">Les taille-bordures/broussailles Honda sont activés par des mini-moteurs à quatre temps GX25 et GX35, qui sont parmi les quatre temps les plus légers et silencieux du marché. Mais ne laissez pas leur taille vous tromper : ces moteurs qui démarrent facilement performent même dans les conditions les plus difficiles.</p>
						<p class="large">Les moteurs de taille-bordures/broussailles Honda sont très faciles à entretenir, puisqu’ils n’exigent pas que l’on mélange de l’huile à leur essence ordinaire. Et ils ont des émissions plus faibles que les moteurs à deux temps des modèles comparables.</p>
						<p class="large">De plus, ils sont construits selon une conception 360 degrés exclusive, ce qui signifie qu’ils peuvent fonctionner en n’importe quelle position sans danger d’éclaboussures ni de calage.</p>
						<h2 class="blue">QuietLine<sup>MC</sup></h2>
						<p class="large">Honda offre QuietLine<sup>MC</sup> de série sur tous ses modèles. Ce système de pointe permet de réduire le bruit de cinq décibels supplémentaires. Et comme les taille-bordures/broussailles procurent un couple élevé à bas régime, vous pouvez effectuer plusieurs travaux à un régime partiel, afin de réduire le bruit encore plus.</p>
						<h2 class="blue">Arbre d’entraînement à câble en acier flexible</h2>
						<p class="large">L’arbre d’entraînement à câble en acier flexible de Honda est plus léger et fort, et il offre une durabilité prolongée et une absorption supérieure des amortisseurs. Il possède une durée de vie plus longue que les arbres d’entraînement rigides et offre la plus grande force de torsion de l’industrie. Il est bien plus facile à entretenir, et comme il est flexible, il offre tout cela sans vibrations qui fatiguent l’utilisateur.</p>
						<h2 class="blue">Facile à démarrer</h2>
						<p class="large">Il y a une raison pourquoi les moteurs Honda sont reconnus pour leur démarrage facile : ils utilisent des moteurs à quatre temps. Avec notre design supérieur, les taille-bordures/broussailles sont incroyablement faciles à démarrer. Aucun ennui, juste des démarrages faciles et rapides, en tout temps!</p>
						<h2 class="blue">Tête de coupe comme accessoire additionnel</h2>
						<p class="large">Une tête de coupe à fil de qualité commerciale qui taille tous les types d’herbes est livrée sur chaque taille-bordure/broussaille Honda. Selon vos besoins, tous les taille-bordures/broussailles Honda peuvent utiliser un fil de coupe ou une robuste lame à broussailles en acier lorsqu’ils sont équipés des accessoires et de l’équipement en option appropriés. Les accessoires des taille-bordures/broussailles Honda ne permettent pas seulement d’embellir votre cour, ils vous permettent également de travailler en toute sécurité. Tous les taille-bordures/broussailles peuvent utiliser ces quatre têtes de coupe en option :</p>
						<ul class="large-list">
							<li>Alimentation manuelle – Facilement ajustable à ressort, fil de coupe double de 2,41 mm (0,095 po) pour une coupe précise. De série sur le modèle HHT35SUKCT.</li>
							<li>Semi-automatique – Un seul coup sur une surface plane procure deux fils de 2,41 mm (0,095 po) pour les petits travaux. De série sur les modèles HHT25SLTC, HHT25SUT4C et HHT35SLTCT.</li>
							<li>Semi-pro – Tête de coupe professionnelle semi-automatique qui procure deux fils de 2,41 mm d’un simple coup (en option).</li>
							<li>Pro-tap – Tête de coupe robuste de deux fils de 2,67 mm (0,105 po) d’un coup sur une surface plane (en option).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->