<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->			
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter une motopompe à eau Honda?</h1>
						<p class="large">L'eau tend généralement à suivre son propre cours, mais une pompe portative Honda possède la puissance supérieure et la haute pression de pompage qu'il faut pour la convaincre d'aller où vous voulez, que ce soit pour irriguer le jardin, vider une piscine ou encore éliminer rapidement l'eau d'un sous-sol inondé. Lorsque vous avez besoin d'aide pour vous tirer d'embarras, vous pouvez être certain que votre pompe sera à la hauteur.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Chaque pompe à eau Honda comporte des caractéristiques technologiques avancées développées durant plus de 20 ans d'innovation. Technologie de pointe, construction durable, moteurs de haute puissance et poids léger pour faciliter le transport. Bref, des performances supérieures en tous points.</p>
						<h2 class="blue">Gamme complète</h2>
						<p class="large">Les tâches de pompage ne sont pas toutes semblables, c’est pourquoi Honda construit une gamme exhaustive de pompes à eau pour vous aider à les accomplir. De l’irrigation des jardins et l’entretien de piscines jusqu’aux lourds travaux de drainage sur les chantiers, des pompes de transfert jusqu’aux pompes de vidange pour eaux chargées ou aux pompes haute pression, il existe une pompe à eau Honda qui répondra à vos besoins.</p>
						<h2 class="blue">Moteur de classe commerciale Honda</h2>
						<p class="large">Au cœur de chaque pompe à eau Honda se trouve un moteur à quatre temps Honda fiable et économe en carburant, intégrant notre conception éprouvée à soupapes en tête pour produire plus de puissance et une économie de carburant jusqu’à 25 % supérieure aux moteurs à soupapes latérales comparables. Toutes les pompes à eau Honda utilisent nos moteurs GX de classe commerciale qui fonctionnent à l’essence seulement et possèdent de gros silencieux pour assurer un bas niveau sonore.</p>
						<h2 class="blue">Construction de qualité</h2>
						<p class="large">Les motopompes à eau Honda adhèrent aux plus hautes normes de qualité dans chacun des aspects de leur conception. Les chemises de cylindre en fonte et les joints d’étanchéité mécaniques scellés assurent de longues années de service fiable et des capacités de fonctionnement optimales.</p>
						<h2 class="blue">Grande gamme d’accessoires</h2>
						<p class="large">Honda offre un large éventail d’accessoires, notamment des boyaux de différents types offerts en plusieurs longueurs, des crépines et des bagues, de même que différents jeux de colliers et des pièces pour raccords. Bref, tout ce qu’il faut pour faire le travail.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->