<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div id="inner_page_content" class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter un Honda?</h1>
						<p class="large">Depuis plus de 50 ans, les moteurs Honda ont acquis une renommée mondiale pour leur conception supérieure, leur fiabilité et leur qualité de fabrication sans égales.</p>
						<p class="large">À titre d’innovateur de la technologie de moteurs et d’équipements motorisés, Honda assume activement sa responsabilité à l’égard de l’environnement.</p>
						<p class="large">C’est pourquoi les génératrices et pompes à eau Honda sont entraînées par des moteurs quatre temps éconergétiques qui ne mélangent pas l’huile et l’essence, offrent un fonctionnement peu bruyant et produisent de faibles émissions.</p>
					</div>
					<div class="content_section">
						<div class="the_honda_advantage_box">
							<div class="bluebox_top_cap"></div>
							<div class="bluebox_content">
								<h2 class="white">L’avantage Honda</h2>
								<p>Il y a plusieurs avantages à posséder un produit mécanique Honda. D’abord, ces produits sont plus faciles à démarrer et ils ne requièrent pas de mélange huile/essence. Ils sont donc plus propres à manipuler et à utiliser. Ils sont économes en carburant, ce qui signifie moins de dégâts et des émissions plus faibles. De plus, ils assurent un fonctionnement silencieux, une facilité d’utilisation, une durabilité et un coût d’entretien réduit.</p>
								<p>L’un des avantages les plus importants est la certitude que vous pourrez continuer de profiter de l’expérience exceptionnelle de posséder un produit Honda grâce à notre soutien durant sa période d’utilisation.</p>
								<p>Honda possède un réseau de concessionnaires à la grandeur du pays. Nous choisissons nos concessionnaires avec le même soin que nous concevons et assemblons nos produits de qualité. Nos concessionnaires Honda sont là pour réparer et faire l’entretien de votre produit comme spécifié par l’usine.</p>
								<p>Nos concessionnaires formés n’utilisent que des pièces Honda d’origine pour maintenir le niveau de qualité du produit original, alors que les accessoires Honda d’origine vous permettent de personnaliser votre produit d’après vos besoins.</p>
								<p>Que vous soyez propriétaire d’un véhicule, d’une moto, d’un VTT, d’un moteur hors-bord ou d’un produit mécanique Honda, n’oubliez pas qu’ils viennent tous de la même famille. Peu importe à quel moment vous avez besoin de nous, nous sommes là pour nous assurer que vous profitiez toujours des produits et services Honda.</p>
							</div>
							<div class="bluebox_bottom_cap"></div>
						</div>
						
						<div class="h1 mb10">Les avantages Honda</div>
						<h2>L’avantage des produits mécaniques Honda</h2>
						<p class="large">Chez Honda, l’innovation n’est pas qu’un mot qui sonne bien. L’innovation est ce qui motive la création de tous nos produits. Prenez un instant pour en savoir plus sur l’avantage des produits mécaniques Honda.</p>
						
						<dl class="fc the_honda_advantage_categories">
							<dd class="fl first">
								<a href="/honda-advantage/generators/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_generators.jpg" alt="" /></span>
									<span>Génératrice</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/honda-advantage/lawnmowers/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_lawnmowers.jpg" alt="" /></span>
									<span>Tondeuses</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/honda-advantage/water-pumps/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_water_pumps.jpg" alt="" /></span>
									<span>Motopompes à eau</span>
								</a>
							</dd>
							<dd class="fl first">
								<a href="/honda-advantage/snowblowers/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_snowblowers.jpg" alt="" /></span>
									<span>Souffleuse à neige</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/honda-advantage/tillers/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_tillers.jpg" alt="" /></span>
									<span>Motoculteur</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/honda-advantage/trimmers/fr">
									<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_trimmers.jpg" alt="" /></span>
									<span>Taille-bordures</span>
								</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->