<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter une souffleuse à neige Honda?</h1>
						<p class="large">Alimentées par les moteur Honda à quatre temps fiables, qui ne mélangent pas l’huile et l’essence, nos souffleuses à neige à une et à deux phases sont exceptionnellement silencieuses, efficaces et faciles à utiliser. Elles démarrent facilement dans le froid et procurent une grande puissance pour dégager la neige la plus épaisse.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Honda fabrique des souffleuses à neige à la fine pointe de la technologie depuis 1981. Depuis ce temps, nos ingénieurs ont continué de créer des caractéristiques variées et innovatrices qui assurent un dégagement de neige plus facile, propre et doux. Ces technologies avancées constituent ce qui a fait la renommée mondiale des souffleuses à neige Honda.</p>
						<h2 class="blue">Entraînement à chenilles de Honda</h2>
						<p class="large">Le système d’entraînement à chenilles doubles de Honda procure une traction supérieure dans toutes les conditions de neige. Nos souffleuses possèdent des chenilles pliables en caoutchouc avec des clous qui supportent le poids de la souffleuse et procurent une traction solide, même par temps froid. Cela signifie que c’est la meilleure machine pour nettoyer les entrées et les trottoirs en pierre, les surfaces inclinées ainsi que les marches, alors que l’appareil glisse sur les surfaces. L’entraînement à chenilles double de Honda, qui a fait ses preuves, est disponible sur une grande variété de modèles, de la HS622TC au modèle haut de gamme HSM1336iC hybride.</p>
						<p class="large">(Disponibles sur les modèles HSM1336iC hybride, HS1132TC/TCS, HS928TC/TCD, HS724TC/TCD et HS622TC/TCS)</p>
						<h2 class="blue">Commande de transmission hydrostatique<sup>MC</sup></h2>
						<p class="large">La commande de la marche avant et de la marche arrière est la simplicité même avec la transmission hydrostatique de Honda, de série sur les modèles des séries HS724, HS928 et HS1132. Un simple levier (activé d’une seule main) ajuste avec précision la vitesse au sol sans affecter la vitesse de rotation de la tarière. Plus vous poussez le levier, plus la souffleuse à neige Honda avance vite. Poussez vers l’avant pour avancer, et vers l’arrière pour reculer. La vitesse variable à l’infini signifie qu’il est facile de trouver le bon rythme pour chaque situation et pour chaque préférence personnelle.</p>
						<p class="large">(Disponible sur tous les modèles, sauf HS520, HS621, HS622 et HSM1336iC hybride.)</p>
						<h2 class="blue">Commande d’éjecteur électrique à joystick</h2>
						<p class="large">Vous pouvez contrôler l’éjection et la direction de la neige en déplaçant la pratique commande d’éjecteur électrique de haut en bas et de droite à gauche.</p>
						<p class="large">(Disponible sur les modèles TCD et hybrides uniquement.)</p>
						<h2 class="blue">Démarreur électrique de 120 VCA</h2>
						<p class="large">Pour ceux qui préfèrent un démarreur électrique, les modèles HS520CS, HS621CS, HS622TCS et HS1132TCS en possèdent un de type 120 VCA de série, pour vous faciliter encore plus la vie. Vous n’avez qu’à brancher la rallonge, appuyer sur un bouton, débrancher et partir.</p>
						<p class="large">Les souffleuses à neige Honda à démarrage électrique sont aussi dotées d’un démarrage à rappel avec une grosse poignée pour des démarrages faciles lorsqu’il n’est pas possible de brancher l’appareil. Il ne faut pas oublier le démarreur de type 12 VCC sur certains modèles.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->