<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter une tondeuse Honda?</h1>
						<p class="large">Chaque tondeuse à gazon Honda est équipée d'un moteur à quatre temps fiable qui est à la fois performant et silencieux. Toutes les tondeuses Honda sont conformes aux normes sur les émissions de l'EPA (Environmental Protection Agency) et de la CARB (California Air Resource Board) ou les dépassent.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Chez Honda, l'innovation n'est pas qu'un mot à  la mode. L'innovation est la force derrière chaque produit que nous concevons. Nous prenons la tonte de votre pelouse aussi sérieusement que vous. C'est pourquoi Honda développe des technologies et des caractéristiques uniques que vous ne retrouverez sur aucune autre tondeuse.</p>
						<h2 class="blue">Pont de coupe NeXite<sup>MC</sup></h2>
						<p class="large">Exclusif aux modèles HRX de Honda, NeXiteMC est un pont de coupe résistant, durable et à l’épreuve de la rouille. NeXite possède une force et une résistance aux impacts semblables au polymère que l’on retrouve habituellement dans les pare-chocs et les casques de football. Après tout, c’est un matériau aussi fort que léger. Durable et facile à nettoyer, le pont NeXite est idéal pour les tondeuses.</p>
						<h2 class="blue">Système RotoStop<sup>MC</sup></h2>
						<p class="large">L’embrayage-frein de lame RotoStop arrête la lame sans arrêter le moteur. Cela vous fait gagner du temps, parce que vous n’avez pas à redémarrer le moteur après avoir vidé le sac, traversé un sentier de gravier ou déplacé un objet qui vous gênait.</p>
						<h2 class="blue">QuadraCut<sup>MC</sup> et MicroCut<sup>MC</sup></h2>
						<p class="large">Seules les tondeuses Honda sont dotées du système QuadraCut<sup>MC</sup>, qui utilise deux lames et quatre rebords de coupe afin de déchiqueter l'herbe très finement pour mieux nourrir la pelouse ou pour prendre moins de place dans le sac. En effet, plus l'herbe est hachée fin, plus vite elle se décompose et mieux elle enrichit le sol. Il y a aussi le système à lames jumelées MicroCut<sup>MC</sup> de Honda, conçu exclusivement pour les ponts de coupe de série HRX, qui déchiquette l'herbe encore plus finement.</p>
						<h2 class="blue">Vitesse variable ou transmission hydrostatique</h2>
						<p class="large">Les modèles de la série HRX et HRR de Honda possèdent une transmission à vitesse variable avec réglage Smart Drive<sup>MC</sup> ou une transmission hydrostatique. Cela vous permet d’avancer à votre propre rythme tout en ajustant la vitesse de la tondeuse aux conditions de tonte. Sur les modèles hydrostatiques, un simple levier avec préréglages vous permet de choisir une vitesse personnalisée et de la conserver sans actionner le levier continuellement.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->