<!--#include virtual="/shared/inc/application_top.html"-->
<body class="page-honda-advantage">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/honda-advantage.css" />
	<link rel="stylesheet" href="/_Global/css/sections/backgrounds.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="honda_advantage_top_flash_banner">
					<img src="/_Global/img/temp/honda_advantage_flash_placeholder.gif" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-advantage.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1 class="mb10">Pourquoi acheter un motoculteur Honda?</h1>
						<p class="large">Les motoculteurs Honda sont propulsés par des moteurs à quatre temps efficaces et qui n'ont que faire des mélanges huile et essence. Ils fonctionnent si proprement qu'ils respectent et même surpassent les normes CARB et EPA sur les émissions. Les motoculteurs Honda sont doux et exceptionnellement silencieux, et le design de nos fourchons permet d'accomplir rapidement de lourdes tâches. Un seul passage avec un motoculteur Honda vous offrira ce que vous recherchez : le conditionnement de sol à son meilleur.</p>
					</div>
					<div class="content_section honda_advantage">
						<div class="h4_sun_icon">Avantages technologiques de Honda</div>
						<p class="large">Vous remarquerez peut-être que les motoculteurs Honda semblent différer quelque peu de la plupart des autres motoculteurs. C'est parce que nous croyons que le meilleur peut toujours être amélioré. Chez Honda, nous ne pourrions nous satisfaire de motoculteurs basés sur une technologie du passé, désuète. Nous avons prouvé que les motoculteurs peuvent être puissants sans être bruyants, trop lourds et encombrants. Il vous suffit d'en essayer un pour découvrir la différence.</p>
						<h2 class="blue">Système de filtration d’air à élément supérieur</h2>
						<p class="large">Ce filtre à air de haute qualité protège le motoculteur de son environnement de travail poussiéreux. Par exemple, le modèle FR800C possède le filtre à air Cyclone, qui prolonge la durée de vie du filtre et procure une protection additionnelle dans les conditions extrêmement poussiéreuses.</p>
						<h2 class="blue">Transmission de classe commerciale</h2>
						<p class="large">Grâce à un moteur beaucoup plus léger, des éléments robustes de classe commerciale ont pu être ajoutés sans compromettre la portabilité de l’appareil. Cela inclut une transmission commerciale avec un boîtier d’entraînement robuste, sans oublier le garde à l’avant du moteur, pour plus de protection, et notre gamme exclusive de produits hybrides Honda pour travailler la terre.</p>
						<h2 class="blue">Largeur de labourage</h2>
						<p class="large">Il y a 5 modèles de motoculteurs Honda avec des largeurs de labourage de 15 cm (6 po) à 92 cm (36 po). Notre plus petit, le mini-motoculteur FG110K1C, possède une largeur de labourage de 23 cm (9 po), ce qui est parfait pour les petits jardins. Pour les espaces vraiment restreints, il est possible de démonter les fourchons externes afin de créer une largeur de labourage de 15 cm (6 po). Les motoculteurs F501 de classe moyenne varient de 60 cm (24 po) à 92 cm (36 po). Ils sont donc parfaits pour s’attaquer aux grands espaces résidentiels. Les deux motoculteurs à fourchons arrière, les modèles FR650C et FRC800C, ont une largeur de labourage de 51 cm (20 po).</p>
						<h2 class="blue">Fourchons arrière dotés du système ARS<sup>MC</sup></h2>
						<p class="large">Le système Active Rotary, présent exclusivement sur le modèle FR650C, possède le système breveté de rotation coaxiale inverse de Honda, grâce auquel chaque fourchon est équilibré par un fourchon qui tourne dans la direction opposée. Le motoculteur devient ainsi similaire à un puissant mélangeur et produit un sol à la texture optimale avec un minimum d’efforts.</p>
						<h2 class="blue">Poignées réglables en hauteur</h2>
						<p class="large">Les motoculteurs Honda à fourchons centraux offrent un ajustement à 3 hauteurs, et les motoculteurs à fourchons arrière en offrent à 3 ou à 4 hauteurs. Légères et faciles à opérer, ces poignées ajustables procurent un grand confort pendant le travail. Les modèles F220C à fourchons centraux possèdent aussi des poignées repliables pour faciliter le rangement dans votre coffre.</p>
						<p class="large">(Poignées réglables en hauteur à 3 positions sur les modèles F220C, F501K2C2; à 4 positions sur le FRC800C; poignées repliables de série sur les FG110K1C et F220C)</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/shared/inc/footer.html"-->
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->