<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-honda-genuine-oils-chemicals.html 422 2011-03-18 21:20:24Z minanakamura $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="genuine-oils-chemicals">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							<h1>Huiles et produits chimiques Honda d’origine</h1>
							<h2 class="small">Pourquoi employer les huiles et produits chimiques Honda d’origine</h2>
							<div class="grouped">
								<p>Honda fabrique ses produits mécaniques selon les normes d’ingénierie les plus strictes au monde, et formule ses huiles et produits chimiques tout aussi rigoureusement pour vous permettre d’obtenir le rendement maximal de votre produit mécanique.</p>
								<p>Vous avez acheté un produit Honda à cause de sa qualité, de son rendement et de sa fiabilité, bref, vous avez opté pour le meilleur. Il serait donc tout naturel par la suite d’employer les meilleurs huiles et produits chimiques qui soient. Ne vous contentez pas d’une imitation lorsque vous pouvez acheter un produit d’origine.</p>
								<p>Les huiles et produits chimiques Honda d’origine sont uniquement offerts chez votre concessionnaire Honda.</p>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_engineOil"
															data-collapsible-active="true"
															>HUILE MOTEUR 5W-30 10W-30 10W-40 20W-50</a></span></div>
							<div id="slidedown_engineOil" class="sub_content">
								<ul class="red-check">
									<li class="first">Protège contre la corrosion et réduit l’usure du moteur</li>
									<li>Combat la formation de boues et autres dépôts dans le moteur</li>
									<li>Grande fluidité à basse température qui facilite les démarrages</li>
									<li>Résistance incomparable à la dégradation sous températures élevées</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_engineDegreaser"
															data-collapsible-active="false"
															>DÉGRAISSEUR DE MOTEUR</a></span></div>
							<div id="slidedown_engineDegreaser" class="sub_content">
								<ul class="red-check">
									<li class="first">Nettoyant haute performance qui dissout l’huile et la graisse qui s’accumulent sur les surfaces extérieures du moteur</li>
									<li>S’utilise aussi sur l’équipement industriel, les outils de jardinage et l’équipement marin</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_fuelStabilizer"
															data-collapsible-active="false"
															>STABILISATEUR D’ESSENCE</a></span></div>
							<div id="slidedown_fuelStabilizer" class="sub_content">
								<ul class="red-check">
									<li class="first">Prévient la formation de gomme et de vernis dans tout le système d’alimentation</li>
									<li>Absorbe l’humidité pour protéger le système d’alimentation de la corrosion</li>
									<li>Assure des démarrages rapides après un remisage</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_hypoidGear"
															data-collapsible-active="false"
															>HUILE POUR ENGRENAGES HYPOÏDES SAE 80W90</a></span></div>
							<div id="slidedown_hypoidGear" class="sub_content">
								<ul class="red-check">
									<li class="first">Recommandée pour les boîtes manuelles, les engrenages de direction et les différentiels dans lesquels un lubrifiant API GL-5 est spécifié</li>
									<li>Contient des additifs de protection contre les pressions extrêmes auxquelles sont soumis les engrenages</li>
									<li>Offre un excellent rendement dans les produits qui exigent un lubrifiant API GL 4 ou GL 3</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_lithiumDielectricGrease"
															data-collapsible-active="false"
															>GRAISSE DIÉLECTRIQUE AU LITHIUM</a></span></div>
							<div id="slidedown_lithiumDielectricGrease" class="sub_content">
								<ul class="red-check">
									<li class="first">Graisse blanche servant à remplir les connecteurs électriques pour les protéger de l’humidité et de la corrosion</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_hydrostaticFluid"
															data-collapsible-active="false"
															>LIQUIDE HYDROSTATIQUE</a></span></div>
							<div id="slidedown_hydrostaticFluid" class="sub_content">
								<ul class="red-check">
									<li class="first">Formulé spécifiquement pour les transmissions hydrostatiques Honda</li>
									<li>Produit un transfert de puissance maximal et une efficacité optimale</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_rustPenetrant"
															data-collapsible-active="false"
															>LUBRIFIANT ANTIROUILLE</a></span></div>
							<div id="slidedown_rustPenetrant" class="sub_content">
								<ul class="red-check">
									<li class="first">Lubrifiant et huile pénétrante tout usage</li>
									<li>Lubrifie les pièces qui grippent, repousse l’humidité des surfaces</li>
									<li>Pénètre les fixations rouillées et contribue à les desserrer</li>
									<li>Laisse une mince pellicule lubrifiante qui protège contre l’usure et la corrosion</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_ignitionMoistureSpray"
															data-collapsible-active="false"
															>VAPORISATEUR ANTI-HUMIDITÉ POUR ALLUMAGE</a></span></div>
							<div id="slidedown_ignitionMoistureSpray" class="sub_content">
								<ul class="red-check">
									<li class="first">Peut s’appliquer sur les composants mouillés pour repousser l’humidité</li>
									<li>Protège des accumulations d’humidité dues à la condensation</li>
									<li>S’applique aux composants de l’allumage, y compris lescâbles de bougie, le chapeau du distributeur et les bobines d’allumage</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_whiteLithiumGrease"
															data-collapsible-active="false"
															>GRAISSE BLANCHE AU LITHIUM</a></span></div>
							<div id="slidedown_whiteLithiumGrease" class="sub_content">
								<ul class="red-check">
									<li class="first">Contient des solvants spéciaux pour une pénétration en profondeur</li>
									<li>Se solidifie rapidement en une couche épaisse</li>
									<li>Protège de l’humidité et de la corrosion</li>
									<li>À utiliser sur les charnières, les pivots et les mécanismes coulissants métalliques</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
															class="pf"
															property="act:collapsible"
															data-collapsible-target="#slidedown_carburetorCleaner"
															data-collapsible-active="false"
															>NETTOYANT POUR CARBURATEUR</a></span></div>
							<div id="slidedown_carburetorCleaner" class="sub_content">
								<ul class="red-check">
									<li class="first">Pour les réparations de carburateur en place ou démonté</li>
									<li>Pénètre rapidement et dissout les dépôts de vernis, de gomme et de calamine</li>
									<li>Nettoie les gicleurs, le papillon et la tringlerie d’étrangleur</li>
									<li>Ne contient aucun solvant chloré</li>
									<li>Sans danger pour les sondes à oxygène et les convertisseurs catalytiques</li>
									<li>Ne contient pas de plomb, de silicone ni de phosphore</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->