<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-transport-tips.html 337 2011-03-11 17:40:33Z yuxhuang $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container" id="inner_page_content">
					<div class="content_section first_section">
						<h1>Conseils sur le transport</h1>
						<h2 class="small">Comment transporter votre produit mécanique de façon sécuritaire</h2>
						<div class="grouped">
							<p>Ce que vous devez savoir avant de transporter votre produit mécanique</p>
							<p>Que vous alliez chez le concessionnaire pour un entretien ou une réparation, ou chez un ami pour lui rendre service, transporter votre produit mécanique peut être délicat. Quelle que soit la raison pour laquelle vous devez transporter votre unité, vous devez prendre quelques précautions afin d’assurer votre sécurité.</p>
						</div>
						
						<ul class="red-check">
							<li>
								<span>Tournez le commutateur d’allumage à la position d’arrêt (O). Assurez-vous que le bouchon d’essence est bien serré.</span>
							</li>
							<li>
								<span>Si le moteur vient de tourner, laissez-le refroidir pendant 15 minutes avant de charger l’unité dans le véhicule.</span>
							</li>
							<li>
								<span>Dans la plupart des cas, il est préférable de garder le produit mécanique dans la position de fonctionnement naturelle (debout) afin de prévenir un déversement.</span>
							</li>
							<li>
								<span>Quel que soit le type de votre machine, vous devez fermer son robinet d’essence avant de la transporter. Si le robinet d’essence (TAP) est ouvert, les secousses du transport peuvent amener du carburant à couler plus loin que le pointeau du carburateur dans son siège. Cette essence peut ensuite migrer jusqu’à l’orifice d’admission et au cylindre, puis causer des problèmes comme des difficultés de démarrage, une dilution de l’huile ou un blocage hydraulique.</span>
							</li>
							<li>
								<span>Pour éviter un démarrage accidentel de votre moteur, il est préférable de débrancher le fil de la bougie avant le transport.</span>
							</li>
						</ul>
						
						<p>Pour des conseils plus spécifiques sur le transport sécuritaire de votre produit mécanique, consultez votre manuel du propriétaire ou communiquez avec votre concessionnaire Honda.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
		</ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->