<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id:  511 2011-03-28 20:25:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div id="inner_page_content" class="content_container">
					<div class="overview">
						<div class="content_section first_section">
							<h1>Pourquoi choisir le service Honda?</h1>
	                        <div class="grouped">
	                            <p>L’entretien est un aspect vital du maintien de la qualité, de la fiabilité et du rendement de votre produit mécanique Honda.</p>
	                            <p>Nous choisissons nos concessionnaires aussi soigneusement que nous fabriquons nos produits. Donc, mettez votre produit mécanique Honda entre les mains des gens qui le connaissent le mieux et qui savent vraiment quel niveau de rendement il est censé fournir. Vous serez en outre certain que seules des pièces Honda d’origine de haute qualité seront installées afin que votre Honda fonctionne à son meilleur.</p>
	                        </div>
						</div>
						<div class="content_section">
							<h2 class="alternate">Sélectionnez votre produit mécanique Honda pour accéder à une information complète sur le service</h2>
							<dl class="fc parts-service-products">
								<dd class="fl first">
									<a href="/honda-advantage/generators/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_generators.jpg" alt="" /></span>
										<span>Génératrice</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="/honda-advantage/lawnmowers/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_lawnmowers.jpg" alt="" /></span>
										<span>Tondeuses</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="/honda-advantage/water-pumps/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_water_pumps.jpg" alt="" /></span>
										<span>Motopompes à eau</span>
									</a>
								</dd>
								<dd class="fl first">
									<a href="/honda-advantage/snowblowers/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_snowblowers.jpg" alt="" /></span>
										<span>Souffleuse à neige</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="/honda-advantage/tillers/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_tillers.jpg" alt="" /></span>
										<span>Motoculteur</span>
									</a>
								</dd>
								<dd class="fl">
									<a href="/honda-advantage/trimmers/fr">
										<span class="image"><img src="/_Global/img/content/pe/parts-service/overview_trimmers.jpg" alt="" /></span>
										<span>Taille-bordures</span>
									</a>
								</dd>
							</dl>
						</div>
						<div class="content_section">
							<h2>Le service Honda vous procure les avantages suivants :</h2>
							<ul class="red-check">
								<li><span>Nos pièces, huiles et produits chimiques Honda d’origine sont testés et approuvés selon des normes qui figurent parmi les plus rigoureuses de l’industrie.</span></li>
								<li><span>Nos concessionnaires Honda installent uniquement des pièces Honda d’origine.</span></li>
								<li><span>Nos techniciens sont formés et certifiés par Honda.</span></li>
								<li><span>Nos techniciens peuvent consulter d’un simple clic de souris les informations techniques les plus à jour par le biais du système de communication en ligne de Honda.</span></li>
								<li><span>Nos concessionnaires bénéficient du soutien de notre Techni-ligne et des équipes du département Qualité et ingénierie de Honda Canada Inc.</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->