<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-honda-genuine-parts.html 337 2011-03-11 17:40:33Z yuxhuang $ -->
<body class="page-parts-service-honda-genuine-parts">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						<h1>Pièces Honda d’origine</h1>
						<h2 class="small">Fabriquées pour votre Honda</h2>
						<div class="grouped">
							<p>L’entretien est un aspect essentiel du maintien de la qualité, de la fiabilité et du bon fonctionnement de votre produit mécanique Honda. Ces attributs sont devenus indissociables des produits Honda, tout comme ils sont indissociables des pièces qui les constituent.</p>
							<p>Les pièces Honda d’origine sont fabriquées pour votre Honda. Elles maintiennent la qualité, la fiabilité et le rendement de votre produit Honda. Lorsque le moment arrive d’entretenir, de réparer ou d’améliorer votre produit Honda, ne vous contentez pas d’une imitation. Seules les pièces Honda d’origine peuvent préserver les spécifications de votre produit Honda, tout en assurant un ajustage et une finition parfaits. Confiez à nos techniciens formés par Honda le soin de garder votre produit Honda en bonne santé au moyen de pièces Honda d’origine.</p>
						</div>
					</div>
					<div class="content_section">
						<h2 class="small">Gardez votre Honda entièrement Honda en exigeant des pièces Honda d’origine.</h2>
						<dl class="fc inner-three-col">
							<dd class="fl first">
								<p class="heading_large">Qualité</p>
								<p><strong>La qualité supérieure de Honda.</strong><br />La qualité fondamentale de Honda se retrouve dans chacune des pièces de votre produit mécanique. Les pièces Honda d’origine sont fabriquées selon de rigoureuses normes de qualité afin de s’ajuster avec précision et de fonctionner à la perfection. Lorsque vous optez pour les pièces Honda d’origine, vous savez qu’elles sont conformes aux strictes normes de qualité imposées par les ingénieurs de Honda.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Fiabilité</p>
								<p><strong>Fiez-vous à votre Honda.</strong><br />Seules les pièces Honda d’origine bénéficient de l’appui de Honda partout au pays. Chaque pièce fonctionne en collaboration avec toutes les autres dans un but commun. Les pièces non Honda peuvent prétendre à la fiabilité, mais elles ne sont pas produites selon les spécifications d’ingénierie et les normes sur les matériaux de Honda. Si vous faites un compromis sur une seule pièce, vous pourriez compromettre tout le système dont elle fait partie.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Rendement</p>
								<p><strong>Ne compromettez pas le rendement de votre unité.</strong><br />En optant pour les pièces Honda d’origine, vous ne compromettrez pas le rendement ni la sécurité de votre unité. Chaque pièce Honda d’origine est conçue avec précision et subit des essais rigoureux dans une installation de R et D de Honda. Ce processus contribue à assurer que chaque pièce fournira un rendement optimal tout en offrant toute la durabilité et toute la fiabilité que l’on attend de Honda.</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->