<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-warranty-faq.html 540 2011-04-01 20:08:53Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf warranty">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Questions fréquentes <span>(FAQ)</span></h1>
					</div>
					<div class="content_section">
						<h2 class="alternate">Questions fréquentes à propos de Honda Plus</h2>
						<div class="sub_content active"
                             property="act:collapsible"
                             data-collapsible-target="#slidedown_q1"
                             data-collapsible-active="true"
                            >
							<div class="sub_content_inner">
								<div class="flex_bar alternate"><span><a href="javascript:void(0);"
									>À quel moment puis-je me procurer une garantie prolongée Honda Plus?</a></span></div>
								<div id="slidedown_q1">
									<p>Il est préférable de vous la procurer au moment de l’achat de votre produit mécanique, cela vous permettra d’inclure le prix de votre plan Honda Plus dans le montant final financé ou payé. Mais vous pouvez vous procurer un NOUVEAU plan Plus tant que l’unité est couverte par la première année de la garantie du fabricant.</p>
								</div>
							</div>
						</div>
						<div class="sub_content"
                             property="act:collapsible"
                             data-collapsible-target="#slidedown_q2"
                             data-collapsible-active="false"
                                >
							<div class="sub_content_inner">
								<div class="flex_bar alternate"><span><a href="javascript:void(0);"
									>Comment sont calculées la période et les heures d’utilisation d’un plan Honda Plus?</a></span></div>
								<div id="slidedown_q2">
									<p>Peu importe la date d’achat de votre plan Honda Plus, votre contrat débute le jour où le produit mécanique est enregistré (date d’enregistrement d’origine, à zéro heure d’utilisation) et se termine à la fin de la période Plus achetée. Les heures d’utilisation de tous les plans Honda Plus sont illimitées.</p>
								</div>
							</div>
						</div>
						<div class="sub_content"
                             property="act:collapsible"
                             data-collapsible-target="#slidedown_q3"
                             data-collapsible-active="false"
                                >
							<div class="sub_content_inner">
								<div class="flex_bar alternate"><span><a href="javascript:void(0);"
									>Puis-je annuler mon plan Honda Plus pendant la période de couverture?</a></span></div>
								<div id="slidedown_q3">
									<p>Oui, vous recevrez un remboursement à 100 % si vous annulez votre couverture durant les 60 premiers jours. Après 60 jours, vous recevriez un remboursement calculé au prorata (moins les frais administratifs) si l’unité était volée ou déclarée perte totale due à un incendie, ou si vous quittiez le Canada avec le produit mécanique.</p>
								</div>
							</div>
						</div>
						<div class="sub_content"
                             property="act:collapsible"
                             data-collapsible-target="#slidedown_q4"
                             data-collapsible-active="false"
                                >
							<div class="sub_content_inner">
								<div class="flex_bar alternate"><span><a href="javascript:void(0);"
									>Que dois-je faire en cas de panne?</a></span></div>
								<div id="slidedown_q4">
									<p>Vous devez d’abord prendre toutes les mesures raisonnables afin de protéger votre produit mécanique contre d’autres dommages suivant une défaillance mécanique ou une défectuosité. Par exemple : Vous devez immédiatement arrêter le moteur du produit mécanique si un témoin d’avertissement de basse pression d’huile ou de surchauffe s’allume.</p>
									<p>Ensuite, vous devez vous présenter chez un concessionnaire Honda avec votre produit mécanique afin de le faire réparer.</p>
								</div>
							</div>
						</div>
						<div class="sub_content"
                             property="act:collapsible"
                             data-collapsible-target="#slidedown_q5"
                             data-collapsible-active="false"
                                >
							<div class="sub_content_inner">
								<div class="flex_bar alternate"><span><a href="javascript:void(0);"
									>Devrai-je assumer des frais additionnels pour la défaillance d’une composante couverte par ce plan?</a></span></div>
								<div id="slidedown_q5">
									<p>Tous les plans Honda Plus pour produits mécaniques sont sans franchise.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->