<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-warranty.html 337 2011-03-11 17:40:33Z yuxhuang $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf warranty">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						<h1>Garantie</h1>
					</div>
					<div class="content_section">
						<h2 class="alternate">Garantie comprise</h2>
						<div class="grouped">
							<p>Comme gage de leur qualité et de leur fiabilité, tous les produits mécaniques Honda comprennent une garantie du distributeur. Afin que cette garantie du distributeur conserve sa validité, les entretiens requis indiqués dans le manuel du propriétaire doivent être effectués aux intervalles prescrits, et leurs factures détaillées doivent être conservées en preuve.</p>
							<p><a href="parts-service-warranty.html#">Warranty Info Sheet</a></p>
						</div>
					</div>
					<div class="content_section_dotted">
						<h2 class="alternate">Garantie prolongée Honda Plus</h2>
						<div class="grouped">
							<p><strong>Profitez sans tracas de vos travaux en plein air</strong><br />Comptez sur Honda pour vous aider!</p>
							<p>Honda Plus vous permet de faire durer votre plaisir libre de tout tracas en prolongeant la couverture sur certaines composantes et pièces. Choisissez simplement celle de nos options de couverture sur mesure qui vous apportera le type de protection dont vous avez besoin. Ensuite, profitez de votre produit mécanique en sachant que la garantie prolongée sans tracas Honda Plus est pensée, gérée et soutenue par Honda Canada Inc.</p>
						</div>
					</div>
					<div class="content_section_dotted">
						<h2 class="alternate">Plan de protection</h2>
						<div class="grouped">
							<p>Protection prolongée sur les produits mécaniques pour le confort du propriétaire</p>
							<p><a href="parts-service-warranty.html#">Liste de prix Honda Plus 2011</a></p>
						</div>
						
						<dl class="warranty-protection-list">
							<dt class="first">Les avantages des plans Plus</dt>
							
							<dt>Aucune franchise :</dt>
							<dd>Vous ne débourserez pas le moindre sou pour les réparations couvertes par un plan Honda Plus.</dd>
							
							<dt>Temps d’utilisation illimité :</dt>
							<dd>La durée est calculée en période et non en nombre d’heures d’utilisation.</dd>
							
							<dt>Valeur ajoutée :</dt>
							<dd>Jouissez de la sécurité que vous offre la couverture des réparations admissibles.</dd>
							
							<dt>Transférable :</dt>
							<dd>Augmentez la valeur de revente grâce au fait que toute couverture inutilisée est transférable, dans la plupart des situations, au prochain propriétaire.</dd>
							
							<dt>Pièces Honda d’origine :</dt>
							<dd>Aucune imitation n’est utilisée. Seules les pièces Honda d’origine sont permises.</dd>
							
							<dt>Techniciens formés par Honda :</dt>
							<dd>Honda certifie la compétence des techniciens qui réparent votre produit Honda.</dd>
						</dl>
						
						<p><a href="parts-service-warranty.html#">Ce qui est couvert par Honda Plus</a></p>
					</div>
					<div class="content_section_dotted">
						<h2 class="alternate">Garantie sur les accessoires</h2>
						<p><strong>Garantie sur les pièces de rechange et les accessoires</strong><br/>
							Les pièces de rechange et les accessoires Honda d’origine neufs vendus à un consommateur ou installés par un concessionnaire autorisé de produits mécaniques Honda qui ne sont pas couverts par la garantie du distributeur sont garantis pendant une période d’un an après la date d’achat, pourvu que la pièce ou l’accessoire ne soit pas modifié, utilisé avec ou installé sur un produit mécanique auquel il n’était pas destiné. Les composants électriques qui ne sont pas installés par le concessionnaire (vendus au comptoir) ne sont pas couverts par la garantie.</p>
					</div>
					<div class="content_section_dotted">
						<h2 class="alternate">Garanties sur les batteries</h2>
						<p>Si votre produit mécanique est équipé d’une batterie, celle-ci est garantie pendant 12 mois en cas d’utilisation non commerciale ou pendant 3 mois en cas d’utilisation commerciale.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->