<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-lawnmowers-overview.html 546 2011-04-04 15:14:02Z mperry $ -->
<body class="page-parts-service-overview-product">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container_alternate">
					<div class="content_section first_section tac">
						<ul class="sub-menu-alt">
							<li class="first"><a href="/parts-service/generators/fr">Generators</a></li>
							<li><a href="/parts-service/lawnmowers/fr">Lawnmowers</a></li>
							<li><a href="/parts-service/water-pumps/fr">Water Pumps</a></li>
							<li><a href="/parts-service/snowblowers/fr" class="active">Snowblowers</a></li>
							<li><a href="/parts-service/tillers/fr">Tillers</a></li>
							<li><a href="/parts-service/trimmers/fr">Trimmers</a></li>
						</ul>
					</div>
					<div class="content_section">
						<h1>Souffleuse à neige</h1>
						<h2 class="small">Pourquoi il est important d’entretenir votre souffleuse à neige Honda</h2>
						<p>Nos produits mécaniques sont conçus pour accomplir les tâches les plus difficiles. Et il est crucial de les entretenir afin de maintenir leur niveau élevé de fonctionnalité, de fiabilité et de durabilité. Suivez les recommandations d’entretien du manuel du propriétaire, et si vous entretenez vous-même votre unité, n’utilisez que des pièces Honda d’origine.</p>
						<div class="flex_bar"><span><a href="javascript:void(0);"
                                                       property="act:collapsible"
                                                       data-collapsible-target="#slidedown_drivetrain"
													   data-collapsible-active="false"
                                                       >Avant chaque utilisation</a></span></div>
						<div id="slidedown_drivetrain" class="sub_content">
							<p>Pour votre sécurité, et pour maximiser la durée utile de votre souffleuse à neige, il est très important d’effectuer une vérification avant chaque utilisation. Familiarisez-vous avec les avertissements de sécurité et les précautions à prendre qui se trouvent dans le manuel du propriétaire. Vérifiez toujours votre unité avec le moteur arrêté et le câble de la bougie d’allumage débranché. Si vous découvrez un problème, faites-le corriger par un concessionnaire Honda autorisé avant d’utiliser la souffleuse à neige.</p>
							<p>Si vous utilisez votre souffleuse à neige sans en avoir fait l’entretien approprié ou sans avoir fait corriger un problème découvert, il pourrait se produire une défectuosité qui pourrait causer des blessures graves. Examinez le moteur et autour de celui ci à la recherche de fuites d’huile ou d’essence.</p>
							<p class="heading_alternate">Avant chaque utilisation</p>
							<ul class="red-check">
								<li><span>Examinez les boulons de la tarière et de l’éjecteur.</span></li>
								<li><span>Vérifiez le niveau d’électrolyte de la batterie, si nécessaire.</span></li>
								<li><span>Vérifiez les niveaux d’huile du moteur, de la transmission et du système rotatif.</span></li>
								<li><span>Vérifiez le niveau d’essence.</span></li>
								<li><span>Examinez le moteur et autour de celui ci à la recherche de fuites d’huile ou d’essence.</span></li>
							</ul>
							<p>Consultez le calendrier d’entretien qui figure dans votre manuel du propriétaire pour connaître les entretiens qu’exige votre souffleuse à neige Honda.</p>
						</div>
						<div class="product-image">
							<a class="pf hotspot btn-tooltips"
                               style="top: 65px; left: 246px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-01"></a>
							<span class="hotspot-01 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 200px; left: 224px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-02"></a>
							<span class="hotspot-02 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 190px; left: 296px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-03"></a>
							<span class="hotspot-03 dn">
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 240px; left: 374px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-04"></a>
							<span class="hotspot-04 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<img src="/_Global/img/content/pe/parts-service/lrg_snowblower.jpg" alt="" />
						</div>
					</div>
				</div>
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a href="#" class="selected">Huile moteur</a></li>
					<li class="fl"><a href="#">Bougie</a></li>
					<li class="fl"><a href="#">Tarière</a></li>
					<li class="fl"><a href="#">Patins</a></li>
					<li class="fl last"><a href="#">Essence</a></li>
				</ul>
				<div class="content_container">
					<div class="single-product" id="engine-oil">
						<div class="h1">Huile moteur</div>
						<p class="heading_large">L’huile Honda d’origine pour produits mécaniques est formulée spécialement pour votre moteur Honda, et elle est essentielle à son fonctionnement optimal et à sa fiabilité. Cliquez ici pour en apprendre plus sur l’huile moteur de votre motoculteur.</p>
						<p>Les vidanges d’huile sont un facteur majeur du bon fonctionnement et de la durabilité de votre Honda. Le rôle de l’huile est de lubrifier et de protéger les composants internes du moteur, qui sont soumis à des pressions extrêmement fortes. Il est important de vérifier le niveau d’huile de votre moteur pour vous assurer qu’il n’est pas trop bas. Avant chaque utilisation, vérifiez le niveau d’huile avec le moteur arrêté et l’unité sur une surface de niveau.</p>
						<p>Au cours d’un remplissage d’huile ou d’un entretien effectué de façon inadéquate, il se peut que de la saleté contamine l’huile. C’est pourquoi il est préférable de confier la vidange d’huile à un concessionnaire Honda autorisé, qui utilisera de l’huile moteur Honda d’origine pour produits mécaniques.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="spark-plug">
						<div class="h1">Bougie</div>
						<p class="heading_large">Démarrez à tous les coups avec une bougie Honda d’origine. Cliquez ici pour en apprendre plus sur l’entretien de la bougie de votre souffleuse à neige.</p>
						<p>Le rôle de la bougie est d’initier la combustion dans le moteur de votre souffleuse à neige. Une bougie défectueuse peut causer divers symptômes, dont des démarrages difficiles, des détonations, un manque de puissance et de la fumée noire dans l’échappement. Il est nécessaire d’inspecter la bougie à la recherche de fissures ou d’écaillage. Si vous avez besoin d’une bougie de remplacement, passez chez votre concessionnaire Honda.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="auger">
						<div class="h1">Tarière</div>
						<p class="heading_large">Vérifiez la tarière, son logement et ses boulons de sécurité pour déneigement exempt de tracas. Cliquez ici pour en apprendre plus sur l’entretien de la tarière de votre souffleuse à neige.</p>
						<p>Vérifiez la tarière, son logement, les boulons de sécurité et l’éjecteur à la recherche de dommages ou autres anomalies. Si un boulon de sécurité est brisé, remplacez-le par un de ceux qui sont fournis avec la souffleuse à neige. Votre concessionnaire Honda autorisé peut vous fournir des boulons de sécurité et des écrous additionnels. L’utilisation de boulons ordinaires ou de boulons de sécurité non Honda peut entraîner de graves dommages à la tarière de la souffleuse à neige et aux pièces connexes. Chaque année avant de vous servir de la souffleuse, vérifiez si les boulons-freins de la tarière et de l’éjecteur sont bien serrés.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="skid-plates">
						<div class="h1">Patins</div>
						<p class="heading_large">Utilisez les patins Honda d’origine pour protéger votre souffleuse à neige et l’asphalte des éraflures. Cliquez ici pour en apprendre plus sur l’entretien des patins de votre souffleuse à neige.</p>
						<p>Le rôle des patins est de hausser le logement de la tarière pour éviter à celle-ci de racler le sol. Si vos patins sont usés, ils endommageront votre asphalte. Vous devez vérifier et régler si nécessaire les patins avant chaque utilisation, et sans faute avant la première utilisation de l’année.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="fuel">
						<div class="h1">Essence</div>
						<p class="heading_large">Essence propre et neuve = meilleur rendement et plus grande durabilité du moteur. Cliquez ici pour en apprendre plus sur l’entretien du système d’alimentation de votre souffleuse à neige.</p>
						<p>Il est recommandé de nettoyer chaque année le réservoir d’essence, parce que des impuretés dans le réservoir ou dans le filtre à essence, ou bien de l’eau dans le réservoir ou dans le carburateur peuvent entraîner des difficultés de démarrage ou une perte de puissance. Il faut également vérifier les canalisations d’essence à la recherche de fissures ou de raideur et de les remplacer au besoin.</p>
						<p>Si votre souffleuse à neige est difficile à faire démarrer, cale après avoir démarré, émet de la fumée noire dans l’échappement ou consomme beaucoup, il se peut que vous ayez un problème d’alimentation ou de canalisation d’essence. Il est important d’entretenir le système d’alimentation en carburant, parce que l’essence moderne ne se conserve pas très longtemps en remisage. Si de l’essence demeure dans la cuvette de votre carburateur ou dans le réservoir partiellement rempli pendant aussi peu que 30 à 60 jours, il se peut que votre unité connaisse des problèmes de démarrage. Lorsqu’il fait chaud, l’essence se détériore rapidement. C’est donc une très bonne idée de demander à votre concessionnaire Honda autorisé de faire l’entretien du réservoir et des canalisations d’essence de votre souffleuse.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->