<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-lawnmowers-overview.html 546 2011-04-04 15:14:02Z mperry $ -->
<body class="page-parts-service-overview-product">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container_alternate">
					<div class="content_section first_section tac">
						<ul class="sub-menu-alt">
							<li class="first"><a href="/parts-service/generators/fr">Generators</a></li>
							<li><a href="/parts-service/lawnmowers/fr">Lawnmowers</a></li>
							<li><a href="/parts-service/water-pumps/fr">Water Pumps</a></li>
							<li><a href="/parts-service/snowblowers/fr">Snowblowers</a></li>
							<li><a href="/parts-service/tillers/fr">Tillers</a></li>
							<li><a href="/parts-service/trimmers/fr" class="active">Trimmers</a></li>
						</ul>
					</div>
					<div class="content_section">
						<h1>Taille-bordures/broussailles</h1>
						<h2 class="small">Pourquoi il est important d’entretenir votre taille-bordures/broussailles Honda</h2>
						<p>Nos produits mécaniques sont conçus pour accomplir les tâches les plus difficiles. Et il est crucial de les entretenir afin de maintenir leur niveau élevé de fonctionnalité, de fiabilité et de durabilité. Suivez les recommandations d’entretien du manuel du propriétaire, et si vous entretenez vous-même votre unité, n’utilisez que des pièces Honda d’origine.</p>
						<div class="flex_bar"><span><a href="javascript:void(0);"
                                                       property="act:collapsible"
                                                       data-collapsible-target="#slidedown_drivetrain"
													   data-collapsible-active="false"
                                                       >Avant chaque utilisation</a></span></div>
						<div id="slidedown_drivetrain" class="sub_content">
							<p>Pour votre sécurité, et pour maximiser la durée utile de votre taille-bordures/broussailles, il est très important d’effectuer une vérification avant chaque utilisation. Familiarisez-vous avec les avertissements de sécurité et les précautions à prendre qui se trouvent dans le manuel du propriétaire. Vérifiez toujours votre unité avec le moteur arrêté et le câble de la bougie d’allumage débranché. Si vous découvrez un problème, faites-le corriger par un concessionnaire Honda autorisé avant d’utiliser le taille-bordures/broussailles.</p>
							<p>Si vous utilisez votre taille-bordures/broussailles sans en avoir fait l’entretien approprié ou sans avoir fait corriger un problème découvert, il pourrait se produire une défectuosité qui pourrait causer des blessures graves.</p>
							<p class="heading_alternate">Avant chaque utilisation</p>
							<ul class="red-check">
								<li><span>Examinez le fil de coupe ou la lame à la recherche de dommages.</span></li>
								<li><span>Vérifiez si toutes les fixations sont en place et bien serrées.</span></li>
								<li><span>Vérifiez le niveau d’huile.</span></li>
								<li><span>Inspectez le filtre à air à la recherche de saleté et de débris.</span></li>
								<li><span>Vérifiez le niveau d’essence.</span></li>
								<li><span>Examinez le moteur et autour de celui ci à la recherche de fuites d’huile ou d’essence.</span></li>
							</ul>
							<p>Consultez le calendrier d’entretien qui figure dans votre manuel du propriétaire pour connaître les entretiens qu’exige votre taille-bordures/broussailles Honda.</p>
						</div>
						<div class="product-image">
							<a class="pf hotspot btn-tooltips"
                               style="top: 65px; left: 246px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-01"></a>
							<span class="hotspot-01 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 200px; left: 224px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-02"></a>
							<span class="hotspot-02 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 190px; left: 296px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-03"></a>
							<span class="hotspot-03 dn">
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<a class="pf hotspot btn-tooltips"
                               style="top: 240px; left: 374px;"
								property="act:tooltip"
								data-position="right bottom"
								data-tooltip-class="tooltip-right"
								data-tooltip-content-target=".hotspot-04"></a>
							<span class="hotspot-04 dn">
								<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
								<p class="heading">Lorem Ipsum</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
								<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
								<div class="clr"></div>
							</span>
							<img src="/_Global/img/content/pe/parts-service/lrg_trimmer.jpg" alt="" />
						</div>
					</div>
				</div>
				<ul class="fc tabs_horizontal_fixed"> 
					<li class="fl first"><a href="#" class="selected multiline">Huile moteur</a></li>
					<li class="fl"><a href="#">Filtre à air</a></li>
					<li class="fl"><a href="#" class="multiline">Commande des gaz</a></li>
					<li class="fl"><a href="#">Fil de coupe</a></li>
					<li class="fl"><a href="#">Bougie</a></li>
					<li class="fl last"><a href="#">Essence</a></li>
				</ul>
				<div class="content_container">
					<div class="single-product" id="engine-oil">
						<div class="h1">Huile moteur</div>
						<p class="heading_large">L’huile Honda d’origine pour produits mécaniques est formulée spécialement pour votre moteur Honda, et elle est essentielle à son fonctionnement optimal et à sa fiabilité. Cliquez ici pour en apprendre plus sur l’huile moteur de votre taille-bordures/broussailles.</p>
						<p>Les vidanges d’huile sont un facteur majeur du bon fonctionnement et de la durabilité de votre Honda. Le rôle de l’huile est de lubrifier et de protéger les composants internes du moteur, qui sont soumis à des pressions extrêmement fortes. Il est important de vérifier le niveau d’huile de votre moteur pour vous assurer qu’il n’est pas trop bas. Avant chaque utilisation, vérifiez le niveau d’huile avec le moteur arrêté et l’unité sur une surface de niveau.</p>
						<p>Au cours d’un remplissage d’huile ou d’un entretien effectué de façon inadéquate, il se peut que de la saleté contamine l’huile. C’est pourquoi il est préférable de confier la vidange d’huile à un concessionnaire Honda autorisé, qui utilisera de l’huile moteur Honda d’origine pour produits mécaniques.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="air-filter">
						<div class="h1">Filtre à air</div>
						<p class="heading_large">Pour optimiser le bon fonctionnement et la durabilité de votre moteur, installez un filtre à air Honda d’origine. Cliquez ici pour en apprendre plus sur l’entretien du filtre à air de votre taille-bordures/broussailles.</p>
						<p>Filtre à air propre = durabilité prolongée et meilleur rendement du moteur. Le filtre à air empêche la saleté et les débris, qui pourraient causer une usure prématurée, d’entrer dans la chambre d’admission du moteur. Une telle usure prématurée ne serait pas couverte par la garantie limitée du distributeur.</p>
						<p>Un filtre à air sale restreint le débit de l’air qui entre dans le carburateur, ce qui réduit le rendement et la durabilité du moteur. Un carburateur obstrué entraînera des problèmes de moteur. Si vous utilisez le taille-bordures/broussailles dans des conditions très poussiéreuses, nettoyez ou remplacez le filtre à air plus souvent que l’indique le calendrier d’entretien.</p>
						<p>Le filtre à air doit être inspecté selon les recommandations du manuel du propriétaire. Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="blades">
						<div class="h1">Commande des gaz</div>
						<p class="heading_large">Une commande des gaz bien réglée optimise le fonctionnement de votre taille-bordures/broussailles. Cliquez ici pour en apprendre plus sur l’entretien de la commande des gaz de votre taille-bordures/broussailles.</p>
						<p>Pour que votre taille-bordures/broussailles fonctionne à son meilleur, il est important que sa commande des gaz soit en bon état de marche. Un câble défectueux, mal réglé, usé ou brisé pourrait avoir pour résultat une faible efficacité de la lame ou du fil de coupe. Il est important de vérifier si la gâchette des gaz fonctionne en douceur et si le câble des gaz est en bon état. Si vous pouvez voir des dommages ou si la gâchette des gaz ne fonctionne pas en douceur, demandez à votre concessionnaire Honda autorisé de remplacer le câble des gaz ou d’effectuer les réglages nécessaires.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="grass-bag">
						<div class="h1">Fil de coupe</div>
						<p class="heading_large">Le fil de coupe Honda d’origine est conçu pour être le moins bruyant, le plus durable et le plus facile d’installation possible. Cliquez ici pour en apprendre plus sur l’entretien du fil de coupe de votre taille-bordures/broussailles.</p>
						<p>Tous les taille-bordures/broussailles Honda sont dotés d’une tête de coupe manuelle ou semi-automatique. Pour le bon fonctionnement du taille-bordures/broussailles, il est important de s’assurer que le fil de coupe est correctement placé et aligné.</p>
						<p>Gardez toujours la zone qui entoure la tête de coupe libre de boue, de saleté et de débris. Lorsque vous devez installer un nouveau fil de coupe, n’employez pas de fil métallique ou de corde. Utilisez uniquement du fil de nylon Honda d’origine pour taille-bordures/broussailles. Les taille-bordures/broussailles Honda sont livrés de série du fil de coupe ultra silencieux. L’emploi de fil non Honda pourrait rendre votre taille-bordures/broussailles plus bruyant.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="spark-plug">
						<div class="h1">Bougie</div>
						<p class="heading_large">Démarrez à tous les coups avec une bougie Honda d’origine. Cliquez ici pour en apprendre plus sur l’entretien de la bougie de votre taille-bordures/broussailles.</p>
						<p>Le rôle de la bougie est d’initier la combustion dans le moteur de votre taille-bordures/broussailles. Une bougie défectueuse peut causer divers symptômes, dont des démarrages difficiles, des détonations, un manque de puissance et de la fumée noire dans l’échappement. Il est nécessaire d’inspecter la bougie à la recherche de fissures ou d’écaillage. Si vous avez besoin d’une bougie de remplacement, passez chez votre concessionnaire Honda.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
					<div class="single-product" id="fuel">
						<div class="h1">Essence</div>
						<p class="heading_large">Essence propre et neuve = meilleur rendement et plus grande durabilité du moteur. Cliquez ici pour en apprendre plus sur l’entretien du système d’alimentation de votre taille-bordures/broussailles.</p>
						<p>Un entretien inadéquat du système d’alimentation est la cause première des problèmes de démarrage et de fonctionnement. L’essence est une substance volatile et instable, et c’est pourquoi elle est facile à allumer, mais c’est aussi pourquoi elle s’évapore ou se détériore aisément. L’essence peut alors perdre la capacité de brûler efficacement et peut laisser un résidu gommeux susceptible de boucher les petits passages du carburateur; une essence détériorée peut causer des problèmes tels des démarrages difficiles et un régime instable ou même un refus de démarrer et des problèmes de moteur plus graves. Selon les conditions, l’essence peut se détériorer en aussi peu que 30 à 60 jours. On peut prévenir partiellement la détérioration en ajoutant un stabilisateur d’essence, mais il est préférable de vidanger le carburateur. Il est également nécessaire d’inspecter périodiquement le réservoir et le filtre à essence à la recherche de rouille et d’autres formes de contamination, et d’inspecter les canalisations d’essence à la recherche de fissures dues à l’âge et de les remplacer au besoin.</p>
						<p>Pour plus d’information, consultez votre manuel du propriétaire ou parlez à votre concessionnaire Honda.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->