<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: parts-service-storage-tips.html 337 2011-03-11 17:40:33Z yuxhuang $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container" id="inner_page_content">
					<div class="content_section first_section">
						<h1>Conseils sur le remisage</h1>
						<h2 class="small">Comment remiser votre produit mécanique pour éviter les problèmes</h2>
						<div class="grouped">
							<p>Ce que vous devez savoir sur le remisage de votre produit mécanique</p>
							<p>Les produits mécaniques sont souvent sujets à de longues périodes d’inactivité, et c’est pourquoi il est important d’adopter des techniques de remisage adéquates afin d’éviter les problèmes au redémarrage.</p>
							<p>Voici quelques conseils qui vous aideront à bien prendre soin de votre produit mécanique :</p>
						</div>
						
						<ul class="red-check">
							<li>
								<span>Gardez-le propre et sec : Éliminez le gazon sous le pont de coupe, la boue, la neige fondue, etc.</span>
							</li>
							<li>
								<span>Videz le réservoir et le carburateur</span>
							</li>
							<li>
								<span>Changez l’huile moteur</span>
							</li>
							<li>
								<span>Enduisez toutes les surfaces susceptibles de rouiller d’une fine pellicule d’huile</span>
							</li>
							<li>
								<span>Remisez-le dans sa position de fonctionnement normale</span>
							</li>
							<li>
								<span>Remisez-le dans un endroit où il n’y a pas trop d’humidité ou de poussière</span>
							</li>
							<li>
								<span>Protégez-le de la poussière et des débris au moyen d’une housse sur mesure</span>
							</li>
							<li>
								<span>Si l’unité est équipée d’une batterie, rangez-la sur un support</span>
							</li>
						</ul>
						
						<div class="grouped">
							<p>Il est également important de se soucier de l’essence, parce que l’essence moderne ne se conserve pas très longtemps en remisage. Si de l’essence demeure dans la cuvette de votre carburateur ou dans le réservoir partiellement rempli pendant aussi peu que 30 à 60 jours, il se peut que votre unité connaisse un problème de démarrage. Lorsqu’il fait chaud, l’essence se détériore rapidement. Pour prévenir un problème de démarrage qui suit un remisage, suivez les étapes ci-dessous.</p>
							<p>La mesure la plus essentielle à prendre est de fermer le robinet d’essence avant de remiser un produit mécanique. Si le remisage doit durer plus de 30 jours, ajoutez du stabilisateur d’essence Honda dans le réservoir pour éviter que l’essence se détériore. Lorsque vous ajoutez un stabilisateur d’essence, remplissez le réservoir d’essence fraîche. Si le réservoir n’est pas complètement plein, l’air favorisera la détérioration de l’essence pendant le remisage. Assurez-vous que l’essence que contient votre bidon de remplissage est toujours fraîche. Ajoutez le stabilisateur d’essence en suivant les instructions du fabricant. Après avoir ajouté le stabilisateur d’essence, il est recommandé de faire fonctionner l’unité à l’extérieur pendant 10 minutes avant de la remiser. Si l’unité doit demeurer en remisage pendant plus de 60 jours, videz complètement le réservoir et la cuvette du carburateur.</p>
							<p>Le maintien du rendement d’origine de votre produit mécanique dépend en grande partie du soin que vous en prenez dès le départ. Consultez votre manuel du propriétaire pour trouver d’autres renseignements sur le remisage de votre modèle particulier. N’oubliez jamais que votre concessionnaire Honda est là pour vous aider si vous avez des questions ou des inquiétudes à propos du remisage de votre produit mécanique.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
		</ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->