<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-generators.html 571 2011-04-07 15:50:11Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Des génératrices conçues pour votre sécurité</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Approuvées CSA (ce n’est pas le cas de toutes les marques)</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">GFCI &ndash; Protection contre les mises à la masse défectueuses</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Ultra silencieuses &ndash; Série EU moins dommageable pour l’ouïe.</span>
							</li>
						</ul>
					</div>
					
					<div class="fc content_section">
						<h1>Guide d’utilisation sécuritaire d’une <span>génératrice</span></h1>
						<div class="fc accordion-controls">
							<a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Agrandir</a>
							<a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Réduire</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>Quelques mots concernant la sécurité</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">L’utilisation sécuritaire de votre groupe électrogène Honda pour vous-mêmes et les autres est une responsabilité qui vous incombe.</li>
								<li>Ces renseignement vous informent sur les dangers potentiels pouvant être à l’origine de blessures.</li>
								<li>Bien entendu, il est à toute fin pratique impossible de prévoir tous les dangers potentiels associés au fonctionnement et à l’utilisation de votre groupe électrogène Honda. Vous devez donc user de bon sens.</li>
								<li>Votre sécurité nous tient à coeur. Quelques minutes de préparation vous permettront de diminuer considérablement les risques de blessures.</li>
								<li>Lisez et assurez-vous de comprendre le contenu de votre guide d’utilisation.</li>
								<li>Vous devez connaître l’usage et le fonctionnement de chacune des commandes.</li>
								<li>Familiarisez-vous avec votre groupe électrogène Honda et son fonctionnement avant de l’utiliser.</li>
								<li>Sachez comment arrêter votre groupe électrogène Honda rapidement en cas d’urgence.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Gardez votre groupe électrogène en état de fonctionnement sécuritaire</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Veuillez lire très attentivement le guide d’utilisation avant d’utiliser le groupe électrogène.</li>
								<li>Effectuez toujours les contrôles préliminaires avant de mettre le moteur en marche.</li>
								<li>Tous les groupes électrogènes portatifs Honda sont homologués CSA. Ne modifiez jamais votre génératrice. L'homologation CSA exige que la génératrice soit utilisée uniquement dans son etat initial.</li>
								<li>Assurez-vous de faire fonctionner le groupe électrogène sur une surface horizontale.</li>
								<li>Ne connectez pas un tuyau rallonge au tuyau d’échappement.</li>
								<li>Le raccordement à une ligne secteur d’un bâtiment pour assurer une alimentation de secours doit toujours être effectué par un électricien qualifié et doit être conforme aux lois et codes électriques en vigueur.</li>
								<li>Un raccordement incorrect pourrait entraîner un retour du courant électrique généré par le groupe électrogène dans le réseau public. Un tel retour du courant peut provoquer l’électrocution du personnel de la compagnie d’électricité, ou de toute autre personne, travaillant sur le réseau pendant une panne de courant. De plus, lorsque le courant est rétabli, le groupe électrogène risque d’exploser, de brûler ou de provoquer des débuts d’incendie dans le circuit électrique du bâtiment.</li>
								<li>Utilisez un commutateur de séparation/transfert certifié pour assurer que soit l’électricité du groupe électrogène, soit celle du réseau (mais jamais les deux à la fois) alimentera votre panneau de distribution électrique.</li>
								<li>Lorsqu’il est nécessaire d’ajouter un câble de rallonge, utilisez un câble protégé d’une gaine de caoutchouc flexible et robuste (IEC 245 ou l’équivalent).</li>
								<li>Longueur maximale des câbles de rallonge : 60 m pour les câbles de 1,5 mm<sup>2</sup> et 100 m pour les câbles de 2,5<sup>2</sup>.</li>
								<li>Ne surchargez jamais votre génératrice Honda. Informez-vous à I'avance de la quantité de puissance nécessaire pour alimenter en électricité les appareils ménagers essentiels pour le démarrage et le fonctionnement continu. Une équation pratique à se rappeler : watts = volts x ampères. Par exemple, vous savez que le moteur de votre fournaise fonctionne sur du courant alternatif de 120 V et qu'il demande 15 ampères au démarrage. Par conséquent, 120 volts x 15 ampères = 1800 watts. Vous devrez done utiliser une génératrice de 2000 watts juste pour alimenter en électricité le moteur de votre fournaise. Si vous n'êtes pas sûr de vos besoins électriques, consultez un électricien qualifié.[VOIR LE GUIDE DE CALCUL DE PUISSANCE EN WATTS]</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Veillez à votre sécurité</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Il est nécessaire de savoir arrêter le groupe électrogène rapidement et de connaître le fonctionnement de toutes les commandes.</li>
								<li>Un cable externe de mise à la terre devrait connecter la borne externe de mise à la terre de la génératrice à un piquet en acier bien enfoncé dans le sol.</li>
								<li>Ne faites jamais fonctionner une génératrice dans votre maison, garage, sous-sol ou dans un endroit clos quelconque car le monoxyde de carbone qui s'en échappe est mortel.</li>
								<li>Les génératrices Honda ne devraient pas être utilisées sous la pluie ou la neige.</li>
								<li>Positionnez votre groupe électrogène à l’extérieur mais près de la maison ou du panneau de distribution électrique de la maison tout en maintenant un dégagement minimum d’un mètre (3 pieds) de tous les côtés du groupe électrogène.</li>
								<li>Un groupe électrogène représente un danger potentiel d’électrocution lorsqu’il n’est pas utilisé correctement. Avant de faire le plein, éteignez la génératrice et vérifiez le niveau d'huile du moteur. Utilisez un entonnoir approprié pour éliminer les déversements accidentels de carburant. II ne faut jamais faire fonctionner la génératrice lorsque le bouchon du réservoir de carburant est enlevé ni faire redémarrer la génératrice si du carburant a été renversé lors du plein.</li>
								<li>Lorsque vous faites l’appoint du groupe électrogène, tenez-vous à distance de cigarettes, de fumée et d’étincelles.</li>
								<li>Le carburant doit être entreposé dans un contenant approuvé, situé à plus de dix (10) mètres [(32.8) pieds] d’un groupe électrogène en marche et (ou) de dix (10) mètres [(32.8) pieds] de toute flamme nue.</li>
								<li>N’utilisez pas le groupe électrogène alors qu’il est sur un véhicule.</li>
								<li>Évitez un endroit exposé aux rayons directs du soleil en mettant le groupe électrogène sur un véhicule. Si le groupe électrogène est laissé pendant de nombreuses heures dans un véhicule fermé, la température élevée a l’intérieur du véhicule peut occasionner la vaporisation de l’essence, entraînant une possible explosion.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Veillez à la securité d’autrui</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">Ne laissez pas s’approcher enfants et animaux du groupe électrogène lorsqu’il est en fonctionnement.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_dc_receptacle"
							data-collapsible-active="false"
							>Utilisation de la prise CD pour charger des batteries de type automobile 12 V seulement</a></span></div>
						<div id="slidedown_dc_receptacle" class="sub_content">
							<ul>
								<li class="first">La prise CD peut être utilisée pour charger une batterie de type automobile de 12 volts seulement.</li>
								<li>En opération CD, tournez le commutateur de papillon ECO vers la position OFF.</li>
								<li>Pour éviter la possibilité d’étincelles à proximité de la batterie :
									<ul>
										<li><strong>Connectez</strong> d’abord le câble de charge au groupe électrogène, puis à la batterie.</li>
										<li><strong>Déconnectez</strong> d’abord le câble de la batterie, et ensuite du groupe électrogène.</li>
									</ul>
								</li>
								<li>Avant de raccorder les câbles à une batterie installée sur un véhicule, déconnectez le câble de la batterie du véhicule mis à la masse. Reconnectez le câble de la batterie du véhicule mis à la masse une fois que les câbles de charge ont été retirés. Cette façon de procéder élimine toute possibilité de courts-circuits et de formation d’étincelles en cas de contact accidentel entre une borne de la batterie et le châssis ou la carrosserie du véhicule.</li>
								<li>Ne tentez pas de démarrer un moteur d’automobile pendant que le groupe électrogène est encore raccordé à la batterie. Le groupe électrogène risquerait d’être endommagé.</li>
								<li>Raccordez la borne positive de la batterie au cable de charge positif. N’inversez pas les câbles de charge, ce qui pourrait causer d’importants dommages au groupe électrogène et (ou) à la batterie.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#general_guide"
							data-collapsible-active="false"
							>GUIDE GÉNÉRAL PRATIQUE</a></span></div>
						<div id="general_guide" class="sub_content">
							<p class="conversion-reminder">GUIDE DE PUISSANCE EN WATTS MOYENNE REQUISE<br/>
								(AMPÈRES X VOLTS = WATTS)</p>
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Appareils ménagers</th>
									<th class="spacer"></th>
									<th>Consommation en watts en fonctionnement</th>
									<th class="spacer"></th>
									<th>Consommation en watts au démarrage</th>
								</tr>
								<tr>
									<td class="item-header">Cafetière</td>
									<td class="spacer"></td>
									<td>1750</td>
									<td class="spacer"></td>
									<td>1750</td>
								</tr>
								<tr>
									<td class="item-header">Lave-vaisselle</td>
									<td class="spacer"></td>
									<td>1450</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">Electric Fry Pan</td>
									<td class="spacer"></td>
									<td>1300</td>
									<td class="spacer"></td>
									<td>1300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Cuisinière électrique</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Élément de 6 pouces</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Élément de 8 pouces</td>
									<td class="spacer"></td>
									<td>2100</td>
									<td class="spacer"></td>
									<td>2100</td>
								</tr>
								<tr>
									<td class="item-header">Four à micro-ondes - 625 watts</td>
									<td class="spacer"></td>
									<td>625</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
								<tr>
									<td class="item-header">Réfrigérateur ou congélateur</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>2200</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Grille-pain</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">2 tranches</td>
									<td class="spacer"></td>
									<td>1050</td>
									<td class="spacer"></td>
									<td>1050</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">4 tranches</td>
									<td class="spacer"></td>
									<td>1650</td>
									<td class="spacer"></td>
									<td>1650</td>
								</tr>
								<tr>
									<td class="item-header">Lave-linge automatique</td>
									<td class="spacer"></td>
									<td>1150</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Séche-linge</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">à gaz</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">électrique</td>
									<td class="spacer"></td>
									<td>5750</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">Déshumidificateur</td>
									<td class="spacer"></td>
									<td>650</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
								<tr>
									<td class="item-header">Couverture électrique (taille grand lit)</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>800</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Ventilateur de chaudière</th>
									<th class="spacer"></th>
									<th>Consommation en watts en fonctionnement</th>
									<th class="spacer"></th>
									<th>Consommation en watts au démarrage</th>
								</tr>
								<tr>
									<td class="item-header">1/8 CV</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">1/6 CV</td>
									<td class="spacer"></td>
									<td>750</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr>
									<td class="item-header">1/4 CV</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">1/3 CV</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1800</td>
								</tr>
								<tr>
									<td class="item-header">1/2 CV</td>
									<td class="spacer"></td>
									<td>1200</td>
									<td class="spacer"></td>
									<td>2500</td>
								</tr>
								<tr>
									<td class="item-header">Sèche-cheveux</td>
									<td class="spacer"></td>
									<td>300-1500</td>
									<td class="spacer"></td>
									<td>300-1500</td>
								</tr>
								<tr>
									<td class="item-header">Fer à repasser</td>
									<td class="spacer"></td>
									<td>1200</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
								<tr>
									<td class="item-header">Ampoules électriques</td>
									<td class="spacer"></td>
									<td>telle qu’indiquée</td>
									<td class="spacer"></td>
									<td>telle qu’indiquée</td>
								</tr>
								<tr>
									<td class="item-header">Poste de radio</td>
									<td class="spacer"></td>
									<td>50-200</td>
									<td class="spacer"></td>
									<td>50-200</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Pompe de puits/puisards</th>
									<th class="spacer"></th>
									<th>Consommation en watts en fonctionnement</th>
									<th class="spacer"></th>
									<th>Consommation en watts au démarrage</th>
								</tr>
								<tr>
									<td class="item-header">1/3 CV</td>
									<td class="spacer"></td>
									<td>750</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr>
									<td class="item-header">1/2 CV</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2100</td>
								</tr>
								<tr>
									<td class="item-header">1 CV</td>
									<td class="spacer"></td>
									<td>2300</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr>
									<td class="item-header">Téléviseur couleur</td>
									<td class="spacer"></td>
									<td>300</td>
									<td class="spacer"></td>
									<td>300</td>
								</tr>
								<tr>
									<td class="item-header">Magnétoscope</td>
									<td class="spacer"></td>
									<td>50</td>
									<td class="spacer"></td>
									<td>50</td>
								</tr>
								<tr>
									<td class="item-header">Ordinateur</td>
									<td class="spacer"></td>
									<td>150</td>
									<td class="spacer"></td>
									<td>150</td>
								</tr>
								<tr>
									<td class="item-header">Modem</td>
									<td class="spacer"></td>
									<td>25</td>
									<td class="spacer"></td>
									<td>25</td>
								</tr>
								<tr>
									<td class="item-header">Imprimante</td>
									<td class="spacer"></td>
									<td>100</td>
									<td class="spacer"></td>
									<td>100</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Aspirateur</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Aspirateur-balai</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Aspirateur-traîneau</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Ouvre-porte de garage</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/4 CV</td>
									<td class="spacer"></td>
									<td>550</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">1/3 CV</td>
									<td class="spacer"></td>
									<td>725</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Climatiseur central</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">10,000 BTU</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>2200</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">20,000 BTU</td>
									<td class="spacer"></td>
									<td>2500</td>
									<td class="spacer"></td>
									<td>3300</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">24,000 BTU</td>
									<td class="spacer"></td>
									<td>3800</td>
									<td class="spacer"></td>
									<td>4950</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">40,000 BTU</td>
									<td class="spacer"></td>
									<td>6000</td>
									<td class="spacer"></td>
									<td>7800</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Entrepreneur</th>
									<th class="spacer"></th>
									<th>Consommation en watts en fonctionnement</th>
									<th class="spacer"></th>
									<th>Consommation en watts au démarrage</th>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Compresseur d’air</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/2 CV</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2000</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1 CV</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1 1/2 CV</td>
									<td class="spacer"></td>
									<td>2200</td>
									<td class="spacer"></td>
									<td>6000</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">2 CV</td>
									<td class="spacer"></td>
									<td>2800</td>
									<td class="spacer"></td>
									<td>7700</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Meuleuse d’établi</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">6-po</td>
									<td class="spacer"></td>
									<td>720</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">8-po</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>2500</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">10-po</td>
									<td class="spacer"></td>
									<td>1600</td>
									<td class="spacer"></td>
									<td>3600</td>
								</tr>
								<tr>
									<td class="item-header">Cultivateur électrique - 1/3 CV</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr>
									<td class="item-header">Taille-haies électrique - 18 po</td>
									<td class="spacer"></td>
									<td>400</td>
									<td class="spacer"></td>
									<td>550</td>
								</tr>
								<tr>
									<td class="item-header">Taille-bordures électrique</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>650</td>
								</tr>
								<tr>
									<td class="item-header">Mélangeur à tambour, 1/4 CV</td>
									<td class="spacer"></td>
									<td>700</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr>
									<td class="item-header">Projecteur d’éclairage au mercure/halogène</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Cireuse</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">16 po, 3/4 CV</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>3100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">20 po, 1 CV</td>
									<td class="spacer"></td>
									<td>1600</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Perceuse à main</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1/4 po</td>
									<td class="spacer"></td>
									<td>350</td>
									<td class="spacer"></td>
									<td>350</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">3/8 po</td>
									<td class="spacer"></td>
									<td>400</td>
									<td class="spacer"></td>
									<td>400</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">1/2 po</td>
									<td class="spacer"></td>
									<td>600</td>
									<td class="spacer"></td>
									<td>600</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Submersible</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">Pompe à eau 400 gpm</td>
									<td class="spacer"></td>
									<td>200</td>
									<td class="spacer"></td>
									<td>400</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">Centrifuge</td>
									<td class="spacer"></td>
									<td>500</td>
									<td class="spacer"></td>
									<td>650</td>
								</tr>
								
								<tr class="item-group first-group">
									<td class="item-header">Aspirateur eaux et poussières</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">1.7 CV</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>900</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">2.5 CV</td>
									<td class="spacer"></td>
									<td>1300</td>
									<td class="spacer"></td>
									<td>1300</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Scies</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">à vis sans fin</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>2600</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">à ruban</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Scie circulaire</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">6 1/2 po</td>
									<td class="spacer"></td>
									<td>800</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">7 1/4 po</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">8 1/4 po</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Scie à chaîne électrique</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">12 po, 1 1/2 CV</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1100</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">14 po, 2 CV</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>1400</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Plateau de sciage</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">9 po</td>
									<td class="spacer"></td>
									<td>1500</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">10 po</td>
									<td class="spacer"></td>
									<td>1800</td>
									<td class="spacer"></td>
									<td>4500</td>
								</tr>
								<tr class="item-group first-group">
									<td class="item-header">Soudeuses électriques</td>
									<td class="spacer"></td>
									<td></td>
									<td class="spacer"></td>
									<td></td>
								</tr>
								<tr class="item-group">
									<td class="item-header">70 amp</td>
									<td class="spacer"></td>
									<td>2800</td>
									<td class="spacer"></td>
									<td>2800</td>
								</tr>
								<tr class="item-group">
									<td class="item-header">100 amp</td>
									<td class="spacer"></td>
									<td>3600</td>
									<td class="spacer"></td>
									<td>3600</td>
								</tr>
								<tr class="item-group last-group">
									<td class="item-header">200 amp</td>
									<td class="spacer"></td>
									<td>9000</td>
									<td class="spacer"></td>
									<td>9000</td>
								</tr>
								<tr>
									<td class="item-header">Marteau Kango</td>
									<td class="spacer"></td>
									<td>900</td>
									<td class="spacer"></td>
									<td>1200</td>
								</tr>
							</table>
							
							<table class="wattage-chart">
								<tr>
									<th class="item-header">Équipement agricole</th>
									<th class="spacer"></th>
									<th>Consommation en watts en fonctionnement</th>
									<th class="spacer"></th>
									<th>Consommation en watts au démarrage</th>
								</tr>
								<tr>
									<td class="item-header">Clôture électrique, 25 milles</td>
									<td class="spacer"></td>
									<td>250</td>
									<td class="spacer"></td>
									<td>250</td>
								</tr>
								<tr>
									<td class="item-header">Dégivreur de réservoir de stockage</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">Tarare</td>
									<td class="spacer"></td>
									<td>650</td>
									<td class="spacer"></td>
									<td>1000</td>
								</tr>
								<tr>
									<td class="item-header">Convoyeur portable, 1/2 CV</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2400</td>
								</tr>
								<tr>
									<td class="item-header">Élévateur de grain, 3/4 CV</td>
									<td class="spacer"></td>
									<td>1400</td>
									<td class="spacer"></td>
									<td>3000</td>
								</tr>
								<tr>
									<td class="item-header">Refroidisseur de lait</td>
									<td class="spacer"></td>
									<td>1100</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
								<tr>
									<td class="item-header">Mélangeur, 3,5 pi<sup>3</sup> - 3/4 CV</td>
									<td class="spacer"></td>
									<td>2800</td>
									<td class="spacer"></td>
									<td>7700</td>
								</tr>
								<tr>
									<td class="item-header">Machine à traire, 2 CV</td>
									<td class="spacer"></td>
									<td>1000</td>
									<td class="spacer"></td>
									<td>2300</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->