<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-snowblowers.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Des souffleuses à neige conçues pour votre sécurité</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Embrayages de propulsion et de tarière séparés &ndash; Sépare la propulsion du soufflage de la neige pour un meilleur contrôle et plus de sécurité.</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Transmission hydrostatique à vitesse variable (sur certains modèles) &ndash; Permet à chacun de déneiger à la vitesse qu’il trouve la plus sûre et confortable.</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Barre de dégagement de la neige &ndash; Permet à l’opérateur de déloger facilement et en toute sécurité la neige coincée dans l’éjecteur.</span>
							</li>
						</ul>
					</div>
					
					<div class="fc content_section">
						<h1>Guide d’utilisation sécuritaire d’une <span>souffleuse à neige</span></h1>
						<div class="fc accordion-controls">
							<a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Agrandir</a>
							<a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Réduire</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>Quelques mots concernant la sécurité</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Votre sécurité et celle des autres sont très importantes.</li>
								<li>Ces renseignements vous informent sur les dangers potentiels pouvant être à l’origine de blessures.</li>
								<li>Bien entendu, il est à toute fin pratique impossible de prévoir tous les dangers potentiels associés au fonctionnement et à l’utilisation de votre souffleuse Honda. Vous devez donc user de bon sens.</li>
								<li>Vous êtes responsable de votre sécurité. Quelques minutes de préparation vous permettront de diminuer considérablement les risques de blessures.</li>
								<li>Lisez et assurez-vous de comprendre le contenu de votre guide d’utilisation.</li>
								<li>Vous devez connaître l’usage et le fonctionnement de chacune des commandes.</li>
								<li>Familiarisez-vous avec votre souffleuse Honda et son fonctionnement avant de l’utiliser.</li>
								<li>Sachez comment arrêter votre souffleuse Honda rapidement en cas d’urgence.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Gardez votre souffleuse en état de fonctionnement sécuritaire</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Inspectez la souffleuse avant de la faire fonctionner.</li>
								<li>Réparez tout dommage et corrigez tout défaut de fonctionnement avant 1’utilisation.</li>
								<li>Ne mettez pas le moteur en marche sans avoir effectué vérifications de contrôle avant l’utilisation. Cette précaution pourrait prévenir des accidents ou des dommages.</li>
								<li>Les souffleuses Honda ont été conçues pour assurer un service sûr et fiable, pourvu qu’on respecte les instructions d’utilisation. Nous vous recommandons de lire et de comprendre les consignes de ce guide d’utilisation avant d’utiliser la souffleuse. L’omission de cette étape pourrait entraîner des blessures et des dommages.</li>
								<li>Si vous heurtez un obstacle pendant le déneigement, arrêtez immédiatement le moteur et vérifiez si la souffleuse a pas subi des dommages. Les dommages au matériel peuvent accroître les risques de blessures pendant le fonctionnement.</li>
								<li>Ne faites jamais tourner le moteur dans un endroit fermé ou confiné. Les gaz d’échappement renferment du monoxyde de carbone qui est un gaz toxique; le fait d’en respirer peut provoquer des évanouissements et entraîner la mort.</li>
								<li>Le silencieux devient très chaud quand la souffleuse fonctionne et il demeure chaud pendant un certain temps après l’arrêt du moteur. Prenez garde de ne pas toucher le silencieux quand il est chaud. Laissez le moteur refroidir avant de ranger la souffleuse à l’intérieur.</li>
								<li>Arrêtez le moteur et laissez-le refroidir avant tout travail d’inspection ou d’entretien.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Veillez à votre sécurité</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Ne faites pas fonctionner la souffleuse quand la visibilité est mauvaise. En effet, dans des conditions de visibilité médiocre, les risques de heurt d’obstacles ou de blessures sont plus grands.</li>
								<li>Pour éviter que la souffleuse ne se renverse, faites attention au moment de changer de direction sur une pente.</li>
								<li>La souffleuse risque de se renverser si on s’en éloigne quand elle se trouve sur une pente raide, ce qui pourrait blesser 1’opérateur ou des personnes alentour.</li>
								<li>N’utilisez pas la souffleuse pour dégager la neige sur un toit.</li>
								<li>N’utilisez jamais la souffleuse pour déblayer la neige d’un chemin ou d’une allée en gravier. Le gravier risquerait d’être projeté et de blesser quelqu’un.</li>
								<li>Pour éviter de renverser la souffleuse, évitez les pentes trop raides qui ne permettent pas une utilisation sécuritaire. Le risque de renversement de la souffleuse est encore plus grand si la surface est instable, mouillée ou inégale.</li>
								<li>L’essence est extrêmement inflammable et explosive dans certaines conditions.</li>
								<li>Ne fumez pas et veillez à ce qu’il n’y ait aucune flamme ou étincelle dans l’endroit où l’on fait le plein de la souffleuse ou là où 1’essence est entreposée.</li>
								<li>Ne remplissez pas trop le réservoir d’essence (il ne doit pas y avoir d’essence dans le goulot de remplissage). Assurez-vous de bien fermer le bouchon de remplissage après avoir fait le plein.</li>
								<li>Faites le plein dans un endroit bien aéré, avec le moteur arrêté.</li>
								<li>Vérifiez la zone attentivement avant de reculer avec la souffleuse ou de travailler en marche arrière.</li>
								<li>Il est important de savoir comment arrêter la souffleuse rapidement et de bien comprendre le fonctionnement de toutes les commandes.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_otherssafety"
							data-collapsible-active="false"
							>Veillez à la securité d’autrui</a></span></div>
						<div id="slidedown_otherssafety" class="sub_content">
							<ul>
								<li class="first">Ne permettez pas aux enfants ou aux animaux de s’approcher de l’aire d’utilisation afin d’éviter toute blessure provoquée par la projection de débris ou un contact avec la souffleuse.</li>
								<li>Avant d’utiliser la souffleuse, vérifiez la zone à déblayer. Enlevez tous les débris et les obstacles pouvant être heurtés ou projetés par la souffleuse afin de ne pas risquer de blesser quelqu’un et de ne pas endommager la souffleuse.</li>
								<li>N’utilisez jamais la souffleuse pour déblayer la neige d’un chemin ou d’une allée en gravier. Le gravier risquerait d’être projeté et de blesser quelqu’un.</li>
								<li>Réglez le conduit d’éjection de sorte que la neige ne soit pas projetée vers l’opérateur, d’autres personnes alentour, des fenêtres ou d’autres objets. Tenez-vous à distance du conduit éjection de neige lorsque le moteur tourne.</li>
								<li>Ne permettez jamais à quelqu’un d’utiliser la souffleuse sans instruction adéquate. Si des gens ou des animaux apparaissent soudainement devant la souffleuse pendant son utilisation, relâchez immédiatement les leviers d’embrayage d’entraînement et de goulotte pour arrêter la souffleuse et éviter toute possibilité de blessure provoquée par les lames de goulotte rotative.</li>
								<li>Si le conduit d’éjection de neige se bloque, arrêtez le moteur et utilisez une barre pour faire tomber la neige ou un bâton en bois pour le débloquer.</li>
								<li>Pour votre sécurité et celle des autres, n’utilisez pas la souffleuse dans 1’obscurité si elle n’est pas munie d’un phare.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Message important à l’intention des parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>La sécurité de vos enfants est primordiale.</strong>
									<ul>
										<li>Une souffleuse est un outil et non un jouet. Comme pour tout autre appareil, une utilisation irresponsable peut être la cause d’accidents graves.</li>
										<li>Vous pouvez prévenir de tels accidents en prenant des décisions bien réfléchies à savoir si, quand et comment votre enfant pourra utiliser votre souffleuse Honda.</li>
									</ul>
								</li>
								<li><strong>L’âge n’est pas le seul facteur déterminant.</strong>
									<ul>
										<li>La première question que vous devriez vous poser consiste à savoir si votre enfant est capable d’utiliser votre souffleuse en toute sécurité.</li>
										<li>Sur le plan physique, un enfant doit être ASSEZ FORT ET ASSEZ GRAND pour pouvoir démarrer et diriger la souffleuse sans difficulté.</li>
										<li>Votre enfant doit également être assez grand et avoir suffisamment de force et de coordination pour pouvoir accéder aux commandes et les actionner aisément.</li>
									</ul>
								</li>
								<li><strong>La maturité et le sens des responsabilités</strong>
									<ul>
										<li>Toute personne qui a tendance à prendre des risques inutiles ou à ne pas respecter les règles ne devrait pas utiliser votre souffleuse.</li>
									</ul>
								</li>
								<li><strong>Lisez le guide d’utilisation attentivement avec votre enfant.</strong>
									<ul>
										<li>Veillez aussi à ce qu’il porte des bottes robustes et de chauds vêtements le protégeant suffisamment lorsqu’il utilise ou manipule la souffleuse.</li>
									</ul>
								</li>
								<li><strong>Surveillance d’un adulte</strong>
									<ul>
										<li>Marchez avec votre enfant lors des premières minutes d’utilisation.</li>
										<li>Un adulte devrait toujours être présent lors du remplissage du réservoir ou de l’entretien.</li>
										<li>Il appartient en fait à l’adulte de veiller à l’entretien adéquat et au bon état de fonctionnement de la souffleuse Honda.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Utilisateur occasionnel</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Avant de demander à qui que ce soit d’utiliser votre souffleuse, vous devez vous assurer que la personne en question soit suffisamment âgée, grande et forte pour la manipuler et la contrôler de manière sécuritaire.</li>
								<li>Si vous jugez que c’est le cas, assurez-vous que l’utilisateur occasionnel ait bien lu et compris toutes les directives et tous les avertissements contenus dans le guide d’utilisation et sur les étiquettes avant d’utiliser votre souffleuse Honda.</li>
								<li>Assurez-vous qu’il dispose d’une période de formation pratique suffisante et surveillez-le personnellement les premières fois qu’il utilise votre souffleuse jusqu’à ce que vous soyez certain que l’utilisateur occasionnel soit prêt à l’utiliser seul.</li>
								<li>Assurez-vous également que l’utilisateur occasionnel porte des vêtements adéquats, des lunettes de sécurité et tout autre accessoire requis par les ordonnances locales ou par votre assureur.</li>
								<li>N’oubliez pas que vous êtes responsable de l’état de fonctionnement sécuritaire et de l’entretien adéquat de votre souffleuse Honda.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->