<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-trimmers.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Des taille-bordures/broussailles conçus pour votre sécurité</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Système de zone de sécurité &ndash; Pour que l’appareil démarre, les deux gâchettes doivent être enfoncées, ce qui réduit la possibilité d’un démarrage accidentel.</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Fonctionnement ultra silencieux &ndash; Nos taille-bordures/broussailles sont à 4 temps, donc ils sont plus silencieux que les modèles à 2 temps, et ils emploient en plus du fil de coupe QuietLine<sup>MC</sup> qui réduit encore leur niveau sonore de 5dB. Moins dommageable pour l’ouïe.</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Protège-lame &ndash; En outre, toute lame incluse ou accessoire est aussi équipée d’un protège-lame.</span>
							</li>
						</ul>
					</div>
					
					<div class="fc content_section">
						<h1>Guide d’utilisation sécuritaire d’un <span>taille-bordures/broussailles</span></h1>
						<div class="fc accordion-controls">
							<a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Agrandir</a>
							<a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Réduire</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>Quelques mots concernant la sécurité</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Votre sécurité et celle des autres sont très importantes.</li>
								<li>Ces renseignements vous informent sur les dangers potentiels pouvant être à l’origine de blessures.</li>
								<li>Bien entendu, il est à toute fin pratique impossible de prévoir tous les dangers potentiels associés au fonctionnement et à l’utilisation de votre taille-bordure Honda. Vous devez donc user de bon sens.</li>
								<li>Vous êtes responsable de votre sécurité. Quelques minutes de préparation vous permettront de diminuer considérablement les risques de blessures.</li>
								<li>Lisez et assurez-vous de comprendre le contenu de votre guide d’utilisation.</li>
								<li>Vous devez connaître l’usage et le fonctionnement de chacune des commandes.</li>
								<li>Familiarisez-vous avec votre taille-bordure Honda et son fonctionnement avant de l’utiliser.</li>
								<li>Sachez comment arrêter votre taille-bordure Honda rapidement en cas d’urgence.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Gardez votre taille-bordure en état de fonctionnement sécuritaire</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Les taille-bordure/broussailles Honda ont été conçus pour couper le gazon, les mauvaises herbes, les broussailles et (ou) le bois à la condition d’utiliser l’accessoire de coupe adéquat. Tout autre usage risque de blesser l’utilisateur, d’endommager le taille-bordure et d’autres biens.</li>
								<li>Coupez toujours le moteur lorsque vous arrêtez de travailler avec le taille-bordure, même brièvement, par exemple pour nettoyer l’accessoire de coupe.</li>
								<li>Lisez ce guide d’utilisation avant d’utiliser le taille-bordure afin de comprendre le fonctionnement de ses commandes, et respectez tous les avertissements.</li>
								<li>Examinez l’accessoire de coupe afin de vous assurer qu’il ne présente pas de jeu, de fissure, de pièce cassée ou d’usure excessive. Avant d’utiliser le taille-bordure, effectuez les serrages et les remplacements requis.</li>
								<li>Avant chaque utilisation, effectuez toujours une inspection préliminaire et corrigez tous les problèmes.</li>
								<li>Un mauvais assemblage peut créer des conditions dangereuses et risque d’entraîner de graves blessures ou la mort. Respectez soigneusement les procédures et les mesures de sécurité des instructions d’assemblage.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Veillez à votre sécurité</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Les blessures les plus fréquentes associées à l’utilisation d’un taille-bordure à fil sont des blessures oculaires dues à la projection de débris. Lorsque vous utilisez le taille-bordure, portez toujours un masque ou des lunettes de sécurité conformes à la norme ANSI Z87.1.</li>
								<li>L’utilisateur du taille-bordure doit porter des protecteurs d’oreilles afin de protéger son ouïe.</li>
								<li>Le port de vêtements protecteurs permet aussi de réduire le risque et la gravité des blessures pouvant résulter de la projection de débris ou d’un contact avec l’accessoire de coupe. Utilisez le harnais du taille-bordure et portez des gants, une chemise à manches longues, un pantalon ainsi que des bottes résistantes à semelles antidérapantes. Une fois encore, protegez vos yeux.</li>
								<li>Une lame de coupe en rotation peut couper les vêtements et la peau tout aussi facilement que l’herbe et la terre. Maintenez l’accessoire de coupe en rotation éloigné de toute partie du corps.</li>
								<li>Après l’arrêt du moteur, l’accessoire de coupe continue à tourner pendant quelques secondes. Ne le touchez pas tant qu’il ne s’est pas immobilisé, car vous risqueriez de vous couper.</li>
								<li>L’essence est extrêmement inflammable et explosive.</li>
								<li>La manipulation de l’essence comporte des risques de brûlures ou de graves blessures.</li>
								<li>Arrêtez le moteur et gardez le taille-bordure à l’écart de toute étincelle, flamme ou source de chaleur.</li>
								<li>Ne manipulez l’essence qu’à l’extérieur. Nettoyez immédiatement tout déversement d’essence.</li>
								<li>Déplacez-vous à au moins 10 pieds (3 mètres) de la source et du lieu de ravitaillement avant de démarrer le moteur.</li>
								<li>Utilisez toujours le taille-bordure avec son harnais. Le harnais sert à maintenir le taille-bordure éloigné de votre corps et donc à réduire le risque de vous couper avec sa lame ou son fil de coupe.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Veillez à la securité d’autrui</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">Ces taille-bordure Honda sont destinés aux jardiniers professionnels. Ne permettez jamais à des enfants les utiliser.</li>
								<li>La plupart des accidents peuvent être évités en suivant toutes les instructions présentées dans ce guide d’utilisation et sur le taille-bordure.</li>
								<li>Pour éviter de blesser d’autres personnes, ne laissez personne s’approcher à moins de 15 mètres (50 pieds) du taille-bordure pendant son utilisation.</li>
								<li>Les objets projetés par le taille-bordure peuvent infliger de graves blessures. Avant d’utiliser le taille-bordure, inspectez attentivement la zone de travail et retirez tout morceau de verre, fil et autre objet.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_modifications"
							data-collapsible-active="false"
							>Accessoires et modifications</a></span></div>
						<div id="slidedown_modifications" class="sub_content">
							<ul>
								<li class="first"><strong>Accessoires</strong>
									<ul>
										<li>Les accessoires autres que ceux de Honda sont généralement conçus pour des applications universelles.</li>
										<li>Même si des accessoires du commerce s’adaptent à votre taille-bordure, ils ne répondent pas nécessairement aux spécifications d’usine et risquent de rendre le taille-bordure dangereux.</li>
									</ul>
								</li>
								<li><strong>Modifications</strong>
									<ul>
										<li>Ne retirez pas le carter pare-débris et ne modifiez le taille-bordure d’aucune façon qui changerait sa conception ou son fonctionnement. Cela pourrait le rendre dangereux.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Message important à l’intention des parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>La sécurité de vos enfants est primordiale.</strong>
									<ul>
										<li>Un taille-bordure est un outil et non un jouet. Comme pour tout autre appareil, une utilisation irresponsable peut être la cause d’accidents graves.</li>
										<li>Vous pouvez prévenir de tels accidents en prenant des décisions bien réfléchies à savoir si, quand et comment votre enfant pourra utiliser votre taille-bordure Honda.</li>
									</ul>
								</li>
								<li><strong>L’âge n’est pas le seul facteur déterminant.</strong>
									<ul>
										<li>La première question que vous devriez vous poser consiste à savoir si votre enfant est capable d’utiliser votre taille-bordure en toute sécurité.</li>
										<li>Sur le plan physique, un enfant doit être ASSEZ FORT ET ASSEZ GRAND pour pouvoir démarrer et diriger le taille-bordure sans difficulté.</li>
										<li>Votre enfant doit également être assez grand et avoir suffisamment de force et de coordination pour pouvoir accéder aux commandes et les actionner aisément.</li>
									</ul>
								</li>
								<li><strong>La maturité et le sens des responsabilités.</strong>
									<ul>
										<li>Toute personne qui a tendance à prendre des risques inutiles ou à ne pas respecter les règles ne devrait pas utiliser votre taille-bordure.</li>
									</ul>
								</li>
								<li><strong>Lisez le guide d’utilisation attentivement avec votre enfant.</strong>
									<ul>
										<li>Veillez aussi à ce qu’il porte des chaussures robustes et des vêtements le protégeant suffisamment lorsqu’il utilise ou manipule le taille-bordure.</li>
									</ul>
								</li>
								<li><strong>Surveillance d’un adulte</strong>
									<ul>
										<li>Marchez avec votre enfant lors des premières minutes d’utilisation.</li>
										<li>Un adulte devrait toujours être présent lors du remplissage du réservoir ou de l’entretien.</li>
										<li>Il appartient en fait à l’adulte de veiller à l’entretien adéquat et au bon état de fonctionnement du taille-bordure.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Utilisateur occasionnel</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Avant de demander à qui que ce soit d’utiliser votre taille-bordure/broussailles, vous devez vous assurer que la personne en question soit suffisamment âgée, grande et forte pour le manipuler et le contrôler de manière sécuritaire.</li>
								<li>Si vous jugez que c’est le cas, assurez-vous que l’utilisateur occasionnel ait bien lu et compris toutes les directives et tous les avertissements contenus dans le guide d’utilisation et sur les étiquettes avant d’utiliser le taille-bordure/broussailles.</li>
								<li>Assurez-vous qu’il dispose d’une période de formation pratique suffisante et surveillez-le personnellement les premières fois qu’il utilise votre taille-bordure/broussailles jusqu’à ce que vous soyez certain que l’utilisateur occasionnel soit prêt à l’utiliser seul.</li>
								<li>Assurez-vous également que l’utilisateur occasionnel porte des vêtements adéquats, des lunettes de sécurité, des protecteurs d’oreilles et tout autre accessoire requis par les ordonnances locales ou par votre assureur.</li>
								<li>N’oubliez pas que vous êtes responsable de l’état de fonctionnement sécuritaire et de l’entretien adéquat de votre taille-bordure/broussailles.</li>
								<li>En faisant respecter les consignes de sécurité, vous contribuez à prévenir les accidents tout en vous garantissant des années de service plus nombreuses et plus productives.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->