<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-overview.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/pe/inc/fr/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety-fr.png" alt="Sécurité" /></p>
					</div>
					<div class="content_section">
						<h1>Safety Guidelines <span>Overview</span></h1>
						<h2>Renseignements sur l’entretien des produits mécaniques en vue de la sécurité</h2>
						<div class="grouped">
							<p>Avant d’utiliser un produit mécanique, vous devriez effectuer une inspection de routine pour vérifier que ses principaux composants n’ont pas subi de dommages. Si vous voyez le moindre signe de dommages, contactez votre concessionnaire Honda autorisé pour obtenir de l’aide.</p>
							<p>Si vous utilisez votre produit mécanique pour la première fois, nous vous recommandons de lire votre manuel du propriétaire. Même si vous avez déjà utilisé une machine semblable, prenez le temps de vous familiariser avec les commandes et le maniement de votre unité.</p>
						</div>
						
						<dl class="fc safety-products">
							<dd class="fl first">
								<a href="/safety/generators/fr">
									<span class="image"><img src="/_Global/img/content/safety/overview_generators.jpg" alt="Génératrice" /></span>
									<span>Génératrice</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/safety/lawnmowers/fr">
									<span class="image"><img src="/_Global/img/content/safety/overview_lawnmowers.jpg" alt="Tondeuses" /></span>
									<span>Tondeuses</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/safety/snowblowers/fr">
									<span class="image"><img src="/_Global/img/content/safety/overview_snowblowers.jpg" alt="Souffleuse à neige" /></span>
									<span>Souffleuse à neige</span>
								</a>
							</dd>
							<dd class="fl first">
								<a href="/safety/tillers/fr">
									<span class="image"><img src="/_Global/img/content/safety/overview_tillers.jpg" alt="Motoculteur" /></span>
									<span>Motoculteur</span>
								</a>
							</dd>
							<dd class="fl">
								<a href="/safety/trimmers/fr">
									<span class="image"><img src="/_Global/img/content/safety/overview_trimmers.jpg" alt="Taille-bordures" /></span>
									<span>Taille-bordures</span>
								</a>
							</dd>
						</dl>
					</div>
					<div class="content_section">
						<h2>Entretien et sécurité</h2>
						<div class="grouped">
							<p>Pour entretenir votre produit mécanique adéquatement, suivez le calendrier d’entretien qui se trouve dans votre manuel du propriétaire; on y trouve une procédure d’inspection de routine simple et des procédures d’entretien élémentaires qu’on accomplit à l’aide d’outils manuels ordinaires. Certains autres entretiens sont plus complexes ou exigent des outils spéciaux; il est préférable de laisser de tels entretiens à un technicien formé par Honda qui travaille chez votre concessionnaire Honda autorisé.</p>
							<p>L’entretien de votre produit mécanique selon les indications de votre manuel du propriétaire est une des précautions de sécurité les plus importantes qui soient. Nous vous recommandons de confier à votre concessionnaire Honda autorisé tout l’entretien requis de votre produit mécanique. Cependant, si vous décidez d’effectuer vous-même une partie de l’entretien, votre concessionnaire Honda offre toute la gamme des pièces Honda d'origine dont vous aurez besoin.</p>
							<p>Assurez-vous toujours que le moteur est arrêté avant de débuter un entretien ou une réparation. Vous éliminerez ainsi plusieurs dangers potentiels :</p>
							
							<ul class="red-check">
								<li><span>Empoisonnement au monoxyde de carbone contenu dans l’échappement. Si vous devez faire fonctionner le moteur, assurez-vous que la ventilation est suffisante.</span></li>
								<li><span>Brûlures sur des pièces chaudes. Laissez le moteur et le système d’échappement refroidir avant de les toucher.</span></li>
								<li><span>Blessures causées par des pièces en mouvement. Ne faites pas tourner le moteur à moins que la procédure vous demande de le faire.</span></li>
							</ul>
							
							<p>Lisez toutes les instructions avant de débuter, et soyez prudent lorsque vous travaillez avec de l’essence. Utilisez uniquement un solvant ininflammable (et non de l’essence) pour nettoyer des pièces. Tenez les composants associés à l’essence loin de toute étincelle ou flamme.</p>
							<p>Le calendrier d’entretien que contient votre manuel du propriétaire est valide pour des conditions d’utilisation normales. Si vous utilisez votre produit mécanique dans des conditions difficiles, comme sous une charge ou une température élevée constante, ou bien dans un environnement très humide ou très poussiéreux, consultez votre concessionnaire Honda pour obtenir des recommandations qui s’appliquent à vos besoins et à votre utilisation particuliers.</p>
							<p>N’oubliez pas que le concessionnaire Honda autorisé qui fait l’entretien de votre produit mécanique est celui qui le connaît le mieux et qui est le mieux équipé pour l’entretenir et le réparer.</p>
							<p>Pour optimiser le rendement et la fiabilité de votre unité, utilisez uniquement des pièces et des produits chimiques Honda d’origine.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->