<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-tillers.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Des motoculteurs conçus pour votre sécurité</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Système de zone de sécurité</span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Arrêt automatique du moteur ou des fourchons lorsqu’on lâche les poignées.</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Système rotatif actif (ARS<sup>MC</sup>) offert sur le FR650C &ndash; Deux jeux de fourchons à rotation inverse qui permettent un meilleur contrôle en réduisant les soubresauts du mouvement vers l’avant.</span>
							</li>
						</ul>
					</div>
					
					<div class="fc content_section">
						<h1>Guide d’utilisation sécuritaire d’un <span>motoculteur</span></h1>
						<div class="fc accordion-controls">
							<a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Agrandir</a>
							<a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Réduire</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>Quelques mots concernant la sécurité</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Votre sécurité et celle des autres sont très importantes.</li>
								<li>Ces renseignements vous informent sur les dangers potentiels pouvant être à l’origine de blessures.</li>
								<li>Bien entendu, il est à toute fin pratique impossible de prévoir tous les dangers potentiels associés au fonctionnement et à l’utilisation de votre motoculteur Honda. Vous devez donc user de bon sens.</li>
								<li>Vous êtes responsable de votre sécurité. Quelques minutes de préparation vous permettront de diminuer considérablement les risques de blessures.</li>
								<li>Lisez et assurez-vous de comprendre le contenu de votre guide d’utilisation.</li>
								<li>Vous devez connaître l’usage et le fonctionnement de chacune des commandes.</li>
								<li>Familiarisez-vous avec votre motoculteur Honda et son fonctionnement avant de l’utiliser.</li>
								<li>Sachez comment arrêter votre motoculteur Honda rapidement en cas d’urgence.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Gardez votre motoculteur honda en état de fonctionnement sécuritaire</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Maintenez le motoculteur en bon état de fonctionnement. L’utilisation d’un motoculteur en mauvais état peut entraîner de graves blessures.</li>
								<li>Inspectez toujours le motoculteur avant chaque utilisation et corrigez tout problème.</li>
								<li>Assurez-vous que les carters de sécurité (caches des outils rotatifs, carter de ventilateur et capot du lanceur) soient bien en place.</li>
								<li>Assurez-vous que le moteur soit à l’arrêt avant toute activité d’entretien ou de réparation sur le motoculteur. Cette précaution permettra d’éliminer plusieurs dangers potentiels, tels que l’empoisonnement au monoxyde de carbone de l’échappement du moteur, des brûlures dues aux parties chaudes et des blessures dues aux pièces mobiles.</li>
								<li>Lisez le guide d’utilisation attentivement. Familiarisez-vous avec les commandes du motoculteur et leur utilisation appropriée.</li>
								<li>Utilisez le motoculteur uniquement dans le but proposé, c’est-à-dire, le travail du sol. Tout autre usage pourrait s’avérer dangereux ou endommager le matériel. Notamment, ne l’utilisez jamais pour cultiver un sol contenant des roches, des cailloux, des câbles ou d’autres matières dures.</li>
								<li>Avant chaque utilisation, vérifiez 1’état du motoculteur, y compris 1’usure, l’endommagement et le desserrement des pièces. Remplacez au besoin les pièces endommagées.</li>
								<li>Mettez le moteur soigneusement en marche en suivant les instructions de ce guide d’utilisation, en gardant les pieds éloignes des dents rotatives.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Veillez à votre sécurité</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Sachez comment arrêter le moteur et les dents rotatives rapidement en cas d’urgence. Comprenez 1’utilisation de toutes les commandes. Gardez les deux mains fermement sur les mancherons. Les mancherons peuvent avoir tendance à lever pendant l’embrayage.</li>
								<li>Gardez les mains et les pieds éloignés des dents rotatives lorsque le moteur est en marche.</li>
								<li>Protégez vos pieds en portant des chaussures ou des bottes couvrantes robustes. L’utilisation du motoculteur pieds nus ou avec des chaussures ouvertes ou des sandales augmente les risques de blessures.</li>
								<li>Portez des vêtements appropriés. Des vêtements trop lâches risquent d’être happés dans les pièces mobiles et d’entraîner des blessures.</li>
								<li>Soyez vigilant. L’utilisation du motoculteur lorsqu’on est fatigué, malade ou sous 1’influence de 1’alcool ou de médicaments peut entraîner de graves blessures.</li>
								<li>Éviter d’utiliser le motoculteur dans la noirceur, par mauvais temps ou dans des conditions de mauvaise visibilité, vu le grand risque d’accident.</li>
								<li>Marchez pendant l’utilisation; ne courez jamais.</li>
								<li>Si vous devez reculer pendant l’utilisation, faites particulièrement attention aux personnes et aux obstacles situés derrière vous.</li>
								<li>Ne remisez jamais le motoculteur avec de 1’essence dans le réservoir à l’intérieur d’un bâtiment où des vapeurs d’essence pourraient atteindre une flamme ouverte, une étincelle ou une source de température élevée.</li>
								<li>Laissez le moteur refroidir avant de remiser le motoculteur dans un endroit clos.</li>
								<li>Déplacez-vous à au moins 10 pieds (3 mètres) de la source et du lieu de ravitaillement avant de démarrer le moteur.</li>
								<li>Faites le plein à l’extérieur ou dans un endroit bien aéré en prenant soin de couper le moteur. Ne fumez jamais à proximité de l’essence et conservez celle-ci à bonne distance des flammes et des étincelles. Rangez toujours l’essence dans un contenant approprié.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Veillez à la securité d’autrui</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first">Gardez les enfants à l’intérieur et les surveiller constamment pendant qu’un appareil mécanique est utilise à proximité.</li>
								<li>Assurez-vous que personne ne se trouve à proximité, en particulier les enfants et les animaux domestiques. Gardez les enfants, les personnes aux alentours et les animaux domestiques à au moins 50 pieds (15 mètres) de l’endroit où le motoculteur sera utilisé.</li>
								<li>Si quelqu’un s’approche pendant que vous faites fonctionner le motoculteur, relâchez le levier des gaz et arrêtez le moteur.</li>
								<li>Ne permettez jamais à des enfants ou à des personnes qui n’ont pas pris connaissance de ce guide d’utilisation d’utiliser le motoculteur. Le fait de laisser une personne utiliser ce motoculteur sans instruction appropriée peut entraîner des blessures.</li>
								<li>Notez bien que le propriétaire ou 1’utilisateur est responsable en cas d’accident ou de dommages survenant aux autres personnes ou à leurs biens.</li>
								<li>Dans le cas d’une utilisation en location, veillez à ce que toutes les explications de fonctionnement requises soient données en présence de l’utilisateur.</li>
								<li>Ne laissez pas des personnes ou des animaux s’approcher de la zone ou vous travaillez.</li>
								<li>Pour réduire les risques d’incendie, garder le motoculteur, surtout le moteur, le silencieux et la zone d’entreposage de l’essence, exempts d’herbes, de feuilles ou de graisse excessive.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Message important à l’intention des parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>La sécurité de vos enfants est primordiale.</strong>
									<ul>
										<li>Un motoculteur est un outil, et non un jouet. Comme pour tout autre appareil, une utilisation irresponsable peut être la cause d’accidents graves.</li>
										<li>Vous pouvez prévenir de tels accidents en prenant des décisions bien réfléchies à savoir si, quand et comment votre enfant pourra utiliser votre motoculteur.</li>
									</ul>
								</li>
								<li><strong>L’âge n’est pas le seul facteur déterminant.</strong>
									<ul>
										<li>La première question que vous devriez vous poser consiste à savoir si votre enfant est capable d’utiliser votre motoculteur en toute sécurité.</li>
										<li>Sur le plan physique, un enfant doit être ASSEZ FORT ET ASSEZ GRAND pour pouvoir démarrer et diriger le motoculteur sans difficulté.</li>
										<li>Votre enfant doit également être assez grand et avoir suffisamment de force et de coordination pour pouvoir accéder aux commandes et les actionner aisément.</li>
									</ul>
								</li>
								<li><strong>La maturité et le sens des responsabilités</strong>
									<ul>
										<li>Toute personne qui a tendance à prendre des risques inutiles ou à ne pas respecter les règles ne devrait pas utiliser votre motoculteur.</li>
									</ul>
								</li>
								<li><strong>Lisez le guide d’utilisation attentivement avec votre enfant.</strong>
									<ul>
										<li>Veillez aussi à ce qu’il porte des chaussures ou des bottes robustes et des vêtements le protégeant suffisamment lorsqu’il utilise ou manipule votre motoculteur.</li>
									</ul>
								</li>
								<li><strong>Surveillance d’un adulte</strong>
									<ul>
										<li>Marchez avec votre enfant lors des premières minutes d’utilisation.</li>
										<li>Un adulte devrait toujours être présent lors du remplissage du réservoir ou de l’entretien.</li>
										<li>Il appartient en fait à l’adulte de veiller à l’entretien adéquat et au bon état de fonctionnement du motoculteur Honda.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Utilisateur occasionnel</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Vous avez des responsabilités particulières vis-à-vis des personnes auxquelles vous prêtez votre motoculteur.</li>
								<li>Avant de demander à qui que ce soit d’utiliser votre motoculteur, vous devez vous assurer que la personne en question soit suffisamment âgée, grande et forte pour le manipuler et le contrôler de manière sécuritaire.</li>
								<li>Si vous jugez que c’est le cas, assurez-vous que l’utilisateur occasionnel ait bien lu et compris toutes les directives et tous les avertissements contenus dans le guide d’utilisation et sur les étiquettes avant d’utiliser votre motoculteur.</li>
								<li>Assurez-vous qu’il dispose d’une période de formation pratique suffisante et surveillez-le personnellement les premières fois qu’il utilise votre motoculteur jusqu’à ce que vous soyez certain que l’utilisateur occasionnel soit prêt à l’utiliser seul.</li>
								<li>Assurez-vous également que l’utilisateur occasionnel porte des vêtements adéquats, des lunettes de sécurité et tout autre accessoire requis par les ordonnances locales ou par votre assureur.</li>
								<li>N’oubliez pas que vous êtes responsable de l’état de fonctionnement sécuritaire et de l’entretien adéquat de votre motoculteur.</li>
								<li>En faisant respecter les consignes de sécurité, vous contribuez à prévenir les accidents tout en vous garantissant des années de service plus nombreuses et plus productives.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->