<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: safety-lawnmowers.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
    <link rel="stylesheet" href="/_Global/css/edit.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<div class="h1">Des tondeuses conçues pour votre sécurité</div>
						<ul class="circled-number">
							<li class="fc pf">
								<span class="counter">1</span>
								<span class="circled-number-content">Système de frein de lame RotoStop<sup>MC</sup></span>
							</li>
							<li class="fc pf">
								<span class="counter">2</span>
								<span class="circled-number-content">Système de zone de sécurité</span>
							</li>
							<li class="fc pf">
								<span class="counter">3</span>
								<span class="circled-number-content">Transmission à vitesse variable (permet à chacun de tondre le gazon à la vitesse qu’il trouve la plus sûre et confortable)</span>
							</li>
						</ul>
					</div>
					
					<div class="fc content_section">
						<h1>Guide d’utilisation sécuritaire d’une <span>tondeuse</span></h1>
						<div class="fc accordion-controls">
							<a href="javascript:void(0)" property="act:collapsible-expand" class="fr expand">Agrandir</a>
							<a href="javascript:void(0)" property="act:collapsible-collapse" class="fr collapse">Réduire</a>
						</div>
					</div>
					
					<div class="nb content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_few_words"
							data-collapsible-active="true"
							>Quelques mots concernant la sécurité</a></span></div>
						<div id="slidedown_few_words" class="sub_content">
							<ul>
								<li class="first">Votre sécurité et celle des autres sont très importantes.</li>
								<li>Ces renseignements vous informent sur les dangers potentiels pouvant être à l’origine de blessures.</li>
								<li>Bien entendu, il est à toute fin pratique impossible de prévoir tous les dangers potentiels associés au fonctionnement et à l’utilisation de votre tondeuse Honda. Vous devez donc user de bon sens.</li>
								<li>Vous êtes responsable de votre sécurité. Quelques minutes de préparation vous permettront de diminuer considérablement les risques de blessures.</li>
								<li>Lisez et assurez-vous de comprendre le contenu de votre guide d’utilisation.</li>
								<li>Vous devez connaître l’usage et le fonctionnement de chacune des commandes.</li>
								<li>Familiarisez-vous avec votre tondeuse Honda et son fonctionnement avant de l’utiliser.</li>
								<li>Sachez comment arrêter votre tondeuse Honda rapidement en cas d’urgence.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_operating_condition"
							data-collapsible-active="false"
							>Gardez votre tondeuse en état de fonctionnement sécuritaire</a></span></div>
						<div id="slidedown_operating_condition" class="sub_content">
							<ul>
								<li class="first">Vérifiez toujours l’état de votre tondeuse avant chaque utilisation</li>
								<li><strong>Entretien et réparations sécuritaires</strong>
									<ul>
										<li>Le tuyau d’échappement émet du monoxyde de carbone; s’assurer de faire fonctionner la tondeuse dans un endroit bien aéré.</li>
										<li>Les parties chaudes peuvent provoquer des brûlures; laisser le moteur et le système d’échappement refroidir avant de les toucher.</li>
										<li>Les pièces mobiles peuvent provoquer des blessures; s’assurer que le moteur est à l’arrêt avant de procéder à un entretien ou à une réparation sur la tondeuse.</li>
									</ul>
								</li>
								<li><strong>Chargement de la batterie</strong> (HRX2172HMC seulement)
									<ul>
										<li>Recharger la batterie dans un endroit sec et bien aéré où la température y est modérée.</li>
										<li>La batterie risque d’exploser si la procédure adéquate n’est pas suivie, ce qui pourrait gravement blesser quiconque est à proximité.</li>
										<li>Tenez toutes étincelles, flammes nues et sources chaudes éloignées de la batterie.</li>
										<li>Les bornes et les têtes de batterie ainsi que les accessoires connexes contiennent du plomb. <em>Lavez-vous les mains après les avoir manipulés</em>.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_keep_safe"
							data-collapsible-active="false"
							>Veillez à votre sécurité</a></span></div>
						<div id="slidedown_keep_safe" class="sub_content">
							<ul>
								<li class="first">Il est important de savoir comment arrêter la tondeuse rapidement et de bien comprendre le fonctionnement de toutes les commandes.</li>
								<li><strong>Evitez tout contact avec les lames rotatives</strong>
									<ul>
										<li>Les lames rotatives de la tondeuse peuvent causer de graves coupures allant jusqu’à l’amputation des doigts, des mains, des orteils et même des pieds.</li>
										<li>Restez à bonne distance du carter de lame lorsque le moteur est en marche.</li>
										<li>Si vous devez régler la hauteur de coupe ou effectuer des travaux sur le carter de lame pour une raison ou pour une autre, coupez toujours le moteur.</li>
										<li>Portez des gants épais et débranchez le capuchon de la bougie d’allumage lorsque vous devez nettoyer le carter de lame ou manipuler les lames rotatives.</li>
									</ul>
								</li>
								<li><strong>Laissez les protecteurs en place</strong>
									<ul>
										<li>Les écrans protecteurs et les boucliers ont été conçus pour vous éviter d’être heurté par des objets projetés par la tondeuse et pour vous protéger des pièces chaudes et en mouvement du moteur.</li>
									</ul>
								</li>
								<li><strong>Portez des vêtements protecteurs</strong>
									<ul>
										<li>Le port de vêtements appropriés réduira les risques de blessure.</li>
										<li>Un pantalon long et des lunettes de protection permettent de réduire les risques de blessures causées par des objets projetés.</li>
										<li>Des chaussures robustes dotées de semelles épaisses protégeront vos pieds et offriront une meilleure adhérence dans les pentes et sur les surfaces inégales.</li>
									</ul>
								</li>
								<li><strong>Faites le plein de façon sécuritaire</strong>
									<ul>
										<li>L’essence et les vapeurs d’essence sont extrêmement inflammables et explosives.</li>
										<li>Pour nettoyer les pièces, utilisez toujours des produits de nettoyage non inflammables.</li>
										<li>Faites le plein à l’extérieur ou dans un endroit bien aéré en prenant soin de couper le moteur (position OFF).</li>
										<li>Ne fumez jamais près de l’essence, et tenez les toute flamme ou étincelle à l’écart.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_others_safety"
							data-collapsible-active="false"
							>Veillez à la securité d’autrui</a></span></div>
						<div id="slidedown_others_safety" class="sub_content">
							<ul>
								<li class="first"><strong>Vérifiez et nettoyez la zone de coupe</strong>
									<ul>
										<li>Inspectez toujours l’endroit à tondre avant l’utilisation de la tondeuse.</li>
										<li>Déterminez l’état du gazon. Réglez la vitesse de la tondeuse et la largeur de coupe en conséquence.</li>
										<li>Les lames de la tondeuse peuvent projeter des pierres et d’autres objets avec une force suffisante pour causer de graves blessures.</li>
										<li>Retirez tout objet gênant comme des bâtons, des pierres, des bouts de fil, des clous, de la corde et d’autres débris.</li>
										<li>N’utilisez jamais la tondeuse sur du gravier.</li>
									</ul>
								</li>
								<li><strong>Personnes et animaux domestiques</strong>
									<ul>
										<li>Les personnes et les animaux domestiques à proximité de la zone de tonte pourraient se déplacer dans la trajectoire de la tondeuse ou dans un endroit où ils pourraient être blessés par des objets projetés.</li>
										<li>Assurez-vous que personne ne se trouve à proximité de la zone de tonte, particulièrement les enfants et les animaux domestiques. Il est de votre responsabilité d’assurer leur sécurité.</li>
									</ul>
								</li>
								<li><strong>Coupez le moteur lorsque la tondeuse n’est pas utilisée.</strong>
									<ul>
										<li>Si vous devez interrompre votre travail pour une raison quelconque, même pour inspecter la zone à tondre, coupez toujours le moteur (position OFF).</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_parents_message"
							data-collapsible-active="false"
							>Message important à l’intention des parents</a></span></div>
						<div id="slidedown_parents_message" class="sub_content">
							<ul>
								<li class="first"><strong>La sécurité de vos enfants est primordiale.</strong>
									<ul>
										<li>Une tondeuse à gazon est un outil et non un jouet. Comme pour tout autre appareil, une utilisation irresponsable peut être la cause d’accidents graves.</li>
										<li>Vous pouvez prévenir de tels accidents en prenant des décisions bien réfléchies à savoir si, quand et comment votre enfant pourra utiliser votre tondeuse Honda.</li>
									</ul>
								</li>
								<li><strong>L’âge n’est pas le seul facteur déterminant.</strong>
									<ul>
										<li>La première question que vous devriez vous poser consiste à savoir si votre enfant est capable d’utiliser votre tondeuse en toute sécurité.</li>
										<li>Sur le plan physique, un enfant doit être ASSEZ FORT ET ASSEZ GRAND pour pouvoir démarrer et diriger la tondeuse sans difficulté.</li>
										<li>Votre enfant doit également être assez grand et avoir suffisamment de force et de coordination pour pouvoir accéder aux commandes et les actionner aisément.</li>
									</ul>
								</li>
								<li><strong>La maturité et le sens des responsabilités.</strong>
									<ul>
										<li>Toute personne qui a tendance à prendre des risques inutiles ou à ne pas respecter les règles ne devrait pas utiliser votre tondeuse.</li>
									</ul>
								</li>
								<li><strong>Lisez le guide d’utilisation attentivement avec votre enfant.</strong>
									<ul>
										<li>Veillez aussi à ce qu’il porte des chaussures robustes et des vêtements le protégeant suffisamment lorsqu’il utilise ou manipule la tondeuse.</li>
									</ul>
								</li>
								<li><strong>Surveillance d’un adulte</strong>
									<ul>
										<li>Marchez avec votre enfant lors des premières minutes d’utilisation.</li>
										<li>Un adulte devrait toujours être présent lors du remplissage du réservoir ou de l’entretien.</li>
										<li>Il appartient en fait à l’adulte de veiller à l’entretien adéquat et au bon état de fonctionnement de la tondeuse Honda.</li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_occasional_user"
							data-collapsible-active="false"
							>Utilisateur occasionnel</a></span></div>
						<div id="slidedown_occasional_user" class="sub_content">
							<ul>
								<li class="first">Avant de demander à qui que ce soit d’utiliser votre tondeuse, vous devez vous assurer que la personne en question soit suffisamment âgée, grande et forte pour la manipuler et la contrôler de manière sécuritaire.</li>
								<li>Si vous jugez que c’est le cas, assurez-vous que l’utilisateur occasionnel ait bien lu et compris toutes les directives et tous les avertissements contenus dans le guide d’utilisation et sur les étiquettes avant d’utiliser votre tondeuse.</li>
								<li>Assurez-vous qu’il dispose d’une période de formation pratique suffisante et surveillez-le personnellement les premières fois qu’il utilise votre tondeuse jusqu’à ce que vous soyez certain que l’utilisateur occasionnel soit prêt à l’utiliser seul.</li>
								<li>Assurez-vous également que l’utilisateur occasionnel porte des vêtements adéquats, des lunettes de sécurité et tout autre accessoire requis par les ordonnances locales ou par votre assureur.</li>
								<li>N’oubliez pas que vous êtes responsable de l’état de fonctionnement sécuritaire et de l’entretien adéquat de votre tondeuse Honda.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/download_updates.html"-->
            <!--#include virtual="/shared/inc/widgets/menu-safety.html"-->
            <!--#include virtual="/shared/inc/widgets/fr/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->