<div class="survey">
    <img class="dib" src="/_Global/img/layout/survey/survey-logo.png" />
    <h2 class='fnat'>How are we doing?</h2>
    <p>
        Do you have a minute to tell us<br />
        about your experience with Honda.ca
    </p>
    <div class="buttons">
        <a href="javascript:openSurvey()" class="btn primary first btn-survey"><span>Take the Survey</span></a>
        <a href="javascript:openLater()" class="btn primary btn-cancel"><span>No Thanks</span></a>
    </div>
</div>
