<!--googleoff:index-->
<div class="wrapper nmb nmt">
	<div id="header">
		<ul id="language" class="fc">
			<li class="fr first"><a href="header.html#">Fran&#231;ais</a></li>
			<li class="fr"><a href="header.html#">Back to Honda.ca</a></li>
			<li class="fr"><a href="header.html#">Honda Canada</a></li>
		</ul>
		<a href="#" class="fr aoda-logo">
			<img src="/_Global/img/layout/aoda_logo.png" alt="" class="pf" />
		</a>
		<div class="fl logo">
			<a id="logo" href="header.html#"></a>
		</div>
		<div class="clr"></div>
		<div class="fr" id="sub_header">
			<div id="search" class="dd_button fr">
				<input type="search" name="search" value="" placeholder="Search" />
				<a href="header.html#" class="clear dn"></a>
			</div>
			<ul class="fr fc secondary_nav">
				<li class="fl first"><a href="#" class="btn primary pf"><span class="pf">Find a Distributor</span></a></li>
				<li class="fl"><a href="#" class="btn primary pf"><span class="pf">Find an OEM</span></a></li>
			</ul>
			<!--
			<ul class="fr fc secondary_nav">
				<li class="fl first"><a href="#" class="btn primary pf"><span class="pf">TROUVER UN DISTRIBUTEUR</span></a></li>
				<li class="fl"><a href="#" class="btn primary pf"><span class="pf">TROUVER UN ÉQUIPEMENTIER</span></a></li>
			</ul>
			-->
			<div class="clrfix"></div>
		</div>
		<div class="clrfix"></div>		
        <div id="main_menu">
            <ul id="primary_nav">
                <li class='fl first'><a data-dropdown-content-target='#onroad_list' data-url='/engine/resources/dropdown.html' href='#'>Mini 4-Stroke Series</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/engine/resources/dropdown.html' href='#'>GC Series</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/engine/resources/dropdown.html' href='#'>GX Series</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/engine/resources/dropdown.html' class="full_separator" href='#'>V-Twin Series</a></li>
                <li class="fl alternate"><a href="#">Why Honda?</a></li>
                <li class="fl alternate"><a href="/parts-service-overview">Service &amp; Warranty</a></li>
                <li class="fl alternate"><a href="/parts-service-overview" class="btn-last">Are you a manufacturer?</a></li>
            </ul>
			<!--
  			<ul id="primary_nav">
                <li class='fl first'><a data-dropdown-content-target='#onroad_list' data-url='/mc/resources/dropdown.html' href='#'>SÉRIE MINI-MOTEUR 4 TEMPS</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/mc/resources/dropdown.html' href='#'>SÉRIE GX</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/mc/resources/dropdown.html' href='#'>SÉRIE GC</a></li>
				<li class='fl'><a data-dropdown-content-target='#offroad_list' data-url='/mc/resources/dropdown.html' class="full_separator" href='#'>SÉRIE V-TWIN</a></li>
                <li class="fl alternate"><a href="#">POURQUOI HONDA?</a></li>
                <li class="fl alternate"><a href="/parts-service-overview">ENTRETIEN ET GARANTIE</a></li>
                <li class="fl alternate"><a href="/parts-service-overview" class="btn-last">ÊTES-VOUS UN CONSTRUCTEUR?</a></li>
            </ul>
			 -->
            <div class="clrfix"></div>
        </div>
	</div>
</div>