	<div>
		<div class="fc popup-top">
			<div class="fl h1">gx270</div>
			<div class="fr product-image"></div>
		</div>

		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>

        <div class="fc popup-bottom compare-buttons">
            <div class="fl view-details">
                <a href="" class="btn primary"><span>View Details</span></a>
            </div>
            <div class="fl pf compare-add-remove add">
                <a href="javascript:void(0)" data-id="model-2" data-item-title="gx270">Add to Compare</a>
            </div>
            <div class="fl pf compare-add-remove remove dn">
                <a href="javascript:void(0)" data-id="model-2">Remove from Compare</a>
            </div>
        </div>
	</div>