<div class="wrapper product_wrapper_top_cap">
		<div class="container cap_top_default pf"></div>
	</div>
	<div class="wrapper product_wrapper">
		<div class="container product_heading">
			<div class="fc content">
				<table>
					<tr>
						<td>
							<p class="model-name fnat">gxV160</p>
							<p class="fc model-spec">
								<span class="fl fnat">vertical shaft</span>
								<a class="fl pf btn-help btn-tooltips"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right-alt"
									data-tooltip-content-target="#product-type-help1"></a>
							</p>
							<p class="model-description fnat">Compact, lightweight four-stroke engines designed specifically for home-use.</p>
						</td>
						<td>
                            <div class="image-navigator-view">
                                <div class="rotator-image">
                                     <div class="content-view fc">
                                         <div class="image-view"><img src="/_Global/img/content/engine/overview/temp_product_image_example.jpg" alt="" /></div>
                                         <div class="image-view"><img src="/_Global/img/content/engine/overview/temp_product_image_example.jpg" alt="" /></div>
                                         <div class="image-view"><img src="/_Global/img/content/engine/overview/temp_product_image_example.jpg" alt="" /></div>
                                     </div>
                                </div>
                                <div class="rotator-controls"></div>
                            </div>
						</td>
					</tr>
				</table>
     		</div>
			<div class="fc footer">
				<div class="fc fl">
					<a href="#" class="fl btn primary"><span>Compare</span></a>
					<a href="#" class="fl btn primary"><span>Print</span></a>
				</div>
				
				<div class="fr nm inner_footer_r">
					<a href="#" class="btn secondary"
						property="act:popup"
						data-popup-modal="true"
                        data-popup-fixed="false"
						data-popup-content-target="#popup-image"
						><span class="enlarge">Enlarge</span></a>
					<a href="" class="see-all">See All Motocycles</a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper product_wrapper_bottom_cap">
		<div class="container cap_bottom_default pf"></div>
	</div>

<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis nasdfasdfasfdasdf asdfasfas fdasdfafon vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-prev"><a href="javascript:void(0)" class="prev"></a></div>
            <div class="popup-rotator-view">
                <div class="popup-rotator-content fc">
                     <div class="popup-image-large"><img src="about:blank" desc="/_Global/img/content/engine/products/temp_enlarged_image.jpg" width="650" height="650" alt="" /></div>
                     <div class="popup-image-large"><img src="about:blank" desc="/_Global/img/content/engine/products/temp_enlarged_image.jpg" width="650" height="650" alt="" /></div>
                     <div class="popup-image-large"><img src="about:blank" desc="/_Global/img/content/engine/products/temp_enlarged_image.jpg" width="650" height="650" alt="" /></div>
                </div>
            </div>
			<div class="popup-image-next"><a href="javascript:void(0)" class="next"></a></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>