<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: accessories-overview.html 918 2011-05-18 20:04:13Z minanakamura $ -->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<link rel="stylesheet" href="/_Global/css/marine/layout.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container">
						<div class="content_section first_section">
							<div class="accessories-tout">
								<img src="/_Global/img/temp/marine_accessories_tout.jpg" alt="temp" />
							</div>
						</div>
                        <div class="content_section">
							<h1>Accessories <span>Overview</span></h1>
							<h2 class="small">Genuine Honda Accessories</h2>
							<h3>Why choose genuine Honda accessories</h3>
							<p>Honda is synonymous with quality and performance. Whether you own a vehicle, motorcycle, ATV, or a product from our power equipment or marine line-ups, chances are you bought the Honda based on our reputation. Genuine Honda accessories are no different. In fact, they are the only accessories that have been approved by the engineers who originally designed your Honda. This helps to ensure that not only will they perform as they were designed to, but they'll fit right too.</p>
							<p>A wide variety of attachments and accessories are available for your Honda Marine outboard engine. From propellers to protective covers, chances are we've got what you're looking for. Your Honda dealer is the place to go to make your choice.</p>
							<p><a href="">Click here for more information on genuine Honda accessories</a></p>
                        </div>
						<div class="content_section_dotted">
							<div class="fc accessories-content">
								<div class="fl accessories-content-area">
									<h2 class="small">News</h2>
									<div class="sub_section first_subsection">
										<h3>Get peak performance with genuine Honda Outboard Oil</h3>
										<p>Genuine Honda Oil is specially formulated to provide the best protection for your Honda outboard engine under the most severe conditions. Specially formulated and blended for four-stroke outboard engines. Contact your local Honda Marine dealer to schedule your next seasonal tune-up.</p>
									</div>
	                                <!--<div class="sub_section_dotted">
										<h3>Vitae arcu fringilla porttitor!</h3>
										<p>Aenean tempor sem vitae arcu fringilla porttitor. Phasellus at velit metus. Ut consequat erat suscipit lorem sodales sed varius justo.</p>
									</div>-->
								</div>
								<div class="fr accessories-side-image">
									<img src="/_Global/img/content/pe/accessories/snowblower_poster_en.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/accessories.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->