<!--#include virtual="/marine/inc/application_top.html"-->
<body>
<!--#include virtual="/marine/inc/header.html"-->
<link rel="stylesheet" href="/_Global/css/marine/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/_Global/css/marine/sections/honda-advantage.css" type="text/css" media="screen" />
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="header">
					<img src="/_Global/img/content/marine/advantage/header_advantage_en.png" alt="" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>Why buy a Honda Marine outboard?</h1>
					<h3 class="h3-blue">Exclusive Honda Technology</h3>
					<p class="large">You won't find these features in anything but a Honda.</p>
				</div>
				<div class="content_section first_section">
					<h1>Exclusive Honda Technology</h1>
					<h3 class="h3-blue">You won't find these features in anything but a Honda.</h3>
					<dl class="fc col-2-full">
						<dd class="fl first">
							<h3>VTEC<sup>&reg;</sup> TECHNOLOGY</h3>
							<p><strong>Smooth acceleration and power.</strong></p>
							<p>Our Variable Valve Timing and Lift Electronic Control (VTEC<sup>&reg;</sup>) system gives you a broader, flatter, torque curve and smooth power delivery throughout the engine's operating range. It means outstanding performance without sacrificing fuel economy.</p>
							
							<h3>DUAL-STAGE INDUCTION</h3>
							<p><strong>Breathing easier improves performance.</strong></p>
							<p>Our unique variable intake system maximizes combustion efficiency for increased torque. The plenum chamber with twin butterfly valves varies the volume and velocity of airflow, which means a simple, compact design that enhances both low-speed drivability and high-speed performance.</p>
							
							<h3>ECOMO<sup>TM</sup> LEAN-BURN TECHNOLOGY</h3>
							<p><strong>Better air-fuel mix.</strong></p>
							<p>Lean-burn control automatically adjusts the air-fuel mix according to speed and load while maximizing power throughout the rpm range.</p>
							
							<h3>4-FRONT CORROSION PROTECTION</h3>
							<p><strong>Fights the elements.</strong></p>
							<p>Your Honda will continue to look and perform like new with our protection system that includes a patented double-sealed, multi-layered paint process, sacrificial anodes, stainless steel components and waterproof connectors.</p>
						</dd>
						<dd class="fl">
							<h3>3-WAY COOLING SYSTEM</h3>
							<p><strong>Cool-running durability.</strong></p>
							<p>Three separate cooling systems keep the cylinder heads running cooler for long-term durability.</p>
							
							<h3>INVERTED SEALED STARTER</h3>
							<p><strong>Protection for longer useful life.</strong></p>
							<p>The starter motor is inverted in a sealed chamber that protects the starter Bendix&trade; drive from the elements. The result is solid dependability.</p>
							
							<h3>PGM-FI MULTI-PORT PROGRAMMED FUEL INJECTION</h3>
							<p><strong>Powerful performance.</strong></p>
							<p>You get the precise amount of air and fuel to each cylinder under virtually all operating conditions, resulting in quick starts, instant throttle response, and powerful performance.</p>
							
							<h3>AUTOSTART ENRICHMENT (available on electric start BF9.9, BF15 and BF20)</h3>
							<p><strong>Easy starts.</strong></p>
							<p>Just like a fuel-injection system, autostart enrichment automatically adjusts the air-fuel mixture for quick, easy starting and warm-up.</p>
						</dd>
					</dl>
				</div>
				<div class="content_section">
					<h3 class="h3-blue mb10">Ease of Maintenance</h3>
					
					<p class="large">Because of their cleaner, cooler-running four-stroke design, Honda outboards can require less maintenance and servicing than two-stroke engines. They're engineered to make the few things you need to do easy. You fill the oil the same way you'd fill a car. Checking your oil is also the same, using a calibrated oil stick. And the filter is easy to replace. Changing the oil and applying a little grease at key points will take care of your annual maintenance.</p>
					<p class="large"><strong>Less Maintenance than Two-Strokes</strong></p>
					<p class="large"><strong>Convenient Oil Servicing</strong></p>
					<p class="large"><strong>Spin-on Filter </strong></p>
					<p class="large"><strong>Lubrication Only Annual Maintenance</strong></p>
				</div>
				<div class="content_section">
					<h3 class="h3-blue">Environment and Technology</h3>
					<p class="large"><strong>The Honda Four-Stroke Advantage</strong></p>
					<p class="large">At Honda, we have more four-stroke marine experience than anyone, with engines inspired by our legendary automotive technology.</p>
					<p class="large">Honda Marine is no exception to this legacy of environmental leadership. Since 1964, Honda has manufactured only four-stroke outboard motors, which are approximately 90 percent cleaner, 50 percent more fuel-efficient and 50 percent quieter than typical two-stroke outboard motors. More important, four-stroke motors do not release oil directly into the water.</p>
					<p class="large">For over 40 years, we've been tireless in applying advanced thinking to our marine engines and challenging the rest of the industry to keep up.</p>
					<p class="large">We were the first to offer a full line of nothing but four-stroke designs. The first to offer a non-declining, 3-year limited warranty. The first outboards to meet or exceed the Environmental Protection Agency (EPA) emission standards. The first to introduce a 225-hp four-stroke.</p>
					<p class="large">Today, Honda four-stroke outboards are recognized (eg, 2011 IBEX Innovation Award from the National Marine Manufacturers Association) as among the most technologically advanced and environmentally sound in the world.</p>
					<p class="large">Experience the confidence of proven performance and legendary reliability.</p>
				</div>
				<div class="content_section">
					<h3 class="h3-blue mb10">The experience of owning a Honda product.</h3>
					
					<p class="large">One of the most significant advantages of owning a Honda is knowing that you have our support during the life of your Honda product. We choose our dealers with the same care we put into designing and building our quality products. Honda dealers are here to service and repair your unit as specified by the factory. Honda dealers&rsquo; highly skilled technicians use only genuine Honda parts to maintain the original level of Honda quality. Whether you own a Honda vehicle, motorcycle, power equipment product or outboard engine, remember that they are supported by the same family that built them. Whenever you need us, we are here for you to continue to enjoy any Honda product or service. </p>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/marine/inc/footer.html"-->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->