<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-commerical-product">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/commercial-product.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
<div class="wrapper_extended">
	<div id="feature_area">
		<div class="container">
			<img src="/_Global/img/content/marine/commercial-product/banner.jpg" alt="" />
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container">
		<div class="content_container">
			<div class="content_section first_section">
				<h1>Commercial Marine</h1>
				<p class="large">As the world's largest engine manufacturer, it's no wonder that Honda produces industry-leading marine outboard motors. With unmatched reliability and advanced exclusive technology, you can be sure that your outboard will perform at optimum levels day in and day out. With Honda four-stoke technology, your outboard will run cooler and quieter so you can keep your mind on what matters to you and your business. With a vast array of applications and sizes, Honda is sure to have an outboard to suit your commercial business application.</p>
			</div>
			<div class="content_section">
				<ul class="fc commercial-touts">
					<li class="fl first">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_portable.png" alt="" />
						<div class="tout-content">
							<h3>Portables</h3>
							<p>Whether you tote around the world's lightest 2.3 hp four-stroke to get from one body of water to another or your fleet of boats are used from dawn till dusk - the quiet, smooth and fuel efficient operation of our legendary outboards keep you where you want to be - on the water.</p>
						</div>
						<ul class="features">
							<li><span>Easy starting</span></li>
							<li><span>Lightweight</span></li>
							<li><span>Convenient controls</span></li>
						</ul>
					</li>
					<li class="fl">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_midrange.png" alt="" />
						<div class="tout-content">
							<h3>Mid-Range</h3>
							<p>Whether you're catching your dinner for the day or your livelihood for the week - the Honda mid-range series of outboards include exclusive options like BLAST&reg; technology, Lean Burn Control&reg; and VTEC&reg;, which allow you to make sure that you're not the one telling the story about the &quot;one that got away.&quot;</p>
						</div>
						<ul class="features">
							<li><span>BLAST&reg; Technology</span></li>
							<li><span>Lean Burn Control&reg;</span></li>
							<li><span>Variable Speed Trolling</span></li>
							<li><span>Easy Dock Steering&reg;</span></li>
						</ul>
					</li>
					<li class="fl">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_largemotors.png" alt="" />
						<div class="tout-content">
							<h3>Large</h3>
							<p>If you need real power - Honda has it! Whether you need a single outboard with advanced and reliable technology or a set of twin outboards (regular and counter rotating) to get you and your crew there fast, Honda has the outboard to suit both your needs and wants.</p>
						</div>
						<ul class="features">
							<li><span>BLAST&reg; Technology</span></li>
							<li><span>Lean Burn Control&reg;</span></li>
							<li><span>Twin counter balancing shafts</span></li>
							<li><span>Heavy duty gearcase</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->