<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-options.html 565 2011-04-06 19:39:22Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="options">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>Finance <span>Options</span></h1>
							<div class="grouped">
								<p>As a finance customer, throughout the term of your finance contract, your payments will consist of part principal and part finance charges. Each payment you make increases the amount of equity you've built up in your Marine unit.</p>
								<p>Once you've decided on your Honda, we want to make financing it as simple as possible. That's why we deliver financing approvals in less than one hour in the convenience of your local Honda dealer.</p>
							</div>
							<h2 class="h2-black">The benefits of financing your Marine product with Honda Financial Services are:</h2>
							<ul class="features">
								<li><span>You are the owner of the Marine product.</span></li>
								<li><span>All retail loans are open and you may pay out the finance contract at any time without prepayment penalties.</span></li>
								<li><span>Simple interest method to calculate interest charges.</span></li>
								<li><span>Build equity.</span></li>
								<li><span>Flexible terms.</span></li>
								<li><span>Once all the payments have been made, you own the unit.</span></li>
							</ul>
							
							<h2 class="h2-black">Conventional Finance</h2>
							<p>With the regular program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
							
							<h2 class="h2-black">Things To Be Considered</h2>
							<div class="grouped">
								<p>HFS offers monthly as well as bi-weekly payments for your consideration. Monthly and bi-weekly payments are set up when you sign your finance agreement and once set up with monthly payments, you will not be able to switch to bi-weekly payments or vice-versa.</p>
								<p>Try our <a href="#">Payment Calculator</a> to see which option suits your needs best.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/downloads_only.html"-->
			<!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->