<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-contact.html 483 2011-03-24 14:43:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="contact">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>Contact Us</h1>
							<dl class="fc inner-two-col">
								<dd class="fl first">
									<h3>Head Office - Ontario,<br />Atlantic and Western Region:</h3>
									<p>P.O. Box 4000<br/>
										Markham, Ontario<br/>
										L3R 0N1</p>
									<p><strong>Toll Free:</strong> 1-800-387-5399<br/>
										<strong>Fax:</strong> 1-866-920-5586<br/>
										<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
								</dd>
								<dd class="fl">
									<h3>Quebec Region:<br />&nbsp;</h3>
									<p>1750, rue Eiffel<br/>
										Boucherville, Quebec<br/>
										J4B 7W1</p>
									<p><strong>Toll Free:</strong> 1-800-463-6374<br/>
										<strong>Fax:</strong> 1-888-449-6252<br/>
										<strong>Email:</strong> <a href="mailto:hcfi_quebec_branch_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/downloads_only.html"-->
			<!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->