<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-credit.html 497 2011-03-28 15:03:46Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="credit">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>Credit <span>Application</span></h1>
							<p class="large">You have not only chosen the Marine product of your dreams but also the finance option that's right for you. Now you're ready to take the next step – applying for financing. For your convenience, we've provided a Credit Application form, which you can print, fill out in advance and take to your local Dealer.</p>
							<div class="fc credit-apps">
								<dl class="fl credit-app-column">
									<dt>Consumer Credit Application</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en.pdf">English</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr.pdf">French</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-en-quebec-only.pdf">English</a> (Quebec Only)</dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/consumer-credit-application-fr-quebec-only.pdf">French</a> (Quebec Only)</dd>
								</dl>
								<dl class="fl credit-app-column">
									<dt>Business Credit Application</dt>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en.pdf">English</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr.pdf">French</a></dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-en-quebec-only.pdf">English</a> (Quebec Only)</dd>
									<dd><a href="http://www.honda.ca/Content/honda.ca/7A17B9E8-6DD2-4CAC-941B-42BB1E997240/GenericContent_FFH/business-credit-application-fr-quebec-only.pdf">French</a> (Quebec Only)</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/downloads_only.html"-->
			<!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->