<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-faq.html 896 2011-05-17 16:59:06Z minanakamura $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf faq">
				<div class="content_container">
					<div class="faq">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>Frequently Asked Questions</h1>
							<div class="fc">
								<div class="fc fr accordion-controls">
									<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
									<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
								</div>
	                        </div>
	                        
	                        <div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q1"
								data-collapsible-active="true">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">What is Your Contact Information?</a></span></div>
									<div id="slidedown_q1">
										<dl class="fc contact-info">
											<dd class="fl">
												<p class="h3">Head Office - Ontario,<br/>
													Western and Atlantic Regions:</p>
												<p>P.O. Box 4000<br/>
													Markham, Ontario<br/>
													L3R 0N1</p>
												<p><strong>Toll-free:</strong> 1-800-387-5399<br/>
													<strong>Fax:</strong> 1-866-920-5586<br/>
													<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
											</dd>
											<dd class="fr">
												<p class="h3">Quebec Region:</p>
												<p>1750, rue Eiffel Boucherville,<br/>
													Quebec<br/>
													J4B 7W1</p>
												<p><strong>Toll-free:</strong> 1-800-387-5399<br/>
													<strong>Fax:</strong> 1-888-449-6252<br/>
													<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
											</dd>
										</dl>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q2"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Do I Own the Marine Unit?</a></span></div>
									<div id="slidedown_q2">
										<p class="h3">Marine Unit Ownership</p>
										<p>Once you have signed the financing terms and agreements, you are the registered owner of the Marine unit.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q3"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">What is Conventional Financing?</a></span></div>
									<div id="slidedown_q3">
										<p class="h3">Conventional Financing</p>
										<p>With the regular finance program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
										<p>Now, try our <a href="">Payment Calculator</a> to see which option suits your needs best.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q4"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">What are the Benefits of financing my Honda Marine with HFS?</a></span></div>
									<div id="slidedown_q4">
										<p>HFS offers highly competitive interest rates and flexible payment options. Once you have decided on your Honda model of choice, we want to make the next step of financing as simple as possible. That's why we deliver financing approvals in less than one hour, all right for your convenience within your Honda dealer.</p>
										<p class="h3">The Benefits</p>
										<p>The additional benefits of financing your Honda Marine unit with HFS are:</p>
										<ul>
											<li>All HFS retail loans are open-ended and you may pay out, or make lump sum payments at any time without penalty.</li>
											<li>Flexible financing terms up to 60 months depending on the model and amount to be financed. We have highly trained staff to assist you with any inquiries you may have at any point of your Finance Agreement. Our customer service department offers convenient hours of operation and quality service.</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q5"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Payment Options</a></span></div>
									<div id="slidedown_q5">
										<p>HFS offers monthly as well as bi-weekly payments for your consideration. Monthly and bi-weekly payments are set up when you sign your finance agreement and once set up with monthly payments, you will not be able to switch to bi-weekly payments or vice-versa.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q6"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Do I Have to Insure the Marine Unit?</a></span></div>
									<div id="slidedown_q6">
										<p class="h3">Insurance Coverage</p>
										<p>HFS does not require you insure your Marine unit.</p>
									</div>
								</div>
							</div>
	                        
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q7"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Am I Responsible For Maintenance?</a></span></div>
									<div id="slidedown_q7">
										<p class="h3">Regular Maintenance</p>
										<p>As the registered owner of the Marine unit, you are responsible for the maintenance of the unit. To get the most out of your Marine unit, we strongly recommend that you follow the maintenance schedule as outlined in the Owner's Manual. Our dealers will be happy to ensure your Marine unit is serviced and runs at peak performance.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q8"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Customer Service Office (Contact Us)</a></span></div>
									<div id="slidedown_q8">
										<dl class="fc contact-info">
											<dd class="fl">
												<p class="h3">Head Office - Ontario,<br/>
													Western and Atlantic Regions:</p>
												<p>P.O. Box 4000<br/>
													Markham, Ontario<br/>
													L3R 0N1</p>
												<p><strong>Toll-free:</strong> 1-800-387-5399<br/>
													<strong>Fax:</strong> 1-866-920-5586<br/>
													<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
											</dd>
											<dd class="fr">
												<p class="h3">Quebec Region:</p>
												<p>1750, rue Eiffel Boucherville,<br/>
													Quebec<br/>
													J4B 7W1</p>
												<p><strong>Toll-free:</strong> 1-800-387-5399<br/>
													<strong>Fax:</strong> 1-888-449-6252<br/>
													<strong>Email:</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/downloads_only.html"-->
			<!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->