<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: 2col.html 137 2011-02-22 21:00:34Z yuxhuang $ -->
<body class="page-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" />
	<link rel="stylesheet" href="/_Global/css/marine/landing.css" />
	<!-- END  : page SPECIFIC STYLES -->
<div class="wrapper dropdown_container navigation-dropdown">
	<div class="cap_top_default pf"></div>
	<div class="container pf generator">
		<div class="content_container">
			<div class="fc content_section first_section" id="navigation_content">
				<div class="fl why-buy">
					<div class="heading">Why buy a Honda Marine Outboard?</div>
					<div class="content">
						<p>Discover why Honda outboards have a reputation for exceptional performance, quality and reliability.</p>
					</div>
					<div class="button">
						<a href="#">
							<span class="text">Learn More</span>
							<span class="pf image"></span>
						</a>
					</div>
				</div>
				<div class="fl right-boxes">
                    <div class="fc subview">
                        <div class="fl series">
                            <div class="see-all">
                                <p><a href="#">See All Marine Outboards</a></p>
                            </div>
                            
							<p class="heading">Large Marine Motors</p>
							<p>For epic days on the water with big power, exceptional performance and leading technology.</p>
							
							<p class="heading">Uses</p>
							<ul>
								<li>Fishing boats</li>
								<li>Charter boats</li>
								<li>Government agencies</li>
							</ul>
                        </div>
                        <div class="products">
                            <div class="subview">
                                <div class="fc first product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF115</a></div>
                                        <p>An outstanding performer with the largest displacement in its class.</p>
                                    </div>
                                    <div class="fr product-pricing">
										<div class="large-price">
											<span class="price-heading">Manufacturer<br/>
												Discounted Price</span>
											<span class="price"><sup>$</sup>8,099</span>
										</div>
										<div class="small-price">
											<span class="price-heading">MSRP</span>
											<del><span class="strike"></span><span class="price">$13,599</span></del>
										</div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF135</a></div>
                                        <p>With technology right out of the Accord and CR-V, it brings big performance and legendary reliability to the water.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,995</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF150</a></div>
                                        <p>Big performance and reliability along with the legendary Variable Valve Timing &amp; Lift Electronic Control (VTEC&reg;) system.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF225</a></div>
                                        <p>With the legendary VTEC&reg; technology and a mighty V6, it has outstanding performance and reliability.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,169</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF250</a></div>
                                        <p>Best in class. The biggest of our large outboards. VTEC&reg; technology, outstanding power and fuel efficiency.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>

<!--#include virtual="/shared/inc/scripts.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->