<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="maintenance">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							
							<div class="h1">Outboard engine maintenance safety information</div>
							<div class="grouped">
								<p>Before using any outboard engine, you should perform a routine check to ensure major components are in good working condition and nothing is damaged. If you see any signs of damage, contact your authorized Honda dealer for assistance.</p>
								<p>If this is the first time you are using your outboard engine, please read your Owner's Manual. Even if you have operated a similar outboard engine in the past, take time to become familiar with the controls and handling.</p>
							</div>
							
							<h1>Maintenance Safety</h1>
							<div class="grouped">
								<p>To help you properly care for your outboard engine, follow the recommended maintenance schedule included in your Owner's Manual, which has simple maintenance procedures using basic hand tools. Other service tasks that are more complex, or require special tools, are best handled by professionals and should be performed by a factory trained Honda technician at an authorized Honda dealer.</p>
								<p>Maintaining your outboard engine as indicated in your Owner's Manuals is one of most important safety precautions. We recommend that you bring your outboard engine products to an authorized Honda dealer for all your maintenance needs. However, if you decide to perform some of the maintenance yourself, our Honda dealers carry a full line of Genuine Honda parts to suit all your requirements.</p>
							</div>
							
							<h2 class="small">Always make sure the engine is off before you begin any maintenance or repairs. This will eliminate several potential hazards.</h2>
							<ul class="pf red-check">
								<li class="pf">Carbon monoxide poisoning from engine exhaust. Be sure that the outboard's leg is adequately submerged in water prior to running the engine. Failure to do so will instantly damage the water pump and lead to excessive engine damage. Also, make sure that there is adequate ventilation whenever you operate the engine.</li>
								<li class="pf">Burns from hot parts. Let the engine cool before touching.</li>
								<li class="pf">Injury from moving parts. Do not run the engine unless instructed to do so.</li>
							</ul>
							
							<div class="grouped">
								<p>Read all instructions before you begin, and be careful when working around gasoline. Use only non-flammable solvent, not gasoline, to clean parts. Keep any flames or sparks away from all fuel-related parts.</p>
								<p>The maintenance schedule included in your Owners' Manual applies to normal operating conditions. If you operate your outboard engine under severe conditions, such as sustained high load or high-temperature operation, consult your Honda dealer for recommendations applicable to your individual needs and use.</p>
								<p>Remember that your authorized Honda servicing dealer knows your outboard engine best and is fully equipped to maintain and repair it.</p>
								<p>To ensure the best quality and reliability, use only new, genuine Honda parts and chemicals.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->