<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						
						<h1>Genuine Honda Oils and Chemicals</h1>
						<h2 class="small">Why use genuine Honda oils and chemicals</h2>
						<div class="grouped">
							<p>Honda builds its outboard engines to the toughest engineering standards in the world, formulating its oils and chemicals to those same high standards and thereby helping to maintain your outboard engine at peak performance.</p>
							<p>You bought a Honda because of its quality, performance and reliability. Why not match the finest product you can own with the finest oils &amp; chemicals on the market. Don't settle for an imitation when you can buy the original.</p>
							<p>Genuine Honda oil is specially formulated to help provide the best possible protection for your Honda outboard engine under the most severe conditions. You should have the oil changed at least once during the boating season. We recommend that it be done in the fall, before winter storage. The reason is that dirty engine oil contains some corrosive elements. So, if the engine is to sit idle for six months or so, it is best to have clean oil in the engine.</p>
							<p>In addition, we also offer a full line of high-quality chemicals, cleaners and other lubricants to help keep your Honda outboard engine running smoothly and looking great for many years to come. And they are available exclusively at your Honda Dealer.</p>
							<p><a href="">View Honda Oils and Chemicals</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->