<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="storage">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							
							<h1>Storage Tips</h1>
							<h2 class="small">How to safely store your outboard engine</h2>
							<div class="grouped">
								<p><strong>What you need to know about storing your outboard engine.</strong></p>
	                            <p>Outboard engines may spend an extended period of time in rest, which is why it is important to adopt proper storage techniques to ensure a smooth awakening.</p>
							</div>
							
							<h2 class="small">Here are a few tips to assist you in properly caring for your outboard engine:</h2>
							<ul class="pf red-check">
								<li class="pf"><span>Keep it clean and dry</span></li>
								<li class="pf"><span>Flush and drain the cooling system</span></li>
								<li class="pf"><span>Drain the fuel tank (portable) and the fuel system</span></li>
								<li class="pf"><span>Change the engine oil</span></li>
								<li class="pf"><span>Coat all surfaces liable to rust with a thin film of oil</span></li>
								<li class="pf"><span>Store in the standard operation position</span></li>
								<li class="pf"><span>Keep it in an area free of excessive humidity and dust</span></li>
								<li class="pf"><span>Protect it from dust and debris with an specific outboard engine cover</span></li>
							</ul>
							
							<div class="grouped">
								<p>Fuel is also an important part of proper storage, as today's fuels don't have a very long storage life. Gasoline that sits in a float bowl or partially filled gas tank for as little as 30 to 60 days can cause your unit to have starting problem. Warm weather also causes fuel to go &quot;stale&quot;. Make sure you follow these steps to ensure you prevent storage-related starting problem.</p>
								<p>Storage of more than 30 days requires additional measures such as the use of Honda Gasoline Conditioner to help keep the fuel fresh. When adding fuel stabilizer, fill the gas tank with fresh gasoline. If only partially filled, air in the tank will promote fuel deterioration during storage. If you keep a container of gasoline for refueling, be sure that it contains only fresh gasoline. Add fuel stabilizer following the manufacturer's instructions. After adding a fuel stabilizer, it is also recommended to run the engine for 10 minutes, before proceeding with the storage. If the product will stay in storage for more than 60 days, completely drain the fuel system and the fuel tank.</p>
								<p>Maintaining the original performance of your outboard engine will largely depend on the care you provide it right now. Refer to your Owner's Manual for additional storage information specific to your model. Always remember that your local Honda dealer is there to assist you with any questions of concerns you may have about storing your outboard engine.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->