<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						
						<h1>Honda Genuine Parts</h1>
						<h2 class="small">Built for your Honda</h2>
						<p>Keeping your Honda healthy is an imperative part of maintaining the quality, reliability, and performance of your outboard. These attributes have come to define Honda products, and are also reflected in the parts from which they are built.</p>
						<p>Genuine Honda parts are made for your Honda. They help maintain the quality, reliability and performance of your product. When the time comes for you to service, repair, or enhance your Honda, don't settle for an imitation. Genuine Honda parts can help maintain the original operating specifications of your Honda and offer a perfect fit and finish every time. Let our trained Honda technicians keep your Honda healthy with genuine Honda parts.</p>
					</div>
					<div class="content_section choosing_parts_sections">
						<div class="h1">Keep your Honda a Honda by choosing genuine Honda parts.</div>
						<h2 class="small">Quality</h2>
						<h3>Legendary Honda quality.</h3>
						<p>The core of Honda quality exists in every part of your outboard engine. Genuine Honda parts are manufactured to strict quality standards for an exact fit and precise operation. When you choose genuine Honda parts, you can count on the highest quality standards imposed by Honda engineers.</p>
						
						<h2 class="small">Reliability</h2>
						<h3>Rely on your Honda.</h3>
						<p>Only genuine Honda parts are supported by Honda nationwide. Each part works in conjunction with other parts to produce a single output. Many non-genuine parts may claim to be reliable, but there is no guarantee that they’re produced to meet the engineering and material specifications of a Honda. Compromise one part and you may unknowingly compromise a whole system.</p>

						<h2 class="small">Performance</h2>
						<h3>Don't comprise performance.</h3>
						<p>By choosing genuine Honda parts, you won't compromise your unit’s performance and safety. Each genuine Honda part is precisely designed and rigorously tested at our R&amp;D facilities. This process helps ensure that each part will function at its optimum performance level while providing the durability and reliability that you expect from your Honda.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->