<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="warranty">
						<div class="content_section first_section">
							<h1>Warranty <span>FAQ</span></h1>
						</div>
						<div class="content_section">
							<div class="fc">
								<h3 class="fl large">Frequently Asked Questions about Honda Plus</h3>
								
								<div class="fc fr accordion-controls">
									<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
									<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
								</div>
	                        </div>
	                        
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q1"
								data-collapsible-active="true">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>When can I purchase an extended warranty Honda Plus contact?</a></span></div>
									<div id="slidedown_q1">
										<p>It is best to purchase Honda Plus at the time you purchase your Honda outboard, this way your Honda Plus is included in the final financing or cash settlement. But you may purchase a Plus Plan as long as the outboard is still within the first year of the Distributor's Warranty</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q2"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>How is the time and hours of usage calculated on a Honda Plus Plan?</a></span></div>
									<div id="slidedown_q2">
										<p>Regardless of when you purchased your Honda Plus, your contract for the outboard motor begins the day after the Distributor's Warranty for your Honda outboard expires. All Honda Plus Plans are for unlimited hours of usage.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q3"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Can I cancel Honda Plus during my contract period?</a></span></div>
									<div id="slidedown_q3">
										<p>Yes, within 60 days you would receive 100% refund. After 60 days, a prorated refund (less an admin. fee) if the unit was stolen or lost due to fire. Proof of insurance claim is required.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q4"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>What do I do if a breakdown occurs?</a></span></div>
									<div id="slidedown_q4">
										<p>First, use all reasonable means to protect your Honda outboard from further damage resulting from mechanical breakdown or failure. For example: you should stop operating the outboard immediately if warning lights, oil or temperature lights are activated.</p>
										<p>Second, return your Honda outboard to your Honda Dealership for repair.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q5"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Will I incur any additional cost for a covered component breakdown?</a></span></div>
									<div id="slidedown_q5">
										<p>There is no deductible fee for any Plus Marine Product Plans.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->