<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container_alternate">
						<div class="content_section first_section">
							<h1>Why Choose Honda Service? <span>Overview</span></h1>
	                        <h2 class="small">Keeping your Honda healthy is a vital part of maintaining the quality, reliability and performance of your outboard engine.</h2>
	                        <p>We choose our dealers with the same care as we put into building our product. Leave your product with the people who are most familiar and aware of the performance expected from a Honda. You can trust that only high-quality genuine Honda parts are used, so your Honda will perform at its best.</p>
	                        
							<h3>Honda Service provides the following advantages:</h3>
							<ul class="features">
								<li><span>Our genuine Honda parts, oils and chemicals are factory approved and are tested to one of the highest standards in the industry.</span></li>
								<li><span>Our Honda dealers use only genuine Honda parts.</span></li>
								<li><span>Technicians are trained to factory standards.</span></li>
								<li><span>Our latest technical information is at the fingertips of our technicians through the Honda online communication system.</span></li>
								<li><span>Our dealers are supported by our Tech-line and Quality Engineering teams at Honda Canada Inc.</span></li>
							</ul>
							
							<p>Proper maintenance and service is critical for reliable performance and a long lasting product. Follow the recommended maintenance schedule in the Owner's Manual, and make sure you use genuine Honda parts if you want to maintain your product yourself.</p>
						</div>
					</div>
					
					<ul class="fc tabs_horizontal">
						<li class="fl first"><a class="selected" href="#before-use">Before Each Use</a></li>
						<li class="fl"><a href="#engine-oil">Engine Oil</a></li>
						<li class="fl"><a href="#spark-plug">Spark Plug</a></li>
						<li class="fl"><a href="#fuel">Fuel</a></li>
						<li class="fl last"><a href="#propeller">Propeller</a></li>
					</ul>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Before Each Use</div>
							<h2 class="small">Why it's important to service your Honda outboard engine.</h2>
							<h3>Marine outboards</h3>
							<div class="grouped">
								<p>For your safety, and to help maximize the service life of your outboard engine, it is very important to perform a pre-operation check before every use. Get familiar with the Safety Warnings and Cautions in the Owner's Manual. Always check your unit with the engine OFF. If you find a problem, have your authorized Honda dealer correct the issue before you operate the outboard engine.</p>
								<p>Always perform a pre-operation inspection before each operation, and correct any problem.</p>
							</div>
							
							<h3>Before each use</h3>
							<ul class="features">
								<li><span>Check your engine oil level</span></li>
								<li><span>Check the fuel level</span></li>
								<li><span>Check propeller and cotter pin</span></li>
								<li><span>Check handle and remote control lever</span></li>
								<li><span>Check the fuel hose connection</span></li>
								<li><span>Check the battery connections</span></li>
							</ul>
							
							<p>Refer to your maintenance schedule included in your Owner's Manual for any additional information on what service should be performed on your Honda Marine outboard engine.</p>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Engine Oil</div>
							<div class="grouped">
								<p>Oil changes are a major factor that can affect the performance and service life of your Honda outboard. Oil is responsible for lubricating and protecting internal engine components subject to extreme pressure. It is important to check the level of your engine oil to ensure it's not running low. Before each use, check the engine oil level with the engine stopped, and with the outboard in a straight up position.</p>
								<p>Engine oil can become contaminated with dirt during improper installation or maintenance, that's why it is preferable to have your oil change performed by an authorized Honda dealer who will use genuine Honda Marine Oil.</p>
								<p>For more information refer to your Owner's Manual or speak to your Honda dealer.</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Spark Plug</div>
							<div class="grouped">
								<p>The spark plug is what &quot;fires&quot; the engine. A malfunctioning spark plug may cause many symptoms, including hard starting, misfire, lack of power, and black exhaust smoke. The spark plug should be inspected for cracks or chips. Visit your Honda dealer for a replacement spark plug.</p>
								<p>Honda-approved spark plugs, such as NGK, are designed to offer the best in performance and protection for your Honda outboard engine, all at competitive prices!</p>
								<p>For more information, refer to your Owner's Manual or speak to your Honda dealer.</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Fuel</div>
							<div class="grouped">
								<p>Improper fuel maintenance is the primary cause of starting difficulties and poor performance. Fuel is a volatile, unstable substance. That's what makes it so easy to ignite, but that also means it can evaporate and go &quot;stale&quot;. This causes the fuel to lose its ability to burn efficiently, and can leave a gummy residue, which often clogs the small passages in the carburetor or fuel injectors, causing problems ranging from hard starting and unstable rpm to no-start conditions and more serious engine problems. Depending on conditions, fuel can deteriorate in as little as 30 to 60 days. This can be prevented somewhat by adding a fuel stabilizer to you fuel system, but it is also a good idea to drain the fuel system if the outboard will not be operated for 30 days or more. The fuel tank and/or fuel filter also require periodic inspection for rust and other forms of contamination, and the fuel lines should be checked for signs of cracking due to ageing, and replaced if necessary.</p>
								<p>For more information, refer to your Owner's Manual or speak to your Honda dealer.</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Propeller</div>
							<div class="grouped">
								<p>It is important to inspect your outboard engine's propeller several times during the season to make sure no debris has become wrapped around the propeller shaft. If the propeller is damaged by striking a rock or other obstacle, it will require replacement.</p>
								<p>Visit your authorized Honda dealer for assistance in choosing the right propeller for your Honda outboard engine.</p>
							</div>
							
							<h2 class="small">Why use a genuine Honda propeller?</h2>
							<div class="grouped">
								<p>Four-stroke marine engines perform at rpm ranges considerably different from two-stroke marine engines. To help achieve optimum performance, it is important to use a propeller designed for four-stroke applications.</p>
								<p>In addition, Honda outboard engines utilize a slightly different final-gear ratio in the lower gear case. Honda propellers are designed with all these factors in mind to help produce the best possible match for top performance through the entire rpm range.</p>
								<p>Keep your Honda 100% Honda for the best performance! Genuine Honda propellers are available exclusively at your Honda dealer.</p>
							</div>
							
							<h2 class="small">What's the right propeller for you?</h2>
							<div class="grouped">
								<p>The two most important things to remember when choosing a propeller are that it meets your individual needs and that it allows the engine to run within the specified rpm range at full throttle.</p>
								<p>Two identical boats with identical engines could be propped quite differently, depending on the usage, water conditions and load.</p>
							</div>
							
							<h2 class="small">3-Blade vs. 4-Blade Propellers</h2>
							<div class="grouped">
								<p>In general, 3-blade propellers are the most common. They typically yield a slightly higher top-end speed than 4-blade propellers and are available in a wider variety of designs.</p>
								<p>The 4-blade propellers often provide more lift at the stern, which will help accelerate the hull, especially if it is stern heavy. They allow the boat to come out of the hole strong and work well for pulling skiers and water toys.</p>
								<p>On fishing and offshore boats, 4-blade propellers can be slightly faster than 3-blade propellers at mid-range rpms, where coastal anglers most often run their outboard engines. They also deliver slightly better fuel economy at mid-range rpm.</p>
								<p>Sometimes a poor-handling boat will improve by switching to a 4-blade propeller, and more often than not, a 4-blade propeller will run smoother, with better balance than the 3-blade equivalent.</p>
							</div>
							
							<h2 class="small">Size</h2>
							<div class="grouped">
								<p>Propellers are sized and described by their diameter and pitch. The pitch ultimately is responsible for the top speed of the boat. The pitch must be matched to the engine's recommended rpm range for full throttle.</p>
								<p>For slow-trolling anglers, a propeller with lower pitch (less distance per turn) allows the engine to rev to the top of its range and will offer lower trolling speeds. It will also push loads easier and make maneuvering around a dock smoother. On the other hand, a propeller with more pitch lets the engine turn to the lower end of its range and may yield higher top speed.</p>
								<p>Matching style, blade design, pitch and diameter is just as important for boat handling and safety as for maximizing cruising speed and fuel efficiencies. Large-diameter propellers with lots of surface area help a boat climb a big wave and allow the operator to maintain good control in offshore conditions with rough water.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->