<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/marine/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div id="inner_page_content" class="content_container">
                    <div class="overview">
                        <div class="content_section first_section">
                            <div class="h1">BF50 <span>Overview</span></div>
                            <p class="large">The Honda BF50 is well proven in both the commercial fishing industry and as a versatile and economical recreational outboard. With the rise in recent prices at the pumps, the BF50 greatly eases the strain on the pocketbook for a full day of cruising, tubing or waterskiing with the kids.</p>
                        </div>
						<div class="content_section configuration_section">
							<h4>Configuration &amp; Pricing</h4>
							<dl>
								<dd class="first">
									<div class="top-cap"></div>
									<div class="fc config-container">
										<div class="fl product-info">
											<div class="header">225AK2XC</div>
											<div class="info">6 cylindres, VTEC, arbre extra long de 25 po, BLAST<sup>MC</sup>, certifié NMEA 2000, démar. élect., direction à distance, EFI, relevage et
												réglage d'assiette assistés (élec.)</div>
										</div>
										<div class="fl product-price-container">
											<div class="fr large-price your-price">
												<span class="price-heading">Your Price</span>
												<span class="price"><sup>$</sup>10,999</span>
											</div>
											<div class="clr"></div>
										</div>
									</div>
									<div class="bottom-cap"></div>
								</dd>
								<dd class="fc">
									<div class="top-cap"></div>
									<div class="fc config-container">
										<div class="fl product-info">
											<div class="header">50AK0LRTC</div>
											<div class="info">Three-cylinder, 20&quot; long shaft, electric start, tiller steering, and power tilt and trim</div>
										</div>
										<div class="fl product-price-container">
											<div class="fr large-price msrp">
												<span class="price-heading">MSRP</span>
												<span class="price"><sup>$</sup>7,599</span>
											</div>
											<div class="fr small-price discount-price">
												<span class="price-heading">Discount</span>
												<span class="price">$2,600</span>
											</div>
											<div class="fr small-price msrp">
												<span class="price-heading">MSRP</span>
												<del><span class="strike"></span><span class="price">$10,499</span></del>
											</div>
											<div class="clr"></div>
										</div>
									</div>
									<div class="bottom-cap"></div>
								</dd>
							</dl>
							<p>Prices shown are manufacturer's suggested retail prices (MSRP) only. Dealers are free to set their own selling prices.<br/>
								Prices shown do not include taxes. Freight and PDI are extra. Prices are subject to change without prior notice.</p>
						</div>
						<div class="content_section">
							<h2 class="fnat"><img alt="" class="pf" src="/_Global/img/content/products/icon_sun.png" /> Why Buy a Honda Marine Engine?</h2>
							<div class="grouped">
								<p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet enim id ligula feugiat suscipit. Morbi vel justo risus. Quisque turpis nisi, feugiat id sagittis in, bibendum at lorem. Proin eu diam sem. Cras at lectus eget ligula interdum euismod. Aliquam in malesuada mauris. Nunc nec tempus arcu. Aliquam erat volutpat. Proin viverra luctus tortor rhoncus tincidunt.</p>
							</div>
							
							<div class="sub_section">
								<h2 class="small">Mauris ultricies velit eu sem placerat faucibus</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tincidunt purus et rhoncus. Vivamus convallis arcu nec elit laoreet vel pharetra ipsum interdum. Sed tincidunt felis at lacus consequat vitae auctor dolor lacinia. Sed ac urna in ipsum elementum euismod at et ipsum.</p>
							</div>
							<div class="sub_section">
								<h2 class="small">Etiam eleifend, ante vel suscipit</h2>
								<p>Aenean ultricies ullamcorper elementum. Etiam eleifend, ante vel suscipit vulputate, sem purus porttitor lorem, id pulvinar diam risus ac ante. estibulum sapien augue, malesuada in sollicitudin sed.</p>
							</div>
							<div class="sub_section">
								<h2 class="small">Maecenas hendrerit nisl ac facilisis rhoncus.</h2>
								<p>Quisque quis magna erat, quis ornare eros. Aliquam molestie laoreet enim, eu auctor arcu gravida rutrum. Aenean lorem erat, pulvinar ut laoreet id, tempor id urna. Pellentesque pharetra venenatis interdum. Mauris mollis dui pulvinar elit cursus eget fringilla tellus lacinia.</p>
							</div>
							<div class="sub_section">
								<h2 class="small">Mauris et varius turpis fusce porta</h2>
								<p>Mauris lacus augue, pulvinar vitae eleifend at, convallis fringilla est. Cras consequat velit at nisl tempor vitae faucibus mi faucibus. Quisque in ligula ac sapien mattis accumsan ut id lorem. Suspendisse mauris magna, venenatis sed porttitor non, fringilla at velit.</p>
							</div>
						</div>
                        <div class="content_section recently_viewed">
                            <h2><img src="/_Global/img/content/products/icon_recent.gif" alt="" /> Recently Viewed</h2>

                            <div class="fc bottom_feature_inner">
                                <ul class="fc fl recently_viewed_product">
                                    <li class="fl nm pf product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">BF90</a></h3>
                                            <div class="price">
                                                $10,399
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">BF135</a></h3>
                                            <div class="price">
                                                $15,329
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">BF5</a></h3>
                                            <div class="price">
                                                $1,995
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="fr recently_viewed_compare">
                                    <p class="np compare-these"><strong>Compare these outboard motors</strong></p>
                                    <a href="" class="btn primary"><span>Compare</span></a>
                                </div>
                            </div>
					    </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->