<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/safety.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="fc content_section first_section">
						<div class="banner"><img src="/_Global/img/content/safety/banner-safety.png" alt="Safety" /></div>
						<h1 class="nm np">Safety Guidelines <span>Engines</span></h1>
					</div>
					<div class="nb np content_section">
						<h2 class="small">Wear a lifejacket or Personal Flotation Device (PFD).</h2>
						<p>Unexpected immersion in water can place a boater at serious risk if he or she is not wearing a flotation device. This is true regardless of the experience of the boater, the nearness to shore and even swimming ability. Wearing a lifejacket gives you time to adjust to the emergency and allows you to assist others. Buckle up before getting on board.</p>
						
						<h2 class="small">Don't drink.</h2>
						<p>Mixing alcohol and boating is far more dangerous than you may realize. Fatigue, sun, wind and the motion of the boat dull your senses. Alcohol intensifies these effects, leaving you with poorer fine-motor skills and impaired judgment.</p>
						
						<h2 class="small">Be prepared.</h2>
						<p>Check the forecast for weather and water conditions before heading out and keep a watchful eye out for changing conditions. Inspect all your equipment before departure. More boating safety information: PublicSafety.gc.ca.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/downloads_only.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->