<!--#include virtual="/marine/inc/application_top.html"-->
<body class="french"> 
<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/sections/power-up.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
		<div class="nmb wrapper">
			<div class="container">
				<div class="content_container" id="powerup-banner">
					<img src="/_Global/img/content/marine/powerup/french/powerup.banner.jpg" alt="" />
				</div>
				
				<div class="content_container" id="powerup-container">
					<div class="fc" id="powerup-leader">
						<div class="fl powerup-info">
							<div class="powerup-header"><strong>Pendant un temps limité,</strong><br/>
								offrez-vous le bonheur sur l’eau à meilleur prix.</div>
							<p>Silencieux, efficaces et écoresponsables, les hors-bord Honda offrent la durabilité, la qualité et la fiabilité qu’on a l’habitude d’attendre de Honda. Depuis 1964,
								Honda fabrique uniquement des moteurs hors-bord à quatre temps, qui consomment moins de carburant et le brûlent plus proprement que les deux temps typiques. En plus,
								ils offrent une garantie non décroissante de 3 ans, de nombreuses technologies exclusives et des incitatifs spéciaux, alors il n'y a jamais eu de meilleur moment
								pour démarrer en puissance avec Honda.</p>
						</div>
						<div class="fr powerup-findadealer">
							<a title="Concessionnaires" href="http://hondacanada.ca/MCPEDealerLocator/Search?ProductLine=MAR&amp;L=F"></a>
						</div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Portatifs" src="/_Global/img/content/marine/powerup/french/header.portableoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF5AK3SC</div>
								<img alt="Honda BF5AK3SC" src="/_Global/img/content/marine/powerup/french/featured.motor1.jpg" />
								<div class="powerup-sidebar-content">
									<p>Offre à durée limitée</p>
									<h2>Économisez 170 $</h2>
									<h4>Votre prix 1 899 $</h4>
									<p>Frais de transport et d’inspection pré-livraison compris.</p>
									<hr/>
									<a class="show-full-specs" href="http://hondacanada.ca/HMarine/Models/ModelOverview?L=F&amp;Type=5-2.3HP&amp;Model=BF5">Voir la fiche complète du product</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF2DK0SCHC" href="">BF2DK0SCHC</a></td>
										<td>1 219 $</td>
										<td><span class="powerup-price-red">270 $</span></td>
										<td><span class="powerup-price-red">949 $</span></td>
									</tr>
									<tr>
										<td><a title="BF2DK0LC" href="">BF2DK0LC</a></td>
										<td>1 199 $</td>
										<td><span class="powerup-price-red">250 $</span></td>
										<td><span class="powerup-price-red">949 $</span></td>
									</tr>
									<tr>
										<td><a title="BF2.3DK2LCHC" href="">BF2.3DK2LCHC</a><br/><em>Nouveau</em></td>
										<td>1 249 $</td>
										<td><span class="powerup-price-red">70 $</span></td>
										<td><span class="powerup-price-red">1 179 $</span></td>
									</tr>
									<tr>
										<td><a title="BF2.3DK2LCHC" href="">BF2.3DK2LCHC</a><br/><em>Nouveau</em></td>
										<td>1 279 $</td>
										<td><span class="powerup-price-red">80 $</span></td>
										<td><span class="powerup-price-red">1 199 $</span></td>
									</tr>
									<tr>
										<td><a title="BF5AK3SC" href="">BF5AK3SC</a></td>
										<td>2 069 $</td>
										<td><span class="powerup-price-red">170 $</span></td>
										<td><span class="powerup-price-red">1 899 $</span></td>
									</tr>
									<tr>
										<td><a title="BF5AK3LC" href="">BF5AK3LC</a></td>
										<td>2 109 $</td>
										<td><span class="powerup-price-red">160 $</span></td>
										<td><span class="powerup-price-red">1 949 $</span></td>
									</tr>
									
									<tr>
										<td><a title="BF8DK3SHC" href="">BF8DK3SHC</a></td>
										<td>2 879 $</td>
										<td><span class="powerup-price-red">180 $</span></td>
										<td><span class="powerup-price-red">2 699 $</span></td>
									</tr>
									<tr>
										<td><a title="BF8DK3LHC" href="">BF8DK3LHC</a></td>
										<td>2 929 $</td>
										<td><span class="powerup-price-red">180 $</span></td>
										<td><span class="powerup-price-red">2 749 $</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3SHC" href="">BF9.9DK3SHC</a></td>
										<td>3 149 $</td>
										<td><span class="powerup-price-red">200 $</span></td>
										<td><span class="powerup-price-red">2 949 $</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3LHC" href="">BF9.9DK3LHC</a></td>
										<td>3 219 $</td>
										<td><span class="powerup-price-red">170 $</span></td>
										<td><span class="powerup-price-red">3 049 $</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3SHSC" href="">BF9.9DK3SHSC</a></td>
										<td>3 449 $</td>
										<td><span class="powerup-price-red">200 $</span></td>
										<td><span class="powerup-price-red">3 249 $</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3LRTC" href="">BF9.9DK3LRTC</a></td>
										<td>4 619 $</td>
										<td><span class="powerup-price-red">170 $</span></td>
										<td><span class="powerup-price-red">4 449 $</span></td>
									</tr>
									<tr>
										<td><a title="BFP9.9DK3LHS" href="">BFP9.9DK3LHS</a></td>
										<td>3 599 $</td>
										<td><span class="powerup-price-red">200 $</span></td>
										<td><span class="powerup-price-red">3 399 $</span></td>
									</tr>
									<tr>
										<td><a title="BFP9.9DK2XHS" href="">BFP9.9DK2XHS</a></td>
										<td>3 929 $</td>
										<td><span class="powerup-price-red">180 $</span></td>
										<td><span class="powerup-price-red">3 749 $</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3SHC" href="">BF15DK3SHC</a></td>
										<td>3 449 $</td>
										<td><span class="powerup-price-red">300 $</span></td>
										<td><span class="powerup-price-red">3 149 $</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3SHSC" href="">BF15DK3SHSC</a></td>
										<td>3 979 $</td>
										<td><span class="powerup-price-red">330 $</span></td>
										<td><span class="powerup-price-red">3 649 $</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3LHC" href="">BF15DK3LHC</a></td>
										<td>3 439 $</td>
										<td><span class="powerup-price-red">300 $</span></td>
										<td><span class="powerup-price-red">3 139 $</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3SHC" href="">BF20DK3SHC</a></td>
										<td>4 009 $</td>
										<td><span class="powerup-price-red">360 $</span></td>
										<td><span class="powerup-price-red">3 649 $</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3SHSC" href="">BF20DK3SHSC</a></td>
										<td>4 539 $</td>
										<td><span class="powerup-price-red">390 $</span></td>
										<td><span class="powerup-price-red">4 149 $</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LHC" href="">BF20DK3LHC</a></td>
										<td>4 049 $</td>
										<td><span class="powerup-price-red">300 $</span></td>
										<td><span class="powerup-price-red">3 749 $</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LHGC" href="">BF20DK3LHGC</a></td>
										<td>4 989 $</td>
										<td><span class="powerup-price-red">340 $</span></td>
										<td><span class="powerup-price-red">4 649 $</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LRTC" href="">BF20DK3LRTC</a></td>
										<td>5 489 $</td>
										<td><span class="powerup-price-red">340 $</span></td>
										<td><span class="powerup-price-red">5 149 $</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Intermédiaires" src="/_Global/img/content/marine/powerup/french/header.midrangeoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF50DK3LRTC</div>
								<img alt="Honda BF50DK3LRTC" src="/_Global/img/content/marine/powerup/french/featured.motor2.jpg" />
								<div class="powerup-sidebar-content">
									<p>Offre à durée limitée</p>
									<h2>Économisez 600 $</h2>
									<h4>Votre prix 7 299 $</h4>
									<p>Frais de transport et d’inspection pré-livraison compris.</p>
									<hr/>
									<a class="show-full-specs" href="http://hondacanada.ca/HMarine/Models/ModelOverview?L=F&amp;Type=50-40HP&amp;Model=BF50">Voir la fiche complète du product</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF25DK3SHGC" href="">BF25DK3SHGC</a></td>
										<td>5 659 $</td>
										<td><span class="powerup-price-red">360 $</span></td>
										<td><span class="powerup-price-red">5 299 $</span></td>
									</tr>
									<tr>
										<td><a title="BF25DK3LHGC" href="">BF25DK3LHGC</a></td>
										<td>5 719 $</td>
										<td><span class="powerup-price-red">370 $</span></td>
										<td><span class="powerup-price-red">5 349 $</span></td>
									</tr>
									<tr>
										<td><a title="BF30DK3LRTC" href="">BF30DK3LRTC</a></td>
										<td>6 819 $</td>
										<td><span class="powerup-price-red">320 $</span></td>
										<td><span class="powerup-price-red">6 499 $</span></td>
									</tr>
									<tr>
										<td><a title="BF40DK3LRTC" href="">BF40DK3LRTC</a></td>
										<td>7 379 $</td>
										<td><span class="powerup-price-red">480 $</span></td>
										<td><span class="powerup-price-red">6 899 $</span></td>
									</tr>
									<tr>
										<td><a title="BF50DK3LHTC" href="">BF50DK3LHTC</a></td>
										<td>8 099 $</td>
										<td><span class="powerup-price-red">600 $</span></td>
										<td><span class="powerup-price-red">7 499 $</span></td>
									</tr>
									<tr>
										<td><a title="BF50DK3LRTC" href="">BF50DK3LRTC</a></td>
										<td>7 899 $</td>
										<td><span class="powerup-price-red">600 $</span></td>
										<td><span class="powerup-price-red">7 299 $</span></td>
									</tr>
									<tr>
										<td><a title="BF60AK1LRTC" href="">BF60AK1LRTC</a></td>
										<td>9 099 $</td>
										<td><span class="powerup-price-red">600 $</span></td>
										<td><span class="powerup-price-red">8 499 $</span></td>
									</tr>
									<tr>
										<td><a title="BFP60AK1LRTC" href="">BFP60AK1LRTC</a><br/><em>Nouveau</em></td>
										<td>9 449 $</td>
										<td><span class="powerup-price-red">550 $</span></td>
										<td><span class="powerup-price-red">8 899 $</span></td>
									</tr>
									<tr>
										<td><a title="BF75DK2LRTC" href="">BF75DK2LRTC</a></td>
										<td>10 399 $</td>
										<td><span class="powerup-price-red">800 $</span></td>
										<td><span class="powerup-price-red">9 599 $</span></td>
									</tr>
									<tr>
										<td><a title="BF90DK2LRTC" href="">BF90DK2LRTC</a></td>
										<td>10 649 $</td>
										<td><span class="powerup-price-red">750 $</span></td>
										<td><span class="powerup-price-red">9 899 $</span></td>
									</tr>
									<tr>
										<td><a title="BF90DK2XRTC" href="">BF90DK2XRTC</a></td>
										<td>11 099 $</td>
										<td><span class="powerup-price-red">800 $</span></td>
										<td><span class="powerup-price-red">10 299 $</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Grosses cylindrées" src="/_Global/img/content/marine/powerup/french/header.largeoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF225AK2XC</div>
								<img alt="Honda BF4AK3SC" src="/_Global/img/content/marine/powerup/french/featured.motor3.jpg" />
								<div class="powerup-sidebar-content">
									<p>Offre à durée limitée</p>
									<h2>Économisez 1 500 $</h2>
									<h4>Votre prix 21 479 $</h4>
									<p>Frais de transport et d’inspection pré-livraison compris.</p>
									<hr/>
									<a class="show-full-specs" href="http:// http://hondacanada.ca/HMarine/Models/ModelOverview?L=F&amp;Type=250-225HP&amp;Model=BF225">Voir la fiche complète du product</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/french/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF115DK1LC" href="">BF115DK1LC</a><br/><em>Nouveau</em></td>
										<td>13 049 $</td>
										<td><span class="powerup-price-red">550 $</span></td>
										<td><span class="powerup-price-red">12 499 $</span></td>
									</tr>
									<tr>
										<td><a title="BF115DK1XC" href="">BF115DK1XC</a><br/><em>Nouveau</em></td>
										<td>13 225 $</td>
										<td><span class="powerup-price-red">526 $</span></td>
										<td><span class="powerup-price-red">12 699 $</span></td>
									</tr>
									<tr>
										<td><a title="BF135AK0LC" href="">BF135AK0LC</a></td>
										<td>15 429 $</td>
										<td><span class="powerup-price-red">830 $</span></td>
										<td><span class="powerup-price-red">14 599 $</span></td>
									</tr>
									<tr>
										<td><a title="BF135AK0XC" href="">BF135AK0XC</a></td>
										<td>15 649 $</td>
										<td><span class="powerup-price-red">850 $</span></td>
										<td><span class="powerup-price-red">14 699 $</span></td>
									</tr>
									<tr>
										<td><a title="BF150AK2XC" href="">BF150AK2XC</a></td>
										<td>17 099 $</td>
										<td><span class="powerup-price-red">1 000 $</span></td>
										<td><span class="powerup-price-red">16 099 $</span></td>
									</tr>
									<tr>
										<td><a title="BF150AK2XCC" href="">BF150AK2XCC</a></td>
										<td>17 679 $</td>
										<td><span class="powerup-price-red">980 $</span></td>
										<td><span class="powerup-price-red">16 699 $</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XC" href="">BF225AK2XC</a></td>
										<td>22 979 $</td>
										<td><span class="powerup-price-red">1 500 $</span></td>
										<td><span class="powerup-price-red">21 479 $</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XCC" href="">BF225AK2XCC</a></td>
										<td>23 359 $</td>
										<td><span class="powerup-price-red">1 500 $</span></td>
										<td><span class="powerup-price-red">21 859 $</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XXC" href="">BF225AK2XXC</a></td>
										<td>23 655 $</td>
										<td><span class="powerup-price-red">1 500 $</span></td>
										<td><span class="powerup-price-red">22 155 $</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<p id="powerup-disclaimer"><strong>Avertissement:</strong> Les offres s’appliquent aux contrats de vente au détail admissibles de modèles choisis de moteurs hors-bord Honda neufs (n’ayant jamais été enregistrés) pendant une durée limitée, jusqu’à épuisement des stocks. Les prix indiqués comprennent le transport et l’inspection pré-livraison : 2 à 20 ch 50 $, 25 à 150 ch 100 $ et 225 ch 200 $. L’installation et les taxes de vente sont en sus. Le concessionnaire peut vendre à prix moindre. Les prix « Votre prix » indiqués comprennent un rabais qui est déduit du prix de vente avant taxes. Les prix et les économies réelles peuvent différer selon le concessionnaire. Les prix et les spécifications peuvent changer sans préavis. Honda Canada se réserve le droit de modifier, de prolonger ou de limiter ses offres au moment de son choix. Il se peut que le concessionnaire ait à effectuer une commande ou un échange. Chez les concessionnaires canadiens de produits mécaniques et de produits marins Honda participants seulement. Les modèles et les couleurs peuvent différer légèrement de leur illustration. Sauf erreur ou omission. Voyez votre concessionnaire de produits mécaniques ou de produits marins Honda ou visitez honda.ca pour obtenir tous les détails. N’utilisez jamais votre moteur hors-bord Honda lorsque vos facultés sont affaiblies par l’alcool ou la drogue. Portez toujours un vêtement de flottaison individuel lorsque vous êtes en bateau et lisez le manuel du propriétaire avant d’utiliser votre moteur hors-bord Honda.</p>
				</div>
			</div>
			<div class="cap_bottom_default pf"></div>
		</div>
		<div class="clr"></div>
	</div>
	<div class="background_wrapper"></div>
</div>


<!--#include virtual="/marine/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->