<!--#include virtual="/marine/inc/application_top.html"-->
<body class=""> 
<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/sections/power-up.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
		<div class="nmb wrapper">
			<div class="container">
				<div class="content_container" id="powerup-banner">
					<img src="/_Global/img/content/marine/powerup/english/powerup.banner.jpg" alt="" />
				</div>
				
				<div class="content_container" id="powerup-container">
					<div class="fc" id="powerup-leader">
						<div class="fl powerup-info">
							<div class="powerup-header"><strong>Enjoy great prices,</strong> on Honda outboards.</div>
							<p>Quiet, efficient and environmentally responsible, Honda outboards deliver the legendary durability, quality and reliability you've come
								to expect from a Honda. Since 1964, Honda has manufactured only four-stroke outboards, which require less fuel and burn cleaner than
								typical two-strokes. With a 3-year, non-declining warranty, many exclusive technologies and special incentives, now is the perfect time
								to power up with Honda.</p>
						</div>
						<div class="fr powerup-findadealer">
							<a title="Find a Dealer" href="http://hondacanada.ca/MCPEDealerLocator/Search?ProductLine=MAR&amp;L=E"></a>
						</div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Portable Outboards" src="/_Global/img/content/marine/powerup/english/header.portableoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF5AK3SC</div>
								<img alt="Honda BF5AK3SC" src="/_Global/img/content/marine/powerup/english/featured.motor1.jpg" />
								<div class="powerup-sidebar-content">
									<p>For a limited time</p>
									<h2>Save $170</h2>
									<h4>Now Only $1,849</h4>
									<p>Plus freight, P.D.I., installation and sales taxes.<br/>For a limited time.</p>
									<hr/>
									<a class="show-full-specs" href="http://hondacanada.ca/HMarine/Models/ModelOverview?L=E&amp;Type=5-2.3HP&amp;Model=BF5">See full product specs</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF2DK0SCHC" href="">BF2DK0SCHC</a></td>
										<td>$1,169</td>
										<td><span class="powerup-price-red">$270</span></td>
										<td><span class="powerup-price-red">$899</span></td>
									</tr>
									<tr>
										<td><a title="BF2DK0LC" href="">BF2DK0LC</a></td>
										<td>$1,149</td>
										<td><span class="powerup-price-red">$250</span></td>
										<td><span class="powerup-price-red">$899</span></td>
									</tr>
									<tr>
										<td><a title="BF2.3DK2LCHC" href="">BF2.3DK2LCHC</a> <em>New</em></td>
										<td>$1,199</td>
										<td><span class="powerup-price-red">$70</span></td>
										<td><span class="powerup-price-red">$1,129</span></td>
									</tr>
									<tr>
										<td><a title="BF2.3DK2LCHC" href="">BF2.3DK2LCHC</a> <em>New</em></td>
										<td>$1,229</td>
										<td><span class="powerup-price-red">$80</span></td>
										<td><span class="powerup-price-red">$1,149</span></td>
									</tr>
									<tr>
										<td><a title="BF5AK3SC" href="">BF5AK3SC</a></td>
										<td>$2,019</td>
										<td><span class="powerup-price-red">$170</span></td>
										<td><span class="powerup-price-red">$1,849</span></td>
									</tr>
									<tr>
										<td><a title="BF5AK3LC" href="">BF5AK3LC</a></td>
										<td>$2,059</td>
										<td><span class="powerup-price-red">$160</span></td>
										<td><span class="powerup-price-red">$1,899</span></td>
									</tr>
									<tr>
										<td><a title="BF8DK3SHC" href="">BF8DK3SHC</a></td>
										<td>$2,829</td>
										<td><span class="powerup-price-red">$180</span></td>
										<td><span class="powerup-price-red">$2,649</span></td>
									</tr>
									<tr>
										<td><a title="BF8DK3LHC" href="">BF8DK3LHC</a></td>
										<td>$2,879</td>
										<td><span class="powerup-price-red">$180</span></td>
										<td><span class="powerup-price-red">$2,699</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3SHC" href="">BF9.9DK3SHC</a></td>
										<td>$3,099</td>
										<td><span class="powerup-price-red">$200</span></td>
										<td><span class="powerup-price-red">$2,899</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3LHC" href="">BF9.9DK3LHC</a></td>
										<td>$3,169</td>
										<td><span class="powerup-price-red">$170</span></td>
										<td><span class="powerup-price-red">$2,999</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3SHSC" href="">BF9.9DK3SHSC</a></td>
										<td>$3,399</td>
										<td><span class="powerup-price-red">$200</span></td>
										<td><span class="powerup-price-red">$3,199</span></td>
									</tr>
									<tr>
										<td><a title="BF9.9DK3LRTC" href="">BF9.9DK3LRTC</a></td>
										<td>$4,569</td>
										<td><span class="powerup-price-red">$170</span></td>
										<td><span class="powerup-price-red">$4,399</span></td>
									</tr>
									<tr>
										<td><a title="BFP9.9DK3LHS" href="">BFP9.9DK3LHS</a></td>
										<td>$3,549</td>
										<td><span class="powerup-price-red">$200</span></td>
										<td><span class="powerup-price-red">$3,349</span></td>
									</tr>
									<tr>
										<td><a title="BFP9.9DK2XHS" href="">BFP9.9DK2XHS</a></td>
										<td>$3,879</td>
										<td><span class="powerup-price-red">$180</span></td>
										<td><span class="powerup-price-red">$3,699</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3SHC" href="">BF15DK3SHC</a></td>
										<td>$3,399</td>
										<td><span class="powerup-price-red">$300</span></td>
										<td><span class="powerup-price-red">$3,099</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3SHSC" href="">BF15DK3SHSC</a></td>
										<td>$3,929</td>
										<td><span class="powerup-price-red">$330</span></td>
										<td><span class="powerup-price-red">$3,599</span></td>
									</tr>
									<tr>
										<td><a title="BF15DK3LHC" href="">BF15DK3LHC</a></td>
										<td>$3,389</td>
										<td><span class="powerup-price-red">$300</span></td>
										<td><span class="powerup-price-red">$3,089</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3SHC" href="">BF20DK3SHC</a></td>
										<td>$3,959</td>
										<td><span class="powerup-price-red">$360</span></td>
										<td><span class="powerup-price-red">$3,599</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3SHSC" href="">BF20DK3SHSC</a></td>
										<td>$4,489</td>
										<td><span class="powerup-price-red">$390</span></td>
										<td><span class="powerup-price-red">$4,099</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LHC" href="">BF20DK3LHC</a></td>
										<td>$3,999</td>
										<td><span class="powerup-price-red">$300</span></td>
										<td><span class="powerup-price-red">$3,699</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LHGC" href="">BF20DK3LHGC</a></td>
										<td>$4,939</td>
										<td><span class="powerup-price-red">$340</span></td>
										<td><span class="powerup-price-red">$4,599</span></td>
									</tr>
									<tr>
										<td><a title="BF20DK3LRTC" href="">BF20DK3LRTC</a></td>
										<td>$5,439</td>
										<td><span class="powerup-price-red">$340</span></td>
										<td><span class="powerup-price-red">$5,099</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Mid-Range Outboards" src="/_Global/img/content/marine/powerup/english/header.midrangeoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF50DK3LRTC</div>
								<img alt="Honda BF50DK3LRTC" src="/_Global/img/content/marine/powerup/english/featured.motor2.jpg" />
								<div class="powerup-sidebar-content">
									<p>For a limited time</p>
									<h2>Save $600</h2>
									<h4>Now Only $7,199</h4>
									<p>Plus freight, P.D.I., installation and sales taxes.<br/>For a limited time.</p>
									<hr/>
									<a class="show-full-specs" href="http://hondacanada.ca/HMarine/Models/ModelOverview?L=E&amp;Type=50-40HP&amp;Model=BF50">See full product specs</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF25DK3SHGC" href="">BF25DK3SHGC</a></td>
										<td>$5,559</td>
										<td><span class="powerup-price-red">$360</span></td>
										<td><span class="powerup-price-red">$5,199</span></td>
									</tr>
									<tr>
										<td><a title="BF25DK3LHGC" href="">BF25DK3LHGC</a></td>
										<td>$5,619</td>
										<td><span class="powerup-price-red">$370</span></td>
										<td><span class="powerup-price-red">$5,249</span></td>
									</tr>
									<tr>
										<td><a title="BF30DK3LRTC" href="">BF30DK3LRTC</a></td>
										<td>$6,719</td>
										<td><span class="powerup-price-red">$320</span></td>
										<td><span class="powerup-price-red">$6,399</span></td>
									</tr>
									<tr>
										<td><a title="BF40DK3LRTC" href="">BF40DK3LRTC</a></td>
										<td>$7,279</td>
										<td><span class="powerup-price-red">$480</span></td>
										<td><span class="powerup-price-red">$6,799</span></td>
									</tr>
									<tr>
										<td><a title="BF50DK3LHTC" href="">BF50DK3LHTC</a></td>
										<td>$7,999</td>
										<td><span class="powerup-price-red">$600</span></td>
										<td><span class="powerup-price-red">$7,399</span></td>
									</tr>
									<tr>
										<td><a title="BF50DK3LRTC" href="">BF50DK3LRTC</a></td>
										<td>$7,799</td>
										<td><span class="powerup-price-red">$600</span></td>
										<td><span class="powerup-price-red">$7,199</span></td>
									</tr>
									<tr>
										<td><a title="BF60AK1LRTC" href="">BF60AK1LRTC</a></td>
										<td>$8,999</td>
										<td><span class="powerup-price-red">$600</span></td>
										<td><span class="powerup-price-red">$8,399</span></td>
									</tr>
									<tr>
										<td><a title="BFP60AK1LRTC" href="">BFP60AK1LRTC</a> <em>New</em></td>
										<td>$9,349</td>
										<td><span class="powerup-price-red">$550</span></td>
										<td><span class="powerup-price-red">$8,799</span></td>
									</tr>
									<tr>
										<td><a title="BF75DK2LRTC" href="">BF75DK2LRTC</a></td>
										<td>$10,299</td>
										<td><span class="powerup-price-red">$800</span></td>
										<td><span class="powerup-price-red">$9,499</span></td>
									</tr>
									<tr>
										<td><a title="BF90DK2LRTC" href="">BF90DK2LRTC</a></td>
										<td>$10,549</td>
										<td><span class="powerup-price-red">$750</span></td>
										<td><span class="powerup-price-red">$9,799</span></td>
									</tr>
									<tr>
										<td><a title="BF90DK2XRTC" href="">BF90DK2XRTC</a></td>
										<td>$10,999</td>
										<td><span class="powerup-price-red">$800</span></td>
										<td><span class="powerup-price-red">$10,199</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<div class="powerup-body">
						<h2><img alt="Large Outboards" src="/_Global/img/content/marine/powerup/english/header.largeoutboards.jpg" /></h2>
						<div class="fc powerup-content">
							<div class="fl powerup-sidebar">
								<div class="powerup-featured">BF225AK2XC</div>
								<img alt="Honda BF225AK2XC" src="/_Global/img/content/marine/powerup/english/featured.motor3.jpg" />
								<div class="powerup-sidebar-content">
									<p>For a limited time</p>
									<h2>Save $1,500</h2>
									<h4>Now Only $21,279</h4>
									<p>Plus freight, P.D.I., installation and sales taxes.<br/>For a limited time.</p>
									<hr/>
									<a class="show-full-specs" href="http://hondacanada.ca/HMarine/Models/ModelOverview?L=F&amp;Type=250-225HP&amp;Model=BF225">See full product specs</a>
								</div>
							</div>
							<div class="fl powerup-pricetable">
								<table cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td class="table-header"><img alt="Model" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.model.png"></td>
										<td class="table-header"><img alt="MSRP" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.msrp.png"></td>
										<td class="table-header"><img alt="Savings" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.savings.png"></td>
										<td class="table-header"><img alt="Your Price" src="/_Global/img/content/marine/powerup/english/powerup.tablehead.promo.png"></td>
									</tr>
									<tr>
										<td><a title="BF115DK1LC" href="">BF115DK1LC</a> <em>New</em></td>
										<td>$12,949</td>
										<td><span class="powerup-price-red">$550</span></td>
										<td><span class="powerup-price-red">$12,399</span></td>
									</tr>
									<tr>
										<td><a title="BF115DK1XC" href="">BF115DK1XC</a> <em>New</em></td>
										<td>$13,125</td>
										<td><span class="powerup-price-red">$526</span></td>
										<td><span class="powerup-price-red">$12,599</span></td>
									</tr>
									<tr>
										<td><a title="BF135AK0LC" href="">BF135AK0LC</a></td>
										<td>$15,329</td>
										<td><span class="powerup-price-red">$830</span></td>
										<td><span class="powerup-price-red">$14,499</span></td>
									</tr>
									<tr>
										<td><a title="BF135AK0XC" href="">BF135AK0XC</a></td>
										<td>$15,549</td>
										<td><span class="powerup-price-red">$850</span></td>
										<td><span class="powerup-price-red">$14,699</span></td>
									</tr>
									<tr>
										<td><a title="BF150AK2XC" href="">BF150AK2XC</a></td>
										<td>$16,999</td>
										<td><span class="powerup-price-red">$1,000</span></td>
										<td><span class="powerup-price-red">$15,999</span></td>
									</tr>
									<tr>
										<td><a title="BF150AK2XCC" href="">BF150AK2XCC</a></td>
										<td>$17,579</td>
										<td><span class="powerup-price-red">$980</span></td>
										<td><span class="powerup-price-red">$16,599</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XC" href="">BF225AK2XC</a></td>
										<td>$22,779</td>
										<td><span class="powerup-price-red">$1,500</span></td>
										<td><span class="powerup-price-red">$21,279</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XCC" href="">BF225AK2XCC</a></td>
										<td>$23,159</td>
										<td><span class="powerup-price-red">$1,500</span></td>
										<td><span class="powerup-price-red">$21,659</span></td>
									</tr>
									<tr>
										<td><a title="BF225AK2XXC" href="">BF225AK2XXC</a></td>
										<td>$23,455</td>
										<td><span class="powerup-price-red">$1,500</span></td>
										<td><span class="powerup-price-red">$21,955</span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="powerup-body-footer"></div>
					</div>
					
					<p id="powerup-disclaimer">*Offers apply to eligible retail purchase agreements on select models of new (not previously registered) Honda outboards for a limited time, while supplies last. All prices shown do not include freight and PDI and installation, or applicable sales taxes and are not applicable in Quebec. Dealer may sell for less. "Your price" prices shown include a discount that is deducted from the manufacturer's suggested retail price before taxes. Actual prices and savings may vary by dealer. Prices/specifications subject to change without notice. Honda Canada reserves the right to change, extend or limit its offers at any time. Dealer order or trade may be necessary. At participating Canadian Honda Power Equipment and Marine dealers only excluding Quebec. Models and colours may not be exactly as shown. Errors and omissions excepted. See your Honda Power Equipment and Marine dealer or honda.ca for full details. Never operate your Honda outboard under the influence of drugs or alcohol. Always wear a personal floatation device while boating and read your owneris manual before operating your Honda outboard.</p>
				</div>
			</div>
			<div class="cap_bottom_default pf"></div>
		</div>
		<div class="clr"></div>
	</div>
	<div class="background_wrapper"></div>
</div>


<!--#include virtual="/marine/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->