a.btn_large{text-align:center;}

h2.small{font-size:14px;}

.col-2-full-divider{background:url("/_Global/img/layout/vertical_divider.png") center repeat-y;}
.col-2-full-divider dd{width:410px; margin-left:0px;}
.col-2-full-divider dd.first{margin-left:0;}
.col-2-full-divider .group{margin-top:34px;}
.col-2-full-divider .group:nth-child(1){margin-top:0;}
.col-2-full-divider h2.small{margin-bottom:6px;}
.col-2-full-divider p{margin-bottom:8px;}

.col-2-full-divider .primary-list{font-size:11px; color:#424242; line-height:16px;}
.col-2-full-divider .primary-list li{margin-top:10px;}
.col-2-full-divider .primary-list li:nth-child(1){margin-top:0;}

.warranty-period{margin-top:40px;}
.warranty-period table{margin:26px 0 40px 0; width:100%;}
.warranty-period table tr{}
.warranty-period table tr td{border-top:1px solid #d6d6d6; padding:20px 20px; font-size:11px; color:#424242; font-family:verdana, arial, sans-serif; font-weight:bold; line-height:15px;}
.warranty-period table tr td span{font-weight:normal; font-size:9px; display:block; line-height:12px;}
.warranty-period table tr td:nth-child(even){background:#f6f6f6;}
.warranty-period table tr td:nth-child(1){padding-left:0; width:106px;}
.warranty-period table tr td:nth-child(2){width:80px;}
.warranty-period table tr td:nth-child(3){width:130px;}
.warranty-period table tr td:nth-child(4){width:80px;}
.warranty-period table tr.notes td{font-weight:normal; background:transparent;}

.first_section{padding-bottom:30px;}
.secondary-copy p{width:580px;}

.primary-copy{margin-bottom:50px;}
.primary-copy h2{width:540px; margin-bottom:14px;}
.primary-copy p{width:748px;}

* html .cap_bottom_default{zoom:1;}