<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container">
						<div class="content_section first_section">
							<img src="/_Global/img/temp/banner-accessories-placeholder.gif" alt="" />
						</div>
						<div class="content_section">
							<h1>Accessories</h1>
							<div class="fc accessories-content">
								<div class="fl accessories-content-area">
									<h2 class="small">News</h2>
									
									<div class="sub_section first_subsection">
										<h3>The all new genuine Honda ATV front and rear cargo boxes.</h3>
										<p>We are pleased to announce the addition of 2 new exciting genuine Honda ATV accessories to our line-up. ATV cargo boxes are a basic necessity for the true ATV outdoorsman and now Honda engineers have matched their design mastery with Honda fit and finish in order to produce these front and rear ATV cargo boxes to fit TRX420/500/680 models. Increase cargo carrying versatility with the new genuine Honda front and rear cargo boxes. For more details use the accessory selection tool and select your ATV model.</p>
									</div>
								</div>
								<div class="fr accessories-side-image">
									<img src="/_Global/img/temp/accessories-side-placeholder.gif" alt="" />
								</div>
							</div>
							<div class="accessories-footer">
								<img src="/_Global/img/temp/accessories-footer-placeholder.gif" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->