<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: compare-results.html 15248 2011-06-21 18:41:35Z hicksd $ -->
<body class="page-compare-results">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/compare.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/sections/compare.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
<div class="page-find-a-dealer">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>compare <span>ATV</span><span class="lowercase">s</span></h1>
					<table class="tbl tbl_compare_result" border="0">
						<thead>
				 			<tr class="first top">
								<th class="first odd name">
									<div><span>Choose Your Model</span></div>
								</th>
					 			<th class="odd compare">
									<div class="tag-trim-details">
										<div class="model">
											<span>rx700xx</span>
										</div>
										<span class="price">$10,599</span>
										<span class="msrp">MSRP</span>
										<div class="clr"></div>
										<div class="product_image">
											<img src="/_Global/img/content/compare/product_image_sample.gif"/>
										</div>
										<div class="change_btn">
											<a class="btn secondary" href="#"><span><cufon class="cufon cufon-canvas" alt="change " style="width: 69px; height: 12px;"><canvas width="79" height="11" style="width: 79px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>change </cufontext></cufon></span></a>
										</div>
									</div>
								</th>							
								<th class="odd spacer"></th>
								<th class="even compare">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
									<div class="tag-trim-details">
										<div class="model">
											<span>rx700xx</span>
											<a href="#" class="close"></a>
											<div class="clr"></div>
										</div>
										<span class="price">$10,599</span>
										<span class="msrp">MSRP</span>
										<div class="clr"></div>
										<div class="product_image">
											<img src="/_Global/img/content/compare/product_image_sample.gif"/>
										</div>
										<div class="change_btn">
											<a class="btn secondary" href="#"><span><cufon class="cufon cufon-canvas" alt="change " style="width: 69px; height: 12px;"><canvas width="79" height="11" style="width: 79px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>change </cufontext></cufon></span></a>
										</div>
									</div>
								</th>							
								<th class="odd spacer"></th>
								<th class="even compare">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
									<div class="tag-trim-details">
										<div class="model">
											<span>rx700xx</span>
											<a href="#" class="close"></a>
											<div class="clr"></div>
										</div>
										<span class="price">$10,599</span>
										<span class="msrp">MSRP</span>
										<div class="clr"></div>
										<div class="product_image">
											<img src="/_Global/img/content/compare/product_image_sample.gif"/>
										</div>
										<div class="change_btn">
											<a class="btn secondary" href="#"><span><cufon class="cufon cufon-canvas" alt="change " style="width: 69px; height: 12px;"><canvas width="79" height="11" style="width: 79px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>change </cufontext></cufon></span></a>
										</div>
									</div>
								</th>
								<!-- FIXME &nbsp; hack to prevent gray area -->
								<th class="odd spacer"></th>
								<th class="last even compare">
									<div class="top_corners">
										<div class="tl"></div><div class="tr"></div>
										<div class="clr"></div>
									</div>
									<div class="popup_wrap">
										<a href="#" class="btn secondary"
											data-position-my="right top"
											data-position-at="right bottom"
											data-popup-class="model-selector"
											data-popup-content-target="#model-popup"
											data-popup-hanger="true"
											property="act:popup"><span>Select a Model</span></a>
										<div id="model-popup" class="dn">
											<div>
												
											</div>
										</div>
									</div>
								</th>							
							</tr>
						</thead>
						<tbody>
							<tr class="note">
								<td class="note" colspan="2"><div><span>Indicates differences between models.</span></div></td>								
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span></span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span></span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr class="first">
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Engine Type</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                           <h3>Zone Start Safety System </h3>
					                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
					                        </div>
					                    </p>
									</div>									
								</td>		
								<td class="odd"><div><span>1.6</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>1.6</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>1.6</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr>
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Honda Engine Type</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                            Tooltip content
					                        </div>
					                    </p>
									</div>
								</td>
								<td class="odd"><div><span>I-4</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>I-4</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>I-4</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr class="differences">
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Displacement</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                        	<h3></h3>   
					                        </div>
					                    </p>
									</div>	
								</td>
								<td class="odd"><div><span>119 @ 6,000 RPM</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>119 @ 6,000 RPM</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>119 @ 6,000 RPM</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr>
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Ignition System</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                            Tooltip content
					                        </div>
					                    </p>
									</div>
								</td>
								<td class="odd"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr>
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Zone Start Safety System</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                        </div>
					                    </p>
									</div>
									
								</td>
								<td class="odd"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>Front-wheel</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
							<tr class="last bottom differences">
								<td class="first odd">
									<div>
										<p>
					                        <a property="act:tooltip"
					                           data-tooltip-class="tooltip-right-alt"
					                           data-position="right bottom"
					                           data-tooltip-content-target="#tooltip-content-1234a">Transmission</a>
					                        <div id="tooltip-content-1234a" class="dn">
					                            Tooltip content
					                        </div>
					                    </p>
									</div>
								</td>
								<td class="odd"><div><span>Infinitely Variable Speed with Multi-Position Smartdrive</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>5-speed manual</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>5-speed manual</span></div></td>
								<td class="odd spacer"><div><span></span></div></td>
								<td class="even"><div><span>&nbsp;</span></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	    <div class="cap_bottom_default pf"></div>
    </div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->


<div class="dropdown_container pf model-selector commonlib-popup" style="display: block; top: 440.5px; left: 808px;">
	<div class="dropdown_button pf">
		<span class="dropdown_button_right pf"><a class="btn secondary dropdown-widget-clone dd_button" href="#">
			<span><cufon class="cufon cufon-canvas" alt="Select " style="width: 42px; height: 12px;"><canvas width="51" height="11" style="width: 51px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>Select </cufontext></cufon><cufon class="cufon cufon-canvas" alt="a " style="width: 11px; height: 12px;"><canvas width="20" height="11" style="width: 20px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>a </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Model" style="width: 38px; height: 12px;"><canvas width="44" height="11" style="width: 44px; height: 11px; top: 1px; left: -1px;"></canvas><cufontext>Model</cufontext></cufon></span>
			
		</a></span>
	</div>
	<div class="dropdown_content pf">
		<div class="dropdown_content_top pf"></div>
		<div class="dropdown_content_mid pf"><div>
			<h3>Select Series</h3>
			<select>
				<option>Utility</option>
				<option>Utility</option>
				<option>Utility</option>
			</select>
			<div class="line"></div>
			<div class="selection_wrap">
				<div class="item">
					<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								>
					</div>
					<h3 class="price-heading">HRS2164PDC</h3>
					<div class="fc final price">
						<strong>$999</strong>
						<span>MSRP</span>
					</div>
				</div>
				<div class="item">
					<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-target="#toolbox_item"
								>
					</div>
					<h3 class="price-heading">HRS2164PDC</h3>
					<div class="fc final price">
						<strong>$999</strong>
						<span>MSRP</span>
					</div>
				</div>				
			</div>             
		</div>
		</div>
		<div class="dropdown_content_bottom pf"></div>
	</div>
</div>

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->