<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-current-offers-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/current-offers.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/special-offers/details.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
</div></div>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->