<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-news-events">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/news-events.css" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/news-events.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-news-events2.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="events">
						<div class="fc title_section content_section first_section">
							<h1 class="fl">Events</h1>
							<a href="#" class="fr btn secondary download"><span>Download Events Listing</span></a>
						</div>
						<div class="content_section">
							<div class="fc three-boxes boxes">
								<div class="first box">
									<div class="h3">Select a Division</div>
									<select>
										<option>Select One</option>
										<option>ATVs</option>
										<option>Motorcycles</option>
									</select>
								</div>
								<div class="box">
									<div class="h3">Select a Province</div class="h3">
									<select>
										<option>Select One</option>
										<option>Alberta</option>
										<option>British Columbia</option>
										<option>Manitoba</option>
										<option>New Brunswick</option>
	    								<option>Newfoundland and Labrador</option>
										<option>Northwest Territories</option>
										<option>Nova Scotia</option>
										<option>Ontario</option>
										<option>Prince Edward Island</option>
										<option>Quebec</option>
										<option>Saskatchewan</option>
										<option>Yukon</option>
									</select>
								</div>
								<div class="box">
									<div class="h3">Select Event Type</div>
									<select>
										<option>Select One</option>
										<option>All</option>
										<option>Outdoor</option>
										<option>Trade Show</option>
									</select>
								</div>
							</div>
						</div>
						<div class="content_section">
							<div class="event-type">Outdoor Event</div>
							<h2>The Ontario Federation of Trail Rider's (OTFR):<br />
								Jim Kelly Memorial Trail Ride</h2>
							
							<dl class="fc event-item">
								<div class="fl event-item-col">
									<dt>Date</dt>
									<dd>May 23, 2011</dd>
								</div>
								<div class="fl event-item-col">
									<dt>Location</dt>
									<dd>1000 Address<br />
										Midhurst, Ontario</dd>
								</div>
								<div class="fl">
									<dt>Hours</dt>
									<dd>Friday, May 23: 10am - 10pm</dd>
								</div>
							</dl>
							
							<div class="fc buttons">
								<a href="#" class="fl btn secondary first"><span>Find Out More</span></a>
								<a href="#" class="fl btn secondary"><span>Download PDF</span></a>
							</div>
						</div>
						<div class="content_section_dotted">
							<div class="event-type">Trade Show</div>
							<h2>Toronto Motorcycle Show<br />
								Salon de la moto de Toronto</h2>
							
							<dl class="fc event-item">
								<div class="fl event-item-col">
									<dt>Date</dt>
									<dd>June 6, 2011</dd>
								</div>
								<div class="fl event-item-col">
									<dt>Location</dt>
									<dd>Toronto, Ontario</dd>
								</div>
							</dl>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="overview.html#">Read More</a></p>
							
							<div class="fc buttons">
								<a href="#" class="fl btn secondary first"><span>Find Out More</span></a>
							</div>
						</div>
						<div class="content_section_dotted">
							<div class="event-type">Trade Show</div>
							<h2>Toronto Motorcycle Show<br />
								Salon de la moto de Toronto</h2>
							
							<div class="event-image"><img src="/_Global/img/temp/news-events-image-placeholder.jpg" alt="" /></div>
								
							<dl class="fc event-item">
								<div class="fl event-item-col">
									<dt>Date</dt>
									<dd>June 6, 2011</dd>
								</div>
								<div class="fl event-item-col">
									<dt>Location</dt>
									<dd>Toronto, Ontario</dd>
								</div>
							</dl>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris … <a href="overview.html#">Read More</a></p>
							
							<div class="fc buttons">
								<a href="#" class="fl btn secondary first"><span>Find Out More</span></a>
							</div>
						</div>
						
						<div class="fc content_section np">
							<div class="pagination">
								<a href="#" class="pf page-prev">Prev</a>
								<a href="#" class="pf page active">1</a>
								<a href="#" class="pf page">2</a>
								<a href="#" class="pf page">3</a>
								<a href="#" class="pf page">4</a>
								<a href="#" class="pf page">5</a>
								<a href="#" class="page-all">View All</a>
								<a href="#" class="pf page-next">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->