<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-gear-apparel">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/gear-apparel.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-apparel.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="overview">
						<div class="content_section first_section">
							<h1>Honda Gear &amp; Apparel</h1>
							<img src="/_Global/img/temp/placeholder_apparel_gallery.jpg" alt="" />
							
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
							<p class="large">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean vel convallis quam. Pellentesque non nunc sit amet augue mollis consectetur sit amet id diam. Quisque interdum, orci sit amet tristique congue, ante sapien congue est, vel vestibulum.</p>
						</div>
						<div class="np content_section">
							<div class="fc product">
								<div class="fl first product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-safetyriding.jpg" alt="" /></div>
									<h3 class="price-heading">Safety &amp; Riding Apparel</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-womens.jpg" alt="" /></div>
									<h3 class="price-heading">Women's Apparel</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-bootsgloves.jpg" alt="" /></div>
									<h3 class="price-heading">Riding Boots &amp; Gloves</h3>
								</div>
							</div>
							
							<div class="fc product">
								<div class="fl first product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-helmets.jpg" alt="" /></div>
									<h3 class="price-heading">Motorcycle Helmets</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-goldwing.jpg" alt="" /></div>
									<h3 class="price-heading">Gold Wing Collection</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-casual.jpg" alt="" /></div>
									<h3 class="price-heading">Honda Casual Wear</h3>
								</div>
								<div><!-- IE QUIRK --></div>
							</div>
							
							<div class="fc product">
								<div class="fl first product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-offroad.jpg" alt="" /></div>
									<h3 class="price-heading">Fox/Honda Off-Road Gear</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-kids.jpg" alt="" /></div>
									<h3 class="price-heading">Kid's Apparel</h3>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/content/atv/gear-apparel/section-backpacks.jpg" alt="" /></div>
									<h3 class="price-heading">Honda Backpacks</h3>
								</div>
								<div><!-- IE QUIRK --></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->