<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-gear-apparel">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/gear-apparel.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-apparel.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="" id="inner_page_content"><!--content_container-->
					<div class="results">
						<div class="content_section first_section top-pagination">
							<h1>Safety &amp; Riding Apparel</h1>
							
							<div class="pagination">
								<a href="#" class="pf page-prev">Prev</a>
								<a href="#" class="pf page active">1</a>
								<a href="#" class="pf page">2</a>
								<a href="#" class="pf page">3</a>
								<a href="#" class="pf page">4</a>
								<a href="#" class="pf page">5</a>
								<a href="#" class="pf page-next">Next</a>
							</div>
	                    </div>

						<div class="nb np content_section">
							<div class="fc product">
								<div class="fl first product-item">
									<a href="#"
										class="pf btn-tooltips"
										property="act:tooltip"
										data-position="right bottom"
										data-tooltip-class="tooltip-right-alt"
										data-tooltip-content-target=".product_overlay1">
										<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_1.jpg" alt="" /></div>
										
										<h3 class="price-heading">Honda Performance Textile Jacket</h3>
										
										<div class="fc final price">
											<strong>$299.99</strong>
											<span>MSRP</span>
										</div>
									</a>
									
									<span class="product_overlay1 dn">
										<img src="/_Global/img/temp/placeholder_jacket_1_overlay.jpg" alt="" />
										<div class="desc">
											<h3>Honda Performance Mesh Jacket</h3>
											<div class="fc final price">
												<strong>$249.99</strong>
												<span>MSRP</span>
											</div>
											<div class="options">
												<div class="options-size">
													<p><strong>Size:</strong></p>
													<p>SM (000000) • M (000000) • L (000000) • XL (000000) • XL2 (000000) • XL3 (000000)</p>
												</div>
												<div class="options-colours">
													<p><strong>Colours:</strong> Red/Black</p>
												</div>
											</div>
											<ul>
												<li>Free-air<sup>TM</sup> poly/mesh shell</li>
												<li>C.E. rated protectors in shoulders and elbows</li>
												<li>Removable spine pad with pocket for optional C.E. spine protector</li>
												<li>Exclusive Track &amp; Slider Sleeve adjuster</li>
												<li>Sure Fit<sup>TM</sup> adjustable waistband</li>
												<li>Snap loops for attaching jacket to belt</li>
												<li>Reflective stripe</li>
												<li>Pocket for eyeglasses storage</li>
											</ul>
										</div>
									</span>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<a href="#"
										class="pf btn-tooltips"
										property="act:tooltip"
										data-position="right bottom"
										data-tooltip-class="tooltip-right-alt"
										data-tooltip-content-target=".product_overlay2">
										<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_2.jpg" alt="" /></div>
										
										<h3 class="price-heading">Honda Performance Textile Jacket</h3>
										
										<div class="fc final price">
											<strong>$299.99</strong>
											<span>MSRP</span>
										</div>
									</a>
									
									<span class="product_overlay2 dn">
										<img src="/_Global/img/temp/placeholder_jacket_1_overlay.jpg" alt="" />
										<div class="desc">
											<h3>Honda Performance Mesh Jacket</h3>
											<div class="fc final price">
												<strong>$249.99</strong>
												<span>MSRP</span>
											</div>
											<div class="options">
												<p><strong>Size: SM to 3XL</strong></p>
												<p><strong>Colours: Red/Black</strong></p>
											</div>
											<ul>
												<li>Free-air<sup>TM</sup> poly/mesh shell</li>
												<li>C.E. rated protectors in shoulders and elbows</li>
												<li>Removable spine pad with pocket for optional C.E. spine protector</li>
												<li>Exclusive Track &amp; Slider Sleeve adjuster</li>
												<li>Sure Fit<sup>TM</sup> adjustable waistband</li>
												<li>Snap loops for attaching jacket to belt</li>
												<li>Reflective stripe</li>
												<li>Pocket for eyeglasses storage</li>
											</ul>
										</div>
									</span>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<a href="#"
										class="pf btn-tooltips"
										property="act:tooltip"
										data-position="left bottom"
										data-tooltip-class="tooltip-left-alt"
										data-tooltip-content-target=".product_overlay3">
										<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_3.jpg" alt="" /></div>
										
										<h3 class="price-heading">Honda Performance Textile Jacket</h3>
										
										<div class="fc final price">
											<strong>$299.99</strong>
											<span>MSRP</span>
										</div>
									</a>
									
									<span class="product_overlay3 dn">
										<img src="/_Global/img/temp/placeholder_jacket_1_overlay.jpg" alt="" />
										<div class="desc">
											<h3>Honda Performance Mesh Jacket</h3>
											<div class="fc final price">
												<strong>$249.99</strong>
												<span>MSRP</span>
											</div>
											<div class="options">
												<p><strong>Size: SM to 3XL</strong></p>
												<p><strong>Colours: Red/Black</strong></p>
											</div>
											<ul>
												<li>Free-air<sup>TM</sup> poly/mesh shell</li>
												<li>C.E. rated protectors in shoulders and elbows</li>
												<li>Removable spine pad with pocket for optional C.E. spine protector</li>
												<li>Exclusive Track &amp; Slider Sleeve adjuster</li>
												<li>Sure Fit<sup>TM</sup> adjustable waistband</li>
												<li>Snap loops for attaching jacket to belt</li>
												<li>Reflective stripe</li>
												<li>Pocket for eyeglasses storage</li>
											</ul>
										</div>
									</span>
								</div>
								<div><!-- IE QUIRK --></div>
							</div>
							
							<div class="fc product">
								<div class="fl first product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_4.jpg" alt="" /></div>
									
									<h3 class="price-heading">Honda Performance Mesh Jacket</h3>
									
									<div class="fc final price">
										<strong>$249.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_5.jpg" alt="" /></div>
									
									<h3 class="price-heading">Honda Performance Mesh Jacket</h3>
									
									<div class="fc final price">
										<strong>$249.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_6.jpg" alt="" /></div>
									
									<h3 class="price-heading">Honda Performance Mesh Jacket</h3>
									
									<div class="fc final price">
										<strong>$249.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
							</div>
							
							<div class="fc product">
								<div class="fl first product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_7.jpg" alt="" /></div>
									
									<h3 class="price-heading">Men's Honda Shadow Jacket</h3>
									
									<div class="fc final price">
										<strong>$359.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_8.jpg" alt="" /></div>
									
									<h3 class="price-heading">Men's Nirvana Textile Jacket - Black</h3>
									
									<div class="fc final price">
										<strong>$359.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
								<div class="fl product-item">
									<div class="product-image"><img src="/_Global/img/temp/placeholder_jacket_9.jpg" alt="" /></div>
									
									<h3 class="price-heading">Men's Nirvana Textile Jacket - Grey/Black</h3>
									
									<div class="fc final price">
										<strong>$359.99</strong>
										<span>MSRP</span>
									</div>
								</div>
								<div><!-- IE QUIRK --></div>
							</div>
						</div>
					
						<div class="content_section bottom-pagination">
							<div class="pagination">
								<a href="#" class="pf page-prev">Prev</a>
								<a href="#" class="pf page active">1</a>
								<a href="#" class="pf page">2</a>
								<a href="#" class="pf page">3</a>
								<a href="#" class="pf page">4</a>
								<a href="#" class="pf page">5</a>
								<a href="#" class="pf page-next">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->