<!--#include virtual="/atv/inc/application_top.html"-->
<!-- $Id: 2col.html 137 2011-02-22 21:00:34Z yuxhuang $ -->
<body class="page-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" />
	<link rel="stylesheet" href="/_Global/css/atv/layout.css" />
	<!-- END  : page SPECIFIC STYLES -->
	<div class="wrapper dropdown_container navigation-dropdown">
		<div class="cap_top_default pf"></div>
		<div id="divCssChange" class="utility">
			<div class="content_container">
				<div class="fc content_section first_section" id="navigation_content">
					<div class="fl why-buy">

					    <div class="heading">Why Buy a Honda ATV?</div> 
	<div class="content"> 
	<p>Honda ATVs feature numerous innovations to make them better performing, more reliable and more fun to ride.</p> 
	</div> 
	<div class="button"> 
	<a href="/honda-advantage"> 
	<span class="text">Learn More</span> 
	<span class="pf image"></span> 
	</a> 
	</div>
					</div>
					<div id="oneColumn" class="fl right-boxes one-col">
	                    <div class="fc subview">
	                        <div class="products">
	                            <div class="subview">
									<div class="dropout-heading">
										<a href="#">See All ATVs</a>
										<dl class="fc">
											<dd class="fl first">
												<p class="heading">Utility ATVs</p>
												<p>Honda's ATVs and Big Red side-by-side are designed to tackle the back 40 and all types of terrain so they can get the job done today and still play on the weekend.</p>
											</dd>
											<dd class="fl">
												<p class="heading">Uses</p>
												<p>Towing, hauling, trail riding</p>
											</dd>
										</dl>
									</div>
	                                <div class="fc first product-item"><div class="fl image"><a href="/utility/big_red" rel="nofollow"><img src="/assets/Models/2011/muv700/muv70011_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/big_red" rel="nofollow">Big Red 2011</a></div><p>Beefed up for 2011, the Big Red has substantial cargo and towing capacity and a tilt-assist cargo bed, making it even better around the farm, job site, or fishing hole.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>13,399</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$13,999</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx500pg_cte_" rel="nofollow"><img src="/assets/Models/2011/trx500f/trx500pg11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx500pg_cte_" rel="nofollow">TRX500PG Canadian Trail Edition Rubicon 2011</a></div><p>Equally commanding at work or play, this powerful and durable ATV is a favourite among ATV riders nationwide.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>9,199</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$9,699</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx500_cte_se" rel="nofollow"><img src="/assets/Models/2011/trx500pg_se/trx500seg11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx500_cte_se" rel="nofollow">TRX500PG Canadian Trail Edition Rubicon SE 2011</a></div><p>Specially designed for optimum performance on our rugged Canadian trails, plus plenty of convenient cargo-carrying and comfort features.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>10,099</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$10,599</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx500fm_foreman" rel="nofollow"><img src="/assets/Models/2011/trx500/trx500fm11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx500fm_foreman" rel="nofollow">TRX500FM Foreman 2011</a></div><p>Packed with the power and features that make your work more productive and your play way more fun.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>7,699</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$8,199</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx500fm_foreman_se" rel="nofollow"><img src="/assets/Models/2011/trx500fm_se/trx500sem11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx500fm_foreman_se" rel="nofollow">TRX500FM Foreman SE 2011</a></div><p>Offers all the right stuff to get the job done including more ways to carry stuff, plus more comfort and practicality features.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>8,599</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$9,099</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx420pg_cte" rel="nofollow"><img src="/assets/Models/2011/trx420fg/trx420pg11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx420pg_cte" rel="nofollow">TRX420PG Canadian Trail Edition 2011</a></div><p>High-tech features, pure power and nimble, yet stable handling – everything you’re looking for in an ATV.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>8,199</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$8,699</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx420pg_cte_se" rel="nofollow"><img src="/assets/Models/2011/trx420pg_cte_se/trx420seg11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx420pg_cte_se" rel="nofollow">TRX420PG Canadian Trail Edition SE 2011</a></div><p>This multi-talented, do-it-all ATV includes extras like a standard front winch, windscreen and extra cargo capacity.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>9,099</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$9,599</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx420fm" rel="nofollow"><img src="/assets/Models/2011/trx400fm_fe/trx420fm11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx420fm" rel="nofollow">TRX420FM 2011</a></div><p>This nimble ATV is ready to take on chores around the farm or cottage or hit the trails with its get-up-and-go attitude.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>6,499</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$6,999</span></del>
	                            </div>
	                        </div></div><div class="fc product-item"><div class="fl image"><a href="/utility/trx420fm_se_" rel="nofollow"><img src="/assets/Models/2011/trx420fm_se/trx420sem11_r232_______red_front.png?Crop=auto&Width=150&Height=89" height="89" width="150" /></a></div><div class="fl product-copy"><div class="heading"><a href="/utility/trx420fm_se_" rel="nofollow">TRX420FM SE 2011</a></div><p>Builds on the success of the versatile TRX420FM, packing it full of premium accessories while maintaining rock-solid, eager-to-please performance.</p></div><div class="fr product-pricing">
	                            <div class="large-price">
	                                <span class="price-heading">Manufacturer<br/>Discounted Price</span>
	                                <span class="price"><sup>$</sup>7,399</span>
	                            </div>

	                            <div class="small-price">
	                                <span class="price-heading">MSRP</span>
	                                <del><span class="strike"></span><span class="price">$7,899</span></del>
	                            </div>
	                        </div></div>
	                            </div>
	                        </div>
	                    </div>
					</div>

				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>

<!--#include virtual="/shared/inc/scripts.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->