<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-lease">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/lease.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/menu-lease.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="options">
						<div class="content_section first_section">
							<h1>Finance <span>Options</span></h1>
							<p class="large">As a finance customer, throughout the term of your finance contract, your payments will consist of part principal and part finance charges. Each payment you make increases the amount of equity you've built up in your ATV.</p>
							<p class="large">Once you've decided on your Honda, we want to make financing it as simple as possible. That's why we deliver financing approvals in less than one hour in the convenience of your local Honda dealer.</p>
						</div>
						<div class="content_section">
							<h2>The benefits of financing your ATV with Honda Financial Services are:</h2>
							<ul>
								<li>You are the owner of the ATV.</li>
								<li>All retail loans are open and you may pay out the finance contract at any time without prepayment penalties.</li>
								<li>Simple interest method to calculate interest charges.</li>
								<li>Build equity.</li>
								<li>Flexible Terms.</li>
								<li>Once all the payments have been made, you own the unit.</li>
							</ul>
						</div>
						<div class="content_section">
							<h2>Conventional Finance</h2>
							<p>With the regular program, you can tailor your purchase to reflect your monthly budget and needs. Equal consecutive monthly payments are calculated using competitive interest rates and terms from 24 to 60 months depending on the model chosen and amount to be financed. Once all of the payments have been made, a zero balance remains and you own the unit.</p>
							<p>Try our <a href="finance-calculator.html">Finance Calculator</a> to see which option suits your needs best.</p>
						</div>
						<div class="content_section">
							<div class="h1">End of Your Finance Contract - What's Next?</div>
							<p>After making your payment each month for the duration of the financing contract, the ATV is all yours. So what comes next? Negotiating a trade-in with your dealer may be a great way to come up with a down payment for your next Honda. You can also sell your ATV privately or keep driving it for years to come - it's your decision to make. For more information about your options at the end of your finance contract, please contact our Customer Care Group at 416-754-2323 or toll free at 1-800-387-5399.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->