<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						<h1>Genuine Honda Parts</h1>
						<h2 class="small">Why Choose Genuine Honda Parts?</h2>
						<p>Nobody Knows Your Honda Better Than Honda
You bought a Honda because of what it is. Honda quality. Honda performance. Honda reliability. The finest product you can own! So, when the time comes to replace Honda parts, don't settle for an imitation when you can buy the original. Only Genuine Honda Parts and Service can help you maintain the original operating specifications of your Honda. So bring it home to Honda where you get prompt, efficient service from the people who know your Honda best.</p>
                        <p>Genuine Honda Parts are designed by Honda for Honda by the same people that designed your bike or ATV. When it comes to your safety, why gamble? Ask only for Genuine Honda Parts.</p>
                        <p>Quality is not something to be toyed with. </p>
                    </div>
                    <div class="content_section">
                        <p>Keeping your Honda healthy is an imperative part of maintaining the quality, reliability, and performance of your power equipment. These attributes have come to define Honda product, and are also reflected in the parts from which they are built. </p>
                        <p>Genuine Honda Parts are made for your Honda. They maintain the quality, reliability and performance of your vehicle. When the time comes for you to service, repair, or enhance your Honda, don't settle for an imitation. Only Genuine Honda Parts can maintain the original operating specifications of your Honda and offer a perfect fit and finish every time. Let our trained Honda technicians keep your Honda healthy with Genuine Honda Parts.</p>
					</div>
					<div class="content_section">
                        <h2 class="small">Keep your Honda by choosing Genuine Honda Parts.</h2>
						<dl class="fc inner-three-col">
							<dd class="fl first">
								<p class="heading_large">Quality</p>
								<p><strong>Honda’s best quality.</strong><br />The core of Honda quality exists in every part of your power equipment. Genuine Honda parts are manufactured to strict quality standards for an exact fit and precise operation. When you choose Genuine Honda Parts, you can count on the highest quality standards imposed by Honda engineers.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Reliability</p>
								<p><strong>Rely on your Honda.</strong><br />Only Genuine Honda Parts are supported by Honda nationwide. Each part works in conjunction with others to produce a single output. Many non-genuine parts may claim to be reliable, but they are not produced to meet Honda's engineering and material specifications. Compromise one part and you may unknowingly compromise a whole system.</p>
							</dd>
							<dd class="fl">
								<p class="heading_large">Performance</p>
								<p><strong>Don’t comprise performance.</strong><br />By choosing Genuine Honda parts, you won't compromise your unit’s performance and safety. Each Genuine Honda part is precisely designed and rigorously tested at Honda’s R&amp;D facilities. This process helps ensure that each part will function at its optimum performance level while providing the durability and reliability that you expect from your Honda.</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->