<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="maintenance">
					<div class="content_container">
						<div class="content_section first_section">
	                        <h1>Maintenance Schedules</h1>
							<h2 class="small">Honda recommended Maintenance</h2>
	                        <p>Honda’s recommended maintenance adds to the pleasure of ownership because a well-maintained Honda ATV is</p>
	                        <ul class="ps-list-bullet">
	                            <li>More reliable and dependable </li>
	                            <li>Performs the way it was designed to</li>
	                            <li>Maintains the quality of the product</li>
	                            <li>Adds value by ensuring long service life</li>
	                            <li>Help retaining its resale value</li>
	                        </ul>
	                        <p>The maintenance schedule is a clear and concise table which lists all regular service items and shows the time or mileage intervals for when they require maintenance. Maintaining the original performance of your ATV in the future depends on the care you provide it right now.</p>
	                        <p>The service intervals in this Maintenance Schedule are based on average riding conditions. Some items will need more frequent service if you ride in unusually wet or dusty areas, or if you often accelerate quickly and use full throttle. Consult your Honda dealer for recommendations applicable to your individual needs and use.</p>
	                        <p>Some items in the Maintenance Schedule can be performed with basic mechanical skills and hand tools. Other items involve more extensive procedures and may require special training, tools, and equipment. We recommend that you have your Honda dealer perform these tasks unless you have advanced mechanical skill and the required tools and equipment. Remember that your Honda dealer knows your ATV best and is fully equipped to maintain and repair it. If you decide to do your own maintenance, use only genuine Honda parts or their equivalents for repair or replacement to ensure the best quality and reliability. </p>
                        </div>
                        <div class="content_section">
                            <div class="find_schedule">
                                <h2 class="small">Find a Maintenance Schedule</h2>
								<div class="question">
									<h3>Model Year</h3>
									<select>
										<option>2009</option>
										<option>2010</option>
									</select>
								</div>
								<div class="question">
									<h3>Class</h3>
									<select>
										<option>On Road</option>
										<option>On Road</option>
									</select>
								</div>
								<div class="question last">
									<h3>Model</h3>
									<select>
										<option>Cruiser</option>
										<option>Cruiser</option>
									</select>
								</div>
								<div class="clr"></div>
							</div>
						</div>

						<div class="content_section recommended">
							<h2 class="small">Honda Recommended Maintenance</h2>
							
							<div class="fc model">
								<div class="fl model_pic"></div>
								<div class="fr model_detail">
									<div class="model_detail_top">
										<div class="h1">TRX500PG Canadian Trail Edition Rubicon SE 2011</div>
										<h2>UTILITY ATVs</h2>
									</div>
									<div class="model_detail_bottom">
										<h3>Maintenance Schedule</h3>
										<p><a class="dl-icon" href="#">Download PDF</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->