<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="genuine-oils-chemicals">
					<div class="content_container">
						<div class="content_section first_section">
							<h1>Honda Warranty <span>FAQ</span></h1>
						</div>
						<div class="content_section">
							<div class="fc">
								<h2 class="fl alternate">Frequently Asked Questions about Honda Plus</h2>
								<div class="fc fr accordion-controls">
									<a property="act:collapsible-collapse" class="fl collapse" href="javascript:void(0)">Collapse All</a>
									<a property="act:collapsible-expand" class="fl expand" href="javascript:void(0)">Expand All</a>
								</div>
							</div>
							<div class="sub_content active">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										property="act:collapsible"
										data-collapsible-target="#slidedown_q1"
										data-collapsible-active="true"
										>When can I purchase an extended warranty Honda Plus contact?</a></span></div>
									<div id="slidedown_q1">
										<p>It is best to purchase Honda Plus at the time you purchase your vehicle, this way your Honda Plus is included in the final financing or cash settlement.  But you may purchase a NEW Plus Plan as long as the vehicle is still within the manufacturer's warranty.</p>
									</div>
								</div>
							</div>
							<div class="sub_content">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										property="act:collapsible"
										data-collapsible-target="#slidedown_q2"
										data-collapsible-active="false"
										>How is the time and mileage calculated on a Honda Plus Plan?</a></span></div>
									<div id="slidedown_q2">
										<p>Regardless of when you purchased your Honda Plus, time is calculated when the vehicle is first registered. The original registration date of the vehicle and at zero kilometers and ends as per the terms of the contract.  All Honda Plus plans are for unlimited kilometers.</p>
									</div>
								</div>
							</div>
							<div class="sub_content">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										property="act:collapsible"
										data-collapsible-target="#slidedown_q3"
										data-collapsible-active="false"
										>Can I cancel Honda Plus during my contract period?</a></span></div>
									<div id="slidedown_q3">
										<p>Yes within 60 days you would receive 100% refund. After 60 days a prorated refund (less an admin fee) if the unit was written off, the vehicle was repossessed or if you and the vehicle left Canada. </p>
									</div>
								</div>
							</div>
							<div class="sub_content">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										property="act:collapsible"
										data-collapsible-target="#slidedown_q4"
										data-collapsible-active="false"
										>What do I do if a breakdown occurs?</a></span></div>
									<div id="slidedown_q4">
										<p>First, use all reasonable means to protect your vehicle from further damage resulting from mechanical breakdown or failure.  For example:  you should stop operating the vehicle immediately if warning lights, oil or temperature lights are activated.</p>
	                                    <p>Second, return your Honda vehicle to your Honda Dealership for repair. </p>
	                                    <p>If Roadside Assistance is part of your plan and your vehicle cannot be driven to your Honda Dealership, help is just a toll-free call away with our 24-hour Roadside Assistance Hotline available at 1-800-465-PLUS.</p>
									</div>
								</div>
							</div>
							<div class="sub_content">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										property="act:collapsible"
										data-collapsible-target="#slidedown_q5"
										data-collapsible-active="false"
										>Will I incur any additional cost for a covered component breakdown?</a></span></div>
									<div id="slidedown_q5">
										<p>There is no deductible fee for any Plus Motorcycle/Power Equipment Plans.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->