<!--#include file="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="genuine-oils-chemicals">
						<div class="content_section first_section">
							<div class="sub_section">
								<div class="category first">
									<h3>OVERVIEW</h3>
								</div>
								<div class="category">
									<dl>
										<dt><h3>Genuine honda fluids</h3></dt>
										<dd class="npl"><a href="#">Oils and Lubricants</a></dd>
										<dd><a href="#">cleaners and polish</a></dd>
										<dd class="last"><a href="#">service and maintenance</a></dd>
									</dl>
								</div>
								<div class="category last">
									<dl>
										<dt><h3>pro honda fluids</h3></dt>
										<dd class="npl"><a href="#">Oils and Lubricants</a></dd>
										<dd><a href="#">cleaners and polish</a></dd>
										<dd class="last"><a href="#">service and maintenance</a></dd>
									</dl>
								</div>
								<div class="clr"></div>
							</div>
						</div>
						<div class="content_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							<h1>Genuine Honda Oils and Chemicals</h1>
							<h2 class="small">Why Use genuine Honda oils and chemicals?</h2>
							<p>ATVs are more demanding on oil than automobiles.</p>
							<p class="heading_large_special">Why:</p>
							<ul class="red-check">
								<li class="first">
									Unlike automobile oil, ATV oil must lubricate both the engine and transmission. The additional shearing action of the ATV gearbox and wet clutch may result in premature viscosity breakdown if proper ATV oil is not used.
								</li>
								<li>
									Higher operating temperatures accelerate oil oxidation.
								</li>
								<li>
									Higher redlines place greater stress on engine components.
								</li>
							</ul>
							<p class="heading_large">Problem:</p>
							<p>Many popular motor oils claim to be engineered for today's hi-revving 4-cylinder engines. However these oils are engineered for automobiles, and do not contain the special additive package designed for an ATV engine.</p>
	                        <p class="heading_large">Solution:</p>
	                        <p>Pro Honda GN4 oil is a unique blend of costly shear stable polymer additives with top quality base stocks, engineered by Honda R & D to resist viscosity and thermal breakdown in ATV applications. Pro Honda GN4 exceeds all requirements for all Honda ATV, ATV, and scooter warranty standards, and all owners' manual recommendations.</p>
	                        <p>Pro Honda GN4 is approved for use as engine oil in all Honda 4-stroke motorcycles, ATV's and scooters, and as a gearbox/transmission lubricant for all Honda 2-stroke motorcycles, ATV's and scooters.</p>
	                        <p>&raquo; Click <a href="parts-service-honda-genuine-oils-chemicals-products.html">HERE</a> for more Pro Honda Oils information</p>
	
	                        <p class="heading_large">Benefits at a Glance:</p>
	                        <ul class="ps-list-bullet">
	                            <li>Designed by Honda for Honda</li>
	                            <li>JASO Approved</li>
	                            <li>Premium Base Oil</li>
	                            <li>Superior Oxidation Stability</li>
	                            <li>Excellent High Temperature Performance</li>
	                            <li>Superior Detergency</li>
	                        </ul>
	                        <p>&raquo; Click <a href="#">HERE</a> for Pro Honda Oils Applications</p>
	                        <p>Only Pro Honda offers oils and chemicals designed to the same exacting standards as your Honda ATV.</p>
	                        <p>Pro Honda Oils and Chemicals are developed through the most severe test of performance and durability - professional racing. From the high banks of Daytona to the punishing Baja desert, Honda's racing Team put out products to the test at every event. Unlike some oils and chemicals which are based on automotive products, Pro Honda Oils and Chemicals are motorcycle and ATV specific products designed to meet the unique demands of motorcycle and ATV riders and racers.</p>
	                        <p>Compared to automobile, ATV engines produce more power per displacement, run at higher rpm, and have both smaller capacity oil volumes and cooling systems. Plus, ATVs use their oil to lubricate their transmissions and clutches. Automotive oils lack the ability to withstand the shear forces created by the transmission's gear teeth, which literally tear oil molecules apart. Also, their anti-friction additives can cause an ATV’s clutch to slip. Pro Honda's latest HP4, though, is formulated specifically for ATVs to offer the ultimate performance.</p>
	                        <p>Everything Pro Honda offers - from 2-stroke oil, suspension fluids, brake fluid, foam filter oil, chain lube and other vital fluids - is formulated to be the best. </p>
	                        <p>Honda builds its ATV to the toughest engineering standards in the world. Pro Honda formulates its oils and chemicals to those same high standards, to keep your Honda running at its maximum performance. They're the best motorcycle and ATV specific products you can buy. And they are available exclusively at your Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->