<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />    
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="warranty">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/pre_ride_guide.gif" alt="" /></p>
							<h1>pre-ride Guide</h1>
						</div>
						
						<div class="content_section">
							<h2>Preparing for a Ride</h2>
							<div class="grouped">
								<p>A safe and enjoyable ride begins with good planning and preparation. Always ride with at least one other person in case you have trouble, and let someone know where you’re going and when you expect to return.  Before riding in an unfamiliar area, find out in advance if you need special permits, get maps so you can study the terrain, and talk to other riders who know the area. The Ministry of Natural resources, riding clubs, and off-road magazines are good sources of information.</p>
								<p>Careful pre-ride inspections and good maintenance are especially important because your ATV is designed to be ridden over rough off-road terrain. Before riding, take time to get acquainted with your ATV and how it works. To protect your investment, we urge you to take responsibility for keeping your ATV well maintained. Scheduled service is a must, of course. But it’s just as important to observe the break-in guidelines, and perform all pre-ride and other periodic checks detailed in your owner’s manual. We also recommend that you read your owner’s manual before you ride. It’s full of facts, instructions, safety information, and helpful tips</p>
							</div>
	                        <h2>What to take with you</h2>
	                        <div class="grouped">
	                            <p>When preparing for a Ride, what you take with you during a ride depends on the kind of terrain, how long you expect to ride, how far you might go from your base camp or help, and how experienced you or your companions are in making repairs.</p>
	                            <p>Along with your ATV and riding gear, you should take along some tools and supplies in case you have a problem. We recommend that you always take water, food, a first aid kit, and your owner’s manual. Other items you should consider loading on your truck or trailer include:</p>
	                            <ul class="ps-list-bullet">
	                                <li>a tool kit</li>
	                                <li>tire repair supplies and tools, and tires</li>
	                                <li>extra parts, control levers, cables, and spark plugs</li>
	                                <li>wire, duct tape, and rope</li>
	                            </ul>
	                            <p>For your safety, all refueling should be done at a gas station on the way to the riding area or at your base camp.</p>
	                            <p>If you decide to take some tools, spare parts, or other supplies on the trail, be sure you can carry them safely and know how to use them. Also, be sure to follow the loading guidelines and weight limit.</p>
	                        </div>
	                        <h2>PRE-RIDE INSPECTION</h2>
	                        <p>For your safety, it is very important to take a few moments before each ride to walk around your ATV and check its condition. If you detect any problem; be sure you take care of it, or have it corrected by your Honda dealer.</p>
	                        <ul class="ps-list-number">
	                            <li>Engine oil level - add engine oil if required. Check for leaks.</li>
	                            <li>Fuel level - fill fuel tank when necessary. Check for leaks.</li>
	                            <li>Coolant level - add coolant if required. Check for leaks.</li>
	                            <li>Front and rear brakes check operation; make sure there is no brake fluid leakage.</li>
	                            <li>Tires - check condition and pressure.</li>
	                            <li>Drive chain (if applicable) - check condition and slack. Adjust and lubricate if necessary.</li>
	                            <li>Throttle - check for smooth opening and full closing in all steering positions.</li>
	                            <li>Lights and horn - check that the headlight, tail/brake light, and horn function properly.</li>
	                            <li>Engine stop switch - check for proper function.</li>
	                            <li>Ignition cut-off system - check for proper function.</li>
	                        </ul>
	                        <p>For more information refer to your owner’s manual and speak to your local Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->