<!--#include virtual="/shared/inc/application_top_dark.html"-->
<!-- $Id: parts-service-overview-lawnmowers.html 400 2011-03-17 15:19:23Z mperry $ -->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">

	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />   
	<link rel="stylesheet" href="/_Global/css/atv/sections/parts-service.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container_alternate">
						<div class="content_section first_section">
							<h1>why choose honda service?<span>Overview</span></h1>
							<h2 class="small">Why it’s important to service your Honda ATV</h2>
							<p>A well-maintained ATV is essential for safe, economical, and trouble-free riding. To help you properly care for your ATV, this page highlights some of the major maintenance components and explains how their care is important to your ATV’s performance and reliability. Keep your Honda ATV working properly by following the Honda recommended maintenance schedule and ensure all the components are at their best. </p>
							<div class="product-image">
								<a class="pf hotspot btn-tooltips"
	                               style="top: 83px; left: 183px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-01"></a>
								<span class="hotspot-01 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Lorem Ipsum</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 174px; left: 233px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-02"></a>
								<span class="hotspot-02 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Lorem Ipsum</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 163px; left: 302px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-03"></a>
								<span class="hotspot-03 dn">
									<p class="heading">Lorem Ipsum</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<a class="pf hotspot btn-tooltips"
	                               style="top: 208px; left: 377px;"
									property="act:tooltip"
									data-position="right bottom"
									data-tooltip-class="tooltip-right"
									data-tooltip-content-target=".hotspot-04"></a>
								<span class="hotspot-04 dn">
									<img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
									<p class="heading">Lorem Ipsum</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
									<a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
									<div class="clr"></div>
								</span>
								<img src="/_Global/img/content/atv/parts-service/lrg_img_atv.jpg" alt="" />
							</div>
						</div>
					</div>
					<ul class="fc tabs_horizontal"> 
						<li class="fl first"><a href="parts-service-overview.html#engine-oil">Engine Oil</a></li>
						<li class="fl"><a href="parts-service-overview.html#oil-filter">Oil Filter</a></li>
						<li class="fl"><a href="parts-service-overview.html#air-filter">Air Cleaner</a></li>
						<li class="fl"><a class="selected" href="parts-service-overview.html#spark-plug">Spark Plug</a></li>
						<li class="fl"><a href="parts-service-overview.html#brakes">Brakes</a></li>
						<li class="fl"><a href="parts-service-overview.html#battery">Battery</a></li>
						<li class="fl"><a href="parts-service-overview.html#fuel">Fuel</a></li>
						<li class="fl last"><a href="parts-service-overview.html#atv-care">ATV Care</a></li>
					</ul>
					<ul class="fc tabs_horizontal"> 
						<li class="fl first"><a class="multiline" href="parts-service-overview.html#engine-oil"><!--Engine Oil-->Huile<br/>moteur</a></li>
						<li class="fl"><a class="multiline" href="parts-service-overview.html#oil-filter"><!--Oil Filter-->Filtre<br/>a huile</a></li>
						<li class="fl"><a class="multiline" href="parts-service-overview.html#air-filter"><!--Air Cleaner-->Filtre<br/>a air</a></li>
						<li class="fl"><a class="multiline selected" href="parts-service-overview.html#spark-plug"><!--Spark Plug-->Chaine<br/>d'entrainement</a></li>
						<li class="fl"><a href="parts-service-overview.html#brakes">Brakes</a></li>
						<li class="fl"><a href="parts-service-overview.html#battery">Battery</a></li>
						<li class="fl"><a href="parts-service-overview.html#fuel">Fuel</a></li>
						<li class="fl last"><a class="multiline" href="parts-service-overview.html#atv-care"><!--ATV Care-->Proprete<br/>du vtt</a></li>
					</ul>
					<div class="content_container">
						<div class="single-product" id="engine-oil">
							<div class="h1">Engine Oil</div>
							<p>Oil changes are a major factor that can affect the performance and service life of your Honda. </p>
	                        <p>Oil is responsible for lubricating and protecting internal engine components subject to extreme pressure. It is important to check the level of your engine oil to ensure it’s not running low. Before each use, check the engine oil level with the engine stopped, and with the unit on a level surface.</p>
	                        <p>Engine oil can become contaminated with dirt during improper installation or maintenance, that’s why it is preferable to have your oil change performed by an authorized Honda Dealer who will use Pro Honda engine oil.</p>
	                        <p>For more information on engine oil change, refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="oil-filter">
							<div class="h1">Oil Filter</div>
							<p>The oil filter's job is to block dirt and debris from running through your engine, and your job is to make sure the oil filter is in good condition. If the oil filter becomes clogged and blocks the flow of oil, it may cause serious mechanical issues and could result in a costly repair.</p>
	                        <p>Your ATV’s oil filter has very specific performance requirements. That is why it’s important to use a new genuine Honda oil filter that is designed for your model. Using the wrong oil filter may result in oil leaks or engine damage.</p>
	                        <p>We recommend that you take your ATV to an authorized Honda dealer to have your oil filter changed. Improper installation of the oil filter can cause serious engine damage. If you have the skills and professional tools to perform your oil filter change, your Honda dealer has the genuine Honda parts that you need. Ensure you have a proper means for disposal of the drained fluids; if not, contact your public or environmental services to find out how to safely dispose of non-recyclable wastes.</p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="air-filter">
							<div class="h1">Air Filter</div>
							<p>A clean air filter = longer engine life and improved performance. Proper air filter maintenance as per the Honda recommended Maintenance Schedule can prevent premature engine wear or damage, expensive repairs, low engine power, poor gas mileage, and spark plug fouling. The air filter provides protection against dirt and debris entering the engine chamber and causing rapid premature engine wear. This type of damage is not covered by the Distributor’s Limited Warranty. </p>
	                        <p>Your ATV’s air cleaner is designed to meet specific performance requirements, so only use a new genuine Honda air filter made for your model. Using the wrong air cleaner may result in premature engine wear. Proper air filter maintenance is even more important for off-road vehicles. A dirty, water-soaked, worn-out, or defective air filter will allow dirt, dust, mud, and other impurities to pass into the engine. If you ride in unusually wet or dusty areas, clean/replace the air filter more frequently than specified in the Maintenance Schedule. Your Honda dealer can help you determine the correct service interval for your riding conditions.</p>
	                        <p>A dirty air filter will restrict air flow to the throttle body, affecting engine performance and longevity. If your throttle body is obstructed you will experience engine performance problems. Dirt intrusion through an improperly installed or poorly maintained air filter is the prominent source of dirt ingestion into the engine. </p>
	                        <p>Visibly inspect the air filter for tears or cracks in the foam or seams of the air cleaner and/or sub air filter. The air filter should be replaced if it is damaged. It is recommended that you take your ATV to an Authorized Honda dealer for air filter maintenance. </p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="spark-plug">
							<div class="h1">Spark Plug</div>
							<p>The spark plug is what “fires” the compressed air/fuel mixture in the engine of your ATV. Spark plugs have a limited life expectancy and that is why it’s Important to properly maintain the spark plug. A malfunctioning spark plug may cause many symptoms including hard starting, misfire, lack of power, and black exhaust smoke. </p>
	                        <p>Discard the spark plug if the electrode and insulator appear unusually cracked, chipped, fouled or burned. Check the gap of the plug to ensure proper specification and that it’s clean. An improperly tightened spark plug can damage the engine. If a plug is too loose, engine problems may occur. If a plug is too tight, the threads may be damaged. A spark plug must be tightened to a specific torque.</p>
	                        <p>Use only the Honda’s recommended type of spark plug in the recommended heat range. Using spark plugs with an improper heat range can cause engine damage. We recommended that you contact your Honda dealer and follow Honda’s recommended maintenance schedule in your owner’s manual.</p>
	                        <p>For more information refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	
	                    <div class="single-product" id="brakes">
							<div class="h1">Brakes</div>
							<p>Designed and engineered to meet the specific performance characteristics of your Honda ATV. Genuine Honda Brakes are tested under all riding conditions and must meet Honda's rigid engineering standards.</p>
	                        <p class="nm">These standards include:</p>
	                        <ul class="ps-list-bullet">
	                            <li>Stopping distance </li>
	                            <li>Wet conditions stopping performance </li>
	                            <li>Fade and heat recovery </li>
	                            <li>Heat and contaminant durability </li>
	                            <li>Initial break - in performance </li>
	                            <li>Brake actuation force</li>
	                        </ul>
	                        <p>Genuine Honda brake pads and shoes are designed to work in conjunction with Honda brake rotors and drums to provide optimal stopping power and maximum durability. It’s important to keep your brakes maintained and replace them before they reach their wear limit. If your brake pads or shoes aren’t changed when required, they can cause damage to your rotors or drums and lead to expensive repairs.</p>
	                        <p>Brake pad wear depends on the severity of usage and riding conditions. The pads will wear faster in wet or muddy conditions. Inspect the pads visually during all regular service intervals to determine the friction material wear. For disk brakes, always inspect both pads. Check the wear indicator on the pads. If the wear indicator is close to the pad’s braking surface, both pads must be replaced. For drum brakes, the drum must be removed to inspect the brake shoes for wear and contamination. </p>
	                        <p>Hydraulic disc brake systems have a small window, to check your brake fluid level. It is normal for this level to drop slightly as the pad wears, but it should always be above the minimum level, and may need to be topped-up if necessary. Is no fluid is visible in the window this may mean there a leak somewhere in the system. The brake system should not have any leaks, if you notice any leaking brake fluid, contact your Honda dealer as soon as possible.</p>
	                        <p>An important part of brake maintenance is “bleeding” your brake system, which means removing minuscule bubbles of air which can become trapped in the system. Air is more easily compressed than hydraulic brake fluid, and too much of it in the brake lines can cause a “spongy” brake feel and poor braking performance. Brake bleeding procedures should be performed by your authorized Honda dealer.</p>
	                        <p>Brake fluid is hygroscopic, which means that it absorbs water over time; this helps to prevent corrosion in the brake system. The brake fluid should be flushed and replaced every two years to ensure optimal braking performance and to prevent brake issues with brake components. Use only Honda DOT 4 Brake Fluid, as recommended by the factory. Caution: Brake fluid will damage painted surfaces immediately so great care must be taken when adding fluid.</p>
	                        <p>For more information on brake maintenance, refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="battery">
							<div class="h1">Battery</div>
							<p>It’s important to keep your ATV’s battery well maintained. A battery with low capacity may cause many problems such as hard starting, poor shifting, and problems with EPS (Electronic Power Steering). Also, a weak battery overstress other components in your ATV’s charging system, and over time a simple battery replacement could turn into a much more expensive and time-consuming repair. Honda Canada works together with Yuasa® battery to provide consistent electrical power and long battery life. </p>
	                        <p>Improper maintenance and charging may damage your ATV’s battery. We recommend using the Honda Optimate 3+ ‘smart’ battery charger for battery maintenance. These chargers can be left connected indefinitely without risking damage to the battery.  </p>
	                        <p>Picture this scenario. You’re ready for that ride, you turn the key and …nothing. Your battery is dead! Canada’s winter climate poses long periods of inactivity which can often result in a drained battery. Even during the warmer months a battery can lose up to 1% of its charge daily. Don’t ride for a couple months and there you are again with a dead battery. So how can we prevent this? The Optimate 3+ is a user friendly battery charger that offers a variety of the benefits like: </p>
	                        <ul class="ps-list-bullet">
	                            <li>Complete 12V battery care at home</li>
	                            <li>Optimizes battery power and life</li>
	                            <li>24/7 automatic storage control</li>
	                            <li>Desulfates for deep discharge recovery</li>
	                            <li>Effective battery test and maintenance cycle</li>
	                            <li>Proven reliability</li>
	                        </ul>
	                        <p>The Honda Optimate 3+ battery charger helps you maintain your ATV’s battery so you can just turn the key and ride!</p>
	                        <p>If you plan to store your ATV, we recommend you use the Honda Optimate 3+ battery charger, for worry free battery maintenance. See your local Honda dealer for Honda’s Exclusive promotional offer. </p>
	                        <p>A battery not in use should be charged at least once a month.</p>
	                        <p>For more information on battery maintenance, refer to your owner’s manual or speak to your Honda dealer.</p>
						</div>
	                    <div class="single-product" id="fuel">
							<div class="h1">Fuel</div>
							<p>If you compromise the use of good, clean, new gasoline you may be compromising your ATV performance. </p>
	                        <p>Improper fuel maintenance is the primary cause of starting difficulties and poor performance. Fuel is a volatile, unstable substance, that’s what makes it so easy to ignite, but that also means it can evaporate and “go stale”. This causes the fuel to lose its ability to burn efficiently, and can leave a gummy residue which often clogs the small passages in the carburetor, causing problems ranging from hard starting and unstable rpm to no-start conditions and more serious engine problems. </p>
	                        <p>If your ATV will remain in storage for longer then 30 days the use of the Pro Honda fuel stabilizer is recommended. Fuel Stabilizer increases the gasoline’s storage time and helps prevent fuel gumming which can clog up small passages in the carburetor or fuel injector and may turn into an expensive repair. </p>
	                        <p>For more information refer to your owner’s manual or speak to your local Honda dealer.</p>
						</div>
	                    <div class="single-product" id="atv-care">
							<div class="h1">ATV Care </div>
							<p>Frequent cleaning and polishing will keep your Honda looking newer longer. </p>
	                        <p class="nm">To clean your ATV, you may use:</p>
	                        <ul class="ps-list-bullet">
	                            <li>water</li>
	                            <li>a mild, neutral detergent and water</li>
	                            <li>a mild spray and wipe cleaner/polisher</li>
	                            <li>a mild spray and rinse cleaner/degreaser and water</li>
	                            <li>Avoid products that contain harsh detergents or chemical solvents that could damage the metal, paint, and plastic on your ATV</li>
	                        </ul>
	                        <p>Clean your ATV regularly to protect surface finishes. We recommend the use of a garden hose to wash your ATV. High pressure washers may damage certain parts of your ATV. After cleaning, inspect for damage, wear, and leaks (fuel, oil and brake fluid).</p>
	                        <p>After washing your ATV, as a precaution, ride your ATV at a slow speed and apply the brakes several times. This will help dry the brakes and restore normal braking performance. If the inside of the headlight lens appears clouded immediately after washing, it should clear after a few minutes of riding. Frequent cleaning also identifies you as an owner who values his ATV. A clean ATV is also easier to inspect and service. Avoid using spray cleaner products on the tires or suspension components.</p>
	                        <p>For more information refer to your owner’s manual or speak to your local Honda dealer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
			<!--#include virtual="/atv/inc/widgets/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/gear.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div></div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->