<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/atv/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div id="inner_page_content" class="content_container">
                    <div class="overview">
                        <div class="content_section first_section">
                            <div class="h1">TRX700xx <span>Overview</span></div>
                            <h2>Extreme engine performance, combined with a chassis that lets you put all that power to use.</h2>
                            <p class="large">The stunning Honda TRX700XX brings the stable, confident handling that Honda ATVs are famous for to the big-bore IRS class. The engine is a high-tech marvel, boasting 686 cc of fuel-injected, liquid-cooled power and torque. And the chassis is even more advanced, with innovative features such as a central chain drive to the rear wheels that allows perfectly symmetrical rear A-arms and driveshafts, plus numerous other benefits. The result? Reduced wheel scrub, improved rigidity, and a much more planted feel in all conditions.</p>
                        </div>
						<div class="content_section mb30">
							<h2><img alt="" class="pf" src="/_Global/img/content/products/icon_sun.png" /> Why Buy a Honda?</h2>
							<div class="grouped">
								<p class="large">At Honda, we've built our reputation on superior design and innovation, powerful performance and legendary durability and dependability. It's evident in every product we build.</p>
								<p class="large">We never stop looking for ways to improve our ATVs: to maximize power, sharpen handling, minimize weight and optimize fuel efficiency &ndash; all with you the rider in mind.</p>
								<p class="large">Our goal is to ensure the most rewarding and enjoyable riding experience possible.</p>
								<p class="why-buy-link-more"><a property="act:more-text" href="#advantage-expanded">Read More</a></p>
							</div>
							
							<div id="advantage-expanded">
								<div class="sub_section">
									<h2 class="small">The Honda Advantage</h2>
									<div class="grouped">
										<p>Honda Utility and Recreational ATVs include many innovations that make them better performing, safer, more reliable, and of course, more fun to ride.</p>
										<p>One of the most significant advantages is knowing that you can continue the joyful experience of owning a Honda product with our support over its lifetime</p>
										<p>Honda has an extensive Canada-wide dealership network. We choose our dealers with the same care we put into designing and building our quality products. Honda dealers are here to service and repair your unit as specified by the factory.</p>
										<p>Our highly skilled dealers use only Honda Genuine Parts to maintain the original level of Honda quality, and Honda Genuine Accessories allow you to customize your unit to suit your needs.</p>
										<p>Whether you own a Honda vehicle, motorcycle, ATV, marine or power equipment product, remember that they are all supported by the same family that built them. Whenever you need us, we are here to ensure you can continue to enjoy any Honda product or service.</p>
									</div>
								</div>
								<div class="sub_section">
									<h2 class="small">The Honda ATV Advantage</h2>
									<p>At Honda, innovation isn&rsquo;t just a buzzword. Innovation is the driving force behind every product we engineer. Take a moment to learn about the Honda ATV advantage.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Why Buy a Honda ATV?</h2>
									<p>When you ride a Honda ATV, you know you&rsquo;re aboard a machine that has been built without compromise, and backed by more than 30 years of experience. You know you&rsquo;re riding the best.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Honda Advantage Technologies</h2>
									<p>Here are just a few examples of the advanced engineering and outside-the-box thinking that have made Honda ATVs the trusted choice of so many Canadian riders. For more than 30 years.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Bigger Isn&rsquo;t Better</h2>
									<p>At Honda, we still think an ATV should be small enough to load easily into a pickup truck, and light enough that <em>you ride it, it doesn&rsquo;t drive you</em>. The lighter the ATV, the faster it can accelerate and the quicker it can stop. A lighter ATV also corners with more precision and stays more composed over bumpy terrain. Lighter weight also means less stress on the engine and chassis components, so durability is improved.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Tough Transmissions</h2>
									<p>Honda ATVs feature a range of transmissions that are durable, highly resistant to dirt and water damage, and have no drive belts to burn out and replace. Our continuously variable, fully automatic Hondamatic&trade; transmission (available on the TRX500PG Canadian Trail Edition Rubicon) is the smoothest ATV transmission you'll ever experience. The three-speed Honda Automatic transmission (an automotive-style torque converter) is available on our TRX680F Rincon. And the TRX420PG Canadian Trail Edition uses the quick shifting Honda twin-clutch, five-speed automatic transmission.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Smart Engine Orientation</h2>
									<p>Longitudinal engine mounting not only improves powertrain efficiency and cuts weight, it also allows more leeway to position the engine precisely where it provides the best machine balance and centre of gravity. The result? Weight is divided more equally over all four wheels, which improves manoeuvrability, cornering, braking, traction... you name it. Today, you&rsquo;ll find this simply ingenious example of sideways thinking on all Honda&rsquo;s Utility and Recreation ATVs.</p>
								</div>
								<div class="sub_section">
									<h2 class="small">Cleaner Braking</h2>
									<p>The brakes on an ATV take a beating. Water, ice, dust, mud, rocks and branches, plus pounding over rough terrain, can all interfere with the operation and the lifespan of ATV brake components. That&rsquo;s why Honda engineers took special care in the design and construction of our powerful front disc brakes. Each brake caliper features a patented built-in scraper system to help keep mud, snow, and debris from building up inside the wheels, giving you consistent brake performance in variable conditions.</p>
								</div>
								
								<p class="why-buy-link-less"><a property="act:less-text" href="#advantage-expanded">Collapse</a></p>
							</div>
						</div>
						<div class="content_section nb np nm">
                            <div class="fc feature_box">
                                <div class="fl feature_box_l">
                                    <div class="watch_now_copy">
                                        <h2 class="np small">See all Honda ATVs videos on YouTube</h2>
                                        <p>Fusce cursus placerat magna a gravida. Duis semper luctus sodales. Donec adipiscing malesuada posuere.</p>
                                        <div class="divider"></div>
                                        <div class="btn">
                                            <a href="product-overview.html#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fr feature_box_r">
                                    <div class="btn_youtube">
                                        <a href="#">
                                            <img src="/_Global/img/content/products/btn_youtube.gif" alt="Watch now" class="pf" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_section nb recently_viewed">
                            <h2><img src="/_Global/img/content/products/icon_recent.gif" alt="" /> Recently Viewed</h2>

                            <div class="fc bottom_feature_inner">
                                <ul class="fc fl recently_viewed_product">
                                    <li class="fl nm pf product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">TRX700xx</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">TRX700xx</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="fl product">
										<a href="#" class="image" rel="no-follow">

										</a>
                                        <div class="description">
                                            <h3 class="nm product-item"><a href="#" rel="no-follow">TRX700xx</a></h3>
                                            <div class="price">
                                                $10,599
                                                <span>MSRP</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="fr recently_viewed_compare">
                                    <p class="np compare-these"><strong>Compare these ATVs</strong></p>
                                    <a href="product-overview.html#" class="btn primary"><span>Compare</span></a>
                                </div>
                            </div>
					    </div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->