<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-listing">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="banner">
					<img src="/_Global/img/content/atv/products/banner.jpg" alt="Honda ATVs" />
				</div>
				
				<div class="feature_header">
					<div class="h2">Why Buy a Honda ATV?</div>
					<p>Honda has developed unique technologies and features you just can't find on any other ATV.</p>
				</div>
				
				<table class="feature_box">
					<tr>
						<td class="top_cap">
							<img src="/_Global/img/content/atv/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/atv/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/atv/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
						<td class="top_cap">
							<img src="/_Global/img/content/atv/products/icon_sun_bgcolor.png" alt="" />
							<p class="heading">Lorem ipsum dolor sit amet consectur adipisicing</p>
						</td>
					</tr>
					
					<tr>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<div class="divider"></div>
							<p>Similique sunt in culpa</p>
						</td>
					</tr>
					
					<tr>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
						<td class="bottom_cap">
							<div class="btn">
								<a href="product-listing-choose-model.html#">Learn More</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<ul class="fc tabs_horizontal"> 
			<li class="fl first"><a rel="#all_atvs" class="inner_page_link" href="product-listing.html">All ATVs</a></li>
				<li class="fl last"><a rel="#choose_model" class="selected inner_page_link" href="product-listing-choose-model.html">Choose a Model</a></li>
			</ul>
			<div class="content_container choose">
				<div class="fc content_section first_section">
					<h1>Honda ATVs</h1>
					
					<ul class="fl all-products-steps">
						<li class="fc pf">
							<span class="counter">1</span>
							<span class="list-copy">Choose a category</span>
							<ul class="fl fc categories">
								<li class="first"><a href="#">Utility</a></li>
								<li class="active"><a href="#">Sport</a></li>
								<li><a href="#">Recreation</a></li>
							</ul>
						</li>
						<li class="fc pf">
							<span class="counter">2</span>
							<!--<span class="list-copy">Please use the filters below to find the best ATV for you.</span>-->
							<span class="list-copy">Veuillez utiliser les filtres ci-dessous afin de découvrir le meilleur VTT pour vous.</span>
						</li>
					</ul>
					
					<div class="fr reset-button"><a href="product-listing-choose-model.html#" class="btn secondary"><span>Reset</span></a></div>
				</div>
				<div class="content_section primary_section">
					<div class="fc pf sliders-box-group">
						<div class="first sliders-box">
							<h3>Displacement (CC)</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help1"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header"></div>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">Left</span>
								<span class="fr">Right</span>
							</div>
						</div>
						<div class="sliders-box">
							<h3>Displacement (CC)</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help2"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header"></div>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">Left</span>
								<span class="fr">Right</span>
							</div>
						</div>
						<div class="sliders-box">
							<h3>Displacement (CC)</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help3"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header"></div>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">Left</span>
								<span class="fr">Right</span>
							</div>
						</div>
						<div class="sliders-box">
							<h3>Displacement (CC)</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help4"></a>
							
							<div class="fc slider-controls">
								<div class="pf slider-controls-cap-left"></div>
								<div class="slider-controls-inner ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header"></div>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
									<a href="product-listing-choose-model.html#" class="pf ui-slider-handle ui-state-default ui-corner-all"></a>
								</div>
								<div class="pf slider-controls-cap-right"></div>
							</div>
							
							<div class="fc labels">
								<span class="fl">Left</span>
								<span class="fr">Right</span>
							</div>
						</div>
						<div class="last sliders-box">
							<h3>Tortor</h3>
							<a class="pf btn-help"
								property="act:tooltip"
								data-position="right top"
								data-tooltip-class="tooltip-top-alt"
								data-tooltip-content-target="#product-sliders-help5"></a>
							
							<div class="fc slider-controls">
								<div class="field">
									<input type="checkbox" name="check1" value="Lorem-One" id="check1" checked="checked" />
									<label for="check1">Lorem<br />
										One</label>
								</div>
								
								<div class="field">
									<input type="checkbox" name="check2" value="Lorem-Two" id="check2" />
									<label for="check2">Lorem<br />
										Two</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="fc product">
						<div class="fl first product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl first product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl first product-item">
							<div class="product-image"></div>
							
							<h3 class="price-heading">TRX700XX</h3>
							
							<div class="fc final price">
								<strong>$10,599</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
					</div>
                    <div class="split-message fc" id="error-message">
                        <div class="main fl">
                            <div class="h2">Honda doesn't offer an ATV in the configuration you've selected.</div>
                            <p>Please modify your current selectiosn or click the <strong>RESET</strong> button to start over.</p>
                        </div>
                        <div class="aside fr">
                            <div class="h3">Belt</div>
                            <p>Honda has never used a belt drive CVT on an ATV. They work fine on our scooters, but an ATV is not a scooter. ATVs are operated in harsh and wide-ranging environments—hot, cold, wet, dry, muddy, dusty, filthy, etc. ATVs also need to be able to haul cargo, pull trailers, climb hills, etc. Any one of these conditions or uses will reduce both belt efficiency and belt life.</p>
                            <p>Belt-type transmissions may be cheap to build and buy, but a Honda ATV is built without compromise in terms of safety and reliability for the rider. A Honda won’t leave you stranded in the bush with a failed belt. The risk of being stuck at the side of the trail, far from home while struggling to disassemble or dry out a belt is simply not acceptable to Honda. Depending on the application, our automatics use sophisticated Hydrostatic, Dual Clutch or Automotive-style Torque Converter transmissions page and our work oriented machines use dependable gear on gear.</p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
				<div class="nb content_section compare">
					<h2>Compare ATVs</h2>
					<div class="fc bottom_feature_inner">
						<ul class="fc fl product">
							<li class="fc fl pf first active product-item">
								<div class="fl list-steps">1</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">TRX700XX-12</h3>
									
									<div class="fc final price">
										<strong>$10,599</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf active product-item">
								<div class="fl list-steps">2</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">TRX700XX</h3>
									
									<div class="fc final price">
										<strong>$10,599</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf active product-item">
								<div class="fl list-steps">3</div>
								
								<div class="fl product-item-inner">
									<h3 class="price-heading">TRX700XX</h3>
									
									<div class="fc final price">
										<strong>$10,599</strong>
										<span>MSRP</span>
									</div>
								</div>
								
								<a class="fl pf btn-remove" href="#"></a>
							</li>
							<li class="fc fl pf product-item">
								<div class="fl pf list-steps">4</div>
								
								<div class="fl product-item-inner">
									<div class="add-model">Add a Model<br />
										to Compare</div>
								</div>
							</li>
						</ul>
							
						<div class="fl recently_viewed_compare">
							<p class="np nm compare-these"><strong>Compare<br />
								these ATVs</strong></p>
							<a href="#" class="btn primary"><span>Compare</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->

<div id="product-sliders-help1" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [1]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help2" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [2]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help3" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [3]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help4" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [4]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<div id="product-sliders-help5" class="dn">
	<div class="tooltip_heading">What is Bag Capacity? [5]</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus. Sed ullamcorper, velit vel convallis posuere...</p>
</div>

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->