<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/atv/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-gallery.html">Gallery</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="features">
						<div class="fc content_section first_section">
							<div class="h1">TRX700XX <span>Features</span></div>
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_drivetrain"
								data-collapsible-active="true"
								>Engine/Drivetrain</a></span></div>
							<div id="slidedown_drivetrain" class="sub_content">
								<ul class="red-check">
									<li class="first">Powerful 420 cc longitudinally mounted engine eliminates 90-degree power transfers and boasts strong horsepower and torque. Overhead-valve design provides compact engine dimensions for excellent ground clearance and a lower centre of gravity.</li>
									<li>Cylinder head is designed with high compression and large intake valves) and exhaust valves to ensure strong midrange and top-end power.</li>
									<li>Programmed Fuel-Injection (PGM-FI) features a 34 mm throttle body, 12-hole Denso injector, and Idle Air Control Valve (IACV) for crisp performance, excellent economy and trouble-free operation in cold conditions and varying altitudes.</li>
									<li>Large 7.2-litre airbox with washable, reusable foam air filter provides more air to the engine for increased performance.</li>
									<li>High-capacity oil system features a high-flow filter and a two-rotor pump to provide oil for the engine and the pressurized transmission clutches.</li>
									<li>Rubber-cushion engine mounting and gear-driven counterbalance shaft reduce vibration.</li>
									<li>Large radiator with cooling fan helps ensure optimal engine cooling under difficult operating conditions.</li>
									<li>Stainless-steel exhaust system includes a USDA-qualified spark arrester/muffler for superior corrosion resistance.</li>
									<li>Three-chamber muffler baffling uses no packing material that can blow out, providing long-lasting performance.</li>
									<li>Lightweight automatic high-efficiency transmission offers five-speed automatic shifting or push-button manual shifting with Honda's Electric Shift Program (ESP). After the heavy duty centrifugal clutch engages, two Electronic Control Module (ECM)-controlled clutches mounted in the gearbox upshift/downshift to provide smooth, lurch-free shifts. When descending hills in automatic mode, the transmission downshifts, providing excellent engine braking. If the rider forgets to downshift when stopping in ESP mode, the transmission downshifts to third gear to prevent engine lugging.</li>
									<li>4WD/2WD selector lever allows 4WD or 2WD operation.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_suspension"
								data-collapsible-active="false"
								>Chassis/Suspension</a></span></div>
							<div id="slidedown_suspension" class="sub_content">
								<ul class="red-check">
									<li class="first">Fully independent front and rear suspension incorporates special calibration developed from extensive testing on Canadian trails.</li>
									<li>Honda's double-wishbone Independent Rear Suspension (IRS) provides 160 mm (6.3 inches) of wheel travel and minimizes geometry variations as the suspension travels through its stroke, maintaining rear wheel alignment, contributing to responsive overall handling, and reducing tire wear.</li>
									<li>Independent double-wishbone front suspension uses premium shock absorbers to provide 160 mm (6.3 inches) of wheel travel for a plush, comfortable ride.</li>
									<li>Rugged frame and suspension provide an impressive 231 mm (9.1 inches) of ground clearance.</li>
									<li>Honda's revolutionary Electric Power Steering (EPS) system monitors steering torque and vehicle speed to adjust the levels of steering assist and feel. When stopped or at low speeds, it provides more assistance for light steering effort. As speed increases, the amount of assistance is reduced to provide the appropriate level of feedback. Perhaps the most significant benefit is that the system will provide light and consistent steering feel in both 2WD and 4WD operation. As a secondary benefit, the EPS system acts as a steering damper to greatly reduce undesirable kickback through the handlebars in rough or rocky terrain, thereby helping to reduce rider fatigue.</li>
									<li>Dual hydraulic front and single rear disc brakes provide exceptional stopping power and feature brake pads that minimize wear from dust and sand.</li>
									<li>Rear centre disc brake and self-adjusting mechanical rear parking brake are mounted on the rear driveshaft, contributing to the TRX420PG's considerable ground clearance.</li>
									<li>Tough large-diameter front and rear tires provide excellent ground clearance while maintaining precise handling.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_additional"
								data-collapsible-active="false"
								>Additional Features</a></span></div>
							<div id="slidedown_additional" class="sub_content">
								<ul class="red-check">
									<li class="first">Convenient electric start helps ensure an easy start every time.</li>
									<li>Large, lightweight plastic fuel tank with 13.3-litre capacity.</li>
									<li>Multifunction LCD digital instrumentation is compact, tough and waterproof, featuring large readouts for gear position, speedometer, odometer, resettable tripmeter and hour meter. Instrument housing includes indicator lights for reverse, neutral, coolant temperature, PGM-FI, 4WD and power steering.</li>
									<li>Thickly padded seat provides exceptional comfort.</li>
									<li>Rack designed for easier lashing of cargo.</li>
									<li>Large cargo racks front and rear carry payloads of 30 kg (66 pounds) and 60 kg (133 pounds), respectively.</li>
									<li>Heavy-duty trailer hitch with 385 kg towing capacity.</li>
									<li>Snorkel-type air-intake system is specially designed to admit air without water intrusion during water crossings.</li>
									<li>Closed crankcase vent system safeguards against engine oil contamination.</li>
									<li>Muffler/spark arrester is designed for quiet operation.</li>
									<li>Powerful 371-watt alternator.</li>
									<li>Tough 12-amp-hour maintenance-free battery.</li>
									<li>Twin-headlight system with 30-watt bulbs features multi-reflector lenses for optimal light distribution.</li>
									<li>Combination LED stoplight and taillight.</li>
									<li>Durable, comfortable, easy-to-use controls.</li>
									<li>Keyed ignition switch for added security.</li>
									<li>Large fenders give excellent mud protection.</li>
									<li>Specially designed floorboards allow the rider's feet to grip the footrests while helping to keep mud and debris away.</li>
									<li>Full-length synthetic lower skid plate with integrated front brush guard.</li>
									<li>Constant-velocity-joint boot guards help prevent damage to boot covers.</li>
									<li>1 year, transferable limited warranty.</li>
								</ul>
							</div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->