<!--#include virtual="/shared/inc/application_top_dark.html"-->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/atv/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/atv/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
	<link rel="stylesheet" href="/_Global/css/atv/sections/safety.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/atv/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="fc content_section first_section">
						<p><img src="/_Global/img/content/safety/banner-safety.jpg" alt="Safety" /></p>
						<h1>Safety Guidelines</h1>
						<p class="large">Over the years, Honda has built numerous safety features and systems into their ATV's, all of which have proven very effective in reducing accidents and injury.</p>
						
						<ul class="pdf-list">
							<li><a href="#">What to Wear While Riding on the Road (PDF)</a></li>
							<li><a href="#">What to Wear While Riding off Road (PDF)</a></li>
						</ul>
						
						<p>Proper riding gear is of the upmost importance to your safety. Honda strongly recommends that you always wear proper gear when operating your Honda ATV.</p>
						<p>Click <a href="#">here</a> for more Honda Gear information.</p>
						
						<div class="fc fr accordion-controls">
							<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
							<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
						</div>
					</div>
					<div class="nb np content_section">
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_wear_a_helmet"
							data-collapsible-active="true"
							>Always Wear a Helmet</a></span></div>
						<div id="slidedown_wear_a_helmet" class="sub_content">
							<ul>
								<li class="first">It's a proven fact: Helmets significantly reduce the number and severity of head injuries. So always wear an approved helmet. We also recommend that you wear eye protection, sturdy boots, gloves and other protective gear.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_easy_to_see"
							data-collapsible-active="false"
							>Ride Within Your Limits</a></span></div>
						<div id="slidedown_easy_to_see" class="sub_content">
							<ul>
								<li class="first">Pushing the limits is another major cause of ATV accidents. Never ride beyond your personal abilities or faster than conditions warrant. Remember that alcohol, drugs, fatigue and inattention can significantly reduce your ability to make good judgments and ride safety.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_safety_check"
							data-collapsible-active="false"
							>Safety Check</a></span></div>
						<div id="slidedown_safety_check" class="sub_content">
							<ul>
								<li class="first">For safe riding, it's important to inspect your ATV before every ride and keep your ATV well maintained as per the Honda recommended maintenance schedule. But it's just as important to observe the break-in guidelines, and perform all pre-ride and other periodic checks detailed in your owner's manual. We also recommend that you read your owner's manual before you ride. It's full of facts, instructions, safety information, and helpful tips.</li>
								<li>Never exceed load limits, and only use accessories that have been approved by Honda for your ATV. Always conduct a Pre-ride inspection before operating your Honda ATV.</li>
								<li>Click <a href="#">here</a> for more Pre-ride information.</li>
							</ul>
						</div>
						
						<div class="flex_bar"><span><a href="javascript:void(0);"
							property="act:collapsible"
							data-collapsible-target="#slidedown_safe_condition"
							data-collapsible-active="false"
							>Keep Your ATV in Safe Condition</a></span></div>
						<div id="slidedown_safe_condition" class="sub_content">
							<ul>
								<li class="first">Having a breakdown can be difficult, especially if you are stranded off-road far from your base. To help avoid problems, inspect your ATV before every ride and perform all recommended maintenance. If you have basic mechanical skills, you can perform some of the maintenance tasks with the tools provided with your ATV. Other tasks that are more difficult and require special tools are best performed by professionals.</li>
								<li>Attempting service or repairs without the proper training, tools, and equipment could cause injury to you or others. It could also damage the vehicle or create an unsafe condition. Any person, who intends to use a replacement part, service procedure or a tool that is not recommended by Honda, must determine the risks to their personal safety and the safe operation of the vehicle.</li>
								<li>If you need to replace a part, use genuine Honda parts. We strongly recommend that you do not use replacement parts of inferior quality. Remember that your Honda dealer knows your ATV best and is fully equipped to maintain and repair it.</li>
								<li>Click <a href="#">here</a> for more Honda Service information.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->