<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: 1col.html 326 2011-03-10 22:35:43Z yuxhuang $ -->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/atv/sections/fall-excursions.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container fall-excursions">
			<div class="content_section first_section">
				<div class="fe-banner">
					<img src="/_Global/img/content/atv/fall-excursions/fall-excursions-tout-en.jpg" alt="" />
				</div>
				
				<h1>We're making room for 2012 models. ACT NOW FOR great savings on 2011 ATVs!</h1>
				
				<div class="fc two-content-columns">
					<div class="fl column">
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx420pg.jpg" alt="" />
								<div class="product-name">
									2011 TRX420PG MSRP $8,699<br/>
									Canadian Trail Edition
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">Receive a</div>
								<div class="discount-price">$750</div>
								<div class="discount-footer">Discount</div>
								<div class="your-price-header">Your Price</div>
								<div class="your-price">$7,949</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx680f.jpg" alt="" />
								<div class="product-name">
									2011 TRX680F MSRP $9,999<br/>
									Rincon
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">Receive a</div>
								<div class="discount-price">$750</div>
								<div class="discount-footer">Discount</div>
								<div class="your-price-header">Your Price</div>
								<div class="your-price">$9,249</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx500fm.jpg" alt="" />
								<div class="product-name">
									2011 TRX500FM MSRP $8,199<br/>
									Foreman
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">Receive a</div>
								<div class="discount-price">$500</div>
								<div class="discount-footer">Discount</div>
								<div class="your-price-header">Your Price</div>
								<div class="your-price">$7,699</div>
							</div>
						</div>
						
						<div class="more-great-deals-copy">
							<h2>More Great Deals</h2>
							<table>
								<tr>
									<th>Model</th>
									<th>MSRP</th>
									<th>Discount</th>
									<th>Your Price</th>
									<th></th>
								</tr>
								<tr>
									<td class="model">2011 TRX500PG<br/>Canadian Trail Edition<br/>Rubicon SE</td>
									<td>$10,599</td>
									<td class="important">$750</td>
									<td class="important">$9,849</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">2011 TRX500PG<br/>Canadian Trail Edition<br/>Rubicon (Camo)</td>
									<td>$10,049</td>
									<td class="important">$750</td>
									<td class="important">$9,299</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">2011 TRX500FM<br/>Foreman SE</td>
									<td>$9,099</td>
									<td class="important">$500</td>
									<td class="important">$8,599</td>
									<td class="honda-plus"></td>
								</tr>
								<tr>
									<td class="model">2011 TRX420PG<br/>Canadian Trail Edition SE</td>
									<td>$9,599</td>
									<td class="important">$750</td>
									<td class="important">$8,849</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">2011 TRX420PG (Camo)</td>
									<td>$9,049</td>
									<td class="important">$750</td>
									<td class="important">$8,299</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">2011 TRX420FM SE</td>
									<td>$7,899</td>
									<td class="important">$500</td>
									<td class="important">$7,399</td>
									<td class="honda-plus"></td>
								</tr>
								<tr>
									<td class="model">2011 TRX420FM (Camo)</td>
									<td>$7,349</td>
									<td class="important">$500</td>
									<td class="important">$6,849</td>
									<td class="honda-plus"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="fl column">
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx500pg.jpg" alt="" />
								<div class="product-name">
									2011 TRX500PG MSRP $9,699<br/>
									Canadian Trail Edition Rubicon
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">Receive a</div>
								<div class="discount-price">$750</div>
								<div class="discount-footer">Discount</div>
								<div class="your-price-header">Your Price</div>
								<div class="your-price">$8,949</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx420fm.jpg" alt="" />
								<div class="product-name">
									2011 TRX420FM MSRP $6,999
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">Receive a</div>
								<div class="discount-price">$500</div>
								<div class="discount-footer">Discount</div>
								<div class="your-price-header">Your Price</div>
								<div class="your-price">$6,499</div>
							</div>
						</div>
						
						<div class="innovation-copy">
							<h2>Innovation on Any Terrain<sup>&dagger;</sup></h2>
							<p class="large">Longitudinal engine mounting. Beltless automatic transmission systems. Electric Power Steering. High-tech disc brakes. Always at the leading edge of ATV innovation, chances are that if it makes your ATV perform better, last longer, and operate more safely, it probably appeared on a Honda first. Here are just a few examples of the advanced engineering and outside the box thinking that have made Honda the trusted choice of so many Canadian riders, for more than 30 years.</p>
							
							<h3>Bigger isn’t better</h3>
							<p>Light weight doesn’t make an ATV a lightweight on the trails. It leads to better control, meaning more comfort, so you can ride the trails longer without tiring. Plus, it takes less fuel to move a light Honda ATV, letting you squeeze more fun out of every tank.</p>
							
							<h3>A Moving Experience</h3>
							<p>Honda ATVs feature a range of durable manual and automatic transmissions, all highly resistant to dirt and water damage. And beltless automatic transmissions mean there are no drive belts to get wet or burn out, leaving you stranded on the trails.</p>
							
							<h3>A Different Way to Look at Engines</h3>
							<p>Longitudinal mounting improves powertrain efficiency and divides the weight of the engine more equally over all four wheels, giving you better machine balance for improved traction, manoeuvrability, cornering and braking.</p>
						</div>
					</div>
				</div>
				
				<div class="fc footer">
					<div class="fl footer-finddealer">
						<h2>Visit your local Honda ATV dealer for full details.</h2>
						<div class="find-a-dealer"><a href="/dealerlocator">Click here to find a dealer</a></div>
					</div>
					<div class="fr footer-logos">
						<img src="/_Global/img/content/atv/fall-excursions/logo-honda-plus-en.gif" alt="" />
						<img src="/_Global/img/content/atv/fall-excursions/logo-honda.gif" alt="" />
					</div>
				</div>
			</div>
			<div class="content_section disclaimer">
				<p>For all offers, Honda’s Fall Excursions Event (“Offer”) applies to eligible retail purchase agreements for a limited time, while supplies last. This Offer is valid on select new (not previously registered) 2011 Honda ATVs (“Eligible Products”). For discounts, discounts (manufacturer’s and dealer’s as applicable) are deducted from MSRP before taxes, and available only at participating dealers and on select models only, and vary from $500 to $750 depending on model. “Your Price” values shown do not include Freight and PDI.  Applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Offer valid from August 1, 2011 until November 30, 2011 inclusive (“Offer Period”). *Enter into an agreement to purchase or finance an Eligible Product during the Offer Period and Honda will provide (at no additional charge) a 12 month Honda Plus Protection Plan (extended warranty) in addition to the manufacturer’s warranty on select 2011 ATVs. See dealer for full plan details. The Honda Plus Protection Plan (extended warranty) offer does not apply to 2011 TRX500FM Foreman, 2011 TRX420FM, 2011 TRX500FM Foreman SE, 2011 TRX420FM (Camo), and 2011 TRX420FM SE although Honda Plus Protection Plan can be purchased for these products. All TRX450R and TRX700XX models are ineligible for the no charge Honda Plus Protection Plan (extended warranty) offer specified, as well as the standard Honda Plus extended warranty. All offers valid at participating Honda ATV or Honda Authorized Big Red dealers. Dealer may sell for less. Prices/Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details and eligible models. Errors and omissions excepted.</p>
				<p>&dagger;Certain features only available on certain models</p>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->