<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: 1col.html 326 2011-03-10 22:35:43Z yuxhuang $ -->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/atv/sections/fall-excursions.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container fall-excursions">
			<div class="content_section first_section">
				<div class="fe-banner">
					<img src="/_Global/img/content/atv/fall-excursions/fall-excursions-tout-fr.jpg" alt="" />
				</div>
				
				<h1>Nous faisons de la place pour les modèles 2012. Agissez maintenant pour<br/>bénéficier d’économies sensationnelles sur des VTT 2011!</h1>
				
				<div class="fc two-content-columns">
					<div class="fl column">
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx420pg.jpg" alt="" />
								<div class="product-name">
									TRX420PG 2011 PDSF 9 099 $<br/>
									Canadian Trail Edition
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">OBTENEZ UN</div>
								<div class="discount-footer">RABAIS DE</div>
								<div class="discount-price">750 $</div>
								<div class="your-price-header">Votre Prix</div>
								<div class="your-price">8 349 $</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx680f.jpg" alt="" />
								<div class="product-name">
									TRX680F 2011 PDSF 10 399 $<br/>
									Rincon
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">OBTENEZ UN</div>
								<div class="discount-footer">RABAIS DE</div>
								<div class="discount-price">750 $</div>
								<div class="your-price-header">Votre Prix</div>
								<div class="your-price">9 649 $</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx500fm.jpg" alt="" />
								<div class="product-name">
									TRX500FM 2011 PDSF 8 599 $<br/>
									Foreman
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">OBTENEZ UN</div>
								<div class="discount-footer">RABAIS DE</div>
								<div class="discount-price">500 $</div>
								<div class="your-price-header">Votre Prix</div>
								<div class="your-price">8 099 $</div>
							</div>
						</div>
						
						<div class="more-great-deals-copy">
							<h2>PLUS D’OFFRES SENSATIONNELLES</h2>
							<table>
								<tr>
									<th>MODÈLE</th>
									<th>PDSF</th>
									<th>RABAIS</th>
									<th>Votre Prix</th>
									<th></th>
								</tr>
								<tr>
									<td class="model">TRX500PG 2011<br/>Canadian Trail Edition<br/>Rubicon SE</td>
									<td>10 999 $</td>
									<td class="important">750 $</td>
									<td class="important">10 249 $</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">TRX500PG 2011<br/>Canadian Trail Edition<br/>Rubicon (Camo)</td>
									<td>10 449 $</td>
									<td class="important">750 $</td>
									<td class="important">9 699 $</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">TRX500FM 2011<br/>Foreman SE</td>
									<td>9 499 $</td>
									<td class="important">500 $</td>
									<td class="important">8 999 $</td>
									<td class="honda-plus"></td>
								</tr>
								<tr>
									<td class="model">TRX420PG 2011<br/>Canadian Trail Edition SE</td>
									<td>9 999 $</td>
									<td class="important">750 $</td>
									<td class="important">9 249 $</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">TRX420PG 2011 (Camo)</td>
									<td>9 099 $</td>
									<td class="important">750 $</td>
									<td class="important">8 349 $</td>
									<td class="honda-plus">Honda | <span class="important">PLUS*</span></td>
								</tr>
								<tr>
									<td class="model">TRX420FM SE 2011</td>
									<td>8 299 $</td>
									<td class="important">500 $</td>
									<td class="important">7 799 $</td>
									<td class="honda-plus"></td>
								</tr>
								<tr>
									<td class="model">TRX420FM 2011 (Camo)</td>
									<td>7 749 $</td>
									<td class="important">500 $</td>
									<td class="important">7 249 $</td>
									<td class="honda-plus"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="fl column">
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx500pg.jpg" alt="" />
								<div class="product-name">
									TRX500PG 2011 PDSF 10 099 $<br/>
									Canadian Trail Edition Rubicon
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">OBTENEZ UN</div>
								<div class="discount-footer">RABAIS DE</div>
								<div class="discount-price">750 $</div>
								<div class="your-price-header">Votre Prix</div>
								<div class="your-price">9 349 $</div>
							</div>
						</div>
						
						<div class="fc product">
							<div class="fl product-thumb">
								<img src="/_Global/img/content/atv/fall-excursions/thumb-trx420fm.jpg" alt="" />
								<div class="product-name">
									TRX420FM 2011 PDSF 7 399 $
								</div>
							</div>
							<div class="fl product-info">
								<div class="discount-header">OBTENEZ UN</div>
								<div class="discount-footer">RABAIS DE</div>
								<div class="discount-price">500 $</div>
								<div class="your-price-header">Votre Prix</div>
								<div class="your-price">6 899 $</div>
							</div>
						</div>
						
						<div class="innovation-copy">
							<h2>L’INNOVATION, SUR TOUT TERRAIN<sup>&dagger;</sup></h2>
							<p class="large">†Montage longitudinal du moteur. Systèmes de transmissions automatiques sans courroie. Direction assistée électrique. Freins à disque sophistiqués. Des VTT toujours à l’avant-garde de l’innovation. Si une chose peut améliorer votre VTT, le rendre plus performant, plus durable, ou plus sécuritaire, elle est probablement apparue d’abord sur un Honda. Voici simplement exemples d’ingénierie avancée et de pensée sans limite qui ont fait de Honda le choix de conﬁance de tant d’amateurs canadiens de VTT durant plus de 30 ans.</p>
							
							<h3>Plus gros, ça ne veut pas dire meilleur</h3>
							<p>La légèreté ne fait pas d’un VTT un poids léger sur les sentiers. Elle tend plutôt à favoriser le contrôle et le confort qui s’en trouvent améliorés; vous pouvez donc rouler plus longtemps sur les sentiers sans trop vous fatiguer. Ça prend aussi moins d'essence pour faire rouler un VTT Honda léger, ce qui vous permet de tirer plus de plaisir de chacun des réservoirs.</p>
							
							<h3>Une expérience qui vous transportera</h3>
							<p>La gamme de VTT Honda dispose d’un éventail de durables transmissions manuelles et automatiques, toutes très résistantes aux dommages causés par l’eau et par la poussière. Et des transmissions automatiques sans courroie signiﬁe qu’il n’y a pas de courroie d’entraînement pour se mouiller ou pour brûler, en vous laissant coincé sur un sentier.</p>
							
							<h3>Voir les moteurs sous un angle différent</h3>
							<p>Le montage longitudinal du moteur améliore l’efﬁcacité du groupe motopropulseur et répartit plus également le poids du moteur sur chacune des roues, ce qui améliore l’équilibre de la machine ainsi que la traction, la manoeuvrabilité, la tenue en virage et le freinage.</p>
						</div>
					</div>
				</div>
				
				<div class="fc footer">
					<div class="fl footer-finddealer">
						<h2>Rendez-vous chez votre concessionnaire local de<br/>
							VTT Honda pour l’information détaillée.</h2>
						<div class="find-a-dealer"><a href="/trouver-concessionaire">CLIQUER ICI POUR TROUVER UN CONCESSIONNAIRE</a></div>
					</div>
					<div class="fr footer-logos">
						<img src="/_Global/img/content/atv/fall-excursions/logo-honda-plus-fr.gif" alt="" />
						<img src="/_Global/img/content/atv/fall-excursions/logo-honda.gif" alt="" />
					</div>
				</div>
			</div>
			<div class="content_section disclaimer">
				<p>Toutes les offres de l’Événement Excursions d’automne de Honda (“Offre”) s’appliquent à des contrats de vente au détail admissibles, pour un temps limité et dans la limite des stocks. Ces offres sont valides sur une sélection de VTT Honda 2011 neufs (jamais enregistrés auparavant) (“Produits admissibles”). Les rabais du fabricant (et du concessionnaire s’il y a lieu) sont déduits du PDSF avant les taxes et sont offerts chez les concessionnaires participants seulement, sur des modèles sélectionnés seulement, et varient de 500 $ à 750 $ selon le modèle. Les mentions "Votre Prix" incluent les frais de transport et de préparation, mais n'incluent pas les frais applicables, taxes applicables, immatriculation, assurance, frais d'administration du concessionnaire (s’il y a lieu) et enregistrement. L’offre est valide du 1er août 2011 au 30 novembre 2011 inclusivement (période de l’offre). *Sur adhésion à une entente d’achat ou financement d’un Produit admissible durant la Période de l’offre, Honda allouera (sans aucuns frais additionnels) 12 mois de couverture du Plan de Protection Honda Plus (garantie prolongée) qui s’ajouteront à la garantie du fabricant, sur des VTT 2011 sélectionnés. Voir le concessionnaire pour les détails complets du Plan Honda Plus . L’offre du Plan de Protection Honda Plus (garantie prolongée) ne s'applique pas aux TRX500FM Foreman 2011, TRX420FM 2011, TRX500FM Foreman SE 2011, TRX420FM (Camo) 2011, ni au TRX420FM SE 2011, bien que le Plan de Protection Honda Plus puisse être acheté pour ces produits. Les modèles TRX450R et TRX700XX ne sont pas éligibles à l’offre spécifique du Plan de Protection Honda Plus (garantie prolongée) sans frais, ni au Plan de Protection Honda Plus (garantie prolongée) standard. Toutes les offres sont valides uniquement chez les concessionnaires participants de VTT Honda ou Big Red Honda autorisés. Le prix du concessionnaire peut être inférieur. Prix/offre sujet à changement ou prolongation sans préavis. Une commande ou un échange entre concessionnaires peut être nécessaire. Voir un concessionnaire Honda ou honda.ca pour connaître tous les détails et les modèles admissibles. Sauf erreurs et omissions.</p>
				<p>†Certaines caractéristiques sont offertes uniquement sur certains modèles.</p>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->