/* @group */
.site-adplanner #logo { margin: 29px 0 0 15px; width: 308px; height: 52px; background: url(../../../img/adplanner/layout/logo_adplanner_fr.gif) 0 0 no-repeat; }
.site-marine #logo    { margin: 16px 0 0 5px;  width: 169px; background:url(/_GLobal/img/adplanner/layout/logo_marine.gif) 0 0 no-repeat; }
.site-mc #logo        { margin: 16px 0 0 20px; width: 169px; background:url(/_GLobal/img/adplanner/layout/logo_mc_fr.gif) 0 0 no-repeat !important; }
.site-atvs #logo      { margin: 16px 0 0 15px; width: 53px;  background:url(../../../img/adplanner/layout/logo_atvs_fr.gif) 0 0 no-repeat !important; }
.site-pe #logo        { margin: 16px 0 0 15px; width: 102px; background:url(../../../img/adplanner/layout/logo_pe_fr.gif) 0 0 no-repeat !important; }
.site-engine #logo    { margin: 16px 0 0 15px; width: 142px; background:url(../../../img/adplanner/layout/logo_engine_fr.gif) 0 0 no-repeat !important; }

#logo, .header_logo { background:url(../../../img/layout/honda_logo_fr.png) 0 11px no-repeat;}
#primary_nav li a {padding-left:13px; padding-right:13px;}
#primary_nav li a.multiline {padding-left:13px; padding-right:13px; }

#secondary_nav { margin-top:0; }
#secondary_nav li { height: 32px; }
#secondary_nav li a { height: 28px; line-height: 28px; }
#secondary_nav li.multiline { line-height: 14px; }
#secondary_nav li.multiline a { line-height: 14px; }
#secondary_nav li a:hover {color:#e72530;}
#secondary_nav li.first {border-left:none;}


/* @french logos for Adplanner */
.footer_logos .web_properties li a:hover { background-position: 50% -75px !important; }
.footer_logos .web_properties li.honda_power_equipment a { background: url(../../../img/adplanner/layout/btn_honda_power_equipment_logo_fr.gif) 50% 0 no-repeat; }
.footer_logos .web_properties li.honda_engines a { background: url(../../../img/adplanner/layout/btn_honda_engines_logo_fr.gif) 50% 0 no-repeat ; }
.footer_logos .web_properties li.mc a { background: url(../../../img/adplanner/layout/btn_mc_logo_fr.gif) 50% 0 no-repeat ; }
.footer_logos .web_properties li.atvs a { background: url(../../../img/adplanner/layout/btn_atvs_logo_fr.gif) 50% 0 no-repeat ; }
.footer_logos .web_properties li.pe a { background: url(../../../img/adplanner/layout/btn_honda_pe_logo_fr.gif) 50% 0 no-repeat; }
/* @end */


/*same footer as Hondaauto*/
.page-landing .content-area-wrapper .web_properties li.honda a { background: url(../../../img/content/landing/footer_logos_fr.png) 0 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.acura a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -120px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_power_equipment a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -237px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.mc a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -355px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.atvs a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -475px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.sxs a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -595px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_marine a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -715px 0 no-repeat; }
.page-landing .content-area-wrapper .web_properties li.honda_engines a { background: url(../../../img/content/landing/footer_logos_fr.png) scroll -835px 0 no-repeat; }

.page-landing .content-area-wrapper .web_properties li a:hover { background-image: url(../../../img/content/landing/footer_logos_hover_fr.png); }

/* @end */

/* @splash page - logos */
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.mc a { display: block; width: 188px; height: 130px; margin: 41px auto 0 auto; background:url(../../../img/adplanner/layout/splash_logo_mc_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.mc a:hover { background:url(../../../img/adplanner/layout/splash_logo_mc_hover_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.atv a { display: block; width: 125px; height: 130px; margin: 41px auto 0 auto; background:url(../../../img/adplanner/layout/splash_logo_atv_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.atv a:hover { background:url(../../../img/adplanner/layout/splash_logo_atv_hover_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.pe a { display: block; width: 147px; height: 130px; margin: 41px auto 0 auto; background:url(../../../img/adplanner/layout/splash_logo_pe_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.pe a:hover { background:url(../../../img/adplanner/layout/splash_logo_pe_hover_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.engine a { display: block; width: 174px; height: 130px; margin: 41px auto 0 auto; background:url(../../../img/adplanner/layout/splash_logo_engine_fr.gif ) 0 0 no-repeat; }
.page-adplanner-splash .wrapper.no_bg .content_container ul.logo_link li.engine a:hover { background:url(../../../img/adplanner/layout/splash_logo_engine_hover_fr.gif ) 0 0 no-repeat; }
/* @end */


/* @flyout for main nav */
.navigation-dropdown .content_section .why-buy {height: 361px; padding: 20px 18px 0; width: 198px; }
.navigation-dropdown .content_section .why-buy .heading { margin-bottom: 7px; padding-bottom: 10px; }
.navigation-dropdown .content_section .why-buy .content { margin-bottom: 6px; }
/* @end */

.page-find-a-dealer dl.search-options dd.divider{width:41px; background:url(../../../img/content/find-a-dealer/or-divider_fr.gif) 0 0 no-repeat;}
.page-finance .privacy .content_section a.pdf_icon { background: url("/_Global/img/layout/icon_small_acrobat_reader_fr.gif") 0 0 no-repeat; display: block; height: 35px; width: 100px; }
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.search_sub_header label {  text-transform: none !important; }
.navigation-dropdown .content_section .products .price-disclaimer {width: 410px}