<!--#include virtual="/engine/inc/application_top.html"-->
<body>
<!--#include virtual="/engine/inc/header.html"-->
<link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/_Global/css/engine/sections/manufacturer.css" type="text/css" media="screen" />
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="header">
					<img src="/_Global/img/content/engine/manufacturer/heading_tout.png" alt="" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>are you a manufacturer?</h1>
					<h2>Hundreds of OEMs trust Honda to power their products on thousands of applications throughout the world.</h2>
				</div>
				<div class="content_section">
					<div class="sub_section">
						<dl class="fc col-2-full">
							<dd class="fl first">
								<p class="large">Honda sets the standards for reliable, hard-working engines. We build them with high quality components and rigorous manufacturing standards. You can trust that our engines will last, from top to bottom.</p>
								<p class="large">Sure, you can get another engine that costs less. But dollar for dollar, you can't find another engine that will last longer or be more reliable.</p>
								<p class="large">Honda offers a full three year commercial warranty on all GX engines, 100cc and larger. We stand behind our product with an industry-leading warranty.</p>
							</dd>
							<dd class="fl">
								<p class="large">If you want to join our team and use Honda Enginesto power your applications, please contact:</p>
								<p class="large">
									<strong>Sebastien Robert,<br />Engine Supervisor<br />at Honda Canada Inc.<br />416-230-1349</strong>
								</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/engine/inc/footer.html"-->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->