<!--#include virtual="/engine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/engine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/engine/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/engine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/engine/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/service-warranty.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">GXV160</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-features.html">Features</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="features">
						<div class="fc content_section first_section">
							<div class="fc feature-titles-controls">
								<div class="fl h1">Features</div>
								<div class="fc fr accordion-controls">
									<a href="javascript:void(0)" class="fl collapse" property="act:collapsible-collapse">Collapse All</a>
									<a href="javascript:void(0)" class="fl expand" property="act:collapsible-expand">Expand All</a>
								</div>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_fuel_efficient"
								data-collapsible-active="true"
								>FUEL EFFICIENT OPERATION</a></span></div>
							<div id="slidedown_fuel_efficient" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.
										<a class="btn-tooltips btn-help" property="act:tooltip" data-position-my="left center" data-position-at="right center" data-position-offset="0 0" data-position-collision="flip fit" data-tooltip-class="tooltip-right" data-tooltip-content-target="#accessories-item0"></a>
									</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_high_output"
								data-collapsible-active="false"
								>HIGH OUTPUT PERFORMANCE</a></span></div>
							<div id="slidedown_high_output" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_smooth_performance"
								data-collapsible-active="false"
								>SMOOTH PERFORMANCE</a></span></div>
							<div id="slidedown_smooth_performance" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_exceptionally_quiet"
								data-collapsible-active="false"
								>EXCEPTIONALLY QUIET</a></span></div>
							<div id="slidedown_exceptionally_quiet" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_reliability"
								data-collapsible-active="false"
								>PROVEN RELIABILITY</a></span></div>
							<div id="slidedown_reliability" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_easytouse"
								data-collapsible-active="false"
								>EASY TO USE AND MAINTAIN</a></span></div>
							<div id="slidedown_easytouse" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_easy_starting"
								data-collapsible-active="false"
								>EASY STARTING</a></span></div>
							<div id="slidedown_easy_starting" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_emissions_compliant"
								data-collapsible-active="false"
								>EMISSIONS COMPLIANT</a></span></div>
							<div id="slidedown_emissions_compliant" class="sub_content">
								<ul class="red-check">
									<li class="first">Fuel economy is similar to fuel injection, with the simplicity of carburetion.</li>
									<li>Digital CDI ignition system with variable timing.</li>
									<li>Includes a rev limiter to protect against damage from over-revving.</li>
									<li>Two barrel inner-vent carburetor for more precise fuel metering.</li>
									<li>Insert style rod bearings.</li>
								</ul>
							</div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/engine/inc/footer.html"-->
<div id="accessories-item0" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
	<ul>
		<li>Quisque id lorem justo.</li>
		<li>Duis non vestibulum orci.</li>
		<li>Curabitur et tellus purus, at eleifend quam. </li>
	</ul>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<a href="" class="popup-image-prev"></a>
			<div class="popup-image-large"></div>
			<a href="" class="popup-image-next"></a>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/engine/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->