<!--#include virtual="/engine/inc/application_top.html"-->
<body class="page-product-listing"> 
<div class="background_tile"> <div class="background_image">
	<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/engine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/engine/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/engine/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<!--<div class="banner">
					<img src="/_Global/img/content/mc/products/banner.jpg" alt="Honda Motorcycles" />
				</div>-->
				
				<div class="feature_header">
					<div class="h2">Why Buy a Honda Engine?</div>
					<p>Honda has developed unique technologies and features you lorem ipsum dolor sit ametelit volupat.</p>
				</div>
				
				<table class="feature_box">
					<tr>
						<td class="top_cap">
							<p class="heading">Premier coussin gonflable pour engine</p>
						</td>
						<td class="top_cap">
							<p class="heading">Premier coussin gonflable pour engine</p>
						</td>
						<td class="top_cap">
							<p class="heading">Premier coussin gonflable pour engine</p>
						</td>
						<td class="top_cap">
							<p class="heading">Premier coussin gonflable pour engine</p>
						</td>
					</tr>
					
					<tr>
						<td class="center_cap">
							<p>Honda offre des systèmes de.</p>
						</td>
						<td class="center_cap">
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<p>Similique sunt in culpa</p>
						</td>
						<td class="center_cap">
							<p>Similique sunt in culpa</p>
						</td>
					</tr>
					
					<tr>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<div class="content_container overview">
				<div class="fc content_section first_section">
					<h1 class="fl">Honda Engines <span>All Models</span></h1>
					<a href="" class="fr pf standards">All Honda engines meet current CARB and EPA standards</a>
				</div>
				<div class="content_section primary_section">
					<ul class="fc categories">
						<li class="first"><a href="#">Mini 4-stroke Series</a></li>
						<li class="active"><a href="#">GC Series</a></li>
						<li><a href="#">GX Series</a></li>
						<li><a href="#">V-Twin Series</a></li>
					</ul>
				</div>
				<div class="content_section primary_section">
					<div class="h1">Mini 4-stroke Series</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
					<h2>Mini 4-stroke Series <span>Horizontal</span></h2>
					<div class="fc product">
						<div class="fl first product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-url="/engine/inc/product-listing-product-tooltip-detail1.html"
								data-popup-handler="rollover"
								></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
					</div>
					
					<h2>Mini 4-stroke Series <span>Vertical</span></h2>
					<div class="fc product">
						<div class="fl first product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">gc160</h3>
						</div>
						<div><!-- IE QUIRK --></div>
					</div>
					
					<div class="sub_section">
						<div class="h1">GC Series</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						<h2>GC Series <span>Horizontal</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gxv270</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gxv270</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
						
						<h2>GC Series <span>Vertical</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gxv270</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gxv270</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<div class="h1">GX Series</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						<h2>GX Series <span>Horizontal</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
						
						<h2>GX Series <span>Vertical</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gx100</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
					
					<div class="sub_section">
						<div class="h1">V-Twin Series</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etmagnaaliqua.</p>
						<h2>V-Twin Series <span>Horizontal</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
						
						<h2>V-Twin Series <span>Vertical</span></h2>
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">gc160</h3>
							</div>
							<div><!-- IE QUIRK --></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
				<div class="nb content_section compare">
					<h2>Compare Honda Engines</h2>
					<div class="fc bottom_feature_inner">
						<ul class="fc fl product">
							<li class="fc fl pf first product-item active">
								<div class="fl list-steps">1</div>
								<div class="fl product-item-inner">
									<div>
										<h3 class="price-heading">GX35</h3>
										<a class="fl pf btn-remove dn" href="javascript:void(0)"></a>
										<div class="clr"></div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item active">
								<div class="fl list-steps">2</div>
								<div class="fl product-item-inner">
									<div>
										<h3 class="price-heading">GXH50</h3>
										<a class="fl pf btn-remove dn" href="javascript:void(0)"></a>
										<div class="clr"></div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item active">
								<div class="fl list-steps">3</div>
								<div class="fl product-item-inner">
									<div>
										<h3 class="price-heading">GX120</h3>
										<a class="fl pf btn-remove dn" href="javascript:void(0)"></a>
										<div class="clr"></div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item">
								<div class="fl pf list-steps">4</div>
								<div class="fl product-item-inner">
									<div class="selector">
										<div class="add-model">Add a Model to Compare</div>
										<div class="buttons">
											<a property="act:popup" data-compare-behavior="add" data-popup-hanger="true" data-position-offset="10 4" data-position-at="right bottom" data-position-my="right top" data-popup-content-url="/service/ComparePopUpSelector.aspx?L=en&amp;ModelFamilyUrl=" data-popup-class="model-selector" class="btn secondary" href="javascript:void(0)"><span>Select a Model</span></a>
										</div>
									</div>
								</div>
							</li>
						</ul>
							
						<div class="fl recently_viewed_compare">
							<p class="np nm compare-these"><strong>Comparer<br />
								ces moteurs
								<!--Compare<br />
								these Engines--></strong></p>
							<a href="#" class="btn primary"><span>Compare</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/engine/inc/footer.html"-->
</div>
<div id="toolbox_item" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$999</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$100</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove add">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Add to Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="toolbox_item2" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$16,599</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$6,000</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove remove">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Remove from Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="error_msg" class="dn">
	<div>
		<p class="heading">Error!</p>
		<p>Lorem ipsum dolor sit amet, Consectetur aconsecteturdipiscin.</p>
	</div>
</div>





<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->