<!--#include virtual="/engine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/_Global/css/engine/sections/product-details.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/engine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/service-warranty.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="#">GXV 160</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="#">Features</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="#" class="selected">Specifications</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
                    <div class="specs">
                        <div class="content_section first_section">
							<div class="fc section-header">
	                            <div class="fl h1">Specifications</div>
	                            <a href="#" class="fr btn secondary"><span>Print PDF</span></a>
							</div>
							<dl class="fc inner-two-col spec-diagrams">
								<dd class="fl first">
									<h2>Dimensions diagrams</h2>
									<div class="img-container">
										<img src="/_Global/img/content/engine/specs/specs_diagram_01.gif" alt="" />
									</div>
									<a href="#" class="btn secondary"><span class="enlarge">Enlarge</span></a>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
								</dd>
								<dd class="fr">
									<h2>Performance curve</h2>
									<div class="img-container">
										<img src="/_Global/img/content/engine/specs/specs_diagram_02.gif" alt="" />
									</div>
									<a href="#" class="btn secondary"><span class="enlarge">Enlarge</span></a>
								</dd>
							</dl>
							<div class="specs_chart">
	                            <table>
									<tr><th colspan="2" class="fnat"><p>Specifications</p></th></tr>
	                                <tr class="first">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr>
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr class="last">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                            </table>
							</div>
							<div class="specs_chart">
								<table>
									<tr><th colspan="2" class="fnat"><p>Dimensions</p></th></tr>
	                                <tr class="first">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr>
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr class="last">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                            </table>
							</div>
							<div class="specs_chart">
								<table>
									<tr><th colspan="2" class="fnat"><p>PTO Shaft Options</p></th></tr>
	                                <tr class="first">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr>
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                                <tr class="last">
	                                    <td><a href="product-specs.html#">Engine Type</a></td>
	                                    <td>Paper Cartridge</td>
	                                </tr>
	                            </table>
							</div>
                        </div>
						<div class="disclaimer">
							<p>* The power rating of the engine indicated in this document is the net power output tested on a production engine for the engine model and measured in accordance with SAE J1349 at 3,600 rpm (net power) and at 2,500 rpm (Max net torque). Mass production engines may vary from this value. Actual power output for the engine installed in the final machine will vary depending on numerous factors, including the operating speed of the engine in application, environmental conditions, maintenance, and other variables.</p>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/engine/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/engine/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->