<!--#include virtual="/engine/inc/application_top.html"-->
<body>
<!--#include virtual="/engine/inc/header.html"-->
<link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/_Global/css/engine/sections/warranty.css" type="text/css" media="screen" />
<div class="page">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<div class="primary-copy">
						<h1>honda engine service</h1>
						<h2 class="small">Keeping your Honda healthy is an imperative part of maintaining the quality, reliability, and performance of your Honda engine.</h2>
						<p class="large">We choose our Honda Dealers and Registered Service Dealers with the same care as we put into building our product. You can trust that only high quality Honda Genuine Parts are used, so that your Honda engine will perform as it was engineered to. Leave your product in the hands of who is most familiar and aware of the level of performance expected from your Honda.</p>
					</div>
					<dl class="fc col-2-full">
						<dd class="fl first">
							<h2 class="small">Honda Service provides the following advantages:</h2>
							<ul class="list-primary">
								<li><span>Our Honda Genuine Parts, oils and chemicals are factory approved and are tested to one of the highest standards in the industry.</span></li>
								<li><span>Our Honda dealers use only Honda Genuine Parts e industry.</span></li>
								<li><span>Technicians are trained to factory standards.</span></li>
								<li><span>The latest technical information is at the finger tips of our technicians through Honda communication system</span></li>
								<li><span>Our dealers are supported by our Tech-line and Quality Engineering teams at Honda Canada Inc.</span></li>
							</ul>
						</dd>
						<dd class="fl">
							<img src="/_Global/img/content/engine/warranty/warranty_img_01.png" alt="" class="pf fr" />
							<div class="clr"></div>
						</dd>
					</dl>
				</div>
				<div class="content_section secondary-copy">
					<div class="fl h1">honda engine warranty</div>
					<a href="#" class="fr btn_large">
						<span><img src="/_Global/img/layout/icon_downloads.png" class="pf" alt=""></span>
						<span class="downloads">Download PDF</span>
					</a>
					<div class="clr"></div>
					<p class="large">Each Honda Engine Distributor located in Canada have their own independent retail dealer networks to carry on the retail sales and service of Honda General Purpose Engines.</p>
				</div>
				<div class="content_section">
					<dl class="fc col-2-full-divider">
						<dd class="fl">
							<div class="group">
								<h2 class="small">Honda Canada Inc.</h2>
								<p>Phasellus scelerisque nulla non assa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus dolor, fermentum vitae convallis in, semper nec mauris. Praesent at nisl augue, eu condimentum velit. In tempor, in dapibus sagittis, turpis purus pretium urna, quis vulputate nibh.</p>
							</div>
						</dd>
						<dd class="fr">
							<div class="group">
								<h2 class="small">Honda Warrants That</h2>
								<p>Phasellus scelerisque nulla non assa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus dolor, fermentum vitae convallis in, semper nec mauris. Praesent at nisl augue, eu condimentum velit. In tempor, in dapibus sagittis, turpis purus pretium urna, quis vulputate nibh.</p>
							</div>
						</dd>
					</dl>
					<div class="warranty-period">
						<h2 class="small">Warranty Period</h2>
						<p>
							Phasellus scelerisque nulla non assa mattis at pretium augue aliquet.<br />
							Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu.
						</p>
						<table>
							<tr>
								<td>Model</td>
								<td>Non-Commercial / Non Rental</td>
								<td>Commercial</td>
								<td>Rental</td>
								<td>Concession</td>
							</tr>
							<tr>
								<td>GX/ GXV (All) <span>(Except as noted under 1)</span></td>
								<td>24 Months</td>
								<td>24 Months</td>
								<td>24 Months</td>
								<td>3 Months</td>
							</tr>
							<tr>
								<td>GX22, GX31, GXH50</td>
								<td>24 Months</td>
								<td>12 Months</td>
								<td>3 Months</td>
								<td>3 Months</td>
							</tr>
							<tr>
								<td>GC &amp; GCV</td>
								<td>24 Months</td>
								<td>3 Months</td>
								<td>3 Months</td>
								<td>none</td>
							</tr>
							<tr class="notes">
								<td colspan="5"><strong>Note:</strong> Concession use refers to Go Karts etc.</td>
							</tr>
						</table>
					</div>
					<dl class="fc col-2-full-divider">
						<dd class="fl">
							<div class="group">
								<h2 class="small">This Warranty Covers</h2>
								<ul class="primary-list">
									<li><strong>a)</strong> Raesent diam justo, cursus vitae varius at, sollicitudin non lacus. Nullam turpis sapien, pellentesque a porta et, pharetra tempor risus.</li>
									<li><strong>b)</strong> Duis malesuada accumsan interdum. Integer in risus id tellus pellentesque placerat vel nec arcu.</li>
									<li><strong>c)</strong> In at mi orci, sit amet aliquet erat. Aenean sodales congue turpis, interdum molestie dolor interdum vel. Nullam ut eros leo, ac lobortisrna.</li>
								</ul>
							</div>
							<div class="group">
								<h2 class="small">This Warranty Does Not Cover</h2>
								<ul class="primary-list">
									<li><strong>a)</strong> Raesent diam justo, cursus vitae varius at, sollicitudin non lacus. Nullam turpis sapien, pellentesque a porta et, pharetra tempor risus.</li>
									<li><strong>b)</strong> Duis malesuada accumsan interdum. Integer in risus id tellus pellentesque placerat vel nec arcu.</li>
									<li><strong>c)</strong> In at mi orci, sit amet aliquet erat. Aenean sodales congue turpis, interdum molestie dolor interdum vel. Nullam ut eros leo, ac lobortis.</li>
									<li><strong>d)</strong> Vestibulum cursus libero quis urna dictum nec feugiat eros aliquam. Sagittis dapibus sapien a congue. Nulla lacinia, dolor eu ulsapien quam vehicula eros, a lacinia libero erat aliquam odio. Vivamus sed elit lio. Duis aliquet sollicitudin tellus tempus rutrum.</li>
								</ul>
							</div>
							<div class="group">
								<h2 class="small">The Owner's Obligation</h2>
								<p>Duis in malesuada neque. Cum sociis natoque penatibus et ma dis parturient montes, nascetur ridiculus mus. Suspendisse purus an vestibulum at mauris. Donec pulvinar, lectus ut sodales pellentesque, augue semper quam, feugiat malesuada lectus ligula placerat enittm. Maecenas lacinia porttitor sapien at luctus. Curabitur facilisis tu Etiam sed massa mauris.</p>
							</div>
							<div class="group">
								<h2 class="small">To Obtain Warranty Service</h2>
								<p>Phasellus scelerisque nulla non assa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu ad litora torquent per conubia nostra, per inchimenaeos. Vivamus nibh dolor, fermentum vitae convallis in, semper nec mauris. Praesent at nisl augue, eu condimentum velit. In tempor, in dapibus sagittispurus pretium urna, quis vulputate nibh.</p>
								<p>
									<strong>
										Honda Canada Inc.<br />
										180 Honda Boulevard, Markham ON<br />
										L6C 0H9
									</strong>
								</p>
								<p>
									Telephone:<br />
									<strong>Toll Free: 1-888-946-6329</strong>
								</p>
								<p>
									Fax:<br />
									<strong>Toll Free: 1-877-939-0909</strong>
								</p>
							</div>
						</dd>
						<dd class="fr">
							<div class="group">
								<h2 class="small">Replacement Parts Warranty</h2>
								<ul class="primary-list">
									<li><strong>a)</strong> Raesent diam justo, cursus vitae varius at, sollicitudin non lacus. Nullam turpis sapien, pellentesque a porta et, pharetra tempor risus.</li>
									<li><strong>b)</strong> Duis malesuada accumsan interdum. Integer in risus id tellus pellentesque placerat vel nec arcu.</li>
									<li><strong>c)</strong> In at mi orci, sit amet aliquet erat. Aenean sodales congue turpis, interdum molestie dolor interdum vel. Nullam ut eros leo, ac lrtisrna.</li>
								</ul>
							</div>
							<div class="group">
								<h2 class="small">Entire Written Warranty</h2>
								<p>Esent diam justo, cursus vitae varius at, sollicitudin non lacus. Nullam turpis sapien, pellentesque a porta et, pharetra tempor risus.</p>
								<p>Dis malesuada accumsan interdum. Integer in risus id tellus pellentesque placerat vel nec arcu.</p>
								<p>In at mi orci, sit amet aliquet erat. Aenean sodales congue turpis,  nterdum molestie dolor interdum vel. Nullam ut eros leo, ac lobortis.</p>
								<p>Estibulum cursus libero quis urna dictum nec feugiat eros aliquam. Sagittis dapibus sapien a congue. Nulla lacinia, dolor eu ulsapien quam vehicula eros, a lacinia libero erat aliquam odio. Vivamus sed elit lio. Duis aliquet sollicitudin tellus tempus rutrum.</p>
							</div>
							<div class="group">
								<h2 class="small">Disclaimer</h2>
								<p>Duis in malesuada neque. Cum sociis natoque penatibus et ma dis parturient montes, nascetur ridiculus mus. Suspendisse purus an vestibulum at mauris. Donec pulvinar, lectus ut sodales pellentesque, augue semper quam, feugiat malesuada lectus ligula placerat enittm. Maecenas lacinia porttitor sapien at luctus. Curabitur facilisis tu Etiam sed massa mauris.</p>
							</div>
							<div class="group">
								<h2 class="small">Notice To Consumer</h2>
								<p>Phasellus scelerisque nulla non assa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu ad litora torquent per conubia nostra, per inchimenaeos. Vivamus nibh dolor, fermentum vitae convallis in, semper nec mauris. Praesent at nisl augue, eu condimentum velit. In tempor, in dapibus sagipurus</p>
							</div>
							<div class="group">
								<h2 class="small">Privacy Statement</h2>
								<p>Phasellus scelerisque nulla non assa mattis at pretium augue aliquet. Maecenas quis quam vitae velit laoreet lacinia. Class aptentaciti sociosqu ad litora torquent per conubia nostra, per inchimenaeos. Vivamus nibh dolor, fermentum vitae convallis in, semper nec mauris. Praesent at nisl augue, eu condimentum velit. In tempor, in dapibus sagittispurus.</p>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/engine/inc/footer.html"-->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->