<!--#include virtual="/engine/inc/application_top.html"-->
<body>
<!--#include virtual="/engine/inc/header.html"-->
<link rel="stylesheet" href="/_Global/css/engine/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/_Global/css/engine/sections/honda-advantage.css" type="text/css" media="screen" />
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="header">
					<img src="/_Global/img/content/engine/advantage/header_advantage_en.png" alt="" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>Why Choose a Honda Engine?</h1>
					<dl class="fc col-2-full">
						<dd class="fl first">
							<h3>Experience counts.</h3>
							<p>Experience born on racetracks and roadways around the globe. Experience that keeps us on the cutting edge of engine performance technology. We have a well-earned reputation for our engine quality and performance. When you choose a Honda engine, or a product powered by Honda, you know what you're getting. An engine you can count on, now and in the future.</p>
						</dd>
						<dd class="fl">
							<h3>Performance.</h3>
							<p>Excellent fuel efficiency. High power output. Quiet performance. Easy to use. What's our secret? Exceptional engineering and technology. Honda engines are truly built like no other.</p>
						</dd>
					</dl>
				</div>
				<div class="content_section">
					<h2 class="pf icon-advantage">Honda Engine Technology</h2>
					<p class="large"><strong>Honda engines offer a variety of advanced features for performance, durability, and the highest quality available. Click on any features to learn more.</strong></p>
					<table class="engine-technology">
						<tr>
							<th class="fnat">Feature</th>
							<th class="fnat">Benefit</th>
							<th class="fnat">Models</th>
						</tr>
						<tr>
							<td>
								<a class="fl  btn-tooltips" property="act:tooltip" data-position-my="left center" data-position-at="right center" data-position-offset="0 0" data-position-collision="fit" data-tooltip-class="tooltip-right" data-tooltip-content-target="#accessories-item0">Automatic mechanical de-compression system</a>
								<div id="accessories-item0" class="dn">
									<div class="tooltip_heading"><strong>Lorem ipsum dolor</strong></div>
									<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
							</td>
							<td>Easy starting</td>
							<td>All</td>
						</tr>
						<tr>
							<td><a href="#">Variable Timing Digital CDI ignition</a></td>
							<td>Easy starting, high-power output, and fuel efficiency</td>
							<td>GX, V-twin</td>
						</tr>
						<tr>
							<td><a href="#">Oil Alert</a></td>
							<td>Improved reliability</td>
							<td>GX, V-twin</td>
						</tr>
						<tr>
							<td><a href="#">Hemispherical combustion chamber</a></td>
							<td>Fuel efficiency and higher output</td>
							<td>V-twin</td>
						</tr>
						<tr>
							<td><a href="#">Integrated cylinder and head</a></td>
							<td>Improved reliability and combustion</td>
							<td>V-twin</td>
						</tr>
						<tr>
							<td><a href="#">High-capacity oil pump</a></td>
							<td>Improved reliability</td>
							<td>V-twin</td>
						</tr>
						<tr>
							<td><a href="#">Compact combustion chamber, overhead<br />cam design, and uniblock construction</a></td>
							<td>Increased reliability, easier maintenance, and lighter weight</td>
							<td>GC</td>
						</tr>
						<tr>
							<td><a href="#">Lifetime timing belt design</a></td>
							<td>Improved reliability</td>
							<td>GC</td>
						</tr>
						<tr>
							<td><a href="#">Auto Choke System</a></td>
							<td>Easy starting</td>
							<td>GVC</td>
						</tr>
						<tr>
							<td><a href="#">Full 360° "any-side-up" operation</a></td>
							<td>Ease of use</td>
							<td>Mini-4</td>
						</tr>
						<tr>
							<td><a href="#">Approximately half the operating<br />cost of comparable 2-stroke engines</a></td>
							<td>Reduced cost of ownership</td>
							<td>Mini-4</td>
						</tr>
						<tr>
							<td><a href="#">Belt-driven OHC design</a></td>
							<td>Reduced noise</td>
							<td>GC, Mini-4</td>
						</tr>
					</table>
					<div class="sub_section">
						<dl class="fc col-2-full">
							<dd class="fl first">
								<h3>Renowned reliability and quality.</h3>
								<p>Honda sets the standard for reliable, hard-working engines. Our engines are built with high-quality components designed for optimum performance in the harshest environments. But don't just take our word for it. Honda stands behind our engines a three-year commercial <a href="#">warranty</a> on all GX engines, 100cc and larger.</p>
								<p>Or ask a Honda engine owner. Next time you visit a rental centre, see a landscape truck, or pass by a construction site, you'll probably see a Honda GX engine-powered piece of equipment. Stop and ask them what they think of the Honda engine. Chances are they'll tell you they wouldn't use anything else.</p>
								<h3>Legendary easy starting</h3>
								<p>Honda engines are renowned for being easy to start, day after day, year after year. From our unique automatic mechanical decompression system, to heavy duty recoil ropes, to more advanced variable ignition timing, our engines are designed with quick, easy starts in mind.</p>
							</dd>
							<dd class="fl">
								<h3>Environmental focus</h3>
								<p>Honda engines are 100% compliant with Canadian engineering and environmental standards. In fact, most Honda engines meet the strictest world standards, including EPA standards and the very strict CARB tier 3 Standards.</p>
								<h3>Canada-wide parts and service support</h3>
								<p>Honda understands the importance of getting you back to work quickly. Honda has a vast nationwide support network of over 1400 Registered Service Dealers, OEMs, HEDs and Honda Dealers. From parts to service, Honda servicing dealers are there to assist you when you need it. <a href="#">Find a servicing dealer</a>.</p>
								<h3>The superior choice<br />for manufacturers</h3>
								<p>Hundreds of OEMs trust Honda to power their products for instant credibility.</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/engine/inc/footer.html"-->
</body>
<!--#include virtual="/engine/inc/application_bottom.html"-->