/* @group Layout */
/*.cap_top_columns {height:5px;background:url(../../img/layout/cap_top_col1_col3.gif) 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }*/
/*.cap_top_columns_right {height:5px;background:url(../../img/layout/cap_top_col3_col1.gif) 0 0 no-repeat; padding:0; margin: 0; position: relative; top: -5px; }*/
/*.cap_bottom_columns {height:6px;background: url(../../img/layout/cap_bottom_col1_col3.gif) left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }*/
/*.cap_bottom_columns_right {height:6px;background: url(../../img/layout/cap_bottom_col3_col1.png) left bottom no-repeat;bottom:-6px;height:6px;position:relative; margin: 0; }*/
/*.cap_middle_columns {width:256px;height:31px;background:url(../../img/layout/cap_middle_col1.gif) 0 0 no-repeat;}*/
/* @end */
/* @group Sidebar Widgets */

/* .wrapper_nobg .widgets a.primary span {padding:6px 12px 1px 0px;} */
/* .wrapper_nobg .widgets a.secondary span {padding:6px 12px 1px 0px;} */

.wrapper_columns{margin:0 auto 0; background:url(../../img/layout/bg_wrapper_col1_col3.png) -1px 0 repeat-y;}

.wrapper_columns .widgets li h4{color:#696969;}
.wrapper_columns .widgets li.consider .product{padding-left:39px; padding-top:15px;}
.wrapper_columns .widgets li.consider .product .product_name{font-size:17px; color:#424242; font-weight:bold; padding-top:10px; display:block;}
.wrapper_columns .widgets li.consider .product .product_price{font-size:14px; font-weight:bold; font-family:verdana, sans-serif; color:#7c7c7c; text-transform:uppercase;}
.wrapper_columns .widgets li.consider .product .product_price span{text-transform:uppercase; font-size:8px; color:#696969; font-weight:normal; padding-left:5px;}

.wrapper_columns .widgets li.find-a-dealer ul.search_options label {display:block;font-size:12px;color:#151515;text-transform:uppercase;line-height:12px;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special {background:url(../../img/layout/bg_input_special.png) no-repeat;width:112px;height:23px;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special input {margin:4px 0 0 4px;width:53px;border:0px;outline:none;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .input_special a {margin-left:10px;padding:4px 0;width:40px;text-align:center;display:block;text-transform:uppercase;text-decoration:none;color:white;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options .button {margin-left:8px;height:23px;width:auto;white-space:nowrap;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.search_sub_header label {font-weight:bold; font-size:12px; color:#9acf5b; text-transform:capitalize !important;}
.wrapper_columns .widgets li.find-a-dealer ul.search_options li.region label{padding-top:6px;}
.wrapper_columns .widgets li.find-a-dealer .input_box .input { height: 23px; }
.wrapper_columns .widgets li.find-a-dealer .input_box .input input { background: none; height: 21px; border-right: 0; }
.wrapper_columns .widgets li.find-a-dealer .input_box a.btn {display:inline-block;height:20px; background: url(../../img/layout/btn_secondary_right.gif) no-repeat right top;padding:5px 10px 0 ;}
.wrapper_columns .widgets li.find-a-dealer .input_box a.btn:hover {background-position:right -27px !important;}
.wrapper_columns .widgets li.find-a-dealer .input_box .small_loader {position:absolute;right:6px;top:4px;display:none;}

.wrapper_columns .widgets li.cities_nearby h4{padding-bottom:10px;}

.wrapper_columns .widgets li.powerhouse_dealers{font-family:verdana, arial, sans-serif;}
.wrapper_columns .widgets li.powerhouse_dealers p.heading{font-size:12px; margin-top:14px;}
.wrapper_columns .widgets li.powerhouse_dealers .content{padding:4px 16px; width:220px;}

.wrapper_columns .widgets li.powerhouse-dealers-alternate{}
.wrapper_columns .widgets li.powerhouse-dealers-alternate p.heading{padding-left:10px; margin-top:10px; padding-bottom:0; font-size:12px;}
.wrapper_columns .widgets li.powerhouse-dealers-alternate .content{padding:6px 13px 6px 16px;}

.wrapper_columns .widgets li.accessories{}
.wrapper_columns .widgets li.accessories p.heading{padding-left:10px; margin-top:10px; padding-bottom:0; font-size:12px;}
.wrapper_columns .widgets li.accessories .content{padding:6px 13px 6px 16px;}

/* @end */
/* @group 2 column layout */

.wrapper_columns .widgets{width:254px; font-family:verdana, arial, sans-serif;}
.wrapper_columns .widgets li:first-child{margin-top:0 !important;}
.wrapper_columns .widgets li:first-child .top_cap{display:none;}
.wrapper_columns .widgets li{margin-top:13px;}
.wrapper_columns .widgets li .top_cap{width:254px; height:24px; background:url(../../img/layout/cap_middle_col1.png) 0 0 no-repeat;}
.wrapper_columns .widgets li .bottom_cap{display:none;}
.wrapper_columns .widgets li .content{width:223px; padding:12px 11px 12px 18px; background:none;}
.wrapper_columns .widgets li .content .reviews p{padding-bottom:0;}
.wrapper_columns .widgets li.buttons .content{width:219px; padding: 5px 16px 0; background:url(../../img/layout/widget_content.png) 0 0 repeat-y;}
.wrapper_columns .widgets li.buttons .content a{margin-top:12px; padding:0; text-align:center; display:block;}
.wrapper_columns .widgets li.buttons .content a span{display:block;}
.wrapper_columns .widgets li.buttons .content a.first{margin-top:0;}

.left_nav .dropdown_button{background:url(../../img/layout/dropout_top.png) 0 0 no-repeat; top:-4px; height:auto; padding-left:0; width:244px; padding:10px 0 0 0;}
.left_nav .dropdown_button_right{width:auto; height:auto; line-height:16px; background:url(../../img/layout/dropout_bottom.png) 0 bottom no-repeat; padding:0 0 18px 0;}
.left_nav .dropdown_content{left:-225px; top:-5px;}
* html .left_nav .dropdown_content{top:-5px !important;}
* + html .left_nav .dropdown_content{top:-5px !important;}
.left_nav .dropdown_button a{padding:6px 20px 0 13px; margin:0; background:url(../../img/layout/dropout_mid.png) 0 0 repeat-y; width:211px;}

#left_nav li, .left_nav li {display:block;padding:0 0; border-top:1px solid #d6d6d6;margin:0 0; height:auto; width:216px;}
#left_nav li a, .left_nav li a{padding-bottom:12px !important; padding-left:10px; line-height:16px;}
#left_nav li.selected, .left_nav li.selected{padding-left:0 !important; background:#f4f4f4 url(../../img/layout/btn_selected_top.gif) 0 0 no-repeat !important;}
/* #left_nav li.selected a, .left_nav li.selected a{background:url(../../img/layout/btn_selected_bottom.gif) 0 bottom no-repeat !important;} */

.wrapper_top_cap{height:6px; background:url(../../img/layout/cap_top_col1_col3.png) center 0 no-repeat;}
.wrapper_bottom_cap{height:8px; background:url(../../img/layout/cap_bottom_col1_col3.png) center 0 no-repeat; margin-bottom:15px;}

.wrapper_columns .content_box{width:718px; padding:0;}
.wrapper_columns .content_box .top_cap{display:none;}
.wrapper_columns .content_box .bottom_cap{display:none;}
.wrapper_columns .content_box .content{width:718px; padding:0; background:none;}
.wrapper_columns .widgets li .content { background: none; }
.wrapper_columns .widgets li.buttons .content { background: none; }

.wrapper_columns .widgets li.honda-dealerships h4{padding-bottom:15px; padding-left:5px;}

#sub_header {padding:8px 7px 0 0; clear:right;}
#sub_header .last { padding-right:5px;}
#header{position:relative;}
.logo{position:absolute; bottom:68px;}

/* @group AODA Logo */

.aoda-logo{margin:10px 4px 4px 0;}

/* @end */

.brochure-flyout { position: absolute; }
