<li class="safety menu">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4>Safety</h4>
		<ul id="left_nav">
			<li class="first selected"><a href="safety-overview.html">Safety: Overview</a></li>
			<li><a href="safety-generators.html">Safety: Generators</a></li>
			<li><a href="safety-lawnmowers.html">Safety: Lawnmowers</a></li>
			<li><a href="safety-snowblowers.html">Safety: Snowblowers</a></li>
			<li><a href="safety-tillers.html">Safety: Tillers</a></li>
			<li><a href="safety-trimmers.html">Safety: Trimmers</a></li>
		</ul>
	</div>
	<div class="bottom_cap pf"></div>
</li>