<div class="background_tile">
<div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
    <div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper_top_cap"></div>
<div class="fc wrapper_columns">
    <ul class="fl widgets">
        <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        <!--#include virtual="/shared/inc/widgets/honda-dealerships.html"-->
        <!--#include virtual="/shared/inc/widgets/powerhouse_dealers.html"-->
    </ul>
    <!--googleon: index-->
    <div class="fr content_box">
        <div class="top_cap pf"></div>
        <div class="content pf">
            <div class="content_container">
                <div class="content_section first_section">
                    <h1>Clarington Honda Powerhouse</h1>
                    <div class="sub_section address">
                        <div class="address-info">
                            <div class="img_rounded_corners pf fl">
                                <img src="/_Global/img/temp/placeholder_find_a_dealer_location.gif" alt="" />
                            </div>
                            <div class="fl copy">
                                <div class="powerhouse-logo"></div>
                                <p class="heading">Address</p>
                                <p class="adr">
                                    <span class="street-address">4334 Kingston Road</span><br>
                                    <span class="locality">Scarborough</span>,
                                    <on class="region">ON</on><br>
                                    <span class="postal-code">M1E 2M8</span><br>
                                </p>
                                <p>
                                    <strong>P: </strong> <span class="tel"><span class="type dn">work</span> 416-281-1234</span><br>
                                    <strong>F: </strong> <span class="tel"><span class="type dn">fax</span> 416-287-0684</span><br>
                                    <strong>E: </strong> <a class="email" href="mailto:mail@action-honda.com">mail@action-honda.com</a><br>
                                    <strong>W: </strong> <a href="http://www.action-honda.com" class="url external external_link_processed" target="_blank">www.action-honda.com</a><br>
                                </p>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="fc sub_section directions">
                            <div class="gmap_result_detail fl">
                                <div class="bg"></div>
                                <img src="/_Global/img/temp/placeholder_find_a_dealer_map.gif" alt="" />
                            </div>
                            <div class="fl directions-copy">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_section">
                    <h2>product lines carried</h2>
                    <dl class="product-lines">
                        <dd class="power-equipment first">
                            <p class="heading">Power Equipment</p>
                            <p>Generators / Lawnmowers / Snowblowers / Tillers / Trimmers / Water Pumps</p>
                        </dd>
                        <dd class="motorcycles">
                            <p class="heading">Motorcycles</p>
                            <p>Touring / Cruiser / Sport / Adventure / Dual Sport / Off-Road / Competition / Scooter </p>
                        </dd>
                        <dd class="atvs">
                            <p class="heading">ATVs</p>
                            <p>Side-by-side / Utility / Sport</p>
                        </dd>
                        <dd class="authorized">
                            <p class="heading">Authorirzed Big Red Dealer</p>
                        </dd>
                    </dl>
                </div>
                <div class="content_section hours_section">
                    <h2>hours</h2>
                        <div class="subsection fl nm">
                            <p class="heading">Sales</p>
                            <table class="tbl hours first">
                                <tbody>
                                    <tr class="first top">
                                        <td class="first odd"><div><span>Monday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Tuesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Wednesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Thursday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Friday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Saturday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr class="last bottom">
                                        <td class="first odd"><div><span>Sunday</span></div></td>
                                        <td class="last even"><div><span>CLOSED</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="contact_info">
                                <strong>P:</strong> <span>250-286-0641<br />
                                <strong>F:</strong> <span>250-286-0670<br />
                                <strong>E:</strong> <span><a href="mailto:email@email.com">crhonda@crhonda.com</a><br />
                            </p>
                        </div>
                        <div class="subsection fl">
                            <p class="heading">Parts</p>
                            <table class="tbl hours">
                                <tbody>
                                    <tr class="first top">
                                        <td class="first odd"><div><span>Monday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Tuesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Wednesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Thursday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Friday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Saturday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr class="last bottom">
                                        <td class="first odd"><div><span>Sunday</span></div></td>
                                        <td class="last even"><div><span>CLOSED</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="contact_info">
                                <strong>P:</strong> <span>250-286-0641<br />
                                <strong>F:</strong> <span>250-286-0670<br />
                                <strong>E:</strong> <span><a href="mailto:email@email.com">crhonda@crhonda.com</a><br />
                            </p>
                        </div>
                        <div class="subsection fl">
                            <p class="heading">Service</p>
                            <table class="tbl hours last">
                                <tbody>
                                    <tr class="first top">
                                        <td class="first odd"><div><span>Monday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Tuesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Wednesday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Thursday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Friday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="first odd"><div><span>Saturday</span></div></td>
                                        <td class="last even"><div><span>8:30 - 18:00</span></div></td>
                                    </tr>
                                    <tr class="last bottom">
                                        <td class="first odd"><div><span>Sunday</span></div></td>
                                        <td class="last even"><div><span>CLOSED</span></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="contact_info">
                                <strong>P:</strong> <span>250-286-0641<br />
                                <strong>F:</strong> <span>250-286-0670<br />
                                <strong>E:</strong> <span><a href="mailto:email@email.com">crhonda@crhonda.com</a>
                            </p>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
            <div class="bottom_cap pf"></div>
        </div>
    </div>
<div class="wrapper_bottom_cap"></div>

    <!--googleoff: index-->
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
