    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-dealerships.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>campbell river honda</h1>
						<div class="sub_section address">
							<div class="address-info">
								<div class="img_rounded_corners pf fl">
									<img src="/_Global/img/temp/placeholder_find_a_dealer_location.gif" alt="" />
								</div>
								<div class="fl copy">
									<p class="heading">Address</p>
									<p class="adr">
										<span class="street-address">4334 Kingston Road</span><br>
										<span class="locality">Scarborough</span>
										<on class="region">ON</on><br>
										<span class="postal-code">M1E 2M8</span><br>
									</p>
									<p>
										<strong>P: </strong> <span class="tel"><span class="type dn">work</span> 416-281-1234</span><br>
										<strong>F: </strong> <span class="tel"><span class="type dn">fax</span> 416-287-0684</span><br>
									</p>
								</div>
								<div class="clr"></div>
							</div>
							<div class="fc sub_section directions">
								<div class="gmap_result_detail fl">
									<div class="bg"></div>
									<img src="/_Global/img/temp/placeholder_find_a_dealer_map.gif" alt="" />
								</div>
								<div class="fl directions-copy">
									<p class="heading">Hours</p>
									<p>Please Contact Dealer for Department Hours<p>
								</div>
							</div>
						</div>
					</div>
					<div class="content_section">
						<h2>product lines carried</h2>
						<dl class="product-lines nm">
							<dd class="power-equipment first">
								<p class="heading">Power Equipment</p>
								<p>Generators / Lawnmowers / Snowblowers / Tillers / Trimmers / Water Pumps</p>
							</dd>
							<dd class="motorcycles">
								<p class="heading">Motorcycles</p>
								<p>Touring / Cruiser / Sport / Adventure / Dual Sport / Off-Road / Competition / Scooter </p>
							</dd>
							<dd class="atvs">
								<p class="heading">ATVs</p>
								<p>Side-by-side / Utility / Sport</p>
							</dd>
							<dd class="marine">
								<p class="heading">Marine</p>
								<p>Outboard Motors</p>
							</dd>
							<dd class="authorized">
								<p class="heading">Authorirzed Big Red Dealer</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_top_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
