<!--#include virtual="/shared/inc/header.html"-->
<div class="background_tile">
<div class="background_image">
<div class="page-find-a-dealer">
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="content_section first_section tac">
					<h1>find your honda power equipment dealer</h1>
					<h2 class="search-options">Search Options</h2>
					<div class="primary-box">
						<span class="top-left"></span>
						<span class="top-right"></span>
						<span class="bottom-left"></span>
						<span class="bottom-right"></span>
						<dl class="fc search-options">
							<dd class="fl postal-code">
								<p class="heading">Postal Code</p>
								<div class="input_box">
									<input class="input_large" type="text" name="city" value="" />
								</div>
								<div class="search_button_area">
									<a href="#" class="btn primary"><span>Begin Search</span></a>
								</div>
								<label class="fc phd_only" for="phd_only">
									<input type="checkbox" name="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC" id="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC" class="placeholder_processed" />
									<label for="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC">Afficher les concessionnaires Centre Honda seulement</label>
								</label>
							</dd>
							<dd class="fl divider"></dd>
							<dd class="fl city">
								<p class="heading">City</p>
								<div class="input_box">
									<input class="input_large" type="text" name="city" value="" />
								</div>
								<div class="search_button_area">
									<a href="#" class="btn primary"><span>Begin Search</span></a>
								</div>
								<label for="phd_only" class="phd_only">
									<input type="checkbox" name="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC" id="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC" class="placeholder_processed" />
									<label for="BodyContent_ContentArea_ContentArea_CheckBoxPhdPC">Show Powerhouse Dealers Only</label>
								</label>
							</dd>
							<!--<dd class="fl divider"></dd>
							<dd class="fl region pf">
								<p class="heading">Region</p>
                                <p>
                                    <select property="act:fieldselect"
                                            data-fieldselect-button-class="pf"
                                            data-fieldselect-flexible-width="true"
                                            data-fieldselect-pane-class="field-select-dropdown">
                                        <option value="">select your region</option>
                                        <option rel="ab" value="1">Alberta</option>
                                        <option rel="bc" value="2">British Columbia</option>
                                        <option rel="pe" value="3">Prince Edward Island</option>
                                    </select>
                                </p>
							</dd>-->
						</dl>
					</div>
				</div>
				<div class="fc content_section powerhouse-dealers">
					<div class="fl powerhouse-building"><img src="/_Global/img/content/find-a-dealer/honda-powerhouse-building.gif" alt="" /></div>
					<div class="fl content">
						<p class="heading">Honda Powerhouse Dealers</p>
						<p>At these revolutionary facilities you'll find the full range of award-winning Honda products, including Honda cars and trucks at many locations. All backed by the elevated sales and service experience that you deserve.</p>
						<p><a href="find-a-dealer-landing.html#">Find Out More</a></p>
					</div>
					<div class="fl powerhouse-logo"><img src="/_Global/img/content/find-a-dealer/honda-powerhouse-logo.gif" alt="" /></div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
