<!-- $Id: powerhouse.html 14991 2011-05-26 21:51:05Z mperry $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section top_graphic">
					<img src="/_Global/img/content/find-a-dealer/honda_powerhouse_building.jpg" alt="Honda Powerhouse Building" title="Honda Powerhouse Building" />
			</div>
			<div class="fc powerhouse_section">
				<div class="nb np content_section left">
					<div class="top_narrow">
						<h1>honda powerhouse dealers</h1>
						<h3>Welcome to Honda Powerhouse, where innovation has lead to the creation of a brand new kind of dealership to better meet the needs of our valued customers.</h3>
						<p>At these revolutionary facilities you'll find the full range of award-winning Honda products, including Honda cars and trucks at many locations. All backed by the elevated sales and service experience that you deserve. It's the kind of welcoming, friendly environment you'd only expect from Honda. So feel free to bring the whole family down to experience the fun at your local Honda Powerhouse. </p>
					</div>
					<h2>What sets us apart</h2>
					<div class="sub_section what_set_us_apart">
						<h3 class="one">Highest levels of factory training</h3>
						<h3 class="two">Exclusive services like Honda Hotel</h3>
						<h3 class="three">Models available for test rides </h3>
						<div class="clr"></div>
					</div>
				</div>
				<div class="fr">
					<div class="find-dealer-widget-insert">
						<h4 class="pf">Find a Honda Powerhouse Dealer</h4>
						<ul class="search_options">
							<li class="search_sub_header"><label>Search Options</label></li>
							<li class="postal_code">
								<label class="fl">Postal Code</label>
								<div class="fl input_box">
									<input class="fl input_extra_small" type="text" maxlength="7" name="postal_code" value="" />
									<a class="fl btn" href="find_dealer.html#">go</a>
									<div class="clr"></div>
								</div>
								<div class="clr"></div>
							</li>
							<li class="city">
								<label class="fl">City</label>
								<div class="fl input_box">
									<input class="fl input_medium dropdown_autocomplete_city dropdown_autocomplete_city_sidebar" type="text" maxlength="20" name="city" value="" />
									<a class="fl btn" href="find_dealer.html#">go</a>
									<div class="clr"></div>
								</div>
								<div class="clr"></div>
							</li>
						</ul>
					</div>
					<div class="find-dealer-widget-insert-cap"></div>
				</div>
			</div>
			
			<div class="content_section">
				<div class="h1 mb10">CUSTOMER SATISFACTION</div>
				<h2 class="small">Honda Powerhouse dealers are committed to total customer satisfaction.</h2>
				<div class="sub_section">
					<div class="col first">
						<img src="/_Global/img/content/find-a-dealer/customer_satisfaction1.jpg" alt="Elevated Customer Experience" title="Elevated Customer Experience" />
						<h3>Elevated Customer Experience</h3>
						<p>At these revolutionary facilities you'll find the full range of award-winning Honda products, including Honda cars and trucks at many locations. All backed by the elevated sales and service experience that you deserve. It's the kind of welcoming, friendly environment you'd only expect from Honda. So feel free to bring the whole family down to experience the fun at your local Honda Powerhouse.</p>
					</div>
					<div class="col">
						<img src="/_Global/img/content/find-a-dealer/customer_satisfaction2.jpg" alt="Exclusive Service" title="Exclusive Service" />
						<h3>Exclusive Service</h3>
						<p>Here are many of the services our Powerhouse dealers can offer you.</p>
						<ul class="mb10 exclusive-service-list">
							<li>Factory recommended maintenance services.</li>
							<li>Technicians trained to factory specifications.</li>
							<li>Fix right, first time and fast with overnight parts delivery.</li>
							<li>Honda diagnostic specific tools.</li>
							<li>Specialty service tool for exclusive products.</li>
							<li>Mandatory equipment and facility requirements like the marine test tank and generator load tester.</li>
							<li>Faster service turn around time.</li>
							<li>Honda Hotel and Pick up and Drop off services are available at certain Honda Powerhouse Dealers.</li>
						</ul>
						<p>Honda Powerhouse your one stop shop for all your service and maintenance needs.</p>
					</div>
					<div class="col">
						<img src="/_Global/img/content/find-a-dealer/customer_satisfaction3.jpg" alt="Parts and Accessories" title="Parts and Accessories" />
						<h3>Parts and Accessories</h3>
						<p>Let your Honda Powerhouse dealer be your destination of choice for Genuine Honda Parts and Accessories. From oils filters to ridding gear, you'll find the quality, reliability, and performance you've come to expect for your Honda product. A wide variety of Honda Genuine Parts and Accessories make your ownership experience easy and all the more pleasurable.</p>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="content_section honda_hotel">
				<div class="sub_section honda_hotel">
					<h3>Honda Hotel</h3>
					<p class="mb10">Welcome to the Honda Hotel. It's the perfect place for your bike to spend the off-season - being cared for as an honoured guest. Rest assured we'll treat your Honda like family, because to us, it is! Your Ride deserves nothing but the best - The Honda hotel: safe secure and clean. Ask your participating Powerhouse dealer for more details.</p>
					<ul>
						<li>Servicing or accessory installation during off season</li>
						<li>Safe, Secure and Clean Storage</li>
						<li>Seasonal or Long Term Storage</li>
					</ul>
					<p class="download"><a href="#">Download Details PDF</a></p>
				</div>
				<div class="sub_section powerhouse_special_offer">
					<h3>Honda Powerhouse Special Offers</h3>
					<p class="mb10">Find exclusive savings and special offers in your area.</p>
					<p><a href="#">Find offers now</a></p>
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
</div> <!-- of background_image -->
</div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
<script type="text/javascript" src="/_Global/js/sections/current-offers-map.js"></script>