<div class="background_tile">
<div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/cities_nearby.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<h1>Ontario Honda<br />Power Equipment Dealers</h1>
						<div class="gmap_result_list">
							<div class="bg bg_t"></div>
							<div class="bg bg_l"></div>
							<div class="bg bg_r"></div>
							<div class="bg bg_bl"></div>
							<div class="bg bg_br"></div>
							<div id="gmap"><img src="/_Global/img/layout/placeholder_large_google_map.gif" alt="" /></div>
						</div>
						<div class="bar">
							<h2>Honda Power Equipment Dealers in Ontario</h2>
						</div>
						<div class="show_phd_only">
							<label for="phd_only" class="phd_only">
								<input type="checkbox" name="phd_only" value="" id="phd_only" />
								Show Powerhouse Dealers Only
							</label>
						</div>
						<table id="sort_province" class="tbl province">
							<thead>
								<tr class="first top">
									<th class="first odd name sort_asc" colspan="2"><div><span><a href="find-a-dealer-results.html#">Dealer Name</a></span></div></th>
									<th class="even address"><div><span>Address</span></div></th>
									<th class="odd phone"><div><span>Phone</span></div></th>
									<th class="last even city sort"><div><span>City</span></div></th>
								</tr>
							</thead>
							<tbody>
								<tr class="first">
									<td><a href="find-a-dealer-results.html#"><img src="/_Global/img/layout/honda_pin.gif" alt=""></a></td>
									<td class="odd first" valign="middle"><span><a href="find-a-dealer-results.html#">A Honda Testing Testing<em>*</em></a></span></td>
									<td class="even"><div><span>1010 Ellesmere Road</span></div></td>
									<td class="odd"><div><span>416-291-9501</span></div></td>
									<td class="last even"><div><span>Toronto</span></div></td>
								</tr>
								<tr>
									<td><a href="find-a-dealer-results.html#"><img src="/_Global/img/layout/honda_pin.gif" alt=""></a></td>
									<td class="odd first">
										<div><span>
											<a href="find-a-dealer-results.html#">B Honda<em>*</em></a>
											<div class="powerhouse_dealer">powerhouse dealer</div>
										</span></div>
									</td>
									<td class="even"><div><span>940 Ellesmere Road</span></div></td>
									<td class="odd"><div><span>416-291-9501</span></div></td>
									<td class="last even"><div><span>Scarborough</span></div></td>
								</tr>
								<tr>
									<td><a href="find-a-dealer-results.html#"><img src="/_Global/img/layout/honda_pin.gif" alt=""></a></td>
									<td class="odd first"><div><span><a href="find-a-dealer-results.html#">C Honda<em>*</em></a></span></div></td>
									<td class="even"><div><span>234 Ellesmere Road</span></div></td>
									<td class="odd"><div><span>416-291-9501</span></div></td>
									<td class="last even"><div><span>Ottawa</span></div></td>
								</tr>
								<tr class="last bottom">
									<td><a href="find-a-dealer-results.html#"><img src="/_Global/img/layout/honda_pin.gif" alt=""></a></td>
									<td class="odd first">
										<div><span>
											<a href="find-a-dealer-results.html#">D Honda<em>*</em></a>
											<div class="exclusive_honda_dealer">exclusive honda dealer</div>
										</span></div>
									</td>
									<td class="even"><div><span>600 Ellesmere Road</span></div></td>
									<td class="odd"><div><span>416-291-9501</span></div></td>
									<td class="last even"><div><span>Kingston</span></div></td>
								</tr>
							</tbody>
						</table>
						<div class="notes">* Indicates Express Service Dealer</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
