<!--#include virtual="/shared/inc/application_top.html"-->
<!--#include virtual="/shared/inc/header.html"-->
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				Insert Content Here
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>Testing <span>Heading</span></h1>
					<p>Section</p>
				</div>
				<div class="content_section">
					<h2>Sub Heading h2</h2>
					<p>Section</p>
					<div class="sub_section">
						<h3>Sub Heading H3</h3>
						<p>Sub Section</p>
					</div>
				</div>
				<div class="content_section">
					<h2 class="small">Sub Heading h2 Small</h2>
					<p>Section</p>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->