<!--#include virtual="/shared/inc/application_top.html"-->
<!-- $Id: 1col.html 14343 2011-03-10 22:35:43Z yuxhuang $ -->
<body class="page">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/example.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/shared/inc/header.html"-->
<div class="wrapper_extended">
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container pf">
		<div class="content_container">
			<div class="content_section first_section">
				<h1>Testing <span>Heading</span></h1>
				<p>Section</p>
			</div>
			<div class="content_section">
				<h2>Sub Heading h2</h2>
				<p>Section</p>
				<div class="sub_section">
					<h3>Sub Heading H3</h3>
					<p>Sub Section</p>
				</div>
			</div>
			<div class="content_section">
				<h2 class="small">Sub Heading h2 Small</h2>
				<p>Section</p>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->