<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: accessories-overview.html 918 2011-05-18 20:04:13Z minanakamura $ -->
<body class="page-accessories">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/accessories.css" />
	<link rel="stylesheet" href="/_Global/css/marine/layout.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/accessories.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container">
						<div class="content_section first_section">
							<div class="accessories-tout">
								<img src="/_Global/img/temp/marine_accessories_tout.jpg" alt="temp" />
							</div>
						</div>
                        <div class="content_section">
							<h1>ACCESSOIRES<span> Survol</span></h1>
							<h2 class="small">ACCESSOIRES HONDA D'ORIGINE</h2>
							<h3>Pourquoi choisir des accessoires Honda d'origine</h3>
							<p>Honda est synonyme de qualité et de performance. Que vous soyez propriétaire d’une automobile, d’une motocyclette, d’un VTT, d’un produit mécanique ou d’un produit marin Honda, il y a de bonnes chances que ce soit notre réputation qui vous a convaincu de l’acheter. Eh bien, elle s’étend aussi aux accessoires Honda d’origine. En fait, ce sont les seuls accessoires approuvés par les ingénieurs qui ont conçu votre Honda. Voilà qui contribue à assurer non seulement qu’ils performeront comme ils ont été conçus pour le faire, mais aussi qu’ils s’ajusteront à la perfection.</p>
							<p>Une large variété de pièces montage et d’accessoires sont disponibles pour votre moteur hors-bord Honda Marine. Des hélices jusqu’aux housses de protection, les chances sont que nous avons ce que vous cherchez. Votre concessionnaire Honda est l'endroit où aller pour faire votre choix.</p>
							<p><a href="">Cliquer ici pour plus d'information sur les accessoires Honda d’origine</a></p>
                        </div>
						<div class="content_section_dotted">
							<div class="fc accessories-content">
								<div class="fl accessories-content-area">
									<h2 class="small">Nouvelles</h2>
									<div class="sub_section first_subsection">
										<h3>Obtenez une performance maximale avec l’huile à hors-bord Honda d’origine</h3>
										<p>L’huile Honda d'origine est spécialement formulée pour procurer la meilleure protection à votre moteur hors-bord Honda, sous les conditions les plus sévères. Spécialement formulée et mélangée pour les moteurs hors-bord à quatre temps. Contactez le concessionnaire Honda Marine de votre localité et prenez rendez-vous pour de votre prochaine mise au point saisonnière.</p>
									</div>
	                                <!--<div class="sub_section_dotted">
										<h3>Vitae arcu fringilla porttitor!</h3>
										<p>Aenean tempor sem vitae arcu fringilla porttitor. Phasellus at velit metus. Ut consequat erat suscipit lorem sodales sed varius justo.</p>
									</div>-->
								</div>
								<div class="fr accessories-side-image">
									<img src="/_Global/img/content/pe/accessories/snowblower_poster_fr.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-accessories.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->