<!--#include virtual="/marine/inc/application_top.html"-->
<body>
<!--#include virtual="/marine/inc/header.html"-->
<link rel="stylesheet" href="/_Global/css/marine/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/_Global/css/marine/sections/honda-advantage.css" type="text/css" media="screen" />
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="header">
					<img src="/_Global/img/content/marine/advantage/header_advantage_en.png" alt="" />
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
				<h1>POURQUOI ACHETER UN HORS-BORD HONDA?</h1>
				<h3 class="h3-blue">Technologie Honda Exclusive</h3>
				<p class="large">Voici des caract&eacute;ristiques exclusives aux moteurs Honda.</p>
				</div>
				<div class="content_section">
					<!--<div class="h1"></div>
					<h3 class="h3-blue">Exclusive Honda Technology</h3>
					<p class="large">You won't find these features in anything but a Honda.</p>-->
					<dl class="fc col-2-full">
						<dd class="fl first">
							<h3 class="h3-blue">TECHNOLOGIE VTEC<sup>MD</sup></h3>
							<p class="large"><strong>Puissance et acc&eacute;l&eacute;ration r&eacute;guli&egrave;res.</strong></p>
							<p>Notre syst&egrave;me de contr&ocirc;le &eacute;lectronique de la lev&eacute;e et la dur&eacute;e d'ouverture des soupapes (VTEC<sup>MD</sup>) assure une courbe de couple plus large et plate et une r&eacute;gularit&eacute; sup&eacute;rieure sur toute la plage de fonctionnement du moteur. Vous profitez ainsi d'une performance exceptionnelle sans renoncer &agrave; l'&eacute;conomie de carburant.</p>
							<h3 class="h3-blue">ADMISSION D'AIR VARIABLE &Agrave; DEUX PHASES</h3>
							<p class="large"><strong>Meilleure aspiration, meilleure performance.</strong></p>
							<p>Notre syst&egrave;me unique d'admission d'air variable maximise l'efficacit&eacute; de combustion afin d'offrir un couple accru. Le syst&egrave;me dispose d'une chambre d'admission &agrave; double papillon pour faire varier le volume et la v&eacute;locit&eacute; de l'air admis. Ce design simple et compact am&eacute;liore ainsi la souplesse &agrave; basse vitesse et la performance &agrave; vitesse &eacute;lev&eacute;e.</p>
							<h3 class="h3-blue">TECHNOLOGIE ECOMO<sup>MC</sup> M&Eacute;LANGE PAUVRE</h3>
							<p class="large"><strong>Contr&ocirc;le optimis&eacute; du m&eacute;lange air-carburant.</strong></p>
							<p>Le syst&egrave;me contr&ocirc;le automatiquement l'arriv&eacute;e de carburant pour assurer un m&eacute;lange air/carburant optimis&eacute; sur toute la plage de r&eacute;gimes en fonction de la vitesse et de la charge. Le syst&egrave;me &eacute;conomise le carburant sans compromettre les performances du moteur.</p>
							<h3 class="h3-blue">QUADRUPLE PROTECTION ANTICORROSION</h3>
							<p class="large"><strong>Fait &eacute;chec aux intemp&eacute;ries.</strong></p>
							<p>Votre Honda conservera sa performance mais aussi son aspect neuf gr&acirc;ce &agrave; notre syst&egrave;me de protection anticorrosion qui comprend un proc&eacute;d&eacute; de peinture brevet&eacute; multicouches &agrave; double &eacute;tanch&eacute;it&eacute;, des anodes sacrificielles, des composants en acier inoxydable et des connecteurs &eacute;lectriques &eacute;tanches.</p>
						</dd>
						<dd class="fl">
							<h3 class="h3-blue">TRIPLE CIRCUIT DE REFROIDISSEMENT</h3>
							<p class="large"><strong>Une durabilit&eacute; &agrave; toute &eacute;preuve.</strong></p>
							<p>Trois circuits de refroidissement s&eacute;par&eacute;s maintiennent la temp&eacute;rature de culasse inf&eacute;rieure &agrave; celle du bloc pour une durabilit&eacute; &agrave; long terme.</p>
							<h3 class="h3-blue">D&Eacute;MARREUR SCELL&Eacute; INVERS&Eacute;</h3>
							<p class="large"><strong>Protection pour une dur&eacute;e utile accrue.</strong></p>
							<p>Le d&eacute;marreur est inverseé dans une chambre scell&eacute;e qui prot&egrave;ge l'entraînement Bendix<sup>MC</sup> contre les &eacute;l&eacute;ments. Le r&eacute;sultat? De la fiabilit&eacute;.</p>
							<h3 class="h3-blue">INJECTION PROGRAMME MULTIPOINT PGM-FI</h3>
							<p class="large"><strong>Puissance et performance.</strong></p>
							<p>Vous obtenez une quantité d’air et de carburant précise dans chacun des cylindres, dans pratiquement toutes les conditions de fonctionnement. Vous profitez de démarrages rapides, d'une réponse instantanée, et d'une puissante performance.</p>
							<h3 class="h3-blue">SYSTÈME AUTO-ENRICHISSEUR (disponible sur BF9.9, BF15 et BF20 à démarrage électrique)</h3>
							<p class="large"><strong>Des démarrages faciles.</strong></p>
							<p>Comme  un système d'injection de carburant, le système auto-enrichisseur règle le mélange air-carburant au démarrage et durant le réchauffage. Facilité, simplicité, efficacité et confort d’utilisation.</p>
						</dd>
					</dl>
				</div>
				<div class="content_section">
					<h3 class="h3-blue np">Entretien facile</h3>
					<p class="large">En raison de leur fonctionnement plus propre et à plus basse température, les hors-bords Honda quatre-temps exigent moins d'entretien que les moteurs deux-temps. Et ils sont conçus pour vous faciliter la tâche. L'huile s'ajoute de la même façon qu'avec une auto et se vérifie aussi à l'aide d'une baguette calibrée (jauge). Et il est facile de remplacer le filtre. Vidanger l'huile et appliquer un peu de graisse aux points stratégiques, voilà tout ce qu'il vous faudra faire chaque année.</p>
					<p class="large"><strong>Moins d'entretien que les deux-temps</strong></p>
					<p class="large"><strong>Ajout d'huile facile</strong></p>
					<p class="large"><strong>Filtre à huile de type cartouche à visser facile à remplacer</strong></p>
					<p class="large"><strong>Entretien annuel uniquement composé de lubrification</strong></p>
				</div>
				<div class="content_section dotted">
					<h3 class="h3-blue np">L'environnement et la technologie</h3>
					<p class="large nm"><strong>L'avantage quatre-temps Honda</strong></p>
					<p class="large">Chez Honda, nous comptons plus d'expérience que quiconque dans le domaine des moteurs marins à quatre temps. D'ailleurs, ces moteurs sont issus de notre légendaire technologie automobile.</p>
					<p class="large">Les moteurs marins Honda ne font pas exception à l'héritage de Honda en matière de leadership environnemental. Depuis 1964, Honda fabrique uniquement des moteurs hors-bords quatre temps, qui sont environ 90 % plus propres, 50 % plus économes en carburant et 50 % plus silencieux que les moteurs deux temps traditionnels. Plus important encore, les moteurs quatre temps ne rejettent pas d'huile directement dans l'eau.</p>
					<p class="large">Depuis plus de 40 ans, nous travaillons sans relâche à intégrer notre savoir-faire avant-gardiste à nos moteurs marins et mettons nos concurrents au défi de nous emboîter le pas.</p>
					<p class="large">Nous avons été les premiers à offrir une gamme complète composée exclusivement de moteurs à quatre temps, à proposer une garantie limitée non-décroissante de trois ans, à atteindre ou à surpasser les normes sur les émissions de l'Agence de protection de l'environnement (EPA) et à offrir un moteur à quatre temps de 225 chevaux.</p>
					<p class="large">Aujourd'hui, les hors-bord à quatre temps Honda sont reconnus comme étant parmi les moteurs les plus perfectionnés et les plus écologiques au monde.</p>
					<p class="large">Retrouvez la tranquillité d'esprit associée à une performance éprouvée et une fiabilité légendaire.</p>
				</div>
				<div class="content_section dotted">
					<h3 class="h3-blue np">L’ experience de posséder un produit Honda.</h3>
					<p class="large">Un des plus importants avantages d’être propriétaire d’un produit Honda est de savoir que vous aurez notre appui pendant toute sa durée de vie. Nous choisissons nos concessionnaires aussi soigneusement que nous concevons et fabriquons nos produits de qualité. Les concessionnaires Honda sont là pour entretenir ou réparer votre unité selon les spécifications d’usine. Les techniciens hautement compétents de nos concessionnaires Honda emploient uniquement des pièces Honda d’origine afin de maintenir le niveau Honda de qualité. Que vous soyez propriétaire d’une automobile, d’une motocyclette ou d’un produit mécanique Honda, rappelez-vous que vous avez le soutien de la famille qui l’a fabriqué. Lorsque vous avez besoin de nous, nous sommes là pour que vous puissiez continuer à profiter de tout produit ou service Honda.</p>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
<!--#include virtual="/marine/inc/footer.html"-->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->