<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-commerical-product">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/commercial-product.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
<div class="wrapper_extended">
	<div id="feature_area">
		<div class="container">
			<img src="/_Global/img/content/marine/commercial-product/banner.jpg" alt="" />
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
<div class="wrapper">
	<div class="cap_top_default pf"></div>
	<div class="container">
		<div class="content_container">
			<div class="content_section first_section">
				<h1>Marine commerciale</h1>
				<p class="large">En tant que plus grand constructeur de moteurs au monde, il n'est pas étonnant que Honda produise les moteurs hors-bords les plus évolués de l'industrie. Grâce à leur fiabilité inégalée et leur technologie de pointe exclusive, vous avez l'assurance que votre hors-bord donnera un rendement optimum à longueur de journée. Avec la technologie à quatre temps Honda, votre hors-bord fonctionnera plus silencieusement et à des températures plus fraîches, de sorte que vous pourrez librement vous concentrer sur ce qui compte pour vous et votre entreprise. Avec son vaste éventail d'applications et de tailles, Honda offre à coup sûr un hors-bord convenant à votre application commerciale particulière.</p>
			</div>
			<div class="content_section">
				<ul class="fc commercial-touts">
					<li class="fl first">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_portable.png" alt="" />
						<div class="tout-content">
							<h3>Portables</h3>
							<p>Que vous vous évoluiez fièrement avec le quatre-temps 2,3 hp le plus léger au monde pour passer d'un plan d'eau à un autre ou que votre flotte d'embarcations soit employée de l'aube jusqu'au soleil couchant – le fonctionnement silencieux, doux et économique en carburant de nos hors-bords légendaires vous garde la où vous désirez être – sur l'eau.</p>
						</div>
						<ul class="features">
							<li><span>Démarrages faciles</span></li>
							<li><span>Légèreté</span></li>
							<li><span>Commandes conviviales</span></li>
						</ul>
					</li>
					<li class="fl">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_midrange.png" alt="" />
						<div class="tout-content">
							<h3>Intermédiaires</h3>
							<p>Qu'il s'agisse d'attraper ce qui sera votre souper ou votre moyen de subsistance pour la semaine, la gamme de hors-bords intermédiaires Honda – qui inclut un éventail de technologies exclusives comme BLASTMD, Lean Burn ControlMD et VTECMD – vous permet de faire en sorte que ce ne sera pas vous qui raconterez l'histoire de "celui qui s'est échappé".</p>
						</div>
						<ul class="features">
							<li><span>Technologie BLAST<sup>MD</sup></span></li>
							<li><span>Lean Burn Control<sup>MD</sup></span></li>
							<li><span>Commande de réglage du régime de traîne, en option</span></li>
							<li><span>Technologie Easy Dock Steering<sup>MD</sup> facilitant l’accostage</span></li>
						</ul>
					</li>
					<li class="fl">
						<img src="/_Global/img/content/marine/commercial-product/commercial_tout_largemotors.png" alt="" />
						<div class="tout-content">
							<h3>Grandes</h3>
							<p>S'il vous faut de la vraie puissance – Honda l'a! Que vous ayez besoin d'un seul hors-bord avec technologie avancée et fiable ou d'une paire de moteurs jumelés (un régulier et un contrarotatif) pour vous mener rapidement à destination, avec votre équipe ou votre équipage, Honda a le hors-bord qui répondra à vos besoins et vos désirs.</p>
						</div>
						<ul class="features">
							<li><span>Technologie BLAST<sup>MD</sup></span></li>
							<li><span>Lean Burn Control<sup>MD</sup></span></li>
							<li><span>Double arbre d’équilibrage</span></li>
							<li><span>Carter d'engrenages très résistant</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->