<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-faq.html 896 2011-05-17 16:59:06Z minanakamura $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf faq">
				<div class="content_container">
					<div class="faq">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>QUESTIONS FRÉQUENTES</h1>
							<div class="fc">
								<div class="fc fr accordion-controls">
									<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
									<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
								</div>
	                        </div>
	                        
	                        <div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q1"
								data-collapsible-active="true">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">QUEL EST VOTRE INFORMATION DE CONTACT?</a></span></div>
									<div id="slidedown_q1">
										<dl class="fc contact-info">
											<dd class="fl">
												<p class="h3">Siège social (Bureau de l'Ontario,<br/>
													Bureau de l'Ouest et Bureau de l'Atlantique) :</p>
												<p>P.O. Box 4000<br/>
													Markham, Ontario<br/>
													L3R 0N1</p>
												<p><strong>Numéro sans frais :</strong> 1-800-387-5399<br/>
													<strong>Télécopieur :</strong> 1-866-920-5586<br/>
													<strong>Adresse électronique :</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
											</dd>
											<dd class="fr">
												<p class="h3">Bureau du Québec :</p>
												<p>1750, rue Eiffel Boucherville,<br/>
													Québec<br/>
													J4B 7W1</p>
												<p><strong>Numéro sans frais :</strong> 1-800-387-5399<br/>
													<strong>Télécopieur :</strong> 1-888-449-6252<br/>
													<strong>Adresse électronique :</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
											</dd>
										</dl>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q2"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">SUIS-JE PROPRIETAIRE DU PRODUIT MARIN?</a></span></div>
									<div id="slidedown_q2">
										<p class="h3">Propriété du produit marin</p>
										<p>Après avoir signé les documents de l’entente de financement, vous êtes le propriétaire enregistré du produit marin Honda.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q3"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">QU’EST-CE QUE LE FINANCEMENT CONVENTIONNEL?</a></span></div>
									<div id="slidedown_q3">
										<p class="h3">Financement conventionnel</p>
										<p>Grâce à notre programme de financement régulier, vous pouvez organiser votre achat en fonction de votre budget mensuel et de vos besoins. Des versements mensuels égaux et consécutifs sont calculés en utilisant des taux d’intérêt très concurrentiels et des périodes de 24 à 60 mois, selon le modèle choisi et le montant à financer. Lorsque vous avez effectué tous les versements, le solde est de zéro et l’unité est à vous.</p>
										<p>Maintenant, essayez notre <a href="">calculateur de paiements</a> et voyez l’option qui répond le mieux à vos besoins.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q4"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">QUELS SONT LES AVANTAGES DE FINANCER MON PRODUIT MARIN PAR LE BIAIS DE HSF?</a></span></div>
									<div id="slidedown_q4">
										<p>HSF offre des taux d’intérêt hautement concurrentiels et des options de paiement souples. Une fois que vous avez choisi votre modèle Honda, nous voulons rendre l’étape suivante aussi simple que possible. Par exemple, nous retournons les approbations d’emprunt en moins d’une heure sans que vous ayez à partir de chez votre concessionnaire Honda.</p>
										<p class="h3">Les avantages</p>
										<p>Voici les autres avantages de choisir HSF pour le financement de votre produit marin Honda :</p>
										<ul>
											<li>Tous les prêts HSF sont ouverts, c’est-à-dire que vous pouvez en rembourser le solde ou faire un paiement forfaitaire au moment de votre choix, sans pénalité.</li>
											<li>Les périodes de financement sont variables; elles peuvent aller jusqu’à 60 mois selon le modèle et le montant à financer. Notre personnel hautement compétent est prêt à répondre à toute question que vous pourriez avoir à propos de votre contrat de financement. Grâce à des heures d’ouverture pratiques combinées à un service de qualité, notre département du service à la clientèle saura vous satisfaire.</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q5"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">OPTIONS DE VERSEMENTS</a></span></div>
									<div id="slidedown_q5">
										<p>HSF vous offre le choix entre des versements mensuels et des versements bimensuels.  Votre contrat de financement établira des versements mensuels ou bimensuels, et après l’avoir signé vous ne pourrez pas passer de l’un à l’autre.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q6"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">EST-CE QUE JE DOIS ASSURER LE PRODUIT MARIN?</a></span></div>
									<div id="slidedown_q6">
										<p class="h3">Couverture d’assurance</p>
										<p>HSF ne vous oblige pas à assurer votre produit marin.</p>
									</div>
								</div>
							</div>
	                        
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q7"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">SUIS-JE RESPONSABLE DE L’ENTRETIEN?</a></span></div>
									<div id="slidedown_q7">
										<p class="h3">Entretien régulier</p>
										<p>À titre de propriétaire enregistré du produit marin, vous êtes responsable de son entretien. Pour profiter pleinement de votre produit marin, nous vous recommandons de suivre le calendrier d’entretien que contient votre manuel du propriétaire. Votre concessionnaire se fera un plaisir d’entretenir votre produit marin pour qu’il donne toujours son rendement optimal.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q8"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);">Customer Service Office (Contact Us)</a></span></div>
									<div id="slidedown_q8">
										<dl class="fc contact-info">
											<dd class="fl">
												<p class="h3">Siège social (Bureau de l'Ontario,<br/>
													Bureau de l'Ouest et Bureau de l'Atlantique) :</p>
												<p>P.O. Box 4000<br/>
													Markham, Ontario<br/>
													L3R 0N1</p>
												<p><strong>Numéro sans frais :</strong> 1-800-387-5399<br/>
													<strong>Télécopieur :</strong> 1-866-920-5586<br/>
													<strong>Adresse électronique :</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_natl_cs@ch.honda.com</a></p>
											</dd>
											<dd class="fr">
												<p class="h3">Bureau du Québec :</p>
												<p>1750, rue Eiffel Boucherville,<br/>
													Québec<br/>
													J4B 7W1</p>
												<p><strong>Numéro sans frais :</strong> 1-800-387-5399<br/>
													<strong>Télécopieur :</strong> 1-888-449-6252<br/>
													<strong>Adresse électronique :</strong> <a href="mailto:hcfi_natl_cs@ch.honda.com">hcfi_quebec_branch_cs@ch.honda.com</a></p>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->