<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: finance-options.html 565 2011-04-06 19:39:22Z mperry $ -->
<body class="page-finance">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/finance.css" />
<link rel="stylesheet" href="/_Global/css/marine/sections/finance.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="options">
						<div class="finance-tout"></div>
						<div class="content_section first_section">
							<h1>OPTIONS DE <span>FINANCEMENT</span></h1>
							<div class="grouped">
								<p>Si vous choisissez le financement, chacun de vos versements sera constitué en partie du principal et en partie de l’intéret. Chaque versement que vous effectuez augmente la valeur nette (équité) que vous avez accumulé dans votre produit marin.</p>
								<p>Lorsque vous aurez choisi le modèle Honda que vous désirez, nous rendrons son financement aussi simple que possible. Par exemple, nous retournons les approbations d’emprunt en moins d’une heure sans que vous ayez à partir de chez votre concessionnaire Honda.</p>
							</div>
							<h2 class="h2-black">Voici les avantages de financer votre produit marin chez Services financiers Honda :</h2>
							<ul class="features">
								<li><span>Vous devenez propriétaire du produit marin.</span></li>
								<li><span>Tous les prêts au détail sont ouverts, vous pouvez donc rembourser entièrement l’emprunt n’importe quand sans pénalité de paiement anticipé.</span></li>
								<li><span>Méthode d’intérêt simple pour calculer les frais d’intérêt.</span></li>
								<li><span>Augmentation de la valeur nette.</span></li>
								<li><span>Périodes variables.</span></li>
								<li><span>Lorsque tous les versements ont été faits, l’unité est à vous.</span></li>
							</ul>
							
							<h2 class="h2-black">Financement conventionnel</h2>
							<p>Grâce à notre programme régulier, vous pouvez organiser votre achat en fonction de votre budget mensuel et de vos besoins. Des versements mensuels égaux et consécutifs sont calculés en utilisant des taux d’intérêt très concurrentiels et des périodes de 24 à 60 mois selon le modèle choisi et le montant à financer. Lorsque vous avez effectué tous les versements, le solde est de zéro et l’unité est à vous.</p>
							
							<h2 class="h2-black">Choix à considérer</h2>
							<div class="grouped">
								<p>HSF offre le choix entre versements mensuels et versements bimensuels. L’option de versements mensuels ou bimensuels est établie lorsque vous signez votre contrat de financement. Une fois le contrat signé avec des versements mensuels, vous ne pourrez plus passer aux versements bimensuels et vice-versa.</p>
								<p>Faites l’essai de notre <a href="#">calculateur de paiements</a> et voyez l’option qui répond le mieux à vos besoins.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/menu-finance.html"-->
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script src="/_Global/js/edit.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->