<!--#include virtual="/marine/inc/application_top.html"-->
<body> 
<div class="background_tile"> <div class="background_image">
	<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/marine/sections/distributors.css" type="text/css" media="screen"/>
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>Honda Engine Distributors</h1>
					<p class="large">Each Honda Engine Distributor located in Canada have their own independent retail dealer networks to carry on the retail sales and service of Honda General Purpose Engines.</p>
				</div>
				<div class="content_section primary_section">
					<h2 class="fnat">Distributor Listings</h2>
					<div class="fc fr accordion-controls">
						<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
						<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
					</div>
					<div class="clr"></div>
					<div class="flex_bar">
						<span><a data-collapsible-active="true" data-collapsible-target="#test01" property="act:collapsible" href="javascript:void(0);" class="pf">Alberta</a></span>
					</div>
					<div id="test01" class="fc xsub_content commonlib-collapsible-target" style="display: none;">
						<div class="dropdown-content dropdown-content-first" property="act:map">
							<div class="fl company-information">
								<div class="company-name">Barrett Marketing Group Ltd.</div>
								<div class="company-address">
                                    <div class="street-address">
                                        201-26229 TWP Road 531 A<br />
                                        Acheson, Alberta<br />
                                        T7X 5A4
                                    </div>
                                    <div class="geo dn">
                                        <abbr class="latitude" title="37.408183">N 37° 24.491</abbr>
                                        <abbr class="longitude" title="-122.13855">W 122° 08.313</abbr>
                                    </div>
                                </div>
								<ul>
									<li><strong>P:</strong> 780-962-8200</li>
									<li><strong>P:</strong> 1-800-661-9632</li>
									<li><strong>F:</strong> 1-866-962-5155</li>
									<li><strong>E:</strong> <a href="#">bmgcorp@barrettcorp.com</a></li>
									<li><strong>W:</strong> <a href="#">www.bmgsports.com</a></li>
								</ul>
							</div>
							<div class="fr google-map">
								<div class="pf cap-top"></div>
								<div class="pf cap-bottom"></div>
								<div class="pf cap-left"></div>
                                <div class="map-item">
                                    <!--<img src="/_Global/img/layout/temp_map_img.gif" alt="" />-->
                                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=37.408183,-122.13855&zoom=14&size=340x175&maptype=roadmap
                                    &markers=shadow:true%7Cicon:http%3A//atv.honda.ca/_Global/img/Honda_pin/honda_pin.png%7Ccolor:red%7Ccolor:red%7C37.408183,-122.13855&sensor=false" alt="Barrett Marketing Group Ltd. Map" width="340" height="175" />
                                </div>
							</div>
							<table class="fr primary-schedule">
								<tr>
									<td><span>Monday</span></td>
									<td class="pf"><span class="pf">8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Tuesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Wednesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Thursday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Friday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Saturday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Sunday</span></td>
									<td><span>Closed</span></td>
								</tr>
							</table>
							<div class="clr"></div>
						</div>
						<div class="dropdown-content">
							<div class="fl company-information">
								<div class="company-name">Barrett Marketing Group Ltd.</div>
								<div class="company-address">
									201-26229 TWP Road 531 A<br />
									Acheson, Alberta<br />
									T7X 5A4
								</div>
								<ul>
									<li><strong>P:</strong> 780-962-8200</li>
									<li><strong>P:</strong> 1-800-661-9632</li>
									<li><strong>F:</strong> 1-866-962-5155</li>
									<li><strong>E:</strong> <a href="#">bmgcorp@barrettcorp.com</a></li>
									<li><strong>W:</strong> <a href="#">www.bmgsports.com</a></li>
								</ul>
							</div>
							<div class="fr google-map">
								<div class="pf cap-top"></div>
								<div class="pf cap-bottom"></div>
								<div class="pf cap-left"></div>
								<img src="/_Global/img/layout/temp_map_img.gif" alt="" />
							</div>
							<table class="fr primary-schedule">
								<tr>
									<td><span>Monday</span></td>
									<td class="pf"><span class="pf">8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Tuesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Wednesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Thursday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Friday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Saturday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Sunday</span></td>
									<td><span>Closed</span></td>
								</tr>
							</table>
							<div class="clr"></div>
						</div>
					</div>
					<div class="flex_bar">
						<span><a data-collapsible-active="false" data-collapsible-target="#test02" property="act:collapsible" href="javascript:void(0);" class="pf">Alberta</a></span>
					</div>
					<div id="test02" class="fc xsub_content commonlib-collapsible-target" style="display: none;">
						<div class="dropdown-content dropdown-content-first">
							<div class="fl company-information">
								<div class="company-name">Barrett Marketing Group Ltd.</div>
								<div class="company-address">
									201-26229 TWP Road 531 A<br />
									Acheson, Alberta<br />
									T7X 5A4
								</div>
								<ul>
									<li><strong>P:</strong> 780-962-8200</li>
									<li><strong>P:</strong> 1-800-661-9632</li>
									<li><strong>F:</strong> 1-866-962-5155</li>
									<li><strong>E:</strong> <a href="#">bmgcorp@barrettcorp.com</a></li>
									<li><strong>W:</strong> <a href="#">www.bmgsports.com</a></li>
								</ul>
							</div>
							<div class="fr google-map">
								<div class="pf cap-top"></div>
								<div class="pf cap-bottom"></div>
								<div class="pf cap-left"></div>
								<img src="/_Global/img/layout/temp_map_img.gif" alt="" />
							</div>
							<table class="fr primary-schedule">
								<tr>
									<td><span>Monday</span></td>
									<td class="pf"><span class="pf">8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Tuesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Wednesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Thursday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Friday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Saturday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Sunday</span></td>
									<td><span>Closed</span></td>
								</tr>
							</table>
							<div class="clr"></div>
						</div>
					</div>
					<div class="flex_bar">
						<span><a data-collapsible-active="false" data-collapsible-target="#test03" property="act:collapsible" href="javascript:void(0);" class="pf">Alberta</a></span>
					</div>
					<div id="test03" class="fc xsub_content commonlib-collapsible-target" style="display: none;">
						<div class="dropdown-content dropdown-content-first">
							<div class="fl company-information">
								<div class="company-name">Barrett Marketing Group Ltd.</div>
								<div class="company-address">
									201-26229 TWP Road 531 A<br />
									Acheson, Alberta<br />
									T7X 5A4
								</div>
								<ul>
									<li><strong>P:</strong> 780-962-8200</li>
									<li><strong>P:</strong> 1-800-661-9632</li>
									<li><strong>F:</strong> 1-866-962-5155</li>
									<li><strong>E:</strong> <a href="#">bmgcorp@barrettcorp.com</a></li>
									<li><strong>W:</strong> <a href="#">www.bmgsports.com</a></li>
								</ul>
							</div>
							<div class="fr google-map">
								<div class="pf cap-top"></div>
								<div class="pf cap-bottom"></div>
								<div class="pf cap-left"></div>
								<img src="/_Global/img/layout/temp_map_img.gif" alt="" />
							</div>
							<table class="fr primary-schedule">
								<tr>
									<td><span>Monday</span></td>
									<td class="pf"><span class="pf">8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Tuesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Wednesday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Thursday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Friday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Saturday</span></td>
									<td><span>8:30 - 18:00</span></td>
								</tr>
								<tr>
									<td><span>Sunday</span></td>
									<td><span>Closed</span></td>
								</tr>
							</table>
							<div class="clr"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
		<!--googleoff: index-->
	</div>
</div>
</div>
<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/marine/inc/footer.html"-->
</div>

<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/dealer-maps.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->