<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: 2col.html 137 2011-02-22 21:00:34Z yuxhuang $ -->
<body class="page-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" />
	<link rel="stylesheet" href="/_Global/css/marine/landing.css" />
	<!-- END  : page SPECIFIC STYLES -->
<div class="wrapper dropdown_container navigation-dropdown">
	<div class="cap_top_default pf"></div>
	<div class="container pf generator">
		<div class="content_container">
			<div class="fc content_section first_section" id="navigation_content">
				<div class="fl why-buy">
					<div class="heading">Why buy a Honda Marine Outboard?</div>
					<div class="content">
						<p>Discover why Honda outboards have a reputation for exceptional performance, quality and reliability.</p>
					</div>
					<div class="button">
						<a href="#">
							<span class="text">Learn More</span>
							<span class="pf image"></span>
						</a>
					</div>
				</div>
				<div class="fl right-boxes">
                    <div class="fc subview">
                        <div class="fl series">
                            <div class="see-all">
                                <p><a href="#">See All Marine Outboards</a></p>
                            </div>
                            
							<p class="heading">Mid-Range Marine Outboards</p>
							<p>Get the versatility of a lightweight engine along with the big performance of a powerful outboard.</p>
							
							<p class="heading">Uses</p>
							<ul>
								<li>Fishing boats</li>
								<li>Bay boats</li>
								<li>Pontoon boats</li>
							</ul>
                        </div>
                        <div class="products">
                            <div class="subview">
                                <div class="fc first product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF25</a></div>
                                        <p>Perfect for 14-16 ft. boats, get plenty of power and torque, thanks to its whopping 552 cc displacement.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,169</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF30</a></div>
                                        <p>More useable power and torque thanks to 552 cc displacement. Ideal for 14-16 ft. fishing and pontoon boats or small runabouts.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,995</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF40</a></div>
                                        <p>The lightest and most fuel efficient engine in its class. Perfect for aluminum boats, skiffs and flats boats.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF50</a></div>
                                        <p>Proven as a popular recreational and commercial fishing outboard motor, it's the lightest, most efficient engine in its class.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,169</span>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF60</a></div>
                                        <p>The BF60 has proven itself as both a fishing (aluminum bass) and a recreational outboard motor (small-centre consoles, inflatables).</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,995</span>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BFP60 Power Thrust</a></div>
                                        <p>Unique gear case steering angle, large propeller and Easy Dock Steering make it perfect for manoeuvring large boats like pontoons.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF75</a></div>
                                        <p>Power, performance and efficiency. It has everything you need in a mid-range outboard.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF90</a></div>
                                        <p>Our most technologically advanced mid-range outboard, it includes the legendary (VTEC&reg;) automotive technology. </p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>

<!--#include virtual="/shared/inc/scripts.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->