<!--#include virtual="/marine/inc/application_top.html"-->
<!-- $Id: 2col.html 137 2011-02-22 21:00:34Z yuxhuang $ -->
<body class="page-landing">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/landing.css" />
	<link rel="stylesheet" href="/_Global/css/marine/landing.css" />
	<!-- END  : page SPECIFIC STYLES -->
<div class="wrapper dropdown_container navigation-dropdown">
	<div class="cap_top_default pf"></div>
	<div class="container pf generator">
		<div class="content_container">
			<div class="fc content_section first_section" id="navigation_content">
				<div class="fl why-buy">
					<div class="heading">Why buy a Honda Marine Outboard?</div>
					<div class="content">
						<p>Discover why Honda outboards have a reputation for exceptional performance, quality and reliability.</p>
					</div>
					<div class="button">
						<a href="#">
							<span class="text">Learn More</span>
							<span class="pf image"></span>
						</a>
					</div>
				</div>
				<div class="fl right-boxes">
                    <div class="fc subview">
                        <div class="fl series">
                            <div class="see-all">
                                <p><a href="#">See All Marine Outboards</a></p>
                            </div>
                            
							<p class="heading">Portable Marine Outboards</p>
							<p>Big on convenience, versatility and performance, Honda portable outboard motors are easy to use and easy to transport.</p>
							
							<p class="heading">Uses</p>
							<ul>
								<li>Small fishing boats</li>
								<li>Inflatables</li>
								<li>Sailboats</li>
							</ul>
                        </div>
                        <div class="products">
                            <div class="subview">
                                <div class="fc first product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF2.3</a></div>
                                        <p>The world's lightest 4-stroke outboard, it's ideal for tenders, small fishing boats or as auxiliary power.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,169</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF5</a></div>
                                        <p>Lightweight, compact and ideal for small fishing boats, inflatables and as an auxillary motor.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,995</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF8</a></div>
                                        <p>Excellent performance in a compact package for inflatables, sailboats or as a kicker for large fishing boats.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF9.9</a></div>
                                        <p>Incredible performance and versatility for fishing boats, sailboats or as a kicker for large fishing boats.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,169</span>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
                                    <div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF15</a></div>
                                        <p>Close in size to the BF9.9, but with more power and one of the largest displacements in its class.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>1,995</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fc product-item">
									<div class="fl image">
										<a href="#" rel="nofollow">
											<img src="/_Global/img/temp/product_thumbnail.gif" height="85" width="85" />
										</a>
									</div>
									<div class="fl product-copy">
                                        <div class="heading"><a href="#" rel="nofollow">BF20</a></div>
                                        <p>The lightest engine in its class. It's a portable powerhouse ideal for fishing boats and sailboats.</p>
                                    </div>
                                    <div class="fr product-pricing">
                                        <div class="large-price">
                                            <span class="price-heading">MSRP</span>
                                            <span class="price"><sup>$</sup>2,829</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="cap_bottom_default pf"></div>
</div>

<!--#include virtual="/shared/inc/scripts.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->