<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-landing french">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/sections/landing.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/_Global/css/marine/sections/landing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
    
<div class="page">
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="hero slideshow_player_support">
				<object width="950" height="400" id="flash_917739302" type="application/x-shockwave-flash" data="/_Global/swf/honda_slideShow.swf">
					<param value="flash" name="type"><param value="9" name="hashVersion"><param value="xml_location=/_Global/assets/slideshow/xml/slideShowData.xml&amp;debug=browser" name="flashvars">
					<param value="allowScriptAccess=sameDomain&amp;allowNetworking=all&amp;wmode=transparent&amp;quality=high&amp;play=true&amp;loop=false&amp;menu=false&amp;scale=showall&amp;bgcolor=#ffffff" name="params">
					<param value="/_Global/swf/honda_slideShow.swf" name="movie">
					<param value="opaque" name="wmode">
				</object>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<ul class="wide_three_column fc">
					<li class="first fl">
						<div class="content">
							<a href="">
								<img src="/_Global/img/content/marine/landing/tout_bfp60.jpg" alt="" />
							</a>
							<p class="heading">
								<a title="BFP60" href="">BFP60</a>
							</p>
							<p>Get exceptional manoeuvrability and control thanks to Power Thrust, Easy Deck Steering&reg; and the BFP60.</p>
							<p class="find-out-more">
								<a title="BFP60" href="">Find out More</a>
							</p>
						</div>
					</li>
					<li class="fl">
						<div class="content">
							<a href="">
								<img src="/_Global/img/content/marine/landing/tout_safety.jpg" alt="" />
							</a>
							<p class="heading">
								<a title="Safety on the water" href="">Safety on the water</a>
							</p>
							<p>Honda wants to ensure that all your boating is safe boating.</p>
							<p class="find-out-more">
								<a title="Safety on the water" href="">Find out More</a>
							</p>
						</div>
					</li>
					<li class="fl">
						<div class="content">
							<a href="">
								<img src="/_Global/img/content/marine/landing/tout_bf115.jpg" alt="" />
							</a>
							<p class="heading">
								<a title="Make more of your weekend" href="">Make more of your weekend</a>
							</p>
							<p>Give your weekends an instant upgrade with Honda's quiet and reliable BF115.</p>
							<p class="find-out-more">
								<a title="Make more of your weekend" href="">Find out More</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper content-area-wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container">
			<div class="content_container">
				<ul class="fc web_properties">
					<li class="fl honda"><a href=""></a></li>
					<li class="fl acura"><a href=""></a></li>
					<li class="fl mc"><a href=""></a></li>
					<li class="fl atvs"><a href=""></a></li>
					<li class="fl honda_power_equipment"><a href=""></a></li>
					<li class="fl last honda_engines"><a href=""></a></li>
				</ul>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
</div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->