<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						
						<h1>PIÈCES D'ORIGINE HONDA</h1>
						<h2 class="small">Conçues pour votre Honda</h2>
						<p>L’entretien de votre Honda est un aspect essentiel afin de maintenir la qualité, la fiabilité et la performance de votre moteur hors-bord. Ces attributs, associés aux produits Honda, définissent aussi les pièces utilisées pour les construire.</p>
						<p>Les pièces Honda d'origine sont fabriquées pour votre Honda. Elles aident à maintenir la qualité, la fiabilité et la performance de votre produit. Lorsque le moment est venu d’entretenir, de réparer ou d’améliorer votre Honda, ne vous contentez pas d’une imitation. Seules les pièces Honda d’origine peuvent préserver les caractéristiques techniques nécessaires au fonctionnement de votre produit Honda, tout en assurant une finition et un ajustement précis, chaque fois qu’elles sont utilisées. Laissez nos techniciens Honda expérimentés effectuer l'entretien de votre produit Honda avec des pièces Honda d'origine.</p>
					</div>
					<div class="content_section">
						<div class="h1">Conservez l’authenticité de votre produit Honda en exigeant les pièces Honda d'origine.</div>
						<h2 class="small">Qualité</h2>
						<h3>La qualité Honda légendaire.</h3>
						<p>L'essence de la qualité Honda existe dans chacune des pièces qui composent votre moteur hors-bord. Les pièces Honda d'origine sont fabriquées selon des normes de qualité très rigoureuses afin d'assurer un agencement parfait et un fonctionnement précis. Lorsque vous choisissez les pièces Honda d'origine, vous pouvez compter sur les normes de qualité les plus strictes qui soient, établies par les ingénieurs Honda.</p>
						
						<h2 class="small">Fiabilité</h2>
						<h3>Vous pouvez compter sur votre Honda.</h3>
						<p>Seulement les pièces Honda d'origine reçoivent un soutien national de Honda. Chaque pièce fonctionne conjointement avec les autres, afin de produire une performance d'ensemble optimale. Plusieurs pièces qui ne sont pas des pièces d'origine peuvent annoncer qu'elles sont fiables. Cependant, ces pièces ne sont pas fabriquées pour satisfaire aux normes d'ingénierie et aux spécifications des matériaux Honda. Lorsque vous effectuez un compromis concernant une pièce, vous pouvez, sans même le vouloir, compromettre un système en entier.</p>

						<h2 class="small">Performance</h2>
						<h3>Ne faites aucun compromis en ce qui concerne la performance.</h3>
						<p>En choisissant les pièces Honda d'origine, vous ne compromettrez pas la performance et la sécurité de votre produit. Chaque pièce Honda d'origine est conçue avec précision et rigoureusement testée aux installations de recherche et de développement de Honda. Ce processus aide à assurer que chaque pièce fonctionnera à un niveau de performance optimal, tout en procurant la durabilité et la fiabilité que vous attendez de votre produit Honda.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->