<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="storage">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							
							<h1>Conseils relatifs au remisage</h1>
							<h2 class="small">Comment remiser votre moteur hors-bord de façon sécuritaire</h2>
							<div class="grouped">
								<p><strong>Ce que vous devez savoir concernant le remisage de votre moteur hors-bord</strong></p>
	                            <p>Les moteurs hors-bords sont souvent sujets à de longues périodes d’inactivité, et c’est pourquoi il est important d’adopter des techniques de remisage adéquates afin d’éviter les problèmes au redémarrage.</p>
							</div>
							
							<h2 class="small">Voici quelques conseils qui vous aideront à bien prendre soin de votre moteur hors-bord :</h2>
							<ul class="pf red-check">
								<li class="pf"><span>Gardez-le propre et sec</span></li>
								<li class="pf"><span>Rincez et videz le système de refroidissement</span></li>
								<li class="pf"><span>Purgez le carburant du réservoir d’essence (portable) et du système d’alimentation</span></li>
								<li class="pf"><span>Vidangez l’huile moteur</span></li>
								<li class="pf"><span>Enduisez toutes les surfaces susceptibles de rouiller d’une fine pellicule d’huile</span></li>
								<li class="pf"><span>Remisez le moteur hors-bord dans sa position normale de fonctionnement</span></li>
								<li class="pf"><span>Remisez-le dans un endroit exempt d’humidité extrême et de poussière</span></li>
								<li class="pf"><span>Protégez-le de la poussière et des débris au moyen d’une housse conçue pour les moteurs hors-bords</span></li>
							</ul>
							
							<div class="grouped">
								<p>Il est également important de se soucier de l’essence, puisque celles vendues aujourd’hui ne se conservent pas très longtemps en remisage. Si de l’essence demeure dans la cuvette de votre carburateur ou dans le réservoir partiellement rempli pendant aussi peu que 30 à 60 jours, il est possible que votre unité connaisse un problème de démarrage. Par temps chaud, l’essence se détériore rapidement. Veuillez vous assurer de suivre les étapes énumérées plus bas, afin de prévenir les problèmes de démarrage résultant du remisage.</p>
								<p>Si le remisage doit durer plus de 30 jours, une procédure additionnelle vise à ajouter le stabilisateur d’essence Honda dans le réservoir afin d’éviter que l’essence se détériore. Lorsque vous ajoutez le stabilisateur de carburant, remplissez le réservoir avec de l’essence que vous avez récemment achetée. Si vous ne remplissez pas complètement le réservoir, l’air qui se trouve à l’intérieur favorisera la détérioration de l’essence pendant le remisage. Si vous gardez un contenant d’essence pour effectuer des remplissages, veuillez vous assurer qu’il ne contient que de l’essence récemment achetée. Ajoutez le stabilisateur d’essence en suivant les instructions fournies par le fabricant. Après avoir ajouté un stabilisateur d’essence, il est recommandé de faire fonctionner le moteur hors-bord pendant 10 minutes avant de le remiser. Si le moteur doit demeurer remisé pendant plus de 60 jours, videz complètement le système d’alimentation et le réservoir à essence.</p>
								<p>Le maintien de la performance d’origine de votre moteur hors-bord dépend, en grande partie, des soins et de l’entretien que vous lui procurez. Veuillez consulter le Manuel du propriétaire afin d’obtenir de plus amples informations concernant votre modèle. Veuillez vous rappeler que votre concessionnaire Honda est là pour vous aider si vous avez des questions ou des inquiétudes concernant le remisage de votre moteur hors-bord.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->