<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						
						<h1>GARANTIE HONDA <span>Survol</span></h1>
						<h2 class="small">Garantie standard</h2>
						<h2 class="small">Garantie prolongée Honda plus</h2>
						<h2 class="small">Garantie des accessoires</h2>
					</div>
					<div class="content_section">
						<h3 class="large">Garantie standard</h3>
						<p>Comme gage de leur qualité et de leur fiabilité, tous les moteurs hors-bord Honda comprennent une garantie non commerciale de 36 mois et de 12 mois en utilisation commerciale. Afin de maintenir la validité de cette garantie du distributeur, les services d'entretien régulier, détaillés dans le Manuel du propriétaire, doivent être effectués aux intervalles prescrits et les reçus détaillés et factures appropriés doivent être conservés à titre de preuve.</p>
						<p><a href="">Feuillet d'information de garantie</a></p>
						
						<div class="sub_section">
							<h3 class="large">Garantie prolongée Honda plus</h3>
							<p><strong>Profitez de ces activités sur le lac</strong><br/>
								Comptez sur Honda pour être avec vous!</p>
							<p>Honda Plus vous permet de faire durer votre expérience sans tracas, à titre de propriétaire, en prolongeant la couverture sur certaines composantes et pièces de votre produit marin. Vous n'avez qu'à choisir une de nos options de couverture adaptée convenant au type de protection dont vous avez besoin. Vous pourrez ensuite profiter de votre Produit marin – tout en sachant que le Plan de Protection prolongée Honda Plus est conçu, géré, et appuyé par Honda Canada Inc.</p>
						</div>
						
						<div class="sub_section">
							<h3 class="large">Plans de Protection</h3>
							<p><strong>Marine Extended Owner Comfort</strong><br/>
								<a href="">Liste de prix Honda Plus 2012</a></p>
							
							<p><strong>Les avantages des plans Plus</strong></p>
							<p><strong>Aucun déductible :</strong><br/>
								Vous ne débourserez pas le moindre sou pour les réparations couvertes par un plan Honda Plus.</p>
							
							<p><strong>Heures illimitées d'utilisation :</strong><br/>
								La durée est calculée par période et non en nombre d'heures d'utilisation.</p>
							
							<p><strong>Valeur ajoutée :</strong><br/>
								Jouissez de la sécurité que vous offre la couverture des réparations admissibles.</p>
							
							<p><strong>Transférable :</strong><br/>
								Augmentez la valeur de revente, grâce au fait que toute couverture inutilisée est transférable au prochain propriétaire.</p>
							
							<p><strong>Pièces Honda d'origine :</strong><br/>
								Aucune imitation n'est acceptée. Seules les pièces Honda d'origine sont permises.</p>
							
							<p><strong>Techniciens formés par Honda :</strong><br/>
								Les techniciens Honda certifiés garantissent que votre Honda est réparée par des techniciens qualifiés.</p>
							
							<p><a href="">Ce que couvre Honda Plus</a></p>
						</div>
						
						<div class="sub_section">
							<h3 class="large">Garantie pour les accessoires</h3>
							<p><strong>Garantie pour les pièces de remplacement et les accessoires</strong><br/>
								Les pièces de rechange et les accessoires Honda d’origine neufs vendus à un consommateur ou installés par un concessionnaire autorisé de produits mécaniques Honda, qui ne sont pas couverts par la garantie du distributeur, sont garantis pendant une période d’un an après la date d’achat, pourvu que la pièce ou l’accessoire ne soit pas modifié, utilisé avec ou installé sur un produit mécanique auquel il n’était pas destiné. Les composants électriques qui ne sont pas installés par le concessionnaire (vendus au comptoir) ne sont pas couverts par la garantie.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->