<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="overview">
					<div class="content_container_alternate">
						<div class="content_section first_section">
							<h1>POURQUOI CHOISIR LE SERVICE HONDA?</h1>
	                        <h2 class="small">L’entretien est un aspect essentiel du maintien de la qualité, de la fiabilité et de la performance de votre moteur hors-bord Honda.</h2>
	                        <p>Nous choisissons nos concessionnaires aussi soigneusement que nous fabriquons nos produits. Laissez donc votre produit entre les mains de ceux qui connaissent le mieux et qui savent vraiment quel niveau de rendement il est censé fournir. Vous serez alors certain que seules des pièces Honda d’origine de haute qualité seront installées, afin que votre Honda fonctionne à son meilleur.</p>
	                        
							<h3>Le service Honda vous procure les avantages suivants:</h3>
							<ul class="features">
								<li><span>Nos pièces, huiles et produits chimiques Honda d’origine sont testés et approuvés selon qui comptent parmi les plus rigoureuses de l’industrie.</span></li>
								<li><span>Nos concessionnaires Honda utilisent uniquement des pièces Honda d’origine.</span></li>
								<li><span>Nos techniciens sont formés aux normes d'usine.</span></li>
								<li><span>Les informations techniques les plus à jour sont à portée de main de nos techniciens par le biais du système de communication en ligne de Honda.</span></li>
								<li><span>Nos concessionnaires bénéficient du soutien de notre Techni-ligne et des équipes du département Qualité et ingénierie de Honda Canada Inc.</span></li>
							</ul>
							
							<p>L’entretien est un aspect vital pour le maintien de la performance, de la fiabilité et de la durabilité d’un produit. Suivez le programme du calendrier d'entretien recommandé dans le manuel du propriétaire, et assurez-vous d'utiliser des pièces Honda d’origine si vous voulez entretenir votre produit vous-même.</p>
						</div>
					</div>
					
					<ul class="fc tabs_horizontal">
						<li class="fl first"><a class="selected" href="#before-use">Avant chaque utilisation</a></li>
						<li class="fl"><a href="#engine-oil">Huile moteur</a></li>
						<li class="fl"><a href="#spark-plug">Bougie</a></li>
						<li class="fl"><a href="#fuel">Carburant</a></li>
						<li class="fl last"><a href="#propeller">Hélice</a></li>
					</ul>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Avant chaque utilisation</div>
							<h2 class="small">Pourquoi il est important de faire l’entretien de votre moteur hors-bord Honda</h2>
							<h3>Hors-bords Honda</h3>
							<div class="grouped">
								<p>Pour votre sécurité et pour contribuer à maximiser la durée de vie de votre moteur hors-bord, il est très important d'exécuter une vérification préliminaire avant chaque utilisation. Familiarisez-vous avec les mises en garde et consignes de sécurité dans le manuel du propriétaire. Vérifiez toujours votre unité avec le moteur arrêté «OFF». Si vous découvrez un problème, faites-le corriger par votre concessionnaire autorisé Honda avant d’utiliser le moteur hors-bord.</p>
								<p>Effectuez toujours une inspection préliminaire avant chaque opération, et corrigez tout problème.</p>
							</div>
							
							<h3>Avant chaque utilisation</h3>
							<ul class="features">
								<li><span>Vérifiez votre niveau d'huile moteur</span></li>
								<li><span>Vérifiez le niveau d'essence</span></li>
								<li><span>Vérifiez l’hélice et la goupille fendue</span></li>
								<li><span>Vérifiez la poignée et le levier de commande à distance</span></li>
								<li><span>Vérifiez le raccordement du boyau d'essence</span></li>
								<li><span>Vérifiez les connexions de la batterie</span></li>
							</ul>
							
							<p>Consultez votre calendrier d'entretien compris dans votre manuel du propriétaire pour toute information additionnelle sur les opérations d'entretien qui devraient être effectuées sur votre moteur hors-bord Honda.</p>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Huile moteur</div>
							<div class="grouped">
								<p>Les vidanges d’huile sont un facteur majeur du bon fonctionnement et de la durabilité de votre hors-bord Honda. Le rôle de l’huile est de lubrifier et de protéger les composants internes du moteur, qui sont soumis à des pressions extrêmes. Il est important de vérifier le niveau d’huile de votre moteur pour vous assurer qu’il n’est pas trop bas avec le moteur arrêté et le hors-bord en position debout, droite.</p>
								<p>Au cours d’un remplissage d’huile ou d’un entretien effectué de façon inadéquate, il se peut que de la saleté contamine l’huile. C’est pourquoi il est préférable de confier la vidange d’huile à un concessionnaire Honda autorisé, qui utilisera de l’huile moteur Honda Marine d’origine.</p>
								<p>Pour plus d'information référez-vous à votre manuel du propriétaire ou à votre concessionnaire Honda</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Bougies d’allumage</div>
							<div class="grouped">
								<p>Les bougies d’allumage fournissent l’étincelle nécessaire au démarrage du moteur. Une bougie d’allumage défectueuse peut provoquer plusieurs symptômes, y compris des démarrages difficiles, des ratés d’allumage, un manque de puissance, et de la fumée noire provenant du système d'échappement. Les bougies d’allumage devraient être inspectées afin d’identifier toute présence d’écaillure ou de fissure. Visitez votre concessionnaire Honda pour vous procurer des bougies d’allumage de remplacement.</p>
								<p>Les bougies d’allumage approuvées par Honda, comme les bougies NGK, sont conçues pour fournir la performance et la protection optimales à votre moteur hors-bord Honda, et ce, à un prix concurrentiel!</p>
								<p>Pour obtenir de plus amples informations, veuillez consulter votre manuel du propriétaire ou votre concessionnaire Honda.</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Essence</div>
							<div class="grouped">
								<p>Un entretien inadéquat du système d'alimentation constitue la principale cause de problèmes de démarrage et de mauvaise performance. L’essence est une substance volatile et instable. Ces caractéristiques lui permettent de facilement s’enflammer. Cependant, cela signifie aussi que l’essence peut s’évaporer et s'éventer. Lorsque cela se produit, l’essence perd sa capacité de brûler de façon efficace et peut laisser un résidu gommeux qui est susceptible de boucher les petits passages du carburateur ou des injecteurs. Cette situation peut causer des problèmes comme des démarrages difficiles, un régime instable, un refus de démarrer, et des problèmes de moteur plus sérieux. Selon les conditions présentes, l’essence peut se détériorer en aussi peu que 30 à 60 jours. Cette situation peut, jusqu’à un certain point, être évitée en employant un stabilisateur d’essence dans le système d’alimentation. Cependant, c’est aussi une bonne idée de vidanger le système d’alimentation si vous prévoyez ne pas utiliser le moteur hors-bord pendant une période de 30 jours ou plus. Sur une base régulière, le réservoir à essence et le filtre à air ont aussi besoin d’être inspectés pour déceler toute présence de rouille ou d’autres formes de contamination. Les canalisations devraient aussi être inspectées pour toute présence de fissures causées par le temps, et celles-ci doivent être remplacées si cela s'avère nécessaire.</p>
								<p>Pour obtenir de plus amples informations, veuillez consulter votre manuel du propriétaire ou votre concessionnaire Honda.</p>
							</div>
						</div>
					</div>
					
					<div class="content_container">
						<div class="nb nm np content_section">	
							<div class="h1">Hélice</div>
							<div class="grouped">
								<p>Il est important d'inspecter l’hélice de votre moteur hors-bord plusieurs fois durant la saison pour vous assurer qu’aucun débris n’est venu s’enrouler sur l'arbre de l’hélice. Si l’hélice est endommagée en frappant une roche ou tout autre obstacle, elle devra être remplacée.</p>
								<p>Rendez-vous chez votre concessionnaire Honda autorisé pour choisir l’hélice qui convient à votre moteur hors-bord Honda.</p>
							</div>
							
							<h2 class="small">Pourquoi utiliser une hélice Honda d’origine?</h2>
							<div class="grouped">
								<p>Les moteurs hors-bords à quatre temps fonctionnent à un régime très différent des moteurs à deux temps. Pour contribuer à obtenir une performance optimale, il est important d’utiliser une hélice conçue spécifiquement pour les quatre-temps.</p>
								<p>En outre, les moteurs hors-bords Honda emploient un rapport de démultiplication légèrement différent dans leur embase. Les hélices Honda sont conçues avec tous ces facteurs à l’esprit pour contribuer à assurer le meilleur jumelage possible et offrir une performance de haut niveau sur toute la plage de régime.</p>
								<p>Gardez votre Honda 100 % Honda pour la meilleure performance possible. Les hélices Honda d’origine sont offertes exclusivement chez votre concessionnaire Honda.</p>
							</div>
							
							<h2 class="small">Quelle serait la meilleure hélice pour vous?</h2>
							<div class="grouped">
								<p>Vous devez tenir compte de deux points importants lors du choix d'une hélice. Premièrement, elle doit répondre à vos besoins particuliers. Deuxièmement, elle doit permettre au moteur d'atteindre la plage de régime de fonctionnement spécifique à pleins gaz.</p>
								<p>Deux bateaux identiques équipés de moteurs identiques pourraient être dotés d'une hélice différente selon l'utilisation prévue, les conditions de navigation et la charge.</p>
							</div>
							
							<h2 class="small">Hélices à 3 pales versus hélices à 4 pales</h2>
							<div class="grouped">
								<p>Les hélices à trois pales sont plus courantes. En général, elles produisent une vitesse de pointe légèrement supérieure à celles des hélices à quatre pales et se déclinent dans une plus grande variété de modèles.</p>
								<p>Les hélices à quatre pales fournissent souvent davantage de portance à la poupe, ce qui favorisera l'accélération de la coque, surtout en présence d'une charge lourde à l'arrière. Elles permettent un départ rapide et sont idéales pour la traction de skieurs et autres accessoires nautiques.</p>
								<p>Sur les bateaux de pêche ou hauturiers, les hélices à quatre pales peuvent générer une vitesse légèrement supérieure à celles à trois pales lorsque le moteur tourne à moyen régime, une plage de fonctionnement fréquemment adoptée par les pêcheurs à la ligne côtiers. De plus, elles offrent un rendement énergétique légèrement supérieur à moyen régime.</p>
								<p>Parfois, l'utilisation d'une hélice à quatre pales améliorera la maniabilité d'un bateau et, la plupart du temps, une hélice à quatre pales fonctionnera avec plus de régularité et d’équilibre qu'une hélice à trois pales.</p>
							</div>
							
							<h2 class="small">Taille</h2>
							<div class="grouped">
								<p>Le diamètre et le pas sont deux mesures utilisées pour décrire les hélices. La vitesse de pointe d'un bateau dépend du pas et ce dernier doit correspondre à la plage de régime recommandée du moteur à pleins gaz.</p>
								<p>Pour les pêcheurs à la ligne traînante, une hélice au pas plus petit (distance moindre sur un tour) permet au moteur de tourner au régime maximal et produira une vitesse de traîne plus lente. Elle poussera également les charges avec plus d'aisance et facilitera les manœuvres aux abords des quais. En contrepartie, une hélice au pas plus grand fait tourner le moteur à plus bas régime et peut générer une vitesse de pointe plus élevée.</p>
								<p>Le choix judicieux du style, du dessin des pales, du pas et du diamètre n'est pas seulement important pour la maniabilité et la sécurité d'un bateau. Il permet aussi de maximiser la vitesse de croisière et le rendement énergétique. Les hélices de plus grand diamètre avec une grande surface de pale aident le bateau à affronter les grosses vagues et permettent à l'utilisateur de garder une bonne maîtrise dans des conditions hauturières en eaux tumultueuses.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->