<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="content_section first_section">
						<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
						<h1>HUILES ET PRODUITS CHIMIQUES HONDA D'ORIGINE</h1>
						<h2 class="small">Pourquoi utiliser les huiles et produits chimiques Honda d'origine?</h2>
						<div class="grouped">
							<p>Honda construit ses moteurs hors-bord selon les normes d’ingénierie les plus strictes au monde, et formule ses huiles et produits chimiques tout aussi rigoureusement pour vous permettre d’obtenir le rendement maximal de votre moteur hors-bord sa performance maximale.</p>
							<p>Vous avez acheté un Honda à cause de sa qualité, de son rendement et de sa fiabilité. Il serait donc tout naturel par la suite d’employer des huiles et produits chimiques équivalents. Ne vous contentez pas d’une imitation lorsque vous pouvez acheter un produit d’origine.</p>
							<p>L'huile Honda d'origine est spécialement formulée pour procurer la meilleure protection possible à votre hors-bord Honda dans les conditions d'utilisation les plus exigeantes. Vous devriez faire vidanger l'huile au moins une fois par saison de navigation. Nous recommandons que ce soit en automne, juste avant son remisage pour l'hiver. La raison en est que l'huile moteur sale contient des agents corrosifs. Alors, si le moteur doit être inactif pendant environ six mois, il vaut mieux que ce soit de l'huile propre qui se trouve dans le moteur.</p>
							<p>Nous offrons aussi une gamme complète de produits chimiques, de nettoyants et d'autres lubrifiants de haute qualité qui aideront votre hors-bord Honda à bien fonctionner et à garder sa belle apparence pendant de nombreuses années. Et ils ne sont offerts que chez votre concessionnaire Honda.</p>
							<p><a href="#">Voir les huiles et produits chimiques Honda</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->