<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="maintenance">
						<div class="content_section first_section">
							<p><img src="/_Global/img/temp/honda_genuine_parts.gif" alt="" /></p>
							
							<div class="h1">Information concernant l’entretien de moteurs hors-bords</div>
							<div class="grouped">
								<p>Avant de faire fonctionner un moteur hors-bord, vous devriez effectuer une vérification de routine afin de vous assurer que les principaux composants sont en bonne condition de fonctionnement et qu’ils ne sont pas endommagés. Si vous constatez qu'un dommage est présent, veuillez communiquer avec votre concessionnaire Honda afin d’obtenir de l’aide.</p>
								<p>Si vous prévoyez utiliser votre moteur hors-bord pour la toute première fois, veuillez d’abord lire votre Manuel du propriétaire. Même si vous avez auparavant utilisé des moteurs hors-bords similaires, veuillez prendre le temps de vous familiariser avec les commandes et le fonctionnement.</p>
							</div>
							
							<h1>Sécurité relative à l’entretien</h1>
							<div class="grouped">
								<p>Afin de vous aider à effectuer l’entretien approprié de votre moteur hors-bord, veuillez suivre l’échéancier d’entretien recommandé dans votre Manuel du propriétaire. Ces procédures d’entretien sont simples, et elles ne requièrent que quelques outils de base. Certains autres entretiens sont plus complexes ou exigent des outils spéciaux; il est préférable de laisser de tels entretiens à un technicien formé par Honda qui travaille chez un concessionnaire Honda autorisé.</p>
								<p>L’entretien de votre moteur hors-bord, selon les indications de votre manuel du propriétaire, est une des précautions de sécurité les plus importantes qui soient. Nous vous recommandons de confier tout l’entretien requis pour votre moteur hors-bord à votre concessionnaire Honda autorisé. Cependant, si vous décidez d’effectuer vous-même certains entretiens, nos concessionnaires Honda offrent toute la gamme des pièces Honda d'origine dont vous aurez besoin.</p>
							</div>
							
							<h2 class="small">Avant d’entreprendre quelque procédure que ce soit, veuillez vous assurer que le moteur est arrêté. Ceci aidera à éliminer plusieurs dangers potentiels, notamment</h2>
							<ul class="pf red-check">
								<li class="pf">L’empoisonnement au monoxyde de carbone provenant des gaz d'échappement du moteur. Veuillez vous assurer que le pied du moteur hors-bord est suffisamment submergé sous l’eau, avant de faire démarrer le moteur. Ne pas le faire endommagera immédiatement la pompe à eau et entrainera des dommages très onéreux au moteur. De plus, veuillez vous assurer qu’une ventilation suffisante existe à l’endroit où vous faites fonctionner le moteur.</li>
								<li class="pf">Des brûlures peuvent survenir si vous touchez à des pièces chaudes. Laissez le moteur se refroidir avant d’y toucher.</li>
								<li class="pf">Des blessures peuvent être causées par des pièces en mouvement. Ne faites pas fonctionner le moteur, à moins que la procédure vous demande de le faire.</li>
							</ul>
							
							<div class="grouped">
								<p>Veuillez lire toutes les instructions avant de commencer, et soyez prudent lorsque vous travaillez près d’une source d’essence. N'utilisez qu'un solvant ininflammable, et non de l'essence, pour nettoyer les pièces. Gardez les étincelles et les flammes loin des pièces associées au carburant.</p>
								<p>L’échéancier d’entretien inclus dans votre Manuel du propriétaire s’applique à des conditions normales d’utilisation. Si vous utilisez votre moteur hors-bord dans des conditions difficiles, comme sous une charge ou une température élevée constante, veuillez consulter votre concessionnaire afin d’obtenir des recommandations qui s’appliquent à vos besoins et à l’utilisation précise que vous faites du moteur hors-bord.</p>
								<p>N’oubliez pas que le concessionnaire Honda autorisé qui effectue l’entretien de votre moteur hors-bord est celui qui le connaît le mieux et qui est le mieux équipé pour l’entretenir et le réparer.</p>
								<p>Pour optimiser le rendement et la fiabilité, n’utilisez que des pièces et des produits chimiques Honda d’origine.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->