<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-parts-service">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/parts-service.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/parts-service.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/fr/menu-parts-service.html"-->
			<!--#include virtual="/shared/inc/widgets/powerhouse_dealers_alternate.html"-->
			<!--#include virtual="/shared/inc/widgets/accessories.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="warranty">
						<div class="content_section first_section">
							<h1>FOIRE AUX QUESTIONS CONCERNANT <span>LA GARANTIE</span></h1>
						</div>
						<div class="content_section">
							<div class="fc">
								<h3 class="fl large">Foire aux questions au sujet de Honda Plus</h3>
								
								<div class="fc fr accordion-controls">
									<a class="fl collapse" property="act:collapsible-collapse" href="javascript:void(0)">Collapse All</a>
									<a class="fl expand" property="act:collapsible-expand" href="javascript:void(0)">Expand All</a>
								</div>
	                        </div>
	                        
							<div class="sub_content active"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q1"
								data-collapsible-active="true">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>À quel moment puis-je me procurer une garantie prolongée Honda Plus?</a></span></div>
									<div id="slidedown_q1">
										<p>Il est préférable de vous la procurer au moment de l'achat de votre hors-bord Honda; ainsi cela vous permet d'inclure le prix de votre plan Honda Plus au montant final financé ou payé. Cependant, vous pouvez vous procurer un plan Plus à condition que le moteur hors-bord soit encore couvert par la garantie du distributeur pendant la première année.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q2"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Comment sont calculées la période et les heures d'utilisation d'un plan Honda Plus?</a></span></div>
									<div id="slidedown_q2">
										<p>Peu importe la date d'achat de votre plan Honda Plus, le contrat pour votre moteur hors-bord débute dès le jour où la garantie du distributeur pour votre moteur hors-bord Honda expire et se termine selon les termes du contrat. Dans tous les plans Honda Plus, les heures d'utilisation sont illimitées.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q3"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Puis-je annuler mon plan Honda Plus pendant la période de couverture?</a></span></div>
									<div id="slidedown_q3">
										<p>Oui, durant les 60 premiers jours de couverture, vous recevrez un remboursement à 100 % lorsque vous annulez votre couverture. Après 60 jours, vous recevriez un remboursement calculé au prorata (moins les frais administratifs) si l'unité était volée ou déclarée perte totale par un incendie. Une preuve de réclamation d'assurance est requise.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q4"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Que dois-je faire en cas de panne?</a></span></div>
									<div id="slidedown_q4">
										<p>Vous devez d'abord prendre toutes les mesures raisonnables afin de protéger votre hors-bord Honda contre d'autres dommages suivant une défaillance mécanique ou une défectuosité. Par exemple : Vous devez immédiatement arrêter le moteur du hors-bord, si des témoins d'avertissement, des indicateurs d'huile ou de température sont allumés.</p>
										<p>En second lieu, vous devez vous présenter chez un concessionnaire Honda avec votre hors-bord Honda afin d'effectuer les réparations.</p>
									</div>
								</div>
							</div>
							
							<div class="sub_content"
								property="act:collapsible"
								data-collapsible-target="#slidedown_q5"
								data-collapsible-active="false">
								<div class="sub_content_inner">
									<div class="flex_bar alternate"><span><a href="javascript:void(0);"
										>Devrai-je assumer des frais additionnels pour la défaillance d'une composante couverte par ce plan?</a></span></div>
									<div id="slidedown_q5">
										<p>Il n'y a aucun déductible pour tous les plans Plus des Produits marins.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->