<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
    <link rel="stylesheet" href="/_Global/css/marine/backgrounds.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/product-details.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
    <!--#include virtual="/marine/inc/product-features.html"-->
    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/service-warranty.html"-->
			<!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
			<!--#include virtual="/shared/inc/widgets/honda-finance.html"-->
			<!--#include virtual="/shared/inc/widgets/you_may_consider.html"-->
			<!--#include virtual="/shared/inc/widgets/safety.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="features">
						<div class="fc content_section first_section">
							<div class="h1">Features</div>
							
							<dl>
								<dt>Honda's Four-Stroke Engine Design</dt>
								<dd>World-renowned Honda quality, proven reliability with no oil mixing.</dd>
								
								<dt>Light, Compact Design</dt>
								<dd>Three-cylinder design allows for smooth operation while remaining compact.</dd>
								
								<dt>Offset Crankshaft Design</dt>
								<dd>Locates the powerhead directly over transom bracket pivot point for smoother operation of trim and tilt, as well as reducing stress on the transom and steering effort.</dd>
								
								<dt>Non-Linear Mounting System</dt>
								<dd>Patented non-linear mounting provides smoother operation at all engine speeds.</dd>
								
								<dt>Forward-Mounted Shift Lever (Tiller Models)</dt>
								<dd>Allows easier shifting, especially when docking or in tight access areas.</dd>
								
								<dt>Over-Rev Protection</dt>
								<dd>Standard rev-limiter protects the engine from severe damage caused by over-revving.</dd>
								
								<dt>Overheat and Low-Oil-Level Warning Systems</dt>
								<dd>Standard overheat and low-oil warning systems offer peace of mind and protect your investment.</dd>
								
								<dt>Fresh Water Flushport</dt>
								<dd>Allows easy hook-up of a garden hose to flush debris and salt water out of the engine, extending the life of the outboard.</dd>
								
								<dt>Regulated, High-Output Charging System</dt>
								<dd>A regulated, 10-amp charging system is standard on both manual and electric-start models to ensure that batteries remain charged while operating electronics.</dd>
								
								<dt>High-Pressure Gas-Assist Tilt (Non-PTT Models)</dt>
								<dd>Shallow-water gas-assist lift and shallow drive allow you to navigate in shallow water with ease.</dd>
								
								<dt>Sacrificial Anodes</dt>
								<dd>The BF50 has 1 internal and 2 external sacrificial anodes to protect all metal components from corrosion.</dd>
								
								<dt>Three-Year Warranty</dt>
								<dd>The best outboards in the industry are backed by the best warranty in the business, 3 years parts and labour!</dd>
							</dl>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<div id="accessories-item0" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
	<ul>
		<li>Quisque id lorem justo.</li>
		<li>Duis non vestibulum orci.</li>
		<li>Curabitur et tellus purus, at eleifend quam. </li>
	</ul>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<a href="" class="popup-image-prev"></a>
			<div class="popup-image-large"></div>
			<a href="" class="popup-image-next"></a>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/marine/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->