<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/product-details.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/service-warranty.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="specs">
						<div class="fc content_section first_section">
							<div class="fc feature-titles-controls">
								<div class="fl h1">Specifications</div>
								<div class="fr download">Download PDF</div>
								<div class="clr"></div>
								
								<div class="fc fr accordion-controls">
									<a href="javascript:void(0)" class="fl collapse" property="act:collapsible-collapse">Collapse All</a>
									<a href="javascript:void(0)" class="fl expand" property="act:collapsible-expand">Expand All</a>
								</div>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_engine"
								data-collapsible-active="true"
								>Engine</a></span></div>
							<div id="slidedown_engine" class="sub_content">
								<table>
									<tr>
										<th>Type</th>
										<td>4-Stroke SOHC 3 Cylinders/6 Valves</td>
									</tr>
									<tr>
										<th>Displacement</th>
										<td>808 cc (49.4 cubic inches)</td>
									</tr>
									<tr>
										<th>Bore &amp; Stroke</th>
										<td>70 mm x 70 mm (2.8 x 2.8 inches)</td>
									</tr>
									<tr>
										<th>Full Throttle RPM Range</th>
										<td>5,000-6,000 RPM</td>
									</tr>
									<tr>
										<th>Rated Power</th>
										<td>50 HP @ 5,750 RPM</td>
									</tr>
									<tr>
										<th>Cooling System</th>
										<td>Water Cooled</td>
									</tr>
									<tr>
										<th>Fuel Delivery</th>
										<td>Programmed Electronic Fuel Injection (PGM-FI)</td>
									</tr>
									<tr>
										<th>Starting System</th>
										<td>Electric</td>
									</tr>
									<tr>
										<th>Exhaust</th>
										<td>Through Prop</td>
									</tr>
									<tr>
										<th>Lubrication</th>
										<td>N/A</td>
									</tr>
									<tr>
										<th>Trim Range</th>
										<td>N/A</td>
									</tr>
									<tr>
										<th>Tilt Range</th>
										<td>N/A</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_drive"
								data-collapsible-active="false"
								>Drive</a></span></div>
							<div id="slidedown_drive" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_equipment"
								data-collapsible-active="false"
								>Equipment</a></span></div>
							<div id="slidedown_equipment" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_dimensions"
								data-collapsible-active="false"
								>Dimensions</a></span></div>
							<div id="slidedown_dimensions" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_dry_weight"
								data-collapsible-active="false"
								>Dry Weight</a></span></div>
							<div id="slidedown_dry_weight" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_trans_height"
								data-collapsible-active="false"
								>Transom Height</a></span></div>
							<div id="slidedown_trans_height" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_diameter"
								data-collapsible-active="false"
								>Diameter x Pitch</a></span></div>
							<div id="slidedown_diameter" class="sub_content">
								<table>
									<tr>
										<th>Heading</th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="content_section">
							<div class="h1">Warranty</div>
							<h2 class="small">Standard Warranty</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae quae aperiam eaque <a href="product-specs.html#">distributor's warranty info sheet</a> or visit our <a href="product-specs.html#">Warranty section</a>.</p>
							
							<div class="sub_section">
								<h2 class="small">Honda Plus extended Warranty</h2>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explica <a href="product-specs.html#">Warranty section</a>.</p>
							</div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/marine/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->