<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-product-listing"> 
<div class="background_tile"> <div class="background_image">
	<div class="background_tile">
	<div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/product-listing.css" type="text/css" media="screen" charset="utf-8" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div id="feature_area">
			<div class="container">
				<div class="banner">
					<img src="/_Global/img/content/marine/products/banner.jpg" alt="Honda Marine" />
				</div>
				
				<div class="feature_header">
					<div class="h2">Why Buy a Honda Marine Outboard?</div>
					<p>Whether your outboard is 5 hp or 250 hp, you can boat with confidence thanks to the Honda advantage.</p>
				</div>
				
				<table class="feature_box">
					<tr>
						<td class="top_cap">
							<p class="heading">Honda Core Technology</p>
						</td>
						<td class="top_cap">
							<p class="heading">Ease of Maintenance</p>
						</td>
						<td class="top_cap">
							<p class="heading">Environment &amp; Technology</p>
						</td>
						<td class="top_cap">
							<p class="heading">Quality &amp; Reliability</p>
						</td>
					</tr>
					
					<tr>
						<td class="center_cap">
							<p>Learn about the leading-edge technology exclusive to Honda products.</p>
						</td>
						<td class="center_cap">
							<p>Find out why Honda four-stroke engines need less maintenance than traditional two-strokes.</p>
						</td>
						<td class="center_cap">
							<p>Discover why Honda four-stroke engines are the smarter choice.</p>
						</td>
						<td class="center_cap">
							<p>Honda quality and reliability is legendary. Discover why.</p>
						</td>
					</tr>
					
					<tr>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
						<td class="bottom_cap">
							<div class="pf btn"><a href="#">Learn More</a></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="nmb wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<div class="content_container overview">
				<div class="fc content_section first_section">
					<h1 class="fl">All Honda Outboard Motors</h1>
				</div>
				<div class="content_section primary_section">
					<div class="h1">Portables</div>
					<p>Big on convenience, versatility and performance, Honda portable engines are easy to use and easy to transport.</p>
					
					<div class="fc product">
						<div class="fl first product-item">
							<div class="product-image"
								property="act:popup"
								data-position="right top"
								data-popup-modal="false"
								data-popup-class="toolbox-top-alt toolbox-left"
								data-popup-content-url="/marine/inc/product-listing-product-tooltip-detail1.html"
								data-popup-handler="rollover"
								></div>
							<h3 class="price-heading">BF2.3</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">BF5</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">BF8</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">BF9.9</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">BF15</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
						<div><!-- IE QUIRK --></div>
						<div class="fl product-item">
							<div class="product-image"></div>
							<h3 class="price-heading">BF20</h3>
							<div class="fc final price">
								<strong>$21,249</strong>
								<span>MSRP</span>
							</div>
						</div>
					</div>
					
					<div class="sub_section">
						<div class="h1">Mid-Range</div>
						<p>Get the versatility of a lightweight engine along with the big performance of a powerful outboard.</p>
							
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"
									property="act:popup"
									data-position="right top"
									data-popup-modal="false"
									data-popup-class="toolbox-top-alt toolbox-left"
									data-popup-content-url="/marine/inc/product-listing-product-tooltip-detail1.html"
									data-popup-handler="rollover"
									></div>
								<h3 class="price-heading">BF25</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF30</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF40</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF50</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF60</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BFP60 Power Thrust</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl first product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF75</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF90</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="sub_section">
						<div class="h1">Large Motors</div>
						<p>For epic days on the water with big power, exceptional performance and leading technology.</p>
							
						<div class="fc product">
							<div class="fl first product-item">
								<div class="product-image"
									property="act:popup"
									data-position="right top"
									data-popup-modal="false"
									data-popup-class="toolbox-top-alt toolbox-left"
									data-popup-content-url="/marine/inc/product-listing-product-tooltip-detail1.html"
									data-popup-handler="rollover"
									></div>
								<h3 class="price-heading">BF115</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF135</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF150</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF225</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
							<div><!-- IE QUIRK --></div>
							<div class="fl product-item">
								<div class="product-image"></div>
								<h3 class="price-heading">BF250</h3>
								<div class="fc final price">
									<strong>$21,249</strong>
									<span>MSRP</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
				<div class="nb content_section compare">
					<h2>Compare Honda Outboards</h2>
					<div class="fc bottom_feature_inner">
						<ul class="fc fl product">
							<li class="fc fl pf first product-item active">
								<div class="fl list-steps">1</div>
								<div class="fl product-item-inner">
									<div>
										<h3 class="price-heading">BF5</h3>
										<div class="clr"></div>
										<div class="fc fl final price">
											<strong>$21,249</strong>
											<span>MSRP</span>
										</div>
										<a class="fl pf btn-remove" href="javascript:void(0)"></a>
										<div class="clr"></div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item active">
								<div class="fl list-steps">2</div>
								<div class="fl product-item-inner">
									<div>
										<h3 class="price-heading">b90</h3>
										<div class="clr"></div>
										<div class="fc fl final price">
											<strong>$21,249</strong>
											<span>MSRP</span>
										</div>
										<a class="fl pf btn-remove" href="javascript:void(0)"></a>
										<div class="clr"></div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item">
								<div class="fl pf list-steps">3</div>
								<div class="fl product-item-inner">
									<div class="selector">
										<div class="add-model">Add a Model to Compare</div>
										<div class="buttons">
											<a property="act:popup" data-compare-behavior="add" data-popup-hanger="true" data-position-offset="10 4" data-position-at="right bottom" data-position-my="right top" data-popup-content-url="/service/ComparePopUpSelector.aspx?L=en&amp;ModelFamilyUrl=" data-popup-class="model-selector" class="btn secondary" href="javascript:void(0)"><span>Select a Model</span></a>
										</div>
									</div>
								</div>
							</li>
							<li class="fc fl pf product-item">
								<div class="fl pf list-steps">4</div>
								<div class="fl product-item-inner">
									<div class="selector">
										<div class="add-model">Add a Model to Compare</div>
										<div class="buttons">
											<a property="act:popup" data-compare-behavior="add" data-popup-hanger="true" data-position-offset="10 4" data-position-at="right bottom" data-position-my="right top" data-popup-content-url="/service/ComparePopUpSelector.aspx?L=en&amp;ModelFamilyUrl=" data-popup-class="model-selector" class="btn secondary" href="javascript:void(0)"><span>Select a Model</span></a>
										</div>
									</div>
								</div>
							</li>
						</ul>
							
						<div class="fl recently_viewed_compare">
							<p class="np nm compare-these"><strong>Compare these<br />
								outboard motors</strong></p>
							<a href="#" class="btn primary"><span>Compare</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--googleoff: index-->
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
	<div class="clr"></div>
</div>
</div>

<div class="background_wrapper">
</div> </div>
	<!--#include virtual="/marine/inc/footer.html"-->
</div>
<div id="toolbox_item" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$999</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$100</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>899</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove add">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Add to Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="toolbox_item2" class="dn">
	<div>
		<div class="fc popup-top">
			<div class="fl product-title-price">
				<div class="h1">VT1300CXA Fury</div>
				
				<div class="prices">
					<div class="fc small-price msrp">
						<del>
							<span class="strike"></span>
							<span class="price">$16,599</span>
						</del>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc small-price discount">
						<span class="price">$6,000</span>
						<span class="price-heading">Discount</span>
					</div>
					<div class="fc large-price msrp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">MSRP</span>
					</div>
					<div class="fc large-price your-price">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Your Price</span>
					</div>
					<div class="fc large-price mdp">
						<span class="price"><sup>$</sup>10,599</span>
						<span class="price-heading">Manufacturer<br />
							Discounted Price</span>
					</div>
				</div>
			</div>
			
			<div class="fr product-image">
			</div>
		</div>
		
		<div class="popup-content">
			<h3>Features:</h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Vivamus suscipit arcu sit amet quam egestas dapibus.</li>
				<li>Sed ullamcorper, velit vel convallis posuere asldkfjkevlk</li>
				<li>Pellentesque at diam id eros rutrum facilisis id a neque. amet, consectetur adipiscing elit</li>
				<li>Morbi lacinia convallis purus, non pretium diam aliquet</li>
			</ul>
		</div>
		
		<div class="fc popup-bottom">
			<div class="fl view-details">
				<a href="#" class="btn primary"><span>View Details</span></a>
			</div>
			<div class="fl pf compare-add-remove remove">
				<a href="#"
					property="act:popup"
					data-position="right top"
					data-popup-modal="false"
					data-popup-class="tooltip-top-error"
					data-popup-content-target="#error_msg"
					>Remove from Compare</a>
			</div>
		</div>
	</div>
</div>

<div id="error_msg" class="dn">
	<div>
		<p class="heading">Error!</p>
		<p>Lorem ipsum dolor sit amet, Consectetur aconsecteturdipiscin.</p>
	</div>
</div>





<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->