<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-product-details">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/product-details.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/product-details.css" type="text/css" media="screen" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->

	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>

    <div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<ul class="fl widgets">
			<!--#include virtual="/shared/inc/widgets/download_updates.html"-->
			<!--#include virtual="/shared/inc/widgets/service-warranty.html"-->
		</ul>
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<ul class="fc tabs_horizontal"> 
					<li class="fl first"><a property="act:ajaxload" data-ajaxload-group="product" href="product-overview.html">Overview</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-features.html">Features</a></li>
					<li class="fl"><a property="act:ajaxload" data-ajaxload-group="product" href="product-specs.html">Specfications</a></li>
					<li class="fl last"><a property="act:ajaxload" data-ajaxload-group="product" class="selected" href="product-accessories.html">Parts &amp; Accessories</a></li>
				</ul>
                <!-- NOTES: please add page specific class within #inner_page_content -->
				<div class="content_container" id="inner_page_content">
					<div class="accessories">
						<div class="fc content_section first_section">
							<div class="fc feature-titles-controls">
								<div class="fl h1">Parts &amp; Accessories</div>
								<div class="fc fr accordion-controls">
									<a href="javascript:void(0)" class="fl collapse" property="act:collapsible-collapse">Collapse All</a>
									<a href="javascript:void(0)" class="fl expand" property="act:collapsible-expand">Expand All</a>
								</div>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_propellers"
								data-collapsible-active="true"
								>Propellers</a></span></div>
							<div id="slidedown_propellers" class="sub_content">
								<table>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Honda Marine Engines BF2D (From 1026044) 98056-54777</a></th>
										<td>$4.37</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Honda Marine Engines BF2D (To 1026043) 98056-55777</a></th>
										<td>$4.37</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Honda Marine Engines BF15A 98066-56716</a></th>
										<td>$4.09</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">SUZUKI OUTBOARD ENGINES 2.0 hp 98076-54716</a></th>
										<td>$3.33</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Side Mount Remote Control Box 06240-ZV4-010-BF5-BF15A</a></th>
										<td>$439.98</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Side Mount Control Box 06240-ZV6-U00-BF9.9/15A</a></th>
										<td>$688.69</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Premium Single Top Mount Control 06240-ZW5-U10-BF8-BF225</a></th>
										<td>$423.22</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Premium Dual Top Mount Control 06240-ZW5-U20-BF8-BF225</a></th>
										<td>$423.30</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Premium Dual Top Mount Control 06240-ZW5-U30-BF8-BF225</a></th>
										<td>$798.74</td>
									</tr>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">06240-ZW7-U00-BF25 Remote-BF225 Premium Panel/Flush Mount Control</a></th>
										<td>$798.74</td>
									</tr>
								</table>
							</div>
							
							<div class="flex_bar"><span><a href="javascript:void(0);"
								property="act:collapsible"
								data-collapsible-target="#slidedown_misc"
								data-collapsible-active="false"
								>Miscellaneous</a></span></div>
							<div id="slidedown_misc" class="sub_content">
								<table>
									<tr>
										<th><a class="btn-tooltips"
												property="act:tooltip"
												data-position="right bottom"
												data-position-collision="fit none"
												data-tooltip-class="tooltip-right"
												data-tooltip-content-target="#product-accessories">Heading</a></th>
										<td>Desc</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="nm nb content_section">
							<div class="pf oils-and-chem-tout">
								<div class="fnat header"><span>Honda Genuine</span> Oils and Chemicals</div>
								<a class="pf btn primary-png" href=""><span class="pf">Learn More</span></a>
							</div>
						</div>
                    </div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
	</div>
    <div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/marine/inc/footer.html"-->
<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis non vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="product-overview.html#" class="popup-close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript" src="/_Global/js/sections/marine/product-details.js"></script>
<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/marine/inc/application_bottom.html"-->