<!--#include virtual="/marine/inc/application_top.html"-->
<body class="page-safety">
<div class="background_tile"> <div class="background_image">
	<!-- BEGIN: PAGE SPECIFIC STYLES -->
	<!-- XXX This is not valid HTML. Just a workaround for #include issues. The code between BEGIN and END here should 
		 be moved inside <head> and after site css links. -->
	<link rel="stylesheet" href="/_Global/css/sections/safety.css" />
	<link rel="stylesheet" href="/_Global/css/marine/sections/safety.css" />
	<!-- END  : page SPECIFIC STYLES -->
<!--#include virtual="/marine/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper_top_cap"></div>
	<div class="fc wrapper_columns">
		<!--googleon: index-->
		<div class="fr content_box">
			<div class="top_cap pf"></div>
			<div class="content pf">
				<div class="content_container">
					<div class="fc content_section first_section">
						<div class="banner"><img src="/_Global/img/content/safety/banner-safety.png" alt="Safety" /></div>
						<h1 class="nm np">SÉCURITÉ</h1>
					</div>
					<div class="nb np content_section">
						<h2 class="small">Portez un gilet de sauvetage ou un vêtement de flottaison individuel (PFD).</h2>
						<p>Une immersion soudaine dans l'eau représente un risque grave pour un plaisancier qui ne porte pas de vêtement de flottaison. Le risque est présent peu importe l'expérience du plaisancier, la proximité de la rive ou même la capacité de nager. Le port d'un gilet de sauvetage vous donne le temps de réagir à la situation d'urgence et de venir en aide aux autres. Bouclez votre gilet de sauvetage avant de monter à bord.</p>
						
						<h2 class="small">Ne consommez pas d'alcool ou drogues.</h2>
						<p>Mélanger alcool ou drogues et la navigation de plaisance est bien plus dangereux que vous pouvez réaliser. La fatigue, le soleil, le vent et le mouvement du bateau engourdissent vos sens. L'alcool augmente ces effets, ce qui vous laisse avec une faible coordination motrice fine et affaiblit votre jugement.</p>
						
						<h2 class="small">Soyez prêt!</h2>
						<p>Lisez votre attentivement votre manuel du propriétaire. Vérifiez les prévisions météorologiques et les conditions de navigation avant de partir et restez à l'affût des conditions changeantes. Inspectez également votre équipement avant de partir.</p>
						<p>Maintenez toujours votre embarcation à vitesse et à distance sécuritaires des autres bateaux. Honda recommande de suvre un cours de sécurité nautique indépendamment de votre âge ou de votre expérience.</p>
						<p>Pour plus de détails sur la sécurité, visitez <a target="blank" href="http://www.tc.gc.ca/fra/securitemaritime/desn-bsn-menu-1362.htm">le site web Bureau de la sécurité nautique</a>.</p>
					</div>
				</div>
			</div>
			<div class="bottom_cap pf"></div>
		</div>
		<!--googleoff: index-->
        <ul class="fl widgets">
            <!--#include virtual="/shared/inc/widgets/find_dealer.html"-->
            <!--#include virtual="/shared/inc/widgets/measurements.html"-->
        </ul>
	</div>
	<div class="wrapper_bottom_cap"></div>
</div> </div>
<!--#include virtual="/shared/inc/footer.html"-->
<!-- BEGIN: PAGE SPECIFIC SCRIPTS -->

<!-- END  : page SPECIFIC SCRIPTS -->
</body>
<!--#include virtual="/shared/inc/application_bottom.html"-->