<div>
        <h3>Select Series</h3>
        <select property="compare:series-selector">
            <option value="/pe/resources/compare-popup-template.html">Premium Residential HRX</option>
            <option value="/pe/resources/compare-popup-template.html">Premium Series</option>
            <option value="/pe/resources/compare-popup-template.html">IZY Compact Series</option>
            <option value="/pe/resources/compare-popup-template.html">Commercial Series</option>
        </select>
        <div class="line"></div>
        <div class="selection_wrap">
            <div class="scrollview">
                <div class="subview">
                    <div class="item" data-trim-id="rx700xx_1">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading">rx700xx_1</h3>
                        <div class="fc final price">
                            <strong>$999</strong>
                            <span>MSRP</span>
                        </div>
                    </div>
                    <div class="item" data-trim-id="rx700xx_2">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading">rx700xx_2</h3>
                        <div class="fc final price">
                            <strong>$999</strong>
                            <span>MSRP</span>
                        </div>
                    </div>
                    <div class="item" data-trim-id="rx700xx_3">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading">rx700xx_3</h3>
                        <div class="fc final price">
                            <strong>$999</strong>
                            <span>MSRP</span>
                        </div>
                    </div>
                    <div class="item" data-trim-id="rx700xx_4">
                        <div class="product-image">
                        </div>
                        <h3 class="price-heading">rx700xx_4</h3>
                        <div class="fc final price">
                            <strong>$999</strong>
                            <span>MSRP</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
