﻿<%@ Master Language="C#" MasterPageFile="~/_Global/master/Master.Master" AutoEventWireup="true" CodeBehind="OneColMaster.master.cs" Inherits="Marine.Web._Globals.mater.OneColMaster" %>
<%@ Register src="~/_Global/controls/Header.ascx" TagName="Header" TagPrefix="uc1" %>
<%@ Register Src="~/_Global/controls/Footer.ascx" TagName="Footer" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder  ID="head"  runat="server" ></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <asp:ContentPlaceHolder ID="bodyStart" runat="server"></asp:ContentPlaceHolder>
	<div class="wrapper nmb nmt">
    	<uc1:Header ID="header1" runat="Server"></uc1:Header>
	</div>
    <div class="wrapper_extended">
	    <asp:ContentPlaceHolder ID="feature_area" runat="server"></asp:ContentPlaceHolder>		
            <%-- to be implemented in content page with feature using :feature_area
            		<div id="feature_area">
			            <div class="container">
                            Insert Content Here
			            </div>
		            </div>
            --%>	
    	<div class="cap_bottom_default pf"></div>
    </div>
    <asp:ContentPlaceHolder ID="wrapper_seperator" runat="server"><!-- in place of trim_selector --></asp:ContentPlaceHolder>   
        <%-- 
        to be implemented in content page with seperator similar to trom_selector in honda  using :wrapper_seperator 
        <div class="wrapper">
		    <div class="cap_top_default pf"></div>
		    <div class="container pf">
			    Testing
		    </div>
		    <div class="cap_bottom_default pf"></div>
	    </div>
        --%>
    <div class="wrapper content-area-wrapper">
        <%--<div class="cap_top_default pf"></div>
	    <div class="container pf">--%>
	        <%--<div class="content_container">--%>  <!-- push this div to content page if required -->
	            <!--googleon: index--><!--googleon: snippet-->
        <asp:ContentPlaceHolder ID="ContentArea" runat="server"></asp:ContentPlaceHolder>
                <!--googleoff: index--><!--googleoff: snippet-->
            <%--</div>--%>
	    <%--</div>
	    <div class="cap_bottom_default pf"></div>--%>
    </div>
    <asp:ContentPlaceHolder ID="BottomCap" runat="server" ><!-- this is used in Help Me choose Pages to get the bottom cap of Step Bar container --></asp:ContentPlaceHolder>   
</asp:Content>
<asp:Content ID="MyFooter" ContentPlaceHolderID="FooterContent" runat="server">
<%--<div class="background_wrapper"> --%>
        <uc2:Footer ID="Footer" runat="server"></uc2:Footer>
<%--</div>--%>
<asp:ContentPlaceHolder ID="insertDivatBottom" runat="server" ></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="includeModelVarJS" runat="server">
    <asp:ContentPlaceHolder ID="includeModelVarJS" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="IncludeJavaScripatEnd" runat="server">
    <asp:ContentPlaceHolder  runat="server" ID="IncludeJavaScripatEnd"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="phJSAssociatedFile" runat="server"></asp:Content>