<li class="powerhouse_dealers">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<img src="/_Global/img/content/find-a-dealer/powerhouse_sidebar_img.gif" alt="" />
		<p class="heading">Powerhouse Dealers</p>
		<p>Lorem ipsum dolor sit amet elit consectetur sit amet adipiscing Vestibulum pharetra.</p>
		<a href="powerhouse_dealers.html#" class="btn secondary"><span>Learn More</span></a>
	</div>
	<div class="bottom_cap pf"></div>
</li>