<li class="consider">
	<div class="top_cap pf"></div>
	<div class="content pf">
		<h4><span>You May Also Consider</span></h4>
		<div class="product">
			<a href="you_may_consider.html#">
				<img src="/_Global/img/temp/product_thumbnail.gif" alt="" />
				<span class="product_name">hrx2172hxc</span>
				<span class="product_price">$999<span>MSRP</span></span>
			</a>
		</div>
	</div>
	<div class="bottom_cap pf"></div>
</li>