/*cufon { top:-2px; }
* + html cufon { top:-3px; }
* html cufon { top:-3px; }*/
/** html.cufon-active { display: none; }
* html.pngfix-complete { display: block; }*/
cufontext { display: none !important; }


/* @group Table */

* html .tbl th span.arrow { vertical-align: -4px !important; /* ie6 fix */ }
* + html .tbl th span.arrow { vertical-align: 2px !important; /* ie7 fix */ }
/* @end */
/* @group Honda in Canada*/

* html ul.partners_programs{margin-left:17px;}
* + html ul.partners_programs{margin-left:17px;}

/* @end */
/* @group VIN Lookup*/

.vin_lookup .gray_wall input{position:relative\9; top:2px\9;}
.vin_lookup .gray_wall input{_position:relative; _top:3px;}
* + html .vin_lookup .gray_wall input{position:relative; top:3px;}

/* @end */
/* @group structure */

* html .column_left { overflow: hidden; }
* html .column_right { overflow: hidden; }
* html .inner_two_column li {width:296px;}
.tabs_horizontal { zoom: 1; }
.tabs_horizontal_fixed { zoom: 1; }
.tabs_horizontal li, .tabs_horizontal .dd { zoom: 1; }
.tabs_horizontal_fixed li, .tabs_horizontal_fixed .dd { zoom: 1; }

* html .tabs_horizontal_fixed li a {height:24px !important; padding:15px 10px 0 10px !important;}
* html .tabs_horizontal_fixed li a.multiline{height:29px !important; padding:10px 10px 0 10px !important;}

* + html .tabs_horizontal_fixed li a {height:24px !important; padding:15px 10px 0 10px !important;}
* + html .tabs_horizontal_fixed li a.multiline{height:29px !important; padding:10px 10px 0 10px !important;}

* html #feature_area .container { margin-bottom: 0; }

* html ul.sub-menu-alt li{display:inline !important;}
* html ul.sub-menu-alt li a{font-size:12px;}
* html ul.sub-menu-alt{position:relative; left:-10px;}

* + html ul.sub-menu-alt li{display:inline !important;}
* + html ul.sub-menu-alt li a{font-size:12px;}
* + html ul.sub-menu-alt{position:relative; left:-10px;}

* html .tooltip-right .tooltip_content{top:-40px;}

* html ul.red-check li{zoom:1;}
* + html ul.red-check li span{zoom:1;}

* html .flex_bar { font-size: 11px; }
* + html .flex_bar { font-size: 11px; }

* html .flex_bar span a { line-height: 18px; zoom:1; }
* + html .flex_bar span a { line-height: 18px; }

* html dl.single-col-4 dd{display:inline; margin-left:39px;}
* html .page-build-price dl.single-col-4 p.heading{font-size:12px;}

* + html dl.single-col-4 dd{display:inline; margin-left:39px;}
* + html .page-build-price dl.single-col-4 p.heading{font-size:12px;}

* + html .page-build-price .postal-box p{display:inline;}
* + html .page-build-price a.refresh{display:inline; vertical-align:middle; margin-top:4px;}

* html .page-build-price .postal-box p{display:inline;}
* html .page-build-price a.refresh{display:inline; vertical-align:middle; margin-top:4px;}

* html .page-build-price dl.single-col-4 dd .item-container-active{width:178px;}

/* @end */

/* @group Widgets */
* html .dd_button { zoom: 1; }
* html .widgets { zoom: 1; }
* html .widgets li {border-left:0; zoom: 1; overflow: hidden; }
/** html .widgets ul li {border-left:0;}*/
* html .current_offers dd { zoom: 1; }
* html .widgets .city .input_box { width: 190px; }

* + html .dd_button { zoom: 1; }
* + html .current_offers dd { zoom: 1; }
* + html .widgets .city .input_box { width: 200px; }
* + html .widgets li {zoom: 1;}
body .the_latest ul#left_nav li div{zoom:1;}

/* @end */
/* @group Lease & Finance */

* + html .lease_finance_header{height:68px;}
* html .lease_finance_header{height:68px;}

/* @end */
/* @group Contact Us */

.ask_a_question input{padding-top:2px\9; height:19px\9;}
.ask_a_question .contact .submit a{_bottom:19px;}
.ask_a_question .additional_questions .radio{top:0\9;}
.ask_a_question .additional_questions .radio{_top:4px;}
* + html .ask_a_question .additional_questions .radio{top:2px;}

/* @end */
/* @group Reviews Page */

.reviews_container{height:104px\9;}
* html .reviews_container{height:105px;}
* + html .reviews_container{height:105px;}

/* @end */
/* @group Expandable */

/**html .expandable_list dd .question {position:relative;background-position:0 4px;}*/
.expandable_list dd .question {_cursor:hand;}
* html .expandable_list dd .question { background-image: url(../img/layout/list_collapse.gif); }
* html .expandable_list dd.expanded .question { background-image: url(../img/layout/list_expand.gif); }
* html .expandable_list dd .question:hover, * html .expandable_list dd div.hover { background-image: url(../img/layout/list_hover.gif); }
.expandable_list dd.expanded {zoom:1;}

/* @end */
/* @group search page */

.search_input_container { zoom: 1; }

/* @end */
/* @group Finance Calculator */

.finance_calculator input{height:22px\9; width:60px\9;}
* + html .finance_calculator input{height:21px;}
* html .finance_calculator .input_box{background-position:0 1px;}
* + html .finance_calculator .input_box{background-position:0 1px; height:24px;}
* + html .finance_calc_container .gray_wall{margin-top:20px;}
* html .finance_calc_container .gray_wall{margin-top:20px;}

/* @end */
/* @group Find a Phone */

.phone_details{*margin:20px 0 15px;}

/* @end */
/* @group Contact Us Page */

.ask_a_question .owner .radio{*top:2px;}

/* @end */
/* @group Current Offers */

* html .current_offers_page .current_offers_form{margin-left:13px;}
.current_offers_page span.h1{background-position:0 5px\9;}

/* @end */
/* @group Bluetooth */

.bluetooth_heading{*height:60px; _margin-bottom:15px;}

.all_models .models_section ul li span.model_price span.msrp{padding-top:4px\9;}

/* @end */
/* @group Homepage */

* html .dropout_list{top:-458px;height:409px;}
* + html .dropout_list{top:-458px;height:409px;}
* html #canada_contents { z-index: 30005; }


#footer{zoom:1;}

/* float clear fix */
.fc{ display: inline-block; }
* html .fc {height: 1%;}
.fc { display: block; }

/* modal window */
.modal_window_inner_content { zoom: 1; }

/* @group Trim Selector */

* html #trim_selector .content {width:690px;overflow:hidden;}
* html #trim_selector .content .details {width:330px;overflow:hidden;}
* html #trim_selector .content .preview {width:290px;overflow:hidden;}
* html #trim_selector .content .details .price {margin-bottom:10px;}
* html #trim_selector .content .details .transmission dt {margin-bottom:0;}
* html #trim_selector .content .details .transmission dd {height:1px;font-size:1px;overflow:hidden;}
* html #trim_selector .content .details .price .disclaimer {top:0;}

#trim_selector .choose_trim_arrow { zoom: 1; }

/* @end */

.cars_list_container a.vehicle_tout, 
.trucks_list_container a.vehicle_tout, 
.hybrids_list_container a.vehicle_tout, 
.models_section a .model_image { zoom: 1; }

* html .parts_overview li a span {zoom:1;}

* html .shopping_list_container dd { position: relative; overflow: hidden; zoom: 1; height: 52px !important; padding-top: 0 !important; background-position: left 10px !important; border-top: 0; border-top: 1px solid #dadada; margin:0;}
* html .shopping_list_container dd a { display: block; position: absolute; top: 50%; height: auto; zoom: 1; }
* html .shopping_list_container dd a span { display: block; position: relative; top: -50%; zoom: 1; }

* + html .shopping_list_container dd { position: relative; overflow: hidden; zoom: 1; height: 52px !important; padding-top: 0 !important; background-position: left 10px !important; border-top: 0; border-top: 1px solid #dadada; margin:0;}
* + html .shopping_list_container dd a { display: block; position: absolute; top: 50%; height: auto; zoom: 1; }
* + html .shopping_list_container dd a span { display: block; position: relative; top: -50%; zoom: 1; }

* html .wrapper { background-image: url(../../img/layout/bg_wrapper_col4.gif); }
* html .wrapper_extended { background-image: url(../../img/layout/bg_wrapper_col4.gif); }
* + html .content_wrapper { zoom: 1; position: static; }
* html .content_wrapper { zoom: 1; position: static; }

* html .search_box .ui-menu-item {
	background-image: url(../../img/layout/btn_overlay_search_mid.gif);
}

/* @group match your honda needs */
* html #match_needs .match_content .match_cars { height: 482px; }
#match_landing span.match_postal_code span input.match_postal { line-height: 33px; height:33px; }

.bar .check_container .check_box{padding-top:0\9;}
* html .bar .check_container .check_box{position:relative; top:-2px; padding:0;}
* + html .bar .check_container .check_box{position:relative; top:-2px; padding:0;}

/* sort */
* html .tbl th.sort a {background-image:url(../../img/layout/arrow_sort.gif);}
* html .tbl th.desc a {background-image:url(../../img/layout/arrow_sort_desc.gif);}
* html .tbl th.asc a {background-image:url(../../img/layout/arrow_sort_asc.gif);}

.widgets li .multiline {zoom:1;}

* html #feature_area .hero_menu_single .hero_menu_info ul{margin-top:6px; padding:6px 0;}
* + html #feature_area .hero_menu_single .hero_menu_info{height:43px;color:#fff;}
* html #feature_area .hero_menu_single .hero_menu_info{height:43px;color:#fff;}
* html #feature_area .hero_menu_single .hero_menu_info ul li a{font-size:9px;}
* html #feature_area .hero_menu .hero_menu_info ul li a{font-size:9px;}
* + html #feature_area .hero_menu_single .hero_menu_info ul li a{font-size:9px;}
* + html #feature_area .hero_menu .hero_menu_info ul li a{font-size:9px;}


/* only for ie 6 & 7 */
h1 { zoom: 1; }
.model_list { zoom: 1; }
.model_list dd { zoom: 1; }
* html .french .model_list dd .model_specs .specs {width:400px;}
* html .french .model_list dd .model_specs .actions {width:175px;text-align:right;}

* + html .french .model_list dd .model_specs .specs {width:400px;}
* + html .french .model_list dd .model_specs .actions {width:175px;text-align:right;}

/*#feature_area .buttons li.multi a*/


/* 
* html .input_box {background-position: 0 1px;}
* + html .input_box {background-position: 0 1px; height:24px;}
fix for future vehicle page form input boxes
*/
* html .input_box {background-position: 0 0;}
* + html .input_box {background-position: 0 0; height:24px;}

/* @group anchor styles 2011-08-10 */
p a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }
.dropout-heading a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }
a .text:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent; border-bottom: 0; }
/* @end */

/* @group font fixes */
* html { display: block; }
* + html {display: block; }

* + html #feature_area .future_vehicles .buttons a { font-size: 12px; vertical-align: middle; line-height: 16px; }
* + html a.btn, * + html a.btn_square { font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; }
* + html a.btn_square span { padding-top: 9px; height: 24px; }
* + html a.btn span { padding-top: 6px; }
* + html a.btn_brochure { font-size: 12px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
* + html a.btn_brochure span { padding-top: 13px; }
* + html .field-select-wrapper { font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; }
* + html .field-select-inner { padding-top: 7px; }
* + html #secondary_nav a {font-size:0.9em !important;}
* + html #primary_nav a {font-size:12px !important;font-family:Arial, sans-serif !important;padding-top:14px !important;padding-bottom:15px !important; padding-right:17px !important; padding-left:23px;}
* + html .shopping_box .dropdown_button_right a { font-family: Arial, sans-serif; font-size: 11px !important; padding:15px 0px 13px 0px !important;}
* + html .car_box .dropdown_button_right a { font-family: Arial, sans-serif; font-size: 11px !important; padding-top:15px !important;padding-bottom:13px !important;}
* + html .car_box .h3 { font-family:Arial, sans-serif; font-size: 14px; }
* + html .all_models .models_section ul li span.model_title { font-family:Arial, sans-serif; font-size: 14px; }
* + html #match_needs .match_content .match_cars .match_vehicle span.h3 { font-size: 14px; font-family:Arial, sans-serif; }
* + html .shopping_list_container dd a { font-size: 11px; font-weight: bold; font-family:Arial, sans-serif; cursor: pointer; }
* + html #feature_area .buttons li a { font-size: 12px; font-family:Arial, sans-serif; padding-top: 14px; height: 26px; }
* + html #feature_area .buttons li.multi a { font-size: 12px; font-family:Arial, sans-serif; padding-top: 10px !important; height: 30px !important; padding-bottom: 0 !important; font-size: 12px; }
* + html #feature_area .hero_menu .hero_menu_info { font-size: 13px; font-family:Arial, sans-serif; line-height: 16px; }
* + html #feature_area .hero_menu .hero_menu_info ul li a { font-size: 11px; font-family:Arial, sans-serif; }
* + html .tabs_horizontal li a { font-size: 12px; font-family:Arial, sans-serif; padding-top: 13px; height: 27px; }
* + html .tabs_horizontal_fixed li a { font-size: 12px; font-family:Arial, sans-serif; padding-top: 13px; height: 27px; }
* + html .tabs_horizontal .dd a { font-size: 12px; font-family:Arial, sans-serif; }
* + html .tabs_horizontal_fixed .dd a { font-size: 12px; font-family:Arial, sans-serif; }
* + html h1, * + html .h1 { font-size: 32px; font-family: Arial, sans-serif; }
* + html h2.top5 { font-size: 19px; }
* + html .widgets li .h4 { font-size: 19px; font-family: Helvetica, Arial, sans-serif; padding-top: 4px; }
* + html h5, * + html div.h5 { font-size: 26px; font-family: Helvetica, Arial, sans-serif; }
* + html h6, * + html div.h6, * + html span.h6 { font-size: 11px; font-family: Helvetica, Arial, sans-serif; }
* + html .landing_menu .h6 { font-size: 16px; font-family: Helvetica, Arial, sans-serif; }
* + html .homepage_dropout a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; }
* + html #language a { font-size: 11px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
* + html #trim_selector .content .details .price .number { font-size: 32px; margin-top: 0; }

* html #feature_area .future_vehicles .buttons a { font-size: 12px; vertical-align: middle; line-height: 16px; }
* html .field-select-wrapper { font-family: Arial, sans-serif; font-weight: bold; font-size: 10px; background: url(../../img/layout/field-select.gif) right -30px no-repeat; }
* html .field-select-wrapper-hover {background: url(../../img/layout/field-select.gif) right -90px no-repeat; }
* html .field-select-inner { width: 125px; padding-top: 7px; background: url(../../img/layout/field-select.gif) 0 0 no-repeat; }
* html .field-select-wrapper-hover .field-select-inner {background: url(../../img/layout/field-select.gif) 0 -60px no-repeat; }
* html a.btn, * html a.btn_square { font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; }
* html a.btn_square span { padding-top: 9px; height: 24px; }
* html a.btn span { width: auto; padding-top: 6px; }
* html a.btn_brochure { font-size: 12px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
* html a.btn_brochure span { padding-top: 13px; }
* html #secondary_nav a {font-size:0.9em !important;}
* html #primary_nav a {font-size:12px !important;font-family:Arial, sans-serif !important; padding-top:14px !important;padding-bottom:15px !important; padding-right:24px; padding-left:23px;}
* html .car_box .dropdown_button{margin-left:3px !important;}
* html .car_box .dropdown_button_right a { font-family: Helvetica, Arial, sans-serif; font-size: 11px !important; padding:14px 0 13px !important;}
* html .shopping_box .dropdown_button_right a { font-family: Helvetica, Arial, sans-serif; font-size: 11px !important; padding:14px 9px 13px 11px !important;}
* html .car_box .h3 { font-family: Helvetica, Arial, sans-serif; font-size: 14px; }
* html .all_models .models_section ul li span.model_title { font-family: Helvetica, Arial, sans-serif; font-size: 14px; }
* html #match_needs .match_content .match_cars .match_vehicle span.h3 { font-size: 14px; font-family: Helvetica, Arial, sans-serif; }
* html .shopping_list_container dd a { font-size: 12px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; cursor: pointer; }
* html #feature_area .buttons li a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; padding-top: 14px; height: 26px; }
* html #feature_area .buttons li.multi a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; padding-top: 10px !important; height: 30px !important; padding-bottom: 0 !important; font-size: 12px; }
* html #feature_area .hero_menu .hero_menu_info { font-size: 13px; font-family: Helvetica, Arial, sans-serif; line-height: 16px; }
* html #feature_area .hero_menu .hero_menu_info ul li a { font-size: 11px; font-family: Helvetica, Arial, sans-serif; }
* html .tabs_horizontal li a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; padding-top: 13px; height: 27px; }
* html .tabs_horizontal_fixed li a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; padding-top: 13px; height: 27px; }
* html .tabs_horizontal .dd a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; }
* html .tabs_horizontal_fixed .dd a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; }
* html h1, * html .h1 { font-size: 32px; font-family: Helvetica, Arial, sans-serif; }
* html h2.top5 { font-size: 19px; }
* html .widgets li .h4 { font-size: 19px; font-family: Helvetica, Arial, sans-serif; padding-top: 4px; }
* html h5, * html div.h5 { font-size: 26px; font-family: Helvetica, Arial, sans-serif; }
* html h6, * html div.h6, * html span.h6 { font-size: 11px; font-family: Helvetica, Arial, sans-serif; }
* html .landing_menu .h6 { font-size: 16px; font-family: Helvetica, Arial, sans-serif; }
* html .homepage_dropout a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; }
* html #language a { font-size: 11px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
* html #trim_selector .content .details .price .number { font-size: 32px; margin-top: 0; }

* html .shopping_box .dropdown_content_top { right: 1px; }
* html .shopping_box .dropdown_content { top: -78px; right: -1px; }

/* @end */

* html .small_heading{font-size:28px !important;}
* + html .small_heading{font-size:28px !important;}

* + html h1{font-family:verdana, sans-serif !important; font-size:28px;}
* html h1{font-family:verdana, sans-serif !important; font-size:28px;}
* + html .h1{font-family:verdana, sans-serif !important; font-size:28px;}
* html .h1{font-family:verdana, sans-serif !important; font-size:28px;}

* + html h2{font-size:18px; font-family:arial, sans-serif;}
* html h2{font-size:18px; font-family:arial, sans-serif;}

/* ----  New MCPE Styles start here ---- */

/* Navigation Begins */

#primary_nav li.last a{padding-top:13px; padding-bottom:11px; }
#primary_nav li a.multiline{padding:8px 16px 4px 16px;}

* + html #primary_nav li a {padding-left:13px !important; padding-right:13px !important; line-height:14px !important; font-size:11px !important;}
* + html #primary_nav li a.multiline {padding-top:6px !important; padding-left:12px !important; padding-right:12px !important; }

* html #primary_nav li a {padding-left:13px !important; padding-right:13px !important; line-height:14px !important; font-size:11px !important;}
* html #primary_nav li a.multiline {padding-top:6px !important; padding-left:12px !important; padding-right:12px !important; }
* html #primary_nav li.last a{padding-left:34px !important; padding-right:34px !important;}

* html #primary_nav li a{display:block !important;}

* html .car_box .target-ctr .content_section { zoom: 1; height: 372px; }

/* Sidebar Widgets Begins */

* html .wrapper_columns .widgets li h4 {font-family:Arial, sans-serif; font-size:18px; font-weight:bold;}
* html .wrapper_columns .widgets li h4 span{top:-3px;}

* html .wrapper_columns .widgets li.find-a-dealer h4{padding-top:7px;}
* html .wrapper_columns .widgets li.parts-service h4{padding-top:3px;}
* html .wrapper_columns .widgets li.safety h4{padding-top:4px;}
* html .wrapper_columns .widgets li.reviews h4{padding-top:2px;}

* + html .wrapper_columns .widgets li h4 {font-family:Arial, sans-serif; font-size:18px; font-weight:bold;}
* + html .wrapper_columns .widgets li h4 span{padding-top:4px;}

* + html .wrapper_columns .widgets li.find-a-dealer h4{padding-top:5px;}
* + html .wrapper_columns .widgets li.safety h4{padding-top:4px;}
* + html .wrapper_columns .widgets li.reviews h4{padding-top:4px;}
* + html .wrapper_columns .widgets li.consider h4{padding-top:2px;}
* + html .wrapper_columns .widgets li.parts-service h4{padding-top:2px;}

a.btn_large {font-family:Arial, sans-serif; font-weight:bold;}
a.btn_large span.updates{padding:0; position:relative; top:-12px; padding-left:5px;}
a.btn_large span.downloads{padding:0; position:relative; top:-12px; padding-left:5px;}
* html a.btn_large span.updates{padding:0; position:relative; top:-9px; padding-left:5px;}
* html a.btn_large span.downloads{padding:0; position:relative; top:-9px; padding-left:5px;}
* + html a.btn_large span.updates{padding:0; position:relative; top:-9px; padding-left:5px;}
* + html a.btn_large span.downloads{padding:0; position:relative; top:-9px; padding-left:5px;}

* html a.btn_large {font-size:12px !important;}
* + html a.btn_large {font-size:12px !important; font-family:Arial, sans-serif; font-weight:bold;}

* html .wrapper_columns .widgets li.consider .product{padding-top:0 !important;}
* + html .wrapper_columns .widgets li.consider .product{padding-top:0 !important;}

.wrapper_columns .widgets li.find-a-dealer .input_box input, .input_box .input {height:19px; padding-top:5px;}
* html .wrapper_columns .widgets li.find-a-dealer ul.search_options label {display:block;font-size:11px;color:#151515;text-transform:uppercase;line-height:13px; font-family:calibri, sans-serif; font-weight:bold;}
* + html .wrapper_columns .widgets li.find-a-dealer ul.search_options label {display:block;font-size:12px;color:#151515;text-transform:uppercase;line-height:12px; font-family:calibri, sans-serif; font-weight:bold;}

* html .wrapper_columns .widgets li.find-a-dealer ul.search_options li.search_sub_header label {font-size:14px;}
* + html .wrapper_columns .widgets li.find-a-dealer ul.search_options li.search_sub_header label {font-size:14px;}

* #left_nav li.selected, .left_nav li.selected {top:5px;}
* + #left_nav li.selected, .left_nav li.selected {top:5px;}

/* @end */
/* @group Col Structure */

* + html .single-col-4 .item-outer{display:inline;}
* html .single-col-4 .item-outer{display:inline;}

* + html .single-col-5 .item-outer{display:inline;}
* html .single-col-5 .item-outer{display:inline;}

* + html .page-build-price .single-col-5 p.heading{font-size:12px !important;}
* + html .page-build-price .single-col-5 p{font-size:12px !important;}

* html .page-build-price .single-col-5 p.heading{font-size:12px !important;}
* html .page-build-price .single-col-5 p{font-size:12px !important;}

/* @end */
/* @group Form Styles */

* + html .input_box {height:27px;}

/* @end */
/* @group Find a Dealer */

* html .page-find-a-dealer h2.search-options{display:inline; zoom:1;}
* + html .page-find-a-dealer h2.search-options{display:inline; zoom:1;}

/* @end */
/* @group strike through styles */
del .strike { display: block; position: relative; border-top: 2px solid red; z-index: 1; }
del:before { border: 0; display: none; }
/* @end */

/* @group menu box */

* html .menu_box .dropdown_button { top: -4px; }
* html .menu_box .dropdown_content { top: -3px; left: -226px; }
* + html .menu_box .dropdown_button { top: -4px; }
* + html .menu_box .dropdown_content { top: -3px; }

/* @end */
/* @group navigation dropdowns */

/*
.page-build-price a.secondary_large {top:-7px !important;}
* + html .page-build-price a.secondary_large {top:2px !important;}
* html .page-build-price a.secondary_large {top:2px !important;}
*/

/*
* html .page-build-price a.secondary_large {padding:14px 14px 0; height:26px;}
* + html .page-build-price a.secondary_large {padding:14px 14px 0; height:26px;}
*/

/* @end */
/* @group navigation dropdowns */

* html   .navigation-dropdown .content_section .why-buy .heading { font-size: 16px; line-height: 20px; }
* + html .navigation-dropdown .content_section .why-buy .heading { font-size: 16px; line-height: 20px; }

* html .navigation-dropdown .product-item { width: 420px; }
* + html .navigation-dropdown .product-item { width: 420px; }

* html .navigation-dropdown .one-col .product-item { width: 610px; }
* + html .navigation-dropdown .one-col .product-item { width: 610px; }

* html   .navigation-dropdown .product-item .heading { font-size: 14px; }
* + html .navigation-dropdown .product-item .heading { font-size: 14px; }

* html   .navigation-dropdown .product-item .product-pricing .price-heading { font-size: 8px; font-weight: bold; }
* + html .navigation-dropdown .product-item .product-pricing .price-heading { font-size: 8px; font-weight: bold; }

* html   .navigation-dropdown .product-item .product-pricing .small-price .price { font-size: 14px; font-weight: bold; position: static; }
* + html .navigation-dropdown .product-item .product-pricing .small-price .price { font-size: 14px; font-weight: bold; padding-top: 3px; position: static; }

* html   .navigation-dropdown .product-item .product-pricing .large-price span { position: static; }
* + html .navigation-dropdown .product-item .product-pricing .large-price span { position: static; }

* html   .navigation-dropdown .product-item .product-pricing .large-price .price { font-size: 31px; font-weight: bold; position: static; }
* + html .navigation-dropdown .product-item .product-pricing .large-price .price { font-size: 31px; font-weight: bold; position: static; }

* html   .navigation-dropdown .product-item .product-pricing .large-price .price sup { top: -2px; zoom: 1; }
* + html .navigation-dropdown .product-item .product-pricing .large-price .price sup { top: -2px; zoom: 1; }

/* @end */
/* @group Build & Price Page Begins */

.page-build-price .accessories-slider select{top:1px !important;}
* html .page-build-price .accessories-slider h2.alt{font-size:14px;}
* + html .page-build-price .accessories-slider h2.alt{font-size:14px;}

* + html .page-build-price .product-details h2{font-size:14px; margin-right:4px;}
* + html .page-build-price .product-details a{top:0;}
* + html .page-build-price .product-details h1{margin-top:5px;}
* + html .page-build-price .model-years dl dd a{font-size:16px;}
* + html .page-build-price .model-years p{font-size:10px; font-weight:bold; margin-bottom:6px;}
* + html .finance-dropout .finance-heading dd p.title{font-size:10px; font-weight:bold; margin-bottom:14px;}
* + html .finance-dropout .finance-heading dd p.price{font-size:16px;}
* + html .large-inner-menu li a{line-height:12px; font-size:9px;}
* + html a.refresh{line-height:12px; font-size:9px;}
* + html .page-build-price .model-years dl dd{}
* + html .page-build-price .model-years dl dd a{vertical-align:baseline; position:relative; top:6px;}
* + html .page-build-price .accessories-slider .accessories-inner-container dl dd p.name{font-size:9px;}
* + html .page-build-price .accessories-slider .accessories-inner-container dl dd p.price{font-size:9px;}
* + html .page-build-price .bottom-container .choice{font-size:9px; margin-top:3px;}
* + html .page-build-price .cap_bottom_grey{margin-bottom:0;}
* + html .page-build-price .product-body .product-information .image-controls{position:relative; left:12px;}
* + html .page-build-price .product-body .product-information .colors .small-sub-heading{font-size:9px; font-weight:bold;}
* + html .page-build-price .model-years dl dd{height:18px;}
* + html .page-build-price .finance-dropout .finance-heading dd p.price span{top:-4px;}

* + html a.primary span {padding:7px 12px 0 0px; font-size:10px;}
* + html a.secondary span {padding:7px 12px 0 0px; font-size:10px;}

* + html a.secondary span.enlarge{padding:7px 28px 0 0;}
* + html a.secondary span.hearit{padding:7px 28px 0 0;}

* html .page-build-price .product-details h2{font-size:14px; margin-right:4px;}
* html .page-build-price .product-details a{top:0;}
* html .page-build-price .product-details h1{margin-top:5px;}
* html .page-build-price .model-years dl dd a{font-size:16px;}
* html .page-build-price .model-years p{font-size:10px; font-weight:bold; margin-bottom:6px;}
* html .finance-dropout .finance-heading dd p.title{font-size:10px; font-weight:bold; margin-bottom:14px;}
* html .finance-dropout .finance-heading dd p.price{font-size:16px;}
* html .large-inner-menu li a{line-height:12px; font-size:9px;}
* html a.refresh{line-height:12px; font-size:9px;}
* html .page-build-price .model-years dl dd{}
* html .page-build-price .model-years dl dd a{vertical-align:baseline; position:relative; top:6px;}
* html .page-build-price .accessories-slider .accessories-inner-container dl dd p.name{font-size:9px;}
* html .page-build-price .accessories-slider .accessories-inner-container dl dd p.price{font-size:9px;}
* html .page-build-price .bottom-container .choice{font-size:9px; margin-top:3px;}
* html .page-build-price .product-body .product-information .image-controls{position:relative; left:12px;}
* html .page-build-price .product-body .product-information .colors .small-sub-heading{font-size:9px; font-weight:bold;}
* html .page-build-price .model-years dl dd{height:18px;}
* html .page-build-price .product_name{width:300px;}
* html .page-build-price .model-years{width:200px;}
* html .page-build-price .product-details h1{margin-bottom:6px;}
* html .page-build-price .finance-dropout .finance-heading dd p.price span{top:-4px;}
* html .page-build-price .flex_bar_alt span .change-category{zoom:1;} 
* html .large-inner-menu li.first{background-position:0 bottom;}
* html .large-inner-menu li a{padding-top:10px;}

* html .page-build-price .product-body .product-content .total-cost .fr,
* html .page-build-price .product-body .product-content .down-payment .fr{margin-right:17px;}

* html a.primary span {padding:7px 12px 0 0px; font-size:10px;}
* html a.secondary span {padding:7px 12px 0 0px; font-size:10px;}

* html a.secondary span.enlarge{padding:7px 28px 0 0;}
* html a.secondary span.hearit{padding:7px 28px 0 0;}

* html #secondary_nav{margin-top:5px;}
* html #secondary_nav li a{padding:0; line-height:16px;}
* html #secondary_nav li{padding:0; height:auto;}

* + html #secondary_nav{margin-top:5px;}
* + html #secondary_nav li{padding:0; margin:0; height:auto;}
* + html #secondary_nav li a{margin:0; padding:0; height:auto; line-height:16px;}

*   html .page-build-price .popup-form-content .h2 { font-size: 18px; }
* + html .page-build-price .popup-form-content .h2 { font-size: 18px; }
*   html .page-build-price .popup-form-content .input_box { background-position: 0 1px; padding-bottom: 20px; margin-bottom: 0; }
* + html .page-build-price .popup-form-content .input_box { background-position: 0 1px; padding-bottom: 20px; margin-bottom: 0; }

/* @end */
/* ----  New MCPE Styles end here ---- */