.popup-survey {
    width: 485px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.survey { text-align: center; }
.survey h2 { font-weight: bold; font-size: 22px; text-transform: uppercase; padding: 20px 0 10px; }
.survey .buttons { text-align: center; padding-top: 20px; border-top: 1px solid #dedede; }
.survey .buttons a {margin-left: 15px; }
.survey .buttons a.first { margin-left: 0; }