<!-- $Id: 2question.html 14366 2011-03-11 22:57:24Z yuxhuang $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>The Right Lawnmower For You</h1>
					<div class="pf subheading-box">
						<div class="fl question-number">1/6</div>
						<h2>How large is the area you need to clear?</h2>
						<p>It's important to consider the size of your lawn because ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container center-container pf">
			<div class="content_container cols-2question">
				<div class="fc questions">
					<a href="../" class="fl pf nm nb item hover">
						<span class="image">
							
						</span>
						
						<span class="heading">Lorem Ipsum</span>
						<p>(e.g. Sed do eiusmod tempor)</p>
					</a>
					<a href="../" class="fl pf item">
						<span class="image">
							
						</span>
						
						<span class="heading">Lorem Ipsum</span>
						<p>(e.g. Sed do eiusmod tempor)</p>
					</a>
				</div>				
			</div>
		</div>
		<div class="container bottom-container">
			<div class="content_container">
				<div class="fc nb content_section">
					<div class="fl wizard">
						<div class="fc wizard-progress">
							<div class="pf wizard-progress-bar wizard-progress-7">
								<div class="pf green-bar-cap-left"></div>
								<div class="pf green-bar green-bar-1"></div>
								<div class="pf green-bar-cap-right"></div>
							</div>
							<div class="pf wizard-progress-cap-right"></div>
						</div>
							
						<div class="fc wizard-progress-count">
							<div class="pf wizard-progress-number number1 active">1</div>
							<div class="pf wizard-progress-number number2">2</div>
							<div class="pf wizard-progress-number number3">3</div>
							<div class="pf wizard-progress-number number4">4</div>
							<div class="pf wizard-progress-number number5">5</div>
							<div class="pf wizard-progress-number number6">6</div>
						</div>
					</div>
					
					<div class="fc fr pagination-controls">
						<div class="pf btn prev">
							<a href="2question.html#">Previous</a>
						</div>
						
						<div class="divider"></div>
						
						<div class="pf btn next next-hover">
							<a href="2question.html#">Next</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-grey cap_bottom_default cap_bottom_grey pf"></div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
