<!-- $Id: 3results.html 14366 2011-03-11 22:57:24Z yuxhuang $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<div class="content_container">
				<div class="fc content_section first_section">
					<div class="fl results_header">
						<h1>The Right Lawnmower For You</h1>
						<div class="pf subheading-box">
							<h2>Based on your responses,<br/>
								these Honda lawnmowers could be right for you:</h2>
							<p>Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
						</div>
					</div>
					
					<div class="fr results_compare">
						<p class="compare-these"><strong>Compare these Lawnmowers</strong></p>
						<a href="3results.html#" class="btn primary"><span>Compare</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container center-container pf">
			<div class="content_container">
				<div class="fc content_section nb results cols-3results">
					<div class="first result">
						<div class="image"></div>
						
						<div class="product_name">
							<div class="h1">HRX2172vkc</div>
							<div class="h2">Residential Series</div>
						</div>
						
						<div class="fc price">
							<strong><sup>$</sup>999</strong>
							<span>MSRP</span>
						</div>
						
						<div class="divider"></div>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Except sint occaecat cupidatat non proiden.</p>
						
						<div class="divider"></div>
					
						<p><a href="3results.html#">See Details</a></p>
					</div>
					<div class="result">
						<div class="image"></div>
						
						<div class="product_name">
							<div class="h1">HRX2172vkc</div>
							<div class="h2">Residential Series</div>
						</div>
						
						<div class="fc price">
							<strong><sup>$</sup>1,099</strong>
							<span>MSRP</span>
						</div>
						
						<div class="divider"></div>
						
						<p>Except sint occaecat cupidatat non proiden. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Except sint occaecat cupidatat non proiden.</p>
						
						<div class="divider"></div>
					
						<p><a href="3results.html#">See Details</a></p>
					</div>
					<div class="result">
						<div class="image"></div>
						
						<div class="product_name">
							<div class="h1">HRX2172vkc</div>
							<div class="h2">Residential Series</div>
						</div>
						
						<div class="fc price">
							<strong><sup>$</sup>1,199</strong>
							<span>MSRP</span>
						</div>
						
						<div class="divider"></div>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Except sint occaecat cupidatat non proiden.</p>
						
						<div class="divider"></div>
					
						<p><a href="3results.html#">See Details</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
