<!-- $Id: landing.html 770 2011-05-05 22:06:25Z minanakamura $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container pf">
			<div class="content_container">
				<div class="content_section first_section">
					<h1>Help Me Choose</h1>
					<h2 class="small msg-error"><span>Sorry, the wizard cannot be displayed.</span></h2>
				</div>
				<div class="nb content_section main_section">
					<ul class="fc product_categories">
						<li class="fl nm item">
							<div class="image">
								
							</div>
							<h2 class="small">
								<a href="landing.html#">Generators</a>
							</h2>
						</li>
						<li class="fl item">
							<div class="image">
								
							</div>
							
							<h2 class="small">
								<a href="landing.html#">Lawnmowers</a>
							</h2>
						</li>
						<li class="fl item">
							<div class="image">
								
							</div>
							
							<h2 class="small">
								<a href="landing.html#">Water Pumps</a>
							</h2>
						</li>
					</ul>
					
					<ul class="fc nm product_categories">
						<li class="fl nm item">
							<div class="image">
								
							</div>
							
							<h2 class="small">
								<a href="landing.html#">Snowblowers</a>
							</h2>
						</li>
						<li class="fl item">
							<div class="image">
								
							</div>
							
							<h2 class="small">
								<a href="landing.html#">Tillers</a>
							</h2>
						</li>
						<li class="fl item">
							<div class="image">
								
							</div>
							
							<h2 class="small">
								<a href="landing.html#">Trimmers</a>
							</h2>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
