<!-- $Id: 2question.html 349 2011-03-11 22:57:24Z yuxhuang $ -->
    <div class="background_tile">
    <div class="background_image">
<!--#include virtual="/shared/inc/header.html"-->
	<div class="wrapper_extended">
		<div class="cap_bottom_default pf"></div>
	</div>
	<div class="wrapper">
		<div class="cap_top_default pf"></div>
		<div class="container top-container">
			<div class="content_container no-matches">
				<div class="content_section first_section">
					<h1>The Right Lawnmower For You</h1>
					<div class="pf subheading-box">
						<h2>
							Based on your responses,<br />
							these Honda snowblowers could be right for you:
						</h2>
						<p>This is a test message, copy still needs to be provided.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container center-container pf">
			<div class="content_container cols-2question">
				<div class="fnat msg-error-lrg">
					There is no matching product for your selection
				</div>
			</div>
		</div>
		<div class="cap_bottom_default pf"></div>
	</div>
    </div> <!-- of background_image -->
    </div> <!-- of background_tile -->
<!--#include virtual="/shared/inc/footer.html"-->
