/* Accessories - Overview */
.page-accessories .overview .accessories-content-area { padding-bottom: 10px; }

.page-accessories .overview .accessories-content-area { width: 285px; }
.page-accessories .overview .accessories-content-area .sub_section { background: url("/_Global/img/content/accessories/dotted_grey_border_h.gif") repeat-x scroll top left transparent; padding: 20px 0; }
.page-accessories .overview .accessories-content-area .first_subsection { background: none; padding-top: 0; }

.page-accessories .overview .accessories-content-area .sub_section p { margin-bottom: 0; }

.page-accessories .overview .accessories-side-image { margin-bottom: 30px; }

/* Accessories - Find and Results */
.page-accessories .find .questions { padding-bottom: 50px; }

.page-accessories .find .question select { font-size: 11px; }
.page-accessories .find .question select option { margin-bottom : 5px; }
.page-accessories .find .questions .question2 { padding-left: 85px; width: 227px; }
.page-accessories .find .question label  { color: red; }

.page-accessories .find .product .h1 { color: #545454; font-size: 30px; line-height: normal; margin-bottom: 0; }
.page-accessories .find .product .h2 { color: #E72530; font-size: 14px; font-weight: bold; text-transform: uppercase; }

.page-accessories .find .product { padding: 30px 0 7px; }
.page-accessories .find .product .product_name { position: relative; top: -14px; }
.page-accessories .find .product .product_name .price { position: relative; top: -10px; }
.page-accessories .find .product .product_name .price-label { color: #545454; font-size: 12px; position: relative; text-align: right; text-transform: uppercase; top: -15px; }
.page-accessories .find .product .product_name .price-value { color: #1B1B1B; font-size: 40px; line-height: 18px; position: relative; }
.page-accessories .find .product .product_name .price-value sup { position: relative; top: 12px; }
.page-accessories .find .product .product_name .coming-soon { margin-top: 10px; }
.page-accessories .find .product .product_name .coming-soon .price-value { font-size: 18px; color: #8f8f8f; line-height: auto; }
.page-accessories .find .product .product_name .coming-soon .price-value { letter-spacing: normal; }
.page-accessories .find .product .product_name .coming-soon .price-label { top: -4px; }

.page-accessories .find .flex_bar .h2 { font-size: 15px; }
.page-accessories .find .bar { margin-top: 12px; margin-bottom: 0; }
.page-accessories .find .bar h2 { padding-bottom: 0; }
.page-accessories .find .accessories-list li { border-bottom: 1px solid #DEDEDE; line-height: 29px; padding: 12px 0; }
.page-accessories .find .accessories-list li:last-child { border-bottom: 0; }
.page-accessories .find .accessories-list .last { border-bottom: none; }
.page-accessories .find .accessories-list .item { float: left; padding-left: 15px; max-width: 560px; line-height: 16px; }
.page-accessories .find .accessories-list .price { float: right; color: #696969; padding-right: 15px; }
.page-accessories .find .accessories-list a { cursor: pointer; font-weight: bold; color: #545454; }
.page-accessories .find .accessories-list a:hover { color: #1b1b1b; }
.page-accessories .find .accessories-list a .part-number { font-weight: normal; }


.page-accessories .find .disclaimer { margin-top: 20px; }

.page-accessories .slideshow_player_support { zoom: 1; }
.page-accessories .slideshow_player_support object { height: 205px; width: 655px; zoom: 1; }

/* Products - Tooltips */
.page-accessories .tooltip-left .tooltip_content { /*top: 240px;*/ top: 0; left: 0; }
.page-accessories .tooltip-left .tooltip_arrow { display: none; top: 310px; }
 
.page-accessories .tooltip-left .tooltip_content_mid .image {  height: auto; margin: 0 0 16px ; width: 250px; }
.page-accessories .tooltip-left .tooltip_content_mid .tooltip_heading,
.page-accessories .tooltip-left .tooltip_content_mid .tooltip_price {     color: #545454;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 2px; }
.page-accessories .tooltip-left .tooltip_content_mid p { color: #545454; font-size: 10px; line-height: 15px; padding-bottom: 0; }

.page-accessories .tooltip-right .tooltip_content { /*top: -50px;*/ top: 0; left: 0; }
.page-accessories .tooltip-right .tooltip_arrow { display: none; }
.page-accessories .tooltip-right .tooltip_content_mid .image { height: auto; margin: 0 0 16px ; width: 250px; }
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_heading,
.page-accessories .tooltip-right .tooltip_content_mid .tooltip_price {     color: #545454;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 2px; }
.page-accessories .tooltip-right .tooltip_content_mid p { color: #545454; font-size: 10px; line-height: 15px; padding-bottom: 0; }

.page-accessories .slideshow_player_support { width: 655px; height: 205px; }

/* (IE) Accessories - Find and Results */
* html .page-accessories .find .questions .question1 { margin-left: 0; }

* html .page-accessories .find .product .product_name { top: -9px; }
* + html .page-accessories .find .product .product_name {top: -9px; }

* html .page-accessories .find .product .h1 { font-size: 24px; }
* + html .page-accessories .find .product .h1 { font-size: 24px; }

* html .page-accessories .find .product .h2 { font-size: 12px; line-height: 18px; }
* + html .page-accessories .find .product .h2 { font-size: 12px; line-height: 18px; }

* html .page-accessories .find .product .product_name .price { top: -6px; }
* + html .page-accessories .find .product .product_name .price { top: -6px; }

* html .page-accessories .find .product .product_name .price-label { font-size: 10px; top: -18px; zoom: 1; }
* + html .page-accessories .find .product .product_name .price-label { font-size: 10px; top: -18px; zoom: 1; }

* html .page-accessories .find .product .product_name .price-value { font-size: 32px; font-weight: bold; }
* + html .page-accessories .find .product .product_name .price-value { font-size: 32px; font-weight: bold; }

* html .page-accessories .find .product .product_name .price-value sup { top: 8px; }
* + html .page-accessories .find .product .product_name .price-value sup { top: 10px; }

* html .page-accessories .find .flex_bar .h2 { font-size: 11px; }
* + html .page-accessories .find .flex_bar .h2 { font-size: 11px; }
/* @IE */


/* @group tout rotator */
.page-accessories .toutrotator { width: 655px;height: 205px;}
.page-accessories .toutrotator .toutrotator-stage { width: 655px; }
/* @end */