.page-commerical-product .graphics { padding: 5px 0px 6px 0px; }
.page-commerical-product .graphics img { float: left; margin-left: 15px;}
.page-commerical-product .content_section.first_section h1 { margin-bottom: 10px; }
.page-commerical-product .content_section { display: block; xborder: 1px solid green;}
.page-commerical-product .content_section.second_section { padding-top: 51px ;}
.page-commerical-product .sub_section.item { float: left; width: 382px; margin-bottom: 40px; padding: 0px 55px 0px 20px;}
.page-commerical-product .sub_section.item .desc ul {padding: 0px 0px 5px 14px;}
.page-commerical-product .sub_section.item .desc ul li { list-style: disc; }
.page-commerical-product .sub_section.item .desc p {margin-bottom: 10px ; }
.page-commerical-product .sub_section.item .desc {float: left; width: 235px; }
.page-commerical-product .sub_section.item .thumb { float: left; width: 125px; height: 125px; margin-right: 20px;	background-color: #ccc;}
.page-commerical-product .sub_section.item ul li { color:#424242;font-size:11px;line-height:16px; }
.page-commerical-product .sub_section.item .desc h3 { font-size:14px; }



