/* @group Current Offers */

.page-current-offers-landing .content_container{padding:60px 56px 60px;}
.page-current-offers-landing h1{color:#1b1b1b; margin-bottom:5px;}
.page-current-offers-landing h2{padding-bottom:4px;}

.page-current-offers-landing .heading{text-align:center;}
.page-current-offers-landing .current_offers_map{width:425px;}
.page-current-offers-landing .current_offers_form{width:361px; margin-left:29px;}
.page-current-offers-landing .current_offers_form .find_current_offer{padding:0 5px 0 65px; margin-top:20px; background:#f6f6f6 url(../img/layout/icon_current_offers_find_offer.gif) 0 50% no-repeat;}
.page-current-offers-landing .current_offers_form .current_offer_divider{width:361px; height:55px; background:url(../img/layout/current_offers_divider.gif) 0 0 no-repeat;}
.page-current-offers-landing .current_offers_form .find_dealer{padding-left:65px; background:#f6f6f6 url(../img/layout/icon_current_offers_find_dealer.gif) 0 50% no-repeat;}
.page-current-offers-landing .current_offers_form .h2{color:#424242;}
.page-current-offers-landing .current_offers_form .find_current_offer .h2{padding-bottom:10px;}
.page-current-offers-landing .current_offers_form label{display:block; font-size:11px; color:#424242; padding-bottom:8px;}
.page-current-offers-landing .current_offers_form li{padding-bottom:10px;}
.page-current-offers-landing .current_offers_form .input_box{margin-top:0;}

.page-current-offers-landing .special-offers-info{background:url(../../img/content/special-offers/icon-special-offers.gif) 0 10px no-repeat; margin:50px 0; padding-left:68px; width:308px; zoom:1;}
.page-current-offers-landing .special-offers-info .special-offers{border-bottom:1px solid #dedede; padding-bottom:5px;}
.page-current-offers-landing .special-offers-info .current-offers{padding-top:24px;}
.page-current-offers-landing .special-offers-info .current-offers h2{color:#424242; padding-bottom:15px;}

* html .page-current-offers-landing .special-offers-info{background-position:0 5px;}
* html .page-current-offers-landing .special-offers-info{padding-bottom:50px;}
* + html .page-current-offers-landing .special-offers-info{padding-bottom:50px;}
* + html .page-current-offers-landing .special-offers-info{background-position:0 5px;}

/* @end */
/* @group Current Offers - Provincial Landing */

.page-current-offers-provincial-landing ul.widgets li.special-offers h4{color:#ffc343; background:url(../../img/layout/icon_current_offers.gif) 0 0 no-repeat; padding-left:46px;}
.page-current-offers-provincial-landing .first_section{margin-top:0 !important;}
.page-current-offers-provincial-landing .content_container{padding:18px 30px 22px;}
.page-current-offers-provincial-landing .content_container .content_section{margin-top:25px;}
.page-current-offers-provincial-landing .offer-container .offer-image{width:310px; height:150px; margin-right:30px;}
.page-current-offers-provincial-landing .offer-container .offer-content{width:314px;}

/* @end */
/* @group Current Offers - Details */

.page-current-offers-details .content_container{padding:18px 30px 22px;}
.page-current-offers-details a.secondary{margin-top:6px;}
.page-current-offers-details .details-heading{width:920px; height:300px; margin-bottom:25px;}
.page-current-offers-details dl.special-offers{}
.page-current-offers-details dl.special-offers .offer-details{width:460px;}
.page-current-offers-details dl.special-offers .offer-image{width:400px;}

* html .page-current-offers-details a.secondary{margin-top:0;}
* + html .page-current-offers-details a.secondary{margin-top:0;}

/* @end */

.field-select-right .dropdown_content_mid dd a:hover { background: url("/_Global/img/layout/dotted_link_underline.gif") repeat-x scroll 0 bottom transparent !important; border-bottom: 0; padding-bottom: 3px; }