.example-simple-scroll { height: 100px; overflow: hidden; zoom: 1; }
.example-simple-scroll .subview { width: 641px; zoom: 1; }
.example-simple-scroll .commonlib-scrollview-pane-v .commonlib-scrollview-pane-inner, .example-simple-scroll .commonlib-scrollview-pane-v { height: 100px; display: block; }
.example-simple-scroll .commonlib-scrollview-pane-h { width: 641px; display: none; }