/* Finance - Options and FAQ */
.page-finance .options .content_section ul, .page-finance .faq .content_section ul { margin-bottom: 20px; margin-left: 15px; }
.page-finance .options .content_section li, .page-finance .faq .content_section li { color: #424242; font-size: 11px; line-height: 16px; list-style: disc outside none; padding-left: 5px; }

.page-finance .accordion-controls { margin-bottom: 5px; margin-right: 10px; }

/* Finance - Payment Calculator */
.page-finance .calculator .content_section p { color: #696969; }

.page-finance .calculator #finance-calculator .select-lists { margin-bottom: 15px; }
.page-finance .calculator #finance-calculator .select-list-left { margin-right: 20px; }
.page-finance .calculator #finance-calculator .select-lists label { color: #333333; display: block; font-size: 11px; font-weight: bold; margin-bottom: 10px; }
.page-finance .calculator #finance-calculator .select-lists select { font-size: 11px; }
.page-finance .calculator #finance-calculator .select-lists #calc-vehicle { width: 435px; }

.page-finance .calculator #finance-calculator .tabs_horizontal_fixed { margin: 0 0 20px 0; }
.page-finance .calculator #finance-calculator .tabs_horizontal_fixed li { width: 328px; }

.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate { width: 658px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate td { height: 68px; vertical-align: middle; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .first { background: url("/_Global/img/content/finance/top_pc_l_cap.gif") no-repeat scroll 0 0 transparent; width: 4px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .last { background: url("/_Global/img/content/finance/top_pc_r_cap.gif") no-repeat scroll 0 0 transparent; width: 4px; }

.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate td div { background: url("/_Global/img/content/finance/dotted_grey_border_v.gif") repeat-y scroll 0 0 transparent; height: 35px; padding: 7px 20px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate td span { color: #333333; line-height: 20px; padding: 0; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate td strong { color: #E72530; font-size: 14px; font-weight: bold; }

.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency { width: 75px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency div { background: url("/_Global/img/content/finance/circle_grey.png") no-repeat scroll 0 0 transparent; height: 30px; margin: 0 5px 0 20px; padding: 4px 0 0; text-align: center; width: 34px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency span { color: #FFFFFF; font-size: 22px; font-weight: bold; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .button span { color: #FFFFFF; display: inline; line-height: 1; padding: 5px 12px 2px 0; }

.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col1 { width: 140px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col2 { width: 100px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .col3 { width: 170px; }

.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart th span, .page-finance #finance-calculator .tbl_payment_calculator_chart td span { line-height: normal; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart td.first { font-size: 10px; font-weight: bold; width: 400px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart th.last { font-size: 10px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .text_field { padding: 11px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .text_field .input_box { margin-top: 0; padding: 0 0 0 6px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart input { line-height: 22px; width: 75px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart select { font-size: 13px; }
.page-finance .calculator #finance-calculator .tbl_payment_calculator_chart .highlight { color: #E72530; font-weight: bold; }
span.error { color: #E72530; }

.page-finance .calculator #finance-calculator .include_options { color: #151515; font-size: 10px; }
.page-finance .calculator #finance-calculator .include_options input { margin-right: 10px; }

* html .page-finance .calculator #finance-calculator .tbl_payment_calculator_recalculate .currency div { background: url("/_Global/img/content/finance/circle_grey.gif") no-repeat scroll 0 0 transparent; }

/* Finance - Payment Calculator (IE) */
* html .page-finance #finance-calculator .tbl_payment_calculator_recalculate .currency div { height: 28px; padding: 6px 0 0; }
* + html .page-finance #finance-calculator .tbl_payment_calculator_recalculate .currency div { height: 28px; padding: 6px 0 0; }
* html .page-finance #finance-calculator .tbl_payment_calculator_recalculate .currency span { font-size: 20px; }
* + html .page-finance #finance-calculator .tbl_payment_calculator_recalculate .currency span { font-size: 20px; }

* html .page-finance #finance-calculator .tbl_payment_calculator_chart .text_field .input_box { background-position: 0 1px; }
* + html .page-finance #finance-calculator .tbl_payment_calculator_chart .text_field .input_box { background-position: 0 1px; }
/* (IE) */

/* Finance - Credit Application */
.page-finance .credit .content_section .credit-app-column { width: 325px; }
.page-finance .credit .content_section .credit-app-column dt { color: #1B1B1B; font-weight: bold; margin-bottom: 10px; }
.page-finance .credit .content_section .credit-app-column dd { color: #424242; font-size: 11px; line-height: 16px; margin-bottom: 5px; }

/* Finance - Privacy */
.page-finance .privacy .content_section .privacy-downloads { margin-bottom: 20px; }
.page-finance .privacy .content_section .privacy-downloads-column { width: 325px; }
.page-finance .privacy .content_section a.pdf_icon { background: url("/_Global/img/layout/icon_small_acrobat_reader.gif") 0 0 no-repeat; display: block; height: 35px; width: 81px; }
.page-finance .privacy .content_section a.pdf_icon:hover { background-position:0 -35px; }

/* Comming soon message */
.custom-hybrid-page { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; background-color: #F4F4F4; height: 769px; position: relative; text-align: center; width: 644px; }
.custom-hybrid-page .hybrid-header-box { padding-top: 345px; width: 644px; text-align: center; }
.custom-hybrid-page .hybrid-header { color: #333333; font-size: 38px; font-weight: bold; font-family: Arial, sans-serif; }
.custom-hybrid-page .hybrid-sub-header { color: #D90124; font-size: 17px; font-weight: bold; font-family: Arial, sans-serif; }
.custom-hybrid-page .hybrid-sub-header sup { font-size: 12px; color: #696969; vertical-align: top; }