﻿/* @group updates on 11.05.16 */
.price-heading { color: #545454; font-size: 17px; margin-bottom: 2px; }
.price-heading a { color: #545454; }
.price { color: #7C7C7C; text-transform: uppercase; line-height: 12px; }
.coming-soon { text-transform: none; }
.price strong { float: left; font-size: 16px; margin-right: 5px; }
.price span { font-size: 8px; }
.original strong { color: #C4C4C4; }
.final strong { color: #8F8F8F; font-size: 17px; font-weight: bold; }
.special strong { color: #9ACF5B; font-size: 17px; font-weight: bold; }
.multiline span { line-height: normal; }
.price del { float: left; margin-right: 5px; }
.price del:before { top: 12px; }
.price del strong { margin-right: 0; }
.price .strike { top: 12px; }
/* @end */

.dropdown_container.model-selector { width: 385px; height: auto;  }
.dropdown_container.model-selector .dropdown_content { margin-top: 2px; }
.dropdown_container.model-selector .dropdown_button { display: inline-block; height: 45px; margin-right: 2px; padding-left: 10px; position: absolute; top: -38px; right: 0; width: auto; z-index: 800; background: url("../../img/layout/btn_model_selector_overlay_left.png") no-repeat scroll left top transparent; }
.dropdown_container.model-selector .dropdown_button_right {  display: inline-block;  height: 45px;  padding: 8px 8px 8px 0 ;  background: url("../../img/layout/btn_model_selector_overlay_rightmost.png") no-repeat scroll right top transparent; }
.dropdown_container.model-selector .dropdown_content_top {  height: 12px;  width: auto;  margin: 0;  padding: 0;  overflow: hidden;background: url("../../img/layout/btn_model_selector_overlay_top_alt.png") left top no-repeat transparent; 	 }
.dropdown_container.model-selector .dropdown_content_mid { width: 353px;  padding: 6px 15px 15px 15px; margin: 0; background:url("../../img/layout/btn_model_selector_overlay_mid.png") left top repeat-y transparent;  overflow: hidden; }
.dropdown_container.model-selector .dropdown_content_bottom { width: 383px;  height: 10px; margin: 0;  padding: 0;  overflow: hidden; background: url("../../img/layout/btn_model_selector_overlay_bottom.png") left top no-repeat transparent; }

.dropdown_container.model-selector select { width: 200px; }
.dropdown_container.model-selector div.line { width: 100%; height: 1px; margin: 12px 0; background: url("../../img/layout/line_model_selector.gif") left top repeat-x transparent;  }
.dropdown_container.model-selector div.selection_wrap { width: 345px; height: auto; overflow: hidden; }
.dropdown_container.model-selector div.selection_wrap div.item { float: left; width: 85px; margin-right: 40px; cursor: pointer; }
.dropdown_container.model-selector div.selection_wrap div.item .product-image {width: 85px; }

/* model-selector-right */
div.dropdown_container.model-selector-right { width: 385px; height: auto; }
div.dropdown_container.model-selector-right .dropdown_button { display: inline-block; height: 45px; margin-right: 2px; padding-right: 11px; position: absolute; left: -21px; top: -38px; width: auto; z-index: 800; background: url("../../img/layout/btn_model_selector_alt_right.png") no-repeat scroll right top transparent; }
div.dropdown_container.model-selector-right .dropdown_button_right { display: inline-block;  height: 45px;  padding: 8px 0 8px 11px ; background: url("../../img/layout/btn_model_selector_alt_leftmost.png") no-repeat scroll left top transparent; }
div.dropdown_container.model-selector-right .dropdown_content { left: -21px; top: 3px; position: absolute; }
div.dropdown_container.model-selector-right .dropdown_content_top {  height: 12px;  width: auto;  margin: 0;  padding: 0;  overflow: hidden;background: url("../../img/layout/btn_model_selector_alt_top.png") left top no-repeat transparent; 	 }
div.dropdown_container.model-selector-right .dropdown_content_mid { width: 353px;  padding: 6px 15px 15px 15px; margin: 0; background:url("../../img/layout/btn_model_selector_overlay_mid.png") left top repeat-y transparent;  overflow: hidden; }
div.dropdown_container.model-selector-right .dropdown_content_bottom { width: 383px;  height: 10px; margin: 0;  padding: 0;  overflow: hidden; background: url("../../img/layout/btn_model_selector_overlay_bottom.png") left top no-repeat transparent; }

div.dropdown_container.model-selector-right select { width: 200px; }
div.dropdown_container.model-selector-right div.line { width: 100%; height: 1px; margin: 12px 0; background: url("../../img/layout/line_model_selector.gif") left top repeat-x transparent;  }
div.dropdown_container.model-selector-right div.selection_wrap { width: 345px; height: auto; overflow: hidden; }
div.dropdown_container.model-selector-right div.selection_wrap div.item { float: left; width: 85px; margin-right: 40px; cursor: pointer; }
div.dropdown_container.model-selector-right div.selection_wrap div.item .product-image {width: 90px; height: 125px; }

.selection_wrap .temp {padding-top: 5px}
.selection_wrap .temp .price-disclaimer {float: left;margin-top: 10px;}
.selection_wrap .temp .price-disclaimer span {color: #7C7C7C;font-size: 10px;}

.model-selector .price strong,
.model-selector-right .price strong { font-size: 11px !important; line-height: 1; }
.model-selector del:before, .model-selector-right del:before,
.model-selector .strike, .model-selector-right .strike { top: 7px !important; }

.tag-has-discount .msrp { font-size: 7px !important; color: #7c7c7c; display: block; }
.tag-has-discount .original .msrp { line-height: 7px; }
.tag-no-discount .msrp { font-size: 8px !important; color: #7c7c7c; }

div.selection_wrap div.item h3.price-heading { margin: 5px 0 ;  font-size: 11px; color: #424242; }
div.selection_wrap div.item .final.price strong { color: #7c7c7c; }
div.selection_wrap div.item .final.price span { font-size: 9px; color: #7c7c7c; font-family: Arial, sans-serif; }
div.selection_wrap div.item .price { font-size: 11px; font-weight: bold; padding-top: 5px; }
div.selection_wrap div.item .tag-has-discount .original { padding-top: 0; }
div.selection_wrap div.item .msrp { font-weight: normal; }
div.selection_wrap .scrollview { height: auto; padding-bottom: 30px; width: 345px; }
div.selection_wrap .subview {  width: 2000em; }
div.selection_wrap .commonlib-scrollview-pane-v { display: none; }
div.selection_wrap .commonlib-scrollview-pane-h { display: block; width: 345px; margin: 0; }
div.selection_wrap .commonlib-scrollview-pane-h .commonlib-scrollview-pane-inner { width: 337px; }
/* @end */


/* @IEs */
* html div.selection_wrap div.item h3.price-heading { font-size: 11px;  }
* + html div.selection_wrap div.item h3.price-heading { font-size: 11px;  }
* html div.selection_wrap div.item .fc.final.price strong {  font-size: 10px;  }
* + html div.selection_wrap div.item .fc.final.price strong {  font-size: 10px;  }

* html div.dropdown_container.model-selector .dropdown_button.pf .dropdown_button_right {  padding: 8px 8px 8px 0 ; }
* + html div.dropdown_container.model-selector .dropdown_button.pf .dropdown_button_right {  padding: 8px 8px 8px 0 ; }
/* @end */

