/* @group Parts & Service Overview */

.page-parts-service .accordion-controls { margin-bottom: 5px; margin-right: 10px; }


.page-parts-service .overview {}
.page-parts-service .overview h2.alternate{color:#1b1b1b; font-family:verdana, arial !important; padding-bottom:0;}

.page-parts-service .overview ul.advantages_list {  }
.page-parts-service .overview ul.advantages_list li { color: #424242; font-size: 11px; line-height: 16px; list-style: disc outside none; margin-left: 15px; }

.page-parts-service .overview dl.parts-service-products{margin-bottom:25px;}
.page-parts-service .overview dl.parts-service-products dd{width:164px; margin-left:82px; margin-top:30px; text-align:center;}
.page-parts-service .overview dl.parts-service-products dd a span{font-weight:bold; margin-top:20px; font-size:14px;}
.page-parts-service .overview dl.parts-service-products dd a span.image{margin-top:0;}
.page-parts-service .overview dl.parts-service-products dd span{display:block;}
.page-parts-service .overview dl.parts-service-products dd.first{margin-left:0;}

* html .page-parts-service .overview ul.honda-services li{zoom:1;}

.page-parts-service .product-overview{}
.page-parts-service .product-overview h2.small{padding-bottom:10px;}
.page-parts-service .product-overview .product-image{margin-top:30px; position:relative; text-align: center;}
.page-parts-service .product-overview .product-image a.hotspot{position:absolute; top:65px; left:246px; width:22px; height:22px; background:url(../../img/layout/hotspot.png) 0 0 no-repeat; display:block; z-index: 1;}

.page-parts-service .product-overview .content-container{padding-bottom:0;}

.page-parts-service .product-overview .single-product { padding-top: 10px; }
.page-parts-service .product-overview p.heading_alternate { font-size: 11px; color: #E72530; font-weight: bold; margin-bottom: 0; padding-bottom: 10px; }

.page-parts-service .product-overview ul.red-check { margin-bottom: 10px; }
.page-parts-service .product-overview .content_container_alternate { padding: 18px 30px 0; }
.sub_content { border-bottom: 1px solid #dedede; padding-bottom: 4px; }
.sub_content strong { color: #1B1B1B; }

.page-parts-service .genuine-oils-chemicals h2.small { padding-bottom: 10px; }
.page-parts-service .genuine-oils-chemicals h3 { margin-bottom: 15px; }
.page-parts-service .genuine-oils-chemicals .sub_content { border: none; padding-top: 0; }
.page-parts-service .genuine-oils-chemicals .flex_bar { margin-bottom: 0; margin-top: 10px; }
.page-parts-service .genuine-oils-chemicals .red-check { background: none; margin-bottom: 10px; }
.page-parts-service .genuine-oils-chemicals .red-check li { background: none; border-bottom: 1px solid #DEDEDE; font-weight: normal; }

.page-parts-service .warranty h2.alternate{ color: #1B1B1B; }
.page-parts-service .warranty h2.fl { width: 430px; }
.page-parts-service .warranty .warranty-protection-list { color: #727272; font-size: 11px; line-height: 14px; }
.page-parts-service .warranty .warranty-protection-list dt { font-weight: bold; }
.page-parts-service .warranty .warranty-protection-list dt.first { color: #1B1B1B; margin-bottom: 10px; }
.page-parts-service .warranty .warranty-protection-list dd { margin-bottom: 25px; }

.page-parts-service .warranty p.h3 { color: #727272; font-size: 12px; font-weight: bold; margin-bottom: 20px; }
.page-parts-service .warranty p.plus-heading { color: #727272; font-size: 12px; font-weight: bold; margin-bottom: 4px; }
.page-parts-service .warranty p.plus-copy { color: #424242; line-height: 14px; margin-bottom: 25px; }

.page-parts-service .warranty .sub_content { background: url("../../img/content/parts-service/dotted_grey_border_h.gif") repeat-x scroll left bottom transparent; border-bottom: none; padding-bottom: 0; zoom: 1; }
.page-parts-service .warranty .sub_content_inner { padding-top: 8px; padding-bottom: 25px; padding-top: 20px; }
.page-parts-service .warranty .active { background: url("../../img/content/parts-service/flexbar_alt_top_cap.gif") no-repeat scroll left top transparent; }
.page-parts-service .warranty .active .sub_content_inner { background: url("../../img/content/parts-service/flexbar_alt_bottom_cap.gif") no-repeat scroll left bottom transparent; padding-bottom: 25px; /*padding-top: 10px;*/ }
*   html .page-parts-service .warranty .active .sub_content_inner { zoom: 1; }
* + html .page-parts-service .warranty .active .sub_content_inner { zoom: 1; }

.page-parts-service .warranty .sub_content .alternate { background: none; margin-bottom: 0; padding: 0 0 0 12px; }
.page-parts-service .warranty .active .alternate { padding-bottom: 5px; }

.page-parts-service .warranty .sub_content .alternate span { background: none; text-transform: none; }

.page-parts-service .warranty .sub_content .alternate span a { color: #1B1B1B; font-size: 12px; padding-left: 48px; }
.page-parts-service .warranty .active .alternate span a { color: #E72530; }

.page-parts-service .warranty .sub_content p { margin-bottom: 0; padding: 0 40px 0 60px; }

.page-parts-service ul.red-check { margin-bottom: 20px; }


/* @end */



/* @ list-styles for parts and service  */
ul.ps-list-normal { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0; }
ul.ps-list-normal li { list-style: none; margin-left: 0px; line-height: 16px; }
ul.ps-list-bullet { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0; }
ul.ps-list-bullet li { list-style: disc outside none; margin-left: 15px; line-height: 16px; }
ul.ps-list-number { color: #424242; font-size: 11px; line-height: 16px; margin: 13px 0 20px 0;  }
ul.ps-list-number li { list-style: decimal outside none; margin-left: 24px; line-height: 16px; }
/* @end */