@import url("../common/forms.css");

/* Products - All Pages */
.page-product-details .product_heading h1 { color: #545454; margin: 0; }
.page-product-details .product_heading h2 { display: inline; font-weight: bold; margin: 0 3px 0 0; text-transform: uppercase; }
.page-product-details .product_heading h3 { font-size: 15px; text-transform: uppercase; }

.page-product-details .product_heading img { vertical-align: middle; }

.page-product-details .product_heading .header { padding: 3px 30px; }
.page-product-details .product_heading .content { border-bottom: 1px solid #D6D6D6; border-top: 1px solid #D6D6D6; padding: 27px 29px 19px; position: relative; }
.page-product-details .product_heading .footer { padding: 17px 30px 5px; }

.page-product-details .product_name { padding-bottom: 15px; width: 50%; }
.page-product-details .product_name h1 { text-transform: none; }
.page-product-details .product_name h2 { font-size: 18px; line-height: normal; }

.page-product-details .product-price-container { width: 50%; }
.page-product-details .product-price-container .price-heading { color: #545454; padding: 11px 0 1px; text-align: right; text-transform: uppercase; }
.page-product-details .product-price-container .multiline .price-heading { padding: 0 0 3px; }
.page-product-details .product-price-container .price { text-align: right; }

.page-product-details .product-price-container .small-price { margin-right: 30px; }
.page-product-details .product_wrapper .product-price-container div.product-coming-soon { margin-right: 0; }
.page-product-details .product-price-container .small-price span { display: block; }
.page-product-details del { position: relative; top: -2px; }
.page-product-details del:before { top: 14px; }
.page-product-details .strike { top: 14px; }
.page-product-details .product-price-container .small-price .price { color: #696969; font-size: 18px; position: relative; top: 2px; }
/* ie 6 & 7 styles */
* + html .page-product-details .product-price-container .small-price del > * { top: 8px; }
*   html .page-product-details .product-price-container .small-price del * { top: 8px; }

.page-product-details .product-price-container .small-price .price-heading { font-size: 10px; }

.page-product-details .product-price-container .large-price { display: block; }
.page-product-details .product-price-container .large-price span { display: block; }
.page-product-details .product-price-container .large-price .price { color: #1B1B1B; font-size: 40px; line-height: 18px; position: relative; top: -12px; letter-spacing:-2px; }
.page-product-details .product-price-container .large-price .price sup { font-size: 24px; position: relative; top: 10px; margin-right:2px; }
.page-product-details .product-price-container .large-price .price-heading { font-size: 12px; position:relative; z-index: 1;}

.page-product-details .product-price-container .small-price .coming-soon { color: #1B1B1B; }

.page-product-details .product-price-container .mdp .price-heading { font-size: 10px; }
.page-product-details .product-price-container .discount-price .price { color: #9ACF5B; }
.page-product-details .product-price-container .your-price .price-heading { font-size: 10px; }
.page-product-details .product-price-container .your-price .price { top: -10px; }

.page-product-details .product_heading .btn-help { position:relative; z-index:10; zoom:1;}
.page-product-details .product_heading .mdp .btn-help { top: 5px; margin-left: 3px; display: inline-block; }
* + html .page-product-details .product_heading .mdp { width: 130px; }
* html .page-product-details .product_heading .mdp { width: 138px; }

.page-product-details .product_heading .header .secondary { margin: 25px 0 0; }

.page-product-details .product_heading .content .badge { position: absolute; top: 27px; z-index: 1; }
.page-product-details .product_heading .content .badge .heading { color: #333333; font-size: 12px; font-weight: bold; padding-bottom: 0; }
.page-product-details .product_heading .content .badge p { color: #7C7C7C; margin-bottom: 0; padding: 0 0 0 10px; }
.page-product-details .product_heading .content .badge a { font-size: 10px; }
.page-product-details .product_heading .content .badge .badge_link { float: right; }
.page-product-details .product_heading .content .badge .btn-close { background: url("../../img/content/products/circle_x.png") no-repeat scroll 0 0 transparent; display: block; height: 16px; margin: -5px 7px 0 0; width: 16px; }
.page-product-details .product_heading .content .badge .btn-close:hover { background: url("../../img/content/products/circle_x.png") no-repeat scroll -22px 0 transparent; }

.page-product-details .product_heading .content .background { left: 0; width: 555px; }
.page-product-details .product_heading .content .background .badge_top { background: url("../../img/content/products/badge_top_cap.png") no-repeat scroll top left transparent; height: 5px; }
.page-product-details .product_heading .content .background .badge_bg { background: url("../../img/content/products/badge_bg.png") repeat-y scroll top left transparent; padding: 4px 0; }
.page-product-details .product_heading .content .background .badge_bottom { background: url("../../img/content/products/badge_bottom_cap.png") no-repeat scroll bottom left transparent; height: 5px; }
.page-product-details .product_heading .content .background .badge_copy { width: 395px; }
.page-product-details .product_heading .content .background img { padding: 0 0 0 10px; }

.page-product-details .product_heading .content .new-product { left: 30px; width: 530px; }
.page-product-details .product_heading .content .new-product p { color: #333333; line-height: 28px; }

.page-product-details .product_heading .content .viewer-360 { position: relative; }
.page-product-details .product_heading .content .product-legal { color: #7C7C7C; font-size: 10px; text-align: left; }
.page-product-details .product_heading .content .view-360 { position: absolute; right: 0; top: 0; z-index: 10; cursor: pointer; }

.page-product-details .product_heading .feature-image { position: relative; }
.page-product-details .product_heading .content .feature-image { margin: 0 30px 0 0; }
.page-product-details .product_heading .no-accessories .feature-image { margin: 0 83px 0 82px; }

.page-product-details .product_heading .feature-image .hotspot {position:absolute; width:22px; height:22px; background:url(../../img/layout/hotspot.png) 0 0 no-repeat; display:block; z-index: 1; }

.page-product-details .product_heading .content .features .primary-box { padding: 17px 25px; width: 192px; min-height: 336px; height: auto !important; height: 336px; }
.page-product-details .product_heading .content .features h3 { margin: 0 0 9px; }
.page-product-details .product_heading .content .features p { line-height: 18px; }
.page-product-details .product_heading .content .features ul { margin-bottom: 10px;  }
.page-product-details .product_heading .content .features li { color: #424242; font-size: 11px; line-height: 18px; list-style-type: disc; margin: 0 0 10px 15px; }

.page-product-details .product_heading .content .top_selling { margin: 0 0 0 30px; width: 105px; }
.page-product-details .product_heading .content .top_selling h3 { font-size: 17px; margin: 0 0 13px; text-align: center; }
.page-product-details .product_heading .content .top_selling p { padding-bottom: 17px; }
.page-product-details .product_heading .content .top_selling .btn-down { background: url("../../img/content/products/btn_up_down.png") no-repeat scroll 0 0 transparent; display: block; height: 27px; margin: 12px auto 0; width: 27px; cursor: pointer; }
.page-product-details .product_heading .content .top_selling .btn-up { background: url("../../img/content/products/btn_up_down.png") no-repeat scroll 0 -30px transparent; display: block; height: 27px; width: 27px; cursor: pointer; margin: 0 auto;  }
.page-product-details .product_heading .content .top_selling .btn-down:hover { background: url("../../img/content/products/btn_up_down.png") no-repeat scroll -31px 0 transparent; }
.page-product-details .product_heading .content .top_selling .btn-up:hover { background: url("../../img/content/products/btn_up_down.png") no-repeat scroll -31px -30px transparent; }
.page-product-details .product_heading .content .top_selling .btn-disabled { visibility: hidden; }

/* ie6 */
* html .page-product-details .product_heading .content .top_selling .btn-up { background-image: url(../../img/content/products/btn_up_down.gif); }
* html .page-product-details .product_heading .content .top_selling .btn-down { background-image: url(../../img/content/products/btn_up_down.gif); }

.page-product-details .product_heading .content .top_selling .accessory { background: url("../../img/content/products/dotted_grey_border_h.gif") repeat-x scroll left top transparent; _height: 134px; min-height: 134px; margin: 21px 0 0; padding: 21px 0 0; text-align: center; }
.page-product-details .product_heading .content .top_selling .first { background: none; margin: 0; padding: 6px 0 0; }
.page-product-details .product_heading .content .top_selling .image { background: none repeat scroll 0 0 #ABABAB; display: block; height: 70px; width: 105px; }

.page-product-details .product_heading .content .top_selling .accessory .description { margin: 10px 0 0; }
.page-product-details .product_heading .content .top_selling .accessory .product-item { color: #424242; font-size: 11px; font-weight: bold; text-transform: capitalize; }
.page-product-details .product_heading .content .top_selling .accessory .price { color: #424242; font-size: 11px; padding: 5px 0 0; }
.page-product-details .product_heading .content .top_selling .accessory .price span { color: #696969; font-size: 8px; }

.page-product-details .accessories .content_section .sub_content ul li:first-child { padding-top: 0; }

.page-product-details .product_heading .accessory-carousel { position: relative; height: 315px; overflow: hidden; width: 105px; }
.page-product-details .product_heading .accessory-carousel .items { position: absolute; height: 2000em; width: 105px; }

.page-product-details .product_heading .footer .btn { margin: 0 15px 0 0; }
.page-product-details .product_heading .footer .divider { background: url("../../img/content/products/dotted_grey_border_v.gif") repeat-y scroll left top transparent; display: block; height: 30px; margin: 0 15px 0 0; width: 1px; }
.page-product-details .product_heading .footer .inner_footer_r { padding-top: 5px; }
.page-product-details .product_heading .footer .inner_footer_r a { margin: 0 10px 0 0; }

.page-product-details .content_container h2 { text-transform: uppercase; }
.page-product-details .content_container h2.small { text-transform: capitalize; }
.page-product-details .content_container h2 img { padding-right: 5px; vertical-align: middle; }

/* Products - Overview */
.page-product-details .content_container .overview h2 { color: #53C4FF; }
.page-product-details .content_container .overview h2 sup { font-size: 7px; }

.page-product-details .content_container .overview p.small { color: #1B1B1B; font-size: 12px; font-weight: bold; }
.page-product-details .content_container .overview ul.overview-list { margin: 0 0 15px 20px; }
.page-product-details .content_container .overview ul.overview-list li { color: #424242; font-size: 11px; line-height: 18px; list-style: disc outside; }

.page-product-details .content_container .overview .why-buy-link-more { margin-bottom: 0; }
.page-product-details .content_container .overview .why-buy-link-more a { background: url("/_Global/img/layout/read-more-expand.gif") no-repeat scroll right 5px transparent; padding-right: 13px; }
.page-product-details .content_container .overview .why-buy-link-less { margin-bottom: 0; }
.page-product-details .content_container .overview .why-buy-link-less a { background: url("/_Global/img/layout/read-more-collapse.gif") no-repeat scroll right 5px transparent; padding-right: 13px; }
.page-product-details .content_container .overview #advantage-expanded { display: none; }

.page-product-details .content_container .overview .feature_box .btn { background: url("../../img/content/products/arrow_white_r.gif") no-repeat scroll right 6px transparent; display: inline; padding: 3px 15px 0 0; }
.page-product-details .content_container .overview .feature_box .btn a { color: #FFFFFF; font-size: 10px; font-weight: bold; }

.page-product-details .content_container .overview .feature_box { background: url("../../img/content/pe/products/feature_box_pe.jpg") no-repeat scroll left top transparent; padding: 0 25px 22px; }
.page-product-details .content_container .overview .feature_box .feature_box_l { width: 350px; }
.page-product-details .content_container .overview .feature_box .feature_box_r { padding: 25px 0 0; width: 220px; }

.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy { padding-top: 47px; }
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy h2.small { color: #FFFFFF; font-size: 12px; }
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy p { color: #FFFFFF; }
.page-product-details .content_container .overview .feature_box .feature_box_l .watch_now_copy .divider { background: url("../../img/content/products/dotted_white_border_h.gif") repeat-x scroll left top transparent; font-size: 1px; height: 1px; padding: 0 0 15px; }

.page-product-details .content_container .overview .recently_viewed h2 { color: #5D6C88; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product { width: 555px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product { margin: 0 0 0 80px; }

.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .image { background: none repeat scroll 0 0 #ABABAB; display: block; height: 125px; margin: 0 0 20px; width: 125px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description { width: 125px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description h3 { display: block; font-size: 16px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description h3 a { color: #424242; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description .price { color: #7C7C7C; font-size: 14px; font-weight: bold; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_product .product .description .price span { color: #696969; font-size: 8px; font-weight: normal; }

.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare { background: url("../../img/content/products/dotted_grey_border_v.gif") repeat-y scroll left top transparent; padding: 25px 0 25px 25px; width: 75px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare .compare-these { margin-bottom: 7px; }
.page-product-details .content_container .overview .recently_viewed .recently_viewed_compare p { font-size: 10px; }

* + html .page-product-details .content_container .overview .recently_viewed .recently_viewed_compare{width:85px;}

.page-product-details .overview #popup-image { width: 1056px; }
.page-product-details .overview #popup-image .popup-image-top-cap { background: url("../../img/content/products/image_large_top_cap.png") no-repeat scroll left bottom transparent; height: 5px; }
.page-product-details .overview #popup-image .popup-image-content { background: #FFFFFF; padding: 45px 48px; zoom: 1; }
.page-product-details .overview #popup-image .popup-image-bottom-cap { background: url("../../img/content/products/image_large_bottom_cap.png") no-repeat scroll left top transparent; height: 5px; }
.page-product-details .overview .popup-image-large { background: #ABABAB; height: 500px; width: 960px; }

/* Products - Specifications */
.page-product-details .content_container .specs h2 { padding-bottom: 26px; }
.page-product-details .content_container .specs h2.small { padding-bottom: 0; }

.page-product-details .content_container .specs .specs_chart { border-bottom: 1px solid #DEDEDE; margin: 0 0 30px; width: 100%; }
.page-product-details .content_container .specs .specs_chart th,
.page-product-details .content_container .specs .specs_chart td { font-size: 11px; height: 48px; vertical-align: middle; }
.page-product-details .content_container .specs .specs_chart th { background: url("../../img/content/products/dotted_grey_border_h.gif") repeat-x scroll 0 0 transparent; text-align: left; width: 180px; }
.page-product-details .content_container .specs .specs_chart td { background: url("../../img/content/products/dotted_grey_border_h.gif") repeat-x scroll 0 0 #F4F4F4; color: #1B1B1B; padding: 0 0 0 30px; /* text-transform: uppercase;*/ }

.page-product-details .content_container .specs .download_pdf { margin-bottom: 13px; }
.page-product-details .content_container .specs .download_pdf .download_copy { width: 500px; }
.page-product-details .content_container .specs .specificationFooter { width: 650px; margin-top: -20px}
.page-product-details .content_container .specs .specificationFooter .specificationDetailsFooter { padding-bottom: 26px; color:#424242;font-size:11px;line-height:16px;}


/* Products - Accessories */
.page-product-details .content_container .accessories .h1 { margin-bottom: 0; }

.page-product-details .content_container .accessories h2 { padding-bottom: 26px; }
.page-product-details .content_container .accessories h2.small { padding-bottom: 0; }

.page-product-details .content_container .accessories .sub_content ul { margin: 0 0 20px; }
.page-product-details .content_container .accessories .sub_content li { border-bottom: 1px solid #DEDEDE; font-size: 12px; line-height: 18px; padding: 12px 0; }
.page-product-details .content_container .accessories .sub_content li:last-child { border-bottom: 0; }
.page-product-details .content_container .accessories .sub_content a { color: #545454; font-weight: bold; }
.page-product-details .content_container .accessories .sub_content a:hover { color: #1b1b1b; }
.page-product-details .content_container .accessories .sub_content a .part-number { font-size: 12px; line-height: 12px; font-weight: normal; }
.page-product-details .content_container .accessories .sub_content a:hover .part-number { font-weight: normal; }

.page-product-details .content_container .province-selector { margin-top: 12px; }
.page-product-details .content_container .accordion-controls { margin-top: 12px; }

/* Products - Tooltips */
.page-product-details .tooltip-left .tooltip_content { /*top: 240px;*/ top: 0; left: 0; }
.page-product-details .tooltip-left .tooltip_arrow { display: none; top: 310px; }

.page-product-details .tooltip-left .tooltip_content_mid .image {  height: auto; margin: 0 0 16px ; width: 250px; }
.page-product-details .tooltip-left .tooltip_content_mid .tooltip_heading,
.page-product-details .tooltip-left .tooltip_content_mid .tooltip_price { color: #545454; font-size: 12px; line-height: 14px; padding-bottom: 2px; }
.page-product-details .tooltip-left .tooltip_content_mid p { color: #545454; font-size: 10px; line-height: 15px; padding-bottom: 0; }

.page-product-details .tooltip-right .tooltip_content { /*top: -50px;*/ top: 0; left: 0; }
.page-product-details .tooltip-right .tooltip_arrow { display: none; }
.page-product-details .tooltip-right .tooltip_content_mid .image { height: auto; margin: 0 0 16px ; width: 250px; }
.page-product-details .tooltip-right .tooltip_content_mid p { color: #545454; font-size: 10px; line-height: 15px; padding-bottom: 0; }
.page-product-details .tooltip-right .tooltip_content_mid .tooltip_heading,
.page-product-details .tooltip-right .tooltip_content_mid .tooltip_price { color: #545454; font-size: 12px; line-height: 14px; padding-bottom: 2px; }

.page-product-details .tooltip-msrp { font-size: 10px; line-height: 16px; color: #696969; z-index: 5; }
.page-product-details .tooltip-msrp .tooltip_arrow { left: 280px !important; }
.page-product-details .tooltip-msrp .tooltip_content { left: 0 !important; }
.page-product-details .tooltip-msrp .tooltip_content .tooltip_content_mid { padding: 5px 20px 7px; }

.page-product-details .tooltip-disclaimer .tooltip_arrow { display: block !important; top: 15px !important; right: 0 !important; }
.page-product-details .tooltip-disclaimer .tooltip_content { top: 10px !important; left: -10px !important; }

.recently_viewed .bottom_feature_inner .price-disclaimer { margin-top: 10px;}
.product_wrapper .price-disclaimer-wrapper {}
.product_wrapper .price-disclaimer { display: block;position: relative;padding-bottom: 5px;}
.recently_viewed .bottom_feature_inner .price-disclaimer span, .product_wrapper .price-disclaimer span, .configuration_section .price-disclaimer span {color: #7C7C7C;font-size: 10px;}
.configuration_section .price-disclaimer { margin-left: 10px; }

/* @IE Specific Styles */

* html .page-product-details .product_heading h1 { display: block !important; }
* + html .page-product-details .product_heading h1 { margin-top: 3px; }

* html .page-product-details .product_heading h2 { margin: 0 6px 0 0; }
* + html .page-product-details .product_heading h2 { margin: 0 6px 0 0; }

* html .page-product-details h2, * html .page-product-details h3 { font-family: Arial, sans-serif; }
* + html .page-product-details h2, * + html .page-product-details h3 { font-family: Arial, sans-serif; }

* html .page-product-details .product_heading .header { padding: 10px 30px 3px; }
* + html .page-product-details .product_heading .header { padding: 7px 30px 8px; }

* html .page-product-details .product_heading h1 { margin-bottom: 2px; }
* + html .page-product-details .product_heading h1 { margin-bottom: 2px; }

* html .page-product-details .product_heading h2 { font-size: 15px; font-size: bold; }
* + html .page-product-details .product_heading h2 { font-size: 15px; font-size: bold; }

* html .page-product-details .product_heading .header { border-bottom: 1px solid #D6D6D6; margin-bottom: 27px; }

* html .page-product-details .product_heading .content { border: none; padding-bottom: 0px; padding-top: 0px; }
* + html .page-product-details .product_heading .content { padding-bottom: 24px; }

* html .page-product-details .product_heading .content .badge { left: 2px; top: 0px; }
* html .page-product-details .product_heading .content .background .badge_top { font-size: 1px; }
* html .page-product-details .product_heading .content .background .badge_bottom { font-size: 1px; }

* html .page-product-details .product_heading .content .badge .btn-close { margin-right: 3px; }

* html .page-product-details .product_heading .content .badge .badge_link { float: left; }
* + html .page-product-details .product_heading .content .badge .badge_link { float: left; }

* html .page-product-details .product_heading .footer { border-top: 1px solid #D6D6D6; margin-top: 18px; }

* html .page-product-details .product_heading .product_name h1 { display: inline; }

* html .page-product-details .product_heading .footer .inner_footer_r { height: 21px; }

* html .page-product-details .product-price-container { width: 365px; zoom: 1; }
* + html .page-product-details .product-price-container { width: 365px; zoom: 1; }

* html .page-product-details .product-price-container .small-price .price-heading { font-family: Arial, sans-serif; font-size: 9px; font-weight: bold; padding: 11px 0 7px; }
* html .page-product-details .product-price-container .large-price .price-heading { font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; padding: 10px 0 10px; }
* html .page-product-details .product-price-container .multiline .price-heading { font-family: Arial, sans-serif; font-size: 9px; font-weight: bold; padding: 2px 0 11px;}
* + html .page-product-details .product-price-container .small-price .price-heading { font-family: Arial, sans-serif; font-size: 9px; font-weight: bold; padding: 10px 0 7px; }
* + html .page-product-details .product-price-container .large-price .price-heading { font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; padding: 9px 0 4px; }
* + html .page-product-details .product-price-container .multiline .price-heading { font-family: Arial, sans-serif; font-size: 9px; font-weight: bold; padding: 1px 0 5px;}

* html .page-product-details .product-price-container .small-price .price { font-size: 14px !important; font-weight: bold; top: 0px; }
* + html .page-product-details .product-price-container .small-price .price { font-size: 14px !important; font-weight: bold; top: 0px; }

* html .page-product-details .product-price-container .large-price .price { font-size: 32px !important; font-weight: bold; }
* + html .page-product-details .product-price-container .large-price .price { font-size: 32px !important; top: -6px; font-weight: bold; }

* html .page-product-details .product-price-container  .large-price .price sup { top: 4px; vertical-align: top; zoom: 1; }
* + html .page-product-details .product-price-container .large-price .price sup { top: 4px; vertical-align: top; zoom: 1; }

* html .page-product-details .product_heading .content .top_selling h3 { font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; margin: 0 0 19px; }
* + html .page-product-details .product_heading .content .top_selling h3 { font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; margin: 0 0 13px; }

* html .page-product-details .product_heading .content .features h3 { font-size: 12px; }
* + html .page-product-details .product_heading .content .features h3 { font-size: 12px; }

* html .page-product-details .product_heading .content .features .primary-box { padding: 25px; min-height: 324px; height: auto !important; height: 324px; }
* + html .page-product-details .product_heading .content .features .primary-box { padding: 25px; min-height: 324px; height: auto !important; height: 324px; }

* html .page-product-details .product_heading .content .new-product { padding-left: 30px; }

* html .page-product-details .product_heading .no-accessories .feature-image { margin: 0 55px; }
/* @IE */
/* @group Gallery */
.page-product-details .gallery {}
.page-product-details .bg_loader { background: url(../../img/layout/loader_default.gif) center center no-repeat transparent; }
.page-product-details .gallery .viewer { width: 645px; height: 396px; }
.page-product-details .gallery .thumbnails {margin-top:15px;padding-top:15px;border-top:1px solid #d6d6d6;}
.page-product-details .gallery .thumbnails dd {margin:0 0 11px 11px; }
.page-product-details .gallery .thumbnails dd.first {margin-left:0;}
.page-product-details .gallery .thumbnails dd a { display: block;  width: 153px; height: 91px;}

/* @end */
/* @group */
.page-product-details .accordion-controls { margin-left: 20px; }

/* @group 360 viewer */

.jquery-reel-overlay{margin: 0 auto;}

/* @end */