<div class="wrapper product_wrapper_top_cap">
		<div class="container cap_top_default pf"></div>
	</div>
	<div class="wrapper product_wrapper">
		<div class="container product_heading">
			<div class="fc header"> <!-- Add class when the discount is not present to expand the title space -->
				<div class="fl fc product_name">
					<div class="fl">
						<h1>GL 1800AD Gold Wing Airbag</h1>
						<h2>Cruiser</h2>
						<a class="pf btn-help btn-tooltips"
							property="act:tooltip"
							data-position="right bottom"
							data-tooltip-class="tooltip-right-alt"
							data-tooltip-content-target="#product-type-help1"></a>
					</div>
					<div class="fl pf view-all-family">
						<a href="#" class="fnat pf view-all">
							see all VFR1200FA Models
						</a>
					<!-- <div class="vehicle-dropdown" style="position:absolute; top:-4px; left:-19px; z-index:5;">
							<div class="dropdown_button pf"></div>
							<div class="dropdown_content pf">
								<div class="dropdown_content_top pf"></div>
								<div class="dropdown_content_mid pf">
									<div class="subview">
										<table class="vehicle-list">
											<tr>
												<td class="image">
													<div>
														<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
													</div>
												</td>
												<td class="name fnat">
													<div>
														2011 VFR1200FA 2011 VFR1200FA 2011 VFR1200FA
													</div>
												</td>
												<td class="price">
													<div>
														<span class="num fnat">$18,699<span class="tiny">MSRP</span></span>
													</div>
												</td>
											</tr>
											<tr>
												<td class="image">
													<div>
														<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
													</div>
												</td>
												<td class="name fnat">
													<div>
														2011 VFR1200FA
													</div>
												</td>
												<td class="price discounted">
													<div>
														<span class="fnat discounted-price"><span>manufacturer</span><span>discounted price</span>$18,699</span>
														<span class="num fnat"><del><span class="strike"></span>$18,699</del><span class="tiny">MSRP</span></span>
													</div>
												</td>
											</tr>
											<tr>
												<td class="image">
													<div>
														<img src="/_Global/img/layout/mc/temp_bike_img.gif" alt="" />
													</div>
												</td>
												<td class="name fnat">
													<div>
														2011 VFR1200FA
													</div>
												</td>
												<td class="price">
													<div>
														<span class="num fnat">$18,699<span class="tiny">MSRP</span></span>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="dropdown_content_bottom pf"></div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="fr fc product-price-container">
					<div class="fr large-price mdp multiline msrp">
						<div class="fc mdp">
							<a class="btn-discounted-price pf btn-help btn-tooltips fr"
	                            property="act:tooltip"
	                            data-position-my="right top"
								data-position-at="left top"
								data-position-offset="0 -20"
	                            data-tooltip-class="tooltip-left tooltip-disclaimer"
	                            data-tooltip-content-target=".hotspot-20"></a>
							<span class="price-heading fr">
								manufacturer<br />discounted price
							</span>
						</div>
						<span class="price"><sup>$</sup>12,849</span>
					</div>
					<!-- HIDDEN TO MAKE SPACE FOR PROPER DISPLAY OF CONTENT
					<div class="fr large-price mdp multiline">
						<span class="price-heading">Manufacturer<br/>
							Discounted Price</span>
						<span class="price"><sup>$</sup>7,999</span>
					</div>
					<div class="fr large-price your-price">
						<span class="price-heading">Your Price</span>
						<span class="price"><sup>$</sup>12,849</span>
					</div>-->
					
					<!-- +++++ Uncomment to view the discount prices +++++ -->
					<div class="fr small-price discount-price">
						<span class="price-heading">Discount</span>
						<span class="price">$2,600</span>
					</div>
					<div class="fr small-price msrp">
						<span class="price-heading wlink">
							MSRP
							<a class="pf btn-help btn-tooltips" data-tooltip-content-target="#msrp-legal" data-tooltip-class="tooltip-top-alt tooltip-msrp" data-position-my="right bottom" data-position-at="right top" data-position-offset="30 -10" property="act:tooltip"></a>
						</span>
						<del><span class="strike"></span><span class="price">$13,299</span></del>
					</div>
					
					<div class="clr"></div>
				</div>
				<div class="fr fc product-options-container">
					
					<div class="fr option colors">
						<div class="options-heading">Colour</div>
						<div class="fc fr option-items">
							<a href="#" class="active" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color black"></span></a>
							<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
							<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
							<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
							<a href="#" property="act:imagetarget" data-target="#product-image-holder" data-image="/path/to/product-image"><span class="color red"></span></a>
						</div>
					</div>
					
					<div class="fr option years">
						<div class="options-heading">Model Year</div>
						<ul class="fc fr option-items">
							<li class="year">
								<span>2011</span>
							</li>
							<li class="year">
								<a href="#">2010</a>
							</li>
							<li class="year">
								<a href="#">2009</a>
							</li>
							<li class="year">
								<a href="#">2008</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="fc content"><!-- USE no-accessories class to display content properly with no accessories side box -->
				<div class="fc pf badge new-product">
					<img src="/_Global/img/content/products/icon_sun_invert.png" alt="" class="fl pf" />
					<p class="fl heading">Lorem ipsum new product.</p>
				</div>
				
				<div class="pf badge background" id="promo-badge">
					<div class="pf badge_top"></div>
					<div class="fc pf badge_bg">
						<img src="/_Global/img/content/products/icon_money_tag.png" alt="" class="fl pf" />
						<div class="fl fc inner_badge_content">
							<p class="heading">Get a charge out of this</p>
							<p class="fl badge_copy">Now receive a <strong>$250</strong> combined manufacturer's and dealer's discount.</p>
							<p class="badge_link"><a href="product-overview.html#">See Details</a></p>
						</div>
						<a class="fr pf btn-close" property="act:close" data-close-target="#promo-badge" href="javascript:void(0)"></a>
					</div>
					<div class="pf badge_bottom"></div>
				</div>

				<div class="pf badge background" style="display:none;">
					<div class="pf badge_top"></div>
					<div class="fc pf badge_bg">
						<img src="/_Global/img/content/products/icon_money_tag.png" alt="" class="fl pf" />
						<div class="fl fc inner_badge_content">
							<p class="heading">Power Surge</p>
							<p class="badge_copy">Now receive a <strong>$250</strong> combined manufacturer's and dealer's discount.</p>
						</div>
						<a class="fr pf btn-close" href="product-overview.html#"></a>
					</div>
					<div class="pf badge_bottom"></div>
				</div>
				
				<div class="fl feature-image">
                    <!-- BEGIN: place hot spots here -->
                    <a class="pf hotspot btn-tooltips"
                       style="top: 75px; left: 250px;"
                       property="act:tooltip"
                       data-position="right bottom"
                       data-tooltip-class="tooltip-right"
                       data-tooltip-content-target=".hotspot-01"></a>
                    <span class="hotspot-01 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                        style="top: 230px; left: 265px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right"
                        data-tooltip-content-target=".hotspot-02"></a>
                    <span class="hotspot-02 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                        style="top: 240px; left: 200px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right"
                        data-tooltip-content-target=".hotspot-03"></a>
                    <span class="hotspot-03 dn">
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    <a class="pf hotspot btn-tooltips"
                       style="top: 180px; left: 480px;"
                        property="act:tooltip"
                        data-position="right bottom"
                        data-tooltip-class="tooltip-right"
                        data-tooltip-content-target=".hotspot-04"></a>
                    <span class="hotspot-04 dn">
                        <img src="/_Global/img/temp/tooltip_placeholder_img.gif" alt="" />
                        <p class="heading">Lorem Ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labor. et dolore magna aliqua. Ut enim ad minim.</p>
                        <a href="parts-service-overview-lawnmowers.html#" class="fr">Learn more</a>
                        <div class="clr"></div>
                    </span>
                    
                    <!-- <span class="view-360"><img src="/_Global/img/content/mc/products/360-view-icon-placeholder.gif" alt="" /></span> -->
                    
                    <!-- this is the product TEMP image -->
					<img id="product-image-holder" alt="" src="/_Global/img/temp/placeholder_overview_feature.gif"	height="370" width="730" />
					
					<p class="product-legal">Lorem ipsum legal disclaimer.</p>
				</div>			
				
				<div class="fr top_selling">
					<h3>Top Selling Accessories</h3>

                    <a class="btn-up btn-disabled prev"></a>
                    <div class="accessory-carousel" property="act:carousel"
                         data-carousel-vertical="true"
                         data-carousel-disabled-class="btn-disabled"
                         >
                        <div class="items">
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Rear Grab Bar</span>
                                        <div class="price">
                                            $129.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Trailerable Cover</span>
                                        <div class="price">
                                            $209.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="first accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item1">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="accessory">
                                    <a class="image btn-tooltips"
                                        property="act:tooltip"
                                        data-position="left top"
                                        data-tooltip-class="tooltip-left"
                                        data-tooltip-content-target="#product-accessories-item2">
                                    </a>
                                    <div class="description">
                                        <span class="product-item">Lorem Ipsum</span>
                                        <div class="price">
                                            $29.95
                                            <span>MSRP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-down next"></a>
                </div>
     		</div>
			<div class="fc footer">
				<div class="fc fl nm inner_footer_l">
					<a property="act:audio"
                       data-audio-url=""
                       data-audio-play-class="btn-audio-play"
                       data-audio-stop-class="btn-audio-pause"
                       class="fl btn secondary" href="javascript:void(0)"><span class="hearit">Hear It</span></a>
					<a class="fl btn secondary" href="#"
						property="act:popup"
						data-popup-modal="true"
						data-popup-content-target="#popup-image"
						><span class="enlarge">Enlarge</span></a>
					<span class="fl divider"></span>
					<a href="#" class="fl btn primary"><span>Build &amp; Price</span></a>
					<a href="#" class="fl btn primary"><span>Compare</span></a>
				</div>
				
				<p class="fr nm inner_footer_r">
					<a href="product-overview.html#">See All Motocycles</a>
					<img src="/_Global/img/content/products/btn_fb_like.gif" alt="" />
				</p>
			</div>
		</div>
	</div>
	<div class="wrapper product_wrapper_bottom_cap">
		<div class="container cap_bottom_default pf"></div>
	</div>

<div id="product-type-help1" class="dn">
	<div class="tooltip_heading">Lorem Ipsum dolor</div>
	<p>Quisque id lorem justo. Duis nasdfasdfasfdasdf asdfasfas fdasdfafon vestibulum orci. Curabitur et tellus purus, at eleifend quam. Sed ut nisl magna, id cursus dui uis non vestibulum orci. Curabitur et tellus quam.</p>
</div>

<div id="product-accessories-item1" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 1</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="product-accessories-item2" class="dn">
	<div class="image"></div>
	<div class="tooltip_heading">Lorem Ipsum 2</div>
	<div class="tooltip_price"><strong>$000.00</strong></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit arcu sit amet quam egestas dapibus.</p>
</div>

<div id="popup-image" class="dn">
	<div>
		<a href="javascript:void(0)" class="popup-close close"><img src="/_Global/img/layout/popup_close.png" alt="Popup Close" class="pf" /></a>
		<div class="pf popup-image-top-cap"></div>
		<div class="pf popup-image-content">
			<div class="popup-image-large"></div>
		</div>
		<div class="pf popup-image-bottom-cap"></div>
	</div>
</div>

<!-- Hotspot Begins -->
<span class="hotspot-20 dn">
    <p class="heading">Lorem ipsum dolor</p>
	<p>Honda’s Summer Lovin’ Event (“Offer”) applies to eligible retail purchase agreements for a limited time, while supplies last. *This Offer is validon a new (not previously registered) [Model]. Discount  of [$value] (manufacturer’s and dealer’s as applicable) is deducted from MSRP of [$value] before taxes, and available only at participating dealers. The“Your Price” value shown does not include Freight and PDI. Freight and PDI, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Offer valid from July 1, 2011 until August 31, 2011 inclusive (“Offer Period”). **Limited time financing offer on new (not previously registered) 2010 Gold Wing Airbag and Gold Wing available through Honda Financial Services until July 31, 2011,on approved credit, at 3.9% APR, for 60 months. Finance Example: 2010 GL1800AD Gold Wing Airbag with a “Your Price” of $25,499 (which includesa $6,000 Manufacturer’s and/or Dealer’s discount) financed at 3.9% APR for60 months equals $468.45 per month for 60 months. Cost of borrowing is $2,608.00 for a total obligation of $28,107.00. Freight and PDI, applicable fees, applicable taxes, licence, insurance, dealer administration fees (if applicable) and registration are extra. Ask your dealer for details. */** All offers valid at participating Honda Motorcycle Dealers in Canada only. Dealer may sell for less. Prices/Offer subject to change or extension without notice. Dealer order or trade may be necessary. See dealer or honda.ca for full details. Errors and omissions excepted.</p>
</span>
<!-- Hotspot Ends -->